[2012-04-08 08:24] benkard opened #1403 "BrowserID does not recognize primary after being used as secondary"
After using browserid.org with an `@mulk.eu` email address for a while, I implemented my own primary on mulk.eu.  dev.diresworb.org recognizes it:

[code]

but browserid.org doesn't:

[code]

This might be due to excessive caching.

The `/.well-known/browserid` file looks like this:

[code]

[2012-04-09 09:02] ghost commented on #1398
Didn't initially find that bug since I was looking for "dialog" or "pop-up" instead of "page", but this bug is indeed a duplicate.

[2012-04-09 09:02] #1398 closed, assigned to nobody

[2012-04-09 13:10] stomlinson commented on #1305
@jbonacci - Looks like I closed the wrong one.

[2012-04-09 15:07] ghost commented on #567
This issue reproduces again when loosing your internet connection while on the "Address Verified!
Your identity has been verified with your email provider, we will now try to sign you in. " dialog.

[2012-04-09 15:11] ghost opened #1404 "The "You must sign in with your email provider..." dialog hangs when loosing the internet connection"
OS: Ubuntu 11.10
Browser: Firefox 12.0 beta

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Click on the Sign In button.
3. Enter a primary email address and click on the Next button.
4. Loose your internet connection while on the "You must sign in with your email provider..." dialog.
5. Click on the Verify button.

The dialog from step 4 hangs until the user manually closes it. T

[2012-04-09 18:13] lloyd opened #1405 "dev: error shown in dialog after confirming your computer"
reported via email:

"I got this when I clicked "Yes" in response to "Is this your computer?" while signing up for the first time.
http://d.pr/9BLk"

reproduced via 123done.org

[2012-04-09 18:17] Zarel commented on #1405
I was the one who reported this on the ML, so I might as well add myself to the issue. Hello!

I got this issue while signing up with a Gmail address.

[2012-04-09 18:34] lloyd opened #1406 "dev: "Is this your computer" should not be asked during first sign-up"
report: "When I click the confirmation e-mail, it tells me something along the lines of "You've been logged in, you can now go back to 123done.org". But when I go back to the 123done.org tab, I'm not logged in yet; I need to go find the popup and respond to the "Is this your computer?" question before it logs me in."

@shane-tomlinson - any ideas how to elegantly surpress the question during initi

[2012-04-09 18:35] lloyd commented on #1405
successfully reproduced via STR in issue #1406

[2012-04-09 19:47] st3fan commented on #1379
@jbonacci It is super fast on the iPad now. However, I have not been able to test the full login yet because I get stuck on issue #1395

[2012-04-09 20:30] klebom opened #1407 "If "dom.storage.enabled = false" BrowserId claims browser not being Firefox"
I tried disabling local storage (dom.storage.enabled = false) to avoid tracking (I use cookie culler and allow all cookies).

This wasn't expected by the BrowserId code base...

"
We are sorry, but currently your browser is not supported.

BrowserID works with Firefox

and other modern browsers.

BrowserID is the fast and secure way to sign in — learn more
"

I'm using Firefox 11

[2012-04-09 22:48] lloyd opened #1408 "dev: remove deprecation warning"
currently in dev there is console output when a site is detected to be using the old api "this site uses deprecated API".  That's inappropriate given the new api is experimental and should be disabled.

[2012-04-09 22:49] #1408 closed, assigned to lloyd

[2012-04-09 23:15] shane-tomlinson commented on #1391
@lloyd - one problem with IE6/IE7 and IE8 in quirks mode is that the communication frame is doing a Channel.build, which checks for the existence of window.localStorage, window.postMessage and window.JSON.  These items do not exist in the older IEs and an exception is thrown.

Since the communication iframe was not included by default before, we did not run into this problem.  We would have seen i

[2012-04-09 23:35] lloyd commented on #1395
so I'm unhappy with our testing of this feature.  It seems like the only tests we have don't actually execute the code, and they don't catch this regression...

[2012-04-09 23:39] benadida commented on #1395
@lloyd yeah, we haven't given the internal API enough love, agreed. We should, especially as we're about to add more.

[2012-04-09 23:40] lloyd commented on #1395
The only way I can think of improving the situation is to simulate native embedding with a test specific iframe that mimics how pancake (and other native code) will use our internal API, then to script that with something like selenium...

For the purposes of this bug I'm going to deploy a blind fix on a branch/ephemeral VM and let @st3fan test it...

[2012-04-09 23:45] lloyd commented on #1395
@benadida - @callahad reports that there are people interested in this feature.  so that's a +1 to formalizing it, documenting it, providing and example, and making sure we have tests that validate our API isn't inadvertently broken.

context: http://irclog.gr/#show/irc.mozilla.org/identity/73775

[2012-04-10 00:35] lloyd commented on #1391
@shane-tomlinson cool!  thanks for the clarification, I'll fix it and offer up a PR for your review.

[2012-04-11 13:41] shane-tomlinson opened #1414 "Fx, dev RP: security exception thrown if cookies disabled."
STR
1) Load up Firefox
2) Turn off cookies
3) Open up firebug
4) Open up the dev RP

[code]

[2012-04-11 14:05] shane-tomlinson opened #1416 "internal API needs updated for new API."
The internal API used by addons, pancake, OWA, etc needs to be updated to provide the same functionality given to RPs

[2012-04-11 14:07] benadida commented on #1416
yes, and it needs some key-wrapping love, too :)

[2012-04-11 15:06] #1123 closed, assigned to shane-tomlinson

[2012-04-11 15:26] shane-tomlinson commented on #1414
In Nightly, the exception is:

[code]

[2012-04-11 16:33] shane-tomlinson commented on #1414
This manifests itself on *.myfavoritebooze.org as well.

[2012-04-11 16:52] shane-tomlinson opened #1418 "signup/signin/forgot pages from main site should check for cookies"
The signup/signin pages do not check for whether the user has their cookies enabled before allowing the user to sign in.

[2012-04-11 18:23] shane-tomlinson commented on #1407
@klebom - Thanks for the feedback!  BrowserID is not checking for Firefox, but instead is checking for the availability of window.localStorage, window.postMessage, window.JSON.  Since you have localStorage disabled, BrowserID does not think that your browser meets the minimum technical requirements and is asking you to upgrade - as a generic message we suggest Firefox.

We did not include text abo

[2012-04-11 18:23] #1407 closed, assigned to nobody

[2012-04-11 18:39] #1414 closed, assigned to nobody

[2012-04-11 18:48] #1201 closed, assigned to shane-tomlinson

[2012-04-11 18:48] #1202 closed, assigned to shane-tomlinson

[2012-04-11 19:02] lloyd opened #1421 "consider never revealing userid"
we implemented new features around shared computers, and while implementing that we needed a stable identifier for users on the client (to record whether they had confirmed that this is their own device).  For the first time we reveal a user's own integer "userid" to them via the WSAPI.

There are alternate implementation tactics that we should explore to see if we can not reveal our internal user

[2012-04-11 19:13] #1406 closed, assigned to lloyd

[2012-04-11 19:13] #1405 closed, assigned to lloyd

[2012-04-11 19:24] lloyd commented on #1416
yes, and it needs some documentation love, too.  Also a sample usage, maybe a simple chrome extension would be useful?  Or maybe a cmd line program that can raise the prompt for you?

[2012-04-11 19:36] #1395 closed, assigned to lloyd

[2012-04-11 22:41] lloyd commented on #912
'Observer' API introduced experimentally `train-2012.04.11`: https://gist.github.com/2287552

[2012-04-11 22:41] #912 closed, assigned to lloyd

[2012-04-12 00:22] jrgm opened #1423 "better error reporting for bad email/origin in stage_user, stage_email"
From a quick IRC conversation. If the input email or origin in a request to stage_user or stage_email is invalid an exception is throw in process(), and ultimately logged as a 500. The suggestion is to report/respond as something less than Internal Server Error, or as @fetep said "5xx == page ops". (I realize though, that the current way is the most expedient).
STR: use scripts/create_account.js t

[2012-04-12 04:15] jrgm commented on #1423
@fetep also mentioned that "it might be worth a CEF log"

[2012-04-12 08:23] mathjazz opened #1424 "Broken accept terms text in Romansh"
This happens when you have to register a new address in Romansh. The text to accept the terms is too long:

http://i.imgur.com/klShV.png

/cc @lloyd @ozten @jbonacci

[2012-04-12 08:26] mathjazz opened #1425 "Posssible incomplete string"
One of the new strings in train 2011.04.11 ends with a whitespace:
"If you're at a public computer such as a library or internet cafe, we'll ask you "

Is it possible that this string is not complete?

Should it end with "we'll ask you to log in every time"?

/cc @ozten @shane-tomlinson @lloyd @jbonacci

[2012-04-12 08:31] mathjazz commented on #1337
Works for me in production.

[2012-04-12 08:32] mathjazz commented on #1333
Works for me in production.

[2012-04-12 10:07] shane-tomlinson opened #1426 "With Javascript disabled, the main site index page shows the manage content above the splash content."

[2012-04-12 12:19] mathjazz opened #1427 "Update preview server"
The preview server has to be updated for train-2012.04.11.

Currenlty, http://temporary_preview.myfavoritebeer.org/ still shows the old code.

/cc @fetep @ozten

[2012-04-12 15:21] lloyd opened #1429 "https://browserid.org/signup is broken"
this is in production after the push of train-2012.03.28.  the signup page on browserid.org doesn't work, as the call to stage_user includes a domain rather than an origin, which interacts poorly with our new input parameter checking on the stage_user call.

Further, an `Internal Server Error` is returned, rather than a clearer 40x error messages which describes what inputs were bad.

[2012-04-12 16:38] #1337 closed, assigned to mathjazz

[2012-04-12 16:39] #1333 closed, assigned to mathjazz

[2012-04-12 16:46] shane-tomlinson opened #1431 "dev: repeatedly asked "Is this your computer?""
I am still trying to find exact STR

[2012-04-12 16:55] lloyd commented on #1427
we'll get this fixed by EOD so localizers can test!

[2012-04-12 16:58] lloyd commented on #1425
we'll get this fixed today.

[2012-04-12 17:08] lloyd commented on #1421
@benadida if you think of a real weakness this introduces, up prio.

[2012-04-12 17:14] lloyd commented on #1416
let's figure out what the right internal API is for all the people it serves, and people it could.

[2012-04-12 17:21] lloyd commented on #1305
assigning to @callahad to think about, propose an approach, and prioritize.

[2012-04-12 17:43] callahad commented on #1305
I'm turning this over in my head. I want to make it easy for sites to become IdPs, but... maybe not until after the Q2 Event? Hm... Will ruminate more.

[2012-04-12 18:18] #1425 closed, assigned to lloyd

[2012-04-12 18:19] lloyd commented on #1425
@mathjazz it will take a couple hours to deploy this, stay tuned

[2012-04-12 18:20] #1429 closed, assigned to lloyd

[2012-04-12 18:21] lloyd commented on #1429
to be deployed today in 0.2012.03.28.7

[2012-04-12 18:21] lloyd commented on #1416
started fleshing out requirements for the internal API with anant: https://id.etherpad.mozilla.org/35

[2012-04-12 18:40] skinny97214 commented on #1305
What's your concern why we should wait until after beta?

[2012-04-12 21:13] mathjazz commented on #1425
OK, I'm extracting and merging strings now...

[2012-04-13 09:08] #702 closed, assigned to shane-tomlinson

[2012-04-13 12:40] shane-tomlinson opened #1433 "'Add new email address' screen should show user notification while getting 'email_info' being called."
This would be similar to how it is done on the sign in page, otherwise the user is left in the dark as to what is occurring.

[2012-04-13 16:28] lloyd commented on #1427
working on this now...  sorry for the delay, was hoping I could get access to the current preview server, but I'll just deploy a new one.

[2012-04-13 16:28] lloyd commented on #1427
/cc @ozten

[2012-04-13 22:16] benadida opened #1434 "suggest implementation of BrowserID in verification email"
or maybe elsewhere? More guerrilla marketing.

[2012-04-13 22:40] tonychung opened #1435 "Clear the email field when adding a different email address"
We should clear the email field when adding a different email address to the sign in box.   Currently, it retains the last email you typed, and then the user clicks "Verify email", they'll get the popup notice saying an email was just sent.

Screenshot: http://i.imgur.com/rUyPx.png

Repro:
1) log onto beta.myfavoritebeer.org or www.myfavoritebeer.org
2) Click sign in, type in an email, click Next

[2012-04-14 02:19] jrgm commented on #1425
verified in code for branch train-2012.04.11, and it is available and already translated as a single line in at least de and el
at https://localize.mozilla.org/projects/browserid/

[2012-04-14 03:42] jrgm opened #1436 "load_gen no longer works against stage due to new 'ephemeral' post argument"
I briefly started up a load_gen from client5 against stage, but immediately aborted when it spewed these errors:
    error: (signin) can't authenticate: SyntaxError: Unexpected token B

On the stage webhead, it was reporting this sort of thing on each request for /wsapi/authenticate_user:

{"level":"warn","message":"bad request received: missing 'ephemeral' argument","timestamp":"2012-04-14T03:13:

[2012-04-16 03:43] ozten commented on #1427
I thought that https://bugzilla.mozilla.org/show_bug.cgi?id=723775 would be fixed last week, which makes temporary preview obsolete. I've pinged for status on that bug.

[2012-04-16 04:23] jrgm opened #1440 "Forgot password flow fails to complete; dialog is stuck and won't process clicks"
Forgot password flow fails to complete; dialog is stuck and won't process clicks

Steps to reproduce:
1. Go to http://beta.myfavoritebeer.org and click signin.
2. If email addresses are listed, click 'This is not me'.
3. In the email textbox, enter an email address for a "non-primary" account that is already known to diresworb.org, and click Next.
4. When prompted for a password, click the 'Forgot

[2012-04-16 04:38] jrgm opened #1441 "[Safari/Win32] frontend unit tests flaky on second or later run"
I bumped into this oddity. Reproduced on Safari/5.1.5/Win7 and Safari/5.1.2/WinXP but not on any other OS/Browser combination, and to clear not with Safari/5.1.5/OSX.

If I "reset Safari" and then load the front-end tests, they pass everytime on first run. But on a reload of the page, there are consistently some failures like the below (sometimes more than than 3, sometimes less). But always about

[2012-04-16 15:24] ozten commented on #1427
Ran into a non-ff issue with updating. Destroying and re-creating. I'll update this issue when temporary_preview is ready.

lloyd: I'll add you to the new VM ssh keys. Sorry about that.

[2012-04-16 16:08] lloyd commented on #1427
Np, I tried to get this done before/over the weekend and failed.

--lloyd

On Apr 16, 2012, at 9:24 AM, Austin Kingreply@reply.github.com wrote:

[2012-04-16 16:57] ozten commented on #1427
http://temporary_preview.myfavoritebeer.org/ is ready.
Please let me know if there are any issues with it.

I haven't added lloyd yet, will ping him out of band.

[2012-04-16 16:57] #1427 closed, assigned to lloyd

[2012-04-16 17:59] lloyd opened #1442 "API regression in dev and beta - options are *required*"
STR:
1. invoke navigator.id.get(function() { });

notice error:

[code]

This is the underlying cause of https://bugzilla.mozilla.org/show_bug.cgi?id=745829

[2012-04-16 18:17] lloyd commented on #1442
fix merged into train-2012.04.11.4 and dev.  now deployed on the latter, to be deployed on the former some time RSN.

[2012-04-16 18:17] #1442 closed, assigned to lloyd

[2012-04-16 18:45] lloyd commented on #1436
fixed in dev and `train-2012.04.11` - @jrgm please confirm!

[2012-04-16 18:45] #1436 closed, assigned to nobody

[2012-04-16 18:47] lloyd commented on #1440
@shane-tomlinson lemme know if you want any help on this one!  /cc @ozten

[2012-04-16 20:52] ozten commented on #1403
Looks good to our check primary scripts:

[code]

[2012-04-16 20:58] jrgm opened #1445 "400 Bad Request: requires authentication response for POST /wsapi/cert_key"
This one is hard to reproduce, but I've done it 6 or 7 times now. Following the STR below (I doubt it only happens this way,
but that's what I was doing). I get a 400 response if the requests to /wsapi/complete_email_addition, /wsap/email_addition_status, /wsapi/list_emails, /wsapi/cert_key are closely grouped in time.

  We are very sorry, there has been an error!
  Please close this window and t

[2012-04-16 22:36] jrgm commented on #1123
verified fixed in stage on train-2012.04.11 chrome/osx, FF/osx, ie9/win7, ie8/winxp

[2012-04-16 22:42] jrgm commented on #1327
Ugh. I'm regretting filiing this bug. I don't see this on either the webheads or the dbwriters. Is it some config bit that is not in production?

[2012-04-17 02:10] jrgm commented on #1362
This was pull request GH-1363. Closing and verified on stage from train-2012.04.11 with quick and dirty script. 200 OK but status: failure, reason: malformed for a bad assertion, 200 OK for valid assertion/audience, 415 for invalid CT, 400 for missing audience or assertion.

[2012-04-17 02:10] #1362 closed, assigned to shane-tomlinson

[2012-04-17 05:45] jrgm commented on #1436
verified works now with either train-2012.04.11 or current (as of 8 hours ago) dev branch.

[2012-04-17 09:44] shane-tomlinson opened #1446 ""is this your computer" can show when adding a new email address"
STR:

1) Create a new account.
2) Wait 60 seconds
3) Open dialog, add a new secondary address.
4) Verify address after 60 more seconds.
5) Uh oh.  "Is this your computer?" is displayed.

[2012-04-17 10:55] shane-tomlinson commented on #1440
@jrgm, @lloyd - I see two problems occurring here.  The first is the backend sometimes returns "mustAuth" for "user_creation_status", even when completing registration in the same browser as beginning the flow.  The second is the front end is not handling the "mustAuth" case correctly.

Important info:

1) I signed in to diresworb.org using set117+test@gmail.com
2) I completed the registration in

[2012-04-17 13:24] shane-tomlinson commented on #1240
I am proposing a hybrid approach which combines both Jishnu's and Skinny's proposals to be both unobtrusive and provide a large area of coverage.

From my understanding, we need two sections of TOS/PP - one for the RP, and one for BrowserID.  The BrowserID TOS/PP only needs shown to new users.  Users who are already authenticated only need to see the RPs TOS/PP.

Proposal:
1) If the user is not si

[2012-04-17 16:41] lloyd commented on #1445
Here's a reworded sequence of events that explains what happens in the failure case (hypothesis):
1. you authenticate a session with browserid via assertion (with a primary address)
2. you add a secondary email address to your account
3. in the process of completing the email addition, you choose a password for your account
4. you pass the password and verification token up via the `complete_email

[2012-04-17 16:46] lloyd commented on #1445
I could move step 8 before step 6 and drastically reduce the likelyhood of the race condition with minimal risk.

[2012-04-17 17:07] jrgm commented on #1445
I can give you the exact sets of headers and bodies for a failing sequence if that would help you confirm your hypothesis.

One thing I don't get in your steps is "if steps 9 & 10 in the dialog occur before step 8". I'm not seeing 9 happen before 8 has completed (see the above HTTP response sequence).

[2012-04-17 17:15] lloyd commented on #762
done in train `2012.04.11`

[2012-04-17 17:15] #762 closed, assigned to nobody

[2012-04-17 17:16] lloyd commented on #1293
done in `train-2012.04.11`

[2012-04-17 17:16] #1293 closed, assigned to lloyd

[2012-04-17 17:22] lloyd commented on #1445
I'm assuming the timing there is when requests _start_, not when they complete.  Is that wrong?

[2012-04-17 17:24] lloyd commented on #1445
this is similar to what's happening in GH-1440.

Also, the change that triggered this is GH-1293, which decreased the cost of key generation, shortened the delay between 9 & 10 above, and made it more likely that 10 would occur before 8.

[2012-04-17 17:31] jrgm commented on #1445
Let me cross check the timing with NSPR logging to see if it's start or end times.

[2012-04-17 17:52] skinny97214 commented on #1098
It could look something like this http://cl.ly/2j0o3i2e1T0p0Q401s1C

[2012-04-17 18:01] jrgm commented on #1445
So, yes, those are start times (like duh the UI actual says).

[2012-04-17 19:50] jrgm opened #1449 "400 requires authentication received for /wsapi/list_emails"
This is not a good bug report, since I don't really have STR (yet). But, I just had a series of 400
requires authentication errors on /wsapi/list_emails.  By series, I mean I switched back to a winxp
that I had been using late Sunday. On 3 of the browsers (chrome, opera, ie8), where I had whatever
state from that time, I just went to beer, click signin, am prompted for an email address, enter a
kn

[2012-04-17 20:06] lloyd commented on #1232
here's a cap of the current UI in progress: https://img.skitch.com/20120417-r6pey6jq31fmfp14xnhfmbgg2q.png

/cc @shane-tomlinson

[2012-04-17 20:17] jrgm commented on #1449
Okay, still don't know what's causing it, but I reproduced on another VM (that also had some stale info), and have the full network trace leading to the error, and the before state of localStorage. Digging that out now.

[2012-04-17 20:18] lloyd commented on #1232
now deployed here for your previewing pleasure: http://issue1232.myfavoritebeer.org/

[2012-04-17 20:39] lloyd commented on #1440
we're going to split this into two issues.  the first is this one - the fact that reset_password is completely broken and button doesn't respond to clicks.  the second is the race condition whereby sometimes you'll needlessly be required to re-enter your password after email verification - this will be a new issue.

[2012-04-17 20:43] lloyd opened #1451 "Sometimes you must re-enter your password after email verification"
This issue is born out of issue #1440.  It describes a race condition that requires you to occasionally have to re-enter your password after email verification during new account creation.

STR:
1. go to myfavoritebeer
2. click sign in
3. enter a secondary email that has never been used before
4. click verify
5. wait for the email
6. click the link in the email
7. complete the process on the landi

[2012-04-17 20:54] jrgm commented on #1449
Here's the abbreviated sequence of requests:

00:00:13.138 0.252 395 (2965) GET  304 text/html        http://beta.myfavoritebeer.org/
00:00:13.834 0.095 377 173    GET  200 application/json http://beta.myfavoritebeer.org/api/whoami
00:00:15.735 0.076 360 225    GET  200 text/html        https://diresworb.org/communication_iframe

00:00:16.454 0.286 347 270    GET  200 text/html        https://dire

[2012-04-17 21:28] shane-tomlinson opened #1453 "cancel link in verification screen for required email does not look like a link"

[2012-04-17 21:37] ozten opened #1454 "Deploying awsbox browserid with _ in domain name breaks login"
Steps to Repro

1) Deploy temporary_preview
2) Test http://temporary_preview.myfavoritebeer.org/
3) Enter email address and Click button

Expected:
Your asked to check your email

Actual:
Error signing in
    Action: Creating Account
    Network Info: POST: /wsapi/stage_user

[code]

First reported by @mathjazz

[2012-04-17 21:46] ozten commented on #1454
This is an issue with `lib/sanitize.js`. Preparing a patch.

[2012-04-17 21:54] lloyd commented on #1451
this issue should maybe be used as an opportunity to fix all race conditions related to authentication and polling.  like issues #1445 and #1440

[2012-04-17 22:00] #1454 closed, assigned to nobody

[2012-04-17 22:04] lloyd commented on #1445
above commit is merged into train 2012.04.11 - should mitigate the race condition.  issue #1451 is against dev and we should have a more thorough fix in time for the next train.

[2012-04-17 22:04] #1445 closed, assigned to nobody

[2012-04-17 22:05] lloyd commented on #1440
merged into train-2012.04.11 and into dev.

[2012-04-17 22:05] #1440 closed, assigned to shane-tomlinson

[2012-04-18 14:12] ghost commented on #759
Currently, when performing the steps from @jbonacci 's last comment, the email used at step 4 is separated into a new account with the new password. The other emails stay in the old account.

If you decide to keep this behavior, the user will have to be notified about what happened since his impression will be that the emails from the old account were simply lost. Perhaps display a warning when he

[2012-04-18 14:13] shane-tomlinson opened #1458 "dev.* Exception - 'onlogout' is a required argument to navigator.id.watch()"
uncaught exception: 'onlogout' is a required argument to navigator.id.watch()
[Break On This Error]

...ton"===a.type||b==="button"},input:function(a){return/input|select|textarea|butt...

[2012-04-18 15:49] shane-tomlinson opened #1459 "dev RP with dev IdP: User returned to authentication page if cancels authentication with IdP"
STR

1) Ensure an account exists with one secondary address, one address from the example.domain IdP.  If authenticated to BrowserID, sign out.
2) If authenticated on example.domain IdP, log out.
3) Open BrowserID dialog, for email address, enter secondary address and password.
4) When dialog closes, reopen dialog so the email picker is displayed.
5) Select @example.domain address.
6) Click "Verif

[2012-04-18 18:15] lloyd commented on #1449
Ok, finally I have a theory of the bug.  To understand it, we need to dig into how `node-client-sessions` works a bit - the library we use for sessioning which is implemented using encrypted, signed cookies.  `node-client-sessions` embeds cookie creation time and cookie validity period into the cookie body, and typically the Expires: field of the cookie is the same as the validity period.

One tri

[2012-04-18 18:18] lloyd commented on #1449
STR (untested):
1. enter private browsing mode or open an "icognito" window or clear all stored data for `https://diresworb.org`
2. visit `http://beta.myfavoritebeer.org`, click sign in, then cancel the window
3. let an hour pass
4. click sign in again on myfavoritebeer and try to log in

[2012-04-18 18:23] jrgm commented on #1449
That sounds about right.

[2012-04-18 19:09] shane-tomlinson opened #1460 "Assertion should be generated AFTER the "is this your computer" screen."
Right now, we generate the assertion THEN ask "is this your computer?"  Since the assertion is only valid for 2 minutes, this introduces an opportunity for the assertion to be invalid by time it reaches the RP and verifier.

Link to #1446

[2012-04-18 19:34] #1449 closed, assigned to nobody

[2012-04-18 20:28] #1458 closed, assigned to lloyd

[2012-04-18 20:48] skinny97214 opened #1461 "remove placeholder text from management screen"
ixnay on the placeholder text in the password fields

http://cl.ly/452V2q343f320h2A3K3j

[2012-04-18 20:52] skinny97214 opened #1462 "move the cancel account feature to be inside the email section"
On the management page, move the text

"You may at any time cancel your account."

to be shown only when the user clicks edit email address.

http://cl.ly/3u080O0O440u261P1Y0Y

[2012-04-18 21:14] callahad commented on #426
I'm stealing this and assigning it to me.

[2012-04-18 21:32] jrgm opened #1463 "Follow on from GH-1123: gracefully deal with no-op remove of already deleted account"
1. Use an account that has only one user associated with it
2. Sign in to diresworb.org to get the management page.
3. Open diresworb.org in a second tab of the browser.
4. Click 'Your email addresses'->edit on both pages
5. In the first tab, click remove and ok the popup. Account is removed.
6. Now in the second tab, click remove on the same account.

Expected:
  Could more gracefully handle the

[2012-04-18 23:20] jrgm commented on #1445
Working for me on stage train-2012.04.11-7. Continuing with some other browsers, etc.

[2012-04-18 23:20] jrgm commented on #1449
Working for me on stage train-2012.04.11-7. Continuing with some other browsers, etc.

[2012-04-18 23:21] jrgm commented on #1440
Working for me on stage train-2012.04.11-7. Continuing with some other browsers, etc.

[2012-04-19 05:22] jrgm opened #1464 "[ie8/ie9] IE reporting a problem with test check_registration: user validation with mustAuth result"
On both ie8(winxp) and ie9(win7) the browser detects an uncaught exception for
http://host:port/test/?filter=controllers%2fcheck_registration%3a%20user%20validation%20with%20mustAuth
The test itself reports as passed.

[2012-04-19 05:36] jrgm commented on #1464
This is of course related to GH-1440

[2012-04-19 05:43] jrgm commented on #1464
And just to be clear, the fix for GH-1440 for those STR does work in ie8 and ie9 (and other).

[2012-04-19 10:24] shane-tomlinson commented on #1464
@jrgm - are you seeing the following:

[code]

[2012-04-19 10:48] shane-tomlinson commented on #1462
@skinny97214

Two concerns I have here while experimenting with this.  It does not feel like "cancel your account" has a tangible link to "edit your email addresses".  Visually, it looks nice.  The second is, one of the goals for the beta are to have swipe events in the manage page for mobile devices.  The cancel your account link would be hidden from users who remove email addresses using swipe e

[2012-04-19 14:56] ghost opened #1469 "Confusing behavior displayed when cancelling an email addition and retrying to add the same email"
OS: All
Browser: All

STR:
1. Launch http://beta.myfavoritebeer.org/ in the browser.
2. Sign in.
3. Log out of the client and click on the "Sign In" button.
4. Click on the "Add another email" link.
5. Enter an email address and click "add".
6. Click on the "use another email address" link. Leave the dialog open.
7. Sign into your email account and click on the BrowserID verification link.
8. Go b

[2012-04-19 15:03] lloyd opened #1470 "reduce "normal" certificate duration to 6 hours"
http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/22c20d92282788f2#

Let's give this a bit of time to sit on the mailing list to let folks weigh in before implementing, but tracking it here.  (it's one or two lines of code and some doc, so the gating factor ain't implementation cost)

[2012-04-19 15:57] lloyd opened #1471 "clicking the sign-in button in dialog doesn't always work"
when I pop up the sign in dialog, and click on the sign in button as fast as I can, 1/5 times the first click does not register, and I must click the sign in button again.

STR:
1. log in with browserid to the in-tree example rp
2. repeatedly sign into example RP as fast as you can, clicking in-rp then sign-in in dialog

I believe that this might be what is causing our automated selenium tests to

[2012-04-19 16:08] ozten commented on #1403
browserid.org - secondary
diresworb.org - secondary
dev.diresworb.org - primary

[2012-04-19 16:35] jrgm commented on #1464
I didn't notice that. In MS dev tools console? I'll look again.

[2012-04-19 16:46] jrgm commented on #1464
This is on train-2011.04.11 branch

[2012-04-19 16:52] #1461 closed, assigned to shane-tomlinson

[2012-04-19 16:52] #1453 closed, assigned to shane-tomlinson

[2012-04-19 17:05] #968 closed, assigned to shane-tomlinson

[2012-04-19 17:14] shane-tomlinson commented on #1232
Closing as dup of #1000

[2012-04-19 17:15] lloyd commented on #1435
this is as designed, assuming that the case that the user mistyped the password is sufficiently common, and deleting the email is sufficiently easy.

[code]

[2012-04-19 17:15] #1435 closed, assigned to shane-tomlinson

[2012-04-19 17:17] skinny97214 commented on #1462
[Delete this email account] is pretty similar to [delete this whole profile].

As for swipe events, I'm not in favor. Let's not make uncommon, irreversible actions that easy.

[2012-04-19 17:20] shane-tomlinson commented on #1229
Please see: https://github.com/stomlinson/browserid_mediawiki_extension

[2012-04-19 19:03] jrgm opened #1472 "What should /sign_in dialog do if /wsapi/list_emails returns an empty list"
We talked about this in the triage meeting, and noted that GH-759 is the covering issue that needs to be addressed. However, I'm filing this as a separate issue about how the dialog should behave if it ever gets back an empty email list (for whatever reason).

Steps to reproduce this empty list:
1. Initial condition: two browsers that have both already authenticated for the same email address. Thi

[2012-04-19 22:35] lloyd commented on #1000
I've deployed the latest on https://issue1000.hacksign.in and http://issue1000.myfavoritebeer.org

@shane-tomlinson I've installed your public key so you can update the server.

[2012-04-19 22:36] lloyd commented on #1000
@shane-tomlinson `git remote add issue1000 app@issue1000.hacksign.in:git`

[2012-04-20 09:35] shane-tomlinson commented on #1373
See https://skitch.com/set117/8w14m/persona-flow-cropped.  Done

[2012-04-20 09:35] #1373 closed, assigned to shane-tomlinson

[2012-04-20 12:50] shane-tomlinson opened #1473 "Scroll bar shows in dialog in FF for Windows"
As reported by Zac Campbell

https://skitch.com/set117/8wu5b/scrollbar-windows

[2012-04-20 14:44] ghost opened #1474 "forgot password flow: The user can set his current password as his new password"
OS: Win 7
Browser: Firefox 13.0

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Enter a non-primary email address associated to BrowserID and click on the "next" button.
3. Click on the "forgot your password?" link.
4. Click on the "reset password" button.
5. Confirm the reset from your email.
6. Set the current password as your new password.

Actual Results:
The user can set his

[2012-04-20 14:59] st3fan opened #1475 "Error message flashes before flow starts"
When the BrowserID code is loaded in a UIWebView it initially show a message in red text about some error that has occurred. After a little while that message goes away and it will continue with the normal flow.

On mobile networks, where loading times are much slower, the message sometimes stays on screen for a few seconds.

I think this message should be initially hidden and only shown when actu

[2012-04-20 15:18] ghost opened #1476 "The items under the list on the emails list dialog should not be scrollable"
OS: Win 7
Browser: Firefox 13.0

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Sign into an account with more than 5 email addresses.
3. Observe the emails list dialog.
4. Click the scrollbar displayed on the dialog and scroll it up and down.

The links, text and buttons displayed under the emails list are scrolled with the list. Only the emails list should be scrollable.

[2012-04-20 15:55] ozten commented on #1383
Attempted fix in http://git.io/pxDJlg
I'm assuming this log line is from dbwriter.log and I see `"timestamp":"2012-04-19T01:23:01.412Z"` after this patch.

Please confirm in dev if you can. Thanks!

@anuragphadke - Heads up the timestamp in all metrics logs will be changing to have a full timestamp.

[2012-04-20 15:55] #1383 closed, assigned to ozten

[2012-04-20 19:59] lookfirst opened #1477 "optimize all browserid images"
Freely available tools like [ImageOptim](http://imageoptim.com/) should be in every web developers toolkit and should be used to optimize all of the images that browserid serves up.

For example, [sign_in_orange.png](https://browserid.org/i/sign_in_orange.png) got a 2.2% reduction by simply dragging and dropping it onto this application.

[2012-04-20 20:23] jrgm commented on #1400
verified. train-2012.04.11, feature is gone.

[2012-04-20 20:44] lloyd commented on #1477
+1  after we rebrand we should optimize all images.

[2012-04-20 21:02] jrgm commented on #1390
I still have two errors (either ie6 or ie7):

Line: 3347
Char: 12
Error: Expected identifier, string or number
Code: 0
URL: http://10.250.4.157:10002/communication_iframe

Line: 233
Char: 38
Error: Exception thrown and not caught
Code: 0
URL: http://10.250.4.157:10002/communication_iframe

However, I see from https://github.com/mozilla/browserid/pull/1411#issuecomment-5038350 that the presence of

[2012-04-20 21:08] jrgm commented on #1391
As noted in https://github.com/mozilla/browserid/issues/1390#issuecomment-5253093, I still have errors about
communication_iframe on ie6/ie7

[2012-04-20 21:12] jrgm commented on #1405
verified on ff/chrome/safar/ie8/ie9/android2.2(stock,FF)/android4.0(stock,FF) not getting this error with train-2012.04.11

[2012-04-20 22:13] jrgm commented on #1357
Verified with IE8 on train-2012.04.11 on stage. No errors and successful signup, signin.

[2012-04-20 22:32] jrgm opened #1478 "[chrome/win7] tiny cosmetic pixel gap in arrow in /sign_in dialog"
![img](https://img.skitch.com/20120421-qdfydqtxhcip9fnpnwueqrc49b.png)

[2012-04-21 00:44] jrgm commented on #1406
verified on stage from train-2012.04.11. The user is not asked the question on initial signup/signin. A signin 60 seconds
subsequent to the first appearance of the user will cause the user to be asked 'is this your computer'.

[2012-04-21 04:50] jrgm opened #1479 "should 24-hour expiry on 'denied' state trigger 'is this your question' immediately or just set to 'seen'?"
I'm not sure whether this is a bug, or actually intended to be the way it works. Anyways, I'd expect to be re-challenged for 'is this your computer?' immediately after 24 hours have elapsed after saying no on the initial challenge. (But since the 24-hour expiry sets the browser up for an eventual 'is this your question?', this is probably just a nit).

STR:
1. Use a clean profile (or private brows

[2012-04-21 05:00] jrgm commented on #1349
verified in stage train-2012.04.11

[2012-04-21 06:29] jrgm commented on #1290
Oops. Forgot to mark this as verified on stage for train-2012.04.11.

[2012-04-23 04:47] jrgm commented on #1348
veriified windows (safari/chrome/firefox/ie8/ie9), osx (safari/chrome/firefox), android2.2(stock/firefox)

Note: opera does not work from before, which is GH-1263.

[2012-04-23 04:51] jrgm commented on #1399
verified stage train-2012.04.11 works fine with all browsers on winxp/win7/osx/ubuntu/android2.2(droid2)/android3(tablet)/android4(nexus) for beta.myfavoritebooze.org

[2012-04-23 11:48] shane-tomlinson commented on #1390
@jrgm - I can verify there are errors in IE6/IE7 on myfavoritebeer.org from prod, but they are not the same as these.  Which branch are you testing from?

[2012-04-23 11:51] shane-tomlinson opened #1480 "IE6/IE7: myfavoritebeer.org errors when loading up page"
Line: 5
Error: Expected identifier, string or number

Looking at main.js, there is an extra trailing "," after:

[code]

[2012-04-23 11:52] shane-tomlinson commented on #1480
Pull request issued: https://github.com/lloyd/myfavoritebeer.org/pull/56

[2012-04-23 11:56] shane-tomlinson opened #1481 "IE6/IE7: myfavoritebooze.org errors on page load"
Line: 16
Error: Exception thrown and not caught

[2012-04-23 11:56] shane-tomlinson commented on #1481
Link to #1390

[2012-04-23 12:29] shane-tomlinson commented on #1390
Also issued pull request to myfavoritebeer.org: https://github.com/lloyd/myfavoritebeer.org/pull/56

[2012-04-23 15:26] jrgm commented on #1390
I was on train-2012.04.11

[2012-04-23 15:33] #1290 closed, assigned to shane-tomlinson

[2012-04-23 17:27] jrgm commented on #1414
verified fixed for firefox on stage train-2012.04.11

[2012-04-23 17:35] shane-tomlinson opened #1483 "Error message is never displayed if tosURL or privacyURL are relative URLs"
The code is set up to show an error message, but the error message is never actually displayed.

[2012-04-23 17:47] shane-tomlinson commented on #1483
Incorrect submission on my part, I was looking at the wrong code, closing as not a bug.

[2012-04-23 17:47] #1483 closed, assigned to nobody

[2012-04-23 17:49] jrgm opened #1484 "[Chrome] exceptions thrown on /signup page when cookies disabled"
This is basically already covered in GH-1418, but chrome throws 'Uncaught Error: QUOTA_EXCEEDED_ERR:
DOM Exception 22' in two places when using the /signup page on diresworb.org (at lines 123 and 180
of resources/static/shared/storage.js).

[2012-04-23 18:24] jrgm commented on #1418
This should also include the /forgot page, of course.

[2012-04-23 18:41] jrgm commented on #1202
Specifically for chrome, marking verified for stage train-2012.04.11 (but issues remain in GH-1418 (all), GH-1484 (chrome)).
More detailed summary will be in GH-1201.

[2012-04-23 21:00] jrgm opened #1485 "[IE8] error dialog shows up with solid black background (i.e., not just dimmed)"
This is specific to IE8

STR
1) disable cookies in IE8
2) go to https://diresworb.org/signup
3) Enter a never before seen email address and click 'verify email'
4) An error message is shown as expected 'Browserid requires cookies'

However, the rest of the screen is now all black, not just dimmed as in other browsers.

[2012-04-23 21:55] jrgm commented on #1201
Verified for stage train-2012.04.11 with these notes:
1. Load https://diresworb.org
2. Load https://diresworb.org/signin and begin typing in an email address
3. Try to submit the email address for /signin
4. Load https://diresworb.org/signup and begin typing in an email address
5. Try to submit the email address for /signup
6. Load https://diresworb.org/forgot and begin typing in an email address

[2012-04-24 03:15] jrgm commented on #1484
The reason I filed this bug as separate from GH-1418 is that this is a core problem with storage.js with cookies disabled in chrome.

[2012-04-24 08:20] shane-tomlinson commented on #1485
Label 5 star since this is a regression.

[2012-04-24 09:59] shane-tomlinson opened #1488 "dev rp throws exception if there is no requiredEmail"
STR
1. Load up dev RP in Chrome
2. Clear the requiredEmail field
3. Click "Get an assertion"
4. Check out the error.

The error is on line 174 of the sample RP's index.html, if there is no requiredEmail, there can be no requiredEmail.indexOf

[2012-04-24 10:08] #1488 closed, assigned to shane-tomlinson

[2012-04-24 10:23] shane-tomlinson commented on #1478
@jrgm - Thanks for the report - I am unable to reproduce this in Chrome on Win7, WinXP or OSX.  Is this a specific version of Chrome?

[2012-04-24 10:29] shane-tomlinson commented on #1484
Labeling a 5\* because this is a regression.

[2012-04-24 10:31] shane-tomlinson commented on #1476
@ioanab - This is by design. On a mobile device in landscape mode keeping the buttons on screen means the user can only view 2 email addresses at a time in their scroll window.

[2012-04-24 10:31] #1476 closed, assigned to nobody

[2012-04-24 10:54] shane-tomlinson commented on #1464
@jrgm - I am now seeing:

[code]

[2012-04-24 11:28] shane-tomlinson commented on #1464
@jrgm - excellent catch, thanks!

[2012-04-24 14:26] shane-tomlinson opened #1492 "error screen on mobile is too narrow and pushed too far down."
There is a large margin on the top, right and left leaving very little room for the message.

[2012-04-24 15:34] graingert opened #1493 "regression: NS_ERROR_DOM_SECURITY_ERR in https://browserid.org/v/e87270a373/production/en_US/browserid.js"
`uncaught exception: [Exception... "Security error" code: "1000" nsresult: "0x805303e8
(NS_ERROR_DOM_SECURITY_ERR)" location: "https://browserid.org/v/e87270a373/production/en_US/browserid.js Line: 8"]`

This issue again:
https://bugzilla.mozilla.org/show_bug.cgi?id=726955

[2012-04-24 16:39] shane-tomlinson commented on #1485
Closing - merged into train-2012.04.11 and current dev.

[2012-04-24 16:39] #1485 closed, assigned to shane-tomlinson

[2012-04-24 16:40] jrgm commented on #1478
This is with Chrome 18.0.1025.162, which is just whatever Chrome has pushed out recently to release channel.

[2012-04-24 16:47] shane-tomlinson opened #1495 "If no verification token is given, /verify_email_address does not show an error."
STR:

1) Open browser to https://browserid.org/verify_email_address

Expected:

Error message saying the token is invalid.

[2012-04-24 17:06] shane-tomlinson opened #1496 "IE6/IE7: unsupported dialog shows unecessary scroll bar (and sometimes two!)"

[2012-04-24 17:15] shane-tomlinson opened #1497 "invalid verification link error message is does not match other error messages"
https://skitch.com/set117/8ixsu/box-simpleshare

Should we make this the same style as other error messages?

[2012-04-24 18:06] jrgm commented on #1485
verified fix on stage for train-2012.04.11 with the latest round of updates

[2012-04-24 19:20] jrgm commented on #1464
Okay, so I don't have this error now with ie8 or ie9 and a local pull of the latest for train-2012.04.11. @stomlinson did you mean to close this, or has the fix not been merged back to dev branch yet?

[2012-04-24 21:36] skinny97214 commented on #1497
Good catch. Yes, please make it match.

[2012-04-24 23:08] jrgm commented on #1445
Oops, didn't previously mark as verified. Okay, now I am.

[2012-04-25 03:14] jrgm commented on #1464
Ah, so, duh, I see in https://github.com/mozilla/browserid/pull/1490#issuecomment-5308907 that this does not need to
backported to dev. So I'm going to close and call it verified

[2012-04-25 03:14] #1464 closed, assigned to shane-tomlinson

[2012-04-25 07:23] shane-tomlinson commented on #1418
@jbonacci - is the above related to #1499?  If so, are they separate bugs?

Using a new profile with cookies disabled in Chrome for OSX on diresworb.org/signin, I receive the following error message:

[code]

Which is the same as I see on browserid.org:

[code]

[2012-04-25 12:32] KaiRo-at commented on #314
For me, this is the most annoying issue with BrowserID so far, and the reason I have not chosen to use a very strong password for it, as remembering and re-entering a strong password time and again on multiple devices is a pain for me. If password manager can fill in the password, I'm much more willing to chose a stronger password that I might not remember as well personally - if it can't fill in

[2012-04-25 15:14] shane-tomlinson opened #1500 "Previously selected email address not remembered if user's session expires."
This may be a dup of another, but I cannot find it.

If a user's session expires and the user must re-authenticate, BrowserID forgets which address a user last used.

STR
1) Open a new browser profile that can sit dormant for 2 weeks.
2) Sign in to myfavoritebeer.org using an account with multiple addresses that you do not need to use again.  Sign in using email A.
3) Sign in to myfavoritebooze.or

[2012-04-25 17:36] jrgm commented on #1440
verified fixed for stage train-2012.04.11-8 on multiple browsers.

[2012-04-25 17:41] jrgm commented on #1449
verified fixed for stage train-2012.04.11-8

[2012-04-25 17:47] jrgm commented on #1442
verified fixed for train-2012.04.11-8 on stage per https://bugzilla.mozilla.org/show_bug.cgi?id=745829#c2, and by invoking
navigator.id.get(function(){}) in the chrome/firefox browser.

[2012-04-25 18:01] callahad opened #1501 "A more secure verifier?"
Verifiers (ours included) should probably not accept an assertion signed by a fallback if the domain in question is a native Identity Provider.

This mitigates the security risk of browserid.org being compromised, as fraudulent assertions from browserid.org for users with a native Identity Provider would get rejected.

This question has come up two or three times on the mailing list.

[2012-04-25 18:54] benadida commented on #1501
Yes, absolutely. Not probably. Absolutely :)

[2012-04-25 20:21] shane-tomlinson commented on #1418
@jbonacci - can you look at https://github.com/mozilla/browserid/pull/1489 - this makes it so the signup, signin, forgot, verify_email_address, and add_email_address pages all have a cookie check as soon as the user lands.  If the user's cookies are disabled, a message will be displayed as soon as they land on the page.  That means the user won't even have the opportunity to enter their email addr

[2012-04-25 20:53] lloyd commented on #1355
marking this WONTFIX.  low usage of the old persistent API and a fairly high cost of back compat weigh into this.  /cc @benadida @callahad

[2012-04-25 20:53] #1355 closed, assigned to lloyd

[2012-04-25 23:28] jrgm commented on #1418
404? Not found? For which URL. Or did you mean 403?

[2012-04-25 23:38] ozten opened #1502 "API leakage for window.location.href email return_url and other state"
When working on bigtent, I didn't carry through the query string parameters which were originally sent into my auth url.

Example:
/sign_in?email=eozten%40yahoo.com&return_to=http%3A%2F%2F192.168.186.138%3A10002%2Fsign_in%23CREATE_EMAIL%3Deozten%40yahoo.com

After a few redirects, I end up back on /sign_in.

BrowserID's authentication_api.js depends on those fields to:
1) Send email into the callb

[2012-04-26 00:25] jrgm opened #1503 "Welsh not picked up for train-2012.04.11 release"
I see that Welsh (cy) was added for config/l10n-prod.json in GH-1498. However while https://localize.mozilla.org/cy/browserid/LC_MESSAGES/client.po/translate/ shows translated strings, a pull of http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/cy/LC_MESSAGES does not contain any for cy. And so this release will not have localized strings for Welsh.

/cc @ozten, @mathjazz, @milossh

[2012-04-26 11:40] milossh commented on #1503
I can push this via Verbatim, the strings that are in there but not in SVN. What's the plan on this? Do we fix this now and push, or do we wait for the next train?

[2012-04-26 14:44] ozten commented on #1503
Sorry, we have to wait for the next train.

[2012-04-26 17:20] lloyd commented on #1503
blocker for dev

[2012-04-26 17:26] lloyd commented on #1481
wontfix, booze will die

[2012-04-26 17:26] #1481 closed, assigned to nobody

[2012-04-26 17:27] lloyd commented on #1480
don't care, beer will die.

[2012-04-26 17:32] fmarier commented on #1477
Other relevant tools:

pngcrush -q -rem gAMA -rem alla -rem text example.png example.crushed.png
optipng -o9 -q example.png
advpng -z -4 -q example.png

gifsicle -O2 -b example.gif

jpegoptim -p --strip-all example.jpg

[2012-04-26 17:33] lookfirst commented on #1477
@fmarier ImageOptim is just a wrapper around all those tools with a nice drag/drop interface.

[2012-04-27 03:34] jrgm commented on #1451
The STR in GH-1256 are the same (modulo the notes about latency effects here). I'll close that one in favour of this one.

[2012-04-27 03:35] jrgm commented on #1256
closing this in favour of GH-1451 which has the same STR and "not always reproducible".

[2012-04-27 03:35] #1256 closed, assigned to lloyd

[2012-04-27 15:16] shane-tomlinson opened #1505 "IE6/dev: unsupported dialog not showing error message."
STR:

1) Open IE6.
2) Go to dev.myfavoritebooze.org
3) Click sign in.
4) Unsupported dialog opens, but where is the text?

This is not occurring on either prod or beta.

[2012-04-27 16:06] shane-tomlinson opened #1508 "after password reset verification, dialog does not complete and becomes unresponsive."

[2012-04-27 16:11] shane-tomlinson commented on #1508
Note, this does not affect the current beta as of Fri 2012.04.27

[2012-04-27 17:55] shane-tomlinson commented on #1508
Dup of #1440.  Closing.

[2012-04-27 17:55] #1508 closed, assigned to shane-tomlinson

[2012-04-27 18:41] shane-tomlinson commented on #1390
This was merged in to dev with PR-1506.  Closing.

[2012-04-27 18:41] #1390 closed, assigned to lloyd

[2012-04-27 18:43] shane-tomlinson commented on #1484
Closing, this issue is avoided entirely with PR 1489 which has been merged.

[2012-04-27 18:43] #1484 closed, assigned to shane-tomlinson

[2012-04-27 18:46] shane-tomlinson commented on #1391
Closing, PR-1506 fixes this issue.

[2012-04-27 18:46] #1391 closed, assigned to lloyd

[2012-04-27 18:59] stephendonner commented on #1394
+1

[2012-04-27 22:52] ozten opened #1513 "Make BigTent whitelist configurable"
On the bigtent branch, we need two pieces of configuration:
- proxy domain whitelist
- BigTent server

The proxy domain whitelist will initally be ['gmail.com', 'hotmail.com', 'yahoo.com']. We should also be able to have this be an empty list, so that the code can land on dev and be pushed to stage, but will be inert. This is effectively 'feature preferenced' off.

BigTent server is the endpoint t

[2012-04-30 05:16] jrgm opened #1514 "/tos, /privacy no longer available with cookies disabled"
I hate to note this since closing off /signup, etc. is so much better. But it's a bit paradoxical that you have to enable cookies to view the Terms of Service and Privacy Policy.

STR:
- disable all cookies in the browser
- load https://dev.diresworb.org/tos

Expected: TOS text is shown
Actual: 'BrowserID requires cookies' is shown

Notes:
- Probably should also allow /about
- UA with no JS, can v

[2012-04-30 16:18] ozten opened #1515 "extract strings for train-2012.04.27"
Using train-2012.04.27 extract strings into SVN.

CC @milossh

Probably Wed, l10n drivers on holiday.

[2012-04-30 16:23] lloyd commented on #1115
this has not been forgotten.

this fix should roll to production with `train-2012.04.27` - on or around may 9th.  see https://bugzilla.mozilla.org/749756

[2012-04-30 20:54] ozten opened #1516 "statsd config host and port not used by lib/statsd.js"
The config for host and port at
https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L113

Doesn't get used in our js lib at
https://github.com/mozilla/browserid/blob/dev/lib/statsd.js#L26

[2012-04-30 21:49] stuartparmenter opened #1517 "BrowserID Dialog is too wide to fit in iPad sheet"
These 3 screenshots should illustrate the problem:

https://farm8.staticflickr.com/7114/6973789998_64b798a955_b.jpg (landscape)
https://farm9.staticflickr.com/8009/6973790056_20c1d35ec9_b.jpg
https://farm8.staticflickr.com/7115/7119872735_10d81cc18d_b.jpg

Lloyd also asked that I try this page out to verify the page is getting the correct sizes from the web view, which it appears to be:
https://fa

[2012-04-30 21:52] lloyd commented on #1517
@shane-tomlinson I worked with @sppavlov on this one, and have full context.  This is for our mozilla homies.  The key question is why do many sites render properly in this iOS popup thingy while we don't?  Is there a simple CSS change we can make in order to correctly detect the size and at least get the dialog to understand the size of the window?

[2012-05-01 02:13] jrgm commented on #1461
verified on stage train-2012.04.27 removed placeholder text

[2012-05-01 03:37] jrgm commented on #1496
verified fixed on stage train-2012.04.11 for IE6 and IE7 (winxp).

[2012-05-01 03:54] jrgm commented on #968
verified on stage train-2012.04.27 using FF 12 and an account with 3 primary eyedee.me addresses

[2012-05-01 05:15] jrgm commented on #1449
just noting still fixed in stage train-2012.04.27

[2012-05-01 05:57] jrgm commented on #1488
This was just a transient fix for GH-1437. Not a problem in stage train-2012.04.27 or prev train.

[2012-05-01 09:44] shane-tomlinson commented on #1502
@ozten, @lloyd - Lloyd and I talked about storing this data in localStorage a long time ago but decided against it because we have a leaky abstraction no matter how we look at it.  This leakiness is due to the fact that we need to be able to handle multiple BrowserID windows open from the same RP without causing collisions.

Originally, I wanted to store this data in localStorage keyed on the RP's

[2012-05-01 10:15] shane-tomlinson opened #1518 ""unknown path" displayed for "/about", "/TOS", and "/privacy""
Link to #1514

[2012-05-01 10:16] shane-tomlinson commented on #1514
This affects the staging with version:

[code]

[2012-05-01 10:28] shane-tomlinson commented on #1496
Closing since @jrgm has already verified.

[2012-05-01 10:28] #1496 closed, assigned to shane-tomlinson

[2012-05-01 10:28] #1505 closed, assigned to shane-tomlinson

[2012-05-01 10:48] shane-tomlinson commented on #1478
@jrgm - I am still unable to reproduce this on the same version of Chrome - https://skitch.com/set117/8ay6b/chrome-win7.  Is this still occurring?  Are you on 32 or 64 bit Win7?  Does this happen with dev?

[2012-05-01 12:54] shane-tomlinson opened #1521 "shared/user: setComputerOwnershipStatus with true, isUsersComputer fails with "noglobals" checked."
STR

1) Load up front end unit tests
2) Select "noglobals"
3) See error

[code]

[2012-05-01 15:56] ozten commented on #1502
Good point. I happened to name my url /sign_in, which adds to the confusion. If the API said, before using authenticate_api.js functions, you must have the window on the original URL you were sent too... then that would make sense.

Maybe this is too much work for the beta and we can fix this down the road, but I think you can handle this on the client side without introducing new server pieces.

[2012-05-01 16:41] #1478 closed, assigned to shane-tomlinson

[2012-05-01 18:28] jrgm commented on #1453
verified on stage train-2012.04.27. For either the required email case, and the general case, the link functions correctly and is styled consisent with other link styling.

[2012-05-01 18:45] jrgm commented on #1484
verified on stage train-2012.04.27 specifically for Chrome (this issue was just about Chrome). Loading /signup (or any other path at diresworb.org) shows no js exception in the console.

[2012-05-01 20:59] lloyd commented on #1517
@sppavlov - @shane-tomlinson confirmed that this is going to be WAAAY easier if there's a sample ipad app for us.  basically it's an app that shows a text box and a button.  put a url in the text box, click the button, and it pops up the url in the preferred modal thingy that you guys wanna display the sign-in dialog in.

Any way you guys can assist with this?

[2012-05-01 21:01] st3fan commented on #1517
@lloyd I'll build you something!

[2012-05-01 21:33] jrgm commented on #1396
verified on stage train-2012.04.27 by using firebug to verify css change on body for xhr_disable_form, and with ipfw to simulate a high latency connection for xhr_delay. Also closing as this change is in train-2012.04.27

[2012-05-01 21:33] #1396 closed, assigned to shane-tomlinson

[2012-05-01 22:08] lloyd opened #1523 "DNS-based delegation of the Support Document"
Multiple people have requested this.  Let's explore this idea with a concrete proposal.

Assigning @fmarier, cause this is kinda his bag!

[2012-05-01 22:24] lloyd commented on #471
+1.  bump.  fist pump.  etc.

[2012-05-01 22:30] lloyd opened #1524 "code cleanup: move statsd measurement of bcrypt time into bcrypt"
currently we've got statsd timing for bcrypt scattered throughout wsapi/*.js.  Instead we should move this into the bcrypt module.

[2012-05-01 22:33] lloyd opened #1525 "code cleanup: all responses from all wsapis always return json"
For consistency, we should rework our wsapis to always return JSON, combined with reasonable HTTP error codes.  currently we have a mix.  Sometimes in error conditions we return json.  other times we do not.

[2012-05-01 22:39] lloyd commented on #1497
kinda related to GH-218

[2012-05-01 22:56] lloyd opened #1526 "code cleanup: validate vs sanitize"
We have two code libraries for checking input parameters, one interfaced programmatically, one interfaced declaratively.

We should move all of our input validation into a single file, and make input validation clear and concise in each implemented API.  One way to go about this would be to change:

[code]

for instance, to

[code]

Basically I suggest we extend the parameter validation of the wsa

[2012-05-01 23:49] jrgm commented on #1446
verified on stage train-2012.04.27 for the above STR the 'is this your computer' is not displayed when adding the second
email address to the account. The question will be displayed the next time the dialog is used >60 seconds from then.

[2012-05-01 23:50] jrgm commented on #1460
@stomlinson is this distinct from GH-1446?

[2012-05-01 23:54] jrgm commented on #702
verified on stage train-2012.04.27. Links are consistently styled.

[2012-05-02 00:01] lloyd commented on #290
I'm tackling this now, issue #1000 forces our hand:

[code]

The regression that issue #1000 introduces, is that it makes it so a phishing attack is much more productive.

[2012-05-02 00:01] benadida commented on #290
ok glad you're on it, sorry I'm behind on these issues.

[2012-05-02 00:03] lloyd commented on #290
@benadida I'll want your review on this one.

[2012-05-02 02:23] ozten opened #1527 "verifier doesn't recognize delegation of authority"
Using a test setup on delegator.org that points to dev.clortho.mozilla.org, everything goes fine until
we go to check the assertion in https://github.com/mozilla/browserid/blob/dev/lib/verifier/certassertion.js#L137

We get
'dev.clortho.mozilla.org' may not speak for emails from 'delegator.org'"

I had manually tested this earlier, but I must have improperly tested it (?!?) or recent code changes

[2012-05-02 06:21] jrgm opened #1528 "/signin with cookies disabled still shows the form in the background"
Minor, but with cookies disabled, /signin still shows the form in the background. In comparison, /forgot and /signup do not show the form.

STR:
1. enable cookies in browser
2. load https://diresworb.org/signin
3. is the form visible behind the 'requires cookies' error message?

I think this is just a typo on the classname in resources/views/signin.ejs:
   s/disply_/display_/

I see the same typo

[2012-05-02 10:32] shane-tomlinson commented on #1460
@jrgm - this is a different problem than GH-1446.  This issue manifested itself when the user waited on the "is this your computer"? screen for more than 2 minutes, the user's assertion was expired before it was ever passed to the RP.

[2012-05-02 16:42] ozten commented on #1515
Done. Ran extract and merge then committed to SVN

http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/locale/af/LC_MESSAGES/client.po?r1=104229&r2=104938&pathrev=104938

[2012-05-02 16:42] #1515 closed, assigned to ozten

[2012-05-02 18:25] #1446 closed, assigned to shane-tomlinson

[2012-05-02 19:53] jrgm commented on #1383
Hmm, actually I was going to comment that I think that patch is wrong and has no effect. The main log files have been using ISO timestamp fields since 2012-03-15 in production. This patch was for metrics logs which still show as UTC strings. Shouldn't the 'timestamp' in the patch be an argument to the winston.transports.File constructor? But anyways,
I think the right way to switch to ISO timestam

[2012-05-02 20:08] jrgm commented on #1496
I was aware of the pull request to fix myfavoritebeer - https://github.com/lloyd/myfavoritebeer.org/pull/56 so I used
beta.myfavoriteshow.org to bring up the dialog with cookies disabled on IE6 and IE7  -- there is no double scrollbar.
There is a disabled scrollbar that looks acceptable to me.

[2012-05-02 20:08] floatingatoll commented on #1383
I confirmed that between 8 Mar and 15 Mar, staging BrowserID error logs switched to ISO formatted UTC strings.  So I'm happy as of March 15th, 2012, however that change was achieved.

[2012-05-02 20:22] jrgm commented on #1383
Oops, I said production but meant stage (since I can't see production anyways).

[2012-05-02 20:59] ozten opened #1531 "Create KPI Backend Datastore"
As fleshed out in https://id.etherpad.mozilla.org/38

Create a data store capable of receiving interaction data in the form of JSON formatted blobs.

Phase I
Write API
Simple Read API over time period

Phase II (will do in another GH Issue)
Read API over time period with filtering support

BrowserID webheads will write to this Datastore

[2012-05-02 21:01] jrgm commented on #1460
Okay, I see now what I was missing when trying against current production (which does not have this fix).

Just noting these STR for posterity:
1) signup a new email address via myfavoritebeer.org
2) logout and wait >60 seconds
3) click sign in on myfavoritebeer.org and use that email address
4) When you get the screen with "Is this your computer". Wait >120 seconds.
5) Click yes or no

Against tr

[2012-05-02 21:03] washort opened #1532 "`navigator.id.get(f)` will call f twice in some circumstances"
I ran across this while attempting to implement persistent login. If you log in via clicking the button, then reload the page, 'callback invoked' gets logged twice.

[code]

[2012-05-03 02:35] #1282 closed, assigned to ozten

[2012-05-03 02:39] #1150 closed, assigned to skinny97214

[2012-05-03 06:13] #290 closed, assigned to lloyd

[2012-05-03 06:13] #1000 closed, assigned to shane-tomlinson

[2012-05-03 06:17] lloyd commented on #290
Here's what was implemented.  We move password selection into the dialog - pre email confirmation.  Given that here's the power of verification links:
1. for a confirmation link that creates an account - if you are confirming in the same browser OR you retype the password chosen by the initiator of a request, you can create the account.  immediately after confirmation, the initiator will be authen

[2012-05-03 06:24] lloyd commented on #1258
fixed with 1971ecc

[2012-05-03 06:24] #1258 closed, assigned to lloyd

[2012-05-03 06:32] #1277 closed, assigned to lloyd

[2012-05-03 08:29] shane-tomlinson opened #1536 "code cleanup: remove the mediator and use the hub directly."
There really is no longer any reason to have a mediator that is just a thin wrapper around the hub.

[2012-05-03 10:10] shane-tomlinson commented on #607
@jbonacci - I forget what the original issue is about!  For the questions you raise above, I defer to @skinny97214.

[2012-05-03 13:12] a2sheppy opened #1537 "Attempting to log in using Chinese or Japanese fails, no browserid dialog"
This happens on MDN in particular; if I click the "sign in" link, no browserid UI is appearing if I'm on a page that's in Chinese or Japanese. Works fine for all other languages. In addition, if I'm logged in on MDN (via an English page), Chinese and Japanese pages do not think I'm logged in.

[2012-05-03 16:42] lloyd commented on #1537
several folks here have tried to reproduce this, we can't.  what else can you give us in terms of steps to reproduce?  @jrgm will follow up

[2012-05-03 16:57] callahad commented on #1523
I'm concerned about library authors managing the additional complexity that this introduces. How can we make it sufficiently simple?

@vthunder Suggested that people should just download and locally run our verifier.

[2012-05-03 16:59] callahad commented on #1518
(Not user-visible; these are errors that show up in the console)

[2012-05-03 17:05] fmarier commented on #1523
My feeling on this is that just like developers usually don't write their own crypto, they would hopefully use a verification library and not write their own.

[2012-05-03 17:19] #1460 closed, assigned to shane-tomlinson

[2012-05-03 17:25] shane-tomlinson commented on #1431
This was caused by me clearing localStorage.  Closing as user error.

[2012-05-03 17:25] #1431 closed, assigned to shane-tomlinson

[2012-05-03 17:45] benadida opened #1538 "make sure server entropy is factored into client"
as per:
https://github.com/mozilla/browserid/pull/1533#r766736

[2012-05-03 17:48] fmarier opened #1539 "Provide a key wrapping facility"
https://wiki.mozilla.org/BrowserID_Key_Wrapping

[2012-05-03 18:17] davidillsley commented on #1150
Kinda... but not really... the issue was about the UX of requriedEmail, rather than of myfavoriteshow.org specifically.

[2012-05-03 19:01] a2sheppy commented on #1537
I can reproduce it on my laptop as well as my desktop. It's pretty easy:

Go to, say: https://developer.mozilla.org/Project:ja/Copyrights

Try to sign in.

Doesn't work.

[2012-05-03 19:38] stephendonner commented on #1537
I can reproduce this as well, but am wondering (and have asked the MDN folks) if it's something they've purposefully disabled/redirected.  @lmorchard, @groovecoder?

[2012-05-03 22:39] jrgm commented on #1537
So it turned out that browserid login was disabled on MDN for Japanese and Chinese. The reason, as I understand it,
was that MDN folks were under the impression that browserid was not localized for those languages, and if so, wanted
to serve a localized username/password web form (instead of offering English in the browserid dialog).

So, browserid in production is localized for zh-CN and zh-TW. A

[2012-05-04 00:35] jrgm opened #1540 "clear password field if user changes email address in /sign_in dialog"
1. Go to 123done.org and click 'Sign in with Persona'
2. If already authed, click 'This is not me...'
3. Enter secondary email address that is known to diresworb.org and hit next.
4. In the password field enter 4 random characters.
5. User now "realizes" they entered the "wrong" email address (albeit one that is known to diresworb.org)
6. User goes back and fixes the email address to be the "corre

[2012-05-04 01:06] jedp commented on #1531
Started KPIggyBank (har har)
https://github.com/jedp/kpiggybank

[2012-05-04 01:55] benadida opened #1541 "remove extraneous code from lib/keysigner/ca.js"
minimize that codebase. verifyBundle and verifyChain can go. The verifier does not use this code.

[2012-05-04 02:28] jrgm opened #1542 "[Stock-Browser4.0/Android4.0] with cookies disabled, loading /signup does not result in 'requires cookies' screen"
STR
1. Use stock browser on android 4.0
2. Disable cookies in that browser
3. Go to https://diresworb.org/signup (or /signin, etc.)

Expected: 'requires cookie' screen is show and form is not available
Actual: form is available (although trying to submit with it does produce the 'requires cookies' error screen).

Notes:
- attempting to fill out and submit the form does result in the 'requires cook

[2012-05-04 02:57] jrgm commented on #1542
Oh, forgot to note: the same thing happens for the /sign_in dialog with Stock/4.0 and cookies disabled; a usable form is shown, but an attempt to submit that form results in a 403 response from the wsapi call and the 'requires cookies' error screen is shown.

[2012-05-04 03:24] jrgm commented on #1460
So, I've been through the above STR on Win7/WinXP (IE9/IE8,Chrome,FF,Opera,Safari), OSX (Chrome,Safari,Opera,FF), Ubuntu (Chrome,FF,Opera), Android4.0 (Stock,FF,Aurora), Android2.2 (Stock,FF), IOS5 (Safari) and don't have a problem (and also no problems in general with signup/signin/the-question when not waiting out the 2 minutes in answering the question). verified for train-2012.04.27

[2012-05-04 03:37] jrgm commented on #1418
So, I've used Win7/WinXP (IE9/IE8,Chrome,FF,Opera,Safari), OSX (Chrome,Safari,Opera,FF), Ubuntu Chrome,FF,Opera), Android4.0 (Stock,FF,Aurora), Android2.2 (Stock,FF), IOS5 (Safari) with cookies disabled and visiting /signin /signup etc. and popping the /sign_in dialog from an RP.

They all do immediately show the 'requires cookies' screen immediately on load, except GH-1542 where it doesn' t show

[2012-05-04 03:40] jrgm commented on #1390
So, GH-1530 is closed/verified as WONTFIX for myfavoritebeer, so I'll take @jbonacci's comment above and my testing as verified for stage train-2012.04.27

[2012-05-04 05:24] jrgm commented on #1418
Okay @jbonacci so verified.

[2012-05-04 08:40] shane-tomlinson commented on #1542
@jrgm - this is a known limitation with regard to recent versions of Android. https://github.com/mozilla/browserid/blob/dev/resources/static/shared/network.js#L641-643.  @lloyd, @benadida and I discussed various approaches to fix this including making an extra request to the server to check whether cookies were set, but in the end it was decided the delayed failure mode here was acceptable.

I wil

[2012-05-04 08:50] #1542 closed, assigned to nobody

[2012-05-04 15:40] jrgm commented on #1542
@shane-tomlinson Okay, thanks.

[2012-05-04 22:45] lloyd opened #1543 "dev: dialog stuck at "communicating with server""
from console: Uncaught TypeError: object is not a function

[2012-05-04 22:46] benadida opened #1544 "main site syntax error require"

[2012-05-04 22:56] stephendonner commented on #1543
+1

[2012-05-04 23:28] #1543 closed, assigned to nobody

[2012-05-04 23:28] #1544 closed, assigned to nobody

[2012-05-04 23:57] lloyd opened #1545 "dev: IdP support seems to be broken"
STR:
1. go to dev.diresworb.org
2. try to sign up with an eyedee.me address
3. complete successful auth in popup
4. notice error in console after popup completion

...

[code]

[2012-05-05 00:09] ozten opened #1546 "resources/static/shared/storage.js shouldn't delete storage element"
See https://github.com/mozilla/browserid/commit/0c781570915963ffd05948e14a6acc143ca6bf79#commitcomment-1295076

[2012-05-05 00:31] #1545 closed, assigned to nobody

[2012-05-05 00:32] benadida opened #1547 "running phantom tests logs Syntax Error to screen a few times"
but the tests still pass.

[2012-05-05 00:44] lloyd commented on #1547
culprit narrowed down: http://127.0.0.1:10002/test/?filter=samplingEnabled

[2012-05-05 00:53] #1547 closed, assigned to nobody

[2012-05-05 01:17] jrgm opened #1548 "[win7/Chrome] /sign_in dialog can be resized so the screen is (essentially) blank"
This is specific to Chrome on my Win7 VM. I can't get anything similar with other browsers. I have managed to duplicate this on OSX and Ubuntu using Chrome, but it is extremely difficult to find the right size to trigger it on those windowing systems.

However, on Win7/Chrome it is really easy to do this. (By easy, I mean "if you are trying to do this"; this bug may be nothing because most reasona

[2012-05-05 06:36] jrgm commented on #1101
(Closing this issue based on PR GH-1392 which is in train-2012.04.27)

Okay, so I've been using up-to-date versions of these OS/browser combinations:

OSX                    FF FF_Beta Chrome Opera Safari
WinXP                  FF FF_Beta Chrome Opera Safari IE8 IE7 IE6
Win7                   FF FF_Beta Chrome Opera Safari IE9
Ubuntu                 FF FF_Beta Chrome Opera
Android4.0/Nexus       F

[2012-05-05 06:36] #1101 closed, assigned to shane-tomlinson

[2012-05-05 06:37] jrgm commented on #1317
Closing and verifying for train-2012.04.27 - see https://github.com/mozilla/browserid/issues/1101#issuecomment-5524916

[2012-05-05 06:37] #1317 closed, assigned to shane-tomlinson

[2012-05-07 16:21] ozten commented on #1546
Consolidating exception logging, removing delete which can cause problems in Chrome. [Partially?] Fixes Issue#1546 - Austin King

New [pull request](https://github.com/mozilla/browserid/pull/1549) on branch issue1546-kpi-storage
http://git.io/mxFWIg

[2012-05-07 18:29] jrgm commented on #1537
This seems to have been an issue with MDN configuration. Closing.

[2012-05-07 18:29] #1537 closed, assigned to jrgm

[2012-05-08 08:39] #1546 closed, assigned to nobody

[2012-05-08 13:10] ForbesLindesay opened #1551 "Chrome popup hangs on "Communicating with server""
This happens indefinitely and the console shows the error "Uncaught SyntaxError: Variable 'i' has already been declared"
To reproduce, simply sign into http://myfavoritebeer.org/ on chrome and press F12 to the the error

[2012-05-08 14:48] shane-tomlinson opened #1552 "IE7/dev: Exceptions thrown on main site"
This is a regression from the current staging with the following properties:

[code]

Line: 2622
Char: 1
Error: Syntax error
Code: 0
URL: http://192.168.1.88:10002/

Line: 10
Char: 3
Error: Object expected
Code: 0
URL: http://192.168.1.88:10002/

Line: 46
Char: 3
Error: Object doesn't support this property or method
Code: 0
URL: http://192.168.1.88:10002/

Opening the script debugger reveals error

[2012-05-08 15:09] shane-tomlinson commented on #1552
@benadida - on line 2621 of lib/bidbundle, there is:

[code]

which is going to blow up all browsers.

Filing a separate bug about this.

[2012-05-08 16:22] shane-tomlinson opened #1554 "IE/dev: bidbundle.js uses 'const' which causes exception to be thrown"
line 2621 of bidbundle.js contains:

[code]

All variants of IE throw an exception here which makes both the main site and dialog unusable.

Link to #1552

[2012-05-08 16:51] shane-tomlinson commented on #1551
@Tuskan360 - Thanks for the report - I too am unable to reproduce this, which version of Chrome are you using?  Which language do you have set?  Are your cookies enabled?

[2012-05-08 17:13] shane-tomlinson opened #1555 "User has to type password 4 times when confirming on browser other than initiator"
A new user has to type their password 4 times when confirming their email on a browser other than the initiating browser.  This could happen if a user signs up for BrowserID on a mobile device and confirms on a desktop device.

Passwords 1 and 2 are needed in the dialog before the verification email is sent.
Password 3 is required in browser 2 when verifying email
Password 4 is required in the dia

[2012-05-08 18:07] shane-tomlinson opened #1557 "If user types wrong password in verify email screen, error dialog is displayed"
If the user types the wrong password in the verify_email_address screen, instead of getting a second chance to type their password, the user is shown the error dialog.  The user has to re-load the page to try again.

STR requires two browsers

1) In browser 1, open dev.myfavoritebeer.org.  Sign in to BrowserID with a new secondary account that must be verified.
2) In browser 2, open verification e

[2012-05-08 18:55] lloyd opened #1558 "ensure uncaught exceptions are logged"
we should make sure uncaught exceptions are properly logged, reported, and monitored.

[2012-05-08 19:50] ozten commented on #1558
Lloyd shared this scary blog post http://debuggable.com/posts/node-js-dealing-with-uncaught-exceptions:4c933d54-1428-443c-928d-4e1ecbdd56cb

[2012-05-08 19:54] ozten commented on #1558
Webdev is standardizing on [Sentry](http://sentry.readthedocs.org/en/latest/developer/client/index.html#a-working-example) for server side crash aggregation and analysis.

[2012-05-08 22:26] graingert commented on #1493
This seems to be fixed in mozilla/browserid@57ea50a bump version number with inclusion of final shipping locales.
locale svn r104778

[2012-05-08 22:26] #1493 closed, assigned to lloyd

[2012-05-08 22:51] ForbesLindesay commented on #1551
I'm using version `18.0.1025.168 m`
cookies are enabled
I've got the Last Pass extension installed
The error shows up in https://browserid.org/v/7e0b441f54/production/en_US/dialog.js

[2012-05-08 23:44] jedp opened #1560 "add default env var for mysql password"

[2012-05-09 00:12] ozten commented on #1513
Fixed in the `bigtent` branch.
http://git.io/PkeipA

Leaving open till it lands on `dev`.

[2012-05-09 07:16] aleksejrs commented on #314
If you go to browserid.org itself, Firefox can enter the password, but that takes something like entering your e-mail address and clicking Sign In, possibly because the password field does not appear without an e-mail address.

And of course, it doesn’t work in the popup.

[2012-05-09 21:42] skinny97214 opened #1564 "beta.beer and dev.beer unusable on Fx15"
osx/fx15-ux-nightly

STR - from either beta or dev.myfavoritebeer, click on [sign in]
hangs at "communicating with server" screen

[2012-05-09 21:51] skinny97214 opened #1565 "RP URL overflows"
See screenshot of url extending beyond the frame. It should wrap.

http://cl.ly/0y15272W1b0A2P1Z0F2S

[2012-05-09 22:17] jrgm opened #1566 "[ie8] red line at top of screen for /signin"
Don't know how I didn't notice this little line before:

![img](https://img.skitch.com/20120510-8nqg9hqcwba4sek2x5gwn5wj48.png)

That is with IE8 in standards mode on a freshly created user account on winxp. Minor cosmetic thing.

[2012-05-09 23:24] jrgm opened #1567 "dialog 'POST /wsapi/interaction_data' gets response 'HTTP/1.1 413 Request Entity Too Large'"
I was working with @jbonacci and @skinny using FF15 against dev.myfavoritebeer.org. While it worked for me ok, I noticed in network traces that I was getting a 413 response on /wsapi/interaction_data. The POST was trying to send >40KB of data (and we cap at 10K of course). I don't know how I got in this state though. I'll note that FF15/osx is my main browser and this process has been up since mid

[2012-05-09 23:52] skinny97214 opened #1568 "copy for screen that asks you to re-enter password"
If you're you set up a new account on one UA and verify your email, you see an extra screen that asks you to re-enter your password. This screen needs copy.

@lloyd can you post screenshot?

[2012-05-10 00:15] jrgm commented on #1567
So, one way to reproduce this (but the event_streams don't look similar to what I had for my initial report) is this:

1) set firefox to File->Work Offline
2) open, try to use the dialog, close the dialog (or just open/close many times).

The event streams accumulate. Take firefox back into online mode and open the dialog again. If you accumulated enough data you will get the 413 for more than 10K

[2012-05-10 00:34] lloyd commented on #1568
case 1: creating a new account: https://skitch.com/lloydhilaiel/83rnm/browserid-complete-registration

case 2. adding an email to an existing account: https://skitch.com/lloydhilaiel/83rn2/browserid-verify-email-address

[2012-05-10 00:54] jrgm commented on #1567
Oh, heh. Here's how you really reproduce this:
1. enter an email address that will cause email to be sent out and dialog to enter the 3 second polling loop on e.g., /wsapi/user_creation_status
2. let the dialog sit there for 10 or 12 minutes (the phone rang, email is delayed, someone at the door...)
3. You'll now have >10K of data to send the next time dialog is launched (and it never gets reset).

[2012-05-10 16:27] jcea commented on #1523
I am interested, for instance of being able to delegate the BrowserID identity provider to a subdomain.

My email is jcea@jcea.es. I would rather prefer to provide identity proof thru "browserid.jcea.es" instead of "jcea.es" webserver.

[2012-05-10 16:39] lloyd commented on #1568
target 5/9 sprint for copy

[2012-05-10 16:45] lloyd commented on #1564
four stars to assess whether this is us or them, then adjust appropriately

[2012-05-10 16:46] lloyd commented on #1560
fixed

[2012-05-10 16:46] #1560 closed, assigned to jedp

[2012-05-10 16:54] lloyd commented on #1554
taking this

[2012-05-10 16:55] jrgm commented on #1551
I've also tried with chrome 19 and 20 builds, but I can't reproduce either.

[2012-05-10 16:59] lloyd commented on #1551
@jrgm please investigate and decrement priority at your discression

[2012-05-10 17:04] lloyd commented on #1540
blank it, shane!

[2012-05-10 17:09] benadida commented on #1554
didn't @shane-tomlinson already fix this?

[2012-05-10 17:09] benadida commented on #1554
I distinctly remember merging a PR from him :)

[2012-05-10 17:17] vthunder opened #1570 "Certificate provisioning doesn't time out"
When using primary IdPs on various demo sites which use diresworb I've seen a hang during provisioning.

It should not hang - if IdPs don't respond the way we expect (e.g., because they are using a shim that talks to a different domain), it should time out and fail.

[2012-05-10 17:17] callahad opened #1571 "Bad failure mode (hang) for production IdPs on dev/beta RPs"
IdPs must be used with matching shim domains. Meaning a production IdP can't be used to sign in to a site pulling `include.js` from `dev.diresworb.org` or `diresworb.org`. The failure mode is a hang after typing in an email address, rather than an error, timeout, or fallback to the email dance.
#### Steps to Reproduce:
1. Visit http://123done.org/
2. Click "Sign in with Persona"
3. Type `foo@mockm

[2012-05-10 17:19] callahad commented on #1571
Eyedee.me had to add special casing to support use across all environments: https://github.com/lloyd/eyedee.me/blob/master/bin/eyedeeme#L83-112

[2012-05-10 17:23] callahad commented on #1571
...And both myself and @vthunder have botched demos because we forgot about this. :)

[2012-05-10 17:53] shane-tomlinson opened #1572 "User sessions seem to expire more frequently than every two weeks."
I signed in to BrowserID yesterday and never signed out.  Today I had to sign in again.

[2012-05-10 19:13] jrgm commented on #1551
@Tuskan360 can you enter about:flags in the urlbar in Chrome, and then search for 'Experimental JavaScript'? Does it show Enable or Disable? If it shows Disable, click that, restart Chrome and see if the error goes away.

If I enable that flag and restart Chrome, I can reproduce this error. This pattern will trigger it:

[code]

In my local build loading http://127.0.0.1:10002, I get two instances

[2012-05-10 19:23] jrgm commented on #1551
Okay, found the actual chromium bug report, which says it's a bug and fixed Feb 27, 2012, so probably in Chrome 19 builds. I think we can close this when @Tuskan360 confirms he had that flag enabled. http://code.google.com/p/v8/issues/detail?id=1942

[2012-05-10 20:37] lloyd commented on #1571
the portion of this bug about a graceful failure when provisioning doens't complete is captured in #1570

this bug then is specifically about making it clear what hosts you can rely on for demonstrations.

[2012-05-10 20:53] AxelNennker opened #1573 "Can't login @ www.browserid.org due to Firefox security exception"
I created an account at eyedee.me and tried to use it at https://www.browserid.org/.
I now find this error message
"Sicherheitsfehler: Inhalt auf https://browserid.org/ darf keine Daten von https://www.browserid.org/signin laden."
in Firefox 12 error console.
The UI experience is such that nothing happens when I press "Sign In". I am still not logged in.
The translation of the error message is:
“s

[2012-05-10 21:00] lloyd commented on #1573
we need www.browserid.org to cname to browserid.org

I'll open a ticket for this today or tomorrow.

[2012-05-10 21:00] lloyd commented on #1573
(user facing workaround for now is to use browserid.org, omit www.)

[2012-05-10 21:14] lloyd commented on #1554
no, what needed to happen is jwcrypto needed to be published.  that's done, ths is fixed, IE has other problems..

[2012-05-10 21:14] #1554 closed, assigned to lloyd

[2012-05-10 21:20] lloyd opened #1574 "IE8 don't work on dev"
At the moment we attempt to generate an assertion from within the dialog (after signing in), an error is displayed: "we're sorry, but an error has occured".

This affects IE8 on winxp, but not IE9, nor IE9 in IE8 mode.

[2012-05-10 22:10] lloyd commented on #1574
blocked on this upstream fix in jwcrypto: https://github.com/mozilla/jwcrypto/pull/17

/cc @benadida

[2012-05-10 22:18] AxelNennker commented on #1573
Or do some mod_rewrite magic if you control the httpd but not the DNS?
I guess there is something like mod_rewrite for node.js

-----Original Message-----
From: Lloyd Hilaiel [mailto:reply@reply.github.com]
Sent: Thursday, May 10, 2012 11:01 PM
To: AxelNennker
Subject: Re: [browserid] Can't login @ www.browserid.org due to Firefox security exception (#1573)

(user facing workaround for now is to u

[2012-05-10 22:21] #1574 closed, assigned to lloyd

[2012-05-10 22:23] lloyd opened #1575 "IE8 warning dialogs on dev: unresponsive script"
STR:
1. cause IE8 (not simulated IE8, the real one) on winxp to generate an assertion.  notice the unresponsive script errors.
2. that is all

we need setTimeouts, and I got just the spot.  /cc @shane-tomlinson @benadida

@benadida did you test the relative performance of jwcrypto before and after your latest changes?

[2012-05-10 22:24] benadida commented on #1575
@lloyd I did not, but I didn't change the crypto algs either.

[2012-05-10 22:24] benadida commented on #1575
@lloyd I wonder if one of the timeouts got squashed somewhere...

[2012-05-10 22:34] lloyd commented on #1575
problem is inside getAssertion in user.js

loadSecretKeyFromObject() is taking 2.2s on my virtualbox winxp vm using IE8

everything else (assertion.sign, cert.bundle) takes about 1.1s in the same env.

If I insert a `setTimeout` between these two operations, in my env at least, I don't see the unresponsive script errors.

[2012-05-10 22:48] skinny97214 commented on #880
The only change to the flow is to add this lightboxed over the RP.
MOCK http://cl.ly/2S100O470l0R2N1e3t3f

It shows only for these cases
- first run for each new email added
- migrating old users to add name and photo (Q3 feature)

For the second email, the name and photo will be prefilled. If the user closes the dialog, those values should not be associated with that account.

[2012-05-10 22:52] skinny97214 opened #1577 "prefill name and photo when setting up second email"
For the additional emails that a user adds, the name and photo will be prefilled. If the user closes the dialog, those values should not be associated with that account. Grab the name and photo from the first account. If the first account doesn't have values, grab from the second and so on.
#880 is the tracking bug

[2012-05-10 22:52] #1575 closed, assigned to lloyd

[2012-05-10 22:53] lloyd commented on #1575
[code]

@benadida - we just borked the port and dropped the setTimeout.  That's not to say we haven't regressed in performance, but it says we haven't _significantly_ regressed.

[2012-05-10 22:58] jrgm commented on #1503
Okay, welsh is now visible in production (or will be in about 30 minutes when we flip datacenters).

[2012-05-10 22:58] #1503 closed, assigned to ozten

[2012-05-11 02:15] jrgm opened #1578 "/forgot page needs some copy to explain why you need to enter a password when you've forgotten your password"
This dialog will be a bit confusing to most users. I just said I forgot my password and now it wants my password? What password? This is pretty much the same as GH-1568, but I'll make this separate since this is a much less commonly seen page on the main site and as a separate issue it can have a different priority for this train (or next). @jrgm

![img](https://img.skitch.com/20120511-nd2nkqcsec9

[2012-05-11 03:01] jrgm opened #1579 "Entering an unknown secondary email to /signin should disable the 'Sign In' button"
This is a total UI nit, and has been around for a while; punt it out as much as you want.

On /signin if you enter an secondary email address that is not known to browserid.org, the UI transitions to show "user@example.com is not registered. Would you like to sign up instead?", and provides two different links to move to /signup. The UI nit is that the 'Sign In' button is still visibly clickable (

[2012-05-11 05:38] jrgm opened #1580 "(dev/next-train) dialog 'forgot password' screen missing some context about which email"
STR:
1. go to http://myfavoritebeer.org/ or http://dev.myfavoritebeer.org/, and click 'Sign in'
2. enter an email secondary address that is previously known to (browserid.org|dev.diresworb.org)
3. when you get prompted for a password, click 'forgot password'
4. Here's the difference. In prod 'reset password' shows the email address that will be reset; in dev, it lacks that context (perhaps this is

[2012-05-11 08:08] ForbesLindesay commented on #1551
Yeh, sorry, forgot I'd enabled that a while back.  All now works fine :)

[2012-05-11 08:08] #1551 closed, assigned to jrgm

[2012-05-11 08:54] shane-tomlinson opened #1581 "dev/webkit: clicking on "sign in" in email picker causes button to shift right."
STR

1) Open Chrome or Safari
2) Go to dev.myfavoritebeer.org
3) Sign in with an account with multiple email addresses
4) Sign out of MFB
5) Click on an email address
6) Click on the left hand side of the "Sign In" button.
7) Watch the button shift - user must now click "Sign In" again.

I thought there was another issue about clicking the button twice, but I am unable to locate it.

[2012-05-11 09:35] shane-tomlinson commented on #1581
The button is shifted left by the width of the scroll bar that shows whenever there are too many email addresses.

[2012-05-11 09:48] shane-tomlinson opened #1582 ""Is this your computer" screen is not keyboard navigable."

[2012-05-11 10:07] shane-tomlinson opened #1583 "Chrome: Keyboard focus outline missing sides on several elements in email picker"
https://skitch.com/set117/83xex/screen-shot-2012-05-11-at-11.02.15-am

[2012-05-11 11:53] shane-tomlinson opened #1585 ""No" button in "is this your computer" screen has red outline when screen is closing."

[2012-05-11 16:16] stephendonner commented on #1471
+1

[2012-05-11 16:27] skinny97214 commented on #1580
Agreed, we need a short bit of copy that says this is a password reset

[2012-05-11 16:59] shane-tomlinson commented on #1471
is this related to #1581?  If so, I put in a fix today with pull request 1583

[2012-05-11 17:34] lloyd commented on #1471
I believe this is a duplicate of issue #1581

[2012-05-11 17:34] #1471 closed, assigned to shane-tomlinson

[2012-05-11 17:38] jrgm commented on #1580
Actually, I was thinking that showing the email address (as it was before) would be good (what email address am I resetting).

[2012-05-11 17:54] lloyd commented on #1567
with respect to this bug, there are at least three things going on:
1. we're collecting a ton of data during polling that is not valuable.  perhaps we should not be doing this.  this would suggest surpressing xhr events (only capture xhr _errors_)
2. interaction blobs accumulate when you're offline.  Maybe we should have a max backlog?  we need some way to deal with this
3. the client _should_ del

[2012-05-11 18:22] lloyd commented on #1567
The above commit fixes #3 mentioned above.  But this issue needs to stay open.  remaining action items:
1. #1, #2, #4 from above
2. perhaps we should introduce a client side upper bound as well, and if blobs are above that, don't even try to post?

[2012-05-11 18:26] lloyd commented on #880
to confirm, for a MVF (minimum viable feature), would we have a way to update photo and name on the manage pagE?

[2012-05-11 18:27] skinny97214 commented on #880
I would prefer that we did. Uno momento, i'll open another bug...

[2012-05-11 18:28] skinny97214 opened #1588 "add name and photo to manage page"
MOCK http://cl.ly/1n332N1V2s3Y2L2T3s18
#880 is the tracker

[2012-05-11 18:29] jrgm commented on #1567
@lloyd also noted that this feature will not be enabled in prod (or in stage), so with the above PR, I'll change this to 4-star and we can address the remaining points for the next train.

[2012-05-11 18:29] skinny97214 opened #1589 "show name and photo in email picker"
a.k.a. contact card

skinny owes a mock for this.
#880 is the tracker

[2012-05-11 18:59] lloyd commented on #1581
merged in, tested, so much better.  thank you shane.

[2012-05-11 18:59] #1581 closed, assigned to shane-tomlinson

[2012-05-11 21:38] jrgm opened #1590 "(dev/train-2012.05.11) /signup: during signup, change from secondary to primary email is not handled correctly in UI"
STR (I was using dev for the upcoming 2012.05.11 train):
1. Go to the management site dev.diresworb.org and click signup
2. Enter a secondary email address that is not known to dev.diresworb.org
3. Click 'Verify Email'
4. Enter password twice. Do not click 'Verify Email' a second time (yet)
5. Realize you mistyped the email address; Edit the email address to now be a primary email address.
6. Clic

[2012-05-11 22:34] jrgm commented on #1580
Actually, sorry, yeah, you're right. Both copy and what email should be there.

[2012-05-12 01:44] jrgm commented on #1475
I noticed this on an iPhone 4s today, with Safari + dev.diresworb.org, and my network was sluggish. The message I got
could be seen on either the /signin or /signup page when rapidly clicking from one to the other. The message was about
cookies disabled. On a late Friday afternoon whim, I used ipfw to induce some latency on my osx laptop, and could reproduce it on FF12.

@st3fan did you ever click

[2012-05-12 18:40] mathjazz opened #1591 "New train branched notice"
@lloyd Please let me know when the new train (train-2012.05.08?) is branched, so I can extract the strings.

[2012-05-12 18:42] lloyd commented on #1591
I'll branch today.

--lloyd

On May 12, 2012, at 12:40 PM, Matjaž Horvatreply@reply.github.com wrote:

[2012-05-13 23:41] fmarier commented on #1582
In my desktop Firefox (12), it is kinda navigable but in a fairly painful way:
- I need to tab until the end of the page (then it wraps around)
- Eventually the focus ends up on the Yes button
- I can press Enter there and it works

[2012-05-14 10:37] mathjazz commented on #1591
Hey @lloyd, any progress?

[2012-05-14 16:04] lloyd opened #1592 "train-2012.05.14 will break outstanding verification emails"
This train includes a fix for issue #1000, which will prompt users for their password inside the dialog, as opposed to after they click the verification link from their email.

As it stands right now, at the time we roll the train, all outstanding verification links will not work properly.

We must assess exactly how they will fail, and determine the impact and amount of user confusion that will e

[2012-05-14 16:08] lloyd commented on #1591
branched `train-2012.05.14`.  I apologize for the delay, it's my fault, and mine alone :/.

[2012-05-14 16:08] #1591 closed, assigned to nobody

[2012-05-14 16:22] lloyd commented on #1592
Dreaming up potential solutions:
1. make it so these users are prompted in the verification page for password.
2. make it so signin succeeds, but users have to figure out reset password later
3. invalidate verification links

[2012-05-14 16:42] lloyd commented on #1592
@shane-tomlinson and I assessed the cost of #1 -

[code]

[2012-05-14 19:21] lloyd commented on #1592
details of #1 captured here: https://id.etherpad.mozilla.org/41

[2012-05-14 21:41] graingert opened #1595 "lloyd/eyedee.me needs to be documented"
Currently the documentation is empty

It would also be good for lloyd/eyedee.me to be forked to mozilla/something

[2012-05-14 22:57] jrgm opened #1596 "update load_gen for the changes to jwcrypto"
The browserid/bin/load_gen stuff needs updating to match the changes to the jwcrypto api. On the train-2012.05.14, starting load_gen fails with "Error: Cannot find module 'jwcrypto/jwk.js'".

The train-2012.04.27 also doesn't work running against current stage with train-2012.05.14 (many 400 errors like "error: (signup) can't stage user, non-200 response: 400") which I assume(?) would be expected?

[2012-05-14 23:45] lloyd commented on #1596
Roger.  And it's high time I add a test so this stops happening.

--lloyd

On May 14, 2012, at 4:57 PM, John Morrisonreply@reply.github.com wrote:

[2012-05-15 00:33] jrgm opened #1597 "uploaded interaction data not always sending lang, timestamps, etc."
1. Delete all history from a browser profile (or in web console with dev.diresworb.org loaded `delete localStorage.interactionData`).
2. Load http://dev.myfavoritebeer.org/ and click sign in.
3. Close the dialog
4. Click sign in to bring up the dialog and close it again.
5. Click sign in to bring up the dialog and close it again.

On the second load of the dialog at step 4, a blob like this is pos

[2012-05-15 02:20] jrgm commented on #1567
confirming again in dev the fix for #3 413 -> clear data from local storage, and also checked the /wsapi/session_context in stage train-2012.05.14 is returning '"data_sample_rate":0 so no interaction data is collected in stage.

[2012-05-15 02:26] jrgm commented on #1514
Closing and verifying for stage train-2012.05.14 - /tos, /about, /privacy are viewable with cookies disabled, /signup, /signin, /forgot, /add_email_address, /verify_email_address display the 'BrowserID requires cookies' error screen.

[2012-05-15 02:26] #1514 closed, assigned to lloyd

[2012-05-15 04:36] jrgm opened #1598 "[ie8] dialog, signing up new secondary, password field not focused"
Total UI/a11y nit. I only see this on IE8, not on other desktop browsers.

STR:
1. Load beta.myfavoritebeer.org and click sign in
2. Enter an unknown secondary address (e.g., foo@example.com) and click 'next'

Expected: the first password field should now have focus for typing

Actual: focus doesn't appear to set anywhere in content

[2012-05-15 04:42] jedp commented on #1597
Thanks, I'll take a look at this.

[2012-05-15 05:02] jrgm commented on #1598
Actually, there's a few other places where initial focus seems wrong. There are bigger fish to fry than this ui nit. 2-star.

[2012-05-15 05:16] jrgm commented on #1597
I should note that I was doing this with FF12 and the extension HttpFox which shows all network traffic from all browser windows. Not sure how to see the same thing (specifically the network IO in the /sign_in dialog) in other browsers, but should be the same.

[2012-05-15 17:22] lloyd opened #1599 "code cleanup for old existing field in stage table"
at the time we migrated from using email addresses in sessions to user id's, we introduced some transitional code to handle outstanding verification emails.  That code is now unnecesary, and should be cleaned up.

This cleanup is low risk, and should happened before we attack issue #1592, to reduce complexity and craziness

[2012-05-15 18:11] skinny97214 commented on #1577
Initial state
http://cl.ly/0I390s2D1l2J2v1W3f3R

On hover, the X on the corner of the picture is black
http://cl.ly/0I390s2D1l2J2v1W3f3R

When X is clicked, ajax fade to default picture and show an {undo} link that undoes the delete.
http://cl.ly/2D3y08363r3x2n0g0o3J

[2012-05-15 18:26] skinny97214 commented on #1479
The spec is

You should only see the challenge screen if you log into a new computer and then log in again more than 24 hours later. You should only see it one time per computer (unless you've cleared all saved devices, which is a feature we'll implement in the future.)

[2012-05-15 18:40] lloyd commented on #896
taking this

[2012-05-15 18:40] lloyd commented on #896
/cc @skinny97214

[2012-05-15 18:41] lloyd commented on #896
[code]

[2012-05-15 18:42] lloyd commented on #896
also this: 12:41 < ednapiranha> https://github.com/mozilla/tabzilla

[2012-05-15 18:56] #1599 closed, assigned to lloyd

[2012-05-15 21:37] skinny97214 commented on #885
Example from kickstarter of how this is placed
http://cl.ly/2z3W3J0I0C052E1N0A16

[2012-05-15 21:57] lloyd commented on #1592
implementation is complete, tests pass, manual testing of the features looks good to me.  Here are the steps required to fully test this fix in the staging environment:
1. deploy `train-2012.04.27`
2. open dialog in myfavoritebeer
3. add an email or create a new user (depending on the case you're testing, described below)
4. PAUSE javascript execution - if the dialog encouters an error while polli

[2012-05-15 22:14] lloyd opened #1602 "dev: in-tree example primary is broken"
[code]

steps to reproduce:
1. try to use the in-tree sample primary with an email address like `meh@example.domain`

[2012-05-15 22:23] #1602 closed, assigned to nobody

[2012-05-15 23:44] skinny97214 commented on #896
Lloyd, you're clear for takeoff. I'll come in and wallpaper when it's built and post the CSS like we did with 123done.

[2012-05-16 00:40] lloyd commented on #896
Roger, tower.  We,ll aim to get off the ground tomorrow.

--lloyd

On May 15, 2012, at 5:44 PM, Crystal Beasleyreply@reply.github.com wrote:

[2012-05-16 10:15] shane-tomlinson commented on #1592
@lloyd - Logically, the code makes sense.  I have been trying to test both locally and using a remote instance and keep getting a "database unavailable" error whenever "/wsapi/email_for_token" is called after doing the upgrade from train-2012.04.27 to issue1592.   I am sure missing something extremely obvious.

[2012-05-16 15:46] ozten opened #1604 "Enable adding a proxyidp email address to an existing account"
STR

Setup a normal account with a secondary email address.

Sign in but add an email address from yahoo or gmail.

Expected: Should just work

Actual: Doesn't.

[2012-05-16 16:14] jedp commented on #1597
Thanks for the steps to reproduce - very clear!

[2012-05-16 16:16] shane-tomlinson commented on #1604
@ozten - it should work after the changes I pushed to the bigtent branch yesterday.

[2012-05-16 16:19] ozten commented on #1604
damn skippy!

[2012-05-16 16:19] #1604 closed, assigned to nobody

[2012-05-16 16:55] ghost opened #1605 "The user is requested to enter his password twice when adding a non-primary email to a primary account"
Browser: Firefox 13.0
OS: Windows 7

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Sign up with a primary email.
3. Logout from the website and click on the Sign In button.
4. Click on the "Add another email" link.
5. Enter a non-primary email and click "add".
6. Enter a password in both required fields and click the "verify email" button.
7. Open your email client in another tab

[2012-05-16 17:08] ghost opened #1606 "It's not possible to add a non-primary email to a primary account after all non-primary emails have been removed from it"
Browser: Firefox 13.0
OS: Windows 7

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Sign up with a primary email.
3. Add one or more non-primary emails to this account.
4. Load https://diresworb.org/ in another tab of the browser.
5. From https://diresworb.org/, remove all the non-primary emails from your account.
6. Go back to http://beta.myfavoritebeer.org/ and try to a non-prim

[2012-05-16 17:41] callahad commented on #1595
Closing as a duplicate of https://github.com/lloyd/eyedee.me/issues/2

We're holding off on forking it to mozilla until we figure out if it should be a long-lived example project, or if more "real world" production services (like https://github.com/mozilla/vinz-clortho) might better fill that role.

[2012-05-16 17:41] #1595 closed, assigned to callahad

[2012-05-16 23:12] jedp commented on #568
Note that this also happens if the server crashes.  So if there were an outage, you'd get a misleading message.

STR:
1. Run browserid
2. Go to localhost:10001
3. Crash browserid
4. Click 'Get an assertion'

The login dialog appears and hangs, saying "Communicating with server"

[2012-05-17 01:59] jrgm commented on #1592
Just noting that when testing as described above and using the mysql impl (not the db/json), there is a bug with the case 'new acct / same browser'. You are challenged to enter a password, but upon submitting the from, you get back an error screen 'We are very sorry, the server is under extreme load' which really means "the webhead got a 503 from the dbwriter".
@lloyd is looking into this and can

[2012-05-17 07:24] jrgm commented on #1592
On the other scenarios, when backed by mysql on an awsbox:

2) new acct/ different browser:
- I am prompted for a password in the verification screen, but get a 503 when I submit that form. (errors in logs about 'unknown secret', and NULL is set as the password). So basically the same as 1.
- the dialog does transition to prompt for a password, but the password I had tried to submit is not valid (

[2012-05-17 16:42] jrgm commented on #1596
-> me to try it and close

[2012-05-17 16:47] skinny97214 commented on #1588
A little tweak to make it consistent with the upload UI that I used in the lightbox

USE THIS MOCK
http://cl.ly/2S0n0I2V463l0s423C3J

[2012-05-17 18:56] fetep opened #1608 "dbwriter did not auto-reconnect to mysql master"
We had a networking incident that impacted scl2<->phx1 traffic, and the dbwriters in phx1 lost their connection to the mysql master (in scl2) and did not reconnect on their own.

lsof shows no :3306-related open FDs.  dbwriter.log doesn't have any clues.

[2012-05-17 22:41] ozten opened #1609 "Forgot my password flow busted in production"
Steps to Repro

1) Go to http://myfavoritebeer.org/ and signin
2) (Optional) If already logged in, click this is not me
3) Enter BID email
4) Click 'Forgot my password' and click Reset Password

Note: No feedback screen is shown indicating that you should check your mail

5) Check mail and click reset link

Example:  https://browserid.org/verify_email_address?token=qrWHuLiaVGW7F-48-char-string-0Zr

[2012-05-17 22:44] jedp commented on #1609
I get the same result.  I do think the 'check your email' feedback screen appears for a fraction of a second

[2012-05-17 23:29] ozten commented on #1609
@fetep is on the scene.

FYP flows working agan. Closing, assuming we'll evaluate elsewhere.

[2012-05-17 23:29] #1609 closed, assigned to nobody

[2012-05-18 04:13] jedp commented on #1541
Pulled rebased branch: eb1570d

[2012-05-18 04:13] #1541 closed, assigned to jedp

[2012-05-18 04:47] jrgm opened #1611 "Consider adding the current webhead commit sha to session_context and interaction_data for kpi"
This is from a brief irc chat with @jedp and @fetep
1. Add the current commit sha of the webhead to the response of `/wsapi/session_context`
2. Return that commit sha value in the blob sent back to `/wsapi/interaction_data`

This would help in understanding of how releases improve usability.

[2012-05-18 05:53] jedp commented on #1611
I think that's an excellent idea.

[2012-05-18 07:55] shane-tomlinson commented on #1609
@ozten - All seems fine at 08:54 GMT on 05.18.2012.  Is this related to the PHX1 DB change Jeff Viers wrote about yesterday?

[2012-05-18 13:28] shane-tomlinson opened #1613 "whitelist which fields are sent to backend in KPI data."
Right now we are sending things like local_timestamp which are used internally but should not be sent to the backend as they could be used to fingerprint users.

[2012-05-18 13:32] shane-tomlinson opened #1614 "KPI event stream names should follow <namespace>.<event_name> format"
Right now we sending the internal message names that are sent to the mediator. This is not useful for the backend as the mediator is full of extraneous data and does not directly say which screens a user sees.

[2012-05-18 13:50] fetep commented on #1609
@shane-tomlinson slightly related. One of the three databases in phx1 had replication lag (the master was in scl2 for most of the day) because of some network blips; we failed over the master to phx1 to avoid being impacted by any more networking work happening in scl2 yesterday + today.

[2012-05-18 14:41] ozten commented on #1611
I'm assuming the graphs would integrate our statsd ping's when we do a release, so we could have a vertical bar denoting each release.

Are 1 and 2 needed to deliver the data technically (code migration or whatever), or just to record the release?

[2012-05-18 14:45] shane-tomlinson opened #1615 "More than one tooltip can be displayed at once"
STR

1) Open the dialog.
2) If logged in, click "this is not me"
3) put cursor in email field
4) Press "enter" multiple times.
5) Watch the tooltip get darker after each click.

[2012-05-18 21:55] ozten commented on #1546
I think the tree is complete, issues were worked on across different areas. Sorry.

[2012-05-18 22:02] jrgm commented on #1581
verified no shift as described in stage train-2012.05.14

[2012-05-18 22:23] jrgm opened #1618 "[ie6,ie7] redirect https://login.persona.org to https://login.anosrep.org/unsupported_dialog"
Follow on from GH-1529, IE6 is viewable now, but there is a second scrollbar on the right, and a thick black line below the header.

But IE6 (IE7) don't really work for most of the rest of this site (they can't ever really work), and perhaps we should just redirect all pages (except /tos and /privacy) to a simple static "upgrade your browser" page (the same way we do with the dialog).

[2012-05-18 22:30] jrgm commented on #1575
verified in stage train-2012.05.14 - ie8 on winxp is not showing significant delays in generating the assertion.

[2012-05-18 22:31] jrgm commented on #1574
verified stage train-2012.05.14 - I can use xp ie8 without errors.

[2012-05-18 22:34] jrgm commented on #1544
verified code in train-2012.05.14. No way to repro a problem.

[2012-05-18 22:36] jrgm commented on #1543
Ah, I see. Part of GH-1544. Verified.

[2012-05-18 22:40] jrgm commented on #1567
@jbonacci see https://github.com/mozilla/browserid/issues/1567#issuecomment-5657535 above. The primary issue is fixed but the problem is not completely fixed. Looking back at what's left, I think I will split out the issues to separate issues, and then close this one and verify (actually have already verified against dev last weekend, but will re-check the actuall train branch).

[2012-05-18 23:15] jrgm commented on #1567
verified in dev (can't be verified in stage train-2012.05.14; the code is in that train, but the kpi feature is disabled there).
Closing and marking verified. Splitting out the other three points in  https://github.com/mozilla/browserid/issues/1567#issuecomment-5657535

[2012-05-18 23:15] #1567 closed, assigned to lloyd

[2012-05-18 23:20] jrgm opened #1619 "From GH-1567 - consider not recording repetitive polling XHR requests"
From GH-1567, the most critical point (#3) in https://github.com/mozilla/browserid/issues/1567#issuecomment-5656953 is fixed. I'm splitting out the remaining 3 points as separate issues.

This is point #1 - "@lloyd - we're collecting a ton of data during polling that is not valuable. perhaps we should not be doing this. this would suggest surpressing xhr events (only capture xhr errors)".

For exa

[2012-05-18 23:50] jrgm opened #1620 "From GH-1567 - interactionData accumulates when working offline"
From GH-1567, the most critical point (#3) in https://github.com/mozilla/browserid/issues/1567#issuecomment-5656953 is fixed. I'm splitting out the remaining 3 points as separate issues.

This is point #2 - "@lloyd - interaction blobs accumulate when you're offline. Maybe we should have a max backlog? we need some way to deal with this".

STR:
1. Go to dev.myfavoritebeer.org and click signin.
2. C

[2012-05-18 23:58] jrgm opened #1621 "consider upping the 10K limit on HTTP POST"
From GH-1567, the most critical point (#3) in https://github.com/mozilla/browserid/issues/1567#issuecomment-5656953 is fixed. I'm splitting out the remaining 3 points as separate issues.

This is point #2 - "@lloyd - if the above explorations do not solve the problem, then we need to consider upping the 10k limit"

The limit was introduced in GH-822 and GH-878, but ISTR that node has been fixed fo

[2012-05-19 00:15] jrgm opened #1622 "Limit the size of posts to /wsapi/interaction_data on the client side"
One other point from GH-1567 - "@lloyd - perhaps we should introduce a client side upper bound as well, and if blobs are above that, don't even try to post?".

I think that's a good idea. For example, when I do accumulate a blob > 10K, even though the server returns 413, there is still a noticeable pausing in beginning the /sign_in dialog (more noticeable on a slower network).

[2012-05-19 00:17] jrgm commented on #1567
Hmm, now this feels like I overkilled, but I filed GH-1619, GH-1620, GH-1621, GH-1622 as followups.

[2012-05-20 01:01] ForbesLindesay opened #1623 "Logout not working with persistent login"
Tested on Chrome & Firefox.  Whenb I call `navigator.id.logout(cb)` it doesn't work to actually log the user out if persistent login is enabled, this leads to the user being silently logged back in again.  See Code:

[code]

[2012-05-20 05:58] ForbesLindesay commented on #61
Would it be possible to make it something the website has control over?  I'm not too fussed if someone manages to break into my myfavouritebeer account, but I do care if someone gets onto the admin panel for windows azure for example.  Could we make the browser have an option to request a newly validated token, requiring the password to be re-entered.  Together with the required-email option, this

[2012-05-20 18:54] lloyd commented on #1596
nice, @jedp merged.  I'm going to close this, @jrgm please re-open if things don't work as advertised.

[2012-05-20 18:55] lloyd commented on #1592
hi.  so commit eef9e22 should fix the problems in this branch.  let's retest the four cases and if the pass, get this merged.

[2012-05-20 18:56] #1596 closed, assigned to jrgm

[2012-05-21 00:26] lloyd commented on #647
word.  Would expect that we would have been logging logs of angry errors due to our recent connectivity issues that prompted the opening of issue #1608.

[2012-05-21 00:33] lloyd commented on #1608
do we have actual user visible impact associated with this?  the way the code is constructed, connections are lazy based on requests that require database writes.  It appears based on other writeups of the issue that we did in fact have attempted requests that failed.

it would be helpful to see the relevant subset of the dbwriter logs durring the period immediately preceding the outage to slightl

[2012-05-21 00:36] lloyd commented on #1277
+1 - and during that verification we should see if we can see any oddities in the reconnection logic that may have caused issue #1608.  perhaps a quick live test in stage would let us regress this bug and get some insight into issue #1608

[2012-05-21 02:02] fmarier opened #1624 "Minified javascript missing license and link to source"
https://browserid.org/include.orig.js has the following header:

[code]

but that header is missing from https://browserid.org/include.js which I think is the place where it was intended to show up.

[2012-05-21 02:17] lloyd commented on #1624
we probably broke this when we reworked our compression many moons ago.  we should determine what if anything we want at the header of this file and repair it.  `scripts/compress` is a good place to look for the gunk that does the compressin'.

[2012-05-21 02:59] billder commented on #1580
The tricky thing here is overly associating a specific email address with the password. I'd like for people to associate the password with Persona, and not with one specific email address.

[2012-05-21 07:02] jrgm commented on #1592
Okay basically the above 4 scenarios work with that most recent change on issue1592, in that there are no errors and ultimately the user is authenticated.

However, in the 'new acct/same browser' and 'new sec to pri only acct/same browser', I have had occasions where the dialog still challenges for a password even though the verify_email_address|add_email_address completes ok. I'll look more tomor

[2012-05-21 08:23] shane-tomlinson commented on #1621
@jrgm - is this 10K total size or 10K JS string characters?  JS strings are encoded using UCS-2 or UTF-16 with each character taking up 2 bytes.

[2012-05-21 08:23] shane-tomlinson commented on #1621
@jrgm - secondly, is this total size per blob or total aggregate size of all blobs sent?

[2012-05-21 09:03] jrgm commented on #1621
On the first question, the limit is on bytes transmitted in the POST (including the headers). Actually, the KPI payloads we send only contain 7-bit characters (sent as UTF-8 if it actually ever mattered).

On the second question, the limit applies on the total size of any POST (see GH-822).

[2012-05-21 13:01] lloyd commented on #1621
I think we first need to clean up the event stream with stable event names and meaningless states ommitted.  Then dev will stream blobs to kpiggypank and well get a mean size. If anywhere near 10k we can double the limit.

--lloyd

On May 21, 2012, at 3:03 AM, John Morrisonreply@reply.github.com wrote:

[2012-05-21 15:52] lloyd commented on #1611
have a look at the 'enable_code_version' configuration option.  We can default this on and it should solve the first half of the problem.

this was introduced to solve a different problem, but we went a different way.  we left in the functionality and config tho, and can use it now.

lloyd

[2012-05-21 15:54] lloyd commented on #1613
+1 - "id" concerns me too.  and generally we should make every addition to this blob require explicit action.  whitelist, not blacklist.  @stomlinson++

[2012-05-21 15:59] lloyd commented on #1611
I wrote my response via email, before reading ozten's followup.  He's right.  because we have precise release times, and because they only happen once every two weeks, it could be perfectly viable to encode those separately somewhere and draw lines on graphs.  I like that approach better.

[2012-05-21 16:14] lloyd commented on #290
nice catch, @jbonacci.

[2012-05-21 16:21] lloyd commented on #1567
overkill wfm.

[2012-05-21 17:41] #1592 closed, assigned to lloyd

[2012-05-21 17:59] lloyd commented on #1592
closed with extreme prejudice, btw.

[2012-05-21 19:04] jrgm commented on #1611
Yeah, this isn't necessary. Retracting my suggestion. There is a tiny bit of slop at the time we ship and the blob returned is from the release prior to the current one, but this is just a tiny bit of noise.

[2012-05-21 19:04] #1611 closed, assigned to nobody

[2012-05-21 20:17] briandorsey opened #1626 "How to add email address from Account Manager page?"
On the BrowserID Account Manager page, the text implies that I can add
multiple email addresses, but I couldn't figure out how to do it.

The edit button reveals an option to remove addresses, but not add. I expected a
button somewhere to add a new address to the account.

Marked up UI examples here:
http://imgur.com/a/O9xxG

Thanks for looking at it!

Take care,
-Brian

[2012-05-21 20:28] ozten commented on #1626
Background Question:
Where you able to find and use the 'Add another email' link in the dialog, from https://myfavoritebeer.org or another website?

[2012-05-21 20:29] benadida commented on #61
@ForbesLindesay what you're asking for there is what some folks call "Levels of Assurance." We are thinking about how to do that properly, e.g. requesting an ID for the purpose of a large purchase, which would then cause a password reprompt. No clear design on this yet, but we welcome ideas and needs just like yours!

[2012-05-21 20:42] ozten commented on #1626
@skinny97214 what is the long term plan for the account manager page? Will it get this feature with the rebranding?

[2012-05-21 21:52] ForbesLindesay commented on #61
Cool, I really look forward to seeing what you come up with.

[2012-05-21 23:48] briandorsey commented on #1626
Yes indeed. I didn't see that issue in my first search.

@ozten: I haven't actually _used_ BrowserID on a real site yet. Just poking around to see how it works so far. :/

Closing as a duplicate.

[2012-05-21 23:48] #1626 closed, assigned to nobody

[2012-05-21 23:49] briandorsey commented on #421
FWIW, I also ran into this while learning about BrowserID. Seems like a natural fit for the Account Management page. It never occurred to me to attempt to log into a site to add another email address.

[2012-05-22 05:38] ozten opened #1628 "wsapi_client.js location should not be in main lib"
Code that supports production services (browserid, verifier, etc) should be directly under `lib` or a sub directory of lib.

Some code, such as `lib/wsapi_client.js` is only used by supporting tools, such as `bin/load_gen`, `scripts/create_account`, or vows tests.

It would be best to move these out of lib to reduce confusion when contributors are first learning the codebase.

Suggested location:

[2012-05-22 06:02] ozten commented on #1628
`lib/tools/` as a parent directory would be another way to roll.

[2012-05-22 12:39] shane-tomlinson opened #1629 "Reset password flow"
From a conversation that @skinny97214 and I had, setting the password after a reset password should be on the main site.

@skinny97214 - can you weigh in on this?

Link this to #1580, #1578, #730, #1474

[2012-05-22 13:25] shane-tomlinson commented on #1620
@jrgm - this will be fixed along with the fix to #1597, which is under review.

[2012-05-22 13:26] shane-tomlinson commented on #1619
This will be fixed with #1614

[2012-05-22 17:18] fetep commented on #1608
It wasn't re-connecting, and our nagios probes that theoretically should be causing a database connection were also failing (they hit /wsapi/ping)

[2012-05-22 17:27] ozten commented on #1608
Based on @fetep's thorough writeup (via email) I think these are the STR

1) Startup services backed by MYSQL
2) Stop mysqld
3) Go through login flow manually (or potentially many times via load_gen or whatever)
4) Start mysqld
5) Go through login flow

To fix this, I'll need a way to reproduce our code failing to reconnect consistently.

[2012-05-22 17:37] ozten commented on #1608
Manual testing stopping and starting mysql during various steps doesn't repro.

I see expected behavior:
Error screen
browserid (25592): warn: database is down, cannot process request: Error: connect ECONNREFUSED
dbwriter (25581): warn: database connection down: Error: connect ECONNREFUSED
Recover once msyql is started.

Will read code more closely as well as look at using load_gen to repro.

[2012-05-22 17:48] fetep commented on #1608
The actual scenario is losing our TCP link.  So if you can run your
mysqld on another machine, and add an iptables block that will force
existing and new connections to timeout, that would be best.

[2012-05-22 17:57] ozten commented on #1608
I guess a custom node proxy be a simple route, which points at the real MySQL port sometimes and a non-MySQL port other times.

If I can't get that working, I'll try iptables or a second VM. Thanks Pete!

[2012-05-22 18:43] ozten commented on #1608
Running this simple single-connection oriented proxy and things work as expected, after 12 operations we emit a timeout...

https://gist.github.com/2770854

[2012-05-22 21:17] ajalgaonkar opened #1631 "Fail gracefully when user attempts to copy+paste their password"
User agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:15.0) Gecko/15.0 Firefox/15.0a1

Steps to reproduce:
1. Go to https://browserid.org
2. Next try and create a new account or Click forgot password and then try to go through the reset password link.
3. Once in the screen for password confirmation, enter the value in the password field, "select all" and paste in the field.
4. Next paste the

[2012-05-22 21:20] ozten commented on #1608
Okay, I've spent a few hours exploring this and can't repro.

I got @lloyd on the horn and he explained the initial testing that jrgm and he did on the current production codebase, which matched your recommendations. They found and fixed many issues with networking at that time.

Without logs and with the email showing fixing replication as the main source of recovery, I'm going to close this for

[2012-05-22 21:21] #1608 closed, assigned to nobody

[2012-05-22 21:33] skinny97214 commented on #1626
@ozten We've tossed around some different ideas. Ideally I'd like to not have two code paths/UIs to maintain. In any case, it's not going in for beta though since the primary use of the feature is via the popup.

[2012-05-22 21:39] fetep commented on #1608
The problem is node wasn't issuing db queries; we reproduced this a ton last Friday in production as we were doing datacenter maintenance in scl2. lsof on the process showed _no_ 3306 connection, no attempt seen to make one in tcpdump, and /wsapi/ping was failing. The db replication delays were a different issue; that's just weird application behavior, MySQL has no idea the data is actually out of

[2012-05-22 22:31] skinny97214 opened #1632 "extend the session cookie on browserid.org/persona.org"
Make the session cookie 4 weeks.

(/me hides)

[2012-05-22 22:35] skinny97214 commented on #1629
Here's a diagram of the flow. Everything happens in the dialog and email.

http://cl.ly/160P0w1e051T293t0x2d

[2012-05-23 04:36] jrgm commented on #1631
Thanks for the bug report. This actually points out a very interesting bug.

I think this is actually a backend bug, not something that the frontend should try to deal with. I don't see why we should limit the characters that are entered into the password field (e.g., should a non-english speaker be limited to entering ASCII characters).

I think the real bug is in the forwarding of requests from

[2012-05-23 09:31] almet opened #1634 "Browser support detection can fail without giving much information"
At least two users reported me that they were having troubles using BrowserID, even when using Firefox. It turned out that for whatever reason, they were having their "dom.storage.enabled" pref disabled.

I see that the code in "/resources/static/shared/browser-support.js" can tell what's going wrong, but it doesn't seem to use it to give actual input to the users, which could help them to solve t

[2012-05-23 11:55] shane-tomlinson opened #1635 "main site create account page - pressing tab key from email field goes to "Existing account? Sign in. ""

[2012-05-23 12:06] shane-tomlinson commented on #1629
@skinny97214 - One of the original reasons for putting the password in the dialog before sending the verification email is because we cannot re-focus the dialog in all browsers on all devices.  Re-focusing the dialog here post verification link click will suffer from the same problem.

As an alternative, we can put the set password back on the main site and redirect to the RP after the user sets t

[2012-05-23 13:38] shane-tomlinson commented on #1555
@lloyd - checkin e54da630b4b5b8164137471ad5895011300e41a1 is the initial checking for this.

This checkin does not handle the case where an account goes from being an account with only primary addresses to an account with its first secondary email and the email was validated in another browser.

STR:

1) Open 2 browsers.
2) In Browser 1, create an account with a primary address
3) In Browser 1, ad

[2012-05-23 18:17] #1613 closed, assigned to shane-tomlinson

[2012-05-23 18:30] shane-tomlinson commented on #1597
This is is closed with PR 1612 and checkin 428e6eb2aa11a6f57cc7c7b8e94cc526abde6a1d

[2012-05-23 18:30] #1597 closed, assigned to jedp

[2012-05-23 18:39] shane-tomlinson commented on #1620
@jrgm - Something interesting is going on here - When I click "work offline", Firebug still shows GET requests as completing their lifecyle.  Since session_context completes, it collects data.

So, is this an upstream issue where "Work Offline" still does GET's but not POST's?

![Requests Still Happening](https://img.skitch.com/20120523-qeerhdw89gbmaesytfkyp1f853.png)

[2012-05-23 20:26] jrgm commented on #1620
@shane-tomlinson the firebug UI is a bit misleading. ngrep shows me that nothing is sent on the wire when FF is in Work Offline. I guess if Work Offline by content can be served from the cache, then firebug shows it as a successful GET (which in a sense it is). A POST though when offline should be shown as a failure.

[2012-05-24 03:50] jedp opened #1639 "Consider putting link to complete registration in email header"
When stage_user is called, browserid responds by mailing back a link for the user to click to finish his or her registration.

To make it easier to automate the registration process, it would be handy not to have to parse the link out of the body of an email, but instead simply to pull it from a header like X-BrowserID-Registration-Link.

nu?

[2012-05-24 03:57] fmarier commented on #1639
Crazy idea: Thunderbird could parse that header and present something nice to the user :)

[2012-05-24 05:52] jedp commented on #1639
fmarier++

[2012-05-24 16:41] lloyd commented on #1639
let's do this when we redesign email!

[2012-05-24 16:49] lloyd commented on #1632
+1  - @benadida ?

[2012-05-24 17:01] lloyd commented on #1623
allowPersistent is deprecated, this is a won't fix.  the new "Observer API" will replace this.

[2012-05-24 17:01] #1623 closed, assigned to nobody

[2012-05-24 17:02] callahad commented on #1623
(The new Observer API is expected to go into stable with the next train. See https://github.com/mozilla/browserid/wiki/Project-Status)

[2012-05-24 17:05] lloyd commented on #1622
@petef, can we get sensitive alerts on 413s and only react to this bug if necc?

[2012-05-24 17:06] lloyd commented on #1621
resolution is same as issue #1622

[2012-05-24 17:06] #1621 closed, assigned to nobody

[2012-05-24 17:07] benadida commented on #1632
this is after the user has said this is their computer? If so, sounds good to me.

[2012-05-24 17:10] ForbesLindesay commented on #1623
Thanks

[2012-05-24 18:38] lloyd opened #1642 "dev: scripts/compress is broken"
we cannot generate resources, the tree is on fire.

this was introduced when we upgraded underscore.js.

[2012-05-24 18:40] #1642 closed, assigned to lloyd

[2012-05-24 19:26] lloyd opened #1643 "implement final property names in API"
on list we've agreed:

privacyURL -> privacyPolicy

and

tosURL -> termsOfService

This is the final planned _change_ to the new Observer API which becomes "stable" this train...

[2012-05-24 21:46] lloyd opened #1645 "dead code: code update handler"
once upon a time things were different. upon service update we would restart the daemon by hitting a magic url.

that functionality is no longer needed and should be purged.

[2012-05-25 02:03] zaach commented on #644
I had to make this [change](https://github.com/zaach/browserid/commit/e6bfd5d70b0feede2ebf2ce76d5e43c6ccb2c0a3#L4R41) for the router branch (along with some header forwarding.)

[2012-05-27 07:11] jrgm commented on #1418
So https://github.com/mozilla/browserid/issues/1418#issuecomment-5503638 and https://github.com/mozilla/browserid/issues/1418#issuecomment-5504019 confirm this was done, but this issue wasn't closed. Closing now.

[2012-05-27 07:11] #1418 closed, assigned to shane-tomlinson

[2012-05-27 07:36] jrgm commented on #1643
This was for PR in GH-1644 and was merged and in train-2012.05.25. Closing this issue. On the Changlog list to verify this train.

[2012-05-27 07:36] #1643 closed, assigned to nobody

[2012-05-27 07:52] jrgm commented on #1267
Shoulda closed this one long ago with the train with @shane-tomlinson's rewrite of a lot of this UI. I don't see this anymore.
Note: this issue was specifically about with required email, so it myfavoriteshow (or local dev instance). Anyways closing.

[2012-05-27 07:52] #1267 closed, assigned to skinny97214

[2012-05-27 08:14] jrgm commented on #1174
Hey @shane-tomlinson I think this one is done. I can get the LOOONG message on the main site if I induce some latency with ipfw on my laptop, and I have also seen it on mobile just "naturally". Can we close this one?

[2012-05-27 08:14] #1174 closed, assigned to shane-tomlinson

[2012-05-27 08:38] jrgm commented on #1015
I'm retracting my nit and closing this issue. Real end user testing is better for deciding whether this is an issue.

[2012-05-27 08:38] #1015 closed, assigned to skinny97214

[2012-05-28 20:40] shane-tomlinson commented on #1174
@jrgm - safely closed.

[2012-05-29 05:56] lloyd commented on #1631
@jrgm - thanks for catching and diagnosing this.  You saved me a ton of time and made it easy to reproduce, find, and fix.  patch and pull request en route.

[2012-05-29 06:23] lloyd commented on #1624
I dug into this.  When we moved to programmatically interfacing UglifyJS, we lost copyright preservation, as that code is not included in the UglifyJS library, but rather the command line program.  patch coming to add this functionality back to `scripts/compress*`

[2012-05-29 07:00] lloyd commented on #1558
we should get petef to set an alarm on .uncaught_exception statsd counters, which are implemented in 3d2ca1f

[2012-05-29 07:03] lloyd commented on #1558
https://bugzilla.mozilla.org/759251

[2012-05-29 07:13] lloyd commented on #1555
The pull request has been merged.  this issue is fixed.

[2012-05-29 08:00] shane-tomlinson opened #1652 "compress-worker regexp for embeded URLs in CSS does not handle multiple background-images per declaration"
[code]

[code]

[2012-05-29 08:42] shane-tomlinson commented on #1632
Link this to #1572

[2012-05-29 10:05] #1558 closed, assigned to lloyd

[2012-05-29 10:21] shane-tomlinson opened #1655 "Tracking: license may be needed on all served production resources."
Email already sent to Jishnu and licensing@mozilla.org to find out more information.  Link to #1624

Resources that may need licenses:
dialog.js, browserid.js and communication_iframe.js

[2012-05-29 10:22] #1624 closed, assigned to lloyd

[2012-05-29 10:55] shane-tomlinson commented on #1655
From Gerv:

[code]

[2012-05-29 11:48] #1631 closed, assigned to lloyd

[2012-05-29 15:27] #1645 closed, assigned to nobody

[2012-05-29 20:01] jrgm commented on #1643
Verified for stage train-2012.05.25. If both the deprecated 'privacyURL' and 'tosURL' are passed, links to those URL are shown in the dialog. If the new 'privacyPolicy' and 'termsOfService' are passed in, those URLs are shown. If all four are passed in, the deprecated form wins (i.e., the value of privacyURL is preferred to privacyPolicy). Small issue that I'll just put in separately (and wontfix-

[2012-05-29 20:04] jrgm opened #1658 "update MDN doc for new 'privacyPolicy' and 'termsOfService' parameters"
In GH-1643:
[code]

[2012-05-29 20:10] jrgm opened #1659 "if rp specifies all of privacyPolicy,termsOfService and the old params, the old params trump the new"
In GH-1643 the params privacyURL and tosURL were changed to privacyPolicy and termsOfService. The old parameters can still be used and you can even mix and match.

But if someone sets all four, the deprecated privacyURL and tosURL values trump the new params' values.

Very minor point.

[2012-05-29 21:18] jrgm commented on #1592
I had generally good results. (I had one failure case, but I think that was a valid failure: I was adding a secondary to a secondary, but at some point since I first made these emails, I had deleted that account from diresworb). Marking verified for stage train-2012.05.25

[2012-05-29 21:21] jrgm commented on #1596
I had run a load_gen against stage with the previous train and running a short one now with train-2012.05.25. Tool works fine. Verified.

[2012-05-29 21:26] jrgm commented on #1597
So, on diresworb.org /session_context is returning "data_sample_rate":0. Need to get that turned on (set to 1). /cc @fetep

[2012-05-29 21:47] seanmonstar commented on #1362
Why can't the status code be returned on this line: https://github.com/mozilla/browserid/pull/1363/files#L0R107

It's certainly not 200 OK. It's either 5xx, or if we sent the wrong info, at least call it a 4xx.

[2012-05-29 21:51] graingert commented on #1362
no it's a 200 OK if the certificate is invalid, because this is a validator.
A failure due to an invalid assertion is OK because it's the expected behaviour of a validator:

Neither the calling party nor the web server have made an error, nor is it a redirect. ergo 2xx.

[2012-05-29 21:53] graingert commented on #1362
We need logic to confirm if it's a valid format certificate but not valid for that user: 200 ok
OR an badly formatted document: 400 Bad Request
OR a server error 5xx

[2012-05-29 23:21] jrgm commented on #1597
For the specific STR listed here and also for some other scenarios and a little ad hoc testing, I am seeing a struct like

{ "csrf": "2+3ebToPUmcXTB1YHqyxOA==",
  "data": [{
    "event_stream": [ ... ],
    "lang": "en-us",
    "sample_rate": 1,
    "screen_size": {
      "height": 1050,
      "width": 1680,
    },
  }]},
passed on every open of the dialog (after completion of the /wsapi/session_c

[2012-05-29 23:30] jrgm commented on #1597
... (Where in some error cases, the list for "data" can be greater than 1.)

[2012-05-29 23:48] jrgm commented on #1620
Hmm, @shane-tomlinson, I am still seeing data accumulate while popping and closing the dialog with FF 12 in 'Work offline' (train-2012.05.25 branch).

(Of course, this is a very corner case user scenario, since there's not much reason to use Browserid when offline, and data accumulation will ultimately be cleared (or discarded of >10K) on next connect to the network).

[2012-05-30 00:32] jrgm commented on #1613
verified for train-2012.05.25 running on awsbox (kpi sampling not enabled in stage). The only keys that are sent by the client are  'event_stream', 'lang', 'screen_size', 'sample_rate' (also checked fully on IE8).

[2012-05-30 01:07] jrgm opened #1660 "server timestamp no longer in KPI blob (with event_stream, lang, sample_rate, screen_size)."
The data uploaded to /wsapi/interaction_data on the wire consists of blobs like:

[code]

Is it intentional that the server `timestamp` to have been stripped from that blob? (It is clearly not on the whitelist in the code, but the code for interaction_data looks like it's (optionally) expecting it).

[2012-05-30 01:08] jrgm commented on #1660
link to GH-1597 and GH-1613

[2012-05-30 01:31] jrgm commented on #1602
verified fixed for train-2012.05.25 in local dev.

[2012-05-30 02:43] jrgm commented on #1557
verified for stage train-2012.05.25. A tooltip is show to the user in browser 2 when they enter a password that does not match the password that was used in staging the user.

Also closing this bug, since the code is there and works correctly.

[2012-05-30 02:43] #1557 closed, assigned to shane-tomlinson

[2012-05-30 03:13] jrgm commented on #1599
Code cleanup. Testing done for GH-1592. Marking this verified for train-2012.05.25

[2012-05-30 04:29] fmarier opened #1661 "locking the email field between pressing next and password field showing up"
This is a very minor suggestion but it would make the login form a bit nicer to fast (impatient?) typists:
1. click signin
2. type your email
3. press enter
4. type your password
5. press enter

The problem occurs between steps 3 and 4. Depending on how soon the password field appears (and steals the focus), part of your password will end up in the email field (and be visible to anybody looking at

[2012-05-30 07:39] lloyd commented on #1661
+1

On May 30, 2012, at 7:29 AM, Francois Marier wrote:

[2012-05-30 15:56] jedp commented on #1660
Hmm...  I can't reproduce this.

To answer your question, it's not intentional that that would happen, no.  The timestamp should be added on the server-side in `lib/wsapi/interaction_data.js`.

Are you finding this is happening in the dev branch?  When I run browserid locally, I get the timestamps.  Also, they're being recorded in the blobs at https://kpiggybank.hacksign.in/

[2012-05-30 17:55] callahad commented on #1658
Taking this. I'll update MDN once we enter Prod.

[2012-05-30 20:03] shane-tomlinson opened #1662 "static-resource-test.js is failing"
STR

1) Run ./tests/static-resource-test.js

Expected:
Test passes

Actual:
✗

  All resources expand
    ✗ We get stuff
      » expected 16,
    got  10 (==) // static-resource-test.js:35
✗ Broken » 1 broken (0.003s)

[2012-05-30 21:20] jedp commented on #1660
Ah!  Ok.  Reproduced.

We also lost `user_agent` somehow.

I will fix.

[2012-05-30 21:45] shane-tomlinson commented on #1060
@ozten, @lloyd - since KPI has been added to the front end, can this be closed?

[2012-05-30 21:48] #1652 closed, assigned to nobody

[2012-05-30 21:49] shane-tomlinson commented on #1585
Fixed with rebrand.  Closing.

[2012-05-30 21:49] #1585 closed, assigned to shane-tomlinson

[2012-05-30 21:55] ozten commented on #1060
@skinny - Do we need the A/B aspect?

What we've built so far should allow us to see release over release if a change was good or not.

It does not give us any way to A/B test two flows at the same time.

[2012-05-30 22:05] floatingatoll opened #1665 "integrate "BrowserID and CSP" instructions into an official documentation page"
http://feeding.cloud.geek.nz/2011/11/using-browserid-and-content-security.html

These are terrifically useful instructions for setting up BrowserID and CSP together. Can we merge them into an official documentation page somewhere? Rumor has it the author works on BrowserID :)

[2012-05-30 22:14] callahad commented on #1665
Will do!

[2012-05-30 22:23] jrgm opened #1666 "load_gen crash during problems with load balancer in stage."
There probably isn't much to go on here in figuring out how to prevent in the future. This issue is mostly just to document the issue, and see if it ever comes up again. I was running load_gen from one of the clientX boxes, and it had been running fine for ~20 hours. @fetep noted in irc that there was a problem with a load balancer in stage, and right at that time the load_gen terminated on the un

[2012-05-30 22:24] jrgm commented on #1666
I'm going to close this issue now. Nothing obvious to do in the above, and reproducing this is unlikely.

[2012-05-30 23:59] ozten opened #1667 "Orphaned dialog KPI"
@jbonacci was wondering if it would be easy to capture orphaned dialogs as a KPI?

I don't know if this would be easy or fit with our model of the state machine.

[2012-05-31 00:00] ozten opened #1668 "Abandonment KPI"
@jbonacci was thinking an abandonment KPI would be an important report.

[2012-05-31 07:50] shane-tomlinson opened #1669 "Prevent "development" service from starting in prod."
This service is meant to facilitate development and testing, it should not be enabled in prod.

[2012-05-31 08:56] shane-tomlinson commented on #1662
@lloyd took care of this with c7e84298b24c015d759a527850141d6dfe3d90c0

[2012-05-31 08:56] #1662 closed, assigned to shane-tomlinson

[2012-05-31 09:01] #1632 closed, assigned to lloyd

[2012-05-31 09:01] #1572 closed, assigned to jrgm

[2012-05-31 12:43] lloyd commented on #1060
fwiw, the router that @zcarter is working on gives us a natural place to introduce real world
A/B testing when the time comes.  KPI data + router splitting off a decided %age of users, give
us the tools to make this a reality, afaict.

On May 31, 2012, at 12:55 AM, Austin King wrote:

[2012-05-31 12:43] lloyd commented on #1665
+1.  I hear the author of that is a pretty solid dude.

[2012-05-31 12:56] lloyd commented on #1667
what does orphaned mean?  A dialog that was spawned, got lost, and the user never got back to?

These dialogs should will automatically closed when the site is reloaded.

Perhaps the signature of an orphan is getting to a certain state ("go check your email"), then a long delay, followed by a close event?

It would be worth having nathan spend some time working with the current event streams to se

[2012-05-31 12:57] lloyd commented on #1668
Here we have to define what abandonment means.  Isn't abandonment just a special case of cancelation?  or do we just count ALL explicit cancelation as abandonment to start, and then refine from there?

[2012-05-31 13:07] lloyd commented on #1669
say more?  what code are you specifically referring to?  depending on that, we should aggressively prevent non-production code from even being evaluated in production.  Without more context I can't say how to do that here.

[2012-05-31 13:50] ozten commented on #1060
Wouldn't we need to record weather the KPI blob is for A or B?

[2012-05-31 13:53] lloyd commented on #1060
yes, good point.

we could:
1. have a different KPI destination for tests
2. append code sha to the blob as previously discussed.

If kpi backends are easy to spin up (AWS VPC), I slightly favor #1.  Otherwise,
#2.

What were the objections with sha?  just that it wasn't stricly necc?

[2012-05-31 13:58] ozten commented on #1060
1 - this is more complicated than submitting to a user data review to add a new A/B field. You eventually have to merge the two steams or maintain N KPIggybanks
2 - I assumed the SHA would be for a codebase that includes A/B codepaths, so same SHA regardless. If it's branched based, that could work. We'd need a map of SHA to A/B tests which seems kind of opaque but also kind of attractive.

My pus

[2012-05-31 14:06] lloyd commented on #1060
you're always uncovering my assumptions, @ozten.

It seems like the first thing we have to figure out here is how we want to manage A/B testing.  Do we want to have this done via distinct branch?  I rather like that idea, but it's def a question for deeper discussion.

I was imagining that we have a couple servers set aside for A/B testing, and we can directly push code to them.  We'd roll a train

[2012-05-31 14:25] callahad opened #1672 "Update Readme -- VEP is dead; long live BID"
"Here lives the BrowserID implementation. BrowserID is an implementation of the verified email protocol."

That's not really accurate anymore.

I'll try to come up with better language later today, but suggestions welcome.

Filing the bug so I don't forget to go back and fix this...

[2012-05-31 15:46] ozten commented on #1060
Cool.

I think the main conclusion is:

a) let's ship KPI Dashboard and get some feedback loops going
b) leave this bug open to design an end to end A/B testing method (KPI will be affected among other components)

[2012-05-31 16:38] callahad commented on #1672
Scope creep: Review the whole Readme as we get ready to go to Beta :)

[2012-06-01 03:17] jrgm commented on #1666
At 2012-05-31 09:51:30.625, this same stack and process exit happened again from client9 (which had been running for about 18 hours at that point). In this crash, there weren't any handled errors preceding the uncaught exception. (There may have been a load test of an unrelated service running in stage at the same time).

[2012-06-01 03:48] jrgm commented on #1666
actually, there was another load_gen running from client8 at the same time (2012-05-31 09:51:30), and it showed a spew of errors (ECONNREFUSED).

[2012-06-01 04:46] benadida opened #1673 "instrument verifier failures"
log bad assertions and bucketize verification failures so statsd can monitor with a bit more fine grain.

[2012-06-01 16:12] lloyd commented on #604
we have this now with selenium tests.

[2012-06-01 16:12] #604 closed, assigned to vmunix

[2012-06-01 20:47] jrgm opened #1675 "second password field in flow is labelled 'reset password'"
1. Create a secondary email address on browserid
2. Clear all profile data in a browser
3. Go to an RP click 'sign in' to bring up the dialog.
4. Enter the known secondary email address and then click password.

Expected:
Prompted to enter a new password twice

Actual:
Prompted to enter a new password twice, but the second one is labelled 'reset password', which seemed to me and @tonychung  to be

[2012-06-01 20:56] jrgm commented on #1675
actually, this is shown for either forgot password, or in signing up a new account. Funny how I looked right past it until Tony mentioned it. :-/

[2012-06-01 22:49] jrgm commented on #1555
Bah, sorry for not getting to this earlier in the week. The 2-browser new secondary and add-secondary-to-secondary work (only 3 passwords required, not a 4th in the dialog again).

However, I still get a 4th challenge in the browser1 when adding a secondary to a primary-only account (per STR in https://github.com/mozilla/browserid/issues/1555#issuecomment-5873009). Reopening.

[2012-06-04 06:22] jrgm opened #1677 "cannot add secondary back to a primary-only account that previously had a secondary email in the account"
This is a relatively rare but valid thing to do.

STR:
1. Start out with a fresh profile state, and use beta.myfavoritebeer.org or beta.123done.org to sign up as a primary email address.
2. Sign out of the RP, and click sign in again. Click 'add another email' and enter a secondary email address not known to diresworb.org. (Enter the password twice, collect the email link and load it in the same b

[2012-06-04 17:31] jedp opened #1678 "navigator.id.genKeyPair should call back with string, not object"
@benadida discovered that the current IdP API makes it hard to marshal data across the native code boundary.

Propose that genKeyPair should call back with a json string, not object

Benefits:
1. Easier to interface with native code
2. Consistent with rest of IdP API, in which we deal with strings, not objects

This would affect IdPs.  It would not affect the RP API at all.

[2012-06-04 20:26] jrgm opened #1679 "/forgot page: email address field not disabled and has keyboard focus"
Not sure this is really an issue, since it had this behaviour in train-2012.04.27 (and I think previous). But now that it contains the two additional password fields for entry, it seems odd.

STR:
1. For an existing secondary email address known to diresworb.org, click sign in and enter that email.
2. When prompted for the password, click forgot password.

Expected:
The email field is shown in a d

[2012-06-04 20:39] jrgm commented on #1679
One note, if the user edits the field and changes it to an unknown user, a tooltip is shown that it is an unknown user.

If the user changes it to a known user, email is sent to that user.

If changed to a primary email address, email is sent to the primary user, which seems wrong.

[2012-06-04 20:58] jrgm commented on #1608
Yes, I will be finishing this today/tonight.

[2012-06-04 23:43] jrgm opened #1682 "after verifying email address, /signup, /forgot redirects to /signin"
This only happens for the XUL Fennec client, not for any other browser on Android (FF Beta, Aurora, Nightly, Stock, Chrome Beta).

STR:
1. Go to diresworb.org and click sign up; enter a secondary email address, two passwords and submit.
2. Get the email for verify_email_address and open in the same browser

Expected: The /signup page transitions to show the usual logged-in account management UI.

[2012-06-05 12:05] #1660 closed, assigned to jedp

[2012-06-05 13:20] shane-tomlinson opened #1684 "dev: "Communicating With Server" text is placed behind the arrow when wait screen being hidden."

[2012-06-05 14:09] #1619 closed, assigned to shane-tomlinson

[2012-06-05 14:12] shane-tomlinson commented on #1582
@jbonacci - This was only merged into dev last week, so this has not made staging yet.  In dev, I'm not seeing the behavior with Safari that you.  I go from the "Yes" button to the "No" button.  If I tab out from there, I have to hit tab once to get out of the URL bar, then once through each of the bookmarks, but I get back in.

[2012-06-05 14:17] shane-tomlinson commented on #1582
@jbonacci - I'm not sure where I was looking for the dates, this _is_ in stage.  I am still not seeing the Safari issues that you are writing about.

[2012-06-05 14:28] shane-tomlinson commented on #954
@jrgm - I am closing this as 'won't fix'.  I retested both IE8 and IE9 on Win7 using dev.myfavoritebeer.org, both show two short bursts of high CPU usage.  IE8 shows a short spike of 100% while generating the assertion and another when myfavoritebeer is doing its transition.  IE9 goes up to ~90% while the assertion is being generated and 70% while myfavoritebeer does its transition.  Neither of th

[2012-06-05 14:28] #954 closed, assigned to shane-tomlinson

[2012-06-05 14:32] #1552 closed, assigned to shane-tomlinson

[2012-06-05 14:44] shane-tomlinson commented on #1473
My Firefox for Windows 7 looks like:

![Firefox for Windows - Without Scroll Bar](https://img.skitch.com/20120605-k989diudd8jqcfk18purjr31c6.png)

[2012-06-05 16:24] mathjazz opened #1686 "Ukranian (uk) not showing on l10n preview"
Why is Ukranian (UK) not showing up on http://ozten.com/random/browserid/bid_test.html?

@ozten @fetep

[2012-06-05 16:27] #1635 closed, assigned to shane-tomlinson

[2012-06-05 16:32] ozten commented on #1686
uk/LC_MESSAGES/messages.mo and
https://l10n-preview.diresworb.org/v/fa0ecc8892/production/uk/dialog.js look good

I see 'uk' in config/l10n-all.json but not in config/l10n-prod.json.

l10n-preview **should** be running off of config/l10n-all.json.

[2012-06-05 17:42] shane-tomlinson commented on #1320
9c8e6b680f0bfaa1f7085a59078b341ea74fcd88 takes care of this as well.

[2012-06-05 18:17] benadida opened #1689 "ensure that navigator.id behaves like a true DOM API"
In particular,

[code]

should _fail_, because of a bad <tt>this</tt> pointer. This is because all DOM APIs in all modern browsers fail when this happens (try it with your favorite DOM API call). So, when we move to having a native implementation, we don't want web sites to start failing. Instead, we'd rather they start failing now, fix their code, and then have a smooth transition once a native i

[2012-06-05 19:12] jrgm opened #1690 "chrome 19 on windows shows "Untitled" for window titlebar."
Minor thing, but just happened to notice this. Chrome 19 shows "Untitled" for the window; FF13 and IE8 (at least) show 'BrowserID' as the title.

![img](https://img.skitch.com/20120605-g6475qbpi4n21x8c49h1c2dd8i.png)

[2012-06-05 19:13] jrgm commented on #1690
Hmm, weird. I did view source on that dialog and closed it and returned to the dialog and the title was now 'BrowserID'.
Upstream bug, it seems.

[2012-06-06 05:20] #1690 closed, assigned to nobody

[2012-06-06 09:54] shane-tomlinson opened #1693 "new layout main site: even if content fits on screen, scroll bar appears."
![Main site showing scroll bar](https://img.skitch.com/20120606-epm8miw4r19pq1hued4qjspbt3.png)

[2012-06-06 12:37] #1684 closed, assigned to shane-tomlinson

[2012-06-06 12:40] shane-tomlinson commented on #1669
@lloyd - this is in reference to the development menu in the client.  It should either be very difficult to get to or not be started in staging and prod.  Until we have a good solution for this, I am removing the HTML and preventing the "development" service from starting.

[2012-06-06 12:54] shane-tomlinson opened #1695 "Host fonts locally."

[2012-06-06 12:55] shane-tomlinson commented on #1695
The new fonts are hosted locally by several Mozilla properties.  We should get a copy of these and stop relying on Google to provide us with the fonts.

[2012-06-06 12:55] #1614 closed, assigned to shane-tomlinson

[2012-06-06 14:07] shane-tomlinson opened #1697 "User must hit cancel twice from add email screen if cancelling after email already sent."
This is an edge case

1) Open up the dialog to the email picker
2) Click on "Add another email"
3) Enter a secondary address and submit
4) Click "Use another email address"
5) Enter same email address as step 3 and submit.  Tooltip is displayed.
6) Press cancel.  Screen does not go away.
7) Press cancel again.  Screen goes away.

[2012-06-06 18:24] zaach opened #1699 "i18n.js uses a global instance of `fs` module"
Tests fail after removing of global instances of modules (issue #1681), including `fs`, causing tests to fail when the `locale` directory is present.

[2012-06-06 19:07] #1699 closed, assigned to nobody

[2012-06-06 19:40] callahad commented on #1695
This looks like a dupe of #908 and/or #769. @shane-tomlinson should you reassign those to yourself and close this one?

[2012-06-06 22:06] warner commented on #1014
/me follows, this interacts-with/is-implemented-by the key-wrapping setup

[2012-06-06 22:06] zaach opened #1701 "Clean up global variables that are being created and used in lib/"
jshint reveals [many instances](https://gist.github.com/2885056) of global variables being created and/or used by modules in the `lib/` directory.

[2012-06-06 22:07] warner commented on #1539
/me follows

[2012-06-06 22:08] warner commented on #1014
hrm, apparently I must say @warner to get this on my list?

[2012-06-06 22:09] warner commented on #1539
rather, @warner follows

[2012-06-06 22:16] stephendonner commented on #1677
+1

[2012-06-06 22:24] fmarier opened #1702 "Password change doesn't require password confirmation"
When you sign up for a new account, you need to confirm your new password by typing it **twice**. On the other hand, when you log into browserid.org and change your password, you only type the new one **once**.

It's not a huge deal because you can always do a password reset if you screw up, but it seems a bit strange that we're not consistent on that point.

[2012-06-06 22:47] seanmonstar commented on #1014
@warner theres a button at the bottom of this page: "Enable notifications for this issue"

[2012-06-07 00:39] jrgm opened #1704 "add statsd metrics to /wsapi/address_info for /.well-known/browserid lookup times via proxy"
add statsd metrics to /wsapi/address_info for /.well-known/browserid lookup elapsed times via http proxy

[2012-06-07 07:49] shane-tomlinson commented on #769
dup of #1695, closing this.

[2012-06-07 07:49] #769 closed, assigned to nobody

[2012-06-07 07:50] shane-tomlinson commented on #1695
Good call @callahad.  I closed the other two in favor of this one.

[2012-06-07 16:51] jrgm commented on #1686
Is this fixed? I am showing uk when I pop the dialog from the above URL.

[2012-06-07 17:06] #1620 closed, assigned to shane-tomlinson

[2012-06-07 17:13] ozten commented on #1686
It is fixed. I see non-English strings on Aurora with Ukrainian 'uk'

[2012-06-07 18:43] ozten commented on #1531
Great work Jed!

[2012-06-07 18:43] #1531 closed, assigned to jedp

[2012-06-07 22:24] jrgm opened #1705 "IE8/IE9: "Finishing sign in" screen intrudes on sliding arrow animation"
STR:
1. Be authenticated to dev.diresworb.org; use an RP to bring up the /sign_in dialog and click the sign in button.

Expected: (as seen with FF14/xp) after clicking signin, the arrow moves to right and the dialog closes when complete

Actual: (as seen with IE8 or IE9) after clicking sign in, a "Finishing sign in" screen is shown, then disappears to show the end of the arrow animation and then t

[2012-06-07 22:26] callahad opened #1706 "Unsupported Browser page needs more styling"
Compare https://browserid.org/unsupported_dialog and https://dev.diresworb.org/unsupported_dialog

The content on the rebranded page should probably be similarly centered.

[2012-06-07 23:12] jrgm commented on #1566
@lloyd I'm giving this to @shane-tomlinson  to consider fixing for final polish.

[2012-06-07 23:21] jrgm opened #1707 "[ie8] trying to /signin when already signed in produces JS error"
STR
1. sign in to dev.diresworb.org as a user with one secondary email on the account
2. Load the /signin page again, enter the same email, and click sign in.

WIth firefox, I get re-prompted for my password. With IE8 I get this JS error.

Line: 8
Character: 16193
Code: 0
Error Message: 'publicKey' is null or not an object
URL: https://dev.diresworb.org/v/a711295a8c/production/en_US/browserid.js

[2012-06-07 23:26] jrgm commented on #1707
Weird. I tried it one more time, and now I can't reproduce this at all. Closing.

[2012-06-07 23:26] #1707 closed, assigned to nobody

[2012-06-07 23:55] jrgm opened #1708 "when adding a known secondary to a primary-only account, the user is prompted for a new password"
I missed this in the previous release, even though I definitely did this (I think my eyes were glazing over).

STR
1. From a clean state (clear profile/this is not me) go to 123done.org and signup in the dialog as a primary address (preferably a brand new email address, or you may bump into GH-1677).
2. Logout, pop the dialog again, and 'Add another email'
3. Enter a secondary email address that a

[2012-06-08 00:35] jrgm commented on #1705
Actually, this occurs on both IE8 and IE9 (but not FF). I'll note what other browsers do as I get to them.

[2012-06-08 01:10] mattbasta opened #1709 "BrowserID completely broken in MIUI ROM Android stock browser"
Droid X running MIUI. Opening any BrowserID login will result in a "there has been a problem" window.

[2012-06-08 03:24] jrgm opened #1710 "Getting 'failed to verify assertion: assertion has expired' with dev.{123done,diresworb}.org and IE9"
I was testing with ie9 and current dev.{123done,diresworb}.org which dev.diresworb.org/ver.txt says is at 'c7ff63c Merge pull request #1692 from mozilla/bugfix-clearing-expired-certs'. I had used dev.123done to sign up a secondary, add a primary, and then add a secondary. I met with @jbonacci  for a while after then, then closed my laptop and went home from the office.

When I got home I resumed a

[2012-06-08 04:35] jrgm opened #1711 "dev: title on main site is "Mozilla Person" not 'persona'"
![img](https://img.skitch.com/20120608-nrgaxhdjskcpbr2r74tbwmw7f1.png)

[2012-06-08 04:57] jrgm opened #1712 "Put the signup link at (or closer to) the top of main site pages"
This is not new and just a suggestion, but shouldn't "sign up" be at the top of the page somewhere. In particular, on a mobile device, signup is not "above the fold". Here's an iphone:

![img](https://img.skitch.com/20120608-bc4ydt472pjuj3f1ms6y9ep3yu.png)

[2012-06-08 07:02] jrgm opened #1713 "router in tests showing 'error forwarding request: code=ECONNRESET'"
I was running `npm test` in an osx clean clone of current `dev` and noticed these warnings. So, that's about the 10k limit on POST; `router` seems to have the same check, but still the test shows the full request forwarded to browserid webhead. Perhaps this does not matter in prod/stage, but it would good to look into this. /cc @zaach

[code]

[2012-06-08 07:14] zaach commented on #1713
Thanks @jrgm – I'll look into this.

[2012-06-08 10:11] shane-tomlinson commented on #1709
@mattbasta - Can you provide further information?  What is the RP, are cookies enabled, is localStorage enabled, what version of Android is this, which version of the browser?

[2012-06-08 10:58] shane-tomlinson commented on #553
Closing this issue, all buttons now have hover states.

[2012-06-08 10:58] #553 closed, assigned to shane-tomlinson

[2012-06-08 11:00] shane-tomlinson commented on #1705
@jrgm - this is known and expected because I moved to CSS transitions because of a bug in jQuery with the box model that we are using.  See https://github.com/mozilla/browserid/pull/1656#discussion_r891602, https://github.com/mozilla/browserid/pull/1656#discussion_r891672 and https://github.com/mozilla/browserid/pull/1656#issuecomment-5983132.  Neither IE8 nor IE9 support CSS transitions, so there

[2012-06-08 14:26] lloyd commented on #1711
merged.

[2012-06-08 14:26] #1711 closed, assigned to nobody

[2012-06-08 15:05] mattbasta commented on #1709
Are you in MV? I can do you one better and let you see my phone.
On Jun 8, 2012 3:11 AM, "Shane Tomlinson" <
reply@reply.github.com>
wrote:

[2012-06-08 15:09] shane-tomlinson opened #1716 "/signin page - tooltip after entering an incorrect password contains trailing ')"

[2012-06-08 15:18] shane-tomlinson commented on #1709
@mattbasta - I'm in London.  Maybe if you can get ahold of @benadida?

[2012-06-08 15:27] #1320 closed, assigned to shane-tomlinson

[2012-06-08 15:29] #1706 closed, assigned to shane-tomlinson

[2012-06-08 16:34] shane-tomlinson opened #1718 "android/mobile/rebrand: long hostnames are partially obscured."
Here is a screen shot:

![Android Screenshot with Cut Off RP Name](https://img.skitch.com/20120608-kup7tfjtabg63ksg7ehyf3971q.png)

[2012-06-08 16:41] shane-tomlinson opened #1719 ""Persona requires cookies" screen is not centered"
![Cookies Disabled screen](https://img.skitch.com/20120608-cjsfwu21ygs4xynpyrsdbtjbgt.png)

[2012-06-08 16:48] shane-tomlinson opened #1721 "android: cookies disabled center area color mismatch."
![Android Screenshot](https://img.skitch.com/20120608-ny75u3hfps53r3j9hae2kfr65i.png)

[2012-06-08 18:10] jrgm commented on #1709
I'm here in MV. Where are you? (I am on 3rd floor near Warp Core).

[2012-06-08 18:22] mattbasta commented on #1709
I start full time in a couple weeks, but I can drop by next week, if that
would work.
On Jun 8, 2012 11:10 AM, "John Morrison" <
reply@reply.github.com>
wrote:

[2012-06-08 18:49] jrgm commented on #1709
@mattbasta cool. @stephendonner told me that. Yeah, it would be cool if you could. Although I now have a Tegra board running Android 2.2 that shows this error.

@matbasta did you have any certificate warnings when using this device with browserid (perhaps in the past and now remembered as accepted decisions).

[2012-06-08 18:55] mattbasta commented on #1709
No, I don't think I have used BrowserID yet on this device.

Fyi - cookies enabled, android 2.3
On Jun 8, 2012 11:49 AM, "John Morrison" <
reply@reply.github.com>
wrote:

[2012-06-08 19:53] jrgm commented on #1709
@mattbasta what do you have set as the default browser for this action? Can you try it with stock browser set as the default?

[2012-06-08 19:56] mattbasta commented on #1709
Stock browser is what I have set for everything.
On Jun 8, 2012 12:54 PM, "John Morrison" <
reply@reply.github.com>
wrote:

[2012-06-09 00:23] tantek commented on #1305
Where's the +1 for issues?

This is a key #indieweb use-case. Plug-ins/libraries are available to currently implement consuming of on personal sites:
- OpenID
- RelMeAuth and IndieAuth

but not (yet):
- BrowserID

BrowserID is behind in this regard.

[2012-06-11 11:02] shane-tomlinson opened #1724 "Update tosURL and privacyURL to termsOfService and privacyPolicy in Example RP"
We are spreading old API knowledge around.

[2012-06-11 13:02] #1098 closed, assigned to lloyd

[2012-06-11 13:25] lloyd opened #1725 "remove obsolete transitional code"
in issue #1000, when we moved password selection into the dialog, we had to introduce a pile of transitional code to support deployment.  all that should be removed, for code maintainability and security.

[2012-06-11 14:40] shane-tomlinson commented on #1716
Merged, closing.

[2012-06-11 14:40] #1716 closed, assigned to shane-tomlinson

[2012-06-11 15:30] #1725 closed, assigned to nobody

[2012-06-11 16:27] nmalkin opened #1730 "number_sites_logged_in not in KPI whitelist"
KPIs sent to the server are checked against a [whitelist](https://github.com/mozilla/browserid/blob/1a2c215461b48cb74f5ea486aa0358b015c8cf71/resources/static/shared/models/interaction_data.js#L13), but number_sites_logged_in (one of our KPIs) is not in it.

[2012-06-11 16:58] ozten commented on #1730
To finish of the KPI Backend, we need to populate all the fields of the KPI JSON blob that have been spec'd out.

Spec:
https://wiki.mozilla.org/Privacy/Reviews/KPI_Backend#Type_of_data_stored:

So we also need  number_emails, new_account, email_type, etc. Anything that is in the spec and missing from the blob.

[2012-06-11 16:59] ozten commented on #1730
@shane-tomlinson is it okay if I assign this to you? We need your magick powers.

[2012-06-11 17:51] lloyd opened #1731 "include jshint in unit tests"
We should create a backend unit test that ensures a clean jshint run, so we don't regress on all the cleanup @zaach did for us

[2012-06-11 18:34] nmalkin opened #1732 "KPI timestamp reported in milliseconds"
One of the pieces of information stored in the [KPI backend](https://wiki.mozilla.org/Privacy/Reviews/KPI_Backend) is the timestamp of the interaction (rounded to the nearest 10-minute interval). Right now, this is [sent over](https://github.com/mozilla/browserid/blob/9e52664b74a0f95d554e50bc71e77cba3bd73af0/lib/wsapi/interaction_data.js#L37-39) (and [stored](https://github.com/jedp/kpiggybank/blo

[2012-06-11 20:43] zaach commented on #644
Get params are now handled since the rounter was merged into dev.

[2012-06-11 20:43] #644 closed, assigned to lloyd

[2012-06-12 04:03] jrgm opened #1733 "(mobile) debug region gives feedback to end user"
STR:
1. load stage diresworb.org and tap once in the right place

Expected: nothing happens
Actual: region is highlighted (and in some mobile browsers also give click audio and/or haptic feedback).

It's hard to get it happen on an iphone, visible on ICS/ChromeBeta, and obvious on stock and fennec (ICS or 2.2)

[2012-06-12 04:12] jrgm commented on #1710
I've been able to reproduce this from scratch conditions once (again with IE9), without anything complicating the situation like having my laptop go to sleep and change locations which might have explained something in the initial report.

I don't, though, have a simple, reliable STR. And have only done this the two times with dev.diresworb.org and not diresworb.org.

[2012-06-12 04:18] jrgm commented on #1710
I should note though that in reproducing this the second time, I had to wait >1 hour for the cert of one of the emails to expire.

Crazy question: what if I had 3 users on the same account (2 secondary and 1 primary), and the cert on the localStorage.emails had 3 different lifetimes (1 hour (sec), 6 hour (pri), 24 hour (sec)). Is there a way the cleanupIdentities would not do the right thing in th

[2012-06-12 07:27] jrgm commented on #1631
a quick check of this for the original STR against stage train-2012-06-08 works fine. (The password is the value that was copied from the masked *******\* and can be used again; that firefox allows copying to clipboard of that masked value is not this bug). Will look a tiny bit more later at how it works with router locally.

[2012-06-12 07:30] jrgm commented on #1711
verified with stage train-2012.06.08.

[2012-06-12 08:15] shane-tomlinson commented on #1732
@nmalkin - This is a good suggestion - in the end we actually want the timestamp stored in 10 minute resolutions - see PR #1670, more specifically https://github.com/mozilla/browserid/pull/1670#discussion_r909140 where @lloyd suggests the rounding happen in the router.

[2012-06-12 08:17] shane-tomlinson commented on #1731
@lloyd - I'd like to do this on the front end too, but there is a lot of work that needs done.  I do this quite frequently on files I touch, cleaning as I go, but there are a lot of files that need treated yet.

For both the front end and the back end, we should come up with universal jshint config files so your jshint run does not yield different results from my jshint run.

[2012-06-12 11:06] #1693 closed, assigned to shane-tomlinson

[2012-06-12 11:07] shane-tomlinson commented on #1689
@benadida - this change has been checked in already with checkin 565ad859, no?  Can this be closed?

[2012-06-12 11:14] shane-tomlinson opened #1734 "Verification screen flashes email address field before success message."
It's pretty ugly.

[2012-06-12 13:59] shane-tomlinson commented on #1724
604be7978559c37e9a27829ae8d618fa831e0e4a fixes this.

[2012-06-12 13:59] #1724 closed, assigned to shane-tomlinson

[2012-06-12 14:45] lloyd commented on #1734
+1  this bugs the heck outta me

On Jun 12, 2012, at 2:14 PM, Shane Tomlinson wrote:

[2012-06-12 16:39] jrgm commented on #1684
verified on stage train-2012.06.08

[2012-06-12 17:01] zaach commented on #1731
It looks like you can supply the jshint module a custom configuration when using it from node, which would be useful if we only want to unit test for the more critical syntax mistakes and have a separate, more stylistically opinionated configuration for IDEs. Though it would be a good idea to commit common .jshintrc files for front-end and back-end code.

[2012-06-12 17:35] #1695 closed, assigned to shane-tomlinson

[2012-06-12 18:29] jrgm opened #1736 "(ie8) 404 requests for background-image"
I was looking at logs on stage for a different reason, but noticed these 404 responses:

GET /v/d99a08c589/i/grain.png),%20linear-gradient(top,%20rgba(113,%20126,%20137,%200),%20rgba(113,%20126,%20137,%200.2) HTTP/1.0 404

The UA for those requests is always IE8. The 404's are not new to the current train.

[2012-06-12 19:07] jrgm commented on #1733
Actually, it's also visible in some desktop browsers when tab-cycling in the content (chrome win/mac, ie9, FF/win)

[2012-06-12 21:29] mathjazz opened #1737 "Persona vs. Mozilla Persona"
We use both, Persona and Mozilla Persona is our strings. What is the difference between them?

In some languages for instance, it's easier to use Mozilla Persona in a sentence than Persona. So localizers are asking me, whether they can decide for themselves when to use which one. Can they always use Mozilla Persona instead of Persona?

What about the other way around? They should probably never us

[2012-06-12 21:32] mathjazz opened #1738 "BrowserID still in our strings"
Search for "BrowserID" here:
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/templates/LC_MESSAGES/client.pot

And here:
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/templates/LC_MESSAGES/messages.pot

Should we update these strings? Or remove them?

@ozten

[2012-06-12 23:02] jrgm commented on #1660
Verified in a dev env (feature not enabled in stage). The "data" portion of the payload sent contains only the keys
lang, timestamp, event_stream, sample_rate, screen_size

[2012-06-12 23:18] jrgm commented on #1614
Confirmed in dev for train-2012.06.08. A typical event stream now looks like

"event_stream": [
 [ "screen.rp_info", 2203 ],
 [ "screen.authenticate", 2229 ],
 [ "screen.set_password", 20728 ],
 [ "user.user_staged", 31452 ],
 [ "screen.check_registration", 31458 ],
 [ "user.user_confirmed", 63940 ],
 [ "generate_assertion", 63941 ],
 [ "screen.generate_assertion", 63960 ],
 [ "assertion_generated

[2012-06-12 23:19] jrgm commented on #1619
Yep, verified in dev instance of train-2012.06.08, no more xhr_\* repitition. A typical event stream is now like

"event_stream": [
 [ "screen.rp_info", 2203 ],
 [ "screen.authenticate", 2229 ],
 [ "screen.set_password", 20728 ],
 [ "user.user_staged", 31452 ],
 [ "screen.check_registration", 31458 ],
 [ "user.user_confirmed", 63940 ],
 [ "generate_assertion", 63941 ],
 [ "screen.generate_assertio

[2012-06-13 00:24] nmalkin opened #1740 "Broken sign-in flow using primary IDP"
Note: the following instructions reproduce the error on my system (Mac OS 10.7) in the Firefox browser (versions 16 and earlier). I haven't been able to reproduce this on other systems or even in another browser (Chrome) on my system.
1. Go to http://dev.123done.org/
2. Click "sign in with Persona"
3. Use an email address from [eyedee.me](https://eyedee.me/) (tested with different addresses)
4. Af

[2012-06-13 00:38] jrgm commented on #1558
Confirmed with train-2012.06.08 on an awsbox and installing a sighup handler to generated uncaught exceptions (since I don't have  real way to force an uncaught exception).

[2012-06-13 00:50] jrgm commented on #1631
okay looks good.

[2012-06-13 01:03] st3fan commented on #1517
Oops I don't think I ever sent an app your way. I create a super simple app at https://bitbucket.org/st3fan/foo-viewer It has a screen with a url and three buttons to open a browser that is 1) iPhone Size 2) iPad Size 3) iPad Modal Sheet Size.

You can run it in Xcode in the iPad simulator. Rotation works. Let me know if this is useful.

[2012-06-13 01:13] jrgm commented on #1635
verified stage train-2012.06.08 on several mac/windows browsers.

[2012-06-13 01:34] jrgm commented on #1624
verified for stage train-2012.06.08 comment is preserved for /include.js. @shane-tomlinson has an open issue GH-1655 for whether license and reference to source code repo is needed in other minified prod. resources. The answer seems to be no, for the most part, with caveats.

[2012-06-13 01:45] jrgm commented on #1706
verified on stage train-2012.06.08 for ie6 and ie7

[2012-06-13 01:48] jrgm commented on #1719
verified stage train-2012.06.08

[2012-06-13 01:49] jrgm commented on #1719
and closing issue (this was GH-1720 pull request, now closed and on the 06.08 train).

[2012-06-13 01:49] #1719 closed, assigned to shane-tomlinson

[2012-06-13 02:17] jrgm commented on #17
Found this in a search by accident. We have this functionality for a while now. Closing this issue.

[2012-06-13 02:17] #17 closed, assigned to lloyd

[2012-06-13 02:19] jrgm commented on #1528
I no longer see this in the rebrand stage train-2012.06.08 so you fixed it in the css shuffle. Closing this issue.

[2012-06-13 02:19] #1528 closed, assigned to shane-tomlinson

[2012-06-13 02:34] jrgm commented on #1248
Ping. With the router in place on stage train-2012.06.08, these URLs redirect to http://127.0.0.1:PORT/ which is even uglier than redirecting to a blackhole unreachable 10.x.x.x IP.

I vote for a zeus rule to redirect them all to '/' for the next prod push, and then just remove the redirect code entirely (these URL haven't been reachable for months now).

/cc @zaach, @jbonacci

[2012-06-13 02:45] jrgm commented on #1740
@nmalkin Your firefox profile is configured to not accept third-party cookies, right?

This is GH-982, I think. (But yeah, I don't like it either ;-) )

[2012-06-13 02:46] nmalkin commented on #1740
Yep, that's the case. I just tracked this down on my own and was about to post it. You beat me by 15 seconds. :-)

[2012-06-13 02:51] jrgm commented on #1740
Cool. Gonna leave this open so it gets a look in the Thurs. triage meeting.

[2012-06-13 03:50] jrgm commented on #1645
verified in stage train-2012.06.08. Just a 404 from localhost now, and was never available otherwise.

[2012-06-13 08:23] shane-tomlinson commented on #1740
@nmalkin, @jrgm  - this is a dup of both #982 and #989, does this need to remain open?

[2012-06-13 09:49] lloyd commented on #1046
resolved in dev.  personatest.org ftw.

[2012-06-13 09:49] #1046 closed, assigned to lloyd

[2012-06-13 09:50] lloyd commented on #1394
resolved.

[2012-06-13 09:50] #1394 closed, assigned to lloyd

[2012-06-13 09:57] lloyd opened #1741 "move to persona.org URLs"
production:
- browserid.org will redirect to login.persona.org for everything but verification requests
- login.persona.org will replace browserid.org
- static.login.persona.org will be the location all resources are served from
- verifier.login.persona.org will be the new verifier entry point

stage:
- diresworb.org will redirect to login.anosrep.org for everything except verification requests
-

[2012-06-13 11:35] lloyd commented on #1500
+1

[2012-06-13 13:46] shane-tomlinson opened #1742 "Run images through a lossless compressor."
Our background images take up more room than they should, Google Pagespeed says we can do better.

[2012-06-13 14:51] Paul-da-silva opened #1744 "Public URLs enabling to verify if an email is attached to a BrowserID account"
Hi,

I looked a little at BrowserID and found something i think might cause some issues : when trying to login the process takes two steps. The first one doesn't require any anti-CRSF token and might enable people to get data from BrowserID.

The API call is a simple GET on https://browserid.org/wsapi/address_info?email=mail@domain.tld

The answer is a simple JS object : {"type":"secondary","known

[2012-06-14 00:24] jrgm commented on #1699
verified on stage train-2012.06.08

[2012-06-14 07:29] lloyd commented on #1713
fixed with above mentioned merge.  see also (duplicate) issue #1745

[2012-06-14 07:29] #1713 closed, assigned to nobody

[2012-06-14 12:00] lloyd commented on #1248
reopened, the remaining work is the production redirect.

[2012-06-14 12:47] #1742 closed, assigned to shane-tomlinson

[2012-06-14 13:18] #1701 closed, assigned to lloyd

[2012-06-14 13:18] #1689 closed, assigned to nobody

[2012-06-14 15:17] jedp opened #1748 "redefinition of variable in jschannel"
The variable 'i', which stores the message id, is redefined in two for loops

First here, https://github.com/mozilla/browserid/blob/dev/resources/static/lib/jschannel.js#L161, and then again in the next block.

It doesn't seem to have any adverse effects, but at the very least it's confusing.

[2012-06-14 15:31] #1540 closed, assigned to shane-tomlinson

[2012-06-14 15:55] jedp opened #1749 "Remove local embedded copies from include.js and provisioning_api.js"
include.js embeds a copy of jschannel and winchan
provisioning_api.js embeds jschannel

caveat before shaving this yak - line 620 of include.js comments out a postMessage ping; this is to prevent the possibility of an error being raised if the ping is sent before the receiving frame is established.

@lloyd has written about this race condition here: http://lloyd.io/jschannel-taming-postmessage (se

[2012-06-14 16:41] benadida commented on #1740
verified duplicate of #989

[2012-06-14 16:41] #1740 closed, assigned to nobody

[2012-06-14 16:46] benadida commented on #1733
consider whether we disable in production.

[2012-06-14 16:49] benadida commented on #1732
review whole data flow /cc @benadida @shane-tomlinson @jedp

[2012-06-14 16:52] benadida commented on #1730
@shane-tomlinson downgrade if this isn't blocking.

[2012-06-14 16:57] benadida commented on #1710
reproduce and provide me with assertion and localStorage, plus time plus VM time.

[2012-06-14 17:00] benadida commented on #1709
let's figure out exact STR and then adjust priority if need be.

[2012-06-14 17:04] benadida commented on #1708
/cc @callahad @shane-tomlinson

we need to discuss the flow and the security implications, this is hard.

[2012-06-14 17:05] benadida commented on #1708
let's focus on this issue as just making it work with the current flow, that's Shane's job.
Broader discussion for later.

[2012-06-14 17:06] callahad commented on #1708
(The broader discussion, if we discuss allowing a Primary to unlock Secondaries, should consider users with a MockMyID account in their list of associated addresses.)

[2012-06-14 17:11] callahad commented on #1658
This has been fixed.

[2012-06-14 17:11] #1658 closed, assigned to callahad

[2012-06-14 17:18] seanmonstar opened #1751 "windows: node-statsd won't npm install"
node-statsd package.json has an `os` property, that excludes windows from the party.

I don't know if a statsd daemon would even run on Windows, but I do see in `lib/statsd.js` that config turns it on or off, so it would be possible for a windows box to run the server with the config set to off.

[2012-06-14 17:27] seanmonstar opened #1752 "node-statsd leaks Client global variable"
the `Client` function in node-statsd isn't a named function, or prefixed with `var`, so it leaks.

[code]

[2012-06-14 17:27] shane-tomlinson commented on #483
Closing as won't fix.

[2012-06-14 17:30] shane-tomlinson commented on #1012
with personatestuser.org that @lloyd wrote, this can be closed.

[2012-06-14 17:30] #1012 closed, assigned to shane-tomlinson

[2012-06-14 17:32] shane-tomlinson commented on #1038
@benadida - reassigning back to you - is this needed still?

[2012-06-14 17:33] benadida commented on #1038
downgrading.

[2012-06-14 17:40] shane-tomlinson commented on #1521
@jbonacci - Closing as fixed.  Thanks!

[2012-06-14 17:40] #1521 closed, assigned to shane-tomlinson

[2012-06-14 17:52] shane-tomlinson commented on #1319
Fixed with rebrand.  Closing.

[2012-06-14 17:52] #1319 closed, assigned to shane-tomlinson

[2012-06-14 17:52] #1239 closed, assigned to shane-tomlinson

[2012-06-14 17:52] shane-tomlinson commented on #1239
with https://github.com/mozilla/browserid/pull/1735, this is done.  Closing

[2012-06-14 17:55] shane-tomlinson commented on #1269
fixed with checkin 0e80cced.  Closing

[2012-06-14 17:55] #1269 closed, assigned to shane-tomlinson

[2012-06-14 17:55] shane-tomlinson commented on #1096
Closing as done in redesign.

[2012-06-14 17:55] #1096 closed, assigned to shane-tomlinson

[2012-06-14 17:57] shane-tomlinson commented on #1092
@skinny97214 - which sign in button is this for?

[2012-06-14 17:59] shane-tomlinson commented on #1497
link to #1734

[2012-06-14 17:59] shane-tomlinson commented on #1734
Link to #218

[2012-06-14 18:00] shane-tomlinson commented on #1495
Closing as fixed with fca7da4

[2012-06-14 18:00] #1495 closed, assigned to shane-tomlinson

[2012-06-14 18:00] shane-tomlinson commented on #1492
Fixed with redesign.  Closing

[2012-06-14 18:00] #1492 closed, assigned to shane-tomlinson

[2012-06-14 18:00] shane-tomlinson commented on #1492
Fixed with redesign.  Closing

[2012-06-14 18:02] shane-tomlinson commented on #1426
Fixed with redesign, though there is a different issue now.  Closing this one.

[2012-06-14 18:02] #1426 closed, assigned to shane-tomlinson

[2012-06-14 18:03] shane-tomlinson commented on #1477
Done with 64d83af.  Closing.

[2012-06-14 18:03] #1477 closed, assigned to shane-tomlinson

[2012-06-14 18:05] shane-tomlinson commented on #538
@callahad - I am reassigning this to you to do as you please.

[2012-06-14 18:07] shane-tomlinson commented on #1583
Fixed with redesign.  Closing.

[2012-06-14 18:07] #1583 closed, assigned to shane-tomlinson

[2012-06-14 19:07] skinny97214 commented on #1092
All button states are provide for in smartell's mocks.
http://cl.ly/3t1Q020s1D0k2s2a3f2M

full image at
http://f.cl.ly/items/05000H292r113N2g3n3q/flow.png

The button I was referring to is the [sign in] in the popup.

[2012-06-14 19:07] #1092 closed, assigned to shane-tomlinson

[2012-06-14 20:01] seanmonstar commented on #1751
This could be fixed either upstream in node-statsd, or in browserid, by putting node-statsd as an `optionalDependencies`.

[2012-06-14 20:34] seanmonstar opened #1755 "Improve email inboxing"
Confirmation emails (and others) are very important to have reaching people's inboxes.

They could be just getting into the spam folder, or the email provider could be blocking them from ever getting to the account. This can be improved with some good work.

[2012-06-14 20:36] seanmonstar commented on #1755
[37Signals](http://37signals.com/svn/posts/3096-giving-away-the-secrets-of-993-email-delivery) has some tips on how they do it, which include:
1. Signing the emails
2. proper RDNS
3. valid SPF records
4. others?

[2012-06-14 21:00] zaach opened #1756 "Old version of nodemailer introduces global `util`, causes buggy side effects"
Bitten again by globals! The `layout.ejs` template file was using a reference to a global instance of `util`, which broke things when resources were served from a new static process rather than the browserid process. I tracked down the global `util` to the nodemailer module.

We should update our version of nodemailer (0.1.18) and explicitly pass `util` as a value to the views. The problem seems t

[2012-06-14 21:08] zaach opened #1757 "Create new process for serving static or "cacheable" resources"
We'll offload static files and rendered views from the browserid process and serve them from a new "static" process. This allows the browserid process to deal with white-listed WSAPI requests only. Eventually, static resources will be served from CDN.

[2012-06-14 23:07] seanmonstar commented on #1433
Should that be `address_info`? Also, I don't even see notification on the sign in page; perhaps the request is too quick.

[2012-06-14 23:33] mattbasta commented on #1709
I'm basing my experience on http://munchylunchy.com/ (see mattbasta/munchylunchy-frontend and mattbasta/munchylunchy-api).
1. Visit munchylunchy.com, press "Just Me"
2. Press "Let's Do This" (login button, triggers BrowserID)
3. The popup is opened with the error message "We are very sorry, there has been an error!"

The "More Info" bit says:

[2012-06-15 09:41] shane-tomlinson opened #1760 "deprecate requiredEmail"

[2012-06-15 09:48] ghost commented on #567
@jbonacci I tried to reproduce this issue on http://123done.org/ several times with different BrowserID dialogs, but it never reproduced.

[2012-06-15 10:22] shane-tomlinson opened #1761 "disable siteLogo from HTTP served sites."

[2012-06-15 10:24] lloyd commented on #1757
a strong +1

One note, I've been informed by QA and prod ops in no uncertain terms that before we add a new process we must consult them with an architecture overview, ideally before a line of code is written.  I will do this now, retro-actively for router.  For the static file server I think we need to respect their wishes and write it up.  I can do this, or you can @zaach...  Now /me gets to wri

[2012-06-15 11:04] lloyd commented on #1751
is this the only known issue on windows?  I _expect_ there's going to be a _ton_ of problems getting browserid running there.  If that suspicion is true, I'd prefer we open a single big tracking ticket and assess the cost.

[2012-06-15 11:05] lloyd commented on #1012
bullshit.  @jparsons wrote it :D

[2012-06-15 11:07] lloyd commented on #1755
we use socketlabs for delivery.  I have noticed (and I think @jrgm too) intermittent delays in email delivery.

We should audit delivered emails, and work with socketlabs to improve anti-spam classification mechanisms and delivery times.

[2012-06-15 11:14] lloyd commented on #1760
proposal on mailing list to remove this feature: https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/ed0fe479f24f75ca#

[2012-06-15 11:23] #1761 closed, assigned to shane-tomlinson

[2012-06-15 11:25] lloyd commented on #1761
siteLogo is disabled on 123done until we can get SSL certificates:

https://github.com/mozilla/123done/commit/3bb0d38335dd0fed80b76b92864bbc265c8c515c

[2012-06-15 11:26] akumria opened #1764 "Simplify link to 'verified email protocol'"
README.md contains a link to 'verified email protocol', which forwards to:
- https://wiki.mozilla.org/Labs/Identity/VerifiedEmailProtocol

That link, however, states it is deprecated and suggests either:
 https://wiki.mozilla.org/Identity/BrowserID
 https://wiki.mozilla.org/Identity/Verified_Email_Protocol/Latest

The first, https://wiki.mozilla.org/Identity/BrowserID, suggests looking instead at:

[2012-06-15 12:00] zacc commented on #1473
I can't replicate this anymore either.

[2012-06-15 14:14] ghost opened #1766 "The BrowserID dialog opened from a client is not Persona branded"
OS: Android 2.3.4
Browser: Firefox 14.0 Beta

STR:
1. Load http://123done.org/ in the browser.
2. Click on the Sign In button.
3. Observe the dialog footer and its header.

"BrowserID is the fast and secure way to sign in — learn more" should be "Mozilla Persona...". The header and the page title aren't branded either.

[2012-06-15 14:28] #1766 closed, assigned to nobody

[2012-06-15 14:59] #1734 closed, assigned to shane-tomlinson

[2012-06-15 14:59] #1497 closed, assigned to shane-tomlinson

[2012-06-15 14:59] #218 closed, assigned to lloyd

[2012-06-15 16:22] ozten commented on #1502
This will affect Project Tapas, would be great if we could fix this before the beta.

[2012-06-15 17:30] #567 closed, assigned to nobody

[2012-06-15 18:02] callahad commented on #1760
If we deprecate requiredEmail in the current API, we should outright pull it from the Observer API before we announce the Observer API as stable.

[2012-06-15 18:05] callahad commented on #1764
Thanks for the report! This is captured in #1672; waiting to resolve until pull request #1683 gets merged in. Closing this as  a duplicate.

[2012-06-15 18:05] #1764 closed, assigned to callahad

[2012-06-15 22:03] seanmonstar commented on #1751
Yea, I was going to go through and document each place it has issues, but I got distracted.

[2012-06-15 22:50] zaach opened #1767 "Heartbeat of router should reflect health of browserid and static processes"
The router/browserid/static processes will live on the same box, so the health of the router process should reflect the health of those other processes. If they go down, it has nothing to route to.

/cc @lloyd

[2012-06-16 00:12] seanmonstar opened #1769 "Windows install errors"
Trying to install browserid locally onto a Windows machine causes some errors. These are what I've gathered so far, as I work around them, I'll add more that I find.
- ~~node-statsd specifically excludes Windows from the `os` property. - details in #1751~~
- ~~bcrypt fails to install (at version 0.4.1). There has been a lot of work on the repo to make it work in Windows, which seems to be getting

[2012-06-18 05:38] jrgm opened #1770 "Fix load_gen to correctly send args to /verify"
I realized that the load_gen calls to /verify were ~silently failing because they were sending an assertion without the certs (correct my terminology if that's wrong).

Sorry for having missed this earlier. load_gen itself was reporting all success due to a bug that cancelled out the first bug. It was just some chirping in the metrics log that led me to this.

I have a PR to fix this (er, I think

[2012-06-18 09:26] shane-tomlinson commented on #1502
@ozten - Let's have a chat about this.  I'm not keen on implementing a transaction model in the dialog before beta.

[2012-06-18 11:59] shane-tomlinson opened #1773 "WinChan does not pick up dialog close while redirected to IdP"
STR

1) Go to myfavoritebeer.org
2) Click "Sign in"
3) Sign in with an IdP that will cause redirect to IdP.
4) Close dialog
5) Sign in button is still greyed out.

[2012-06-18 12:21] lloyd commented on #1767
I think this is the behavior right now.  router forwards 'ping' wsapi to browserid, who checks db conn, and responds.  We should make this more explicit.

[2012-06-18 12:24] shane-tomlinson opened #1774 "Button highlights for keyboard focus"
The buttons frequently do not have enough contrast between their active and non-active states and it can be difficult to tell which element has keyboard focus.

Should we highlight the buttons with a box-shadow in the same way we do for input boxes?

[2012-06-18 12:36] shane-tomlinson commented on #1760
@callahad - that is why we are trying to do it now - we don't want to start with a feature and then yank it once beta goes out.

[2012-06-18 12:49] shane-tomlinson commented on #1738
@mathjazz - That is an excellent catch.  I will update these in dev, can you update those strings before we ship the current beta->prod?

Fix checked in for string in client.pot in 0e040614f6a21975786e26334039d7c124569dc9

Fix checked in for string in messages.pot in 96b20bdbe046251cc10e2eb0f1616c9426ed77ef

[2012-06-18 13:26] shane-tomlinson commented on #1669
Closing in favor of #1733

[2012-06-18 13:26] #1669 closed, assigned to shane-tomlinson

[2012-06-18 14:07] mathjazz commented on #1738
@shane-tomlinson, thanks!

I guess you have to merge these changes to train-2012.06.08. Then I can extract and merge the strings again, translate them myself (simple search & replace should do the trick) and update SVN & Verbatim.

[2012-06-18 14:46] ghost opened #1776 "Help pages aren't Persona branded"
OS: All
Browser: All

STR:
1. Load https://diresworb.org/ in the browser.
2. Click on the "Developers" link on the upper right side of the page.
3. Click on the "Need Help?->" link displayed on the bottom right side of https://diresworb.org/.

The pages opened are still referring to BrowserID instead of Persona:
https://developer.mozilla.org/en/BrowserID/Quick_Setup
https://support.mozilla.org/en-

[2012-06-18 14:50] shane-tomlinson commented on #1682
@jrgm - I did this a bit more generally, the email does not have to be verified in the same browser.  I was able to reproduce this verifying the email in a separate browser on a separate machine.  Digging in.

[2012-06-18 14:52] shane-tomlinson opened #1777 "set password screen tab indexes not correct."
After tabbing from the verify password field, the cursor is placed on the cancel button

[2012-06-18 14:53] shane-tomlinson opened #1778 "Remove no longer needed class names in templates - serif and sans"
These are remnants from the last design and should be removed to shrink the content shipped down the wire.

[2012-06-18 14:57] ghost opened #1779 "Mobile VKB hides part of the signing in UI flow"
OS: Android 2.3.4
Browser: Firefox 14.0

STR:
1. Load http://beta.123done.org/ in the browser.
2. Tap on the "Sign in with Persona" button.
3. Enter an email address associated to BrowserID.
4. Tap on the "Go" button on the virtual keyboard.

Expected Results:
The next Sign In dialog is opened but the Password field is not focused until the user taps on it.

Actual Results:
What the user sees is t

[2012-06-18 14:57] shane-tomlinson opened #1780 "Firefox: pressing enter key in email address on authentication page sometimes shows invalid address tooltip."
Likely introduced with PR-1729 for issue #1376

STR)

1) Load up BrowserID dialog
2) If logged in, click "this is not me"
3) In email field, partially enter an email address that has been used before.
4) From the auto-complete list, select an address, press enter.
5) Watch the tooltip be displayed.

[2012-06-18 14:58] shane-tomlinson commented on #1779
Same cause as #236

[2012-06-18 15:25] shane-tomlinson commented on #1780
The order of events for a key press was incorrect in the unit tests.  The unit tests specify keydown, keyup, then keypress when it is in fact keydown, keypress, and finally keyup.

In Firefox, when pressing "enter" in an auto-complete box, the "keypress" key is triggered but not the "keyup" field.  In page_module, submit should be done on keyup instead of keypress.