[2012-02-05 19:47] zaach commented on #924
The parse function _was_ based on the code from Gettext.js, which in turn seemed to be heavily inspired by po2json.pl. I could do a rewrite if that's better for licensing purposes.

[2012-02-06 15:49] fetep commented on #1054
this is also happening in stage, so we'll need to merge this fix.

[2012-02-06 16:19] fetep commented on #1054
stack trace:

2012-02-06 07:48:43.447595500 Error: EINVAL, Conversion not supported.
2012-02-06 07:48:43.447599500     at GettextDomain.parseHeaders (/opt/browserid/node_modules/node-gettext/index.js:105:22)
2012-02-06 07:48:43.447602500     at GettextDomain.parseHeaders (/opt/browserid/node_modules/node-gettext/index.js:131:21)
2012-02-06 07:48:43.447605500     at GettextDomain.handle_strings (/o

[2012-02-06 16:55] ozten commented on #924
This tool can stay GPL, I was hoping to move it to another license.

Porting a GPL Perl program line by line to another language, is probably not enough to re-license.

For bugs where we want MPL, we'll be more careful about a "from scratch" implementation.

Thanks for offering to re-write that one function, no need.

I've commmited your author comment update. Great work!

[2012-02-06 17:00] shane-tomlinson commented on #1046
Comment from Asa on my blog - "Can I make the suggestion that if you want people testing this you not use a domain like hacksign.in. I can’t think of a worse possible experience playing with a new login system for the web than being asked to trust something called hacksignin."

[2012-02-06 17:15] mathjazz commented on #924
Hey @ozten, we don't really use any of those scripts. We only run extract_po.sh and merge_po.sh to update the PO files, which are later converted to JSON by cron I guess.

From my perspective, feel free to remove the Perl-based script.

[2012-02-06 17:15] ozten commented on #992
Here is some good feedback
http://groups.google.com/group/mozilla.dev.l10n.web/browse_thread/thread/6ca0e91878fc4ffa#

[2012-02-06 17:26] ozten commented on #1054
Looking now, headed into meeting, so it might take a while.

[2012-02-06 18:36] ozten commented on #1054
I reproduced on AWS, but was unable to reproduce on my locale dev environment.

I added proper CHARSET settings to db_LB as well as the templates pot files.

http://viewvc.svn.mozilla.org/vc?view=revision&revision=101188
http://viewvc.svn.mozilla.org/vc?view=revision&revision=101190

I tested the fix by deploying a second AWS instance and requesting a page. Looks fixed.

Please let me know if you

[2012-02-06 18:36] #1054 closed, assigned to ozten

[2012-02-06 18:58] ozten commented on #1052
@mathjazz - Heads up, I found po files that still had an old CSS class.

Fixed in cs, lij, pl, ru, and sr
http://viewvc.svn.mozilla.org/vc?view=revision&revision=101192

Don't know if we need to warn them to avoid SVN conflicts...

[2012-02-06 19:52] ozten opened #1057 "stage JS error for db_LB"
STR
1) Set language in browser to it-CH
2) Go to http://beta.myfavoritebeer.org/
3) Click Sign in

Expected:
Sign in flow

Actual:
Dialog stuck on Communicating with server.
Note JS Error in console

Error: missing ) after argument list
Source File: https://diresworb.org/production/db_LB/dialog.js
Line: 9, Column: 20692
Source Code:
:function(a,b){var c=this;return function(d){c.renderError("error

[2012-02-06 20:10] jrgm opened #1058 "Two new issues with the dialogs for 'forgot password' (train-2012.02.02)"
This is, I think, related to the fixes for GH-984 (and possibly GH-1001). While GH-984 is fixed for what it described, there are two new bugs in the flow.

1) go to http://beta.myfavoritebeer.org with a clean browser profile (or simply ensure you are signed out of diresworb.org).

2) On beta.myfavoritebeer.org, click Sign in. The /sign_in popup window comes up. Enter an email address that is known

[2012-02-06 20:12] jrgm commented on #984
This bug as initially described is fixed, but there are some related issues that weren't there before.

[2012-02-06 21:10] jrgm commented on #911
This is now available on stage for train-2012.02. https://diresworb.org/include.orig.js

[2012-02-06 21:47] ozten commented on #1052
Okay, I've rebuild all the languages and this fixed this issue.

Please have zh_TW, zh_CN and other locales re-test.

thanks!

[2012-02-06 21:47] #1052 closed, assigned to ozten

[2012-02-06 23:25] skinny97214 opened #1060 "instrument site in preparation for a/b testing of UX experiments"
I will be needing metrics to tweak copy, button text, alternate flows through the UI, etc. I need to be able to track the effects of design decisions so we can fine-tune the site.

[2012-02-06 23:27] fetep commented on #1054
lgtm in stage, thanks!

[2012-02-06 23:51] fetep commented on #1057
Things I've observed so far:
- the file is being built properly (on-disk, it ends with "()")
- even bypassing zeus & nginx in stage, the file is being served without a "()" at the end.

Is some middleware breaking it, maybe?

[2012-02-07 00:07] ozten commented on #1057
Sorry for massive copy/paste.

More info...

node in stage is cutting off the end of dialog.js for the following locales:
- db_LB
- el
- ru

The larges JS files in order are: db_LB, sr, el, ru

It's not clear why sr works but the other three are truncated.

@fetep requested directly from node, to rule out nginx or zeus.

It's possible that a node is getting confused by the file encoding and servin

[2012-02-07 00:08] ozten commented on #1057
@petef what is the md5sum of `resources/static/production/db_LB/dialog.js` on stage? Can you attach the original file to this bug (since a wget via http will be hozed)

[2012-02-07 00:20] ozten commented on #1057
The following po files are detected as ASCII by `file`:
- en_US
- eo
- es_MX
- et
- eu
- fr
- gd
- gl
- hr
- ja
- lt
- ml
- pt_BR
- pt
- sk
- son

which the others being detected as UTF-8

[2012-02-07 00:27] ozten commented on #1057
Reference codebase is:

SVN locale @ r101191
Git repo/branch https://github.com/fetep/browserid/tree/train-2012.02.02-petef

[2012-02-07 00:42] ozten commented on #1057
HTTP header on response - Content-Length: 285467

`curl --ignore-header-length` causes complete JS file to be downloaded...

[code]

[2012-02-07 01:06] skinny97214 opened #1062 "error styles"
mock of the error window

http://cl.ly/1N2i212b1H47322F1525

Changes

CSS
background #FFE4D5;
text red;

COPY
- "To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below."
- "To retry, you will have to close this window and try again."

[2012-02-07 09:28] shane-tomlinson commented on #711
This is caused by #835 - cookies being disabled.  Closing as duplicate.

[2012-02-07 09:28] #711 closed, assigned to shane-tomlinson

[2012-02-07 12:44] mathjazz commented on #1052
Thank you @ozten! I'll let zh_TW and zh_CN know!

Some locales, including cs, pl, ru, and sr, haven't worked on their translations after we added new and modified strings. When that happened, their old translations were marked as fuzzy, so they know they have to change them.

But lij obviously forgot to update their classes and ids, so thanks for pointing that out.

[2012-02-07 14:02] shane-tomlinson commented on #1062
@ozten - yo, are we good to start modifying strings again?

[2012-02-07 14:34] shane-tomlinson commented on #981
@ozten - in my i18n directory, the changes I made for `&apos;->&#39;` are not reflected - all the client.json files still have `&apos;`.  Can we manually update any `&apos;`'s in the finished files so that IE8 can display correctly?

@jrgm - thanks for finding this.

[2012-02-07 14:47] shane-tomlinson commented on #1058
@jrgm - Thanks for the report - when there are two issues, can you file them separately so we can better track them?

[2012-02-07 15:05] shane-tomlinson commented on #1058
@ozten - in resources/static/i18n/en_US/client.json, I am seeing the following for Reset Password and Resetting Password:

[code]

If I change the

[code]

to

[code]

the buttons hows up correctly in the dialog.

[2012-02-07 15:23] shane-tomlinson commented on #954
@jrgm - I just did some tests on this and it is due to the way we are fading in the elements.  We are using Javascript to do the fade in effect and it is causing a CPU spike in IE, if I remove the animation and do a straight "show", CPU usage hits ~18%, which is consistent with other sites.

[2012-02-07 15:28] shane-tomlinson commented on #1000
@skinny97214 - if we do the set password flow inside the dialog for new users, are we going to do the same for reset-password?

[2012-02-07 15:36] shane-tomlinson commented on #991
Closing, this got fixed with other changes that were made.

[2012-02-07 15:36] #991 closed, assigned to shane-tomlinson

[2012-02-07 16:22] ozten commented on #1057
Placing the offending file http://people.mozilla.com/~petef/db_LB_dialog.js on temporary_preview does not reproduce the issue.

[2012-02-07 16:45] ozten commented on #981
@shane-tomlinson - bummer. I'll edit all the po files that haven't gotten around to updating their strings. thanks for calling this out.

[2012-02-07 16:59] shane-tomlinson commented on #985
@lloyd - issued two pull requests for this - one to myfavoritebeer.org one to myfavoritebooze.org

https://github.com/lloyd/myfavoritebooze.org/pull/4
https://github.com/lloyd/myfavoritebeer.org/pull/48

[2012-02-07 17:02] ozten commented on #981
Sending        cs/LC_MESSAGES/client.po
Sending        de/LC_MESSAGES/client.po
Sending        en_US/LC_MESSAGES/client.po
Sending        fy/LC_MESSAGES/client.po
Sending        ga/LC_MESSAGES/client.po
Sending        it/LC_MESSAGES/client.po
Sending        lij/LC_MESSAGES/client.po
Sending        nl/LC_MESSAGES/client.po
Sending        pl/LC_MESSAGES/client.po
Sending        rm/LC_MESSAGES/client

[2012-02-07 17:08] ozten commented on #1058
The en_US po files have some msgstr with values.

#: resources/static/shared/error-messages.js:108
#, fuzzy
msgid "Resetting Password"
msgstr "Password"

This happens when we change a string, it gets marked fuzzy so we know it changed.

I'll go through en_US client.po and messages.po and remove all msgstr values, so they are empty strings.

[2012-02-07 17:33] ozten commented on #981
Ugh, this caused a bunch of duplicate strids.

Fixed:
Sending        cs/LC_MESSAGES/client.po
Sending        de/LC_MESSAGES/client.po
Sending        en_US/LC_MESSAGES/client.po
Sending        fy/LC_MESSAGES/client.po
Sending        ga/LC_MESSAGES/client.po
Sending        it/LC_MESSAGES/client.po
Sending        lij/LC_MESSAGES/client.po
Sending        nl/LC_MESSAGES/client.po
Sending        pl/LC_M

[2012-02-07 18:06] #1058 closed, assigned to nobody

[2012-02-07 18:13] mathjazz commented on #981
I've updated all locales in Verbatim.

Question: what if we just use ' instead of &#39 as we do here?
https://github.com/mozilla/browserid/blob/dev/resources/static/shared/wait-messages.js

[2012-02-07 18:30] ozten commented on #1062
We need to have a team meeting and decide on a release process around string freeze.

[2012-02-07 18:31] ozten commented on #1062
Can we take care of https://id.etherpad.mozilla.org/18 in this Issue?

[2012-02-07 18:32] ozten commented on #992
Let's use 1062 for https://id.etherpad.mozilla.org/18

[2012-02-07 18:33] mathjazz opened #1065 "Add new locales: Hebrew (he) and Hungarian (hu)"
@ozten: two more locales.

[2012-02-07 19:02] ozten commented on #1057
@fetep here is a reduced test case https://gist.github.com/1761254

Can we put that on a browserid box and hit port 8666?

[2012-02-07 19:40] ozten commented on #1065
Updated on temporary_preview.

[2012-02-07 19:46] ozten commented on #1065
he is RTL and needs BIDI support, right?

Filing Issue#1066 for CSS support. Note l10n-bidi has all the bugs which affect RTL locales.

[2012-02-07 19:49] ozten opened #1066 "CSS should support RTL locales"
With Issue 1065, we have our first right to left (RTL) language 'he'.

Most languages are left to right (LTR) such as English. On RTL locales, we want the entire page design to be mirrored.

We put the following in the HTML to trigger the CSS:

[code]

To see how this works, compare https://addons.mozilla.org/en-US/firefox/ to https://addons.mozilla.org/h/firefox/

Notice the entire page layout is

[2012-02-07 20:11] mathjazz commented on #1065
Indeed, it is RTL based, thanks for pointing this out and filing the issue.

[2012-02-07 21:11] shane-tomlinson commented on #1062
@ozten - I think we can take care of it concurrently, but should leave both issues open for tracking.

[2012-02-07 23:58] ozten commented on #981
'nuff said!

[2012-02-08 00:31] jrgm opened #1071 "failures in using a primary email with beta.myfavorite{beer,show,booze}.org"
Secondary email addresses work. Primaries don't. Believed to be due to http proxy outbound in stage env. @fetep fixing?

[2012-02-08 01:20] jrgm commented on #1071
fixed now.

[2012-02-08 01:20] #1071 closed, assigned to nobody

[2012-02-08 01:26] jrgm commented on #1058
@shane-tomlinson yes, sorry; should have filed as two issues.

Anyways, all works as expected for the button label (in en-US) and for the email address not being undefined for IE8/WinXP, IE9/Win7, {opera,chrome,firefox} on {osx,ubuntu,winxp/win7}, safari on {osx,winxp,win7}

[2012-02-08 01:49] jrgm commented on #981
Text looks fine (no apos) for en-US on IE8/WinXP, IE9/Win7, {opera,chrome,firefox} on {osx,ubuntu,winxp/win7}, safari on {osx,winxp,win7}, and android 2.1 stock browser.

[2012-02-08 01:49] #981 closed, assigned to shane-tomlinson

[2012-02-08 02:44] jrgm commented on #984
verified as fixed on stage train-2012.02.02 on all browsers winxp(ie8),win7(ie9),ubuntu,osx and with stock browser android 2.1

[2012-02-08 02:45] jrgm commented on #1001
verified as fixed on stage train-2012.02.02 on all browsers winxp(ie8),win7(ie9),ubuntu,osx and with stock browser android 2.1

[2012-02-08 02:50] jrgm commented on #1020
verified as fixed on stage train-2012.02.02 on all browsers winxp(ie8),win7(ie9),ubuntu,osx and with stock browser android 2.1, in the three locations noted above.

[2012-02-08 03:37] jrgm opened #1072 "text baseline alignment of 'cancel' and 'reset password' are a little off on android 2.1 stock"
Minor nit followup to GH-1020 - the text baseline alignment of 'cancel' and 'reset password' are a little off on android 2.1 stock.

See http://img.skitch.com/20120208-dxpeany6gaqyqcs7ubkgn12c36.jpg

[2012-02-08 04:40] jrgm commented on #925
Sorry, made the verify in the wrong place. rs-verify code is removed here now.

[2012-02-08 04:43] jrgm commented on #918
verified on stage train-2012.02.02

[2012-02-08 04:49] jrgm commented on #1031
verified code is gone on train-2012.02.02 and dev branches.

[2012-02-08 05:09] jrgm commented on #1004
verified on a bunch of browser/os combinations

[2012-02-08 05:15] jrgm commented on #987
verified in stage for multiple browser/os combinations

[2012-02-08 14:20] shane-tomlinson opened #1074 "silent assertions on domains with `_` in the name fail - JSChannel"
I came across this today while experimenting with the login DOM event for @skinny97214.  This only manifests itself when trying to get silent assertions.

My test domains are named https://netflix_test_a.hacksign.in, https://netflix_test_b.hacksign.in.

When trying to get silent assertions on dom load, the __ready event would never correctly complete in the main page.  After doing some digging, I

[2012-02-08 17:01] ozten opened #1075 "French (fr) is 100% on strings, but not showing up localized"
Both temporary_preview and stage show fr in English.

[2012-02-08 17:26] lloyd commented on #1018
fixed!

[2012-02-08 17:26] #1018 closed, assigned to lloyd

[2012-02-08 17:29] lloyd commented on #1074
this sucks, but do we really want a hotfix for it?  I'll fix in JSChannel and integrate into dev now.

[2012-02-08 17:35] shane-tomlinson commented on #1074
@jbonacci, @lloyd - I'd say no hotfix.  @lloyd, what do you think about @jbonacci's comment of other internationalized names?

[2012-02-08 17:43] #1074 closed, assigned to lloyd

[2012-02-08 17:43] shane-tomlinson commented on #1066
@skinny97214 - What do you think about removing the left to right arrow slide?  It really offers no benefit to the user besides a bit of eye candy.

[2012-02-08 17:53] lloyd commented on #863
done,  https://eyedee.me

[2012-02-08 17:53] #863 closed, assigned to lloyd

[2012-02-08 19:06] ozten commented on #1075
This was a verbatim thing that @mathjazz fixed.

[2012-02-08 19:06] #1075 closed, assigned to ozten

[2012-02-08 19:08] ozten commented on #1057
Via IRC (10:56:10 AM) petef: ozten: tha ttest case is running on web1.scl2.stage
(10:56:25 AM) petef: but now with curl --ignore-content-length, on both the test server and the real bid server, it's hanging after so many bytes
(10:56:34 AM) ***petef confused, will look again in a bit

[2012-02-08 19:46] ozten commented on #1057
@lloyd found https://gist.github.com/1772675

c9 a5 -> ef bf bd

which adds 4 bytes to the response.

[2012-02-08 23:03] jrgm commented on #1002
verified

[2012-02-08 23:10] ozten commented on #620
Proposal: https://github.com/ozten/connect-cachify/blob/master/README.md

[2012-02-08 23:16] jrgm commented on #1003
verified on stage

[2012-02-08 23:19] jrgm commented on #947
verified on stage for multiple browser/os including android 2.1 stock.

[2012-02-08 23:25] skinny97214 commented on #1066
I'd like to keep it, especially if we can use it in place of a spinner to indicate progress. Can we reverse it for RTL locales?

[2012-02-08 23:55] jrgm commented on #946
Okay, verified on win7/winxp/osx/ubuntu (android moot). This flow (apart from having to click sign in on e.g., myfavoritebeer.org) is navigable with the keyboard.

[2012-02-09 00:36] jrgm commented on #938
Verified on stage for train-2012.02.02. All static requests respond with 'Vary: Accept-Encoding,Accept-Language'; /wsapi/..
calls do not contain this header.

[2012-02-09 06:16] lloyd commented on #1057
dirty.  stupid.  ugly.  bug.

tl;dr; bugs in postprocess

So!  concatenation of buffers using '+=' is not safe.  it does an implicit conversion to a javascript utf8 string.  if there happens to be a partial utf8 char that hangs over buffer boundaries, then the utf8 conversion translates the invalid utf8 into a REPLACEMENT CHAR or some such.  The result is munged chars.

The plot thickens.  Because

[2012-02-09 06:25] #1057 closed, assigned to nobody

[2012-02-09 06:30] lloyd commented on #1057
ozten: this issue won't occur in production even if we don't merge the fix, but it will continue to plague us in the QA env.

given that postprocess doesn't come into play in prod, I consider this very low risk.  would you like to hotfix?

[2012-02-09 06:47] ozten commented on #1057
This bug only affects 2 real locales and we feel pretty good about the behavior in production.

I'd say no need to hotfix, be ready to dive deeper if it does repro in prod.

After caching fix, we should look at removing postprocessing for hostnames, there may be a cachable runtime solution.

[2012-02-09 06:47] lloyd opened #1080 "AGAIN! exception in l10n code during first page load after VM provisioning"
Now, featuring a new stack trace:

[code]

missing mo file?  Given that `i18n.js` line 117 looks like this:

[code]

perhaps I need to define a `debug_lang` for aws deploy? hmm.

[code]

ideas?

[2012-02-09 06:55] ozten commented on #1080
Thanks for assigning to me. I didn't test missing  config. I think I default no config to it-CH. If debug locale, we should switch to our debug locale, so we shouldn't try to load .mo files for it-CH.

I'll look at various config missing and if that causes this issue.

[2012-02-09 06:55] lloyd commented on #1080
no longer to test l10n in dev.  does that make this silly thing a 5 star?

[2012-02-09 06:57] lloyd commented on #1080
omg that's so cool!  I gave it _double_ five stars!

ozten, not something that needs to be looked at at this late hour, I'm just having fun breaking github's issue labels.

[2012-02-09 10:19] #1072 closed, assigned to nobody

[2012-02-09 10:19] shane-tomlinson commented on #1072
Thanks @jrgm - fixed.

[2012-02-09 10:22] shane-tomlinson commented on #1066
@skinny97214 - we don't actually use it to indicate progress - it is only used to indicate "the process is done" - which delays the user signing in by a second or so.  The slide effect cannot be done during key generation (which is the slow part that comes before it, for which we show a wait screen) because key generation is synchronous and does give up any processing time to do any UI updates.

[2012-02-09 10:34] #1051 closed, assigned to shane-tomlinson

[2012-02-09 10:38] shane-tomlinson opened #1081 "error.ejs is not gettextified"

[2012-02-09 10:44] shane-tomlinson opened #1082 "remove code_check from front end"
It is no longer needed.

[2012-02-09 11:03] #1062 closed, assigned to shane-tomlinson

[2012-02-09 11:03] #1081 closed, assigned to shane-tomlinson

[2012-02-09 11:32] #1082 closed, assigned to shane-tomlinson

[2012-02-09 11:54] shane-tomlinson commented on #9
@lloyd - is this taken care of now?

[2012-02-09 11:55] shane-tomlinson commented on #106
We highlight the last used email.  Closing this issue.

[2012-02-09 11:55] #106 closed, assigned to lloyd

[2012-02-09 13:53] shane-tomlinson commented on #314
@jbonacci -

https://bugzilla.mozilla.org/show_bug.cgi?id=355063 outlines a Firefox bug that shows that authentication content added to the DOM after DOMContentLoaded does not receive any love from the password manager.

This leads me to think I should pre-fill the form with the authentication content so that we do not have this problem.

[2012-02-09 16:43] lloyd opened #1083 "rate limiting responses should use HTTP 429"
requests which refuse to service a request because it would cause too many emails being sent to a single address are currently using HTTP 403, HTTP 429 is a better fit.

[2012-02-09 17:05] ozten commented on #1080
The issue with a vanilla deploy is deep in node-gettext.
During the exception:
locale=en_US mo_path=/home/app/code/locale/en_US/LC_MESSAGES/messages.mo

The problem is calling equals on a buffer with an array:
magic Buffer de 12 04 95
GettextDomain.bigMagic= [ 149, 4, 18, 222 ]

/home/app/code/locale/en_US/LC_MESSAGES/messages.mo looks reasonable.

Still investigating.

[2012-02-09 17:44] ozten commented on #1080
temporary_preview doesn't exhibit this behavior.

In the same place in node-gettext, the Identical inputs (AFICT from util.inspect)
magic Buffer de 12 04 95
GettextDomain.bigMagic= [ 149, 4, 18, 222 ]

md5sum locale/en_US/LC_MESSAGES/messages.mo
24fecb88319f62a7a67051da3c7b6118
on both boxes.

[2012-02-09 17:56] ozten commented on #1065
he and hu enabled on temporary_preview, other Issues filed to track RTL work. Closing.

[2012-02-09 17:56] #1065 closed, assigned to nobody

[2012-02-09 18:06] skinny97214 commented on #1050
I'm leery of saying anything using the words "compatibility view" in any user-facing strings. We can put that in the (read more) section for those that need it.

[2012-02-09 18:52] #1083 closed, assigned to lloyd

[2012-02-09 19:19] ozten commented on #1080
The presence of postprocess 0.2.1 is the root cause of this bug.

It uses buffertools 1.0.7 which is incompatible with node-gettext. It monkey patches equals for buffers... which gettext does also.

[2012-02-09 19:26] lloyd commented on #9
sure!  http://www.youtube.com/watch?feature=player_embedded&v=aJzWfMTBt3g

[2012-02-09 19:26] #9 closed, assigned to nobody

[2012-02-09 19:28] lloyd commented on #887
I dunno if this issue is relevant.  shall we close it down given we've implemented passphraseless primary auth and open more discrete issues where we need to improve ux?

[2012-02-09 19:32] ozten commented on #1080
https://gist.github.com/1782430

[2012-02-09 19:56] skinny97214 commented on #887
That's why I tagged it meta. Can we use this as tracking bug?

[2012-02-09 20:02] #1080 closed, assigned to ozten

[2012-02-09 20:41] lloyd commented on #887
No problem here,  other than us meeting and walkng through primary support, whatcha need from me?

On Feb 9, 2012, at 12:56 PM, Crystal Beasleyreply@reply.github.com wrote:

[2012-02-09 22:45] ozten commented on #620
Re-organized CSS and script tags in dialog_layout.ejs to give a feel for how this could work.
http://git.io/s8NPoA

[2012-02-10 02:55] skinny97214 commented on #887
A note about these meta bugs. The way I use issues is necessarily different than the way devs use them. UX is a systems discipline, so my day to day work is thinking and pondering big chunks. Bugzilla, Github and the like are typically optimized for tasks that are small in granularity because that's appropriate for coding work. But by the time I've distilled the problem down into something you wou

[2012-02-10 05:16] jrgm commented on #915
confirmed with osx/FF10 on stage train-2012.02.02, and this ipfw trick:

   # This does effective 10 second packet RTT on http,https
sudo ipfw add pipe 1 tcp from me to any 80,443 out;
sudo ipfw add pipe 2 tcp from any 80,443 to me in;
sudo ipfw pipe 1 config delay 5000ms;
sudo ipfw pipe 2 config delay 5000ms;
sudo ipfw list;

I get the Looong message, and still can complete the verify_email_addre

[2012-02-10 09:58] shane-tomlinson commented on #42
This is no longer an issue, we are not redirecting to the manage page when the user verifies an email address or account.  Closing.

[2012-02-10 09:58] #42 closed, assigned to shane-tomlinson

[2012-02-10 11:13] shane-tomlinson commented on #218
@skinny97214 - since we are going gang-busters on the user completion flow, want to weigh in on this?  Action on this has gotten lost.

[2012-02-10 11:15] shane-tomlinson commented on #226
Linking to #620 - "Need cache headers on all static resources"

[2012-02-10 11:17] shane-tomlinson commented on #226
@lloyd - Do we have proper etags set up and cache busting mechanisms in place?

[2012-02-10 11:28] shane-tomlinson commented on #239
Closing as this flow no longer exists.

[2012-02-10 11:28] #239 closed, assigned to shane-tomlinson

[2012-02-10 12:07] shane-tomlinson opened #1085 "Many main site pages not set up for i18n."
Steps to reproduce:

1) Set default language to Spanish [es]
2) go to https://diresworb.org

See screen shot:
https://skitch.com/set117/8yq8s/browserid-main-site-not-translated-spanish

This affects ALL languages.

Looking through all the ejs templates in resources/views, the following are not gettextified.

about.ejs
forgot.ejs
idp_auth_complete.ejs
index.ejs
privacy.ejs
signin.ejs
signup.ejs
tos

[2012-02-10 12:11] shane-tomlinson opened #1086 "*myfavoritebeer.org sites giving SSL security warning in Firefox"
All of the myfavoritebeer.org sites are giving an SSL security warning in Firefox.

[2012-02-10 14:04] shane-tomlinson commented on #835
Firefox with cookies disabled does not even get the popup - it throws an exception in include.js when trying to see if window.localStorage exists.

https://skitch.com/set117/8yqhs/browserid-cookies-disabled-exception

[2012-02-10 14:17] shane-tomlinson commented on #835
Chrome with cookies disabled opens the popup, but blows up when trying to check authentication - QUOTA_EXCEEDED_ERR when trying to sync to localStorage.

See https://skitch.com/set117/8yq92/chrome-cookies-disabled

[2012-02-10 14:49] shane-tomlinson commented on #835
Fennec with cookies disabled acts like Firefox desktop, the dialog never appears.

Safari Desktop, Opera Desktop, and Safari iOS work as expected.

[2012-02-10 15:02] lloyd commented on #887
Got it, I'm cool with tracking bugs.  If the body of the initial report was more general "this is a tracking bug to capture the task of a full UX review of the new primary feature", I would have been less confused.

[2012-02-10 15:12] shane-tomlinson commented on #835
@lloyd - While testing cookies disabled support IE, I had the following exception thrown by the server:

[code]

This has happened several times across several different browsers, exact STR unknown at this point.

[2012-02-10 15:16] lloyd commented on #226
@shane-tomlinson All resources should have proper etags.  @ozten has taken the task of moving non-dom resources to perma urls with far future `maxAge`.

I think we can close this issue down and use/open two new ones.  one to track the task of dealing with out of date include.js, the other to track @ozten's task.

[2012-02-10 15:19] shane-tomlinson opened #1087 "IE9 in IE7 mode: Unsupported dialog shows no content"
STR:

1) Open up IE9
2) Open the dev tools (F12), put IE into IE7 mode.
3) go to beta.myfavoritebeer.org
4) Click on "Sign In"

Dialog is empty.

Expected: Dialog says that you need a new browser.

[2012-02-10 15:20] lloyd commented on #1086
yeah yeah, ok, I'll buy another couple certs and move this all to AWS.

lloyd

[2012-02-10 15:29] lloyd commented on #835
The chrome error is different.  it's because chrome conflates two things - disabling cookies and disabling local storage.  So we should detect the different failure cases on the front end and display user meaningful messaging.  In the chrome case, it's because you have "Block sites from setting any data" set.  Note again, while this preference is under "Cookies" it also disables local storage (by

[2012-02-10 15:29] lloyd commented on #835
The server error is my problem.  I'm on it.

[2012-02-10 15:34] shane-tomlinson commented on #835
@lloyd - w.r.t. Chrome, both Firefox and Chrome blow up when trying to access/write to localStorage.  Firefox throws an exception when trying to check window.localStorage for existence, Chrome lets you check for localStorage's existence but does not let you write to it.

[2012-02-10 16:00] shane-tomlinson commented on #1087
Fixed with checkin c8f02d643fecb7fb29eea7ececd4e87e507fec18.

[2012-02-10 17:17] ozten opened #1089 "BrowserID should detect a stale include.js"
Spun off of Issue#226.

It's possible websites will deploy a copy of include.js instead of linking a script tag to browserid.org.

We should detect this situation and ...

[2012-02-10 17:18] ozten commented on #226
I wasn't aware of this bug, I'll definitely fold in our learnings here.

Closing and cache busting/http headers for static resources will happen in Issue#620.
Filed Issue#1089 to track dealing with out of date include.js.

[2012-02-10 17:18] #226 closed, assigned to lloyd

[2012-02-10 18:07] lloyd commented on #1087
@jbonacci - you tested beta, but shanes fix hasn't made it to beta yet.  you can get a preview of the fix on dev.diresworb.org in about 3 minutes. as soon as https://dev.diresworb.org/ver.txt says something other than ce1b28c.  If it looks good, I can send a request to pete to merge the hotfix.

[2012-02-10 18:07] benadida commented on #1089
I suggest waiting until early summer to do this kind of versioning support. At least until we've agreed on the events api :)

[2012-02-10 18:15] ozten commented on #620
Issue#226 raises the issue of cache busting image urls in CSS.

The solution for this bug should be compatible with the [connect compiler](http://extjs.github.com/Connect/compiler.html), so a Less based solution or some other solution can build on this bug.

[2012-02-10 18:16] lloyd commented on #1049
reproduced here!  fantastic find.  trying to narrow.

[2012-02-10 18:27] lloyd commented on #1049
so simplified STR:
1. set up an account with one primary and one secondary email address
2. go to my favorite beer, logout if needed, click sign in
3. log in with your secondary email address
4. log out of my favorite beer
5. click sign in
6. log in with your primary email address (it doesn't matter wether you're already signed into eyedee.me or not)
7. now log out
8. now try to log in with your s

[2012-02-10 19:06] lloyd commented on #1087
I cherrypicked c8f02d6 into dev and it doesn't appear to fix the problem.  I still see a grey background with no text displayed.

[2012-02-10 19:12] #1049 closed, assigned to lloyd

[2012-02-10 19:20] lloyd commented on #1049
fix available on dev right now.

[2012-02-10 19:47] #296 closed, assigned to nobody

[2012-02-10 22:57] skinny97214 opened #1091 "enable back button in the popup"
Users will click the back button, especially on mobile where we can't (and shouldn't) hide it in the chrome. Intercept the back and make it take the user to a useful previous step.

[2012-02-10 22:59] skinny97214 opened #1092 "provide a depressed, inactive state of the sign-in button"
Signal system state once the sign-in button has been depressed by ghosting it and making it unclickable.

[2012-02-10 23:02] skinny97214 opened #1093 "buttons that could be potentially slow should have a spinner"
Especially for mobile, we need to signal that the button press was recorded.

[2012-02-10 23:03] skinny97214 opened #1094 "increase body font size +1px"

[2012-02-10 23:04] skinny97214 opened #1095 "increase contrast between font and background"

[2012-02-10 23:11] skinny97214 opened #1096 "improve legibility of button"
increase kerning
increase font +1px

[2012-02-10 23:13] skinny97214 opened #1097 "[API] need name of RP"
Need name of the RP for use in the email and on the popup.

[2012-02-10 23:13] skinny97214 opened #1098 "[API] need logo of RP"
Using the logo of the RP in the popup assures users that they correctly clicked and are not being phished.

[2012-02-10 23:16] jrgm commented on #946
Note to @mardak: this fix will be in production next week sometime.

[2012-02-10 23:54] skinny97214 opened #1099 "improve copy on confirmation page"
• Left-align for greater legibility.
• Make 1st and 2nd lines more prominent.
• Shorten and simplify the copy.

[2012-02-10 23:56] skinny97214 opened #1100 "layout issues on email picker screen"
• Horizontal space problems.
• Text wrap is badly handled.

http://cl.ly/193D2Z2T2Q1G350o1q0W

[2012-02-10 23:58] skinny97214 opened #1101 "use flexible css to improve layout on tablets"
http://cl.ly/342G401g1b2l3t2G1Z3J

[2012-02-11 05:27] callahad commented on #769
Looks like you're using Droid Serif, which is available under the Apache 2 license, so it should be pretty straightforward to re-host it locally.

The easiest way to handle it would probably be to grab the "@font-face Kit" from Font Squirrel at http://www.fontsquirrel.com/fonts/Droid-Serif

That'll already have usable CSS, as well as conversions of the font into the various formats necessary for g

[2012-02-11 19:59] joshtriplett commented on #61
Note that once browsers have native BrowserID support, they'll almost certainly tie it to the same security they use around remembered passwords, such as Firefox's "master password" approach.

[2012-02-13 09:59] shane-tomlinson commented on #892
See https://skitch.com/set117/8bbjw/ie7-winxp-unsupported-dialog

[2012-02-13 10:51] #892 closed, assigned to shane-tomlinson

[2012-02-13 10:54] shane-tomlinson commented on #892
See fixed versions:

https://skitch.com/set117/8bbix/ie7-fixed-unsupported
https://skitch.com/set117/8bbi5/ie6-fixed-unsupported

[2012-02-13 10:55] shane-tomlinson commented on #892
The grey background firefox logo in IE6 is due to it not supporting transparent PNG's correctly.  I tried converting it to a GIF online, but it always looked terrible.  Does anybody have a good converter?

[2012-02-13 12:10] shane-tomlinson commented on #1087
@lloyd - I just cherry picked the commit into train-2012.02.02 and the fix worked as expected.

Somebody mentioned in the irc conversation linked to above, this _appears_ to be an IE9 in IE7 mode only bug, but it is a bug for any browser that supports the "opacity" CSS tag but does not meet the other requirements (JSON, localStorage, postMessage).  IE6 through IE8 lack support for opacity so they

[2012-02-13 12:23] shane-tomlinson commented on #1087
@lloyd, @jbonacci - The discussion above and in IRC did lead me to add to the original hotfix to fix IE8 in IE7 mode - IE8 does not support the opacity CSS tag but does support their own "-ms-filter" which takes care of opacity.

IE8 is missing an -ms-filter on the error screen which would prevent any error screens from having its contents displayed.

[2012-02-13 12:37] shane-tomlinson commented on #1094
@skinny97214 - is this for the main site, dialog, or both?  Do you want headers, footers, and all font-sizes to increase by a proportional amount?

[2012-02-13 12:42] shane-tomlinson commented on #1091
I suggested this in #277 and got pushback.  I still think this is a good idea, though it is going to require some changes to the front end.

[2012-02-13 18:40] graingert opened #1104 "Creating an email with a different case removes the old email"
Behavior:
having an existing email address:
user@example.com
then authenticating
User@example.com
causes user@example.com to be removed

Expected Behavior:
having an existing email address:
user@example.com
then authenticating
User@example.com
Should allow both emails to be selected at the email choice stage

[2012-02-14 08:35] shane-tomlinson commented on #1087
@jbonacci - Thanks for all the verifications!  w.r.t. IE7, there is already an issue for that - and I closed it yesterday with a fix. I changed the layout slightly, but that is because IE6 was giving me a pain in the butt.  You can see the fixed versions in the issue: #892

[2012-02-14 13:43] shane-tomlinson commented on #1087
@jbonacci - as requested, I removed the contractions in checkin d19639961ecd4606c3d1531d2948c1714970edf8

[2012-02-14 14:07] shane-tomlinson commented on #526
Closing as duplicate of #1100

[2012-02-14 14:07] #526 closed, assigned to shane-tomlinson

[2012-02-14 14:09] #1087 closed, assigned to nobody

[2012-02-14 15:40] shane-tomlinson opened #1108 "Create a generic click function for use in all modules."
This reduces the amount of duplicate code used for attaching click handlers as well as provide a central place to hook into to gather user data for A/B testing.

This is not a bug but rather a consolidation of code.

Testcase
1) Check dialog to ensure all buttons work as expected

[2012-02-14 15:49] #1108 closed, assigned to nobody

[2012-02-14 17:07] ghost opened #1110 "The links opened from BID pages should be localized"
https://diresworb.org/about, https://diresworb.org/privacy and https://diresworb.org/tos should be localized.

Practically, all the links opened from BID pages should be localized. Since this might be difficult, at least those that are hosted on diresworb.org (respectively browserid.org) should be localized.

[2012-02-14 17:12] ghost opened #1111 "Only the headers and footers of the diresworb.org pages are localized"
OS: Windows 7
Browser: Firefox 11.0
Language: French

STR:
1. Load https://diresworb.org/ in the browser.
2. Browse through its pages (home, sigin, sign up etc).
3. Sign in and repeat step 2.

Only the headers and footers of the pages are localized (the rest of the strings are in English).

[2012-02-14 17:16] michaelrhanson opened #1112 ""Invalid cert in chain" errors reported"
Jeff Schnitzer jeff@infohazard.org reports on 2/13/12:

[code]

When asked for confirmation, he reported on 2/14/12 that it was ongoing:

[code]

[2012-02-14 17:25] ozten opened #1113 "Remove altering copy case via CSS"
As mentioned in https://github.com/mozilla/browserid/issues/1105#issuecomment-3960781

It's a best practice not to mess with changing the case of strings via CSS. Sounds like some buttons we force the case to all lowercase.

We should change to lower case in English by editing the po file. We should remove any CSS that alters copy in this way.

[2012-02-14 17:33] ozten commented on #1085
This is by design for our first release. See

https://etherpad.mozilla.org/localize-browserid
https://bugzilla.mozilla.org/show_bug.cgi?id=706572

We are in the process of re-designing the public site. This will be properly localized. I'll create a l10n-rebrand milestone and put these bugs in it, as well as closing duplicates.

[2012-02-14 17:34] ozten commented on #1111
Great point @ioanab. This is by design, we'll use this bug to track work for the l10n-rebrand milestone.

[2012-02-14 17:35] ozten commented on #1110
This is a duplicate of #1085.

[2012-02-14 17:35] #1110 closed, assigned to nobody

[2012-02-14 17:57] benadida commented on #521
some thoughts on this: bookmarklets are either fully self-contained, or they pull in some third-party library.

If they're self-contained, then it is _very_ difficult to code that bookmarklet correctly:
http://www.adambarth.com/papers/2009/adida-barth-jackson.pdf

If they're not self-contained, then that means they're including a third-party library, which we are going to disallow via Content-Secu

[2012-02-14 17:57] #521 closed, assigned to nobody

[2012-02-14 17:58] benadida commented on #403
assigning this to @skinny97214

[2012-02-14 18:01] benadida commented on #37
Yes, this is required. We should add this at least at the time that users set a password.

@skinny97214 ? I know this is going to make you sad, but we don't have a choice.

[2012-02-14 18:42] mathjazz commented on #1113
Thanks for opening this one, @ozten!

AFAIK, English already uses lowercase.

[2012-02-14 18:47] ozten commented on #620
First pull request to fix this issue:
https://github.com/mozilla/browserid/pull/1114

[2012-02-14 20:06] Mardeg commented on #521
I'm interested in your analysis of the bookmarklet in the URL field at the bugzilla link since it doesn't seem to match any of the case studies given in that PDF.

[2012-02-14 21:03] skinny97214 commented on #37
Proposal: sites can choose between three options.
1. no checkbox
2. checkbox prechecked
3. checkbox unchecked

[2012-02-14 21:19] benadida commented on #37
@skinny97214 sorry I'm talking about something else. This is _our_ TOS & privacy policy, not the site's. So when we prompt for a user password to set up their BrowserID account, we need them to affirmatively opt into our ToS and Privacy Policy. Sadly, we don't have the choice of (1) or (2). It has to be (3).

[2012-02-14 21:31] lookfirst opened #1115 "gzip compress include.js"
This is a re-opening of #207 as it seems to have regressed. I'd expect a Content-Encoding header in there.

![foo](https://img.skitch.com/20120214-m32djuc5t577ehiu9bhjs2tnaf.jpg)

PageSpeed is reporting:

![bar](https://img.skitch.com/20120214-jpycsjme5hktcfx4quqt94ym6q.jpg)

Load of the FB js in the same session (showing correct headers):

![ack](https://img.skitch.com/20120214-etbdx2upm6p456w14e

[2012-02-14 21:41] lloyd commented on #1115
nice find, @lookfirst.

@fetep, handle this at the nginx level? something like https://gist.github.com/1830700

[2012-02-14 22:54] jrgm opened #1117 "[l10n] margin needed for confirmation text in /sign_in, e.g., German"
Minor nit, but in some languages (e.g., German) the layout of the confirmation message in /sign_in dialog could use a bit of margin.

![img](https://img.skitch.com/20120214-dengwrudkpprpsqkt1662qssn6.jpg)

[2012-02-15 00:08] jrgm opened #1119 "diresworb.org broken under zh_CN (/opt/browserid/resources/static/production/zh_CN/browserid.js)"
Duplicated in FF10(OSX), IE9(Win7), Chrome16(Win7,OSX).

1) Set the browser language preference for zh-CN. (In Chrome, pick Simplified
   Chinese which will be zh-CN).

2) Load https//diresworb.org

Results:

IE9:
  SCRIPT1009: Expected '}'
  browserid.js, line 9 character 11473

FF10:
  Error: missing } after function body
  Source File: https://diresworb.org/production/zh_CN/browserid.js
  Line:

[2012-02-15 00:10] jrgm commented on #1119
/cc @ozten, @jbonacci, @lloyd

[2012-02-15 01:35] folletto commented on #885
In order of preference:
1. Say bye to passwords with xxxxx
2. No passwords, no problems. Sign in with xxxx.
3. It's faster with no passwords. Sign in with xxxxx.

My reasoning here is that I heard many times people bothered by their passwords, but not much by the speed of it: of course, it's slow, but I never felt it as a problem in their mind.

The second one is cool, but feels on one side a bit

[2012-02-15 03:09] jrgm commented on #1119
ah, this is just https://github.com/mozilla/browserid/issues/1057

[2012-02-15 05:18] ozten commented on #1119
Good call.

[2012-02-15 07:41] #1119 closed, assigned to nobody

[2012-02-15 07:41] jrgm commented on #1119
closing as duplicate of GH-1057, duh.

[2012-02-15 11:03] shane-tomlinson commented on #314
There are several bugs in Bugzilla related to this:

https://bugzilla.mozilla.org/show_bug.cgi?id=583578 - Prevents the password field from being updated with required email.

https://bugzilla.mozilla.org/show_bug.cgi?id=670137 - Closes the "remember password" dialog when a window is opened (or closed as is our case)

https://bugzilla.mozilla.org/show_bug.cgi?id=631800 - Prevents passwords from be

[2012-02-15 11:26] shane-tomlinson commented on #314
Following the instructions on https://wiki.mozilla.org/Firefox:Password_Manager_Debugging, I get the following in my error console.

https://skitch.com/set117/8b2u3/firefox-error-console-dialog-saving-password

STR
1) Load up Firefox
2) Do the about:config changes outlined in the above URL.
3) Restart browser
4) Go to myfavoritebeer.org
5) Open the Firefox error console.
6) Click Sign In
7) If Sig

[2012-02-15 11:50] #1117 closed, assigned to nobody

[2012-02-15 12:28] ghost opened #1121 "The establishing relay error occurs every time the user restarts Firefox with the "Show my windows and tabs from last time" option set"
OS: Windows 7
Browser: Firefox 11.0

STR:
1. Launch Firefox.
2. Set the "When Firefox starts:" option in Tools->Options to "Show my windows and tabs from last time".
3. Load a BrowserID client in the browser.
4. Open the BID dialog from the client.
5. Close the browser window (don't close the dialog, it will close automatically with the main window).
6. Launch Firefox again.

The BID dialog is reo

[2012-02-15 13:04] ghost opened #1122 "Locale: [any/all] The error dialog is only partially translated"
The error dialog is only partially translated. E.g. for French:
"We are very sorry, there has been an error!

To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below.

Action: Établissement de relais

Le relais n'a pu être trouvé

BrowserID est un moyen rapide et sûr de s'identifier — en apprendre plus"

This issue reproduces no matter wh

[2012-02-15 13:41] ghost commented on #1111
The following messages displayed on https://diresworb.org/ pages aren't localized either:
- message displayed when trying to sign in with a wrong password;
- message displayed when trying to sign in with an email not associated to BID;
- message displayed when trying to sign up with an email already associated to BID;
- message displayed when trying to reset the password for a non-existent user;
-

[2012-02-15 14:08] shane-tomlinson commented on #1111
@ioanab - can you take screen shots of the offenders in Skitch or other alternative?  Is this in the dialog or on the main site - the main site is only partially translated at the moment, which is "as expected" for the moment.

[2012-02-15 14:20] ghost commented on #567
This issue reproduced again (once) today on Firefox 11.0 beta 2 + Windows 7.

[2012-02-15 14:24] ghost commented on #1111
@shane-tomlinson - this is all on the main site (server). I will take the screen shots and add corresponding links in here when done.

[2012-02-15 14:29] shane-tomlinson commented on #1111
@ioanab - thanks, the screen shots really really help me out!  Great work on the bug finding btw.

[2012-02-15 14:40] shane-tomlinson commented on #1113
@mathjazz, @ozten - Thanks for the tip and sorry for my ignorance here - Why is it considered bad form to force lowercase in CSS?

[2012-02-15 15:04] ghost opened #1123 "When the user has 2 email addresses, he can cancel his BID account by removing the same address twice"
OS: Windows 7
Browser: Firefox 11.0

STR:
1. Open https://diresworb.org/ in the browser.
2. Sign in with an account that has 2 email addresses associated to it.
3. Leave the page open on the Account Manager page.
4.  Open https://diresworb.org/ in another tab of the browser (the user may have multiple tabs and groups of tabs open so he might forget he already opened the page).
5. Remove the 2nd em

[2012-02-15 15:09] ghost opened #1124 "Locale: [any/all] The "The selected email is invalid or has been deleted" message is not localized"
OS: Windows 7
Browser: Firefox 11.0

STR:
1. Open a BID client in the browser.
2. Sign in with an account that has multiple email addresses associated to it.
3. Leave the BID dialog open on the emails list.
4. From the main site (https://diresworb.org/), remove an email address associated to the account from step 2.
5. Return to the BID dialog with the emails list.
6. Select the removed email and

[2012-02-15 15:26] ghost commented on #1124
The screen shot with this issue reproducing: http://bit.ly/wpgfof

[2012-02-15 15:37] mathjazz commented on #1113
@shane-tomlinson No problem. Some locales don't like all-lowercase text in buttons etc.

My suggestion: remove the text-transform: lowercase property from the CSS rule and use all-lowercase text in strings. That way most of the locales will still use all-lowercase text, but others will be able to change the case.

[2012-02-15 16:17] ghost commented on #1111
thanks, @shane-tomlinson. Here are the screen shots for the cases listed above (both pages and messages) http://bit.ly/x0pYJw. Please let me know if I missed any.

[2012-02-15 16:50] ghost opened #1125 "Locale: [sv, sr] The diresworb.org home page displayed both the Account Manager section and the "Connect with BrowserID..." section"
OS: Windows 7
Browser: Firefox 11.0, IE9
Language: Swedish

STR:
1. Load https://diresworb.org/ in the browser.

The diresworb.org home page displayed both the Account Manager section and the "Connect with BrowserID..." section when in Swedish. This issue didn't reproduce with French nor with English. http://bit.ly/wzqDHq

[2012-02-15 17:05] ghost opened #1126 "Locale: [sv] The user can't sign into any pages (RPs+server) with BrowserID"
OS: Windows 7
Browser: Firefox 11.0, IE9
Language: Swedish

STR:
1. Load a BrowserID client in the browser.
2. Try to sign in using a valid BID account.
3. Load https://diresworb.org/ in the browser.
4. Try to sign in using a valid BID account.

The user can't sign into any pages (RPs+server) with BrowserID when the language is set to Swedish:
When trying to sign in from clients, the dialog remain

[2012-02-15 17:18] ghost commented on #1125
This issue also reproduces when the language is set to Serbian.

[2012-02-15 17:19] ozten commented on #1125
That environment is missing some JavaScript build files.

Although 'sv' is enabled,  https://diresworb.org/production/sv/dialog.js
 is 404.

@fetep - Any ideas?

SV looks good on the auto-updating environment:
http://temporary_preview.myfavoritebeer.org/

[2012-02-15 17:20] ghost commented on #1126
When the language is set to Serbian, the user can sign in/up from the client but he still can't sign in/up from the server.

[2012-02-15 17:20] ozten commented on #1126
This is a duplicate of Issue 1125.

[2012-02-15 18:34] jrgm commented on #1125
Serbian (sr) does exist on the webheads and does download, but there is a javascript error (and that is the same as GH-1057)

[2012-02-16 00:38] jrgm opened #1129 "the cache issue with rollout of train-2012.02.02"
This note is to document an issue with the rollout of train-2012.02.02.

Prior to train-2012.02.02, /sign_in (the dialog) was served with these headers:

HTTP/1.1 200 OK
Content-Type: text/html; charset=utf8
Strict-Transport-Security: max-age=2592000; includeSubdomains
Date: Tue, 14 Feb 2012 18:25:17 GMT
Etag: "1054-1328119193000"
x-frame-options: DENY
Last-Modified: Wed, 01 Feb 2012 17:59:53 GMT

[2012-02-16 00:39] jrgm opened #1130 "the cache issue with rollout of train-2012.02.02"
This note is to document an issue with the rollout of train-2012.02.02.

Prior to train-2012.02.02, /sign_in (the dialog) was served with these headers:

HTTP/1.1 200 OK
Content-Type: text/html; charset=utf8
Strict-Transport-Security: max-age=2592000; includeSubdomains
Date: Tue, 14 Feb 2012 18:25:17 GMT
Etag: "1054-1328119193000"
x-frame-options: DENY
Last-Modified: Wed, 01 Feb 2012 17:59:53 GMT

[2012-02-16 00:39] jrgm opened #1131 "the cache issue with rollout of train-2012.02.02"
This note is to document an issue with the rollout of train-2012.02.02.

Prior to train-2012.02.02, /sign_in (the dialog) was served with these headers:

HTTP/1.1 200 OK
Content-Type: text/html; charset=utf8
Strict-Transport-Security: max-age=2592000; includeSubdomains
Date: Tue, 14 Feb 2012 18:25:17 GMT
Etag: "1054-1328119193000"
x-frame-options: DENY
Last-Modified: Wed, 01 Feb 2012 17:59:53 GMT

[2012-02-16 00:45] #1130 closed, assigned to nobody

[2012-02-16 00:45] #1131 closed, assigned to nobody

[2012-02-16 01:51] benadida commented on #1129
looks like we have a 30-hour window of pain: https://imgur.com/SCTZ9

upgrading to 5-star and asking @fetep if we can look into a zeus route workaround.

[2012-02-16 05:17] ozten opened #1132 "Improve string extraction for JavaScript and EJS"
As part of localization, we have to pull all of the "strings" out of the code and templates. Strings are just copy, labels, and other words shown to users.

Our current script `scripts/extract_po.sh` is okay, but lacks the following features:
- Robust JS support
- Gettext Comments in JS
- Robust EJS support
- Gettext Comments in EJS

If you read `extract_po.sh` you'll be horrified to find that we

[2012-02-16 05:28] jrgm commented on #1129
@fetep pushed a load-balancer change to 302 a request for /production/dialog.js to /production/en-US/dialog.js at 19:12 PST
Production is working correctly, but difficult to know that end user problems are all known.

[2012-02-16 06:10] benadida commented on #521
@Mardeg do you have a link to a clean version of that code? Parsing the minified JS is a bit hard on the late-night brain :)

[2012-02-16 07:16] Mardeg commented on #521
It was autogenerated from supergenpass.com a while ago from a form where there were choices on things such as the length of the generated password and whether to "store the master password" or not. I chose not to, obviously, just mentioning it in case there is redundant code in there that isn't called.
The site probably changed how it generates the bookmarklet since then.
Here is a pastebin of the

[2012-02-16 07:23] Mardeg commented on #521
Sorry, missed a minified funciton - http://pastebin.mozilla.org/1485325

[2012-02-16 10:43] shane-tomlinson opened #1133 "iOS - must click on radio button to select email address."
Expected - should be able to click the email address to select the radio button.

[2012-02-16 11:24] #1100 closed, assigned to nobody

[2012-02-16 12:03] mathjazz opened #1135 "Pushing new locales to production"
@ozten, is it possible to add new locales to production before the next release?

Afrikaans (af) is well below 100% but wants to go to production anyway.

[2012-02-16 13:36] #1113 closed, assigned to nobody

[2012-02-16 15:18] benadida commented on #763
downgrading this issue, considering WONTFIX since we are thinking about key downgrade.

@lloyd thoughts?

[2012-02-16 15:23] lloyd commented on #763
+1

--lloyd

On Feb 16, 2012, at 8:18 AM, Ben Adidareply@reply.github.com wrote:

[2012-02-16 15:30] benadida commented on #763
ok, marking WONTFIX.

[2012-02-16 15:30] #763 closed, assigned to nobody

[2012-02-16 15:30] benadida commented on #762
barring issues raised on mailing list, action here is to downgrade all keys to 1024-bit, which should be plenty.

[2012-02-16 17:52] shane-tomlinson commented on #1122
This is by design, anything that is shown when the user opens the "see more information" button should be in English.

[2012-02-16 17:52] #1122 closed, assigned to nobody

[2012-02-16 18:10] lloyd commented on #1085
duplicate of GH-1111

[2012-02-16 18:10] #1085 closed, assigned to nobody

[2012-02-16 18:29] lloyd commented on #1129
@shane-tomlinson Concrete question for you.  This bug would have resulted in some measurable number of users seeing the `/sign_in` DOM from `train-2012.01.18` and the javascript resources from `train-2012.02.02`

The question is, what would a user experience in that case?  Here is the full diff of changes in dialog.ejs and dialog_layout.ejs between those trains: https://gist.github.com/1846877

[2012-02-16 19:33] lloyd commented on #620
Remaining work:
1. for js/css resources, don't sent ETag or Last-Modified (should fix upstream)
2. all image resources should be perma urls.

@shane-tomlinson - thoughts on how we get to #2?

[2012-02-16 19:59] jrgm opened #1139 ""frozen" error dialog shown on error in account manager page."
This can be reproduced based on @ioanab's STR in GH-1123. This bug, though, is
just about the error dialog. (Reproduced in FF10/OSX, Chrome16/Win7,
IE9/Win7).

1) have an account with two non-primary email addresses on it.
2) open two browser windows and load https://diresworb.org in each.
3) in window #1 remove email address #1
4) in window #2 remove email address #2 (which will cancel the browse

[2012-02-16 21:11] ibai opened #1140 "Customize Login Error if Primary is not available"
In the login process UI it's important to point to the user to the failure point.

Once primaries are implemented, if a user tries to log in with one that is not available (i.e. Gmail is down), we should prompt them with a message explaining that they should check their Identity provider: For example: "Your Identity provider is not responding so we can't grant you access to this site. Try with oth

[2012-02-16 21:35] ozten opened #1141 "Static resources should not generate 304s in server logs"
With Issue 620, we've improved our caching for static assets.

Unfortunately, UA still check to see if a resource is up to date, generating a 304 response.

per @lloyd - for js/css resources, don't sent ETag or Last-Modified (should fix upstream)

Actual: /produciton/en-US/dialog.js 304 in firebug / node server logs

Expected: No HTTP traffic for this resource after first 200 request.

[2012-02-16 21:35] ozten commented on #620
Filed Issue 1141.

[2012-02-16 23:40] jrgm opened #1142 "stage env for train-2012.02.16 not working"
stage seems broken. Can't sign up a user --
  CSRF validation failure, token mismatch. got:eDNOlcM3XYzpKyt6fgbQjQ== want:qKZrkhFABWWNt1BRAZ0W0w==

Two different browsers, multiple tries.

[2012-02-17 00:09] lloyd commented on #1142
tl;dr; looks like code isn't fully deployed on stage - passing off to @fetep

[2012-02-17 00:36] #1141 closed, assigned to nobody

[2012-02-17 01:38] ozten commented on #620
@shane-tomlinson If you want, I'll grab the images part of this bug.

lloyd has proposed https://gist.github.com/1849619 and/or Spriting our images.

I'll cook up a PR with LESS and we can pick a path. I'm to lazy to sprite and we can always do it later in it's own issue.

[2012-02-17 02:16] lloyd commented on #1141
I was wrong on this.  I now believe ETag and Last-Modified should be served even with long future expiration.  mea culpa.

The case that this improves is bytes transfered on a normal (non-force) refresh.  when ETag is present, the client will revalidate rather than refetching.

[2012-02-17 11:00] #1139 closed, assigned to nobody

[2012-02-17 11:11] shane-tomlinson commented on #1139
@jrgm - thanks for finding this.  When the error screen is displayed, the user cannot close just it but must reload the entire window/tab.

[2012-02-17 12:31] shane-tomlinson commented on #319
@ioanab - Is this on the main page or when the dialog opens?  If it is the dialog, we have no control of that afaik.

[2012-02-17 12:43] shane-tomlinson commented on #406
@ioanab, @jbonacci - I am still unable to reproduce this in either a VM or a laptop with native Win7.

[2012-02-17 13:05] ghost commented on #319
@shane-tomlinson - I was referring to the dialogs opened from RPs.

[2012-02-17 13:07] shane-tomlinson commented on #423
@lloyd - in include.js, we have scrollbars=0 - suppressing scrollbars.

In MDN's window.open article under Notes on Scrollbars - https://developer.mozilla.org/en/DOM/window.open#Note_on_scrollbars, it notes

[code]

Under the scrollbars option description, it notes

[code]

I experimented with setting `scrollbars=1` in OSX, Windows and Linux and all current browsers act sane w.r.t. when it display

[2012-02-17 13:17] shane-tomlinson commented on #567
@ioanab - just to confirm, is the "login failure [object Object]" coming from beta.myfavoritebeer.org or is it coming from the BrowserID dialog?

[2012-02-17 13:54] shane-tomlinson commented on #567
@ioanab - I am now able to reproduce this, thanks.  This is coming from beta.myfavoritebeer.org and not browserid itself.

@lloyd - I had to fix both myfavoritebeer and myfavoritebooze - myfavoriteshow handles errors differently.  Pull requests are:

https://github.com/lloyd/myfavoritebeer.org/pull/49
https://github.com/lloyd/myfavoritebooze.org/pull/5

[2012-02-17 13:56] shane-tomlinson commented on #567
@lloyd - when you review/merge the above pull requests, can you close this issue?

[2012-02-17 14:00] shane-tomlinson commented on #623
Skinny's suggestion has been merged for quite some time, wording and all.  Closing.

[2012-02-17 14:00] #623 closed, assigned to shane-tomlinson

[2012-02-17 14:17] shane-tomlinson commented on #773
@jbonacci , @ioanab - http://support.microsoft.com/kb/224304 outlines this - "Per-session cookies are not cleared until you close your browser."  This is Internet Explorer behavior that we can do nothing about.  Tagging as "upstream" and closing.

[2012-02-17 14:17] #773 closed, assigned to shane-tomlinson

[2012-02-17 14:53] shane-tomlinson commented on #1104
@graingert - Thanks for the feedback - in this case we made an explicit decision to stick with convention instead of the RFC.  The majority of email providers ignore case on both the local and domain portions of the address so we decided to do the same.

[2012-02-17 15:12] shane-tomlinson commented on #411
Closing this as we are using the browser native confirm dialog.

[2012-02-17 15:12] #411 closed, assigned to shane-tomlinson

[2012-02-17 15:17] shane-tomlinson commented on #716
@ioanab - closing as "by design" The changes that occur when resizing the dialog width are to accommodate mobile devices.

[2012-02-17 15:17] #716 closed, assigned to shane-tomlinson

[2012-02-17 15:54] graingert commented on #1104
@shane-tomlinson That's the issue, you don't ignore case all the time.  Browserid's allows a user to authenticate a differently cased email.

It will initially treat them differently - it will send a new verification email, and it will then overwrite the old differently cased email. Meaning you can no longer use that email to sign in to other sites.

Things that need fixing:

1 BrowserID should sa

[2012-02-17 16:52] stomlinson commented on #1139
Easy test case:

1) Load up Firefox
2) Go to https://dev.diresworb.org/signin
3) Select "Work Offline"
4) Enter your email address and type "enter"
5) When error screen opens, click "See more info"

[2012-02-17 17:21] lloyd commented on #1142
resolved.  this was a deployment issue.

[2012-02-17 17:21] #1142 closed, assigned to fetep

[2012-02-17 17:22] lloyd commented on #1129
Based on my conversation with @shane-tomlinson I believe that after the load balancer push we mitigated the effects of this.  I believe this issue to be resolved - we managed to minimize the impact and a fix is out so this won't happen in the future.

[2012-02-17 17:22] #1129 closed, assigned to fetep

[2012-02-17 17:25] chrismore opened #1146 "Default email displayed should be the same email as authenticated email"
Description:

When logging into a site using BrowserID and you don't have an active session open with BrowserID, you have to enter an email address and password. After you authenticate on BrowserID, you are presented a list of email addresses that you registered with BrowserID.

Expected:

After authenticating on BrowserID on a website using it, the radio button should be auto selecting the email

[2012-02-17 17:41] lloyd commented on #423
If we don't have scrollbars in the default (non-zoomed) view in any of the browsers we support, then I'm +1

[2012-02-17 17:56] shane-tomlinson commented on #423
Screen shots:

https://skitch.com/set117/8n1pu/win7-firefox-unzoomed
https://skitch.com/set117/8n1qm/win7-firefox-zoomed

https://skitch.com/set117/8n1qh/safari-osx-unzoomed
https://skitch.com/set117/8n1xi/safari-osx-zoomed

https://skitch.com/set117/8n1tb/ubuntu-chrome-unzoomed
https://skitch.com/set117/8n1tx/ubuntu-chrome-zoomed

[2012-02-17 18:26] shane-tomlinson commented on #423
Update on this:

Testing various combinations of
resizable=0/1
scrollbars=0/1

In OSX

In Windows:
- Safari and Chrome always a show minimum of placeholders
- Firefox, Opera, and IE with scrollbars=0 do not show scrollbar even if resizable=1 and zoomed in.  All show the placeholder if scrollbars=1
- IE does not allow resizing unless resizable is set to true.

In OSX:
- Safari and Chrome always a s

[2012-02-17 18:46] ozten commented on #1141
Dev should pick this up, I've bumbed package.json to cachify 0.0.7.

[2012-02-17 18:46] lloyd commented on #423
I want our dialog to scroll when the user zooms, but not display placeholders when not neccesary.  I think this is possible with CSS changes, based on this:

https://skitch.com/lloydhilaiel/8n197/skitch

[2012-02-17 19:48] ozten commented on #1135
@fetep has changed config and will do deployment soon.

[2012-02-17 21:39] sebilasse commented on #628
will this be corrected?
all our browserid windows are blocked by ff popup blocker (which is activated by default)

[2012-02-17 22:27] jrgm commented on #1117
Verified. Thanks @shane-tomlinson

[2012-02-17 22:43] jrgm commented on #1113
verified.

[2012-02-17 22:56] jrgm commented on #1082
verified removed

[2012-02-17 23:28] jrgm commented on #1083
verified in unit tests. Small note: node returns 'HTTP/1.1 429 unknown' in the response header.

[2012-02-18 16:14] davidillsley opened #1150 "Logging in to myfavoriteshow.org with an already registered e-mail address when logged in with another triggers a verification email"
Logging in to myfavoriteshow.org with an already registered e-mail address when logged in with another triggers a verification email, and hence fails to log me in.

Specifically, if I'm logged in to browserid.org as davidillsley@eyedee.me and enter david@illsley.org on http://myfavoriteshow.org/ I get a pop-up with a fixed e-mail address of david@illsley.org with a verify email button which sends

[2012-02-18 16:37] davidillsley commented on #1150
Thinking about it, it's a pretty confusing experience in the case that someone mis-typed their e-mail address

[2012-02-19 06:01] Mardeg commented on #521
An alternative would be to provide a built-in generating tool based on either an existing master password or a prompted oneif remembering passwords is disabled, otherwise a completely random one which would be parity with https://sites.google.com/a/chromium.org/dev/developers/design-documents/password-generation

[2012-02-19 18:11] mathjazz opened #1154 "To retry, try again"
These two strings should be changed probably.
# : resources/static/dialog/views/error.ejs:18

msgid "To retry, you will have to reload the page and try again."
# : resources/static/dialog/views/error.ejs:20

msgid "To retry, you will have to close this window and try again."

/cc @ozten, @skinny97214

[2012-02-20 10:37] #871 closed, assigned to shane-tomlinson

[2012-02-20 10:40] shane-tomlinson opened #1155 "Cannot uncheck "Always sign in using this email" by clicking on label."

[2012-02-20 10:55] shane-tomlinson opened #1156 "Failing front end test 'controllers/pick_email: click on an email label - select corresponding radio button'"
This only fails when running all tests - running a subset does not cause the problem to manifest.

[2012-02-20 11:17] shane-tomlinson opened #1157 "EJS introduces global variables"
STR:

1) Load up front end QUnit tests
2) Select "no globals"
3) Run tests

Upstream notified and bug fix submitted. http://code.google.com/p/embeddedjavascript/issues/detail?id=20

[2012-02-20 12:59] mathjazz commented on #1132
When I extract new strings using extract_po.sh, I get different POTs generated if I leave existing POTs in the templates directory than if I empty the old POTs.

The difference is that strings that we remove for the new releae don't get removed from the POT if I keep the old POTs, but they do get removed if I empty the POTs before running extract_po.sh. So what I do now is every time before I run

[2012-02-20 13:33] shane-tomlinson opened #1160 "remove target="<x>" from template strings."
This makes more work for the translators, replace this with a %s.

[2012-02-21 10:34] shane-tomlinson commented on #1150
@davidillsley - Thanks for the input here David.  The behavior we have now is "as design" though I agree with you that the behavior is confusing.

Other reference issues (order of relevance):
https://github.com/mozilla/browserid/issues/814
https://github.com/mozilla/browserid/issues/607
https://github.com/mozilla/browserid/issues/669

[2012-02-21 10:54] shane-tomlinson commented on #1146
Thanks for the feedback @chrismore - we are going one step further than this in issue #198.  With this change (once merged - see pull request 1162 - https://github.com/mozilla/browserid/pull/1162) we will skip the "email picker" screen and log the user in to the RP directly.

Thanks again!

Closing as superseded by issue #198.

[2012-02-21 10:54] #1146 closed, assigned to nobody

[2012-02-21 10:58] shane-tomlinson commented on #835
Closed with pull request 1106 - https://github.com/mozilla/browserid/pull/1106

Thanks for the feedback @chrismore!

[2012-02-21 10:58] #835 closed, assigned to shane-tomlinson

[2012-02-21 11:21] shane-tomlinson commented on #567
Closing as fixed.

[2012-02-21 11:23] shane-tomlinson commented on #423
Closing as fixed with pull request 1149

[2012-02-21 11:23] #423 closed, assigned to shane-tomlinson

[2012-02-21 11:28] shane-tomlinson commented on #985
Closing as fixed with above pull requests.

[2012-02-21 11:28] #985 closed, assigned to shane-tomlinson

[2012-02-21 16:51] fetep commented on #1135
new config w/af enabled was deployed last week.

[2012-02-21 16:51] #1135 closed, assigned to fetep

[2012-02-21 17:02] ozten commented on #1154
Changed how? Make them the same string?

@shane-tomlinson do these serve two different purposes?

[2012-02-21 17:03] ozten commented on #1154
Ah from dev-l10n-web Julen Ruiz Aizpuru says:

Hi,

I have some doubts regarding two strings:

"To retry, you will have to close this window and try again."
"To retry, you will have to reload the page and try again."

From my understanding, "retry" and "try again" means the same thing,
so unless the context is shown (which is not) I'm not sure what does
this exactly mean.

Any hints?

[2012-02-21 17:04] mathjazz commented on #1154
No no, it sounds kind of funny, doesn't it?

Retry and try again is the same thing.

[2012-02-21 17:57] ozten commented on #1132
@mathjazz  - please file a new bug. You basically want to make client.pot and messages.pot an empty file at the beginning of extract_po.sh, right? I can do that ASAP.

[2012-02-21 18:56] jrgm commented on #1062
verified chrome/FF/safari/opera osx, chrome/FF/opera/IE9 win7

[2012-02-21 19:16] jrgm commented on #1072
verified. Looks aligned on either android 2.1 or desktop

[2012-02-21 21:16] jrgm commented on #1049
verified on opera/safari/ie{8,9}/chrome/firefox on osx,win7,winxp,ubuntu. Network down at moment for mobile.

[2012-02-21 21:24] jrgm commented on #1048
verified da and el available in production.

[2012-02-21 21:26] jrgm commented on #1040
verified da and el available in production.

[2012-02-21 22:41] lloyd commented on #912
A proposal which fleshes out ben's original ideas is here: http://lloyd.io/a-new-api-for-browserid

[2012-02-22 01:23] jrgm commented on #1049
Works for me on android 2.2 stock browser and FF10. But the native builds are unusable on this Droid2 (keyboard freezes, general unstable browsing behaviour).

[2012-02-22 01:38] jrgm commented on #1051
verified gettext removed and while running in a localized language terms in error dialogue are not translated.

[2012-02-22 05:44] jrgm opened #1169 "FF Mobile Beta (11.0) on droid2(2.2) cannot signin on myfavoritebeer or myfavoritebooze"
This is very specific to FF 11.0 (the final XUL mobile version) and perhaps this particular motorola/verizon droid2 android 2.2; I don't have another android to test with (loaned for MWC)).

STR:
1) load beta.myfavoritebeer.org or myfavoritebeer.org (or s/beer/booze/)
2) touch 'Sign in' button

Expected:
Window for /sign_in comes up

Actual:
'Sign in' button jumps up towards left and top, and then

[2012-02-22 10:11] ghost commented on #837
Verified on Firefox 13.0 + Windows XP.

[2012-02-22 10:19] shane-tomlinson commented on #1154
@ozten, @mathjazz - These strings DO serve different purposes - "close the window" is used for errors within the dialog, "reload the page" is for errors within the main site.

Better copy needed yes, but I think we should keep two distinct strings.

[2012-02-22 10:24] #1155 closed, assigned to nobody

[2012-02-22 10:26] #198 closed, assigned to skinny97214

[2012-02-22 10:28] #1160 closed, assigned to nobody

[2012-02-22 10:30] #1157 closed, assigned to nobody

[2012-02-22 10:31] #1156 closed, assigned to nobody

[2012-02-22 10:31] mathjazz opened #1170 "Make client.pot & messages.pot empty file at the beginning of extract_po.sh"
When I extract new strings using extract_po.sh, I get different POTs generated if I leave existing POTs in the templates directory than if I empty the old POTs.

The difference is that strings that we remove for the new releae don't get removed from the POT if I keep the old POTs, but they do get removed if I empty the POTs before running extract_po.sh. So what I do now is every time before I run

[2012-02-22 10:33] ghost commented on #840
Verified on diresworb.org and browserid.org on Firefox 13.0 + Windows XP.

[2012-02-22 11:30] mathjazz commented on #1154
Absolutely, these are two different things.

I was talking about using "to retry" and "try again" in the same sentence.

[2012-02-22 11:33] shane-tomlinson opened #1171 "phantom js tests blow up after calling set_password"
STR:

1) Start up browserid server.
2) from the resources/static/test directory, run `phantomjs ./phantomrunner.js <host>/test/`
3) Wait for about a minute.
4) Watch several "SyntaxError: Unable to parse JSON string"s pass by.
5) Watch "Bus error: 10" be thrown

Log from PhantomJS console:

[code]

Log from BrowserID console:

[code]

[2012-02-22 11:34] shane-tomlinson commented on #1171
Closing as I was testing the wrong repo.

[2012-02-22 11:34] #1171 closed, assigned to nobody

[2012-02-22 13:15] ghost commented on #406
I tried to reproduce this issue again on Windows XP with Chrome 17.0.963.56 m and Firefox 11.0 (beta3). It reproduced all the time when I used the mouse to enter the email address for signing in (mouse or mouse+keyboard), but it never reproduced when using only the keyboard to enter it.

STR:
1. Load http://beta.myfavoritebeer.org in a browser.
2. Click on the "Sign in" button.

CASE 1 - the issue

[2012-02-22 13:44] ghost opened #1172 "The "This field must be an email address." error message is displayed when trying to sign up with and email address longer than 74 chars"
OS: Windows XP
Browser: Fx 11.0, Fx 13.0, IE8, Chrome 17.0.963.56

STR:
1. Load a BID sign in/up page in a browser (any dev, stage or prod server page or BID dialog).
2. Enter an email address longer than 74 chars.
3. Click on the button for signing in/up.

The "This field must be an email address." error message is displayed. If the user reduces the number of chars to 74, everything seems to work

[2012-02-22 14:15] ghost opened #1173 "Passwords larger than 80 chars can be used all through BID"
OS: Windows XP
Browser: Fx 11.0

STR:
1. Load a BID sign in/up page in a browser (any dev, stage or prod server page or BID dialog).
2. Sign up with an email address and set as password a string longer than 80 chars.
3. Sign in with the account with the password longer than 80 chars.
4. Change the password though the Forgot Password feature. Set a new password longer than 80 chars.
5. Change the p

[2012-02-22 14:40] ghost commented on #1139
Verified as fixed on Dev using Firefox 11.0 + Windows XP. The issue still reproduces on Stage but I suppose the fixed hasn't gotten there yet. Please let me know if I'm wrong.

[2012-02-22 15:15] ghost commented on #843
Verified as duplicate of #421.

[2012-02-22 15:18] ghost commented on #842
Verified as duplicate of #730.

[2012-02-22 15:27] shane-tomlinson opened #1174 "XHR delay screen should be hooked up to main site"

[2012-02-22 16:44] shane-tomlinson commented on #1173
@ioanab - Several things to be aware of:
1) The password fields have a maxlength=80, so unless people are removing this attribute manually, the browser will stop them from typing extra characters without giving them any hint that they have reached the end.  If this happens, only 80 characters will be in the input field.
2) The password max length check is only done when the user sets a password, N

[2012-02-22 16:48] shane-tomlinson commented on #1172
@ioanab - the criteria for an email address are:

1) total address allowed to be 254 bytes long
2) local side only allowed to be 64 bytes long
3) domain side allowed to be up to 253 bytes long

The RegExp we use for validation is taken from http://blog.gerv.net/2011/05/html5_email_address_regexp/
with the addition change that there must be a ldh-str (.com, .net, .org, .cz, .uk, etc portion) becaus

[2012-02-22 20:14] lloyd opened #1178 "unit tests are broken"
broken as a result of issue 1040, page-request tests are failing

[2012-02-22 20:22] #1178 closed, assigned to lloyd

[2012-02-22 21:47] skinny97214 opened #1180 "email verification fails on browseridux.org"
Email verification failed with two different email providers.
Video at http://accounts.usertesting.com/ViewVideo.aspx?file=giiVho%2fTYZ0%3d
#

Instructions given to testers:

Scenario:
---You will need to use an email address you can receive mail at.---

---This is NOT the real Netflix site, it's only a simulation.---

Scenario: You are an active Netflix customer.

Tasks:
Task 1: Log-in to Netflix

[2012-02-23 02:27] #898 closed, assigned to jbonacci

[2012-02-23 03:43] jrgm commented on #985
Actually, I'd been through today on winxp/ie8 on beer|booze, and it works fine now. Thanks @shane-tomlinson

[2012-02-23 03:44] jrgm commented on #985
(Note: this went live on myfavorite(beer|booze) maybe on Friday).

[2012-02-23 04:38] cvan commented on #898
Sorry, my cookies got cleared and I can't reproduce this anymore.

[2012-02-23 08:37] mathjazz commented on #1065
Only Hebrew is RTL, whereas Hungarian is LTR.

They are both at 0%.

[2012-02-23 17:39] lloyd commented on #1180
AWS cutting email off was the cause, redeployed on a different acct, AWS contacted.  should be fixed for now!

[2012-02-23 17:50] lloyd commented on #1173
fringe case, we'll address this when we revisit user feedback during password selection GH-755

[2012-02-23 17:50] #1173 closed, assigned to shane-tomlinson

[2012-02-23 17:51] lloyd commented on #1172
desired behavior!  not a bug, we're inline with the spec.

[2012-02-23 17:51] #1172 closed, assigned to nobody

[2012-02-23 17:52] lloyd commented on #1170
4stars, @ozten, please advise

[2012-02-23 18:00] shane-tomlinson commented on #1154
See bug #1167, closing as duplicate.

[2012-02-23 18:07] benadida opened #1181 "figure out strategy for iOS 5 reject all cookies"

[2012-02-23 18:16] benadida commented on #1140
two cases:
- host unreachable
- host reachable but buggy JS in provisioning/authentication

@skinny97214 can you think through error message in both cases?

[2012-02-23 18:19] shane-tomlinson commented on #1181
Some light reading:
http://support.apple.com/kb/HT1677

The second two are complaints:
https://discussions.apple.com/thread/3566208?start=0&tstart=0
https://discussions.apple.com/thread/3551205?start=0&tstart=0

Do this search:
https://www.google.com/search?hl=en&client=firefox-a&rls=org.mozilla%3Aen-US%3Aofficial&q=site%3Aapple.com+ios5+cookies+never&oq=site%3Aapple.com+ios5+cookies+never&aq=f&aq

[2012-02-23 18:22] #882 closed, assigned to skinny97214

[2012-02-23 18:29] benadida commented on #759
UX + security agreement (sort of cause @lloyd not on phone) that blast all emails but keep account consolidated is the right approach. Ben will write up.

[2012-02-23 20:01] ozten opened #1182 "Error UI instead of Login Screen with raiseAuthenticationFailure"
As reported in http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/ea00cf0bac16b1ca#
`navigator.id.raiseAuthenticationFailure` doesn't show the login screen.

http://skitch.com/oztenskitch/8rey2/error-on-success

Steps to reproduce:
0) https://vinz.clortho.org/browserid/ - accept SSL cert exception
1) Make sure you don't have a session with https://vinz.clortho.org (clear cook

[2012-02-23 20:02] ozten opened #1183 "Error UI upon calling registerCertificate for Clortho primary"
I've hooked up a new primary pointed to dev.diresworb.org that takes your LDAP username + '@vinz.clortho.org' and your LDAP password.

I've loggedin to http://dev.myfavoritebeer.org/

Everything goes well, I see proper interaction in Firebug. After we call navigator.id.registerCertificate(r.cert);
then I see:
http://skitch.com/oztenskitch/8rey2/error-on-success

Steps to repro:
0) https://vinz.clo

[2012-02-23 20:18] ozten commented on #1183
To Repro locally:
https://github.com/ozten/vinz-clortho

[2012-02-23 20:18] ozten commented on #1182
To Repro locally:
https://github.com/ozten/vinz-clortho

[2012-02-23 21:06] benadida commented on #1181
reached out to folks for contacts at Apple to understand if this is a bug or feature

[2012-02-23 22:14] ozten commented on #1182
Through much head desking I've found the root cause:

raiseAuthenticationFailure cannot be used with arbitrary error messages.
https://github.com/mozilla/browserid/blob/dev/resources/static/shared/user.js#L450

Both http://browserid-i5y.herokuapp.com/browserid/provision and my IdP treat this like a place to accept an arbitrary string:

herokuapp should change `fail('need to sign in');` to `fail('u

[2012-02-23 22:14] ozten commented on #1182
Should the dialog be more lenient?

Should have an enumeration of error codes?

Other ideas?

[2012-02-23 22:19] davidillsley commented on #1182
Interesting. What are the other valid codes?

[2012-02-23 22:46] ozten commented on #1183
One reason the error screen is being shown, is a self-signed SSL certificate.

BrowserID attempts to authenticateWithAssertion which hits /wsapi/auth_with_assertion.

This fails with

[code]

[2012-02-23 23:29] ozten commented on #1183
At https://github.com/mozilla/browserid/blob/dev/lib/primary.js#L195
the issuer variable is set to 'eyedee.me' which is unexpected... still digging...

[2012-02-23 23:39] ozten commented on #1183
This happens running SHIMMED and non-SHIMMED.

[2012-02-23 23:55] ozten commented on #1183
Is there some magick with `jwcert.JWCert.verifyChain`?

I've edited the source of it's declaration, restarted, and don't see my console.log statements.

I've done the same to the other two functions with that name, no dice.

https://gist.github.com/1895837

I can put the value of `bundle.certificates` in here, if that is useful (just a big cert). I'm kind of stuck at this point.

@benadida or @llo

[2012-02-24 00:17] ozten commented on #1183
I'm dumb.

grep'd my Primary's source and now see eyedee.me in lib/crypto.js.

[2012-02-24 00:25] ozten commented on #1183
Okay, interestingly I still have "bad signature in chain".

I see my server mentions provisioning a key with the algorithm 'DS' and browserid mentions an RSA key with algorithm 'RS'. Not sure if that is a mismatch, or meaningless.

[2012-02-24 07:08] ozten commented on #1183
I found an issue with my logic, my Primary was issuing certificates for mozilla.com email addresses, instead of dev.clortho.org. I saw a `principal` field in the decoded certificate, which tipped me off to this issue.

With that fixed, I'm still getting "bad signature in chain".

[2012-02-24 07:49] ozten commented on #1183
Okay... I've found another declaration of `JWCert.verifyChain`. I am able to edit that file and see my changes.

At this point:
https://github.com/mozilla/jwcrypto/blob/master/jwcert.js#L157
`cert.verify(current_pk)` fails.

Here are the values of `cert` and `current_pk`:

https://gist.github.com/d740a8b6d459f2451b76

[2012-02-24 09:46] shane-tomlinson commented on #1154
"To retry, ... try again" is shown in all the error messages _except_ the cookies disabled message.  Because of this, reopening this issue.

[2012-02-24 10:40] shane-tomlinson opened #1185 ""select email" string needs changed to "sign in""
Since #198 (Be able to authenticate with BrowserID without selecting an email address) has been implemented, the "Select Email" string needs changed to "Sign In".

[2012-02-24 15:13] mathjazz opened #1188 "Almost identical strings"
As pointed out by localizers, these two strings are almost identical:

resources/static/dialog/views/offline.ejs:9
We are sorry, but we cannot communicate with BrowserID while you are offline.

resources/static/shared/error-messages.js:83
Unfortunately, BrowserID cannot communicate while offline!

I think we should pick (the first) one and use it everywhere.

[2012-02-24 15:33] mathjazz opened #1189 "Extra space"
As pointed out by localizers, the following string ends with a space after colon:
"Finish signing into: "

It is located in two files:
resources/views/add_email_address.ejs:13
resources/views/verify_email_address.ejs:14

The space should be moved out of the gettext function call.

[2012-02-24 15:50] shane-tomlinson commented on #1188
@mathjazz - @lloyd actually disconnected the "offline" check quite a while back, this code should probably be removed all together.  Let me make sure this is the case, and if so, I'll do a pull request.  If the check is still active, I will combine the strings.

[2012-02-24 16:33] shane-tomlinson commented on #1182
@ozten, @davidillsley - I feel we should not make our policy more lenient but instead should enumerate possible error codes and define the expected outcome for each.  Any error codes that do not fit into the scheme are treated as unknown and the error screen should be shown.

At the moment the only accepted error code that does anything meaningful is "user is not authenticated as target user" - wh

[2012-02-24 16:54] ozten commented on #1182
It feels too verbose and suggests programmer input, instead of something that is part of a standard.

I've updated [the spec](https://wiki.mozilla.org/Identity/BrowserID#Certifying_Users), but I suggest we use something shorter like

`WRONG_USER` or `AUTHED_UNKNOWN`

/cc @benadida  to review my addition to the spec.

[2012-02-24 17:39] skinny97214 commented on #1180
I ran a test yesterday and it also failed. Tried again this am and its still failing for me. :(

[2012-02-24 18:17] ozten commented on #1170
https://github.com/mozilla/browserid/pull/1194

[2012-02-24 18:17] #1170 closed, assigned to nobody

[2012-02-24 19:39] skinny97214 opened #1195 "sign-in screen has unclear button labeling [select email]"
I clicked [this is not me] which took me to the sign_in screen. The button says [select email] ??? Can anyone help me understand all the instances in which this screen displays? Is there a case for which changing the button text to [sign in] wouldn't make sense?

http://cl.ly/2g0B3H1a3h3B0z0v0k16

[2012-02-24 19:47] davidillsley commented on #1182
I agree with both of you, though if we're not aware of other imminent error codes, why not remove the param completely for the moment?

[2012-02-24 21:01] ozten commented on #990
I see we have a single connection to mysql per process. This is probably fine, as we have many processes running.

Another way to go is to create a db pool, so that a single process is more resilient to slow queries. Having multiple connection in a pool would allow us to tune the timeout to allow for longer queries since the probability of all connections hitting slow queries is lower under health

[2012-02-24 22:34] skinny97214 commented on #1195
This is a dupe of #1185

[2012-02-24 22:34] #1195 closed, assigned to nobody

[2012-02-24 22:38] #774 closed, assigned to vthunder

[2012-02-24 22:38] skinny97214 opened #1196 "logout all devices from all websites"
Building the remember-this-computer feature necessitates us being able to un-remember it. Here's first cut at nuking all saved devices. Once the user logs back in from that device, they should be reprompted with "is this your computer" so they can save it again.

 http://cl.ly/2B1P1N43252v0t270c2s

[2012-02-25 00:16] benadida commented on #841
OK, we have a path forward here:
- design API for RPs to send privacy and ToS URLs to the dialog
- dialog shows "by clicking sign-in, you agree to the ToS and privacy policy" with two links (or just one if only one is provided by RP)
- when we prompt the user for a password, we also note agreement to BrowserID ToS and privacy policy (not the RP).

That is all for now, should do this in time for th

[2012-02-25 00:22] skinny97214 commented on #841
Popup type email http://cl.ly/1M3x3q1d1i432L1p1T3m
Popup select email http://cl.ly/3k1S3v431N3o0Q2L1C3Y

Page http://cl.ly/0X1a3l381m3B0o0v1K2Z

[2012-02-25 01:04] ozten commented on #1183
Updating to 256 bits.

Everything looks good, but we fail at
https://github.com/mozilla/jwcrypto/blob/master/jws.js#L161

   var sig_verification = key.verify(this.headerSegment + "." + this.payloadSegment,
                                     utils.b64urltohex(this.cryptoSegment));

Here is an example of the live inputs:
https://gist.github.com/1904986

Hardcodding this call to true allows rest o

[2012-02-25 07:18] fligtar commented on #841
Looks great to me, as long as legal is okay with it. My understanding was that EU requires a checkbox assent. Thanks!

[2012-02-25 16:03] ozten commented on #1183
@benadida figured it out, I was using different key pairs in `lib/crypto.js` versus the code that created `/.well-known/browserid`.

Meta observation is needing a way to detect this and inform primary developers.

[2012-02-25 16:03] #1183 closed, assigned to nobody

[2012-02-25 20:21] lloyd commented on #1180
Got mail from AWS at February 24, 2012 12:01:54 PM MST that email delivery is fixed.  testing...

browseridux.org appears to be down.  hmm.  no matter.

tried via netflix_test_a.myfavoritebeer.org - email delivery works fast via gmail and mozilla
tried via netflix_test_b.myfavoritebeer.org - email delivery works fast via gmail and mozilla
tried via feature886.myfavoritebeer.org - email delivery wo

[2012-02-25 20:21] #1180 closed, assigned to lloyd

[2012-02-25 21:27] lloyd opened #1197 "verifier tests fail under travis-ci"
/cc @AutomatedTester

[code]

Full log: http://travis-ci.org/#!/mozilla/browserid/builds/742303

My bet is we can reproduce this by turning off your WIFI and running verifier tests.

[2012-02-25 21:36] lloyd commented on #1154
merged.

[2012-02-25 21:36] #1154 closed, assigned to nobody

[2012-02-27 09:30] jalada opened #1198 "Login doesn't work in an iOS Home Screen web application"
If I make a website a home screen web app in iOS using:

[code]

When I go to log in with BrowserID on that web app, it appears to hang on 'Communicating with server'.

[2012-02-27 14:04] mmullens opened #1199 "include.js, embedded winchan needs updating, breaks IE9 testing on localhost"
resources/static/include_js/include.js:

does not embed the latest version of winchan which causes inability to find relay frame while developing browserid enabled site on localhost and testing on localhost with IE9 (and probably others).  Issue is that the relay frame is never found.

The fix is to embed the latest version of winchan in include.js.  There are some significant fixes in latest winc

[2012-02-27 15:47] ghost opened #1200 "BrowserID becomes unresponsive when trying to use it in Firefox with all the cookies disabled"
OS: Windows 7
Browser: Firefox 11.0 (beta 4), Firefox 13.0 (Nightly)

In other browsers (e.g. IE9, Opera 11.61), either the "We are sorry, BrowserID requires cookies" dialog or an error dialog with the Response Text "Forbidden: no cookie" are opened when trying to perform different actions on BID with all the cookies disabled. The following happens in Firefox:

Case 1:
1. Disable all the cookies.

[2012-02-27 16:00] ghost opened #1201 "The diresworb.org home page displayed both the Account Manager and "Connect with BrowserID..." sections when all the cookies are disabled"
OS: Windows 7
Browser: IE9, Firefox 11, Firefox 13

STR:
1. Disable all the cookies (the issue doesn't reproduce when only 3d party cookies are disabled).
2. Load https://diresworb.org/ in the browser.

The diresworb.org home page displayed both the Account Manager and "Connect with BrowserID..." sections.

The issue reproduced with a fresh Firefox profile; the language settings were not changed f

[2012-02-27 16:10] ghost opened #1202 "Only the headers and footers of most diresworb.org pages are displayed when opening them in Chrome with all the cookies disabled"
OS: Windows 7
Browser: Chrome 17.0.963.56

STR:
1. Disable all the cookies (the issue doesn't reproduce when only 3d party cookies are disabled).
2. Load https://diresworb.org/ in the browser.

Only the headers and footers of all the diresworb.org pages are displayed, except for the Sign In page. This issue doesn't reproduce on other browsers (tried IE9, Fx11 and 13, Opera 11.61).

[2012-02-27 16:37] ghost opened #1203 "The "We are very sorry, there has been an error!" message with an unresponsive "See more info" link is displayed in several cases when all the cookies are disabled in the browser"
OS: Windows 7
Browser: Chrome 17.0.963.56, IE9, Opera 11.61

The "We are very sorry, there has been an error!" message with an unresponsive "See more info" link is displayed in several cases when all the cookies are disabled in the browser:

Case 1:
1. Disable all the cookies in the browser.
2. Load https://diresworb.org/signin in the browser.
3. Enter an email address associated to BID and click

[2012-02-27 16:41] ozten commented on #1170
@mathjazz this was merged. Let me know if you have any issues with it.

[2012-02-27 18:07] Marlena opened #1204 "Include.js returns a 304 even though it takes a while to load"
Steps to reproduce:
1. open firefox
2. go to http://addons-dev.allizom.org
3. log in with BrowserID/Persona
4. open Firebug or something else that will show server responses
5. In the header, click on username -> my profile

The call for include.js is returning a 304 error code which indicates it's pulling information from cache.  It doesn't seem to matter if the cache has been cleared, it always

[2012-02-27 18:12] skinny97214 commented on #1140
What should the user do? Wait and try again?

[2012-02-27 18:16] ozten opened #1205 "'bad signature in chain' should clear public key cache for a primary and retry"
I'm unable to test my primary in dev.diresworb.org and I think it is because it has an out of date public key in it's cache.

During local development, I saw this issue. If I changed my public key in my primary, I had to restart my local BID server.

Steps To Reproduce
1) Deploy Clortho or another primary
2) Succesfuly login
3) Restart Clortho or change key pair on your IdP
4) Start login flow a s

[2012-02-27 18:20] Marlena opened #1206 "include.js loads very slowly for the addons "My Profile" page in FF"
Steps to reproduce:
1. Open Firefox
2. Go to addons-dev.allizom.org
3. Open Firebug or some other tool for viewing network response times
4. In the header, click username -> my profile
5. Notice the response time for include.js

The response time has routinely been between 5 - 13 seconds and a few times, it hasn't loaded at all.

We have an automated test that is failing a lot because of this issu

[2012-02-27 18:23] ozten opened #1207 "Refine raiseAuthenticationFailure API"
As noted in Issue 1182 our current API violates the principal of least astonishment.

Actual:
raiseAuthenticationFailure takes a message string.

Expected:
TBD

[2012-02-27 18:23] ozten commented on #1182
Filed Issue 1207 to refine this API.

[2012-02-27 18:23] #1182 closed, assigned to nobody

[2012-02-27 20:17] mathjazz commented on #1170
Works great, thanks!

[2012-02-27 20:25] mathjazz opened #1208 "Duplicate strings in messages.po and client.po"
The following strings are located in both, messages.po and client.po files, which means localizers have to translate them twice. Is it possible to store them only in one file?
- Please close this window, <a %s>enable cookies</a> and try again
- BrowserID requires cookies

[2012-02-27 20:30] mathjazz opened #1209 "BrowserID requires/required cookies"
We use the string "BrowserID required cookies" (past tense) in /resources/static/dialog/views/error.ejs.

On two other occasions we use "BrowserID requires cookies" (present tense).

I suppose we can use the latter everywhere.

[2012-02-27 20:39] st3fan opened #1210 "BrowserID dialog does not use the mobile layout"
We run the BrowserID process in a modal presented UIWebView on iOS.

The size of this modal view is fixed and defined by iOS and cannot be changed manually. It is 540 points wide.

Here is a screenshot: https://moo.mx/grabs/38465568.png

Is it possible to modify the CSS of browserid so that it will use the mobile layout when it is run in the above modal view?

[2012-02-27 21:17] lloyd commented on #1210
not deeply familiar with the CSS mechanism to switch views.  I'd prefer to wait for @shane-tomlinson to return to handle this.  Is there any time pressure?

[2012-02-27 21:17] lloyd commented on #1210
/cc @ozten

[2012-02-27 21:20] st3fan commented on #1210
No extreme time pressure. Things work, just don't look great. But we can live with that for a bit.

[2012-02-27 22:10] jrgm commented on #1204
In the screenshot https://skitch.com/e-marlenac/8fftq/browserid-homepage-viewprofile note that the color is green which
is 'Connection - elapsed time required to create a TCP connection' per Jan Odvarko - http://www.softwareishard.com/blog/firebug/introduction-to-firebug-net-panel/

So, this time appears to be all in negotiating the socket connection. Which is odd.

What does `sudo tcpdump -i en1

[2012-02-27 22:50] #1197 closed, assigned to lloyd

[2012-02-28 01:23] ozten commented on #1208
We cannot easily do this. The server side software uses the messages catalog, while the client side code uses the client catalog.

We have a few options, all of which require development work:
1) Re-write feature to only display strings via client code for this Cookies message
2) messages.json is available, add code so that the dialog adds it via a script tag, remove string from client side code

[2012-02-28 01:36] ozten commented on #1209
Good call!

Fixed in http://git.io/BjMOpQ

[2012-02-28 01:36] #1209 closed, assigned to nobody

[2012-02-28 09:20] mathjazz commented on #1208
Thanks for clarifying.

No need to proceed with this. If we have to translate twice for the next release, removing strings from one file afterwards doesn't make so much sense anymore.

[2012-02-28 09:20] #1208 closed, assigned to nobody

[2012-02-28 16:11] #990 closed, assigned to lloyd

[2012-02-28 17:36] lloyd commented on #37
dup of issue #841

[2012-02-28 17:36] #37 closed, assigned to nobody

[2012-02-28 18:22] ozten opened #1212 "Enhance our use of EJS so we can keep templates DRY"
In fixing Issue 841, I wanted to use `include` or `partial` in a template to include a new `tos_pp.ejs` template. This would keep us from duplicating work across 6 templates.

I see this can't work with our current template framework of using EJS outside of express/connect.

We should fix this so partial templates can be used client or server side.

[2012-02-28 19:55] Archaeopteryx opened #1213 "Uppercase characters shown as lowercase characters on buttons of signin dialog"
The uppercase characters in the German strings of the browserid signin dialog are shown as lowercase characters. For German, this is wrong, e.g. "mail address" is a subject and so has to start with uppercase (and parts starting next to "-" also).
The issues seems to be caused by https://github.com/mozilla/browserid/pull/1136 and https://github.com/mozilla/browserid/pull/1138
The localization shows

[2012-02-28 20:30] jrgm commented on #1213
Thanks Archaeopteryx. The pull requests you mention are not yet in production; that will happen tomorrow, but in the
stage environment with the text-transform removed, if the localizer chooses upper-case, they will get upper-case.

Does this look correct to you? That should be what you will see sometime tomorrow afternoon PST.
https://img.skitch.com/20120228-ft7mhqk35b4y9affwxs2f8w6mm.png

[2012-02-28 20:32] cbiesinger opened #1214 "Authentication using smartcard"
So this is probably sort of an edge case, but I would really like to be able to log in to my browser ID account with the smartcard I have (issued by a-trust in my case).

This would be much more secure than a password. Firefox supports using this card, and there are also DOM APIs for it:
https://developer.mozilla.org/en/JavaScript_crypto

[2012-02-28 20:39] Archaeopteryx commented on #1213
Thank you for the answer, the screenshot looks correct.

[2012-02-28 20:39] #1213 closed, assigned to nobody

[2012-02-28 22:39] jrgm opened #1215 "trivial quirk with FF10, multiple languages and cache behaviour"
I was working through switching among languages and checking request/response headers and web{1,2,3}:browserid.log, and noticed a quirk in FF10 (but not in FF{11,13} or in Chrome17). Just documenting it (and closing) in case @jbonacci runs into same, or we wonder why there are 304's for, e.g., /dialog.js when stage goes to    production tomorrow.

If as user has two locale variant of a language pl

[2012-02-28 22:39] #1215 closed, assigned to nobody

[2012-02-28 22:58] satdav commented on #421
can we get this added as it would be good

[2012-02-29 04:55] lloyd commented on #647
fixed in dev, see issue 990

[2012-02-29 04:55] #647 closed, assigned to lloyd

[2012-02-29 04:56] lloyd commented on #536
reassigned to @fetep - maybe we should move this to a bugzilla bug?

[2012-02-29 05:12] lloyd commented on #870
can no longer repro!  please reopen if you can.

[2012-02-29 05:12] #870 closed, assigned to lloyd

[2012-02-29 05:32] lloyd commented on #1011
STR locally:
1. fiddle keysigner to bind the wrong port
2. `npm start`
3. log into `127.0.0.1:10001`, creating an account along the way
4. notice at the moment a request is attempted to be forwarded to keysigner, things go boom:

   browserid (3707): info: forwarding request: /wsapi/cert_key -> http://127.0.0.1:10003/wsapi/cert_key
   browserid (3707): error: error forwarding request: Error: conne

[2012-02-29 05:35] #1011 closed, assigned to lloyd

[2012-02-29 06:12] lloyd opened #1219 "aws deployments - the third push fails to update code"
/cc @shane-tomlinson

STR:

[code]

this is a bug in the `post-update` script on the AWS template image

[2012-02-29 06:42] #1219 closed, assigned to lloyd

[2012-02-29 06:57] jrgm commented on #870
I can't repro with either shane's STR nor my original STR using the staging environment. verified.

[2012-02-29 07:18] jrgm commented on #1204
@Marlena and I went through this a bit today.
- @Marlena's test account with addons-dev is quite sluggish, and I was thinking that was maybe the explanation
- but couldn't explain the firebug images, so I looked how chrome/firefox behave if browserid.org/include.js is sluggish (with ipfw induced high latency), and I could reproduce the same firebug views (and the chrome dev tools equivalent).

So,

[2012-02-29 08:35] mathjazz opened #1220 "Add new locale: Ukranian (uk)"
@ozten

[2012-02-29 16:10] mathjazz opened #1223 "Locales ready for February 29, 2012 release"
The list o locales ready for a push to production today is available here:
https://etherpad.mozilla.org/localize-browserid-shipping

We have 30 locales + en-US. Do I need to add en-US to the list?

/cc @ozten

[2012-02-29 16:53] lloyd opened #1224 "Apply as a mentoring Organization to GSoC"
http://www.google-melange.com/document/show/gsoc_program/google/gsoc2012/faqs#timeline

We would have to submit an application by march 9th as a mentoring organization to participate.

[2012-02-29 16:54] lloyd commented on #1224
/cc @vthunder @benadida

[2012-02-29 16:56] Skalman commented on #1224
I'd be interested in doing a non-JS implementation of BrowserID.

[2012-02-29 17:03] fetep commented on #1223
en-US is good to include, since it needs to be in the deploy config to enable.

[2012-02-29 17:10] mathjazz commented on #1223
Thanks!

[2012-02-29 19:07] ozten commented on #1220
Added to l10n-all.json.

[2012-02-29 19:07] #1220 closed, assigned to nobody

[2012-02-29 20:01] lloyd opened #1225 "login to www.myfavoritebeer.org fails"
this is confusing, but based on the www, we assume that this is an ephemeral deployment and try to load include.js from some strange place. www should just work, or should redirect.

[2012-02-29 22:00] tymofij commented on #1220
Thanks.

[2012-03-01 00:11] fetep commented on #1223
new code out to prod, new locale list live.

[2012-03-01 00:11] #1223 closed, assigned to fetep

[2012-03-01 11:28] mathjazz opened #1227 "What is the branch name of the next train?"
I need to extract new strings for the next train. What branch should I use?

/cc @ozten @lloyd

[2012-03-01 17:10] #1009 closed, assigned to nobody

[2012-03-01 17:10] #660 closed, assigned to shane-tomlinson

[2012-03-01 17:17] benadida opened #1229 "build a mediawiki plugin to support BrowserID"

[2012-03-01 17:30] lloyd opened #1230 "it-CH (debug) translation broken in dev env"
steps to reproduce:
1. change your language to it-CH
2. go to dev.myfavoritebeer.org and click sign-in
3. notice that "BrowserID is the fast and secure way to sign in" is not "translated"

[2012-03-01 17:30] lloyd commented on #1230
labeling this five stars, understanding what's broken and why should block rolling `train-2012.03.01`

[2012-03-01 17:38] lloyd commented on #1227
train-2012.03.01

[2012-03-01 17:38] #1227 closed, assigned to nobody

[2012-03-01 17:38] lloyd commented on #1227
ready in 2 hours

[2012-03-01 17:49] lloyd commented on #1214
this is something that would be fantastic to explore in the context of a custom primary (should be possible right now), but isn't something we're ready to build into the core platform at the moment.

[2012-03-01 17:49] #1214 closed, assigned to nobody

[2012-03-01 17:52] lloyd commented on #1210
ok, the strategy for solving this is in issue #1101 - this one is a dup!

[2012-03-01 17:52] #1210 closed, assigned to shane-tomlinson

[2012-03-01 17:57] lloyd commented on #1206
duplicate of issue #1204

[2012-03-01 17:57] #1206 closed, assigned to nobody

[2012-03-01 17:59] ozten commented on #1205
Potential DDOS attack here.

Related - Discuss timeout policy primary <----> secondary

[2012-03-01 18:01] lloyd commented on #1204
@fetep what do stats look like for the last month on include.js in terms of min/max/avg latency?

[2012-03-01 18:01] benadida opened #1231 "bail on primary because of network latency?"
What to do when fetching primary .well-known takes forever?

[2012-03-01 18:09] lloyd commented on #1189
looks fixed, please test!

[2012-03-01 18:09] #1189 closed, assigned to nobody

[2012-03-01 18:09] lloyd commented on #1188
looks fixed!  please test

[2012-03-01 18:09] #1188 closed, assigned to nobody

[2012-03-01 18:15] benadida commented on #1181
appears to be a bug, looking for more info on timeline.

[2012-03-01 18:18] benadida commented on #1169
we think this is fixed: check and close.

[2012-03-01 18:19] skinny97214 opened #1232 "password reset flow is confusing"
Shane's addition:
We have seen a lot of confusion around the password reset flow. Many users do not understand why we are asking for their password when they click "forgot password".

Skinny's original:
Currently
1. get user's email
2. send verification email
3. set password

Desired
1. get user's email
2. create password
3. send verification email

[2012-03-01 18:20] benadida commented on #1112
can't reproduce, closing for now, will reopen if it happens.

[2012-03-01 18:20] #1112 closed, assigned to nobody

[2012-03-01 18:25] fetep commented on #1231
In production, all of these requests go through a proxy which times out and returns a 5xx after 5s.  It's probably worth having support for a local timeout, too, for cases when you're not going through a proxy.

[2012-03-01 18:57] ozten opened #1233 "Lock down locales and verify them 24 hours before prod release"
We had a hiccup in our prod push, because invalid config was manually entered.

To fix the root cause we shoud:
- Capture final locales in a new config `config/l10n-prod.json`
- Create a prod config verification script
- Freeze locales 24 hours before the planned push

@mathjazz once config/l10n-prod.json exists, you could edit it,  instead of filing bugs and doing etherpad for the final set of lo

[2012-03-01 19:22] ozten commented on #1230
This is not a bug.

A string was changed, but we haven't extracted and merged strings yet.

[2012-03-01 19:22] #1230 closed, assigned to ozten

[2012-03-01 19:33] lloyd opened #1234 "The "sys" module is now called "util". It should have a similar interface."
any time you see this error on the console, it's because we're using libraries that use deprecated APIs.  We should hunt down all these cases and upgrade the underlying libraries, if we can do so without moving to versions we're uncomfortable with.

[2012-03-01 20:33] ozten commented on #1126
This sounds like the postprocessing bug.

This works now in stage and production.

[2012-03-01 20:33] #1126 closed, assigned to ozten

[2012-03-01 20:35] ozten commented on #1125
Dup 1057

[2012-03-01 20:35] #1125 closed, assigned to ozten

[2012-03-01 21:19] lloyd opened #1235 "rpm build fails"
http://petef.pastebin.mozilla.org/1497615

This is because the new compress script returns non-zero if any resources can't be built, and we're trying to build it-CH which is the fake debugging locale.  this blocks the deployment of `train-2012-03.01`

[2012-03-01 21:24] #1235 closed, assigned to nobody

[2012-03-01 22:21] benadida commented on #841
@lloyd this is closed right?

[2012-03-01 22:47] ozten commented on #1124
Found missed string. Wrapped in gettext:
http://git.io/CQGBTg

[2012-03-01 22:47] #1124 closed, assigned to mathjazz

[2012-03-01 23:05] mathjazz commented on #1233
This sounds cool, updating the config file is actually easier for me than filing bugs and editing Etherpad.

Why do we need this file 24 hours before push to production?

[2012-03-01 23:53] #841 closed, assigned to nobody

[2012-03-02 00:02] skinny97214 commented on #403
http://cl.ly/1R0i0I3r1o3D0c2O1Q0b
- rename "use a different email" to "add another email"
- move "this is not me"

[2012-03-02 00:28] skinny97214 opened #1237 "product benefits for 1st time user inside popup"
Currently, the link to the tour goes to browserid.org. This has two issues. Some users have a hard time locating the popup again and get confused. Second, this tour makes sense in the broader context of how you'll use the service ultimately, but is a bit contradictory for what they're about to do.

For the sign in screen that shows to a user we don't have cookied
http://cl.ly/2w3t2a2w1D0f133O0Z0b

[2012-03-02 00:32] skinny97214 opened #1238 "link to home site should look more actionable"
- add a hover state

Needs testing to see if users can find out how to manage their account, reset password, etc. Possibly need a gear icon in the top right corner of the popup.

[2012-03-02 00:39] skinny97214 opened #1239 "login the user at the same time as we verify email"
1) user clicks on the verification link
2) it directs them to browserid.org for a split second, logs them into browserid.org
3) redirect them to the RP where they are also logged in automatically

[2012-03-02 01:23] jrgm opened #1240 "mismatch of PP/TOS text and button text ('next' vs. 'sign in')"
1) Go to beta.myfavoritebeer.org and click signin
2) click 'This is not me' if signed in
3) Enter either the email of an existing user or something new (adsfiowerui@example.com)

The text says "By clicking next ...", but the button is either 'sign in' or 'verify email'

![img](https://img.skitch.com/20120302-n2yqx5dggjiupmgfac9m4wsnmb.png)

[2012-03-02 01:34] jrgm opened #1241 "[stage] The option to check 'Always keep me signed in' is missing in the simplified sign-in flow for a returning user"
The option to check 'Always keep me signed in' is missing in the simplified
sign-in flow. Perhaps this was intentional to drop  that button.

The old flow (on prod now) was:

1) Go to beta.myfavoritebooze.org and click signin
2) In the dialog, click 'This is not me' if signed in
3) Enter the email of an existing user. Click 'next'
4) Enter the password, click 'select email'
5) User is show a scree

[2012-03-02 14:29] mathjazz commented on #1227
Thanks, strings are now merged to SVN.

[2012-03-02 17:43] ryazwinski commented on #864
Yes, this is super important for any company (like Tucows, us :) ) who offer hosted email, but don't host the customer's corporate domain.

Foo.com has a web presence, but we host their email.
bob@foo.com wants to use browserid, but foo.com doesn't know anything about how to authenticate bob and, frankly, we want to offer the IdP as a service.

Absolutely need a lightweight way to delegate bob's b

[2012-03-02 17:45] ryazwinski commented on #864
dns would be a cheap and cheerful way to do this:  browserid.somedomain.tld  CNAME ...

[2012-03-02 17:49] lloyd commented on #1203
fixed in stage.  see GH-835

[2012-03-02 17:49] #1203 closed, assigned to lloyd

[2012-03-02 17:51] lloyd commented on #1202
still an issue despite fix for GH-835

[2012-03-02 17:53] lloyd commented on #1201
fixed in stage. see GH-835

[2012-03-02 17:59] lloyd commented on #1200
fixed in stage. see GH-835

[2012-03-02 17:59] #1200 closed, assigned to lloyd

[2012-03-02 18:00] lloyd commented on #835
this is now live in our staging env: https://diresworb.org - testable via http://beta.myfavoritebeer.org

[2012-03-02 18:03] lloyd commented on #1060
ball is in my court, repinged our privacy folks, next step is to write up a privacy assessment

[2012-03-02 18:15] lloyd commented on #1225
fixed: https://github.com/lloyd/myfavoritebeer.org/commit/af94fbc23b3280ff9dd42e54bf6a0a578bb4dff9

[2012-03-02 18:15] #1225 closed, assigned to lloyd

[2012-03-02 18:33] lloyd commented on #1204
http://people.mozilla.com/~petef/includejs.png

that's an average from geographically dispursed clients

If you can reliably reproduce this issue, please reopen.  Given that our monitoring has seen acceptable response times worldwide over the last month, I'm closing this down.

[2012-03-02 18:33] #1204 closed, assigned to fetep

[2012-03-02 18:42] lloyd opened #1244 "improve feedback from frontend tests running under phantom"
this depends on pull request 1242 being merged.

Once merged, you'll notice that running frontend tests under phantom results in a longish pause (~2m), followed by a pile of test output.  it would be better to have incremental output for faster results.

[2012-03-02 18:44] lloyd opened #1245 "change default tests run"
once 1242 is merged, `npm test` will only run backend unit tests with the json database driver.  instead we should run:
1. backend tests with json driver
2. backend tests with mysql driver (or a nice message if not available)
3. frontend tests with phantomjs (or a nice message if not installed)

[2012-03-02 19:54] jrgm commented on #1234
node-temp is one offender (the noisy one in the unit tests). There is a v0.4.0 tag now that removes the use of sys and a few other relatively small changes.

Note: if you didn't already know (probably do) but if you set NODE_DEBUG=sys in the environment, node will dump the
stack of the caller to require('sys')

(p.s., do you want separate bugs for each lib that needs upgrading? Or just this one bu

[2012-03-02 20:01] lloyd commented on #1234
Let's just use this bug, I'll knock them off one by one.

--lloyd

On Mar 2, 2012, at 12:55 PM, John Morrisonreply@reply.github.com wrote:

[2012-03-02 20:40] brettgaylor opened #1247 "Give feedback to users who don't accept cookies"
Tried to log in to openbadges.org but I manage my cookies.  when cookies are not except, browserid has no effect.  information to the user (ie please accept cookies) would be useful.

[2012-03-02 21:28] jrgm commented on #198
verified. The new flow on stage when a user is not logged into browserid is enter email, click next, enter password, click
sign in, user is immediately signed in to the RP with no email picker shown.

Note: GH-1241 - The option to check 'Always keep me signed in' is missing in the simplified sign-in flow for a returning user

[2012-03-02 21:31] #1185 closed, assigned to shane-tomlinson

[2012-03-02 21:31] jrgm commented on #1185
Closing. This change is on train-2012.03.01 and displays correctly

[2012-03-02 21:56] #1169 closed, assigned to jrgm

[2012-03-02 22:31] lloyd commented on #1247
@brettgaylor - we have a fix that may solve your request in our staging environment due to go into production in two weeks.  Please try logging into http://beta.myfavoritebeer.org and let us know if you think the messaging is more reasonable, and if so, please close this issue!

[2012-03-02 23:07] lloyd commented on #1224
Another interesting project came up regarding debugging tools for node.js.  Basically a contribution to community efforts to improve tooling in the form of some smart dude working on the problems at mozilla.

[2012-03-02 23:26] jrgm commented on #1139
fix is verified on stage train-2012.03.03

[2012-03-02 23:51] jrgm opened #1248 "'/manage|/users|/primaries' in browserid/views.js redirect to unreachable internal hostname in stage/prod"
A very minor issue but these URL's redirect to the internal hostname (e.g., web1) of the host that handled the request.

Could either just remove the redirects since they don't work anyways, or fix them to use the load-balanced public hostname of the site. (I suppose option #3 is to have zeus handle them, but does anyone ever hit these URL anymore?).

[2012-03-03 00:12] brettgaylor commented on #1247
yes, perfect thank you Lloyd!

[2012-03-03 00:12] #1247 closed, assigned to nobody

[2012-03-03 01:25] jrgm commented on #1157
verified by running fixed code with train-2012.03.03

[2012-03-04 13:01] michielbdejong opened #1249 "undescriptive error message when requiredEmail field is not an email address"
if i pass 'michiel@unhosted' or null in the requiredEmail option, i get:
    We are very sorry, there has been an error!
    To retry, you will have to close this window and try again.

instead, to help RPs have an easy debug experience, it could say something more descriptive like:
    Required email address 'michiel@unhosted' not recognized!
    To retry, you will have to close this window and t

[2012-03-04 13:22] michielbdejong opened #1250 "undescriptive error when assertion is malformed"
when posting a malformed assertion (i accidentally prepended the string 'undefined' to it) I got:

[code]

back from browserid.org/verify. this looks like something from the bowels? maybe it should say "reason":"assertion is malformed", so that it's easier for RP devs to debug what happened

[2012-03-05 18:35] ozten commented on #403
I've done this work and submitted for review:
https://github.com/mozilla/browserid/pull/1252

[2012-03-05 20:01] jrgm opened #1254 "server logs should record millisecond resolution timestamps (i.e., the time of day)"
Helps when trying to corelate requests spread across multiple servers, and in determining order of failing sequences of requests.

[2012-03-05 20:03] jrgm opened #1255 "http log format should record connect's :response-time millis"

[2012-03-05 20:52] jrgm opened #1256 "possible race between /sign_in dialog and /verify_email_address page?"
This is reproducible in automation with an actual browser about 1 in 50 to 100 times. It may well be a bug on my part, but it
could also be for real. The user experience of the failure case though isn't so bad and they can complete signup with a couple of extra steps that don't seem that unusual to the user, so it might have not been identified as an issue yet.

Steps to reproduce manually (repeat

[2012-03-05 21:08] ozten opened #1257 "UglifyJS dies on some locales"
In rebuilding tempoary_preview on train-2012.03.01

I did svn update in locales, then

[code]

It seems like `es` might have some syntax issues

https://gist.github.com/1981092

compress should log such errors, but continue to run.

[2012-03-05 21:14] ozten commented on #1257
Looks like es was an invalid js file.

I'm not sure if  I have a bug in my cron or how it got squashed.

To repro the uglify issue, just edit a resources/static/i18n/es/client.json and make it have a syntax error.

[2012-03-05 21:43] lloyd commented on #1257
how about log such errors, continue to run to completion, and return a non-zero exit code if any errors were detected?

[2012-03-05 22:20] ozten commented on #1257
Sounds great!

[2012-03-05 22:38] lloyd commented on #1256
assigning to self, @jrgm gave me context in a video chat.

[2012-03-05 22:55] #1257 closed, assigned to nobody

[2012-03-05 22:59] fetep opened #1258 "method to probe dbwriter's database connection health"
for webheads, we query /wsapi/have_email from nagios.

it would be nice to have something similar to detect the health of the dbwriter's db connection we could probe in nagios.

[2012-03-05 23:03] lloyd commented on #1258
approach is to patch in `have_email` to the current rolling train, then in dev we'll expose an explicit ping method that uses the mysql protocol's ping functionality.

[2012-03-06 03:49] ozten commented on #1255
I don't know how this works, but would something like pid be useful?

In previous lives we'd use server ip/thread id to help with tracing logs.

[2012-03-06 06:39] jrgm commented on #1255
The log line formatting lives in https://github.com/senchalabs/connect/blob/master/lib/middleware/logger.js

We use `default` in stage and production, `dev` in dev. I'm just thinking we'd define our own custom formats `default_bid` and `dev_bid` to include the built-in :response-time token in the format string. The time it took to process the request is useful in logs.

pid doesn't mean much with

[2012-03-06 16:06] #635 closed, assigned to lloyd

[2012-03-06 16:11] ozten commented on #1098
Existing sources of site logos:
- `<link rel="shortcut icon"` will often have a 48x48 pixel .ico file.
- [Open Web Apps Manifest](https://developer.mozilla.org/en/Apps/Manifest)
- [iOS Webapp Icon Support](https://developer.apple.com/library/ios/#DOCUMENTATION/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html)

Android didn't have much official

[2012-03-06 18:39] skinny97214 commented on #1098
If there's no image, we should just show the RP name as we do currently.

[2012-03-06 20:57] jrgm commented on #1256
I let this run in the background till it happened again, and looked in the about:cache (firefox of course).

The entry for https://diresworb.org/wsapi/user_creation_status?email=blah%20example.com has headers:

HTTP/1.1 200 OK
Cache-Control: no-cache, max-age=0
Content-Type: application/json; charset=utf-8
Strict-Transport-Security: max-age=2592000; includeSubdomains
Date: Tue, 06 Mar 2012 20:46:0

[2012-03-06 21:06] ringe commented on #1098
Maybe the /.well-known/browserid document could point to a logo as well?

[2012-03-06 21:13] ozten commented on #1098
`/.well-known/browserid` is only relevant to email providers (aka BrowserID Primaries).

We'll want customizing this logo to be available to websites (RP) as well as Primaries (IdP).

[2012-03-06 21:43] jrgm opened #1263 "opera: clicking close button on /sign_in tab leaves 'sign in' button unusable"
This is only with Opera (Mac, XP, Win7, Ubuntu). Other browsers/OS work ok on this point.

Steps to reproduce:
1) go to beta.myfavoritebeer.org
2) click on the 'sign in' button
3) When the dialog comes up, click on the close X on the tab that is shown (Opera by default does window.open with tabs, not windows)
4) On beta.myfavoritebeer.org, click on the 'sign in' button to bring up the dialog again

[2012-03-06 22:20] jrgm commented on #423
looks good to me for osx(opera,safari,chrome,FF), winxp(opera,safari,IE8,chrome,FF), win7(opera,safari,IE9,chrome,FF),
ubuntu(opera,chrome,FF). The scrollbars are not shown by default, but are shown as the text size is increased; scrollbars
also shown as the window is shrunk in both directions. Opera,IE9 and FF all switch to an alternative display as text size
increase; chrome and safari (webkit)

[2012-03-07 00:38] jrgm opened #1267 "vert/horiz scrollbars when doing required email with eyedee.me address"
All browsers are showing a vertical scrollbar in the /sign_in dialog when signing in myfavoriteshow.org with an eyedee.me address. Firefox and Opera line wrap the URL in the dialog, and don't get a horizontal scrollbar. Chrome, Safari and IE8/9 don't
break the URL and have both vertical and horizontal scrollbars. Not sure what can be done as it's a lot of content to fit  into that space (aside fro

[2012-03-07 01:00] jrgm commented on #1141
I went through the http logs on web{1,2,3} in stage, and the content is correctly served with Etag, Date, and Cache-Control
of one year for the perma-url resources /v/<md5sum>/....(css|js). So verified.

HTTP/1.1 200 OK
Vary: Accept-Encoding,Accept-Language
Cache-Control: public, max-age=31536000
Content-Type: application/javascript
Strict-Transport-Security: max-age=2592000; includeSubdomains
Dat

[2012-03-07 01:08] jrgm opened #1268 "perma-url /v/<md5sum>/... are revalidated each time by IE8/IE9"
See GH-1141. The other browsers appear to be doing the right thing with a response like the below.

HTTP/1.1 200 OK
Vary: Accept-Encoding,Accept-Language
Cache-Control: public, max-age=31536000
Content-Type: application/javascript
Strict-Transport-Security: max-age=2592000; includeSubdomains
Date: Tue, 06 Mar 2012 23:01:04 GMT
Accept-Ranges: bytes
Etag: "284043-1331058798000"
Connection: keep-aliv

[2012-03-07 01:16] jrgm commented on #1268
Note both the IE versions I used are configured for "Check for newer versions of stored pages" to be "Automatically", which is the default and the one that should be using the cache (Choices are "Every time I visit a web page", "Every time I start IE", "Automatically", "Never").

[2012-03-07 03:05] jrgm commented on #1268
I spun up a fresh VM with Vista and IE9 and here are the requests I see when opening the /sign_in dialog from beta.myfavoritebeer.org for a second time. (Note: do we have an separate issue already for turning e.g., /i/bg.png into a perma-URL? This bug is just about the requests for dialog.js and dialog.css and similar).

[Wed, 07 Mar 2012 02:57:03 GMT] "GET /i/arrow.png HTTP/1.0" 304 - "https://di

[2012-03-07 03:07] jrgm commented on #1188
looks gone to me

[2012-03-07 03:41] jrgm commented on #1173
verified shane's notes above in chrome adjusting the dom

[2012-03-07 05:01] jrgm opened #1269 "minor cleanup issue for l10n remove <a href='...'> from gettext"
Small point but two stragglers from GH-1161
# : resources/static/dialog/views/confirm_email.ejs:18

msgid ""
"If this is a mistake, just ignore the sent email and <a href=\"#\" id="
"\"cancel\">cancel</a>."
msgstr ""
# : resources/static/dialog/views/confirm_email.ejs:20

msgid ""
"If this is a mistake, just ignore the sent email and <a href=\"#\" id=\"back"
"\">use another email address</a>."
msg

[2012-03-07 16:18] ozten opened #1270 "Add caching service"
We need to add a caching service as a dependency.

Candidates:
- memcached
- redis

Requirements:
For fetching public keys, we'd like to set expiration times on objects, and have the caching service manage cache cleanup.

[2012-03-07 16:21] fetep commented on #1270
something to think about: how wide should this cache be shared? between webheads & dbwriters per datacenter? globally across all datacenters?

[2012-03-07 16:23] lloyd commented on #1270
how far can we get with squid?

[2012-03-07 16:23] fetep commented on #1270
btw, squid (which we send all pubkey fetching traffic through) is effectively this cache, today. it caches/expires based on http headers.

[2012-03-07 16:54] ozten commented on #1270
LOL, now I know and knowing is half the battle. Doesn't sound like we have any short term needs for this. Closing.

[2012-03-07 16:54] #1270 closed, assigned to nobody

[2012-03-07 21:12] jrgm commented on #1160
verified fixed in code and localization strings on stage train-2012-03-03. Noted one other place to cleanup in GH-1269

[2012-03-07 22:05] jrgm commented on #1108
verified in train-2012.03.03

[2012-03-07 23:44] jrgm commented on #1156
verified on train-2012.03.01 in IE8, IE9, Opera, Safari, FF Beta and Nightly on Android 4, FF11, Chrome. IE8 had 3 failures
where JS took longer that tolerated by the test, and FF Beta has one failure due to clock skew of the device.

[2012-03-08 01:20] ozten opened #1271 "Support Primary Authority Delegation"
An organization should be able to delegate Primary authority to another domain.

Example: Mozilla.com could create the following file at `https://mozilla.com/.well-known/browserid`

[code]

BrowserID should retrieve `https://browserid.mozilla.org/.well-known/browserid` to determine if mozilla.com is a primary.

browserid.mozilla.org should be able to serve as the IdP for several domain names, such

[2012-03-08 02:07] jrgm opened #1272 "tos/pp overlap password input in some languages (e.g., German)"
![img](https://img.skitch.com/20120308-8xhs8xhwkw1p7x3eg7na4tui93.png)

[2012-03-08 02:16] jrgm opened #1274 "German 'verify email' button squeezes tos/pp into bad layout"
(Edit: oops. This is the right image)

![img](https://img.skitch.com/20120308-xm8guyjs2f1e8g7dx1g7hhbkht.png)

[2012-03-08 02:24] jrgm opened #1275 "Locale: (e.g., de,ca) 'Use a different email' overlaps TOS/PP"
Follow on from GH-1105. Even with the number of emails limited to 4 shown, the 'Use a different email' can overlap the TOS/PP
text in some languages.

![img](https://img.skitch.com/20120308-f6k84p1uy2138jdjjdcnp8yif9.png)

[2012-03-08 05:07] ozten commented on #1275
@mathjazz here is an example of the two new strings.

[2012-03-08 18:04] skinny97214 commented on #1256
How will #1232 affect this?

[2012-03-08 18:10] lloyd commented on #1250
what's an example malformed assertion?

[2012-03-08 18:15] #1245 closed, assigned to nobody

[2012-03-08 18:15] skinny97214 commented on #1249
Agreed that we need a more descriptive verbose error message. All debugging info for developers and RPs belongs in the [read more] section.

[2012-03-08 18:17] lloyd commented on #1241
wontfix, we're going to run after reworking persistence with the new api

[2012-03-08 18:17] #1241 closed, assigned to nobody

[2012-03-08 18:25] lloyd commented on #1240
@skinny97214 will give us a chart, @ozten will do a first pass, after we change the world we will do another pass.

[2012-03-08 18:26] skinny97214 commented on #1239
Depends on #1232

[2012-03-08 18:27] #1234 closed, assigned to nobody

[2012-03-08 18:38] michielbdejong commented on #1250
well, say the string 'ASSERTION' is what you're supposed to send, then i
was sending 'undefinedASSERTION'

On Thu, Mar 8, 2012 at 6:10 PM, Lloyd Hilaiel <
reply@reply.github.com

[2012-03-08 20:05] mathjazz commented on #1275
@ozten I'm afraid this is more of a web design issue than localization. It's evident that we don't have enough space for e.g. de translation, which is known for extensive use of long words.

[2012-03-08 22:46] jrgm opened #1277 "error handling - "database query callback failed: ReferenceError: resp is not defined""
[14:41:13] &lt;jrgm&gt;  hmm, lloyd would you expect this error message - {"level":"error","message":"database query callback failed: ReferenceError: resp is not defined","timestamp":"8 Mar 14:38:03"}
[14:41:31] &lt;lloyd&gt; no, I would not expect that
[14:41:35] &lt;lloyd&gt; that's a bug in some error handling
[14:42:27] &lt;petef&gt; but service is recovered now, right?
[14:42:37] &lt;jrgm&gt;

[2012-03-08 23:02] lloyd commented on #883
baby step proposal: http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/666a24a5db19fde3?fwc=1

[2012-03-08 23:02] jrgm opened #1278 "trivial error formatting throw message in lib/load_gen/common.js:48"
There's a extra '+' in this statement at lib/load_gen/common.js:48

[code]

-> "can't certify key: non-200 status: 500NaNServer Error: can't contact keysigner"

Harmless really. Maybe wontfix.

[2012-03-09 10:46] aleksejrs commented on #1201
With Firefox 10.0 and 11.0b6 for Linux x86_64, this happens if I set  Privacy → Use custom settings for history → Keep (cookies) until: to “ask me every time”. Firefox doesn’t ask anything. It works if I add an exception for diresworb.org.

When I enter an e-mail address on http://myfavoriteshow.org/, it says “verifying email address...”, but no pop-up window appears.

[2012-03-09 16:01] ozten commented on #1205
Pull request:
https://github.com/mozilla/browserid/pull/1280

[2012-03-09 16:04] ozten commented on #1271
Pull Request:
https://github.com/mozilla/browserid/pull/1281

[2012-03-09 16:43] xti opened #1282 "http://beta.myfavoriteshow.org/ looks bad on the Maple build"
Steps to reproduce:
1. Open Fennec
2. Browse to http://beta.myfavoriteshow.org/
3. Check if opened page has layout issues

Expected result:
No layout issues after step 3.

Actual result:
The opened page looks badly: http://img805.imageshack.us/img805/3904/device20120309183846.png
##

Maple (2012-03-08)
Device: HTC Desire
OS: Android 2.2

[2012-03-09 16:47] tonychung commented on #1282
Hey nicolae,
I Think That's a maple build issue, not Browserid.  Can u double check on nightly also?

You can create a bug on fennec side, tag maple, and cross post the buglink if you want.

Tony

On Mar 9, 2012, at 8:43 AM, xti reply@reply.github.com wrote:

[2012-03-09 16:50] xti commented on #1282
Hi Tony,

Sure, I will check on the Nightly as well. I guess that I can copy the comment #0 from here and move it to bugzilla

Nicolae

[2012-03-09 16:57] xti commented on #1282
I can confirm this for the regular Nightly too.

[2012-03-09 18:16] benadida commented on #1181
so far, our contacts are telling us there is no estimated fix date as the problem does not appear to be clearly reproducible. No clear workaround exists, either.

[2012-03-09 19:18] lloyd commented on #883
The Question That We Will Ask At Smart Moments: http://cl.ly/2n3r2d3E0r0u3x0V3b0L

[2012-03-09 19:51] ozten commented on #1282
Marking as good first bug, we'd love some CSS <3 with this.

[2012-03-09 20:24] deinspanjer opened #1283 "Referrer info logged to browserid.json should be stripped to origin only."
https://github.com/mozilla/browserid/blob/dev/lib/metrics.js#L77-87

Not stripping causes distinct counts on the "rp" field to not match up with the validator.json "rp" field which is based on the Audience attribute.

[2012-03-09 20:29] lloyd commented on #1283
more importantly, we don't need the full referrer, we just need the origin.  so we should not put the former into our logs.

[2012-03-09 20:30] davidillsley opened #1284 "Attempting to log-in with primary i5y.org offers to 'verify e-mail' rather than re-route to log in with e-mail provider"
I've spun up an instance of my primary on an EC2 instance using a cert from startcom. When I attempt to log in with it, browserid.org doesn't appear to recognise that the domain - i5y.org - is a primary.

This is the same code that's running on heroku, so I'm suspicious that it's something to do with the cert or the AWS ELB I'm using as the https endpoint, but of course I can't see the logging fro

[2012-03-09 20:40] tonychung opened #1286 "Unable to select other accounts on Android"
This is against beta, tested on beta.myfavoritebeer.org.    Clicking any of the other

see screenshot: http://i.imgur.com/c7VZq.png
I also made a video screencast:  http://www.youtube.com/watch?v=UOVh2g8n3xA&feature=youtu.be
Notes: @jbonacci says it seems to work on stock browser.  I'll be trying that now.

Repro:
1) created 5 different email accounts on diresworb.org
2) open android device, fenne

[2012-03-09 21:11] tonychung commented on #1286
here's a screencast when running against Stock browser, beta.myfavoritebeer.org.

http://youtu.be/gE7JeSov4HI

Android 2.3.5 motorola Droid Razr

[2012-03-09 22:10] ozten commented on #1205
Landed on dev, thanks for your help!

[2012-03-09 22:10] #1205 closed, assigned to ozten

[2012-03-09 22:24] tonychung commented on #1133
i'm still experiencing this issue.   I have not been able to click on any of the email addresses to get the selection.  The highlight on the address shows, but no radio selected.

iOS 5.1, iphone 4.
tested on beta.myfavoritebeer.org and beta.myfavoritebooze.org

[2012-03-09 22:25] tonychung commented on #1133
reopening for investigation

[2012-03-09 22:30] jrgm commented on #1133
Yeah, it's flaky for me. One thing I've found is that if you are very careful to click at the very far left of the radio, it will work.

[2012-03-09 22:54] jrgm commented on #1133
My results are android 2.2 (Droid2) and 4.0 (Nexus), for ff 10-13, and stock browser.

[2012-03-09 23:46] nhirata opened #1290 "User Feedback needed after hitting next/verify email"
1. go to beta.myfavoritebeer.org on an android device
2. type in a new email address
3. hit next

Expected: some sort of user feedback letting the user know that the email is being processed
Actual: nothing seems to change.

[2012-03-10 00:08] nhirata commented on #1133
I can reproduce the issue that tchung saw with just two email addresses.
nh.test.002@gmail.com, nh.test.004@gmail.com; I can give you the password on request.

[2012-03-10 00:19] nhirata commented on #1286
Ya, gmail email addresses seem to cause an issue.  I was able to replicate with 2 email addresses.

[2012-03-10 00:21] ozten commented on #1254
Okay, I've added @milliseconds after the UTC time, not wanting to break any parsers that currently scrape [<UTC time>]

dev_bid
browserid (26068): info: [Sat, 10 Mar 2012 00:15:03 GMT]@3786 GET /shared/modules/page_module.js 304 - ms

default_bid
browserid (26000): info: 10.0.1.41 - - [Sat, 10 Mar 2012 00:14:13 GMT]@3517 "GET /shared/modules/page_module.js HTTP/1.1" 304 - "http://10.0.1.32:10002/"

[2012-03-10 00:22] ozten commented on #1255
Thanks for all the detail!

Added :response-time to the format:

dev_bid
browserid (26068): info: [Sat, 10 Mar 2012 00:15:03 GMT]@3786 GET /shared/modules/page_module.js 304 - ms

default_bid
browserid (26000): info: 10.0.1.41 - - [Sat, 10 Mar 2012 00:14:13 GMT]@3517 "GET /shared/modules/page_module.js HTTP/1.1" 304 - "http://10.0.1.32:10002/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:12.0a

[2012-03-12 12:58] shane-tomlinson commented on #1229
@benadida - I looked into doing this last year and ran into a roadblock that I had no obvious solution for - currently there is no way of retrieving a user account by email address.  To confirm this was a really a problem, I had a chat with a Wikipedia developer at MozFest - he confirmed my suspicion.  The reason, he explained, is because email addresses are optional in Wikimedia.  I did not pursu

[2012-03-12 13:08] shane-tomlinson commented on #1231
@benadida, @fetep - in the dialog, while fetching .well-known is occurring, all user input is disabled.  If the request takes longer than 10 seconds, the "this request is taking a long time" wait screen is displayed.

[2012-03-12 13:48] shane-tomlinson commented on #1201
@lloyd - I am trying to think of some solutions to this problem.

1) We could render the correct DOM on the backend avoiding the use of JS to show/hide content.
2) We could have a separate /manage page that the user is redirected to from "/" if the user is authenticated.  This may help with SEO of the initial content on the main site - search engines may currently be blocked from seeing any conten

[2012-03-12 15:00] shane-tomlinson opened #1292 "Desktop: When >= 5 email addresses and TOS/Privacy are shown, it is difficult to add another address or select "this is not me""
STR on local dev:

1) From development RP, open BID dialog.
2) Make sure account has 5 email addresses.
3) close dialog.
4) At RP, select both "Supply a Privacy Policy" and "Supply a TOS", open dialog.
5) Try adding another address or signing out - the mouse has to be aligned just right.

[2012-03-12 18:05] ozten commented on #1244
Speaking of lots of output, I missed a test failure because the very end of my output says:

Tests completed in 65517 milliseconds.
983 tests of 983 passed, 0 failed.
· · · ✓ OK » 7 honored (70.575s)
npm ERR! browserid@0.0.1 test: `./scripts/test`
npm ERR! `sh "-c" "./scripts/test"` failed with 1
npm ERR!
npm ERR! Failed at the browserid@0.0.1 test script.
npm ERR! This is most likely a problem wi

[2012-03-12 18:12] lloyd opened #1293 "change key length"
discussion: http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/acc8754a68b7cccf

proposal is to reduce keylength to DSA 1024 with a six hour expiry.

/cc @benadida

[2012-03-12 18:49] ozten commented on #1271
Merged to dev.

[2012-03-12 18:49] #1271 closed, assigned to ozten

[2012-03-12 18:57] lloyd commented on #864
done!  see issue #1271

For the DNS suggestion, seems like sending it to dev-identity@lists.mozilla.org would be a Good Thing to do - https://lists.mozilla.org/listinfo/dev-identity

[2012-03-12 18:57] #864 closed, assigned to lloyd

[2012-03-12 18:58] lloyd commented on #864
this feature should make it to production 2012/03/28

[2012-03-12 18:58] lloyd commented on #1271
this feature should make it to production 2012/03/28

[2012-03-12 21:56] anaaktge opened #1294 "does browserid support unicode email addresses?"
If it does not, it should.

Usecase: users in locales where unicode is common cannot use browserid, and soon that will mean they cannot use firefox sync either.

[2012-03-12 22:20] davidillsley commented on #1284
Hrrrm.

https://www.browserid.org/wsapi/address_info?email=david@browserid-i5y.herokuapp.com
{"auth":"https://browserid-i5y.herokuapp.com/","prov":"https://browserid-i5y.herokuapp.com/provision","type":"primary"}

https://dev.diresworb.org/wsapi/address_info?email=david@browserid-i5y.herokuapp.com
{"type":"secondary","known":false}

https://dev.diresworb.org/wsapi/address_info?email=david@i5y.org

[2012-03-13 00:13] ozten commented on #1233
It has to be 24 hours, because @fetep builds RPMs that far in advance and QA does a final pass.

Okay, @mathjazz, @fetep please review
https://github.com/mozilla/browserid/pull/1296

New config - https://github.com/mozilla/browserid/commit/5a6b9dd658c9342a26afb7ab1a9d80ea107eb020#diff-1

Starting with https://github.com/mozilla/browserid/commit/5a6b9dd658c9342a26afb7ab1a9d80ea107eb020#diff-2
will

[2012-03-13 10:28] mathjazz opened #1297 "Login, sign-in, sign in, registration"
The following is the email we send people when they sign in to a website using BrowserID with a non-verified email address:

---

[TITLE: Complete Login to %s using BrowserID]

Thanks for verifying your email address. This message is being sent to you to complete your sign-in to %s.

Finish registration by clicking this link: LINK

If you are NOT trying to sign into this site, just ignore this ema

[2012-03-13 10:45] shane-tomlinson commented on #1133
@tonychung - can you create a screen cast of this?  I am unable to reproduce on an iOS 5.1 device for an account with a mix of gmail and mozilla addresses.

[2012-03-13 10:46] shane-tomlinson opened #1298 "Mobile: There is a lot of empty space between the form and the footer."

[2012-03-13 10:48] shane-tomlinson commented on #1133
@tonychung - Can you confirm that non-clickable addresses in gmail contain the + or some other non-alpha numeric character?

[2012-03-13 14:18] shane-tomlinson commented on #1133
Checkin 80e3ddb is against the wrong branch.  72ac85f is against origin/train-2012.03.01

[2012-03-13 15:48] shane-tomlinson opened #1300 ""Forgot your password?" is rendered on two lines in German."
See https://skitch.com/set117/8jifd/browserid

[2012-03-13 16:08] ozten commented on #1233
Landed on dev.

[2012-03-13 16:08] #1233 closed, assigned to ozten

[2012-03-13 17:04] tonychung commented on #1133
@shane-tomlinson, my gmail account does not contain any +'s or special characters.   At the same time, i can click my gmail address's name and it will select the radio.  Maybe because its sitting 4 spots down, near the TOC and privacy?

Screencast of issue:  http://youtu.be/_b3DTiN4Bus

[2012-03-13 17:55] skinny97214 commented on #1274
moar taller arrow

http://cl.ly/1s3O090q2Y0F3W2B2W3I

[2012-03-13 18:10] shane-tomlinson opened #1301 "When creating a new account, "next" in the TOS should be updated to say "verify email""
https://skitch.com/set117/8jsbf/browserid

[2012-03-13 18:14] skinny97214 commented on #1101
mock of tablet layout

http://cl.ly/0e3J0F2O3V1n0W1k3E0d

[2012-03-13 18:57] skinny97214 commented on #1240
Only show on screens where the button is the last click. It shouldn't show next to the [next] button.

[2012-03-13 20:58] skinny97214 commented on #1290
Is this from slow keygen?

[2012-03-13 21:11] lloyd opened #1303 "privacy policy and tos in-dialog doesn't work in all locales"
This is one of two issues, introduced in `train-2012.03.01` that motivates derailing that train.

Because non-english languages weren't considered in the initial implementation, there are many cases where the dialog looks terrible or is simply unusable (esp in german and sweedish).  This is a rollup issue that we'll use to track the underlying issue, and dependent issues will be closed down as dup

[2012-03-13 21:13] lloyd opened #1304 "not possible to select email addresses"
This is one of two issues, introduced in `train-2012.03.01`, that motivates derailing that train.

The fixes to issue #1133 introduced a regression that makes it impossible to select email addresses in many scenarios, as well as making it imposible to use email addresses with certain legal but uncommon characters.  This is a rollup issue that addresses the core problem, and all specific variations

[2012-03-13 21:42] #1133 closed, assigned to shane-tomlinson

[2012-03-13 21:42] #1286 closed, assigned to shane-tomlinson

[2012-03-13 21:44] #708 closed, assigned to lloyd

[2012-03-13 21:51] #1301 closed, assigned to nobody

[2012-03-13 21:52] #1275 closed, assigned to skinny97214

[2012-03-13 21:52] #1274 closed, assigned to skinny97214

[2012-03-13 21:52] #1272 closed, assigned to skinny97214

[2012-03-13 21:55] ozten commented on #1284
I ran `/scripts/check_primary_support i5y.org` from my desktop and the output looks good. No issues detected.

[2012-03-13 22:27] skinny97214 opened #1305 "wordpress plugin so that URL can be a primary"
For wordpress blogs that live on the root of the URL, set the IDP that will act as primary.

e.g. skinnywhitegirl.com has a blog that lives at the TLD. Installing this plugin lets me set eyedee.me as the primary I want to do auth though so that crystal@skinnywhitegirl.com can be a primary address.

[2012-03-14 00:58] jrgm opened #1306 "tosfix - New email/Add another email results in empty page shown"
This if for http://tosfix.myfavoritebeer.org/, the site with the fix for GH-1303, GH-1304, and seems specific to mobile (I'll check more browsers in a bit).
- On http://tosfix.myfavoritebeer.org/ , click sign in.
- In the /sign_in dialog, click "Add another email"
- in the next screen, enter an email address for e.g., gmail.com address, and click the add button.

Expected: the usual "Check your em

[2012-03-14 01:01] ozten opened #1307 "tosfix.myfavoritebeer.org iOS 5 JS Error"
Safari iOS 5.1 (9B179)

Steps to Reproduce:
0) Enable JS Console
1) Using Safari on iOS 5.1 go to http://tosfix.myfavoritebeer.org/
2) Click Sign In

Actual:
No activity
http://skitch.com/oztenskitch/8j4k5/photo-2

JavaScript: Error undefined TypeError: 'undefined' is not an object
http://skitch.com/oztenskitch/8j4ku/photo-1

Expected:
New page with login screen

[2012-03-14 03:47] jrgm opened #1308 "Fennec: window.open of site with untrusted certificate fails quietly"
While using the temporary setup tosfix.myfavoritebeer.org, I was running into something similar to what I had reported in GH-1169 (perhaps the same; it just magically went away at some point).

STR:
- Clear all data and cache for a Fennec browser
- Go to http://tosfix.myfavoritebeer.org
- Click the 'Sign in' button

Actual: Button bounces up and left and then back to disabled state
Expected: https

[2012-03-14 04:02] jrgm commented on #1308
Hmm, actually, Chrome Beta on ICS behaves the same as Fennec.

[2012-03-14 06:22] jrgm commented on #1306
Yeah, this seems generic on new email/add email when using mobile (not just in Fennec). (modified the issue title).

[2012-03-14 10:20] shane-tomlinson opened #1309 "Mobile: "We just sent an email to that address!" tooltip partially cut off by site URL"
https://skitch.com/set117/8jhhh/box-simpleshare

This only affects the current cleanup_l10n_tos branch.

[2012-03-14 10:35] shane-tomlinson opened #1310 ""Cancel" button in wrong position when user must enter password post pick email."
STR:

1) Create an account with two or more email addresses.  One email address must be from an IdP, the other a "secondary"
2) Sign out of the BrowserID account.
3) Sign into RP by opening BrowserID using the IdP supported address.
4) Re sign in to RP by opening BrowserID dialog using the Secondary supported address.
5) When "enter password" screen shows, look at the cancel button.

https://skitc

[2012-03-14 10:48] shane-tomlinson opened #1311 "iOS: disabled input boxes almost completely transparent"
It makes it very difficult to read.

STR:

1) On iPhone, open myfavoriteshow.org
2) enter email address, open BrowserID dialog.
3) Look at the email address field.

https://skitch.com/set117/8j7n7/ios-simulator

[2012-03-14 11:20] mathjazz opened #1312 "Add new locale: Bulgarian (bg)"
Please add a new locale.

/cc @ozten

[2012-03-14 11:31] shane-tomlinson opened #1313 "iOS: All editable input boxes have an inner text shadow."
https://skitch.com/set117/8j7ka/box-simpleshare

Affects Fennec Nightly as well.

[2012-03-14 11:53] shane-tomlinson commented on #1298
Addressed with checkin 124b7f17ab985e59f4151b59873661176668ae2e

[2012-03-14 12:08] shane-tomlinson opened #1314 "If user is not authenticated, TOS/PP does not show for required email"
STR:

1) Log out of BrowserID.
2) Enter a required email address into required email address field.
3) Open BrowserID dialog.

[2012-03-14 12:16] shane-tomlinson opened #1315 "If user must verify with primary for required email flow, no TOS/PP info shown."

[2012-03-14 12:41] shane-tomlinson opened #1316 "No TOS/PP info shown when user is adding an email address."
STR:

1) Open BrowserID dialog
2) Click "Add another email"

Where's the TOS/PP?  User is logged into RP as soon as address is verified, so it should be shown.

[2012-03-14 13:41] shane-tomlinson opened #1317 "Clean up the CSS."
It's got a lot of cruft and overrides of overrides.

Start with some true common CSS.

Make a stylesheet each for mobile, tablets, and desktop.

[2012-03-14 13:43] shane-tomlinson opened #1318 "Clean up the code to write the TOS/PP in the templates"
There is a whole bunch o copy/paste code.  Not very DRY.

Create a template helper function for writing the initial TOS/PP that takes the name of the "next" button.  Create another helper function that inserts the closing `</p>` if needed.

[2012-03-14 13:50] shane-tomlinson opened #1319 "Mobile: header can be pushed against the edge."
STR:

1) Open the main site on an iPhone.

https://skitch.com/set117/8j6mx/ios-simulator

[2012-03-14 14:13] shane-tomlinson opened #1320 "Mobile: manage screen width not responsive to device width"
It's pegged at 300px.

[2012-03-14 17:06] #1300 closed, assigned to nobody

[2012-03-14 17:06] #1304 closed, assigned to nobody

[2012-03-14 17:06] #1306 closed, assigned to nobody

[2012-03-14 17:06] #1309 closed, assigned to nobody

[2012-03-14 17:06] #1310 closed, assigned to shane-tomlinson

[2012-03-14 17:06] #1311 closed, assigned to shane-tomlinson

[2012-03-14 17:06] #1313 closed, assigned to shane-tomlinson

[2012-03-14 17:06] #1314 closed, assigned to shane-tomlinson

[2012-03-14 17:06] #1315 closed, assigned to shane-tomlinson

[2012-03-14 17:06] #1316 closed, assigned to shane-tomlinson

[2012-03-14 17:08] shane-tomlinson commented on #1303
close with checkin 8e5a3cce6cf5b86e8f7ae726a83ff1b00434ac62

[2012-03-14 17:08] #1303 closed, assigned to nobody

[2012-03-14 20:02] ozten commented on #1254
Done on dev. Let's file a new bug for any logging tweaks. Thanks.

[2012-03-14 20:02] #1254 closed, assigned to ozten

[2012-03-14 20:02] ozten commented on #1255
Done on dev. Let's file a new bug for any logging tweaks. Thanks.

[2012-03-14 20:02] #1255 closed, assigned to ozten

[2012-03-14 21:10] ozten commented on #1312
Added.

[2012-03-15 01:35] ozten commented on #1312
There is no 'bg' locale directory.

https://bugzilla.mozilla.org/show_bug.cgi?id=735882

[2012-03-15 06:42] mathjazz commented on #1312
Just commited to SVN.

[2012-03-15 14:40] ozten opened #1322 "Break I18n L10n code out into a stand alone module"
In order to reuse our I18n / L10n code in anothe rnode app, we should make a proper module out of it.

1) Create a functioning repo out of our code

https://github.com/mozilla/i18n-abide

2) Keep Mozilla specific code, config, and docs

3) Remove all other code and add i18n-abide as a dependency

Test plan - This should not affect or provide any new functionality.

[2012-03-15 16:06] ozten opened #1323 "Ensure no client cache incompatibility with issue912"
This might be hard to reproduce....

1) Use branch of the site that is pre-issue912
2) Switch to issue912 branch
3) Using RP example page, click 'Get an Assertion'

Expected:
Normal dialog flow

Actual:
'BrowserID requires cookies' error screen

Workaround - Clearing my browsers cache via Aurora Preferences > Network > clear

This indicates some client caches may have the same name (cookies, local

[2012-03-15 16:45] ozten commented on #1318
The more general issue is a duplicate of Issue 1212. Maybe track the general work there and the specific work for TOS/PP here.

[2012-03-15 16:47] lloyd commented on #1308
lloyd to look for simple fix involving credit cards and such

[2012-03-15 16:48] lloyd commented on #1307
dupe of #1308

[2012-03-15 16:48] #1307 closed, assigned to nobody

[2012-03-15 16:51] #1298 closed, assigned to nobody

[2012-03-15 16:58] lloyd commented on #1294
let's assess the state of standards, and relax our matching if we find meaningful adoption of unicode.

what's a email provider where we can get a unicode email address?

[2012-03-15 16:59] #1292 closed, assigned to nobody

[2012-03-15 17:03] skinny97214 commented on #1290
Put a spinner on it.

[2012-03-15 17:04] lloyd commented on #1290
we need a spinner.

we to upper bound allotted time slow failures in squid, let's check @fetep

[2012-03-15 17:04] skinny97214 commented on #1290
Can we also say "We've never seen this domain before. Hang on a sec while we look into it."

[2012-03-15 17:05] ozten commented on #1284
Next steps, I'll get access to dev and troubleshoot why that server doesn't believe it's a primary.

[2012-03-15 17:06] #1283 closed, assigned to nobody

[2012-03-16 19:29] ozten commented on #1284
Ran our check primary support tool from dev.diresworb.org and it passes, which is surprising.

[code]

[2012-03-16 20:07] davidillsley commented on #1284
According to http://www.sslshopper.com/ssl-checker.html#hostname=i5y.org

"The certificate is not trusted in all web browsers. You may need to install an Intermediate/chain certificate to link it to a trusted root certificate."

So I've slightly misconfigured the server, but in a way that seems fine in browsers and the script when run by hand.

If this is the problem, I can't think why it wouldn't

[2012-03-16 20:27] davidillsley commented on #1284
Updated and now all clean on http://www.sslshopper.com/ssl-checker.html#hostname=i5y.org

Still not showing up as a primary on https://dev.diresworb.org/wsapi/address_info?email=david@i5y.org but I guess there could be DNS and other caching to wait for

[2012-03-16 20:47] ozten commented on #1284
I don't think the SSL cert is the issue.

http://vinz.clortho.org is a self-signed cert.
https://dev.diresworb.org/wsapi/address_info?email=david@vinz.clortho.org is detected as a primary.

[2012-03-16 21:39] krupa opened #1325 "Scrollbar is not obvious in landscape mode; 'Sign in' button not visible"
Stock browser/ Android 2.2

Steps to reproduce:
1. Hold the phone in landscape mode (This is important since things work fine in Portrait mode).
2. Load https://marketplace-dev.allizom.org
3. Log in using a BrowserID account which has multiple email ids associated with it.
4. Select an email id with which you want to log in with.

expected behavior:
There is a 'Sign in' button for people to click

[2012-03-17 00:39] ozten commented on #1284
I'm sorry for the run around.

dev.myfavoritebeer.org should work for you now.

The solution - lock down our outbound requests and domains with numbers such as i5y.org were being blocked.... sigh.

[2012-03-17 00:39] #1284 closed, assigned to lloyd

[2012-03-17 11:10] davidillsley commented on #1284
Awesome. Thanks. That's definitely worth a beer if our paths ever cross.

Out of interest, do you know why numbers were locked down? To prevent non-domain-name primaries?

[2012-03-19 20:28] jrgm commented on #1312
@ozten are we shooting to get this back into train-2012.03.14?

[2012-03-19 20:32] davidillsley commented on #1284
This seems to have regressed :(

https://dev.diresworb.org/wsapi/address_info?email=david@i5y.org
{"type":"secondary","known":false}

https://dev.diresworb.org/wsapi/address_info?email=david@id.illsley.org
{"auth":"https://id.illsley.org/","prov":"https://id.illsley.org/provision","type":"primary"}

Both i5y.org and id.illsley.org point at the same server instance, so it seems pretty likely this i

[2012-03-19 20:44] jrgm commented on #1254
Verified. The timestamp field in the output to /var/browserid/log/*.log is now a javascript toISOString() on stage servers with train-2012.03.14

[2012-03-19 21:08] jrgm commented on #1255
verified done on dev. I'lll file a followup to add :response-time to format 'default_bid'

[2012-03-19 21:10] jrgm opened #1327 "add :response-time to format 'default_bid' in lib/custom-logger.js"
Followup from GH-1255. Somewhere along the way the intended addition of :response-time to 'default_bid' got dropped from the landing.

[2012-03-19 21:27] jrgm commented on #1283
veriified on stage train-2012.03.14 - the http referer in the request is stripped to just to scheme + hostname when it's recorded to the metrics log.

[2012-03-19 21:28] deinspanjer commented on #1283
Just to make sure, does this include the port number for URLs that run on a nonstandard HTTP or HTTPS port?

[2012-03-19 22:06] jrgm commented on #1283
Yes, if the Referer: for example is 'https://foo.com:8080/bar.js?arg=val' then we would log 'https://foo.com:8080'.

Note that we don't normalize, so if the Referer is 'https://foo.com:443/bar.js?arg=val' then we log 'https://foo.com:443', not
'https://foo.com'.

(Or did you want it to not include the port number?)

[2012-03-19 22:19] jrgm commented on #1283
Also bogus inputs for Referer: will be logged as 'undefined://' or in the worst case 'null'.

[2012-03-19 22:25] jrgm commented on #1234
verified in stage and my dev environment. I get none of these warnings. (Still a few places in docs and test code that come entrained by other modules in node_modules, of course, but not called code by us.)

[2012-03-19 23:15] jrgm commented on #1257
verifed for train-2012.03.14 and my dev env. Corrupted json file does not stop the whole build, with non-zero exit status of scripts/compress.

[2012-03-19 23:32] boinggg opened #1328 "Email must be lowercase"
I think emails should always be sent back as lowercased. This is standard, emails are not case sensitive. You can show them to users as however they entered them but under no circumstance should emails be returned with any upper case letters in the assertion api.

[2012-03-19 23:33] jrgm commented on #1245
verified with train-2012.03.14. front, back, back_mysql all run by default with error messages for not having mysql or phantomjs installed/configured.

[2012-03-19 23:40] ozten commented on #1284
Sigh. Fixed. I don't think this will regress again.

Let me know if you see any issues.

[2012-03-20 00:25] boinggg opened #1329 "Definitions for vars"
Where can I see the definitions for the response vars?
For instance, the expires time makes no sense, turned to a date it is
Wednesday 9th of March 1994 02:51:33 PM

Also, where can I see all the allowed options for browseridArguments?
I came across privacyURL and tosURL, what else is there?

[2012-03-20 01:48] jrgm commented on #1124
The string is localizable in train-2012.03.14, but waiting on its translation on many languages (e.g., nl, fr, es, de...).

[2012-03-20 02:02] jrgm commented on #1300
Rendered in one line in de now (and fine in a few other locales). Looking at the pending client.po, 'ga' and 'lij' may present
an issue, but that may be something the localizers can tune to work better with the given dialog sizing. Verify for train-2012.03.14

[2012-03-20 02:04] jrgm commented on #635
verified phantomjs tests running under travis-ci.

[2012-03-20 13:15] deinspanjer commented on #1283
This sounds good to me.  The most important thing from our point of view is that this value matches perfectly with the value given in the verifier under the "audience" attribute.  Audience and referrer both get written to the logs as "rp" which is what we take a distinct count of.  If there are mismatches, our distinct counts will be off and we can't do a lot to correct that.

[2012-03-22 00:34] #403 closed, assigned to ozten

[2012-03-22 00:46] shane-tomlinson opened #1331 "etag of sign_in does not correctly update in all circumstances"
Link to issue #403

On Stage, the etags of /sign_in only gets updated if dialog.ejs is updated.  If only dialog_layout.ejs or only the included JS are updated, the etags are not updated meaning the old content will be delivered to the user.

[2012-03-22 18:31] ozten commented on #1312
Hotfixed (bg) to stage/production

http://git.io/AKrGUA

[2012-03-22 18:33] benadida commented on #1181
we have a SUMO article for this:

https://support.mozilla.org/en-US/kb/how-enable-cookies-iphone/revision/22356

can't figure out what conditions cause this specifically, so hard to report to Apple. Moving this to 4-star

[2012-03-22 19:00] benadida opened #1332 "BigTent - build a proxy IdP for gmail"

[2012-03-22 23:24] BYK commented on #1332
Anything in mind like using an SMTP backend or the OAuth like OpenID support of Google? SMTP sounds like the right direction though.

[2012-03-23 12:51] ghost commented on #1303
I've verified this issue on Windows 7 + Firefox 12.0 beta 2:
Issues 1300, 1292, 1275, 1274, 1272 aren't reproducing anymore.
Issues 1301, 1276 and 1240 are still reproducible.

I couldn't verify the iOS bugs due to lack of an iOS device.

[2012-03-23 12:53] ghost opened #1333 "The "Add another email" string is not localized"
OS: Windows 7
Browser: Firefox 12.0 beta 2
Language: German, Finnish (probably more languages)

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Click on the Sign In button and sign into an account.
3. Observe the emails list dialog.

The "Add another email" string is not translated.

[2012-03-24 07:42] kracekumar opened #1334 "Let users manage their username"
Browserid only provides email id after authentication, it will great if users can manage their username for particluar email id.
## Example

Emailid                 Username
john@john.com      john
john@gmail.com    johnyman

This helps users to use their desired name in the site.

Shortcoming
If the site allows other ways to login apart from browserid, there will be conflict in username, this is

[2012-03-25 21:02] #1312 closed, assigned to shane-tomlinson

[2012-03-25 22:45] ozten commented on #1271
We don't currently have an environment.

We could setup a new website, say clortho.org that delegates to vinz.clortho.org. Can we file a bug, if we want that? This will happen naturally with the Mozilla IdP project.

MAX_AUTHORITY_DELEGATIONS has a unit test, but same answer. You'd setup a series of webservers on different domains that delegate to each other. Might be worth testing once outside of

[2012-03-26 02:06] boinggg commented on #1334
no, username is set on consuming site, browser id is only verified email. period. I will not support another openid disaster, NO profiles!

[2012-03-26 11:56] ghost opened #1337 ""BrowserID is the fast and secure way to sign in — learn more" is not translated in all the languages supported by BID"
OS: Windows 7
Browser: Firefox 13.0 Aurora
Language: Finnish, Italian

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Click on the Sign In button and sign into an account.
3. Observe the dialog footer.

"BrowserID is the fast and secure way to sign in — learn more" is not translated.

I checked and this issue doesn't reproduce in German, French and Swedish.

[2012-03-27 04:34] lloyd commented on #1331
re-opening this issue, because it is not yet fixed in dev, 5 star label still appropriate because it would block the wed. train from getting cut (@jbonacci - for reference, we hotfixed with a minimal patch, then rounded back in dev and are trying to do the right thing in pull request #1338)

@ozten will close this at PR merge time into dev, provided he doesn't find any more gaping holes in my fix

[2012-03-27 11:43] mathjazz commented on #1337
Finnish has a fuzzy string, which means localizers have to update their translation to match the original string. Until they are 100% complete, we're not shipping Finnish.

Italian looks ok, but it was only updated today. Perhaps server needs to refresh?
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/it/LC_MESSAGES/messages.po

@ozten, can I check the italian JSON language file o

[2012-03-27 15:59] ozten commented on #1337
No need to commit the JSON files. You can check them at:
- stage (beta.myfavoritebeer.org) is at https://diresworb.org/i18n/it/client.json for 'it'
- temporary_preview is at https://temporary_preview.hacksign.in/i18n/it/client.json

I apologize, the official l10n preview server has slipped again, hoping for building it out by end of this week.

We should continue to use temporary_preview.

[2012-03-27 16:05] mathjazz commented on #1337
Italian messages.json looks good:
https://temporary_preview.hacksign.in/i18n/it/messages.json

The string is in and translated.

Any idea why it doesn't show up on the server?

[2012-03-27 16:08] ozten commented on #992
Closing as dup of 1062.

[2012-03-27 16:08] #992 closed, assigned to ozten

[2012-03-27 16:49] ozten commented on #1323
Closing - root cause will be fiex in Issue 1331

via IRC

9:37 AM <stomlinson> 1) checkout 1943fac9c284ff5a798229b206c648b59d641264

9:37 AM <stomlinson> 2) start server

9:38 AM <stomlinson> 3) open dialog

9:38 AM <stomlinson> (at this stage, everything acts as it should)

9:38 AM <stomlinson> 4) checkout issue912

9:38 AM <stomlinson> 5) restart server

9:38 AM <stomlinson> 6) open dialog

9:38

[2012-03-27 16:49] #1323 closed, assigned to ozten

[2012-03-27 16:51] shane-tomlinson opened #1339 "network.cookiesEnabled can call its onComplete callback twice"
If the browser's cookies are enabled but the onComplete callback to network.cookiesEnabled throws an exception, onComplete will be called a second time with a false status, leading developers (or users) to falsely believe that cookies are disabled.

Steps to reproduce:
See #1323

[2012-03-27 16:51] shane-tomlinson commented on #1323
I believe this is a dup of 1331 because of the following series of steps:

1) checkout 1943fac9c284ff5a798229b206c648b59d641264
2) start server
3) open dialog
(at this stage, everything acts as it should)
4) checkout issue912
5) restart server
6) open dialog
(at this stage, the cookie error shows)
7) edit resources/templates/dialog.ejs and add a space
8) restart server
9) open dialog
(at this stag

[2012-03-27 17:58] #1331 closed, assigned to nobody

[2012-03-27 18:21] #1339 closed, assigned to shane-tomlinson

[2012-03-27 18:46] zvalteau commented on #1304
Issue #1133: I concur with James, the only way to select a email address is to click on the radio button with IOS

[2012-03-27 19:30] zvalteau commented on #1304
Retest in Stage: beta.myfavritebeer.org
You are able to select the email address with the name of the email. It works well
Sorry about the confusion.

[2012-03-27 19:57] benadida commented on #1224
I think we may have missed the deadline for this, sadly.

[2012-03-27 19:57] #1224 closed, assigned to nobody

[2012-03-27 20:16] ozten commented on #620
Proposed fix
https://github.com/mozilla/browserid/pull/1341

[2012-03-28 12:36] shane-tomlinson commented on #1290
@skinny97214 - the slowness here is actually in the check to see whether we have seen the domain before.  While the check is running, I have no idea whether we have.  I can put in a message that says "Checking whether we have seen this domain before" or something to that effect and show it after a second or two, which should be enough time for most domains that we have previously checked.

[2012-03-28 15:26] shane-tomlinson commented on #1240
@skinny97214 - there is a problem with only showing the tos/pp message only at the last click.  If the user is logged in to their primary whenever they initially enter their email address into the email field, no "next" button is shown.

A second source of weirdness is when a user goes to add an email to an existing account.  More on this to follow.

User signing in/up to BrowserID:

[code]

If th

[2012-03-28 20:27] cvan opened #1345 "/signin should not be accessible for authenticated users"
Steps to reproduce:
1. Log in @ https://browserid.org/signin
2. Load https://browserid.org/signin

Expected:
https://browserid.org/signin should redirect to https://browserid.org/ for authenticated users

Actual:
https://browserid.org/signin is still accessible even for authenticated users

[2012-03-28 20:30] skinny97214 commented on #1240
Ok, we can show it on the first sign-in screen next to [next]

... IFF we reduce when users see this. It shouldn't show if their local storage indicates they've already acknowledged the TOS. Nice to have: It also shouldn't appear if they site indicates to us the user already has an account.

[2012-03-28 21:05] #884 closed, assigned to skinny97214

[2012-03-28 21:06] #883 closed, assigned to skinny97214

[2012-03-28 21:09] skinny97214 opened #1346 "case study with RPs"
Work with at least two different RPs to
- converting account over wholesale
- present NASCAR style in context with legacy auth and/or Facebook Connect

Collect metrics on
- how many users are retained after Persona implementation
- reduced password resets
- higher engagement due to longer length of sessions

[2012-03-28 21:11] ozten commented on #620
Go team!

[2012-03-28 21:11] #620 closed, assigned to ozten

[2012-03-29 07:13] lloyd opened #1347 "No Bulgarian in Prod!?"
the changelog for 2012.03.14 suggests bulgarian is enabled, but I cannot see it.  STR:
1. fire up chrome on linux
2. add bulgarian as your preferred first language
3. visit google to verify correct Accept headers going out (google's page localized into BG)
4. hit myfavoritebeer.org and click sign-in
5. notice dialog is still in english

/cc @mathjazz @fetep @ozten

[2012-03-29 07:30] callahad commented on #1328
Hi, thanks for the suggestion!

Unfortunately, RFC 2821 explicitly states that "the local-part of a mailbox MUST BE treated as case sensitive." Thus, we're planning on preserving the case as provided by the user. You can always perform additional normalization on your end. :)

[2012-03-29 07:30] #1328 closed, assigned to nobody

[2012-03-29 08:01] lloyd commented on #1347
I misunderstood.  BG was added, but is not yet translated.  Short story, we don't yet have support for bulgarian, but translation can now begin.  http://irclog.gr/#show/irc.mozilla.org/identity/70638

[2012-03-29 08:01] #1347 closed, assigned to ozten

[2012-03-29 08:03] lloyd opened #1348 "dev: dialog cancelation is not conveyed properly to RPs"
STR:
1. go to dev.myfavoritebeer.org
2. click sign in
3. cancel the dialog

notice that the sign in button is still disabled.  The new backwards compat functions built on top of the event API are not properly invoking the user's callback function with a null assertion value to indicate the user canceled the dialog.

[2012-03-29 08:06] lloyd opened #1349 "dev: prolong session when user confirms ownership of a computer"
there is a new backend api: `/wsapi/prolong_session` - it takes no arguments, must be invoked via POST, and requires the user to be authenticated.

This API should be invoked when the user answers "YES" to the question "is this your computer".  it will reset the cookie on the user's computer to have a long duration (2 weeks).

Making this change will let a user who uses browserid a couple distinct

[2012-03-29 08:06] callahad opened #1350 "BrowserID.org should preserve case in emails."
We're currently downcasing email addresses, but doing it too late in the auth cycle. This means that a user can first assert `FOO@example.com`, but will subsequently assert `foo@example.com`.
### Try it yourself!
1. Log into myfavoritebeer.org as `FOO@example.com`. Note the "Yo, FOO@example.com!" text.
2. Type in your favorite beer and hit enter to save.
3. Log out of and back into myfavoritebeer.

[2012-03-29 08:10] lloyd opened #1351 "optimize RP page load time with new APIs"
Given that the new APIs we're landing will include more resources at RP load time, we should spend some time optimizing page load times.  Concretely, the "communication iframe" will be placed in the user's dom at the time they interact with browserid's APIs, often around or before the DOM is loaded.

The two things we should explore are:
1. remove unused resources from vepbundle (~30% of cost)
2.

[2012-03-29 08:15] lloyd opened #1352 "dev: ensure new APIs "fail" gracefully when third party cookies are disabled"
disabling third party cookies is common among privacy conscious early adopters. The way this affects BrowserID is by causing API requests from iframes to fail.  We should test the new APIs to ensure that our "failure" modes are as graceful as possible.  An reasonable user facing behavior in this circumstance might be to just have the user have to authenticate at higher frequencies in this scenario

[2012-03-29 08:32] lloyd opened #1353 "X-Frame-Options and etagify prevent iframes we serve from working"
I believe this to be a blocker for `train-2012.03.28`, one that will warrant a hotfix:

Our middleware is layered in such a way that `X-Frame-Options: DENY` is appended to every response at a very early stage in request handling and specific views that serve content intended to be served in iframes removes this header.

We recently included the `etagify` library, which is registered before individ

[2012-03-29 08:38] lloyd opened #1354 "decide on and implement final API for deeper BrowserId involvment in session duration"
we've implemented an event api, we're talking about an alternative.  Before we branch on april 11th we need a decision, implementation, and documentation of the new API we're going to propose to the world.

[2012-03-29 08:47] lloyd opened #1355 "dev: improve back compat of new API with 'persistent sign in'"
while we no longer will have an in-dialog checkbox, we might be able to make it so that sites using the `silent: true` flag work as expected.  We should assess the cost and implement this if easy.

[2012-03-29 09:24] shane-tomlinson commented on #1334
@kracekumar - Thanks for the feedback, closing as a dup of #880.

@boinggg - Profiles are coming, perhaps not as a core part of BrowserID, but they are coming.  If you'd like to be a part of the discussion on how we can make it as awesome as possible, we'd love to hear your suggestions.

[2012-03-29 09:24] #1334 closed, assigned to nobody

[2012-03-29 16:21] shane-tomlinson opened #1357 "New API does not work with IE8 - IE8 does not have document.createEvent('Event');"
in include.js, IE8 is trying to create an event using `document.createEvent("Event")`  IE8 does not have this.

We have to do some feature-query event-fu:

http://stackoverflow.com/questions/827716/emulate-clicking-a-link-with-javascript-that-works-with-ie

We could:

[code]

If the user is using IE8 to sign in to beta.myfavoritebeer.org, an error is shown in the developer tools, but the user can

[2012-03-29 17:02] lloyd commented on #1350
we should close down the  other issues we have around email case and point them here

[2012-03-29 17:06] lloyd commented on #1345
we should probably address this when we rebrand browserid.org

[2012-03-29 17:19] lloyd commented on #1329
all yours @callahad !  This seems to be a request for better docs on JS apis and verifier call.

[2012-03-29 19:30] #1349 closed, assigned to shane-tomlinson

[2012-03-29 20:41] ozten commented on #1060
Capturing our work in https://wiki.mozilla.org/Privacy/Reviews/KPI_Backend

That includes a bunch of technical details.

[2012-03-29 21:20] ozten commented on #1353
Unable to repro against a local server (dev branch) with IE 9 on Windows Vista SP 2.

Will try 123done.org.

[2012-03-29 21:27] ozten commented on #1353
Cool, I got an error via 123done.org
'We are very sorry, there has been an error!
Please close this window and try again.
    Action: Setting whether the user owns the computer"

Fx 12.02a on Mac OS X

[2012-03-29 21:58] graingert opened #1362 "BrowserID verify should return the correct status codes"
400 Bad Request and 415 Unsupported Media Type should be returned as appropriate

eg {"status":"failure","reason":"Content-Type expected to be one of: application/x-www-form-urlencoded, application/json"} should not be 200 OK

[2012-03-29 22:27] lloyd opened #1364 "etag headers incorred in train-2012.03.28 - breaks l10n"
etagify doesn't respect Vary headers, so the result is we serve the same ETag for all content under the same URL despite the fact that it varies by `Accept-Language`.

Demonstration:

[code]

Notice here that the it-CH content is served with the same ETag header as the en-US content.  Assuming that clients properly respect vary headers, this could cause false 304s in the case where content changes

[2012-03-29 22:38] lloyd commented on #1364
The previous comment is wrong in assessing the severity of the issue.  it's a little more ugly that described above.  This is an issue tested via google chrome on osx.  STR:
1. set it-CH as your language
2. load https://dev.diresworb.org/sign_in
3. notice "‮Ｍǝ ɐɹǝ ʌǝɹʎ soɹɹʎ´ ʇɥǝɹǝ ɥɐs qǝǝu ɐu ǝɹɹoɹ¡
4. That error is expected when directly loading the dialog.  now switch your language to en-US
5.

[2012-03-30 09:51] cheery commented on #927
@jbonacci yes. it still happens.

Mozilla Firefox 11.0
17.0.963.79 (Developer Build 125985 Linux) Ubuntu 11.10

[2012-03-30 10:05] shane-tomlinson opened #1366 "Remove all DOM calls from user.js, network.js and storage.js"

[2012-03-30 10:06] shane-tomlinson opened #1367 "Update README to include instructions for hooking up Travis-CI to personal fork."

[2012-03-30 10:16] shane-tomlinson commented on #1244
closing as dup of #1326 which has been fixed.

[2012-03-30 10:16] #1244 closed, assigned to shane-tomlinson

[2012-03-30 15:57] #1367 closed, assigned to shane-tomlinson

[2012-03-30 16:48] callahad commented on #1329
Yeah, I've totally run into this issue (along with figuring out what our verifier returns, as mentioned in #1362). Our docs can definitely be better in this regard, and I'm working on it.

Though specifically resolving this issue might take a little longer -- I want to consolidate all of our docs first, then start working on updating them. Thanks for prodding me on that, @boinggg!

[2012-03-30 18:36] #1364 closed, assigned to nobody

[2012-03-30 21:40] #1353 closed, assigned to ozten

[2012-03-30 21:41] ozten commented on #1353
Swarmified, closing.

[2012-03-30 22:12] ozten commented on #1337
Please try again, I see BrowserID è un modo sicuro e veloce per identificarsi sui siti web — per saperne di più

[2012-03-30 22:30] ozten commented on #1327
Fixed in http://git.io/glbmQg

Before:
browserid (11715): info: 192.168.186.1 - - "GET /wsapi/session_context HTTP/1.1" 200 193 "http://192.168.186.138:10002/sign_in" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:13.0) Gecko/20120329 Firefox/13.0a2"

After:
browserid (11753): info: 192.168.186.1 - - "GET /wsapi/session_context HTTP/1.1" 200 3 193 "http://192.168.186.138:10002/sign_in" "Mozilla/

[2012-03-31 23:05] graingert opened #1370 "BrowserID does not support internationalized emails RFC 6530"
Using an email with unicode characters fails, eg `test@example.бг` or `Rδοκιμή@gmail.com` the JS shim alerts that "This field must be an email address."

https://tools.ietf.org/html/rfc6530

At some point the domain should be converted to punycode, at what point is this?

[2012-03-31 23:09] graingert commented on #1370
This also brings up issues where `test@xn--hxajbheg2az3al.xn--jxalpdlp` must be considered the same as `test@παράδειγμα.δοκιμή` throughout the BrowserID stack

[2012-03-31 23:16] shane-tomlinson commented on #1370
@graingert - thanks - this is a duplicate of #1294, closing this one and keeping the original open.

[2012-03-31 23:16] #1370 closed, assigned to nobody

[2012-03-31 23:17] graingert commented on #1294
This also brings up issues where `test@xn--hxajbheg2az3al.xn--jxalpdlp` must be considered the same as `test@παράδειγμα.δοκιμή` throughout the BrowserID stack

[2012-04-01 18:02] mathjazz opened #1371 "Spanish (es) not showing properly in production"
Spanish doesn't look fully localized in production.

See "Add another email" in the screenshot:
http://cl.ly/401D2F0N3b0m3x2C280o

It is translated to es in SVN:
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/es/LC_MESSAGES/client.po

[2012-04-01 18:02] mathjazz commented on #1371
/cc @ozten @fetep

[2012-04-01 18:12] mathjazz commented on #1371
Huh, I just discovered we have the same problem in French, Slovenian and likely in some other locales.

German and CH-TW are ok.

[2012-04-01 18:16] #1371 closed, assigned to nobody

[2012-04-01 18:16] mathjazz commented on #1371
Duplicate of #1333, obviously I didn't spot the bug early enough.

[2012-04-02 12:28] shane-tomlinson opened #1373 "Create state machine diagram for documentation."

[2012-04-02 15:51] ozten commented on #1333
http://temporary_preview.myfavoritebeer.org/ does have the latest code - this is my bad.

in svn
locale/es/LC_MESSAGES/client.po:msgid "Add another email"
locale/es/LC_MESSAGES/client.po-msgstr "Agregar otro correo"

Stage looks good:
https://diresworb.org/i18n/es/client.json has the string
I see it on http://beta.myfavoritebeer.org/

Production:
https://browserid.org/i18n/es/client.json - missing

[2012-04-02 18:37] ctalbert commented on #1294
This seems important given our history of how we do i18n and l10n at Mozilla. What is the status of this? Is this the only place to track this issue?  Thanks.

[2012-04-02 21:08] fantasai commented on #1294
Issue #1370 links to RFC6530. That seems like a good place to start. What "state" information are you looking for? RFC6530 is an IETF Proposed Standard, which seems equivalent to W3C Candidate Rec. The RFCs for IDNs (which Firefox already supports) are all IETF Proposed Standards.

Let me turn this around. Is there a reason _not_ to support them? Internationalization is (was?) one of the fundament

[2012-04-02 22:11] lloyd commented on #1348
blocked by issue #1354

[2012-04-02 22:11] lloyd commented on #1357
blocked by issue #1354

[2012-04-02 22:12] lloyd commented on #1354
https://gist.github.com/2287552 vs http://lloyd.io/a-new-api-for-browserid

[2012-04-03 06:47] mathjazz commented on #1333
I will make a list of all the affected locales.

Yes, I we should do an out of cycle release ASAP.

[2012-04-03 09:18] shane-tomlinson opened #1374 "ie8 does not have Array.prototype.forEach"
Array.prototype.forEach is used in dialog/controllers/authenticate.js->showHint

[2012-04-03 09:29] shane-tomlinson commented on #1374
4c16576 was removed as a suboptimal solution, replacing with e892635a50fe24897aaac7b8d34122fbc482941b.

[2012-04-03 16:28] shane-tomlinson opened #1376 "Form does not always submit when hitting "enter" in password field in IE8"
STR

1) Load up myfavoritebeer.org in IE8
2) Open dialog, if signed in, sign out.
3) In email field, type in known email address, press enter
4) In password field, type in password, press enter.
5) try pressing enter again.

Nothin'

Expected - form is submitted.

[2012-04-03 16:39] mathjazz commented on #1333
This is the list:
"ca", "el", "es", "fr", "fy", "ga", "gl", "hr", "hu", "it", "lt", "pa", "sl", "tr"

[2012-04-03 17:30] st3fan opened #1378 "Account selection is skipped"
When logging in, the account (email) selection is skipped. Here is the flow that I now get:

1) Enter Email
2) Hit Next
3) Enter Password
4) Hit Login
5) BrowserID is now done and the app (Pancake in this case) is logged in.

Previously there was a step after logging in where you could select the account to be used. (I have two)

When I logout of the app and then login again through BrowserID, I d

[2012-04-03 17:35] st3fan opened #1379 "Logging in on iOS is slow"
On an iPad 3, logging in takes about 20 seconds in the 'Finishing Sign In...' screen. On older iPads this this more than 30 seconds. Is there a way to speed this up?

[2012-04-03 17:40] benadida commented on #1379
really? That seems quite slower than what I've seen. ipod touch test just now runs in 5 to 7s. Maybe this is a webview thing where the optimized JS engine doesn't kick in?

[2012-04-03 17:43] skinny97214 commented on #760
@lloyd Where do we stand on this now that the feature triple play is out? Do we lack anything that would keep us from closing this bug?

[2012-04-03 17:58] st3fan commented on #1379
Yeah that could very well be the cause. We've seen 4x slowdowns in UIWebView.

[2012-04-03 17:59] jrgm commented on #1378
@jbonacci There is https://github.com/mozilla/browserid/issues/1241 about having a chance to check the (soon to be obsolete) "keep me signed in" checkbox.

But as for this bug, this is, I believe, the designed UX.

[2012-04-03 18:00] #886 closed, assigned to shane-tomlinson

[2012-04-03 18:09] benadida commented on #1379
so this should be a good bit better when we move back down to 1024-bit DSA keys. Soon.

[2012-04-03 18:19] skinny97214 commented on #1098
@lloyd What's the status of getting the logo of sites?

[2012-04-03 18:19] skinny97214 commented on #1097
@lloyd status?

[2012-04-03 18:26] benadida commented on #1379
@jbonacci this is likely a webview issue. Testing this will require pancake, in all likelihood.

[2012-04-03 18:51] shane-tomlinson commented on #1378
@jrgm, @jbonacci, @st3fan - thanks for writing this up & subsquent comments - skipping the email picker is indeed "By Design."  The original issue is #198, the pull request is https://github.com/mozilla/browserid/pull/1162.

[2012-04-03 18:51] #1378 closed, assigned to nobody

[2012-04-03 19:11] zvalteau commented on #1379
I just signed in and there was nothing slow about it with a iPad 2.

[2012-04-03 19:58] krupa opened #1381 "SCL2 account deletion returns a 503"
steps to reproduce:
1. Go to https://browserid.org
2. Sign in using valid credentials
3. From the Account Manager, delete your account

expected behavior:
Account deletion is successful

actual behavior:
There is an error message and server returns a 503. See http://cl.ly/103j0Q2O0z0S2L271k0G

atoll, petef and jbonacci have more detailed info regarding this issue.

[2012-04-03 19:58] floatingatoll commented on #1381
Relevant dbwriter error log:

{"level":"error","message":"unexpected database failure: Error: Cannot delete or update a parent row: a foreign key constraint fails (`browserid`.`__old_email`, CONSTRAINT `__old_email_ibfk_1` FOREIGN KEY (`user`) REFERENCES `user` (`id`)) -- at reportErr (/opt/browserid/lib/db/mysql.js:526:38)","timestamp":"18 Mar 01:49:32"}

[2012-04-03 20:02] krupa opened #1382 "Redirect /sign_in to /signin (or homepage)"
steps to reproduce:
1.  Load https://browserid.org/sign_in

expected behavior:
When users navigate to non-existent or obsolete pages, we show a 404 (with a link to homepage) or redirect to the newer page.

actual behavior:
We show an error message which is not very informative to the user. See http://cl.ly/0w3g1W132l2e2J2E010D

[2012-04-03 20:04] floatingatoll commented on #1382
krupa found the /sign_in url in Firefox Awesomebar, which led to discovering this issue. We don't publish direct links to /sign_in anywhere and normal user sign-in process works.

I checked and Google indexes browserid.org/sign_in, but does not return it in the results for "browserid sign in" that I can see. Had to search for "browserid.org/sign_in" to get it to show up.

[2012-04-03 20:20] floatingatoll opened #1383 "log timestamp missing year"
[code]

the "timestamp" in the above log entry is missing the year, which isn't a problem yet, but will be in a few months.

[2012-04-03 20:31] floatingatoll commented on #1383
The above logline was from an on-disk logfile, if that matters for tracing the issue in winston.

[2012-04-03 20:48] fetep commented on #1381
see https://etherpad.mozilla.org/8LOQ9q6fgb for full details.  basically, `__old_*` tables were lying around from the last schema change (2012-01-12) and had foreign keys into user.  when a user who had an older email in __old_email went to cancel their account, we delete emails from the live email table, then try to delete the row from user, which failed because of the foreign key constraints fro

[2012-04-03 21:06] jrgm commented on #1382
@jbonacci see also GH-1121

[2012-04-03 22:19] MichaelHackett commented on #982
I just ran into this (using Firefox 11) and was playing with some settings and found that, even with "Accept third-party cookies" enabled, the BrowserID dialog was still reporting that cookies were disabled _unless_ I added an exception for _both_ the originating site and `browserid.org`, or I switch "Keep until:" to something other than "ask me every time". (In the case of `browserid.org`, I'm no

[2012-04-04 15:34] shane-tomlinson commented on #1240
From Jishnu:
1. on the first screen, when the user has not indicated email address at all, remove the TOS/PP string - no need to have it here.
2. Once a user has indicated a valid browserID email and the password form shows up, then put in the TOS/PP string for tosfix.myfavoritebeer.org. But consider changing it to "By clicking next, you confirm that you accept tosfix.myfavoritebeer.org's Terms of

[2012-04-04 16:49] fetep commented on #1381
fixed in stage

[2012-04-04 16:49] #1381 closed, assigned to fetep

[2012-04-04 21:00] #1348 closed, assigned to lloyd

[2012-04-04 21:00] #1354 closed, assigned to shane-tomlinson

[2012-04-04 21:00] #1357 closed, assigned to lloyd

[2012-04-04 21:03] anantn opened #1386 "Signature of internal API changed?"
In previous version of the BrowserID, the signature of the "internal" API to get an assertion was:

window.BrowserID.User.getAssertion("email", successCallback, errorCallback);

However, in the current production & dev versions of BrowserID, the errorCallback seems to be invoked with the (right) assertion. The following code was executed in the web console for https://browserid.org/sign_in (when t

[2012-04-05 01:07] jrgm commented on #1364
Veritied on stage (diresworb.org) with curl at the command line, Chrome 18 OSX, FF 11 OSX, IE8 WinXP, FF 11 WinXP,
IE9 Win7, Chrome 18 Win7, using the STR in the first two comments, and also observing the request/response headers on
Chrome and FF(with HTTPFox).

Note: on diresworb.org it-CH gets "fixed up" to return 'it' content - real italian: /v/ade509b524/production/it/dialog.js

[2012-04-05 05:00] jrgm commented on #1353
Verified on stage (diresworb.org) for IE8/winxp, IE9/win7, Chrome/OSX, FF/OSX ability to sign_in and repeat with cached values via beta.myfavoritebeer.org.

Also by direct inspection of the request/response on initial load and soft reload of stage diresworb.org /relay and /communication_iframe with FF11 on osx.

I can also use 123done.org, although not on IE8 which is https://github.com/codepo8/12

[2012-04-05 05:30] jishnu commented on #1240
Hiya -

Just to clarify - my comments were trying to differentiate between the Persona TOU/PP (soon to be revamped) which users need to agree to when creating a Persona account vs the site to which they are logging in to's TOU/PP. I def think each should only be shown right before the user assents to the appropriate interaction (sign-up/sign-in to site) and not multiple times as that would be even

[2012-04-05 14:09] shane-tomlinson opened #1390 "IE6 and IE7 errors in communication frame"
STR

1) Open IE6
2) Go to local dev RP
3) Double click error icon in bottom left of browser chrome.

Many errors:

[code]

[code]

[code]

[code]

[2012-04-05 14:13] shane-tomlinson opened #1391 "Communication frame does not check for min browser requirements"
This causes exceptions to be thrown and not caught in IE6/IE7 or IE8+ in Quirks mode.

See issue #1390

[2012-04-05 14:47] shane-tomlinson commented on #1317
Link to issue #1101

[2012-04-05 16:16] anantn commented on #1386
False alarm, it looks like the internal API has been changed to:

BrowserID.User.getAssertion(email, audience, success, error);

and the setOrigin call is no longer required. Updating the code to this new signature fixes everything.

[2012-04-05 16:16] #1386 closed, assigned to nobody

[2012-04-05 16:49] lloyd commented on #1379
please try again in dev.diresworb.org, we've moved to 1024 keys there.  This should address the problem, please reopen if timing still unacceptable.

[2012-04-05 16:49] #1379 closed, assigned to nobody

[2012-04-05 16:49] skinny97214 commented on #1379
Sign in has to be under 10 seconds or it's a no go.

[2012-04-05 17:03] lloyd opened #1394 "ephemeral deployments are bad at email"
*.hacksign.in deployments send email that looks like spam

[2012-04-05 17:10] st3fan opened #1395 "Internal APIs changed in dev (was: The assertion object is not serializable (on development))"
I'm using the following code to call BrowserID and then pass the assertion to our own backend for verification:

[code]

This works ok in production but fails on development. The assertion is serialized as "[Object object]" instead of a proper JSON encoded dictionary. Since this is pretty much based on sample code that many people have in production, I wonder if this should break like this.

[2012-04-05 17:12] lloyd commented on #1395
@st3fan - steps to reproduce?

[2012-04-05 17:18] st3fan commented on #1395
Not sure how to document that. Login to browserid & serialize assertion?

[2012-04-05 18:20] benadida commented on #1395
@st3fan you're doing this on dev.myfavoritebeer.org?

[2012-04-05 18:26] ozten commented on #1332
Project page to track this feature - https://wiki.mozilla.org/Identity/BrowserID/BigTent

[2012-04-05 18:34] shane-tomlinson opened #1396 "delay screen needed on main site."
When signing in from the main site, no wait screen is presented to the user informing them that something is happening.

[2012-04-06 15:20] ghost opened #1398 "The links corresponding to clients displayed on the "You must sign in..." dialog should always be opened in new tabs"
OS: Ubuntu 11.10
Browser: Firefox 12.0 beta

STR:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Click on the Sign In button.
3. Enter a primary email address and click on the Next button.
4. Click on the Terms of Use link.
5. Click on the Privacy Policy link.

The Privacy Policy page is loaded over Terms of use instead of being opened in a new tab.

[2012-04-06 18:13] #1374 closed, assigned to lloyd

[2012-04-06 20:43] lloyd opened #1399 "dev: .logout() function missing a callback argument"
One feature of the current API is that .logout() accepts a single, optional callback argument.  Currently in dev this argument is not present, and breaks myfavoritebooze.org.

[2012-04-06 20:49] lloyd opened #1400 "remove 'Logout from all websites' from management page"
This feature (visible at time of writing at https://dev.diresworb.org/ when you're logged in) was added as a partial implementation of issue #1196.

@skinny97214 has advised that this is actually a misfeature, and in its partially implemented state it's confusing.  Also, because the new APIs it requires are experimental, it's inappropriate to add this feature at this time.

We should remove the pa

[2012-04-06 21:01] #1399 closed, assigned to lloyd

[2012-04-06 21:01] #1400 closed, assigned to lloyd

[2012-04-06 21:15] lloyd commented on #1390
I'm going to ignore this issue for now, it looks like shane's pull request would cover it.  If it looks like that PR (issue #1392) will not land, please reassign this back to me and I'll craft a patch targeted at dev.

[2012-04-06 21:18] lloyd commented on #1391
Reassigning to @shane-tomlinson as I expect this is related to pull request #1392.  If I'm wrong, please reassign back to me and I'll fix in dev.

[2012-04-06 21:22] lloyd commented on #1352
taking this issue, as it is a ★★★★★ regression in dev with introduction of new experimental APIs.  separate issues should be opened for other places in our code where disabling of 3rd party cookies can break things in confusing ways.

[2012-04-06 22:22] lloyd commented on #1352
I've done a little testing via 123done and dev.myfavoritebeer.org to assess how exactly third party cookies break our code with the new .experimental APIs.  I tried chrome's "Block third-party cookies and site data" setting as disabling firefox's "accept third party cookies" as well as safari/iOS setting cookies to 'from visited'.

On chrome and firefox we break in the same way with the new APIs:

[2012-04-06 22:26] lloyd commented on #1395
this is a regression in our internal APIs.  It won't affect a lot of people, but the people it will affect are important (looking at you, @st3fan).  I think it's easy to work around this, and don't think we should needlessly break contracts.  Here's the conclusion I reached on IRC in discussing with @st3fan, with the context preceeding it: http://irclog.gr/#show/irc.mozilla.org/identity/73222

giv

[2012-04-06 22:30] lloyd commented on #1115
bump.  we should fix this, related to issue #1351