[2012-06-18 16:05] shane-tomlinson opened #1783 "IE8: Unit tests do not complete when slow script warning disabled."
STR)

1) Open an IE8 VM
2) Disabled the "A script on this page is causing Internet Explorer to run slowly" error by following the steps in http://support.microsoft.com/kb/175500
3) Reload IE
4) Start the unit tests.  They do not complete.

[2012-06-18 17:23] zaach commented on #1757
Short summary:

webheads
    • /usr/bin/node bin/static

webheads: /var/log/browserid/
    • static.log
    • static-metrics.json

[2012-06-18 18:03] mattbasta commented on #1709
I'm in the MV office this week. If you want to meet up, let me know.

[2012-06-18 20:04] callahad opened #1786 "Update FavIcon for Persona"
Our favicon is still using a little "ID" glyph, instead of the new Persona one from http://people.mozilla.org/~smartell/persona/

[2012-06-18 22:51] jrgm commented on #1572
verified in GH-1632

[2012-06-18 22:52] jrgm commented on #1632
Verified on stage train-2012.06.08.
- If I start with a clean profile and bring up the dialog from an RP, before I am authenticated I get a cookie with an embedded duration of 2419200000 (4 weeks) and an expires value of 4 weeks from now.
- When I signin as a known secondary with a password, the cookie is changed to have embedded duration of 3600000 (1 hour), and an expires value of 4 weeks from n

[2012-06-19 01:00] seanmonstar commented on #1721
@shane-tomlinson So, the #error section ends up not stretching to the bottom, but the #wait section does. Is there a reason only #wait, #error, and #delay have the background? If it should always be there no matter what, then we could change the background to be on #content, which does properly stretch all the way down.

[2012-06-19 01:01] jrgm commented on #1652
verified in dev for train-2012.06.08

[2012-06-19 04:46] fmarier opened #1791 "storage.retrieveTemporaryKeypair() is broken and possibly unused"
The following code in /resources/static/shared/storage.js throws an exception:

[code]

It should of course be fixed like I did in 4ed942cfef0d3accf45807cd545dfd27864a9770.

It was never caught by our tests because this is the test for it:

[code]

Now, I did a quick grep of the code and could not find any uses of it in the codebase. So it looks like dead code that should probably be removed.

[2012-06-19 05:26] shane-tomlinson opened #1793 "/forgot, /verify_email_address page are cachable - email, token are not embedded in page."

[2012-06-19 05:49] shane-tomlinson commented on #1791
@fmarier - store/retrieveTemporaryKeypair were taken out in b0534666e5fb16909544697bf0bb3153a88555df because it was not used.

[2012-06-19 05:49] #1791 closed, assigned to nobody

[2012-06-19 05:57] shane-tomlinson opened #1794 "idp_auth_complete is not included in page-request-test"

[2012-06-19 08:09] ozten opened #1795 "Fresh install as root didn't run ./scripts/generate_ephemeral_keys.sh"
npm WARN skipping cannot run ./scripts/generate_ephemeral_keys.sh

var was empty.

[2012-06-19 12:32] ghost opened #1797 "The message that Persona requires cookies is displayed although cookies are enabled in the browser"
OS: Windows 7
Browser: Firefox 14.0, Firefox 15.0, Opera 11.64

STR:
1. Load http://beta.123done.org in the browser.
2. Click on the Sign In button.

Although cookies are enabled in the browser (including 3rd party ones), the following message is displayed:

Persona requires cookies
Please close this window, enable cookies and try again

This issue is intermittent. I could only reproduce it once p

[2012-06-19 14:02] thom4parisot opened #1798 "Force BrowserID language"
Hi guys,

we use BrowserID on a website where the customer can choose his preferred language, despite we initially detect the most suitable from his browser headers.

Anyway, in case I have an English preference for my browser, I've set the service in French.
_However_, BrowserID pops in English, so in a different locale than the UI.

It would be very cool if we could force the language by doing t

[2012-06-19 14:07] lloyd commented on #1798
Hi!

We've discussed this at length on the mailing list.

We've discussed both having a user visible language picker in the dialog, and having an argument to navigator.id.request() that overrides defaults.

which would you favor?

[2012-06-19 14:53] naholyr commented on #1798
I'd favor both:
- default must be consistent with referer's → option in `request()`
- user should be always able to change its language → language picker in dialog
  - but if you add such a dialog, it should be optional, and most important it should talk back to opener (via the callback ?) to let main website know that user wanted to change language.

[2012-06-19 15:48] DavidBruant commented on #1798
In our (@naholyr, @oncletom and I work together) app, users have a favorite language. Since browserId is part of our user workflow, we'd like to make browserId consistent with the rest of our application and being able to impose a language to BrowserId (assuming the language is supported, of course).

More to the point, as far as our app is concerned, an argument in navigator.id.request() is what

[2012-06-19 15:59] DavidBruant commented on #1798
Discussion with @oncletom led to the idea that instead of the browser language, browserId could decide which language to choose based on the html@lang attribute of the page it is opened from.
In this case, we would set the html@lang and BrowserId would choose a language consistent with this language.

[2012-06-19 16:36] zaach commented on #1767
@lloyd How about an options parameter on `setup` with a `dependencies` property:

[code]

Each `dependency_url+'/__heartbeat__'` is checked before the ok is given.

[2012-06-19 17:10] lloyd commented on #1767
I like dependencies.  I also think we should add a `custom` property so we can do things like check the database:

[code]

[2012-06-19 17:21] lloyd commented on #1798
here's the thread on the mailing list where this was discussed.  I'll bump it for you.

https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/85d61589acec2201/1c2297a5edc64456?lnk=gst&q=dialog+language#1c2297a5edc64456

[2012-06-19 17:41] #1732 closed, assigned to shane-tomlinson

[2012-06-19 17:50] #1733 closed, assigned to shane-tomlinson

[2012-06-19 20:56] benadida commented on #1710
@jrgm are we downgrading this as per yesterday's conversation?

[2012-06-19 21:26] jrgm commented on #1710
@benadida Ah, yes. Didn't update it here. I have not been able to reproduce this aside from one time last against dev.diresworb.org. So, I am downgrading this to 4-star.

Thanks.

[2012-06-19 21:38] benadida commented on #1502
here's an idea that could be really simple, and I'm happy to help implement it: we can use window.name, as follows:
- before redirecting to IdP, browserid.org stores some parameters in its localStorage, keyed on a new uuid we'll call primaryFlowId.
- still before redirecting to IdP, browserid.org stores primaryFlowId in window.name
- window.name is readable by other content in that dialog, includi

[2012-06-19 21:47] lloyd commented on #1710
hmmm.  we had a bug related to this where assertions would be generated _before_ email verification.  I believe stomlinson fixed that.  Could this have been the same thing?

/cc @stomlinson

On Jun 20, 2012, at 12:26 AM, John Morrison wrote:

[2012-06-19 22:03] jrgm commented on #1710
@lloyd I don't think so, since when I got it in this state, I could then repetitively bring up the dialog, immediately pick the email to use, dialog would dismiss and this alert would come up. IOW, I wasn't delaying with the dialog up and the assertion slowly expiring.

[2012-06-20 00:26] fmarier commented on #1791
Ah! it got cleaned up the day after I rebased my branch onto the latest dev. Serves me right for not keeping up with the latest code :)

[2012-06-20 03:51] zaach commented on #1132
I started a proof-of-concept [here](https://gist.github.com/8bbc336a5b261d628934).

/cc @ozten

[2012-06-20 08:55] #1780 closed, assigned to shane-tomlinson

[2012-06-20 08:59] #1731 closed, assigned to zaach

[2012-06-20 09:26] lloyd opened #1803 "backend unit tests take too long"
It takes at least 10s per test (that starts up our software) on my 13" mbp to run backend unit tests.  there are about 35 distinct tests.  If there were an easy way to optimize this, we should.

One fallout of this is that we're blowing past our allotted time on travis more and more and getting false failures.

[2012-06-20 13:23] lloyd opened #1805 "rename loggedInEmail to loggedInUser with back compat"
https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/bcb4f79475eb1608#

[2012-06-20 13:49] #1518 closed, assigned to shane-tomlinson

[2012-06-20 18:01] #1803 closed, assigned to nobody

[2012-06-20 18:52] shane-tomlinson commented on #1433
@seanmonstar - you are right, it should be address_info.  The notification I am talking about here is in the add_email address screen of the dialog, see resources/static/dialog/controllers/add_email.js.  As a reference, this is done in the authentication screen, see resources/static/dialog/controllers/authentication.js

[2012-06-20 19:00] shane-tomlinson commented on #1721
@seanmonstar - Good examination, There are times where both a #formWrap, a #wait, and a #delay can all be shown at the same time, so this may be the reason.  This could also be a a remnant of the old design when the right hand side was white.  Try changing the background on #content to see how things look, you can open a development menu by opening the dialog and clicking the upper right hand corn

[2012-06-20 19:02] seanmonstar commented on #1721
Wow, thats magic.

[2012-06-20 21:06] lloyd commented on #1502
benadida | stomlinson | ozten: how about using sessionStorage (rather than localStorage) ?  doesn't that do _exactly_ what we want?

[2012-06-20 21:49] benadida opened #1808 "make sure verifier does not accept chained certificates unless they are explicitly delegated"
as per new spec:

https://github.com/mozilla/id-specs/blob/new-data-formats/browserid/index.md#chained-certificates

Seems okay to break for existing chains because we don't know of any implementation of chained certs.

[2012-06-20 23:18] zaach commented on #1757
More [here](https://etherpad.mozilla.org/static-process).

[2012-06-21 00:55] fmarier opened #1811 "Referring to the wrong button in TOS/PP text when typing password"
While entering your password, the text below the text box is: "By clicking next, you confirm that you accept this site's Terms of Use and Privacy Policy."

![BrowserID](https://raw.github.com/gist/2963192/36e1ec2c185905bbfd545a30950ba060183e30ea/grant_p-s_bug.png)

However, the button at this stage is called "sign in".

This is also the case in the rebranded version of Persona that's featured on d

[2012-06-21 04:18] jrgm commented on #1811
See also GH-1240

[2012-06-21 04:26] fmarier commented on #1811
Dupe. Closing.

[2012-06-21 04:26] #1811 closed, assigned to nobody

[2012-06-21 09:43] shane-tomlinson opened #1812 "Remove the tooltip HTML from the templates"
Because many tooltips are repeated across templates, this is not very DRY and it just clutters up the HTML.  Use a table with the text in it instead.

[2012-06-21 10:10] shane-tomlinson opened #1813 "enter key causes forms to submit twice in Chrome and Firefox"
STR)

1) Open Chrome or Firefox
2) Open dialog
3) Open dev tools to network section.
4) If logged in, click "this is not me"
5) Enter in known secondary email address, press "enter" key - Address info is requested twice.
6) Enter password - "authenticate" is requested twice.

This is due to the changes implemented for #1376.

[2012-06-21 10:18] shane-tomlinson commented on #1240
Once the TOS/PP changes are merged, this will no longer be an issue as the text has changed to "By proceeding"

[2012-06-21 10:25] shane-tomlinson opened #1816 "fullpage option does not appear to be used in lib/browserid/views.js"

[2012-06-21 12:03] shane-tomlinson commented on #1094
Closing as I set the body font size to that specified by sean martell in the redesign.

[2012-06-21 12:03] #1094 closed, assigned to nobody

[2012-06-21 12:04] shane-tomlinson opened #1820 "Add a license for the fonts."
The font files came from Google's Web Font service, all fonts are licensed under the Apache 2.0 license.

[2012-06-21 14:13] shane-tomlinson commented on #1095
Closing as done with rebrand.

[2012-06-21 14:13] #1095 closed, assigned to skinny97214

[2012-06-21 16:38] jrgm commented on #1820
3-stars.

[2012-06-21 17:07] jrgm commented on #1767
@zaach is this work all done now? Can this one be closed.

[2012-06-21 17:08] zaach commented on #1767
Yep. Closing.

[2012-06-21 17:08] #1767 closed, assigned to zaach

[2012-06-21 17:10] skinny97214 commented on #1755
Do we have a mechanism for tracking how long it takes to deliver the verification email. Longer than about 10 seconds and we have a real UX problem.

[2012-06-21 17:12] jrgm commented on #1755
-> @lloyd to work with ops on improved monitoring of delivery

[2012-06-21 17:24] jrgm commented on #1709
If you're in Mt. View Today or Friday, can you ping me @jrgm?

[2012-06-21 17:39] st3fan opened #1822 "When running on iOS in a UIWebView, we sometimes get a Relay Frame error."
This does not happen always, but sometimes loading http://www.browserid.org in a UIWebView results in an error saying "Action: Establishing Relay. Relay frame could not be found".

I have only been able to reproduce this on iOS (5.1.1 and 6.0b1) when running in a UIWebView. Specifically for Pancake.

I must note that we inject the following code in the UIWebView before loading http://www.browserid

[2012-06-21 17:49] seanmonstar opened #1824 "mixed language in dialog"
A user had both English and Chinese language packs, with English set to a higher priority, but still received part of the dialog in Chinese, and part in English.

Related bug in bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=764612

[2012-06-21 18:17] st3fan commented on #1822
I thought this could be a timing-related issue so I added a little delay between injecting the code and loading the site. Unfortunately that did not help.

[2012-06-21 18:20] st3fan commented on #1822
Another thing that I have tried is to delete all cookies from the www.browserid.org domain before showing the dialog. The code successfully deletes two cookies (one for / and one for /wsapi) but it has no effect on this problem.

[2012-06-21 18:23] st3fan commented on #1822
Another observation. I thought this could be due to some kind of state lingering around between usages of BrowserID. So to confirm that I did multiple runs of "Delete all Simulator Data. Run App. Login." - this problem still happens then. So that is on a first run without any existing cookies, cache or local storage.

[2012-06-21 18:51] nmalkin opened #1825 "Emit additional events during authentication of returning users"
Right now, after the _screen.authenticate_ event (emitted for both new and returning users), no events are emitted for returning users who are signing in until either they succeed (_generate_assertion_) or give up (_window.unload_). This means that we have no effective way of distinguishing the scenario "new user opens dialog, freaks out, closes it" and "returning user opens dialog, tries five pas

[2012-06-21 19:06] nmalkin commented on #1732
While #1784 rounded the timestamp to the nearest 10 minutes, the original issue (this one) was not addressed: the timestamp is still in milliseconds. @shane-tomlinson, do we have any plans to change it to seconds, or are we sticking with milliseconds?

[2012-06-21 19:19] jrgm opened #1826 "Font too large when displaying rp_hostname without a siteName or siteLogo"
If the RP does not supply either siteName or siteLogo, we display rp_hostname as H2. When a siteName is given rp_hostname is an H3.

H2 is too large from a hostname (which is usually much longer than a siteName (e.g., www.mozilla.org vs. Mozilla)).

![img](https://img.skitch.com/20120621-rre5abs8ndrmsu4ws2yknpjbja.png)

[2012-06-21 20:13] nmalkin opened #1827 "KPI data should acknowledge successful sign-in even after dialog is closed"
**Scenario:**
Dialog opens, new user enters email, creates password, verification email is sent. User _closes dialog_, goes to email client, clicks on verification link. Email is verified and user is logged in.

**The problem:**
When the KPI data is sent over (the next time the dialog is opened), the data contains no indication of whether the user succeeded or failed at logging in. (Our most impor

[2012-06-21 20:49] st3fan commented on #1822
Tried running the latest code locally to see if that makes a difference, but it does not. Same issue happens on a fresh checkout of the browserid project.

[2012-06-21 20:50] st3fan commented on #1822
Also temporarily change the Pancake home page to skip all of our own JS code and just trigger the code that starts the BrowserID process in the modal dialog. To make sure that our own JS does not interfere with the BrowserID code. No effect.

Not sure what else to try at this point.

[2012-06-21 21:08] jrgm commented on #1709
I sat with @mattbasta today and his MIUI Android 2.3 phone. This is a screenshot of the windows in the error state.

![img](https://img.skitch.com/20120621-6c5xc7tkjdb3j8yqfnjsqhmyh.png)

The Browser appears to have been set as the default, and Fennec (the only other browser) had no defaults set. I had Matt clear the default on Browser, and tried again, but 1) there's no prompt on this phone to pi

[2012-06-22 00:08] skinny97214 commented on #1712
Point noted. Closing since we'll be phasing this page out in favor of the new /about page.

[2012-06-22 00:08] #1712 closed, assigned to skinny97214

[2012-06-22 01:20] jrgm opened #1828 "double submit of /wsapi/stage_user on main site signup"
I was signing up a new user on the main site page for login.dev.anosrep.org. I received email with a link to /verify_email_address and token of
https://login.dev.anosrep.org/verify_email_address?token=AW3wEnj3MVqMknrX3ppuIw8upq8S3Iar3QZUn7NZCUIj1m4a

Trying to use that link in the same browser that I started with, I get this in the web page:

[code]

and on the network, I can see a GET for
https:/

[2012-06-22 01:40] jrgm opened #1829 "https://eyedee.me/api/cert_key returning 500 Internal Server Error"
I was trying to add a primary to an existing secondary, and the dialog showed

'
We are very sorry. There has been an error!
Please close this window and try again.
    Action: Checking Email Address
'

The error is that POST https://eyedee.me/api/cert_key is returning 500 Internal Server Error with body

"Not implemented: no such algorithm: undefined".

Anyone have access to that server to see wh

[2012-06-22 02:31] jrgm commented on #1829
Oh, I see. The value of pubkey in the POST has been JSON.stringify-ed twice.

This works fine in stage with eyedee.me, where the correct format is used. Who's doing that?

[2012-06-22 02:40] jrgm commented on #1829
ah, right -- http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/309fabecc369e84f

[2012-06-22 07:48] #1813 closed, assigned to shane-tomlinson

[2012-06-22 08:14] shane-tomlinson opened #1830 "ie6/ie7 exceptions thrown on 123done.org"
STR

1) Open IE6 or IE7
2) Load up 123done.org
3) Watch the errors flow

IE6 - JSON undefined
IE7 - localStorage undefined in state.js, then JSON undefined.

[2012-06-22 08:17] shane-tomlinson commented on #1828
Same cause as issue #1813.  Fixed with PR #1814.  Closing.

[2012-06-22 08:17] #1828 closed, assigned to nobody

[2012-06-22 08:18] shane-tomlinson commented on #1376
Took out the "fix" because it caused a double submit in Firefox and Chrome.  Grrr.

[2012-06-22 08:26] shane-tomlinson commented on #760
@lloyd - can we mark this as fixed with the new logout feature?

[2012-06-22 09:17] shane-tomlinson opened #1831 "mockmyid not returning from provisioning step when using dev.123done.org"

[2012-06-22 09:18] shane-tomlinson commented on #1831
Dup of #1571, closing.

[2012-06-22 09:18] #1831 closed, assigned to callahad

[2012-06-22 09:33] shane-tomlinson opened #1832 "only headers and footers are shown in opera mobile in portrait mode on Asus Transformer Tablet"
![Opera Mobile on ASUS Transformer](https://img.skitch.com/20120622-rgqfqb2s6u8i8m8f2u4d5e5txh.png)

Potentially related to #1548

[2012-06-22 09:46] shane-tomlinson opened #1833 "123done.org: "Fork me on Github" button makes it difficult to click "logout" on mobile phones."

[2012-06-22 10:10] shane-tomlinson opened #1834 "Fennec 10.0.5 on Android Tablet: Manage page shows no content."
STR

1) Load up Firefox 10.0.5 on Android
2) Sign in to login.dev.anosrep.org
3) Go to manage page.  Where's the content?

The problem does not manifest itself on Fennec Beta.

![Manage Page in Firefox 10.0.5](https://img.skitch.com/20120622-e5qgsrtawy7riyj469r5xwr33a.png)

[2012-06-22 10:12] shane-tomlinson commented on #1834
Signing out and signing back in fixed this problem.

[2012-06-22 10:14] shane-tomlinson opened #1835 "123done.org: if cookies are disabled, sign in button never appears."
Instead, the spinner where the sign in button appears continues forever.

[2012-06-22 11:21] david-caro opened #1836 "check_primary_support does not check the content-type header"
The check_primary_support script, does not check the HTTP header Content-Type as the browserid does (thus failing for the browserid but passing the check). I think that one of the two must be changed (the script should check for the header or the browserid server shouldn't).

David

[2012-06-22 11:24] shane-tomlinson opened #1837 "Android 2.3 Native: possible to focus hidden change password fields"
![Android 2.3 Native with hidden password fields focused](https://img.skitch.com/20120622-bs3mm6p23k64xcuafnbkdwnsyf.png)

[2012-06-22 11:47] shane-tomlinson opened #1838 "Android 2.3 native: main site/forgot password - after verification from another browser, sent to signin page."
STR

1) Open up diresworb.org
2) If signed in, click sign out.
3) Click sign in.
4) Enter known secondary email address.
5) click "forgot password?"
6) Enter new password
7) Click "verify"
8) Open verification email in another browser.
9) Original browser sent to "signin" page.

Possibly related to #1682

[2012-06-22 12:34] shane-tomlinson commented on #1473
Closing, thanks @zacc for confirming.

[2012-06-22 12:34] #1473 closed, assigned to shane-tomlinson

[2012-06-22 13:24] shane-tomlinson commented on #1555
Link to #1451

[2012-06-22 13:24] shane-tomlinson commented on #1451
Closing as duplicate of #1555.

[2012-06-22 13:24] #1451 closed, assigned to shane-tomlinson

[2012-06-22 14:07] shane-tomlinson commented on #1682
Link to #1555 - These may have very similar root causes.

[2012-06-22 14:08] shane-tomlinson commented on #1838
Link to #1555 - These may have very similar root causes.

[2012-06-22 15:55] st3fan opened #1840 "Please don't unfocus the email text field in the sign-in dialog"
On iOS, when the email field loses its focus, the keyboard is dismissed. So you end up in a situation where:

1) BrowserID Dialog Appears
2) User taps in email field to fill it in
3) KEYBOARD APPEARS
4) User types email, hits next
5) KEYBOARD DISAPPEARS
6) User taps Password field to fill it in
7 KEYBOARD APPEARS
8) User enters password, hits next
9) KEYBOARD DISAPPEARS

Animations and keyboard go

[2012-06-22 16:00] shane-tomlinson commented on #1840
Related to #236 and #1779. We need a sane approach to mobile keyboards.

[2012-06-22 16:42] benadida commented on #1833
Highlighting the forkability is probably not our priority since this is our top demo site, and many users won't know what that means. I suggest making that subtle, on the about page.

[2012-06-22 17:12] st3fan commented on #1822
I have fixed this with the following change https://bitbucket.org/mozillapancake/pancake-ios/changeset/499010192320

I think it is a workaround for a deeper timing problem inside the BrowserID code though. But this small 250ms delay basically makes the issue disappear. Previously probably 4 out of 10 tries would fail. With this fix I am unable to get the relay frame error at all.

[2012-06-22 20:04] shane-tomlinson commented on #1835
All browsers

Sent from my iPad

On 22 Jun 2012, at 18:17, jbonacci reply@reply.github.com wrote:

[2012-06-22 20:08] shane-tomlinson commented on #1830
I do not believe this is a regression, the unsupported dialog works fine in these browsers. The problem from what I could see is 123done does not take ie6 and 7 into account. 123done code tries to access localStorage and JSON without first checking for their existence. Even so, The new API code should be checked to make sure it at least does not except in these browsers.

Shane

Sent from my iPad

[2012-06-22 20:09] shane-tomlinson commented on #1834
I have not been able to reproduce this outside of the initial sighting of this issue.

Sent from my iPad

On 22 Jun 2012, at 18:16, jbonacci reply@reply.github.com wrote:

[2012-06-22 23:38] skinny97214 commented on #868
http://people.mozilla.org/~smartell/persona/

[2012-06-23 10:10] mathjazz opened #1841 "Cutting the next train"
Sorry for bothering you once again, but we need the next train (train-2012.06.22) cut ASAP in order to have it fully localized in as many locales as possible.

Most of the localizers are working during weekends, so if we miss Friday target for cutting the train, localizers can end up having only one weekend for their job (50% less time).

/cc @lloyd @ozten

[2012-06-23 14:17] lloyd commented on #1841
cutting now.

On Jun 23, 2012, at 1:10 PM, Matjaž Horvat wrote:

[2012-06-23 14:23] lloyd commented on #1841
`train-2012.06.22` is branched - creating deployment ticket now,

[2012-06-23 14:23] #1841 closed, assigned to nobody

[2012-06-25 05:41] fmarier commented on #1744
Here is another API call which allows the same lookup as address_info: https://browserid.org/wsapi/have_email?email=francois@mozilla.com

[2012-06-25 07:58] #1433 closed, assigned to shane-tomlinson

[2012-06-25 08:11] #1661 closed, assigned to shane-tomlinson

[2012-06-25 08:53] #1721 closed, assigned to shane-tomlinson

[2012-06-25 10:35] #1820 closed, assigned to nobody

[2012-06-25 10:42] #1738 closed, assigned to shane-tomlinson

[2012-06-25 12:47] shane-tomlinson commented on #1588
@skinny97214 - we are starting off with a single name/photo combination for all email addresses to avoid too many changes in the dialog with contact cards.  The mock implies that each email address is getting its own name/photo.  Let's make contact cards stage two to go along with the backend sync once we get beta out of the way.

[2012-06-25 14:23] lloyd commented on #1755
personatestuser.org will give us a trivial means of understanding and auditing real roundtrip time.  we should have a first version ready in the coming weeks. /cc @jedp

taking this issue.

[2012-06-25 14:25] lloyd commented on #1755
see: https://github.com/lloyd/personatestuser.org/issues/10

[2012-06-25 14:29] #1756 closed, assigned to zaach

[2012-06-25 14:38] lloyd commented on #760
I think we can close this, we now have a consistent implementation.  @skinny97214 has opened a separate issue to add a "logout everywhere" feature.

[2012-06-25 14:38] #760 closed, assigned to skinny97214

[2012-06-25 15:08] #1774 closed, assigned to skinny97214

[2012-06-25 16:12] lloyd commented on #1756
verified mail is still delivered in dev environment.  No major regression.  yay.

[2012-06-25 16:16] lloyd commented on #1774
on chrome I see no difference between beta and dev.  on firefox I now see buttons have a drop shadow to emphasize focus when they have it.  I think this issue was firefox specific and is fixed in dev.

[2012-06-25 16:19] shane-tomlinson commented on #1667
@lloyd - sure thing.  I misunderstood @jbonacci's want here - my take on an "orphan" differs.  At the moment, we do not collect KPIs from the main site, only the dialog.  I am defining an orphan as any dialog that closes without generating an assertion.

https://github.com/mozilla/browserid/pull/1807/files#L3R79

self.success is set to true if the user is redirected to their IdP to authenticate (s

[2012-06-25 16:27] lloyd commented on #1748
merged, upstream patched, all unit tests and selenium tests pass.  calling this good

[2012-06-25 16:27] #1748 closed, assigned to jedp

[2012-06-25 16:27] lloyd commented on #1778
I see no visible regression in our dev site after merging this pull request.  closing.

[2012-06-25 16:27] #1778 closed, assigned to shane-tomlinson

[2012-06-25 16:29] lloyd commented on #1793
headers now look right (must re-validate every time, but cachable and clients may use ETags):

[code]

All unit tests pass and manual testing works.  case closed.

[2012-06-25 16:29] #1793 closed, assigned to shane-tomlinson

[2012-06-25 16:30] #1278 closed, assigned to lloyd

[2012-06-25 16:30] lloyd commented on #1278
thank you @jrgm.  this was incredibly annoying.

[2012-06-25 16:31] lloyd commented on #1770
@jrgm please verify things are as you expect after the merge and reopen if anything needs attention!

[2012-06-25 16:31] #1770 closed, assigned to jrgm

[2012-06-25 16:36] lloyd commented on #1777
verified tab order sucks on stage, and rocks on dev (after merge).  closing.

[2012-06-25 16:36] #1777 closed, assigned to shane-tomlinson

[2012-06-25 16:38] lloyd commented on #1548
I can reproduce on stage, but no longer on dev.  fixified.

[2012-06-25 16:38] #1548 closed, assigned to shane-tomlinson

[2012-06-25 19:03] shane-tomlinson commented on #1709
@jrgm - this is an MIUI ROM, a third party aftermarket, are these common?

[2012-06-25 19:17] mattbasta commented on #1709
It's a Droid X that's been rooted/flashed with MIUI; it wasn't purchased with it installed.

[2012-06-25 21:23] seanmonstar commented on #1797
@shane-tomlinson to try checking for cookies from JavaScript, we can just set a dummy cookie, and try to read it back out.

[code]

[2012-06-25 22:04] jrgm commented on #1829
Closing. eyedee.me adapted for the new genKeyPair in https://github.com/lloyd/eyedee.me/pull/12

[2012-06-25 22:04] #1829 closed, assigned to nobody

[2012-06-25 23:40] sawyerh commented on #755
I have a working prototype of this on my password-strength-ux branch (https://github.com/sawyerh/browserid/commit/c1e9c233a98004ce08f1e2cad10560a0481c34dc)

Right now it's only checking the length — wasn't sure what standards you want for each level (weak/minimal/strong).

[2012-06-25 23:50] sawyerh commented on #755
Here's a quick video demo of what I have at the moment - http://www.screenr.com/rtl8

[2012-06-26 00:23] jrgm commented on #1731
verified for train-2012.06.22

[2012-06-26 04:06] jrgm commented on #1732
Verified in dev where kpi in on (data_sample_rate:1 in session_context). The server timestamp is rounded to the nearest 10 minute block.

Notes:
- this issue was opened about using epoch seconds not milliseconds and morphed into moving the logic for rounding the timestamp sent to /wsapi/interaction_data from the server to the client. The latter is done; @nmalkin if you feel strongly about epoch se

[2012-06-26 04:08] jrgm commented on #1701
These have been cleaned up in train-2012.06.22 (at least as far as jshint knows). Thanks @zaach!

[2012-06-26 04:58] jrgm commented on #1248
I know I'm the one who suggested to remove these redirects and add a zeus rule to handle these redirects.

So great, the futile redirects in the code are removed.

I was about to flie the ops bug for the zeus rule, and I know I suggested it, but I don't think it's worth it to add that overhead to zeus for URL that have been dead for months now. I'll close this bug tomorrow unless anyone feels stro

[2012-06-26 05:02] jrgm commented on #1046
Yep done.

[2012-06-26 05:17] jrgm commented on #1540
verified in current dev; still waiting for stage but lgtm.

[2012-06-26 07:51] lloyd commented on #1248
+1 for close, I don't feel strongly about maintaining redirects.  @vthunder @callahad ?

[2012-06-26 08:47] shane-tomlinson commented on #1732
@jrgm - I can just as easily round down, is there one which would be of more use than the other?

@nmalkin - +1 to @jrgm's comment, if you want this in seconds, can you open another issue?  We could take it a step further, save a few bytes, and chop off the last 5 digits which are all 0 because of the rounding to the nearest 10 minutes.

[2012-06-26 08:52] shane-tomlinson commented on #1797
@seanmonstar - that is exactly the approach I am taking in https://github.com/mozilla/browserid/blob/dev/resources/static/shared/network.js#L671-682.  Could it be because I am setting the max-age to 1 instead of using an expires?

I just found on http://mrcoles.com/blog/cookies-max-age-vs-expires/ that IE8 does not support max-age.  This is enough of a reason to update the check.

[2012-06-26 09:06] #1794 closed, assigned to shane-tomlinson

[2012-06-26 10:17] lloyd commented on #1732
I feel like it's slightly more ergonomic to have the timestamp be period start time.  so the 10 minutes starting at time X.

I'm thinking that a common case will be looking at failure spikes and trying to correlate them to events.  If I'm trying to understand the affect of an event that occured at 12:55, I look at the period of 12:50 and beyond.

my 2 cents on a nit, as @jrgm notes.

[2012-06-26 14:53] callahad opened #1844 "Opera 12 Freezes on Signin"
Reported via the mailing list at http://groups.google.com/group/mozilla.dev.identity/msg/caddd863207c2228

"With Opera the popup window freezes after clicking Sign In.  However, if you then close the popup and refresh the main page (123done.org) it turns out you are signed in to the site.

Opera Version 12.00
Build 1467
Platform Win32
System Windows 7"

[2012-06-26 14:55] callahad commented on #1248
I don't feel strongly either...

[2012-06-26 16:29] jedp commented on #1732
+1 for rounding down

[2012-06-26 18:26] jrgm commented on #1732
I was just noting the difference, and am fine with the current, but it appears rounding down is the cool kids preference ;-)

[2012-06-26 20:24] jrgm commented on #1844
This is my failure. It turns out I have not tested Opera in a while. The dialog works fine and has a valid certificate, but the callback from navigator.id.get is not called. This also fails on the Mac, and `<strike>`for either 11.64 or`</strike>` 12. I suck.

[2012-06-26 21:35] jrgm commented on #1844
Actually correction to the above. 11.64 works on Mac, Linux, Win7. Opera 12, released Jun 14, fails on Mac, Linux, and Win7.

[2012-06-26 22:49] jrgm opened #1845 "[stage] cross-origin issues with fonts"
STR
1. Start up firefox, open the error console and load https://login.anosrep.org

In the error console, there are multiple errors like:

[code]

[2012-06-26 23:09] warner commented on #1845
From https://developer.mozilla.org/en/http_access_control and http://www.webfonts.info/resources/browser-support I get the sense that 1: this restriction is intended to discourage hot-linking of fonts (from other people's sites, without permission), and that 2: FF is the only browser which imposes this restriction.

[2012-06-26 23:51] jrgm opened #1846 "[stage] beta.123done.org does not finish loading the sign in button."
STR
1. Load http://beta.123done.org in FF or Chrome

The loading.gif image just continues to spin, and the sign in button is never shown.

I notice that the iframe is written with src = 'https://diresworb.org/communication_iframe', the GET of that src returns a redirect to 'https://login.anosrep.org/communication_iframe' which then loads content that has '  <script src="https://diresworb.org/v/b7c

[2012-06-27 00:10] jrgm opened #1847 "[stage] /sign_in dialog on login.anosrep.org does not work"
Security Error: Content at https://diresworb.org/ may not load data from https://login.anosrep.org/sign_in.

The dialog URL is https://login.anosrep.org/sign_in, but it loads scripts from '`<script src="https://diresworb.org/v/efe04150e0/production/en_US/dialog.js">`'.

[2012-06-27 01:26] jrgm commented on #1709
lowered to four-star

[2012-06-27 02:26] jrgm commented on #1248
Ok, closing. These will now be 404 if they are ever actually requested, which I doubt.

[2012-06-27 02:26] #1248 closed, assigned to lloyd

[2012-06-27 03:40] jrgm opened #1848 "dismissing /sign_in -- Error: b.setStagedOnBehalfOf is not a function"
STR:
1. checkout and npm install train-2012.06.22
2. npm start
3. Load 127.0.0.1:10001 in FF and open Error console
4. Click 'Get an assertion' and then just close the popup window

Expected: nothing in Error console

Actual:

[code]

Missed one in https://github.com/mozilla/browserid/commit/05df1ff2aa9642c9dc82ee75318f7afbb520ea1b

[2012-06-27 08:48] shane-tomlinson commented on #1848
@jrgm - This was fixed in checkin b1f30fba on 06.20.2012.  https://github.com/mozilla/browserid/commit/b1f30fba#L3L66.  This got merged in to dev on 06.26.2012.  Closing as already fixed.

[2012-06-27 08:48] #1848 closed, assigned to shane-tomlinson

[2012-06-27 09:33] shane-tomlinson commented on #796
@jbonacci - I'm not sure this is really a 4*, but I agree that we should investigate the problem and what possible solutions exist.  What percentage of the market is using GCF?  Is it substantial enough to consider it an A-Grade browser?  Is GCF more popular than other unsupported browsers like Dolphin?  Is it worth putting GCF over other features/issues or is it a "nice to have"?

[2012-06-27 09:49] shane-tomlinson opened #1849 "Round server timestamp DOWN."
link to #1732

[2012-06-27 12:30] hwinkler commented on #796
When you're investigating usage statistics, keep in mind that there's a metric you need to consider with GCF that doesn't apply to Dolphin and other browsers: how many web sites offer a GCF header or meta tag? People don't install GCF out of thin air and browse the web with it. They encounter web sites that suggest or require that they install it.

In our case we require IE users install GCF becau

[2012-06-27 14:38] shane-tomlinson opened #1851 "images on new /about page are not cachified."
They are not yet hooked up to @ozten's awesome connect-cachify so they do not have the correct caching.

[2012-06-27 15:07] #1849 closed, assigned to shane-tomlinson

[2012-06-27 17:40] shane-tomlinson commented on #1686
@ozten, @mathjazz - is this still an issue?

[2012-06-27 17:57] shane-tomlinson commented on #742
@vmunix - do we have any monitoring on this now?

[2012-06-27 18:03] shane-tomlinson commented on #893
@benadida, @skinny97214 - are we still considering this?

[2012-06-27 18:05] benadida commented on #893
post beta, at this point.

[2012-06-27 18:09] shane-tomlinson commented on #982
@lloyd - this is a problem on dev.123done.org with third party cookies disabled.  When signing in, the assertion is returned to the RP, the user appears to be signed in and then immediately signed out.

[2012-06-27 18:18] shane-tomlinson opened #1854 "Need a reasonable approach to Android "Cannot Establish Relay Frame" error"
This error is displayed to users under several circumstances:

1) The user has multiple browsers and does not have a default browser selected when they open the BrowserID dialog
2) The user has a different browser set as default to the one they are browsing the RP with.
3) They use the MIUI ROM

For Android users, it would be nice if we had special instructions with a link to MDN helping them to s

[2012-06-27 20:48] shane-tomlinson commented on #1730
closed with b1f30fb

[2012-06-27 20:48] #1730 closed, assigned to shane-tomlinson

[2012-06-27 21:57] jrgm opened #1855 "compress TTF font files"
I'm a total newb with webfonts, but I was looking at network logs... The TTF font files we serve to some browsers are ~250KB. Default gzip cuts that to ~125KB.

So, either we should serve those with gzip transfer encoding, or if there is some preprocessing tool for TTF, use that.

[2012-06-27 22:46] jrgm opened #1856 "windows (xp/win7) - main site font issues"
1. the 'Signup' button is on two pieces
2. the fonts have some defects (Not sure if this 3 times copied image will show this that well, though).

![img](https://img.skitch.com/20120628-fpqq65546atyh6bc9gx7nhgnad.png)

[2012-06-27 23:03] jrgm commented on #1856
Actually, the characters are also a bit jagged from Chrome, FF, Safari on this win7 VM. Not IE though.

[2012-06-27 23:58] jrgm commented on #1733
verified on stage train-2012.06.22

[2012-06-28 00:00] jrgm commented on #1248
verified on stage train-2012.06.22

[2012-06-28 10:11] david-caro opened #1859 "Rpm version string improvement"
Hi,
I'm using the browserid server at work, and the version string does not adapt to the requirements of the company. I'd like to change the version string to something a little more descriptive, here's my proposal (as I explained to fetep):

_Major.branch[-num-commits_hash-of-last]_

**Version string (just modified a little):** _MAJOR.tagname/branchname_
This is the the closest tag name (or the b

[2012-06-28 11:57] chrismendis commented on #1532
+1

[2012-06-28 14:27] csuciu commented on #1846
I'm still seeing this issue on mobile Firefox 14 (build from Google Play) and on Android stock browser.
The loading image continues to spin, and the sign in button is never shown.

Doesn't occur on Fennec Beta, Nightly and Dolphin

[2012-06-28 15:19] shane-tomlinson opened #1861 "html5shim.js is not connect-cachified"

[2012-06-28 16:11] jamesgecko commented on #262
The current UX instructs the user to enter their email address to "sign in" to the page. The first time I saw that, I closed the popup window and went back to the website to see if I'd missed a "sign up" link.

[2012-06-28 16:32] jrgm commented on #1846
Can you check that cookies are enabled in the profile for those browsers?

[2012-06-28 16:42] lloyd commented on #1859
@fetep what do you think about an update to rpm scripts to append sha to version?

[2012-06-28 16:47] lloyd commented on #1855
@fetep - this should just be adding a mime type to a list in nginx, right?

[2012-06-28 16:48] csuciu commented on #1846
Yes, cookies are enabled for both browsers

[2012-06-28 16:49] lloyd commented on #1854
4 star for better copy, and we go from there.

[2012-06-28 16:52] #1847 closed, assigned to nobody

[2012-06-28 16:53] jrgm commented on #1845
This was due to a config issue on stage with content served for diresworb.org from login.anosrep.org URL.

[2012-06-28 16:53] #1845 closed, assigned to nobody

[2012-06-28 16:55] lloyd commented on #1840
@sawyerh please take a look at this and advise

[2012-06-28 16:58] jrgm commented on #1835
Also https://github.com/mozilla/123done/issues/36

[2012-06-28 16:58] fetep commented on #1855
yeah. right now we have `gzip_types text/html application/javascript text/css;`

[2012-06-28 16:59] lloyd commented on #1836
+1 the test should match the requirements of the server!

[2012-06-28 17:04] lloyd commented on #1832
retest!

[2012-06-28 17:05] lloyd commented on #1826
hey skinny, heres a thing

[2012-06-28 17:07] skinny97214 commented on #1826
Follow smartell's mock

http://f.cl.ly/items/2d3E30203E3f1d293N2W/persona-login-old.png

[2012-06-28 17:11] shane-tomlinson opened #1862 "Translate the main site"
Comes from #1824

[2012-06-28 17:12] shane-tomlinson commented on #1824
Closing in favor of #1862

[2012-06-28 17:12] #1824 closed, assigned to nobody

[2012-06-28 17:12] seanmonstar opened #1863 "alias en_UK et al to en_US"

[2012-06-28 17:13] seanmonstar commented on #1824
Also see #1824

[2012-06-28 17:14] lloyd commented on #1863
talk to @lloyd for context!

[2012-06-28 18:01] seanmonstar commented on #1851
@shane-tomlinson are the other images supposed to be cached already? such as the grain.png, the logo, etc? Because those don't seem to be either...

[2012-06-28 19:53] jrgm commented on #1713
Verified stage train-2012.06.22. See https://github.com/mozilla/browserid/issues/1745#issuecomment-6639681

[2012-06-28 20:51] jrgm opened #1866 "[windows/opera] new layout main site: even if content fits on screen, scroll bar appears."
Follow on from GH-1693 - the scrollbar does not appear on all other browser/os combinations, except for Opera on Windows.

[2012-06-28 20:52] jrgm commented on #1693
verified on stage train-2012.06.22 -- the scrollbar does not appear on all other browser/os combinations, except for Opera on Windows.

Filed GH-1866 specifically for Opera on Windows

[2012-06-28 21:39] jrgm commented on #1734
verified on stage train-2012.06.22 - there is no flash of the email address either signing up new, or adding a user; re-using an already registered verify link brings up the new style dialog.

[2012-06-28 21:45] jrgm commented on #1497
veriified stage train-2012.06.22 - re-using a token, or using an invalid token bring up the new style error message.

[2012-06-28 22:03] seanmonstar commented on #796
Is this not simply a case of the originating page (myfavoritebeer.org) being from GCF, but the dialog rendering with plain IE (since it's a new window, without the gcf: prefix), and so they can't communicate?

[2012-06-29 00:52] jrgm commented on #1761
verified against stage train-2012.06.22 with an awsbox converted to an rp. Also tried getting something not nice done with the params but didn't find a way, and tried out an oversize image, which was handled as expected by the CSS.

[2012-06-29 01:48] hwinkler commented on #796
Sean, yes. Here's a reference: http://www.chromium.org/developers/how-tos/chrome-frame-getting-started/differences-between-chrome-and-chrome-frame#TOC-Popup-windows-and-window.opener

[2012-06-29 03:44] stuartparmenter opened #1867 "ActiveX not not available with Windows 8 Metro"
In micrajax.js, in getXHRObject(), it checks for window.ActiveXObject before window.XMLHttpRequest which causes bad things to happen when trying to use BrowserID within a Metro app.  Changing the ordering of these fixes the problem and is consistent with Microsoft (http://blogs.msdn.com/b/ie/archive/2011/08/31/browsing-without-plug-ins.aspx).  I have verified this locally.

[2012-06-29 10:00] #1851 closed, assigned to seanmonstar

[2012-06-29 10:00] #1861 closed, assigned to seanmonstar

[2012-06-29 10:25] shane-tomlinson opened #1869 "skip provisioning if dialog opens with #AUTH_RETURN_CANCEL"
Related to issue #1502, PR #1858.

When the user returns from an IdP authentication via the "raiseProvisioningFailure" mode, an unnecessary attempt is made to provision the user.

[2012-06-29 10:36] #1502 closed, assigned to nobody

[2012-06-29 11:16] #1805 closed, assigned to lloyd

[2012-06-29 11:54] ghost opened #1870 "identification fails on chrome for iOS (iPad/iPhone)"
When trying to do identification on chrome for iPad, we get the following error:

Action: Establishing Relay
Relay frame could not be found

[2012-06-29 12:05] tonychung commented on #1870
Can u check if your browser cookies are enabled?

[2012-06-29 12:31] shane-tomlinson opened #1871 "authenticate_with_primary.ejs includes winchan.js auth_with_idp/main.js without being cachified."

[2012-06-29 12:47] shane-tomlinson opened #1872 "templates are not making it into compiled resources."

[2012-06-29 12:48] shane-tomlinson opened #1873 "remove requiredEmail legacy code."

[2012-06-29 12:51] ghost commented on #1870
Yes, cookies are enabled :

Menu -> Settings -> Content Settings -> Accept Cookies = On

[2012-06-29 14:28] skinny97214 opened #1874 "add product tour to the popup"
Currently, if a user clicks the "learn more" link, they're directed out of the popup, to the "how it works" page on browserid.org. We should keep them in the popup and use the same content that's on the new /about page.

[2012-06-29 14:30] #1872 closed, assigned to lloyd

[2012-06-29 14:32] lloyd opened #1875 "in dev mode, templates are not substituted"
manifestation is clicking on ToS / PP links in dialog points at production, not local instance.

This was uncovered by the merging of Persona tos/pp links in dialog.

[2012-06-29 15:19] #1875 closed, assigned to lloyd

[2012-06-29 15:25] shane-tomlinson commented on #1240
It just got MERGED.  closing.

[2012-06-29 15:25] #1240 closed, assigned to shane-tomlinson

[2012-06-29 15:46] lloyd commented on #1526
how do you guys feel about depending on https://github.com/chriso/node-validator ?

/cc @ozten @shane-tomlinson @benadida @fmarier @warner @zaach

[2012-06-29 16:22] benadida commented on #1526
looks good on quick overview, your call!

[2012-06-29 16:24] ozten commented on #1526
Same feedback here. Maybe sanity test performance before adding it extensively. Has a good amount of followers and forks.

[2012-06-29 16:26] shane-tomlinson commented on #1475
This is a duplicate of #1822.  The flashed message is the relay frame error.  Closing this.

[2012-06-29 16:26] #1475 closed, assigned to nobody

[2012-06-29 16:29] callahad opened #1878 "Firefox showing Unsupported Browser dialog"
Reported by @carlacasilli on Yammer. Screenshots are attached to https://www.yammer.com/mozilla.com/#/Threads/show?threadId=187338156

It appears that she's at least using AdblockPlus, NoScript, and TrackerBlock, but I can't reproduce her failure mode.

Symptoms: The popup shows the unsupported_dialog ("We are sorry, but currently your browser is not supported.") The homepage at browserid.org load

[2012-06-29 17:03] lloyd commented on #1526
good point, @ozten.

I expect this will be a really cheap change to make - and I need it for some UX changes.  I'll investigate in a branch, get some numbers on perf, and if that looks good, serve up a PR to you two.

[2012-06-29 17:31] sawyerh commented on #1325
@skinny97214:

Proposed design solution:
- Currently: http://d.pr/i/4JvG and http://d.pr/i/jqnG
- Proposed solution: http://d.pr/i/WIWB (at least for landscape)

[2012-06-29 18:12] sawyerh commented on #1517
@lloyd / @shane-tomlinson - This is being caused because the site is using the device width rather than the iOS popup window's width. Removing `width=device-width` from the viewport meta tag seems to fix the issue — I don't believe this breaks anything since we're setting the initial-scale and minimum-scale.

[2012-06-29 18:28] sawyerh commented on #1091
@shane-tomlinson / @skinny97214 - I see there are now cancel buttons in the design (http://d.pr/i/D0Ky), was this a proposed solution to the undo/back functionality you were looking for?

[2012-06-29 21:08] sawyerh commented on #868
@shane-tomlinson - I've updated the styles and this issue should be fixed now. Pull request sent. (https://github.com/sawyerh/browserid/commit/3e5ad5dc875e0e07e9a4d88dbec8dd3330eed961)

[2012-06-29 21:10] sawyerh commented on #1093
@shane-tomlinson - I've added styles and a loader.gif asset, but wasn't sure what buttons this should be applied to or which .js file to implement that functionality in. All that really needs done is to apply a `loading` class to the `button`

https://github.com/sawyerh/browserid/commit/e7a3f0145e33987ff4f6a6db3efc65c528965339

[2012-06-29 21:35] sawyerh opened #1880 "Password strength standards?"
I'm working on a password strength indicator (#755) and have it basically working — the one thing that I need input on is what our standards are for a strong password and minimally secure password (length, what characters are included, etc.)?

[2012-06-29 22:33] warner commented on #1526
seems reasonable. What I always look for is annotation at a code boundary which tells the reader what assumptions are safe for them to make about the incoming data. So an `exports.args` isn't a bad way to go. The place where these schemes usually get hung up is on the type language: how to distingush between strings, strings that are really interpreted as email addresses, strings that are really i

[2012-06-29 23:06] warner opened #1881 "demo siteLogo fails (not served over HTTPS)"
When you use `npm start` to spin up a local test server, and use the "Supply Site Logo" button on the demo RP at `localhost:10001`, the resulting browserid login dialog gives an error, because the `siteLogo` URL is not being served over SSL. For real RPs this is the right thing to do, but for the local demo it just prevents use from exercising the `siteLogo` feature.

I think the test should actua

[2012-06-29 23:21] #1827 closed, assigned to seanmonstar

[2012-06-29 23:26] nmalkin commented on #1880
The Dropbox tech blog recently had [a great article about realistic password strength estimation](http://tech.dropbox.com/?p=165). They looked at the current solutions, analyzed the threat model, and came up with their own [library for estimating password strength](https://github.com/lowe/zxcvbn) (in JavaScript, too!). It seems, at the very least, like a good starting point.

[2012-06-29 23:28] nmalkin commented on #1827
Thanks, Sean!

[2012-06-30 00:52] seanmonstar commented on #1856
My google-fu tells me that IE does magic, and makes it look good, and other browsers don't. And there's no decent CSS properties you can set to make it look better (text-shadow is already set), so my only other conclusion is that the hinting isn't good? But I ran the font through both font-squirrel and ttfautohint, and got the same results.

Maybe just a different font for Windows?

[2012-06-30 02:13] jrgm commented on #1846
We're morphing this bug a bit, which isn't great, but anyways. The original issue is resolved (it had to do with the content from login.anosrep.org refering to content from diresworb.org).

I'll note that in addition to cookies disabled there are (at least) two other reasons that (beta.)?123done.org can be in a this 'permanent spinner' state.
1. Failure to load GET /include.js from browserid.org (

[2012-06-30 03:12] jrgm opened #1883 "jshint "Bad option: 'jQuery'""
@shane-tomlinson I was working on something else and was stealing your jshint advice lines and noticed that jshint was saying "Bad option: 'jQuery'" when I ran it. It seems that should be 'jquery: true' not 'jQuery: true' (at least for current jshint 0.7.1 version).

[2012-06-30 03:26] jrgm opened #1884 "copy change 'two weeks' to 'four weeks' for 'is this your computer?'"
We changed this duration from two to four weeks, but the text was not updated. This is an image from train-2012.06.22

![img](https://img.skitch.com/20120630-ngfkrkkjui7easjy9rrcndgqu9.png)

[2012-06-30 03:47] seanmonstar commented on #1827
@nmalkin is that correct? passing `{ orphaned: false}`, so you know it was orphaned and then adopted, or should I just delete the `orphaned` property out of it?

[2012-06-30 03:49] jrgm opened #1885 "win7/opera 11.64 - main site layout issue with split signup button"
I'm splitting out this issue from GH-1856 where initially I thought both the font and signup button layout issue were just for Opera. The font issue also affects other browsers on windows; I've only seen the split signup button on Opera/windows.

So this issue is about the "split button" layout.

![img](https://img.skitch.com/20120628-fpqq65546atyh6bc9gx7nhgnad.png)

[2012-06-30 03:53] jrgm commented on #1856
I split out the issue about the split signup button on Opera to GH-1885.

So this issue is just about the font display issues on windows for non-IE browsers.

@seanmonstar yeah, I think windows uses eot (at least in some cases) but I know zero about webfonts.

[2012-06-30 03:53] jrgm commented on #1856
I split out the issue about the split signup button on Opera to GH-1885.

So this issue is just about the font display issues on windows for non-IE browsers.

@seanmonstar yeah, I think windows uses eot (at least in some cases) but I know zero about webfonts.

[2012-06-30 04:04] seanmonstar commented on #1856
@jrgm Firefox debugger was showing requests for the .woff font file.

[2012-06-30 04:36] nmalkin commented on #1827
That's what I had in mind. I think it's clearer if it's set to false than if it's missing altogether.

[2012-06-30 06:29] jrgm commented on #1848
@shane-tomlinson by already fixed, you mean you're cool with this problem going into production next week?

[2012-06-30 07:15] jrgm commented on #1666
I haven't seen this again in the past month. So closing. Probably better to process.on('uncaughtException', ...) and just log these transients until there's a pattern or a v0.8 build of node.

[2012-06-30 07:15] #1666 closed, assigned to jrgm

[2012-06-30 08:09] lloyd commented on #1880
currently the _only_ requirement on passwords is that they are 8 chars.  If we wanted to leave that constraint in for the first phase, then this would be the point which the button becomes clickable - minimal acceptance.

For an algorithm to generate a score from a password, I'd suggest something that considers a longer password with fewer distinct character classes present, as secure as a shorter

[2012-06-30 08:32] lloyd commented on #1880
oh, didn't see @nmalkin 's suggestions.  That looks like the _real_ answer, but adding 700k to our dialog load seems a non-starter...  Here's a tiny hack of what I mention above: https://gist.github.com/3022958

[2012-06-30 08:41] fmarier commented on #1526
I like your approach. The lack of consistency in input validation / sanitization is one of the things I picked up in my review of the WSAPI code.

[2012-06-30 09:29] #1826 closed, assigned to shane-tomlinson

[2012-06-30 13:12] skinny97214 commented on #1702
@jbonacci Assigning 4 stars bc you think it's easy to fix?

[2012-06-30 13:20] callahad commented on #1883
I've submitted a pull request for the jshint docs, since they inconsistently refer to `jQuery` in one place: https://github.com/jshint/site/pull/52

Edit: Oh, hey, I'm an idiot. I should read things more better. And not try to fix them at 6 AM local.

[2012-06-30 14:41] skinny97214 opened #1886 "[next] button on sign in screen flickers blue/grey/blue"
Once you've clicked the [next] button on the sign in screen for new users, it correctly changes to grey (inactive) for a second, then reverts to blue. It should stay grey.

[2012-06-30 14:56] mathjazz commented on #1686
@shane-tomlinson No.

[2012-06-30 15:17] lloyd opened #1887 "use siteName rather than domain in emails"
When available (website using .watch() api and providing `siteName`), we could make our emails more human by including the name in the email.

/cc @skinny97214

This depends on issue #1526 - before we add more arguments to our API, we should clean up the validation of these arguments.  a worthwhile yak to shave.

[2012-06-30 15:17] skinny97214 commented on #1325
Can we shorten the input enough to slide in the [next] button to its right?

[2012-06-30 18:28] lloyd commented on #1099
done with site wide copy update, closed by issue #1889

[2012-06-30 18:28] #1099 closed, assigned to billder

[2012-06-30 18:28] shane-tomlinson commented on #1580
closed by issue #1889.

[2012-06-30 18:30] lloyd commented on #1297
done with site wide copy update, closed by issue #1889

[2012-06-30 18:30] #1297 closed, assigned to billder

[2012-06-30 18:32] lloyd commented on #1884
done with site wide copy update, closed by issue #1889

[2012-06-30 18:32] #1884 closed, assigned to nobody

[2012-06-30 18:33] #1867 closed, assigned to shane-tomlinson

[2012-06-30 18:33] lloyd commented on #696
done with site wide copy update, closed by issue #1889

even better with html email and issue #1887

[2012-06-30 18:33] #696 closed, assigned to lloyd

[2012-06-30 18:35] skinny97214 opened #1890 "HTML mocks of emails"
See issue #1070 for mocks and specs

[2012-07-01 21:57] shane-tomlinson opened #1892 "add email screen: "Checking with your email provider" message not removed after addressInfo completes."
STR

1) Open up dialog
2) sign in if not signed in
3) Click "add another address"
4) Add a new secondary address
5) close dialog
6) Open dialog
7) Click "add another address"
8) Enter same address - tooltip will be shown, "checking with your email provider." is not removed.

[2012-07-02 05:37] jrgm commented on #1710
Okay. I understand what was happening. Until some recent changes to jwcrypto by @benadida, the root.cert on dev and ephemeral deployments did not have an issued at time in the certificate. [My failures both occurred against dev (which I was using because stage had not been deployed for train-2012.06.08)].

So, with no issued time in the cert, /wsapi/session_context returns 'null' for domain_key_cr

[2012-07-02 05:37] #1710 closed, assigned to nobody

[2012-07-02 07:59] shane-tomlinson opened #1893 "dev: email displays "undefined" in "add email" confirmation page"
STR

1) open dialog with a secondary email
2) Click "Add another email"
3) Enter new secondary address
4) Hit enter
5) Verify screen shows "Check your email at undefined. "

[2012-07-02 08:04] shane-tomlinson opened #1895 ""email verification" copy on main site needs updated to match dialog."
This affects sign up and forgot password.

[2012-07-02 08:09] shane-tomlinson opened #1896 "layout of "assertion->password" level authentication screen needs updated to match new styles."
The screen the user enters whenever they are authenticated to the assertion level, selects a secondary address, and must enter their password needs updated to match the new authenticate screen.

[2012-07-02 09:52] shane-tomlinson opened #1898 "too much button flicker!"
The submit button on the authentication screen flashes several times whenever the information is being retrieved for the email address.  It looks ugly.

[2012-07-02 10:00] #868 closed, assigned to shane-tomlinson

[2012-07-02 10:00] #1517 closed, assigned to sawyerh

[2012-07-02 10:30] shane-tomlinson opened #1899 "dev: /wsapi/authenticate_user after account creation verification being called without email."
STR

1) Open dialog
2) If signed in, sign out.
3) Enter unknown secondary email
4) Enter new password, go to verification screen.
5) Open verification link in new tab.
6) authenticate_user failure

http://10.246.29.67:10002/wsapi/authenticate_user

[code]

[2012-07-02 10:45] shane-tomlinson commented on #1899
This is another manifestation of #1893, closing.

[2012-07-02 10:45] #1899 closed, assigned to shane-tomlinson

[2012-07-02 11:19] shane-tomlinson commented on #1886
duplicate of #1898, closing.

[2012-07-02 11:19] #1886 closed, assigned to seanmonstar

[2012-07-02 11:19] #1883 closed, assigned to nobody

[2012-07-02 11:36] shane-tomlinson opened #1901 "tabindex on authenticate page is out of order with new layout."

[2012-07-02 17:02] #1564 closed, assigned to nobody

[2012-07-02 17:29] #1834 closed, assigned to nobody

[2012-07-02 18:41] warner commented on #1880
That library does look pretty cool. I suspect the 700k (which only gets pulled down when you create an account or change your password, BTW) could be reduced a lot by using a Bloom Filter (finally! a use for a Bloom Filter!), but that'd involve a lot of code hacking.

Could we grab the zxcvbn code and just leave out the big dictionary?

The **real** real answer is to generate passwords for the use

[2012-07-02 18:45] gene1wood opened #1903 "Falsely detects that cookies aren't enabled"
This may not be a problem with browserid, it could be with https://id.etherpad.mozilla.org/

Here's what happened.

I clicked this link in my irc client :

https://id.etherpad.mozilla.org/

which opened a new tab in Firefox (13.0.1)

etherpad said to sign in with browserid so I clicked the signin button.

A new browser window popped up and went through a sequence of redirects (too fast for me to r

[2012-07-02 18:46] gene1wood commented on #1903
Here are the screenshots : http://imgur.com/a/PKqkZ

[2012-07-02 20:57] sawyerh commented on #1890
@shane-tomlinson / @skinny97214 / @lloyd  - I have an HTML email template coded up (https://gist.github.com/3035638). I'm not familiar enough with Node to integrate it with what's currently there (or know how to test that) — if someone wants to walk me through that sometime. This template is also pulling a few assets from the static.dev.anosrep.org domain, since I couldn't find those assets on the

[2012-07-02 21:24] sawyerh commented on #1880
By the way, here's a demo of the updated UX — http://www.screenr.com/y7Z8 — we don't start the user off by displaying a red or yellow text field and wait until they have a strong password or backspace before applying a visual representation of the strength. Hopefully this can reduce the game between code and user as @warner mentioned (and not be as intimidating)

[2012-07-02 22:13] sawyerh commented on #1880
I have a working implementation of @lloyd's approach over here https://github.com/sawyerh/browserid/tree/password-strength-ux

This can be switched out with a more bulky approach like zxcvbn though if you feel that would be better and are okay with the size of it, just let me know.

[2012-07-02 23:47] lloyd commented on #1880
deployed and visible at http://strength.123done.org

[2012-07-02 23:49] seanmonstar commented on #1844
I can get this happen on dev.123done.org, but not locally, and there error says "Security violation", so I assume it's because the domains differ on 123done, but not on local build.

There error is triggered in `cleanup`, specifically trying to do `w.close()`, after getting a `response` message: https://github.com/mozilla/browserid/blob/dev/resources/static/include_js/include.js#L778

[2012-07-03 00:00] lloyd commented on #1890
woohoo!  more awesomes!

I would love to work with you on this and give you context.  Or I could integrate one email, and then you could jump in and do the other two.  (currently we're sending out three distinct emails, that will change to more in the near future.

The soonest I could get to this is probably thurs or friday as I'm gettin all transatlantic tomorrow.

[2012-07-03 00:16] sawyerh commented on #1890
@lloyd I think if you're able to integrate one, I should be able to follow your lead. Or whatever is easiest for you.

[2012-07-03 01:52] seanmonstar commented on #1844
I've done several more combinations of testing, trying to isolate the error. I've tested locally with different domains, and with a redirect for the script (I had noticed 123done.org has the URL dev.diresworb.org/include.js, but it redirects), and nothing.

The only thing I haven't been able to successfully test is if the issue comes from dev.123done.org being on HTTP, and the popup is HTTPS. Are

[2012-07-03 03:16] jrgm commented on #1844
I'll switch an awsbox version of 123done.org back to https, and update here in a few minutes.

[2012-07-03 04:02] jrgm commented on #1844
I'm assuming you want this instance to use https://login.dev.anosrep.org/ (f.k.a. dev.diresworb.org), right. Anyways, https://j123done.personatest.org/ is now (hackily) using https://login.dev.anosrep.org/ for content and verifier. Let me know if you have a problem with it.

[2012-07-03 04:24] seanmonstar commented on #1844
Thanks for that. I still get a `Security violation`.

My test case currently is a simple HTML page loading a downloaded copy of the include.orig.js. If I edit the `ipServer` variable to point at my localhost, it works fine. Pointed at https://login.dev.anosrep.org fails. I'll see what I need to do to run it locally on https in the morning.

[2012-07-03 08:15] wrr commented on #1844
Isn't the problem related to the 'Strict-Transport-Security' header?

This is a fairly new header and the new release of Opera adds support for it. The header prevents browser from sending any HTTP traffic to the domain (and optionally all subdomains). https://login.dev.anosrep.org/ sets the header (Strict-Transport-Security    max-age=2592000; includeSubdomains), maybe the behaviour you observe i

[2012-07-03 11:01] lloyd opened #1905 "Dialog displaying wrong translations"
In our dev environment we're now extracting strings on every push, with the intention of making it so we can always meaningfully debug translations against dev.

The problem is english translations are off.

![translations off](https://img.skitch.com/20120703-ch8hi7jp3wmxqf61176h8bqn2i.png)

Notice that the fields here say "reset password" rather than "create password" and "verify password".  @ozt

[2012-07-03 11:01] lloyd commented on #1905
/cc @sawyerh

[2012-07-03 15:51] ozten commented on #1905
@mathjazz can you help with this issue?

In general - Mozilla web properties have en_US po files. What you see are the painpoints that other locales hit when we change or modify strings. It's kind of a nice warning signal as to what we'll have to give other locales a heads up on.

@mathjazz will know, but probably removing fuzzy strings will fix this.

[2012-07-03 18:12] sawyerh commented on #1325
@skinny97214 Something more like this (http://d.pr/i/b13C)? Are you aware of any button labels that are longer than 4 characters (next, done, back)?

[2012-07-03 18:19] skinny97214 commented on #1325
Yah, that's more of what I was thinking. We should check with Matej to see
what the worst case localization is. I do prefer this one if it can work in
all locales. Can it wrap to the line below if it exceed a certain width?
Need some schmancy detection I'm guessing.

[2012-07-03 20:06] jrgm commented on #1675
Ping. Any chance of getting this phrase fixed for the pending train. Just "Password" would be better than 'reset password'.
See http://irclog.gr/#show/irc.mozilla.org/identity/113028 for @AutomatedTester's comments.

[2012-07-03 20:30] jrgm commented on #1780
verified on stage train-2012.06.22 for FF.

[2012-07-03 20:48] jrgm commented on #1098
verified for stage and awsbox train-2012.06.22 - either siteName or siteLogo or both can be speciifed, etc., and using siteLogo on a non-https RP will produce the "mproper usage of API: only https sites can specify a siteLogo" error in the dialog.

[2012-07-03 21:12] jrgm commented on #1675
By the way, this is how dev currently appears, with focus tabbed to the 'done' button.

![img](https://img.skitch.com/20120703-xe5345td314pus217gpyegdkp2.png)

[2012-07-03 22:22] seanmonstar commented on #1844
The description of Strict-Transport-Security sounds like it shouldn't be affecting this at all, but I don't know for sure.

Either way, I'm having a heck of a time trying to reproduce this locally, or isolate what the exact issue is.

[2012-07-03 23:47] jrgm opened #1911 "not all static resources being served from static.login.anosrep.org"
The js and css are served from static.login.anosrep.org, but the images and fonts are coming from login.anosrep.org. GH-1741 says "static.login.anosrep.org will be the location all resources are served from"

For example here are the requests I see when doing the following with stage:

Load beta.123done.org (123done content omitted):

[code]

Click 'Sign in with Persona':

[code]

Load http://dire

[2012-07-03 23:51] jrgm commented on #1741
verified for stage train-2012.06.22 for notes above and in https://bugzilla.mozilla.org/show_bug.cgi?id=767708#c5, except for "static.login.anosrep.org will be the location all resources are served from". The resources are all 200 OK, but it appears js/css come from static.login.anosrep.org, while images/fonts come from login.anosrep.org. (GH-1911 not all static resources being served from static.

[2012-07-04 01:42] GHANONTEST commented on #671
I would absolutely LOVE to see this play out with come TLC and polish.  In the meantime I'm contemplating writing a PHP shim to achieve the same affect.

BTW, wouldthis require any special permissions or root access to install and enable, orwould it work on a standard shared hosting setup?

[2012-07-04 02:32] lloyd commented on #1911
Nice find!  Non-critical for this train, but we certainly should fix it!

--lloyd

On Jul 3, 2012, at 5:48 PM, John Morrisonreply@reply.github.com wrote:

[2012-07-04 14:35] lloyd opened #1912 "experiment with node-memwatch in browserid for memory stats"
@jedp and I built this: https://github.com/lloyd/node-memwatch

This tool could give us baseline memory numbers we could report via statsd, as well as events when heap growth is positive for a long time.

We might want to see if this could provides us a tool for monitoring of memory, by having it config'd on in stage for a loadgen run.

For integration, I'd suggest we simply start with emitting th

[2012-07-04 22:51] lloyd commented on #1675
this issue is the same as GH-1905 - it is a problem with our english language "translations" we need to get this sorted as it's visible in stage too.

[2012-07-04 23:06] lloyd commented on #1905
I think all we need to do to fix this is to re-initialize the .po files for en_US and extract all strings.  I don't have permissions to do this.  Can someone who does have permissions help?

This issue affects production and makes our dialog look silly.  see also #1675.

[2012-07-04 23:15] lloyd commented on #1905
or better yet, just `rm -rf locale/en_US/`

[2012-07-05 09:58] mathjazz commented on #1905
@lloyd If I read correctly, you're now trying to ignore en-US PO/JSON files and display original strings instead? Looks good to me.

[2012-07-05 14:46] #1893 closed, assigned to shane-tomlinson

[2012-07-05 14:50] #1760 closed, assigned to shane-tomlinson

[2012-07-05 15:04] shane-tomlinson commented on #1903
@gene1wood - Thanks for the detailed description and screen shots, this is likely related to #1797.

[2012-07-05 16:09] lloyd commented on #1526
I have started this work in the `api_param_validation` branch, I should be able to complete it today and then do a quick performance comparison...  please have a peek and criticize as I go !

[2012-07-05 16:49] lloyd commented on #1856
@jrgm please verify that we're displaying non-latin locales legibly, and decrement priority if so.

[2012-07-05 16:57] lloyd commented on #1903
@jrgm can you work with @gene1wood to isolate this and understand affected users?

[2012-07-05 17:13] jedp opened #1916 "front-end tests timing out at /dialog/views/error.ejs"
getting this:

[code]

[2012-07-05 17:16] lloyd commented on #1880
@warner do you mind hearding this conversation to a decision?

[2012-07-05 17:18] lloyd commented on #1878
@jrgm plz dig in and adjust priority

[2012-07-05 17:22] lloyd commented on #1870
4 stars to diagnose

[2012-07-05 17:53] zaach commented on #1916
Seems to work for me:

[code]

[2012-07-05 17:53] jrgm commented on #1916
wfm phantomjs on osx

[2012-07-05 17:54] lloyd commented on #1905
@mathjazz we need a fix for this in the train we are rolling on monday, `train-2012.06.22`.

Can you _delete_ the en_US po files from svn?

I will make a patch to fix dev and ensure that en_US translations are not used from our side, but that patch is too risky to go in this train.

@jrgm - would you be ok with having @mathjazz delete the .po files before we generate strings today?

[2012-07-05 18:13] lloyd commented on #1905
fwiw, locally I checked out svn, deleted en-US, ran everything, and translations in en_US look great, other locales display as expected.

[2012-07-05 18:14] sawyerh commented on #1325
@skinny97214 - If the problem we're trying to solve is the button not being immediately visible, the small button won't always work for screens that have multiple fields or screens that have a lot of text above the fields (example: http://d.pr/i/NExy). This is an alternative to the original solution I posted - http://d.pr/i/31ys

I'm not sure if the button being "below the fold" is a major issue t

[2012-07-05 19:04] jrgm commented on #1856
I looked at all the locales on stage and they eyeball ok for FF on Mac. Gonna try chrome and IE in a bit. Lowering to 4-star.

[2012-07-05 19:08] seanmonstar commented on #1856
If font doesn't contain a character, it will drop down the font stack to the next font. So, perhaps the locales with cyrillic or greek etc alphabet render in Lucida Sans instead?

[2012-07-05 19:38] lloyd opened #1917 "why do we need node-gettext?"
node gettext requires iconv, which is the slowest building native dependency we have.  The frontend uses .json files, while the backend reads directly from .mo files.

I wonder.

because our i18n flow generates both `client.json` (strings needed on the client) files, and `messages.json` (strings needed on the server), could we use the `messages.json` strings (instead of binary .mo files) on the se

[2012-07-05 19:41] seanmonstar commented on #1917
if this is the only reference to iconv, then that would remove a big blocker to installing on Windows (#1769)

[2012-07-05 20:09] jrgm commented on #1856
Ah, true. I poked at this in firebug, removing the Open Sans from the style for Greek and Russian, and at least for those two, it was the Open Sans that was being used. But either way, we get something legible. So, that's fine.

[2012-07-05 20:48] #1892 closed, assigned to seanmonstar

[2012-07-05 20:57] shane-tomlinson opened #1919 "dev: button layout of "Remember You?" screen needs cleaned up"
STR

1) Open dialog
2) Sign in as a user if not signed in and open dialog again.
3) When at email picker, open development menu, click "force Is this your computer?"
4) Select email address
5) What's up with those buttons?

[2012-07-05 21:04] shane-tomlinson commented on #1896
@skinny97214 - I started to modify the "enter password" screen, but it could use some UI love.

![Assertion->Password enter password screen](https://img.skitch.com/20120705-qcerrtrwetdt48ntr2cx8fa53x.png)

[2012-07-05 21:23] shane-tomlinson opened #1920 "from skinny: slide the arrow off the screen."

[2012-07-05 21:26] jedp opened #1921 "A way to specify in the shell which front-end tests to run"
It would be helpful to have a way to specify smaller groups of tests or individual tests to run via the command-line.

@lloyd suggests

[code]

which sounds good to me

[2012-07-05 21:27] jedp commented on #1916
It's intermittent for me on Linux.  It works sometimes, times out sometimes.  I just re-ran front-end tests twice.  First time they passed; second time they timed out. :(

[2012-07-05 21:29] jrgm opened #1923 "/signup page - inconsistent "Verify Password" v. "Repeat Password""
On the signup page the label is 'Verify Password' and the placeholder is 'Repeat Password' . Shouldn't they be the same, or is this specifically intended to read this way. (Actually maybe just Password for the placeholder). If it's intended to be this way just close this issue.

![img](https://img.skitch.com/20120705-c84an889kquc6bitgr4igim8k5.png)

[2012-07-05 21:33] jedp commented on #1916
@zaach - whoah - 69 seconds?  These always take at least 170 sec on my quad i7 2.8GHz with Linux.  Dang!

[2012-07-05 21:36] sawyerh commented on #1840
Here's a quick video demo of what @st3fan outlined, to help us visualize what the current interactions are: http://www.screenr.com/FYZ8

I don't believe we want to automatically focus the field for the user on mobile. There's a lot less friction with tapping than there is with clicking since it's a more natural interaction, so I don't mind making them tap into the fields on mobile (assuming these

[2012-07-05 21:39] shane-tomlinson commented on #1923
@jrgm - this affects the forgot password screen as well.

[2012-07-05 21:43] lloyd commented on #1905
fixed in dev.

rolling out to stage: https://bugzilla.mozilla.org/show_bug.cgi?id=767708#c26

will be in production monday.

closing down this issue.

[2012-07-05 21:43] #1905 closed, assigned to lloyd

[2012-07-05 21:44] lloyd commented on #1675
fixed in dev.

rolling out to stage: https://bugzilla.mozilla.org/show_bug.cgi?id=767708#c26

will be in production monday.

closing down this issue.

[2012-07-05 21:44] #1675 closed, assigned to skinny97214

[2012-07-05 21:45] jrgm opened #1925 "Link to openphoto on new /about page on main site goes to the wrong openphoto"
The link in the page goes to http://openphoto.net/ which is not the openphoto you are looking for.

That should go to http://current.openphoto.me/

/cc @vthunder who I just got the right url from.

[2012-07-05 21:48] lloyd commented on #1925
+1 let's get this fixed.

[2012-07-05 21:59] shane-tomlinson opened #1928 "external domain links on /about page should open in new tab."
22:59
jrgm
The "implement persona for your site" would need a change too.

[2012-07-05 22:00] #1925 closed, assigned to nobody

[2012-07-05 22:02] jrgm commented on #1923
yeah, I just realized /forgot had the same issue. r+ to both.

[2012-07-05 22:27] jedp opened #1930 "Make KPI data_sample_rate adjustable on the fly"
@jrgm has suggested it should be possible to adjust `data_sample_rate` without requiring a server restart.

[2012-07-05 22:30] jedp opened #1931 "Make KPI data_sample_rate configurable by platform"
It might be desirable, for example, to boost `data_sample_rate` for some fancy new phone, without getting flooded with piles of data about other platforms.

[2012-07-05 22:44] jrgm opened #1932 "buttons on 'Remember you?' screen could use a little more margin"
The text is almost flush the right side of the buttons on the 'Remember you?' page. A little more margin would be good.

![img](https://img.skitch.com/20120706-mif18up1ycy9ww6s3su8mnjddr.png)

[2012-07-05 23:16] jrgm opened #1933 "Can't cancel out of signup with primary idp in the dialog"
STR
1. Use dev.123done.org. If already authenticated, click This is not me...
2. In the dialog, enter <someemail>@eyedee.me and click Next
3. When the 'Sign in with eyedee.me' button is shown, click it
4. Now on the eyedee.me dialog, click 'Cancel'

Expected: dialog screen goes back to the initial screen on login.dev.anosrep.org, asking for the email address. (NOTE: this is what production and sta

[2012-07-06 00:54] jrgm opened #1934 "Signup as primary via the dialog does not work."
In GH-1933, I noted that cancelling out of primary was broken. Then had a long meeting and came back.

Primaries in dev don't work at all for signup.

STR
1. Use dev.123done.org. If already authenticated, click This is not me...
2. In the dialog, enter @eyedee.me and click Next
3. When the 'Sign in with eyedee.me' button is shown, click it
4. Now on the eyedee.me dialog, enter a password and try t

[2012-07-06 00:57] lloyd commented on #1934
on it, first thing in the morning.

On Jul 5, 2012, at 6:54 PM, John Morrison wrote:

[2012-07-06 01:21] jrgm commented on #1930
While ops has a pretty solid way to swing us out of one datacenter, bounce the servers, flip-flop datacenters, bounce the second datacenter, if there were a way of changing this value on the fly, that might be nicer and quicker (I'm thinking mostly of when we want to be a kill switch).

[2012-07-06 01:52] jrgm commented on #1916
Offtopic but with a vmware Ubuntu 11.10 running on physical mac quad i7 2.3 I get:

Mozilla/5.0 (X11; Linux i686; rv:16.0) Gecko/16.0 Firefox/16.0
Tests completed in 30112 milliseconds.
1202 tests of 1202 passed, 0 failed.

179 seconds? Huh?

[2012-07-06 01:56] seanmonstar commented on #1885
I couldn't reproduce in Opera 12:

![opera 12 screenshot](https://raw.github.com/gist/f521432a9e4badfd21c6/217aba2cb24ba11edc29842fb37fd7074979e651/opera-12-signup.png)

[2012-07-06 02:24] jrgm commented on #1885
Oh, I see. It depends on the window width. Try narrowing the window and 1) the text will reduce in size, and 2) the button will split. (Not seen in the other current browsers on win7; haven't tried on the other OS's, but I think that's not relevant).

[2012-07-06 02:42] seanmonstar commented on #1885
Woops. I don't why I didn't think to shrink the window. I see it now.

[2012-07-06 02:52] jrgm opened #1935 "add the RP back to the subject line of the "Confirm ..." email message"
I think there may another issue about changes to email copy, but I noticed this while I was switching between prod tests and current dev environment.

![img](https://img.skitch.com/20120706-dnb556946twtnd6hwu5sw5s1fs.png)

This may be intentional, but we don't the show RP that is involved in the link that is contained in the actual body. Okay, maybe a nit pick, but I prefer the former where someth

[2012-07-06 02:56] jrgm commented on #1885
@seanmonstar I didn't think of it either when I reported the issue. Only when you noted it worked for you and I couldn't do the same with same version of Opera on the same box where I first saw it.

[2012-07-06 03:03] jrgm commented on #1885
Oh, and I see this on win7 for both opera 12 and 11.64.

[2012-07-06 03:28] jrgm opened #1936 "failed to verify assertion (JSON parse error) with dev.123done.org"
I was going through a sequence where I have an account with one primary and two secondaries, and I say 'This is not me' and then re-auth with the primary and subsequently try to re-auth one of the secondaries. I got this repeatable error from dev.123done.org.

![img](https://img.skitch.com/20120706-n5i8exs3wkk6a3wej86b5p74py.png)

I had httpfox running, and can see that the POST to  http://dev.123

[2012-07-06 03:32] jrgm commented on #1936
I should note GH-1934 where I had to workaround going back again to get my primary signup to work, so this may be an oddball error due to that.

[2012-07-06 04:00] lloyd commented on #1936
This should be high priority to fully understand.  Nice find @jrgm.

We have community complaints that may have the same underlying cause.  /cc @benadida

--lloyd

On Jul 5, 2012, at 9:28 PM, John Morrisonreply@reply.github.com wrote:

[2012-07-06 04:06] jrgm commented on #1936
Ah, forget this. I can't reproduce and I see from IRC persona_deployer that a new build was pushed out at the same time. Invalid test conditions. Closing.

(But would be interesting to someday set up an environment where I can choose to introduce random /verify errors that don't return valid JSON which is probably what this was. @lloyd are there any logs on eyedee.me that might show anything to co

[2012-07-06 04:06] #1936 closed, assigned to nobody

[2012-07-06 04:12] jrgm commented on #1936
And also I see that selenium tests against dev.123done.org also failed, then recovered in the same sorta time frame.

[2012-07-06 04:16] jrgm commented on #1936
Actually @lloyd I meant logs on dev.123done.org (not eyedee.me).

[2012-07-06 05:23] jrgm opened #1937 "signup of primary on main site /signup fails (404 on static.dev.anosrep.org/lib/winchan.js)"
STR
1. Go login.dev.anosrep.org and click sign in.
2. enter &lt;something&gt;@eyedee.me and click the sign in button (where <something> can be either an existing or unknown address to eyedee.me).
3. screen transitions to show a verify button. Click the button.

Expected: dialog comes up with /authenticate_with_primary, loads /lib/winchan.js and /auth_with_idp/main.js and screen moves to eyedee.me/

[2012-07-06 06:41] jrgm opened #1938 "l10n issue - link to 'cookies disabled' message is hard-coded to en-US despite user language"
This is from https://bugzilla.mozilla.org/show_bug.cgi?id=770851

If you load https://browserid.org/cookies_disabled in any supported localization you see localized text, but the link is hard-coded to en-US. However, I don't see a simple solution to this issue, since there is no consistent way to map the SUMO 'cookies disabled' help URL for a given language choice.

![img](https://img.skitch.com/2

[2012-07-06 08:59] #1928 closed, assigned to sawyerh

[2012-07-06 09:00] #1923 closed, assigned to shane-tomlinson

[2012-07-06 09:04] shane-tomlinson commented on #1919
Dup of #1932, closing this because @jrgm's has a nice photo.

[2012-07-06 09:04] #1919 closed, assigned to shane-tomlinson

[2012-07-06 09:41] iron9light opened #1939 "silent and allowPersistent not works"
- allowPersistent

The sign up dialog do not let me select whether I wanna keep as signed up. [Chrome 20.0.1132.47 beta, mint 11-64bit]
Firefox and my android phone can see the selection screen.
And it showed the selection screen only once on my chrome.
- silent

It always give me NULL.

[2012-07-06 10:39] shane-tomlinson commented on #828
@DVirgil - I am testing this in both KDE and Gnome on Ubuntu 12 without being able to reproduce.  Are you still seeing this problem?

[2012-07-06 11:11] shane-tomlinson opened #1941 "dialog: html5shim is not cachified for ie8."

[2012-07-06 11:35] #828 closed, assigned to shane-tomlinson

[2012-07-06 11:38] DVirgil commented on #828
I'll close this.
Can't reproduce using moztrap.mozilla.org (used two e-mails). This is Ubuntu 12.04 and Firefox 14 beta 11.

[2012-07-06 11:38] shane-tomlinson commented on #828
@DVirgil - Thanks for checking again!

[2012-07-06 12:11] shane-tomlinson commented on #1937
@jrgm - This issue goes deeper than the winchan problem.  Once the winchan include is fixed, there are problems re-starting the dialog once the user has authenticated with the IdP.  Digging in.

[2012-07-06 12:28] shane-tomlinson commented on #1937
@benadida - The sessionStorage change from PR #1858 breaks authenticating to an IdP from the main site.

https://github.com/mozilla/browserid/blob/dev/resources/static/authentication_api.js#L36-40 shows that completeAuthentication and reaiseAuthenticationFailure are hard coding the return URLs back to the normal authentication dialog, which initially seemed like a good idea.  The problem is when a

[2012-07-06 13:24] shane-tomlinson commented on #1937
Marked 5\* since this is a regression.

[2012-07-06 13:27] Pike commented on #314
FWIW, this keeps me from editing MDN or finding people on mozillians. Also don't want to adapt persona on elmo until this is fixed.

[2012-07-06 13:29] #1895 closed, assigned to shane-tomlinson

[2012-07-06 13:36] benadida commented on #1937
I'll get on this today.

[2012-07-06 13:37] benadida commented on #1937
Now... this looks like it's not covered in tests. @shane-tomlinson any chance you can help me there?

[2012-07-06 13:52] st3fan opened #1946 "Please support a more traditional login flow"
BrowserID currently requires a 'full' browser because it depends on javascript, frames and popup windows.

My request is to support a more classic login flow where an app can simply redirect to BrowserID.org/login?callback=http://myapp.com/foo and browserid will redirect back to the application on the specified callback, passing it the assertion. The app can then verify the assertion as usual and

[2012-07-06 13:55] benadida commented on #1946
@st3fan importantly, this has the big disadvantage that it ties down everything to browserid.org, which is a centralized architecture we want to move away from.

I think we should explore better SDKs for mobile without forcing a centralization of the protocol.

[2012-07-06 13:57] st3fan commented on #1946
I understand. Maybe browserid.org can just be the springboard and do the discovery and redirect to another service if needed?

[2012-07-06 15:01] ibai commented on #1938
What Shane said. If the link has no locale it will load the users locale if it exists and en-US if it doesn't.

[2012-07-06 15:40] skinny97214 commented on #1325
@sawyerh I agree the "below the fold" isn't the worst issue. I do think it's ideal if it's above in landscape, but not 100% required for every screen given all our other constraints. My prediction is that if it looks horrible in landscape, most users will rotate to portrait. Incidentally, I'm moving toward having only one password field, so that page will get better on mobile.

The blue arrow is p

[2012-07-06 15:54] shane-tomlinson opened #1947 "node-gettext blowup on first run in new language"
This only happens on the _first_ page load requiring translations on a particular server.  Any subsequent page load in any locale works fine.

When I first when to fonts.personatest.org using Dutch as my locale, I got the following:

[code]

STR (I believe)
1) Set up a new ephemeral instance
2) Push current dev to instance
3) Set browser language to a supported translation
4) Browse to https://<in

[2012-07-06 17:01] shane-tomlinson commented on #1840
@sawyerh - I agree, it's sloppy on mobile and I've wanted to remove the auto focus for it for a long time.  I did a branch with it today, will test further next week and submit a pull request.

[2012-07-06 17:52] callahad commented on #1939
Hi, we've deprecated persistent login with the current API in favor of making persistent login happen automatically with the new "Observer" API. We'll be announcing that the Observer API is stable in production early next week, and suggest that you switch to that should you need persistent sessions.

(You should switch to it regardless, though! It's great!)

You can find docs here: https://develop

[2012-07-06 17:52] #1939 closed, assigned to nobody

[2012-07-06 18:17] callahad commented on #1939
And for what it's worth, we're working on a formal deprecation notification strategy, and will be announcing a deprecation / change notices mailing list soon (check our blog on Tuesday evening). Our communication and docs haven't kept pace with our experiments on the current and new APIs. It's my responsibility to fix that, so if you spot something or wish we had communicated something differently

[2012-07-06 18:37] benadida commented on #1934
I think this issue has to do with the fact that eyedee.me is including the include.js from the production site, and with the protocol change, that's incompatible when run from the dev site.

@lloyd do we need to set up dev.eyedee.me for this?

[2012-07-06 19:04] sawyerh commented on #1325
Hm, tweaked the sizes a bit (https://github.com/mozilla/browserid/pull/1949). Since there's now another line of text above the email label, the button still won't show in landscape (http://d.pr/i/yeUa). This isn't a big deal to me. Portrait looks fine (http://d.pr/i/xPUE), and I'd suspect this is the common orientation that people will be holding it.

[2012-07-06 19:16] jrgm opened #1951 "[ie8] visual defects on /about page"
See below. Don't see this in other current browsers, including ie9. Just ie8.

/cc @sawyerh

![img](https://img.skitch.com/20120706-83th9wqb276j7ihyw3iygn1x84.png)

[2012-07-06 19:57] iron9light commented on #1939
the new "Observer" API is much easier to use.
Good job.

[2012-07-06 20:17] lloyd commented on #1947
I'm all over this, this is an old friend.

[2012-07-06 20:34] benadida commented on #1933
yes, this is almost certainly same as #1934.

[2012-07-06 21:34] seanmonstar commented on #1911
From dev.123done.org, which takes me to login.dev.anosrep.org, static resources are served from static.dev.anosrep.org, with the exception of the favicon.

Is this a configuration thing per server, or just been fixed since the last stage was cut?

[2012-07-06 21:49] lloyd commented on #1911
Let's verify it's fixed on stage once we push train 06.07.2012, if it is not fixed, it must be a config issue, right?

Thanks 4 investigating, Sean.

--lloyd

On Jul 6, 2012, at 3:34 PM, Sean McArthurreply@reply.github.com wrote:

[2012-07-06 21:53] jedp commented on #1921
@jbonacci I updated the testing docs in the PR:
https://github.com/mozilla/browserid/blob/6be79a2bf974456937133668d85396ddf82b72ee/docs/TESTING.md

I'll have to look to see what options I might be missing.  Is there anything specific you're thinking about?

cheers!
j

[2012-07-06 22:16] lloyd commented on #1934
eyedee.me was not properly retargeting the dev env for all resources hosted on browserid.org/persona.org - now fixed.

[2012-07-06 22:16] #1934 closed, assigned to lloyd

[2012-07-06 22:48] lloyd commented on #1937
fixed with PR #1955

[2012-07-06 22:48] #1937 closed, assigned to nobody

[2012-07-06 23:42] lloyd commented on #1935
I think this a great point.

@skinny97214 Isn't what the user cares about the site they're logging into, and not persona?  Shouldn't the site be the prominent in the subject?

seems like a regression to me.

[2012-07-07 00:48] jrgm opened #1957 "Nine test failures on IE8 on dev and train-2012.06.22"
Nine test failures on IE8 on dev and train-2012.06.22

There are test failures on IE8 for these 9 tests. This is on both dev and train-2012.06.22, but not train-2012.06.08 (except the for 'expiration date must be within').
- this one is the issue with 'expiration date must be within 5 seconds of 2 minutes from now: 7109' which I thought we had an issue about in the past few weeks, but I can't find

[2012-07-07 02:12] jrgm opened #1958 "backend unit tests failing on tests/static_resources.js"
Travis says (and is right)

✓ OK » 1 honored (0.008s)
1892tests/stalled-mysql-test.js
1893·······································
1894✓ OK » 39 honored (13.250s)
1895tests/static-resource-test.js
1896✗
1897
1898
1899  All resources expand
1900    ✗ We get stuff
1901      » expected 12,
1902    got  9 (==) // static-resource-test.js:35
1903✗ Broken » 1 broken (0.005s)
1904
1905npm ERR! browserid@0.

[2012-07-07 04:03] jrgm commented on #1937
works in dev for the original STR. Will need to reconfirm when we get to stage.

[2012-07-07 04:07] jrgm commented on #1934
works in dev for the original STR. Will need to reconfirm when we get to stage.

[2012-07-07 04:33] jrgm commented on #1933
works in dev for the original STR. Will and verify when we get to stage.

[2012-07-07 05:08] lloyd commented on #1115
verified.  done a while ago.

[2012-07-07 05:08] #1115 closed, assigned to nobody

[2012-07-07 05:23] lloyd commented on #1958
fixed in dev and train-2012.07.06 on browserid_private.  thanks for the find, and the fix.

[2012-07-07 05:23] #1958 closed, assigned to nobody

[2012-07-07 13:21] mathjazz opened #1960 "L10n bugs in train-2012.07.06"
### A) No need to escape ' with double backslash here:

resources/static/dialog/views/rp_info.ejs:22
`By proceeding, you agree to %s\\'s <a %s>Terms</a> and <a %s>Privacy Policy</a>.`

The same string is unescaped on many other occasions: resources/static/dialog/views/authenticate.ejs:61
resources/static/dialog/views/required_email.ejs:67, resources/static/dialog/views/set_password.ejs:74...
`By p

[2012-07-07 14:32] kscanne commented on #1960
It would be great to allow variables to be reordered with the gettext syntax %1$s, %2$s, ...  The possessive construction in "By proceeding, you agree to %s's <a %s>Terms</a> and <a %s>Privacy Policy</a>." in particular would require this for many languages.   Until reordering is available, I'd suggest rephrasing this message in a way that is more likely to preserve variable order in translation,

[2012-07-07 15:19] kscanne commented on #1960
I see this string appearing in the interface:

#~ "Cuir isteach do sheoladh ríomhphoist chun logáil isteach i ozten.com"

with the #~ and double quotes.  This is a translation of an obsolete string
in my PO file:

#~ msgid "Enter your email address to sign in to <strong>%s</strong>"
#~ msgstr ""
#~ "Cuir isteach do sheoladh ríomhphoist chun logáil isteach i <strong>%s</"
#~ "strong>"

[2012-07-07 20:10] lloyd commented on #1960
@kscanne / @mathjazz - with respect to changing the position of variables, how would you guys feel about a syntax that looks like...

"By proceeding, you agree to {site}'s &lt;a {termsHref}&gt;Terms&lt;/a&gt; and &lt;a {privacyHref}&gt;Privacy Policy&lt;/a&gt;"

This would allow re-ordering and is more legible than `%1$s` - thoughts?

[2012-07-07 21:18] lloyd commented on #1960
actually, ignore my comment.  I see ozten has already implemented named syntax that looks like `%(foo)`.  I will use that.

[2012-07-07 22:13] adamkalis commented on #1960
I just want to add that I see the same problem with kscanne, the one with #~

Thanks also about the solution with the variables, it helps a lot :)

[2012-07-07 22:20] lloyd commented on #1917
fwiw, I tried the update to iconv@1.2.1 and it makes our build about 20% faster.  meh.  PR 1962 is moar awesome.

[2012-07-07 22:32] lloyd commented on #1901
I tabbed around on the authenticate page.  It worked as I expected, closing.

[2012-07-07 22:32] #1901 closed, assigned to shane-tomlinson

[2012-07-07 22:36] lloyd commented on #1921
merged to dev, basic testing works as I'd expect:

[code]

[2012-07-07 22:36] #1921 closed, assigned to jedp

[2012-07-07 22:40] lloyd commented on #1938
link looks good now on https://login.dev.anosrep.org/cookies_disabled

Confirmed if I change my language preferences (prefer spanish) the redirect behaves correctly.  closing.

[2012-07-07 22:40] #1938 closed, assigned to nobody

[2012-07-07 22:42] lloyd commented on #1941
merged the PR.  now it's cachified on dev.

[2012-07-07 22:42] #1941 closed, assigned to shane-tomlinson

[2012-07-07 22:44] lloyd commented on #1786
PR merged, now LGTM in dev.

[2012-07-07 22:44] #1786 closed, assigned to shane-tomlinson

[2012-07-07 22:51] #1856 closed, assigned to jrgm

[2012-07-08 01:01] lloyd commented on #1890
woo!  I've integrated your template into https://github.com/mozilla/browserid/tree/issue1890 and it looks super purdy.

To check it out, go to http://html.123done.org and sign yourself up as a new user.

All that seems to be left is to make templates for the other two cases, get your review and tweaks, and merge her in!

And looking at the raw email source it kinda looks like plaintext fallback is

[2012-07-08 01:04] lloyd commented on #1890
![Purdy](https://img.skitch.com/20120708-r5nge34dsasskh1tejgcmwkj9h.png)

[2012-07-08 01:06] lloyd commented on #1890
link to GH-1935, we should carefully think through the messaging and emphasis ^.  website you're logging into in subject?

I think the _user_ is more concerned about "Complete login to foobar.com" than "Confirming email addresses for Persona"

[2012-07-08 11:10] mathjazz commented on #1960
@kscanne, thank you for your suggestion about reordering variables. Thanks to @lloyd it seems like we'll have more meaningful string replacements ready for the next train. We'd like to avoid breaking the string freeze since 12 locales already started working on the latest train.

@kscanne, I'll send your suggestion about translating "By proceeding, you agree to %s's Terms and Privacy Policy." as s

[2012-07-08 16:54] lloyd opened #1963 "debug local doesn't properly translate our strings"
the "debug locale" we have does not properly process our substitution markers (`%s` and `%(name)`), nor does it handle html inside translatable strings at all.  Here is an example:

INPUT: `Please close this window, <a %(cookieLink)>enable <b>super dooper %(persona)</b> cookies</a> and try again`
EXPECTED: `uıaƃa ʎɹʇ pua <a %(cookieLink)>sǝıʞooɔ <b>%(persona) ɹǝdoop ɹǝdns</b> ǝʅqauǝ</a> ´ʍopuıʍ sı

[2012-07-08 16:56] lloyd commented on #1963
/cc @ozten

[2012-07-09 01:27] jrgm commented on #1518
verified train-2012.07.06 on awsbox deploy

[2012-07-09 01:28] jrgm commented on #1770
verified

[2012-07-09 01:28] jrgm commented on #1278
verified

[2012-07-09 01:43] jrgm commented on #1548
can't reproduce on train-2012.07.06 on awsbox deploy

[2012-07-09 01:56] jrgm commented on #1820
verfied license file is with the font directory in train-2012.07.06

[2012-07-09 10:49] stomlinson opened #1964 "IE: Persona logo at bottom of /about page has border"
Affects both IE8 and IE9

[2012-07-09 11:05] #1951 closed, assigned to sawyerh

[2012-07-09 11:44] shane-tomlinson commented on #1957
@jrgm - this is a dup of #1783, PR #1966 issued.  I asked @lloyd to have a look at the lone failing test for assertion expiration.

Closing as dup.

[2012-07-09 11:44] #1957 closed, assigned to nobody

[2012-07-09 12:03] shane-tomlinson opened #1967 "mobile/main site: "Take the tour or sign up" is ugly (left justified)"
The text and buttons are left justified when everything else is centered:

![Left Justified Text](https://img.skitch.com/20120709-dkamw5e8wx345qqqcnf2x7r3an.png)

[2012-07-09 12:04] #1885 closed, assigned to seanmonstar

[2012-07-09 15:36] gerv commented on #1946
st3fan: can sites even detect that they are in a UIWebView, as opposed to Mobile Safari? Would you have to detect that the popup open failed?

benadida: only, surely, for limited capability browsers? Which are always going to need the browserid.org JS shim anyway, so rely on browserid.org.

[2012-07-09 17:52] st3fan commented on #1946
@gerv Yeah we can probably detect that.

[2012-07-09 18:01] benadida commented on #1946
@gerv @st3fan so one idea I've had is that I think we can detect when window.open fails and have our JS shim do a redirect flow based on the _same_ API in that case. We need to prototype this, but what do you think?

(note that this would also help things work in Chrome for iOS, which has a funky window.open due to iOS restrictions.)

[2012-07-09 19:32] lloyd opened #1969 "Improved testing of l10n pipeline"
In production, when we serve HTML views, we localize them.  This localization pulls strings out of `.mo` files and plunks them into dynamically rendered templates.

We should be testing this flow in an automated fashion so that we can find issues immediately in dev rather than waiting for QA / localizers to find them.

[2012-07-09 19:54] lloyd opened #1970 "enable debug 'locale' in our dev env"
One should always be able to verify correct string markup via our devenv via a simple process (like switching browser languages).

previously I had tried to enable this, but it requires the addition of software that is not available via yum (translate-tooklit) to be run  on the server at deployment time.

We should figure this out and fix the feature so our debug locale is a more useful tool.

[2012-07-09 19:56] lloyd commented on #1970
note, I don't think it's useful to enable locales in our dev env either, because translations only start after we freeze a train.  curious for thoughts on that one.

[2012-07-09 22:24] seanmonstar opened #1971 "include.js should be generated"
include.js has both JSChannel and WinChan as dependencies, but those are also include in common/js/lib. include.js received some patches that fixed a few things in WinChan (at the least), that never got upstream. To prevent this, the include.js should get generated from the lib files, ensuring that there is no source duplication (and divergence).

[2012-07-09 22:55] sawyerh commented on #1890
Added the 2 other templates: https://github.com/sawyerh/browserid/tree/issue-1890-html-emails

[2012-07-10 01:12] jrgm opened #1973 "cross-origin issues with fonts redux"
I opened GH-1845, but closed it as stage was just not set up correctly.

I happened to be on login.dev.anosrep.org and noticed this again (this is a FF only behaviour). Loading the main site page /, there are messages like the following.

[code]

Presumably it is worried about the mismatch of login.dev.anosrep.org and static.dev.anosrep.org. We may need to send some access control headers with the

[2012-07-10 01:23] #1844 closed, assigned to seanmonstar

[2012-07-10 09:32] shane-tomlinson opened #1974 "Add Persona sign in buttons to repo"

[2012-07-10 11:10] #1974 closed, assigned to shane-tomlinson

[2012-07-10 16:35] st3fan commented on #1822
Hey so Stuart hinted that we should open the dialog by adding #NATIVE to the /sign_in url. And that worked great! Both the initial flashing of the error is gone and the Relay Error that would randomly happen is gone now. Even after I removed the fix that I referenced above.

Is the #NATIVE thing documented somewhere? Is it official? Can we depend on it?

[2012-07-10 17:35] jrgm commented on #1433
verified in train-2012.07.06

[2012-07-10 20:01] vthunder opened #1976 "Implement age-neutral verification"
Age-neutral verification means to verify that the age of the user is above a certain threshold (13) in a way that doesn't influence the user to answer in any specific way. The industry standard is to ask the user for their date of birth and use that to determine their age.

We need to add this step before we save information on our servers for a user. That means that at the account creation step (

[2012-07-10 20:12] callahad commented on #1976
So this would only be for users of our fallback IdP? Meaning we can't make claims as to the age of folks coming through native IdPs?

[2012-07-10 20:18] vthunder commented on #1976
Good question. I think we have a few options for those emails, broadly two categories: a) tell RPs whether age verification took place (passing through information from the IdP), or b) guarantee it (force IdPs to assert they did the verification).

[2012-07-10 20:24] callahad commented on #1976
Something to check with Jishnu on regarding the legal requirements / exposures for RPs. For instance, MockMyID could falsely assert that all of its users are Of Age. Does trusting that information expose the RPs to any liability, or can they pass the buck to the IdP? Is an IdP that does insufficient verification (intentionally or not) exposed to any liability should an RP rely on that data?

[2012-07-10 21:03] gene1wood commented on #1855
jrgm determined an example url and the mimetype in play
- https://login.anosrep.org/v/c7dcce084c/fonts/OpenSans-Italic.ttf
- application/x-font-ttf

[2012-07-10 21:47] jrgm commented on #1093
spinner looks good in train-2012.07.06 when applied with dev tools. Leaving this issue open to actually make use of it where appropriate.

[2012-07-10 22:03] sawyerh commented on #1874
Not sure who to direct this towards (@lloyd / @shane-tomlinson?) — but could someone walk me through or point me in the right direction with setting up a view/route to implement the product tour in the dialog window? I'm thinking I only need one view and then can transition in the different tour info using JS. Just not sure where/how to get a view setup so I can start on this.

[2012-07-10 22:19] jrgm commented on #1928
verified train-2012.07.06 stage

[2012-07-10 22:20] jrgm commented on #1925
verified train-2012.07.06 stage

[2012-07-10 22:21] jrgm commented on #1923
verified train-2012.07.06 stage /signup and /forgot verify password matches

[2012-07-10 22:43] seanmonstar commented on #1870
I played in jsFiddle for a while, and any way you do it, `window.opener` is undefined.

At least, I've filed a bug upstream: http://code.google.com/p/chromium/issues/detail?id=136610

[2012-07-10 23:32] jrgm commented on #1855
For e.g., https://static.login.anosrep.org/v/f577763f76/common/fonts/OpenSans-Bold.ttf, if requested with accept-encoding gzip, deflate, the content is served with transfer-encoding gzip.

Oddly though, some browsers that last week were requesting ttf are no longer doing so (e.g., IE9 on win7).

[2012-07-10 23:32] #1855 closed, assigned to fetep

[2012-07-10 23:34] jrgm commented on #1973
Hmm, I see that in stage now the content is served with

access-control-allow-origin:    https://login.anosrep.org

and this error is not shown in the FF error console with train-2012.07.06

[2012-07-11 00:11] jrgm opened #1977 "update browserid version in package.json"
Small thing, but meaningful to some folks, so it's probably time to bump browserid up from version 0.0.1 for the beta ;-)

[2012-07-11 00:38] jrgm opened #1978 "javascript error when checking address_info for unknown secondary"
STR
1. load beta.123done.org and click sign in with persona
2. Say 'this is not me' if already authed.
3. Enter a secondary email address that is not known to the stage databases -- e.g., gyeiwonbhkbadskiowo@gmail.com
4. Click enter

Expected: dialog checks email provider (address_info) and when secondary and unknown transitions to prompt for a password x2

Actual:

[code]

The dialog is unusable

[2012-07-11 00:53] jrgm commented on #1978
I've repro'd this in stage several times with FF on osx and with Chrome Beta on ICS.

Curiously, I can't reproduce this with a local test environment. Possibly a network latency related thing?

[2012-07-11 00:55] jrgm commented on #1978
Reproduced with chrome on osx against stage which has a more helpful error message:

[code]

[2012-07-11 01:42] lloyd commented on #1097
done!

[2012-07-11 01:42] #1097 closed, assigned to lloyd

[2012-07-11 02:01] seanmonstar commented on #796
So, I've confirmed that I can talk to popups using the method from the link above.

@lloyd To fix this would require a patch to WinChan. It would need to check for GCF, and if so, use a relay iframe (different than normal IE) that would open the popup, and then the iframe becomes the mediator. So, RP -> iframe -> dialog, and then dialog -> iframe -> RP. I've got a half working implementation, and

[2012-07-11 02:07] jrgm commented on #1978
The only reference to 'new_account' in train-2012.07.06 on private branch are for the KPI in GH-1807. Linking bugs.

[2012-07-11 02:09] seanmonstar commented on #796
if I didn't make it clear, the difference is that for GCF the iframe needs to open the window itself , and the popup doesn't need to search for the relay; the popup just posts messages, oblivious to the cruel world it is in.

[2012-07-11 03:19] lloyd commented on #1978
Assigning to shane to delegate as needed.  I can take a look in the morning if useful, or just merge in his PR and update deploy ticket.

[2012-07-11 03:29] jrgm commented on #1978
Bah. Not thinking. Actually an existing user fails in a similar way; the 'checking with your email provider' visually completes and prompts for a password, but on submitting the correct password, in Chrome I get this error message:

[code]

I was running with an awsbox on the weekend of train-2012.07.06 from the public repo and this worked. I'm going to redeploy an awsbox from the other repo and s

[2012-07-11 03:50] lloyd commented on #1978
I think the difference here is that in the awsbox environment, as in dev, kpi stuff is prefed ON.

In staging, we've prefed it off.

That's my guess at the delta.

I think all you have to do to try to reproduce this on aws would be to make a commit to config/aws.json

change: "kpi_backend_sample_rate": 1.0,
to:     "kpi_backend_sample_rate": 0.0,

this is wild guessing on my part, but it's the onl

[2012-07-11 04:02] jrgm commented on #1978
Yeah, fricking me duh! Yes, it replicates in dev with that.

[2012-07-11 04:56] #759 closed, assigned to skinny97214

[2012-07-11 05:26] lloyd commented on #855
check out new copy in our staging environment (anosrep.org visible via beta.123done.org)

[2012-07-11 05:26] #855 closed, assigned to billder

[2012-07-11 09:45] #1967 closed, assigned to shane-tomlinson

[2012-07-11 09:45] #1964 closed, assigned to nobody

[2012-07-11 09:46] #1932 closed, assigned to nobody

[2012-07-11 09:46] #1920 closed, assigned to shane-tomlinson

[2012-07-11 09:47] #1916 closed, assigned to jedp

[2012-07-11 09:48] #1898 closed, assigned to shane-tomlinson

[2012-07-11 09:49] #1871 closed, assigned to shane-tomlinson

[2012-07-11 09:51] #1832 closed, assigned to shane-tomlinson

[2012-07-11 09:53] shane-tomlinson commented on #1822
@st3fan - #NATIVE is official, let me check to make sure it isn't going anywhere.

[2012-07-11 09:53] #1783 closed, assigned to shane-tomlinson

[2012-07-11 09:54] shane-tomlinson commented on #1755
@lloyd - you took care of this already, no?

[2012-07-11 09:55] shane-tomlinson commented on #1686
@mathjazz - thanks.  closing.

[2012-07-11 09:55] #1686 closed, assigned to ozten

[2012-07-11 09:57] shane-tomlinson commented on #1667
@seanmonstar added some awesomeness in PR #1882 to make orphaned work as @nmalkin expects.  Closing.

[2012-07-11 09:57] #1667 closed, assigned to shane-tomlinson

[2012-07-11 09:57] shane-tomlinson commented on #1629
We just merged.  Any remaining problems/changes can be opened as separate issues.

[2012-07-11 09:57] #1629 closed, assigned to skinny97214

[2012-07-11 11:25] csuciu commented on #1797
I got the 'Persona requires cookies....' message on https://login.anosrep.org/ when I tried to cancel an account.
OS: Win 7
Browser: FF 13.0.1

[2012-07-11 13:24] shane-tomlinson commented on #1199
@mmullens - is this still an issue?

[2012-07-11 13:26] shane-tomlinson commented on #1971
We had another issue (#483) opened for this, but I closed it as "won't fix".  I still think there is a lot of value in this.

Also link to #1199

[2012-07-11 13:28] shane-tomlinson commented on #1971
link to #1749

[2012-07-11 13:31] shane-tomlinson commented on #1532
@washort, @chrismendis - the "silent: true" option and event navigator.id.get have been deprecated in favor of the watch api.  More information can be found at: https://developer.mozilla.org/en/DOM/navigator.id

@lloyd, have you ever seen this happen with the new API?

[2012-07-11 13:32] lloyd commented on #1755
not yet.  we have monitoring on our outbound queue, but not of end to end delivery times.

On Jul 11, 2012, at 2:54 AM, Shane Tomlinson wrote:

[2012-07-11 13:33] shane-tomlinson commented on #1798
@lloyd, @benadida, @vthunder - I thought we concluded we were _not_ going to add this functionality because it would override a user's browser settings.  If so, can we close this as "won't fix"?

[2012-07-11 13:46] csuciu commented on #72
The tracker bug is still open.

[2012-07-11 13:49] #1526 closed, assigned to lloyd

[2012-07-11 13:52] lloyd opened #1981 "improve validation of origin params to API calls"
as @fmarier pointed out in issue #1979, we can do much better with our regex in validate.js - more tightly validating incoming origins.

Not extremely high priority, but why not?

for reference, http://blog.gnukai.com/2010/06/fqdn-regular-expression/

[2012-07-11 13:52] lloyd commented on #1981
@zaach - you want?

[2012-07-11 13:56] shane-tomlinson opened #1982 "IE8 does not support max-age in cookies, making the cookie check cookie a session cookie."
http://blogs.msdn.com/b/ieinternals/archive/2009/08/20/wininet-ie-cookie-internals-faq.aspx

[2012-07-11 13:59] benadida commented on #1798
This issue should go to @vthunder and @skinny97214, but I'm in favor of WONTFIX as I don't see a reason for our dialog to be in any language other than the user's browser's default.

[2012-07-11 14:03] lloyd opened #1983 "eliminate redundancy in unit tests"
our backend unit tests have lots of duplicated code.  For example, several tests set up new accounts with several emails as a startup step.

The way these tests typically evolve is by copying and pasting from another test.

This is lame, because we end up with several tests that duplicate the same code. They are hard to understand, hard to maintain, and most importantly the intention of the test i

[2012-07-11 14:06] benadida commented on #1983
yes! And also simplify some of the setup, I'd like to see more true unit tests, less setting up of the servers, etc.

[2012-07-11 14:08] ygjb commented on #72
Indeed; the security review is ongoing.  There is content located at https://wiki.mozilla.org/Security/Reviews/Identity/browserid and we currently have a 3rd party performing a security review of the BrowserID implementation, and the cryptographic components.  Once that is completed we will update the security review documentation!  If you have any questions or concerns, please feel free to contac

[2012-07-11 16:19] thom4parisot commented on #1798
Maybe if a user selected a language on the website through a language picker (which can be different of the one of his browser), he would also like to keep his language experience the same?

If the app is monolingual, or if the user have not changed it, sure BrowserID could and must use the browser's default. It makes sense. However, if the user explicitely changed his language, the experience sho

[2012-07-11 16:26] ozten opened #1984 "Emphermeral deployments include a broken myfavoritebeer"
Ephemeral deployments still include $hostname.myfavoritebeer.org.

This example RP is broken, since it sources $hostname.hacksign.in/include.js

I spent a lot of time greping the VM image trying to understand what is going on, and then eventually wondered if we migrated to 123done...

We should fix myfavoritebeer or remove it completely form the deployment to avoid confusion.

[2012-07-11 16:51] benadida opened #1985 "add IdP protocol support for account provisioning flow and constrained RPs"
as per needs for B2G, though provisioning flow will serve us well, too.

Specifically, account provisioning means that at the time of auth, the exact username is unknown, but the domain is known. e.g. "create a new account with this IdP." beginAuthentication callback thus takes a null identity. The selected identity is delivered in the completeAuthentication() call.

[2012-07-11 18:03] shane-tomlinson opened #1986 "unit test module names need updated to match directory structure"

[2012-07-11 18:19] zaach commented on #1981
That's a wicked regex. I'm on it.

[2012-07-11 18:24] mmullens commented on #1199
It is difficult for me to check at the moment, but I think that it is.  I checked about a month or so ago and there were differences in findRelay and somewhere in the onOpen method if memory serves.  Basically I took winchan out of include.js and compared it to winchan on github, found the differences, patched it, and then things worked.  I apologize that I can't be of more help right now, I shoul

[2012-07-11 18:25] callahad opened #1987 "proposal: Confirm link should come first in verification emails"
@sintaxi popped into IRC and was asking about post-verification redirects. In the process, he shared this screenshot:

![Screenshot of our confirmation email, showing two links: one to the RP, one for address confirmation.](https://img.skitch.com/20120711-ede6exckeii5ucxcer3uraai1q.jpg)

Should we make the confirmation link the first link in the message? Is having the RP linked at the very top con

[2012-07-11 18:42] callahad commented on #1987
This ordering won't be as bad for sites that supply a `siteName` if we implement #1887, but still, that screenshot kind of made it jump out at me.

[2012-07-11 18:47] callahad opened #1988 "Fix list styling on Identity Blog"
Francois made an awesome post at http://identity.mozilla.com/post/26930312162/security-fix-in-persona-verifier-and-new-mailing-list

Too bad the text in list items is almost the same color as the page background. :(

[2012-07-11 22:07] karlcow commented on #1844
with Opera 12 12.00 Rev 1467 Mac OS X 10.7.4,  I am unable to login on https://persona.org/
1. Go to https://persona.org/ with Opera Browser
2. Click on Sign-In. Result: a new tab is opening
3. Enter the email address in this tab. Result: Password field appears
4. Entre the password in this tab. Result: the lock appears.
5. Then a message saying to wait but nothing is happening.
6. Going back to t

[2012-07-11 22:16] seanmonstar commented on #1844
the fix to this issue won't be available in production until this newest train is pushed live, in 3ish weeks?

[2012-07-11 22:28] seanmonstar opened #1989 "helpers.extend is dupe of _.extend"
If `underscore` is always a hard requirement (it's even used inside the helpers.js), then there is no need to keep 2 versions of the same function, that does the same thing.

[2012-07-11 23:13] benadida opened #1990 "deprecate getVerifiedEmail"
We should begin the deprecation process for it with the beta launch.

[2012-07-11 23:38] karlcow commented on #1844
ok. understood. Thanks.

[2012-07-12 00:41] mathjazz opened #1991 "Localizing login.persona.org"
We should make login.persona.org localizable. Right now it is half in English half in another language if you visit it with a browser that speaks some other language by default.

/cc @ozten @lloyd

[2012-07-12 01:05] seanmonstar commented on #1991
dupe of #1862

[2012-07-12 01:20] fmarier opened #1992 "Password length is limited to 80 characters"
While 80 character passwords are pretty long already, we should avoid punishing people that go the extra mile and have even longer passphrases.

Unless there is another limitation I'm not aware of (or a good reason performance-wise), I suggest 255 characters as the new limit, so that it still fits in a regular VARCHAR field.

[2012-07-12 01:26] fmarier opened #1993 "Internal userid should not be exposed"
(This is a very low priority bug because it doesn't have any security implications as far as @warner and I can see.)

These WSAPI operations all expose the internal userid we use in the database:
- user_creation_status
- authenticate_user
- auth_with_assertion

If it's not necessary, we should remove it.

[2012-07-12 01:29] fmarier commented on #1981
One thing that I'll be doing soon is refactoring the code that extract the domain from an email address (GH-1994). Once I do that, I'll validate the extracted domain, just in case.

So I would suggest that we create a domain/hostname validation function that the origin type checking code could use to check the hostname part of the origin. Or perhaps we should create a new 'hostname' type instead?

[2012-07-12 01:32] fmarier opened #1994 "Refactor domainFromEmail code"
We currently extract the domain from an email using a regexp in a couple of places.

This should be refactored so that the regexp is in a single place (i.e. every part of the code is guaranteed to extract the domain in the exact same way).

I also propose that we validate (using the new regexp from GH-1981) the domain once it has been extracted. This should normally not be necessary given that we

[2012-07-12 01:49] fmarier opened #1995 "Define what a BrowserID email is and use our own regexp to enforce them"
After discussing how to validate email addresses properly, @warner and I came to the conclusion that we need to define what types of email addresses we support.

The full range of technically valid email addresses is too big and includes many characters that we would need to be careful about when crossing type boundaries. The alternative is to be more strict about what subset of valid email addres

[2012-07-12 07:42] shane-tomlinson commented on #1989
@seanmonstar - agreed.  I added helpers.extend before we decided _ was a hard req.  Will issue a PR to remove this.

[2012-07-12 07:47] shane-tomlinson commented on #1993
@fmarier, looping in @lloyd - Lloyd exposed the userid to the front end so that we could keep a table of which user's answers to the "is this your computer" question.  Since the user's emails can change but the user's ids do not, he chose to expose the userids.

We could do an alternate approach using email only.  Any time an email is added to the account, if another email associated with the acco

[2012-07-12 07:51] shane-tomlinson commented on #1991
closing as dupe.

[2012-07-12 07:51] #1991 closed, assigned to nobody

[2012-07-12 08:28] shane-tomlinson opened #1998 "dev/staging: /cookies_disabled content collapsed on mobile"
STR

1) In Firefox mobile or Android Native browser, open: https://login.anosrep.org/cookies_disabled

![Screen Shot of collapsed content](https://img.skitch.com/20120712-1cy5gfswmkwryqdh3jcnp38bg2.png)

[2012-07-12 08:36] mathjazz commented on #1991
Sorry, let's continue discussion under #1862.

[2012-07-12 08:42] shane-tomlinson commented on #1998
The unsupported_dialog suffers from this problem as well.

[2012-07-12 08:48] shane-tomlinson opened #1999 "dev/staging: /unsupported_dialog not showing the firefox logo"
STR
1) open https://login.anosrep.org/unsupported_dialog

![Where's the logo?](https://img.skitch.com/20120712-71ehpu1wekrrdrfajsiesm133.png)

[2012-07-12 11:22] ringe opened #2001 "wsapi fails with extra parameters are not allowed: email"
I am trying to log in to http://dev.myfavoritebeer.org/ using mama@rin.no and mormor@eyedee.me

In both cases the login window returns the following

[code]

HAR dump: http://pastie.org/4243218
HAR Viewer: http://www.softwareishard.com/har/viewer

As you can see in the dump, I tried to manually POST to the wsapi by removing the email element, but this did not work. Anything I later did to set the

[2012-07-12 11:58] ringe opened #2002 "[API] Need logo on IdP"
See #1908 for the idea.

The `.well-known/browserid` path could provide siteName and siteLogo parameters as well, to make it more user friendly.

[2012-07-12 12:05] anantn opened #2003 "Font issue on Chrome/Windows"
From https://twitter.com/codinghorror/status/223359973885878272

"dear Mozilla Persona team, are you aware your login page looks like this on Windows/Chrome? Just sayin'."

Screenshot at: https://p.twimg.com/AxmItnzCIAIIJ9K.png

[2012-07-12 12:07] anantn commented on #2003
It appears to be a font issue, but I haven't verified that that's what's causing the Sign In button to flow downwards.

[2012-07-12 12:18] shane-tomlinson commented on #2003
@lloyd - @seanmonstar's font fix REALLY needs merged in.

[2012-07-12 12:37] shane-tomlinson commented on #2001
I believe this is caused by the super strict input parameter validation - PR #1979

[2012-07-12 12:57] csuciu opened #2005 "Sign In button becomes unresponsive after openig and closing a sign in dialog"
OS: Win 7
Browser: Opera 12

Steps:
1. Go to beta.123done.org in Opera 12
2. Click on  'Sign in with Persona' button -> Sign In dialog is open in a new tab
3. Close the Sign in dialog
4. Click on 'Sign in with Persona' button again

Expected:
The button should be active and the Sign in dialog should open again

Actual:
The Sign in button is grayed out  and the Sign in dialog does not open. The but

[2012-07-12 12:58] shane-tomlinson commented on #1995
@fmarier - we used http://blog.gerv.net/2011/05/html5_email_address_regexp/ as a starting point for the current regexps.

[2012-07-12 13:36] shane-tomlinson opened #2006 "it-ch/db-LB not working on ephemeral deployments when defined in aws.json"

[2012-07-12 13:42] shane-tomlinson opened #2007 "redirect timeout is sometimes first displayed with < 5 seconds."
This can happen if the CPU is busy and the fade in of the redirection text takes a long time.  Zac from automated testing even has a video where it first displays with 1 second.

[2012-07-12 13:45] shane-tomlinson commented on #1970
I think at least having db-LB is very useful, right now I am trying to add gettext to the entire main site but am having a difficult time figuring out how to enable the debug locale.

[2012-07-12 14:18] stephendonner commented on #2007
Is it this video: https://saucelabs.com/jobs/a7c57aabbab84aef95a961a45cb254fa# ?  It's from this report, if so: http://qa-selenium.mv.mozilla.com:8080/job/browserid.dev.123done.linux.firefox.10/312/HTML_Report/

[2012-07-12 14:19] csuciu opened #2008 "Persona sign in page zoomed in when signing in from bugzilla.mozilla.org"
OS: Win 7
Browser: FF 13.0.1

Steps:
1. Go to bugzilla.mozilla.org
2. Press on Persona 'Sign In' button -> Sign in dialog is open
3. Check the sign in dialog

Expected:
The dialog is properly displayed

Actual:
The content of the page is zoomed in.  After resizing the window, the page turns to normal
Screenshot - http://imageshack.us/photo/my-images/543/signink.jpg/

[2012-07-12 15:19] csuciu commented on #2003
The same issue can be seen on Opera12/Win7

[2012-07-12 16:15] callahad opened #2009 "Failure on Windows Phone 7: "Action: Establishing Relay Relay frame could not be found""
As per [phoenixx24 on Twitter](https://twitter.com/phoenixx24/status/223311348635942912):

"Doesn't work at all on my phone. 'Action: Establishing Relay Relay frame could not be found'. It's a Nokia lumia 800 using IE"

[2012-07-12 16:23] csuciu opened #2010 "Slow response when typing in the email field on FF mobile"
OS: Android 2.3.4
Browser: Firefox release from play store
Device: Samsung Galaxy SII

Steps:
1. Go to beta.123done.org
2. Tap on 'Sign in with Persona' -> Sign in dialog opens
3. Start typing in the email field using Android VKB

Expected:
The typed characters should be displayed instantaneously - this happens on Android stock browser, Dolphin....etc

Actual:
It takes almost a sec for the typed c

[2012-07-12 16:32] seanmonstar commented on #2005
dupe of #1844

[2012-07-12 16:32] #2005 closed, assigned to nobody

[2012-07-12 16:34] seanmonstar commented on #2003
dupe of #1856

[2012-07-12 16:34] #2003 closed, assigned to nobody

[2012-07-12 16:36] shane-tomlinson opened #2011 "dev: if string is not localized, no string is displayed."
It should at least display the english version. I believe this started with the removal of node-gettext.

[2012-07-12 16:39] ozten commented on #2006
My latest deployment lacks `podebug` from the [translate-toolkit](http://translate.sourceforge.net/wiki/toolkit/podebug) project.

That is what builds the db-LB language files. Maybe that is the issue? Did this work before with ephemeral deployments?

[2012-07-12 16:47] shane-tomlinson commented on #2008
@csuciu - Thanks @csuciu for the report!  I have been unable to reproduce this.  Can you give us a screen cast of the steps you used to produce this?

[2012-07-12 16:54] #2001 closed, assigned to shane-tomlinson

[2012-07-12 17:00] stephendonner commented on #2007
Confirmed with @zacc that this is responsible for our dev.123done build failures -- can we get this bumped up in stars/priority?  Realize you guys are slammed with regressions and prod rollouts, but want to ensure that our automation is kept humming along, to help!  Thanks.

[2012-07-12 17:08] lloyd commented on #1988
@vthunder can you empower @sawyerh to improve this?

[2012-07-12 17:08] lloyd commented on #1988
@benadida can you make sure @vthunder does this?

[2012-07-12 17:10] skinny97214 commented on #1987
HTML emails and copy are in process of being implemented. Closing for now. Reopen if the new text and design do not please.

[2012-07-12 17:10] #1987 closed, assigned to skinny97214

[2012-07-12 17:16] skinny97214 commented on #1935
What's the status of site names?

[2012-07-12 17:23] lloyd commented on #1960
@ozten all you, can you get the preview env up and close this bug down?

[2012-07-12 17:24] lloyd commented on #1947
gettext is no longer in use, this specific error should never be seen.

[2012-07-12 17:25] #1947 closed, assigned to lloyd

[2012-07-12 17:26] skinny97214 commented on #1890
agree, the site name has to have the biggest visual prominence.

[2012-07-12 17:30] #1917 closed, assigned to nobody

[2012-07-12 17:41] st3fan opened #2013 "Can't get past 'Checking with your email provider' on iOS with UIWebView"
The following is happening on https://login.anosrep.org/sign_in#NATIVE

On iOS 5.1 while running in a UIWebView, I can't get past the 'Checking with your email provider' phase of the login process.

Clicking Next or hitting Return has no effect.

Screenshot at https://moo.mx/grabs/87445949.png

[2012-07-12 18:05] ozten opened #2014 "list_emails loop after BigTent auth"
Using mozilla/browserid on the bigtent_with_dev branch with the latest bigtent and certifier...

I get the following:
http://192.168.186.138:10002/wsapi/auth_with_assertion
inputs:assertion: "eyJhbGciOiJSUzI1NiJ9.ey...PdU4KJpUkcqvBWrGSw8ME5Q"
csrf: "cPe9xQHGGQF9da5ZuG7K1g=="
email: "austin.ok@gmail.com"
ephemeral: true
response: {"success":true,"userid":1}

http://192.168.186.138:10002/wsapi/list_

[2012-07-12 18:14] st3fan commented on #2013
On https://dev.login.anosrep.org/sign_in#NATIVE the problem does not happen and I am taken to the next step of the login process.

[2012-07-12 18:17] zacc commented on #2007
Video, starts at 0:28: http://qa-selenium.mv.mozilla.com:8080/job/browserid.dev.123done.windows.7.firefox.11/290/HTML_Report/?

[2012-07-12 18:24] stephendonner commented on #2007
Or, for those output the VPN, and more directly: https://saucelabs.com/jobs/386925d6baa042a3ac864586d9be4ac0

[2012-07-12 18:27] callahad commented on #1995
Yeah, the HTML5 email definition is awesome. It make me so, so happy to read [this](http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29): "This requirement is a willful violation of RFC 5322, which defines a syntax for e-mail addresses that is simultaneously too strict (before the "@" character), too vague (after the "@" chara

[2012-07-12 19:01] skinny97214 commented on #1702
My thought was to move to only one password field everywhere.

/me ducks.

[2012-07-12 19:22] jrgm commented on #2010
Yes, I can see this with any of FF, Beta, Aurora, Nightly with prod, stage or dev. A good comparison is to enter the same character 10 times as fast as you can in the email field. Then enter an email address known to browserid to bring up the password field and enter a character 10 times there. In the former case you can feel the lag and not all 10 characters are entered. In the latter case, where

[2012-07-12 20:20] ozten commented on #1960
@mathjazz - l10n preview is owned by ops now and automatically gets update with every push to stage.

What is the URL you are hitting?

/CC @gene1wood @fetep

[2012-07-12 20:24] mathjazz commented on #1960
@ozten Seems like http://ozten.com/random/browserid/bid_test.html# work fine now.

After the train was cut, old string were still showing up.

You can cloe the bug, @lloyd.

[2012-07-12 20:30] ozten commented on #1960
Fantastic! Thanks @mathjazz.

[2012-07-12 20:30] #1960 closed, assigned to ozten

[2012-07-12 20:38] chrismendis commented on #1532
I upgraded to the new Watch API, and it's working as expected. Thanks, Mozilla devs!

I noticed that if I set the `loggedInEmail` option in my `navigator.id.watch()` call, then the `login` callback is never fired. I'm definitely setting the `loggedInEmail` option to the email that was used to log in during the previous session. (I just use a cookie to keep track of the email.)

EDIT: I just realiz

[2012-07-12 20:47] stephendonner commented on #1984
+1

[2012-07-12 21:29] fmarier commented on #1993
@shane-tomlinson I guess we could use emails like you suggest, but it also sounds a good reason to keep using userids. Thanks for the clarifications.

If we really wanted to get rid of the userid without impacting the front-end, then maybe the backend could simply return a hash of the userid... Anyways, low-priority :)

[2012-07-12 21:53] fmarier commented on #1995
Thanks @shane-tomlinson, that's a really good post!

[2012-07-12 21:56] benadida commented on #1808
hah, funny, we fixed that.

[2012-07-12 21:56] #1808 closed, assigned to nobody

[2012-07-12 21:56] lloyd commented on #1978
merged.  should be fixed as soon as we update stage.

[2012-07-12 21:56] benadida opened #2016 "log bad verifier assertions"
and probably statsd the fact that we're seeing bad assertions at verifier.

[2012-07-12 21:58] benadida opened #2017 "add different callback and discourage onready()"
new callback should be something like onstatusquo(), which gets called if neither onlogin nor onlogout are about to be called. We should then phase out onready().

[2012-07-12 22:36] #1570 closed, assigned to seanmonstar

[2012-07-12 23:03] jrgm commented on #1978
stage is better for the js exception GH-1978 and I can sign in an existing user, or signup a new user in the dialog.

[2012-07-12 23:03] jrgm commented on #1978
closing.

[2012-07-12 23:03] #1978 closed, assigned to shane-tomlinson

[2012-07-12 23:28] potch opened #2018 "Consistent "this request is taking a looooong time" message when port 443 is filtered on the domain"
I use an email address at `potch.me` to sign into various sites using browser id. The email for this domain is provided by Google Apps via Dreamhost. When prompted for my email address, the sign in process consistently stalls at the "gathering information about your email provider" step, resulting in the slow request message. That step can take as long as 8-10 seconds.

[2012-07-12 23:38] ozten commented on #2018
time curl 'https://potch.me/.well-known/browserid'

[code]

Note HTTP version fails fast: time curl 'http://potch.me/.well-known/browserid'

[code]

[2012-07-12 23:39] fmarier commented on #2018
potch.me is very slow to return:

[code]

whereas fmarier.org is fast:

[code]

It looks like the difference is at the firewall level where fmarier.org is REJECTing packets:

[code]

and potch.me is DROPing them:

[code]

In any case, we probably need to adjust our internal timeouts...

[2012-07-12 23:49] zaach commented on #2016
It looks like there are metrics being taken of successes and failures, but I can add reasons to the failures and a statsd counter.

[2012-07-13 00:09] skinny97214 commented on #1896
@shane-tomlinson I need more context here. I read it four times and I still don't understand wat is. What is it supposed to match to? Can you attach a screenshot?

[2012-07-13 00:38] skinny97214 opened #2020 "reset password links in email expire after one click"
Just like a kleenex, this link is one-use only.

[2012-07-13 00:43] zaach opened #2022 "Use npm-seal to verify dependencies in production"
We can use npm-seal until npm supports it and we switch to node 0.8.x

[![seal](https://github.com/zaach/npm-seal/raw/master/npm-seal.png)](https://github.com/zaach/npm-seal)

[2012-07-13 00:59] seanmonstar commented on #2007
@shane-tomlinson I wonder if it's because of a possible network call also.

At https://github.com/mozilla/browserid/blob/dev/resources/static/pages/js/verify_secondary_address.js#L104, the `updateRedirectTimeout` countdown gets setup, and if `mustAuth` is false because it's the same browser, then `submit` is called.

In submit, at L55, is a call to `user[verifyFunction]()`, and only once that retu

[2012-07-13 04:23] seanmonstar commented on #2010
It's because there is a keyup event listener on email. It seems to be
animating the start hint on ever keyup, which must be beating up
Fennec.

On Jul 12, 2012, at 12:22 PM, John Morrison
reply@reply.github.com
wrote:

[2012-07-13 08:59] ringe opened #2027 "Uncaught exception in auth_with_assertion"
UPDATE: See first comment.

When I go to http://dev.myfavoritebeer.org/ to log in with my users mama@rin.no or mama@underpin.no I experience a timeout at the last step of the Persona process, after login is successful and the user is certififed.

The POST to https://login.dev.anosrep.org/wsapi/auth_with_assertion fails after 4 minutes, with no error message. See the [HAR dump](http://pastie.org/42

[2012-07-13 09:11] csuciu commented on #2008
Here you can find the screen capture - http://www.screencast.com/t/cExasmMq2H
It looks like the size of the sign in window generated from bugzilla.mozilla.org is wrong.

[2012-07-13 10:11] shane-tomlinson commented on #1896
@skinny97214 - the above screen shot is for when a user has to enter their password after they have selected an email address.

This happens when a user signs in to Persona using a primary address, and then selects a secondary address.

The current main authentication page -

![authentication page](https://img.skitch.com/20120713-r72ac32kmpe8arpt4pcnm3p1jf.png)

The current "enter your password af

[2012-07-13 11:08] #2007 closed, assigned to shane-tomlinson

[2012-07-13 11:54] csuciu opened #2028 "Email address is displayed as hint text in 'create password' field"
OS: Android 2.3.4
Browser: Android stock browser,  Dolphin
Device: Samsung Galaxy SII

Steps:
1. Go to beta.123done
2. Enter an email address and tap on Next
3. Tap in 'create password' field

Expected:
 'create password' hint text should be displayed until first character is entered

Expected:
The email address is displayed in 'create password' field as hint text.

[2012-07-13 12:04] shane-tomlinson commented on #2028
@csuciu - Thanks for submitting this issue.  We are relying on the browser's default behavior for the placeholder attribute.  The behavior you are seeing is due to the browser's implementation.

[2012-07-13 12:07] shane-tomlinson commented on #2028
@csuciu - oh, I see this now.  Interesting.  Digging deeper.

[2012-07-13 12:40] shane-tomlinson commented on #2010
reference checkin eed58a9542f1ac06ffcfb223d07562a173d8697e

[2012-07-13 15:26] jedp commented on #2022
I love that little guy

[2012-07-13 15:48] shane-tomlinson opened #2032 "dev: If user enters < 8 char password, /authenticate_user returns 400 error"
If a user enters an incorrect < 8 character password, /wsapi/authenticate_user returns a 400 error

[code]

if the user enters an incorrect > 8 character password, /wsapi/authenticate_user returns a 200 with the following:

[code]

[2012-07-13 16:15] jedp commented on #1992
@fmarier I like the idea of increasing this limit.

A password of any length will be transformed into 60 characters by bcrypt, so increasing the limit would not actually have any impact on the db schema.

The only consideration I can see is maximum POST data size.

The longest password in the Yahoo breach (and how convenient that they stored them in plain text) was something like 261 characters I

[2012-07-13 16:22] callahad opened #2034 "Support environments without popups (phonegap, etc.)"
Several folks on dev-identity are asking about getting BrowserID to work with things like PhoneGap. Apparently one of the primary issues is opening a popup: it opens in a browser outside of the PhoneGap application, breaking the connection between Persona and the app.

[2012-07-13 16:25] callahad commented on #2034
I imagine that simply redirecting into and out of our login flow, instead of using a popup, might Just Work with the Observer API, since we would automatically fire an assertion when landing back on the RP...

[2012-07-13 16:27] benadida commented on #2034
@callahad yes, that's exactly the idea I've been discussing with Dan for Chrome/iOS support and UIWebView support.

[2012-07-13 17:02] seanmonstar commented on #2034
I have always found it skeptical when an app uses an internal webview to
show me an oauth page. Its trivial to inject your own JavaScript to read
your credentials as you type them.

[2012-07-13 17:04] benadida commented on #2034
@seanmonstar I'm with you except.... what other option do we have? Eventually I'd like Firefox to act as the Persona implementation, no passwords. But that's a bit further down the line.

[2012-07-13 17:21] #2010 closed, assigned to shane-tomlinson

[2012-07-13 17:24] #1989 closed, assigned to shane-tomlinson

[2012-07-13 17:25] shane-tomlinson commented on #663
This has been done.

[2012-07-13 17:25] #663 closed, assigned to shane-tomlinson

[2012-07-13 18:42] nickdesaulniers opened #2036 "Can't sign in to bugzilla with BrowserID"
On https://bugzilla.mozilla.org/
Trying to click 'Log In', then click 'Sign In', I get the console error:
TypeError: navigator.id.getVerifiedEmail is not a function L434

[2012-07-13 18:53] jrgm commented on #2036
That may occur if the browser had a failure in loading https://login.persona.org/include.js

[2012-07-13 19:06] callahad commented on #2017
How certain are we of this change? Should I discourage use of onready in MDN now*, while we work on finalizing its deprecation plan and the exact details of onstatusquo?

\* Where now means as soon as MDN comes back up for edits.

[2012-07-13 19:25] seanmonstar commented on #2034
Yea I know.

Well, for Android at least, we could offer a Persona app, and then other
apps can launch an org.persona.INTENT_AUTH intent.

Not possible on iOS, plus it requires Android users to download a second
app, which might discourage devs from using Persona as a login....

[2012-07-13 19:59] jrgm opened #2038 "redirect www.persona.org to login.persona.org"
@benadida pointed this out. You can go to www.persona.org and login and use the main site.

[2012-07-13 21:01] jrgm opened #2040 "browserid metrics - referer not passed through"
Someone on IRC (Pedro) was mentioning that the browserid-metrics log had bad info. I think the issue is that the referer header is not passed through to browserid, so when it outputs the metrics the rp is 'undefined'. My fault since this is visible on the stage versions of that file.  Example:

[code]

[2012-07-13 21:14] vthunder commented on #2034
That _would_ be possible on iOS, apps use custom protocol handlers to do that. But having to download a second app is, IMO, a non-starter. Our only hope is to piggy-back onto another app (like Firefox or Marketplace).

[2012-07-13 21:39] max-mapper commented on #2034
there is a plugin for phonegap called ChildBrowser that is cross-platform and lets you open browser window popups for doing things like oauth. it can be used right now for browserid on phonegap

[2012-07-13 21:55] skinny97214 commented on #1798
@benadida I wish I could feel good about that as a solution, but after my work with the language issues on SUMO I realized it's not that simple. We know that the user's browser setting won't be correct 100% of the time. They could be checking in from a different computer than normal, i.e. an internet cafe. They could have an English distro even though they speak another language.

The question for

[2012-07-13 23:43] lloyd commented on #2032
hmmm.  This is by design.  Does the frontend not check the user's password?  We don't allow < 8 chars /me is slightly confused.

[2012-07-14 00:37] jrgm opened #2041 "load_gen: 'certificates must be a non-empty array' exception thrown"
I was running load_gen at 250000 ADU and a few hours in it threw an (uncaught) exception: 'certificates must be a non-empty array'. There was no stack shown but I figure it was thrown from here: https://github.com/mozilla/browserid/blob/dev/lib/load_gen/crypto.js#L65

Which is, heh, the line I added to fix GH-1770. Now obj.cert shouldn't be empty or falsy at this point. I'll look at a fix, but for

[2012-07-14 00:40] #1981 closed, assigned to zaach

[2012-07-14 00:56] #2011 closed, assigned to lloyd

[2012-07-14 00:56] #1970 closed, assigned to lloyd

[2012-07-14 00:56] #2006 closed, assigned to lloyd

[2012-07-14 00:56] #1963 closed, assigned to lloyd

[2012-07-14 00:58] jrgm commented on #2041
I think obj.cert was empty here due to an error talking to zeus when trying to certify a key about 40 minutes before this crash.

[2012-07-14 01:47] lloyd opened #2042 "new origin validation is too strict"
in issue #1981 we introduced much more rigid origin validation in our API.  but it's too strict.

`http://dev.123done.org` is considered an invalid hostname because it has a part that starts with digits.

/cc @zaach @fmarier

[2012-07-14 01:48] #2042 closed, assigned to lloyd

[2012-07-14 02:16] #2016 closed, assigned to zaach

[2012-07-14 02:17] lloyd commented on #1999
merged to dev.  @jrgm / @jbonacci not interested in this fix for `train-2012.07.06` (which will probably be derailed anyway)

[2012-07-14 02:17] #1999 closed, assigned to shane-tomlinson

[2012-07-14 06:27] ringe commented on #2027
I realize the issue I originally posted here is just an uncaught exception in browserid. As pointed out by @benadida over IRC on #identity - the timeout problem was caused by not parsing the params["pubkey"] to JSON before stringifying the cert_params.

[code]

The issue with the timeout is solved by returning an error message if the format of the "public-key" value is wrong. Maybe even point out

[2012-07-14 06:35] ringe opened #2043 "stage and prod does not look up .well-known on rin.no or underpin.no"
When I try to log in to http://myfavoritebeer.org/ with mama@rin.no or mama@underpin.no I expect to see a query to ./well-known/browserid on the server for each domain. This request does not take place.

On the client side, I am asked to create a password in Persona instead of seeing my server's login form.

[2012-07-14 08:17] jrgm commented on #2043
So, I have no access to production but on stage (where I have limited privs) I can see that requests to rin.no or underpin.no sit in SYN_SENT. From an external-to-mozilla host, those connections work. /cc @gene1wood

[2012-07-14 18:06] ringe commented on #2043
@jrgm - that doesn't make sense to me, is there some firewall in stage and prod doing this?

Logging in to http://dev.myfavoritebeer.org/ does produce the request on rin.no and underpin.no, but logging in to http://beta.myfavoritebeer.org/ and http://myfavoritebeer.org/ does not.

Is there something I can/should do or look for on my side?  /cc @gene1wood

[2012-07-14 18:34] ringe opened #2044 "wsapi looping after successful POST to auth_with_assertion"
When I try to log in to http://dev.myfavoritebeer.org/ with mama@rin.no, using [my own primary](/ringe/browserid-provider), the API enters loop over the three requests below:

[code]

See the [HAR dump](https://gist.github.com/3112465) for specifics.

[2012-07-14 20:54] benadida commented on #1798
@skinny97214 it might be hard to get good data on this. To me, the question is: if the browser is set to a certain language, is the user really inconvenienced if the Persona popup is in the same language? And how many folks would that really be a problem for?

Like I said, yours and @vthunder's call, but I'm having trouble seeing a high priority on this.

[2012-07-15 04:09] fmarier commented on #1992
@jedp Good point, I hadn't thought about the hash algorithm bringing it down to a fixed length anyways.

Maybe @warner has something to say about a reasonable limit from a password-derivation or SRP point of view.

Other than that, I guess we need to pick a number we're happy with. I have no idea why I like 255 so much :)

[2012-07-16 03:22] lloyd commented on #1111
this is a duplicate of issue #1862

[2012-07-16 03:22] #1111 closed, assigned to vthunder

[2012-07-16 07:41] thom4parisot commented on #1798
Absolutely not, IMHO it's the best thing to do.
Except when it comes to the next point.

For those who had **explicitely** chosen another **website language** (they provide language selector for purpose).

Yet it affets a small percentage, it would not be so hard to let the language to be set like this:

[code]
- If it's filled
  - Persona checks if the language is available
  - If it's available,

[2012-07-16 07:44] naholyr commented on #1798
Is Persona translated in **all** the existing languages ? Currently, even French is not fully supported :(

Until you don't support all languages, you cannot only rely on browser's header because: what will you do when none of those are supported by Persona ? Choose arbitrarily English ? You have to let user change this choice.
And when it's come to this, why not letting the opener pre-select this

[2012-07-16 08:49] #1825 closed, assigned to shane-tomlinson

[2012-07-16 08:59] shane-tomlinson commented on #2032
@lloyd - this is a recent change to the API.  When a user is authenticating, we have always sent _all_ passwords to the backend regardless of their length.  We only check the length when a user is creating their password.

[2012-07-16 09:00] shane-tomlinson commented on #1982
checkin b95b1d6 fixed this.  closing.

[2012-07-16 09:00] #1982 closed, assigned to shane-tomlinson

[2012-07-16 09:18] csuciu opened #2049 "Can't sign in in production - email case sensitivity"
OS: Win7
Browser: FF 13.01
                 Chrome 20.0.1132

Steps:
1. Go to mozillians.org, bugzilla.mozilla.org or developer.mozilla.org
2. Press on 'Sign In' with Persona
3. Enter an email address, press 'Next', enter the password then press 'Sign In'

Expected:
User should be signed in with the new email

Actual:
Nothing happens.

[2012-07-16 09:26] shane-tomlinson commented on #2049
@csuciu - Thanks for the bug report.  I am not having a problem in any of these three sites in Win7.  Can you possibly attach a screencast/screenshots of what you are seeing, with dev tools open if possible?

[2012-07-16 09:47] csuciu commented on #2049
I got this error in the console when pressing on Sign in:
Timestamp: 7/16/2012 12:40:03 PM
Error: [Exception... "'PopupNotifications_show: invalid browser' when calling method: [nsILoginManagerPrompter::promptToSavePassword]"  nsresult: "0x8057001e (NS_ERROR_XPC_JS_THREW_STRING)"  location: "JS frame :: resource:///components/nsLoginManager.js :: <TOP_LEVEL> :: line 971"  data: no]
Source File: re

[2012-07-16 10:13] shane-tomlinson commented on #2049
@csuciu - Thanks for the screencast, it is helpful.  If you disable all of your addons, do you still see the problem?

[2012-07-16 10:50] csuciu commented on #2049
Yes, I'm still seeing this with all addons disable

[2012-07-16 13:40] csuciu opened #2052 "Error message when tapping on confirmation link"
OS: Android 2.3.4
Browser: Firefox mobile release

Steps:
1. Receive a confirmation email on Gmail
2. Tap on confirmation link

Expected:
Persona sign in page should open

Actual:
Error page is displayed. Please see the screenshot http://imageshack.us/photo/my-images/189/devicez.png/

Unable to reproduce on Stock browser using Gmail or on Firefox mobile using Yahoo

[2012-07-16 14:12] JasnaPaka opened #2054 "Persona website has problem with font"
Persona has problem with font. For czech (cs) some chars are not rendered correctly.
- https://login.persona.org/

[2012-07-16 14:15] JasnaPaka opened #2055 "Link to Mozilla Support from mainpage contains "en-US""
On the main page (https://login.persona.org/) there is a link to https://support.mozilla.com/en-US/kb/what-browserid-and-how-does-it-work. This is bad because link contains "en-US" in URL. Please remove "en-US". This article is translated to many languages. Thanks.

[2012-07-16 14:15] shane-tomlinson commented on #2054
@JasnaPaka - thanks for filing this issue.  This is a dup of #1973 and #1856.  The fix for this is in the pipeline and should be applied within the next week.

[2012-07-16 14:15] #2054 closed, assigned to nobody

[2012-07-16 14:20] shane-tomlinson commented on #2055
@JasnaPaka - Thanks for filing this issue!  PR #2056 fixes this.  It should be reviewed and merged this week and should make its way to prod in a couple weeks.

[2012-07-16 16:18] #2032 closed, assigned to nobody

[2012-07-16 17:30] #2055 closed, assigned to shane-tomlinson

[2012-07-16 17:45] seanmonstar commented on #2054
I'm curious if the new fonts render czech characters better. If so, then it might have been worth the increased size.

If you can, we have the new fonts staged at http://login.anosrep.org

[2012-07-16 17:48] seanmonstar commented on #1571
with #1831 closed, what is outstanding for this?

[2012-07-16 17:50] warner commented on #1992
Yeah, what @jedp said. The only limit, if any, should be based upon how much inbound network bandwidth we're willing to spend on the POST data size, and how much memory we're willing to (briefly) spend until it gets hashed.

I'd make it 10kB: large enough to make it effectively infinite for all sensible purposes.

[2012-07-16 20:16] jrgm commented on #2040
This is also now https://bugzilla.mozilla.org/show_bug.cgi?id=773877

In addition to referer:, we need to pass user-agent: and x-forwarded-for and maybe x-originating-ip.

[2012-07-16 21:49] lloyd opened #2059 "don't select any email address in the picker for a new site"
if we have no data regarding which email address a user has used for a specific site that they are logging into, we should not have anything selected by default.

[code]

[2012-07-16 22:19] fmarier commented on #1992
Ok, so should we go with a limit of 512 characters like @jedp suggested? There's probably no point in using anything bigger.

[2012-07-17 00:41] jedp commented on #1992
@fmarier @warner - I have to say, I love the idea of a 10kB limit on passwords.  It makes statements like "Your password must be between 8 and 12 characters long" sound even more hilarious.  I would _love_ to write a line in our documentation that says "Your password must be no more than ten thousand characters long."

[2012-07-17 01:41] jrgm commented on #1849
verified on awsbox running train-2012.07.06

[2012-07-17 01:54] fmarier commented on #1992
I have to agree that it would be pretty cool to have such a statement in the docs!

However, I can see a few potential issues with very long passwords:
- what encoding are they in? (in the worst case, it could quadruple the size of the string in bytes)
- how easy is it to write tests to confirm that we can support the length we advertise?
- what else will be in the POST data along with the passwor

[2012-07-17 02:14] jrgm opened #2061 "kpi new_account only sent when new account is created (unlike other kpi keys)"
I'm not sure if this is a real issue. Feel free to close if the current behaviour is expected.

The kpi key `new_account` is only sent when a new account is created. (Compare this to `orphaned` which is sent whether the dialog is "orphaned" or not).

[2012-07-17 02:17] jrgm commented on #1730
verified with an awsbox for train-2012.07.06

The keys in KPI_WHITELIST are sent with reasonable values:

[code]

One note, `new_account` is only sent when a new account is created. Filed as GH-2061 but may be acceptable as is.

[2012-07-17 02:28] jrgm opened #2062 "update documentation for keys sent (https://wiki.mozilla.org/Privacy/Reviews/KPI_Backend#Data_Storage_Component)"
The set of keys on the kpi payload differs from the doc:

[code]

Also update https://wiki.mozilla.org/Identity/BrowserID/KPI_Dashboard#Data_Glossary

[2012-07-17 02:46] jrgm commented on #1756
I haven't been experiencing any email issues with stage so verifying for train-2012.07.06

[2012-07-17 03:15] jrgm commented on #2041
There was a major interruption of some kind for zeus on stage today about 15:00 PDT. About 30 minutes after that, the uncaughtException handler that I put in started chirping about this 'non-empty array'. So, yeah this is indeed happening to load_gen in the face of network errors.

[2012-07-17 03:29] jrgm opened #2063 "load_gen does not renew expired certicates"
Sorry, noticed this a couple of weeks ago, but didn't file an issue. This wasn't visible before GH-1770 was fixed. So load_gen starts with an initial set of users and adds more all the time. These users get certs with 24 expiry. So after 24 hours the population begins to have expired certificates.

Easy workaround for an extended duration test has been to restart load_gen after 24 hours, but it wo

[2012-07-17 04:33] jrgm commented on #1794
simple code change. not really verifying for train-2012.07.06

[2012-07-17 04:42] jrgm commented on #1905
This particular example looks fine on stage train-2012.07.06. Verifying but will continue to look for oddities in the next train.

[2012-07-17 05:22] jrgm commented on #1992
@fmarier see GH-1631

[2012-07-17 05:49] jrgm commented on #1777
verified stage train-2012.07.06

[2012-07-17 05:59] jrgm commented on #1826
verified on stage train-2012.07.06.

[2012-07-17 06:01] jrgm commented on #1875
verified in local instance train-2012.07.06

[2012-07-17 06:05] jrgm commented on #1978
verified stage train-2012.07.06

[2012-07-17 06:11] jrgm commented on #1958
verified on the other repo train-2012.07.06

[2012-07-17 06:48] jrgm commented on #1856
has also been noted in https://bugzilla.mozilla.org/show_bug.cgi?id=774576

[2012-07-17 06:57] Inkbug commented on #1856
Thanks for fixing this - when will this go to the live site (the site is really unreadable)?

[2012-07-17 07:10] jrgm commented on #1856
The fix is in current stage, but it won't go live for another two weeks.

[2012-07-17 09:20] #1986 closed, assigned to shane-tomlinson

[2012-07-17 09:23] #1655 closed, assigned to shane-tomlinson

[2012-07-17 10:17] shane-tomlinson opened #2066 ""Remember You" button text overflows on desktop when resized to mobile device size"
STR
1) On a desktop browser, open the dialog to the email picker for an account that is older than one minute.
2) Open debug menu, select "force is this your computer"
3) Select an email and click next.
4) Resize dialog so that it is mobile size.

![Button Text Overflow](https://img.skitch.com/20120717-mug2xfnndki2y5fwag8w3s1au3.png)

[2012-07-17 11:37] csuciu commented on #2049
Turns out that you cannot sign in if you have an account created with uppercases (e.g TEST@example.com) and you try to sign in with the same account but using lowercases (test@example.com).
This is the issue in my case..

[2012-07-17 12:43] shane-tomlinson opened #2068 "frontend: use named constants instead of hard coding password min and max length"
Setting up to fix #1992

[2012-07-17 12:55] csuciu commented on #1517
Verified as fixed in Stage

[2012-07-17 13:26] shane-tomlinson commented on #1023
Pull request to WinChan issued to allow window.name to be specified. https://github.com/lloyd/winchan/pull/26

@lloyd - can you review the WinChan change?

@benadida - in auth_with_idp/main.js, you set the window.name to auth_with_primary.  I spoke to @davehunt about opening the window with another name so they they can get a reference to the window, something like persona_dialog.  Once the Seleni

[2012-07-17 15:36] naholyr opened #2070 "Allow `siteName` and `siteLogo` options in `navigator.id.get()`"
We use `navigator.id.get()` on our website, why doesn't it have the same options as `navigator.id.request()` for customization ?

[2012-07-17 15:38] naholyr commented on #2070
Before you tell us to use `navigator.id.request()`, here is the situation :)

Our configuration is quite simple:
- A unique "/login" page with the login button
- A "log out" button on every page once logged in

We use `navigator.id.get()` because we just need an entrypoint to check user's identity, and then we only rely on website's session mechanism.

`navigator.id.request()` relies on `navigator

[2012-07-17 15:51] thom4parisot commented on #2070
I think it works, it's just not documented ;-)

[2012-07-17 16:08] shane-tomlinson opened #2071 "screen_size_hacks.js->undefined variable favIconHeight"
STR:

1) Open up the dialog in Firefox 14.
2) Open up the Web Console
3) Resize the dialog and see the error.

This causes an exception to be thrown.

[2012-07-17 16:11] shane-tomlinson opened #2072 "prod: FFx 14 - b.setStagedOnBehalfOf exception thrown when closing window"
STR

1) Open 123done.org in FFx 14
2) Open Error Console
3) Open Persona Dialog.
4) Without selecting an email address, close the dialog.

Timestamp: 17/07/2012 17:10:18
Error: TypeError: b.setStagedOnBehalfOf is not a function
Source File: https://static.login.persona.org/v/cb8d77cc83/production/en_US/dialog.js
Line: 9

[2012-07-17 16:22] #2068 closed, assigned to shane-tomlinson

[2012-07-17 16:36] callahad commented on #1571
I think at this point, it's just noting somewhere on MDN that:

When testing,

eyedee.me can be used against these Persona instances: ?

mockmyid.com can be used against these Persona instances: Production only.

[2012-07-17 19:08] jrgm commented on #1760
verified in local dev train-2012.07.06

[2012-07-17 19:50] lloyd opened #2076 "english means english"
When I set my browser settings to prefer english first `en`, then a different language, we serve up the different language rather than `en-US`.

I would think that it would be more optimal to serve en-US in this scenario.

[2012-07-17 19:50] lloyd commented on #2076
/cc @mathjazz @ozten

[2012-07-17 19:57] seanmonstar commented on #2076
dupe of #1863

[2012-07-17 20:22] ringe commented on #2044
The problem turned out to be a missing parameter in the assertion certificate: `iat`

See http://irclog.gr/#browse/irc.mozilla.org/identity/122083

Issue solved in [browserid-provider](/browserid-provider/issues/1)

[2012-07-17 20:22] #2044 closed, assigned to nobody

[2012-07-17 20:37] shane-tomlinson commented on #2076
+1.  Is this apply universally?  Would a user from Mexico who has their Spanish set to es be alright if they were served up es-AR if we had that translation but not normal es?

[2012-07-17 21:12] #2076 closed, assigned to nobody

[2012-07-17 21:41] ozten commented on #2076
There are unit tests to match the base part of a language code.

There are also comments around potential political issues around doing this too broadly.

[2012-07-17 22:19] benadida opened #2077 "allow a well-known file to let an IdP be only supported in staging, not prod"
Make it easier for an IdP to stand up code without immediately deploying as a public IdP.

The well-known file could include a new field:

[code]

that would, in the case of production Persona, act like it's a 404 well-known.

[2012-07-17 22:25] benadida commented on #2077
@ozten correctly points out that this won't work well when you're pushing a new rev and already have an IdP in production. Maybe we should have alternate well-known paths:

[code]

[2012-07-17 22:27] skinny97214 commented on #1976
@lloyd Do you have a screenshot of your progress?

We're adding "What year were you born in" with a dropdown underneath the password field. We'll need to eliminate the second password confirm field to make room for it.

Can we ajax in the month / day drop downs if the year makes them possibly under 13?

I'll need guidance on the error text that should show if they are under 13 from Jishnu.

[2012-07-17 22:35] callahad commented on #2077
That also becomes kind of weird, though, because you can't test your in-development IdP against stable Persona...

[2012-07-17 23:07] benadida opened #2078 "dynamic well-known"
To support BigTent and generally provide a bit more flexibility, we should tweak the protocol such that, when a well-known file is requested at a URL whose domain does NOT match the email for which the request is made, a domain GET parameter is added to the well-known request.

[2012-07-18 00:07] callahad commented on #2070
Hi @naholyr, we're focusing all of our new development on the Observer API, and don't have any plans to add further features to the previous API.

[2012-07-18 04:23] fmarier opened #2079 "Cookies disabled: error message points to Firefox-only documentation"
When cookies are disabled, we show users an error message which ultimately points to this SUMO page:

  https://support.mozilla.org/en-US/kb/websites-say-cookies-are-blocked-unblock-them

Since Persona is not Firefox-specific, we should give instructions for other browsers too.

[2012-07-18 07:00] callahad commented on #2070
@lloyd and I are working on a blog post formally introducing the Observer API and explaining why it's worth the labor of switching. I promise there are good, non-obvious reasons! We'll try to get that online on Thursday, or, failing that, Monday.

[2012-07-18 08:06] shane-tomlinson commented on #2079
+1.  This is a dup of the closed #1302.

From https://github.com/mozilla/browserid/issues/1302#issuecomment-4751065:

[code]

[2012-07-18 08:31] shane-tomlinson opened #2080 "limit length of URLs and paths passed to dialog"
IE8 limits URLs to 2083 total bytes with 2048 bytes in the path.

See http://support.microsoft.com/kb/q208427

[2012-07-18 08:46] shane-tomlinson opened #2082 "/signin - redirect to primary "verify" button does not match normal button style"
STR

1) Go to main site's /signin page
2) Enter a primary address that must be verified with the primary
3) Look at the ugly verify button

![Janky Verify Button](https://img.skitch.com/20120718-xhmbehxswn194wtkxxie5687sn.png)

[2012-07-18 10:28] shane-tomlinson commented on #1578
Dup of #2023 which is the new tracker.  Closing.

[2012-07-18 10:28] #1578 closed, assigned to skinny97214

[2012-07-18 12:27] #1580 closed, assigned to billder

[2012-07-18 12:36] callahad opened #2086 "siteName and siteLogo not scrubbed from id.get()"
User @oncletom reports that siteName and siteLogo are working for him using the old API. Should they be? We never tested those features with that API.

We should probably also check on returnTo.

[2012-07-18 13:27] shane-tomlinson opened #2087 "main site confirm screen - password field not automatically focused"
STR

1) In Browser A, open dialog to email picker
2) In Browser A, add a new secondary email
3) In Browser B, make sure user is logged out.
4) In Browser B, open verification email
5) In Browser B, password field should be focused.

[2012-07-18 13:32] shane-tomlinson commented on #1973
+1.  @lloyd - the fonts in Firefox are pretty janky on dev.

[2012-07-18 13:35] shane-tomlinson opened #2088 "error when verifying email addition in second browser"
STR

1) In Browser A - Create an account with a primary
2) Open dialog to email picker, click "Add Email"
3) Add the first secondary address, set password, hit enter.
4) in Browser B - Open confirmation page, enter password.
5) Go back to Browser A.
6) Watch error screen appear.

![error message](https://img.skitch.com/20120718-ri9hu76c2hxqabr2s1ph6w3qty.png)

[2012-07-18 14:36] callahad opened #2090 "No email addresses shown in picker"
As per this blog post (scroll down to the section titled "A Minor Bug") http://www.opine.me/mozilla-persona-browserid-is-a-step-in-the-wrong-direction/

"I ran across a minor bug while trying to collect screenshots for the blog. At one point I clicked the Login button and I was presented with the following screen:

Screenshot: http://www.opine.me/wp-content/uploads/2012/07/Bug-1.png

The Login dia

[2012-07-18 14:42] shane-tomlinson commented on #2088
@lloyd - I brought this up while you were still here in London and remembered it again today as I was testing.  This scenario requires two browsers.

When /wsapi/email_addition_status returns a status of "complete", Browser A's authentication level _should_ be set to "password"  Yet, when /wsapi/cert_key happens, it thinks Browser A is either no longer authenticated or authenticated to the wrong l

[2012-07-18 15:00] ncalexan opened #2091 "browserid.org/verify returns empty reply"
This was moved from https://bugzilla.mozilla.org/show_bug.cgi?id=774924.

The following string is a cert that causes browserid.org/verify to (timeout and) return an empty reply:

<code>eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjEzNDI1Njk4NjcxODAsInByaW5jaXBhbCI6eyJlbWFpbCI6InRlc3RAbW9ja215aWQuY29tIn0sInB1YmxpYy1rZXkiOnsiYWxnIjoiUlMiLCJlIjoiNjU1MzciLCJuIjoiMTAwNzAwMTczNjY0NDg4NTQ4NzE2OTI5OTE0NDM0NzUxNjAyMDkwNj

[2012-07-18 15:04] benadida commented on #2091
thanks @ncalexan ! Very helpful.

[2012-07-18 16:38] lloyd commented on #2090
thanks for filing this, @callahad

I can think of multiple approaches to remove the last email from an account to try to reproduce this..

If you create an account and login in browser A (one account with a single email addy associated), then go to browser B...

...  first, you could try adding that email to a different account, effectively disassociating it with the first, then return to browser

[2012-07-18 16:39] lloyd commented on #2091
yeah @ncalexan thanks for following up on this!

[2012-07-18 17:15] jrgm commented on #2090
I reported this in GH-1472 with STR using 'this is not me' in one browser.

[2012-07-18 18:05] ozten commented on #2077
/.well-known/browserid-dev is a place where we can fix some of these issues:
- https://github.com/mozilla/vinz-clortho/blob/master/docs/PRIMARY_PAINPOINTS.md
- https://developer.mozilla.org/en/BrowserID/Primary/Developer_tips

[2012-07-18 18:32] mathjazz opened #2093 "Train-2012.07.20 l10n issues"
## BrowserID -> Persona
- /resources/static/pages/js/manage_account.js: 3 strings
  - `Remove %(email) from your BrowserID?`
  - `Removing the last address will cancel your BrowserID account.\n Are you sure you want to continue?`
  - `Are you sure you want to cancel your BrowserID account?`
## To much markup -> string replacement

Instead of `<a href="http://example.com" target="_blank">Link!</a>`

[2012-07-18 21:11] sintaxi commented on #2034
Happy to see this issue on the list. This is an important use case to cover.

As @maxogden says, ChildBrowser is the way to go. The problem is that persona (as far as I know) doesn't give you control over how the popup window opens.

[2012-07-18 22:02] jrgm commented on #1892
verified on stage for multiple desktop/android browsers stage train-2012.07.06

[2012-07-18 23:37] jrgm commented on #1774
On stage train-2012.07.06 in all browsers x platorms I see the box-shadow when a button has focus with two exceptions:

1) winxp IE8 which doesn't have box-shadow (of course)
2) osx safari 5.17

[2012-07-18 23:37] jrgm commented on #1721
verified stage train-2012.07.06

[2012-07-18 23:38] jrgm commented on #868
verified stage train-2012.07.06

[2012-07-19 03:29] jrgm commented on #1793
verified stage train-2012.07.06 in chrome and firefox - initial load on an empty cache is 200 OK with 'cache-control: public, max-age=0' and an etag: and subsequent GET of the same URL returns 304 Not Modified with either /verify_email_address or /forgot (as already noted above and the previous train did not do (200 OK on every load)).

[2012-07-19 03:42] jrgm opened #2096 "ux in reloading /verify_email_address after verified could be more user friendly"
I noticed this in verifying GH-1793. Not an issue about that; this is just about the UX.

STR
1. Initiate sign up with either an RP and the /sign_in dialog or through the main site. Enter unknown secondary email address and password (twice). Collect /verify_email_address from email inbox.
2. Load that link in a browser window. In the case of RP-initiated load of /verify_email_address and returnTo

[2012-07-19 03:45] jrgm commented on #2072
This is also GH-1848

[2012-07-19 04:05] jrgm commented on #1851
verified in stage train-2012.07.06

These /pages/i URL are served with:
  Cache-Control public, max-age=31536000 (one year) and an Etag

[code]

Returning to /about from another page does not make a network request.

[2012-07-19 04:14] jrgm commented on #954
@jbonacci I had a quick look an the flow with now asking for a password first invalidates the original STR. If I do pick up the email and do /verify_email_address I see a sub-second spike in CPU to 98%, but not visible to the end user. So verified; not a problem anymore.

[2012-07-19 04:44] fmarier opened #2097 "login.persona.org/verify can be used as a verifier"
We want people to use `verifier.login.persona.org/verify` as the URL for our verifier service. One of the reasons for the separate sub-domain is to be able to move that service to a separate server/IP later.

However, it is currently possible to use `login.persona.org/verify` to verify assertions. The fact that this works now means that RPs might start using it and will see their verifications fai

[2012-07-19 04:56] lloyd commented on #2097
+1.  also, is /verify as a path really meaningful?  or should post to https://verifier.login.persona.org work?

On Jul 18, 2012, at 10:44 PM, Francois Marier wrote:

[2012-07-19 05:00] jrgm commented on #1269
verified in code

[2012-07-19 05:13] fmarier commented on #2097
+1 to @lloyd 's suggestion to drop `/verify` from the URL (though we need to be careful about any future redirections we make from `browserid.org/verify`)

[2012-07-19 05:37] jrgm commented on #1861
verified in code and against stage train-2012.07.06 - first load by ie8 is 200 and subsequents is 304

[2012-07-19 06:22] fmarier opened #2098 "Dialog email field not recognized as such in Opera Mobile"
On Opera Mobile for Android (both on tablet and phone), the email field that the dialog shows, when it asks you for your email the first time, is not recognized as an email field. The on-screen keyboard that pops up lacks the @ sign on the first screen for example, and on a Samsung device, the convenient ".com" button is also missing.

This was tested on dev.myfavoritebeer.org

[2012-07-19 06:26] fmarier opened #2099 "Confirming a new email while already logged in doesn't log you in with new identity"
Steps:
1. create a new Persona account with a secondary email, click confirmation link
2. log out of myfavoritebeer
3. add a new secondary emai
4. click confirmation email

Expected:

The email is confirmed and you get redirected to the RP where you are automatically logged in.

Actual:

The email is confirmed and you get redirected, but once on the RP page (myfavoritebeer), you're still not logge

[2012-07-19 06:31] fmarier opened #2100 "RP link in plain text emails is easily confused with confirmation link"
I got confused a few times by this while testing on a tablet.

In the confirmation email, there are two URLs: the RP URL and the confirmation link. Since the email is in plain text, both are converted to clickable links by your email client. They are also very close to each other and so it looks like a giant blue clickable area.

If you're not paying attention, it's easy to click on the wrong link

[2012-07-19 06:34] fmarier opened #2101 "Password reset page: should the landing page redirect somewhere?"
Once you have successfully reset your password, you end up on a login.persona.org that tells you that you have done that successfully.

There is no indication of what to do next (i.e. going back to where you were when you found out you had to reset your password).

[2012-07-19 06:40] fmarier opened #2102 "Dialog buttons not disabled during auth with primary"
Log into an RP (or login.persona.org itself) using a new eyedee.me address.

While Persona is "checking with your provider", the "next" (or "add") button becomes clickable at times (when really, you should just be waiting for this to finish).

Also, when you come back to the dialog (after successfully logging into eyedee.me with the right password), you are back on a dialog screen which momentaril

[2012-07-19 06:53] fmarier opened #2103 ""Blank" screen after confirming secondary email"
Steps:
1. add a new secondary email
2. click the confirmation link in email

Expected:

The page that appears should immediately tell me that something is happening and that confirmation is in progress.

Actual:

A "blank" (well, it's themed, but the main part is basically empty) page shows up for 2-3 seconds, then a message shows up saying that the email was confirmed. Then a redirect happens aft

[2012-07-19 07:05] nmalkin commented on #2100
See #1987 for some discussion of the same issue

[2012-07-19 07:10] fmarier commented on #2100
While the new HTML emails will make this better, not everybody enables HTML emails, so we should improve the plain text version too.

[2012-07-19 09:28] boinggg commented on #1501
like

[2012-07-19 15:53] shane-tomlinson opened #2104 "Verifying email reset in multiple browser exception in /wsapi/complete_reset"
STR

1) Have an account with a secondary address
2) Sign in to BrowserID using same address in two browsers.
3) In Browser A, reset your password.
4) Open Verification Link in Browser B
5) Nothing happens in Browser B.

In Browser B, /wsapi/email_for_token returns "must_auth: false" because it already has a session to that user.  Because "must_auth" is set to "false", /wsapi/complete_reset is call

[2012-07-19 15:54] shane-tomlinson commented on #2103
I believe this is caused by #2024

[2012-07-19 16:11] jedp opened #2105 "Cancel Account says "Are you sure you want to cancel your BrowserID account?""
should say "Persona account"

[2012-07-19 16:12] jedp commented on #2105
I see this is already fixed in dev.  Never mind.

[2012-07-19 16:12] #2105 closed, assigned to nobody

[2012-07-19 16:18] jedp opened #2106 ""Account cannot be verified" warning obscures email"
If I type a wrong email + password pair, the red "Account cannot be verified with this email and password" dialog appears above the password field, blocking the email.

My impulse is to read the email address right away to see if I've misspelled it, but it's blocked by the pop-up.  I have to wait a few seconds for it to go away.  This feels uncomfortable as it prevents me from doing what I natural

[2012-07-19 16:23] jedp opened #2107 "Inactive "Sign in" button not visibly disabled on sign up for new account"
- go to persona.org
- choose "sign in"
- enter a new secondary email
- click the blue "sign in" button below the email
- the blue button flashes gray for a moment
- I am prompted to "sign up" and the "sign in" button turns blue again
- clicking the "sign in" button has no action

Since I'm required to sign up for a new password at this point, I would expect the blue "sign in" button to remain gray

[2012-07-19 16:29] jedp commented on #1702
I hit this again doing DDT this morning.  Instinctively, it felt bad.  But it's true that if you get your password wrong, you can just reset it again with minimal effort.  So I'm beginning to think @skinny97214 's idea of having one-password fields everywhere would actually be nice!

[2012-07-19 16:39] skinny97214 commented on #2107
Dupe of #1886

[2012-07-19 16:39] #2107 closed, assigned to skinny97214

[2012-07-19 16:42] jedp commented on #2107
Aha - thanks.  I figured there had to already be a ticket for it.  Sorry my searching didn't find it!

[2012-07-19 16:44] lloyd commented on #2102
please re-confirm against dev?

[2012-07-19 16:46] lloyd commented on #2101
what are the concrete STR here?

[2012-07-19 16:46] skinny97214 commented on #2101
If there is an RP, it should redirect to the RP. If there isn't, it can go to the account management page.

[2012-07-19 16:50] lloyd commented on #2099
this is not expected to work on myfavoritebeer, but should on 123done, please try to repro there.

[2012-07-19 16:50] #2099 closed, assigned to nobody

[2012-07-19 16:58] lloyd commented on #2091
let's understand impact here and what exactly is going on, then decrement accordingly

[2012-07-19 16:59] lloyd commented on #2090
this sounds like a dupe @jrgm, please close down if you concur

[2012-07-19 17:05] lloyd commented on #2079
+1

[2012-07-19 17:21] lloyd commented on #2052
jrgm, can you figure out the extent of affected users?

[2012-07-19 17:23] callahad commented on #2049
This looks like a continuation of the issue in #1350. We need to take a stance on this.

[2012-07-19 17:27] lloyd commented on #2036
@jrgm - was this just a cosmic ray?  can you reproduce this?

[2012-07-19 17:29] callahad commented on #2034
This feels really high priority, but low urgency at the moment. It'd be _awesome_ to have a really well fleshed out mobile story in Q3. Especially with Chrome on iOS needing this, etc.

[2012-07-19 17:37] lloyd commented on #2020
as designed, skinny is cool wit it.

[2012-07-19 17:37] #2020 closed, assigned to nobody

[2012-07-19 17:39] skinny97214 commented on #2018
+11

[2012-07-19 17:39] lloyd commented on #2018
+1
This one drives me crazy too.

[2012-07-19 17:42] callahad commented on #2014
We should test this again with the branch that landed...

[2012-07-19 17:42] lloyd commented on #2013
as long as this is working on dev, we're good.  stage was derailed and won't ship into production.

[2012-07-19 17:42] #2013 closed, assigned to nobody

[2012-07-19 17:44] jedp commented on #2080
Generously re-assigning from me to @seanmonstar in the hope that he actually has IE8 somewhere

[2012-07-19 17:47] seanmonstar commented on #2080
You are too kind.

[2012-07-19 17:57] jedp commented on #1622
Resolved with #1621 and #1622

[2012-07-19 17:57] #1622 closed, assigned to jedp

[2012-07-19 18:00] benadida opened #2108 "Set up test case for native embedding"
For testing native apps such as Pancake, Firefox, etc.

[2012-07-19 18:46] #2040 closed, assigned to lloyd

[2012-07-19 20:02] #2086 closed, assigned to lloyd

[2012-07-19 20:16] callahad commented on #2070
Closing this issue for now. look for a blog post on http://identity.mozilla.com Monday.
Issue #2086 is tracking the problem with `.request` options getting processed when coming from `.get`.

Thanks!

[2012-07-19 20:16] #2070 closed, assigned to lloyd

[2012-07-19 20:31] shane-tomlinson commented on #2072
@jrgm - thanks, and like #1848, this was fixed with b1f30fba, which has not yet made its way to prod.  Closing as already fixed.

[2012-07-19 20:31] #2072 closed, assigned to shane-tomlinson

[2012-07-19 20:42] shane-tomlinson commented on #1998
This got merged into dev with checkin 684b785a58b8e5328ee1f0652acff8fead2f048b.  It's still not pretty, but this is back to the state that prod was in.

[2012-07-19 20:42] #1998 closed, assigned to shane-tomlinson

[2012-07-19 20:44] lloyd commented on #2027
assigning to @benadida as he's auditing verification code...

[2012-07-19 21:41] jrgm commented on #2090
Closing as a dupe of GH-1472 but noting a link to Lloyd's comments above

[2012-07-19 21:41] #2090 closed, assigned to jrgm

[2012-07-19 21:41] jrgm commented on #1472
See also Lloyd's comments for other ways to cause this to happen - https://github.com/mozilla/browserid/issues/2090#issuecomment-7074219

[2012-07-19 21:50] jrgm commented on #1622
Actually I file https://bugzilla.mozilla.org/show_bug.cgi?id=775742 just now to request monitoring/graphing for HTTP 413

[2012-07-19 21:52] jrgm commented on #2036
It seems to have been a transient problem and not sure why it occurred. But please reopen if this happens again @nickdesaulniers

[2012-07-19 21:52] #2036 closed, assigned to jrgm

[2012-07-19 21:55] #1973 closed, assigned to lloyd

[2012-07-19 22:13] jedp opened #2112 "Active input field on "Check your email" + emacs bindings + Ctrl+W in FF = weirdness"
If you add a new secondary email, when the flow moves on to the "Check your email" panel, the (now invisible) email input is still the activeElement in the dom.

At this point, if you hit Ctrl-W, you think you will close the popup.  But in fact you probably get the emacs binding for "delete word left", because you're in editor context.

Delete word left makes firefox to want to give you suggestion

[2012-07-19 22:39] jrgm commented on #2052
I cannot reproduce with android 2.3.4 firefox release and current gmail mobile client

@csuciu - what is the full URL in the browser's urlbar. Do you have the original email? Why is it loading from google.com/gwt.......

[2012-07-19 22:55] jedp opened #2113 ""Passwords don't match" field obscures first password box"
Similar to #2106

If you create a new password, and your first and second entries don't match, the warning tooltip pops up over the first password.

This feels uncomfortable, because of course I don't know which field I made my typo in, so I immediately want to click on the first password to re-type it, and then type the second one again afterwards, but the tooltip is in my way

I think it would b

[2012-07-19 22:57] jedp commented on #1622
Sounds good.  Thanks!

[2012-07-19 22:57] seanmonstar commented on #2087
It's worth stating that this requires a browser that doesnt support `<input autofocus/>`, such as IE.

[2012-07-19 23:02] jedp commented on #421
+1 for being able to add new emails in the Account Manager

[2012-07-19 23:18] jrgm commented on #2052
Oh, duh. Or you're using gmail.com on the phone. Duh. And you said so. Sorry.

[2012-07-19 23:21] jedp opened #2114 ""Create Account" page superfluous in sign up flow from Sign In link"
On persona.org, there are two starting points and three routes to creating a new account:
1. Click the "Sign up" link at the bottom of the screen -> goes right to Create Account page
2. Click the "Sign in" link at the top (where I'm used to signing up for new accounts) -> goes to Sign In page

Even though the Sign Up button is huge and blue, I don't notice it when I'm scanning the page.  Starting

[2012-07-19 23:32] jrgm commented on #2052
I sent myself an email with the single line 'https://www.google.com' - When I get that message at gmail.com and click on that link, I get exactly the same error. Don't know what's wrong with gmail.com, but not our bug. Closing.

[2012-07-19 23:32] #2052 closed, assigned to jrgm

[2012-07-19 23:38] jedp opened #2116 "Spellcheck is enabled in email input fields (webkit)"
Safari and Chrome think my email addresses are misspelled and underline them in red.

Perhaps adding `spellcheck="false"` to email inputs would fix this on webkit browsers?

[2012-07-19 23:58] jedp opened #2117 "Email address autopopulated for "Sign Up" and "Sign In" (safari)"
On Safari, the email fields in "Sign Up" and "Sign In" are autopopulated with my last email used.

STR:
1. Sign Up (I used a secondary email, fwiw)
2. Verify and go to your Dashboard
3. Delete your account
4. Choose either "Sign Up" or "Sign In"

The Email field will be autopopulated with the email you used before.

I've only seen this in Safari so far.
Chrome on OSX populates with the "Your Email

[2012-07-20 00:02] jrgm commented on #2052
I passed along this issue to someone on Fennec to file or find a bug about this in bugzilla.mozilla.org

[2012-07-20 00:16] callahad commented on #2070
Doh, by "on Monday" I mean "on Wednesday". On Monday, Shane is scheduled to blog about post-verification redirects.

[2012-07-20 00:28] jrgm opened #2118 "main site - forgot password flow winds up showing /signin page"
STR
1. Go to https://login.dev.anosrep.org and click Sign in.
2. Enter a known secondary email address and the 'Sign in' button to show the password field.
3. Click 'Forgot your password?'
4. Enter the password twice and click 'Reset Password'

Expected: page transitions to show text that an email link has been sent. Email is sent out.

Actual: page briefly shows that text but then redirects itsel

[2012-07-20 00:36] jrgm commented on #2118
Note: this does not happen on train-2012.07.06 or production. Gonna mark it 5-star.

[2012-07-20 00:43] fmarier opened #2119 "Minor layout problem on Opera Mobile for Android tablets"
Just before being redirected for auth with a primary, the buttons are misaligned on Opera Mobile (Android tablet):

![Layout problem](https://raw.github.com/gist/3330829/0427fb680207c3fbf86429382907bd80d51b0daf/opera_android_tablet.jpg)

Image also available here: https://gist.github.com/3330829

[2012-07-20 01:58] warner commented on #2091
This is probably similar to the symptoms seen in the (still-private) [bugzilla 770302](https://bugzilla.mozilla.org/show_bug.cgi?id=770302), in which another validation failure (bad base64 padding) threw an exception that wasn't caught and caused a lost-progress condition (the callback was never fired, so the requests just hangs forever. Where "forever" means "after 30 seconds the Zeus load balanc

[2012-07-20 02:06] warner opened #2120 "Sign In with unknown email results in lame Sign In button"
environment: both staging (login.anosrep.org) and dev (login.dev.anosrep.org). Both Chrome 21 and FF 17.0a1 (nightly).

STR:
- navigate to login.anosrep.org (or login.dev.anosrep.org)
- click "Sign In"
- enter a new non-primary email address
- get "ADDR is not registered. Would you like to `sign up` instead?" dialog. Note that the largest button on the screen is still the blue "Sign In" button on

[2012-07-20 02:10] warner opened #2121 "change-password dialog: wrong pw gives confusing error dialog"
This is on both staging and dev.

STR:
- navigate to login.dev.anosrep.org or login.anosrep.org
- create an account with a secondary email address, with a password
- click the "Edit" button on the password line, to change the password
- type the wrong password into the "Old Password" box
- hit "done"
- The resulting error dialog says "We are very sorry. There has been an error! Please close this w

[2012-07-20 02:19] warner opened #2122 "Forgot Password dialog has confusing field names"
(both dev and staging)

STR:
- navigate to login.dev.anosrep.org or login.anosrep.org
- create account with secondary email address, with password
- logout
- navigate back, start Sign In with email address
- hit "Forgot Password" link instead of providing the password
- the resulting dialog says "Forgot Password" in large letters, has three fields "Email Address", "Password", "Verify Password", an

[2012-07-20 02:23] jrgm commented on #1677
Noting that the discussion in triage was that currently primaries have only been for testing. But this will become a problem with bigtent.

[2012-07-20 02:23] warner opened #2123 "Cancel Account alert mentions BrowserID, not Persona"
- Navigate to login.anosrep.org
- create an account, login
- hit the "cancel your account" button
- the alert() that appears says "Are you sure you want to cancel your BrowserID account?", but everything else on the site says "Persona"

Note: this is only on login.anosrep.org right now.. login.dev.anosrep.org correctly says "Persona". So it's likely that this bug can be ignored, and when dev final

[2012-07-20 02:27] jrgm commented on #2123
Yeah, @jep noted this earlier today in GH-2105 but since it's fixed in dev, closed it out. Wanna close this one too?

[2012-07-20 02:29] warner opened #2124 ""Remember You?" dialog has squished padding on Chrome"
conditions: Chrome 21, both dev and staging
- create an account, log in to a site, log out, log back in again
- the popup asks "Remember You?", with a blue "One Month" button and a red "This session only" button
- the text to the right of the buttons is jammed up against the buttons, instead of being 10-15 pixels away

![screenshot](https://raw.github.com/gist/3148277/969948f7ff18d471a5a77e08139cf

[2012-07-20 02:34] jedp commented on #2123
I saw that, too. I checked the code and it's fixed in dev, i think.  Lemme double-check when I get home from dinner.

---

Typed with my thumb

On Jul 19, 2012, at 19:23, Brian Warnerreply@reply.github.com wrote:

[2012-07-20 02:36] jrgm commented on #2120
GH-1579 discusses the same STR and notes that the similar situation applies for the /signup page. I'm going to close GH-1579 (since finding anything old in GH is a hassle).

[2012-07-20 02:36] jrgm commented on #1579
Closing in favour of GH-2120.

[2012-07-20 02:36] #1579 closed, assigned to skinny97214

[2012-07-20 02:43] jrgm commented on #2124
This was noted in GH-1932 and should be fixed on dev with GH-1940

[2012-07-20 02:49] jrgm commented on #2124
Hmm, this is what it looks like in dev for ff14/osx and similar on chrome 20 on osx

![img](https://img.skitch.com/20120720-qhn9jfwwg69fjgmkgrtxgb7b7q.png)

Is this just chrome 21?

[2012-07-20 03:21] fmarier commented on #1702
I don't know if you can really "reset it with minimum effort" if we disable all of your other emails when you do a password reset via email.

That typo you made is then pretty annoying because it means you need to click links in 5 different emails...

[2012-07-20 03:48] jedp commented on #2123
So now I'm home I see @jrgm has already checked for me.  That man has eagle eyes, I tell you.

[2012-07-20 04:13] callahad commented on #2097
People are starting to use `login.persona.org/verify`. Cf., http://www.julia.buchner.fr/mozilla-persona-en-bref/

Oops.

[2012-07-20 04:18] jrgm commented on #2008
Oh, weird. I just brought up the dialog from https://id.etherpad.mozilla.org and the window was in the narrowed state.
But in another FF that I was running on osx desktop at the same time it is not narrowed.

Top image: FF 16.0.a2 using my "home" profile (i.e., I use it normally and don't muck with it's state for testing).
Bottom image: FF 13.0.1 using a profile that I regularly use but trash at w

[2012-07-20 04:19] seanmonstar commented on #2112
So the action is to blur the email field when it gets hidden.

On Thursday, July 19, 2012, Jed Parsons wrote:

##

Sean McArthur
http://seanmonstar.com

[2012-07-20 04:23] fmarier commented on #2097
I originally found out just in time to prevent this patch from getting merged into Mahara: https://reviews.mahara.org/#/c/1416/1/htdocs/auth/browserid/login.php,unified

[2012-07-20 04:35] jrgm commented on #2008
I tried my "home" profile with FF 13.0.1, and I still get the same narrowed width of the dialog. So it would appear this is due to some persisted state in the profile. Weirder yet is that popping the dialog from a different RP than id.etherpad.mozilla.org (e.g, bugzilla.mozilla.org) comes up in the correct full width. o_O

[2012-07-20 04:46] ncalexan commented on #2091
Brian: as I was debugging this, I first thought it was a base 64 padding issue, and then convinced myself it was not (by hand verifying the segments were correctly base64 url encoded).  It is definitely possible that it was a padding issue, since I was touching a lot of things to try to make progress.  30 seconds and 500 is a legitimate bug, right?

[2012-07-20 05:02] jedp commented on #2112
Quite so.

[2012-07-20 05:50] nmalkin opened #2125 "Update MDN documentation with post-rebrand URLs"
Our documentation on MDN hasn't been updated to reflect the new `*.persona.org` URLs. Pages for [quick setup](https://developer.mozilla.org/en/BrowserID/Quick_Setup), [Remote Verification API](https://developer.mozilla.org/en/BrowserID/Remote_Verification_API), and others still refer to `browserid.org`.

The documentation wasn't updated because the MDN wiki was stuck in read-only mode due to the s

[2012-07-20 05:50] nmalkin commented on #2125
@callahad, let me know if I can help; if, for example, it would be helpful to have a list of pages that still need to be updated.

[2012-07-20 05:59] callahad commented on #1988
Hey! I can edit the CSS! @sawyerh, could you look at the blog and decide if the list items look okay? If so, go ahead and close this issue.

(The only change: text color style now cascades down to list items from the content body. It's `rgba(0,0,0,0.75)`. Previously, list items were explicitly being set to `rgba(0,0,0,0.25)`, which is crazy.

I also added 15px of `padding-left` to `ul` tags in pos