[2012-07-20 06:00] jrgm commented on #2121
/cc @stomlinson, @lloyd

Ah, I see. The key is that the incorrect old password is less than the required 8 characters.

This is related to GH-2032 which was closed by GH-2053 about authenticate_user.
But not for update_password called from the main site (I guess).

I do _not_ see this on stage, so @bwarner could you check that again?

I'll mark this as 5-star for now, but I could punt if it's just

[2012-07-20 06:32] fmarier commented on #2101
1. Clear all cookies
2. Go to `dev.myfavoritebeer.org`
3. Login using an existing secondary email
4. Click the "Forgot your password" link and type in new password
5. Click the link received via email

At that point, you end up on a page that just says "Your address has been verified".

[2012-07-20 06:53] fmarier commented on #2102
Confirmed against dev.

Steps:
1. clear all cookies
2. go to `dev.myfavoritebeer.org`
3. login using an eyedee.me address

After clicking "next" and before the screen with the "sign in with eyedee.me" button becomes visible, the next button becomes clickable again.

[2012-07-20 06:55] fmarier commented on #2099
It does work on 123done.org, so this is not a bug. Sorry.

[2012-07-20 07:24] nmalkin commented on #2122
See #2023, which is tracking the same issue.

@shane-tomlinson's PR #2085 implements this

and this

(specifically, the new copy is _Create a new password to use with Persona_)
but not this

[2012-07-20 07:40] thom4parisot commented on #2086
Too bad, it was a cool stuff :-(

[2012-07-20 07:55] shane-tomlinson commented on #2122
@warner - Thanks for the updates, @nmalkin is correct - #2023 is the original tracker for this.  Since that already has a PR associated with it, I'm going to close this as a dup.

[2012-07-20 07:55] #2122 closed, assigned to nobody

[2012-07-20 09:33] shane-tomlinson commented on #2124
@warner - you are showing a screen shot against staging, this has been fixed in dev with #1940.  Here is my screen shot from dev on Chrome 21 Beta for OSX:

![Chrome Beta Remember You?](https://img.skitch.com/20120720-1ff57hd5u36j86htsqtabwe3ci.png)

Closing as already fixed.

[2012-07-20 09:33] #2124 closed, assigned to nobody

[2012-07-20 09:35] shane-tomlinson commented on #2123
Closing as already fixed in #2075

[2012-07-20 09:35] #2123 closed, assigned to nobody

[2012-07-20 09:35] shane-tomlinson commented on #2105
#2075 is the PR that fixes this.

[2012-07-20 17:22] sawyerh commented on #1988
Looks good to me.

[2012-07-20 17:22] #1988 closed, assigned to sawyerh

[2012-07-20 17:46] lloyd commented on #2086
@oncletom why not use the .watch() api?

[2012-07-20 20:29] jrgm commented on #668
Just noting this is still an issue. I was using FF13 on osx and can easily reproduce this, but not as easily with Chrome 20/osx. I was using dev.123done.org as the RP.

[2012-07-20 21:27] lloyd commented on #2121
fixed by PR 2126, confirmed on dev.

[2012-07-20 21:27] #2121 closed, assigned to nobody

[2012-07-20 21:50] lloyd commented on #2118
r+

[2012-07-20 22:23] jrgm opened #2130 "[mainsite] a signedin primary user visits /forgot, ask for new passwords and email sent."
A very ridiculous scenario, but anyways...

STR
1. On the main site, signin as a primary email address (one that is not part of any account with other email addresses).
2. Manually go to the /forgot page

The user is show the normal UI with 'Email address' prefilled to the primary email address, and prompted for two passwords. Upon hitting reset password, the screen transitions to show 'We sent a

[2012-07-20 22:25] jedp opened #2131 "Perform CEF logging where indicated by security review"
Ensure that CEF/syslog logging occurs where indicated by the security review in https://wiki.mozilla.org/Security/Reviews/Identity/browserid

[2012-07-20 22:28] jedp commented on #1423
I've opened #2131 for the overall CEF logging that @jrgm refers to

[2012-07-21 00:07] jrgm opened #2132 "'checking with email provider' permanently shown when cancelling out of forgot password screen"
STR
1. Go to an RP and click sign in.
2. Enter a secondary email address that is known to Persona (checking with email provider flashes and you are prompted for password).
3. Click 'Forgot your password?'
4. User now remembers their password and clicks 'cancel' to go back.

Expected: screen should now show the pre-filled email address and a password field.

Actual: email is prefilled, but no passw

[2012-07-21 00:29] warner commented on #2091
@ncalexan yeah, it's certainly legitimate. What I meant was that 30seconds+500 is the symptom of an uncaught exception, in your case triggered by unusual/bad cert parameters, in the 770302 case by bad base64 padding. It's an unfortunate consequence of the express.js callback style that uncaught exceptions lead to lost-progress rather than immediate errors, which also tends to lose details about th

[2012-07-21 00:39] warner commented on #2121
@jrgm you're right, it's not happening on stage. I must have gotten my tabs mixed up.

[2012-07-21 01:12] jrgm commented on #2121
Thanks for checking @warner. Also your other comment about double-entry confirm of
new password is GH-1702.

[2012-07-21 12:56] thom4parisot commented on #2086
The short way: because it was really easy with `navigator.id.get` and there was no point for us to evolve towards `watch` API.

The detailed reason:
- we don't want/need to have Persona script on every page: we use it only for login;
- our app already handles the session, we don't need another tool doing the same thing
- if we don't provide the user email to the watch API, the behavior is a total

[2012-07-21 20:59] lloyd commented on #2118
verified fixed on dev.

[2012-07-21 20:59] #2118 closed, assigned to nobody

[2012-07-21 21:15] lloyd commented on #2086
@oncletom Thanks for taking the time to lay out your concerns.  I really appreciate it.  Our thinking right now is that it's so important that we help users log out of a machine more easily, and so important that we streamline user experience for first time login, that we make some sacrifices - those that you describe.

As far as the resource hit (more resources on every page), the best thing I ca

[2012-07-21 23:02] lloyd commented on #2088
confirmed that pull request #2135 fixes this issue.

[2012-07-21 23:15] #2104 closed, assigned to zaach

[2012-07-21 23:15] #2088 closed, assigned to lloyd

[2012-07-21 23:34] lloyd commented on #2027
not a regression, decrementing to 4 stars

[2012-07-21 23:34] lloyd commented on #2091
not a regression, worth understanding and fixing, cannot reproduce ATM (cause underpin.no is offline?)

kicking down to 4 stars

[2012-07-22 00:50] lloyd commented on #2093
for the empty tags, we'll dynamically insert an email address.  fixing everything else.

[2012-07-22 01:02] #2093 closed, assigned to lloyd

[2012-07-22 12:42] thom4parisot commented on #2086
Well, telling the user is authenticated within the page could be a good thing. Anyway technically it also remains the same stuff: JS are compiled statically wether this information is _dynamic_, according to the page (so we have to store somewhere – `data-*` or anything else) the information telling the user is logged in, and reading it from the script calling Observer API).

However, this leads t

[2012-07-22 18:08] lloyd commented on #1423
Ok, I think everything in this issue has been addressed, with the CEF logging bug, and the new API param validation we've implemented.  closing.

[2012-07-22 18:08] #1423 closed, assigned to lloyd

[2012-07-22 18:10] lloyd commented on #536
@jbonacci / @jrgm assuming hopefully we've got log rotation figured out by now in our stage and production env? /cc @gene1wood

[2012-07-22 18:10] #536 closed, assigned to nobody

[2012-07-22 18:14] lloyd commented on #561
Yo @gene1wood - At some point I guess you should review @fetep's thoughts above, and we should figure out a strategy?

I'm assigning this to you to start with a proposal for how we'll handle if the mysql master goes down...

[2012-07-22 18:14] lloyd commented on #679
should be addressed with exception logging in winston.

[2012-07-22 18:14] #679 closed, assigned to lloyd

[2012-07-22 18:27] lloyd commented on #424
fixed with rebrand.

[2012-07-22 18:27] #424 closed, assigned to nobody

[2012-07-22 18:30] lloyd commented on #809
@lookfirst - So we've given the site a complete paintjob, led by one of the hottest designers at mozilla and a high touch copy editor.

How did we do in your opinion?

[2012-07-22 18:30] #809 closed, assigned to skinny97214

[2012-07-22 18:30] lloyd commented on #675
reopen if still relevant.

[2012-07-22 18:30] #675 closed, assigned to lloyd

[2012-07-22 18:32] lloyd commented on #674
This would be catastrophic.  Given that we are committing to more than 3 9s of uptime, is it worth calling out in our documentation "what to do when the service is down?"  The service shouldn't go down, smart devs could handle this if they wanted...

closing this down, re-open if you think this is unfair.

[2012-07-22 18:32] #674 closed, assigned to callahad

[2012-07-22 18:35] lloyd commented on #57
I think our new id-specs repo covers this:

https://github.com/mozilla/id-specs

[2012-07-22 18:35] #57 closed, assigned to lloyd

[2012-07-22 18:35] lloyd commented on #715
WFM

[2012-07-22 18:35] #715 closed, assigned to shane-tomlinson

[2012-07-22 18:36] lloyd commented on #610
@shane-tomlinson we're pure CSS anims now, right?

[2012-07-22 18:36] #610 closed, assigned to shane-tomlinson

[2012-07-22 18:39] lookfirst commented on #809
why did you close this issue? nothing has been resolved.

lowercase edit/remove/done. I'd also argue that it is difficult to tell that the done button is 'indented'.

http://www.evernote.com/shard/s178/sh/62c993de-b3b0-40b7-8836-63f4b2fb9361/83d97c1796ecfc4cfcc42604612c03a1

'cancel your account' should be a button. http://uxmovement.com/buttons/the-button-vs-link-debate/

http://www.evernote.com/

[2012-07-22 23:03] bryandonnovan commented on #796
My 2 cents: I would argue that supporting chrome frame is worth the added complexity.

[2012-07-23 09:37] jrgm commented on #1783
verified I get a clean no error run on winxp/ie8 with awsbox instance of train-2012.07.20 (and of course with the registry hack to allow long scripts).

[2012-07-23 13:08] mathjazz opened #2136 "Train-2012.07.20 l10n issues #2"
Some new l10n issues were reported by localizers. All of them are related to original strings. It is not neccessary to break the string freeze, but they should probably be fixed for the next train.
## Almost duplicates
- resources/views/signin.ejs:61
  - ``To verify that you own <strong %(primaryId)>address</strong>, you must sign in with your provider. A new window will be opened.`
- resources/vi

[2012-07-23 14:45] graingert opened #2137 "Sign in button hidden when using lots of emails"
On https://login.persona.org/sign_in the sign in button is hidden.

<img src="http://i.imgur.com/GETJG.png" />

arguably div.submit.add.cf should be a direct child of div.contents not div#selectEmail

[2012-07-23 15:15] #2087 closed, assigned to shane-tomlinson

[2012-07-23 15:23] #2059 closed, assigned to shane-tomlinson

[2012-07-23 15:24] #2082 closed, assigned to nobody

[2012-07-23 15:26] #2061 closed, assigned to jedp

[2012-07-23 16:08] shane-tomlinson opened #2138 "make x-frame-options configurable"
x-frame-options is now set to DENY in 3 locations, making it difficult to manually go in and change whenever I want to run front end tests on testmob.org.

This should be easily configurable so only one configuration option needs to be changed to embed copies for testmob.

The default of course should be "DENY"

[2012-07-23 17:36] shane-tomlinson commented on #2137
@graingert - this is by design.  With TOS & Privacy Policy information showing in Germanic languages, if we show the signin button where you show it, only slightly more than one email address is shown.

[2012-07-23 17:39] shane-tomlinson commented on #2137
Dup of #1325 which has a PR we are actively reviewing.  Closing.  Thanks @graingert!

[2012-07-23 17:39] #2137 closed, assigned to nobody

[2012-07-23 18:31] #1751 closed, assigned to seanmonstar

[2012-07-23 23:07] tmickel opened #2143 "CSS Sign In buttons"
The only available sign-in buttons for developers are PNGs.

A non-image version would be great!

[2012-07-23 23:14] fmarier commented on #2143
Indeed. It would help a lot for localization as well.

[2012-07-24 02:55] lookfirst opened #2144 "lots of emails causes signin button to be hidden"
it is pretty unclear at this point how to sign in...

http://www.evernote.com/shard/s178/sh/8dc33dc9-9511-457c-a3bd-9d0f8ea22bdd/7763c7108791687ac853f8ab88c75c15

maybe instead of having a signin button at the bottom of a hidden scrollbar, each email address becomes clickable. this would also save a step of having to select an email and then click sign in.

[2012-07-24 03:28] fmarier opened #2145 "Observer API's onlogin leads to an expensive backend call on each page load?"
Hopefully this is just me not using the Observer API properly, but if you look at the [`onlogin` code in Libravatar](https://gitorious.org/~fmarier/libravatar/fmariers-libravatar/blobs/6ad94aa3d38282c284684a65d0b390256cff3d07/static/js/libravatar.js#line75),  you will see that any `onlogin` call with a valid assertion will cause this:
1. the JS front-end does a [POST to the backend](https://gitori

[2012-07-24 09:06] #2138 closed, assigned to nobody

[2012-07-24 09:15] #2116 closed, assigned to seanmonstar

[2012-07-24 09:43] mathjazz opened #2147 "L10n preview is not updating"
The preview site we have used until this train only allows us to preview dialog translations:
http://ozten.com/random/browserid/bid_test.html

Now that we also localize the main site, localizers need l10n preview for it.

I thought it was https://l10n-preview.diresworb.org/, but it doesn't update automatically when translations get commited to SVN.

[2012-07-24 11:12] #2136 closed, assigned to nobody

[2012-07-24 12:51] shane-tomlinson commented on #2144
This is a dup of #1325 which we are actively trying to sort out.  Thanks for the feedback @lookfirst!

[2012-07-24 12:51] #2144 closed, assigned to nobody

[2012-07-24 14:09] #2071 closed, assigned to shane-tomlinson

[2012-07-24 14:12] shane-tomlinson commented on #2014
@callahad, @ozten - Is the Yahoo proxy IdP enabled on staging?

[2012-07-24 14:33] ozten commented on #2147
CC @gene1wood

[2012-07-24 14:57] sawyerh commented on #2143
Working on this

[2012-07-24 15:06] callahad commented on #2145
How does passing `loggedInEmail` impact this? That should avoid the `onlogin` call altogether, right? Is there a reason you'd rather not use `loggedInEmail`?

[2012-07-24 16:01] ozten commented on #2014
No, stage is not a healthy bigtent env.

@gene1wood is BrowserID stage configured to talk to a BigTent server for @yahoo.com addresses?

[2012-07-24 19:16] seanmonstar commented on #1566
This looks like it was with previous design. I don't see it in IE9 Compat Mode...

[2012-07-24 20:50] seanmonstar commented on #1606
I'm not able to reproduce. This is what I did exactly:
1. Load http://beta.myfavoritebeer.org/ in the browser.
2. Sign up with a primary email.
3. Logout.
4. Login, but select add another email.
5. Confirm new secondary email, which logs me in.
6. Load https://diresworb.org/ in another tab of the browser.
7. From https://diresworb.org/, remove all the non-primary emails from your account.
8. Go ba

[2012-07-24 22:23] fmarier commented on #2145
@callahad I'm using [loggedInUser](https://gitorious.org/libravatar/libravatar/blobs/master/static/js/libravatar.js#line95) maybe that's the problem.

So if I use `loggedInEmail` then neither `onlogin` nor `onlogout` will fire when the right user is logged in?

[2012-07-25 00:35] fmarier opened #2152 "API for getting extra verified emails from a user"
One of the ways in which I use Persona in Libravatar is to let users add alternate email addresses to their account without having to click a confirmation link sent via email. (Which I guess is the original idea behind the "Verified Email Protocol".)

Converting that to the Observer has meant [hacking the watch() callbacks](https://gitorious.org/libravatar/libravatar/commit/8b4dff7bbd491366fd75fa1

[2012-07-25 05:45] callahad commented on #2152
This would also help in the "Change Email Address" case.

[2012-07-25 05:52] callahad commented on #2145
@fmarier Correct! Unfortunately, `loggedInUser` got delayed and hasn't entered production yet. Even worse, I can't update MDN to note the slip. It will go live with our next production push.

[2012-07-25 06:12] fmarier commented on #2152
Looks like GH-853 is talking about the same thing.

(Also, GH-58 is related to changing email addresses.)

[2012-07-25 06:14] fmarier commented on #1294
Relevant discussion in GH-1995.

[2012-07-25 09:07] #2080 closed, assigned to shane-tomlinson

[2012-07-25 09:09] shane-tomlinson opened #2154 "frontend: convert exception throwing to use new Error(msg) or subtypes"
Read about why here: http://www.nczonline.net/blog/2009/03/10/the-art-of-throwing-javascript-errors-part-2/

[2012-07-25 10:09] mathjazz commented on #2147
The dialog preview site is also not updated:
http://ozten.com/random/browserid/bid_test.html

Shouldn't this happen automatically, when the new train is cut?

This issue is pretty urgent, becasue ~50% strings have changed in the current train and localizers have nowhere to preview traslations.

[2012-07-25 15:47] ozten commented on #2154
+1 and I'll file a bug against jwcrypto where this bites me a lot.

[2012-07-25 18:04] ozten opened #2155 "completeAuthentication should accept a limitedToRPs param"
To support the BlueVia IdP, `navigator.id.completeAuthentication` will take a dictionary of parameters.

A new one we need is `limitedToRPs` which is a list of base URLs.

Example:

[code]

Note: This is an implementation detail and should not make it into the BrowserID Spec.

[2012-07-25 18:13] ozten opened #2156 "Add support for IdP dynamic identifiers"
Using [Spec change 18](https://github.com/mozilla/id-specs/issues/18) as a guide, implement all the pieces to support dynamic identifiers.

[2012-07-25 21:53] sawyerh commented on #2143
You can preview the CSS buttons here (http://dev.sawyerhollenshead.com/mozilla/buttons/buttons.html). I wasn't sure where to upload these to.

The HTML is simply `<a href="#" class="persona-button"><span>Sign in with Persona</span></a>` and the only image used is the dark user icon. The span is used for some of the styling. Everything else, including the arrow, is CSS. This degrades gracefully in

[2012-07-25 22:14] fmarier commented on #2097
The Wordpress plugin [was also updated with the wrong URL](http://wordpress.org/support/topic/plugin-mozilla-persona-verification-failed-after-upgrade-of-the-browserid-plugin?replies=9).

So how about fixing this in two parts:
1. hotfix which returns `{"status": "failed", "error": "Wrong URL for the verifier. Please ask the site administrator to use verifier.login.persona.org."}` whenever someone

[2012-07-25 22:36] fmarier opened #2157 "Get into preloaded HSTS lists for Firefox and Chrome"
Now that [Firefox is planning to have preloaded HSTS lists](https://wiki.mozilla.org/Privacy/Features/HSTS_Preload_List), we should talk to Google and get added to [the list they maintain in Chromium](https://src.chromium.org/viewvc/chrome/trunk/src/net/base/transport_security_state_static.json).

(We have been using HSTS for a while, see GH-166.)

[2012-07-25 22:42] fmarier opened #2158 "Pinning the CA for our TLS certs"
Given that Firefox 17 [will be getting CA pinning](https://wiki.mozilla.org/Security/Features/CA_pinning_functionality), we should reconsider the position we stated in GH-166 and look at getting added to the relevant Firefox and Chrome lists or providing the necessary headers.

[2012-07-26 02:30] fmarier opened #2159 ""Need help?" page needs to be refreshed for new name"
The SUMO page we link to should be updated to use the new name and the screenshots should be replaced.

  https://support.mozilla.org/en-US/kb/what-browserid-and-how-does-it-work

Given that we link to this page from `login.persona.org`, it would be good to get this done before the beta is released.

This other page also needs to be updated:

  https://support.mozilla.org/en-US/kb/how-do-i-manage-

[2012-07-26 02:39] fmarier opened #2160 "Support for IPv6"
We don't appear to have a bug to track IPv6 support in Persona. We currently don't expose AAAA records on any of the Persona services.

I believe that this is a big deal in the developing world where IPv4 addresses are in short supply (or no longer available).

[2012-07-26 05:48] floatingatoll commented on #2147
I looked at the logs on the l10n-preview server, and it seems to be both updating regularly in the cron logs and also reflecting the "latest" revision in ver.txt, and the "browserid" (behind the router) node.js process was last restarted moments after the update to the latest commit, r107808.

If someone can suggest other diagnostics that I haven't tried yet, I'd be happy to try them.

[code]

[2012-07-26 06:29] ozten commented on #2147
@mathjazz are these the STR?

Steps to Reproduce:

1) Set language to zh-tw (Chinese/Taiwan)
2) go to https://l10n-preview.diresworb.org/about

Expected

All content is localized.

Actual

Only parts of the footer and header are localized.

---

If so, doesn't Issue #1862 (and closed duplicate Issue #2047) need to be fixed first?

[2012-07-26 06:30] ozten commented on #1862
Status update?

Maybe this is causing Issue #2147 ?

[2012-07-26 06:37] mathjazz commented on #2147
@ozten: yes, these are the steps to reproduce.

[2012-07-26 06:41] mathjazz commented on #2147
Strings that appear on https://l10n-preview.diresworb.org/about were extracted and are already available in ~15 languages. So I guess #1862 is not causing the issue.

[2012-07-26 06:46] mathjazz commented on #2147
I can see the json file updated for zh-TW:
https://l10n-preview.diresworb.org/i18n/zh_TW/messages.json

But the strings (e.g. "Persona is flexible") still show up in English:
https://l10n-preview.diresworb.org/about

[2012-07-26 09:58] shane-tomlinson commented on #2155
@ozten - the note:

[code]

I think we should open this up to broader discussion.  I had a chat yesterday with a web site operator yesterday who was interested in becoming an IdP, but they only want their email addresses to appear for a particular whitelist set of sites.

I can write more on this in an email.

[2012-07-26 11:28] fmarier commented on #2145
As usual, @callahad was right :)

Replacing `loggedInUser` with `loggedInEmail` does prevent the unnecessary `onlogin` calls.

I'll close this bug, but we should make a mental note (if there isn't one already) to make sure that this is well documented.

[2012-07-26 11:28] #2145 closed, assigned to nobody

[2012-07-26 15:28] shane-tomlinson commented on #1682
I am now getting this for all browsers on the main site for either resetting a password or signing up.

[2012-07-26 15:59] #1023 closed, assigned to lloyd

[2012-07-26 16:44] callahad commented on #2159
I'll take this. One question: Do we want to get our own category in SUMO for Persona? Right now it's lumped under Firefox

[2012-07-26 16:57] callahad commented on #2143
Moving to MDN

[2012-07-26 16:58] callahad commented on #2143
...when Sawyer tells me he's happy with it. @sawyerh

[2012-07-26 16:58] skinny97214 commented on #2143
@callahad It's ready to go.

[2012-07-26 17:01] skinny97214 commented on #1702
One password field everywhere it is.

[2012-07-26 17:01] skinny97214 commented on #2113
Moving to one password field. See GH-1702

[2012-07-26 17:01] #2113 closed, assigned to nobody

[2012-07-26 17:06] skinny97214 commented on #2114
I want to kill this flow entirely. Let's not spend a lot of time making it better.

[2012-07-26 17:13] callahad commented on #2143
Hooray! Thanks @skinny97214

[2012-07-26 17:23] callahad commented on #2017
I believe the decision is to go with `onvalidsession`, but awaiting further discussion from @lloyd and co.

[2012-07-26 17:28] shane-tomlinson commented on #2041
@lloyd - I am assigning this to you for investigation.

[2012-07-26 17:36] lloyd commented on #1862
This is done

[2012-07-26 17:36] #1862 closed, assigned to lloyd

[2012-07-26 17:52] skinny97214 commented on #2152
I've been inside and out of the question about what happens when users lose access to an email account. Is there any case where this would happen other than a work email? Corporations that issue emails want anything associated with those accounts to die when the person leaves. I'm thinking not being able to access it is more a feature than a bug. Each website needs to decide whether the ability to

[2012-07-26 19:12] ozten opened #2164 "Need a RP that points to l10n-preview.diresworb.org"
Currently localizers go [here](http://ozten.com/random/browserid/bid_test.html) and click signin to launch [Persona login](https://l10n-preview.diresworb.org/sign_in).

This is weak sauce.

We need a maintained deployment of 123done.org, so they can preview and test their work.

[2012-07-26 19:25] ozten commented on #2155
Mailing list - great idea, thanks for doing that.

Spec change - I think we should be conservative with what goes in the spec. We can build and advertise experimental features, then measure uptake... before putting it into the spec, especially for items that don't seem essential.

Making email a hint and allows an IdP to indicated a different email seem like philosophical changes which should go i

[2012-07-26 22:03] ozten opened #2165 "compile-json.sh breaks stage deployment"
See http://atoll.pastebin.mozilla.org/1716147

This is blocking @floatingatoll pushing to stage.

@lloyd I think we had some l10n re-working, do we need to update shell scripts or deployment steps?

[2012-07-26 22:05] floatingatoll commented on #2165
the paste will expire; make rpm fails on train-2012.07.20 with latest locale as follows:

[code]

[2012-07-26 22:14] jaredhirsch opened #2166 "Create a team-focused status page"
@ozten gave this a first shot with the (now defunct + deleted by me) project status wiki page a few months back.

Maybe we can clarify what audiences this status page would serve (moz devs? external devs looking to jump in? other ppl?) and knock something together.

Github pages might be an easy way to get it going and keep it up-to-date with the rest of the codebase.

[2012-07-26 22:16] ozten commented on #2166
Problem: a developer wakes up, gets out of bed and … Can I commit code today? Can I merge to master? Should I be doing DDT? What is in production? what is in Stage?

How many days until code freeze?

A prior, prior attempt:
http://skitch.com/oztenskitch/8hf6d/sched2

[2012-07-26 22:41] ozten commented on #2165
Looks like we need

mkdir -p resources/static/i18n/

to deal with i18n existing or not existing.

This train removed it from sources and it's contents gets created via scripts.

[2012-07-26 22:42] floatingatoll commented on #2165
confirmed "mkdir -p resources/static/i18n; make rpm" works, build resumed.

[2012-07-26 22:43] fmarier commented on #2166
Interesting, so it's more like a team dashboard (as opposed to a status page like the one that the Services team is running).

[2012-07-26 22:56] fmarier commented on #2152
@skinny97214 The non-employer use cases I can think of are:
1. your email provider shuts down
2. you violate the terms of service of your Google Account and Google locks you out of your account
3. you have forgotten your email password (or it got hacked) and are unable to reset it
4. you switch ISPs and lose your ISP-provided email address

(#1 is not a huge concern if you're with Hotmail/Gmail/Ya

[2012-07-26 23:07] ozten commented on #2165
Once https://bugzilla.mozilla.org/show_bug.cgi?id=777979 is resolved, I'll be able to commit a fix:

[code]

[2012-07-26 23:39] ozten commented on #2165
LOL, haven't committed to SVN in 6 months+ so it expires.

Committed revision 107854.

[2012-07-26 23:39] #2165 closed, assigned to ozten

[2012-07-27 00:13] fmarier commented on #2159
@callahad a new category might be useful given that these questions aren't necessarily coming from Firefox users.

[2012-07-27 02:24] humbletim opened #2169 "dialog.css transitions obscure sign in with Ubuntu / Firefox 4.0"
Firefox.navigator.buildID 20110419185614
Symptom: The sign in popup dialog appears to stall at "Communicating with Server."  Tested on multiple computers and happens consistently including on http://myfavoritebeer.org.

After some digging seems to be a FF4 issue with CSS -moz-transitions not firing / finishing.  Because, beneath the stalled "Communicating with Server" overlay everything seems fine

[2012-07-27 04:47] nmalkin commented on #2166
#896 has some prior discussion of a status page.

[2012-07-27 05:02] fmarier opened #2170 "Nitpicking on the browserid.org redirects"
I'm just nitpicking here, so please adjust the priority accordingly :)

We currently have the following redirects:

[code]

Ideally, I think that:
1. `http://browserid.org` should redirect to `https://login.persona.org` directly
2. `https://browserid.org` should have HSTS headers just like `https://login.persona.org`

[2012-07-27 05:22] lloyd commented on #1702
Oh so opinionated!  Last typed character is visible, yeah?

+1

--lloyd

On Jul 26, 2012, at 10:01 AM, Crystal Beasleyreply@reply.github.com wrote:

[2012-07-27 09:59] #2132 closed, assigned to seanmonstar

[2012-07-27 11:43] shane-tomlinson commented on #1582
@jbonacci - is this still a problem?  Safari for OSX is showing no signs of a problem for me.

Also, read http://stackoverflow.com/questions/2292016/is-there-a-workaround-to-safaris-operas-bug-that-you-cant-tab-through-hyperli?answertab=votes#tab-top

[2012-07-27 11:47] shane-tomlinson opened #2171 "IE8: exceptions thrown in bidbundle.js"
Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0; .NET CLR 2.0.50727; .NET CLR 3.0.4506.2152; .NET CLR 3.5.30729)
Timestamp: Fri, 27 Jul 2012 11:45:49 UTC

Message: Syntax error
Line: 2757
Char: 1
Code: 0
URI: http://192.168.1.88:10002/common/js/lib/bidbundle.js

@benadida - on lines 2757 and 2760, you use the const keyword.  IE8 does not support th

[2012-07-27 13:06] shane-tomlinson commented on #1605
@ioanab - I just tested this on dev and all is working as expected.  I believe this was fixed as part of issue #2088 where we did a lot of work to clean this up.

Can you verify this is still a problem?  If not, can you close this issue?

Thanks for being such an awesome bug finder!

[2012-07-27 13:14] shane-tomlinson commented on #2101
@fmarier - myfavoritebeer.org uses the old API.  Only RPs which use the new API will be redirected - please see PR #2109.  Logically this makes sense as sites that use the old .get API cannot be logged in after redirect.

@lloyd, @skinny97214 - thoughts?

[2012-07-27 13:41] shane-tomlinson commented on #1590
@jrgm This should be taken care of with PR #2161

[2012-07-27 13:43] benadida commented on #2171
fixed in 4f41365a5732cce2201b462a7a3526cfccac124c

[2012-07-27 13:46] benadida commented on #2170
the first point is a nitpick.

The second is not! We should retain the HSTS header for https://browserid.org since it is still being used by many web sites. @fmarier can you follow up with ops to make sure this happens? This is where we need those security regression tests.... @fmarier might you be interested in helping with this?

[2012-07-27 14:25] shane-tomlinson commented on #1718
This is no longer an issue, closing.

[2012-07-27 14:25] #1718 closed, assigned to shane-tomlinson

[2012-07-27 16:32] shane-tomlinson commented on #1345
Link to #1511

[2012-07-27 17:17] callahad commented on #2152
Also: 5. You graduate from College and no longer have your `you@example.edu` account.

It seems like most high-value websites I use ask me to supply a "recovery email" in case I get locked out somehow or another. It'd be great for Persona to be able to do the same.

[2012-07-27 17:20] callahad commented on #2166
Updated issue title; I think we need two things: The external-facing information from #896 and the more internal-facing / project-managementy information from this issue.

[2012-07-27 17:28] ozten commented on #1730
@nmalkin just discovered the number_sites_logged_in was split into sites_signed_in and sites_visited.

This will be documented at https://etherpad.mozilla.org/kpi-dashboard-privacy-review-update-1-num-sites-logged-in

[2012-07-27 18:42] jaredhirsch opened #2175 "Enable node-debug mode"
Wouldn't it be nice to drop into a REPL to introspect the stack at some interesting or busted point in execution?

@jedp pointed out that we'd probably have to start all the child processes using the --debug option, but maybe that's the only change needed?

@jedp also smartly suggested we could set an env var to toggle debug mode. yum, repl for breakfast :-)

[2012-07-27 20:25] benadida commented on #2175
yes!!

[2012-07-28 00:30] fmarier commented on #2157
Chromium patch here: https://github.com/fmarier/chromium/commits/persona_hsts

[2012-07-28 05:18] fmarier commented on #2157
Chromium bug: https://code.google.com/p/chromium/issues/detail?id=139471

Chromium code review: http://codereview.chromium.org/10824072/

[2012-07-28 09:54] shane-tomlinson opened #2176 "sites_signed_in and sites_visited KPI renaming"
PR #1807 introduced multiple new KPIs including sites_signed_in and sites_visited.

Neither of these names clearly convey their intent.

sites_signed_in should be number_sites_signed_in
sites_visited should be number_sites_remembered

[2012-07-28 14:09] shane-tomlinson opened #2179 "going from /signin to /forgot via the "is this your address?" link redirects the user back to /signin"
regressions are bad.

[2012-07-30 00:11] jrgm commented on #1786
verified stage train-2012.07.20

[2012-07-30 00:25] jrgm commented on #1920
verified stage train-2012.07.20

[2012-07-30 00:27] jrgm commented on #1932
verified stage train-2012.07.20

[2012-07-30 00:30] jrgm commented on #1885
verified stage train-2012.07.20

[2012-07-30 00:39] jrgm commented on #1951
verified stage train-2012.07.20

[2012-07-30 00:41] jrgm commented on #1964
verified stage train-2012.07.20

[2012-07-30 00:59] jrgm commented on #1999
verified stage train-2012.07.20 and it is cacheable.

[2012-07-30 01:01] jrgm commented on #1938
verified stage train-2012.07.20 I get French help for this when accept-languages: fr,en-US,en

[2012-07-30 01:06] jrgm commented on #2055
verified stage train-2012.07.20 I get the correct language for help from sumo with en or fr

[2012-07-30 04:14] jrgm commented on #1986
just a naming change. Tests pass. Marking verified for train-2012.07.20

[2012-07-30 04:20] jrgm commented on #1989
code change. tests pass train-2012.07.20

[2012-07-30 04:24] jrgm commented on #1844
verified fixed on stage train-2012.07.20 for opera 12.00 (e.g., via beta.123done.org). /sign_in dialog completes and dismisses now.

[2012-07-30 04:48] jrgm commented on #2016
verified for stage train-2012.07.20 for core assertion failure (e.g., no certificates on assertion submitted).

The other cases from PR-2151 will be in the next train.

[2012-07-30 05:10] jrgm commented on #1655
verified stage train-2012.07.20 The top of e.g., /sign_in or login.anosrep.org/ says:

[code]

[2012-07-30 05:19] jrgm commented on #2040
verified stage train-2012.07.20. The metrics are now in /var/browserid/log/router-metrics.json and look like this again:

[code]

[2012-07-30 05:22] jrgm commented on #2118
verified fixed on stage train-2012.07.20. Page transitions to show Forgot Password Confirm your email address... and the email is sent and received.

[2012-07-30 06:09] jrgm opened #2181 "add a /robots.txt file"
From a chat in IRC with @floatingatoll, but it might be useful to add a /robots.txt file and enumerate just those things that are useful to users in finding us.

For example, search google with site:login.persona.org and site:login.anosrep.org
1. both sites are indexed about the same, but the general user should never care that staging login.anosrep.org exists so ask to not be indexed on stage and

[2012-07-30 06:27] jrgm commented on #2121
verified fixed with PR GH-2126 stage train-2012.07.20. A too short old password is disallowed by js in the manage page and the post is not sent on network.

[2012-07-30 06:31] jrgm commented on #2032
verified stage train-2012.07.20. Too short password does not go to network and just shows tooltip for password mismatch. Incorrect password >= 8 chars gets the 'password mismatch' json response shown above, and the password mismatch tooltip.

[2012-07-30 06:57] jrgm commented on #2001
verified stage train-2012.07.20. email param is not needed.

[2012-07-30 06:58] jrgm commented on #2042
verified stage train-2012.07.20

[2012-07-30 07:39] #1605 closed, assigned to shane-tomlinson

[2012-07-30 07:50] ghost commented on #1605
@shane-tomlinson Thanks for your support!

I verified this issue on the same environment (Win 7 + Firefox) and it doesn't reproduce anymore.

[2012-07-30 09:20] jrgm commented on #2010
yeah, much quicker on stage train-2012.07.20

[2012-07-30 15:38] jedp commented on #2176
I particularly like the move to `number_sites_remembered`

@nmalkin , let's not forget to do some data migration in kpiggybank

[2012-07-30 16:50] nmalkin commented on #2176
@jedp, is that how you think we should proceed? I was going to build in support for both names into the dashboard.

Now that I think about it, though, that would be _three_ different names, and the code would become irrelevant pretty soon. So, yeah, I'm liking the idea of data migration. I'll open a separate issue for that.

[2012-07-30 18:13] callahad commented on #2156
This is also important for https://github.com/mozilla/browserid-bigtent/issues/66

[2012-07-30 20:00] fmarier commented on #2157
This has been committed to chromium and so it will be imported into Firefox when the time comes.

[2012-07-30 20:00] #2157 closed, assigned to fmarier

[2012-07-30 20:21] jaredhirsch opened #2182 "dynamically size domain name inside dialog"
In the sign in completion step in the browserid dialog, the domain is shown while the left-to-right arrowish animation occurs (sorry, don't know the local UX terms yet). Every time I log into bugzilla, the domain name overlaps the icon image and the edge of the arrow slider, and looks a little sloppy.

I'd suggest we do some dynamic resizing of the domain's font-size along these lines: http://stac

[2012-07-30 20:43] jrgm commented on #2182
So in the current train-2012.07.20, there are a couple of changes coming. One is that the font size of the domain is reduced. The other is that the animation now proceeds all the way offscreen right (i.e., the arrow head doesn't stop at the right margin).

[2012-07-30 21:01] jrgm commented on #1856
verified stage train-2012.07.20 on winxp/vista/win7 x opera/safari/chrome/ff/ie(8/9) and osx safari/opera/chrome/ff, ubuntu chrome/opera/ff, android 2.2 and 4.0 stock and ff/beta/aurora, iphone/safari. Fonts look alright on all, although there still is some lack of anti-aliasing for non-IE windows browsers.

[2012-07-30 21:07] jaredhirsch commented on #1984
since myfavoritebeer is the reference site for the old navigator.id.get API, we should probably fix it, not abandon it.

@lloyd, I can steal this if you can provide support when I inevitably get stuck

[2012-07-30 22:37] jrgm opened #2183 "IE doesn't remember you (was: [ie8] train-2012.07.20 js exception when signing in)"
STR
1. On stage login.anosrep.org and beta.123done.org /sign_in with a clean profile and a known secondary email address
2. Enter the password and hit next

Expected: dialog dismisses and you are logged in

Actual: This JS exception is thrown. You are logged in but 1) if you reload beta.123done.org you're logged in state is not retained, and 2) clicking logout does nothing.

[code]

In my local de

[2012-07-30 22:38] jrgm commented on #2183
marking 5 star.

[2012-07-30 23:06] jrgm commented on #1984
@6a68 -> https://github.com/lloyd/myfavoritebeer.org/blob/master/server/main.js#L92

[2012-07-30 23:19] tarasglek opened #2185 "Persona passwords are not remembered by Firefox password manager"
browserid/persona passwords are not stored in the password manager. That seems bad given that they are both mozilla products.

See https://bugzilla.mozilla.org/show_bug.cgi?id=759452 for more info.

[2012-07-31 00:03] callahad opened #2186 "SUMO should have a new section for Persona"
We need to get SUMO all nice and ready for the beta. Step one is moving Persona docs out from under the Firefox section.

I've contacted Ibai to figure out next steps.

[2012-07-31 00:17] peterbe opened #2187 "Persona sign-up page's placeholder input texts same font as regular input"
This screenshot demonstrates how the placeholder texts appear just like regular input texts. The placeholder texts should be faint degree of grey or something. At the moment I'm just not sure if it's my text or the default text in there.
http://cl.ly/IQ7o

[2012-07-31 00:20] seanmonstar commented on #1911
This seems to be a config issue, since stage has the 07.20.2012 train, and resources are still being pulled in from login, and not from static. Who can fix that sort of thing?

[2012-07-31 00:20] #1606 closed, assigned to seanmonstar

[2012-07-31 00:21] jrgm commented on #1941
verified stage train-2012.07.20 Content returned is cacheable with a "unique" url in ie8.

[2012-07-31 00:21] peterbe commented on #2187
The CSS has :

[code]

Removing that color spec will solve the problem but then that's maybe not the color you want for when text is filled in.

[2012-07-31 00:23] jrgm commented on #1967
Verified stage train-2012.07.20 - content is centered in iphone/safari, ICS stock/chrome/ff, 2.2 stock/ff and on desktop when the width is narrowed.

[2012-07-31 00:24] peterbe commented on #2187
I should add, I stumbled on this as I was about to type in my password. I thought I had to select the text that was already written in there and replace it with my chosen password. Which baffled me.

[2012-07-31 00:32] callahad opened #2188 "Idea: Remind native IdP users to log out of their IdP after authing with us"
A user with a native IdP needs to have an active session with their IdP to authenticate with us.

If they don't have an active session with their IdP at the start of provisioning, they will by the end of it.

Thus, in cases where we redirect the user to their IdP's authenticate page, it may not be obvious to the user that authenticating _also_ sets up a session with their IdP.

Thus, we might want

[2012-07-31 00:35] nmalkin commented on #2187
I can reproduce this with Firefox versions 14-16.

Interestingly, it looks fine in Chrome (a clearly distinct color for placeholders):
![signup screen in Chrome](http://f.cl.ly/items/2z3l342X3t0l0R2m0E2Q/placeholder.png)

[2012-07-31 00:39] seanmonstar commented on #2183
i'm not able to reproduce... though i am emulating IE8, while I look for a VM. Would it be possible to click Start Debugging in the script debugger, and when the error happens, copy whats in the Call Stack?

[2012-07-31 00:47] seanmonstar commented on #2188
That's kind of a terrible experience, though. I likely wouldn't even
remember that I had been logged into my IdP. Now, when I'm done surfing
from the library, I have to remember to logout of the site I was using,
Persona, and Gmail.

[2012-07-31 00:47] jrgm commented on #1973
verified stage train-2012.07.20

[2012-07-31 02:21] jrgm commented on #2183
I tried with the script debugger, but this is happening on window unload and the ie8 debugger doesn't seem to allow breaking in there.

So, instead I just wrapped the body of winchan.js removeListener and threw up an alert for arguments.callee.caller. That says the caller is the anonymous function here:

https://github.com/mozilla/browserid/blob/train-2012.07.20/resources/static/common/js/lib/winc

[2012-07-31 02:28] jrgm commented on #2183
er, wrapped it in a try catch and ....

[2012-07-31 03:00] lloyd commented on #1757
open?  who is open?

[2012-07-31 03:00] #1757 closed, assigned to zaach

[2012-07-31 03:21] jrgm commented on #1898
verified stage train-2012.07.20

[2012-07-31 03:29] jrgm commented on #1901
verified train-2012.07.20 stage. Tab order moves from email textfield to the next button. What things are in the rest of the tab order is quirky among various browsers.

[2012-07-31 04:05] jrgm commented on #1982
marking verified but will keep an eye for any oddities with this.

[2012-07-31 08:48] shane-tomlinson commented on #1862
@jbonacci - https://github.com/mozilla/browserid/pull/2047/files - The entire main site was gettext'ified meaning the main site strings are now extracted and sent to localizers.  /tos and /privacy are not yet localized pending direction from the legal team.

Before PR #2047, only the main site headers and footers were localized.

[2012-07-31 11:01] shane-tomlinson commented on #2185
@tarasglek - thanks for this input.  This is a dup of #314.

[2012-07-31 11:01] #2185 closed, assigned to nobody

[2012-07-31 11:02] shane-tomlinson commented on #2182
@6a68 - I would rather not dynamically resize the text until after we try out the upcoming changes.  There is also a PR outstanding that wraps long siteName's to be on multiple lines. #2172

[2012-07-31 11:41] shane-tomlinson opened #2191 "User must re-enter password in dialog post-verification"
This is the last remaining issue from the changes to fix #2088 and #2104.

STR

1) Create an account with one primary and one secondary address
2) Open dialog, sign out.  Sign in with primary address.
3) Click "Add new email"
4) Enter new secondary address
5) Verify address in same browser, but new tab.
6) User has to enter password again.

I am forcing the user to enter their password because oth

[2012-07-31 12:36] david-caro commented on #1859
Seeing that no one complains about this, I've changed the build script and the spec file to use this new version format. Opened the Pull request https://github.com/mozilla/browserid/pull/2192

[2012-07-31 12:42] #2130 closed, assigned to shane-tomlinson

[2012-07-31 12:42] #2120 closed, assigned to shane-tomlinson

[2012-07-31 12:43] shane-tomlinson commented on #2043
@ringe - Is this still a problem?  Did you and @lloyd get this figured out?

[2012-07-31 12:47] shane-tomlinson commented on #2014
@ozten - I am not seeing this on dev.123done.org, is this still a problem?

[2012-07-31 12:48] shane-tomlinson commented on #2008
@jrgm - Is your profile zoomed in?

[2012-07-31 12:51] shane-tomlinson commented on #1797
Closing as dup of #1903

[2012-07-31 12:51] #1797 closed, assigned to shane-tomlinson

[2012-07-31 12:54] #1568 closed, assigned to billder

[2012-07-31 12:59] shane-tomlinson commented on #1538
This was merged in 6d8844a50a6f5475566d2a300cd46fa98ffed78d.  Closing.

[2012-07-31 12:59] #1538 closed, assigned to nobody

[2012-07-31 13:00] shane-tomlinson commented on #1532
@lloyd - have you seen this behavior?

[2012-07-31 13:35] #1679 closed, assigned to shane-tomlinson

[2012-07-31 13:37] shane-tomlinson commented on #1590
Close with merge of #2161

[2012-07-31 13:37] #1590 closed, assigned to shane-tomlinson

[2012-07-31 13:40] shane-tomlinson commented on #1249
Since requiredEmail has been deprecated, I am closing this.

[2012-07-31 13:40] #1249 closed, assigned to lloyd

[2012-07-31 13:42] shane-tomlinson commented on #724
@ioanab - can you give this a try again to see if this still occurs?

[2012-07-31 13:44] shane-tomlinson commented on #545
@benadida, @lloyd - is this still an issue since we use server_time to generate certs?

[2012-07-31 13:46] shane-tomlinson commented on #471
@lloyd - this is still returning a string instead of a JSON response.

[2012-07-31 13:47] ringe commented on #2043
@shane-tomlinson This is still a problem. No requests are being made to the provider, unless I'm logging in to dev.

[2012-07-31 15:02] magnusart opened #2193 "Avoid using special characters in key names for BrowserID protocol JSON messages"
I'm using a 3rd party library in Scala, that will generate a JSON message given an case class instance.

However the dash in the key "public-key" is an operator and illegal to use as a type name in Scala/Java (and most other languages), so I can't easily generate my JSON messages, but will have to manually map to and from JSON in these cases.

I suggest a change where the BrowserID protocol JSON m

[2012-07-31 15:14] shane-tomlinson opened #2194 "IE8-10 exception on dev.123done.org"
[code]

This is a distinct error from #2183

[2012-07-31 15:45] ozten commented on #2014
Yes, looks fixed on dev. Closing.

[2012-07-31 15:45] #2014 closed, assigned to nobody

[2012-07-31 16:44] shane-tomlinson commented on #2194
At character 10191 of line 3 is a "const".  The jwcrypto deps need updated.

[2012-07-31 17:28] shane-tomlinson commented on #1890
@lloyd - since 2173 was merged, can this be closed?

[2012-07-31 17:50] jaredhirsch commented on #1984
@jrgm: thanks :-)

I managed to find it on my own: https://github.com/lloyd/myfavoritebeer.org/pull/57

[2012-07-31 17:52] jrgm commented on #2008
@shane-tomlinson "is my profile zoomed in?". Not sure I understand the question.

[2012-07-31 18:01] shane-tomlinson commented on #2008
@jrgm - have you zoomed in on a page using the keyboard or CMD +.  Are those settings persisted across browser resets?

[2012-07-31 18:02] shane-tomlinson commented on #2008
@jrgm - They _are_ persisted across browser restarts.  I just zoomed in two levels, shut the browser down, started back up, and the page was still zoomed in - this seems to occur on a per-domain basis.  Could this have been the problem with this particular profile?

[2012-07-31 18:05] jrgm commented on #2008
Possibly, although I almost never change from the default size in my personal size.

[2012-07-31 18:06] nmalkin commented on #2193
(For reference:) see the mailing list for [additional discussion](http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/a395304dbd0c6d32#)

[2012-07-31 18:29] jaredhirsch commented on #2182
@shane-tomlinson: sounds good; thanks for the pointer to #2172. Still getting up to speed on the project context :-P

[2012-07-31 18:29] #2182 closed, assigned to nobody

[2012-07-31 19:41] lloyd opened #2195 "Test RPM build"
mozilla deploys persona using RPMs.  These RPMs are build by operational folks right before deployment.  Frequently, developers unknowingly break the RPM build and it adds delays in our deployments.  We should be testing rpm builds on every commit leveraging our jenkins environment.

@lloyd will write the test script

@6a68 will get her on jenkins

[2012-07-31 21:05] magnusart commented on #2193
The mailing list discussion is good and a summary of my intentions boils down to this:
1. I respect that his have a large impact therefore might not be feasable
2. To work around this is not a very hard technical challenge for the implementor and only applies to certain implementors.
3. It is more of an usability issue for implementors (avoiding surprises), it is in this - still important - light

[2012-07-31 21:20] ozten opened #2196 "Build example IdP for Dynamic Identifiers work"
In starting the [dynamic identifiers](https://github.com/mozilla/id-specs/issues/18) work, buld out an example idP much like our example RP, delegated idP and primary IdP under the `/example` directory.

This work will be done in a branch.

This branch will be exposed to Firefox OS development, but not pushed for Beta 1.

[2012-07-31 21:47] jrgm commented on #2008
So, yeah, that is exactly the issue. I looked in my profile with sqlite3 on content-prefs.sqlite with

[code]

and my setting for 'browser.content.full-zoom' on id.etherpad.m.o was 0.9 (zoomed in). If I reset that value in the browser View->Zoom->Reset the dialog lays out at its normal width. If I zoomed in again for id.etherpad.mozilla.org, the dialog came up in a slightly narrower width.

It doe

[2012-07-31 22:34] seanmonstar commented on #1672
still valid?

[2012-07-31 22:36] seanmonstar commented on #1668
Is this covered by the "orphaned" KPI?

[2012-07-31 22:38] seanmonstar commented on #1665
Did this happen?

[2012-07-31 22:46] callahad commented on #1672
Still valid. The trigger I'm waiting for is "the train in stage _is_ going to be the the Beta" to do my final pass over the readme.

[2012-07-31 22:47] callahad commented on #1665
Not yet; was blocked on MDN. Now that MDN staging is editable, I'll add this back to my TODO queue. Thanks for pinging me!

[2012-07-31 22:50] seanmonstar commented on #1615
Still happens, but the tooltip doesn't get darker since they're no longer transparent.

[2012-07-31 22:52] seanmonstar commented on #1598
There has been some autofocus code that has landed recently, so is this still happening?

[2012-07-31 22:54] jrgm commented on #2008
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=779335. This seems more like a general issue with Firefox.

[2012-07-31 22:54] seanmonstar commented on #1573
now that we use https://login.persona.org, this doesn't seem like it's still valid. reopen if it is.

[2012-07-31 22:54] #1573 closed, assigned to lloyd

[2012-07-31 23:06] seanmonstar commented on #1500
haha, "STR: open a browser and come back in 2 weeks"

anyways, @shane-tomlinson did that commit clear this up?

[2012-07-31 23:08] seanmonstar commented on #1479
I can't tell if that means this is working correctly or not. @jrgm?

[2012-07-31 23:12] seanmonstar commented on #1441
It looks like Apple dropped Windows support with Safari 6. Will it remain part of our browser support?

[2012-07-31 23:14] seanmonstar commented on #1434
still valid? if so, re-open.

[2012-07-31 23:14] #1434 closed, assigned to billder

[2012-07-31 23:15] seanmonstar commented on #1424
If this is still valid, re-open.

[2012-07-31 23:15] #1424 closed, assigned to lloyd

[2012-07-31 23:22] seanmonstar commented on #1376
We could add a timeout if the key is enter, and cancel the timeout in submit, so that the timeout makes the submit happen in IE, and good browsers cancel the timeout and submit once.

Yeck, I feel the need to sacrifice a few kittens after having written that sentence.

[2012-07-31 23:24] seanmonstar commented on #2049
With the influx of people trying it on at Beta launch, it seems likely we would have more instances of this case. beta1-req? I'd at least for what stance we want to take.

[2012-07-31 23:57] jrgm commented on #1441
Well, I can't reproduce this anymore with safari 5.1.7 on win7, so I'm closing this issue.

As for what we will support, I think we will want to try to support safari5 in the short run. If Apple makes a more official statement that safari5 is unsupported (as in no security fixes) we would drop it.

[2012-07-31 23:57] #1441 closed, assigned to nobody

[2012-07-31 23:58] jrgm commented on #2132
yep, looks go on current dev.

[2012-08-01 00:17] fmarier opened #2197 "Accepting emails to persona@persona.org?"
Emails sent by Persona use "Persona@persona.org" as the From address, but emails sent to that address bounce:

[code]

Should we accept emails sent there for statistical / debugging / support reasons?

(This may have privacy implications.)

[2012-08-01 03:41] zaach commented on #1327
It looks like the bit is set correctly in production.json. Reopen if this is still a problem.

[2012-08-01 03:54] zaach commented on #1322
Looks like we still need to do 2) and 3).

[2012-08-01 04:05] jrgm opened #2198 "kpi interaction_data is uploaded even when /sign_in is not loaded in the dialog window"
This is mostly a question about whether this will present any unexpected data (perhaps not).

STR:
1. run a local dev instance and load http://127.0.0.1:10001. Click 'get an assertion'. Complete sign in.
2. Now load http://127.0.0.1/sign_in directly in another tab. Reload a couple of times.
3. Review the log output and ponder whether that will present any oddities.

The reason for this question is

[2012-08-01 04:17] zaach commented on #1237
What's the status of this?

[2012-08-01 04:21] zaach commented on #1231
It sounds like @shane-tomlinson has answered this. Reopen if we're still iffy on the current behavior.

[2012-08-01 04:21] #1231 closed, assigned to lloyd

[2012-08-01 05:12] jrgm commented on #1848
belatedly marking verified for stage train-2012.07.20 and local dev train-2012-07.30 for original STR.

[2012-08-01 05:16] jrgm commented on #1662
belated verify that that test is not failing in local dev for train-2012.07.30

[2012-08-01 05:30] jrgm commented on #1327
So, um reopening. I cannot see production logs. But I can see stage logs (but not stage config which is annoying to me).

But a typical log line for browserid.log sez:

[code]

214 is the response size.

[2012-08-01 06:18] zaach commented on #873
@ozten has the time come for this?

[2012-08-01 06:21] zaach commented on #881
Perhaps we could make separate issues for the bits that remain, and then close this when they are resolved.

[2012-08-01 06:32] zaach commented on #900
Are we still considering this?

[2012-08-01 06:35] zaach commented on #902
We no longer use this site for testing, right? (looks like it hasn't been updated in many months)

Reopen if still relevant.

[2012-08-01 06:35] #902 closed, assigned to lloyd

[2012-08-01 06:39] #914 closed, assigned to lloyd

[2012-08-01 06:39] zaach commented on #914
reopen if needed.

[2012-08-01 06:46] zaach commented on #927
I cannot reproduce this. The recent work on testing multiple browsers likely fixed this issue.

[2012-08-01 06:46] #927 closed, assigned to jrgm

[2012-08-01 07:52] ghost commented on #724
@shane-tomlinson @jbonacci  - I have tried to reproduce this issue several times, both on http://beta.123done.org/ and on http://123done.org/, and it didn't reproduce at all.

You can mark it as closed and if Catalin or I see it again at some point, we'll just reopen it.

[2012-08-01 08:18] mathjazz commented on #2093
Yes, you can close this one.

[2012-08-01 11:40] shane-tomlinson opened #2200 "tooltip does not show arrow as specified in designs"

[2012-08-01 11:45] #1345 closed, assigned to shane-tomlinson

[2012-08-01 12:01] #2187 closed, assigned to nobody

[2012-08-01 14:12] benadida commented on #2197
doh! nice catch. We should start by replying with a reasonable response.

[2012-08-01 15:53] shane-tomlinson commented on #2114
Made much nicer with PR #2161. Closing.

[2012-08-01 15:53] #2114 closed, assigned to skinny97214

[2012-08-01 15:56] shane-tomlinson commented on #242
@jbonacci - this is indeed closed.

[2012-08-01 16:02] shane-tomlinson commented on #414
@lloyd - this should be re-tested now that we have HTML emails.

[2012-08-01 16:04] shane-tomlinson commented on #514
@zaach, @lloyd - it looks like there is a function to take care of this now.  Are overly long email addresses handled on the backend?  If so, can this be closed?

[2012-08-01 16:05] shane-tomlinson commented on #672
@skinny97214, @lloyd, @sawyerh - is this now taken care of with the new emails?

[2012-08-01 16:11] shane-tomlinson commented on #895
This has been done for quite a while.  Closing.

[2012-08-01 16:11] #895 closed, assigned to lloyd

[2012-08-01 16:14] shane-tomlinson commented on #1037
@skorokithakis - We did a complete overhaul of the dialog since you filed this issue.  Are your uses still finding this a problem, or have we cleaned things up suitably?  Thanks!

[2012-08-01 16:18] skorokithakis commented on #1037
@shane-tomlinson Hmm, I still see the same copy there, which will confuse someone who thinks they need to create an account first. Therefore, I still propose the addition of the above sentence to the workflow, to clarify that accounts will be created if they do not exist yet.

Also, a short sentence explaining what Persona is would be beneficial, in my opinion, as the users are unaware at that poi

[2012-08-01 16:18] shane-tomlinson commented on #1086
Dup of #751.  @jbonacci - this still happens on https://*myfavoritebeer.org

Closing this one in favor of #751.

[2012-08-01 16:18] #1086 closed, assigned to lloyd

[2012-08-01 16:20] shane-tomlinson commented on #1318
Closing, TOS/PP code is only done in two places now.

[2012-08-01 16:20] #1318 closed, assigned to shane-tomlinson

[2012-08-01 16:36] lloyd commented on #1822
I mentioned this on some email thread.  But in the native case we don't need two things:
1. we don't need no jschannel
2. we don't need no winchan

What if we were to de-conflate /sign_in and have a special url dedicated to the native case that does not include winchan, and has a different, uh "main function", a different little bit of startup code.

The delta would be small, our build system hand

[2012-08-01 16:46] st3fan commented on #1822
On 2012-08-01, at 12:36 PM, Lloyd Hilaiel reply@reply.github.com wrote:

Does the above mean that I don't have to inject any JS in the window anymore? If so, +1 :-)

Ideally at the end I just get a configurable redirect that I can intercept. Like to pancake-persona://getVerifiedEmail?status=success&assertion=DHEJKHDEJKHD

That would remove all need for custom JS to get things to work on iOS and An

[2012-08-01 16:48] jedp commented on #2198
Interesting.  I don't know what to say about browsers opening that url directly, but as far as kpi goes, it looks like we should be aware that blobs that have empty event streams should not be tallied with the others.

We could also collect all blobs that have empty event streams and see what configurations produce them most.  It wouldn't tell us anything about what went wrong, but it might give u

[2012-08-01 17:16] ozten commented on #873
Yes!

[2012-08-01 17:18] ozten commented on #1322
We're using i18n-abide on a few projects, it would be great to get this project using it... however it's probably a post-beta1 change (?).

[2012-08-01 17:31] lloyd commented on #514
yes, addressed by issue #1979

[2012-08-01 17:31] #514 closed, assigned to lloyd

[2012-08-01 18:23] lloyd commented on #2183
this will be closed when I merge 0366b9f into train-2012.07.30

[2012-08-01 19:29] jrgm commented on #2179
To flesh out STR (as I understand them)
1. Go to main site and click sign in. Enter the email of a known secondary email address and click sign in button.
2. Instead of entering a password, click on "forgot your password?"
3. Enter a new password twice and click 'reset password'
4. Go to email and click on the reset_password link to open in a new browser window (but same browser as the one you sta

[2012-08-01 19:36] shane-tomlinson commented on #2179
@jrgm - you STRs are the STRs for #1682 and PR #2163.

The STRs for this particular bug are:

1) Go to main site /signin
2) Enter a known secondary
3) Click "Forgot your password?"
4) It redirects to the /forgot page, then redirects back to the /signin page.

[2012-08-01 20:13] jrgm commented on #2179
@shane-tomlinson Ah sorry. Hmm. I cannot reproduce this with 07.20 or 07.30 or current dev with osx/chrome. What am I missing?

[2012-08-01 20:19] lloyd commented on #2179
@shane-tomlinson

I cannot reproduce on ansorep.org (train-2012.07.20)
I cannot reproduce on login.dev.anosrep.org right now

what am I doing wrong?

[2012-08-01 21:02] callahad commented on #2152
Proposed solution: Since we're not immediately deprecating `.get()` anymore... maybe we could just keep using `.get()` for this?

[2012-08-01 21:34] lloyd commented on #2179
cannot reproduce in our development environment anymore, nor can shane.  WFM, please re-open if you can figure out whether this is still relevant?

[code]

[2012-08-01 21:34] #2179 closed, assigned to shane-tomlinson

[2012-08-01 22:05] lloyd commented on #2183
renamed this issue, it's still a blocker.  We had mis-attributed the javascript error as the underlying cause previously.  Steps to reproduce are:
1. load up your favorite version of IE
2. point it at beta.123done.org or dev.123done.org
3. sign in
4. reload

Expected: upon reload you're still logged in
Actual: upon reload you get logged out

[2012-08-01 22:10] callahad commented on #2152
That is.. does `.get()` update Persona sessions?

[2012-08-01 23:13] lloyd commented on #2171
upgraded to published 0.4.0, closing this down

[2012-08-01 23:13] #2171 closed, assigned to nobody

[2012-08-01 23:13] lloyd commented on #2171
(IE is happy)

[2012-08-01 23:53] skinny97214 commented on #1091
No, we want to support full back button so we can expose it in the browser frame. Currently it's hidden.

[2012-08-02 00:09] seanmonstar commented on #2183
If you put breakpoints in onlogin, onlogout, and onready, you'll notice that after signing in, onlogin gets called as expected, but then right afterwards, onlogout gets called. Only in IE.

I'll go get the kittens.

[2012-08-02 00:13] ozten opened #2205 "Personal Delegated IdP works against dev, but not stage or production"
Howdy!

I created hostedpersona.me and delegate to it via ozten.com.

This works well against dev.123done.org.

Both beta.123done.org as well as 123done.org do not work.

I've created HAR snapshots, so you can see all the network traffic in a firebug like screen.

Stage:
1) Go to http://www.softwareishard.com/har/viewer/
2) Copy JSON from https://raw.github.com/gist/3231728/74a0f5eafb6a23042518966

[2012-08-02 00:21] nmalkin commented on #1668
From my side of things, I think _orphaned_ takes care of this, but I'll defer to @ozten on the final call.

[2012-08-02 00:34] ozten commented on #1668
I'm not tracking this stuff in detail, I trust you guys to make sure it works.

[2012-08-02 00:34] sawyerh commented on #1874
@seanmonstar Alright, I have this mostly working here: https://github.com/sawyerh/browserid/compare/issue-1874-tour

There's one thing not yet working and another that I totally hacked together because I was unsure how to do it otherwise.

Broken: The link in the dialog footer (http://d.pr/i/Thje) should point to the new /tour page and open in the current window. When you click it it's just closin

[2012-08-02 00:39] nmalkin commented on #1668
The current reports that have to do with abandonment are fulfilled by the present KPIs, and the _orphaned_ flag seems to account for both scenarios @jbonacci mentioned originally, so I think we're good.

[2012-08-02 00:53] #724 closed, assigned to nobody

[2012-08-02 02:12] jrgm opened #2206 "[ie8] javascript exception signing up a new user via /sign_in dialog"
I was using train-2012.07.30 to reproduce this. Does not happen with train-2012.07.06. Haven't checked dev.

STR
1) Load &lt;ephemeral&gt;.123done.org or http://127.0.0.1:10001 and bring up the /sign_in dialog
2) Enter a secondary email address that is not known
3) Enter password twice and submit
4) Open the verify_email_address in a new browser window (same browser you started with).

Expected: n

[2012-08-02 02:15] jrgm commented on #2206
Obviously 5 etoile

[2012-08-02 02:26] fmarier commented on #2170
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=779710

[2012-08-02 02:26] #2170 closed, assigned to fmarier

[2012-08-02 13:31] shane-tomlinson commented on #2206
This occurs on beta.123done.org as well.  This does NOT occur if you verify in a second browser.

@lloyd, @jrgm - This is our old localStorage in IE8 sync friend.  If I add a "setDefaultValues" to storage.js to one area, the problem goes away.

Why do I think this is the same cause as #1638?

1) The STRs for the localStorage problem previously involved two windows.  Necessary conditions for proble

[2012-08-02 14:18] shane-tomlinson commented on #1500
@seanmonstar - The commit is the start, but I want to make sure I have all the logic right and get some feedback before creating a PR.

[2012-08-02 14:46] shane-tomlinson commented on #39
@lloyd - Persona shows an error on startup, but it is more accidental than intentional.

[code]

When loading from a file:/// URL, WinChan passes the origin as the string "null".  This is because extractOrigin in WinChan only looks for https?, if the scheme does not match either http or https, it returns null for the origin.

Should we look for the "null" origin in the dialog and display an error

[2012-08-02 15:03] shane-tomlinson commented on #2034
Making this the new consolidated tracker bug so we can close down others.

issue #75
issue #428
issue #1822
issue #1870
issue #1946

[2012-08-02 15:04] shane-tomlinson commented on #75
Closing in favor of #2034

[2012-08-02 15:04] #75 closed, assigned to nobody

[2012-08-02 15:04] shane-tomlinson commented on #428
Closing in favor of #2034

[2012-08-02 15:04] #428 closed, assigned to nobody

[2012-08-02 15:04] shane-tomlinson commented on #1822
Closing in favor of #2034

[2012-08-02 15:04] #1822 closed, assigned to shane-tomlinson

[2012-08-02 15:05] shane-tomlinson commented on #1870
Closing in favor of #2034

[2012-08-02 15:05] #1870 closed, assigned to lloyd

[2012-08-02 16:10] shane-tomlinson commented on #1779
This is a problem on iOS as well.

[2012-08-02 16:10] shane-tomlinson commented on #236
Closing as same cause of #1779, dup.

[2012-08-02 16:10] #236 closed, assigned to shane-tomlinson

[2012-08-02 16:18] shane-tomlinson commented on #247
@polymorphm - your suggestion was merged into WinChan, this is now taken care of.  Closing!

[2012-08-02 16:18] #247 closed, assigned to lloyd

[2012-08-02 16:25] shane-tomlinson commented on #319
This is Fennec upstream behavior, closing as won't fix.

[2012-08-02 16:25] #319 closed, assigned to shane-tomlinson

[2012-08-02 16:42] lloyd commented on #2194
we fixed this by moving to 0.4.0

[2012-08-02 16:50] lloyd commented on #1776
@callahad you got dis, right?

[2012-08-02 17:05] lloyd commented on #1104
related to issue #2049

[2012-08-02 17:05] lloyd commented on #1104
@callahad TAKE A STAND MAN, tell use what approach we should apply and we will.

[2012-08-02 17:11] shane-tomlinson commented on #989
Link to #1181

[2012-08-02 17:13] #881 closed, assigned to skinny97214

[2012-08-02 17:15] #72 closed, assigned to nobody

[2012-08-02 17:15] lloyd commented on #72
we've started and will continue reviewing the software, this bug isn't useful.  woohoo.

[2012-08-02 17:18] shane-tomlinson commented on #274
Closing since we moved to persona.org.  @jrgm is going to verify on persona.org

[2012-08-02 17:18] #274 closed, assigned to lloyd

[2012-08-02 17:24] lloyd commented on #2198
@jedp suggests this might be a useful behavior.  @nmalkin what do you think?

[2012-08-02 17:24] #2198 closed, assigned to nobody

[2012-08-02 17:25] lloyd commented on #2197
@pfinette any ideas on a lightweight way to wrangle user email?

[2012-08-02 17:26] lloyd commented on #2196
@ozten please repeat in the bug how we can help

[2012-08-02 17:27] #2195 closed, assigned to jaredhirsch

[2012-08-02 17:34] seanmonstar commented on #2194
@lloyd if we fixed this, can we close?

[2012-08-02 17:35] nmalkin commented on #2198
Maybe it would be useful to log the errors that happened and include them as part of the KPI data blob.

This seems like the best solution. I'll do that.

[2012-08-02 18:24] callahad commented on #1776
@lloyd Indeed. The wording is tricky, but Will and I are meeting up face-to-face in Bellingham, WA today to tackle a bunch of the doc polish issues. Thanks for the ping!

[2012-08-02 18:25] callahad commented on #1104
Oh jeebus, I'm assigned to this one? Will take a stand tomorrow.

[2012-08-02 18:57] jrgm commented on #2169
Thanks for the bug report @humbletim. Yeah, I can reproduce this with FF4 on ubuntu 11.10. However, your workaround doesn't appear to work for me.

[2012-08-02 19:13] jrgm commented on #274
I used a 2.2 Droid device with stock browser, FF14 and FFBeta. None of them have a problem with the SSL cert we provide at login.persona.org.

[2012-08-02 19:14] jrgm commented on #2198
verified. kpi-dashboard will adjust to deal with these empty streams.

[2012-08-02 19:24] graingert commented on #1350
technically you probaly don't want to use email addresses but acct: URIs https://tools.ietf.org/html/draft-saintandre-acct-uri-01 (basically email addresses but can't necessarily receive email eg acct:graingert@eyedee.me exists mailto:graingert@eyedee.me does not

There might be enough time to wrestle them into having a stricter definition than:

   acctURI      =  "acct:" userpart "@" host
   use

[2012-08-02 19:59] seanmonstar commented on #2183
So thanks to some git bisecting from @lloyd, we know that this was introduced with e430a7196d693bf0511c6dff649a89d9f5069907.

The dialog used to set a test cookie, and since max-age didn't delete it in IE8, the communication_iframe could still see it and go along its merry way. That commit removed max-age and manually expires the cookies, which is the right thing to do. It simply exposed that ifra

[2012-08-02 20:11] zaach commented on #1089
@benadida time to readdress this?

[2012-08-02 20:51] zaach commented on #1066
This is a more general case of #873

[2012-08-02 20:57] zaach commented on #1039
@benadida this will matter for big-tent, yes?

[2012-08-02 21:17] zaach commented on #872
Confirmed on 123done.org.

[2012-08-02 21:25] warner commented on #2193
In the long run, we're changing `public-key` to `publicKey`: see https://github.com/mozilla/jwcrypto/blob/10714d9410f30cd37bfb25400d61f04b725891ff/lib/cert.js#L20 . Since this (and the other handful of format changes that it travels with) is an incompatible change, we have to move carefully. We're working on a plan this week, see https://id.etherpad.mozilla.org/format-upgrade-rollout for some work

[2012-08-02 21:25] #2193 closed, assigned to warner

[2012-08-02 21:32] jrgm commented on #2179
verified not a bug now

[2012-08-02 21:38] warner commented on #1501
we aren't doing this already? I'll study the code to see where the pubkey lookup is happening and what we do when it succeeds.

One deep question: how "sticky" should it be? Specifically, how long should the verifier remember that it saw an IdP pubkey? If an IdP publishes their key, then gives up and removes it, at what point should the verifier start accepting certs from the fallback? (similarly,

[2012-08-02 21:41] #1890 closed, assigned to sawyerh

[2012-08-02 21:43] #1325 closed, assigned to skinny97214

[2012-08-02 21:46] skinny97214 commented on #1880
@warner I'd like to get this merged in before @sawyerh finishes up his internship next week. Can you take a look?

[2012-08-02 21:50] lloyd commented on #1969
resolved.  we took .mo out of the picture and test localization via our automated backend vows tests.

[2012-08-02 21:50] #1969 closed, assigned to lloyd

[2012-08-02 21:51] lloyd commented on #1322
+1 - we should review all the changes I've made (gobbledeegook, etc) and verify we're ok with them, then update i18n abide.  also agree this is post-beta1

[2012-08-02 22:00] skinny97214 commented on #1237
resolved in GH-1874

[2012-08-02 22:00] #1237 closed, assigned to billder

[2012-08-02 22:02] skinny97214 commented on #900
We are. :D

[2012-08-02 22:04] skinny97214 commented on #2152
How many high value sites are there and what types of services are they offering? I need to understand their needs better to see if we can abstract this up into our feature set.

[2012-08-02 22:39] fmarier commented on #2152
@skinny97214 I'm not sure I understand what you're asking for.

Are you looking for examples of large (popular?) sites that request more than one email address or are you asking about RPs that could potentially use Persona and where losing your access to them would really hurt?

[2012-08-02 22:48] zaach commented on #905
Current results:
The dialog closes after pressing "sign in". On http://beta.myfavoritebeer.org, the sign in button is translucent and unresponsive. After a minute or so, if there is still no connection, a "login failure" alert shows and the sign in button remains translucent and unresponsive. If the connection returns before the timeout, the user is logged in.

[2012-08-02 22:54] jrgm opened #2210 "forgot password page is missing the email address it applies to"
See below. The signup.js page display the email address correctly in comparison.

![img](https://img.skitch.com/20120803-gbd34fdd8r1kquk5yucx5xgjy7.png)

[2012-08-02 23:15] jrgm commented on #2132
Although, note this is not on train-2012.07.30

[2012-08-02 23:15] #1565 closed, assigned to shane-tomlinson

[2012-08-02 23:23] zaach commented on #2022
@lloyd There's an issue with having  npm-shrinkwrap.json around during development: we use a different set of dependencies for production and development, but the same shrinkwrap in both. We _could_ list all of the dependencies in the shrinkwrap, but then they would be installed in production as well.

Another alternative would be to generate/move/copy the shrinkwrap files before deploying, and on

[2012-08-02 23:38] jrgm commented on #1984
Noted in the lloyd/myfavoritebeer.org/pull/57 that since we don't have stage and rely on an ephemeral we can't test with myfavoritebeer.org as an RP.

[2012-08-03 00:30] lloyd commented on #2147
There is a new translation environment we'll be using for now.

URL to main site:  https://translate.personatest.org
URL to website that uses it: http://translate.123done.org
URL to current github SHA and SVN version deployed: https://translate.personatest.org/ver.txt

Updating details:

polls SVN at 5 minute intervals.  When change is detected, update takes about 8 minutes, that means 15 minutes

[2012-08-03 00:30] #2147 closed, assigned to ozten

[2012-08-03 00:30] lloyd commented on #2164
There is a new translation environment we'll be using for now.

URL to main site:  https://translate.personatest.org
URL to website that uses it: https://translate.123done.org
URL to current github SHA and SVN version deployed: https://translate.personatest.org/ver.txt

Updating details:

polls SVN at 5 minute intervals.  When change is detected, update takes about 8 minutes, that means 15 minutes

[2012-08-03 00:30] #2164 closed, assigned to nobody

[2012-08-03 00:35] lloyd commented on #2210
against train-2012.07.30?

[2012-08-03 00:43] lloyd commented on #1984
Will fix fri...

--lloyd

On Aug 2, 2012, at 5:38 PM, John Morrisonreply@reply.github.com wrote:

[2012-08-03 01:00] jedp commented on #1916
Nor I. :)

[2012-08-03 01:19] jrgm commented on #2210
Yes, on train-2012.07.30. But now looking again this is not always reproducible. From inspecting localStorage when it doesn't work vs. when it gets in a state that it works, 'main_site' === '{}' for the fail case, but is '{ "signInEmail": "foo@example.com" }' when it does work (which makes sense). Not sure how I get it in the fail state. This is with FF14 on osx.

[2012-08-03 02:18] benadida commented on #1501
@warner we're not doing this yet because we haven't figured out the upgrade behavior completely... but it's worth a careful consideration if you have time!

[2012-08-03 02:19] benadida commented on #1039
@zaach yes, given the way we're now doing bigtent with non-chained public keys, we should indeed fix this.

[2012-08-03 02:21] benadida commented on #1089
@zaach do you think we can easily address this? If so, great, but I'm wondering if that's a post-beta task.

[2012-08-03 06:03] #2194 closed, assigned to nobody

[2012-08-03 06:03] lloyd commented on #2194
yes we can.

[2012-08-03 06:28] lloyd commented on #1089
+1 to post-beta1

[2012-08-03 06:28] klrmn opened #2211 "on /signin and /signout two buttons have the same id"
to reproduce:

go to https://login.dev.anosrep.org
click sign in (or sign up)
fill in email
click Next
view html

[code]

as a general rule, you're not allowed to give two items on the same page the same id.
note that the button for submitting the passwords for sign-up does have a unique id.

[2012-08-03 06:32] gion-andri commented on #2147
Thanks. That's great!
But https://translate.123done.org/ does not seem to work (Unable to connect).

[2012-08-03 06:35] lloyd commented on #2147
ack!  I'm sorry, it's http://translate.123done.org (no ssl)

And when translations are changed, you must wait until https://translate.personatest.org is updated (at this very moment apparently someone has committed translations and the server is updating)

[2012-08-03 06:41] gion-andri opened #2212 "L10n issues in confirmation e-mail"
The new HTML mails seem to have some problems:
http://imgur.com/NAyKO
- One string contains some strange caracters: #~
- And one string apparently is untranslatable.

[2012-08-03 06:49] gion-andri commented on #2147
Thanks. It works great!

[2012-08-03 06:51] lloyd commented on #2212
reproduced,  5 star issue, assigned to me.  I'll get to it within 24 hours.

[2012-08-03 06:55] lloyd commented on #2212
for reference, this issue is not present in our dev branch using debug locale `it-CH`, expect it's a matter of finding the commit that fixes it and backporting into `train-2012.07.30`

[2012-08-03 07:46] shane-tomlinson commented on #873
Closing as less general case of #1066.  Thanks @zaach for pointing this out!

[2012-08-03 07:46] #873 closed, assigned to ozten

[2012-08-03 07:48] shane-tomlinson commented on #872
@zaach - yeah, this will most definitely still be an issue.  The user's authentication cookie will have been reset and their localStorage will have been cleared.

[2012-08-03 08:44] shane-tomlinson commented on #2211
@kirmn - excellent catch, I can guarantee this was a copy/paste error on my part.  Those IDs aren't actually used for anything, removing.

[2012-08-03 10:13] shane-tomlinson commented on #2210
@jrgm - Are there any STRs that I can try to see this, even if I have to do it many times?  I have so far not been able to.

[2012-08-03 10:20] shane-tomlinson commented on #1308
@lloyd, @jrgm, @jbonacci - since we now using personatest.org and are no longer using hacksign.in, this particular issue is no longer relevant.  The certificate is accepted on Fennec for personatest.org with no problem.  Closing.

[2012-08-03 10:20] #1308 closed, assigned to jrgm

[2012-08-03 12:34] shane-tomlinson opened #2215 "call to navigator.id.get with no options or navigator.id.getVerifiedEmail throws exception"
[code]

This affects the current staging - 07.20.2012

[2012-08-03 13:23] shane-tomlinson commented on #1532
@lloyd - I can verify this behavior on prod through dev. When calling navigator.id.get with the silent: true option, the callback is called twice.  The callback is first called with null, the second time with an assertion.

STR (very round about)

0) Make sure your version of Persona has https://github.com/mozilla/browserid/pull/2216 applied.
1) Load up my modified MFB at https://github.com/shane-

[2012-08-03 14:32] shane-tomlinson commented on #1532
Further extending this bug.  navigator.id.get(gotVerifiedEmail, { silent: true }) only generates an assertion the first time it is called, all subsequent calls to navigator.id.get return "null".

[2012-08-03 15:10] shane-tomlinson commented on #406
@ioanab, @jbonacci - I can reproduce this now!  Thanks for the detailed instructions ioana.

[2012-08-03 16:23] lloyd commented on #2212
po2json.js is not properly parsing lines with #~ prepended to them in the pofiles.  I don't really understand the conditions under which such a thing is pre-pended.

The fix is a commit to svn:

[code]

/cc @zaach (original author of po2json.js)
/cc @mathjazz || @ozten - can one of you make this commit to svn?

[2012-08-03 16:52] lloyd opened #2218 "IE will not keep you logged in (observer API, current production)"
STR:
1. log into 123done.org on IE (8, 9, 10)
2. restart your IE browser
3. return to 123done.org

expected: you're still logged in
actual: you ain't

[2012-08-03 16:53] lloyd commented on #2218
/cc @jrgm @jbonacci seen this before?  is this a dup of anything else out there?

[2012-08-03 17:05] zaach commented on #2212
@lloyd r+ for this fix

[2012-08-03 17:06] ozten commented on #2212
My understanding of the po file form... tells me this is a bad idea.

Does this only happen in 1 locale? Let's reach out to that author.

If it happens in all locales, it's that gettext thinks we've removed the string and it's keeping a copy so that locale doesn't lose it's work if the string ever comes back.

@lloyd can you work closely with @mathjazz before making a technical decision on how to

[2012-08-03 17:30] klrmn commented on #2211
Hi @shane-tomlinson ,
while you might not be using those ids for anything, automation would very much like to have unique ids on those buttons. looking up something by id takes less oomph than looking them up by css selector.

[2012-08-03 17:34] zaach commented on #2212
@lloyd did I say r+? I meant r-
@ozten do you think it's bug in the translation?

[2012-08-03 17:47] ozten commented on #2212
I think I know what the bug is.

These strings were moved into email templates under `resources/email_templates` (I see 4 copies of the string)

The extract script wasn't updated to look for ejs:

https://github.com/mozilla/browserid/blob/dev/scripts/extract_po.sh#L8

Since this is email (server side gettext), these strings should be added to the first block of messages.po commands.

Example:

[co

[2012-08-03 17:50] lloyd commented on #2212
ok, @mathjazz please find me on irc or email and I can explain the issue in depth, here's irclogs where I explain it to @ozten:

http://irclog.gr/#show/irc.mozilla.org/identity/134140

The question is why are these strings being extracted and added to po files with a `#~` prefix?

[2012-08-03 17:58] zaach commented on #2212
@ozten good call. Your example should replace [line 12](https://github.com/mozilla/browserid/blob/dev/scripts/extract_po.sh#L12), since the templates have moved.

[2012-08-03 18:00] ozten commented on #2212
@zaach - cool

The merge step is what causes the

[code]

Merge takes messages.pot (which doesn't have this string) and pushes it into the existing messages.po file. Any "deleted" strings are prefixed with `#~`.

[2012-08-03 18:08] lloyd commented on #2212
AHA!  nice @zaach - yeah, email templates now live under `resources/email_templates`  I will fix the patch in a couple hours unless someone else beats me to it.

Is there any reason not to also fix po2json.js?  Because without my change, the `#~` prefixes get included in the msgid, which is almost certainly wrong.

[2012-08-03 18:11] zaach commented on #2212
@lloyd though seeing `#~` does serve as a nice warning that we probably screwed something up.

[2012-08-03 18:15] lloyd commented on #2212
@zaach I'm sold.  we're good.

@mathjazz, this requires a string re-extraction against commits pushed to `train-2012.07.30`!  if this means we don't get translations done in time, then so be it, we will follow your lead on what is reasonable to expect from l10n folks.

[2012-08-03 18:15] #2212 closed, assigned to zaach

[2012-08-03 19:46] jrgm commented on #2210
@shane-tomlinson aargh this is hard to get a reliable STR. But it has something to do with Firefox where you have used its password manager to save the password for a secondary email address and then do signin/forgot-password. (Which is a bit silly since the browser is already offering you the password). I'm gonna leave this for now and move on to other stuff.

[2012-08-03 20:40] jrgm opened #2223 "If user adds mistyped secondary email addr, the only path to correct it is to close the dialog and start over"
User story:
1. A user has authed already. They go to an RP and want to add another email.
2. User mistypes the email addr and clicks 'add'.
3. Screen transitions to show 'Confirm your email address' and shows the email addr they typed.
4. After waiting a bit for the email to arrive, the user looks at the dialog and notices the typo.

We used to show a link "If this is a mistake, just ignore the se

[2012-08-03 21:00] carlacasilli commented on #1878
System info: Macbook Pro, Mac OS X 10.6.8, FF 14.0.1.
Aug 03, 2012: Restarted with all add-ons disabled, still no access to Persona. Same error as screenshotted on Yammer.
Can sign in fine using Safari & Chrome.

[2012-08-03 21:09] jrgm opened #2224 "dev.diresworb.org SSL cert is expired"
STR
1. Go the https://login.dev.anosrep.org and click for /signin page
2. Enter &lt;somename&gt;@eyedee.me and click next

Nothing much appears to happen but wait for ~30 seconds and the error screen is shown. More info says only 'Action: Checking Address Info'. A network trace with httpfox or firebug shows a failure on the client side in GET-ing https://dev.diresworb.org/provisioning_api.js

NOTE

[2012-08-03 21:26] jrgm commented on #2224
Ah, I see.

Loading https://dev.diresworb.org/provisioning_api.js directly gives:

[code]

And so we fail to load it, javascript errors for navigator.id is not defined and bleh.

[2012-08-03 22:40] jrgm commented on #2224
Now https://bugzilla.mozilla.org/show_bug.cgi?id=780300. Thanks @6a68.

[2012-08-03 22:43] jrgm commented on #2224
Closing in favor of the ops ticket.

[2012-08-03 22:43] #2224 closed, assigned to nobody

[2012-08-03 23:54] jedp commented on #2176
Merged PR 2177

[2012-08-03 23:54] #2176 closed, assigned to shane-tomlinson

[2012-08-04 01:31] callahad commented on #2143
@sawyerh Before I add those to MDN... is it just me, or is the text a little too high in the button? Adding a 1px margin-top and a corresponding negative margin-bottom to the span seems to make it look a little closer to me (2px seems like too much).

Do you agree, or should I go with it as-is?

[2012-08-04 09:41] mathjazz commented on #2212
I re-extracted the strings and notified localizers, some of them will translate them, the others will do that for the next release.

[2012-08-04 21:18] ozten opened #2225 "scripts/check_assertion has jwcrypto require exception."
Steps to Repro

1) checkout dev

2) run

[code]

Actual:

[code]

[2012-08-04 21:20] ozten commented on #2225
Workaround: Use latest jwcrypto directly:

[code]

[2012-08-04 22:01] ozten commented on #2205
This fails at auth with assertion. Using production and Firebug, I took my assertion and ran it through jwcrypto's check-assertion.

It fails, saying the cert is good but the assertion has a malformed signature.
Then... if I run the same command 5 minutes later, it says the cert and the assertion are good.

[code]

[2012-08-04 22:28] ozten commented on #2205
Digging into why this fails... It looks like the check-assertion tool is busted.
https://github.com/mozilla/jwcrypto/pull/45

Fixing that, It now says cert, assertion, and bundle are all good:

[code]

[2012-08-04 23:18] ozten commented on #2205
Okay, I'm pretty sure that I'm hitting secondary to primary bugs.

I debugged a few issues and fixed them using a local BrowserID server (verifier was requesting https://https://hostedpersona.me/.well-known/browserid - fix by not including the protocol in the certificate issuer field)

I how see:

[code]

Deleting myself from my local database, I can now auth again on a local dev instance.
I am un

[2012-08-05 22:27] sawyerh commented on #2143
@callahad I'd love to speak to a Firefox developer about that. Firefox does something weird with Helvetica and it's line height, causing this weird 1px discrepancy. Feel free to just change the font stack of the button to `Arial, Helvetica, sans-serif` instead

[2012-08-05 22:55] ozten commented on #2205
As a quick sanity check, I tried to sign in with a new email address, "always@ozten.com". I was able to successfully able to auth in production.

You can try it too... any password will work on the 'always' account. I think this confirms the existing secondary user hypothesis.

[2012-08-06 08:14] shane-tomlinson commented on #2223
@jrgm - this was intentional in the redesign.  @skinny97214, can you weigh in here?

[2012-08-06 08:58] shane-tomlinson commented on #2211
@kirmn - thanks for the quick feedback.  I have updated the PR to put the IDs back and give the next button the id of "next"

[2012-08-06 09:31] shane-tomlinson opened #2226 "jwcrypto@0.4.0 depends on concat-stream@0.0.8 which requires node >= 0.8.0"
It is impossible to update ephemeral instances right now:
## Remote install

[code]
## Local install

[code]

Full log can be seen at: http://pastebin.mozilla.org/1741283

[2012-08-06 10:39] #2125 closed, assigned to callahad

[2012-08-06 10:42] #2200 closed, assigned to shane-tomlinson

[2012-08-06 10:49] shane-tomlinson commented on #1776
Closing this as dup of #2186 and #2125, which are separated for MDN and SUMO.

[2012-08-06 10:49] #1776 closed, assigned to callahad

[2012-08-06 11:08] shane-tomlinson opened #2227 "example RP - loggedInEmail still used in navigator.id.watch"

[2012-08-06 11:45] callahad commented on #2186
From talking with Ibai, it's not clear that Persona warrants its own section in Sumo. His reasoning: "I think that the product is simple enough (from the User point of view) not to need a lot of support (this is awesome!). [...] but we need to evaluate if users are using this as a feature or recognize it as something completely separated from their browser."

"I think that we should keep growing t

[2012-08-06 11:45] #2186 closed, assigned to callahad

[2012-08-06 13:57] shane-tomlinson commented on #1132
@zaach - you finished this work up, didn't you?

[2012-08-06 14:47] csuciu commented on #1846
I'm able to reproduce this issue again on www.beta.123done.org using FF Release, FF Beta, FF Aurora and FF Nightly (Samsung Galaxy SII Android 4.0.3)

Works fine on Stock browser and on Dolphin

One thing that I noticed: On Stock browser and Dolphin, a 'Security warning' prompt is displayed when going beta.123done.org . This prompt is not displayed on FF

[2012-08-06 14:53] shane-tomlinson commented on #1039
@benadida - where would the failure be in this case, at the verifier?

Do we have to worry about the reverse situation as well, if a primary functionality for a domain goes down and Persona thinks a domain is a secondary (from the conversation happening in the mailing list)?

[2012-08-06 16:08] gion-andri opened #2231 "In dialog, changing the email chosen then 'Forgot password' causes email to be sent to initial email not the corrected one."
I found a bug on todays version of translate.personatest.org.
1. Sign in (e.g. at http://translate.123done.org) with a wrong email adress (for example mistyped).
2. Click cancel
3. Enter your correct email (from an existing account)
4. Click 'Forgot your password?'
5. Enter a new password and send the form

I get an email on the wrong (mistyped) adress with a link to activate a new account. The pa

[2012-08-06 16:14] lloyd commented on #2226
gah

[2012-08-06 16:22] lloyd commented on #2226
reproduced on dev deployments: https://deployer.personatest.org/05ccfc2.txt

[2012-08-06 17:02] jrgm commented on #1846
So the current spinning is caused by an expired SSL cert which was GH-2224 but that was closed in favour of and operations ticket to get the new certificate in place -  https://bugzilla.mozilla.org/show_bug.cgi?id=780300

[2012-08-06 17:55] klrmn commented on #2211
@shane-tomlinson - i wish i could provide you quick verification, but the servers seem kinda fubar today

[2012-08-06 19:06] jrgm commented on #1937
verified in train-2012.07.30 and in prior. Primary signin works.

[2012-08-06 19:08] jrgm commented on #1933
closing and verifying for train-2012.07.30

[2012-08-06 19:08] #1933 closed, assigned to nobody

[2012-08-06 19:09] jrgm commented on #1934
verified in train-2012.07.30

[2012-08-06 19:22] jrgm commented on #1829
verified for train-2012.07.30 and some prior trains. Eyedee.me works fine with lloyd/eyedee.me/pull/12

[2012-08-06 19:27] skinny97214 commented on #2101
@fmarier  It should redirect to the manage page.

[2012-08-06 19:27] jrgm commented on #1828
verified same issue as GH-1813 and fixed.

[2012-08-06 19:28] jrgm commented on #1813
verified train-2012.07.30

[2012-08-06 19:37] jrgm commented on #2072
verified same as GH-1848. Works with no exception in train-2012.07.30

[2012-08-06 20:06] callahad commented on #1039
The reverse seems like a reasonable concern. Maybe the broader principle is that the UA shouldn't send an assertion unless the backing IdP is the same one that would be resolved as per normal?

We'd lose the cool story about how eyedee.me could do down, yet users could still log in to sites that had eyedee.me's pubkey cached, but that kind of seems like a mess anyway...

[2012-08-06 20:47] lloyd commented on #2218
fixed in dev and train-2012.07.30

[2012-08-06 20:47] #2218 closed, assigned to lloyd

[2012-08-06 20:48] lloyd commented on #2183
fixed in dev and train-2012.07.30

[2012-08-06 20:48] #2183 closed, assigned to lloyd

[2012-08-06 21:18] zaach commented on #1132
@shane-tomlinson Yes, it's currently being used in the standalone i18n-abide. #1322 tracks when we'll pull that into browserid (post beta1).

[2012-08-06 21:34] seanmonstar commented on #2218
Was this what latchkey was running into? It was in prod?

[2012-08-06 22:25] seanmonstar commented on #2226
Re-open since this shrinkwrap makes production not use bigint?

[2012-08-06 22:37] jrgm commented on #2086
verified train-2012.07.30 - siteName and siteLogo have no effect in dialog when called through n.id.get() and returnTo has no effect, (although it didn't prior to this patch).

[2012-08-06 23:07] jrgm commented on #1642
verified work in train-2012.07.30 ephemeral awsbox.

[2012-08-06 23:16] jrgm commented on #1554
verified. At this time, jwcrypto 0.3.2 which is used with train-2012.07.30 and jwcrypto 0.4.1 which is with dev branch both contain no 'const' references (expect for a test in 0.3.2).

[2012-08-06 23:19] jrgm commented on #2171
verified. At this time, jwcrypto 0.3.2 which is used with train-2012.07.30 and jwcrypto 0.4.1 which is with dev branch both contain no 'const' references (expect for a test in 0.3.2).

[2012-08-06 23:23] jrgm commented on #2194
verified. At this time, jwcrypto 0.3.2 which is used with train-2012.07.30 and jwcrypto 0.4.1 which is with dev branch both contain no 'const' references (expect for a test in 0.3.2).

[2012-08-06 23:38] jrgm commented on #1998
checked on ICS Chrome, stock, ff14-ff17, iOS5 safari, 2.2 stock ff14-ff15 and looks fine on all except nightly ff17 ICS which doesn't seem to layout the right size for any site I visit.

[2012-08-06 23:40] adamkalis opened #2234 "Wrong UI after cancelling "Forgot your password?" action."
Steps to reproduce
1. Go to http://translate.123done.org/
2. Click on "Sign in with Persona"
3. At the pop-up complete an email address and press next
4. Press the "Forgot your password?" link, next to the "Sign in" button
5. Press the "Cancel" link, next to the "Reset password" button

What happens:
The UI returns on "Checking with your email provider." screen

What should happen:
The UI should r

[2012-08-07 00:16] jrgm commented on #2234
This is/was GH-2132. It is fixed in the dev branch but  not in train-2012.07.30 which is essentially the code that translate.personatest.org / translate.123done.org are using.

[2012-08-07 00:17] jrgm commented on #2234
Thanks for the bug report. I am going to close this one as a duplicate.

[2012-08-07 00:17] #2234 closed, assigned to nobody

[2012-08-07 00:20] adamkalis opened #2237 "Sent verification email at a wrong email address"
Steps to reproduce:
1. Go at https://login.anosrep.org/signup
2. Enter a valid email address and press "Verify email"
3. Change the address to another valid (let's say that the user has initially typed a wrong email)
4. Complete the "Password" and the "Verify Password" fields and press "Verify email"

What happens:
The verification email has been sent to the first valid email address (the one at t

[2012-08-07 00:24] #2226 closed, assigned to nobody

[2012-08-07 00:26] lloyd commented on #2097
given stats: https://bugzilla.mozilla.org/780776

I suggests we block this sooner rather than later.  next week.

@benadida thoughts?  Can we deploy a zeus change next week or not? /cc @gene1wood

[2012-08-07 00:34] fmarier commented on #2097
As per discussion with @lloyd, a warning has been sent to persona-notices: https://mail.mozilla.org/pipermail/persona-notices/2012/000002.html

[2012-08-07 00:47] adamkalis commented on #2231
I can also reproduce this bug. The mail was sent and received to the first wrong email address (the one at the first step).

[2012-08-07 00:58] jrgm commented on #2237
I can't reproduce this on https://login.anosrep.org/signup. If I am on the screen with "Create Account" and the fields "Email address", "Password", "Verify Password", and the email is filled in with the initial email chosen -- if I then slightly edit the email address or completely replace it, the email is sent to the email of the 3rd step (the edited/replaced one).

I'm sure you do actually have

[2012-08-07 01:26] jrgm commented on #2231
Yep, indeed.

[2012-08-07 02:08] jrgm commented on #2231
Update summary

[2012-08-07 03:09] jrgm commented on #1846
So there are two tickets open for mozilla/123done
1. https://github.com/mozilla/123done/issues/37 - 'javascript exception if include.js fails to load' which is the current noted reason for spinning that forever
2. https://github.com/mozilla/123done/issues/36 - 'sign in button never shown if cookies are disabled'

I'm closing this bug. Issues specific to 123done should be filed there as distinct ro

[2012-08-07 03:09] #1846 closed, assigned to jrgm

[2012-08-07 03:12] jrgm commented on #1846
Also to note, since github made changes today in notifications and I'm watching 123done, I will see any new issues or changes to those issues put in for 123done. Yay, I like this change in github.

[2012-08-07 04:54] jrgm opened #2239 "[ie8] cannot sign in with eyedee.me with ie8 (at least on an ephemeral instance)"
STR
1. Go to train0730.123done.org and click sign in.
2. Enter &lt;somename&gt;@eyedee.me and click next. When eyedee.me is looked up, continue on to get https://eyedee.me/browserid/sign_in.html?email=...
3. Click 'Create my account'

Expected: dialog transitions and is eventually logged in to train0730.123done.org as a primary eyedee.me email address

Actual: dialog tries to load https://eyedee.m

[2012-08-07 05:04] jrgm commented on #2239
To be clear, both signin and cancel cases work with ie9 (on win7), and chrome, ff14, safari, opera on winxp. This is just IE8.

[2012-08-07 08:30] shane-tomlinson commented on #1132
Closing this in favor of #1322, thanks @zaach

[2012-08-07 08:30] #1132 closed, assigned to lloyd

[2012-08-07 09:05] shane-tomlinson commented on #1639
PR #2174 manually merged with commit ce47dd5bf3e64d30e3b7ca5fdcb6afa894a8bd1a.  Closing.

[2012-08-07 09:05] #1639 closed, assigned to jedp

[2012-08-07 11:03] adamkalis commented on #2237
I just reproduce it twice on firefox 64bit stable (on my regular profile) and 64bit nightly (on clean profile) at linux (debian testing).

I forgot to say that after the last step I get the message that an email has sent at the changed email (3rd step) but the email actually is sent at the first email.

I rewrite more detailed the steps :)
I will use two emails email1 and email2 which both are not

[2012-08-07 13:55] shane-tomlinson commented on #2239
@jrgm - I cannot sign in using eyedee.me on ephemeral instances in Firefox even.  I believe this is known about already:

See issue #1571

[2012-08-07 15:42] jrgm commented on #2239
GH-1571 is about using e.g., mockmyid with non-production instances.

I can sign in using eyedee.me with an ephemeral instance and Firefox.

[2012-08-07 16:18] shane-tomlinson commented on #2239
My failure is due to having 3rd party cookies disabled.  Moving forward on testing.

[2012-08-07 17:22] jrgm commented on #2226
verified works now on current dev.

[2012-08-07 18:43] st3fan opened #2240 "Implement better support for iOS UIWebView"
PROBLEM: when returning from IdP, no more JS context that lets Persona communicate back with iOS app. Possible approach: when Persona wishes to redirect to IdP, it communicates with iOS app, iOS app creates a new UIWebView to IdP, injects the IdP API instead of the RP API, and upon completion of authentication, kills the new UI Web View, and messages the now unhidden Persona UIWebView to proceed w

[2012-08-07 18:45] st3fan commented on #2240
I created a new tiny minimal iOS project that can be used to work on the Persona flow on iOS:

https://github.com/st3fan/ios-minimal-persona

Unlike the other project, this one does not depend on anything server side. It is super basic and just starts the flow and then prints the assertion.

The app does say it is logging in to myfavoritebeer.org, but that is only because I had to specify an origi

[2012-08-07 19:10] #1615 closed, assigned to shane-tomlinson

[2012-08-07 19:17] #1093 closed, assigned to shane-tomlinson

[2012-08-07 20:55] jrgm commented on #2183
With IE8/winxp or IE9/win7, with train-2012.07.30 deploy or a dev deploy and 123done:
- can sign in with a existing secondary email address
- after sign in the logout button works
- reloading 123done retains signed-in state
- restarging IE restores signed-in state when I go back to 123done
- if I open a second browser window on 123done: logout and login in one window are reflected in the other win

[2012-08-07 21:07] krupa opened #2241 "Sometimes, a blank Persona screen loads during login on Fennec nightly"
## Environment:
- Android 4.0.1/Galaxy Nexus
- Fennec Nightly
- Persona prod
## Steps to reproduce:
1. Go to https://marketplace-dev.allizom.org
2. Click on Login link in the footer
## Expected behavior:

Persona screen opens with a way for the user to enter their login credentials.
## Actual behavior:

A blank Persona screen loads. User cannot proceed ahead with logging in.
## Reproducible?

Some

[2012-08-07 21:11] jrgm commented on #2239
Just noting that this appears for ie8 (but not ie9) on both train-2012.07.30 and current dev

[2012-08-07 22:35] warner commented on #2100
I'm also not completely convinced that having sites set an RP name will help a lot.. a lot of sites have brand names that end with ".com", so their RPname will basically look just as much like a URL as the confirmation link.

OTOH, the real problem, if I understand it correctly, is the email client being overenthusiastic about linkifying anything that looks like a domain name (I assume our HTML em

[2012-08-07 22:38] warner commented on #2078
does this need to be nailed down before the beta1 release? Or are you comfortable making protocol changes after it?

[2012-08-07 22:41] warner commented on #2043
Adding to beta1-req in case this indicates a firewall problem that would prevent external primaries from working (and falling back to the secondary). I think we want that working by the beta.

[2012-08-07 22:42] ozten commented on #2078
I think this is after Beta 1.

[2012-08-07 22:43] warner commented on #2034
This feels like a candidate for the new beta2-req label.

[2012-08-07 22:52] warner commented on #2018
Firewalls that silently DROP packets instead of explicitly REJECTing them are super annoying. The only way to deal with it is an application-level timeout, which will most likely cause false-failures for servers that are merely slow.

The best approach I can think of is to have a pacifier message: if the primary request hasn't come back within two seconds, leave it running but put up a notice that

[2012-08-07 22:55] warner commented on #2017
this sounds like it needs to be nailed down soon (to allow onready() to be phased out in a reasonable timeframe), but not necessarily before beta1

[2012-08-07 22:58] warner commented on #1990
ben's comment suggests this is beta1-req, not sure if we still feel that way, tagging to solicit discussion

[2012-08-07 22:59] warner commented on #1976
this was beta1-req, right? or beta2-req?

[2012-08-07 23:14] warner commented on #1744
Letting attackers probe for valid accounts is troublesome, yeah. I'm not sure we can do anything about it beyond rate-limiting queries, but I haven't thought deeply about it yet.

I don't think CSRF protection makes any difference to the scriptability of an attack: they just have to write a script that does a regular GET first, extracts the session cookie, then submits it with the next POST reques

[2012-08-07 23:16] jrgm commented on #2239
Additional note: if I try to do this a second time, I have to enter the username @eyedee.me again, but on that try I do not need to interact with the form from eyedee.me and I am authed and logged into 123done.

[2012-08-07 23:21] lloyd commented on #1976
beta2-req

On Aug 7, 2012, at 5:00 PM, Brian Warner notifications@github.com wrote:

[2012-08-07 23:29] warner commented on #2078
righto

[2012-08-08 00:48] warner commented on #1880
Yeah, I'll take a look. I'm torn, because I don't really have a good answer for the "what criteria should we use" question. Next week I might, since there's a paper being presented on just this topic (https://www.usenix.org/conference/usenixsecurity12/how-does-your-password-measure-effect-strength-meters-password-creation), and the proceedings should become available in a few days.

Trunk is locke

[2012-08-08 01:58] seanmonstar commented on #1874
@shane-tomlinson do you know what could be cause clicking links to close the dialog? Is it a `$.live()` call or something? I was looking for things like that, but there's so many things it could be, and I still don't know every single part of the system.

[2012-08-08 02:10] jrgm opened #2242 "Weird ghost text prefilled in password field with HTC Incredible S Android 2.3.4"
I was going through GH-2088 on multiples browsers/os and borrowed a 2.3 Android device from tchung, and came across this oddity

![img](https://img.skitch.com/20120808-3yumbf3tadc2cnkw5m18ir91a.png)

You'll notice that email address is shown in the 'enter password' field. But that's not actual editable text as I couldn't change it in any way; I could only type over it, which would make it disappea

[2012-08-08 02:18] jrgm commented on #2088
For the initial STR in this issue, I went through this with desktop opera, safari, chrome, FF14, IE9/winxp, IE8/winxp, safari/ios5, stock/ics, chrome/ics, ff14/ics, stock-webkit/2.3.4, ff14/2.3.4 and they all have no error, the dialog dismisses and the user is logged in. Verified train-2012.07.30 and current dev for a few too.

One oddity noted in GH-2242 (wtf? on that one).

[2012-08-08 02:32] jrgm commented on #2088
I should note that for IE8 there's a bug in adding a primary atm GH-2239. But you can work around that to get the primary added by trying to do it a second time, which is how I confirmed the IE8 case.

[2012-08-08 06:57] seanmonstar commented on #1874
I just thought of the window.onunload handler. Changing the page would trigger onunload, and winchan say cleans up at unload.

[2012-08-08 07:05] callahad commented on #1744
If I recall correctly, @lloyd and I were thinking that the `known` parameter might be unnecessary. Eliminating it would solve this issue.

[2012-08-08 07:07] callahad commented on #1990
I like beginning the deprecation process for `getVerifiedEmail()` with beta1 since it affords us the opportunity to walk through deprecation, monitor for usage, add console alerts, etc. in anticipation of real, future deprecations.

The only place I'm aware our thinking has changed is with regard to `get()`, which we'll be keeping around for a little while longer.

[2012-08-08 07:12] fmarier commented on #1744
@callahad the `/wsapi/have_email` endpoint would remain though, no?

[2012-08-08 11:25] shane-tomlinson opened #2244 "push to ephemeral deployment calls missing scripts/generate_ephemeral_keys.sh"
[code]

[2012-08-08 11:29] shane-tomlinson commented on #1874
@seanmonstar, @sawyerh - Sean, you are right, WinChan will close the dialog if the user changes pages from within the dialog.

What is the desired behavior once the tour is shown, can the user return to the dialog?

Is the tour accessible from the main site?  If so, perhaps a way to go is to make the tour into an EJS partial that we can use both on the main site and in the dialog.

[2012-08-08 11:41] shane-tomlinson commented on #2242
@jrgm - I have seen this on an HTC Desire HD running Android 2.3.5

[2012-08-08 11:44] shane-tomlinson commented on #2028
Dup of #2242 which has a photo.  Closing this in favor of that.

[2012-08-08 11:44] #2028 closed, assigned to shane-tomlinson

[2012-08-08 14:22] wrr opened #2246 "Dysfunctional sign-in dialog"
Today, I was repeatedly getting dysfunctional sign-in dialog (no email addresses listed, no space to enter an email). login.persona.org also listed no emails. Clicking [Sign Out] on login.persona.org fixed the problem. See a screen shot here:
![img](http://mixedbit.org/tmp/persona.png)

[2012-08-08 15:07] shane-tomlinson commented on #2246
@wrr - can you give any more info?  What was the RP being used, is the problem reproducible, what were the steps to produce in the first place?  Any info we can get can help us.

[2012-08-08 15:27] callahad opened #2247 "Monitor and log email delivery times"
As per https://twitter.com/elijahmanor/status/232869682359697409 :

"Hmm, tried to sign-up for a BrowserID on MDN, but never received email conformation ;("

Did we have any known deliverability issues in the past day or two?

[2012-08-08 15:55] shane-tomlinson commented on #2237
@adamkalis - Thanks for the issue submission.  Can you try your STRs against the current dev environment at https://login.dev.anosrep.org/signin?  We have done a substantial rework to the signin/signup flow for the main site.  Both signin/signup have been merged into the /signin page.

[2012-08-08 16:18] adamkalis commented on #2237
I close this issue as it is now solved. Thanks for the changes!

[2012-08-08 16:18] #2237 closed, assigned to nobody

[2012-08-08 16:38] lloyd commented on #2097
to be disabled wed. of next week - 8/15

@fmarier and @lloyd will send out additional announcements on monday with the specific change window once provided by @gene1wood

[2012-08-08 16:42] #2215 closed, assigned to shane-tomlinson

[2012-08-08 17:22] #406 closed, assigned to shane-tomlinson

[2012-08-08 18:01] floatingatoll opened #2248 "exclude locale .svn paths from the browserid-server rpm"

[2012-08-08 18:02] lloyd commented on #2248
like `/locale` ?

[2012-08-08 18:43] wrr commented on #2246
I'm sorry, but I'm unable to reproduce this. Once I clicked Sign Out button on the login.persona.org the problem disappeared.
I was authenticating on a localhost, the site uses the new observer API. Perhaps it was some intricate condition, feel free to close the bug.

[2012-08-08 19:12] lloyd commented on #2097
we have a plan, this will get addressed, reducing to 4 stars.

[2012-08-08 19:14] lloyd opened #2250 "get dev and ephemeral instances on 0.6.17"
@shane-tomlinson suggested we reduce the number of distinct node.js versions running.  I agree.  let's do this.

[2012-08-08 20:13] klrmn commented on #2211
LGTM

[2012-08-08 20:13] #2211 closed, assigned to nobody

[2012-08-09 00:57] fmarier opened #2252 "Calling navigator.id.watch() from the document <head> breaks onlogin/onlogout"
If you take the updated [Python cookbook example](https://github.com/mozilla/browserid-cookbook/blob/master/python/python.cgi) and apply the following patch (i.e. moving the `navigator.id.watch()` call from the `body` to the `head` of the page):

[code]

This problem occurs because:
1. `navigator.id.logout()` won't do anything if [`loggedInUser` isn't set properly](https://github.com/mozilla/brows

[2012-08-09 04:29] nmalkin opened #2253 "MDN documentation issues"
On the [home page](https://developer.mozilla.org/en-US/docs/BrowserID):
- "To get BrowserID going, we're hosting three services at https://browserid.org"
  should be Persona.org

Under "Information for Identity Providers":
- "IdP Overview" is a broken link
- "Development tips" is a broken link

[Guide to Implementing a Persona IdP](https://developer.mozilla.org/en-US/docs/BrowserID/Guide_to_Implem

[2012-08-09 09:29] shane-tomlinson opened #2254 "Changes to Selenium test importation."
This is a follow on tracker for @6a68's great work to import the Selenium tests (PR #2235).  I requested several changes in the PR but have since merged.
- Rename credentials.yaml to credentials.yaml.example and have people to copy it to credentials.yaml. Add credentials.yaml to the ".gitignore" file. This would prevent credentials.yaml from always showing up in a developer's modified file list.
-

[2012-08-09 09:42] #2244 closed, assigned to seanmonstar

[2012-08-09 10:52] shane-tomlinson commented on #2117
@jedp - I have just tried this on the current dev and am unable to reproduce.  Can you check against the current dev and see if this is still reproducible?

[2012-08-09 10:53] #2227 closed, assigned to nobody

[2012-08-09 10:55] #2106 closed, assigned to skinny97214

[2012-08-09 11:14] shane-tomlinson commented on #1536
Closing as won't fix.  There are too many places the mediator is used.  Making this update would be very time consuming for very little benefit.

[2012-08-09 11:14] #1536 closed, assigned to shane-tomlinson

[2012-08-09 13:00] shane-tomlinson opened #2257 "local dev: verification URL is difficult to find in console"
I tried colorizing the URL, but then the backend unit tests failed.

[2012-08-09 13:15] shane-tomlinson opened #2258 "dialog becomes unresponsive in set password screen for new account if api call is throttled"
STR

1) Open dialog, if logged in, sign out.
2) Enter new secondary address
3) Enter password
4) Close dialog
5) Re-open dialog
6) Enter same secondary address
7) Enter password
8) throttle tooltip appears
9) Try again, no tooltip, no response.

This bug affects 2012.07.20, 2012.07.30, and current dev.

[2012-08-09 15:05] #2206 closed, assigned to lloyd

[2012-08-09 15:24] lloyd commented on #2239
I can reproduce this with the original STR.  hmm.

[2012-08-09 16:34] callahad commented on #2247
Followup from the user: "got an email response hours later" so he's good to go. Still, worth checking to see if this was on our end.

[2012-08-09 16:54] #2248 closed, assigned to nobody

[2012-08-09 16:59] lloyd commented on #2246
2 stars until we have concrete steps to reproduce.

related to #2241 ?

[2012-08-09 17:07] lloyd commented on #2240
this is a Q3 goal!

[2012-08-09 17:14] lloyd commented on #2223
@skinny97214 close if this is by design

[2012-08-09 17:29] lloyd commented on #2188
take this to the mailing list!  we have 296 open issues, and can't really support ideas in the tracker anymore

[2012-08-09 17:29] #2188 closed, assigned to nobody

[2012-08-09 17:30] lloyd commented on #2181
good idea!  Let's do some SEO!

[2012-08-09 17:33] lloyd commented on #2253
@callahad what's eta on this?

[2012-08-09 17:36] lloyd commented on #2049
@callahad @vthunder if you want this to get fixed by b1, please provide concrete guidance on approach

[2012-08-09 17:49] lloyd commented on #1672
the train in stage IS going to be the beta, or extremely close to it.  let's do a final doc pass now and close this down.  I can take it if you like.

[2012-08-09 19:27] lloyd commented on #1874
just given the magnitude of this change, we're moving it beta2. That said, if beta1 goes on for months, we might pull it in.

[2012-08-09 19:31] seanmonstar commented on #1181
Is this still an issue? We have the SUMO link in if cookies are disabled and on iOS, right?

[2012-08-09 19:33] seanmonstar commented on #1104
If this needs to be in beta1, take a stand and re-apply the tag. Otherwise, tossing this into beta2.

[2012-08-09 19:33] lloyd commented on #1104
+1

On Aug 9, 2012, at 1:33 PM, Sean McArthur notifications@github.com wrote:

[2012-08-09 20:03] callahad commented on #1672
@lloyd I'll do a pass now, and assign the PR to you to review once I'm done.

[2012-08-09 20:06] callahad commented on #2253
@lloyd ETA for everything reviewed and cleaned up on MDN is no later than Monday morning.

[2012-08-09 20:07] callahad commented on #2188
I'm happy to let this die here :)

[2012-08-09 20:45] lloyd commented on #2239
The issue is that we have one eyedee.me deployment that works against dev/ephemeral/beta/prod and the way that eyedee.me tells who is talking to it is by deferring to referer headers.

With IE8, referer headers are not sent when the user is directed to the "auth" page from within the dialog, so eyedee.me includes _production_ resources for all environments.

This only breaks things when the env yo

[2012-08-09 20:56] lloyd commented on #1672
awesome

On Aug 9, 2012, at 2:03 PM, Dan Callahan notifications@github.com wrote:

[2012-08-09 20:56] callahad commented on #1570
Wow, I missed when this got fixed. Thanks @seanmonstar!

[2012-08-09 20:56] lloyd commented on #2253
awesome, that's plenty fast.

On Aug 9, 2012, at 2:06 PM, Dan Callahan notifications@github.com wrote:

[2012-08-09 21:17] lloyd commented on #2077
I think there are other approaches to get the same affect and we can "redesign the solution to solve multiple problems simultaneously".

I think we should solve this in a minimal fashion, as there are other cases where an IdP wants to know what persona environment is contacting it.

The most minimal thing I can think of is a new HTTP header:

  `X-Persona-Server: login.dev.anosrep.org`

[2012-08-09 21:43] seanmonstar commented on #1501
@warner is this important enough for beta1? And can it be done quickly enough? If not, we should tag it beta2

[2012-08-09 21:43] lloyd commented on #2224
this is, as of now, really addressed in our dev environment.  thanks @gene1wood !

[2012-08-09 21:48] callahad commented on #1672
@lloyd Here you go: #2262

Closing this issue.

[2012-08-09 21:48] #1672 closed, assigned to callahad

[2012-08-09 22:46] lloyd commented on #2258
I don't think this issue is a 5 star and warrants merge to 07.30.

The user sees the tooltip in the dialog.  they must wait, and then click the button again.  I think we should merge the fix, but I don't think that it's critical we merge it into 07.30.

testing fix, if it works merging into dev, and closing down the 07.30 targeted PR.

[2012-08-09 22:49] lloyd commented on #1859
@gene1wood how does this look to you guys?

[2012-08-09 23:04] gene1wood commented on #2097
I'll develop and stage this change tomorrow 8/10 and plan to deploy on Monday 8/20

[2012-08-09 23:24] lloyd commented on #2258
fixed in dev!

[2012-08-09 23:24] warner commented on #1501
I don't think it can be done quickly enough: I suspect that getting the handoff right will involve revisiting a lot of code (in particular to have the browser implementation respond to expired pubkeys by re-fetching a new key, and maybe copy some of the verification checks into the browser so it can predict what the verifier will do and fix any problems before delivering the assertion).

Also, I t

[2012-08-09 23:28] seanmonstar commented on #1570
@jbonacci i believe so. this merged a month ago, so 07.30 should have it, right?

[2012-08-09 23:39] lloyd commented on #2022
@zcarter and I are hacking on a new magic npm proxy thing called lockdown.  So far it looks promising and seems like it might be a lower friction way to have confidence that what we develop on is what we actually deploy, and that everyone stays on the same dependencies for local dev, and we don't break doze.

stay tuned.

saying this is a beta2 req, but really would like to see this in beta1 :ok_h

[2012-08-09 23:42] lloyd commented on #2034
now part of our Q3 goals...  :+1: to the beta2 label.

[2012-08-09 23:43] lloyd commented on #2038
@gene1wood could this be another candidate for a change we push next wed?

[2012-08-09 23:43] lloyd commented on #2038
adding beta1 label, this will confuse a small portion of users and waste QA and dev time

[2012-08-09 23:53] lloyd commented on #2100
how about a couple newlines?

[2012-08-09 23:58] #2250 closed, assigned to lloyd

[2012-08-10 00:54] seanmonstar opened #2263 "symlinks don't resolve in Windows"
there's a couple symlinks in the repository, that when checked out on Windows, don't resolve. So, some resources don't load.
- bidbundle.js
- dialog/views/site

adding to #1769, even though they're not technically install errors; they still prevent it from running properly.

[2012-08-10 01:45] ozten commented on #2022
This sound like Awesomesauce that hardens to form a magick shell!

[2012-08-10 01:48] ozten commented on #1859
+1

FWIW

[2012-08-10 07:13] fmarier commented on #2100
@lloyd I think a couple of new lines is all we need here. It would put a blank line between the RP url and the confirmation link.

[2012-08-10 09:41] shane-tomlinson commented on #2258
@lloyd - I am re-opening this after giving it more thought.  The user does _not_ have to try to enter their email address 3 times within one minute, only twice.  The first time the email is throttled, the user can no longer proceed.

If this still does not warrant a fix, that is fine, but the clarification needs to be made.

[2012-08-10 12:21] shane-tomlinson opened #2265 "IE8: After verifying second secondary email address, page is not redirected to RP."
This is intermittent and I am trying to figure out exact STRs

Initial STRs when I first saw the problem but have not since been able to.

1) In IE8, open the dialog using an already existing secondary address.
2) Add a new secondary address to the account
3) Open the verification page in a new IE8 tab
4) Page says "Your email has been verified" but never redirects.

Reported by @zacc

[2012-08-10 12:22] zacc commented on #2265
Saucelabs job video showing the failure.
http://saucelabs.com/jobs/3dd96e0838b24262acc962ab118190a1

[2012-08-10 12:25] zacc commented on #2265
Actually that video is IE9
the equivalent test running on XP/IE8 at Saucelabs passes.

[2012-08-10 12:53] shane-tomlinson opened #2266 "IE8/dev: Yahoo addresses cause IE8 exception"
STR
1) Using IE8, browse to dev.123done.org.  Open the dialog.
2) Enter a yahoo address
3) Exception thrown, console is called.

[code]

[2012-08-10 12:57] zacc commented on #2265
The test that found this is test_add_another_email_address.py

When this is resolved revert this commit to restore coverage to IE9
https://github.com/mozilla/BrowserID-Tests/commit/0e3b7624b17e39a3669cf288d56b7f626b2d3a81

[2012-08-10 16:04] lloyd commented on #2258
Ok, let's confirm understanding.  Here's what the user has to do:
1. click sign in on a website
2. type their email address into the dialog
3. pick a password.
4. click next
5. close the dialog
6. click sign in on a website
7. type the same email address as in 2
8. pick a password
9. click next
10. wait for the tooltip (that says "we just sent an email to this address, try again later")
11. once t

[2012-08-10 16:05] gene1wood commented on #1859
Is the "get_ci_count" function still being used now that you're determining the number of commits with the "git describe" queries?

[2012-08-10 16:06] shane-tomlinson commented on #2258
@lloyd - you got it right until the "until 60 seconds has elapsed between #4 and #11".

Once the tooltip is shown, the button is dead forever, the user cannot continue unless they re-open the dialog.

[2012-08-10 16:09] gene1wood commented on #2038
yes, we can do this with the other zeus changes. i'll stage this today but it won't get pushed to prod until Monday 8/20 (not Wed 8/15)

[2012-08-10 16:19] david-caro commented on #1859
No, it's not used here, but I've found some problems when calculating the commits when there's a branch and no tags newer, and I'm preparing a new commit (that uses this function again).
I hope to upload it today (I'm just testing it, but the new version of browserid requires node >=0.8 and I'm just installing it to check if everything is ok.

[2012-08-10 16:49] gene1wood commented on #1859
Cool

[2012-08-10 17:00] ozten opened #2268 "Make configuration tolerant of errors/omissions in production"
During the devops meeting, there was a request from @gene1wood and atoll  to make the configuration more tolerant of errors/omissions in production.

All config parameters should have a default value.

As appropriate, configs should be self-checking and report (possible) errors.

[2012-08-10 17:34] jaredhirsch commented on #2254
yay wut!

@shane-tomlinson thanks for your great detailed feedback on the test stuff. let me know if/when you start hacking tests, I'm happy to help :-)

[2012-08-10 18:18] lloyd commented on #2268
I would not mind revisiting convict here.  I made a bad decision to include orderly in the initial creation of it.  Orderly prevents us from emitting better, clearer error messages.

I realize I suggest a heavy handed change to convict, but I just want it to be clear I've got no emotional attachment to it as it stands today and make sure all options are on the table.

If we can achieve our goals w

[2012-08-10 18:24] jaredhirsch opened #2269 "Import changes from upstream BrowserID-Tests"
Two commits landed in mozilla/BrowserID-Tests this week. Since we don't treat that repo as a first-class upstream citizen, copy the diffs over into our automation-tests directory.

This is going to keep happening until we've completed migration to a Jenkins that Identity devs control, and which points at the tests inside browserid, not the tests inside BrowserID-Tests.

[2012-08-10 18:50] #1990 closed, assigned to shane-tomlinson

[2012-08-10 18:52] zaach commented on #1977
I suggest 0.0.1+beta1 (which is still a valid semver).

[2012-08-10 18:53] lloyd commented on #1977
1.0.0b1 ?

[2012-08-10 20:06] lloyd commented on #2108
roll into high level Q3 goal?  "Native App Integration"

[2012-08-10 20:11] lloyd commented on #2117
fwiw, I cannot reproduce on safari osx mountain lion against current dev.

[2012-08-10 20:11] lloyd commented on #2119
"the file you are looking for is moved or deleted" - lost the image!

[2012-08-10 20:15] jrgm commented on #2247
I'd be interested in seeing the smtp headers, if those were made available.

Otherwise, I have a monitor going through dev and it has not shown any delays of that order, but comparing that to prod is not entirely valid. I myself did have a case yesterday where delivery took ~10 minutes and I put in a ticket to our ops folks.

[2012-08-10 20:16] lloyd commented on #2152
interesting that the practice of backup emails in some ways widens your vulnerability to attack.  Your account is now as weak as the easiest email you have to compromise.  Not saying this isn't common practice, just interesting.

[2012-08-10 20:19] lloyd commented on #2156
things have changed?  when is this required by now and what's the driver?

[2012-08-10 20:20] lloyd commented on #2158
four star?

[2012-08-10 20:44] zaach commented on #1977
+1, though semver  wants a dash for prereleases: 1.0.0-b1.

[2012-08-10 20:55] lloyd commented on #1977
+1 w/ dash

[2012-08-10 21:04] callahad commented on #2156
We have a really easy failure mode for users with multiple Gmail/Hotmail/Yahoo addresses:
1. User types `foo@gmail.com` into the Persona dialog.
2. BigTent redicts the user to Google for OpenID authentication.
3. User actually authenticates as `bar@gmail.com`, since that's what they were signed into Google as at the time.

We can't prevent this, so our only option right now is to throw up a hard f

[2012-08-10 21:06] callahad commented on #2156
As for priority, this is an enhancement for BigTent, but not a blocker.

As I understand it, this _is_ a blocker for BlueVia.

[2012-08-10 22:04] jrgm commented on #2250
verified for current dev branch

[2012-08-11 00:32] #1977 closed, assigned to lloyd

[2012-08-11 00:40] lloyd commented on #1039
this is not a beta1 req. moving.  (bigtent will launch post-beta1 and we have other idp related issues)

[2012-08-11 16:28] seanmonstar commented on #2258
We've been hoping that 07.30 is the beta1 train.

[2012-08-11 16:32] lloyd commented on #2258
Given schedule, I wonder if we should aim for current dev to become beta w focused DDT starting Monday...

--lloyd

On Aug 11, 2012, at 10:28 AM, Sean McArthur notifications@github.com wrote:

[2012-08-11 23:45] ozten commented on #2156
Spec proposal is won't fix.

This should be re-visited from scratch for Bigtent.

Won't fix.

[2012-08-11 23:45] #2156 closed, assigned to ozten

[2012-08-11 23:46] ozten commented on #2196
Won't fix

[2012-08-11 23:46] #2196 closed, assigned to ozten

[2012-08-12 09:26] fmarier commented on #2119
Instead of trusting cloud storage services, I should have followed [my own advice](http://feeding.cloud.geek.nz/2012/06/attaching-files-to-github-issues.html)!

Should be back now :)

[2012-08-13 01:58] fmarier commented on #1539
Early keywrapping demo: https://etherpad.mozilla.org/QZyciSE7UK

[2012-08-13 04:37] fmarier opened #2271 "Support for Firefox Extended Support Release"
If we don't already test Persona on the [ESR versions](https://www.mozilla.org/en-US/firefox/organizations/) of Firefox on Desktop, we should :)

On the other hand, if we already do, then we should add it to the [browser compatibility table](https://developer.mozilla.org/en-US/docs/persona/Browser_compatibility).

[2012-08-13 12:29] #1532 closed, assigned to shane-tomlinson

[2012-08-13 12:39] shane-tomlinson commented on #2008
@jrgm - since this is upstream, can we close the issue here?

[2012-08-13 12:52] shane-tomlinson commented on #1741
@jrgm, @lloyd - Can we close this since the bulk of the work and rely on #1911 (not all static resources served from static.login) for the cleanup?

[2012-08-13 12:57] shane-tomlinson commented on #1089
@lloyd, @benadida - If we keep pushing this back, does it really deserve a 4_?  Would 3_s suffice?

[2012-08-13 12:59] shane-tomlinson commented on #683
@lloyd, @gene1wood, @benadida  - Has this been done already?  If not, should it still be labelled 4*, it has been open for 9 months.

[2012-08-13 13:02] shane-tomlinson opened #2274 "serve up locale specific font files"
4 x 100+k for non-Latin characters to Latin based languages is extremely heavy handed and slow.  Speed FTW.

[2012-08-13 13:12] shane-tomlinson commented on #1863
@lloyd, @seanmonstar, @ozten, @mathjazz Instead of aliasing en_UK to en_US, would it be better to rename our en_US locale just plain en and we let this be the fallback?

It seems kind of silly that if a user specifies en_UK as their default language and then es as their second, the user sees es - at least this was the case last time I checked.

Would this approach work for other languages as well,

[2012-08-13 13:13] shane-tomlinson commented on #1755
I have seen several ephemeral instance Persona HTML emails go straight to my trash in Hotmail.

[2012-08-13 13:20] shane-tomlinson commented on #1351
@jbonacci - this should be closed.  The main problem is the communication_iframe included jQuery, which was 135kb.  Within the communication_iframe, the only part of jQuery that we used was the ajax functionality.  Since we perform no DOM manipulation from the communication_iframe, the rest of jQuery was wasteful.  We have since removed jQuery from the communication iframe and added micrajax which

[2012-08-13 13:20] #1351 closed, assigned to nobody

[2012-08-13 14:16] shane-tomlinson commented on #1268
AHA!  I found the (potential) reasons why on MSDN: http://blogs.msdn.com/b/ie/archive/2010/07/14/caching-improvements-in-internet-explorer-9.aspx

[code]

We specify the Accept-Encoding and Accept-Language headers.

Second:

[code]

[2012-08-13 15:30] lloyd commented on #1268
Are you "reloading" the page, or revisiting it?  Afaik most browsers treat the reload button differently than hitting enter in the URL bar...

--lloyd

On Aug 13, 2012, at 8:30 AM, Shane Tomlinson notifications@github.com wrote:

[2012-08-13 15:46] shane-tomlinson commented on #1268
@lloyd - I am revisiting

1) Start at https://vary-header.123done.org
2) Go to another site (mine is slashdot)
3) type in again https://vary-header.123done.org

[2012-08-13 15:49] ozten commented on #1863
This has been discussed previously (and i'll defer to l10n-drivers if I mispeak or the policy has changed but...)

1) I'm okay with changing en_US to en, because I don't think there are any en_\* locales which would be offended.

Aside: What % of our users have en_UK,es ?

2) We can get into real political trouble by doing this for other locales. I think it's even documented in the unit tests.

**

[2012-08-13 16:06] shane-tomlinson commented on #1582
Closing in favor of #869, which as @jbonacci points out, is more general than this.

[2012-08-13 16:06] #1582 closed, assigned to shane-tomlinson

[2012-08-13 16:12] shane-tomlinson opened #2275 "User can browse directly to https://static.login.persona.org/"
Going to https://static.login.persona.org/ shows the normal landing page, but the name implies it should only serve up static resources.

[2012-08-13 16:16] shane-tomlinson commented on #1863
@ozten, @mathjazz - who are the appropriate people to get in contact with on l10n-drivers?  My contact so far has been limited to @mathjazz.

[2012-08-13 16:21] mathjazz commented on #1863
Pascal (our web l10n driver): "on mozilla.org en-\* are aliased to en-US, if we need a specific page that really targets England (to announce an event for example), we can bypass the alias"

[2012-08-13 16:23] shane-tomlinson commented on #2018
@warner - Somebody proposed adding an application level timeout a while back. Would you make this a server side timeout or a client side timeout?  @lloyd pointed out that while at a former employer, users in far flung reaches of the globe would frequently encounter 20 to 30 seconds or more of latency, making client side timeouts risky.

[2012-08-13 16:31] milossh commented on #1863
Aside from that, there's no and there should be no zh, as per community.

[2012-08-13 16:38] jrgm commented on #2008
I had a random thought that if we knew the devicePixelRatio we could adjust the width and height to compensate. But afaik in Gecko there's no simple call to get that (although it could be binary searched at a cost). So, yeah, I'm going to close this as upstream.

[2012-08-13 16:38] #2008 closed, assigned to jrgm

[2012-08-13 16:48] lloyd commented on #683
not a useful issue.  when we want to switch and focus on scaling we'll do it, and we'll make careful data driven performance enhancements.  shutting her down.

[2012-08-13 16:48] #683 closed, assigned to lloyd

[2012-08-13 16:52] callahad commented on #2271
As far as I know, we support: ESR, Oldstable, Stable, Beta, Aurora, and Nightly.

I changed the Firefox listing to "All Current Release Channels, plus Previous Stable Release" though that's still not completely explicit.

Any thoughts on how to phrase this so that it's complete _and_ easy to grasp at a glance? Or is the change I made sufficient? I really don't want to add another footnote. Maybe a

[2012-08-13 17:29] seanmonstar commented on #1863
That's fine with me. As long as someone who has `en_UK, cn` doesn't get
Chinese when we can clearly serve him English.

[2012-08-13 17:56] jaredhirsch commented on #2265
@zacc: Rather than pull that commit into browserid, I'm kind of inclined to just let the test keep on failing, so that @shane-tomlinson can easily verify he's fixed it (by running the affected test in his dev environment). Thoughts?

[2012-08-13 18:51] seanmonstar commented on #2132
It sounded like the current dev will become beta1, and it will be cut to stage this Friday. Right @lloyd?

[2012-08-13 19:24] zacc commented on #2265
The test will show up with a small x while it is failing and a capital X in the test results when it is passing again. Or if you're looking in the HTML report it will say XPass. (meaning eXpected fail but got Pass).

Actually can you use a slightly different (preferred) code solution when you move this into the main repo? Just looks neater.

[code]

[2012-08-13 20:17] jaredhirsch commented on #2265
ok, since we're close to cutting the beta train and this might not get fixed, I'll pull over the fix.

[2012-08-13 20:45] jrgm opened #2277 "Make main site /signup into a 301 Moved Permanently to /signin"
Hey, love the new UI on dev for omni-signin.

But (there's always a but :-) ) the former URL /signup is now 404. Seems to me that should be a '301 Moved Permanently' to /signin.

[2012-08-13 21:14] jrgm commented on #1977
verified in current dev branch. package.json says '"version": "1.0.0-b1"'

[2012-08-13 21:26] #2269 closed, assigned to jaredhirsch

[2012-08-13 21:42] callahad opened #2279 "Localization docs don't tell users how to contribute new locales"
Hey @ozten or @mathjazz, could one of you please update https://github.com/mozilla/browserid/blob/dev/docs/I18N.md or http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/README to indicate how a user actually contributes a new translation back to the project?

The docs outline the mechanics, but stop short of saying "Okay, now that you've done that, here's how you submit this for inclusion."

[2012-08-13 21:48] warner commented on #2018
what's the client/server split in this case? I can imagine the user's browser doing one fetch to the purported IdP's `.well-known` (from the dialog), then if that fails and it talks to the secondary, there could be another fetch by the server (i.e. secondary) to confirm that it really should be creating certs for this domain. So, um, "both"? Unfortunately, that will double the amount of time it ta

[2012-08-13 22:09] lloyd commented on #2038
another required change: static.login.persona.org/ -> login.persona.org

too late to pile on?

[2012-08-13 22:12] lloyd commented on #2275
mentioned in issue #2038 - can we use that bug to track urls requiring update and close this down?

[2012-08-13 22:15] lloyd commented on #1911
this issue is fixed in dev.  @jrgm are you comfortable with me closing this and us verifying it once we get train-2012.08.17 onto the actual stage environment?

[2012-08-13 22:19] jrgm commented on #2018
The dialog does not make requests to <domain>/.well-known/browserid for the STR in this issue. It makes one xhr
to https://login.dev.anosrep.org/wsapi/address_info?email=someemailaddr%40potch.me which times out in 15 seconds
(with the "this is taking a long time" shown 10 seconds into that).

[2012-08-13 22:31] nmalkin opened #2280 "Some KPI data is missing fields"
Certain data points are missing fields, including:
- number_emails
- number_sites_signed_in
- number_sites_remembered
- orphaned

These fields are set [at window.unload time](http://irclog.gr/#show/irc.mozilla.org/identity/138345) so maybe the problem is somewhere around then.

The KPIs are otherwise normal, displaying non-empty event streams (some continue successfully through assertion generatio

[2012-08-13 22:44] jrgm commented on #1606
I just realized this is the same as GH-1677. I can reproduce this as described here in either current stage (which is train-2012.06.22 at the moment), or in current dev. I was using FF ESR 10.0.6, but the browser should not matter here because this is a backend issue.

[2012-08-13 22:56] #1659 closed, assigned to shane-tomlinson

[2012-08-14 00:12] lookfirst commented on #982
I think a Safari 5.0.6 on OSX 10.5 user of mine was bitten by this.

[2012-08-14 00:27] nmalkin commented on #2062
This may be helpful:
https://etherpad.mozilla.org/kpi-dashboard-privacy-review-update-1-num-sites-logged-in

[2012-08-14 00:58] nmalkin opened #2281 "Distinct KPI for password reset screen"
Though the password reset screen is distinct from the regular set-password screen, the same event is emitted when it is displayed: _screen.set_password_.

I propose having an event _screen.reset_password_ for this situation.

This is valuable, because, right now, there is no good way of identifying a user who is trying to reset his or her password through the KPI event stream. (The current best so

[2012-08-14 01:07] nmalkin commented on #2281
Even that's not enough, as it turns out.

@shane-tomlinson, do you have any idea what subset of events could uniquely identify a user as being in the password reset flow? (Until we get this implemented.)

[2012-08-14 01:08] zaach commented on #1911
@lloyd what was the problem/fix?

[2012-08-14 01:39] seanmonstar commented on #1911
Pretty sure its not a code fix. Its been those way for a couple trains. I
believe its a configuration thing.

[2012-08-14 04:36] jrgm commented on #1911
So, it does appear to be fixed in dev. Closing, and we'll see if it's fixed in stage when we get there.

[2012-08-14 05:03] jrgm commented on #2218
Verified. With [ ie8, ie9, ie10 ] X [ train0730.123done.org, dev.123done.org ] after signin, then quit IE, then return to 123done in IE, I recover my signed-in state correctly.

[2012-08-14 05:46] jrgm commented on #2206
This was never on train-2012.07.30 and is a problem there. But we're gonna pickup dev as the next shipping train on stage. This works in dev now, so will pick up the verify in stage.

[2012-08-14 06:07] jrgm commented on #1093
Okay, I've been using current dev with PR GH-2214 on multiple desktop browsers and I do see the spinner appear when clicking through buttons. I'll get to mobile later. Offhand, with a fast browser on a reasonable speed connection, it's a bit of a distraction, but I'll let other folks kick the tires, and see if they think the same.

[2012-08-14 07:11] jrgm opened #2282 "[opera] front end tests - flakiness if opera is not top-most window"
STR

1) start opera and load https://login.dev.anosrep.org/test/
2) do absolutely nothing on the same desktop
3) tests pass
3) start another application window; load https://login.dev.anosrep.org/test/ in opera and move the other application's window above opera
4) tests fail

When the tests fail, there are two errors:

[code]

I don't see the same with other browsers. Mostly I'm just documenting

[2012-08-14 08:50] csuciu commented on #1350
Testcase - https://moztrap.mozilla.org/manage/caseversion/3563/

[2012-08-14 09:47] mathjazz commented on #2279
Hey @callahad,

i18n.md are internationalization instructions for developers on how to make the project localizable, i.e. how to make the strings developers contributed available for localization.

README is mostly used by l10n drivers (and maybe deployment people) to help them learn how to extract new strings for every release and bring them to localizers.

The coordintation part with localizers

[2012-08-14 13:05] csuciu commented on #905
Tested on http://beta.myfavoritebeer.org and the 'login failure' popup is displayed immediately after pressing on sign in button. (less than 5 seconds).
The Sign in button remains grayed out until reconnecting and reloading the page

Is this the correct behavior? If so, we can close this issue.

testcase - https://moztrap.mozilla.org/manage/caseversion/3651/

[2012-08-14 14:05] ioana-chiorean opened #2283 "[ARMv6] Strange appearance and behavior for log in with Persona (BrowserID)"
Build ID: 17.0a1 (2012-08-14) Nightly Channel
Device: LG Optimus One P500
OS: Android 2.2

Steps to reproduce:
1. Open Fennec -> Go to www.moztrap.mozilla.org
2. Press Sign in - upper right corner
3. Press Mozilla Persona text/link

Expected result:
- Persona (BrowserId ) should be loaded - you should be able to log in

Actual result:
- The Persona (BrowserID )is loaded but there is no background

[2012-08-14 14:06] ioana-chiorean commented on #2283
screenshot : https://bug782631.bugzilla.mozilla.org/attachment.cgi?id=651747

[2012-08-14 14:40] csuciu commented on #1404
This issue still occurs on:
OS: Ubuntu 12.04
Browsers:  FF 14.0.1, Chrome 21.0.1180

[2012-08-14 17:05] #2258 closed, assigned to jrgm

[2012-08-14 18:11] jrgm commented on #1566
This is still there with a real IE8 browser looking at login.dev.anosrep.org/signin.

It's the &lt;noscript&gt; element styled here https://github.com/mozilla/browserid/blob/dev/resources/static/pages/css/style.css#L6

[2012-08-14 18:22] callahad commented on #2271
@wbamberg is going to handle updating this language.

[2012-08-14 18:22] jrgm commented on #1682
Was this mistakenly closed in confusion over GH-2179? I don't see this in dev with FF, Chrome, but I definitely have this with IE8.

[2012-08-14 19:39] lloyd opened #2286 "(test automation) must be in automation-tests/ to ./run.py"
It would be more awesome if run.py did not require you to be in a specific directory

[2012-08-14 22:44] jrgm opened #2287 "[ie9] Failure/Error when signing-up or cancelling-out of primary user dialog with eyedee.me"
STR

1) Go to https://login.dev.anosrep.org/signin
2) Enter a primary email address @eyedee.me
3) Dialog button transitions from Next to Verify button after looking up address_info
4) Click Verify to bring up the /sign_in dialog
5) In the dialog, click Cancel

On IE9 (but not on desktop Chrome/Opera/Safari/FF) this error is shown:

![img](https://img.skitch.com/20120815-kexmsyj3c6tb5y12misyp99ktp.

[2012-08-14 22:48] benadida opened #2288 "new router process for verifier"
We want to do traffic analysis on verifier to prevent attacks and what not, but we should do that separately from analysis on the dialog, since it's just not the same app and having user and server traffic flowing through the same router process doesn't seem right.

The solution is likely having a second router process in front of the verifier, meant only for routing verifier requests.

/cc @lloyd

[2012-08-14 23:32] jrgm commented on #2287
Actually, the signup path fails the same way. Related to the other open issue about IE8 failiing?
WIth IE9 you can complete the signup of a primary with eyedee.me via the dialog when launced from an RP.

[2012-08-15 00:39] skinny97214 commented on #1976
Mocks of the flow: http://cl.ly/0P401R2Y3w3s

@benadida @vthunder Please review flows and copy. See note of page 9. If it passes first muster, I'll need to loop in Jishnu for the legal review.

[2012-08-15 02:47] benadida commented on #1976
I think this is only for sites that request the verification, right? If so, great.

I suspect the one problem may be the wording that "{site name} wants to verify birthdate" That might be not quite age-neutral in its wording. But otherwise looks great.

[2012-08-15 02:50] skinny97214 commented on #1976
Yes, this is only for sites that request verification.

I hope we can give some reasoning. It's really strange to just as for your birthyear with no context. I'm happy to morph the copy as needed.

[2012-08-15 06:01] lookfirst opened #2292 "Permission denied"
I get automated emails when JS chokes the cat on my site. It doesn't give a huge amount of information, but what I'm seeing is this below. I'm hoping you're testing with that browser?

[code]

[2012-08-15 06:25] jrgm commented on #1566
Hmm, IE3. It did have the first CSS support ;-)

But no XP/IE8. I doubt it's VM v. PC issue. Could be subtle DLL differences, but the as I read the computed style with ie8 devtools, that red line should be there.

Anyways, this was always a minor issue.

(p.s., to be clear, you have to look at /signin, not just /).

[2012-08-15 08:26] shane-tomlinson commented on #2292
@lookfirst - Thanks for the report!  We test very regularly on IE9, though not in an AOL specific build.  Can you give more information about what site you are using, what your browser settings are, whether the site in question has CSP enabled (https://developer.mozilla.org/en-US/docs/Security/CSP/Introducing_Content_Security_Policy), whether the site in question is in standards or quirks mode, wh

[2012-08-15 08:28] shane-tomlinson commented on #1566
@jrgm, @jbonacci - Have I mentioned that you two have some awesome bug finding and debugging prowess?  I'll have a look as soon as I have access to my laptop again (the HD has taken a turn for the worse).

[2012-08-15 09:22] graingert commented on #1350
That test case redirects me to /, is that intentional?

[2012-08-15 10:20] shane-tomlinson commented on #2287
@jrgm - When I try using eyedee.me from dev.123done.org, I get redirected to "https://eyedee.me/browserid/" and am shown a 404 error in IE8.  Not opportune.

[2012-08-15 10:32] shane-tomlinson opened #2293 "missing cancel button after cancelling out of "forgot password" when upgrading from "assertion" to "password" level."
How do you like that title?

STR

1) Have an account with both primary and secondary emails.
2) Open dialog, If signed in, sign out.
3) Sign in using primary email.
4) Sign out of RP.
5) Open dialog, select secondary address
6) Click "forgot your password?"
7) Click "cancel"
8) Where's the cancel button?

[2012-08-15 10:43] shane-tomlinson opened #2294 "IE8: Tooltip causes form field to lose focus"
STR

1) Load up either the dialog or main site in IE8
2) Enter incorrect data into a form field.
3) Press enter.
4) The form field has lost focus.

[2012-08-15 11:00] shane-tomlinson opened #2295 "IE8: If page is scrolled, tooltip shows up in wrong position"
STR

1) Load up the account manager in IE8 for an account with at least one secondary
2) Scroll down the page
3) Try to change the password but enter an incorrect old password
4) Press enter
5) The tooltip is displayed somewhere over the email addresses

![Clip showing tooltip](https://img.skitch.com/20120815-qkg1uha7amw5sradn1chfqd3nf.jpg)

[2012-08-15 11:12] shane-tomlinson opened #2296 "IE8: Old Password/New Password fonts on Account Manager page are jagged"
STR

1) In IE8, load up the account manager with an account containing at least one secondary
2) Click the edit button for the "Change Password" section.
3) Check out those label fonts

![Jagged Fonts in IE8](https://img.skitch.com/20120815-xs9dc6at9aprf2dtw8y76f527f.jpg)

[2012-08-15 11:15] shane-tomlinson opened #2297 "Password field not cleared on /signin page if user changes email address"
STR

1) Open /signin page
2) Enter in an incorrect email address that will create a new secondary account
3) Start typing a password
4) Change the email address to a known secondary account
5) Hit Enter
6) Password field is not cleared.

[2012-08-15 11:28] shane-tomlinson opened #2298 "Language to sign in with IdP is different on main site than dialog"
Comparison:
## Main Site

![Main Site Language](https://img.skitch.com/20120815-qxerj8d2kmkd9xbijdkrwgmra3.jpg)
## Dialog

![Dialog Language](https://img.skitch.com/20120815-gddue11gqtr93qkg7siedeqx8p.jpg)

[2012-08-15 11:33] shane-tomlinson commented on #1677
Verified that this is still a problem.

[2012-08-15 11:42] shane-tomlinson commented on #2159
Link to #2186

[2012-08-15 12:25] shane-tomlinson opened #2299 "tablet: difficult to click on Persona tos link in landscape mode"
STR

1) On a tablet, load up dev.123done.org
2) Clear localStorage
3) Open the Persona dialog
4) Try clicking on the Persona's Terms link.   It took me 5 tries.

[2012-08-15 12:40] shane-tomlinson opened #2300 "BigTent: "Email is bad input" when using Yahoo Address on Android 4.0 default browser"
STR

1) Use Android 4.0 default browser - I am using an Asus EE Transformer
2) Browse to dev.123done.org
3) Open Persona dialog
4) Enter in a yahoo address.
5) Dialog redirects and shows "email is bad input"

![Android browser showing "email is bad input"](https://img.skitch.com/20120815-f5uqu7cdfyqxxa8j35r16fd6q9.png)

[2012-08-15 12:47] shane-tomlinson opened #2301 "Android 4.0 - Confirm your email address screen still shows password input field"
STR

1) On Android 4.0 Tablet (I am using an Asus EE Transformer), open dev.123done.org
2) Open Persona dialog using a primary only account
3) Click on "Add an email address"
4) Enter secondary email address
5) Fill out password
6) Click "Sign In"

![Android Password shows through](https://img.skitch.com/20120815-mpbb41j8bjnf5msespt5rqxwf.png)

[2012-08-15 13:01] shane-tomlinson opened #2302 "with Javascript disabled, footer partially obscures TOS/Privacy pages when user scrolls"
STR

1) In Firefox disable Javascript
2) Go to https://login.dev.anosrep.org/privacy
3) Scroll the page

![footer obscures content](https://img.skitch.com/20120815-m3c5mtu3fe63t9xweahhkdqyi8.jpg)

[2012-08-15 13:05] shane-tomlinson opened #2303 "IE8: Javascript Disabled warning shows at the bottom of the page with no background"
STR

1) Load up IE8, disable Javascript (Tools->Internet Options->Security->Custom Level->Scripting->Active Scripting->Disable)
2) visit https://login.dev.anosrep.org/signin

![IE shows Javascript Disabled warning at the bottom of the page](https://img.skitch.com/20120815-rcbf25tytp1qu2g2ckkssgqphj.jpg)

[2012-08-15 13:07] shane-tomlinson opened #2304 "IE8: Main Site Headers incorrect if Javascript is disabled"
STR

1) Load up IE8, disable Javascript (Tools->Internet Options->Security->Custom Level->Scripting->Active Scripting->Disable)
2) visit https://login.dev.anosrep.org/signin

![IE8 header incorrect if Javascript is disabled](https://img.skitch.com/20120815-827tjake11rmx6kwyxrh4w1pkt.jpg)

[2012-08-15 13:15] shane-tomlinson opened #2305 "Android 4.0 tablet - VBK partially obscures submit button"
STR

1) Using an Android 4.0 Tablet (I am using an Asus EE Transformer), visit dev.123done.org
2) If signed in, sign out
3) Enter unknown secondary address
4) In Set Password screen, click into first password field.
5) VBK obscures the submit button

![Android 4.0 Tablet VBK obscures submit button](https://img.skitch.com/20120815-kgd7jcabsbthb62r7wkkqed2s2.png)

[2012-08-15 13:17] shane-tomlinson opened #2306 "Upgrade to jQuery 1.8 and use only components that are necessary"
From http://blog.jquery.com/2012/08/09/jquery-1-8-released/

[code]

[2012-08-15 13:42] shane-tomlinson opened #2307 "Confirm email addition in 2nd browser causes email_addition_status to return 400 "Bad Request""
STR

Requires two browsers.

1) In Browser A, Open dev.123done.org.
2) Open dialog, sign in with primary only account
3) Sign out of dev.123done.org, open dialog.
4) Click "Add new email address"
5) Enter account's first secondary address
6) Enter password
7) Submit form
8) In Browser B, Open email provider
9) Click verification link in email
10) Watch Browser A blow up.

Exact error in Browser A:

[2012-08-15 14:04] shane-tomlinson commented on #2301
Link to #1837, these may have the same root cause.

[2012-08-15 14:07] shane-tomlinson opened #2308 "Android - /signin page - cookie check does not fail until after user types password"
STR

1) On an android device, disable browser cookies.
2) Visit the main site /signin page
3) Enter unknown secondary address
4) Enter password
5) Enter verify password
6) Submit form
7) "Persona requires cookies to remember you" is finally shown.

This has been known about for a long time but not documented.

More user friendly would be if the cookie check failed as soon as the user visited the p

[2012-08-15 14:12] shane-tomlinson opened #2309 "several pages do not show javascript disabled warning"
STR

1) Open your favorite browser, disable javascript
2) visit https://login.dev.anosrep.org/forgot
3) Where's the "Persona requires Javascript to be enabled" warning?

also affects:
- add_email_address
- verify_email_address
- reset_password
- confirm

[2012-08-15 14:18] shane-tomlinson opened #2310 "clean up the state machine"
It's grown into a hairy hairy yak.

self no longer means "this", it means a reference to temporal state, which has already been pointed out by @seanmonstar as being very confusing.

[2012-08-15 14:22] shane-tomlinson opened #2311 ""New to Mozilla Persona" banner shown every time the user logs out and logs back in"
STR

1) Visit /signin
2) sign in with already existing account
3) visit manage page, look at yellow banner
4) sign out
5) go to step #1

Maybe do something like the "Is this your computer".

[2012-08-15 14:36] shane-tomlinson opened #2312 "/signin /forgot pages should have "unsupported browser" warning"

[2012-08-15 14:40] shane-tomlinson opened #2313 "IE6/IE7: exceptions thrown on main site /"
STR

1) Load up IE7
2) visit https://login.dev.anosrep.org

[code]

[2012-08-15 15:02] shane-tomlinson opened #2314 "reset password flow can cause user to be locked out of account."
STR

1) Create account with two secondaries and a primary, email A, and email B.
2) Open dialog, sign out.
3) Enter email A, click "forgot password"
4) Enter in a new (make sure it is different!) password
5) Verify email address at email A's provider
6) Open dialog, sign out.
7) Enter email B.
8) Try both passwords, neither work, both show the "This email and password do not match"
9) Enter email

[2012-08-15 15:40] lloyd commented on #2314
please clarify step 1?

[2012-08-15 15:59] shane-tomlinson commented on #2314
@lloyd - An account is needed that has two secondary emails and one primary email

[2012-08-15 16:17] lookfirst commented on #2292
Hey Shane, I gave you all the information I have. This is an automated report that I get when people hit my website.

We do not have CSP enabled and we are in standards mode.

[2012-08-15 19:08] ozten opened #2317 "Capture DB Schema and Schema changes in git"
We can improve how we manage the DB schema and how we hand off changes to Ops.

1) We should capture today's schema in git

2) We should capture changes to the schema in new files

3) If we ever adopt a schema management tool (like Django's South) it will be a develop tool, but may not actually be used by Ops .... they will still want a schema diff captured in git for the hand off.

This is becaus

[2012-08-15 19:22] jrgm commented on #2314
I'm probably missing something but this works fine for me (as in the new password (completed at in step 5) can be used with either email B or email A, and the old password is rejected as no longer correct).

[2012-08-15 20:43] graingert commented on #1350
@jbonacci this: Clicking the link above redirects you to "/" (whether or not you are already signed into MozTrap)?

[2012-08-15 21:01] jrgm commented on #1350
If not logged in, I am challenged, and on completion of that, I get redirected to / and that redirects to /runtests

If already logged in, https://moztrap.mozilla.org/manage/caseversion/3563/ redirects to / and that redirects to /runtests

[2012-08-15 21:03] jrgm commented on #1350
This is probably a permissions thing.

[2012-08-15 21:33] graingert commented on #1350
ah it should be a 403 not a 302 ?

[2012-08-15 21:35] zaach commented on #2307
This appears to have been introduced with the new password change, session reset feature. The session is being reset [here](https://github.com/mozilla/browserid/blob/dev/lib/wsapi.js#L154).

/cc @warner

[2012-08-15 21:44] jrgm commented on #2314
[code]

So, I'm gonna close this issue...

[2012-08-15 21:44] #2314 closed, assigned to lloyd

[2012-08-15 21:44] jrgm commented on #2314
verified not-an-issue

[2012-08-15 22:01] jrgm opened #2319 "[opera/winxp] "Sign Up" is clipped at the top on /signin page on transition"
STR
1) Load https://login.dev.anosrep.org/signin in Opera (I was on winxp)
2) Enter an unknown secondary email address to be prompted for password twice
3) page transitions to show this

![img](https://img.skitch.com/20120815-ub5h9ar66yxk86xbmd59sg2sf.png)

This is really more an Opera upstream issue. If you force a paint to happen, the dialog then shows without the clipping. I could even take a w

[2012-08-15 22:25] jrgm opened #2320 "[opera] the signin animation with the arrow moving right has a flash of a different screen near the end"
A little hard to describe but instead of seeing a smooth animation like I would with FF or Chrome, there's a little flash of 'Finishing sign in...' near the end of it.

STR

1) With Opera, be authed as a secondary email addr. Go to dev.123done.org
2) Pick that email and click the button; arrow begins moving right
3) Flash of text 'Finishing sign in...'

[2012-08-15 22:34] jrgm opened #2322 "should /signin page always re-check address_info when deciding if known or unknown secondary email?"
Apologies up front. This is a bizarre corner case that may not ever affect a real user. (I just hit this by accident).

Anyways, seems like it could be fixed easily enough.

STR

1) In browser-1, go to https://login.dev.anosrep.org/signin
2) Enter an unknown secondary email address. Page prompts for two passwords.
   (Call to /wsapi/address_info?email=... returns {"type":"secondary","known":false}

[2012-08-15 22:37] jrgm commented on #2319
I also see this clipping with Opera 12.01 on osx

[2012-08-15 22:39] warner commented on #2307
@zaach and I are looking at this. We're looking suspiciously at [db.completeConfirmEmail](https://github.com/mozilla/browserid/blob/dev/lib/db/mysql.js#L400) which calls db.updatePassword with the "please update `lastPasswordReset`" flag set to "true". We think that if it were given "false", then the session would not be clobbered, and browser A would not get an error.

Why is `completeConfirmEmai

[2012-08-15 22:41] jrgm commented on #2320
I can also see this with Opera on osx.

[2012-08-16 00:05] jrgm commented on #1472
Marking for beta2. It would be better to prompt if list_emails is empty, than to show this non-working UI.

[2012-08-16 00:16] #2307 closed, assigned to lloyd

[2012-08-16 01:29] Mossop opened #2324 "Text on browser id login is nearly unreadable on my machine"
Originally filed at https://bugzilla.mozilla.org/show_bug.cgi?id=783128 where I put a screenshot for your viewing pleasure.

My machine is 64-bit Windows and I'm running Firefox nightly. It looks like the text is being over-anti-aliased or something. Most of it is readable though looks broken, some of the smaller text has so much missing that it can be a challenge to make out what the letters are.

[2012-08-16 02:14] jrgm commented on #2324
Hi, thanks for the report. We have some better fonts in the pipeline (GH-1856) that should resolve what you see. We don't have that on a staging environment at the moment but the will be available real soon now.

[2012-08-16 02:23] jrgm commented on #2324
Yeah, github doesn't have attachments for images, but you can refer to them in the text this way and get the image to appear inline with the comments, which is a pretty damn nice feature.

[code]

![bug783128fonts](https://bug783128.bugzilla.mozilla.org/attachment.cgi?id=652275)

[2012-08-16 09:06] shane-tomlinson opened #2325 "Android Chrome Beta on tablet: Intermittent inability to scroll manage page in landscape mode"
STR

1) In Chrome Beta for Android, sign in to a Persona account from dev.123done.org
2) Place the tablet in landscape mode and browse to login.dev.anosrep.org
3) Try to scroll - sometimes it works, sometimes it doesn't.

[2012-08-16 10:06] shane-tomlinson opened #2326 "Mobile: /verify too much space to the right of the form"
STR

1) Add a new email to an existing account
2) Open the verification email in portrait mode on a mobile device

![Too much space to the right of the form](https://img.skitch.com/20120816-pt1fxm4epfr2cuds84pk3ckqk4.png)

[2012-08-16 10:11] shane-tomlinson opened #2327 "Android Native/Fennec: ugly line across screen"
STR

1) Visit the main site using the Android Native or Fennec Mobile browsers on Android 2.3
2) Check out the ugly line
### Android Default

![Android Default Browser Line](https://img.skitch.com/20120816-mx5p7hhrwuwriah151uw9drnqx.png)
### Fennec

![Fennec Line](https://img.skitch.com/20120816-r9cc7x4jry49hx29qfjq8w7a3y.png)

[2012-08-16 10:15] shane-tomlinson opened #2328 "Android 2.3 native: main site footer alignment issues"
STR

1) With Android 2.3 native browser, visit the main site
2) Check out the footer

![Android Footer Alignment Issues](https://img.skitch.com/20120816-qpxi97ue1e32tpubfc7j93ic54.png)

[2012-08-16 10:22] shane-tomlinson opened #2329 "Mobile: /about page inconsistent margins around "Real Privacy.""
STR

1) Load up https://login.dev.anosrep.org/about on a mobile device
2) Scroll to "Real Privacy."
3) Margin above and below is inconsistent.

NOTE: This affects desktop browsers too.

![Inconsistent Margins around "Real Privacy"](https://img.skitch.com/20120816-ridny94kcgmqkibhsatcbmmdxa.png)

[2012-08-16 10:31] shane-tomlinson opened #2330 "Mobile: Too much margin around TOS/Privacy in landscape mode"
STR
1) Load up https://login.dev.anosrep.org/tos or https://login.dev.anosrep.org/privacy on a mobile device.
2) Turn the device to landscape mode
3) Check out those margins

![Large margins in landscape mode on a mobile device](https://img.skitch.com/20120816-nf12nj6geumgr79tkbfjw3kg36.png)

[2012-08-16 11:14] shane-tomlinson opened #2331 "Mobile: Change password section on manage page has very narrow form fields"
STR

1) On a mobile phone in portrait mode, visit https://login.dev.anosrep.org/signin and sign in with a secondary account.
2) Visit manage page.
3) Under the "Password" section, click "edit"
4) Check out how narrow those fields are.

![Narrow fields on mobile](https://img.skitch.com/20120816-kwum68ge14d694e658ji3bwibr.png)

[2012-08-16 11:31] shane-tomlinson opened #2332 "iOS 4.3 iPod/iPhone: Dialog rendered for desktop browser."
STR

1) On iOS 4.3 iPhone (or simulator), open up dev.123done.org
2) Open the dialog.
3) Check out how it renders

I realize iOS 4.3 is not on our [official supported browser list](https://developer.mozilla.org/docs/persona/Browser_compatibility), but everything works fine except this.

![iOS4.3 dialog screenshot](https://img.skitch.com/20120816-jab9msq5x1rfa419be36xrhip2.png)

[2012-08-16 12:56] #2231 closed, assigned to shane-tomlinson

[2012-08-16 15:47] peterbe opened #2333 ""New to Mozilla Persona?" when signed in"
I've I've managed to sign up it's very little I can learn from that "Learn more" link.
http://cl.ly/Inaw

Also, on my macbook the grey faint text on the yellow background is really hard to read. I like the yellow because it really caught my attention but not convinced on the contrast.

[2012-08-16 16:39] callahad commented on #2247
New purpose: We need to monitor and log email delivery times.

Title changed. @jedp to set up PersonaTestUser on a cron (5 minutes?) and log data.

[2012-08-16 16:41] callahad commented on #2159
There's some pushback from SUMO on the mechanics of getting our own section. Discussion ongoing.

[2012-08-16 16:46] #2324 closed, assigned to nobody

[2012-08-16 16:52] shane-tomlinson commented on #2333
Thanks for the report @peterbe - this is a dup of #2311.

[2012-08-16 16:52] #2333 closed, assigned to nobody

[2012-08-16 17:15] callahad commented on #2287
When we determine the root cause of this, please ping me and me know. If this is completely on the IdP side, I should probably document it as a caveat for IdP developers.

[2012-08-16 17:22] lloyd commented on #2283
let's determine whether this is an upstream bug or not.  does this occur in any other environment?

[2012-08-16 17:31] seanmonstar opened #2334 "localize fonts"
We host the fonts locally, yay.
They contain characters from different locales, so other languages look good, yay.
All these characters in the same font file make for big font sizes, boo.

Make font files localized, so we can send smaller font files to everyone.

[2012-08-16 17:33] #2275 closed, assigned to nobody

[2012-08-16 17:34] callahad commented on #2271
Resolved.

[2012-08-16 17:34] #2271 closed, assigned to callahad

[2012-08-16 17:35] seanmonstar commented on #2334
woops, didn't see #2274, dupe.

[2012-08-16 17:35] #2334 closed, assigned to nobody

[2012-08-16 17:50] shane-tomlinson commented on #2169
@humbletim - Thank you very much for the issue submission.  I believe we have this fixed, but can you confirm this on our development server?

dev.123done.org is the development relying party, it points to login.dev.anosrep.org, which is our development Persona server.

[2012-08-16 17:50] #2169 closed, assigned to shane-tomlinson

[2012-08-16 20:33] jrgm commented on #2292
@lookfirst is it always (or the 90% case) the same error message (approximately)?

Also, is it that user-agent (AOL) or does it vary? Any other UA commonly showing this?

[2012-08-16 22:21] jrgm commented on #2292
I downloaded http://daol.aol.com/software/aoldesktop97/ on Windows Vista and installed it.

1) When I go to dev.123done.org, there is a warning icon displayed in the bottom right corner of the browser window. It says: "P3P Privacy Report" - Site: https://login.dev.anosrep.org/communication_iframe, Cookies: Blocked

2) Do Edit->BrowserSettings and click on Internet Explorer Settings. On Advanced ta

[2012-08-16 23:40] nmalkin opened #2339 "raiseProvisioningFailure requires undocumented argument with mandated wording"
I think I just discovered an issue with either our implementation of provisioning for IdPs, or with our documentation, or with me.

For background, when we load the provisioning page from the IdP, we ask them to check the user's identity and, if in cases where authentication is needed, [call navigator.id.raiseProvisioningFailure()](https://developer.mozilla.org/en-US/docs/Persona/Implementing_a_Pe

[2012-08-16 23:46] ozten commented on #2339
+1 this bite me too

[2012-08-16 23:52] ozten commented on #2339
https://github.com/mozilla/browserid/issues/1207

[2012-08-16 23:57] nmalkin commented on #2339
(Repeating for internal linking:)

This issue affected [someone on the mailing list](http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/ea00cf0bac16b1ca/3e0f360e37a9a24b?lnk=gst&q=raiseprovisioningfailure#3e0f360e37a9a24b), was filed as #1182, where @ozten [discovered](https://github.com/mozilla/browserid/issues/1182#issuecomment-4146610) what I just did, and filed #1207, whi

[2012-08-17 06:21] jrgm commented on #1795
And the answer is do `npm install --unsafe-perm` but there is a very very good reason why npm doesn't default to that ;-)

I don't see that in the npm docs, but see https://groups.google.com/forum/?fromgroups#!topic/npm-/HOr7xqNzR7k%5B1-25%5D for a hint.

Closing.

[2012-08-17 06:21] #1795 closed, assigned to jrgm

[2012-08-17 08:07] #2277 closed, assigned to nobody

[2012-08-17 08:26] shane-tomlinson opened #2340 "P3P headers needed for IE8/some variants of IE9"
http://msdn.microsoft.com/en-us/library/ms537341%28v=vs.85%29.aspx

See #2183, #2192

[2012-08-17 08:26] shane-tomlinson commented on #2292
The revenge of #2183.  A new issue to actually create P3P headers is filed under #2340

[2012-08-17 08:32] shane-tomlinson commented on #1207
Closing as dup of #2339 which has quite an in depth description.

[2012-08-17 08:32] #1207 closed, assigned to lloyd

[2012-08-17 08:44] michelv commented on #2246
I had the same problem yesterday.
A not so obvious way to get around it is clicking "This is not me".

I don't know if the steps will help reproduce it, but here's my situation :
- two Firefox instances, one at home and one at work (not using Firefox Sync)
- a self-hosted OpenPhoto install (3.0.1 at the time) on which I log in using Persona

…and how I got the problem:
- Persona on my work compute

[2012-08-17 08:46] shane-tomlinson commented on #2293
This had the same root cause as #2273 and is no longer reproducible.  Closing.

[2012-08-17 08:46] #2293 closed, assigned to shane-tomlinson

[2012-08-17 13:05] shane-tomlinson commented on #2287
@jrgm, @jbonacci, @lloyd - This bug affects users whether they cancel from the primary or not.  Even if a user successfully signs in with their IdP, they are redirected from the IdP to the dialog instead of the special "authenticate_with_primary" page.

A fix (PR #2342) has already been issued.

[2012-08-17 13:55] shane-tomlinson opened #2343 "eyedee.me should autofocus the password field"
Cross reference to lloyd/eyedee.me#13 and lloyd/eyedee.me#14

[2012-08-17 14:04] shane-tomlinson opened #2344 "keyboard accessibility: manage page "password" done button not clickable using the keyboard"
STR

1) Load up login.dev.anosrep.org and sign in
2) Go to /
3) Using the keyboard, tab to the password "edit" field
4) tab to the "done" button
5) click "enter"

Specific bug for #869

[2012-08-17 14:13] callahad commented on #2339
Done.

Not being too familiar with core, it looks like we're trying to distinguish between two cases:
- We can't continue provisioning because the user isn't authenticated.
- We can't continue provisioning because of an unrelated error.

In the first case, we recover by showing the user the `authentication` page. In the second case, we show a hard failure.

If this understanding is correct, I'd pr

[2012-08-17 14:20] callahad commented on #2246
Not to pile on, but I've also seen this happen. In my case, I was on a particularly flaky conference WiFi network at the time. Does the dialog need to do some kind of request to populate the list that might fail, despite the rest of the dialog rendering?

[2012-08-17 14:42] shane-tomlinson opened #2345 "development IdP is not keyboard accessible."
Relate to #869

[2012-08-17 15:11] shane-tomlinson opened #2346 "manage_page.js should be converted to a PageModule."

[2012-08-17 15:36] shane-tomlinson opened #2349 ""sign in" should come before "add another email address" and "this is not me" in email picker tab ordering"
Specific issue related to #869

[2012-08-17 15:59] shane-tomlinson opened #2351 ""Sign Up" should be first element tabbed to on the / page."
Debatable.

link to #869

[2012-08-17 16:03] shane-tomlinson opened #2352 ""forgot your password" should come after "sign in" in tab ordering on /signin page"
link to #869

[2012-08-17 16:07] shane-tomlinson opened #2353 "tabbing in to email field on /signin page causes password field to be hidden."
STR

1) Open up the /signin page
2) Enter a known secondary email address
3) Reload the page
4) Tab around page until focus lands in email field.
5) Why did the password field go away?

[2012-08-17 16:21] benadida commented on #1976
looks like we're targeting to have this ready to launch 10/10.

[2012-08-17 16:53] wrr commented on #2246
In my case, once the issue occurred, closing and reopening the dialog did not help (I tried it multiple times). So, at least in my case, it likely was not due to a temporary network problem.

[2012-08-17 17:38] lloyd commented on #1773
how do we solve this?  tricky...  /cc @seanmonstar @shane-tomlinson

[2012-08-17 17:44] seanmonstar commented on #1773
It's an actual redirect, or just loaded in an iframe?

Wouldn't a redirect trigger the `window.onunload` from WinChan and kill it?

[2012-08-17 17:48] lloyd commented on #1773
so that's the trick!  window A opens window B.  Window B redirects to a different URL.  User closes dialog while window B has content loaded from a URL that has not loaded any winchan code.

In order to solve this I feel like we would have to detect close from the spawner of the window.

[2012-08-17 18:04] seanmonstar commented on #1773
That frankly seems like the safest place to do so anyways.

[2012-08-17 18:33] jrgm commented on #2246
Oh, I see. This is GH-1472. Upping the starrage and nominating beta2-prereq on that one. Closing this as a duplicate. Thanks for the report and image and steps to reproduce.

[2012-08-17 18:33] #2246 closed, assigned to jrgm

[2012-08-17 18:35] jrgm commented on #1472
See also https://github.com/mozilla/browserid/issues/2246#issuecomment-7812810 for STR.

[2012-08-17 21:13] #2223 closed, assigned to skinny97214

[2012-08-17 21:55] skinny97214 commented on #314
Who is working with the upstream to get this fixed? This is a huge UX problem.

[2012-08-17 21:58] jrgm commented on #2311
We seem to resetting managePage to {} at signout. (It is set and even persisted to disk, but is gone again after logout).

[2012-08-17 22:45] jrgm opened #2357 "[iphone safari] 123done: logged in state not always reflected between two windows"
Sorry, I don't have 100% STR. Some times it works some times not.

1) Use safari on the iphone. Open dev.123done.org and auth as a secondary.
2) Open a second window and load dev.123done.org, which will show you as logged in.
3) Repeatedly log out of one window, check that the other window reflects the logout. Then login in one window, and check that the other window is logged in. Sometimes use th

[2012-08-18 03:16] jrgm opened #2359 "error while deploying awsbox on scripts/generate_ephemeral_keys.js: Permission denied"
Seems to be saved by generation in jwcrypto. Not looking closely right now, just dumping this issue in here...

[code]

[2012-08-20 02:56] fmarier opened #2360 "English localization not picked up unless using en-US"
When setting languages in Firefox to this:

![No en-US](https://gist.github.com/raw/3399722/ddf786054e8a5577424c8f430660907b36ae09fa/broken_headers.png)

the request to Persona includes this header:

[code]

and the Persona screens are in French despite all of the other English locales coming before French.

On the other hand, if I do this:

![en-US](https://gist.github.com/raw/3399722/68d99f89774

[2012-08-20 04:47] jrgm commented on #2360
This is GH-1863. Closing as duplicate.

[2012-08-20 04:47] #2360 closed, assigned to nobody

[2012-08-20 04:48] jrgm commented on #2022
Closing this as npm-lockdown is now in the tree.

[2012-08-20 04:48] #2022 closed, assigned to zaach

[2012-08-20 04:49] jrgm commented on #2277
verified in train-2012.08-17

[2012-08-20 05:06] jrgm commented on #1679
verified train-2012.08.17
- Ensure the reset password flow of the main dialog works as expected.
- Ensure the user cannot reset the password of a primary address.
- Ensure the /forgot page redirects to /signin if the email address is known.
- Ensure the /forgot page redirects to /signin if the email address is unknown.

[2012-08-20 05:13] jrgm commented on #1639
verified train-2012.08.17

One quirk to note is that when doing e.g., signup on the main site X-Browserid-Relyingparty lists the hostname of the main site e.g., login.dev.anosrep.org, since there is no actual relying party in this case.

[2012-08-20 05:22] jrgm commented on #1023
verified train-2012.08.17

[2012-08-20 05:24] jrgm commented on #1093
verified train-2012.08.17

[2012-08-20 05:25] jrgm commented on #2187
verified train-2012.08.17

[2012-08-20 05:39] jrgm commented on #2206
verified train-2012.08.17

[2012-08-20 05:41] jrgm commented on #2183
Okay, GH-2206 and GH-2190 are fixed for train-2012.08.17. GH-2190 is no being dealt with in GH-2077

[2012-08-20 05:59] jrgm commented on #1615
veriified train-2012.08.17

[2012-08-20 06:13] jrgm commented on #2125
verified on train-2012.08.17 for the new links. Not gonna read through every line of the docs ;-)

But I will note that https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup says at the top "This article needs technical review". Huh?

[2012-08-20 06:17] jrgm commented on #2132
verified on train-2012.08.17 (e.g., http://train0817.123done.org/ and https://train0817.personatest.org).

[2012-08-20 06:21] jrgm commented on #2082
verified on train-2012.08.17 although now of course the UI for that page has changed quite a bit.

[2012-08-20 06:41] jrgm commented on #2200
Spiffy! verified on train-2012.08.17 incl. IE8. One note, you have a redundant border-top rule in the PR at GH-2201.

[2012-08-20 07:14] jrgm commented on #2231
verified train-2012.07.30 for the original STR.

[2012-08-20 07:24] jrgm commented on #2176
verified in local build train-2012.08.17.

[2012-08-20 07:26] jrgm commented on #2061
verified in local build 2012.08.17. new_account always sent, default false.

[2012-08-20 12:26] shane-tomlinson commented on #2200
@jrgm - thanks, the two rules is because IE8 doesn't support alpha transparency in CSS, so it falls back to using a color it understands.

[2012-08-20 13:51] shane-tomlinson commented on #1232
@skinny97214 - Did you mean to re-open this?

[2012-08-20 14:47] shane-tomlinson commented on #314
Filed an upstream bug at: https://bugzilla.mozilla.org/show_bug.cgi?id=784028

[2012-08-20 15:10] gene1wood commented on #2038
@jrgm or @lloyd can you look through my test cases and correct them so I can get all the redirects correct :

https://bugzilla.mozilla.org/show_bug.cgi?id=781838#c4

[2012-08-20 15:10] gene1wood commented on #2097
I've made the changes in stage but I'm not sure I have the test cases correct, @lloyd can you validate them? : https://bugzilla.mozilla.org/show_bug.cgi?id=781838#c4

[2012-08-20 16:26] skinny97214 commented on #1232
Not sure about the status of this feature. I checked on dev and the flow was reversed from how it's specified.

[2012-08-20 16:36] ozten commented on #1305
One possible implementation of the Wordpress plugin is that it creates the `/.well-known/browserid` file and content-type properly. The contents would delegate authority to another service.

I did this [on my personal site](http://ozten.com/.well-known/browserid) which is commodity hosting. Then I [built a Node.js](https://github.com/ozten/hostedpersona) hosting service https://hostedpersona.me

S

[2012-08-20 16:56] shane-tomlinson commented on #1232
@skinny97214 - am I missing something?

[code]

That flow should be followed in both the dialog and main site.

[2012-08-20 19:59] jaredhirsch opened #2364 "selenium tests: pull in upstream bidpom changes"
https://github.com/mozilla/bidpom/pull/43

[2012-08-20 21:25] jrgm commented on #1751
verified on ephemeral train-2012.08.17 (and on a windows box that it punts on node-statsd fail). Leaving not marked verified because I will need to recheck this on stage.

[2012-08-20 21:41] jrgm commented on #2258
verified train-2012.08.17

[2012-08-20 21:52] skinny97214 commented on #1232
Ubmmm... Did I write that backwards. This is embarrassing.

I want our flow to be the same as 99% of the other sites.

Desired
1. get user's email
2. send verification email
3. create password

[2012-08-20 21:56] seanmonstar opened #2367 "Example RP has redirect error on Windows"
Opening `http://localhost:10001` in a browser while running browserid on a Windows machine will server a `301 /` response.

Current workaround is to remember to go to `http://localhost:10001/index.html`.

This was fixed in `connect.static()` in [connect@2.0.2](https://github.com/senchalabs/connect/commit/a9f20e450b8c197e22da41d3d1d610685878489d), and we're currently using `connect@1.7`, because of

[2012-08-20 22:17] jrgm commented on #2116
verified train-2012.08.17

[2012-08-21 07:52] vthunder commented on #1523
Let's put this on the table for beta 2?

It'd be nice to be able to set up the delegation without having to run a server.

[2012-08-21 15:48] teo951 opened #2371 "Not proper Forgot password window"
In the reset password window are displayed textboxes:
Password
Verify password

Why these elements are displayed? User forgot password and want reset yours password, so these elements are redundant.

[2012-08-21 15:54] shane-tomlinson commented on #2371
@teo951 - Thanks for the feedback, can you elaborate?

These two fields are for the user to reset their password.

We have changed how this works slightly. You can go to dev.123done.org and try the reset password flow there. Note, that is a development server and the user database is not connected to the one that drives the main persona.org site so you will have create a new account.

[2012-08-21 15:58] teo951 opened #2372 "Some strings are not present in the last messages.po file"
I the last messages.po file strings:
# ~ msgid "New to Persona? Sign up today."
# ~ msgid "Create Account"
# ~ msgid "Existing account? Sign in."

are commented, so as translator I can remove them, but if I removed these strings, in the my language (Polish) are displayed in English.

[2012-08-21 16:06] shane-tomlinson commented on #2281
@nmalkin - you wanna review the above to see if it gives you what you need?

[2012-08-21 16:22] teo951 commented on #2371
See attached image. This window is displayed when user click "forgot your
password?" link, not reset, so if user forgot password, how can insert
password?

Regards
Teo

2012/8/21 Shane Tomlinson notifications@github.com

[2012-08-21 19:32] AaronMT commented on #2010
ETA for this on production?

[2012-08-21 20:03] seanmonstar commented on #2010
Its in the current staged train, so should hit production within 2 weeks.

[2012-08-21 23:34] zaach commented on #1677
The client and server are inconsistent in how they check if the user needs a password during staging. The client requires the user enter a password during staging [if they don't currently have any secondary email addresses](https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/user.js#L1004). Meanwhile, the server [checks if the user account has a password hash](https://github.c

[2012-08-21 23:56] zaach commented on #2371
The password fields are for creating a _new_ password, not for entering the old one (which the user forgot). This is unlike most sites which have you create a new password after you have followed a confirmation link. Issue #1232 is filed for flipping our order to be like most sites.

[2012-08-22 10:11] gene1wood commented on #2097
There is a lot of conversation in this ticket so I'm going to summarize what I've come to understand as the actionable request(s) from this conversation :
- POSTs to https://verifier.login.persona.org/verify should be passed to the verifier
- POSTs to https://login.persona.org/verify should return a 405 with a json message of "{"status": "failure", "error": "Wrong URL for the verifier. Please ask

[2012-08-22 10:39] #2252 closed, assigned to seanmonstar

[2012-08-22 12:18] gene1wood commented on #2097
One additional element to consider is that RFC 2616 requires that when serving a 405 you provide an "Allow" header indicating what methods are allowed (since 405 indicates "Method Not Allowed")

[2012-08-22 17:22] stenington opened #2379 "MDN navigator.id.request privacyPolicy & termsofService docs"
https://developer.mozilla.org/en-US/docs/DOM/navigator.id.request

The parameters documentation for `privacyPolicy` and `termsOfService` say they want absolute URLs, but the example shows relative URLs and it seemed to me that relative URLs actually work better. Working locally, giving a url like `http://localhost:8000/privacy.html' resulted in an error whereas just giving it '/privacy.html' worke

[2012-08-22 17:26] stenington opened #2380 "MDN navigator.id.get extra parameters"
https://developer.mozilla.org/en-US/docs/DOM/navigator.id.get

It seems from experimentation that `navigator.id.get` can take the same parameters as `navigator.id.request`, including `returnTo` and `siteName`. However these are not documented on the MDN page, making it look as if you have to use the Observer API to get those features.

[2012-08-22 17:32] stenington opened #2381 "MDN "quick setup" uses less stable API"
https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup

Don't know if this is a proper issue, but the _Quick Setup_ page describes the Observer API, which seems to be the less stable of the two available. I don't know if the Observer API is the preferred API, or if the Callback API will be going away... I took it to be a fairly strong endorsement that we should be using the Observer API whic

[2012-08-22 17:54] callahad commented on #2381
Ah, yes. I should update the Observer API docs. The Observer API is now the recommended API for Persona.

[2012-08-22 18:06] callahad opened #2382 "Re-enable siteName and siteLogo for .get()"
Last month we decided that we should support `siteName` and `siteLogo` with the `.get()` API after noticing that they were inadvertently available (#2086, #2109). This reverses a decision made in #2070.

We just need to update https://github.com/mozilla/browserid/blob/d6cf9538185623d53c87d2a0889868ec857823e8/resources/static/include_js/include.js#L1243-L1246 and add tests.

[2012-08-22 18:07] callahad commented on #2380
Initially, the additional features were only planned for the Observer API, though an implementation quirk enabled them for `.get()` by mistake (#2086) and was resolved in pull request #2109. We've since decided to re-enable them, but haven't landed code for that yet.

Our next major deploy (early September) will disable these options with the `.get()` API. We'll re-enable them later that month (#2

[2012-08-22 18:07] #2380 closed, assigned to callahad

[2012-08-22 18:13] callahad commented on #2379
Ah, right you are! I've updated the language to "Absolute path or URL" from "Absolute URL" -- thank you!

[2012-08-22 18:13] #2379 closed, assigned to callahad

[2012-08-22 18:35] stenington commented on #2380
Oh wow, ok.

@callahad Will passing `returnTo` and `siteName` to `get()` cause errors, or will they just get ignored?

[2012-08-22 18:52] callahad commented on #2380
@stenington They'll just be ignored. Sorry for the confusion! Is there a reason you prefer `.get` over the Observer API, or were you primarily concerned about the experimental messaging on the Observer docs?

[2012-08-22 19:16] stenington commented on #2380
@callahad I think we're happy to move to the Observer API eventually, but yeah, the experimental messaging was a little worrisome for now.

[2012-08-23 13:57] #2281 closed, assigned to shane-tomlinson

[2012-08-23 16:55] #2352 closed, assigned to nobody

[2012-08-23 16:56] #2351 closed, assigned to nobody

[2012-08-23 16:56] #2349 closed, assigned to nobody

[2012-08-23 16:57] #2345 closed, assigned to nobody

[2012-08-23 17:04] seanmonstar commented on #2340
Quote from @benadida:

[2012-08-23 17:11] callahad commented on #426
I believe now we cover these on MDN:

How does Persona differ from other solutions? https://developer.mozilla.org/en-US/docs/Persona/Why_Persona

What is required / what browsers work? https://developer.mozilla.org/en-US/docs/persona/Browser_compatibility

[2012-08-23 17:11] #426 closed, assigned to callahad

[2012-08-23 17:37] callahad commented on #2159
We have a plan to get our own section up and running on SUMO. Timeline is still up in the air; I've asked for clarification.

[2012-08-23 17:47] jrgm commented on #2359
So, this error is still there and it's because browserid/scripts/generate_ephemeral_keys.js is mode 644 (or that the call in browserid/scripts/awsbox/post_deploy.sh doesn't say 'node scripts/generate_ephemeral_keys.js'). package.json though calls postinstall **twice**, so the keys do get generated. Giving this to @seanmonstar

[2012-08-23 19:05] callahad commented on #2159
SUMO's target is September 11th, so we should be good.

[2012-08-23 19:54] jrgm opened #2385 "investigate using data: urls for images in HTML email"
I, like many people, don't show images in HTML by default. So the Persona email display in thunderbird or mobile gmail on adroid with ugly bits of extra UI to "Show images?". I'm used to that in all kinds of my email in my inboxes, and was just ignoring it as usual.

But we could look at using `<img src="data:image/png;base64,iVBORw0K...` in the HTML email we send out. I mocked up an email, and wo

[2012-08-23 20:30] seanmonstar commented on #2385
Interesting. That gets around one concern: loading an image tells the
sender you opened the email. However, another concern would simply be that
you don't trust images from people you don't know. I wouldn't be surprised
if Gmail took this stance: do you want to chance seeing an image you'd
rather not if you don't trust the person?

[2012-08-23 20:50] jaredhirsch commented on #2385
I'd suggest somebody sign up for a litmus account, send an email with data URIs, and see which clients support it

[2012-08-23 20:59] #2263 closed, assigned to nobody

[2012-08-23 22:23] jaredhirsch opened #2386 "remove duplicate copy of bidpom from persona_server"
but don't start on this until 123done is hardened

[2012-08-23 22:39] jrgm commented on #2372
@teo951 can you try this again. translate.persontest.org has been updated. Those strings are now obsolete and have been removed from source.

[2012-08-23 23:30] jrgm opened #2387 "clear 'usersComputer', etc., when user says 'This is not me'"
It seems to me that when the user clicks 'This is not me' **all** information in localStorage should be cleared. Currently the emails key is cleared, but   'emailToUserID', 'usersComputer', and others are left behind.

[2012-08-24 00:49] teo951 commented on #2372
Thanks. Now all is OK.

2012/8/24 John Morrison notifications@github.com

[2012-08-24 00:54] jrgm commented on #2372
Thanks for the original report and the followup @teo951. Closing.

[2012-08-24 00:54] #2372 closed, assigned to lloyd

[2012-08-24 00:55] jrgm commented on #2372
And thanks @zaach for digging into this.

[2012-08-24 02:46] jrgm opened #2388 "return to management UI when verify_email_address in a second browser"
1) In browser 1 sign up as a new secondary email address from 123done
2) Load the verify_email_address link in browser 2
3) Enter the password
4) browser 1 transitions to show logged in to 123done
5) browser 2 transitions to show 'Your address has been verified!', but stays on that page.
6) Reloading the page in browser 2 shows the error screen, but clicking on the Persona logo shows the account m

[2012-08-24 03:29] jrgm commented on #2307
verified train-2012.08.17 on ephemeral https://train0817.personatest.org for original STR and also reviewing db state.

[2012-08-24 04:44] jrgm commented on #2071
verified train-2012.08.17 on https://train0817.personatest.org/. No exception thrown.

[2012-08-24 04:52] jrgm commented on #2066
Reopening. I don't see this fixed for train-2012.08.17 on https://train0817.personatest.org/

osx/chrome 21.0.1180.79

![img](https://img.skitch.com/20120824-t3f6w2twxeej88in6n8u87inp5.png)

osx/ff 14.01

![img](https://img.skitch.com/20120824-8dxqkqfbrbxhb6bwh93jfsasu4.png)

I do see the change in resources/static/production/en_US/dialog.js on https://train0817.personatest.org/, but no joy.

[2012-08-24 05:00] jrgm commented on #2120
verified train-2012.08.17. The UI has been changed such that there is no separate signup and the button is always active (checking for inputs of course).

[2012-08-24 05:29] jrgm commented on #2387
Related to GH-2335, or perhaps the same thing?

[2012-08-24 09:19] shane-tomlinson commented on #2387
@jrgm, @lloyd - this is by design to keep track of which users have answered the "is this your computer" screen. A field that should be removed when a user signs out is loggedInEmails. Once the user's site->email list is cleared on logout, there is no value in this information hanging around. I'll file a separate issue for that, I have the fix in a branch already.

Shane

Sent from my iPad

On 24

[2012-08-24 11:17] shane-tomlinson opened #2389 "email associations stored in localStorage.loggedIn not removed when an email is removed from localStorage."
STR

1) Sign into an RP with account with two email addresses
2) Sign out.
3) Go to manage page "/"
4) Open up browser dev tools, look at localStorage.loggedIn[RP_origin]. The site's email is shown.

Link to #2387

[2012-08-24 17:47] jaredhirsch opened #2391 "submit element cache retry patch upstream to selenium project"
it turns out that selenium caches internal DOM ID refs in a clunky way, such that finding an element and asserting against it doesn't happen atomically, but rather happens across possibly many UI thread updates.

if the bot.inject.cache (and browser driver caches) were updated to look for the element on cache miss, by storing the selector along with the element reference in the cache, a lot of sta

[2012-08-24 18:53] callahad opened #2393 "Confirmation screen asks "is this your computer," even when I'm on a phone"
Via krupa in IRC:

<krupa> when we show the confirm this is your device screen, shouldn't we try to be device-agnostic? It says "is this your computer?" even when i am on my phone.

@skinny97214 ?

[2012-08-24 20:28] seanmonstar opened #2394 "Pre-compile EJS templates"
The dialog EJS templates can be compiled when we run the compress script, and templates.js will contain the compiled functions. Then, we are no longer `eval`ing code on the client, and remove the EJS library (less bytes!).