[2011-04-16 14:39] lloyd opened #1 "Client should remember what ids you use"
if you frequently use an identity for a site, the UI should sort that id to the top of the list and perhaps tell you (id last used for this site 4 days ago)

the data to support this ui can be automatically gathered and need never leave the client.

[2011-04-16 14:42] lloyd opened #2 "IP should check for primary support upon email addition"
While the user is adding a new email, if the email is from a host who natively supports BrowserID, then the IP should query host-meta to determine the URL of the UI for that support.  That UI should be embedded into the window spawned by the IP so that the user can log in.

Part of this is smoothing out the spec to which primaries will author auth code (postMessage?  size?  etc).

[2011-04-16 14:44] lloyd opened #3 "Implement email handshake"
real email confirmation is needed once we move to production server.  This will include figuring out portable UX for user feedback manifests upon clicking link in email.

[2011-04-16 14:45] lloyd opened #4 "Create browserid.org site content"
browserid.org should be a friendly and targeted description of the proposal: for users, for developers, and for authorities.

[2011-04-16 14:49] lloyd opened #5 "Implement anonymous email support"
Early feedback is that the possibility for value adding primaries which anonymize emails is huge.  I think so to.

We should implement anonymizing email support in browserid.org (which means email forwarding, yes it does), and figure out how it would map into the fully distributed system.  As well as figuring out the UX bits.

[2011-04-16 14:54] lloyd opened #6 "Progress bar during id sync"
key generation takes a while.  user feedback is good.

[2011-06-10 23:16] lloyd opened #7 "move from eyedee.me to browserid.org"
we've abused the `eyedee.me` domain thus far, putting the "implementation provider" and "secondary" on that domain.  We should move the implementation provider and secondary onto browserid.org, and eyedee.me will be left as a domain where we can build a sample primary.

[2011-06-10 23:18] lloyd opened #8 "develop the user pitch"
We should be able to clearly explain to a primary and to an end user why browserid is awesome.  This should resonate with a non-technical user and should be backed up by an implemented login flow that is demonstrably better than what the web offers today.

[2011-06-10 23:20] lloyd opened #9 "develop the primary pitch"
We should be able to clearly explain to an entity who offers ID on the web today why supporting browserid is in their best interest, and in the interest of their users.

[2011-06-10 23:25] lloyd opened #10 "Complete the pitch: Why should people care about BrowserID?"
BrowserID is a complicated solution to a real problem.  The various actors that it affects are sufficiently different that it is important to develop and refine targeted explanations as to why BrowserID is important.

At the end of this milestone we should have concise, targeted explanations of why BrowserID is important.  This excercise will also help focus and prioritize future development.

[2011-06-10 23:26] lloyd commented on #10
this issue is not an issue.  it's a milestone.  sheesh.

[2011-06-10 23:26] #10 closed, assigned to nobody

[2011-06-10 23:37] lloyd commented on #4
@benadida - does it make sense to take a pass at a brochure site for browserid.org in the MS2 timeframe?

[2011-06-10 23:56] lloyd opened #11 "RP "Support""
Relying parties are sites that use BrowserID.  In this milestone we'll take some existing sites and "upgrade" them with browserid support.  In the process of building browserid support into real sites we'll be forced to think through the ease of integration and ensure the embedding APIs are sufficiently flexible to afford embedding sites freedom.

The output of this milestone will be a number of s

[2011-06-10 23:58] lloyd opened #12 "Port blobastorus to browserid"
blobastorus is a perfect candidate for a hack that would be better with improved authentication.  We should port it to browserid.

[2011-06-10 23:59] lloyd commented on #11
this issue isn't an issue damint.  it's a milestone.  sheesh.

[2011-06-10 23:59] #11 closed, assigned to nobody

[2011-06-11 00:01] lloyd opened #13 "verifier.browserid.org"
stand up the verifier code on verifier.browserid.org.  This is a server behind strong SSL that lazy RPs can use for a simpler integration.

[2011-06-11 00:07] lloyd opened #14 "twitter/facebook connect/Open ID support?"
What if there were a simple experience for using popular identities, or those that don't actually use SMTP?  This issue is for the exploration of how integrating first class support into BrowserID for popular networks might look.

[2011-06-11 01:15] lloyd opened #15 "stand up outbound email server on browserid.org"
title says it all.

[2011-06-11 01:28] lloyd commented on #15
[code]

check.

[2011-06-11 01:28] #15 closed, assigned to nobody

[2011-06-14 21:31] lloyd commented on #7
Life is good.  Now BrowserID is hosted at https://browserid.org (include `https://browserid.org/include.js`)

An up to date RP is hosted here:

[code]

A verifier is hosted here:

[code]

[2011-06-14 21:37] lloyd commented on #7
https://eyedee.me/ is now the primary.  migration complete.

[2011-06-14 21:37] #7 closed, assigned to lloyd

[2011-06-15 06:03] #3 closed, assigned to lloyd

[2011-06-15 17:40] benadida opened #16 "cert refresh when dropped in by primary"
we need to work with the refresh_url

[2011-06-15 18:00] benadida opened #17 "provide "this is not my computer" checkbox at signin"
this should be done with a logout button that comes up in a popup when user doesn't check "remember me on this computer"

[2011-06-15 19:33] lloyd opened #18 "implement "forgot password" flow"
because it's easy to forget your password!

[2011-06-15 23:07] lloyd opened #19 "implement public key signing in browserid.org"
this is the low level mechanisms to sign public keys.  this must be implemented in the server, and should be sufficiently modular so that it can be packaged as a library/reference implementation for primaries.

[2011-06-15 23:09] lloyd opened #20 "change verifier to expect and verify certificates"
currently the verifier checks with the issuer to ensure that the public key used to sign an assertion is owned by the user.  We'll have to change this so that the verifier pulls the issuer's public key(s) and verifies that the assertion is properly signed.

[2011-06-16 21:33] lloyd opened #21 "fix getVerifiedEmail function - error returns"
getVerifiedEmail should not have a separate error function, according to the new spec:

https://wiki.mozilla.org/Identity/Verified_Email_Protocol/Latest

[2011-06-17 20:38] lloyd opened #22 "gravatar in login box"
cause it's awesome

[2011-06-17 20:49] vthunder opened #23 "ability to delete my account"
for testing purposes, so I can demo account creation

[2011-06-17 21:39] lloyd commented on #23
I expect the ability to do this should be exposed on the "status" page, which should be styled the same as the rest of the site and maybe be renamed "manage"

[2011-06-17 21:56] vthunder commented on #23
I agree, that would be a perfect place!

[2011-06-17 21:58] vthunder opened #24 "removing an email and re-adding it should require re-verification"
If I go into the status page and "sign out", mentally I'm thinking "forget about this email" - maybe it should be labeled "forget" or "remove", or maybe my mental model is wrong(?)

Because I'm thinking about it as "forget", if I then go to an RP and sign in, it should a) not list that email, and b) require email verification to let me use it to sign in.

[2011-06-17 23:35] lloyd commented on #4
site's up, some content is stubbed, but it's good enough for a first pass.

[2011-06-17 23:35] #4 closed, assigned to nobody

[2011-06-17 23:37] lloyd commented on #8
I think a 60s screencast is the way to go, to be hosted here: https://browserid.org/users.html

[2011-06-18 00:13] #21 closed, assigned to nobody

[2011-06-18 00:24] lloyd opened #25 "stylize browserid dialog to match site"
for a little bit of consistency and a slightly better look.

[2011-06-18 14:10] lloyd opened #26 "Fix whitespace in verification email"
currently the email is all smashed together, double \n is collapsed into one.  This is a mustache "feature" ?

[2011-06-18 14:19] #26 closed, assigned to nobody

[2011-06-20 18:19] benadida opened #27 "clear out username and password on "this is not me" click"

[2011-06-20 19:28] #25 closed, assigned to lloyd

[2011-06-20 19:36] lloyd commented on #27
as well as all local keying material, right?

[2011-06-20 19:39] lloyd commented on #27
ok, to clarify, here are steps to reproduce what I think this issue is:
1. log into browserid and set up emails
2. raise dialog
3. notice the sign in page preloaded with your identities
4. click "this is not me"
5. click cancel
6. raise the dialog again
7. notice you're now signed in again!  you shouldn't be!

[2011-06-20 19:50] #27 closed, assigned to nobody

[2011-06-20 21:34] benadida opened #28 "with two emails, the manage screen "show public key" link does the wrong thing"
The first link opens up the second public key

[2011-06-20 22:06] #28 closed, assigned to nobody

[2011-06-21 00:35] benadida opened #29 "make verifier service return actual values"
so no need to parse in two places

[2011-06-21 00:40] vthunder opened #30 "use new logo on browserid.org"
http://cl.ly/09153C2d0o3j0X3c3g45

contact sean if you need a higher-res/different format image

[2011-06-21 00:42] vthunder opened #31 "use sign-in buttons on developer instructions"
tell developers that, while they can use anything they like, we'd like it if they used these:

http://cl.ly/09153C2d0o3j0X3c3g45

contact sean if you need them in some other format or whatever.

[2011-06-21 00:45] vthunder opened #32 "refine verification step in developer instructions"
The developer instructions have a verification step written in JS.  Unfortunately, many server-side hackers will assume this code is OK (or even expected to) run client-side, particularly if they don't read/skim the text above the code.

I propose a selector so you can see the same code in a few different languages (python, php, js), with the default something other than js. Maybe also call js "no

[2011-06-21 00:47] vthunder opened #33 "remove .email getter in assertion object"
we'll delay the unverified email use-case until a later time, when we can propose some other API (e.g., part of a getProfile type API).

[2011-06-21 01:27] benadida commented on #22
cause I'm an idiot and I closed the wrong bug in code comment

[2011-06-21 01:28] benadida commented on #24
fixed

[2011-06-21 01:28] #24 closed, assigned to nobody

[2011-06-21 01:33] #29 closed, assigned to nobody

[2011-06-21 04:19] benadida commented on #23
I'll work on this as a simple extension of the other work I did on manage.html

[2011-06-21 15:37] lloyd opened #34 "port to express"
rather than using connect, why not use express?  it's a thin layer atop connect that provides additional interesting features.

[2011-06-21 19:53] lloyd commented on #34
done

[2011-06-21 19:53] #34 closed, assigned to nobody

[2011-06-21 20:02] #33 closed, assigned to lloyd

[2011-06-22 23:25] lloyd opened #35 "never store passwords in plaintext"
there's no need to store plaintext passwords on the server.  we should hash them right when they come in.

[2011-06-22 23:26] benadida commented on #35
bcrypt preferred with a randomly selected salt every time please :)

[2011-06-22 23:30] lloyd commented on #35
17:29 < lloyd|afk> benadida: when you say "every time" you mean generated at first run?
17:29 < benadida> every time the password is set/changed.
17:29 < lloyd|afk> benadida: or you mean randomly generate salt for each user?
17:29 < lloyd|afk> and store salt in the user record?
17:29 < benadida> for each new password for each new user.
17:29 < benadida> yes
17:29 < lloyd|afk> what's a good salt bi

[2011-06-23 07:43] #18 closed, assigned to lloyd

[2011-06-23 07:43] #35 closed, assigned to nobody

[2011-06-23 07:53] lloyd opened #36 "attempting to add an email that's already registered fails funny."
There are several cases where I might want to add an email address to my account that is already registered by someone else.

First, perhaps I forgot the password to my account and am re-verifying my emails as I need to use them to log in.

Next, maybe there's a shared email and I want to use it to log into some site, but my colleague (for instance) has already verified it.

At present, we let you

[2011-06-23 07:59] #36 closed, assigned to nobody

[2011-06-23 16:24] lloyd commented on #23
gosh, it sure seems like I can close this.

[2011-06-23 16:24] #23 closed, assigned to nobody

[2011-06-23 20:14] #32 closed, assigned to nobody

[2011-06-23 21:09] #30 closed, assigned to nobody

[2011-06-23 21:51] #31 closed, assigned to nobody

[2011-06-27 19:49] vthunder opened #37 "Need to present and have user agree to TOS & privacy policy"
Sad, but true.

[2011-06-27 19:51] lloyd commented on #37
need specifics.  are links at the bottom of the dialog and a default unchecked box sufficient?  are links the same as on all other moz sites?

[2011-06-28 16:59] shane-tomlinson opened #39 "navigator.id.getVerifiedEmail gives error from pages loaded using file:///"
browserid returns an error saying "Payload audience does not match provided audience."

[2011-06-28 23:57] toolness commented on #12
+1!!!!!!!!!!

[2011-06-28 23:57] toolness commented on #12
Sorry, that comment probably wasn't very helpful.

[2011-06-29 00:04] toolness opened #40 "Consider mentioning the dangers of using https in Python"
I'm working on a Python-based browserid auth mechanism, and realized that all the major built-in ways of doing HTTPS in Python--via `httplib`, `urllib`, and `urllib2`--offer no way to check the server's cert. This is terrible, and effectively means the communication occurs over HTTP.

Some searches on google yield two particularly interesting links:
- http://bugs.python.org/issue1114345
- http://s

[2011-06-29 00:07] toolness opened #41 "Consider mentioning CSRF validation steps on the server-side"
I wasn't sure whether I needed to do any fancy CSRF protection when I passed the assertion from the user's browser to my server, and Ben Adida said I should. We should probably mention this in the developer guide, no?

[2011-06-29 00:22] lloyd commented on #12
I don't know that there is anything _more_ helpful than enthusiasm.  Friday is a good day to hack on this!

[2011-06-29 00:26] lloyd commented on #41
Why do you need csrf protection here? An audience is embedded in the assertion that is already short lived.  What's the exploit here?  (apologies in advance for being dense)

[2011-06-29 00:30] lloyd commented on #40
+1, this warrants a line or two in step 3 of the tutorial, and as we evolve myfavoritebeer.org we should call it out again.

[2011-06-29 00:37] toolness commented on #41
I was actually wondering the same thing, but I figured that I just didn't understand the protocol well enough. It does sorta run circles around my head, but that's why I figured a definitive answer should be somewhere in the developer guide (or an FAQ or somesuch).

[2011-06-29 00:47] lloyd commented on #41
@benadida plz hop in and comment here.

If resolution is that there is nO real benefit to csrf here, I'm ok with docing, but would like to tuck it away in a FAQ and the sample code.... In the interest of keeping tutorial tight.

[2011-06-29 02:09] benadida commented on #40
Atul: you're concerned about the call to the verifier, right?

Agreed that this is a significant problem for Python. I think we may want to shell out to curl or, if the user is willing to install pycurl, use that:

http://pycurl.sourceforge.net/

[2011-06-29 02:11] benadida commented on #41
There is actually an attack, specifically a login CSRF attack. Attacker forces victim (in invisible iframe) to log in as the attacker. Victim doesn't notice, enters secret information in web site, attacker can now see the data entered. Details here:

  http://seclab.stanford.edu/websec/csrf/csrf.pdf

So in fact I think we do we need to urge CSRF protection at the moment of passing the assertion ba

[2011-06-29 04:47] lloyd commented on #41
thanks for that link, @benadida.  I'm a tad more sparse now.  (OT: It seems like referrer validation should be sufficient to harden our internal wsapi, a hole that's been bothering me, and now seems very simple to plug)

As far as documenting best practices for how the RP should get assertions up, where do you think we ought to doc that?  I feel like we need to flesh out myfavoritebeer.org and per

[2011-06-29 04:58] benadida commented on #41
referrer checking _might_ be sufficient for us because we're only over SSL, but I would still be more comfortable with more systematic CSRF protection in our forms.

As for where we document it, how about we create an advanced security page on browserid.org where we list the various issues, and we point to this one in a single line on developers.html?

[2011-06-29 21:02] jrconlin opened #42 "Initial Manage page does not show newly auth'd email"
I have no previous account or interaction with the site.

I registered an email, performed the verification, but when the verification switched to the manage page, the newly auth'd id was not listed. Refreshing the page showed the email.

[2011-06-29 21:07] lloyd commented on #42
more context and a proposed fix:

[code]

[2011-06-30 00:52] benadida opened #43 "mobile compatibility"
Android and iOS. From James Burke:

Android 2.2, Firefox Mobile 4.0.1 on a 7" Galaxy Tab: no messages in
the console about a possible error. I do not see another window in the
list of browser windows either. I tried the example on browserid.org,
but seems to have the same problem. Clicking the button does not show
the browserid window.

iOS 4, Mobile Safari, on iphone: a JavaScript error in the co

[2011-06-30 00:53] benadida opened #44 "clarify "argument" in verifier call"
hostname, port, etc...

[2011-06-30 04:42] lloyd commented on #44
s/argument/audience/

[2011-06-30 04:43] #44 closed, assigned to nobody

[2011-06-30 04:53] lloyd commented on #43
Really!?  Works on my iphone.  The only issues I'm aware of on iOS are that key generation takes too long and lacks user feedback, and that the dialog needs to be visually optimized for mobile devices.

James, would you mind appending the precise steps to reproduce the issue that you're seeing?  One case where such symptoms could occur is if you clicked to login, the dialog popped up, and then you

[2011-06-30 22:22] jrburke commented on #43
For iOS, I traced it down to using iScroll and having the sign in button inside that scrollable region. Apparently it was capturing some events and returned to default handlers in a way that Safari thought it was a popup and blocked it. So the fix was to not use iScroll for that region.

That fixed the pop-up, but after putting in my name and password, I waited for a while, and then eventually the

[2011-07-04 23:48] jrburke commented on #43
Looked more on Android 2.3.4 with Firefox 5 Mobile: the demo beer application does not work, and when I did some local debugging in my app, it looks like the window.open in _open_window() fails. Maybe Fx 5 is really strict about popup windows even, ones as a result of user action?

I wonder if makes sense to allow an API to getVerifiedEmail where my app could call it with an URL to return to once

[2011-07-07 23:03] jrburke commented on #43
I got mobile firefox to work by not passing window properties to the window.open call, and did [a pull request for that change](https://github.com/mozilla/browserid/pull/45)

That helps pop the window on mobile firefox, but after authentication is done, the window does not disappear on its own. I had to manually close it and then went back to my web app and it was signed in/had the verified email.

[2011-07-12 15:20] lloyd opened #46 "manage page: cancel link broke"
This link seems to purge server based records, but not client based records.

STR:
1. setup browserid, add emails
2. go to https://browserid.org/manage.html
3. click cancel link at bottom of page
4. click ok in modal popup
5. notice that email addresses still appear on page

[2011-07-12 16:19] lloyd commented on #46
@benadida reports that this issue is fixed in jmvc, we should close when that's merged, and there's no point in fixing it on master.

[2011-07-12 16:36] benadida opened #47 "login CSRF"
/wsapi/authenticate should be a POST with an anti-CSRF token

[2011-07-12 16:49] benadida opened #48 "set-key CSRF"
/wsapi/set-key should be a post with anti-CSRF protection

[2011-07-12 17:50] paulosman commented on #40
Might be worth mentioning Joe Gregorio's [httplib2](http://code.google.com/p/httplib2/) library which does certificate validation by default.

[2011-07-14 20:03] gijsk opened #49 "Contrast on grey 'sign in' button is way too low"
On https://browserid.org/developers.html, there's a grey sign in button that's promoted for use. However, its foreground and background color have a very small contrast ratio.

Ref: http://juicystudio.com/services/luminositycontrastratio.php

The button has text in #aeaeae, and a background gradient from #9a9a9a to #757575. Even on the darkest side, that's a contrast ratio of 2.08:1, under the 3:1

[2011-07-14 22:22] benadida opened #50 "Mobile Safari currently broken"
some kind of window channel confusion.

[2011-07-14 23:13] lloyd opened #51 "sketch up a test plan for QA"
a base level testing plan should be created as a starting point for QA for validating weekly pushes.

[2011-07-14 23:13] lloyd opened #52 "Stand up beta.browserid.org"
A beta installation that will serve as a testing target for QA and house weekly trains for a week before push to production.

[2011-07-14 23:14] lloyd opened #53 "Air out micro-train approach"
Spend some time writing up the proposed approach for trains in browserid.

[2011-07-14 23:19] joshtriplett opened #54 "Need a way to handle fallbacks without third-party scripts"
Currently, the proposed fallback code for browsers without native BrowserID support requires a script tag referencing a third-party script.  This will not work for sites which care about security and do not want to trust third-party scripts.  Ideally, the fallback code should have the option of hosting the fallback script natively on the same domain as the site.

[2011-07-14 23:24] joshtriplett opened #55 "Document the rationale for email providers needing BrowserID support"
The BrowserID spec proposes that both browsers and email providers should have native BrowserID support, rather than just relying on the email-me-a-crypto-token approach.  Getting the email provider involved in this process, rather than simply relying on sending an email and confirming receipt of that email, seems suboptimal (and prone to various abuses by email providers).  Please document the ra

[2011-07-14 23:29] joshtriplett opened #56 "browserid.org should support optional two-factor authentication"
browserid.org, as the primary (and ideally only) trusted third-party service used as a fallback for browsers without BrowserID support, needs to take great care with the identities it manages, so that other sites relying on BrowserID can count on a high level of security.  In particular, browserid.org should support optional two-factor authentication configured by the user, such as by verifying pr

[2011-07-14 23:33] joshtriplett opened #57 "Document the cryptographic details, particularly in the browser-native case"
Firefox Sync has extensive documentation on its use of cryptography, explaining precisely how that cryptography allows the user to store data on the Sync server without allowing the Sync server to access that data.  BrowserID needs comparable documentation on its use of cryptography to keep the user's identity secure without relying on any third party.  This documentation should also explain where

[2011-07-14 23:41] joshtriplett opened #58 "Document the process for changing an email address"
Many users still rely on email addresses that may change in the future without the possibility of forwarding.  Those users may eventually need to change their email address.  This should not result in the user having to re-establish their identity with every site they use, nor should it compromise the user's security if someone else later gets access to that email address.

Please, document the pr

[2011-07-14 23:54] benadida opened #59 "show a nice error message if channel fails to set up"

[2011-07-15 01:23] AdamWill opened #61 "Optionally require password for login"
If I'm understanding and testing BrowserID correctly, it assumes that the person sitting in front of the browser is the person who registered the BrowserID. When I log in to the demo site it does not ask for the password I set up; it simply presents a list of BrowserIDs that are registered with the browser, and when I pick one, it immediately logs in using that ID.

I can see the benefit of simpli

[2011-07-15 03:39] max-mapper opened #62 "use RFC3339 formatted timestamps"
In the Verified Email Protocol documentation timestamps are described as `<format TBD>`. I'd highly recommend using RFC3339/ISO8601 formatted timestamps for a few reasons:
- Lexicographically sortable
- Easy to read
- Easy to parse in JavaScript
- Easy to create in JavaScript: `JSON.stringify(new Date())`
- Supported in many other newer RFCs (like OStatus)

[2011-07-15 04:28] mtaksrud opened #63 "Safari LocalStorage"
Hi,

It seems the file https_browserid.org_0.localstorage in Safari/LocalStorage on OS X 10.6.8 is being set to -rw-r--r-- (644) which could potentially make it possible for other users than <user> to access the sqlite database and get the generated private key from the ItemTable. Shouldn't this file have a -rw------- (600) setting?

-morten

[2011-07-15 04:38] vthunder commented on #58
Yes, agreed. We need to help users be able to switch email addresses as easily as possible. It's relatively easy when the user still has access to the old email (though even that requires some site support). I think our "session API" (which is still in the works, but essentially it's a way for the page to tell the browser about who is signed in, and for the browser to be able to send events like "

[2011-07-15 04:48] lloyd commented on #63
You scared me there for a second.  It looks like the LocalStorage directory itself has 700 set:

[code]

Closing this issue, if it were really possible for unpriv'd users to get at each other's local storage it would be a pretty serious bug in Safari!

[2011-07-15 04:48] #63 closed, assigned to nobody

[2011-07-15 04:57] mtaksrud commented on #63
ah,... I forgot to check the parent directory, I just noticed that most files in the directory used 600. I'm sorry I scared you for no goof reason, but it looked like a serious bug at first glance. :) Good luck with everything. It looks great!!! ...and it is really needed!

[2011-07-15 05:22] benadida opened #64 "look into using Google's code for popup"
Google has code that does the popup RPC approach in a highly cross-browser compatible way:

https://code.google.com/p/oauth2-postmessage-profile/

We should see if we can replace our popup approach with theirs, so that we can gain IE7 compatibility and more.

[2011-07-15 06:45] globau opened #65 "browser.id/dialog takes too long to load"
https://browserid.org/dialog/dialog.html takes over 8 seconds to load for me - see http://i.imgur.com/eMx6d.png

[2011-07-15 06:47] joshtriplett commented on #58
Github has issue labels now; you might consider leaving the issue open and adding a specific tag to it, so that you can ignore all session API issues until working on the session API.

[2011-07-15 06:52] lloyd commented on #65
We're shipping development resources right now, we need to add a publishing step to combine and minify.  Forthcoming!

[2011-07-15 08:29] johndrinkwater commented on #22
Or libravatar.org
Or if you're verifying emails, you could read the X-Face header and get a _verified_ avatar.

[2011-07-15 13:25] baggachipz opened #66 "Typo on the browserid.org home page"
"For identity providers, BrowserID lets _your_ give your users"

Emphasis mine.

[2011-07-15 15:08] ehsan opened #67 "Signing in doesn't work on myfavoritebeer.org"
When I click Sign in on myfavoritebeer.org, and choose my browserID, nothing happens on the myfavoritebeer.org page.  Opening the error console, I see that we try to go to this link, which results in a 404 error:

[11:05:42.951] GET https://browserid.org/verify?assertion=eyJhbGciOiJSUzI1NiJ9.eyJhdWRpZW5jZSI6Im15ZmF2b3JpdGViZWVyLm9yZyIsImVtYWlsIjoiZWhzYW4uYWtoZ2FyaUBnbWFpbC5jb20iLCJ2YWxpZC11bnRpbCI

[2011-07-15 15:09] lehphyro commented on #61
The idea is to _not_ use any password at all. You can protect yourself by locking the computer when you're away and use different user accounts for each user in the same computer.

[2011-07-15 15:38] AdamWill commented on #61
As I said, there's still a significant advantage to BrowserID even if it does use a password (I suppose it would rather be a passphrase for the RSA key). To me, entering a password is no real inconvenience at all, but filling out a big form and waiting for a confirmation email to arrive are.

[2011-07-15 15:42] M66B commented on #67
Any GET on https://browserid.org/verify to verify an assertion doesn't seem to work.

[2011-07-15 15:43] codeprogression opened #68 "Getting Access-Control-Origin-Access error"
When verifying assertion, I am getting the following error:

I was able to verify assertions until about 11pm MDT.  I am assuming it has to do with this [commit](https://github.com/mozilla/browserid/commit/965054bd2ceefa4d717605c5dd5be014e2f7367d) but I may be wrong.

[2011-07-15 15:44] #67 closed, assigned to nobody

[2011-07-15 15:45] johnjbarton opened #69 "Mismatched passwords work on myFavoriteBeer"
Go to http://myfavoritebeer.org/
Click the signin button
create a new login
enter mismatched passwords
click return on the mac keyboard
Surprise! you are logged in. you don't feel very confident of this new service....

[2011-07-15 15:46] codeprogression commented on #68
Duplicate of #67. Seems to be fixed now.

[2011-07-15 15:46] #68 closed, assigned to nobody

[2011-07-15 15:47] lloyd commented on #68
thanks for the report, codeprogression!

[2011-07-15 15:51] lloyd commented on #69
@benadida Did we loose proper disabling of commit button until passwords are identical in port to jmvc?

@johnjbarton Thanks for the report!

[2011-07-15 15:58] AdamWill commented on #61
A further problem with un-protected keys is highlighted by this comment on a story about the system: http://forums.theregister.co.uk/post/1120710 . If the key is not passphrase-protected then my identity is only as secure as my browser, and all browsers have been subject to vulnerabilities forever. If a vulnerability in the browser allows an attacker to retrieve my private key from the browser's s

[2011-07-15 15:59] #66 closed, assigned to nobody

[2011-07-15 16:12] johnjbarton commented on #69
I got an email from browserid.org:

Error encountered while attempting to confirm your address. please try again. (error message: unknown)

Obviously the email should not be sent, the dialog should not close while the passwords don't match.

[2011-07-15 18:51] myers commented on #58
I think it might be done this way:

Start:
1. user creates BrowserID me@foo.com
2. user creates new account on example.com and uses the site for months
3. user now wants to change email addresses
4. user creates BrowserID me@bar.com
5. user logins in to example.com and requests to change his email
6. example.com asks for a new BrowserID
7. user sends his new BrowserID me@bar.com
8. example.com rep

[2011-07-15 21:24] lloyd opened #70 "add mozilla labs logo to browserid site and dialog"
Help people understand that browserid is supported by _mozilla_, and that it's experimental (_labs_), with the mozilla labs added to dialog and site.

[2011-07-15 21:36] lloyd opened #71 "migrate to mysql"
port db.js over.

[2011-07-15 21:44] lloyd commented on #46
fixed.

[2011-07-15 21:44] #46 closed, assigned to nobody

[2011-07-15 23:03] ygjb opened #72 "Mozilla Security Review of browserid"
The security review is in progress, tracker bug at https://bugzilla.mozilla.org/show_bug.cgi?id=644776

[2011-07-16 01:25] tj commented on #71
:(

[2011-07-16 01:31] ghost commented on #71
I don't get it... shouldn't this be a library, not a project with a blessed database backend?

[2011-07-16 03:15] tj commented on #71
I think it's more app than it is library. I hate open id because of all the different sites, so this caught my eye. With open id I couldn't even remember which damn site I created my account on because they are all so insignificant

[2011-07-16 03:54] lloyd commented on #71
Ok, this bug is an odd place to talk about this, but it's where the party is at, so whatever.

The browserid repository contains a couple different things:
- _the browserid server_ - a node.js server which implements a web services api, stores a record of users, the email addresses they've verified, a bcrypted password, outstanding verification tokens, etc
- _the verifier_ - a stateless node.js se

[2011-07-16 03:57] benadida opened #73 "email verification link should ask for confirmation"
and be a POST with CSRF protection.

(thanks Noah Mendelsohn)

[2011-07-16 04:13] tj commented on #71
mysql just makes it annoying to contribute, that's why the frown. A little abstraction layer should take care of that though.

[2011-07-16 04:30] lloyd commented on #71
Yeah, agree, I loathe loosing the near zero config setup we've got now.  I'll shoot for preserving a no config persistence impl for local dev.  Stay tuned.

[2011-07-16 17:45] shane-tomlinson opened #74 "adding a second email to browserid can fail."
I was adding the browserid plugin to my wordpress blog just now and came across an issue adding a new email to my browserid account.  I am able to replicate this on both myfavoritebeer.org and shanetomlinson.com, same error.

When adding a new email address to the account, the dialog says:

"One Moment Please...
We're adding this email to your account, this should only take a couple seconds."

But

[2011-07-16 20:45] asbjornenge opened #75 "BrowserID fails to communicate with Chrome extension window."
Calling navigator.id.getVerifiedEmail from a chrome-extension:// "protocol" will cause...

Uncaught Channel.build() called without a valid window argument - buildjschannel.js:201

I'd love to use BrowserID for my chrome apps too!

[2011-07-16 20:52] lloyd commented on #75
@asbjornenge - this will take a _little_ bit of tweaking.  The key problem to solve here is the ability to post messages (using postMessage) between the addon and the content window that's spawned.  currently in channel.js, line 35 you can see we're using window.opener from the opened content (err, "dialog") window.

I have to focus on other issues for a while, but would def be able to review and

[2011-07-16 20:53] lloyd commented on #74
I can definitely reproduce this.  wtf?  /me digs.

[2011-07-16 20:57] lloyd opened #76 "create a 'Tools' page on browserid.org"
With the drupal plugin and the wordpress plugin, we should create a little page that features all of the 3rd party libraries and tools available to help people use browserid.

[2011-07-16 21:18] lloyd commented on #74
ok, did some digging and I think I have a simplified way to reproduce the problem:
1. go to myfavoritebeer.org and click signin
2. if you do not have local keypairs set up (no emails in the list) log in
3. select an email and click the blue sign in button which dismisses the dialog and signs you in successfully
4. go into your browser and delete the cookie (`browserid_state`) for browserid.org
5.

[2011-07-17 04:28] M66B commented on #65
Maybe there should be a message displayed in the dialog that the performance will be improved in the meantime. Before you know it people have the perception that BrowserID is slow.

[2011-07-17 10:35] asbjornenge commented on #75
"Native" support seems like the way to go. Since chrome apps run sandboxed they are by design unable to communicate with spawned windows etc. But extensions can easily talk to other extensions, so that would solve the issue.

I can look into it and see if I can be of any help here. Haven't dug too deep in the code yet. Might get some time later today :-) Could you help by pointing me in the right

[2011-07-17 18:46] benadida opened #77 "myfavoritebeer should point out that secure verification is server-based"

[2011-07-17 18:58] benadida commented on #17
we should think very carefully about making logout convenient in all cases.

[2011-07-17 18:59] benadida commented on #17
darn github makes it too easy to close issues. This was never closed.

[2011-07-17 19:36] benadida commented on #69
fixed in checked in code, to be released soon.

[2011-07-17 20:34] M66B opened #78 "Support for internationalized domain names"
See here for an explanation: http://en.wikipedia.org/wiki/Internationalized_domain_name

On PHP $_SERVER['HTTP_HOST'] contains the ASCII version of the 'audience', while the server seems to expect the Unicode version. Unfortunately PHP has no native support to translate one into another. Few servers offer the function idn_to_utf8: http://php.net/manual/en/function.idn-to-utf8.php.

This class can

[2011-07-17 20:58] lloyd commented on #69
@benadida reading between the lines, shall I do some testing and take this live?

--lloyd

On Jul 17, 2011, at 1:36 PM, benadidareply@reply.github.com wrote:

[2011-07-17 20:59] benadida commented on #69
yes, I won't commit my half-baked CSRF protection yet :)

[2011-07-17 21:00] lloyd commented on #69
Oh yeah, next time, include "issue #69" in your commit msg and the big will be updated automatically.  Unlike "closes #69" the issue won't actually be _closed_

--lloyd

On Jul 17, 2011, at 1:36 PM, benadidareply@reply.github.com wrote:

[2011-07-17 21:02] lloyd commented on #69
K, do csrf on feature branch and I'll push to prod in the next 16 hrs.

--lloyd

On Jul 17, 2011, at 3:00 PM, benadidareply@reply.github.com wrote:

[2011-07-17 21:30] lloyd commented on #65
Fix by monday

--lloyd

On Jul 16, 2011, at 10:28 PM, M66Breply@reply.github.com wrote:

[2011-07-17 22:23] benadida opened #79 "additional CSRFs stage_user"

[2011-07-17 22:24] benadida commented on #74
@lloyd we should think about whether we want to let the user go ahead if they're not signed in. I understand why we're doing it, but it feels a bit odd that, after clearing your cookies, you can still sign in to sites with the keys in there. For multi-user computers, that could be problematic.

[2011-07-18 07:48] M66B commented on #78
UTF8 domain names seems to give 502 Bad Gateway always when verifying :-(
Sending the ASCII domain name results in 'Payload audience does not match provided audience'
So, no go for IDN.

[2011-07-18 13:37] M66B commented on #78
Some more info:

PHP audience: www.xn--idyry-yua.no ($_SERVER['HTTP_HOST'])
PHP audience UTF-8: www.idyrøy.no
JS audience: www.idyrøy.no (window.location.hostname)

[2011-07-18 15:06] lloyd commented on #69
let's not close issues until they're live in production (or as soon as we get beta servers stood up, it'll be on beta).

[2011-07-18 15:13] lloyd commented on #69
and now, live in production.

[2011-07-18 15:13] #69 closed, assigned to nobody

[2011-07-18 15:14] lloyd commented on #65
3c5adc69f468036c2a432b8d52b1f9e722ef70dc repairs the jmvc compress step, a prerequisite to fixing this.

[2011-07-18 15:54] joshtriplett commented on #58
That looks about right, except that I'd suggest replacing steps 5-8 with:
1. User tells their browser (or browserid.org) that they want to switch from me@foo.com to me@bar.com.
2. Later, user logs into example.com using BrowserID.
3. During the login procedure, the site automatically gets told that the user wants to switch email addresses, without the user having to find a site-specific "change em

[2011-07-18 16:11] shane-tomlinson commented on #74
I agree with Ben, esp with regards to the multi-user computers, which is still very common in developing countries (Argentina for instance has an internet cafe on every 2nd block in the major cities).  Quite frequently, the user logs out of the machine, the cookies are all cleared for the browser, but I am not sure if this includes localStorage or not.  Is this something that we could enforce, whe

[2011-07-18 18:51] #70 closed, assigned to lloyd

[2011-07-18 20:04] lloyd commented on #74
In order to have this discussion I think we need to know how frequently must users re-authenticate to BrowserID?

[2011-07-18 20:06] lloyd commented on #77
https://github.com/lloyd/myfavoritebeer.org/blob/master/static/js/main.js#L30

Now we should actually fix it.

[2011-07-18 20:06] #77 closed, assigned to lloyd

[2011-07-18 20:09] lloyd commented on #73
are you suggesting adding another click into the sign up flow?  How about we move password selection onto the landing page, entry of a password can be implicit confirmation.

[2011-07-18 20:34] lloyd opened #80 "l18n: BR-pt"
translate the site and dialog into Brazilian Portuguese.

[2011-07-18 20:56] benadida commented on #73
@lloyd sure, we could do that, although that seems like a larger change than what we strictly need to secure that process. Let's add the confirm click to secure the system first, and then I'm happy if, in our UX redesign, we put the password selection on that latter page.

[2011-07-18 21:00] clochix opened #81 "l18n: FR-fr"
Ping me when the project will be ready for I18n, I can help for the french translation

[2011-07-18 21:29] faustort commented on #80
Here I am. Will be a pleasure to help when it could be possible .
The correct term is:
pt-BR - Brazilian Portuguese
pt - European Portuguese

[2011-07-18 21:35] lloyd commented on #81
w00t

[2011-07-19 05:17] benadida opened #82 "make sure audience captures full origin"
scheme and port, in particular.

[2011-07-19 06:16] benadida commented on #79
done in CSRF branch, merging soon.

[2011-07-19 06:58] lloyd commented on #65
fixed, in production.  give it a test?  better?

[2011-07-19 06:58] #65 closed, assigned to nobody

[2011-07-19 07:01] M66B commented on #65
Yes, I already noticed it got a lot better! Thanks.

[2011-07-19 07:09] lloyd commented on #65
w00t.

[2011-07-19 11:32] M66B opened #83 "l18n: nl_NL & nl_BE"
Just give me a yell ...

[2011-07-19 14:21] lloyd commented on #50
works for me now.

[2011-07-19 14:21] #50 closed, assigned to nobody

[2011-07-19 19:21] lloyd commented on #52
Waiting on the beta VM.  bug referencing that (which may not be publicly visible, sorry): https://bugzilla.mozilla.org/show_bug.cgi?id=669019

[2011-07-19 19:24] lloyd commented on #51
QA has started a test plan on an etherpad: http://etherpad.mozilla.com:9000/BrowserID-QA-TestPlan-DRAFT1

The following flows are intended to augment the _BASIC FUNCTIONAL/ACCEPTANCE TESTS_ section:

testing via dialog / myfavoritebeer.org
1. Use new email address to sign into MFB (inline browserid account creation)
2. Add second email to existing browserid account via MFB
3. Stage two new emails

[2011-07-19 22:39] lloyd commented on #71
the proposed approach: http://irclog.gr/#show/irc.mozilla.org/identity/1176

[2011-07-20 02:38] tj commented on #71
cool man sounds good, depending on the abstraction layer it doesn't even need to be SQL really if it's just arbitrary stuff like `User.get(id, fn)` blah blah

[2011-07-20 03:00] benadida opened #84 "don't display "passwords different" until user starts typing something.."
.. in verify field.

[2011-07-20 03:01] benadida opened #85 "improve account management on browserid.org"
create account from there?

[2011-07-20 03:06] lloyd opened #86 "UX: click on email address to select it"
this is in the email picker dialog pane.  was broken with the jmvc merge.

[2011-07-20 12:17] M66B commented on #78
Even more info, the login dialog displays:

What email address would you like to use to sign into www.xn--idyry-yua.no?

So the ASCII and UTF-8 version of the domain name seems to be mixed up.

[2011-07-20 16:04] M66B commented on #78
This issue is browser dependent:

FF:
Shows this in small popup window: www.idyrøy.no
Sign In ERROR:
Verification failed
Payload audience does not match provided audience.

Chrome:
Shows this in small popup window: www.xn--idyry-yua.no/iDyroy
Sign in OK.

IE9:
Doesn't work.

Verification of the assertion was done with the ASCII version.
Unicode version always results in 'Bad Gateway'.

[2011-07-20 18:35] steelman opened #87 "add type to <link rel="public-key" ... />"
The link tag with rel="public-key" looks as if it was very useful for distributing any public keys including PGP and X509 (I know they are certificates). To avoid problems it seems quite reasonable to add a type like e.g. "application/x-browserid-publickey" or something like it in the primary/lib/webfinger_template.xml file. And of course make the relaying party look for keys of exactly this type.

[2011-07-20 20:20] shane-tomlinson opened #88 "Show a locally usable URL on the node console for email verification."

[2011-07-20 21:02] lloyd opened #89 "test the snot out of db.js"
this is the "model", the little abstraction over the persistence layer.  We should test the snot out of it in preparation for supporting different persistence layers.

[2011-07-20 21:04] lloyd opened #90 "all db.js functions should return async"
currently we're cheating and some of the db.js functions which should actually be persisting data are just using in-memory storage.  This makes sync apis possible.  to close this issue, one should go through and ensure that all of the db.js functions which hit persistent storage are async

[2011-07-20 21:06] lloyd opened #91 "email verification secrets should be persisted"
currently we're storing verification secrets in memory in a javscript object.  we should be persisting them, which will let us horizontally scale and do zero downtime code updates.

[2011-07-20 21:09] #86 closed, assigned to nobody

[2011-07-20 21:10] shane-tomlinson opened #92 "Accessibility updates needed - labels, etc."

[2011-07-20 21:25] #89 closed, assigned to lloyd

[2011-07-20 22:01] shane-tomlinson opened #93 "In "choose email" be able to submit the form by pressing enter while the radio buttons are focused."

[2011-07-20 22:57] shane-tomlinson commented on #93
d1d66f017f910e3fca0802c4a624012c04593273 adds this universally.

[2011-07-20 22:57] #93 closed, assigned to shane-tomlinson

[2011-07-20 22:58] shane-tomlinson commented on #92
Closing this, basic updates have been made, all fields have labels, the first input element is focused when showing a screen, user can hit the enter key within a form to submit.

[2011-07-20 22:58] #92 closed, assigned to shane-tomlinson

[2011-07-20 23:00] shane-tomlinson opened #94 "Think of cleaner ways to do form validation, including for IE7."

[2011-07-20 23:28] shane-tomlinson opened #95 "All parts of site should have WIA-ARIA roles."
http://www.w3.org/WAI/intro/aria

[2011-07-21 00:29] lloyd commented on #94
ie7 is just a nice to have...  I wonder if @vthunder can get us some numbers / weigh in.

--lloyd

On Jul 20, 2011, at 5:00 PM, shane-tomlinsonreply@reply.github.com wrote:

[2011-07-21 21:48] lloyd opened #96 "verifier should accept post rather than get"
to avoid logging audience and assertion.

[2011-07-21 22:00] ryanttb opened #97 "Cannot create new BrowserID account in IE9"
The popup that appears after clicking the "Sign in" link on http://myfavoritebeer.org/ has no content.

Screenshot: http://skit.ch/bui3

[2011-07-21 22:16] lloyd commented on #97
ok, @stomlinson - any interest in diagnosing what's up on IE9?

[2011-07-21 22:18] #96 closed, assigned to lloyd

[2011-07-21 22:22] ryanttb commented on #97
IE 9.0.1 if that helps. I notice on Chrome that there is a very quick screen that says something like, "Communicating with..." before showing the login screen. However, in IE9 I don't see that.

[2011-07-21 22:26] ryanttb commented on #97
I turned on script debugging. It's breaking on this line:

c.window.postMessage(JSON.stringify(a),c.origin)

with this error:

SCRIPT16386: No such interface supported

production.js, line 231 character 121

[2011-07-21 23:23] vthunder opened #98 "make verifier support POST only (turn GET off)"
as the title says.

this depends on doing all we can to minimize site breakage.

[2011-07-21 23:40] shaver commented on #98
This.

[2011-07-22 00:09] shane-tomlinson opened #99 "any bad account name crashes node on login"
Any bad account name causes a node crash on login.

/Users/moco/development/browserid/browserid/lib/wsapi.js:150
      var success = bcrypt.compare_sync(req.body.pass, hash);
                           ^
Error: Params must be strings.
    at /Users/moco/development/browserid/browserid/lib/wsapi.js:150:28
    at /Users/moco/development/browserid/browserid/lib/db.js:271:16
    at Statement.<anonymou

[2011-07-22 00:16] lloyd commented on #99
fixed by c1f4efb619b66e1eee9199d3026dc47816b9eabc

[2011-07-22 00:16] #99 closed, assigned to nobody

[2011-07-22 04:25] shane-tomlinson opened #100 "Fix layout issues in Chromium and Firefox for Linux"

[2011-07-22 05:23] #100 closed, assigned to shane-tomlinson

[2011-07-22 05:54] shane-tomlinson commented on #97
lloyd: I am getting the same error as TrippingTheBits.  The problem is with cfg.window.postMessage in line 409 of include.js.  Will dig further.

[2011-07-22 05:57] shane-tomlinson commented on #97
lloyd: some googling reveals: http://blogs.msdn.com/b/ieinternals/archive/2009/09/16/bugs-in-ie8-support-for-html5-postmessage-sessionstorage-and-localstorage.aspx  See bug #1.  IE9 is STILL broken in this regards it says at the bottom.

[2011-07-22 15:31] lloyd commented on #98
Bump the issue on twitter on monday morning, push a fix on tuesday morning?

[2011-07-22 15:33] shaver commented on #98
Yeah, not worth shipping with a warning to bridge, IMO, because people choose when to upgrade.

[2011-07-22 17:36] joshtriplett opened #101 "Account creation needs to clarify "password""
See the writeup at http://www.yesodweb.com/blog/2011/07/browserid-support , and note the confusion about passwords:

"The initial login window was unclear, asking for email and password. This implied that she was supposed to provide the password for her email account, which made her even more concerned."

[2011-07-22 19:33] lloyd commented on #101
discussion and proposals:

http://irclog.gr/#show/irc.mozilla.org/identity/1506

[2011-07-22 20:10] #90 closed, assigned to lloyd

[2011-07-25 17:35] lloyd commented on #52
VM is up, waiting on DNS/load balancer: https://bugzilla.mozilla.org/show_bug.cgi?id=673973

and SSL cert: https://bugzilla.mozilla.org/show_bug.cgi?id=673974

[2011-07-25 20:23] lloyd opened #102 "dev.browserid.org"
This should be an environment that tracks the "develop" branch, which allows developers to test their changes immediately after pushing them to develop.  VM is up, waiting on DNS and SSL to actually set the box up:

https://bugzilla.mozilla.org/show_bug.cgi?id=674037
&
https://bugzilla.mozilla.org/show_bug.cgi?id=674034

[2011-07-25 22:34] shane-tomlinson opened #103 "Update styles to go along with new diagrams"
http://people.mozilla.com/~faaborg/files/projects/browserID/browserid%20web%20flow%20i1.png

[2011-07-25 23:41] lloyd opened #104 "closing dialog doesn't return to RP"
when you close the browserid dialog, it should be equivalent to hitting cancel, and the RP should get a message.

[2011-07-26 22:58] Falco20019 opened #105 "l18n: DE-de"
I could translate it into german

[2011-07-26 23:14] shane-tomlinson opened #106 "Provide info to user about last-used email at current site."

[2011-07-27 00:15] 21echoes commented on #106
disagree-- order consistently, have the default selection based on last email used for the site.

[2011-07-27 16:56] shane-tomlinson commented on #104
Fixed in 906f42885ae699f41504e1589df56d61e0bbcfbb.  Pull request issued.

[2011-07-28 02:38] mattbasta opened #108 "Email/password should persist when creating new account"
If you enter an email/password in the login box and realize you don't have an account, pressing "Don't have a BrowserID yet?" shouldn't clear those fields. Instead, the contents should remain and the user should only need to fill in the "Verify" box.

[2011-07-28 02:51] mattbasta commented on #61
If the attacker has access to your computer, they can just as easily install a user script that scrapes the contents of every page and posts it back to a server along with your session ID, completely transparently to you. Making the argument that a password is necessary to protect against in-person attacks is like saying that a bank needs to start locking its front door during business hours to ke

[2011-07-28 02:56] mattbasta opened #109 "The "Don't have a BrowserID yet?" link needs to be more visible"
To new users, the "Don't have a BrowserID yet?" link may be too small/difficult to find/ignorable. Perhaps it should be a button with the same gray as the Cancel button, positioned in the lower left.

[2011-07-28 03:18] lloyd commented on #108
have a look at the current proposed UX iteration and weigh in here: http://lloyd.io/improving-browserid-ux

That proposal changes things.

[2011-07-28 03:19] lloyd commented on #109
have a look at the current proposed UX iteration and weigh in here: http://lloyd.io/improving-browserid-ux

That proposal changes things.  Specifically, look at **Streamline first use**.  I'd love your thoughts.

[2011-07-28 03:27] lloyd commented on #106
everyone seems to agree we can be smart about default selection, and I'm guessing that the average user has fewer than three emails anyway, which makes this issue mostly moot.

How about we start with consistent ordering and a smart default, then refine from there as needed?

[2011-07-28 03:43] AdamWill commented on #61
matt: 'just as easily' is a stretch. I'm thinking mainly of casual attacks - or even inadvertent ones - by non-skilled people, here. in case you haven't looked at facebook lately, lots of people find this just hilarious, but they're probably not skilled enough to do a more sophisticated attack.

[2011-07-28 05:47] mattbasta commented on #61
I think that particularly in the case of BrowserID, this is not a "vulnerability," per-se. It's the same scenario if you check the "Remember Me" box on your Facebook account, or use the Remember Password feature of any browser. And if your session hasn't expired and you're still logged in, you're still wide open (BrowserID or not).

The sheer nature of the web makes it impossible to enforce identi

[2011-07-28 05:56] AdamWill commented on #61
again, speaking personally, I'm perfectly happy to enter email address and password every time I log in anywhere. It's the waiting-for-authentication-email-and-clicking-on-link step that's a drag, and BrowserID's main benefit for me is avoiding that. Your proposal seems reasonable, though a bit obscure (I'm not sure I'd expect the 'do not track' setting to affect identity behaviour).

[2011-07-28 19:40] asbjornenge commented on #75
Ok, so... I've been looking into what chrome extensions can do and digging a bit in the browserid source....

What I've basically done is made an extension based on your browserid/static files, and a little bid_ext_include.js that can talk to it. And when I say I've done this I mean in a way that its totally not working properly and looks like a mess :P.

What I think I should do is just to make m

[2011-07-28 20:56] shane-tomlinson commented on #106
I can agree with these statements, we will have to think about scrolling issues if the user has many email addresses and the default selection is off the screen.

[2011-07-29 19:27] ryanttb commented on #97
Any new thoughts on this? What does Twitter use, JavaScript-wise? They post from their popup back to the app after the user Approves the link & I know it works in IE.

[2011-08-01 20:43] #51 closed, assigned to nobody

[2011-08-01 20:43] lloyd commented on #53
done:  http://lloyd.io/applying-gitflow

[2011-08-01 20:43] #53 closed, assigned to lloyd

[2011-08-01 21:02] lloyd commented on #106
just to link the two threads, there are some interesting comments about approaches other than reordering attached to the ux post: http://lloyd.io/improving-browserid-ux#comment-267526891

[2011-08-01 21:31] #79 closed, assigned to nobody

[2011-08-01 21:32] #47 closed, assigned to nobody

[2011-08-01 21:32] #48 closed, assigned to nobody

[2011-08-01 21:32] mattbasta commented on #43
As it stands, tgavankar and I can't get BrowserID to work _at all_ for any mobile browser.
- Android stock browser seems to freeze at a "please wait" screen for some devices, though it occurs on all the smartphones that I've tested our code on.
- Firefox Mobile doesn't load the login popup at all
- iOS closes the keyboard after a second or so of focus on the email/password field, making it impossi

[2011-08-01 21:45] lloyd commented on #43
@stomlinson Hey, will you have a moment to look at this in the coming day or two?

[2011-08-02 03:57] lloyd commented on #102
inches away.  blocked by a DNS issue: https://bugzilla.mozilla.org/show_bug.cgi?id=673973

[2011-08-02 03:57] lloyd commented on #52
inches away. blocked by a DNS issue: https://bugzilla.mozilla.org/show_bug.cgi?id=673973

[2011-08-02 13:05] lloyd commented on #74
bump.

What's the longest we'll let a user continue to use browserid without re-typing their password?

I suggest for first run, 24 hours.  Subsequently, 2 weeks.

thoughts?

[2011-08-02 13:16] lloyd opened #111 "pick a service/toolchain for i18n"
Here's a candidate: https://webtranslateit.com/

[2011-08-03 01:14] lloyd commented on #102
c

[2011-08-03 01:14] #102 closed, assigned to lloyd

[2011-08-03 01:14] lloyd commented on #52
better late than never:  https://diresworb.org

[2011-08-03 01:14] #52 closed, assigned to lloyd

[2011-08-03 16:24] benadida opened #112 "mixed content cause YouTube video"
https://browserid.org/users

[2011-08-03 17:31] lloyd commented on #112
we could locally host the video and use HTML5 to render it, but some people would be alienated.  The fallback html could be just a plain ol' link over to the video on youtube?

[2011-08-03 18:41] shane-tomlinson commented on #112
I have changed the Youtube request to be https, issuing pull request momentarily.

[2011-08-03 18:45] shane-tomlinson commented on #112
Pull request is issue #113

[2011-08-03 18:45] #112 closed, assigned to nobody

[2011-08-04 18:02] benadida opened #114 "add ability to change password"

[2011-08-04 18:03] benadida opened #115 "on cancel account, clear up the UI"
canceling a cancel action is weird.

[2011-08-04 19:08] AndrewBarrettCa commented on #115
I agree. At https://browserid.org/manage clicking the "cancel your account" link results in the prompt "Are you sure you want to cancel your account?" with options "Cancel" and "OK". This results in an odd situation: If you _don't_ want to cancel your account then you need to press "cancel". Perhaps, the link and the prompt should replace the word "cancel" with "delete" but keep the "Cancel" and "

[2011-08-04 20:51] shane-tomlinson opened #116 "in browserid popup, link should be to mozillalabs.com, not mozillalabs.org"

[2011-08-04 21:43] benadida opened #117 "review cookie-sessions"
the cookie value is encrypted, but not authenticated, so need to explore potential issues there.

[2011-08-05 00:52] shane-tomlinson opened #118 "wsapi/set_key failing with "attempt to write to readonly database""
https://browserid.org/wsapi/set_key

POST info:

csrf    282f6f5c5f531779ee689131d6e5a09b
email   set117@yahoo.com
pubkey  -----BEGIN PUBLIC KEY----- MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAL8UjJ3AXNHf+puuJM44kwNrVwkjHsyW WuZJOjjQRHFWALnYaGy5AQ1w22xYdq4CDWX8p9Zvv+s60/rOb7lLWuECAwEAAQ== -----END PUBLIC KEY-----

RESPONSE:

{"stack":"Error: attempt to write a readonly database","message":"attempt to write

[2011-08-05 00:54] shane-tomlinson commented on #118
Steps to reproduce:

1) Open a browserid login dialog
2) Logout
3) Log back in - in the browserid login dialog, open firebug or similar - check out your wsapi/set_key requests.

[2011-08-05 01:17] lloyd commented on #118
should be fixed now.  I "improved" deployment on the production machine as part of todays push.  in the process I neglected to give user/group www-data write access to the database.

@shane-tomlinson: please confirm the issue is fixed for you!

[2011-08-05 01:17] #118 closed, assigned to lloyd

[2011-08-05 02:48] stomlinson commented on #118
@lloyd - this is now fixed for me, thanks for the update!

[2011-08-05 03:06] benadida commented on #117
moving to connect-cookie-session, this should be better.

[2011-08-05 19:19] #71 closed, assigned to lloyd

[2011-08-05 19:19] #91 closed, assigned to lloyd

[2011-08-05 21:54] lloyd opened #119 "log rotation"
set up log rotation on dev, standardize paths and naming, update documentation (DEPLOYMENT.md)

[2011-08-05 23:54] shane-tomlinson commented on #43
@jrburke - thanks for the debugging, I am going to start on fixing this next week.
@lloyd - What all devices do we need?  We have been approved for submitting a bug to get what we need.

[2011-08-05 23:55] shane-tomlinson commented on #43
Verifying that this is not working on Android 2.3 default browser, it opens BrowserID, but closes the original window.

[2011-08-06 02:12] drupalista-br commented on #111
This one here http://crowdin.net/join?opensource is free for opensource projects

[2011-08-06 02:20] drupalista-br commented on #111
Here is another one https://launchpad.net/+tour/translation

[2011-08-08 17:00] lloyd opened #124 "write up scaling to 1M, strategy"
maybe a blog post on lloyd.io?

[2011-08-08 17:03] lloyd opened #125 "create tools for load simulation and capacity estimation."
however the tools work, the should be able to apply load and output the number of "active users" represented by that load.

a reasonable design of this tool will require a bit of estimation, mapping an active user into transaction types per unit time...

[2011-08-09 16:39] lloyd commented on #74
bump.

[2011-08-09 18:00] lloyd opened #141 "code licensing"
I propose the moz tri-license for everything?  cause that's how we roll?

[2011-08-09 18:03] shane-tomlinson commented on #74
@lloyd, are you suggesting for the first login, make this 24 hours and any subsequent login, 2 weeks?  I think this is great if we know the device is a personal/non-shared device.  Re-entering a password after 24 hours will help the user remember what their initial password selection, and perhaps on a weekly basis afterwards.  I am worried that 2 weeks may be too long, but is there any research on

[2011-08-09 18:09] lloyd commented on #74
Yeah, the 24 hour requirement was to make users eat their peas and re-type their password within a day to help memory.

re 2 weeks vs 1 week?  I don't care, let's let someone else make this decision.  If its > 1 week, I don't mind forcing the user to be authenticated all the time (type in their password more often).

w.r.t. shared computers, we should move this to a separate issue.  I think our so

[2011-08-09 18:10] shane-tomlinson commented on #141
I am reading over the license info now, one statement that may possibly concern us (from http://www.mozilla.org/foundation/licensing.html):

Website Code

You may use the HTML and CSS files on www.mozilla.org or other mozilla.org websites for your web site - as long as you don't use the visual design or style (the colors, gradients, fonts, etc.). In other words, you can use the HTML and/or CSS cod

[2011-08-09 19:24] vthunder commented on #141
Definitely should tri-license all our code.

Shane, as for the website bits, I don't see a conflict. Our pages are hosted by us, and we display the RP's logo, not the way around. RPs do display the "sign in" button, but that is not a trademark, I think.

[2011-08-09 20:30] tonychung opened #142 "Give jbonacci and tchung more access"
Hey team,  Identity QA would like to request more access and permissions to this site.   Currently, neither James or I receive any emails or notifications when issues are created and updated.

Please grant access to us.
Thanks!  Tony

[2011-08-09 20:38] lloyd commented on #142
check this: https://github.com/account/notifications

under _issues_ are several knobs to toggle notification options.  I think the interesting one is "new emails for issues in _my_ repositories".  I'll add you and jbonacci as owners of the repo, you guys check that, and we should be good, right?

[2011-08-09 20:42] lloyd commented on #142
Hey @tonychung,

I created a new github team, `identity-qa` and gave you guys push and pull access on the repository.  This combined with "new emails for issues in my repositories" _should_ get you guys emails for issues.  Please test it out and re-open if anything is not right!

Here's the new team for reference: https://github.com/organizations/mozilla/teams/78529

[2011-08-09 21:27] lloyd commented on #142
@jbonacci - you're getting notifications now for new issues opened by people other than yourself?

[2011-08-09 22:12] lloyd opened #143 "a new issue to test that theory"
https://github.com/mozilla/browserid/issues/142

[2011-08-09 22:13] lloyd commented on #142
reopened.  created **[a new issue to test that theory](https://github.com/mozilla/browserid/issues/143)**, please close this issue if you got an email.  please comment if you didn't

[2011-08-09 22:14] lloyd commented on #143
this issue has served its purpose, closing.

[2011-08-09 22:14] #143 closed, assigned to nobody

[2011-08-09 22:28] tonychung commented on #143
woot woot!  i see myself now

[2011-08-09 22:33] lloyd commented on #142
cool! tony reports it's fixed: https://github.com/mozilla/browserid/issues/143#issuecomment-1768100

For the record, in order to get notifications for a repository owned by an organzation, you must have at least push & pull access to the repository and have notifications enabled for "new issues in my repositories".

closing.

[2011-08-09 22:33] #142 closed, assigned to lloyd

[2011-08-09 22:45] #141 closed, assigned to nobody

[2011-08-10 06:37] Seldaek commented on #141
I'd have preferred a MIT-style license, for such open project it sounds like a much better approach than confusing the hell out of people with three licenses, two restrictive/semi-restrictive and one not so broadly spread, which means you have to read and try to understand it, and given the length of it, that's barely possible for a non-lawyer.

[2011-08-11 19:23] shane-tomlinson opened #145 "BrowserID Popup does not close in Opera"

[2011-08-11 19:23] shane-tomlinson opened #146 "BrowserID does not work keyboard only in Opera"

[2011-08-11 19:24] shane-tomlinson opened #147 "Cancel button from "Waiting for Verification" page has no effect."

[2011-08-11 19:31] #147 closed, assigned to shane-tomlinson

[2011-08-11 19:33] shane-tomlinson opened #148 "myfavoritebeer.org does not get the assertion in Opera."

[2011-08-11 21:20] shane-tomlinson commented on #97
@TrippingTheBits - I can fix it using a proxy function, but I have not had the time to implement it.  It is on the roadmap.

[2011-08-12 09:22] lloyd opened #155 "implement password requirements"
Currently we have limited requirements on password quality.  We should pick some baseline password requirements and enforce them.  @jbonacci proposes:
1. 8 - 12 characters
2. at least one capital
3. at least one number
4. at least one special character

I feel like this proposal is overly restrictive.  it would prevent a user from, for instance, using a four word phrase as a password.

other propo

[2011-08-12 10:07] Natanael90 commented on #155
Demanding certain characters will make things worse. I can match the above with this as password:

P4$$word

Now what we INSTEAD should do is to suggest longer passwords. See: https://www.xkcd.com/936/

[2011-08-12 11:17] lloyd commented on #141
Yo @seldaek,

I agree with you, I'm a minimalist and license my personal projects with [ISC](http://en.wikipedia.org/wiki/ISC_license), simply because it's the simplest possible license that preserves what I care about, and is easy to understand.

So I did some asking around for you and what I got as a response was basically acknowledgement of the problem (complexity!), and a proposed solution of

[2011-08-12 11:27] Seldaek commented on #141
Well, MPL2 is still way too long IMO, but I have low tolerance for lawyer speech :)

My main problem though is not that it's long, but rather that it's not very known. When I hear BSD, GPL or MIT, I know what it means, and I suspect most open-source engaged people would too. When I hear MPL, my brain is blank. Same goes for ISC, though that one is short enough that I can bother reading it.

Anyway

[2011-08-12 13:40] benadida commented on #155
I agree that the recommendations above are incorrect, _especially_ the maximum length.

Let's instead look into password entropy measurements that simply say "weak/good/strong".

[2011-08-12 14:05] lloyd commented on #155
Given the response, I would propose that the only restriction we want to impose is a _minimum_ length.  I would propose we make this 8 chars.  This bug is about making that change, and we can open another to give the user weak/good/strong feedback.

[2011-08-12 14:13] lloyd commented on #73
@benadida - you referred to this issue in a recent email.  I think it was mistakenly closed.

If we don't move password selection after link click and we don't add a confirmation risk, I'm having a little trouble understanding exactly how much risk that adds to the system.  With my limited creativity for black hat thinking, I really don't see this as a significant hole.

What attack exactly does a

[2011-08-12 14:14] Natanael90 commented on #155
8 characters is too little. I'd say +12. In a few years we might even have to set it to ~15.
If you really use passphrases anyway, that's not going to be a problem at all.

[2011-08-12 16:19] ianb commented on #155
So paternalistic!  How many Chinese characters are necessary to make a strong password?  Is there an entropy detector that is good enough that we could simply say "not a weak password"?  Is it even our responsibility to thwart the user's attempt to create an account if we've informed them about the security level of their password?

[2011-08-12 16:53] shane-tomlinson opened #156 "compression script failure while trying to get 'file://csrf'"

[2011-08-12 17:12] shane-tomlinson opened #158 "Error screen does not correctly display"

[2011-08-12 17:49] tonychung opened #159 "Need @ and . checking for new email addresses"
I was able to type in "sldfjsdlkfj" into add a new email, and it took me to the Email Confirmation window.   We should catch invalid email ascii chars upfront.

Repro:
1) goto http://beta.myfavoritebeer.org/
2) launch browserID, and add an email
3) type in something without @ and .
4) Verify popup takes user to confirmation dialog step

Expected:
- inline error checking for invalid email missing .

[2011-08-12 17:54] lloyd commented on #116
fixed via above commit.

[2011-08-12 17:54] #116 closed, assigned to nobody

[2011-08-12 17:59] lloyd commented on #87
This issue will be made obsolete by the certification migration in progress now.

[2011-08-12 17:59] #87 closed, assigned to nobody

[2011-08-12 18:02] lloyd commented on #76
we'll do this on the github wiki

[2011-08-12 18:12] lloyd commented on #74
let's leave things at 2 weeks, let's force the user to relogin when cookie is gone

[2011-08-12 18:13] lloyd commented on #64
duplicate of issue #97

[2011-08-12 18:13] #64 closed, assigned to shane-tomlinson

[2011-08-12 18:14] tonychung opened #160 "Unable to retrieve forgotten existing passwords"
Maybe this is by design of BrowserID, but its not what common user flow would expect.  If i forgot my password for a particular email account, i would think i'd be able to click the forgot password link, enter in my email address, and get the old one sent to me through email.

The current UI asks the user to just fill in your email, and add and verify and new one right there in the window.   My im

[2011-08-12 18:15] lloyd commented on #59
not enough information.  bad ben.

[2011-08-12 18:15] #59 closed, assigned to lloyd

[2011-08-12 18:20] lloyd commented on #54
you can copy the script but you then have to make sure it stays up to date, and it can change as frequently as once a week, though in practice much less often

[2011-08-12 18:20] #54 closed, assigned to nobody

[2011-08-12 18:22] lloyd commented on #8
this is done.

[2011-08-12 18:22] #8 closed, assigned to nobody

[2011-08-12 18:22] benadida commented on #43
Compatibility matrix will be placed on wiki at some point next week.

This issue should be reduced in scope to: does this work on iOS Safari and Fennec?

[2011-08-12 18:27] lloyd commented on #39
update error message "you may not use getVerifiedEmail from local page

[2011-08-12 18:29] lloyd commented on #12
ok, this needs to get done because it would be awesome, but doesn't belong here as an issue.

[2011-08-12 18:29] #12 closed, assigned to lloyd

[2011-08-12 18:29] lloyd commented on #22
let's defer to bryan clark and our UX homies to figure out whether/how to integrate this.

[2011-08-12 18:35] vthunder opened #161 "Cancel account doesn't work sometimes"
I think it didn't work because my cookie had expired. It pops up the alert box, but after I click OK nothing happens.

[2011-08-12 18:35] vthunder commented on #161
Also: forget email doesn't work. Feels like the same bug, but I can file that separately if that's preferable.

[2011-08-12 18:37] vthunder opened #162 "Verification link opens new tab which closes itself"
I kind of like it, actually. But it was unintended + is probably confusing to a lot of people.

[2011-08-12 18:41] vthunder opened #163 "Stuck after trying to reset my password"
Forgot password -> fill out new account info -> screen that says it should only take a couple of seconds (and it's stuck there).

It might be that it's trying to use the expired cookie I still had for something (which, because it's expired, would cause an auth error).

[2011-08-12 18:51] benadida commented on #155
@ianb yes I do think it's our responsibility to enforce that users choose a secure password. The other points you make are important though, e.g. Chinese characters.

[2011-08-12 19:03] ianb commented on #155
Not actually being sure how passwords were used, I asked: https://plus.google.com/104537541227697934010/posts/aJ3p3bECD7V -- seems that ASCII passwords are the norm in other countries.

[2011-08-12 21:16] #158 closed, assigned to shane-tomlinson

[2011-08-12 21:29] shane-tomlinson commented on #156
Fixed with pull request #157

[2011-08-12 21:29] #156 closed, assigned to shane-tomlinson

[2011-08-12 21:55] shane-tomlinson commented on #163
I am able to verify that this is a problem.  When I click on the link in the email verification, I receive the following error in the page that is opened:

[code]

[2011-08-12 21:59] #162 closed, assigned to nobody

[2011-08-13 20:39] steelman commented on #87
Do you mean browserid would X.509 certificates anchored in a PKI? Can you point some details?

[2011-08-15 13:39] lloyd commented on #124
done, sent email to dev-identity.  http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/808b7ff2230354f0#

[2011-08-15 13:39] #124 closed, assigned to nobody

[2011-08-15 15:35] aaronsw opened #166 "Implement HSTS"
browserid.org should add an HSTS header to ensure it's always used securely. Indeed, it's so crucial for security, it should probably be preloaded with a pinned certificate:

http://www.chromium.org/sts
http://www.imperialviolet.org/2011/05/04/pinning.html

[2011-08-15 18:46] benadida commented on #166
STS is already committed in the code (as well as secure-only cookies), undergoing beta testing this week and will be launched on Thursday.

Pinned certificates is probably not something we'll explore right now because (a) it covers only advanced and well timed attacks that probably won't be on our radar until we're bigger and (b) by the time we're bigger, we think the solution might look a bit dif

[2011-08-16 04:48] brianwc opened #167 "BrowserID popup not compatible with LastPass Addon?"
It doesn't seem like BrowserID's registration pop-up is compatible with the Firefox plugin LastPass, a password manager I use, as it didn't ask me to save the BrowserID password(s) I created. Perhaps this is LastPass' problem, but it'd be nice if the BrowserID registration pop-up just worked with the various password managers that are out there.

[2011-08-16 09:55] lloyd commented on #159
fixed by @stomlinson, you can verify the fix on https://beta.myfavoritebeer.org now.

We should add a note somewhere to verify proper email validation in both the "create browserid" case and "add new email" case across all browsers we support, because afaik @stomlinson is using some fancy forms stuff that might not work on all browsers?

this specific issue, though, is fixed.

[2011-08-16 09:55] #159 closed, assigned to nobody

[2011-08-16 10:59] lloyd opened #168 "logger.js api is unnecessarily difficult to use."
Currently, the logger api requires a 'category' which is the general area of the software that the log message is related to (i.e. database, security, etc).  This is specified as a parameter to the log function.  Next up, a message has an 'entry', which is a json object.  Finally, that json object must contain a 'type' property, otherwise a _runtime_ error is raised in the software.

API here: htt

[2011-08-16 11:20] #155 closed, assigned to lloyd

[2011-08-16 11:37] stloyd commented on #155
I'm just curious. Why do you restrict user to have password lenght limit ? I understand why you require min. length but max. ? Do you wanna store them in plain text ? If not you **shound not** restrict max length or maybe just around 255 chars to not got system DDoSed.

[2011-08-16 12:08] #88 closed, assigned to lloyd

[2011-08-16 13:42] benadida commented on #168
Lloyd: I disagree, because that's not the goal of this logging api. The goal of this logging API is to create explicit logs of behavior for metrics to look at. That's why objects are JSON serialized, etc.

I can see adding a separate log for this kind of developer logging, which would be stored separately and cleared very aggressively on a regular basis (for privacy).

[2011-08-16 14:04] lloyd commented on #168
(took a walk, thought about it, and changed my response).

Then we need to change the name of the abstraction you added.  it's not about logging, but about metrics.  I suggest we call it metrics.js.  I still suggest the following changes to the "logging" stuff:
1. clearly document the purpose of the module at the top of the file.
2. change the name
3. all of a processes logs should be put into a s

[2011-08-16 14:06] lloyd commented on #155
Hi @stloyd - Practically speaking do you believe there is a meaningful difference between 255 and 80 as an upper bound?

[2011-08-16 14:49] lloyd opened #169 "clean up logging"
related to issue #168 kinda.

currently the webserver outputs a file `server.log`, the database logs into the metrics log, and stderr and stdout are routed to a file called `error.log`.

We should look through this and clean it up.  The goal would be a log per process that gives you and idea of the activity and health of the system, a log per process that contains data we ship to metrics for analy

[2011-08-16 15:33] benadida commented on #168
ok, I like that approach. Then we can easily say that logs need to be cleared regularly (except for security purposes), and metrics need to be very carefully handled for privacy. Sounds good to me.

[2011-08-16 15:48] lloyd commented on #168
ok, I can make this change tomorrow.  reassing the bug to yourself you want to do it before then.

[2011-08-16 17:04] lloyd commented on #167
Hey brianwc!  This issue should be resolved in our latest beta that's due for launch into production on thursday.

I'm closing this issue, please test on http://beta.myfavoritebeer.org (you'll have to create a new account there) and re-open this issue if that doesn't fix your problem!

[2011-08-16 17:04] #167 closed, assigned to nobody

[2011-08-16 17:05] lloyd commented on #167
sorry, updated the last comment, that's http://beta.myfavoritebeer.org - and not https://beta.myfavoritebeer.org

[2011-08-17 12:17] lloyd opened #170 "password reset flow is broken on beta (train-2011.08.12)"
Steps to reproduce:
1. go to https://beta.myfavoritebeer.org
2. log in with browserid creating an account
3. log out
4. click the sign in button again
5. in the dialog, click on `i forgot my password`
6. type the same email address as in step 2, and choose a new password, and click "continue"
7. notice transition to "email confirmation sent":
8. wait for confirmation email
9. click through the lin

[2011-08-17 13:00] #170 closed, assigned to lloyd

[2011-08-17 14:02] lloyd opened #171 "all tests should run against both mysql and JSON persistence layers"
All of the tests stored under `browserid/tests` exercise code in the persistence layer.  on **train-2011.08.12** there were several bugs (like issue #170) that would have been uncovered by the unit tests had they been run against mysql.

My original attempt to do this is bad.  How it works is `db-test.js`, the specific tests of the persistence layer, are run against both mysql and json, then all o

[2011-08-17 16:08] #168 closed, assigned to lloyd

[2011-08-17 16:08] #169 closed, assigned to nobody

[2011-08-18 08:50] lloyd opened #172 "all files created during execution should be in one place"
Now that logfiles are consolidated and stored in one place (which is outside of the source code directory for non-local deployments), we should do the same for remaining files created during process execution.  The only other file I know of is the "cookie secret" file which stores a randomly generated key to encrypt session state and store it in cookies.

This will simplify deployment, which now h

[2011-08-18 09:27] #172 closed, assigned to lloyd

[2011-08-18 10:14] #171 closed, assigned to lloyd

[2011-08-18 12:24] #74 closed, assigned to nobody

[2011-08-18 13:31] lloyd opened #173 ""this is not me" + re-authentication broken on dev"
Steps to reproduce:
1. sign into http://beta.myfavoritebeer.org with browserid
2. sign out of MFB by clicking the logout link
3. click the "sign in" button again
4. when the dialog pops up, click on "this is not me"
5. enter your same email and password again
6. notice that authentication fails

expected:  well, authentication should succeed

On the server the logs say something like:

  "Error: C

[2011-08-18 14:45] lloyd commented on #173
This is a real issue, but practically speaking it's more difficult to trigger in production.  Here's the scoop...

clicking on "this is not me" causes the 'logout' wsapi to be invoked, and the console log for that looks like this:

[code]

(notice I added some debug logging to make it clear what was going on).

if you look at the network pane of the inspector, the `/csrf` call does not return befo

[2011-08-18 16:53] shane-tomlinson opened #175 "Expired identity displayed in list of possible identities for new account."
I have not logged in to my local dev machine in several days and saw some strangeness.  When I left last week, I had (I believe) an active BrowserID session open.  Today, when I first opened the BrowserID login dialog, instead of re-logging in with the same name as the expired user, I clicked on "I have never used BrowserID before."  I created a new session.  After verifying the email, I returned

[2011-08-18 16:57] lloyd commented on #175
A robust fix to this issue would be to fix the sync_identities logic in the client.  I believe we should:
1. always call sync_identities right when the dialog is rendered
2. use the returned JSON blob to understand what old identities should be purged, and which new ones should be added

This does add another call.  But there are many open issues related to multiple devices that this would solve.

[2011-08-18 17:26] #173 closed, assigned to lloyd

[2011-08-18 18:01] shane-tomlinson opened #176 "sync_emails->unknown_emails field malformed"
Using dev.diresword.org:

POST:
csrf    59f54a7e9c472eca47bb7166617186fd
emails  {"stomlinson@mozilla.com":"-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKQt0qO6sapUdPOH4xgbIEESGVGJ3WGO\nZCPODeUb2spr9Y9R2LrsZN8amA5ZATSDxWLq5DTrUMy9f7L1XjMyw/8CAwEAAQ==\n-----END PUBLIC KEY-----\n","set117@yahoo.com":"-----BEGIN PUBLIC KEY-----\nMFswDQYJKoZIhvcNAQEBBQADSgAwRwJATX7q55dfSWLw9CuayzEI8Vzf

[2011-08-18 18:39] shane-tomlinson opened #177 ""Forget this email" no longer works from the manage page."
I keep getting an alert box with the CSRF token.

[2011-08-18 18:40] shane-tomlinson commented on #177
The server keeps warning of a CSRF validation failure.

[2011-08-18 18:51] shane-tomlinson commented on #177
/wsapi/csrf erroring

GET headers:

Response Headers
X-Powered-By    Express
X-Frame-Options DENY
Set-Cookie  browserid_state=eyJjc3JmIjoiOTlhMDg5OTY2ZjFlMTcwYzUwMmVhYTVlNzcwNGQ4OTUiLCJhdXRoZW50aWNhdGVkVXNlciI6InRlc3R1c2VyQHRlc3R1c2VyLmNvbSJ9--3e4c15dc9bf7122538f69a14cf13adb9ec4d4552; path=/wsapi; expires=Thu, 25 Aug 2011 18:34:05 GMT; httpOnly
Connection  keep-alive
Transfer-Encoding   chunked
Re

[2011-08-18 19:26] shane-tomlinson opened #179 "manage page not showing email list when browsing directly to it."

[2011-08-18 19:31] shane-tomlinson commented on #179
window.localStorage keeps showing 0 items.

[2011-08-18 19:49] shane-tomlinson commented on #179
This is an error on my part, but it did cause a refactor so that we use "storage.js" for all storage access.

[2011-08-18 19:49] shane-tomlinson commented on #179
using localhost and 127.0.0.1 will cause two different localStorage's to be looked at.

[2011-08-18 20:02] shane-tomlinson commented on #179
Closing this, refer to #176

[2011-08-18 20:02] #179 closed, assigned to shane-tomlinson

[2011-08-18 20:30] #177 closed, assigned to shane-tomlinson

[2011-08-18 20:57] shane-tomlinson opened #181 "manage page should sync email list"

[2011-08-18 20:57] shane-tomlinson opened #182 "browserid.js should use storage.js instead of directly accessing localStorage"

[2011-08-18 21:06] shane-tomlinson commented on #176
Fixed with pull request #180.

[2011-08-18 21:06] #176 closed, assigned to shane-tomlinson

[2011-08-18 21:06] shane-tomlinson commented on #175
Fixed with pull request #180.

[2011-08-18 21:06] #175 closed, assigned to shane-tomlinson

[2011-08-19 21:15] shane-tomlinson opened #183 "Start unit tests for front end."

[2011-08-19 23:07] shane-tomlinson opened #184 "Simplify the showing of the error dialogs."
Create a curried function that can be passed as parameter to the async operations.

[2011-08-19 23:46] #184 closed, assigned to shane-tomlinson

[2011-08-20 13:58] shane-tomlinson opened #186 "sync_emails->unknown_emails field full of garbage if POST's emails field is empty"
POST info:

csrf    28727cbba5db3efba5a59120f085ef43
emails

RESPONSE:
{"unknown_emails":["bold","underline","italic","inverse","grey","yellow","red","green","blue","white","cyan","magenta","rainbow","zalgo"],"key_refresh":["testuser@testuser.com","testuser3@testuser.com","testuser25@testuser.com","testuser26@testuser.com"]}

[2011-08-21 07:18] joshtriplett commented on #160
Any system which can send you your password via email is insecure.  No service should _ever_ store your password, only a safely hashed version of it that it can use for verification.

That doesn't mean the "forgotten password" flow couldn't become clearer.  If you have suggestions for how to improve it that don't require storing the user's password insecurely, please mention them.

[2011-08-21 07:18] joshtriplett commented on #84
Using "Please type the same password again" does seem like an improvement.

[2011-08-21 07:23] joshtriplett opened #188 "Account creation does not accept pasted passwords until after a key event"
At the account creation dialog, I typed my email address, and pasted in a pwgen-generated secure password twice.  However, the dialog still said "Enter a password" until a keyboard event occurred in one of the password fields, at which point it changed to a green "Password OK".

(Note that I middle-click pasted the password; right-clicking and choosing "paste" has the same effect, but using Ctrl-V

[2011-08-21 07:29] joshtriplett opened #189 "Account creation form does not cause browser to offer to remember password"
After creating an account, I expected Firefox to prompt me to save the username and password for the newly created account, but it did not.  Please ensure that the account creation form triggers that prompt from Firefox.

[2011-08-21 07:30] joshtriplett opened #190 "No obvious way to log out"
After discovering that the account creation form did not trigger Firefox's prompt to remember the username and password (filed as issue 189), I figured I'd log out and back in, and see if logging in triggered the prompt.  However, I did not find any obvious way to log out.

[2011-08-21 08:06] joshtriplett opened #191 "Date and time of signin badly formatted"
I currently see "Signed in at 1:4:26, 7/0/2011".  That seems wong. :)

[2011-08-22 07:37] lloyd commented on #186
wow.  that's so... interesting.

[2011-08-22 07:41] lloyd commented on #189
this is fixed on beta.  please confirm via http://beta.myfavoritebeer.org and re-open the issue if you believe that I'm lieing.

thanks for the report!

[2011-08-22 07:41] #189 closed, assigned to nobody

[2011-08-22 07:43] lloyd commented on #190
I put this one in the UX bucket.

FWIW, the current way to logout is to click "this is not me" in-dialog.

[2011-08-22 07:46] lloyd commented on #191
so we'll zero pad minutes and base 1 day.

For reference, this is on the manage page and code is here: ./browserid/static/js/browserid.js

[2011-08-22 08:25] lloyd commented on #191
you can test this on http://dev.myfavoritebeer.org and https://dev.diresworb.org

[2011-08-22 09:30] lloyd opened #192 "simplify sync_emails wsapi"
Currently the sync emails wsapi is complicated.  It verfies all public keys known to the client are known to the server so that we can selectively figure out what keys need refreshing.

With the move to certs all this silliness can go away and the api should just return a list of known emails.  The client can do the rest.

Attaching this to the cert milestone.  it's simple work.

/cc @stomlinson @

[2011-08-22 09:40] #186 closed, assigned to lloyd

[2011-08-22 20:08] shane-tomlinson commented on #181
e5fec039ffd26af93778661c2c5f4839b2aef723 fixes.

[2011-08-22 20:08] #181 closed, assigned to shane-tomlinson

[2011-08-22 20:14] shane-tomlinson commented on #183
Awesome.  We have some tests in place, more functional style, but tests.  Need to figure out a proper unit/functional test plan.

[2011-08-22 20:14] #183 closed, assigned to shane-tomlinson

[2011-08-22 20:18] shane-tomlinson commented on #182
Fixed.  Closing.

[2011-08-22 20:18] #182 closed, assigned to shane-tomlinson

[2011-08-22 20:35] shane-tomlinson opened #194 "When going to manage page, if user is not logged in, help them log in."

[2011-08-22 20:41] shane-tomlinson opened #195 "On main browserid.org page, only show manage if user is authenticated."

[2011-08-22 20:43] shane-tomlinson opened #196 "Come up with a front end unit/functional test plan."
Unit tests should test units, functional tests can test all the way through.

To facilitate this, think of where dependency injection can be used to make sure we are testing "units" instead of the entire stack.

[2011-08-22 20:56] #195 closed, assigned to shane-tomlinson

[2011-08-22 23:19] shane-tomlinson commented on #194
@jbonacci your thinking runs along the same as mine with regards to this.  I am wondering how we go about doing this cleanly with the API/system we have in place now, as it is the "authenticate" part of BrowserID without the "choose an email" part.

[2011-08-22 23:24] shane-tomlinson commented on #163
@vthunder - is this still a problem?  @lloyd added a fix last week to check for csrf tokens that may have fixed this.

[2011-08-22 23:27] shane-tomlinson opened #198 "Be able to authenticate with BrowserID without selecting an email address."
Useful for the BrowserID page itself - if the user is not authenticated but on the manage/develope/etc pages, instead of showing the "manage" button, we could show a "Sign In" button.

[2011-08-22 23:29] shane-tomlinson commented on #191
@jbonacci: Can you check this on dev, as @lloyd put in a fix for it.

[2011-08-22 23:33] shane-tomlinson opened #199 "When clicking on verify email link, sync email addresses before showing manage page."

[2011-08-22 23:43] shane-tomlinson opened #200 "only sync emails on manage page"
We do not need to sync on the developer, users, etc pages.

[2011-08-22 23:55] #200 closed, assigned to shane-tomlinson

[2011-08-23 09:58] lloyd commented on #163
yeah.  I hit this case before revisiting all of the CSRF stuff.  I claim its fixed now.  @vthunder reopen if you can reproduce the issue on beta.

[2011-08-23 09:58] #163 closed, assigned to nobody

[2011-08-23 10:00] lloyd commented on #198
So with streamlined UX flows, do you think this matters?  Because we will dismiss the dialog immediately after authentication and use the email that the user uses to sign in, our new streamlined UX will satisfy precisely this feature.

agree?

[2011-08-23 10:01] lloyd commented on #191
thanks @shane-tomlinson,

you can the fix on http://dev.myfavoritebeer.org and https://dev.diresworb.org (and it's NOT on beta yet).

Closing, please re-open if I'm missing something.

[2011-08-23 10:01] #191 closed, assigned to nobody

[2011-08-23 10:02] lloyd commented on #199
browserid-network.js I assume will become shared code?

[2011-08-23 10:19] lloyd commented on #194
I think the cleanest user experience might be to just have a custom inline form that bounces off the authenticate wsapi, not even use the dialog.

[2011-08-23 10:22] lloyd commented on #195
yeah, there are like at least three redundant bugs on this issue.  We should merge them all during the bug scrub.

[2011-08-23 15:29] shane-tomlinson commented on #199
@lloyd - you are correct, it is now shared code.  That was another of the drivers behind the consolidation/tests.

[2011-08-23 15:32] shane-tomlinson commented on #198
From my understanding, the streamlined UX flow that you are talking about is the initial signup flow, does this also apply to a standard login?  The location I am thinking of using this feature is on browserid.org/[users|developers|primaries|manage] - especially the manage - where we do not need an email address itself, but we would like the user to authenticate with BrowserID so that they can per

[2011-08-23 15:34] shane-tomlinson commented on #196
James, I would like to be able to run the tests on dev and potentially beta as well.  I think it would be valuable to be able to automatically test account creation/update end to end in an automated fashion.

[2011-08-23 15:43] lloyd opened #202 "there have been some user complaints that confirmation emails aren't received"
[code]

In diagnosing the problem on IRC gerv suggests:

[code]

to close this issue we should set up receipt and piping to /dev/null for noreply on dev/beta/prod.

[2011-08-23 16:03] st3fan opened #203 "Please use the HTML5 email input field"
The email field in the BrowserID popup is currently a plain text input field. Can this be changed to an HTML5 email field instead? That means that mobile devices will show the appropriate keyboard (for email address entry) and that they will also turn off autocorrect and auto-capitalization.

[2011-08-23 16:05] shane-tomlinson commented on #203
st3fan - this should be taken care of already in dev, will check again.

[2011-08-23 16:09] st3fan commented on #203
Oh awesome. I did not look at dev. Just production as of Aug/22.

[2011-08-23 17:39] benadida opened #204 "support bcrypt work factor update"
on login, regenerate bcrypt when work factor has changed.

[2011-08-23 17:56] lloyd opened #205 "write up a wiki page about why we are using node.js"
given that mozilla is heavily a django shop, and we deliberated the node.js vs. django question for a while, it would be useful to put down our reasons for taking a step off the beaten path on a wiki page.

[2011-08-23 18:01] shane-tomlinson commented on #203
@st3fan - yup, just confirmed on dev.diresword.org, all good.  Closing this.

[2011-08-23 18:01] #203 closed, assigned to shane-tomlinson

[2011-08-23 18:04] lloyd commented on #203
for reference, you can find out what commit is running on a particular machine by requesting the ver.txt file from the top level:
- **production**: https://browserid.org/ver.txt
- **beta**: https://diresworb.org/ver.txt
- **dev**: https://dev.diresworb.org/ver.txt

[2011-08-23 18:04] lloyd commented on #203
and more to the point, this change is on beta and should be entering production on thursday in the wee hours of the morning pacific time.

[2011-08-23 19:12] ozten commented on #205
Created https://wiki.mozilla.org/Identity/BrowserID/ServerImplementation

[2011-08-23 21:02] benadida commented on #62
We can't do this without breaking the current JWT/JWS spec, so I'm going to close this issue for now and leave this as part of our Spec Issues: https://github.com/mozilla/browserid/wiki/Spec-Issues

[2011-08-23 21:02] #62 closed, assigned to nobody

[2011-08-23 21:06] benadida commented on #98
@lloyd after continued thought on this, the right approach here seems to be for us to not log the information, at any layer, rather than encourage an incorrect use of POST (there's no side effect.)

@shaver what do you think?

Also, I'd like to _minimize_ the contract we have with the rest of the world. One endpoint for /verify, not two (/ and /verify). If we support /manage.html, we should redire

[2011-08-24 11:30] lloyd opened #206 "include.js should be uglified"
we should minify include.js.  /include.js should be the minified version, and /include.orig.js should be the unmolested original.

[2011-08-24 11:49] lloyd opened #207 "All static resources should be gzipped and served with proper cache headers"
We should make sure that all static resources are served from node.js with proper cache headers, and that nginx on beta/dev/prod is configured to compress and cache these resources according to cache headers without a restart.

Part of provisioning new code needs to be invalidating nginx's cache.

[2011-08-24 12:20] lloyd opened #208 "determine size requirements for mysql with 1M active"
while expected to be very reasonable, it would be worthwhile to understand expected database size.  this won't take long atall

[2011-08-24 12:22] lloyd opened #209 "audit all SQL queries performed and ensure they hit indicies"
After major features finish landing (certs), we should go through all of our queries and ensure that they're fast and will stay so at millions of records..

[2011-08-24 12:24] lloyd opened #210 "determine max QPS on reasonable VM"
it would be useful to:
1. be able to synthesize a database for a target number of active users
2. apply a representative mix of queries

Goal is to understand what a reasonable max QPS is for database servers for capacity planning.

[2011-08-24 13:12] lloyd opened #211 "figure out distributed mysql configuration"
there are a lot of ways to deploy mult-node mysql.  We should figure out what the ideal configuration is give our load across 4-6 machines and make it so.

[2011-08-24 13:14] lloyd opened #212 "determine default bcrypt work factor"
we should figure out what we want the bcrypt work factor to be by default given cost.  is it 12?

[2011-08-24 13:15] lloyd opened #213 "ensure that the verifier can saturate multiple cores"
given the cost of verification, we will need to be able to saturate multiple cores on a single machine.  We can either accomplish this by running multiple verifier instances in production, or by using or building a verification library that supports threading.

[2011-08-24 13:21] lloyd opened #214 "move to socketlabs for email delivery"
We'll be sending 4 emails/second at 1M active users scale.  We should pick a vendor (probably socket labs) and start using them for email delivery.

[2011-08-24 14:14] lloyd commented on #202
blocked on DNS: https://bugzilla.mozilla.org/show_bug.cgi?id=681638

[2011-08-24 14:34] #206 closed, assigned to lloyd

[2011-08-24 16:43] ozten opened #215 "runErrorDialog when Adding additional email address"
Steps to Reproduce
1) Login to BrowserId.org
2) Attempt to login to RP
3) In dialog, click 'Add a new email address'
4) enter address and click 'Add Email'

Actual:
"We're adding this email to your account, this should only take a couple seconds."
JS Error console says
Error: runErrorDialog is not defined
Source File: https://browserid.org/dialog/production.js
Line: 7

Expected:
Confirmation of ne

[2011-08-24 18:13] shane-tomlinson commented on #215
@ozten - this should be fixed in beta, can you confirm?  You can use beta.myfavoritebeer.com as a beta RP, you will have to create a new account on beta if you do not already have one - the databases between prod and beta are kept separate so that we can test these separately.

[2011-08-24 18:16] shane-tomlinson opened #216 "/ws_api/csrf response is producing a syntax error"
This is because the returned format is a straight string instead of a JSON object or XML.

This error does not affect usability.

[2011-08-24 19:37] shane-tomlinson opened #217 "Change all wsapi calls to return JSON response"
In some places, we return strings, other areas JSON, other areas nothing.

[2011-08-24 20:19] ozten commented on #215
This eventually worked.

A second email confirmation was sent. I clicked the link to
https://diresworb.org/prove?token=OkPXh6EVb5yU...Ohok1DnfFcqdT
(I added ...)
I got the error message:
Error encountered while attempting to confirm your address. please try again. (error message: unknown)

I hit Back, re-added the email, the UI was wierd and then it got the original confirmation, green flash and b

[2011-08-24 20:36] ozten commented on #215
3rd addresss - config link in email opened in new page, "address confirmed" page changed to My Account.

Pop still says "We're adding this email to your account, this should only take a couple of seconds.".

Hitting refresh on dialog, it closes itself.

Going back to beta.mybeer I see all three addresses.

[2011-08-24 21:06] shane-tomlinson commented on #217
Starting with 838d7d8ffdc6b74ba576fbce5c406628cc1ae4ca on /wsapi/csrf

[2011-08-24 21:06] shane-tomlinson opened #218 "validating an email a second time causes undecipherable error."

[2011-08-24 21:10] shane-tomlinson commented on #215
For the "Error encountered while attempting to confirm your address. please try again. (error message: unknown)" bug, I am moving this to issue #218

[2011-08-24 21:42] shane-tomlinson commented on #218
6c9ff3ca7dcf1679be6de13f9a1ac93f7d386bd3 changes the error message to ask "Have you previously verified this address?"

What is the possibility of the backend keeping track of these tokens and their status, if the token is already validated when the call is made to /wsapi/prove_email_ownership', we pass back a status saying "already validated" or something similar so that we can display an appropr

[2011-08-24 21:46] shane-tomlinson commented on #215
To reproduce the being stuck at "We're adding this email to your account..." error:

1) start with an already existing account
2) add an email address
3) without closing the browserid dialog, verify the email address
4) when it shows the list of addresses, add a second email address.
5) watch it fail

[2011-08-24 21:49] shane-tomlinson commented on #215
Just to be clear, this bug only shows whenever you attempt to add two email addresses within the lifespan of a single dialog.  It _is_ possible to add an email address to BrowserID.

[2011-08-24 22:32] #215 closed, assigned to nobody

[2011-08-24 22:49] shane-tomlinson commented on #217
@lloyd - for some of these calls I see that you are doing things like "resp.json(true)";  What would you think of returning a JSON object that has a `success` and possibly `reason` fields for all calls?

I am thinking something along the lines of -

in the case of success:

[code]

in a failure case:

[code]

Having this would allow us to expand on possible failure modes, I am thinking in particul

[2011-08-25 00:13] shane-tomlinson commented on #217
@lloyd - I am removing commit 838d7d8ffdc6b74ba576fbce5c406628cc1ae4ca as Ben has said that returning the CSRF token in a JSON blob can effectively eliminate CSRF protections.

[2011-08-25 17:11] lloyd opened #219 "set_key slow in production with google chrome"
this occurs in production, it occurs with google chrome, and it occurs with the second set_key call that occurs as a part of syncing emails.  that is you should click 'this is not me' and relogin to reproduce.

[2011-08-25 18:16] shane-tomlinson commented on #199
Closing this, it is now fixed.

[2011-08-25 18:16] #199 closed, assigned to shane-tomlinson

[2011-08-25 18:19] shane-tomlinson commented on #125
@lloyd - can we close this now?

[2011-08-25 20:13] st3fan commented on #203
I get the correct keyboard now but iOS still does the autocapitalization and autocorrect. I thought that those would be turned off automatically for an email field but that does not seem to be the case :-(

Is it possible to add autocapitalize="off" and autocorrect="off" to the field?

[2011-08-26 00:19] shane-tomlinson opened #220 "package.json needs updated for all new packages."
I just did a fresh install of node and browserid, had to install all kinds of extra packages that were not in package.json.  Updated package.json, will push when back on work machine.

[2011-08-26 00:21] shane-tomlinson opened #221 "add autocapitalize="off" and autocorrect="off" to email fields."
Requested from @st3fan, this addresses issues with how email fields render in iOS.

[2011-08-26 00:28] shane-tomlinson opened #222 "incorrect initial authentication is not displaying error message."

[2011-08-26 00:40] shane-tomlinson commented on #220
37016e66f1602cfb8bd97041084946099e9b1f1a fixes this.

[2011-08-26 00:40] #220 closed, assigned to shane-tomlinson

[2011-08-26 00:41] shane-tomlinson commented on #221
dbfe3da9c0416d7ab7ff5b28882d44375cfdec1b fixes this.

[2011-08-26 00:41] #221 closed, assigned to shane-tomlinson

[2011-08-26 00:42] shane-tomlinson commented on #203
@st3fan, dbfe3da9c0416d7ab7ff5b28882d44375cfdec1b adds autocapitalize="off" and autocorrect="off".  Expect this to make beta next week and prod the week after!

[2011-08-26 00:57] shane-tomlinson commented on #222
This affects dev and beta.

[2011-08-26 01:08] shane-tomlinson commented on #222
We should update beta with this.

[2011-08-26 07:11] lloyd commented on #217
@shane-tomlinson please explain more of @benadida's reasoning?

[2011-08-26 07:41] thinkingserious commented on #214
Hello Lloyd,

Have you considered SendGrid? We can handle your frequency and volume for your email delivery needs.

Feel free to contact me directly at elmer.thomas@sendgrid.com for further details.

With Best Regards,

Elmer Thomas
Developer Evangelist
www.SendGrid.com

[2011-08-26 07:44] lloyd commented on #214
Yo @thinkingserious - I defer to others for vendor selection, but I'll mention the existence of your company to those who make such decisions.  Thanks for dropping by.

[2011-08-26 09:13] lloyd commented on #219
As far as I can tell, what's going on here is that express is being all smart and sending a 204 response (no content) on our behalf.  That response looks something like this:

[code]

Notice there's no Content-Length and there IS a content body.  The 'No Content' string gets associated with the subsequent request, and this causes header parsing to break.  Because improper response headers are thou

[2011-08-26 09:19] #219 closed, assigned to lloyd

[2011-08-26 14:09] thinkingserious commented on #214
Thanks @lloyd! I appreciate that.

[2011-08-26 17:22] benadida commented on #207
this also requires cache-busting, as per Shane's comments during bug-triage.

[2011-08-26 17:36] #166 closed, assigned to nobody

[2011-08-26 17:43] benadida commented on #160
we do not store passwords in plaintext, so we won't fix this.

[2011-08-26 17:43] #160 closed, assigned to nobody

[2011-08-26 17:49] lloyd commented on #125
done!

[2011-08-26 17:49] #125 closed, assigned to nobody

[2011-08-26 17:54] benadida commented on #115
duplicate bug, 122. closing.

[2011-08-26 17:54] #115 closed, assigned to nobody

[2011-08-26 18:00] benadida commented on #105
we'll keep you posted once the framework's in place. Thanks!

[2011-08-26 18:00] shane-tomlinson commented on #104
Closing

[2011-08-26 18:00] #104 closed, assigned to shane-tomlinson

[2011-08-26 18:01] shane-tomlinson commented on #103
Closing this, as it is part of the ux iteration.

[2011-08-26 18:01] #103 closed, assigned to shane-tomlinson

[2011-08-26 18:40] lloyd opened #226 "implement cache busting"
implement a file naming scheme to support cache busting.  something like including a portion of the commit sha in referenced filenames with automatic substitution.

[2011-08-26 18:40] lloyd commented on #207
yeah, we need cache busting.  We should open that up a separate issue.  how about #226

[2011-08-28 13:09] petebromberg commented on #97
This IE 9 issue is a real problem. There are lots of people using IE9; I simply cannot use BrowserID until it is fixed. I see the last entry was August 11. Are you guys still actively working this? It didn't sound like it would be such a big deal to fix.

[2011-08-29 15:51] Boldewyn opened #227 "The ToS on browserID.org have white link color on white background"
Skimming the BrowserID ToS at https://browserid.org/tos I noted, that the links have white color. This might be a bit hard to read against the white background.

Problematic style is line 132 in [browserid/static/css/style.css](https://github.com/mozilla/browserid/blob/dev/browserid/static/css/style.css#LC132), which is applied to all links and should be accompanied by, e.g.,

[code]

[2011-08-30 17:01] shane-tomlinson commented on #97
@petebromberg - I am working on getting IE working at the moment, hopefully we can have IE8/9 support in BrowserID within the next few weeks.

[2011-08-30 17:09] petebromberg commented on #97
Shane, that is terrific. Thanks for posting your update. I predict BrowserID will be _hot_.

[2011-08-30 23:53] shane-tomlinson opened #230 "use $.bind or create a wrapper for addEventListener on myfavoritebeer"
IE8 is blowing up on trying to use addEventListener on myfavoritebeer.

[2011-08-31 06:24] #222 closed, assigned to shane-tomlinson

[2011-08-31 15:38] lloyd commented on #207
As per Richard Soderberg, compression will be handled in the load balancers.  There is no longer anything to do for this bug.

[2011-08-31 15:38] #207 closed, assigned to lloyd

[2011-08-31 17:39] shane-tomlinson opened #231 "Set up dev "browserid" servers to use HTTPS to mirror prod environment"
This will help us test in an environment that more closely mirrors how BrowserID is being used in the wild.  Perhaps we just use self signed certs for the testing?

[2011-08-31 18:39] lloyd commented on #230
done and live: https://github.com/lloyd/myfavoritebeer.org/commit/88f904a00cd11ddd9cea17a34badfac9c84a0fdf

make sure you flush browser cache for js/main.js

lloyd

[2011-08-31 18:39] #230 closed, assigned to lloyd

[2011-08-31 19:32] st3fan opened #235 "The submit button looks weird on iOS"
Not sure how else to describe this, so here is a screenshot: http://sa.tk/3f0076f2.png

Can we have the nice blue one back?

[2011-08-31 19:36] st3fan opened #236 "BrowserID sign-in form activates the keyboard on iOS"
When tapping on the Sign In button, or even just in the window outside of the text fields, iOS activates the iPad keyboard. Obscuring the sign in button.

This is not really cricitcal and I am not really sure what is going on here as it is difficult to debug. But somehow the WebView thinks that a input field is activated, so it pops up the keyboard. Maybe there is some javascript magic in there to

[2011-08-31 19:42] shane-tomlinson commented on #236
@st3fan, I am putting the cursor programaticaly into the first form field every time the page "changes."  On a desktop browser, it felt like pretty poor usability without it.

[2011-08-31 19:43] shane-tomlinson commented on #235
@st3fan - I am using a normal 'input type="submit"' button now so that our markup was somewhat semantic.

[2011-08-31 22:24] clarkbw opened #237 "call window.focus() on the popup window"
I would love to have a focus() call on the popup window.  A few times I've already had the window open and couldn't find it.  This isn't likely a problem many users will face but when faced with it the button appears to be unresponsive until you realize to hunt for the window and use it or close it.

Since we're using a consistent window id this kind of change should work to bring forward a window

[2011-08-31 22:45] ozten commented on #205
This seems documented well enough, marking closed.

[2011-08-31 22:45] #205 closed, assigned to nobody

[2011-09-01 05:46] lloyd commented on #218
The nice thing about how things work right now is we can purge all record of the secret after verification, or periodically (purge tokens older than 2 days?).  I like the performance/scalability properties of the current implementation.

So right now we have two possible states that a "secret token" can be in: known (and valid) or not.

If we wanted to have three states: verified, unknown, unverif

[2011-09-01 15:14] shane-tomlinson opened #238 "Long usernames cause MyFavoriteBeer to push username onto next line."
train-2011.09.01@mailinator.com for instance causes the email address to be pushed to the next line, rendering it nearly invisible - initially making me think that beta was borked.

[2011-09-01 16:01] lloyd opened #239 "dialog messaging ui nit when creating account with an existing address"
There is a slight visual problem when you try to create an account with an email address that already exists in the database.  Here's how you reproduce it:
1. go to myfavoritebeer.org
2. click sign in
3. click _this is not me_ if required
4. click _create a new account_
5. type in an email address that is in use and passwords
6. notice the bubble containing the message _XX@YY.com in use, If this e

[2011-09-01 16:36] lloyd commented on #202
the real solution to this issue is to move to a 3rd party vendor for email delivery.  Forthcoming.

[2011-09-01 21:36] shane-tomlinson opened #240 "verify on myfavoritebeer uses CORS request, which IE8/9 cannot do."
@lloyd, the verify step on myfavoritebeer.org uses a CORS request to do the verification, which is causing IE to die as it doesn't support this yet.  Should we be model citizens and do the verify on myfavoritebeer's backend?

[2011-09-01 23:22] shane-tomlinson opened #241 "set the meta viewport tag in the browserid dialog for mobile browsers"

[2011-09-01 23:24] shane-tomlinson commented on #241
Closing, it is already set.

[2011-09-01 23:24] #241 closed, assigned to shane-tomlinson

[2011-09-02 00:07] shane-tomlinson opened #242 "make sure only one relay iframe is ever created"

[2011-09-02 00:08] shane-tomlinson opened #243 "Make sure that browserID can be opened/used through multiple logins without calling page reload."

[2011-09-02 18:06] clarkbw commented on #218
If I'm understanding correctly the total experience seems like it's going to be the same either way, we need them to re-validate (if an old token was used) or they are all good to go (clicking on the link a second time).

The difference there being that we could tell people a token was already used versus not knowing the difference between used or incorrect.

## incorrect token case
- link gets ga

[2011-09-05 23:41] shane-tomlinson commented on #240
This change has been checked in by @lloyd - the repo is located at https://github.com/lloyd/myfavoritebeer.org

[2011-09-05 23:52] shane-tomlinson opened #244 "Generating multiple keys causes IE8 to display an "unresponsive script" warning."
Need to check whether one key causes this error.  If not, one idea is to set a short timeout between each key so that IE thinks all is OK.

[2011-09-06 00:07] shane-tomlinson opened #245 "RP in repo uses CORS which IE cannot do"
Similar to #240 but this is the RP in the browserid repo.

[2011-09-06 00:09] shane-tomlinson opened #246 "using StealJS in dev mode causes IE8 to not load the BrowserID Dialog"
Same error as in the relay frame - IE blows its lid trying to load up the scripts.

[2011-09-06 09:54] Natanael90 commented on #155
@lloyd: There's a chance people might have actual phrases as passphrases that could be +80 chars, but (more than) 255 is not just plausible. Sure, there's those people too, but it's not much to ask of them to cut their passwords down just a bit.

[2011-09-06 17:10] benadida commented on #217
OK, it turns out I was a bit too paranoid. Good :)

We can do this as long as we _only_ do top-level objects, e.g. {foo: "bar"}, _never_ top-level arrays. If we need to return an array, we should return it as a named array inside an object.

@shane-tomlinson: can you move this forward by ensuring that all JSON returned values are passed through a consistent check that ensures the above condition?

[2011-09-07 10:33] polymorphm opened #247 "browserid/static/include.js: if message is not in JSON-string format"
good day!

now: if message (window 'message' event) is not in JSON-string format -- then www-browser show error in console

but messages ( window.postMessage() ) may be not related with BrowserID-system , in this case -- this-alien-errors are unpleasantly interfere _(please, sorry my vary bad english :))_

i think will be nice -- do something like in this example: https://gist.github.com/1200224

[2011-09-07 21:22] shane-tomlinson opened #248 "IE8 gives missing JSON error on browserid.org"

[2011-09-07 21:23] shane-tomlinson opened #249 "IE8 shows text under BrowserID logos"

[2011-09-07 21:35] shane-tomlinson commented on #249
d3ebb57ffc4d2336eb1d121d9b5dbcffdeb3ce16 and 1209001d38d4c8c7d61c21318ac3f390f3b3b971 address this.

[2011-09-07 21:55] shane-tomlinson commented on #248
7bacf7d2d701d2e20846b8ebfb0e30f04bad31bc addresses this.

[2011-09-07 22:05] shane-tomlinson commented on #249
6cefd95d7701b3ce56d20736da8ea70a4428c3cd also addresses this - adds HTML5 shim for IE<8

[2011-09-07 22:29] shane-tomlinson commented on #247
@polymorphm - ahhh, that is a very good catch, thanks for that.  I am going to have a chat with the original author of the Channel library and find out what we can do to address this.  Your proposed fix looks good, I just want to make sure that I do not introduce any side effects!

[2011-09-07 23:32] shane-tomlinson commented on #222
@jbonacci - this is the expected behavior - before we were not even getting the error box.  This flow will be smoothed out in the UX redesign.

[2011-09-08 20:17] shane-tomlinson opened #250 "Error says `tenical problem` if there is a server technical problem logging in."

[2011-09-08 20:18] shane-tomlinson commented on #250
bb5f7ea68aa02cbb390ccc65fccedc555b94b175 corrects this.

[2011-09-08 20:22] shane-tomlinson opened #251 "Communication to popup window should occur through relay frame"
Right now we are using URL parameters.

One approach - upon window open, have the popup window register a relay function with the iframe.

[2011-09-08 23:11] shane-tomlinson commented on #250
@jbonacci - that's 'cause our software is so well written it never happened before.  ;)

[2011-09-09 00:31] shane-tomlinson opened #252 "Removing last secondary verified email closes account - on accounts with primary verified email"

[2011-09-09 15:02] dugsong commented on #56
Check out https://github.com/duosecurity - no support for SSL certs or e-mail, though. By design.

[2011-09-09 15:56] bct commented on #56
It's worth pointing out that Duo Security's service is free for open source projects: http://www.duosecurity.com/pricing

[2011-09-09 17:19] shane-tomlinson commented on #252
@jbonacci - this at the moment only affects our development environment, it will not yet happen on prod.  I'll outline more once we do the demo.

[2011-09-09 18:19] shane-tomlinson opened #253 "New cert code and BrowserID Addon are incompatible with each other."

[2011-09-09 18:19] shane-tomlinson opened #254 "Cert code is causing IE to error"
It is syntax erroring in the vepbundle.

[2011-09-14 19:07] shane-tomlinson opened #255 "IE10/Win8 does not correctly show BrowserID dialog."

[2011-09-15 18:44] shane-tomlinson opened #257 "A cert can be dropped to the browser without being authenticated with BrowserID."

[2011-09-15 18:45] shane-tomlinson opened #258 "Need the ability to sync emails backed by certs across browsers."
Means if a cert is dropped into one browser, we should have the ability to request a cert from another browser.  Requires backend support I believe.

[2011-09-15 18:54] lloyd commented on #20
merged into dev.  closing this issue.

[2011-09-15 18:54] #20 closed, assigned to nobody

[2011-09-15 18:55] lloyd commented on #19
done.  here is the repository containing crypto implementation: https://github.com/mozilla/jwcrypto
and this library is now used by browserid.org servers in dev.

[2011-09-15 18:55] #19 closed, assigned to nobody

[2011-09-15 18:58] lloyd commented on #192
complete in dev.  sync_emails no longer exists.

[2011-09-15 18:58] #192 closed, assigned to nobody

[2011-09-15 19:08] lloyd commented on #258
I'm confused.  Why do this instead of just having the issuer of the cert issue a new cert?  Given cert lifetime is 2-6 hours, is there any value here?

[2011-09-15 19:11] shane-tomlinson commented on #258
@lloyd - at the moment if you have a cert added on machine 1, on machine 2 you do even know that a cert has been added.  This means your potential list of emails is out of sync.  The certs themselves should not be synced, instead the list of emails should be, including those that are backed by certs.

[2011-09-15 19:13] lloyd commented on #258
ok, so really we're saying "Server needs to know about primary email addresses"

[2011-09-15 19:13] shane-tomlinson commented on #258
That is indeed the case.

[2011-09-15 22:18] benadida commented on #257
I'm not sure this is a bug. What if you aren't logged into BrowserID, but then you do log in. I think you want the certs that were dropped to appear in your list.

[2011-09-15 22:19] benadida commented on #258
yes, and we waited on this for you @lloyd :) because this requires a data model change that I didn't want to do.

I don't think this is required for launching primary support. We could start with only-local-machine primary support, and then eventually sync'ed primary support.

[2011-09-15 22:20] benadida commented on #253
incompatible, or is it that the add-on doesn't support the additional calls?

[2011-09-15 23:39] shane-tomlinson commented on #257
@benadida - For public machines, I would disagree with this.  Doing so would be allow a BrowserID user to gain identities for users that used the machine before them where they may not have an account.

[2011-09-15 23:45] shane-tomlinson commented on #253
@benadida - include.js checks for the existence of navigator.id, and if it exists, it bails completely.  Since the addon provides navigator.id, the functions regarding the certs never get added to navigator.id.  What would the repercussions be if include.js was modified to provide any functions that are missing from navigator.id - ie, getVerifiedEmail may be provided by the addon, but generateKey,

[2011-09-15 23:56] benadida commented on #257
that's a great point. Dan and I were discussing something similar recently, which might apply here. We thought that, in the case of a public machine (as declared by user), we could make it so certs are issued for only a few minutes' validity (say 5 minutes). This could apply here for not-logged-in users.

[2011-09-16 04:21] benadida commented on #253
@shane-tomlinson I wouldn't recommend that, because, if the browser implements some of navigator.id._, you can't quite assume *how_ it's implementing it, so how would you implement the other calls? I would say the way include.js currently works is probably right. The browser should implement all the calls, or none.

[2011-09-16 17:42] lloyd commented on #258
should we move this to the primaries milestone?

[2011-09-16 17:44] lloyd commented on #257
should we move this to the primaries milestone?

[2011-09-16 17:45] lloyd commented on #253
I'd suggest we keep the addon and web implementations decoupled.  I don't think this should block certs from going into beta next thursday.

[2011-09-16 17:46] lloyd commented on #252
shall we move this to the primaries milestone?

[2011-09-16 17:46] lloyd commented on #254
taking a look...

[2011-09-16 18:46] lloyd commented on #254
twas' a one line fix: https://github.com/mozilla/jwcrypto/commit/317f5c

[2011-09-16 20:23] benadida commented on #257
yep, looks like you did it :)

[2011-09-16 20:24] benadida commented on #253
oh yes, I don't mean to couple them, but they do have to support the same API :)

[2011-09-16 23:58] benadida opened #259 "check timestamps in cert chains"

[2011-09-17 00:04] benadida opened #260 "turn up crypto parameters for certs"

[2011-09-17 23:00] lloyd commented on #240
in dev and beta, works for IE8 and IE9 I'll take this into production myfavoritebeer on tuesday.

[2011-09-17 23:03] lloyd commented on #97
IE8 & IE9 working on dev and beta.  closing this issue.

[2011-09-17 23:29] petebromberg commented on #97
Thanks for that!

[2011-09-18 19:21] max-mapper opened #262 "Optional separate popups for login and signup"
I've observed some confusion amongst people signing up for the first time (they've never heard of BrowserID before). When they open up the BrowserID sign in popup and are immediately asked to enter their email address they aren't sure if they should be entering their (for instance) GMail username and password. After a moment or two of confusion most eventually notice the small 'sign up' text at th

[2011-09-19 01:47] ryanttb commented on #97
Yes, thank you! I can't wait to start using BrowserID on production sites!

[2011-09-19 03:53] shane-tomlinson commented on #262
@maxogden - We have noticed the same through our user testing and have changed the entire flow because of it.  With the coming rendition of BrowserID, a user will see only one input field (email) whenever the popup is first opened.  BrowserID will then check for whether the person signing in is currently a user, if so, a password field will be presented.  If the person is not a user, they are aske

[2011-09-19 04:00] shane-tomlinson commented on #97
@lloyd - Thanks for fixing this again!  I am reopening the issue, @jbonacci, @benadida and I discussed keeping issues open but adding the tag "in-dev" so that QA knows which ones to test and can close those they have validated.

[2011-09-19 11:33] shane-tomlinson commented on #254
reopening and adding the `in-dev` tag until @jbonacci certifies.

[2011-09-20 00:32] tonychung opened #263 "no client validation error when creating address without .suffix"
There is no client side error if a user enters an email address without the .suffix.    Client side errors should check @ and . symbols.

Repro:
1) visit current.openphoto.me
2) click browserID signin
3) click add a new email address
4) type in an email address without the suffix (eg.  Tony@badass)
5) click continue, and verify user is taken to next screen

Expected:
- error halts client cause i'm

[2011-09-20 05:38] shane-tomlinson opened #264 "assertions being truncated at 270 characters when passed to BrowserID addon."
I am not sure if this is a problem in the addon or with BrowserID being run in the addon.

[2011-09-20 05:47] shane-tomlinson commented on #264
This affects dev because it has not yet been updated to have the cert support and the longer assertions.

[2011-09-20 08:16] shane-tomlinson commented on #263
@tonychung - The reason is because the name@domain passes the HTML5 email field RegExp.  You are correct in that this should be made more strict, with the UX redo, we are going to have to come up with a consistent way to do validations and error messages.

[2011-09-20 09:42] shane-tomlinson opened #265 "When RP tab is closed, BrowserID dialog remains"
Perhaps we should close the BrowserID dialog if the RP tab is closed.

[2011-09-20 10:15] shane-tomlinson commented on #242
Woops, comment closed this, reopening.

[2011-09-20 10:32] shane-tomlinson commented on #246
@lloyd - is this all good in IE8 now?

[2011-09-20 16:09] benadida commented on #265
if we can do it, yes!

[2011-09-20 16:25] lloyd opened #266 "May not log in twice in same session in IE9"
Trying to log in twice to my favorite beer in IE9 does not work.  Steps to reproduce:
1. visit http://dev.myfavoritebeer.org/
2. click sign in
3. log in using an email address via browserid
4. click logout
5. click sign in again

Notice that the second time the dialog comes up after step 5  it has no content in the white area and is unusable.

reproduced on win7/IE9

[2011-09-20 16:26] lloyd opened #267 "Security Errors on IE9"
Occurs when clicking "sign-in" on dev.myfavoritebeer.org:

SEC7111: HTTPS security is compromised by https://dev.diresworb.org/relay

[2011-09-20 16:28] lloyd opened #268 "In IE9 must re-auth to browserid ever time"
STR:
1. http://dev.myfavoritebeer.org/
2. click sign in
3. select an email address and login
4. logout and reload the page
5. click sign in
6. notice that you have to re-authenticate

[2011-09-21 01:48] benadida commented on #260
so it turns out that the current crypto params are equivalent to what we have in production: 512-bit RSA keypairs. This is, of course, not sufficient for the long run, but before we turn it up, I want to run some performance tests and see what we can improve. We may switch to DSA before we up the keypair length.

@lloyd the big issue is the generation of the browserid root key. That key needs to b

[2011-09-21 01:56] benadida commented on #259
fixed the verifier's return value to be a proper RDC3339 number of seconds since 1970 UTC

[2011-09-21 04:04] shane-tomlinson opened #270 ""syncIdentities with identities preloaded and one to remove" qunit test is failing"

[2011-09-21 04:06] shane-tomlinson commented on #270
82e4a5adf733ea12df30170b4050955e02d841d0 fixes this.

[2011-09-21 04:38] shane-tomlinson commented on #268
@lloyd - unable to reproduce.

[2011-09-21 04:39] shane-tomlinson commented on #266
Duplicate of #243, which was fixed yesterday.  Closing

[2011-09-21 04:39] #266 closed, assigned to nobody

[2011-09-21 05:40] shane-tomlinson commented on #267
7c7c9ae8b3ec4666084e70aa7095a9b8a522d446 addresses this problem.

For the relay, removing the StealJS dependency.  compress.sh concatenates the two necessary files manually.

[2011-09-21 05:43] shane-tomlinson commented on #267
No more security exception in IE9.

The license info of production.js shows directions on how to use Channel.  This is not the desired outcome.

[2011-09-21 05:44] shane-tomlinson commented on #264
The problem here is actually that the browserID dialog forces its panel contents to be from browserid.org instead of dev.diresworb.org.

[2011-09-21 08:38] shane-tomlinson opened #271 "clean up the email storage code."
It could use namespaced and cleaned up.  Right now everything is on the window object.

[2011-09-21 10:15] shane-tomlinson opened #272 ""emails from browserid.org come from hostname that doesn't match reverse DNS""
This comes from https://bugzilla.mozilla.org/show_bug.cgi?id=688068

[2011-09-21 11:51] shane-tomlinson commented on #43
We are working on iOS Safari and Fennec on both phones and tablets.  Working on Honeycomb default browser, but not Gingerbread's.

[2011-09-21 11:55] shane-tomlinson commented on #255
this is fixed with other IE changes.

[2011-09-21 12:18] shane-tomlinson opened #273 "A message should be displayed for unsupported browsers"
If we check for window.localStorage and window.postMessage, we should be able to find a large portion of browsers that are not supported.

[2011-09-21 12:18] mattbasta commented on #43
Is it wise to ignore Gingerbread? 2.2 and 2.3 are what most (if not all) Android smartphones are running by default.

[2011-09-21 12:18] #264 closed, assigned to nobody

[2011-09-21 12:20] shane-tomlinson commented on #43
We most definitely want to support Gingerbread, it just hasn't happened yet with so many other high priorities.

[2011-09-21 12:35] mattbasta commented on #43
Froyo and Gingerbread's native browsers combined may very well be the most popular smartphone browsers. Is it not irresponsible to work on 3.x instead, which only makes up 1.5% of the market?

http://developer.android.com/resources/dashboard/platform-versions.html

Are there usage metrics that show a greater number of Fennec or Honeycomb users using BrowserID? What is the logic behind these priori

[2011-09-21 12:36] shane-tomlinson commented on #43
@mattbasta - we didn't go after honeycomb, we got it for free with other changes we made.

[2011-09-21 12:38] shane-tomlinson commented on #43
@mattbasta - in my above comment of "We are working on iOS..." I should have made that more precise and said - "BrowserID already works on iOS..."

[2011-09-21 15:08] shane-tomlinson commented on #271
These could use some unit tests as well.

[2011-09-21 17:23] shane-tomlinson commented on #273
@jbonacci: our minimum technical requirements are window.localStorage and window.postMessage.  Even with these requirements met, there are performance issues to worry about - for instance iOS takes ~20 seconds per key generated, IE8 about the same.  The other hitch that seems to be getting us right now is whether we can communicate between windows, this is especially problematic on mobile browsers

[2011-09-21 21:56] mattbasta commented on #43
Ah, that makes more sense. :) Are those fixes in production? I'd like to test them with my applications.

[2011-09-21 21:58] lloyd commented on #43
they definitely are on https://dev.diresworb.org (our development environment) which will be in production in < 2 weeks.

[2011-09-22 09:10] shane-tomlinson opened #274 "browserid.org's SSL certificates not trusted by Android 2.2 default browser"
I have seen this in the Android 2.2 emulator's default browser and there have been community reports of this as well.

[2011-09-22 13:14] shane-tomlinson commented on #271
with 9582249e710dad20fa6c1261e007249b881ae374, the cleanup/namespaced version is in dev.  This could still use some unit tests.

[2011-09-22 13:16] shane-tomlinson opened #275 "For front end js, have one namespace, browserid."

[2011-09-22 13:17] shane-tomlinson commented on #275
There are too many top level namespaces, BrowserIDNetwork, BrowserIDErrors, BrowserIDIdentities, etc.  Combine to one, browserid, and then attach other things to this.

[2011-09-22 13:43] shane-tomlinson opened #276 "network request callbacks should be called asynchronously"
jQuery.ajax captures any exceptions that are thrown in response handlers making debugging very difficult.

[2011-09-22 13:52] shane-tomlinson opened #277 "Use pushState so users can use browser history to navigate dialog"
For IE8/9 probably have to use hashbangs.

[2011-09-22 14:25] lloyd commented on #277
Is there an accessibility motivation here?  I'm a bit unclear on why we need to enable browser based navigation for the dialog which is rendered in a window without controls.

[2011-09-22 15:13] benadida commented on #277
I agree with @lloyd: what happens in the browser-provided doorhanger? We probably want to treat this like a dialog, no going back or forward, click cancel any time.

[2011-09-22 15:24] lloyd commented on #268
woah.  this issue is specific to one of my VMs, investigating.  thanks @stomlinson

[2011-09-22 15:26] lloyd commented on #268
scratch that, can't repro anywhere anymore.  Assuming this issue was fixed with the flurry of other fixes.

[2011-09-22 15:26] #268 closed, assigned to nobody

[2011-09-22 15:28] lloyd commented on #260
I don't understand why we don't just jump to 2048 keys?  Are we worried that the poor performance will make testing laborious?

One thing that it would force is for us to properly handle delays in computationally expensive code.  We do some dumb things like generating all certs for all emails at once, rather than when they're needed.  upping now would force us to address issues like this..  dunno.

[2011-09-22 15:30] lloyd commented on #272
this will be fixed when we move to a 3rd party email vendor.  I have no ETA on this.

[2011-09-22 15:31] shane-tomlinson commented on #277
@lloyd, @benadida - this is a navigation concern.  We have neither back nor cancel buttons in any of the designs, though these are standard features in many dialogs that I think we should have.  Users are accustomed to being able to go back and forth, whether this is through a button in the page or using their browser's back/forward buttons.  pushState would allow users of mobile devices like phon

[2011-09-22 15:37] lloyd commented on #277
Good point re mobile.  I've always expected that for mobile we'll generate custom UI for different devices for the best possible experience.

I know you suggest there should be back and forward buttons in the window we spawn, but I don't agree.  There's precedent for the type of dialog we render.

I guess I wonder if we should consider the use of pushState one possible implementation tactic when w

[2011-09-22 16:11] lloyd opened #278 "on-demand cert generation"
/cc @benadida @stomlinson

Today in several places in the front end code we "sync" email addresses by calling "list emails", and then we go an update all certs all at once.  This occurs _before_ the user may select an identity in the dialog.

This could be a lot better.  Instead what we should do is adapt all of our code to accept that a certificate may or may not be available for any given identi

[2011-09-22 16:15] benadida commented on #260
2048 bit keygen performs extremely poorly even in modern browsers. We shouldn't upgrade until we have a better path.

And no, the solution really isn't to call yield in computationally expensive code, we have to find a better solution, which is why I'm investigating DSA as a replacement for the sig algorithm. Alternatively, use Web Workers.

[2011-09-22 16:16] lloyd commented on #244
Some observations here:
- on my lightening fast VM running winxp/ie8 generation of a single cert pops the non-responsive script error 4x.
- on IE9 simulating IE8 keygen is fast, ~200ms

Some proposals exist to address this problem:
- performance optimizations to the current code (re bigint library, etc) /cc @benadida
- on-demand certificate generation (see issue #278)
- move to DSA which will decr

[2011-09-22 16:19] lloyd commented on #260
I suggest we move this conversation over to issue #278

[2011-09-22 16:20] lloyd commented on #260
darnit, I meant issue #244

[2011-09-22 16:21] benadida commented on #278
I agree with this direction.

[2011-09-22 16:21] benadida commented on #260
oh and I agreed with #278 :)

[2011-09-22 16:21] lloyd commented on #244
Note: IE8 doesn't have web workers, so that's not a solution.

[2011-09-22 16:31] benadida commented on #244
totally agree with on-demand cert gen. (We can eventually optimize and always re-cert the most-used email on a site, too, but that can wait.)

Reworking keygen code to yield is, IMO, not awesome, as that would require instrumenting very low-level code, especially when we move to something like DSA and the only instrumentation is at the modexp level.

[2011-09-22 16:36] lloyd commented on #259
implemented in 5107abe1eb585f870ab00c94d9ff221abbf03b09

[2011-09-22 22:37] lloyd commented on #119
log rotation is set up on dev, beta, and production.  we should see it in action tomorrow.

[2011-09-22 22:37] #119 closed, assigned to lloyd

[2011-09-22 23:57] benadida commented on #98
so a new wrinkle has come up with the new cert infrastructure. Even though GET is the right web arch approach, our assertions are becoming long enough to start worrying about whether the URL querystring will become too long for certain libraries to handle, especially when we up the keysizes.

So I guess we probably should move to POST as initially proposed, even if the reasons have changed a bit.

[2011-09-23 02:01] benadida opened #289 "add system nonce to password hashing, as per Mozilla Security Guidelines"
The recommendation is to HMAC in a system secret in addition to bcrypt:

https://wiki.mozilla.org/WebAppSec/Secure_Coding_Guidelines#Password_Storage

This will also require an upgrade capability for passwords that are not mixed in with system nonce.

[2011-09-23 02:06] benadida opened #290 "confirmation link should check proper auth"
When an email is associated with an account, the confirmation link should just confirm that pre-declared link, and only if the user is properly logged in. If the user is logged in as a different account, that should _not_ work. It also should _not_ work if the user is not logged in at all. In other words, the power of that confirmation link should be very small.

[2011-09-23 02:44] lloyd commented on #290
This will negatively impact usability.

[2011-09-23 04:55] benadida commented on #290
can you say a bit more? Happy to think through potential problems, but it's quite important that we limit the scope of what can be accomplished with that link.

[2011-09-23 11:12] shane-tomlinson commented on #290
@benadida - for the new user flow, the user will not be logged in and in fact will not even have a password until after they click the verification link in their email.

[2011-09-23 11:20] shane-tomlinson opened #291 "Need to be able to create account without password, set password later."
This is for the new design where we have account creation and setting the initial password in separate steps.

[2011-09-23 11:38] shane-tomlinson opened #292 "need to be able to have two verification pages - one for new users, one for additional emails"
We need to have two verification flows/pages.

The first is for a new user, where the user must enter in their password.

The second is for a returning user that is adding a second email address, they do not need to enter a password.

[2011-09-23 11:50] shane-tomlinson commented on #291
I am thinking we need two distinct set_password type functions, one for when a new user is validating their email address and they are not authenticated (because they can't be?) and one when they are authenticated and just want to reset their password.

[2011-09-23 14:11] benadida commented on #290
@shane-tomlinson ahah, good point. So in that case we should just make sure it's the same session as the one that initiated the email addition.

[2011-09-23 15:21] lloyd commented on #290
Sorry to have been so terse, my point was that for cases where the browser in which the verification link is opened is not the same one that was used when the link was sent, the user visible failure mode will be lame.  In the case where it's an "add email", we'll tell the user "now please provide your password".  In the case where it's account creation, we'll say "please open this link in the othe

[2011-09-23 15:38] lloyd commented on #119
On dev this is kicking:

[code]

On beta and prod there was no rotation last night, and I'm not clear why.  I verified the configuration and will continue to dig :/

[2011-09-23 15:42] lloyd commented on #119
hmm.  There might be nothing wrong.  I don't know when logrotate decides that a day is done, so I'm just gonna sit on it till 24 hours pass since I made the change before touching anything.

[2011-09-23 17:45] benadida commented on #290
@lloyd my design principle here is least-privilege, meaning that, as much as possible, I want to limit the power of that email link. Not because I have specific attacks in mind, but because I'm worried about potential attacks that we haven't fully thought of.

If there were a big UX problem , this would not be reasonable. But given that the UX problem is, as you put it, likely rare, I think we sho

[2011-09-23 17:47] benadida commented on #212
12 appears to be the consensus from the security team. I'll make the commit now.

[2011-09-23 19:22] lloyd commented on #260
removing the in-dev label, because nothing is actually in dev.  decreasing the priority down to four stars because we're willing to ship 512 bit keys in production (given that turning them up without other some of the other optimizations we're planning would make the system unusable)

[2011-09-23 19:27] lloyd opened #293 "Hash attribute of sign_in dialog is ugly"
In the past we've taken care to make the url of the sign-in dialog clear, because that's the primary user visible bit we have to counter phishing attacks.  The fixes to issues #286 and #287 have added quite a bit to the url as a hash argument:

[code]

This is a UX regression, I suggest mitigating it by including a minimal amount of information:

[code]

or

[code]

Ideally we'd be able to complet

[2011-09-23 19:38] #293 closed, assigned to nobody

[2011-09-23 19:54] lloyd opened #294 "all /wsapi/ returns should be Cache-Control: no-cache"
Inspecting network behavior of IE9 shows that it's caching CSRF responses.  Frequently this just works, however several conditions exist where it does not (any time the server regenerates the csrf).

Generally the node server should return a `Cache-Control: no-cache` on all WSAPI requests.

[2011-09-23 20:21] lloyd opened #295 "using hash to convey relay frame id to window is broken"
Not permanently.  Here's the thing: we find the relay frame by using the id embedded in the hash.  the hash changes as the user interacts with the dialog.  The current code in dev checks the hash at the time the interaction with the dialog completes.  at that time the hash might no longer hold the magic information we're looking for.

A simple fix would be to only read the hash at load time.

[2011-09-23 20:23] #295 closed, assigned to nobody

[2011-09-23 20:39] lloyd opened #296 "IE9 cookie behavior breaks dev.diresworb.org"
that's right.  because dev.diresworb.org is under diresworb.org, and IE's behavior for cookies is different for other browsers, IE ends up sending TWO cookies of the same name, which causes everything to go to hell (namely, csrf fails first).

Here's the reference: http://blogs.msdn.com/b/ieinternals/archive/2009/08/20/wininet-ie-cookie-internals-faq.aspx

Here's the excerpt:

[code]

This is **on

[2011-09-23 20:40] #294 closed, assigned to nobody

[2011-09-23 22:16] benadida commented on #294
we may need to forcefully cache-bust with a timestamp parameter, just to be extra sure.

[2011-09-23 22:16] benadida commented on #296
nice catch. So we have to specify a domain in the cookie?

[2011-09-23 22:40] lloyd commented on #296
That won't do it: "a cookie set on example.com will be sent to sub2.sub1.example.com"

One thing that would solve the problem would be to vary the name of the cookie for the different servers.  Whether that's the _best_ solution I dunno yet.

[2011-09-23 22:44] lloyd commented on #294
Totally.  We could do something like that later if we find some browser that doesn't respect the cache headers we're now sending (no-cache + max-age: 0).

[2011-09-23 22:49] benadida commented on #296
Sorry I was too terse in my comment. If I'm correctly reading the comment above from blogs.msdn.com, it looks like, if we add a domain parameter to the Set-Cookie header, this behavior will stop. More on domain parameter:

https://tools.ietf.org/html/rfc6265#section-5.2.3

[2011-09-24 21:29] benadida opened #298 "entropy on all devices, in particular touch"
need to review the randomness approach on all devices, in particular touch devices where there is no user input to seed the PRNG.

[2011-09-26 14:29] ghost opened #301 ""Never used BrowserID?" should be changed into a more appropriate message"
The "Never used BrowserID?" text leads the user to thinking that the link will open a help page not a Sign up page. Besides this, a user might have used BrowserID for a long time, then canceled his account. In this case, the "Never used BrowserID?" text is not really correct.

Possible replacements could be "Sign up to BrowserID" or "Start using BrowserID".

[2011-09-26 14:44] ghost opened #302 "If logged in with another BrowserID email on a different browser, the user is logged out"
STR:
1. Open http://beta.myfavoritebeer.org/ in IE and log in.
2. Open http://beta.myfavoritebeer.org/ on Fx and log in to another email from the same BrowserID account or to another account.

Actual Results:
 The user is automatically logged out from http://beta.myfavoritebeer.org/ on IE without any notice. This issue reproduces when switching browsers  or using other browsers (e.g. Chrome). It a

[2011-09-26 15:05] ghost opened #303 "The user is allowed to overwrite his BrowserID account"
STR:
1. Open http://beta.myfavoritebeer.org/.
2. Create a new BrowserID account with your email address and log in.
3. Add some more email addresses to the BrowserID account.
4. Log out from BrowserID.
5. Go to the "Never used BrowserID?" page and try to create a new BrowserID account with the email address used at step 2.

Actual Results:
 The "a@a.com in use, If this email is yours you can sign

[2011-09-26 15:06] ghost commented on #303
This issue reproduces on all OSs and browsers.

[2011-09-26 15:12] ghost opened #304 ""<email> in use, If this email is yours you can sign in with it?" should be changed by a more appropriate message"
"<email> in use, If this email is yours you can sign in with it?" should look more like this "<email> is already associated to a BrowserID account. If this email is yours, you can sign in with it."

[2011-09-26 15:18] shane-tomlinson commented on #304
@ioanab: this is taken care of in the UX redesign.

[2011-09-26 15:22] ghost opened #305 "Add a Delete button on the "What email address would you like to use ...?" page"
Adding a Delete button on the "What email address would you like to use ...?" page would improve the user experience. The user can select an email address by clicking on the radio button in its left then press the button to delete it.

When deleting the last address associated to an account, the user should be announced that he is canceling the whole account.

Currently the user has to load the se

[2011-09-26 15:30] ghost opened #306 "The Confirm Your Email dialog is opened when trying to add an invalid email address to BrowserID"
STR:
1. Open http://beta.myfavoritebeer.org/.
2. Click on the Sign in button.
3. Click on the "Never used BrowserID?" link.
4. Enter an invalid email address that contains one '@' and a password.
5. Click on the Continue button.

Actual Results:
The Confirm Your Email "Waiting for email confirmation... " dialog is opened and it keeps waiting until the user manually closes it.

This issue also repr

[2011-09-26 15:43] ghost opened #307 "When confirming an email from a second browser, the server page is opened with no account information"
STR:
1. Open http://beta.myfavoritebeer.org/ in a browser.
2. Create a new BrowserID account.
3. Confirm the used email address from another browser.

Actual Results:
 https://www.diresworb.org/ is opened in the second browser but it contains no account information.

Expected Results:
 Either the account information should be displayed on  https://www.diresworb.org/, or just display a "email addre

[2011-09-26 22:06] lloyd opened #309 "sessions are lasting longer than intended"
By inspection it seems like the cookie abstraction we're using is re-issuing cookies at every request, which will bump expiration time and make it so a user has to type in their password less frequently than we intend.

we should explicitly embed an expiration date in the cookie data itself and then we can properly configure the "what's the most time that can pass before a user must re-authenticat

[2011-09-26 22:08] lloyd opened #310 "cookie expiration dates are broken"
due to an upstream bug, cookie expiration dates are calculated at the time the server is started, and then re-used.  We've created an upstream patch to fix this:

https://github.com/jpallen/connect-cookie-session/pull/2

The best fix is to get @jpallen to accept this patch, tag a new version, and then move to that.

It is also possible to workaround the problem, like we did in myfavoritebeer (whic

[2011-09-27 02:12] benadida opened #311 "allow site to request preferred email or domain"
adding issue here to track discussion thread:

https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/2b750cb313f34a9/d7db3cef2b3327d7

[2011-09-27 02:13] benadida opened #312 "allow site to manage session length via BrowserID"
adding issue here to track discussion thread:

https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/251862126d72cc58/72ff215d86644063

[2011-09-27 02:46] benadida opened #313 "transitive identity from site to site / pre-auth"
added here for tracking purposes:

https://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/127bb0f86a2321e/f1192a4ac7180f1c

[2011-09-27 12:20] ghost opened #314 "Saved passwords are not automatically filled in when logging in with BrowserID on Firefox 6"
OS: Windows 7 32-bit
Browser: Firefox 6.0 (Mozilla/5.0 (Windows NT 6.1; rv:6.0) Gecko/20100101 Firefox/6.0)

STR:
1. Open http://beta.myfavoritebeer.org/ in Fx6.
2. Click on the Sign in button.
3. Enter your credentials and click on the Sign In button.
4. Click on the "Remember password" button (displayed in a pop-up).
5. Select an email address and finish the login process.
6. Log out.
7. Click o

[2011-09-27 12:46] ghost opened #315 "The "Password too long" message should mention the maximum number of allowed characters"
The "Password too long" message is displayed when the user tries to create an account and enters a password (+verification password) longer the the accepted amount of character. This message should mention the maximum number of allowed characters so the user could know how to modify his password without further investigation on his part.

There are two other issues I found but I am not very sure t

[2011-09-27 13:04] ghost opened #316 "The "Signing into beta.myfavoritebeer.org" tab is automatically closed after 1 minute from the moment it started loading if not used"
Device: Google Nexus S phone
OS: Android version: 2.3.4
Browser: Firefox 6

STR:
1. Open http://beta.myfavoritebeer.org/ in Firefox.
2. Click on the Sign in button (Make sure you were not signed in with BrowserID so the "Signing into beta.myfavoritebeer.org" page is opened, not the "What email address would you like to use...?" ).
3. Wait 1 minute without entering any credentials.

Actual Results:

[2011-09-27 13:10] ghost commented on #314
I should also mention I verified the Fx Password Manager and the password was actually saved.

[2011-09-27 13:13] ghost opened #317 "After restarting an Android phone, the BrowserID Signing in tab is opened with the saved password prefilled in the corresponding textbox but with no email address"
Device: Google Nexus S phone
OS: Android version: 2.3.4
Browser: Firefox 6

STR:
1. Open http://beta.myfavoritebeer.org/ in Firefox.
2. Log in to an account and allow the browser to save your password.
3. Log out from http://beta.myfavoritebeer.org/, then click on the "This is not me" link to log out from the BrowserID.
4. Restart the device.
5. Open http://beta.myfavoritebeer.org/ in Firefox agai

[2011-09-27 13:19] ghost opened #318 "The user cannot log in using BrowserID on Android phone's native browser"
Device: Google Nexus S phone
OS: Android version: 2.3.4
Browser: native

STR:
1. Open http://beta.myfavoritebeer.org/ in Firefox.
2. Try to log in using BrowserID.

Actual Results:
 When clicking on the Sign in button, a BrowserID "Communicating with server" dialog is displayed. The Signing in dialog is never displayed.

Expected Results:
 The user can log in without any issues.

[2011-09-27 13:30] ghost opened #319 "BrowserID pages are opened as new tabs instead of pop-up dialogs on Android tablets and phones when using Firefox"
Acer tablet
Model number: A500
Android version: 3.1
Kernel version: 2.6.36.3

Samsung Nexus S phone
Android version: 2.3.4

BrowserID pages are opened as new tabs instead of pop-up dialogs on Android tablets and phones when using Firefox (Fx 6 and 7). The tabs contain all the corresponding elements and are fully functional (E.g. when the Signing in page is opened in a new tab, the user can sign in

[2011-09-27 13:41] ghost opened #320 "If the user saves the password used on the "Never used BrowserID?" page, he is no longer given the possibility to save it for the "Signing in to..." page"
OSs: Windows XP, Windows 7, Android 2.3.4 (Samsung Nexus S phone), Android 3.1 (Acer A500 tablet)
Browser: Firefox 6

STR:
1. Open http://beta.myfavoritebeer.org/ in Firefox.
2. Click on the Sign in button.
3. Click on the "Never used BrowserID?" link.
4. Enter the required credentials and click on the Sign In button.

Actual Results:
 The user is offered the possibility to save his password. If t

[2011-09-27 13:53] ghost opened #321 "The whole BrowserID UI needs to be refitted when displayed on mobile devices"
Acer tablet
Model number: A500
Android version: 3.1
Kernel version: 2.6.36.3

Samsung Nexus S phone
Android version: 2.3.4

The whole BrowserID UI needs to be refitted when displayed on mobile devices.

On both phones and tablets, the user needs to do too much scrolling through white space to reach different elements on a page.

The pages also need to be centered: e.g. the signing in area of the p

[2011-09-27 21:05] shane-tomlinson opened #322 "set password api call needed."
@lloyd (and others) - does it make sense to have a plain 'ole set password api call so that users can change their password after they have verified their account?

[2011-09-27 21:19] benadida commented on #322
as long as it only works for accounts that don't already have a password. If the account already has a password, it should be a change password that includes the old password and new password.

[2011-09-28 08:02] shane-tomlinson commented on #322
@benadida - I am thinking of the case where the user wants to change their password after their account is created/verified - so adding the old password field does make sense.

[2011-09-28 10:14] shane-tomlinson opened #323 "reset password api call needed"
An api call is needed to reset the password of an account, which causes an email to be sent to the account holder which allows them to reset their password.

[2011-09-28 10:17] shane-tomlinson commented on #322
relating this to issue #323.  We need the ability to allow the user to reset their password when the user has forgotten their password.  This would be triggered by a click to a link inside of an email - would this be taken care of by "complete_user_creation"?  If so, can we change the name of that function to better reflect its purpose?

[2011-09-28 13:52] ghost opened #324 "The user is signed out from his account on http://myfavoritebeer.org/ when reloading the page"
OS: Windows 7 32-bit
Browser: Firefox 6.0

STR:
1. Open http://myfavoritebeer.org/.
2. Sign in using BrowserID.
3. Reload  http://myfavoritebeer.org/.

Actual Results:
 The user is signed out from his account.

Expected Results:
 The user is still logged into his account.

[2011-09-28 13:53] shane-tomlinson commented on #324
@ioanab - can you log bugs for myfavoritebeer.org at https://github.com/lloyd/myfavoritebeer.org/issues

[2011-09-28 14:26] ghost commented on #324
@shane-tomlinson
I logged a copy of this bug at https://github.com/lloyd/myfavoritebeer.org/issues.

[2011-09-28 14:26] #324 closed, assigned to nobody

[2011-09-28 14:27] ghost commented on #324
The copy of this bug on https://github.com/lloyd/myfavoritebeer.org/issues is issue #24.

[2011-09-28 17:06] #310 closed, assigned to nobody

[2011-09-29 00:29] pboos commented on #318
I can confirm this issue!
I am having this issue as well on an Android Project (OpenPhoto) where we use a WebView to log in. Clicking on "Sign in" opens the correct page, but does not show any login fields => can not log in.

[2011-09-29 05:07] jmathai commented on #318
Also confirmed on the OpenPhoto site using the browser on Android 2.3.

It does work using mobile Firefox 7.

 http://current.openphoto.me/

[2011-09-29 15:45] lloyd opened #325 "For android support, server responses may not be 'false' or 'null'"
There are issues with current android browsers.  Anant writes:

We should review all api output and change it to return objects in all cases, imo.  This would also address issue #217 and issue #216

[2011-09-29 16:21] lloyd commented on #325
Anant found the problem on version 2.3.4 of the android browser.  @stomlinson or @benadida - is this in the range that we know we don't support?  /me forgets.

[2011-09-29 17:19] #254 closed, assigned to nobody

[2011-09-29 18:59] benadida commented on #325
I'm not sure, but since I'm comfortable moving to all JSON object return values after discussing with QA, why don't we just solve this regardless?

[2011-09-29 19:57] ozten opened #326 "404 to verifier on Getting Started instructions"
https://browserid.org/developers says

NOTE: You may choose to validate assertions on your own server. While a bit more complicated you can reduce your dependencies on others. Refer to the specification and the source for the reference validator[1].

That link is 404. It should probably be https://github.com/mozilla/browserid/tree/prod/verifier instead.

[1] https://github.com/mozilla/browserid/tr

[2011-09-29 21:01] #326 closed, assigned to nobody

[2011-09-29 21:43] jmathai opened #328 "Cannot create an account on mobile (Android)"
When I click on a sign-in BrowserID button from a site and try to create a new account it says that the passwords don't match. I've tried up to 9 character passwords, the password and verify fields are identical but it keeps the "passwords do no match" message. Clicking continue (even though it is greyed out) appears to just refresh the page (I think).

Android 2.3
Default browser

[2011-09-29 21:58] benadida opened #329 "need to sync time with server before signing assertion"
otherwise problem logging in.

[2011-09-29 22:49] benadida opened #330 "add issuer back to the verifier response"
cause it's useful and some people are expecting it.

[2011-09-29 23:40] mimecuvalo opened #331 "blocker: can't sign in: Permission denied to access property 'browserid_relay_https://browserid.org/sign_in'"
Getting this JS error:
Error: Permission denied to access property 'browserid_relay_https://browserid.org/sign_in'
Source File: https://browserid.org/dialog/production.js
Line: 38

Both in Firefox 7 and Chrome.

[2011-09-29 23:44] davidascher opened #332 "Google Talk interaction?"
Not sure how I got in this state, but after trying to auth to http://dev.myfavoritebeer.org/, I ended up with

a) a google talk widget on my G+ tab which shows a 404 error page
b) an Error Console with:

Error: An exception occurred.
Traceback (most recent call last):
  File "resource://browserid_addon-at-mozillalabs-dot-com-api-utils-lib/tabs/tab.js", line 254, in null
    .getInterface(Ci.nsIWeb

[2011-09-29 23:44] davidascher commented on #332
btw, using: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:9.0a1) Gecko/20110924 Firefox/9.0a1

[2011-09-29 23:46] benadida commented on #331
this might be a caching issue, can you try clearing your cache so we can see if this is the issue?

[2011-09-29 23:48] mimecuvalo commented on #331
Cleared cache now on Chrome and Firefox - still no go.

2011/9/30 Ben Adida <
reply@reply.github.com>

[2011-09-29 23:56] mimecuvalo commented on #331
Ok, this is my fault actually.  Instead of directly linking to https://browserid.org/include.js I had copied that source code to my server to avoid the cost of the extra HTTP call to your browserid server.  I see though that the interface is not yet completely settled.

Might be good to add a note on https://browserid.org/developers that it might not be wise to copy the file (at least for now).

[2011-09-29 23:56] #331 closed, assigned to nobody

[2011-09-30 00:32] lloyd commented on #332
Disabling browserid addon, restarting browser, makes problem disappear?  /cc @stomlinson

[2011-09-30 07:44] shane-tomlinson commented on #332
This is not a browserid bug but a browserid_addon bug which is filed under https://github.com/mozilla/browserid_addon/issues/83

[2011-09-30 07:44] #332 closed, assigned to shane-tomlinson

[2011-09-30 07:45] shane-tomlinson commented on #325
@benadida, @lloyd - we have discussed moving to all JSON object return values before, I'm all for doing it.

[2011-09-30 07:46] shane-tomlinson commented on #325
https://github.com/mozilla/browserid/issues/217 is the issue talking about JSON objects.

[2011-09-30 07:54] lloyd commented on #332
@shane-tomlinson woah dude.  wait a second.  who is @stomlinson, and who is @shane-tomlinson?

[2011-09-30 07:56] lloyd commented on #325
it's unanimous re json objects.  all we needs is some agreement on naming.

[2011-09-30 07:56] shane-tomlinson commented on #217
@benadida - I am confused for the request here, what test needs to be done?  jQuery handles the decoding of JSON objects automatically unless we force the response types to "text" in which case we can analyze the strings and detect if it is a top level object or array, but this seems like overkill.  If somebody has done an XSS injection and taken control of Array.prototype.constructor, they can eq

[2011-09-30 07:59] shane-tomlinson commented on #332
@stomlinson is my personal GitHub., When I started with Mozilla, I was asked to create a new account (or so it seemed to me at the time) so @shane-tomlinson is the account I use for Mozilla related projects.  I want to merge the two accounts because having both is a serious pain.

[2011-09-30 08:01] lloyd commented on #329
@benadida suggests we get server time.  I suggest we combine this with the /wsapi/csrf call, meaning that call moves to return an object which returns server time and csrf token, then at the time assertion signing is performed we calculate offset from the time csrf response was received, and that is the assertion generation time.

we might want to rename csrf call to `session_context` or some such

[2011-09-30 08:15] lloyd commented on #332
I conclude it was a misperception.  that's not how mozilla rolls.

[2011-09-30 08:20] shane-tomlinson commented on #332
@lloyd - I agree with you, and now I have two accounts.  Merging the two means I lose the history of one.

[2011-09-30 08:54] shane-tomlinson opened #333 "signup page should not allow existing accounts to be clobbered."

[2011-09-30 10:02] shane-tomlinson opened #334 "Remove inline scripts from new design - CSP requirement"
We need a reasonable way to do script inclusion/building for each of these various pages.

This is also required for CSP to work properly.

[2011-09-30 10:07] shane-tomlinson commented on #304
6e56e38526ad1740e8094cadee18a4a2446196e5 addresses this in the main page, it was already done in the dialog.

[2011-09-30 10:13] shane-tomlinson commented on #306
This is a duplicate #263, closing.

[2011-09-30 10:13] #306 closed, assigned to nobody

[2011-09-30 10:14] shane-tomlinson commented on #320
closing this issue as it is no longer valid in the new UX flow.

[2011-09-30 10:14] #320 closed, assigned to nobody

[2011-09-30 10:15] #328 closed, assigned to lloyd

[2011-09-30 10:16] shane-tomlinson commented on #318
Caused by #325, duplicated elsewhere, closing.

[2011-09-30 10:16] #318 closed, assigned to lloyd

[2011-09-30 10:17] shane-tomlinson commented on #305
I personally feel this may clutter up the interface, but defer to the UX/UI team to see if they can make it work.

[2011-09-30 10:18] shane-tomlinson opened #335 "Dialog needs error messages"
We need error messages all around.  Designs on how to approach this from the UI/UX team would be helpful.

[2011-09-30 10:19] shane-tomlinson commented on #301
This is no longer relevant in the new UI.  Closing.

[2011-09-30 10:19] #301 closed, assigned to lloyd

[2011-09-30 10:21] shane-tomlinson commented on #292
This is now in the new ux design.

[2011-09-30 10:22] shane-tomlinson commented on #303
Duplicate of #138.  Adding #323 will fix this.  Closing.

[2011-09-30 10:22] #303 closed, assigned to nobody

[2011-09-30 10:24] shane-tomlinson commented on #291
@lloyd took care of this.

[2011-09-30 10:27] shane-tomlinson commented on #240
@lloyd, is this now in production?

[2011-09-30 10:33] shane-tomlinson commented on #315
maxlength="80" added to all password fields in 43ddfb02f4ef0aaed2b198471b3c58fd02280f37.

[2011-09-30 10:34] shane-tomlinson commented on #315
@benadida - are there any restrictions on the characters that can be entered?

[2011-09-30 10:37] shane-tomlinson commented on #238
@lloyd - closing this issue, filed new issue under https://github.com/lloyd/myfavoritebeer.org/issues/25

[2011-09-30 10:37] #238 closed, assigned to lloyd

[2011-09-30 10:38] shane-tomlinson commented on #216
This will be fixed by #217.

[2011-09-30 10:40] shane-tomlinson commented on #190
@lloyd - in the new design, I initially put in the "sign out" button, but the "this is not me" was re-added to the pick email screen.  I am of the opinion that we should put the "sign out" button back in so that it is obvious how to sign out for the users that want to sign out.  Thoughts?

[2011-09-30 13:49] benadida commented on #217
@shane-tomlinson I suggest that we implement a returnJSON() call on the server (or override resp.json) to ensure that we're never returning anything other than a top-level object.

Yes, I agree that it now makes sense to go to JSON-based objects for all return values.

[2011-09-30 13:50] benadida commented on #329
agreed.

[2011-09-30 13:52] benadida commented on #315
no restrictions on special characters.

[2011-09-30 13:53] benadida commented on #190
@lloyd and I thought this would be confusing, because sign out of what? The site? BrowserID?

[2011-09-30 13:54] lloyd commented on #217
Rather than returnJSON, how about a lil tiny middleware?

--lloyd

On Sep 30, 2011, at 7:49 AM, Ben Adidareply@reply.github.com wrote:

[2011-09-30 14:02] shane-tomlinson commented on #334
Starting this work with checkin 4f7ccae9af3134af83b80ac0da3237f8fb4a92c5.

[2011-09-30 14:05] shane-tomlinson commented on #217
@benadida - now I get what you were saying, I misinterpreted and thought this check was to be on the front end.

[2011-09-30 14:14] shane-tomlinson commented on #190
@benadida @lloyd - good point.  It does seem hokey to "sign out" using the dialog just after you click a "sign in" button.

[2011-09-30 14:25] shane-tomlinson commented on #334
Removed the last of the inline scripts in eb9e8e0825da1d4c6eac80e65b02c319c60a80e5 and ebc51147a35942e1b0f41c39e3b0a815867ed3e7

[2011-09-30 14:35] lloyd commented on #217
On Sep 30, 2011, at 7:58 AM, Ben Adida wrote:

no dude.  just override resp.json at early stage middleware, like this:

[code]

[2011-09-30 14:42] shane-tomlinson commented on #315
@benadida - We should put in a minimum password length message - the min is 8 characters?

[2011-09-30 14:43] #259 closed, assigned to nobody

[2011-09-30 14:44] #97 closed, assigned to nobody

[2011-09-30 15:08] lloyd commented on #323
The feature is easy to address, but the open issue here is transient email compromise...  That is specifically if I compromise one of your email addresses should I then be able to change your password, and go use your other identities.

It seems like there are several proposals to let us change email reset safely:
1. upon email reset send emails to all of a user's addresses with a note "if you did

[2011-09-30 15:12] lloyd commented on #253
this issue is moved to browserid-addon: https://github.com/mozilla/browserid_addon/issues/84

[2011-09-30 15:12] #253 closed, assigned to nobody

[2011-09-30 15:14] lloyd commented on #321
I agree.  I think once this new UX in dev settles, we need to go and write custom UI for important mobile devices.

[2011-09-30 15:30] lloyd opened #336 "Verification of email in different browser is broken"
When you verify an email using a browser other than the one you use to create the browserid account, the dialog displays the "yucky" error message:

Steps to reproduce:
1. go to dev.myfavoritebeer.org and sign in
2. click `this is not me` if you're already logged in
3. add a new email address you haven't used before
4. get the email
5. open the verification link in a different browser than the fir

[2011-09-30 15:36] lloyd commented on #307
this situation is improved in dev, and no further work will be done on the current UI (new UI to land in < 2 weeks).

issue #290 and issue #336 discuss variations of this issue that are still pertinent.

[2011-09-30 15:36] #307 closed, assigned to lloyd

[2011-09-30 15:38] lloyd commented on #305
I agree with @shane-tomlinson that this could clutter.  I also agree with @ioanab that users will not discover nor frequently use the browserid server pages. Creating a new label for this issue 'needs UX input'

[2011-09-30 15:43] lloyd commented on #302
I cannot reproduce with chrome and firefox on osx.  please try to reproduce on current beta and reopen if the situation persists.

[2011-09-30 15:43] #302 closed, assigned to lloyd

[2011-09-30 15:46] shane-tomlinson commented on #275
cd3ac4cfba91e42c5798aef61e0d385a230df0f9 merges this into dev.

[2011-09-30 15:48] lloyd commented on #289
the migration to this is crappy if we do not do the work factor update and system secret at the same time.  We would need to include a new field in the user database to indicate whether the secret is hashed into the password.

would we consider doing this in lockstep with work factor update which would not require additional database state?  Or is there a way to stash additional bits of applicatio

[2011-09-30 15:52] lloyd opened #337 "need to explicitly disable browserid for known unsupported browsers"
rather than just breaking, we should disable support for known unsupported browsers.  like, IE6, or IE8/9 in compatibility view.

[2011-09-30 15:58] lloyd commented on #337
duplicate of issue #273

[2011-09-30 15:58] #337 closed, assigned to shane-tomlinson

[2011-09-30 16:01] lloyd commented on #245
we should fix this so we can eliminate the cors support in tree.

[2011-09-30 16:02] lloyd commented on #240
no, I need to take this into production to fix IE.

[2011-09-30 16:07] shane-tomlinson opened #338 "error message needed if password is too short."
This should be when the user sets their password in the verify_email_address page.

[2011-09-30 16:07] lloyd commented on #231
maybe we should not do this and instead push to make our stuff heroku compatible?

[2011-09-30 16:07] #227 closed, assigned to lloyd

[2011-09-30 16:07] shane-tomlinson commented on #315
a new issue for minimum password length - #338

[2011-09-30 16:08] lloyd commented on #214
pushing this issue to four stars.  we need to fix email delivery.

[2011-09-30 16:09] lloyd commented on #213
bumping to three stars.  this needs to happen in preparation for production hardware.

[2011-09-30 16:10] lloyd commented on #210
closing.  this is now the responsibility of mozilla ops/

[2011-09-30 16:10] #210 closed, assigned to lloyd

[2011-09-30 16:13] shane-tomlinson commented on #95
This will help with accessibility and is something that can be updated as we touch the HTML.

[2011-09-30 16:16] shane-tomlinson commented on #231
@lloyd - can we get an SSL cert on Heroku?  With the shared Joyent machines you cannot.  There were some strange bugs showing up with the IE security model that do not show up on local dev machines but only when serving up the JS using SSL.

[2011-09-30 16:22] shane-tomlinson opened #339 ""add a new address" tries opening a new tab in Fennec."

[2011-09-30 16:22] lloyd commented on #231
totally.  piggyback ssl is free on heroku:  https://myfavoritebeer.herokuapp.com/

here's doc: http://devcenter.heroku.com/articles/ssl

[2011-09-30 16:22] #209 closed, assigned to lloyd

[2011-09-30 16:23] lloyd commented on #204
ben, what's the update with the upstream request?

[2011-09-30 16:26] lloyd commented on #202
this mitigation has taken too long.  let's move this party to issue #214 and get things fixed for real

[2011-09-30 16:26] #202 closed, assigned to lloyd

[2011-09-30 16:29] lloyd commented on #188
please retest against the shiny new UI: http://dev.browserid.org

[2011-09-30 16:29] #188 closed, assigned to lloyd

[2011-09-30 16:34] tonychung opened #340 "Persist selection of email address in selection window"
If i choose a second email address to sign into, the selection on the UI should default to checking the email address i chose, not my previous one.

For example, i have a emailA@home.com and emailB@work.com, both registered on browserID.   If i sign in with emailB@work.com, it takes me to the email selection window, but emailA@home.com is the default selection checked.    It should be emailB, sinc

[2011-09-30 16:42] tonychung commented on #340
I can see the case if a user has like 5 different email personas, choosing which one they used to log into should persist that email as their selection for that session.   No sense making them take an extra step and have to choose which email to use in the chooser window, since they already signed in with that email.

Of course, it takes half a second to pick another email in that window if they c

[2011-09-30 16:58] shane-tomlinson commented on #340
Duplicate of https://github.com/mozilla/browserid/issues/106.

[2011-09-30 16:58] #340 closed, assigned to nobody

[2011-09-30 17:40] benadida commented on #289
agreed from bug triage meeting that we will not lock-step with work factor update. When we do this, we will add to the password-hash field content a delimiter and indication of the system nonce.

[2011-09-30 17:47] shane-tomlinson opened #341 "Update new design to work with mobile"
There is an m.css, but since I changed the markup, the css needs updated.

[2011-09-30 17:49] shane-tomlinson commented on #277
opening a mobile specific issue - #341

[2011-09-30 17:49] #277 closed, assigned to shane-tomlinson

[2011-09-30 17:52] benadida commented on #244
this issue will be focused on the on-demand keygen and cert plus the RSA JS optimizations. Move to other crypto is not part of this scope. If it's still too slow, we'll declare IE8 unsupported until next step.

[2011-09-30 18:45] #208 closed, assigned to lloyd

[2011-09-30 18:45] lloyd commented on #211
this is up to production ops now.

[2011-09-30 18:45] #211 closed, assigned to nobody

[2011-09-30 18:48] #98 closed, assigned to nobody

[2011-09-30 19:05] benadida commented on #204
waiting on submitted bug: https://github.com/ncb000gt/node.bcrypt.js/issues/38

[2011-09-30 22:30] benadida commented on #204
waiting on submitted bug: https://github.com/ncb000gt/node.bcrypt.js/issues/38

[2011-10-03 11:27] shane-tomlinson commented on #339
Unable to reproduce on 7.0 or Nightly on either Honeycomb tablet or Gingerbread mobile.

[2011-10-03 11:27] #339 closed, assigned to shane-tomlinson

[2011-10-03 12:20] shane-tomlinson opened #342 "Safari on OSX errors trying to access relay frame."

[2011-10-03 12:26] shane-tomlinson commented on #273
a8230ccb0c26bef94f98701ec457b3d828686f33 displays an alert and will not open the dialog.  We could use a cleaner solution, perhaps a nice page?

[2011-10-03 12:28] shane-tomlinson opened #343 "IE9 showing mixed mode warning on dev.diresworb.org."

[2011-10-03 12:31] shane-tomlinson commented on #343
This is caused by the google font inclusion.

[2011-10-03 12:34] shane-tomlinson commented on #343
This affects Safari as well.  Can be checked from the Javascript Console.

[2011-10-03 12:43] shane-tomlinson commented on #343
b57857cbbe2d70e4291ccaca5797ede07f0c1b53 fixes the dialog.

[2011-10-03 12:43] #343 closed, assigned to shane-tomlinson

[2011-10-03 14:00] shane-tomlinson commented on #196
Unit tests are coming along, we could use some functional tests.

[2011-10-03 14:34] shane-tomlinson commented on #342
This actually _crashes_ Safari 5.0.4 on Windows 7.

[2011-10-03 17:32] #240 closed, assigned to lloyd

[2011-10-03 17:32] #243 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #248 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #249 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #250 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #251 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #255 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #265 closed, assigned to lloyd

[2011-10-03 17:32] #267 closed, assigned to lloyd

[2011-10-03 17:32] #270 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #271 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #275 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #276 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #291 closed, assigned to nobody

[2011-10-03 17:32] #292 closed, assigned to lloyd

[2011-10-03 17:32] #304 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #309 closed, assigned to lloyd

[2011-10-03 17:32] #315 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #333 closed, assigned to shane-tomlinson

[2011-10-03 17:32] #334 closed, assigned to shane-tomlinson

[2011-10-03 17:33] lloyd commented on #273
labeled 'needs UX input'

[2011-10-03 19:25] lloyd commented on #240
in production.  within 1hr DNS should be propogated and myfavoritebeer.org should be fixed for IE.

[2011-10-03 23:00] benadida commented on #330
fixed in commit cf2b2809239761b098b8870e147771c4d7ca0d08

[2011-10-03 23:00] #330 closed, assigned to nobody

[2011-10-04 09:37] shane-tomlinson opened #345 "Safari error:'Viewport argument value "device-width;" for key "width" not recognized. Content ignored.'"
Does not affect usability.

[2011-10-04 11:00] shane-tomlinson commented on #342
df6603eaafa45a9948c567e6e5baebd96cc51c94 fixes this.  Removed "autofocus" from the email element.  Stupidest crash bug ever.

[2011-10-04 11:00] #342 closed, assigned to shane-tomlinson

[2011-10-04 13:00] shane-tomlinson commented on #278
Merge 9af57dafde3c2e6f74da423f7fd44864ac256865 puts this into dev.

[2011-10-04 13:00] #278 closed, assigned to shane-tomlinson

[2011-10-04 13:54] lloyd commented on #278
woohoo!!

[2011-10-04 14:45] shane-tomlinson opened #346 "IE8 no longer works with new design. Javascript errors after authenticating."
The controllers are being torn down for some reason.

[2011-10-04 17:54] #329 closed, assigned to lloyd

[2011-10-04 18:00] lloyd commented on #212
it's 12 and moved to libs/configuration.js.  closing this issue.

[2011-10-04 18:00] #212 closed, assigned to nobody

[2011-10-04 18:01] benadida commented on #212
dude, I wanted to add the update bcrypt factor thing first. y u grab my issues? :)

[2011-10-04 18:03] lloyd commented on #212
Oh, that's over in issue #204

When I opened this one I meant it to be for figuring out what the work factor should be.  feel free to bump #204 to four stars?

And I steal your issues just to see if you're awake!

[2011-10-04 18:04] benadida commented on #212
ok, cool on #204. I don't think it's 4-stars as per your definition, so I guess I'll leave it as is for now.

I'm awake, mostly :)

[2011-10-04 18:13] lloyd commented on #212
if you _were_ to label it four stars I'd prolly go and hack a patch into upstream.  But I agree 4 stars is a bit of a stretch.

[2011-10-04 18:20] lloyd opened #347 "after setting password, user experience is confusing"
with the new design, users set their password on the page they land on after clicking through the email verification link.  Currently the styling is crappy and just appends text to the bottom of the page after the user sets a password.  There's not enough visual change for the user to understand they're done, and the form to set you password remains displayed which further confuses the user.

This

[2011-10-04 18:25] #347 closed, assigned to lloyd

[2011-10-04 18:54] lloyd opened #348 "manage page showing up by default is uncomfortable"
The new site design shows the "manage" page on browserid.org whenever a user visits the site and has an existing session.  This is uncomfortable as in our case most users will start by using browserid via sites they visit.  Only when they wish to learn more will they land on browserid.org.  Because our usage patterns are a little odd, the expectation is that a significant number of users will arri

[2011-10-04 18:57] lloyd opened #349 "email confirmation page is unstyled"
currently when you add an email to an existing account, the verification landing page that you get to by clicking on the link in your email is completely unstyled.  We should style this and hopefully help the user along.  By the time the user sees that page they are probably already logged into the RP which is open in another tab.  so what, we say "You did it!  Your new address is set up and you s

[2011-10-04 18:59] lloyd opened #350 "new /about page needs graphics!"
the new "about" page has four graphics that are missing.  The largest topmost graphic is to be a screencast, that's not what this bug is about.

This bug is for the three smaller images that appear underneath.

reference: https://dev.diresworb.org/about

[2011-10-04 21:35] lloyd commented on #204
pull request submitted: https://github.com/ncb000gt/node.bcrypt.js/pull/39

proposed approach if the pull request isn't pulled: http://irclog.gr/#show/irc.mozilla.org/identity/11348

[2011-10-04 21:36] vthunder opened #352 "Setting password on verification page silently fails"
This is using dev.myfavoritebeer.org, on Firefox (not Nightly/Aurora).

After setting a password on the verification page (that opens up via the link from the verification email), nothing seems to happen. Pressing enter or clicking the Finish button causes the password manager dialog to come up and ask if you want to save this password, but nothing else. The dialog is still up on the "check your e

[2011-10-04 21:44] lloyd commented on #352
Tried this on my machine (OSX 10.7.1, firefox 8).  From your description it sounds like I should not be able to successfully create a "new account", and I am.

Try clearing cache?  look for javascript errors?  quick screencast?

[2011-10-04 21:48] lloyd opened #353 "typing an incorrect password for an existing account gives no feedback"
this is on current dev, with the new design.  I'm not seeing any visual feedback at all when I input an incorrect password.  Steps to reproduce:
1. http://dev.myfavoritebeer.org
2. click `sign in`
3. click `this is not me` if you're currently authenticated
4. type in an email address that you know is already registered
5. type in the incorrect password
6. hit enter or click the button
7. notice th

[2011-10-04 21:50] lloyd commented on #352
(closing for now, please reopen with more details?)

[2011-10-04 21:50] #352 closed, assigned to nobody

[2011-10-04 22:09] lloyd commented on #204
author pulled upstream, as soon as he bumps and re-publishes to npm we can bump version in package.json and move along with this.

[2011-10-04 23:39] lloyd commented on #309
This is expected, by fiddling your system clock you can make your browser "prematurely" expire cookies.  Nice catch, but I dont think anything needs to be done here

[2011-10-05 03:01] benadida commented on #244
optimized JS in 77843314684367107b9b1305e978017fd098dc4e

[2011-10-05 03:02] benadida commented on #244
I believe this is closed since @shane-tomlinson has done the on-demand keygen update? Shane can you confirm and close this issue if that part is done?

[2011-10-05 06:39] ghost commented on #302
Verified this issue on the 9/29/2011 Beta using Chrome and Opera too. It doesn't reproduce on them either.

[2011-10-05 06:58] shane-tomlinson commented on #353
Duplicate of #335, closing.

[2011-10-05 06:58] #353 closed, assigned to shane-tomlinson

[2011-10-05 11:02] shane-tomlinson commented on #335
Linking to #353.

[2011-10-05 11:02] shane-tomlinson commented on #335
68943d7ec724a4cb39357ce555bf31021d65a37d adds an authentication tooltip.  Could use some UX love.

[2011-10-05 11:17] shane-tomlinson commented on #335
7cf678ce084fe8bf8fd2737cddd5dc41e6c2f8b8 and ffe2737831db9fcaef7ea7111a87e50c65283a05 add an "email already taken" message.  68514eb62ec4c06ec3b81c714f362c25ad016a8e merges to dev.

[2011-10-05 11:18] shane-tomlinson commented on #353
68943d7ec724a4cb39357ce555bf31021d65a37d adds the authentication error message.  7cf678ce084fe8bf8fd2737cddd5dc41e6c2f8b8 and ffe2737831db9fcaef7ea7111a87e50c65283a05 add an "email already taken" message.

[2011-10-05 11:19] shane-tomlinson opened #354 "CSRF validation failure on confirmation page."
info: GET /wsapi/session_context 200 1ms
warn: CSRF validation failure, token mismatch. got:undefined want:0e6b93ac080add5668daba29a314ed3a

[2011-10-05 11:40] shane-tomlinson commented on #354
Fixed in c8fbb13e1800620a981ac5235f09e4587fc21d37

[2011-10-05 13:47] ghost opened #355 "When closing the Signing in dialog from [X] in Opera, the Sign In button from http://beta.myfavoritebeer.org remains grayed out and unresponsive"
OS: Windows 7
Browser: Opera 11.51

STR:
1. Launch Opera.
2. Load http://beta.myfavoritebeer.org in an Opera tab.
3. Click on the Sign In button.
4. Close the opened dialog from the [X] button.

When closing the Signing in dialog from [X] in Opera, the Sign In button from http://beta.myfavoritebeer.org remains grayed out and unresponsive. A simple reloading of the page solves the issue.

This issu

[2011-10-05 13:49] shane-tomlinson commented on #355
@ioanab - Please file this at the myfavoritebeer repo.

[2011-10-05 13:49] shane-tomlinson commented on #353
merge e4cfc151d147fd197bab3a82e732c04f5620d9b2 makes the tooltips all fancy.

[2011-10-05 13:52] #355 closed, assigned to nobody

[2011-10-05 13:52] ghost commented on #355
Filed at the MyFavoriteBeer repo https://github.com/lloyd/myfavoritebeer.org/issues/26.

[2011-10-05 13:54] shane-tomlinson commented on #263
8968fef93c082c4db987240feb8d2c149cf0b200 fixes this.

[2011-10-05 13:54] #263 closed, assigned to shane-tomlinson

[2011-10-05 13:57] shane-tomlinson commented on #94
merge e4cfc151d147fd197bab3a82e732c04f5620d9b2 addresses this.  Doing client side validation, removing HTML5 native validation.  this will fix IE7/IE8/ other browsers that have HTML5's localStorage and postMessage but not form validation.

[2011-10-05 13:57] #94 closed, assigned to shane-tomlinson

[2011-10-05 16:27] shane-tomlinson opened #356 "change cursor to pointer when hovering over email addresses in pick email section."

[2011-10-05 16:33] shane-tomlinson opened #357 ""this is not me" and "use a different email" should be on different line from "sign in" button."

[2011-10-05 16:35] #356 closed, assigned to shane-tomlinson

[2011-10-05 17:37] #357 closed, assigned to shane-tomlinson

[2011-10-05 17:38] shane-tomlinson opened #358 "mobile version has a large white gap at the top of the screen."

[2011-10-05 17:47] dianel opened #359 "iphone4 screens are jumbled"
I could sign in, but it wasn't formatted properly for my screen.  I also couldn't resize the screen with two fingers, which is what I expect to do when screens aren't formatted properly.

[2011-10-05 17:48] #358 closed, assigned to shane-tomlinson

[2011-10-05 17:58] lloyd commented on #214
discussion here with @ozten about how to get this ball rolling:
http://irclog.gr/#show/irc.mozilla.org/identity/11564

[2011-10-05 19:16] ozten commented on #214
Yep. I don't have any 'must read' tech docs, it's just SMTP. Supporting all the inputs for your mail library via config should do. For Django that is EMAIL_HOST, EMAIL_PORT, EMAIL_HOST_USER, EMAIL_HOST_PASSWORD and EMAIL_USE_TLS.

[2011-10-05 21:43] lloyd commented on #350
I added placeholder graphics:  https://dev.diresworb.org/about - downgrading this issue to 4 stars.

[2011-10-06 10:36] shane-tomlinson commented on #341
merge 4e9883bd3d857528821f0a583aefcbf794c61587 addresses a lot of this, but more can be done.

My basic changes are to make buttons larger, space out the email addresses more, make things easier, but I feel the relative font sizes could use some UI genius know how work.

[2011-10-06 10:43] shane-tomlinson commented on #349
I did a bit of styling work, but I agree with @lloyd - I think instead of going to the manage screen immediately, we should say which site they are now logged in as.  Maybe we should do that with the verify initial user page as well?

[2011-10-06 11:33] shane-tomlinson commented on #338
883582035c5427dca0739f33384dfe1bd935ef01 fixes this.

[2011-10-06 11:33] #338 closed, assigned to shane-tomlinson

[2011-10-06 11:34] shane-tomlinson opened #363 "error message needed on sign up page if not using email address."

[2011-10-06 11:35] shane-tomlinson opened #364 "error messages needed for sign in page"
Need required fields, not an email address, passwords too short, cannot sign in.

[2011-10-06 13:45] shane-tomlinson commented on #363
bd0648e0e7b62b9c48319363ba6546e11161bac5 adds this.

[2011-10-06 13:45] #363 closed, assigned to shane-tomlinson

[2011-10-06 13:47] shane-tomlinson commented on #321
This and #341 are duplicate.  Closing.

[2011-10-06 13:47] #321 closed, assigned to lloyd

[2011-10-06 13:51] #364 closed, assigned to shane-tomlinson

[2011-10-06 14:07] shane-tomlinson commented on #246
referencing http://forum.javascriptmvc.com/#Topic/32525000000255003.  Info at conditional compilation at: http://www.javascriptkit.com/javatutors/conditionalcompile.shtml

[2011-10-06 14:11] #246 closed, assigned to nobody

[2011-10-06 15:01] shane-tomlinson commented on #346
merge 00d27425835ab5c632c46c67f6137be71f903749 fixes the IE8 javascript errors on the main site.  Now we are getting somewhere.

[2011-10-06 15:01] #346 closed, assigned to shane-tomlinson

[2011-10-06 16:49] shane-tomlinson opened #365 "experiment with removing popup.css from steal, the initial load has no styles"
This makes the content jump around.

[2011-10-06 16:53] shane-tomlinson commented on #244
@benadida - This cannot be closed yet.  The unresponsive script warning is still displayed in IE8 using a 2.26ghz i5, all running natively, not inside of a VM.

[2011-10-06 16:53] shane-tomlinson commented on #359
@daniel, which screens are jumbled?  We have just done a ux redesign addressing most of this.

[2011-10-06 17:08] benadida commented on #244
OK, then I think we can't support IE8 until we have DSA. How many times do you get the warning?

[2011-10-06 18:03] lloyd commented on #365
I would lobby for this being higher priority (first thing I noticed, mike hanson mentioned it too.  it's a nit, but it's very in your face.)  adding needs-triage label so we can duke it out

[2011-10-06 18:04] michaelrhanson commented on #365
as would I, it looks ugly for about 250ms on a coffeeshop network

[2011-10-06 18:09] michaelrhanson opened #366 "lock icon animation overlaps site name"
beta.myfavoritebeer.org, on Mac, is 220px wide.  On login, when the lock icon is animated rightwards, the lock finishes under the sitename and it looks kinda messy.

Perhaps we should a) wrap the sitename, b) treat the overflow somehow (dangerous, nevermind, don't do that), c) put the lock icon into a div that will overlap the text more attractively (perhaps a floating textured div with a dropshad

[2011-10-06 18:12] lloyd commented on #366
this relates to an issue we were discussing earlier.  Because keygen occurs during that animation (not technically _during_, but whatever), we need a larger change here that displays a non-functional progress indicator to the user.  We should rethink the anim to address both issues in one breath.

[2011-10-06 19:20] clarkbw commented on #350
This looks pretty good for now, I'll move on to other stuff.  I only have a couple of nits with the text.
- remove the ":" at the end of "BrowserID is an easier way to sign in"
- remove the "." at the bullet point 1 and 2

[2011-10-07 08:25] daniel commented on #359
I think you meant @dianel :)

[2011-10-07 08:35] shane-tomlinson commented on #359
@daniel - you are correct - @dianel - which screens are jumbled on the iphone 4?  We just did an entire site redesign, you can see what we have done on dev.myfavoritebeer.org and dev.diresworb.org - using the dev server requires you to re-register because the databases between the two machines are not shared.  We spent quite a bit of time making this work on mobile and things were looking pretty g

[2011-10-07 08:37] shane-tomlinson commented on #365
@lloyd - no need to duke it out, it was a relatively straight forward fix.  I'd like to get rid of all of StealJS and even JMVC - we aren't really using it what it is meant for and so far it is just adding a lot of extra cruft.

Merge 24d9b3641b596131abda9e5a601fc5dda8d6f343 brings this into dev.

Checkins 8d99e0311b2bb0f8e569f70c3a6de8a3faaacac7 and 34d16808fbbf3e5b48eef0aaeca92c37e81960bc are th

[2011-10-07 08:37] #365 closed, assigned to shane-tomlinson

[2011-10-07 09:15] #336 closed, assigned to shane-tomlinson

[2011-10-07 09:23] shane-tomlinson opened #367 "android 2.2, 2.3 default browsers need to be blocked."
We need this to be blocked until #325 is taken care of.

[2011-10-07 11:27] shane-tomlinson commented on #367
Merge 33db92435c3a9520cf61263a7099c46cdf9f7fdb brings this to dev.

Checkins 7de2063ff5e434ba1da81e9dcef76f98341be02d and 0983f0f7d911941e65abae97d2a7e6a8e999d62e get the functionality.

Checking to see if JSON.parse(null) fails, if it does, we know things do not work.  This is better than the original check looking at the userAgent string as the JSON.parse is what is actually causing the failure.

[2011-10-07 11:27] #367 closed, assigned to shane-tomlinson

[2011-10-07 12:05] shane-tomlinson opened #368 "Show the "communicating with server" message as soon as dialog opens"
It is pretty poor UX to show nothing for a couple of seconds before the "communicating with server" message is shown.

[2011-10-07 13:50] shane-tomlinson commented on #368
merge 7d3f9ad9f9e6d2ad24d6b8caa5aec14d428fb602 does this.

What I really want to do is double buffer the screen transitions.

[2011-10-07 13:50] #368 closed, assigned to shane-tomlinson

[2011-10-07 13:51] shane-tomlinson opened #369 "Smooth out screen transitions"
- Double buffering
- z-index with fadeIns

[2011-10-07 14:29] lloyd commented on #365
rad!  I'll inspect and merge.

(re stealjs, I'm like "what have you done for me lately?")

[2011-10-07 14:32] #350 closed, assigned to nobody

[2011-10-07 14:36] lloyd commented on #365
hmmm.  maybe let's discuss whether we merge down into beta in bug scrub?  Want to get @jbonacci's sign off.

[2011-10-07 16:55] #85 closed, assigned to lloyd

[2011-10-07 16:57] lloyd commented on #84
fixed in beta.

[2011-10-07 16:57] #84 closed, assigned to lloyd

[2011-10-07 17:01] lloyd commented on #14
this is a larger roadmap issue, I don't think it needs to be a bug right now