[2013-06-20 16:39] edwindotcom commented on #3531
There seems to be momentum to stay the course with primaries on b2g even though there are a number of outstanding issues to discuss.  B2G doesn't have users currently and the team hopes to fix by then.

[2013-06-20 16:41] edwindotcom commented on #3536
we pushed the train live and marketplace fixed the issue.  Issue is no longer repro.

[2013-06-20 16:41] #3536 closed, assigned to nobody

[2013-06-20 16:46] shane-tomlinson commented on #3529
@kparlante - @6a68 says that there may already be a JSONP API for that.

[2013-06-20 17:03] edwindotcom commented on #3531
@jedp and I are going to communicate the issues to Product and Pgm to inform B2G about the impact of the plan.

[2013-06-20 17:04] shane-tomlinson commented on #3533
Closing as dup of #3566.

[2013-06-20 17:04] #3533 closed, assigned to nobody

[2013-06-20 17:10] shane-tomlinson commented on #3546
@callhad - we are using a different regexp on the front end than the one you show there. What do you think, should we change it over? If not, should this issue stay open?

[2013-06-20 17:16] edwindotcom commented on #3560
Triage: Gene please rescue us...

[2013-06-20 17:17] shane-tomlinson commented on #3561
@fmarier - what do you think here, is this a problem or expected behavior?

[2013-06-20 17:21] shane-tomlinson commented on #3563
Relate to #3532

[2013-06-20 17:21] jaredhirsch commented on #3563
![](http://media0.giphy.com/media/2xgzOPvrWW7hm/original.gif)

[2013-06-20 17:22] jedp commented on #3563
@6a68 you are UNACCEPTABLLLLLLLLLLLE!!!!!!  UNACCCEPTABBBLLLLLLLLLLLLLE!!!!!!!!

[2013-06-20 17:22] edwindotcom commented on #3562
We haven't been able to reproduce this on multiple machines with FF 21, 22, or Aurora.  You might try again with a clean Firefox profile?  Closing for now, please reopen if you can still reproduce with clean profile.

[2013-06-20 17:22] #3562 closed, assigned to nobody

[2013-06-20 17:22] jedp commented on #3563
Assigning this to me for figuring out what we can do

[2013-06-20 17:26] callahad commented on #3546
If the HTML5 spec thinks those are valid addresses, we should probably adjust the regex. Either using that one, or [gerv's version](http://blog.gerv.net/2011/05/html5_email_address_regexp/).

[2013-06-20 17:27] mattbasta commented on #3563
Gaia team gets one million years dungeon, no trial.

On Thu, Jun 20, 2013 at 10:22 AM, Jed Parsons notifications@github.comwrote:

[2013-06-20 17:27] jedp commented on #3568
Assigning to me to investigate

[2013-06-20 17:29] edwindotcom commented on #3531
dupe of #3566 , closing this one

[2013-06-20 17:29] #3531 closed, assigned to edwindotcom

[2013-06-20 17:41] kparlante commented on #3466
@6a68, @shane-tomlinson : yes, I'll look for this error in the kpi data

[2013-06-20 17:41] jedp commented on #3566
@edmoz and I will work on this

[2013-06-21 13:57] #3155 closed, assigned to shane-tomlinson

[2013-06-21 14:11] #3515 closed, assigned to shane-tomlinson

[2013-06-21 14:19] ozten commented on #2583
Getting feedback from some Wizards at Open Source Bridge that no SNI makes Persona a non-starter for them.

(plus everyone contributing to this bug :) )

What is our plan? Does AWS use Squid? Did we move to 3.2 yet? Should we switch to CONNECT for a Node based workaround?

Anything @fmarier and I can do this weekend to help?

[2013-06-21 16:48] edwindotcom commented on #3560
this is fixed, not sure how, but closing.

[2013-06-21 16:48] #3560 closed, assigned to gene1wood

[2013-06-22 00:08] edwindotcom opened #3572 "[b2g] intermittent 'improper usage of API: json parse' when signing in with primaries"
I saw this 2 times on different sign in email but it doesn't repro the 2nd time I execute it.  Here are the vague steps:
1. set pref on phone to use login.anosrep.org
2. sign into beta.123done.org with a user@yahoo.com, logout
3. sign into beta.123done.org with a user@test-moz-idp.org, logout
4. sign into beta.123done.org with a user@gmail.com
   start these steps again over an over a few times.

[2013-06-22 03:01] fmarier commented on #3561
Is this only visible in the dev tools? Or does it affect the throbber as well?

I mean, it's not really a problem that the browser decides to cancels a bunch of optional network requests. That's kind of the idea behind prefetching: load these things if the network is idle, otherwise don't bother. It's a bit unnecessary/noisy to show that in the console I guess, but I'm not really worried about it.

[2013-06-22 03:22] mattbasta commented on #3561
I would be less concerned if it didn't happen on every request. It happens
without fail on every page load.
On Jun 21, 2013 8:01 PM, "Francois Marier" notifications@github.com wrote:

[2013-06-22 03:25] fmarier commented on #3561
Then it's probably worth looking into. It's either a Chrome bug or something weird we're doing with the iframe. I don't remember seeing that when I was testing the pull request for it.

[2013-06-22 04:59] jcea commented on #2583
Trying to deploy Persona Identity Provider and yes, this is a showstoper :-(.

Do we have a target date to get this issue solved?.

[2013-06-24 10:02] shane-tomlinson commented on #3184
This work has been merged. Closing.

[2013-06-24 10:02] #3184 closed, assigned to nobody

[2013-06-24 10:12] shane-tomlinson commented on #2501
@ozten, @mathjazz - Did you guys ever get to this work? I could swear I saw something about it.

[2013-06-24 10:15] shane-tomlinson commented on #2038
The list of sites provided by @jbonacci all redirect to https://login.persona.org. Closing.

[2013-06-24 10:15] #2038 closed, assigned to fmarier

[2013-06-24 10:22] shane-tomlinson commented on #3196
This has been done for several months. Closing.

[2013-06-24 10:22] #3196 closed, assigned to shane-tomlinson

[2013-06-24 10:26] shane-tomlinson commented on #3468
Closing as dup of #2482

[2013-06-24 10:26] #3468 closed, assigned to nobody

[2013-06-24 10:29] shane-tomlinson commented on #2343
I made it so in f50ddc7cd786abe1219a7bb114f0af2b0f016cab. It now does. Closing.

[2013-06-24 10:29] #2343 closed, assigned to nobody

[2013-06-24 10:31] shane-tomlinson commented on #2544
@seanmonstar - is this still applicable since we use .js scripts for just about everything?

[2013-06-24 10:31] shane-tomlinson commented on #2490
@seanmonstar - does this now work for you?

[2013-06-24 10:32] shane-tomlinson commented on #2312
These pages have been removed. Closing as no longer applicable.

[2013-06-24 10:32] #2312 closed, assigned to nobody

[2013-06-24 10:33] shane-tomlinson commented on #2322
Page has been removed, closing as no longer applicable.

[2013-06-24 10:33] #2322 closed, assigned to nobody

[2013-06-24 10:33] shane-tomlinson commented on #2319
Page has been removed, closing as no longer applicable.

[2013-06-24 10:33] #2319 closed, assigned to nobody

[2013-06-24 10:34] shane-tomlinson commented on #2298
Page has been removed, closing as no longer applicable.

[2013-06-24 10:34] #2298 closed, assigned to nobody

[2013-06-24 10:37] shane-tomlinson commented on #1769
@seanmonstar - do you still have problems installing on Windows?

[2013-06-24 10:42] shane-tomlinson commented on #61
We have added this using the `experimental_forceAuthentication: true` option to navigator.id.request. Note: this _only_ works if the user is using an address backed by the fallback IdP. Closing.

[2013-06-24 10:42] #61 closed, assigned to nobody

[2013-06-24 10:45] shane-tomlinson commented on #1350
Closing as we use the initial email address that the user types as the canonical email address. If the user returns and types in the same email address with different casing, the original email address, with the original casing, will be used instead.

[2013-06-24 10:45] #1350 closed, assigned to nobody

[2013-06-24 11:41] shane-tomlinson commented on #3559
@kumar303 - I am testing with my FFOS phone pointed at "https://tooltips.personatest.org" and am seeing the tooltips as expected. Which server are you working against?

[2013-06-24 11:56] shane-tomlinson opened #3573 "Next button on authentication page is not lined up with the right hand side of the input box."
![screen shot 2013-06-24 at 12 51 58](https://f.cloud.github.com/assets/848085/695121/2029dc58-dcc5-11e2-8e72-51d8bb243dae.png)

[2013-06-24 11:57] shane-tomlinson opened #3574 "[b2g] When tooltip is displayed, input element loses focus."

[2013-06-24 13:07] shane-tomlinson opened #3575 "password field is not autofocused when verifying email address in second browser"
STR

1) Sign up as new user in Browser A
2) Verify email in BrowserB

Expected:
The email address should be focused.

Actual:
The email address is not focused.

![screen shot 2013-06-24 at 14 06 29](https://f.cloud.github.com/assets/848085/695391/e88e50e4-dcce-11e2-82db-6fd474a9da6d.png)

[2013-06-24 13:13] shane-tomlinson commented on #3559
@kumar303 - The fix for this was merged into train-06.05.2013 on 06.12, commit 5465483c05a121e0f1b1e30261002b69c9daa165 (tracking issue #3496). This code is currently on https://login.anosrep.org and is set to go into prod tomorrow (06.25). login.anosrep.org is not accepting new users at the moment, so I pushed the same code to tooltips.personatest.org and am seeing the tooltips there, though the

[2013-06-24 15:21] ozten commented on #2501
yes, I've re-written that part of i18n-abide. It no longer uses `eval`.

I think we just need to upgrade from

[code]

to `0.0.8beta8`.

Part of this change is we generate both .json files and actual .js files. .js for client side and .json for server side.

I'm not sure how much work is left, sorry. I could use help crossing the finish line, or checking to see if we're "done" enough.

[2013-06-24 15:30] ozten commented on #3573
This is reporting an issue with the native desktop integration?
or will we only use bugzilla for those issues?

or Perhaps [web-desktop] instead?

[2013-06-24 15:31] shane-tomlinson commented on #3573
@ozten, nope just the normal dialog in any browser, not native integration. I need a better tag, eh?

[2013-06-24 15:35] shane-tomlinson commented on #2501
@ozten, let's see where we are and make a list of what needs to get done. I can look at this a bit tomorrow if you don't mind helping me out.

[2013-06-24 17:56] seanmonstar commented on #2490
Nope, `test_backend` is still bash, and the `start-stop` still relies on `signals` that don't exist on Windows.

[2013-06-24 17:58] seanmonstar commented on #2544
It was simply easier to read and program than plain nodejs code.

[2013-06-24 18:10] seanmonstar commented on #1769
There's one last problem that: the current `scripts/lockdown.js` is an old version that doesn't work on Windows. There is an open pull request to fix the script in lockdown: https://github.com/mozilla/npm-lockdown/pull/24

Afterwards, the script would need to be copied to `scripts/lockdown.js`.

[2013-06-24 21:35] gene1wood commented on #2583
The impediment at the moment to moving to Squid 3.2 is the absence of a RHEL/CentOS/ScientificLinux blessed RPM. I'll look into building based on this work : http://repo.ngtech.co.il/rpm/centos/6/x86_64/

[2013-06-24 22:37] jcea commented on #2583
ETA?. I need SNI support for deploying a 3.000 members Persona verifier.

If I can be of any help, please, let me know.

[2013-06-24 23:16] jaredhirsch commented on #3547
I think we could add proxy-revalidate and must-revalidate to cache-control.

We could also add an Expires header in the past for proxies/caches that only speak HTTP 1.0.

[2013-06-24 23:18] edwindotcom opened #3576 "Kill native-persona.org"
1. goto:
   https://native-persona.org

acutal: there's no CSS there

expected: there should be... which makes me thing this isn't a cname to login.persona.org  We need this to unblock any old versions of gaia/gecko.

here's a related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=886404

[2013-06-24 23:29] krupa opened #3577 "[b2g] Stuck on Persona loading screen"
While trying to buy an app on a hamachi device, I am stuck at the Persona loading screen and I see this error in logcat-

06-25 01:17:37.031 E/GeckoConsole(  795): [JavaScript Error: "downloadable font: download failed (font-family: "Feura Sans" style:normal weight:normal stretch:normal src index:3): bad URI or cross-site access not allowed
06-25 01:17:37.031 E/GeckoConsole(  795): source: https:/

[2013-06-24 23:29] krupa commented on #3577
this is on 1.01

[2013-06-24 23:38] jrgm commented on #3577
See also https://github.com/mozilla/browserid/issues/2906. However a CORS error on loading a webfont does not prevent page load (or should not). The user agent would fall back to some other font.

[2013-06-25 00:16] gene1wood commented on #2583
We have a Squid 3.2 RPM now thanks to @mostlygeek and I need to find how to enable it. At the moment on squid 3.3.5 with this code

[code]

I'm getting this error from squid

[code]

[2013-06-25 08:21] shane-tomlinson opened #3579 "[b2g] Feura Sans not served - cross origin errors when downloading fonts when origin is firefoxos.perona.org"
@jedp and I are simulating prod in a dev environment with one server with two URLs: primaries.personatest.org is the A record and fx-primaries.personatest.org is a CNAME to primaries.personatest.org. The FirefoxOS device is pointed at fx-primaries.personatest.org. You can see the CORS errors below:

[code]

The CORS headers on fonts are by default set to the A record name.

[2013-06-25 18:19] gene1wood commented on #2583
@lmorchard Those pastebin links you posted expired. What were some examples of mozilla sites using SNI, I'd like to test against them.

[2013-06-25 18:26] gene1wood commented on #2583
Here's a test site we can use while we work on this : https://sni.velox.ch/

[2013-06-25 18:27] lmorchard commented on #2583
Hmm, let's see if I can remember. Basically anything on the generic cluster in phx. For example, this:

[code]

Yields this:

[code]

[2013-06-25 18:30] lmorchard commented on #2583
From the Mana page, I'm guessing these are some more random examples:
- blog.lizardwrangler.com
- brendaneich.com
- careers.mozilla.org
- dnt.mozilla.org
- firefoxflicks.mozilla.org

[2013-06-25 22:28] jedp commented on #3576
I propose we switch off native-persona.org.  It was obsolete when we started firefoxos.persona.org (pointing to the ephemeral instance firefoxos.personatest.org).

We kept it alive as an emergency backup that we could swing the DNS back to if necessary.  But that was never necessary.  When the firefoxos ephemeral instance was stable (this was the Big Merge), we switched native-persona to a proxy t

[2013-06-25 22:30] jedp commented on #3572
@shane-tomlinson and I think this may be due to [Bug 781452 - when window.open is called mozbrowserloadstart and mozbrowserloadend are fired two times](https://bugzilla.mozilla.org/show_bug.cgi?id=781452)

[2013-06-25 22:35] ozten commented on #3576
+1

`kill -9`

[2013-06-25 23:15] jedp commented on #3577
@krupa, was there anything else in the logcat about js files getting blocked?

[2013-06-25 23:16] jedp commented on #3577
We're wrestling with fonts now.  See also issue #3579

[2013-06-26 00:43] jaredhirsch commented on #3547
After looking at a whole lot of docs on the subject, going with @jrgm's original suggestion for now. We'll see if this recurs after the next release.

HTTP caching implementations are a mess

[2013-06-26 01:38] jrgm opened #3583 "client-sessions cookies are not compatible between train-2013.05.22 and train-2013.06.05"
In train-2013.06.05, client-sessions changed version from 0.9.0 and 0.3.1. Cookies issued from train-2013.05.22 (current production) and train-06.05 (the pending release to production) are not compatible. This means that when we upgrade to train-2013.06.05, all current sessions will be invalidated and users will need to reauthenticate. This can be demonstrated in a local build, and I'm kicking mys

[2013-06-26 03:49] christgamesadmin commented on #2560
I have been struggling with this one for awhile (weeks) and found this post tonight. Thanks for the sanity check that others are also experiencing the same issue. I thought it was just my bad code (might still be), but it appears to be a common problem. This problem looks like a performance issue to me. If I hold down the F5 key to get rapid page refreshes, approximately 1 out of every 10 hits wil

[2013-06-26 09:03] madjar commented on #2423
@seanmonstar , any update on this ?

[2013-06-26 09:25] shane-tomlinson commented on #3576
@edmoz, I agree with @jedp - we are still dealing with the repercussions of the firefoxos CNAME, which requires special handling for IdPs to re-write URLs. Adding code to support a very limited number of test devices is not worth the extra long-term maintenance effort.

[2013-06-26 09:30] shane-tomlinson commented on #3577
@jedp - the cname is causing a lot of headaches.

@krupa - like @jrgm said, this should not _STOP_ the dialog from loading, instead the dialog should fall back to another font. Are there any further log messages, the Javascript Error related to fonts may be a red herring/misnamed since no javascript is involved.

[2013-06-26 09:36] shane-tomlinson commented on #3572
@jedp - I did a lot of testing yesterday, and I no longer believe window.open is being called twice. Instead, it looks like sessionStorage is being wiped after the system runs out of PMEM.

[2013-06-26 13:40] jedp commented on #3577
@shane-tomlinson yes I agree.

[2013-06-26 16:26] krupa commented on #3577
I didn't see any error message other than those. Persona is generally very slow on wifi. We can probably attribute the behavior to that and close this issue.

[2013-06-26 16:31] shane-tomlinson commented on #3577
@krupa - I'd like to keep this open until we can investigate further, at least if this is reproducible.

[2013-06-26 16:33] shane-tomlinson opened #3584 "KPIs report "screen.error." if module.renderError is called with custom error."
screen.error. contains no useful developer facing information.

Link to #2407

[2013-06-26 18:46] jrgm commented on #3583
Okay, closing. We will proceed with train-2013.06.05 and know that it will cause users to need to reauthenticate.

[2013-06-26 18:46] #3583 closed, assigned to nobody

[2013-06-26 21:36] chemistrydioxide commented on #2932
Option 2 is something that I have already proposed as well. However, some people think that Google Apps for your Domain users should rather run their own IdP instead of using BigTent.

Option 3 is a very bad thing to do. It allows Google to usurp _any_ random email address they want and steal accounts. Another reason why 3 is bad is that there are several domains in Google's database which Google

[2013-06-26 21:53] jedp commented on #3579
Stupid question ... why is this even happening when FeuraSans is on device?  Why doesn't it pick it up locally and just be happy?

[2013-06-26 22:00] callahad commented on #3579
Are the font family names maybe different?

[2013-06-26 22:06] chemistrydioxide commented on #1523
This would be useful for domains which run a non-SSL web server. It would also be a way to run a multi-domain IdP without the need for several IPs.

[2013-06-26 22:09] jaredhirsch commented on #3547
**Update:** TL;DR this actually appears to be a Firefox browser bug.

The issue recurred with today's production release, and @jbuck was kind enough to help us debug in detail. He confirmed that @ednapiranha was also seeing this problem again.

The issue (at least, today) was not stale copies of sign_in referring to gone static endpoints--the page was fresh, but the static files (with the correct

[2013-06-26 22:34] jedp commented on #3566
This is a known issue and we have communicated about it to dev-identity, fxospay, and marketplace.  @shane-tomlinson is working aggressively on the solution.  I'm going to leave this bug open as a reminder to me to reiterate the message every week until we have a solution, but downgrading from five screaming stars to four rather edgy stars.

[2013-06-26 22:37] jedp commented on #3574
Good catch.  A good one to fix, but the right action should be obvious to the user.  Added to the b2g milestone so we won't lose it when we eventually do a final sweep of b2g issues.

[2013-06-26 22:53] seanmonstar commented on #3584
It could include "custom" on the end, but that doesn't explain the screen.

Another option is to try to define a name for the screen from a property of
the error screen. The title will likely be localized, so it would need to
be a separate name.
On Jun 26, 2013 9:33 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-06-27 00:24] jaredhirsch commented on #3547
Adding a bit more context: FF 18 made DNS lookups asynchronous. Here's the description of the network.dnsCacheExpirationGracePeriod pref from [moz-central](http://dxr.allizom.org/mozilla-central/source/modules/libpref/src/init/all.js#l1256):

This makes it pretty clear what's happening: FF caches DNS lookups indefinitely, and refreshes that cache async. This doesn't, however, explain why only a fe

[2013-06-27 03:34] jrgm commented on #3547
So, I've been running a loop to load https://static.login.persona.org/v/a8b2c60b06/production/en/browserid.js in FF22. At the same time, I'm looking at NSPR logging for nsHostResolver:5 and also watching tcpdump for port 53 (on OSX).

After startup, according to FF's own NSPR logs, and from tcpdump, FF never re-resolves the IP for static.login.persona.org. However, then I used `ipfw` to deny outbo

[2013-06-27 07:10] seanmonstar commented on #1523
It'd also allow the many cases like me, where my main domain is pointed at
Tumblr, so I can't add a well-known file to it, but can easily point a DNS
record to another server that only does my personal auth.
On Jun 26, 2013 3:07 PM, "chemistrydioxide" notifications@github.com
wrote:

[2013-06-27 11:40] shane-tomlinson commented on #3579
@callahad - that is my guess, but Feura Sans is the one I was told to use by the Marketplace dudes. I will re-check.

[2013-06-27 15:49] seanmonstar commented on #2423
I'd been updating in #2560. I can't reproduce locally, and so I need
information about when the requests fail to know if I can fix it.
On Jun 26, 2013 2:03 AM, "Georges Dubus" notifications@github.com wrote:

[2013-06-27 16:41] callahad commented on #3572
Fix available -- waiting for merge.

[2013-06-27 16:43] callahad commented on #3576
Retitling to "Kill native-persona.org" from "native-persona.org is not mirroring firefoxos.persona.org which can break old b2g installs"

[2013-06-27 16:47] callahad commented on #3577
Hi @krupa, @jrgm would like further feedback:
1. Can you get a full `adb logcat` when this happens?
2. Does it happen every time?
3. Does it happen on other sites that use Persona?
4. Have you seen this happen on other handsets?
5. Have you seen this happen on other hamachi devices?

[2013-06-27 16:52] callahad commented on #3579
Stomlinson: Looks like you can [separate things with a semi-colon](http://tools.ietf.org/html/rfc6454#section-7.1):

[code]

**Edit:** [Maybe not, actually](http://www.w3.org/TR/access-control/#access-control-allow-origin-response-header)?

We should:
- [ ] Make sure CORS headers work for static, login, and firefoxos subdomains?
- [ ] See if we can use the font on the phones

[2013-06-27 16:53] jaredhirsch commented on #3579
as requested by @jrgm:

![](http://24.media.tumblr.com/tumblr_mb95ci00X31qk04bto1_500.gif)

ONE MILLION YEARS DUNGEON for reusing CORS headers

[2013-06-27 17:13] jrgm commented on #3579
To be specific, that webfonts is piggybacking on the cors headers, and to load a webfont means you have to change the security model of your page.

[2013-06-27 18:25] jedp commented on #3576
fwiw, `var/log` last recorded any action on that machine on May 14.

[2013-06-27 18:58] jedp commented on #3576
I want to remove this instance, but don't have sign-in to the AWS console to remove the termination protection.

@lloyd or someone, can you kill it?  There may also be a static IP to reclaim.  Instance is:
- `native-persona` {i-211a4c50}:  54.234.233.99 (last log Apr 19)

I have destroyed these:
- `native-persona-123done` {i-470a5c36}: 23.20.36.223
- `notoriousb2g` {i-a74484d5}: 23.22.160.203

[2013-06-27 19:19] jedp opened #3591 "Destroy firefoxos ephemeral instances"
Now that `firefoxos.persona.org` is a cname to `login.persona.org`, it's time to clean up some awsboxen.

Any objections to terminating these from the identity console:
- `firefoxos` {i-d39c59be}: 184.73.36.182 (Still being accessed! how???)
- `fxrp` {i-2a32e64b}: 54.242.214.74 (I can't actually ssh to this)
- `fxrp` {i-a269edc7}: 50.17.109.61 (another by the same name)
- `b2g_2013-04-16-738ece2e`

[2013-06-27 19:27] jedp commented on #3591
Perhaps the hits on `firefoxos` are due to issue #3547?

[2013-06-27 20:14] callahad commented on #1523
Okay, so here's what needs to happen:
- [x] Post a concrete proposal for what the DNS record should look like on the dev-identity mailing list.
- [ ] Write code to do DNS-based lookup for delegation.
- [ ] Determine precedence order for DNS vs HTTPS documents, via discussion on dev-identity.
- [ ] Modify code to respect that precedence.

We can start on the first two now, and @qmx has volunteered

[2013-06-27 22:21] #3572 closed, assigned to nobody

[2013-06-27 22:54] jedp commented on #3532
Changing the title to 'bigtent idp sessions', because I don't think this is going to be an issue in the general idp case (e.g., mozilla idp, sendmypin, gno.mn, eyedee.me, etc)

[2013-06-27 23:17] jedp opened #3593 "Persona dialog blank on MSIE 11 on Windows 8.1"
Robert Kaiser (KaiRo on moz IRC) reports that "Persona doesn't work on MSIE 11 on Win 8.1"

He explained on the `#planning` channel on Jun 27:

[code]

[2013-06-27 23:22] jedp commented on #3593
Addendum, from KaiRo:

also, I see that those news sites about the "leaked UA string" from a few days ago say "Mozilla/5.0 (IE 11.0; Windows NT 6.3; Trident/7.0; .NET4.0E; .NET4.0C; rv:11.0) like Gecko" while what I see in this Win8.1 preview build is "Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; rv:11.0) like Gecko" (the missing "IE 11.0" in the latter is significant)

[2013-06-28 01:10] ozten commented on #3591
That makes sense.

Proposal - Kill DNS and wait a few days for complaints or bugs? Then kill instances afterwards.

[2013-06-28 02:04] #3467 closed, assigned to nobody

[2013-06-28 02:06] jedp commented on #3591
@ozten that seems like a good pattern in general for terminating our awsboxen.  I like that.  I think you should suggest that to our ops folks for the next time they do a sweep to clean up our ephemeral instances.  It could save a lot of pain.

[2013-06-28 03:02] jrgm commented on #3591
Note though that (at least) Firefox ignores TTL until it fails to connect to a running server. (Or that's what I'm seeing).

[2013-06-28 08:24] madjar commented on #2423
The demo application from [`pyramid_persona`](https://github.com/madjar/pyramid_persona/) have this bug. It may be a good way to reproduce it. The bug appears when the loading of the page is canceled (by navigating away or reloading the page).

If you prefer, I can run it on some host so you can try it.

[2013-06-28 09:21] shane-tomlinson opened #3595 "android 2.3.6 default browser/dev - "Sign in with Persona" button never shown on dev.123done.org"
When loading the dev RP locally, the dialog never gets past "Connecting to Persona..."

[2013-06-28 09:22] shane-tomlinson commented on #3595
Note, this is _before_ merging the RP branding changes in #3589

[2013-06-28 09:40] shane-tomlinson opened #3596 "IE8: Cachified resources are still re-requested and checked for ETags."
STR

1) Load up Windows XP with Fiddler and IE8
2) Open Fiddler
3) Visit login.persona.org
4) Place the cursor into the URL bar, press enter without changing the URL
5) Watch the requested resource list in Fiddler. All the JS/CSS is re-requested and ETags checked.

[2013-06-28 10:18] shane-tomlinson commented on #3595
Another case of #3534.

[2013-06-28 10:25] shane-tomlinson opened #3598 "include.js sets variables = undefined. undefined can be redefined to no longer be undefined."
See https://github.com/mozilla/browserid/pull/3589#discussion_r4931463. Nice catch @6a68.

[2013-06-28 15:10] #3286 closed, assigned to nobody

[2013-06-28 15:27] callahad opened #3600 "Phishing attempts are insufficiently distinguishable"
Based on the screenshot below, what are you going to log into?

![screen shot 2013-06-28 at 10 23 12 am](https://f.cloud.github.com/assets/24193/722723/4ba52776-e007-11e2-8cf3-7e7c82fd26e8.png)

[2013-06-28 15:32] #3547 closed, assigned to jaredhirsch

[2013-06-28 15:33] jaredhirsch commented on #3596
hopefully closed by #3582, I need to verify on dev

[2013-06-28 16:06] callahad commented on #3600
Via email from Ben:

[2013-06-28 16:35] jedp opened #3602 "communication_iframe pulls in a lot of images"
The first-time load of the communication_iframe is pretty heavy on desktop.  If we can, it would be a big help to our speed on mobile if we we could keep these things from loading.

Here's desktop firefox loading the communication_iframe from an m1.small ephemeral instance:

[code]

[2013-06-28 16:46] seanmonstar commented on #3602
I believe that's from the prefetch links in the header. It's trying to
improve the load of the dialog by having things cached.

We had discussed this, and there was hope that the browser could determine
whether to prefetch or not.
On Jun 28, 2013 9:35 AM, "Jed Parsons" notifications@github.com wrote:

[2013-06-28 18:13] seanmonstar commented on #3598
Including `var undefined;` at the top of the wrapping function will clear out any redefining an RP has done.

[code]

[2013-06-28 18:26] jaredhirsch commented on #3602
@seanmonstar @jedp I did a bit of digging, this is funky.

Link prefetching is [only supported by FF](https://developer.mozilla.org/en-US/docs/Link_prefetching_FAQ), and that does include mobile firefox 21 on Android, but not B2G on my Keon (running 1.0.1.0), according to [this test page](http://browserspy.dk/prefetch.php). So, mobile FF users will experience weird sluggishness when they hit every

[2013-06-28 18:30] seanmonstar commented on #3602
@6a68 Fennec experiences sluggishness from prefetch? I was originally afraid of that, but would have hoped that the browser would load those resources async, and after the rest of the site is loaded.

[2013-06-28 18:41] callahad commented on #3598
We can also use `void 0` to get a real, unadulterated `undefined`

[2013-06-28 19:05] jedp commented on #3591
@jrgm yes for the `firefoxos` instance, we'll have to just take it down to make people stop connecting.  The DNS has already been changed for almost two weeks.

[2013-06-28 19:43] fmarier commented on #3600
Unless I'm missing something, the only thing that `123done.org` would get out of this is the user's email.

The evil RP might trick the user into signin into `123done.org` by making it look (via `siteName` and perhaps more easily with `siteLogo`) like Google, but it can't use the resulting assertion for anything useful because the assertion's audience will be `123done.org` and will not allow that

[2013-06-28 20:05] callahad commented on #3600
Hrm. I still wish it was a little easier to figure out which item is what the site says it is, and which item is the domain you're actually going to sign into.

Still, with both Ben and Francois in agreement that this is not a problem, I'll close the bug.

[2013-06-28 20:05] #3600 closed, assigned to nobody

[2013-06-28 20:53] jaredhirsch commented on #3602
@seanmonstar: Hmm, you're right--I've tried a few RPs and can't find any jank/sluggishness. I'm on a pretty meaty Nexus, though, and I'm not sure how to throttle the connection (I guess I could tether to my laptop & find some application that can monkey with connectivity?).

Another concern is that mobile users have metered plans, and might download resources but never open the dialog on a given R

[2013-06-28 21:27] seanmonstar commented on #3602
That was my concern as well. They said that a good browser should hopefully
keep that in mind, being able to ask the operating system or something. I'm
skeptical that that's true, but that removed me r- earlier.
On Jun 28, 2013 1:53 PM, "Jared Hirsch" notifications@github.com wrote:

[2013-06-28 21:40] jrgm commented on #3596
This was also https://github.com/mozilla/browserid/issues/1268.

[2013-06-28 23:49] kparlante commented on #3466
@6a68, @shane-tomlinson, @jrgm : near as I can tell, this is what the error profile looks like in the kpi blobs: https://id.etherpad.mozilla.org/kpi-issue-3466-data

Sampled over a short period in June, this is the most common of the error screens
- 1.8% of all blobs
- 47% of blobs with screen.error

We can validate that assumption once the fix goes in.

[2013-06-29 03:34] lbredeso commented on #3212
I just ran into this while trying to find the JavaScript that handles "returnTo" in the Observer API:  https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.request

https://login.persona.org/include.js still references https://login.persona.org/include.orig.js, which still returns a 404.

[2013-06-29 05:03] callahad commented on #3212
<-- Jerk who didn't fix include.orig.js

[2013-07-01 10:13] shane-tomlinson commented on #3596
Thanks for the link @jrgm - closing as dup of an already closed bug.

[2013-07-01 10:13] #3596 closed, assigned to nobody

[2013-07-01 10:56] shane-tomlinson opened #3607 "Tooltip copy is too verbose"
From https://id.etherpad.mozilla.org/frontend-tooltips

@ryanfeeley and I are pow-wowing to clean up the tooltip copy.

Link to #3154
- Incorrect old password, password not updated => Old password incorrect
- New password is required. => New password required
- Old and new passwords are the same. => Passwords must be different
- Old password is required. => Old password required
- Password is requ

[2013-07-01 13:07] shane-tomlinson opened #3609 "Dialog copy is verbose"
This is a tracking bug to keep track of copy changes that @ryanfeeley is making.

[2013-07-01 13:10] shane-tomlinson commented on #3559
@kumar303 - are you still seeing this problem? If not, could you shut this issue down?

[2013-07-01 14:20] kumar303 commented on #3559
Go ahead and close it. I'll comment if I see it again. I don't seem to have access to close issues.

[2013-07-01 14:40] shane-tomlinson commented on #3559
Thanks @kumar303!

[2013-07-01 14:40] #3559 closed, assigned to shane-tomlinson

[2013-07-01 14:44] shane-tomlinson opened #3610 "KPIs data does not contain whether an XHR response was non-200"
This makes it difficult to tell if there are responses that are regularly failing and to track down why certain error screens may be shown.

Link to #3466

[2013-07-01 15:14] shane-tomlinson commented on #796
Since Google is retiring Google Chrome Frame [http://blog.chromium.org/2013/06/retiring-chrome-frame.html], I do not believe it makes sense to add support for it. I am all for a non-popup flow, but adding support for GCF should not be a goal. @seanmonstar?

[2013-07-01 15:33] shane-tomlinson commented on #3466
There are a couple of interesting things going on.
- All but one data point from the sample data set is Chrome.
- screen.error.registration is on the event stream after window.unload even though it occurs before window.unload in time.
- Screen.error.registration should only occur if /wsapi/user_creation_status returns a non-200 error code.
- In the set that completes, /wsapi/authenticate_user is c

[2013-07-01 15:52] shane-tomlinson commented on #2423
@seanmonstar - I believe we should be cancelling all in flight XHR requests when a user browses away from the current context. Will an iframe receive an onbeforeunload event when the parent document is closed/or sent to a new URL?

[2013-07-01 16:23] callahad commented on #796
I'm fine with GCF being an explicit non-goal.

[2013-07-01 16:44] edwindotcom opened #3611 "beta /wsapi/add_email_with_assertion is returning 503 error"
1. sign in to beta.123done.org with a yahoo email alias

result:
Error
We are very sorry. The server is under extreme load!

Please close this window and try again.

[code]

[2013-07-01 16:56] edwindotcom commented on #3611
feels like the root cause is db replication on stage:
https://github.com/mozilla/identity-ops/issues/87

[2013-07-01 18:06] seanmonstar commented on #796
Sounds good to me.

[2013-07-01 18:22] shane-tomlinson commented on #796
Closing.

[2013-07-01 18:22] #796 closed, assigned to nobody

[2013-07-01 18:36] seanmonstar commented on #2423
@shane-tomlinson that may an easier way to solve this than trying to figure out the error code and whatnot.

[2013-07-01 18:50] #3595 closed, assigned to shane-tomlinson

[2013-07-01 23:55] chilts commented on #3573
Ok, I've pushed a new version of the branch, which just removes that class.

It was interesting that I was initially looking in `resources/static/dialog/views/` but actually found this one in `resources/views/`. I _think_ it's the correct one. :)

[2013-07-02 00:10] edwindotcom opened #3612 "android 2.x with firefox has strange horizontal scroll bar blinking when signing in"
1. on android 2.x firefox release - goto beta.123done.org
2. attempt to sign in.

actual: horizontal scroll bar keeps blinking like it's trying to scroll, nothing else is scrolling

[2013-07-02 01:05] chilts commented on #3212
I'll take a look at this. Assigning myself.

[2013-07-02 01:11] seanmonstar commented on #3212
Here's the reasons why: The uncompressed file is cleaned up by the rpmbuild process.

https://github.com/mozilla/browserid/blob/dev/lib/static/views.js#L145
https://github.com/mozilla/browserid/blob/dev/scripts/browserid.spec#L30

[2013-07-02 01:12] jaredhirsch commented on #3602
@jedp this seems like it's edging into wontfix territory, thoughts? Wanna push harder?

[2013-07-02 01:15] jaredhirsch commented on #1196
@skinny97214 do we still want to try to implement this feature? was #1400 maybe deciding we don't? if we don't want it, let's close and reduce that bug count ^_^

[2013-07-02 01:16] jaredhirsch commented on #1199
are we good to close this?

[2013-07-02 01:21] jaredhirsch commented on #2493
Closing--I can no longer repro this. The first browser (Chrome in most recent STR) now correctly shows the merged account. Please reopen if this is still a bug.

[2013-07-02 01:29] jaredhirsch commented on #1472
@jrgm I'm unable to repro the empty list using original STR. Closing--please reopen with new STR if this bug is still a bug.

[2013-07-02 01:45] jaredhirsch commented on #2437
@jbuck Looks like butyr.org is gone, any way that we can try to repro this?

[2013-07-02 01:52] jrgm commented on #1472
@zaach's scenario (also lloyd's in #2090) is still reproducible. Reopening.

[2013-07-02 02:00] jrgm commented on #2493
This _is_ still reproducible in production and dev. When the sign_in dialog comes up after "stealing" the email address to a different account, `session_context` says

`{"csrf_token":"gmxu47J8+CJ2+vssYe0VqA==","server_time":1372730263346,"authenticated":true,
"auth_level":"password","has_password":true,"domain_key_creation_time":1372719754329,
"random_seed":"HMBxPMQ1ew7x8shHiHCJejqqrqgHF6qRkHVL/QD

[2013-07-02 02:30] jrgm commented on #3212
Actually, the uncompressed file is not generated at build time anymore, so it doesn't exist anywhere for the packaging script to package.

[2013-07-02 03:34] jrgm commented on #3212
Ah, I'm sorry @seanmonstar. It is in ./rpmbuild/BUILD/browserid/resources/static/build. (I was looking in the wrong tree).

[2013-07-02 07:15] vaidik commented on #3456
We are experiencing https://bugzilla.mozilla.org/show_bug.cgi?id=881962 again. And it marketplace dev team says its a persona related bug and not something in fireplace that is causing the issue.

@jedp @shane-tomlinson can you please look into this again?

[2013-07-02 07:57] shane-tomlinson commented on #3602
@fmarier, @jedp, @6a68 - we were hoping to make the dialog load _faster_ on FirefoxOS by pre-fetching the resources. The theory is the browser pulls in the extra resources while the browser/network is idle so that resources are in the HTTP cache when the dialog opens.

[2013-07-02 10:00] shane-tomlinson commented on #3612
@edmoz - is this a problem with 123done or with the dialog?

[2013-07-02 10:01] shane-tomlinson commented on #3598
I dig @seanmonstar's solution, only one line of code changed.

[2013-07-02 10:11] shane-tomlinson commented on #3598
This is also a problem in provisioning_api.js

[2013-07-02 10:18] shane-tomlinson commented on #3456
This looks like a dup of #3568

[2013-07-02 10:21] shane-tomlinson commented on #3456
@vaidik - The problem you are seeing using same STRs as outlined in the description above?

[2013-07-02 10:25] shane-tomlinson commented on #3456
@vaidik - In https://github.com/mozilla/browserid/issues/3456#issuecomment-19358349, @jedp says the fix to this problem requires a change on the phone that is being uplifted to v1.1. @jedp - just to confirm, is there any way around this using Persona-served code, or does this require a change on the phone?

[2013-07-02 10:28] shane-tomlinson commented on #3568
@jedp - is this the same as #3456?

[2013-07-02 11:16] shane-tomlinson commented on #3593
I am able to reproduce on dev, but not locally using Windows 8.1 IE11 Metro. Since these are development versions of Windows and IE, we will keep track of this and raise priority as the time for release gets nearer.

This does not reproduce on Windows 8/IE10.

[2013-07-02 15:39] vladikoff opened #3614 "Persona Popup does not load properly in the Firefox OS Simulator"
To reproduce:
1. Install the simulator add-on, I've used version 3.0.1
2. Open the simulator, open the Marketplace App, navigate to the gear icon and hit Sign-In
3. Here's the result:

![](http://v14d.com/i/51d2f326023e7.jpg)

[2013-07-02 16:19] callahad commented on #3593
Just a quick note, if we're relying on detecting IE or anything, that may be causing the breakage, since IE11 removes references to "IE" in its UA string: http://www.nczonline.net/blog/2013/07/02/internet-explorer-11-dont-call-me-ie/

[2013-07-02 16:23] shane-tomlinson commented on #3593
@callahad - could be - WinChan is the only place where we do UA sniffing for IE.

[2013-07-02 16:34] fmarier commented on #3602
@6a68 That MDN page isn't up to date anymore, prefetching now works on Chrome (desktop) too. I found out by looking at the contents of the cache (about:cache) when testing that pull request.

In terms of sluggishness, it's up to the browser to determine whether or not to prefetch anything once the network is **idle**. In my testing, I've found that Firefox has some limit on the number of resources

[2013-07-02 16:34] jedp commented on #3614
That's grody.  I wonder if you have a dns cache of `firefoxos.persona.org` pointing to the old ephemeral server?  Are there any console logs you can share?

[2013-07-02 16:40] vaidik commented on #3456
STRs are similar - see https://bugzilla.mozilla.org/show_bug.cgi?id=881962. `marketplace` perhaps makes use of `oncancel` event to remove a throbber that is shown to the user, which does not disappear on cancelling Persona login.

Noticed that `logcat` should point out that Persona login was cancelled. I am not getting that in my logcat. This is the logcat I get: http://pastebin.mozilla.org/258613

[2013-07-02 16:46] edwindotcom commented on #3614
I'm kinda back to the cname native-persona so that basic usage works, rather than just breaking them completely.

[2013-07-02 16:52] vladikoff commented on #3614
@jedp @edmoz can you reproduce this? or is this local to my environment?

[2013-07-02 16:54] callahad commented on #3614
@vladikoff Everything works for me, using the 4.0pre5 version of the simulator.

[2013-07-02 16:54] edwindotcom commented on #3612
in the dialog

[2013-07-02 16:55] edwindotcom commented on #3612
No repro on Android 2.x Stock Browser and Android 4.x FF and Stock Browser

[2013-07-02 17:03] vladikoff commented on #3614
@callahad thank you for checking!

**Also if someone finds this issue, just update your simulator from: [http://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/](http://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/?C=M;O=D)**

I guess the issue is that [https://addons.mozilla.org/en-us/firefox/addon/firefox-os-simulator/](https://addons.mozilla.org/en-us/firefox/addon/firefox-os-simulator/) still has

[2013-07-02 17:03] #3614 closed, assigned to nobody

[2013-07-02 18:14] vladikoff commented on #3593
Testing in the 'Metro' version of IE via 123done.org
![](http://v14d.com/i/51d3187345f1f.jpg)

[2013-07-02 18:29] vladikoff commented on #3593
Here's a screenshot form the desktop version:
![](http://v14d.com/i/51d31ba39cdb3.jpg)

As you can see in the styles inspector #authentication_form is still 'display: none',
If i uncheck that, i can see:
![](http://v14d.com/i/51d31bda81728.jpg).

[2013-07-02 18:39] vladikoff commented on #3593
A bit of good news, sign in from login.persona.org works perfectly in both modes!

![image](https://f.cloud.github.com/assets/128755/738457/a1315d9e-e346-11e2-91b5-8745225513e9.png)

[2013-07-02 18:42] jaredhirsch commented on #3577
editing title to contain [b2g]

[2013-07-02 18:43] jaredhirsch commented on #3576
@gene1wood @mostlygeek ping. can one of you guys shut down native-persona.org?

[2013-07-02 18:47] gene1wood commented on #3576
I've stopped this instance. @jedp do you want me to terminate (destroy) it? Shall I release the elastic IP? What about the domain name, what should be done with that?

[2013-07-02 18:59] jaredhirsch commented on #3546
Counterpoint: Gmail will soon be treated as a primary, and no other email vendor (that I'm aware of) ignores/allows dots in the user part of the name. So, maybe we close this one as 'wontfix' pending Gmail identity bridging?

[2013-07-02 19:01] jaredhirsch commented on #3529
@kparlante @shane-tomlinson Indeed, https://bugzilla.mozilla.org/show_bug.cgi?id=822126 has some backstory.

[2013-07-02 19:05] jedp opened #3615 "tooltip error message lacks padding"
Krupa reports that the error tooltip (fixed in Issue #3496, from [Bug 879626](https://bugzilla.mozilla.org/show_bug.cgi?id=879626)) lacks padding.

I'll try to reproduce and post a screenshot.

[2013-07-02 19:50] seanmonstar commented on #3546
I've seen addresses from personal businesses that use dots, to separate their first and last name. I wouldn't close this simply because Gmail is getting an IdP.

Though, reading the subject and summary, I'm not quite sure what exactly this issue wants to do. Make all those emails equal to each other? That's dependent on each IdP, and so I don't think we should be clever there. Simply allow someone

[2013-07-02 19:54] callahad commented on #3546
How is this for a concrete goal:

_The address `.foo@example.com` should not be rejected as invalid, because it is not an invalid address per the HTML5 specification._

[2013-07-02 19:59] seanmonstar commented on #3546
If it currently is rejected, then yes! That sounds actionable.

[2013-07-02 20:05] #3598 closed, assigned to nobody

[2013-07-02 20:09] kparlante commented on #3466
@shane-tomlinson : interesting... should I log this as a separate issue? Should I look for jrgm's case, or do we think we have a handle on it without more investigation? If I did go look, what should I be looking for?

[2013-07-02 20:22] jaredhirsch commented on #3375
@ozten @mathjazz So, we just recently merged in Spanish TOS/PP (#3604) and that bug referred to bugzilla#873241, has there been any movement on pt-BR? (I don't have access to the bugzilla bug)

[2013-07-02 20:29] callahad commented on #3546
They're accepted by the front-end, but rejected by the back-end:

[code]

[2013-07-02 20:29] jaredhirsch commented on #3303
Closing, this problem was fixed in lockdown & is fixed on Jenkins (Jenkins is currently failing because we need to update the platform name in the tests :-P)

[2013-07-02 20:32] ozten commented on #3375
Nope. I've CC'd you.

[2013-07-02 20:36] jaredhirsch commented on #3275
This has been fixed, closing.

[2013-07-02 20:36] #3275 closed, assigned to nobody

[2013-07-02 20:38] jrgm commented on #3303
@6a68 - actually, it wasn't fixed in browserid, which uses scripts/lockdown and not the script from the installed lockdown (for good reason). And scripts/lockdown does not pass down the full environment, so no overriding `npm_*` environment variables in the child is possible.

[2013-07-02 20:59] jaredhirsch commented on #3060
I'm concerned that there's no specific goal in this bug, so we can't ever close it. @mattbasta & @jedp, what's the performance situation with Persona on Marketplace at this point? Are you guys comfortable with closing this bug? If Persona is still a problem, maybe we can figure out some way to get performance numbers and quantify what's going on, and sharpen what this bug is all about?

[2013-07-02 21:03] seanmonstar commented on #3303
yea, to fix this:

`cp ./node_modules/lockdown/lockdown.js ./scripts/lockdown.js`

Even better, I'd rather us change our lockdown dependency to point at our mozilla gitmirror, and then not have to do this ever.

[2013-07-02 21:04] jaredhirsch commented on #2792
I can't repro either, closing. @dethe please reopen if you can still reproduce this and we'll dig in. :beers:

[2013-07-02 21:04] #2792 closed, assigned to nobody

[2013-07-02 21:07] jaredhirsch commented on #2783
This was fixed months ago by @shane-tomlinson 's Selenium fixes, closing.

[2013-07-02 21:07] #2783 closed, assigned to nobody

[2013-07-02 21:09] jaredhirsch commented on #1830
closing in favor of mozilla/123done#4

[2013-07-02 21:09] #1830 closed, assigned to nobody

[2013-07-02 21:10] jaredhirsch commented on #1833
mozilla/123done#64 is closed, closing this one accordingly :beers:

[2013-07-02 21:10] #1833 closed, assigned to nobody

[2013-07-02 21:41] mattbasta commented on #3060
I think things have improved since the bug was filed. Unless you think
there's still work to be done, I'd say that this is safe to close
On Jul 2, 2013 1:59 PM, "Jared Hirsch" notifications@github.com wrote:

[2013-07-02 22:40] jaredhirsch commented on #3576
@gene1wood My read of the bug history is: kill, reap, pillage, plunder. It's over for native-persona.

[2013-07-02 23:09] gene1wood commented on #3576
I've terminated the instance

[2013-07-02 23:09] #3576 closed, assigned to nobody

[2013-07-02 23:35] ozten commented on #3456
This requires a change to the phone.

[2013-07-03 01:11] jrgm opened #3616 "[ie8][3554] add another email address; #newEmail not focused"
From #3554

STR
1. Sign in with and existing user.
2. From dev.123done.org, bring up the dialog and then 'add another email address'.
3. On IE8, the input with id #newEmail is not focused

[2013-07-03 01:34] jbuck commented on #2437
I tried to recreate the state of dev.butyr.org at that time by doing the following:
1. `git clone https://github.com/mozilla/butter.git`
2. `cd butter`
3. `git checkout v0.8`
4. `npm install`
5. `git submodule update --init`
6. `node make server`

However, I'm getting some errors in the butter that I have no idea how to solve... things like the session is not sticking around. We switched to the .w

[2013-07-03 02:16] jrgm opened #3617 "[ie8][3554] add another email address to primary-only account; input#password not focused"
From #3554

STR
1. On IE8, sign in with an existing primary email address that is not in an account that contains any secondary email addresses.
2. From dev.123done.org, bring up the dialog and then 'add another email address'.
3. enter a new secondary email address. Set focus when you need to enter this password (GH-3616).
4. You will be prompted to choose a password for this account with text li

[2013-07-03 02:18] jrgm commented on #3611
Closing. The databases were broken in stage.

[2013-07-03 02:18] #3611 closed, assigned to nobody

[2013-07-03 02:20] jrgm commented on #3466
Just noting that I hit this by random timing (again) last night with osx chrome 27.

[2013-07-03 05:09] jrgm commented on #1472
I originally put in this issue as a followup. Even if a core bug is fixed, this was about 'how the dialog should behave if it ever gets back an empty email list (for whatever reason).'

[2013-07-03 08:01] shane-tomlinson commented on #3466
@jrgm - I haven't forgotten about this. ;) It has taken up most of the week so far and led me down a rabbit hole of finding several subtle timing bugs.

[2013-07-03 08:08] shane-tomlinson opened #3618 "Errors can be logged if user closes dialog while XHR request is in flight."
Breaking this out from #3466. See https://id.etherpad.mozilla.org/kpi-issue-3466-data.

See also: #2423, #3610, #2560.

Copying in comment https://github.com/mozilla/browserid/issues/3466#issuecomment-20289563:
#

There are a couple of interesting things going on.
- All but one data point from the sample data set is Chrome.
- screen.error.registration is on the event stream after window.unload eve

[2013-07-03 08:12] shane-tomlinson commented on #3466
@kparlante - I agree, the posted data looks to be another issue - I have opened #3618 for that. Thanks for spotting it!

[2013-07-03 08:13] shane-tomlinson commented on #3618
For clarification - the user will not see this error since it occurs while the dialog is being closed. This only affects the number of errors reported in KPI data.

[2013-07-03 09:41] shane-tomlinson opened #3619 "onlogout not called if there is an error when calling /wsapi/session_context from the communication_iframe"
This was found from a manual inspection of the code:

no failure callback is passed to network.cookiesEnabled in https://github.com/mozilla/browserid/blob/49eb5e6f0e6c2965a204558c334d1e5fec37a8cb/resources/static/communication_iframe/start.js#L48-L80

network.cookiesEnabled calls /wsapi/session_context. If /wsapi/session_context fails, the error is dropped on the ground.

Link to #2423, #2560, #36

[2013-07-03 10:29] shane-tomlinson commented on #3619
Note, this bug is an inadvertent "fix" for #2423 if the user browses away while /wsapi/session_context is in flight.

[2013-07-03 13:42] #3584 closed, assigned to nobody

[2013-07-03 16:05] shane-tomlinson opened #3621 "primary upgrade screen shows RP name as "undefined""
This is going to kick in whenever we turn on GMail Sideshow and MoCo IdP

![12 primary upgrade](https://f.cloud.github.com/assets/848085/744325/62ee0410-e3fa-11e2-8040-95dd0bdb3c3f.png)

STR
1) Using the local dev idp, edit /example/primaries/.well-known/browserid to contain `"disabled": true`
2) Go to example RP, open dialog
3) Edit new email address with @example.domain as the domain
4) Verify e

[2013-07-03 16:43] shane-tomlinson commented on #2728
@jrgm - this is also an issue in http_forward.js

[2013-07-03 17:16] edwindotcom commented on #3621
nice catch and fix...  it would be great if we could mock out this workflow as we don't have an easy way to test this as of now. @jrgm any ideas?

[2013-07-03 17:20] edwindotcom opened #3623 "fx-primaries.personatest.org is not responding"
I'd like to test the primaries fix on b2g and was informed to set pref to this:
https://fx-primaries.personatest.org/

but it's down

curl -v http://fx-primaries.personatest.org
- About to connect() to fx-primaries.personatest.org port 80 (#0)
-   Trying 54.243.17.165...

dig fx-primaries.personatest.org

;; ANSWER SECTION:
fx-primaries.personatest.org. 60 IN CNAME   primaries.personatest.org.
pri

[2013-07-03 18:33] #3621 closed, assigned to nobody

[2013-07-03 19:18] jedp commented on #3623
Looks like it got torn down and amazon recycled the static ip.

I'm launching https://train0619.personatest.org/ right now, and pushing ... the 06.19 train to it.

I'll cname `fx-train0619.personatest.org` to it

[2013-07-03 19:21] edwindotcom commented on #3623
i'm slightly confused, if you're just pushing 06.19 train, why not just cname fx-primaries.personatest.org to login.anosrep.org ?

[2013-07-03 19:24] jedp commented on #3060
Good!  I'd also like to close this.  We have other bugs where we continue to track specific performance issues on mobile (e.g., #3579 and #3602).

[2013-07-03 19:24] #3060 closed, assigned to nobody

[2013-07-03 19:28] jedp commented on #3568
Yes, looks like a dupe.  Closing this.

[2013-07-03 19:28] #3568 closed, assigned to jedp

[2013-07-03 19:29] jedp commented on #3456
@shane-tomlinson to confirm: yes, this requires a client fix to the phone.  So it is unfixable on v1.0.1.  v1.1 phones and beyond will work correctly.

[2013-07-03 19:30] jedp commented on #3576
Thank you, @gene1wood

[2013-07-03 22:30] edwindotcom opened #3624 "b2g: account manager doesn't show accounts on b2g browser"
description: there's no way to manage accounts on b2g, the security model prevents the browser being aware of native UI cookies
1. on b2g sign into 123done.org
2. after signing in goto login.persona.org

result: no accounts are displayed in account manager

expected: you should see accounts

[2013-07-03 22:41] jrgm commented on #3624
See also https://github.com/mozilla/browserid/issues/2914

[2013-07-04 00:25] jedp commented on #3623
Because the "normal" persona site (in this case, `login.anosrep.org`) needs to know what the firefoxos cname is.  It uses this to rewrite urls when determining the right postmessage origin.

Hence the only way to do it is to launch a new service with its own exclusive cname.

That said, `fx-train0619.personatest.org` is live and working with primaries.

Note that it will not work with bigtent, bec

[2013-07-04 00:28] jedp commented on #3624
And see #3558

I think this is due to the way the account manager works; it reads from localStorage, which is not in the right silo in FirefoxOS.  It will need to use the api to sign people in.

Also, the cname will screw things up.  If you go to firefoxos.persona.org and sign in, it will appear to sign you right back out.  Then go to login.persona.org and you will be signed in.

[2013-07-04 15:42] shane-tomlinson opened #3625 "/wsapi/cert_key called in communication_iframe for Yahoo! addresses that have expired cert"
I am signed in to Persona using an account with a Yahoo! address and several other addresses. The Yahoo address was used to sign in to Persona. The Yahoo! address cert has since expired.

navigator.id.watch was called with a signedInUser of "null".

/wsapi/session_context returns:

[code]

/wsapi/list_emails returns my list of emails.

then /wsapi/cert_key is called for the Yahoo! address, without

[2013-07-06 22:38] gene1wood opened #3627 "etherpad.mozilla.org : "Systems error, please insert another quarter.""
When visiting this page :

https://svcops.etherpad.mozilla.org/53

And clicking "Sign In" I got this error message

http://img713.imageshack.us/img713/874/9dz.png

I clicked sign in a second time and it brought up the persona pop up window just fine.

[2013-07-07 13:03] ozten commented on #3627
This would be an Etherpad integration bug, not a browserid bug.

That codebase is pretty gnarly and we punt on some corner cases.

I'm going to close this bug and I won't open a new bugzilla bug to track this, because the internal tools team is porting the new etherpad engine to Persona to replace Etherpad.

[2013-07-07 13:03] #3627 closed, assigned to nobody

[2013-07-08 08:14] shane-tomlinson commented on #3624
Dup of #3300, closing.

[2013-07-08 08:14] #3624 closed, assigned to nobody

[2013-07-08 08:15] shane-tomlinson commented on #3623
@jedp - Do you think we should get rid of the CNAME? If so, +1

[2013-07-08 08:34] djc commented on #2583
Any further progress on this? Anything I can do to help?

[2013-07-08 09:35] #3607 closed, assigned to shane-tomlinson

[2013-07-08 10:01] shane-tomlinson opened #3628 "[ie8] - /common/i/button-arrow.png requested after every call to /wsapi/user_creation_status"
This causes unnecessary requests and looks a bit sloppy.

[2013-07-08 10:02] shane-tomlinson opened #3629 "[ie8] - window.unload not logged in the KPIs"

[2013-07-08 10:10] shane-tomlinson commented on #3629
Closing this issue, it is reported, but it looks like the KPIs may be reported twice for IE8. Investigating further.

[2013-07-08 10:10] #3629 closed, assigned to nobody

[2013-07-08 14:00] gene1wood commented on #2583
@djc I've gotten squid upgraded but have not figured out how to enable SNI. I've built the new rpm, updated the config to match and tested but am still encountering problems : https://github.com/mozilla/identity-ops/commits/master/chef/cookbooks/persona-proxy

[2013-07-08 14:04] shane-tomlinson commented on #2705
Dup of #1873, closing.

[2013-07-08 14:04] #2705 closed, assigned to nobody

[2013-07-08 15:10] callahad commented on #3283
native.personatest.org seems to be dead. Is this bug still valid since #3576 has been closed?

[2013-07-08 15:43] callahad commented on #3361
Closing. This specific case has been resolved since the ToS and PP pages do not have sign in links anymore.

[2013-07-08 15:43] #3361 closed, assigned to nobody

[2013-07-08 15:45] callahad commented on #3360
Closing. This basically works for me in Firefox, Chrome, Safari, and Opera. It's a little weird -- takes two clicks instead of one -- but it otherwise works and represents a super weird corner case.

[2013-07-08 15:45] #3360 closed, assigned to nobody

[2013-07-08 15:49] callahad commented on #3501
I can repro. Suggest closing in favor of upstream bug?

[2013-07-08 15:55] callahad commented on #3500
I'd vote for not doing unnatural things to support the Keon, especially if a software update solves it. Keons are explicitly labeled as developer preview devices -- I think we're OK asking and expecting those users to upgrade.

If a similar bug hit commercially released phones, on the other hand, I'd be all in favor of us bending over backwards to make it work.

FWIW, I have a Keon now, and will b

[2013-07-08 18:02] seanmonstar commented on #3610
These lines will try to collect the response code if an error screen is shown from a failed request: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L55-L57

[2013-07-08 18:06] #2423 closed, assigned to nobody

[2013-07-08 18:06] #3618 closed, assigned to shane-tomlinson

[2013-07-08 18:06] #3619 closed, assigned to shane-tomlinson

[2013-07-08 19:11] shane-tomlinson commented on #3610
Thanks @seanmonstar - those only collect status > 399, why aren't we collecting the others? The context of that magic number is forgotten.

[2013-07-08 19:14] seanmonstar commented on #3610
Thinking back, that function is called when an error screen is shown. It would include any network request error data if it was an request error. Less than 400 means the error happened client-side.

Ignore this, we should record include every response code as a separate piece of data, regardless of future error screens.

[2013-07-08 19:18] shane-tomlinson commented on #3610
As @seanmonstar notes in https://github.com/mozilla/browserid/pull/3620/files#r5071514, we should also record aborted XHR requests to make sure they only happen after window.unload.

[2013-07-08 19:26] jedp commented on #3283
You should just be able to hit 123done.org now - no `native` prefix anymore.

[2013-07-08 20:56] edwindotcom commented on #3283
agreed - this is obsolete and does not occur with www.123done.org

[2013-07-08 20:56] #3283 closed, assigned to nobody

[2013-07-08 23:20] ozten opened #3631 "ie 10 onmatch erratic behavior"
I've integrated Persona [here](http://wiki.aok.io) using the watch API and `onmatch`. It works, except in IE 10 on Windows 7 (and other OSes, so I've heard).

Most of the time, onmatch doesn't fire, so I never show my sign in button. Sometimes it does fire, but there is not reduced test case. It's kind of voodoo.

I'm going to switch to using onready instead of onmatch, but we should make an RP th

[2013-07-08 23:27] callahad commented on #3631
onmatch is super broken at the moment, sorry! :( It's been low priority since we haven't documented onmatch externally.

[2013-07-08 23:30] ozten commented on #3631
Ah, thanks.

I've switched to onready and everything is dandy.

[2013-07-09 03:28] jrgm commented on #1992
Closing this. If it's worth doing, then there should have been a PR sometime in the last year ;-)

[2013-07-09 03:28] #1992 closed, assigned to nobody

[2013-07-09 03:48] jrgm commented on #2210
The /signup URL is no longer used; it happens in the dialog. Closing this issue.

[2013-07-09 03:48] #2210 closed, assigned to nobody

[2013-07-09 04:00] jrgm commented on #2225
Can't actually find scripts/check_assertion in current dev.

Altternatively, in dev branch current, `./node_modules/.bin/check-assertion ...` works too.

Closing.

[2013-07-09 04:00] #2225 closed, assigned to nobody

[2013-07-09 04:10] jrgm commented on #2292
@lookfirst I'm going to speculatively close this issue. If you see something again, feel free to reopen this issue.

[2013-07-09 04:10] #2292 closed, assigned to nobody

[2013-07-09 04:47] jrgm commented on #2320
This was fixed (probably) with https://github.com/mozilla/browserid/pull/3181. Closing.

[2013-07-09 04:47] #2320 closed, assigned to nobody

[2013-07-09 04:58] jrgm commented on #2464
We redirect to another page, the account management view now. So this issue is not applicable anymore. Closing.

[2013-07-09 04:58] #2464 closed, assigned to nobody

[2013-07-09 05:04] jrgm commented on #2568
Closing. I still think decoupling this in some way is a better thing, but I don't see a pressing need for this change; if there is a need, something with a more concrete plan can be opened in place of this issue.

[2013-07-09 05:04] #2568 closed, assigned to nobody

[2013-07-09 05:28] jrgm commented on #3065
I've been working on stabilizing these tests and recently hadn't seen win8/IE10 showing these errors. But errors come and go as FE changes. Closing this 4 month old issue, and will file issues if/when we have failures going forward.

[2013-07-09 05:28] #3065 closed, assigned to nobody

[2013-07-09 05:37] jrgm commented on #2498
This seems to old to take further action. Closing.

[2013-07-09 05:37] #2498 closed, assigned to nobody

[2013-07-09 05:39] jrgm commented on #1472
In other words, can the frontend just bail if list_emails === {}.

[2013-07-09 05:45] jrgm commented on #2509
Is this issue still relevant?

[2013-07-09 05:47] jrgm commented on #2533
Is there any intent to do this. Closing pending further information.

[2013-07-09 05:47] #2533 closed, assigned to nobody

[2013-07-09 05:52] jrgm commented on #2540
Closing this, as it was probably due to running as root (which one should not do, in general).

[2013-07-09 05:52] #2540 closed, assigned to nobody

[2013-07-09 05:56] mook commented on #2509
Sort of; I'm having issues figuring out which spec I should be looking at.  [prod](https://github.com/mozilla/id-specs/blob/prod/browserid/index.md#identity-certificate) is missing `iat`; [beta1](https://github.com/mozilla/id-specs/blob/beta1/browserid/index.md#identity-certificate) is more complete and has it documented.  The default branch seems to be `prod` (which means that won't actually work

[2013-07-09 06:01] jrgm commented on #2613
@djc can you add more on what you think should be done to fix this? Is it applicable in the same way now, given changes in UI?

[2013-07-09 06:03] jrgm commented on #2625
@callahad do you want to close this and propose a discussion on the email list? There's no specific action to be done for this ticket. Closing.

[2013-07-09 06:03] #2625 closed, assigned to nobody

[2013-07-09 06:07] jrgm commented on #2695
Do we have some new text for this page? Yes, we should be clear that this is cross-browser, so let's make it clear with text changes.

[2013-07-09 06:30] djc commented on #2613
@jrgm I have no reason to think this has changed, but I also don't have an easy way to reproduce this error.

[2013-07-09 11:58] shane-tomlinson opened #3632 "password field of email confirmation screen not autofocused"
If the user verifies in a second browser, the password field of the email confirmation screen is not focused.

STR:
1) In browser A, stage an address for verification
2) In browser B, open verification link.

Expected:
Password field is auto focused

Actual:
Password field is not auto focused

[2013-07-09 13:10] shane-tomlinson commented on #3623
@edmoz - you should be able to test using firefoxos.anosrep.org as your Persona source. This was only a test instance for development. Closing.

[2013-07-09 13:10] #3623 closed, assigned to nobody

[2013-07-09 13:16] shane-tomlinson commented on #2098
When testing with Opera Mobile 14 on my Android device, I see the @ sign, we are an email address!  Closing.

[2013-07-09 13:16] #2098 closed, assigned to nobody

[2013-07-09 14:47] callahad commented on #2509
We need help finishing the spec update. Any takers?

[2013-07-09 14:51] callahad commented on #2695
We've had new language for 6 months or more ( https://github.com/callahad/browserid/commit/e9670de0a10a322217bd0939cafe3d2ad5966fdc ), but things stalled on design for that page. Maybe something to revive with John joining the team and Rob pushing for a more marketing-centric landing page?

[2013-07-09 14:53] fmarier commented on #2695
@callahad I love the fact that the word "wall" is gone from that new page :)

[2013-07-09 15:24] shane-tomlinson commented on #1812
Closing, this probably isn't going to happen with the new style of tooltip that is shown below the input box.

[2013-07-09 15:24] #1812 closed, assigned to nobody

[2013-07-09 15:26] shane-tomlinson commented on #3574
This is the same cause as #2294

[2013-07-09 15:56] csuciu opened #3633 "beta.123done does not finish loading the sign in button on Firefox release on Android 2.2.2"
Environment:
beta.123done.org
Firefox 22 release
HTC Desire (Android 2.2.2) and LG Optimus 2X (Android 2.2.2)

1 .Load http://beta.123done.org in Firefox

Actual: The loading image just continues to spin, and the sign in button is never shown.

Expected: The Sign in button should load

[2013-07-09 16:21] edwindotcom commented on #3633
I'm not able to reproduce this on FF 22 on Droid X Android 2.3.3

[2013-07-09 16:26] edwindotcom commented on #3612
This is about to go live with the train - I don't want to block it as it's only 1 config, but It would be good to understand the issue?  @jrgm any thoughts on it's severity?

[2013-07-09 16:42] shane-tomlinson commented on #3633
@csuciu - are your cookies enabled?

[2013-07-09 16:57] csuciu commented on #3633
@shane-tomlinson
Yes, cookies are enabled.
@edmoz
I was able to reproduce only on those two 2.2.2 devices.
On Samsung Galaxy R Android 2.3.4 I can't reproduce

[2013-07-09 17:02] shane-tomlinson commented on #3633
@6a68 - hate to put this on you, can you check if stage has the 'native' keyword fix?

[2013-07-09 17:06] edwindotcom commented on #3633
might be 2.2.2 only - I'll try and track one down.

[2013-07-09 17:09] edwindotcom commented on #3633
looks like fix for #3595 is on train 07.03 see: (line 7) https://github.com/mozilla/browserid/blob/dev/ChangeLog so NOT on stage as of now.

[2013-07-09 20:26] mhanratty opened #3634 "[b2g] "Privacy Policy" and "Terms" type size should match the legal copy (FFOS Payments)"
See Payments Style guide for more info:https://wiki.mozilla.org/Apps/ID_and_Payments#UX
![2013-06-11-11-14-51](https://f.cloud.github.com/assets/4432402/770849/c8383cb6-e8d5-11e2-9da0-7f3fdbf456c4.png)

[2013-07-09 20:28] mhanratty opened #3635 "[b2g] Buttons backgrounds are incorrect, remove the highlight rule (FFOS Payments)"
Gaia documentation: https://wiki.mozilla.org/File:OWD_01_Lists.jpg
![2013-06-11-11-14-51](https://f.cloud.github.com/assets/4432402/770857/2430b5de-e8d6-11e2-9c77-513059cf4df8.png)

[2013-07-09 20:29] mhanratty opened #3636 "[b2g] Type on the overlay screen should be 14pt with 22px of line height (FFOS Payments)"
![2013-06-11-11-15-54](https://f.cloud.github.com/assets/4432402/770863/37a940ea-e8d6-11e2-954e-81077d550bb6.png)

[2013-07-09 20:51] jrgm commented on #3633
Note: #3595 is only supposed to happen when using uncompressed javascript (i.e., doesn't apply to stage/prod).

train-2013.06.19 does contain a different fix for the use of the native keyword - GH-3522
https://github.com/mozilla/browserid/blob/train-2013.06.19/ChangeLog

[2013-07-09 22:26] jedp commented on #3566
Ima close this.  primaries are going live in prod on July 11.

[2013-07-09 22:26] #3566 closed, assigned to jedp

[2013-07-09 22:29] jedp commented on #3546
Is this really a four-star bug?  I'm venturing to demote it to three stars.  Please correct and reassign if I'm wrong.

[2013-07-09 22:32] jedp commented on #3529
This has been tagged with four stars: How can we close this bug with a PR to browserid?  Does this bug belong in pentaho or kpiggybank?

[2013-07-09 22:33] jaredhirsch commented on #3401
meh. demoting.

[2013-07-09 22:35] jaredhirsch commented on #3375
closing in favor of bugzilla bugs, all the action's happening over there.

[2013-07-09 22:35] #3375 closed, assigned to ozten

[2013-07-09 22:35] jedp commented on #3500
We've communicated to everyone we can about this and have heard nothing back.  If Keon shipped with an unstable release (pre 1.0.1) of their own build, I don't think there's much we can or should do to try to chase it down.  I'm going to close this as wontfix.  Please reopen and send me hate mail if I'm wrong.

[2013-07-09 22:35] #3500 closed, assigned to nobody

[2013-07-09 22:35] callahad commented on #3546
Evidently, it's currently locking people out of MDN that had signed up prior to its switch to Persona, but the absolute number of affected users is small. I'm fine with demoting.

[2013-07-09 22:36] callahad commented on #3546
Also tagging as good first bug -- this should be trivial once someone gets the time to dig into it.

[2013-07-09 22:40] jaredhirsch commented on #3591
@jedp bump. are we ready to reap this box?

[2013-07-09 23:36] kparlante commented on #3529
@jedp: The code to process those files should belong to the identity team, not the pentaho/metrics team, going forward. As the kettle scripts are replaced (python? node?), they could live in browserid, identity-ops, or a new repo.

[2013-07-09 23:40] kparlante commented on #3529
@6a68: I don't think jsonp from the pentaho sites is the right way to do this -- we really don't need it to route through pentaho at all.

[2013-07-10 05:30] jedp commented on #3623
@shane-tomlinson  i do think we should get rid of the cname, yes :)

[2013-07-10 05:39] jedp commented on #2397
This is ten months old; still a four-star?

[2013-07-10 05:41] jedp commented on #2437
Sounds like @jbuck is ok with closing.  @6a68 what do you think? Still a four-star?

[2013-07-10 05:46] jedp commented on #2970
By now, the UI and event handlers have changed substantially, and I believe we match the designs by Maureen et al.  Closing this as fixed.  Please reopen if I am mistaken.

[2013-07-10 05:46] #2970 closed, assigned to nobody

[2013-07-10 05:47] jedp commented on #2980
There would also be advantages for native if we rolled them all into one.  Specifically, when we expose `navigator.mozId` from chrome, it is an immutable object.  Therefore an IdP must _not_ source `include.js` before sourcing the provisioning or authentication APIs.  If it does, an error will result, because the APIs try to add properties to the `navigator.id` object.  Having everything in one si

[2013-07-10 05:50] jedp commented on #3104
If this is not a big issue, may I demote this to a three-star?  Please reassign if I am mistaken.

[2013-07-10 05:53] jedp commented on #3317
@kumar303, @krupa: It sounds like this is no longer biting.  Please re-open if it's still a problem.

[2013-07-10 05:53] #3317 closed, assigned to nobody

[2013-07-10 07:43] shane-tomlinson opened #3637 "Cannot use .get and .watch APIs together"
This would be super useful for situations like mozilla/browserid-roadmap#9.

Context:

In  the wordpress plugin, I want to use .watch for session management.

But, for users who are not signed in, I want to use .get to get a one time assertion for users who wish to leave a comment and should not be signed in.

[2013-07-10 07:44] shane-tomlinson commented on #3637
link to #2152

[2013-07-10 07:53] shane-tomlinson commented on #3634
@mhanratty - can you specify what the type size should be? The provided link contains a lot of information, but nothing regarding legal.

[2013-07-10 08:00] shane-tomlinson commented on #3635
The hightlight was shown in https://www.dropbox.com/s/6x1ylgn2v06simk/Marketplace_Payments_Flows_Persona_042313.pdf. If there is an alternate styleguide, please specify; the linked doc is what I was using as the source of truth.

[2013-07-10 08:01] shane-tomlinson commented on #3636
@mhanratty - easy enough, is that spinner the correct size? #3436 says the spinner is too big.

[2013-07-10 08:20] callahad commented on #3637
I wonder if the "right" thing might be somehow unifying the normal and observer APIs, per this dev-identity thread from June: https://groups.google.com/d/msg/mozilla.dev.identity/cTN4ik4vHGQ/mBjVIcG56B4J

One of the proposals was: if you pass a function as the first argument to `.request()`, then it disables session management and uses that function instead of the registered `onlogout` callback.

[2013-07-10 08:21] callahad commented on #3637
(Which is functionally the same thing as just allowing get and request to coexist, but maaaaybe also gives us a unified way to present the API?)

[2013-07-10 14:24] Osmose commented on #3637
FWIW I feel like making request not always call the `watch` callbacks makes it unnecessarily complex. IMO it'd be clearer to keep them separate.

Also from a user's perspective I'd prefer just enabling `get` for now and introducing API changes later. It helps me in the shrot term. :D

[2013-07-10 14:30] shane-tomlinson opened #3638 ""checking with email provider" state from "add email" never goes away"
STR

1) Open dialog
2) Create an account with a secondary address
3) Re-open dialog
4) Add new secondary address to same account
5) DO NOT VERIFY, instead, re-open dialog and try to re-add address from #4.
6) Tooltip is displayed, "checking with your email provider" never goes away.

Expected: "checking with your email provider" goes away.

![screen shot 2013-07-10 at 15 24 51](https://f.cloud.git

[2013-07-10 14:39] shane-tomlinson opened #3639 "npm lockdown fails on i18n-abide"
package.json and lockdown.json are looking for i18n-abide@0.0.8beta4, `npm search i18n-abide` lists the version as 0.0.8-beta4

[code]

[2013-07-10 14:39] kumar303 commented on #3317
Correct. I have not seen it. Thanks!

[2013-07-10 16:16] #3639 closed, assigned to nobody

[2013-07-10 17:09] mhanratty commented on #3635
That was my bad on the Persona flows :) Our visual designer Michael Maslaney created a Payments Style Guide that shows them without the highlight. You can find the doc on the payments wiki:

https://wiki.mozilla.org/Apps/ID_and_Payments#UX

[2013-07-10 17:10] shane-tomlinson commented on #3635
Thanks @mhanratty! I'll do a review next week and get some updated styles out of that doc.

[2013-07-10 17:13] shane-tomlinson commented on #3635
@mhanratty - whenever I do the updates, could you help me do a review one morning to make sure things are as they should be?

[2013-07-10 17:26] jaredhirsch commented on #3633
@shane-tomlinson I believe the 'native' keyword issue affects both Android 2.2 and 2.3, which rules out this particular bug. I'll try to reproduce with my 2.2 Galaxy S.

[2013-07-10 17:32] jaredhirsch commented on #3633
@csuciu @shane-tomlinson I can't repro this on stage with my 2.2 handset (_not_ 2.2.2) using FF 22.

I'm inclined to wontfix this; the Android fragmentation long tail is really long.

[2013-07-10 18:02] seanmonstar commented on #3286
we closed this, but did we want to consider any of the newer concepts from shorlander?

[2013-07-10 18:34] jedp commented on #2914
The same-domain across multiple tabs issue has been fixed for some time, but the persona.org dashboard issue has not.

I'll close this and refer questions about the dashboard to Issues #3624 and #3558.

[2013-07-10 18:34] #2914 closed, assigned to nobody

[2013-07-10 18:37] jedp commented on #3377
Sorry I didn't close sooner.  This has been fixed.

[2013-07-10 18:37] ozten commented on #2899
This looks fixed. Expected behavior is what I saw. We are now prompted for the password before second use.

[2013-07-10 18:37] #2899 closed, assigned to nobody

[2013-07-10 18:37] #3377 closed, assigned to nobody

[2013-07-10 18:41] jedp commented on #3300
Edits - we don't use the special url `native.123done.org` anymore, and we don't use `native-persona.org`.

So for folks trying to reproduce this, just go to `123done.org` and `persona.org`

[2013-07-10 19:16] ozten commented on #3300
The account manager page uses `user.checkAuthentication` to see if you are logged in (not a localStorage hack or anything like that).

The page on https://firefoxos.persona.org/ includes https://login.persona.org/include.js. I don't see from `adb lolcat` enough context to understand why we don't have an active session on login.persona.org. Would it be that the Account Manager's JS isn't running in

[2013-07-10 19:20] jedp opened #3642 "Can't build browserid: i18n-abide@0.0.8-beta4 not in lockdown.json"
Looks to be an upstream problem.  @ozten  has opened [an npm issue](https://github.com/isaacs/npm/issues/3645) for this

The simple workaround to get browserid to build is:
1. `npm install git://github.com/mozilla/i18n-abide.git`
2. remove `i18n-abide` from `package.json`
3. `npm install`

But I expect all our travis builds and persona-deployer builds will fail until this is fixed :(

[2013-07-10 19:24] ozten commented on #3300
Changing to 2 stars. I think the real fix is to create a widget in FirefoxOS Settings which allows you to do account management. This would be executed in the system app sandbox.

[2013-07-10 19:29] jedp commented on #3563
As I mentioned above, there is a workaround for persona, at least, and that is to go to Settings -> App Permissions -> Clear Bookmarks Data.  That seems to blow away localStorage.

[2013-07-10 19:33] ozten commented on #3139
This is fixed.

[2013-07-10 19:33] #3139 closed, assigned to nobody

[2013-07-10 19:44] kparlante commented on #3529
Moving out of browserid repo

[2013-07-10 19:45] ozten commented on #3501
Agreed. Closing.

[2013-07-10 19:45] #3501 closed, assigned to nobody

[2013-07-10 19:50] jedp commented on #3558
This is probably a wontfix for Persona.  Instead, we should have account management in gaia itself.

I've opened [Bug 892050](https://bugzilla.mozilla.org/show_bug.cgi?id=892050)

Talking with @ozten, we think a good solution for this would simply to be to detect FirefoxOS visitors, not provide a sign-in button, and tell them how to reach the Settings app.

Demoting to three stars

[2013-07-10 19:51] jedp commented on #3624
I've opened  [Bug 892050](https://bugzilla.mozilla.org/show_bug.cgi?id=892050) for an Account Manager on FirefoxOS

[2013-07-10 19:51] jedp commented on #2914
I've opened  [Bug 892050](https://bugzilla.mozilla.org/show_bug.cgi?id=892050) for an Account Manager on FirefoxOS

[2013-07-10 20:10] peder541 commented on #3625
I've encountered this issue with my implementation. The Yahoo address cert expired and navigator.id.watch was called with a loggedInUser of null. Then the sign in failed with a 400 to POST /wsapi/cert_key

I can't seem to replicate on 123done.org though.

In fact, it seems that 123done.org doesn't generate a new cert after a Yahoo cert expires but keeps generating acceptable assertions somehow. I

[2013-07-10 20:53] mhanratty commented on #3634
I'm not sure what the type size is for "By proceeding..." but the inline links should also have the same type size.

[2013-07-10 20:56] mhanratty commented on #3436
Spinner for overlay is correct size as implemented--no need to change. We are using a smaller spinner for the Marketplace loading screen.

[2013-07-10 20:56] mhanratty commented on #3636
Spinner for overlay is correct size as implemented--no need to change.

[2013-07-10 21:03] ozten commented on #3436
Thanks!

[2013-07-10 21:03] #3436 closed, assigned to nobody

[2013-07-10 21:49] jedp commented on #3577
Following @krupa 's advice from 14 days ago and closing the issue.

[2013-07-10 21:49] #3577 closed, assigned to nobody

[2013-07-10 22:08] jedp commented on #3376
I can scroll around in eyedee.me, but not yahoo.com.

@shane-tomlinson do you think this is an issue to be addressed in browserid?  Or is this something that the primaries themselves have to fix?

[2013-07-10 22:58] jedp opened #3644 "[b2g] forceIssuer has no effect with primary IdPs"
STR

First, point your phone at stage by flashing it with a `/data/local/user.js` containing: `pref("toolkit.identity.uri", "https://firefoxos.anosrep.org");`

Then
- Open the UI Tests app
- Scroll down and choose `navigator.mozId tests`
- Enter `login.anosrep.org` in the forceIssuer input box
- Click **Request** (Force Issuer)
- Enter an eyedee.me address

Expected: use of forceIssuer should disa

[2013-07-10 23:09] jedp commented on #3644
@ozten and I have tested on desktop and things appear to work as expected, both on dev and in production.  (For production, you can use https://people.mozilla.com/~jparsons/test_firefoxos.html to test the firefoxos.persona.org CNAME.)

So it would appear that we have broken something in our code path on device only.

[2013-07-10 23:40] edwindotcom commented on #3644
I repro'd this on my b2g inari with v1.1

[2013-07-10 23:49] edwindotcom opened #3645 "[b2g] unable to sign into prod marketplace with firefoxos.anosrep.org pref'd"
1. set pref: firefoxos.anosrep.org on b2g phone
2. open prod marketplace and click the gear
3. click sign in
4. try using any account (i'm using mozilla.com)

actual: goes into secondary flow, but upon completion, i get a error screen
Action: getting assertion
Network Info: /wsapi/cert_key

[2013-07-11 01:00] gilbert commented on #3212
I just ran into this problem too. I think there may be an issue with persona.js and rails 4's turbo links. I'd like to look into it; where can I view the uncompressed file?

[2013-07-11 01:13] seanmonstar commented on #3212
@mindeavor the uncompressed file is getting deleted in our build step. If you just want to browse the source, its in this folder: https://github.com/mozilla/browserid/tree/dev/resources/static/include_js

[2013-07-11 01:48] jedp commented on #3644
I am a fool.  The UI Tests app was never updated to use the `experimental_` prefix on `forceIssuer` and other friends.  D'oh!

[2013-07-11 01:59] jedp commented on #3644
Yep, it looks ok with a local patch to the UI Tests app.  Closing this as complete bogus crap.

[2013-07-11 01:59] jedp commented on #3644
(And I will submit a patch to gaia, yes.)

[2013-07-11 01:59] #3644 closed, assigned to nobody

[2013-07-11 02:03] seanmonstar commented on #3644
And here I was all excited that `disableFederation` wasn't working.

[2013-07-11 02:22] jedp commented on #3644
lol

[2013-07-11 02:28] jrgm commented on #1463
Still valid STR, but demoting to 1-star (from 2-star).

[2013-07-11 02:29] jedp commented on #3644
Bugzilla bug and PR: https://bugzilla.mozilla.org/show_bug.cgi?id=892299

[2013-07-11 02:32] ozten commented on #3644
Thanks for the speedy debug and patch!

[2013-07-11 02:46] jrgm commented on #2385
I'm closing this issue. While it might look nicer with data:... urls for images, @seanmonstar raises a very valid point (that you just don't want to load any (malformed, offensive) images from senders you have no prior relationship with).

If user testing/research shows a desire to do something like this, a new issue can be opened.

[2013-07-11 02:46] #2385 closed, assigned to nobody

[2013-07-11 02:56] jrgm commented on #2181
This is still a valid issue, and not so hard to do (a view that provides different robot advice on prod vs. stage/dev/ephemeral). Good first bug.

[2013-07-11 03:15] jrgm commented on #1618
Update summary to reflect what should really be done. Good first bug.

[2013-07-11 03:18] jrgm commented on #1935
I still think this is better UX to name the RP in the subject line. /cc @ryanfeeley

[2013-07-11 03:21] jrgm commented on #2396
Assigning to @ryanfeeley for consideration, but pre-emptively closing this issue, if this is not of interest to improve the UX.

[2013-07-11 03:21] #2396 closed, assigned to ryanfeeley

[2013-07-11 03:48] jrgm commented on #2651
http://inline-tooltips.123done.org/ by @shane-tomlinson resolves the issue above. This can be closed when that lands (the inline tooltip is nicely collapsed on clicking `cancel` in the dialog). :musical_note: ...This is fucking awesome ... :musical_note:

[2013-07-11 03:57] jrgm commented on #3009
We're not using pencil with AWS deployments now, but I'd really like to get something equivalent (or just use pencil) back in place. Leaving this open for now.

[2013-07-11 04:00] ryanfeeley commented on #1935
Agreed! The email is close in current state, but I'll start on some improvements tomorrow.

On 2013-07-10, at 11:18 PM, John Morrison notifications@github.com wrote:

[2013-07-11 04:13] jrgm commented on #2728
@shane-tomlinson you mean here? https://github.com/mozilla/browserid/blob/dev/lib/http_forward.js#L101

(update to previous line in primary.js: https://github.com/mozilla/browserid/blob/dev/lib/primary.js#L113).

[2013-07-11 04:23] jrgm commented on #3048
I think this still lurks, but closing this issue, and a new issue can be opened with a more recent STR to be looked into.

[2013-07-11 04:23] #3048 closed, assigned to nobody

[2013-07-11 08:40] djc commented on #3286
I think that would be cool. IIRC @shane-tomlinson wanted to hold off on them because it would take a lot of developer and UX time.

[2013-07-11 08:44] lloyd commented on #1935
I probably should just not type anything, but I really like the site name or domain being the first thing on the line.

site name available: "Mozilla Webmaker: Complete sign-in"

site name not available: "webmaker.mozilla.org: Complete sign-in"

just saying.  Whatever we do, let's get something about the site in the subject line.  1 line patch!

[2013-07-11 08:48] lloyd commented on #3286
@ryanfeeley - can you take the lead on making sure that we don't loose the work that shorlander did, and open a new issue to track the next iterative improvment when it's clear to you what from his designs we should do?

[2013-07-11 09:31] shane-tomlinson commented on #2728
@jrgm - exactly.

[2013-07-11 09:32] shane-tomlinson commented on #2651
relate to #3154

[2013-07-11 09:44] shane-tomlinson commented on #3645
90% certain this is because the prod marketplace will use a forceIssuer of firefoxos.persona.org or login.persona.org instead of firefoxos.anosrep.org or login.anosrep.org. Is there a stage marketplace that points to stage persona?

[2013-07-11 09:49] mathjazz opened #3646 "L10n environment down"
Both,

http://translate.123done.org/
and
https://translate.personatest.org/

are down and needed for localizers to test their translations.

[2013-07-11 11:18] shane-tomlinson commented on #3642
This is a dup of #3639, which was "fixed" in #3640.

[2013-07-11 11:18] #3642 closed, assigned to nobody

[2013-07-11 11:21] shane-tomlinson commented on #3634
Fixed with @ozten's PR. Closing.

[2013-07-11 11:21] #3634 closed, assigned to nobody

[2013-07-11 11:22] shane-tomlinson commented on #3633
@csuciu - What make/model of phone is this? Are you using default Firefox settings?

[2013-07-11 12:39] shane-tomlinson opened #3647 "intermittent front end test failure for /slow_request"
[code]

[2013-07-11 13:01] csuciu commented on #3633
@shane-tomlinson  - HTC Desire A8181 and I'm using the default Firefox settings.

I can reproduce also on stock browser/same device:
1. when visiting beta.123done.org, android displays a 'Security warning: There are problems with the security certificate for this site. This certificate is not from a trusted authority.' issued by 'GeoTrust'.
2. dismiss the warning with 'Cancel'

Actual: The loading

[2013-07-11 13:13] callahad commented on #3633
Hm. Are we not sending the full cert chain?

[2013-07-11 13:50] mathjazz commented on #2492
2 users reported this is still an issue. Cannot check if it's still the case in the latest train, because of #3646.

[2013-07-11 14:50] jedp commented on #3645
The plan is to have a separate marketplace prod (not stage) pointed at persona stage.  Work to set that up will begin after July 15.  (Note that marketplace's release schedule is more frequent than persona's, so setting up a marketplace prod only makes sense.)

Here's a bug for it: https://bugzilla.mozilla.org/show_bug.cgi?id=884606

Until that's set up, we won't be able to test persona stage with

[2013-07-11 14:50] #3645 closed, assigned to nobody

[2013-07-11 14:52] jedp commented on #3642
Also fixed upstream in npm.

Useful tip from [the npm issue](https://github.com/isaacs/npm/issues/3645): it may be necessary to run `npm cache clean` first.

[2013-07-11 16:36] callahad commented on #3615
Possibly obsoleted by the inlining of tooltips?

[2013-07-11 16:37] callahad commented on #3615
Let's just WONTFIX this in favor of the tooltip changes that Shane has put together?

[2013-07-11 16:38] callahad commented on #3617
@6a68 to set up a meta-bug to track the collection of ie8 focus issues.

[2013-07-11 16:45] callahad commented on #3633
@csuciu Does normal http://123done.org/ work for you?

[2013-07-11 16:48] jaredhirsch commented on #3646
hey @mathjazz, looking at this now

[2013-07-11 16:51] jedp commented on #3451
I've opened a bug for creating a Persona component in the Settings app on FirefoxOS: https://bugzilla.mozilla.org/show_bug.cgi?id=892050

I don't think we're going to be able to really fix this kind of issue without that.

[2013-07-11 17:08] jedp opened #3648 "Add the Persona icon to the Zocial button set"
Sites like bbs.boingboing.net are not using our Persona icon.

Let's get our icon added to http://zocial.smcllns.com/

[2013-07-11 17:10] ozten commented on #3646
This has been something we've neglected for other high priority issues.

We should really get a solid L10n preview environment nailed down that has Bigtent, Sideshow, and Mozilla IdP support. It should update frequently.

@6a68 thanks for looking at this! I'd love for it to be a fully supported environment (whatever that means, maybe Ops instead of awsbox?)

[2013-07-11 17:17] jaredhirsch commented on #421
@callahad can we turn this into a user story in the stories repo?

[2013-07-11 17:19] jedp commented on #421
@callahad, @skinny97214 or is the account manager enough of its own beast that it should be tracked outside the main browserid repo?  (Just a question)

[2013-07-11 17:26] jedp commented on #742
We have a number of specific bugs filed in [type:performance](https://github.com/mozilla/browserid/issues?labels=type%3Aperformance&page=1&state=open).  Let's pursue those and bring down load times, especially for mobile.

[2013-07-11 17:26] #742 closed, assigned to nobody

[2013-07-11 17:28] jedp commented on #1199
Should be fixed now.  Please reopen if necessary.

[2013-07-11 17:28] #1199 closed, assigned to nobody

[2013-07-11 17:53] jedp commented on #1930
Since we've lived a year with the status quo, I'm going to decrement this to three stars.

[2013-07-11 17:57] jedp commented on #1903
I don't think this affects enough users to be kept as a four-star. Decrementing to three.  Please reassign if I am wrong.

Perhaps we can even close this?  @frank-e, are you still having problems?

[2013-07-11 17:59] callahad commented on #3637
Closing this down, moving to the roadmap repo.

[2013-07-11 17:59] #3637 closed, assigned to nobody

[2013-07-11 18:01] callahad commented on #3633
(Triage note: if this is only an issue on Beta, then this is a 3-star ops issue to serve the right intermediate cert. If this is also an issue on Prod, then we're in 5-star ops territory.)

[2013-07-11 18:03] callahad opened #3649 "Meta: onmatch is FUBAR"
The `onmatch` callback is totally broken. See the following bugs for test cases:
- [x] #3631
- [x] #3503
- [x] #3463
- [x] #3170

[2013-07-11 18:04] callahad commented on #3631
Closing this in favor of the meta bug that "Onmatch don't work"

[2013-07-11 18:10] callahad commented on #421
We're using `.get()` on login.persona.org. Should be relatively trivial to just call `.get()` again to add another address.

[2013-07-11 18:12] callahad commented on #421
Roadmap story created. Closing this -- we can track / prioritize there.

[2013-07-11 18:12] #421 closed, assigned to nobody

[2013-07-11 19:23] jedp commented on #3648
I realize there are other sites like zocial.  I think the ones we want should all have separate issues to track.

[2013-07-11 19:23] callahad commented on #3648
This is a symptom of Discourse using the Zocial webfont, and BoingBoing using Discourse.

Here's the upstream bug: https://github.com/samcollins/css-social-buttons/issues/17

[2013-07-11 19:44] jedp opened #3650 "Responsive design for 123done"
It would be nice to see 123done looking good on FirefoxOS.

This is actually [issue 1](https://github.com/mozilla/123done/issues/1) on 123done :)

Referencing it here so we can track it as part of the Persona + FirefoxOS story

[2013-07-11 20:13] Lennie commented on #2583
Hi Gene,

Did you get it working yet ?

Today I just installed a VM with CentOS 6.4 and checked the OpenSSL client and check if it worked: openssl s_client -port 443 -host hacks.mozilla.org -servername hacks.mozilla.org lists the hacks.mozilla.org cert and openssl s_client -port 443 -host hacks.mozilla.org would list the tbpl.mozilla.org cert.

So I installed the RPM for Squid 3.3.5 you linked to

[2013-07-11 20:30] ozten commented on #3650
I actually already have a patch going. Let me find it.

[2013-07-11 23:13] jedp commented on #3650
Awesome!  I'll try to review today.

[2013-07-11 23:19] jedp commented on #3650
That looks great.  Merged!

[2013-07-11 23:20] #3650 closed, assigned to nobody

[2013-07-12 01:15] jaredhirsch commented on #3646
@mathjazz This should be fixed. The translate environment ran out of disk space, I spun up a new one, and both en and es look correct to me. Reopen if this recurs.

@ozten that's a great idea, I've opened an issue (mozilla/identity-ops#107) to track that ops work.

[2013-07-12 01:16] #3646 closed, assigned to jaredhirsch

[2013-07-12 01:40] jrgm commented on #3231
Closing. I did this in https://github.com/mozilla/browserid/pull/3510

[2013-07-12 01:40] #3231 closed, assigned to nobody

[2013-07-12 01:57] jrgm commented on #3143
Okay, I never got back to this, and at this point there won't be a way to do this. Closing.

[2013-07-12 01:57] #3143 closed, assigned to nobody

[2013-07-12 02:36] jrgm commented on #1866
I don't see this anymore with Opera 12.16 (current release version) on windows 7. Closing.

[2013-07-12 02:36] #1866 closed, assigned to nobody

[2013-07-12 03:46] jrgm commented on #2551
Hey, where does this stand. With eyedee.me, I still have the error in the dialog (due to eyedee.me as an IdP changing the email address). But really, this bug is proxy for the problem noted in https://github.com/mozilla/browserid/issues/2551#issuecomment-14637202

[2013-07-12 03:56] jrgm commented on #2096
Closing this in favour of https://github.com/mozilla/browserid/issues/695 which has a bit more history on the issue. (But I think an initial fix to just tone down the scariness of the current error message would be an improvement, without getting into the details of all the use cases).

[2013-07-12 03:56] #2096 closed, assigned to nobody

[2013-07-12 04:11] jrgm commented on #668
@seanmonstar put in a fix here, and it covers this case.

[2013-07-12 04:11] #668 closed, assigned to nobody

[2013-07-12 04:52] #475 closed, assigned to nobody

[2013-07-12 05:40] chilts commented on #3573
@shane-tomlinson ah, sorry, didn't notice you'd closed the PR. Am not sure what you're thinking in terms of a better solution ... ?

[2013-07-12 06:52] mathjazz commented on #3646
@6a68 Thank you very much for taking care of this so quickly! 50+ localizers will really appreciate it.

[2013-07-12 07:09] mathjazz commented on #2492
#3646 is now fixed and I cannot reproduce this issue anymore. Waiting for localizers to confirm.

[2013-07-12 08:35] csuciu commented on #3633
@callahad - I'm seeing the same behaviour in production (http://123done.org/)

[2013-07-12 11:43] mathjazz commented on #2492
Confirmed to be working. This bug can be closed now.

[2013-07-12 14:07] shane-tomlinson commented on #3615
Closing as WONTFIX, the fix #3154 will make this moot.

[2013-07-12 14:07] #3615 closed, assigned to nobody

[2013-07-12 16:09] callahad commented on #3633
The GeoTrust root is only included by default in Android &ge; 2.3.

[Android &le; 2.2 requires a cross-root intermediate certificate from Equifax](https://knowledge.geotrust.com/support/knowledge-base/index?page=content&id=SO15937&actp=search&viewlocale=en_US&searchid=1373645110094).

[More than 95% of all active Android devices are on version 2.3 or greater](https://developer.android.com/about/da

[2013-07-12 16:10] callahad commented on #3633
@gene1wood Does that sound good to you? Thanks!

[2013-07-12 16:10] callahad commented on #3633
(Nice find, @csuciu!)

[2013-07-12 16:43] gene1wood commented on #3633
@callahad I don't think this is a cert chain issue. We've been aware of the requirement for Android 2.2 for the last year or so and have always served fully chained certs that go back to the old school Equifax cert. You can see here that we're serving certs chained back to Equifax :

http://www.sslshopper.com/ssl-checker.html#hostname=login.anosrep.org

http://www.sslshopper.com/ssl-checker.html#h

[2013-07-12 16:47] gene1wood commented on #3633
@csuciu Does the error message literally say "issued by 'GeoTrust'."? I only ask because the immediate issuer's name is "GeoTrust SSL CA" not "GeoTrust"

[2013-07-12 18:18] jrgm commented on #2492
Yep. Thanks @mathjazz. Looks right to me in et, de, pl, es, zh-CN. Closing.

[2013-07-12 18:18] #2492 closed, assigned to shane-tomlinson

[2013-07-12 18:26] #3638 closed, assigned to nobody

[2013-07-12 19:48] jrgm opened #3658 "cannot build browserid rpm due to npm semver changes"
In GH-3639 and GH-3640, it turned out that npm semver is now stricter on versions like 0.0.8beta4 (it wants the hyphen).

However, applying the fix in GH-3640 to train-2013.07.03 does not solve a problem with actually building the rpm.

To allow train-2013.07.03 to be built, @ozten provided this temporary workaround - https://github.com/mozilla/browserid/commit/2a8cb61a8a070ca12f764b70eef4f328a3c6

[2013-07-12 19:49] jrgm commented on #3658
Since the rpm for train-2013.07.17 cannot be built without a fix for this, this is a blocker.

[2013-07-12 20:00] jrgm commented on #3658
To be clear, the workaround works and an rpm for train-2013.07.03 has been built. This issue is about the next train.

[2013-07-12 20:00] ryanfeeley commented on #1935
@lloyd I prefer your solution:  "Mozilla Webmaker: Complete sign-in" .

Other conventional subject lines:
- Confirm your Mozilla Webmaker email address!
- Please confirm your Mozilla Webmaker registration.
- Mozilla Webmaker - New Account Confirmation

Would it be disingenuous and spammy to change the from name to, for example, "Mozilla Webmaker"?

Here is a screenshot of a current message, images

[2013-07-12 20:02] ozten commented on #3658
I've started working on this.

[2013-07-12 20:05] callahad commented on #1935
@ryanfeeley Keep in mind that with our identity bridges up and running, conservatively only ~30% of users will ever see an email like that.

[2013-07-12 20:46] skinny97214 commented on #1196
Closing. #1400 resolved.

[2013-07-12 20:46] #1196 closed, assigned to nobody

[2013-07-13 01:53] jrgm commented on #1037
Hey @ryanfeeley, can you look at this while you're looking at copy changes (and close if this is covered by those changes)? Thanks.

[2013-07-13 02:24] jrgm commented on #1737
@mathjazz I see that an answer to your question wasn't posted here. Did it come by some other channel?

[2013-07-13 03:05] ryanfeeley commented on #1037
Amazingly, we are reintroducing something close to the original copy although the context is changing slightly (we're likely targeting to become the "sign in with your email" option), and the absence of the accompanying password field resets the expectations somewhat. Let's see how it tests. I definitely agree users need access to information about what Persona is (and why it exists).

On 2013-07-

[2013-07-13 05:24] mathjazz commented on #1737
Not that I know of. I know it's been a long time, but I'd still love to get the answer.

[2013-07-13 17:09] Skalman opened #3659 "Improve https://login.persona.org TLS settings"
According to [SSL Labs](https://www.ssllabs.com/ssltest/analyze.html?d=login.persona.org&s=107.23.76.176) there are several things to improve regarding the HTTPS support for https://login.person.org/.

The server should:
1. Mitigate the BEAST attack
2. Not support client-initiated renegotiation (otherwise it's easier to attack via DoS)
3. Support TLS 1.1 and 1.2
4. Investigate and possibly fix PFS

[2013-07-15 10:24] shane-tomlinson commented on #1935
@callahad - this is true, but we still want those 30% not covered by BigTent to have an awesome experience.

Since we now have backgroundColor as an RP option, it would be fun to experiment with setting the background color of the email to the same, to help RP brand the emails as well.

[2013-07-15 12:42] shane-tomlinson opened #3660 "Arrow finishes animation before "Is this your computer" screen goes away."

[2013-07-15 14:29] shane-tomlinson opened #3661 "email field not focused after cancelling from "Your <IdP> makes this easy!" screen."
STR

1) Load up dialog, if signed in, sign out.
2) Enter unrecognized primary email address, click "next"
3) On the "<IdP> makes this easy!" click "Use a different email address"
4) Email field is not focused.

[2013-07-15 15:02] shane-tomlinson opened #3662 "[firefox nightly] submit button text not vertically centered."
![screen shot 2013-07-15 at 16 01 34](https://f.cloud.github.com/assets/848085/798372/884f4aac-ed5f-11e2-85b7-a3f6851d2678.png)

Note, this only seems to affect Firefox Nightly when resizing the screen to mobile size.

[2013-07-15 17:22] callahad commented on #2583
@gene1wood ping?

[2013-07-15 18:28] gene1wood commented on #2583
! Ok @Lennie you're right it does work. The SSL problems I was seeing must have been related to mozillafoundation.org before they changed their cert. I've tested with this

[code]

with great success. I've updated staging and you (and everyone else) can now test this in our staging environment. We should be able to get this out into production with our next production deploy.

[2013-07-15 19:15] jrgm commented on #2482
There's a small problem with https://github.com/mozilla/browserid/pull/3578, in that /favicon.ico is now served with
`Cache-Control: public, max-age=31536000` which is one year.

Thoughts? @ryanfeeley, is this ok?

[2013-07-15 19:31] shane-tomlinson commented on #2482
@jrgm - we are now cachifying this, so the URL will be updated any time favicon is changed. Are you seeing something different?

[2013-07-15 19:36] jrgm commented on #2482
Brain cramp. Closing.

[2013-07-15 19:36] #2482 closed, assigned to nobody

[2013-07-15 19:36] jrgm commented on #2482
Brain cramp. Closing.

[2013-07-15 21:09] lrowe opened #3663 "Cancelled GET requests from communication_iframe in Chrome"
My site and myfavoritebeer.org is showing multiple canceled GET requests initiated by the communication_iframe in the network panel on Chrome. The requests are for frame resources, including: dialog.js, dialog.css, grain.png, persona-logo-transparent.png, arrow_grey.png, ...

Firefox doesn't seem to be affected. Clearing my cache does not help.

To reproduce using Chrome:
1. Open the network panel

[2013-07-15 21:14] vladikoff commented on #3663
Reported in https://github.com/mozilla/browserid/issues/3561 Thanks!

[2013-07-15 21:14] #3663 closed, assigned to nobody

[2013-07-15 21:22] skinny97214 commented on #1737
I'd leave it up to localizers to make the most sense, since "persona" can be confusing in some languages. Definitely ping @ryanfeeley for any Persona design questions. He's your man now.

[2013-07-15 21:35] ryanfeeley commented on #1737
I think we should stick to Mozilla Persona for at least the first mention in a given block, if not every mention. Connecting Persona to Mozilla (and Mozilla less frequently to Firefox) is essential to establishing trust with prospective users. @jbonacci @skinny97214

[2013-07-15 22:29] ozten commented on #2501
I think this is the remaining work: https://github.com/mozilla/browserid/pull/3664

[2013-07-16 11:02] #3647 closed, assigned to shane-tomlinson

[2013-07-16 14:19] shane-tomlinson opened #3666 "context has seeped into xhr.js, too many mixed concerns."

[2013-07-16 15:35] jaredhirsch commented on #3466
@jrgm @shane-tomlinson I'll take another swing at this today.

[2013-07-16 15:55] jaredhirsch commented on #1500
Taking. Some hints from @shane-tomlinson [in ircloggr](http://irclog.gr/#show/irc.mozilla.org/identity/296343)

[2013-07-16 16:44] djc commented on #2583
Tested this against my personal IdP. If I enable SSL on my primary domain [xavamedia.nl](the IdP is configured on ochtman.nl), I get these results:

https://login.persona.org/wsapi/address_info?email=dirkjan%40ochtman.nl (prod) says

`{
    "type": "secondary",
    "issuer": "login.persona.org",
    "disabled": false,
    "normalizedEmail": "dirkjan@ochtman.nl",
    "state": "offline"
}`

https://

[2013-07-16 17:26] ryanfeeley commented on #1935
I shared some smaller tweaks with Shane, and figured this was a good thread for them. Thoughts?

CURRENT
![screen shot 2013-07-16 at 10 27 41 am](https://f.cloud.github.com/assets/68213/806558/0ec22ebe-ee3d-11e2-8bba-6726e7aeb083.png)

PROPOSED
![improved-email 001-001](https://f.cloud.github.com/assets/68213/806544/d56e10c4-ee3c-11e2-835a-2ad607363420.png)
![improved-email 001-002](https://f.clou

[2013-07-16 18:54] jaredhirsch opened #3668 "Dialog jank during signin animation on Chrome only"
When the chevron ( div.arrow or div.arrowContainer ) animates rightward after a successful login, you can see a flashing dark vertical line move across the dialog, too.

I can't repro on Safari or FF, but it's bad on Chrome/Mac. I'm not having luck getting a screen capture of the animation in progress.

[2013-07-16 20:25] jaredhirsch opened #3669 "database problems, marketplace/partners affected"
Five-star to investigate.

See https://bugzilla.mozilla.org/show_bug.cgi?id=894466 for the report that started it all.

[2013-07-16 20:31] jedp commented on #3669
IRC log begins here: http://irclog.gr/#show/irc.mozilla.org/identity/296506

[2013-07-16 20:39] #3154 closed, assigned to shane-tomlinson

[2013-07-16 20:40] gene1wood commented on #3669
db servers in us-east-1 didn't have their EBS volumes mounted for some reason and so were writing to local storage which filled up. additionally our monitoring detected the problem but didn't alert. I'll be
- fixing the mount issue
- fixing replication
- undraining us-east-1
- fixing alerting

[2013-07-16 20:45] jrgm commented on #3669
With replication broken in one region, users making changes (change password, delete user, new account, add user to account) would have experienced failures in those actions. Regular signin to relying parties would not have been affected.

[2013-07-16 21:01] jedp commented on #3669
@krupa reported new accounts failing when trying to purchase the Jaxogram app.  STR were:
1. launch marketplace (prod)
2. change region in marketplace to Spain (gears button) and save changes
3. search for jaxogram
4. try to purchase with a new email

Both @vladikoff and I tried: We succeeded to create a new unverified email and went on with no errors to the purchasing flow.  @krupa and testing pa

[2013-07-16 21:28] gene1wood commented on #3669
Of the 3 databases that users read from in us-east-1, one of the databases (the local master) was and is still working correctly. One of the databases (a local slave) filled it's drive yesterday at 3:02PM PDT at which point it stopped receiving replicated writes. One of the databases (a local slave) filled it's drive today at 7:52am PDT at which point it stopped receiving replicated writes.

At 12

[2013-07-16 21:31] jedp commented on #3669
@krupa reports that she and folks in Poland could log in.  Closing this.  Thanks, everyone, for jumping in and fixing.

[2013-07-16 21:31] #3669 closed, assigned to gene1wood

[2013-07-16 21:57] gene1wood commented on #3669
The root cause of the monitoring failure to alert when it should have about the replication issue is this
- 2 months I discovered a bug in our automatic monitoring self registration which caused hosts to register with all notifications disabled
- I fixed this bug here : https://github.com/gene1wood/opsview_client/commit/290ed9b2ff9348359fcdb6c6090c1381ef84fe16
- I manually went through to take exi

[2013-07-16 23:47] ryanfeeley commented on #3525
I guess we're ditching this screen, so issue averted? @lloyd @shane-tomlinson @6a68

[2013-07-17 08:07] shane-tomlinson opened #3671 "<idp> makes this easy! screen should be removed"
@ryanfeeley believes this page provides little user value.

Link to #3609

[2013-07-17 09:11] shane-tomlinson commented on #1935
@ryanfeeley - I'm digging these changes. Would it make sense to move the massive Persona logo down into the footer and just make it a small watermark like we did with the dialog?

For RP branding, I am thinking of two changes we might be able to make: transfer both the backgroundColor and possibly the siteLogo to the email? The siteLogo may take a lot of work on our part, I am not sure what is inv

[2013-07-17 09:16] shane-tomlinson commented on #3525
@ryanfeeley - we are ditching the initial "makes this easy" screen, but not the "Your <IdP> account has been upgraded to work even better with Persona. We will redirect you to <IdP>." (I forget the new text on this). The upgrade screen still shows this button, though we could remove the IdP text.

[2013-07-17 09:16] shane-tomlinson commented on #3525
Link to #3671

[2013-07-17 09:50] shane-tomlinson opened #3672 "error compressing localized resources on ephemeral instances"
When pushing to an ephemeral instance, I am receiving the following error:

[code]

[2013-07-17 09:54] shane-tomlinson commented on #3672
@ozten, @6a68 - is this caused by the i18n-abide update?

[2013-07-17 12:51] shane-tomlinson commented on #2904
@jedp or @jrgm  - are you still seeing this?

[2013-07-17 15:34] lloyd commented on #2583
wewt!

On Jul 16, 2013, at 10:44 AM, Dirkjan Ochtman notifications@github.com wrote:

[2013-07-17 15:40] #3672 closed, assigned to nobody

[2013-07-17 17:41] jaredhirsch commented on #3671
I'm excited about this :)

[2013-07-17 18:19] jaredhirsch commented on #3658
@ozten @jrgm can we close this?

[2013-07-17 18:25] ozten commented on #3658
Fixed!

[2013-07-17 18:25] #3658 closed, assigned to ozten

[2013-07-17 20:12] jds2501 opened #3674 "[B2G] [Leo] [Marketplace] Javascript error when attempting to access Persona's Terms or Privacy Policy"
Description:
When selecting the Terms or Privacy Policy links in the Persona login page, the user is given a JavaScript warning instead of the appropriate page.

Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=895017.

Repro Steps:
1) Updated Leo to Build ID: 20130717070237
2) Launch the Marketplace app.
3) Select the gear icon in the upper right corner, then "Sign In / Sign Up".
4) Whe

[2013-07-17 21:01] jaredhirsch opened #3675 "Dialog footer code is illegibly small on a single line."
The dialog footer-shrinking hack produces lots of tiny text, which is hardly an improvement over multiple lines of legible text.

Looking at the translate environment today, I saw that the "negative space man" icon depends on the line-height, and so it's partly obscured, which makes the footer look less than beautiful:

![screen shot 2013-07-17 at 1 57 54 pm](https://f.cloud.github.com/assets/9639

[2013-07-17 22:34] callahad opened #3676 "Yahoo OpenID sends wrong SSL cert"
Yahoo bridge is broken because Yahoo is serving the wrong SSL cert for their OpenID endpoint:

![Yahoops!](https://f.cloud.github.com/assets/24193/815777/f74cb2dc-ef30-11e2-8046-aee3b6a83278.png)

[2013-07-17 22:40] callahad commented on #3676
This is an upstream issue -- Yahoo OpenID auth is broken web-wide, including on [StackOverflow](http://stackoverflow.com/users/login) and [Janrain](https://dashboard.janrain.com/signin).

[2013-07-17 22:41] callahad commented on #3676
I suggest we kill the Yahoo bridge and let things fall back to the fallback.

[2013-07-17 22:41] callahad commented on #3676
@gene1wood ?

[2013-07-17 22:44] callahad commented on #3676
Gene is getting in touch with operations at Yahoo to try to resolve before we pull the plug on our bridge.

[2013-07-17 23:00] gene1wood commented on #3676
I've had a friend contact their ops team, hopefully we'll hear back soon

[2013-07-17 23:10] callahad commented on #3676
If we don't hear anything in the next 20-ish minutes, we'll manually flip the switch on our bridge and route people back through the email-based fallback.

[2013-07-17 23:43] superawesome commented on #3520
So, we've rolled out IdP for @mozilla.com users now, and hit this right away. I realize that ideally we'd like to solve this altogether, but in the interim I'd like to have some sensible user feedback about what the problem is. Right now it fails in a completely inexplicable (and highly frustrating) manner.

[2013-07-17 23:49] callahad commented on #3676
Ticket has been escalated at Yahoo, they're aware of the problem.

[2013-07-18 00:06] callahad commented on #3676
We've disabled the Yahoo bridge. Users should be flowing through the fallback flow.

We'll leave it like this overnight and turn it back on once Yahoo has fixed their certificate.

[2013-07-18 00:07] callahad commented on #3676
(Leaving this as a 5-Star issue so we don't forget to turn it back on)

[2013-07-18 00:12] callahad commented on #3520
+1. Can we stand up a domain and try to set a third party cookie with it as part of the dialog's bootup?

[2013-07-18 00:17] gene1wood commented on #3676
Internal note : I've disabled the yahoo bridge by manually modifying the config and restarting services. To re-enable the bridge all that need be done is have chef re-converge the system and revert this changed config setting. This can be done by running `chef-solo -c /etc/chef/solo.rb -j /etc/chef/node.json` on each of the 6 bigtent servers

[2013-07-18 00:59] callahad commented on #3676
@gene1wood Yahoo is back online -- Please resolve at your leisure.

[2013-07-18 01:34] seanmonstar commented on #3520
could we with each our of idps (yahoo bridge, gmail bridge, mozidp), include a simple cookie check on the provisioning page, and if cookies don't stick, raiseProvisioningError('no 3rd party cookies')?

[2013-07-18 01:49] callahad commented on #3520
I'd rather do this once at the shim level, instead of N times at N providers, if at all possible...

[2013-07-18 02:46] callahad opened #3677 "Make the default RP backgroundColor ligher"
Per Jon of Voost:

If the site doesn't specify any backgroundColor preference, maybe we could bring back the grain and a slight tint to keep the defaults more aesthetically pleasing / interesting?

[2013-07-18 04:28] jrgm opened #3678 "[ie9][ephemeral][selenium] new-user-primary-test fails on ephemeral but not stage"
This is a bit odd. I was running the below using an ephemeral instance, and failing 5 of 5, where the same thing with s/jrgmtrain0703/stage/ passes 5 of 5.

./scripts/run-all.js -e jrgmtrain0703 -p 8 --platform win7_ie_9 -i 5 -t new-user-primary-test

The error dug out of selenium is 'improper usage of API Error: Could not get IdP Verification Info'.

![ie9-ephemeral-could-not-get-idp-verification

[2013-07-18 05:34] gene1wood commented on #3676
I've reverted the config change which disabled yahoo bigtent. I've tested and confirmed I can again login with a yahoo account.

[2013-07-18 05:45] callahad commented on #3676
I've also verified (along with the alias / PIN hotfix). All systems normal. Closing this bug.

[2013-07-18 05:45] #3676 closed, assigned to nobody

[2013-07-18 07:18] shane-tomlinson commented on #3520
@callahad - https://github.com/mozilla/browserid/issues/3520#issuecomment-19384288 - same approach I was thinking about. Unfortunately, the shim isn't the place to do it because that won't take care of detecting disabled 3rd party cookies for pseudo-native implementations like FirefoxOS. As an alternative, we can embed 3rd party iframe in the dialog to do the check.

[2013-07-18 07:22] shane-tomlinson commented on #3677
meh. I'd rather aim for consistency. The background adds bytes to the download and slows down rendering. Can we get shorelander's input?

[2013-07-18 07:44] seanmonstar commented on #3677
I like the solid color. It's very holo/metro/ios7.
On Jul 18, 2013 12:22 AM, "Shane Tomlinson" notifications@github.com
wrote:

[2013-07-18 07:59] shane-tomlinson commented on #3675
Yeah, that's not so awesome.

[2013-07-18 08:17] shane-tomlinson commented on #3674
@jds2501 - There are two issues going on here, first, we are showing the TOS/PP agreements in a sandboxed iframe that does not have Javascript support. We use a sandboxed iframe to prevent RPs from attempting to frame break from the TOS/PP pages and take over the dialog.

Second, the string "Sorry, you need JavaScript to access the Marketplace" is not in our repo. I would guess that marketplace ha

[2013-07-18 09:08] gerv opened #3679 "mozilla.com Persona IDP - upgrade message says "undefined""
I attempted to sign into air.mozilla.org using my gerv@mozilla.com account.

The first thing I got was:

" Your mozilla.com account has been upgraded to work even better with Persona. We will redirect you to mozilla.com.

Once you verify your account there, you will be signed in to undefined."

There seems to be a problem at the end there. :-)

Gerv

[2013-07-18 11:20] shane-tomlinson commented on #3679
Thanks @gerv. I'm surprised there is not an open bug already, we knew about this.

Labeling 5\* since this is a regression. We can change it if need be.

[2013-07-18 12:37] callahad commented on #3679
AFAIK this is fixed, and the fix goes into production today when we do the deployment.

Suggest we close, since this is resolved in stage.

[2013-07-18 12:37] callahad commented on #3679
(We delayed Gmail by a few days to wait for that fix to land, FWIW)

[2013-07-18 12:40] callahad commented on #3675
Is there any way we can force a line break before the "More Information" bit, if we have to break anywhere? Give the link style `display: inline-block`, maybe?

Two lines of text fit just fine, the only problem is that we're wrapping in awkward places.

[2013-07-18 12:43] callahad commented on #3677
I like the solid color, too. When used. But to be fair, our default styling feels uncomfortably plain, to me. Maybe even a bit of a regression?

![screen shot 2013-07-18 at 7 42 56 am](https://f.cloud.github.com/assets/24193/819011/990f6666-efa7-11e2-9350-1196df7ff35c.png)

![screen shot 2013-07-17 at 10 48 29 pm](https://f.cloud.github.com/assets/24193/819015/a5538eca-efa7-11e2-9ebd-65d551b2238c.

[2013-07-18 12:45] callahad commented on #3677
Of course, for sites that take advantage of it, backgroundColor can be a HUGE win:

![backgroundcolor-ting](https://f.cloud.github.com/assets/24193/819022/ea2a9b38-efa7-11e2-8e91-24f60d0987f3.jpg)

[2013-07-18 12:47] callahad commented on #3520
@shane-tomlinson Sorry, that's what I meant -- the popup hosted at login.persona.org could embed an iframe to persona-cookie-check.org or similar.

[2013-07-18 12:58] shane-tomlinson commented on #3677
This is going to come down to a matter of taste (I'm in favor of the spartan look), which is why I'd like to get a designer involved.

[2013-07-18 14:19] djc commented on #3212
@chilts sorry for stealing this, figured it'd be okay since you didn't touch it for two weeks or so.

So my patch is fairly straightforward. I tried to find a less literal way of describing the target path, but didn't really succeed. So I hope this simple approach is okay.

[2013-07-18 14:41] mattbasta commented on #3674
The message is inside a noscript tag. We use JS to download the appropriate
localized document since we're not yet a true packaged app.
 On Jul 18, 2013 1:18 AM, "Shane Tomlinson" notifications@github.com
wrote:

[2013-07-18 14:48] shane-tomlinson commented on #3674
@mattbasta - thanks Matt.

Our Javascript concern is with frame busting and with devious iframes trying to do something nefarious with JS. If an RP can frame bust, they can redirect the phone's system dialog wherever they want.

Can l10n be done a different way, perhaps front loading the locale in the URL that is passed to termsOfService and privacyPolicy and rendering those documents directly?

W

[2013-07-18 15:02] antoniusf commented on #1878
@shane-tomlinson I disabled the DOM storage for security and had the same problem. I guess I'll have to reenable it now for using persona, but I'm finally able to log in again. Thank you!

[2013-07-18 15:07] lloyd commented on #3520
Because of differing browser behavior, I worry about the subtleties here.

the feature we require is for a cookie _set_ first party, to be _readable_ third party.  If we want to do a check and better messaging (rather than a protocol change to fix the underlying problem) I think it needs to be extremely similar to the feature that we need.

Basically positing that the various checkboxes that brows

[2013-07-18 15:50] shane-tomlinson commented on #3679
Fantastic. Closing as fixed, no longer 5*. Thanks @callahad

[2013-07-18 15:50] #3679 closed, assigned to nobody

[2013-07-18 16:36] mattbasta commented on #3674
If we give off-origin URLs for the ToS/PP, will Persona still load them?
On Jul 18, 2013 7:49 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-07-18 16:41] callahad commented on #3659
@jrgm believes we've got a similar open bug in Bugzilla.

We should find those and close this as a dupe once we've ensured they're all in there.

[2013-07-18 16:41] callahad commented on #3659
@edmoz to handle the searching.

[2013-07-18 16:41] edwindotcom commented on #3659
/me searches bugzilla

[2013-07-18 16:47] edwindotcom commented on #3668
i'm see a hard line at all times on FF beta with Retina
![screen shot 2013-07-18 at 9 46 37 am](https://f.cloud.github.com/assets/3698618/820661/b8e3adfe-efc9-11e2-9bd0-0224ac153bf6.png)

[2013-07-18 16:51] jaredhirsch commented on #3677
-1 on making changes to appease a single RP, that's not how good coherent design happens

[2013-07-18 16:58] jaredhirsch commented on #2437
ooh, missed this. closing

[2013-07-18 16:58] #2437 closed, assigned to nobody

[2013-07-18 17:00] jedp commented on #3422
Actually, I'm thinking this is something that's more appropriate to the Settings app or some account management feature on device.

[2013-07-18 17:00] #3422 closed, assigned to nobody

[2013-07-18 17:09] vladikoff commented on #3668
http://screencast.com/t/QBjoWJ64Tam uploaded a video demo, you can see the line show up right in the end

[2013-07-18 17:16] jaredhirsch commented on #1472
@shane-tomlinson seems like there should be a spot in the state machine where we could check if list_emails is empty, and bail back to the enter your email screen. thoughts?

[2013-07-18 17:19] #1702 closed, assigned to nobody

[2013-07-18 17:24] jedp commented on #1744
@lloyd is this something we want to pick up again?  This bug and the bugzilla bug have been quiet for some time.

[2013-07-18 17:24] #1835 closed, assigned to nobody

[2013-07-18 17:25] jedp commented on #1835
Closed so we can track in mozilla/123done#36

[2013-07-18 17:35] jedp commented on #1854
@shane-tomlinson , @lloyd , any thoughts on this?

It seems that most of the means of triggering the issue have been fixed (especially if #1047 cannot be repro'd on Android 2.x).  That might merit demoting this to three stars, but it still sounds like a priority.

[2013-07-18 17:58] jedp commented on #1060
@kparlante is leading the charge on this and tracking elsewhere.  I've checked with her and she favors closing this bug.

[2013-07-18 17:58] #1060 closed, assigned to nobody

[2013-07-18 19:13] jaredhirsch opened #3681 "[train-2013.07.17] translate not displaying localized versions of files"
@mathjazz Heads up, the translate server is doing something funny this morning. I'm looking into it now.

[2013-07-18 19:58] shane-tomlinson commented on #1472
@6a68, @jrgm - do we know why list_emails is returning an empty set of emails?

[2013-07-18 20:26] seanmonstar commented on #1472
I just hit this: I logged in with a brand new email. Afterwards, in another
browser, I logged into my normal account, and used "Add another email", and
added the same email I used previously that was brand new. It "stole" the
email from the brand new account. Trying to use it, I was still logged in,
but the list was empty.

On Thu, Jul 18, 2013 at 12:58 PM, Shane Tomlinson
notifications@github.com

[2013-07-18 20:41] jaredhirsch commented on #3681
I'm not sure what was wrong, but spinning up a new server fixed it. @mathjazz please reopen if you see that it's broken again.

[2013-07-18 23:07] gene1wood commented on #2583
SNI support is now live in production. Feel free to re-open if you see any problem. Thanks for everyone's patience on this long lived ticket.

[2013-07-18 23:07] #2583 closed, assigned to mostlygeek

[2013-07-18 23:51] jrgm commented on #2583
verified current production:

curl https://login.persona.org/wsapi/address_info?email=dirkjan%40ochtman.nl
{
  "auth":"https://ochtman.nl/persona/authenticate",
  "prov":"https://ochtman.nl/persona/provision",
  "type":"primary",
  "issuer":"ochtman.nl",
  "normalizedEmail":"dirkjan@ochtman.nl",
  "state":"known"
}

[2013-07-19 01:44] lmorchard commented on #2583
And there was much rejoicing!

[2013-07-19 03:25] jrgm opened #3683 "cannot build rpm due to L10N issues"
The train-2013.07.17 branch fails at building the rpm.

I see @shane-tomlinson put in a fix in https://github.com/mozilla/browserid/pull/3673 which is in train-2013.07.17 for pushing to an awsbox, but when building the rpm with a full complement of L10N translation from `verbatim`, the build fails with errors like:

[code]

To decouple the problem from `rpm`, this script on `osx` reproduces the er

[2013-07-19 05:40] ozten commented on #2583
@lmorchard thanks for getting this party started!

[2013-07-19 05:53] ozten commented on #3683
I think we need to switch from scripts checked into svn and start using scripts from i18n-abide.

Does this create a chicken and egg problem, since `node_modules/i18n-abide/bin` won't exist during rpm generation?

I'll jump on this first thing tomorrow.

[2013-07-19 06:01] jrgm commented on #3683
Offhand, I think `node_modules/i18n-abide/bin` will be there when scripts/browserid.spec does its stuff.

[2013-07-19 06:41] mathjazz commented on #3681
Hey @6a68,

As reported by localizers: https://translate.personatest.org is displayed in English, not localized, and http://translate.123done.org only partially localized.

[2013-07-19 06:52] djc commented on #2583
@jrgm that wasn't really a good test, since I'd disabled the SSL on the primary domain again. I've now re-enabled it, and it looks like it still works, so it's still fine. I can finally leave it enabled... Great work by everyone involved here.

[2013-07-19 07:51] Lennie commented on #2583
I didn't have time to test it, but I'm glad others did and it worked.

I don't have a domain setup yet for Persona, I just knew this was important, I would also probably need it if I would deploy it.

Maybe someone can answer me this:
If I know their might be users with browsers that don't support SNI, can I use SNI with HTTPS-delegation and point the user-portion to a non-SNI IdP HTTPS-site ?

So

[2013-07-19 08:30] #3662 closed, assigned to nobody

[2013-07-19 09:32] #1873 closed, assigned to nobody

[2013-07-19 15:07] ozten commented on #3683
I think we can replace
    ./locale/compile-json.sh locale/ resources/static/i18n/

with
    ./node_modules/.bin/compile-json locale/ resources/static/i18n/

in `scripts/browserid.spec`.

## more background

A possible improvement is to make this closer to what we do in AWS boxes and locally on dev envs.

So `scripts/l10n-update.js` is what pulls SVN and calls `compile-json`. It creates `client.js

[2013-07-19 15:38] ozten opened #3686 "Remove legacy L10n scripts"
I need to work with @mathjazz to remove
- scripts/extract_po.sh
- scripts/merge_po.sh
- scripts/compile_mo.sh
- locale/compile-mo.sh
- locale/compile-json.sh
- locale/po2json.js
- locale/po2json.pl

Why remove these? We are using the new i18n-abide scripts for extract, merge and compile.

We don't use .mo files anymore, so anything mentioning those.

[2013-07-19 15:58] callahad commented on #2583
@Lennie That's a really interesting approach. I think it would work.

You're really only talking about WinXP/IE8, which will never have a native implementation of BrowserID. Thus, lookup will be handled by the fallback, which _does_ support SNI, and it will tell the browser to contact site Y.

I should test it, but as far as I know, that'd totally work.

[2013-07-19 18:51] jaredhirsch commented on #3681
Hey @mathjazz - Thanks for the ping.

[2013-07-19 18:53] jaredhirsch commented on #3681
@mathjazz - Whoops, hit the green button too soon. @ozten helped me figure out the translate environment problems this morning, and I'm working on a permanent fix. We have a lot of new strings and the weekend is coming up, so I'm going to be sure to get it fixed by end of day today for our awesome localizers.

[2013-07-19 21:17] #3671 closed, assigned to shane-tomlinson

[2013-07-19 21:37] Lennie commented on #2583
The Android 2.x default Browser is the other major browser that does NOT support SNI.

Anyway, I do still see some of our customers still using IE7 on WinXP, I know it's sad. But they are less and less frequent. You can ignore that last category. You already are. :-)

[2013-07-20 03:05] jaredhirsch commented on #3681
@mathjazz I've pushed some updates to the translate environment, and it should be fixed. Please reopen this bug if problems recur and I'll look.

[2013-07-20 03:05] #3681 closed, assigned to nobody

[2013-07-20 16:41] carlacasilli commented on #1878
This is still a problem for me and I do not know how to check is DOM storage is enabled. If you provide the steps to do so, I'll happily check (although I will be away from this computer for about 3 weeks as of tomorrow). Thanks!

[2013-07-20 17:49] callahad commented on #1878
@carlacasilli Could you please visit this URL and tell us what the output is?

http://lloyd.github.io/persona-troubleshoot/troubleshoot.html

[2013-07-20 19:12] carlacasilli commented on #1878
Hey Dan,

I'm attaching two screenshots:
1) NoScript enabled preventing github.io from loading
![screen-shot-2013-07-20-at-12 01 12-pm](https://f.cloud.github.com/assets/1039302/830737/396cf6ae-f170-11e2-8187-ec2a38304811.gif)

2) NoScript disabled allowing github.io to load
![screen-shot-2013-07-20-at-11 59 53-am](https://f.cloud.github.com/assets/1039302/830738/4c8484a0-f170-11e2-85b7-92554f2133

[2013-07-21 04:41] callahad commented on #1878
@carlacasilli Thank you!

If you could please visit about:config and change "dom.storage.enabled" to "true", I believe that would fix your issues.

How it got into that state in the first place, though...

[2013-07-22 10:45] #3609 closed, assigned to ryanfeeley

[2013-07-22 12:23] shane-tomlinson opened #3689 "unable to change email after cancelling from "set password" screen for new user"
This is due to the "remove required email" PR. DOH.

[2013-07-22 14:13] shane-tomlinson commented on #3520
Link to #2079

[2013-07-22 18:21] #3520 closed, assigned to nobody

[2013-07-22 18:42] shane-tomlinson opened #3691 "Copy when returning from IdP is confusing and verbose."
@ryanfeeley agrees. He suggests changing it to look like:

![screen shot 2013-07-22 at 19 41 01](https://f.cloud.github.com/assets/848085/837039/5741da66-f2fe-11e2-8d95-cb5607e36f0c.png)

[2013-07-22 18:44] shane-tomlinson commented on #3677
Word from Shorelander:

Changing the title of this bug "Make the default RP backgroundColor ligher"

[2013-07-22 19:05] shane-tomlinson commented on #3691
@ryanfeeley - I know we don't have the lock yet:

![screen shot 2013-07-22 at 20 01 44](https://f.cloud.github.com/assets/848085/837174/6456c2b8-f301-11e2-8cf7-cacacca49f9f.png)

[2013-07-22 19:11] ozten commented on #3683
We can close this, right?

[2013-07-22 19:15] jrgm commented on #3683
Yes, although that rpm has not yet been deployed to an aws stack.

[2013-07-22 19:21] jrgm commented on #3683
Closing.

[2013-07-22 19:21] ryanfeeley commented on #3691
Lower budget option is to animate the ellipsis like:

Signing you in...
Signing you in
Signing you in.
Signing you in..
Signing you in...
Signing you in
Signing you in.
Signing you in..
Signing you in...
etc.

[2013-07-23 02:24] jaredhirsch commented on #3689
oh! **this** is what you were addressing in the xhr commit?

[2013-07-23 03:32] nickdesaulniers opened #3693 "I'm unable to login to etherpad with LDAP"
Trying to open a particular [protected mopad](https://apps.etherpad.mozilla.org/ep/account/sign-in?&cont=https%3a%2f%2fapps.etherpad.mozilla.org%2fsupporting-developers-meetup), I enter my email, then enter my ldap credentials, then loop back to being prompted to enter my email, then my ldap AGAIN, then loop back endlessly and can never get in.  I'm seeing a HTTP 403 in the console when an HTTP PO

[2013-07-23 03:38] seanmonstar commented on #3693
A 3rd party cookie needed. You probably don't allow them, but a new default
profile does allow from visited. If you add an exception for
login.mozilla.org, it should work.

We have better messaging in development.
On Jul 22, 2013 8:32 PM, "Nick Desaulniers" notifications@github.com
wrote:

[2013-07-23 03:43] nickdesaulniers commented on #3693
Thanks @seanmonstar , adding login.mozilla.org to the exceptions of third party cookies did indeed fix the problem.  I'll leave it up to you to close this, maybe once a better error message reaches production.

[2013-07-23 04:04] callahad commented on #3693
The better error message has been merged, will go live in ~2 weeks. Closing this for now.

Thanks for the report, Nick.
Thanks for the quick response, Sean.

[2013-07-23 04:04] #3693 closed, assigned to nobody

[2013-07-23 08:10] shane-tomlinson commented on #3693
FWIW, linking to #3520

[2013-07-23 09:44] shane-tomlinson commented on #3666
Closed wiht #3667

[2013-07-23 09:44] #3666 closed, assigned to shane-tomlinson

[2013-07-23 13:06] shane-tomlinson commented on #1946
Closing as same fix as #2034

[2013-07-23 13:06] #1946 closed, assigned to nobody

[2013-07-23 14:46] jaredhirsch commented on #3666
:beers:

[2013-07-23 14:57] shane-tomlinson commented on #2034
I'm taking it. I have taken @seanmonstar's original work and UA sniffed (gross) for Chrome for iOS and Windows Phone. It's gross, but it works. A working base that can be iterated from is better than not working at all.

[2013-07-23 15:54] shane-tomlinson opened #3695 "xhr_delay called for all requests"

[2013-07-23 16:01] jaredhirsch commented on #3631
reopening--the meta bug tracks but doesn't close the other three related bugs

[2013-07-23 16:26] #3695 closed, assigned to shane-tomlinson

[2013-07-23 18:53] mattbasta opened #3698 "Suggested "forgotten username" implementation?"
Hi all

We've encountered a user that's forgotten the email that they use to sign in to the Marketplace with. Is there a suggested implementation for this? Or is this something that we should leave up to Persona to eventually implement?

[2013-07-23 22:48] jrgm commented on #2904
Yes, this still happens.

[2013-07-23 22:53] jaredhirsch commented on #3503
The [code docs](https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/user.js#L1486-L1489) for `User.getSilentAssertion` suggest that an assertion should only be passed to the callback if Persona believes the user is signed in to the current site.

It appears that the fix would be to check `loggedInUser === email && assertion` inside [the communication_iframe](https://github.com

[2013-07-23 22:54] stephendonner commented on #2904
We just saw this in a run of a Marketplace Payment automation test: http://qa-selenium.mv.mozilla.com:8080/job/b2g.unagi.mozril.gaia.v1-train.ui.marketplace_payment/885/

Logcat: http://qa-selenium.mv.mozilla.com:8080/job/b2g.unagi.mozril.gaia.v1-train.ui.marketplace_payment/885/artifact/logcat.txt

https://www.dropbox.com/s/3spttd7ua6tn2qy/identity-failure-logcat.txt, for posterity.

[2013-07-23 23:00] stephendonner commented on #2904
@kumar303 @vaidik @zacc @bebef1987 ^^^

[2013-07-23 23:05] jaredhirsch commented on #3503
No wait! Reading `getSilentAssertion` more carefully, it looks like the signal that things match is that `loggedInUser == email && !assertion`. Hmmm.

[2013-07-23 23:21] jaredhirsch commented on #3503
No wait, I don't think that's it. I now suspect it's the same root cause (race condition between 'loggedInUser' and 'dialog_complete' signals) as #3170, see specifically [shane's comment in that bug](https://github.com/mozilla/browserid/issues/3170#issuecomment-15776273).

[2013-07-23 23:52] #3170 closed, assigned to nobody

[2013-07-23 23:53] mattbasta opened #3700 ""Unable to post message to https://gmail.login.persona.org""
The following messages are appearing in the console on marketplace-dev:

[code]

I'm logged in with `mattbasta@gmail.com`

[2013-07-23 23:54] jaredhirsch commented on #3463
fixed by #3699.

[2013-07-23 23:54] #3463 closed, assigned to nobody

[2013-07-23 23:55] jaredhirsch commented on #3649
yay checkboxes.

[2013-07-24 00:06] seanmonstar commented on #3700
I've seen this too, but don't see any actual bad consequences happening here. Is it stopping your logins?

[2013-07-24 00:07] gene1wood commented on #3700
We cutover to using bridge-gmail/sideshow at 4:40pm which is what's causing this

[2013-07-24 00:34] mattbasta commented on #3700
No ill effects observed, but it is alarming nonetheless.

On Tue, Jul 23, 2013 at 5:07 PM, Gene Wood notifications@github.com wrote:

[2013-07-24 00:57] seanmonstar commented on #3700
Agreed, it'd be nice if we could get rid of that. The error is coming from within `navigator.id.registerCert()`.

[2013-07-24 10:50] shane-tomlinson opened #3701 "oncancel not being called when dialog is closed."
➜  automation-tests git:(dev) ✗ ./scripts/run-all.js -e dev -t broken-primary
adding broken-primary.js
ignoring public-terminals.js
Running 1 suite(s) on 1 platform(s), 1 at a time against https://login.dev.anosrep.org

8/9 tests passed, here are your failures:
broken-primary - win7_firefox_21 (1 failure(s), 0 warnings):
  9: spawn the dialog again and try to log in un-authed with address, errors:

[2013-07-24 11:11] shane-tomlinson commented on #3701
FWIW, oncancel does not seem to be getting called when the dialog is closed. Is this due to #3699 or the updates in #3694? Did WinChan get updates?

[2013-07-24 11:21] shane-tomlinson commented on #3701
This is caused by 9f701373f9a9c775085eea5e4c0563d9a9e43321

[2013-07-24 13:24] shane-tomlinson commented on #3701
This problem also manifests in not allowing Mobile Safari to load up the dialog.

[2013-07-24 14:13] callahad opened #3704 "Gmail bridge failing on Bugzilla"
When I try to log into Bugzilla with my Gmail address, I get the following error:

I am not able to proceed.

Other sites (123done, Ting, MDN, Voost, Marketplace, Addon Builder, Discourse, DrupalPersona.me) all work fine.

[2013-07-24 14:13] callahad commented on #3704
deimidis in IRC is experiencing the same issue.

[2013-07-24 14:14] callahad commented on #3704
Is Bugzilla somehow hitting an old stack whose verifier doesn't include the gmail bridge?

[2013-07-24 14:15] callahad commented on #3704
cc @gene1wood @jrgm

[2013-07-24 15:31] jaredhirsch commented on #3704
@callahad bugzilla.moz.org has the verifier IP hard-coded in /etc/hosts. See https://bugzilla.mozilla.org/show_bug.cgi?id=875873 for background, and https://bugzilla.mozilla.org/show_bug.cgi?id=897499 for the bug tracking this specific issue.

[2013-07-24 15:31] #3704 closed, assigned to nobody

[2013-07-24 15:32] #3701 closed, assigned to nobody

[2013-07-24 15:39] gene1wood commented on #3704
Specifically, hardcoded to the deprecated PHX1 installation

[2013-07-24 16:54] shane-tomlinson commented on #1935
@ryanfeeley - how should the text email look?

[2013-07-24 17:13] shane-tomlinson commented on #3503
Did I fix this with 6943324fa160b5a81fcd9abd1fbbbfae1bb33054? See the note here:

https://github.com/mozilla/browserid/blob/dev/resources/static/include_js/_include.js#L393-L399

If not, what are the concrete STRs?

[2013-07-24 17:30] ryanfeeley commented on #1935
The same as the HTML version, except no logo alternative and style the footer style as a signature.

Something like:

::: Mozilla Persona
::: Simplified sign-in by the non-profit behind Firefox
::: Learn more at http://persona.org/about

Thoughts?

[2013-07-24 22:47] jaredhirsch commented on #3503
Just saw this--I'll take a look in the morning :)

[2013-07-24 23:05] SamPenrose opened #3705 "siteLogo URIs: allow more formats"
As of July 2013, IdPs can only supply siteLogo URIs in the form "/abs/path/under/idp/domain.ext" (and they will be rejected if the domain is not served via https). We would like to provide IdPs with two more URI options:

1) Arbitrary domains (i.e. content delivery networks), also under https.
2) Data URIs.

Also relevant:
- https://github.com/mozilla/browserid/issues/2696
- https://bugzilla.mozil

[2013-07-24 23:11] SamPenrose commented on #3705
https://github.com/SamPenrose/browserid/commit/0fbc974c527f41019c107174a42e1c62e8ef1755 does the following:
- continues to insist on the https scheme (explicitly or via scheme-relative or domain-absolute URIs)
- continues to forbid relative URIs
- allows specification of any domain

Allowing data: and app: schemes would be easy, but I have no idea what if any safety checks they would need.

[2013-07-25 07:55] shane-tomlinson commented on #3705
@SamPenrose - w.r.t. data URIs, have a look at http://x1a0ran.blog.com/2012/10/14/some-thoughts-on-using-data-uri-to-distribute-malware/,  http://html5sec.org/, and http://palizine.plynt.com/issues/2010Oct/bypass-xss-filters/.

We are writing the siteLogo URL in a template, the URL gets encoded using encodeURI in resources/static/dialog/js/modules/dialog.js to make sure the URI does not contain an

[2013-07-25 08:33] shane-tomlinson commented on #1935
@ryanfeeley - I dig it.

[2013-07-25 08:50] shane-tomlinson opened #3706 "intermittently must enter password in dialog post-verification"
About 1/3 attempts at staging a new user results in the user needing to enter their password in the dialog post verification. This is a regression.

[2013-07-25 10:15] shane-tomlinson opened #3707 "cannot add new @mozilla.com addresses on ephemeral instances"
We are attempting to provision the user against the Mozilla IdP - should this be enabled for ephemeral instances?

[code]

[2013-07-25 10:20] #3573 closed, assigned to nobody

[2013-07-25 10:27] shane-tomlinson commented on #3525
Fixed with copy updates in #3684  - closing

[2013-07-25 10:27] #3525 closed, assigned to nobody

[2013-07-25 10:34] shane-tomlinson commented on #2305
I'm going to label this WONTFIX since there isn't a ton we can do about this.

[2013-07-25 10:34] #2305 closed, assigned to nobody

[2013-07-25 10:36] shane-tomlinson commented on #3266
Dup of #2622, closing.

[2013-07-25 10:36] #3266 closed, assigned to nobody

[2013-07-25 10:40] shane-tomlinson opened #3708 "no message provided during arrow animation when a user successfully authenticates."

[2013-07-25 10:41] shane-tomlinson commented on #3708
Link to #3691

[2013-07-25 10:42] shane-tomlinson commented on #3708
It would be awesome to unify this and the updates for #3691.

[2013-07-25 10:50] shane-tomlinson commented on #3706
I can no longer reproduce. Closing until I have solid STRs or debugging info.

[2013-07-25 10:50] #3706 closed, assigned to nobody

[2013-07-25 11:09] shane-tomlinson opened #3709 "forgot password link is too large on assertion->password upgrade"
STR (against dev))

1) Create account with one primary, one secondary
2) Sign out of Persona
3) Open Persona dialog
4) Sign in using primary address
5) Re-open Persona dialog
6) Select secondary address and sign in
7) That "Forgot Password" link is pretty big.

![screen shot 2013-07-25 at 12 09 16](https://f.cloud.github.com/assets/848085/855192/b06a06b8-f51a-11e2-9ea2-cb2fa87cf869.png)

[2013-07-25 14:26] shane-tomlinson opened #3712 "[chrome] box-shadow does not show above and below the arrow"
Primarily a problem on Android tablets, but also affects desktop if the user resizes the window.

![screen shot 2013-07-25 at 15 24 51](https://f.cloud.github.com/assets/848085/856121/1be88af2-f536-11e2-9b32-dc0c118a49ea.png)

[2013-07-25 15:27] #3689 closed, assigned to shane-tomlinson

[2013-07-25 16:36] shane-tomlinson commented on #3698
Link to #1500

[2013-07-25 16:36] callahad commented on #3698
Issue #1500 should address some of the corner cases where this could happen, but generally, no, we don't have plans to help users rediscover completely forgotten identities.

We'd be very interested in what you come up with, though!

[2013-07-25 16:36] #3698 closed, assigned to nobody

[2013-07-25 16:38] callahad commented on #3700
Since there are no observed ill effects, tagging this 3-star, but we definitely want to look into and resolve this. Alarming == bad.

[2013-07-25 16:39] shane-tomlinson commented on #3705
link to #2720

[2013-07-25 16:42] callahad commented on #3691
Closed #3708 as a dupe.

[2013-07-25 16:42] callahad commented on #3708
Closing as dupe

[2013-07-25 16:43] callahad commented on #3709
If you're using a primary address, and then select a fallback address, you have to enter a password.

This is that screen.

[2013-07-25 16:44] callahad commented on #3712
Only happens in Chrome. All other browsers are happy with it.

[2013-07-25 17:07] shane-tomlinson commented on #2018
Can this be solved by #1523?

[2013-07-25 17:09] jaredhirsch commented on #2018
Keeping this open to track further IdP complaints, but bumping down to 3 stars.

[2013-07-25 17:13] jaredhirsch commented on #2027
Seems like the fix here is to return an informative API error right away if the public-key parameter is malformed in the request. And figure out why it's taking so long to return.

[2013-07-25 17:17] shane-tomlinson commented on #1854
Link to #2034

[2013-07-25 17:20] jaredhirsch commented on #2091
link to #2027 - seems like jwcrypto isn't handling errors cleanly?

[2013-07-25 17:24] jaredhirsch commented on #2097
moved to [identity-ops](https://github.com/mozilla/identity-ops/issues/113), closing.

[2013-07-25 17:24] #2097 closed, assigned to fmarier

[2013-07-25 17:26] shane-tomlinson commented on #2108
@jedp - is the request here integration testing of the internal API?

[2013-07-25 17:28] jaredhirsch commented on #2155
BlueVia is gone, closing down. Please reopen if this feature is still useful/needed.

[2013-07-25 17:28] #2155 closed, assigned to nobody

[2013-07-25 17:32] jaredhirsch commented on #2158
@fmarier bump. any plans to handle this in the near term?

[2013-07-25 17:41] ozten commented on #2155
R.I.P.

[2013-07-25 17:50] gene1wood commented on #2158
This'll depend on the web ops team (the team that issues certs for us) being open to committing to a fixed set of CAs that they'll be buying certs from. Assuming that's ok this should be pretty straight forward. The only added operational complexity is if they commit to a set of CAs and then for some reason we have to use a different one.

[2013-07-25 17:56] #3691 closed, assigned to shane-tomlinson

[2013-07-25 18:16] mattbasta commented on #3700
This only happens for users that have previously logged in. Clearing the "siteInfo" `localStorage` key causes the issue to go away.

Persona should start versioning its `localStorage` keys, since this tends to be an issue with new versions. Marketplace structures its keys in the format `<version>::<key>`.

[2013-07-25 18:24] mattbasta opened #3714 "Google Accounts integration signs out Gmail when different account is authenticated"
If I'm signed into Gmail with bastawhiz@gmail.com (my primary email) and I want to sign in as mattbasta@gmail.com. I get the message:

[code]

This is infinitely frustrating. Forcing a Google sign out logs out my gmail, google calendar, google drive, google voice (!), any services which use Google Accounts to manage sessions, etc.

Is there no way to authenticate with Google without killing all my

[2013-07-25 18:28] seanmonstar commented on #3714
You can be signed in as both. In Gmail, go to the account button, and add account. Then, when you use Persona, and we forward to Gmail, it will show a picker.

[2013-07-25 18:38] mattbasta commented on #3714
For anyone that's not signed in to both simultaneously (a great example is YouTube users that had their accounts upgraded), that isn't a real option. It's also not a great option if your Google Account doesn't support the service that you're using (i.e.: you've got a Google enterprise account but it doesn't have Gmail access) simply because it takes an act of god to get your account picker set up

[2013-07-25 18:45] pdehaan opened #3715 "Some files are missing copyright headers"
The following files seem to be missing copyright headers (or at least didn't match the default copyright header exactly (and case sensitive)):

No copyright found in: ../browserid/lib/boolean-query.js
No copyright found in: ../browserid/lib/cef_logger.js
No copyright found in: ../browserid/lib/db/dbutils.js
No copyright found in: ../browserid/lib/email.js
No copyright found in: ../browserid/lib/st

[2013-07-25 18:45] seanmonstar commented on #3714
How so? For example, we have Google Apps for Your Domain accounts with Mozilla. But those accounts only have Google Drive access. I tested this with my gmail account, and my mozilla account. You can have both signed in, even if a certain property isn't available to one of the accounts.

Then, when you're passed to the OpenID endpoint, it will show all your accounts in the picker.

[2013-07-25 18:48] mattbasta commented on #3714
With my personal Google Apps account, I can never get it to stay in the
account picker. It might also have to do with having set up account
forwarding for Gmail, not sure. Either way, this is still exceptionally
frustrating for users that haven't set up multiple accounts.

On Thu, Jul 25, 2013 at 11:45 AM, Sean McArthur notifications@github.comwrote:

[2013-07-25 19:10] SamPenrose commented on #3705
Thanks so much for data URI comments. I will test for MIME type. Do we want a length restriction? 256K?

[2013-07-25 19:18] callahad commented on #3705
SVG would also be nice to include

[2013-07-25 20:22] jrgm opened #3716 "remove link to times crossword from our about page"
That link appears to be dead, unfortunately. @callahad may have more info later, but it's seems to be gone.

[2013-07-25 20:28] gene1wood commented on #2583
For the record I'm going to upgrade us to a slightly newer squid rpm because there's a bug in the init script in that 3.3.5 RPM.

[2013-07-25 20:34] callahad commented on #3716
We should totally show Webmaker some love as a Persona example site. They've set the bar, and they've set it high.

[2013-07-25 20:38] zaach commented on #3714
@ryanfeeley Should the copy mention multiple sign-in as an alternative to logging out/in?

[2013-07-25 21:17] shane-tomlinson commented on #3700
@mattbasta - I agree that versioning storage keys would have been useful in several situations that we have faced, but I would like to know the root cause of this issue before saying this is one of them.

[2013-07-25 21:19] shane-tomlinson commented on #3715
Thanks @pdehaan - the files in browserid/resources/static/common/js/lib are all external libraries and should _not_ receive the MPL.

[2013-07-25 21:20] mattbasta commented on #3700
I can confirm from two different browsers, deleting the `siteInfo` key
fixes this issue.

On Thu, Jul 25, 2013 at 2:17 PM, Shane Tomlinson
notifications@github.comwrote:

[2013-07-25 21:23] shane-tomlinson commented on #3705
@callahad : IE8 won't render SVG. IE9 provides basic support (http://caniuse.com/#feat=svg-img). Can we leave this out until we understand the repercussions better? A quick search found http://www.ei.rub.de/media/hgi/veroeffentlichungen/2011/10/19/svgSecurity-ccs11.pdf
@SamPenrose - IE8 limits dataURI's to 32KB (https://en.wikipedia.org/wiki/Data_URI_scheme)

[2013-07-25 21:28] shane-tomlinson commented on #3700
@mattbasta - siteInfo is what we use to keep track of site->email associations and whether the user is marked as signed in to that site. Getting rid of that namespace destroys our ability to pre-select the email address for the user whenever they open the dialog, and it also gets rid of our ability to automatically sign you in to a site that uses the .watch API.

[2013-07-25 21:38] ozten commented on #3705
I don't know how widely SVG would actually be used.

But... I don't think we need to worry about browser compatibility, since the website could request a `.jpg` for IE8 visitors and a `.svg` for visitors with modern browsers.

[2013-07-25 21:39] ryanfeeley commented on #3714
You mean highlight @seanmonstar's tip about adding one account to another?

[2013-07-25 21:40] jaredhirsch commented on #3466
@jrgm @shane-tomlinson demoting to four stars. This bug doesn't fit [the definition of five-star](https://github.com/mozilla/browserid/wiki/The-BrowserID-Bug-Process): it doesn't block trains, force a hotfix, or affect enough users to merit _all_ engineering resources focusing on this.

Bump back up if you disagree.

[2013-07-25 21:48] jaredhirsch commented on #3705
SVG is a [huge source of security exploits](http://www.slideshare.net/x00mario/the-image-that-called-me) and it's not that widely used. I'd suggest we explicitly block SVG images, actually.

[2013-07-25 21:48] shane-tomlinson commented on #3705
@ozten - very true, more than compatibility, I am worried about security. @warner, are there pitfalls we should be watching out for with SVG images when included as the src attribute of an image, either as a data URI or as an external source?

[2013-07-25 22:17] callahad commented on #3705
I'm getting serious deja vu. I believe we've gone through this before, including explicitly attempting to load malicious content, and consulting with Mozilla's web security folks.

Nevertheless, we currently _do_ allow SVGs, and there _are_ websites using them for their siteLogo, including the Drupal/Persona demo site and WebFWD's own clay.io.

I'd suggest that changing the current set of accepted

[2013-07-25 22:23] shane-tomlinson commented on #3631
@ozten, @6a68 - testing IE10 on Win7 right now, all looks good against the current dev w.r.t. onmatch. Can you confirm?

[2013-07-25 22:26] jaredhirsch opened #3717 "login/logout/match doesn't fire on first visit with "from visited" cookie settings"
If you clear your FF 22 session, then load something like [this fiddle](http://jsfiddle.net/XgVD5/9/), only onready will fire--regardless of what loggedInUser is set to.

This is a third-party cookie edge (case that runs counter to the spec.

Not sure how we should handle this. It seems like RPs might reasonably assume that some callback would be fired on page load.

[2013-07-25 22:28] jaredhirsch commented on #3717
Should we provide an `onerror` callback, so RPs can display error states if, say, localstorage is disabled? :-\

[2013-07-25 22:30] callahad commented on #3717
I think this is a known issue. The docs could possibly be improved around it.

I believe we're only committing to firing onready automatically. The others are "maybes."

I'd also be open to reevaluating that stance, but I do kind of wonder how many other cases / callbacks we might want/need?

[2013-07-25 22:38] jaredhirsch commented on #3717
Hmm. I was thinking of this in terms of the specs with `onmatch` added, which claim that one of three things will happen (`onmatch`, `onlogin`, or `onlogout`), followed by `onready`.

Maybe we close this and mention something in the spec?

[2013-07-25 22:41] jaredhirsch commented on #3717
@callahad - Oh, shane made the same point you just made in the discussion of #3417. Closing.

[2013-07-25 22:41] #3717 closed, assigned to nobody

[2013-07-25 22:42] jaredhirsch commented on #3503
@shane-tomlinson I can't repro this using IE9 or FF22 on login.persona.org or login.dev.anosrep.org, implying that the fix shipped with some previous train. So, I guess I'll close and reopen if I can reproduce.

I've been testing this by going through the following flow:
1. load up a fiddle that logs when callbacks fire: http://jsfiddle.net/XgVD5/9/
2. play around with the value of loggedInUser in

[2013-07-25 22:42] #3503 closed, assigned to nobody

[2013-07-25 22:47] jaredhirsch commented on #3631
@shane-tomlinson I don't have an IE10 VM yet, I'll get one together, try to repro, and update this ticket tomorrow. We didn't do anything related to this in the 2013.07.03 train, judging by the ChangeLog, but that's the only release since the bug was filed. Mysterious indeed.

[2013-07-25 22:52] jaredhirsch commented on #3705
@callahad sigh, you're right. I'm crying wolf for the second time. SVG is not dangerous if loaded via an img tag and hosted on the RP's site. owe you a beer.

[2013-07-25 23:07] jaredhirsch commented on #3631
@ozten I don't think it's documented, but if third-party cookies are disabled, or if the user has "from visited" third-party cookie settings and hasn't visited persona.org before, then only `onready` will fire.

Do you think this might be the source of the bug you observed?

Anyway, the 3p cookie restrictions mean that displaying a button to first-time visitors would have to use `onready`, not `on

[2013-07-25 23:16] ozten commented on #3631
I got ride of my test case and VM. Will take me a while to get that back.

[2013-07-25 23:25] SamPenrose commented on #3705
OK, data URI support in https://github.com/SamPenrose/browserid/commit/a9e40d02ee95413af90b42d6de8556424f88dd10 . Includes SVG. Time for a PR? Also, add "app:" scheme now or wait?

[2013-07-26 00:16] zaach commented on #3714
Yep, perhaps with a [link](https://support.google.com/mail/answer/1721977?hl=en) for explanation.

[2013-07-26 01:25] jrgm opened #3718 "upgrade 3rd-Eden/useragent when it gets support for IE11"
@6a68 asked about this in https://github.com/3rd-Eden/useragent/issues/27, and the answer was basically "when IE11 is released". This bug is a reminder that we should update our version of useragent at that time.

[2013-07-26 03:32] fmarier commented on #3659
https://bugzilla.mozilla.org/show_bug.cgi?id=845316 is the closest one I know of but it's now closed as the main issue (insecure renegotiation) is now resolved.

[2013-07-26 07:03] pdehaan commented on #3715
Thanks @shane-tomlinson. I removed them from the bug report above and will paste them here for history/giggles:

No copyright found in: ../browserid/resources/static/common/js/lib/base64.js
No copyright found in: ../browserid/resources/static/common/js/lib/dom-jquery.js
No copyright found in: ../browserid/resources/static/common/js/lib/gobbledygook.js
No copyright found in: ../browserid/resources/

[2013-07-26 09:30] shane-tomlinson commented on #3631
@6a68, @ozten - I downloaded a pre-made VM from MS directly - http://www.modern.ie/en-US/virtualization-tools#downloads

Super easy, legit, and no new licenses are needed.

[2013-07-26 09:31] shane-tomlinson commented on #3705
@callahad, @6a68 - I forgot about that conversation too. :/

[2013-07-26 09:43] shane-tomlinson commented on #3708
Re-opening since the resolution to #3691 (#3692) got merged.

@ryanfeeley and I spoke yesterday, he says that displaying the same message as displayed for primaries is a good first step into making this stage of the signin flow more awesome.

[2013-07-26 12:29] djc opened #3723 "Lighten default RP text color on dark backgrounds"
It's currently a somewhat light grey that's really not all that nice. I think using something much closer to white would be better here.

[2013-07-26 12:53] shane-tomlinson commented on #3700
The comment in https://github.com/mozilla/browserid/blob/fc8c91e4226d17fb2d7a5c60e6334ef70f21f7c5/resources/static/dialog/js/modules/dialog.js#L72-L73 may explain what is happening here.

WinChan may not be removing its 'message' listener correctly, though a quick glance at the code looks like it should be.

[2013-07-26 13:50] callahad commented on #3723
:+1:

[2013-07-26 13:52] callahad commented on #3705
I much prefer our being over-sensitive to potential security issues than under-sensitive :heart:

[2013-07-26 18:07] #1935 closed, assigned to shane-tomlinson

[2013-07-26 19:11] callahad opened #3724 ""Account upgraded!" message showing too often?"
I've seen the account upgraded message several times with my gmail address. I should only see it once, right?

[2013-07-26 22:50] callahad opened #3725 "backgroundColor clashes with ToS/PP links"
Screenshot:
![Screenshot of backgroundColor and link color with too little contrast](https://f.cloud.github.com/assets/24193/865791/787e8c2a-f645-11e2-8348-b110a62c7e95.png)

Suggested resolution: set the link color to the [complement](https://en.wikipedia.org/wiki/Complementary_color) of backgroundColor.

[2013-07-27 12:45] davidgtonge commented on #3107
Hi, just ran into this problem, I'd rate this problem as urgent, any news on a fix or at least better error messages?

[2013-07-27 15:47] callahad commented on #3107
We've been tracking this on #2034, and currently have a prototype fix. We should be able to get the fix into production around this time next month.

[2013-07-27 22:44] zaach commented on #3725
We could also use black/white for light/dark backgrounds if complementary colors end up being too intense or hard to read.

[2013-07-29 02:09] martin308 opened #3726 "siteLogo has an appended slash"
When you specify a siteLogo then a trailing slash is appended to the img src which is incorrect. I could fix this on my end but it seems that if I provide a path then that is what should be used.

I have traced this down to the urlparse.js, the regex in there does not accommodate a URI without a username:password specified before the domain.

Happy to provide more information if required. My regex

[2013-07-29 02:52] callahad commented on #3726
Paging @SamPenrose :) Also, debuggex.com might be good for understanding and tweaking our regexes.

[2013-07-29 11:39] shane-tomlinson opened #3727 "outstanding timers should be stopped when a module stops to avoid cross-test contamination"
timers created using setTimeout can trigger after a module stops, unless the timer is stopped when the module is stopped. This can cause cross-test contamination.

[2013-07-29 15:48] jedp opened #3728 "persona user ID receives error message "Gmail.com is not responding""
ed at emrsoftware.com reported in [Bug 898851](https://bugzilla.mozilla.org/show_bug.cgi?id=898851):

User Agent: Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.1; WOW64; Trident/6.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; InfoPath.2; .NET4.0C; .NET4.0E)

Steps to reproduce:

A current User tries to login to my website (golfgrudge.com) using Perso

[2013-07-29 15:52] jedp commented on #3728
Ed additionally comments:

[2013-07-29 16:32] #3677 closed, assigned to nobody

[2013-07-29 16:40] callahad commented on #3728
I suspect DNS issues. Can they resolve gmail.login.persona.org? Can they hit ver.txt on the same?

[2013-07-29 16:44] seanmonstar commented on #3728
Nah, testing that email address myself gives me the same error.

[2013-07-29 16:53] seanmonstar commented on #3728
I get the feeling this is related to his email having an uppercase G.

Trying with the g in lowercase, I get that the state is transition, and I see it load the provisioning page just fine. It's of course not proven yet, and then in the dialog, something uses the address_info again, only it uses the `normalizedEmail`. Since that includes the capital G, it hits the network again (cache key missed),

[2013-07-29 16:58] callahad commented on #3728
oh man, did I miss that in our tests? :(

[2013-07-29 16:59] seanmonstar commented on #3728
sideshow would handle it just fine. the problem is in browserid. My guess is that it's not lowercasing the domain part before looking for the support document (and checking proxy_idps).

[2013-07-29 17:00] #3708 closed, assigned to shane-tomlinson

[2013-07-29 17:02] jaredhirsch commented on #3724
@callahad should we move this to the sideshow repo?

[2013-07-29 17:09] seanmonstar commented on #3724
Sideshow doesn't handle this at all. It's just an IdP. This message is
shown by browserid, when comparing states in the DB.

On Mon, Jul 29, 2013 at 10:02 AM, Jared Hirsch notifications@github.comwrote:

[2013-07-29 17:24] seanmonstar commented on #3728
I have an oustanding PR that fixes this, but currently on production, the user can't really self heal. Do we want to hotfix this before announcing Gmail?

[2013-07-29 17:53] dholbert opened #3730 "[login.mozilla.org IDP] Content Security Policy: Directive inline script base restriction violated @ https://login.mozilla.org/sign_in"
STR:
1. Visit https://login.mozilla.org/sign_in in Firefox Nightly
2. Inspect your Browser Console. (Ctrl+Shift+J). Make sure the "Security" button is pressed (so you'll see Security errors)

ACTUAL RESULTS: This error appears:
Content Security Policy: Directive inline script base restriction violated @ https://login.mozilla.org/sign_in

Looks like we're serving content that violates the CSP heade

[2013-07-29 17:56] dholbert commented on #3730
Hmm.  curl -vvv says we're setting this CSP header:
`Content-Security-Policy: default-src 'self' https://login.persona.org`
which looks like it should let us load cross-domain scripts from Persona, but I'm not sure. So maybe I'm incorrect about what the error is pointing to.

[2013-07-29 18:01] dholbert commented on #3730
Actually, per https://bugzilla.mozilla.org/show_bug.cgi?id=630882#c5 , it looks like it's possible this is is caused by a load _performed by_ any of the scripts we're pulling in.  (Possibly jquery, though that bug comment indicates that jquery fixed an issue like this a few years ago.)

[2013-07-29 18:01] dholbert opened #3731 "[login.mozilla.org IDP] Security Error: Content at https://login.mozilla.org/ may not load data from https://login.persona.org/sign_in"
STR:
1. Ctrl+Shift+J to open Browser Console
2. (optional) Click buttons to turn off all logging except for "JS"
3. In a browser window, visit http://123done.org/
4. Click "Sign in with Persona"
5. Type an @mozilla.com address into the persona popup.
6. inspect your Browser Console window.

ACTUAL RESULTS:
This error message (among others):
Security Error: Content at https://login.mozilla.org/ may

[2013-07-29 18:26] edwindotcom commented on #3728
it's the case in the 'gmail' portion of the address.  I can repro if i use user@Gmail.com no repro with user@gmail.com

[2013-07-29 19:00] jaredhirsch commented on #3631
@ozten I've been unable to repro problems with onmatch in an IE10 VM. I'm going to close this--we'll reopen if it recurs.

[2013-07-29 19:00] #3631 closed, assigned to nobody

[2013-07-29 19:01] jaredhirsch commented on #3649
child bugs closed, closing this one out also. :surfer:

[2013-07-29 19:01] #3649 closed, assigned to jaredhirsch

[2013-07-29 19:55] shane-tomlinson commented on #3649
wooohooo!!!

[2013-07-29 20:11] seanmonstar commented on #3728
i 5-starred it since this is a regression (users who could sign in can't anymore)

[2013-07-29 20:17] shane-tomlinson commented on #3731
Dup of the closed #1078

[2013-07-29 21:25] jrgm commented on #3728
Is this a similar potential problem here?

https://github.com/mozilla/browserid/blob/dev/lib/wsapi/used_address_as_primary.js#L34-36

[2013-07-29 21:46] seanmonstar commented on #3728
Yes, I think it is. I've got a better solution coming soon.

On Mon, Jul 29, 2013 at 2:25 PM, John Morrison notifications@github.comwrote:

[2013-07-29 23:40] mattbasta commented on #3668
+1 on this. I see this on every browser that I use. Seems like a rounding error; increasing the value by half a pixel should probably fix it.

[2013-07-29 23:43] krupa commented on #3714
I too find this infinitely annoying. I maintain separate gmail accounts for my personal email and bugmail (for the sake of my sanity) and having to sign out of my personal email just to be able to log in to marketplace is not optimal.

[2013-07-30 02:02] fmarier commented on #2660
This is [now in Firefox Nightly](http://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/). It's [available in nginx](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_stapling) as of 1.3.7.

Upgrading to 2 stars due to increased browser support. It will be especially interesting once Firefox OS and Fennec get it.

[2013-07-30 08:57] shane-tomlinson opened #3735 "`/wsapi/*_status` tests need to test `mustAuth` path"
None of the backend tests for the `/wsapi/*_status` calls test for the `mustAuth` path.

`mustAuth` occurs when a user verifies an email address in a browser other than the one used to initiate the staging.

[2013-07-30 08:58] shane-tomlinson commented on #3735
Link to #3733

[2013-07-30 15:19] csuciu commented on #3154
"Sorry, PIN doesn't match" is still displayed as tooltip

[2013-07-30 15:52] jaredhirsch commented on #3728
@seanmonstar let me know if you need reviews or other help closing this puppy today

[2013-07-30 16:05] jaredhirsch commented on #3668
@mattbasta This animation is based on [CSS transitions](https://github.com/mozilla/browserid/blob/train-2013.07.03/resources/static/dialog/js/misc/helpers.js#L23-L40), I think we've got a funky webkit bug here.

Not sure what you mean about a rounding error--this vertical line isn't visible (for me) except during the slide animation. Care to elaborate?

[2013-07-30 16:11] jaredhirsch commented on #3668
@mattbasta actually, I think I get what you were saying. If I reposition the arrow 1 px to the left, I can't repro the line. Probably a subpixel rendering error because there's no overlap between the elements--I guess this is what you were talking about. Thanks for the hint :beers:

[2013-07-30 16:26] jaredhirsch commented on #3715
@pdehaan: thanks for calling this out. pull requests welcome :-)

[2013-07-30 17:33] mattbasta commented on #3668
Yep, that's it. Thanks for this, I tried digging for the CSS and fixing it myself but mucking with production stylesheets made me lose interest :)

[2013-07-30 17:57] mikeconley opened #3737 "Persona dialog opens in new tab as opposed to new window on UX Nightly for OSX"
Not sure if this applies to Nightly as well as UX Nightly, but I've been experiencing this for some time now (I've also seen chatter about the bug in IRC, which makes me think this might be a dupe).

STR - on an OSX machine, using UX Nightly, open a Persona dialog.

ER: Dialog should open in a new window

AR: Dialog opens in a new tab

The new tab works as you'd expect - but I think the new window

[2013-07-30 18:01] SamPenrose commented on #3705
OK, as of https://github.com/SamPenrose/browserid/commit/af0d994462e4dc4b5dc31e94011891807f0ec6f2 , my tree:

1) Supports https: URIs from any domain while excluding http: and relative URIs.
2) Supports data:image/<whitelist> URIs.
3) Does NOT restrict the latter by size.
4) Does NOT support app: URIs.
5) Contains a fairly large refactor of the RP-parameter-validation code from @shane-tomlinson .

[2013-07-30 18:17] SamPenrose commented on #3726
The current unit tests seem to idicate that this is no longer happening. See e.g. https://github.com/SamPenrose/browserid/blob/dev/resources/static/test/cases/dialog/js/modules/validate_rp_params.js#L263 and following "allowed" tests. Close out?

[2013-07-30 20:00] vladikoff commented on #3737
Fixed this for @mikeconley  :)
Issues with `browser.link.open_newwindow.override.external`

[2013-07-30 20:00] #3737 closed, assigned to nobody

[2013-07-30 23:34] jaredhirsch commented on #3707
do we really want to forceIssuer on ephemeral instances? seems like a 1-star: benefits dubious.

[2013-07-30 23:49] jrgm commented on #3728
I'm in stage which has the fix for this, but...

I have a pre-existing user with capital-G Gmail and type secondary in the stage database:

[code]

In response to: https://login.anosrep.org/wsapi/address_info?email=abcabdab%2Bs107k%40Gmail.com&issuer=default
I get: {"auth":"https://gmail.login.anosrep.org/authenticate","prov":"https://gmail.login.anosrep.org/provision",
        "type":"primary","i

[2013-07-30 23:51] jaredhirsch commented on #3728
le sigh. reopening

[2013-07-31 00:41] jaredhirsch opened #3740 "bumping jschannel version broke dev against IE8"
see https://github.com/mozilla/jschannel/issues/16 :sadface:

[2013-07-31 00:48] jaredhirsch commented on #3728
refixed by #3739, reclosing

[2013-07-31 00:57] jrgm commented on #3728
This is on login.dev.anosrep.org. There, I tried to sign in with abcabdab+capitalG@Gmail.com. The auth_with_assertion works now, but the assertion that is posted to http://dev.123done.org/api/verify is rejected with

[code]

[2013-07-31 01:43] #3718 closed, assigned to nobody

[2013-07-31 02:08] martin308 commented on #3726
Cool, that looks good to me :smile: I see there is support for CDN served logos in those test cases as well! :+1: Any idea when those changes will be merged in/deployed?

[2013-07-31 02:12] martin308 commented on #3725
either would be fine with me

[2013-07-31 03:20] jrgm commented on #3740
Driveby comment. We should set up a jenkins job that runs:

[code]

Yes, the deployer/jenkins asynchronous issues are a problem, but perhaps a little preflight check and retry script would dampen out false noise; the frontend-qunit-test itself is not noisy to my knowledge (aside from occasional timer-based test failures on the slow IE8 JS engine).

[2013-07-31 05:06] SamPenrose commented on #3726
Not sure. The branch I was working in got pretty mangled, and I'm redoing it. Also one of the lead developers is out ATM. Hoping to have a PR ready tomorrow.

[2013-07-31 05:38] jrgm commented on #3728
So, I can get past the issue noted in https://github.com/mozilla/browserid/issues/3728#issuecomment-21833903 and also altered the database in dev to setup so that the address abcabdab+capitalG@Gmail.com was set as a secondary and needed to be "upgraded". But I'm going to call it a night and see yall in the morning.

[2013-07-31 06:01] SamPenrose commented on #3705
OK, per extended back and forth with @6a68 on #identity, I redid this as follows:
1) Created a new branch.
2) Cherry-picked the commits from @shane-tomlinson that refactored dialog.js/get() while I had committed-but-unpushed and incompatible refactorings of my own, and committed them.
3) Applied my changes in hopefully sensible order.

So we have the same PR-ready code with a hopefully more sensib

[2013-07-31 15:09] SamPenrose commented on #3705
OK, I think https://github.com/mozilla/browserid/blob/issue_3705_siteLogo_URIs/resources/static/dialog/js/modules/validate_rp_params.js is ready for a PR now.

[2013-07-31 17:14] jaredhirsch commented on #3705
@SamPenrose here's what I'd do:
1. add your own fork as a remote (I dunno the difference between git and https remotes): `git add remote SamPenrose git@github.com:SamPenrose/browserid.git`
2. push to your fork, using a nice descriptive branch name: `git push SamPenrose HEAD:issue_3705_sitelogouris`
3. on github, click 'create pull review', pick your fork, then pick the new branch you pushed

[2013-07-31 17:49] SamPenrose commented on #3705
https://github.com/mozilla/browserid/pull/3743 . I hope.

[2013-07-31 20:06] karlht commented on #3728
Please also see #3245, which is still not closed.

[2013-07-31 20:12] seanmonstar commented on #3245
this should be fixed with the same commits that fixed #3728. That Yahoo still doesn't work is a bug in browserid-bigtent.

[2013-07-31 21:27] callahad commented on #3726
@martin308 Expect 2-3 weeks from merge until we get into production.

[2013-07-31 21:40] jaredhirsch opened #3745 "Add jenkins job to run qunit-frontend-tests"
from @jrgm's comment in #3740:

We should set up a jenkins job that runs:

[code]

Yes, the deployer/jenkins asynchronous issues are a problem, but perhaps a little preflight check and retry script would dampen out false noise; the frontend-qunit-test itself is not noisy to my knowledge (aside from occasional timer-based test failures on the slow IE8 JS engine).

[2013-07-31 21:40] jaredhirsch commented on #3740
@jrgm sounds like a separate bug, I've opened #3745 to cover that feature request :)

[2013-07-31 22:17] martin308 commented on #3726
cool, thanks. This can be closed then

[2013-07-31 22:17] #3726 closed, assigned to nobody

[2013-08-01 15:59] ir-g opened #3746 "Feature: BrowserID datastore"
BrowserID/Mozilla Persona is an impressive and helpful web application, which caters to the great need for an Open, Secure SSO system. I would like the addition of a feature to provide data storage, to enable data to be stored online, across computers, via Persona.

The aim would be for the data to be stored as plain text, accessible in JavaScript as a variable, easily managed as JSON data, capabl

[2013-08-01 16:37] callahad commented on #3714
This is working as designed. We suggest using the multiple sign-in feature at Google if you need this. See Zaach's link for more info.

[2013-08-01 16:37] #3714 closed, assigned to nobody

[2013-08-01 16:42] callahad commented on #3724
Closing as not reproducible

[2013-08-01 16:42] #3724 closed, assigned to nobody

[2013-08-01 16:49] #3740 closed, assigned to jaredhirsch

[2013-08-01 17:10] mattbasta commented on #3714
You're missing the point and I'd like to ask you to reopen this issue. It's not that Persona is behaving not-as-intended, it's that the intended behavior is extremely frustrating.

`mattbasta@gmail.com` is a forwarding address, and I've used it with Persona forever. There's no reason I'd ever want to be signed into GA with it, but now Persona is forcing me to set up multiple accounts (which are on

[2013-08-01 19:17] erikvold commented on #3693
I never want to allow third party cookies, and Persona worked without them before recent changes, so I consider this bug unresolved, and the product is useless to me if I have to add 3rd party cookie exceptions.

[2013-08-01 22:23] edr67 commented on #3728
I am still seeing the issue (Gmail.com is not responding...), with the email address I reported (ARJ412@Gmail.com).  Is there any date that I can tell this user that his email ID will work in Persona again?  It's been a while since he's been able to log in to my website.

As a last resort can somebody delete his persona ID and I can have him start over, and use all lower case in the gmail.com port

[2013-08-01 22:29] edr67 commented on #3245
I am still seeing the issue (Gmail.com is not responding...), with the email address I reported (ARJ412@Gmail.com). Is there any date that I can tell this user that his email ID will work in Persona again? It's been a while since he's been able to log in to my website.

As a last resort can somebody delete his persona ID and I can have him start over, and use all lower case in the gmail.com portio

[2013-08-01 22:37] seanmonstar commented on #3728
@edr67 sorry for taking longer. The fixes for this are ready, and deemed worthy of rolling quicker as hotfixes, but we have another hotfix that takes priority. That one is in testing and should deploy soon, and then this can happen. @jrgm would know more.

Also, since this still affects users in production, should this 5star stay open until we're deployed?

[2013-08-02 03:30] jrgm opened #3747 "[autotest][chrome] add-primary-to-secondary has started failing on #this_is_not_my_computer"
The tests starts trying to hit button#this_is_not_my_computer, but it then completely fails with:

`NoSuchWindow: findElement execution failed; The window could not be found`

This seems to me to be an exogenous problem, possibly changes in Chrome version used on saucelabs. I'll try it with a different selenium version.

This is for the train-2013.07.17 running on stage:

Skip to the bottom to see

[2013-08-02 03:43] jrgm commented on #3747
primary-starts-up-single-email is also failing on the same error always. (Not quite identical, but I think it's the same from the saucelabs logs).

https://saucelabs.com/tests/13c9110cbb4f44b687664f37f66b3544
https://saucelabs.com/tests/1ab6af20f1ca4824aa8a665707dcb996
https://saucelabs.com/tests/dbaa50a2b49f4af49708760e5953533f
https://saucelabs.com/tests/3622c6b8ee8442aca85557d33f095482
https://

[2013-08-02 04:01] jrgm commented on #3747
So, tried this with a bump from selenium 2.32.0 to 2.33.0 and that does not solve the problem...

[2013-08-02 05:38] jrgm commented on #3747
Tried this with the dev branch against an ephemeral running the dev branch and both the tess still have the same failure.

[2013-08-02 18:28] TanviHacks commented on #3520
Is there a plan to get rid of the need for 3rd party cookies altogether?  So that users who block all third party cookies don't need to add an exception?

[2013-08-02 18:56] lloyd commented on #3520
Yes!  A small change to the idp protocol will allow users with 3rd party cookies completely disabled to use persona.  This user will need to authenticate more frequently.

TanviHacks notifications@github.com wrote:

Is there a plan to get rid of the need for 3rd party cookies altogether?  So that users who block all third party cookies don't need to add an exception?

---

Reply to this email dire

[2013-08-02 18:56] ozten commented on #3520
I think the plan goes like this:
- IdPs should use domains or sub-domains that users actually frequently use.
  - In Firefox, you use custom Cookie rules and set Accept 3rd Party Cookies to "Visited"
- Mozilla is a more nuanced 3rd party cookie policy

[2013-08-02 21:57] nickdesaulniers commented on #3693
Can we ship FF with this exception built in, or is that taking choice away from the user?

[2013-08-02 22:05] mattbasta opened #3749 "Use custom-built jQuery to minimize file size"
Persona loads `https://login.mozilla.org/js/lib/jquery.min.js`, which includes all jQuery features.

Instead, Persona should load a version of jQuery built using [the jQuery grunt script](https://github.com/jquery/jquery#how-to-build-your-own-jquery). This allows you to eliminate unneeded or unused features, especially legacy or deprecated functions. For Marketplace, this cut the size of the minif

[2013-08-02 23:43] jrgm commented on #2806
lowering to 3-star.

[2013-08-03 14:28] jaredhirsch commented on #3728
@seanmonstar good call. reopening until the fix is live

[2013-08-05 15:30] mathiasbynens commented on #3212
https://bugzilla.mozilla.org/show_bug.cgi?id=901464 was merged into this issue.

[2013-08-05 21:42] jedp commented on #3205
@guilherme-pg has used the recipe described above, and is able to get a persona assertion, but his server is unable to set cookies in a package app :(  Bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=901697

[2013-08-06 11:03] lloyd opened #3752 "verification looks bad at low widths"
When viewed in gmail especially or with a width less than 600 pixels, verification emails look bad.  I hit this accidentally on a 15" macbook, so I expect it will be common.  It would be nice to have a guaranteed minimum border around the white box containing the confirmation link.

![screen_shot_2013-08-06_at_1 59 45_pm](https://f.cloud.github.com/assets/39411/916278/edf8b74c-fe87-11e2-8241-d562e

[2013-08-06 15:50] jedp opened #3753 "Persona doesn't work on Chrome / iOS 6"
Pascal Finette reports in [bug 901745](https://bugzilla.mozilla.org/show_bug.cgi?id=901745):

Latest version of Chrome and iOS (both stable) as of today.

Error: When tapping on "Log in with Persona" a new window opens which reads: "Error: Please close this window an try again."

If you do this (i.e. follow the instructions) it still doesn't work (the Persona button becomes completely unresponsive

[2013-08-06 16:21] edwindotcom commented on #3753
I'll attempt to repro

[2013-08-06 16:32] callahad commented on #3753
This is the known issue that alternative browsers on iOS don't work because they break window.open, right?

Suggest closing as dupe.

[2013-08-06 16:37] edwindotcom commented on #3753
closing as dupe of https://github.com/mozilla/browserid/issues/2034 - I've update the bugzilla bug with notes about why and that we want to provide improved messaging soon.

[2013-08-06 16:37] #3753 closed, assigned to nobody

[2013-08-06 16:45] jedp commented on #3753
Ah, yes.  Sorry about the dupe.

[2013-08-06 22:54] jaredhirsch commented on #3245
@edr67 we've just released the fix for #3728. If your user is still having problems, please reopen that bug and we'll get right on it.

edit: #3728 is the fix for using 'Gmail' instead of 'gmail' as the domain name.

[2013-08-06 22:55] jaredhirsch commented on #3728
fix live. /me closes

[2013-08-06 22:55] #3728 closed, assigned to nobody

[2013-08-06 23:13] jrgm commented on #3683
I shouldn't have closed this, because this needs the "longer-term" fix.

I can't build the train-2013.07.31 rpm at the moment, so I will cherrypick the fix made to train-2013.07.17 onto the 07.31 train.

[2013-08-07 00:58] jaredhirsch opened #3755 "metrics output should really be JSON"
the metrics files, like `router-metrics.json`, aren't valid JSON. They are a bunch of stringified JSON objects, but they aren't collected inside a top-level object, and they aren't separated by commas.

it would be way easier to process those files if they were valid JSON, so, do that.

[2013-08-07 00:59] jaredhirsch commented on #3755
link to mozilla/identity-ops#102 ("Update the cron job processing the metrics file to send metrics data to a kpiggybank collector")

[2013-08-07 03:10] jrgm opened #3756 "in mobile sizing, background screen bleeds through to 'Check your email' screen"
Not the end of the world, and the image below is for desktop osx FF23, but I can also see through the foreground screen on android4.3 chrome.

STR
1. Bring up the dialog and enter an unknown secondary address.
2. Enter a password twice and continue.
3. If on desktop, narrow the window to show the mobile layout.

Look at the lower right corner and you can see the continue button in the background s

[2013-08-07 12:29] edr67 commented on #3728
user is back up and logging in! thanks!

[2013-08-07 16:36] jrgm opened #3757 "differing colours on some screens in dialog"
Probably missed this screen in recent changes. It's not a big difference in colour but I happened to notice it.

![two](https://f.cloud.github.com/assets/758162/925798/6752d5f8-ff7f-11e2-9eb5-3d5146ef86b0.png)

![one](https://f.cloud.github.com/assets/758162/925799/6d86f88c-ff7f-11e2-830c-e7a18310ef5a.png)

[2013-08-07 16:44] jrgm commented on #3757
![three](https://f.cloud.github.com/assets/758162/925863/976e4de8-ff80-11e2-9368-4ef431495a67.png)

[2013-08-08 00:19] ethernomad commented on #2560
I am no longer able to reproduce this problem and will remove the workaround from the Drupal module.

[2013-08-08 00:20] ethernomad commented on #2560
I'm not sure how to close this issue.

[2013-08-08 14:27] ryanfeeley opened #3762 "Update tagline in dialog: Simple sign-in from the non-profit behind Firefox."
With a little help from our copywriter Matej, we've changed two words. No big deal, but worth doing.

**Mozilla Persona.** Simple sign-in from the non-profit behind Firefox. [Learn more →](https://login.persona.org/about)

[2013-08-08 15:36] mattbasta opened #3763 "The "Address Verified" screen can take upwards to 10 seconds to go away"
It seems that sometimes after logging in with a Gmail or LDAP email address, the "Address Verified" screen sits for a very long time. Not sure if this is general slowness or an actual perf issue, but figured I should file it for the sake of getting it in the system.

Let me know if there's anything I can do to help.

[2013-08-08 15:37] mattbasta commented on #3763
I should note that this doesn't happen every time. On average it takes 3-4 seconds for me, but that still seems incredibly long. At least once per day it gets up to 10 or more.

[2013-08-08 16:39] callahad commented on #3756
Ask FxOS people about intended styling of overlays...

[2013-08-08 16:42] callahad commented on #3763
What browser / platform are you seeing this on?

[2013-08-08 16:47] callahad commented on #3755
If this is a streaming logfile, I'm not sure how we could sanely ensure that it's valid JSON at all times.

Every time we wanted to append, wouldn't we need to truncate the file to kill the final `}`, then write the next line with with a leading `,` and a trailing `}`?

Seems complex :(

[2013-08-08 16:47] mattbasta commented on #3763
I've seen this on Chrome stable and beta on os x and Canary on Windows.
Also on fx nightly, but don't use other release channels enough to know
whether it happens there as well.
On Aug 8, 2013 9:45 AM, "Dan Callahan" notifications@github.com wrote:

[2013-08-08 19:08] pdehaan opened #3764 "When you get a sign in error on B2G you cannot scroll the error message"
I was getting the following error when trying to log in to some staged Marketplace instance using a bad value in my B2G prefs:
![2013-08-08-11-21-48](https://f.cloud.github.com/assets/557895/933814/a35d134a-005d-11e3-8470-a4bae89cadf5.png)

If I click the "See more info" button, I get this dialog, but you cannot scroll the error message vertically, it seems to be scrolling the content BEHIND the d

[2013-08-08 19:12] pdehaan commented on #3764
It doesnt show in the screenshot, but the modal dialog has a semi-transparent background, so you can see the content behind the error message scrolling.

[2013-08-08 20:20] pdehaan opened #3765 "3 CSS errors in /resources/static/dialog/css/m.css"
I saw some warnings through `adb logcat` and looking through the mobile source for https://static.login.anosrep.org/v/2bf9f39515/production/en/dialog.css it looks like the -webkit-gradient lines have an extra closing right brace (confirmed on csslint).

https://github.com/mozilla/browserid/blob/eaa8760bc42fa98e79493bd04fdbbd483057a69a/resources/static/dialog/css/m.css#L134

Line 134: background-im

[2013-08-08 21:42] alisonw opened #3766 "email address management"
Persona is a great idea _but_ there are a number of issues becoming more problematic as the user base expands.
1. Inability to change email address being used. Published response is "file a bug" but that really doesn't scale, and for non-techie types it is a complete non-starter. "https://login.persona.org/" lets you delete an address, but not add a replacement first, and although there is an "edi

[2013-08-08 21:46] callahad commented on #3766
Thank you! Next steps for the team:
- [ ] Get this into user story repo.
- [ ] Link related bugs.
- [ ] Link mailing list discussion about passwords / fallback / etc.
- [ ] Track the need for a SUMO article explaining address management with Persona.

[2013-08-09 00:41] pdehaan opened #3767 "Long email addresses cause the sign in window to scroll horizontally on B2G devices (truncates on desktop)"
If I have an absurdly long email address it truncates nicely on the desktop site (with a tooltip displaying the full address).

![desktop](https://f.cloud.github.com/assets/557895/935666/f3b5f22a-008b-11e3-9e2d-8bf2de71342e.png)

On the B2G device, the email addresses scroll horizontally, making it a bit tricky to read the domain and then scroll back to find the Sign In button.

![mobile1](https:/

[2013-08-09 01:08] pdehaan opened #3768 "Sign in and Cancel buttons aren't consistent on Desktop and B2G"
When signing in using LDAP on desktop, the buttons seem to be [Confirm] [Cancel]
![sign_in](https://f.cloud.github.com/assets/557895/935753/c183b528-008e-11e3-8ef5-a44773cacd3d.png)

On B2G the buttons always seem to be [Cancel] [Confirm] style.
![2013-08-08-17-43-42](https://f.cloud.github.com/assets/557895/935775/6058571c-008f-11e3-8787-8adfb413031c.png)

I think we should consider swapping the

[2013-08-09 01:30] seanmonstar commented on #3768
See mozilla/vinz-clortho#87

[2013-08-09 01:30] #3768 closed, assigned to nobody

[2013-08-09 03:35] fmarier opened #3769 "Fallback IdP cookie should be a session cookie when user clicks "For this session only""
The cookie that the fallback IdP sets when it creates a session for a user should be:
1. a regular cookie with a **long expiry** when the user clicks "This is my computer"
2. a session cookie (which expires when the browser is closed) when the user clicks "For this session only"

This is not a security bug per se because the expiry that matters is the one that's inside the client-sessions cookie a

[2013-08-09 03:37] fmarier opened #3770 "Single-use certificates when user clicks "For this session only""
If a user clicks "For this session only" and then closes the browser, the certificate that's in the browser is not deleted and in fact is still valid for up to one hour.

A proposed solution is to create _single-use_ certs when the user requests an ephemeral session:
1. create a cert & get it signed by the IdP
2. use the cert to create an assertion with the IdP
3. delete the cert

This is related

[2013-08-09 05:32] fmarier commented on #1995
https://bugzilla.mozilla.org/show_bug.cgi?id=880660

[2013-08-09 05:34] fmarier commented on #3073
Well the tool exists. It's not finished (and probably never will), but patches welcome ;)

[2013-08-09 05:34] #3073 closed, assigned to fmarier

[2013-08-09 05:39] fmarier opened #3771 "Review third-party libraries and plugins"
This isn't a bug on our codebase, but it doesn't really fit anywhere else, so I'm tracking it here for now.

Instructions and TODO list here: https://id.etherpad.mozilla.org/3rdparty-lib-reviews

(This will unblock #3233.)

[2013-08-09 12:13] skorokithakis commented on #1523
I am vehemently opposed to using any sort of plain DNS. It will undermine the security of the entire protocol, no matter what takes precedence (the attacker can just block port 443 on that webserver and force poisoned DNS to take precedence, completely breaking Persona.

DNSSEC is probably fine, and should probably take precedence, but it's a bit of a hassle to set up (more so than HTTPS). That sa

[2013-08-09 12:22] callahad commented on #1523
Good news, then :) I need to dig up the appropriate link (will add to this later today; about to go catch a flight), but we've decided that we can't do plain DNS for the reasons you cited.