[2013-10-09 21:23] nukeador opened #3967 "Offer ways to create an email for new Internet users"
We expect a lot of new people to get online thanks to projects like Firefox OS, and for that reason it's likely to happen that a user that wants to log in with Persona doesn't have an email account yet.

For that reason I think it would be useful to have a bottom link "I don't have an email yet" where we can offer ways or services to create one, such as Thunderbird does right now on first run. (It

[2013-10-09 21:35] karlpauls commented on #3950
Any news on this one?
@callahad, did you manage to reproduce the issue as well?

[2013-10-09 21:52] pdehaan commented on #3966
OK, as this screenshot demonstrates, it appears to be putting the user's domain-part of their email address as the domain that needs an exception.  This is not correct in either case.  It should be the domain of the IDP that gets used for this message, not the domain part of the email address.

![ Screen Shot 2013-10-08 at 9.20.18 PM.png](https://bugzilla.mozilla.org/attachment.cgi?id=814668)

[2013-10-09 22:28] seanmonstar commented on #3964
I don't think you actually want to set shimmed_primaries. Trying to auth how? Going to htt://localhost:10001/index.html you can test the full sign in process. Port 10001 hosts an example RP.

[2013-10-09 22:32] jaredhirsch commented on #3966
I could _swear_ this is a known bug but I cannot find it.

[2013-10-09 22:35] jaredhirsch commented on #3966
@justdave Pinging you here to link this bug to the closed bugzilla bug [924707](https://bugzilla.mozilla.org/show_bug.cgi?id=924707).

[2013-10-10 07:31] shane-tomlinson commented on #3965
This is partially a dup of #2034

[2013-10-10 09:52] shane-tomlinson commented on #3967
Closing in favor of mozilla/browserid-roadmap#61 . Will re-open here if this becomes part of the road map.

[2013-10-10 09:52] #3967 closed, assigned to nobody

[2013-10-10 15:14] jaredhirsch commented on #2009
Just got my Lumia 520 in the mail yesterday (win 8/ie 10). Sadly I can repro @KWierso's symptoms: IEMobile works fine, "Desktop mode" gives me the relay frame error. Working on installing the SDK so I can actually get to a console...

@ednapiranha Historical note, we've gotten Chrome/iOS working :-)

[2013-10-10 15:22] lloyd commented on #3949
@seanmonstar you got this?

[2013-10-10 15:28] jaredhirsch commented on #3529
closed by merging #3939 :beers:

[2013-10-10 15:28] #3529 closed, assigned to shane-tomlinson

[2013-10-10 16:21] shane-tomlinson opened #3970 "/sign_in metric counted twice if user redirects to primary"
With #3939, we have the ability to send kpiggybank the number of users who see the /sign_in dialog directly from the backend. There is a problem, users who redirect to a primary IdP are counted twice, the first time when they first open the dialog, the second time when they return to from the IdP.

[2013-10-10 16:43] callahad commented on #3922
Temporarily flagging as 5-star: we need to check to see if automatic reprovisioning is working.

[2013-10-10 16:44] callahad commented on #3925
@6a68 Please verify that this is fixed in production.

[2013-10-10 16:44] #3925 closed, assigned to nobody

[2013-10-10 16:48] callahad commented on #3927
Closing. @edmoz please re-open if jrgm's suggestion doesn't fix it for you.

[2013-10-10 16:48] #3927 closed, assigned to nobody

[2013-10-10 16:58] callahad commented on #3934
Wow! That's super crazy! Looks like it may be a Fennec bug?

[2013-10-10 17:01] edwindotcom commented on #3934
@csuciu persona doesn't have any control over the auto complete display, we believe this is a fennec issue, can you log it there.

[2013-10-10 17:01] #3934 closed, assigned to nobody

[2013-10-10 17:06] callahad commented on #3944
Note to self: is there an event we're not listening to that fires upon autocomplete, or is this an upstream Fennec issue?

[2013-10-10 17:08] callahad commented on #3945
Closing. As far as we can tell, this is due to accidental triggering of Private Browsing Mode, and 3220 captures what we need to do to help users in that case.

[2013-10-10 17:08] #3945 closed, assigned to nobody

[2013-10-10 17:08] edwindotcom commented on #3220
@ozten I'm thinking you have a change that we staged related this...

[2013-10-10 17:15] edwindotcom commented on #3949
just to add detail to who this affects: we think this may affect some subset of users who defined their openID identity at a specific point in time.  Doesn't affect all users.

[2013-10-10 17:17] seanmonstar commented on #3944
We listen for both `keyup` and `change`. I would expect `change` to have triggered in this case.

[2013-10-10 18:50] jaredhirsch commented on #3925
@callahad yes, works for me on safari Version 7.0 (9537.71), last week's GM seed.

We should be fine when 10.9 is released to production.

[2013-10-10 19:40] Pomax commented on #3964
here's the setup I have now:
- browserid is running seemingly fine, on http://localhost:10002
- the webmaker.org services are running on a number of ports, but all require `include.html` from the main webmaker.org instance running on http://localhost:7777 (loaded in an iframe) -- this file has the actual browserid include.js script, using `<script src="http://localhost:10002/include.js"></script>`

[2013-10-10 20:17] seanmonstar commented on #3964
Can be found here: https://github.com/mozilla/browserid/blob/dev/scripts/run_locally.js#L76

By default, it'd be localhost:10000/verify

[2013-10-11 21:18] futuresoup opened #3974 "Responsive view does not ask for email address or recognize custom product name"
New users to Thimble on http://thimble.webmaker.org are getting confused because in some cases, hitting "sign in" button triggers the smaller responsive view of the Persona window.

This responsive view does not ask the user to enter their email address, and instead of saying "sign in to webmaker" it says "sign in with persona" - which is also confusing.

Can we add text that asks first time users

[2013-10-11 22:35] edwindotcom opened #3975 "b2g: launching persona from whereismyfox.com has uneditable username"
1. on b2g 1.3 goto: whereismyfox.com
2. click the sign in button
3. tap in the username text field

actual: keyboard launches, then gets dismissed, then you're unable to enter text, eventually get a 'bad login' error

expected: you should be able to sign in

[2013-10-11 22:41] edwindotcom commented on #3975
I'm unable to repro on 123done

[2013-10-11 22:54] pdehaan commented on #3975
I can repro on whereismyfox on B2G 1.2 prerelease

[2013-10-11 22:58] edwindotcom commented on #3975
here's the JS

[code]

[2013-10-14 10:58] shane-tomlinson commented on #3974
Thanks for the feedback @futuresoup - This was fixed last week with #3957 - more specifically, this change: https://github.com/mozilla/browserid/pull/3957/files#diff-278fdfa06a730b614a46b9241eace5e3R25. This fix should roll into production in about 3.5 week's time.

Closing as fixed.

[2013-10-14 10:58] #3974 closed, assigned to nobody

[2013-10-14 10:59] shane-tomlinson commented on #3974
@futuresoup - The part about not asking for the email address was an intentional design decision made by @mhanratty and @skinny97214 whenever designing the screens for mobile users.

[2013-10-14 17:32] futuresoup commented on #3974
Hi Shane - can you please clarify which issue was fixed?

Ideally it would be the issue where the Persona registration window shows up in a normal sized view when signing in from Thimble instead of the responsive view. Some folks can reproduce this issue and some can't. So far, the only common factor for reproduction has been 13" Macbooks or Macbook pro screens.

If not asking for the email addres

[2013-10-14 17:41] shane-tomlinson commented on #3974
@futuresoup - we fixed this part:

Users who see the mobile design _usually_ have zoomed out on the page they are trying to sign in to. You can try this yourself by visiting https://thimble.webmaker.org/, zoom out one level from the default, and open the Persona dialog. This is because the browser transfers zoom settings from a parent to child window (see #2008 and https://bugzilla.mozilla.org/sho

[2013-10-14 17:52] futuresoup commented on #3974
Ah groovy, just verified that when I reset my zoom settings, I get the normal persona window instead of the responsive one  :)
It is strange though that when I zoom out just one level, the parent window makes everything smaller (zoomed out), but the persona window acts the opposite and makes everything larger (as if zoomed in).

I will trust @mhanratty and @skinny97214's design choice in regards t

[2013-10-14 21:28] jrgm commented on #3949
I have filed https://bugzilla.mozilla.org/show_bug.cgi?id=926633 to get this deployed to stage (and from there to production).

[2013-10-15 12:35] shane-tomlinson commented on #2910
Re-opening since @lhoward has issued #3952 to address this.

[2013-10-15 13:00] #2910 closed, assigned to nobody

[2013-10-15 13:25] shane-tomlinson opened #3976 "RP displayed as "undefined" in email verification screen when siteName not specified"
Both myfavoritebeer.org and 123done.org use siteName so the names appear.

![screen shot 2013-10-15 at 14 22 32](https://f.cloud.github.com/assets/848085/1333822/ee5dcadc-359c-11e3-9eb7-75501a3de7aa.png)

[2013-10-15 13:27] shane-tomlinson commented on #3976
This occurs when checking out train-2013.10.09 locally.

[2013-10-15 13:30] shane-tomlinson commented on #3976
This does _not_ occur on a local checkout of train-2013.09.25

[2013-10-15 13:45] shane-tomlinson commented on #3976
From a code review, this appears to affect `dialog/js/modules/verify_primary_user.js` as well.

[2013-10-15 14:23] shane-tomlinson opened #3978 "RP name inconsistency in email picker"
desktop shows the RP name, mobile does not.

![screen shot 2013-10-15 at 15 22 07](https://f.cloud.github.com/assets/848085/1334231/4eed5de2-35a5-11e3-9d28-fed5a06febdc.png)

![screen shot 2013-10-15 at 15 22 13](https://f.cloud.github.com/assets/848085/1334232/50b8cf08-35a5-11e3-8bfc-a83ed26d5c29.png)

What do you think @ryanfeeley, should we make these consistent? If not, close at will.

[2013-10-15 14:57] ryanfeeley commented on #3978
Please do! I thought I had fixed this already. In fact, didn't I see this fix on oauth version you pushed?

[2013-10-15 14:59] shane-tomlinson commented on #3976
STR:

1) Visit an RP attached to stage that does _not_ specify siteName (both 123done and myfavoritebeer specify siteName)
2) Open the Persona dialog.
3) Register a new email address.
4) See the "check your email" screen.

[2013-10-15 18:01] #3976 closed, assigned to shane-tomlinson

[2013-10-15 18:32] #3528 closed, assigned to shane-tomlinson

[2013-10-15 18:32] #3920 closed, assigned to shane-tomlinson

[2013-10-16 00:36] jrgm commented on #3949
Okay, after a delay with DNS issues, this went live at about 'Tue Oct 15 16:38:40 PDT 2013'.

[2013-10-16 00:36] #3949 closed, assigned to seanmonstar

[2013-10-16 17:13] #1752 closed, assigned to nobody

[2013-10-16 17:31] ozten commented on #2497
We need to make this change to enable the current plan for landing Persona in Firefox Desktop.

Background:
Fx will launch a doorhanger with an Identity Picker. For a new email address, Fx does discovery using a new WSAPI on the email address.

Primary email addresses are authenticated through a popup controlled by chrome.
Secondary email addresses are authenticated using a new flow separate from

[2013-10-16 19:11] callahad commented on #2497
Is there any reason Fx doesn't independently do its own discovery, client-side?

[2013-10-16 19:35] jaredhirsch opened #3983 "Confirm link in e-mail should redirect to signed-up site (bugzilla 927343)"
From "rubbish@gmx.net":

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:25.0) Gecko/20100101 Firefox/25.0 (Beta/Release)
Build ID: 20131010180222

Steps to reproduce:

Sign-up for the first time with a not identity-bridged e-mail address. Persona sends an e-mail with a link to confirm the e-mail address.

Actual results:

Clicking on the confirm link opens the Persona website.

Expect

[2013-10-16 19:36] jaredhirsch commented on #3983
I've ported the bug but don't have the github creds for the user who posted

[2013-10-16 19:38] jaredhirsch commented on #3983
OK, answering the question: if you use navigator.id.watch instead of navigator.id.get, you can pass a `returnTo` parameter in your navigator.id.request call, and get users redirected back. This is one of the advantages of using `watch`.

https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.request

https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.watch

Closing.

[2013-10-16 19:38] #3983 closed, assigned to nobody

[2013-10-16 23:42] ozten commented on #2497
Technically, no.

There are several benefits to starting with a wsapi:
- Changing the discovery protocol saved our bacon twice in the last year, which suggests it might be useful to keep this flexibility
- A web service can cache discovery centrally which will greatly speed up problematic lookups (which we've seen many in production)
- Our existing algorithm is tricky and security sensitive, so we

[2013-10-17 08:34] jkissel commented on #3983
Is there a technical reason for the Callback API not having this option? If not I would appreciate consistency.

But for now, the Observer API is OK for my case. Thank you :-) I have to refactor my whole login process, though ...

[2013-10-17 08:38] shane-tomlinson commented on #3983
@jkissel - yup, the technical reason is that .get/.getVerifiedEmail MUST be called from within a click/keypress handler to avoid the browser's popup blocker. Since we want users to be automatically signed in after verifying their email address, we had to come up with a solution that allowed sites to express their desire to have users be logged in automatically without requiring the user to take an

[2013-10-17 10:57] shane-tomlinson opened #3985 "collect new primary user counts from the backend for the kpi stream."
This is to help ensure data that comes from the client's event stream is legit.

[2013-10-17 11:34] shane-tomlinson opened #3986 "batch interaction data blobs before sending them to the KPI server"
Every time a client sends an interaction data blob, we immediately ship it off to kpiggybank by itself. As part of the collection of additional KPI data from the backend, we now have the capability to collect blobs into a batch before sending them.

Batching requests will enable us to increase the data collection sample rate without affecting performance.

[2013-10-17 13:05] callahad commented on #2497
Thanks for documenting that... sold :)

[2013-10-17 15:23] mattbasta commented on #3930
Safari private browsing bans localStorage usage (both Desktop and iOS). Accessing localStorage at all throws an error. :(

[2013-10-17 15:31] mattbasta opened #3987 "Explore using `mozbrowser` on ToS/PP in native persona to allow JS to run"
Our ToS/PP are still broken on native persona because we use JS to load them (and the way we do L10n means it'll be really terrible to change that). Can you guys experiment with `mozbrowser` or something like that to allow those documents to load with scripts? Surely there's a way to pull it off, otherwise hosted apps wouldn't be able to run JS ;)

[2013-10-17 15:32] #1704 closed, assigned to shane-tomlinson

[2013-10-17 16:20] shane-tomlinson commented on #3987
@mattbasta - is there some documentation on mozbrowser? I can give it a try once I have some info.

[2013-10-17 16:29] shane-tomlinson commented on #3987
Some links around the webs:

https://github.com/mozilla-b2g/gaia/pull/7178
https://groups.google.com/forum/#!msg/mozilla.dev.webapi/LFuVuUvqT6Q/pcOcvXIo6sIJ
https://bugzilla.mozilla.org/show_bug.cgi?id=714861

[2013-10-17 16:32] mattbasta commented on #3987
It's pretty straightforward. You just add the mozbrowser attribute to an
iframe. The only stipulation is that you need to request the permission for
it, but that shouldn't be an issue for persona.
On Oct 17, 2013 9:29 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-10-17 16:40] callahad commented on #3975
Ahhh! They're using .get! Not the Observer API!

[2013-10-17 16:44] callahad commented on #3591
@mostlygeek Can you reap these, please?

[2013-10-17 16:46] callahad commented on #3376
Sounds like an upstream issue, potentially in B2G?

[2013-10-17 16:47] #3199 closed, assigned to nobody

[2013-10-17 16:47] callahad commented on #3198
Replaced by work on www.persona.org

[2013-10-17 16:47] #3198 closed, assigned to nobody

[2013-10-17 16:53] callahad commented on #2649
Likely resolved as of current state of dev? To verify....

[2013-10-17 16:55] callahad commented on #751
Solution: Stop listening on 443.

[2013-10-17 17:18] lloyd commented on #3987
@mattbasta because in firefox os persona is remote content, we can't actually do that.

[2013-10-17 17:20] mattbasta commented on #3987
Can you explain the risk of allowing JS in the ToS/PP iframe? If Peraona is
remote content then I don't understand how it has any privileges which
could be compromised.
On Oct 17, 2013 10:18 AM, "Lloyd Hilaiel" notifications@github.com wrote:

[2013-10-17 17:25] lloyd commented on #3987
because your private key lives in local storage in the domain, the attack would be identity compromise.

On Oct 17, 2013, at 8:20 PM, Matt Basta notifications@github.com wrote:

[2013-10-17 17:45] alex-mayorga commented on #3949
¡Muchas gracias @jrgm! =)

[2013-10-17 17:49] mattbasta commented on #3987
How exactly could the iframe extract information from the parent's localStorage? That would violate the same origin policy.

[2013-10-17 18:08] shane-tomlinson commented on #3987
@mattbasta - IIRC in the flurry of last minute FFOS activity, we chose to sandbox the iframe to avoid bad acting RPs from frame busting and taking over the trusted UI. I am not sure if we ever experimented to see our worries were well founded, but we took the cautious approach to avoid shooting ourselves in the foot.

[2013-10-17 18:13] mattbasta commented on #3987
I've filed a pull request (as you can see above).

A few notes:
- If you don't specify `allow-top-navigation`, it shouldn't be possible to frame-bust the page.
- Even if the page did, it's effectively the same as if they called `window.open`, yeah?
- Everything should be running in its own origin anyway

Please let me know if I'm making faulty assumptions.

[2013-10-17 19:21] shane-tomlinson commented on #3922
I just manually tested this and am unable to reproduce.

Steps that I tried.
1. sign in to my personal blog that uses the .watch api using a yahoo address
2. wait 2 hours
3. delete the session cookie for my site from the Firefox preferences.
4. open the network console
5. refresh my blog's page.

[code]

All good. @peder541 - which browser are you on, and what are your cookie settings?

[2013-10-17 19:24] shane-tomlinson commented on #3922
I lied. I am not signed in to my site as expected. Provisioning starts, then nothing.

[2013-10-17 19:35] shane-tomlinson commented on #3922
After re-trying, more information was given:

[code]

[2013-10-17 19:50] peder541 commented on #3922
Current log readout in Firefox:

[code]

I've received that second readout Shane got before, but it happens pretty sporadically. Usually "hooking up begin provisioning with users=" is the last line.

Edit: Just tested in Chrome. It outputs the additional information and an origin error:

[code]

[2013-10-17 20:04] jaredhirsch commented on #3922
@callahad do you have context on the yahoo provisioning flow, any thoughts on what might be lurking here? also, is this a five-star or a four-star?

[2013-10-17 21:26] #3970 closed, assigned to shane-tomlinson

[2013-10-17 21:26] #3985 closed, assigned to shane-tomlinson

[2013-10-17 22:25] ozten commented on #2497
Deployed https://desktoppersona.personatest.org from the issue-2497-refactor-to-idp branch.

Will work on ftp downloadable builds of Fx that use it.

[2013-10-18 05:05] mostlygeek commented on #3591
Done.

[2013-10-18 05:05] #3591 closed, assigned to mostlygeek

[2013-10-18 05:20] jrgm opened #3989 "upgrade to convict 0.4.1 broke local testing with back_mysql"
The commit was from https://github.com/mozilla/browserid/pull/3973, but it points out that there may be some issues elsewhere with about defaults with new convict that are baked into the code that uses the old convict.

STR:
1. git clone git://github.com/mozilla/browserid.git
2. cd browserid
3. npm install
4. WHAT_TESTS=back_mysql npm test

Expected: tests pass

Actual:

[code]

Notes:
1. I can re

[2013-10-18 18:34] jaredhirsch commented on #3922
i'll take this.

_edited to remove sour tone_ :beers:

[2013-10-18 19:52] jedp opened #3991 "login with unverified email is not working on Android"
@kumar303 reports in [Bug 924985](https://bugzilla.mozilla.org/show_bug.cgi?id=924985):

In Marketplace we use experimental_allowUnverified=true and experimental_forceIssuer=firefoxos.persona.org so that a user on a mobile device can sign in without doing verification.

Should we do the same thing on Android? Since it's mobile, I think yes.

This currently does not work on Android.

STR:
- Install

[2013-10-18 20:48] shane-tomlinson commented on #3987
@mattbasta - Using the code in this commit: https://github.com/shane-tomlinson/browserid/commit/f05bf776eafd92621b1cbeea19757b776b8e1e2c which is based off of your PR, I am able to frame bust out of the TOS/PP iframe and take over the trusted UI.

[2013-10-18 21:29] mattbasta commented on #3987
I'm curious how you tested that. Is it possible that this is
https://bugzilla.mozilla.org/show_bug.cgi?id=785310

That bug seems like it should have much higher priority.

Failing the ability to use `allow-scripts`, could you simply `window.open`
the ToS/PP url instead of showing it inline? It seems like buggering up the
page for the sake of having the content in the trusted ui seems non-ideal.

A

[2013-10-18 21:36] shane-tomlinson commented on #3987
@mattbasta - I tested by loading your PR onto my local dev machine, updating my phone's user.js to fetch its resources locally, and open the modified TOS.html link from https://github.com/shane-tomlinson/browserid/commit/f05bf776eafd92621b1cbeea19757b776b8e1e2c.

[code]

As far as calling window.open, we try that first before resorting to the iframe - you can see the code we are using here: https:

[2013-10-18 21:39] ozten commented on #3955
Dietrich had raised this concern before. The shim as well as the B2G implementation should not use localStorage as it blocks the main thread. This is a change we can make now to help all of our platforms. [IndexedDB](http://caniuse.com/#search=indexeddb) would work for many platforms and fallback to the current working localStorage code for non-modern browser platforms.

[2013-10-19 00:13] ozten opened #3992 "Inconsistent behavior in the Browser ID account manager when using the keyboard"
[ Ported this bug from https://bugzilla.mozilla.org/show_bug.cgi?id=747978 not sure if it is still an open issue. Please try to reproduce. ]

Prerequisite if you're on a Mac: Go to System Preferences, Keyboard, and check that "Tab key moves to" is set to "all focusable controls". Firefox honors this setting, and it is important for the following STR. Windows and Linux do this right by default.

ST

[2013-10-19 05:13] seanmonstar commented on #3991
Erhm... does this have to do with some server config? B2G loads from firefoxos.persona.org, that allows forceIssuer, where as login.persona.org doesn't?

[2013-10-21 23:06] jaredhirsch commented on #3922
argh! I got wrapped up in fallback idp stuff and didn't get to this today.

@callahad are we _sure_ this isn't 4 stars to investigate?

[2013-10-21 23:52] clouserw commented on #3987
We have a workaround in place to fix the legal concerns.  It sounds like in the next 3-6mos this will be a non-issue for Mozilla since we're moving to Firefox Accounts.  I'll leave it to the browserid team to decide when this should be closed.

[2013-10-22 08:53] lloyd commented on #3987
:bomb:

[2013-10-22 08:53] #3987 closed, assigned to nobody

[2013-10-22 18:26] jaredhirsch commented on #3987
:beers: way to resolve this quickly, y'all

[2013-10-22 18:30] jaredhirsch commented on #3922
talked with callahad about this in [irc](http://irclog.gr/#show/irc.mozilla.org/identity/332403), bumping down to four stars. still a priority, but not blocking other work.

[2013-10-22 20:27] #3989 closed, assigned to nobody

[2013-10-23 17:36] dodi-br opened #3994 "%s placeholder in the check email message"
Hi,

I'm using Mozilla Persona for authentication, and I've found a strange behaviour, when I use a browser forcing the language for en_US, it works just perfect, when I use the default browser language (that in my case is pt_BR), the message "Click the link in the confirmation email sent to dodi@imdt.com.br to immediately be signed in to webconf.mprs.mp.br." has a %s placeholder instead of the us

[2013-10-24 16:36] jaredhirsch commented on #3994
@mathjazz any thoughts on this bug?

[2013-10-24 16:40] callahad commented on #3991
firefoxos.persona.org is just a CNAME to login.persona.org, so that's not it...

[2013-10-25 19:26] #3986 closed, assigned to shane-tomlinson

[2013-10-25 22:43] ggaughan opened #3998 "Fails to login in IE10 with Windows 8 (via gmail)"
Signing in with IE10 on Windows 7 and Windows 8 (VMs from msmodern.ie) using a gmail account fails.

Initially (and with cleared cache) prompts for email as usual and then shows google form prompting for email address again and password. Then shows:

[code]

(Works ok on Windows 7 with Firefox on same site with same email; and fine with Chrome/Firefox on Ubuntu)

[2013-10-26 08:27] mathjazz commented on #3994
PT-BR translation is not at 100%, so we must have changed the original strings, but they didn't follow up with translaitons, which makes them "fuzzy".

I just checked that and they actually did translate both of the strings, but didn't commit files to SVN. It should be fixed now.

[2013-10-26 20:32] AnimeAlex321 opened #3999 "Cannot sign in - perhaps a GMail or Yahoo address."
Whenever I try to log in to a website with Persona, a big problem occurs.
I log into the website and it makes me verify my email address. When i verify the email that I want, it takes me to another page that says that Persona would like to: View my email address, and it won't let me hit the "Accept button". I don't know why it does that, maybe the link is broken or something? I would at least like

[2013-10-26 20:58] callahad commented on #3999
@AnimeAlex321 Who is your email provider? What browser (and version!) are you using? Do you have any add-ons installed, and if so, which ones?

[2013-10-27 04:16] eevee commented on #1946
ping  :)  this might perhaps belong in a new ticket, but the context here seems valuable.

[2013-10-28 13:05] shane-tomlinson opened #4000 "dev is not sending email"
From dev's dbwriter.log:

[code]

[2013-10-28 15:16] shane-tomlinson commented on #3999
@AnimeAlex321 - are you using either a GMail or a Yahoo address?

[2013-10-28 15:22] shane-tomlinson commented on #3998
Hi @ggaughan - I just tried on Win7/IE10 without a problem. Is our windows 32 or 64 bit? What are your security settings? The screen that you see, is it branded as Mozilla Persona or Google?

[2013-10-28 15:23] shane-tomlinson commented on #3994
Thanks @mathjazz - I'm going to close this as "fixed."

[2013-10-28 15:30] shane-tomlinson commented on #3998
@ggaughan - If you are comfortable telling us which site you can sign in to, perhaps we can see if there are any obvious problems.

[2013-10-28 15:50] shane-tomlinson commented on #3991
@kumar303 - looking at the compress/minified code on marketplace.firefox.com, I see this line:

navigator.id._shimmed||(r.experimental_allowUnverified=!0)

I am guessing this says, if navigator.id is shimmed, set experimental_allowUnverified to `true`. This looks like it would be causing your issue.

[2013-10-28 16:04] shane-tomlinson commented on #3991
@kumar303 - after digging in a bit more, it looks like the following lines may be causing the issue:

https://github.com/mozilla/fireplace/blob/master/hearth/media/js/login.js#L65-L74

It looks like if there is a native implementation, experimental_forceIssuer is set to true. If not, experimental_forceIssuer is only set of settings.persona_unverified_issuer is set.

[2013-10-28 16:19] shane-tomlinson commented on #3999
I suspect this is either a GMail or Yahoo address since there is an "accept" button, indicating OAuth or OpenID.

[2013-10-28 17:21] callahad commented on #3999
I'm going to close this -- Alex, please re-open if you come back with more information.

[2013-10-28 17:21] #3999 closed, assigned to nobody

[2013-10-28 18:18] seanmonstar commented on #1946
@eevee sorry about the lack of response. I haven't ignored this. I've been thinking if it would make things better, or introduce other problems.

The thing is, all the features must always be possible from JavaScript, using `navigator.id`. So, adding `rel` links might be a convenience to some sites. Others though, would get no use, and it introduces another code path to make sure behaves just as t

[2013-10-28 18:29] #4000 closed, assigned to nobody

[2013-10-28 22:48] ggaughan commented on #3998
Hi Shane,

I retried in Win 7 and it did work eventually. Win 8 still fails however.

The screen asking for a password and the email again is Google branded.

Windows 32-bit, IE 10.0.9200.16384. Default security settings from the Microsoft VM/IE.

(I'll email you the site link.)

[2013-10-29 02:09] charmander commented on #1946
As long as Persona requires JavaScript, some people won’t use it, myself included. It’s a little more than just a convenience.

[2013-10-30 00:57] eevee commented on #1946
I'm actually running into the problem right now of needing login for a fairly mundane website.  I really like the ideas behind Persona, but I can't justify making a bunch of static text and old-school HTML forms inaccessible without JS support.

[2013-10-30 02:17] fmarier commented on #1744
I'm guessing that some of these leaks will go away if we stop storing the list of email addresses server-side as per https://github.com/mozilla/persona/issues/4079.

[2013-10-30 06:12] fmarier commented on #3271
https://bugzilla.mozilla.org/show_bug.cgi?id=672001

[2013-10-30 06:27] fmarier opened #4002 "Addon bar is visible in the Persona login dialog"
![french_is-that-your-computer](https://f.cloud.github.com/assets/167821/1434885/2ff0ab82-412c-11e3-97cf-a51c0958105f.jpg)

Initially reported on https://bugzilla.mozilla.org/show_bug.cgi?id=742904

[2013-10-30 11:08] dodi-br commented on #3994
It's still not working. Is the fixed version available?

[2013-10-30 15:29] atopal opened #4003 "Verification link in email does not work on Firefox OS"
I don't know if there is already an issue filed for this, please dupe in case there is already one.

When we worked on Persona integration on support.mozilla.org we ran into a number of issues that blocked us from rolling Persona out on production:

When you get a verification email on Firefox OS, clicking the link will bring you back to the browser where the pop-up is still open. So you have to k

[2013-10-30 16:08] edwindotcom commented on #4003
This is definitely a broke workflow with persona on b2g.  bump to @jedp

[2013-10-30 17:59] gene1wood opened #4004 "Email address picker display switches back to default address for an instant before verification"
On what appears to be the first use of Persona in a given day, when I go to authenticate to a site, and I select a different email address than the one that the email picker defaults to, when I click submit, the radio box changes back to the default just before the page goes away.

This doesn't present a functional problem, it's just a UX bug.

![email-picker-bug](https://f.cloud.github.com/assets

[2013-10-30 22:27] seanmonstar commented on #3271
taking this, it's easy and big win

[2013-10-30 22:31] seanmonstar commented on #1946
@eevee fair enough. I'll continue to think about this. Can't promise what I'll think of though :)

[2013-10-31 12:02] dodi-br opened #4005 "Issue 3994 still not working"
The issue #3994 is still not working. When the fixed release will be available?

[2013-10-31 12:14] csuciu commented on #3998
I'm able to reproduce in stage/prod using Win 8 x86 & IE10.
After entering the gmail credentials in the google branded dialog, I get the "Something went wrong....." error message. After that, trying to sign again with same/other gmail address will trigger the error message right after entering the email and pressing on sign in.

Can't reproduce on:
- Win 7 x64 & IE10
- Win 8 x64 & IE10

[2013-10-31 16:34] callahad commented on #3998
Tagging as 5-star to see if we can also reproduce...

[2013-10-31 16:37] callahad commented on #4002
Aesthetic only. Tagging as 2-star + good first bug. Relevant docs from MDN: https://developer.mozilla.org/en-US/docs/Web/API/window.open#Note_on_status_bar

[2013-10-31 16:39] callahad commented on #4003
Tagging as 4-stars; looks like an upstream bug related to BrowserID sandboxing on FxOS...

[2013-10-31 16:40] callahad commented on #4004
2-Stars (cosmetic + you'd have to be paying really close attention...)

[2013-10-31 16:41] callahad commented on #4005
Closing this as a duplicate of 3994; updating over there :)

[2013-10-31 16:41] #4005 closed, assigned to nobody

[2013-10-31 16:42] callahad commented on #3994
It generally takes us 2-4 weeks to go from "bug fixed" to "fixed version is tested and online."

[2013-10-31 16:48] callahad commented on #3994
Screenshot of fix to the first dialog:

![screen shot 2013-10-31 at 11 45 05 am](https://f.cloud.github.com/assets/24193/1447741/46ce3f38-424c-11e3-9633-660b428109c9.png)

[2013-10-31 16:49] callahad commented on #3994
In deference to QA, reopening until the fix is visible in the staging environment.

[2013-10-31 19:40] jedp opened #4006 "Unable to log into Persona on firefoxos marketplace"
@krupa reports in [Bug 933394](https://bugzilla.mozilla.org/show_bug.cgi?id=933394):

firefoxos 1.1

steps to reproduce:
1. Launch marketplace on your firefoxos phone
2. Try to sign in using persona

observed behavior:
Sign in hangs with 'Connection to Persona'

[code]

Note that sign in is failing from webpay and fireplace. Reproducible on both stage and prod

[2013-10-31 19:46] krupa commented on #4006
I reflashed my phone which seems to have fixed this issue. Note that another person also hit the same issue on their 1.1 firefoxos phone.

[2013-10-31 19:50] jedp commented on #4006
Hm - reflashing is not going to be a solution for customers.  Perhaps some kind of localstorage issue here?

[2013-10-31 20:58] edwindotcom commented on #4006
something to check is if it's hitting firefoxos.persona.org vs the old native.persona.org

[2013-10-31 21:15] jedp commented on #4006
If there were a mismatch like that, I think you'd be getting CSP errors

[2013-10-31 22:42] pdehaan commented on #3998
Unable to repro on 123done.org w/ Windows 8.1 Pro Preview (from modern.ie/Parallels 9), 32-bit OS; x64-based processor, and IE 11.0.9431.217 (using my Gmail acct)

Unable to repro on 123done.org w/ Windows 8 Enterprise Eval (from modern.ie/Parallels 9), 32-bit OS; x64-based processor, and IE 10.0.9200.16519 (using my Gmail acct)

@ggaughan @csuciu -- are you guys still able to repro this? I think

[2013-11-01 13:57] csuciu commented on #3998
@pdehaan I'm still able to reproduce this on 123done/beta.123done
Windows 8 Enterprise, 32-bit OS, x64-based processor and IE 10.0.9200.16688

I tried on a clean profile.

[2013-11-01 20:57] ggaughan commented on #3998
Still fails for me too:

  Windows 8, 32-bit
  IE 10.0.9200.16721  (update versions 10.0.10 (KB2879017))

[2013-11-02 19:55] flying-sheep commented on #314
[this comment](https://bugzilla.mozilla.org/show_bug.cgi?id=906300#c8) on bugzilla explains exactly what’s wrong, so how is this gaping omission still not closed?

i simply won’t even consider using persona on my own pages, and having to use it on MDN annoys me greatly.

[2013-11-03 18:04] es commented on #2181
Hey @lloyd, mind if I work on the issue?

[2013-11-04 13:24] lloyd commented on #2181
@EmilS All yours!

[2013-11-04 13:30] shane-tomlinson commented on #314
@flying-sheep - We are extremely resource constrained at the moment. PRs always gladly accepted and will be reviewed with utmost speed.

[2013-11-04 13:45] shane-tomlinson commented on #755
This should be added to browserid-stories. Closing here.

[2013-11-04 13:45] #755 closed, assigned to nobody

[2013-11-04 13:45] shane-tomlinson commented on #1880
This should be added to browserid-stories. Closing here.

[2013-11-04 13:45] #1880 closed, assigned to nobody

[2013-11-04 13:53] shane-tomlinson opened #4009 "Firefox Password Manager does not pre-fill username/password."
A dup of the closed #314 - opening a new issue so that it is not forgotten about.

More context:
- https://github.com/mozilla/browserid/issues/314#issuecomment-27631082
- https://bugzilla.mozilla.org/show_bug.cgi?id=906300

[2013-11-04 15:02] shane-tomlinson commented on #4009
Link to #1540

[2013-11-04 15:04] shane-tomlinson commented on #314
Opened a new issue for the re-emergence of this issue: #4009

[2013-11-04 15:49] k-bx opened #4010 "Recognize "google apps for domain""
Hi! I've heard that mozilla persona knows how to handle gmail accounts, but I wonder, is it possible to handle "google apps for business" accounts also?

[2013-11-04 16:55] shane-tomlinson opened #4011 "box-shadow between left and right sides of dialog looks bad with certain RP background colors"
In IE10 on Windows 8, this looks pretty bad:

![screen shot 2013-11-04 at 16 51 59](https://f.cloud.github.com/assets/848085/1466482/ea4be674-4571-11e3-81f5-1c5193ccba28.png)

[2013-11-04 17:04] shane-tomlinson commented on #1896
This has been taken care of, closing.

[2013-11-04 17:04] #1896 closed, assigned to nobody

[2013-11-04 21:33] shane-tomlinson commented on #3998
This may be 32 bit specific. Everything WFM on 64 bit Windows 8/Windows 8.1

[2013-11-04 21:44] callahad commented on #4010
Hi @k-bx,

Thanks for asking. Currently, it's not possible because some of the constraints we rely on in the Gmail bridge don't apply to Google Apps. For instance, it's possible to set up email aliases that are fully-functioning email address, but which aren't provable over OpenID, which the bridge relies on. :(

However, it _is_ possible for domains to independently and separately support Persona

[2013-11-05 05:03] es commented on #3928
@shane-tomlinson - I've added the following basic message that prints out before the Phantom tests:

NOTE: Warnings PhantomJS throws pretaining to focusing on elements can be safely ignored

[2013-11-05 19:30] edwindotcom commented on #3975
@jedp @callahad :  get() api shouldn't cause the keyboard to dismiss should it?

[2013-11-05 22:16] seanmonstar commented on #3928
merged, closing

[2013-11-05 22:16] #3928 closed, assigned to nobody

[2013-11-06 19:02] nickdesaulniers opened #4013 "B2G: unable to sign in with mozilla.com account on simulator"
STR:
1. Open Tools > App Manager (in FF nightly) (might have to install [simulator](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Using_the_App_Manager#Simulator))
2. Add `http://download.atlasct.com/evernav/manifest.webapp` as a hosted app
3. Start the simulator, then Evernav
4. Go through sign in flow

Expected:
Signed in

Actual:
![screen shot 2013-11-06 at 10 57 24 am](https://f.

[2013-11-06 19:04] nickdesaulniers opened #4014 "Broken in b2g 1.2"
Testing on a 1.2 geeksphone Peak.

STR:
1. Open Tools > App Manager (in FF nightly) (might have to install [adb helper](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Using_the_App_Manager#Adb_Helper_Add-on))
2. Add http://download.atlasct.com/evernav/manifest.webapp as a hosted app
3. Connect to device, accept prompt on phone, push, then run Evernav
4. Go through sign in flow

Expect

[2013-11-06 19:05] nickdesaulniers commented on #3966
Yes I also ran into this in the past, but after a profile got wiped, I can't seem to find the right domain.  The one listed in the error message is definitely not right.

[2013-11-06 19:13] nickdesaulniers commented on #4013
Fun fact, this doesn't seem broken in the old (deprecated) Simulator.

[2013-11-06 22:24] edwindotcom commented on #4014
@pdehaan can you try and repro - I'll try on 1.3

[2013-11-06 22:44] edwindotcom commented on #4014
I'm not able to reproduce the issue on 1.3.  I successfully signed in with Persona via App Manager install of EverNav

[2013-11-06 22:53] edwindotcom commented on #4014
I'm on the latest 1.2 Buri device and was able see the sign in window and authenticate as expected the first time.  However, the second time, logout, then sign in, my screen would go black when the keyboard launches upon text input. I'll log this as a different bug.

[2013-11-06 23:01] edwindotcom opened #4015 "attempting to insert text in trusted UI resuts in OOM error and black screen"
I'm on a Buri with today's 1.2 eng build
STR:
1. Open Tools > App Manager (in FF nightly) (might have to install adb helper)
2. Add http://download.atlasct.com/evernav/manifest.webapp as a hosted app
3. Connect to device, accept prompt on phone, push, then run Evernav
4. Go through sign in flow
5. you may have to logout, then sign in again

Expected:
able to type into field

Actual:
screen goes bl

[2013-11-06 23:01] edwindotcom commented on #4014
related issue: https://github.com/mozilla/browserid/issues/4015

[2013-11-06 23:51] satdav opened #4016 "Windows Phones with Persona"
it seems on bugzilla what their is a issue with windows phone using persona when you login on bugzilla it keeps you logged out

I would like QA to verify this

steps to repoduce it

goto bugzillla.mozilla.org
Click on login
press the persona button
enter your persona details then click login
it takes you back to the main screen not logged in

this was done on a mozilla.org.uk email address on wind

[2013-11-06 23:56] satdav commented on #4016
this issue happened on windows phone 8 on the internet explorer browser

[2013-11-07 00:13] seanmonstar commented on #4015
Er, so did b2g 1.2 break something? Is this an upstream bug?

[2013-11-07 09:14] callahad commented on #4016
Upstream issue. Bugzilla is neutering the Observer API by ignoring all automatic invocations of the `onlogin` callback. Thus, when the redirect flow returns to Bugzilla and tries to pass in an assertion, the login callback ignores it.

Relevant snippet from Bugzilla's code:

[code]

[2013-11-07 17:21] callahad commented on #1946
Added this to our feature request backlog as https://github.com/mozilla/browserid-roadmap/issues/70

[2013-11-07 17:35] callahad commented on #4009
Tagging as 4-star; this is annoying.

[2013-11-07 17:35] #4010 closed, assigned to nobody

[2013-11-07 17:36] callahad commented on #4011
Ugly -- Tagging 3 stars, good first bug.

[2013-11-07 17:37] callahad commented on #4013
Looks like an upstream issue with FxOS -- @jedp, any idea what's up?

@nickdesaulniers Can you reproduce this on other hosted applications?

[2013-11-07 17:37] callahad commented on #4013
(Tagging as 5-star; jed, feel free to re-triage)

[2013-11-07 17:38] callahad commented on #4014
Tagging as 5-star. @jedp, please re-triage.

[2013-11-07 17:40] callahad commented on #4015
Sounds like an upstream issue -- tagging as 4-stars and handing over to @jedp

[2013-11-07 17:40] callahad commented on #4016
We should file an upstream bug once the Goldilocks API lands in production.

[2013-11-07 17:40] edwindotcom commented on #4015
I'm guessing that the EverNav app uses a lot of memory, and when the trusted UI launches - we hit OOM

[2013-11-07 17:49] edwindotcom commented on #4013
I can sign in with non-mozilla addresses, such as user@mockMyId.com.  This issue is specific with user@mozilla.com which tries to use mozilla as a primary.  This could be a vinz clortho issue.

[2013-11-07 18:23] edwindotcom commented on #4013
I was able to sign in with user@mozilla.com on Inari 1.3 via 123done.org.  I believe this issue is simulator only.  I'm updating the title to refect this

[2013-11-07 18:25] edwindotcom commented on #4014
@nickdesaulniers can you paste in any relevant logcat output?  I'm basically unable to reproduce this issue, I think you may be hitting #4015.  I'd like to close this issue out.

[2013-11-07 18:29] nickdesaulniers commented on #4014
Nothing of note in logcat or dmesg.

[2013-11-07 20:28] edwindotcom commented on #4015
On 1.3 with Inari - i started repro'ing this and crashing all over marketplace- but then after restarting (and pushing "identity.debug", true) I can't repro this anymore.

[2013-11-08 01:37] ohawk opened #4018 "Persona is not working with Konqueror Browser"
While trying Personal with Konqueror Browser , then I was getting following error
Site: https://bugzilla.mozilla.org/

---

Error
 Please close this window and try again.
 See more info
Action: error in localStorage
 Now: Fri, 08 Nov 2013 01:34:22 GMT
##  could not decode localStorage: ReferenceError: Can't find variable: sessionStorage

Sorry for report if it not supported browser.

Detail for Ko

[2013-11-08 08:50] fmarier commented on #4018
The problem is that konqueror doesn't have support for localstorage and sessionstorage and these technologies are required for Persona to work:

https://people.mozilla.org/~fmarier/troubleshoot.html

[2013-11-08 08:50] #4018 closed, assigned to nobody

[2013-11-11 22:06] ozten opened #4019 "Goldilocks API breaks Desktop APIs"
We are assigning variables to `navigator.id`, even if there is that object was provided natively and we skipped most of the shim code.

I think we either need to integrate the Goldilocks code deeper or add the same check as the overall shim uses, to the Goldilocks portion of the code.

Steps to Reproduce:
0) Optional - get the latest patches and build Firefox
1) In about:config set `dom.identity.e

[2013-11-13 00:10] edwindotcom opened #4020 "b2g: 2-3 gaia-ui-tests persona tests fail out of 100"
@zacc repro'd this via jenkins on a device,  I also repro'd on desktopB2G
1. launch desktopB2G found here:
   http://ftp.mozilla.org/pub/mozilla.org/b2g/nightly/latest-mozilla-central/
2. run gaiatest with this test with --repeat=100
   https://github.com/mozilla-b2g/gaia/blob/master/tests/python/gaia-ui-tests/gaiatest/tests/functional/persona/test_persona_app.py

actual: The trusted UI never laun

[2013-11-13 03:32] seanmonstar commented on #1946
@eevee @charmander i've done some initial work on this, and linked the Pull Request to this issue. join the discussion (if you want) over here: https://groups.google.com/d/topic/mozilla.dev.identity/12PW2Z-YPps/discussion

[2013-11-14 00:23] nickdesaulniers commented on #3693
For the love of god, this is driving me nuts!

[2013-11-14 02:08] seanmonstar opened #4022 "3rd party cookies disabled message doesn't show delegated domain"
mozilla.com delegates to login.mozilla.org, but if a user doesn't accept 3rd party cookies, they are told to whitelist mozilla.com.

[2013-11-14 02:09] seanmonstar commented on #3693
@nickdesaulniers i opened a new issue describing this newer problem in #4022

[2013-11-14 02:10] seanmonstar commented on #4022
marking 4-star, since the messaging does not help a user to self-heal, and then they can't login.

[2013-11-14 13:08] glogiotatidis commented on #3878
Any progress on this one? We keep getting complaints from people who for some reason end up with the same email with different casing in different websites and they get locked out from the websites.

[2013-11-14 13:11] glogiotatidis commented on #3878
Here is a related bug that tracks occurrences of this problem in mozillians.org

https://bugzilla.mozilla.org/show_bug.cgi?id=908342

Thanks!

[2013-11-14 17:56] nickdesaulniers commented on #4022
cc self

[2013-11-14 19:33] seanmonstar commented on #3878
We're deprecating `loggedInUser` and all session management. Initial work to support no session management is in stage.

[2013-11-15 12:29] glogiotatidis commented on #3878
OK! :)

[2013-11-15 19:32] #3915 closed, assigned to nobody

[2013-11-18 19:19] #4022 closed, assigned to nobody

[2013-11-18 19:37] #3867 closed, assigned to nobody

[2013-11-18 20:19] pdehaan opened #4025 "Rename the private browserid repos"
https://mana.mozilla.org/wiki/display/Identity/Security_Bug_Fixing_Process

We should continue repo rename-o-rama by making sure we update all the _private repos to be consistent with their freshly renamed public counterparts.
- https://github.com/mozilla/browserid-exploits_private -> /mozilla/persona-exploits_private/
- https://github.com/mozilla/browserid-bigtent_private -> /mozilla/persona-yaho

[2013-11-19 01:20] #3271 closed, assigned to seanmonstar

[2013-11-19 01:55] justinabrahms commented on #3855
Looks like this was closed with the above PR?

[2013-11-19 01:58] seanmonstar commented on #3855
yep, looks like we didn't use exactly the correct syntax to get the issue to close automatically.

[2013-11-19 01:58] #3855 closed, assigned to nobody

[2013-11-20 20:46] callahad commented on #3878
Suggest closing as wontfix -- we'll deprecate the Observer API soon and suggest that people move to Goldilocks...

[2013-11-20 20:54] callahad commented on #3878
(Added a small note to the docs that loggedInUser is case-sensitive... which makes me realize how much this kinda sucks. Grr... Full steam ahead on Goldilocks, but I'd totally :heart: a patch to fix this.)

[2013-11-21 17:34] callahad commented on #4019
@ozten Care to suggest a priority? Tagging as 3-stars for now, as Desktop isn't publicly available and will likely need some tweaks regardless of what happens with Goldilocks...

[2013-11-21 17:55] ozten commented on #4019
Perfect.

[2013-11-21 21:56] davidguttman commented on #3965
Just bitten by this issue. Just read up on #2034 -- would be great to specify redirection instead of popup.

[2013-11-22 21:21] jedp commented on #4014
I can't reproduce the problem; I downloaded and signed into Evernav; also logged out and logged in again.  However, I don't have a Peak 1.2, and since Geeksphone makes their own builds (and they broke persona on the 1.1 release), we'd need to QA with that build to be sure.

@edmoz if your screen goes black when the keyboard launches, I think you should file that as a keyboard bug in bugzilla!  Tha

[2013-11-22 22:09] jedp commented on #4015
It just bit me.  Steps:
1. Sign in with Persona
2. Enter a mozilla.com email address
3. Delegates to mozilla's LDAP sign-in iframe
4. Screen goes black, apparently right when password field gets focus

Note that it's not the Trusted UI (Persona's container) that goes black - it's the entire screen.

So this can't be a Persona bug; it's affecting drawables outside of our iframe.

[2013-11-22 22:11] edwindotcom commented on #4015
I'll log a bugzilla bug now and reference this

[2013-11-22 22:12] jedp commented on #4015
I'm using a nightly 1.2 build on hamachi.

Oh wow.  `adb` no longer sees the device.

Screen goes black, phone is unreachable.  Perfect security through the Sign-in screen! :)

[2013-11-22 22:14] jedp commented on #4015
More info - when the phone wakes up again, I pass the unlock screen and go back to sign-in.  Password field is still in focus.  I start typing, and the phone flickers like crazy, flashing to black with every keystroke, and periodically going black for a few seconds.

[2013-11-22 22:16] edwindotcom commented on #4015
logged a gaia bug: https://bugzilla.mozilla.org/show_bug.cgi?id=942331

[2013-11-22 22:24] edwindotcom commented on #4014
@jedp bug logged - though not specifically saying a keyboard issue: https://bugzilla.mozilla.org/show_bug.cgi?id=942331

[2013-11-22 22:25] jedp opened #4026 "TOS/PP not available in German"
When setting language to `de`, TOS/PP are in English.
- https://login.persona.org/de/embedded_tos
- https://login.persona.org/de/embedded_privacy

Initially reported by Vikas Nanda in [bug 938777](https://bugzilla.mozilla.org/show_bug.cgi?id=938777) as a b2g bug, but it needs fixing on desktop as well.

[2013-11-22 23:00] nickdesaulniers commented on #4014
`lolcat` ?? HA!

[2013-11-22 23:37] karlht opened #4027 ""too busy' behaviour triggered too easily"
This is blocking deployment of train-2013.10.23; see https://bugzilla.mozilla.org/show_bug.cgi?id=939961#c5

Paging @6a68, @seanmonstar, @callahad ...

Excerpted from http://irclog.gr/#show/irc.mozilla.org/identity/336253:

[code]

[2013-11-23 00:00] jaredhirsch commented on #4027
@callahad / @seanmonstar / @fmarier: can one of you own this?

10/23 was an enormous train. logging changes, additional metrics, app routing changes: [here's](https://github.com/mozilla/persona/compare/train-2013.10.09...train-2013.10.23) the unified diff vs the previous train, "Showing 119 changed files with 2,414 additions and 996 deletions."

looking a bit now at the logs on stage, i'll put eve

[2013-11-23 01:38] seanmonstar commented on #4027
I'm on PTO for another week. However, that train adds a bunch of logging
logic, and sends data to kpi backend. If that's clogging resources much,
I'd consider making a dedicated log process. I started one a while ago, but
it's not far along.

[2013-11-23 01:56] jaredhirsch commented on #4027
@seanmonstar derp, I didn't think to check your availability on the calendar, sorry! As you were :-)

I guess I'll switch focus to help get this train deployed.

[2013-11-23 03:02] dustin opened #4028 "received expired assertions"
I've got an application that uses persona and recently was unable to process logins.  This is a custom authenticator written in go with the following piece of relevant code:

[code]

This yielded the following log entry:

[code]

`current` is in seconds, so that'd be 1385174696000ms.  The difference between current and expires is -6313, or an expiration date about 6 seconds ago.

1385174689000 is

[2013-11-23 03:46] fmarier commented on #4028
Could it be due to some clock skew between your server and ours?

[2013-11-23 03:57] dustin commented on #4028
I did set up ntp on these boxes after this, but it was only a couple minutes off at most -- you can see the `42:52` vs. `44:56` there which should represent the difference between my machine and papertrail.

Also, the two timestamps (expiration from the response and my local time) are very near each other.  Closer than the overlap gap here:

[code]

I assumed this expiration would be some distance

[2013-11-23 17:46] BitPuffin opened #4029 "Bad Gateway returned when sending assertion"
Hey Mozilla!

I am trying to implement persona in a webapp and I get to the stage where I post away the assertion+audience to persona for verification. But, what I get back is a 502 Bad Gateway response. The thing that is puzzling is because I am currently only testing on my local machine so the audience would be localhost in this case, and I have tried various different forms, such as "localhost"

[2013-11-25 02:01] fmarier commented on #4029
If you're visiting your site on `http://localhost:5000`, then that's what the audience should be as well.

I've never seen that `502` error before. If you want to make sure that the problem is in your code (as opposed to your server/computer config), you could try running the [PHP cookbook example](https://github.com/mozilla/browserid-cookbook/tree/master/php). If that works, then there's somethin

[2013-11-25 04:51] fmarier commented on #4026
This is not specific to:
- _the embedded versions of the pages_: https://login.persona.org/de/tos and https://login.persona.org/de/privacy are also in English
- _the German locale_: setting your browser to French also returns the English TOS/PP

While the page is in English, the `<title>` of the page is in German. Do we even have translations of the legal texts or do we just have translations of t

[2013-11-25 04:54] ozten commented on #4026
TOS and PP are localized differently than our software. Instead of Gettext, legal documents are localized as an HTML document.

Very few of our locales are available for the TOS/PP. They are being localized one off in legal bugs as we target different launch locales for FxOS. We should give legal/L10n as much heads up as possible for a new launch market as possible. I don't think we're localizing

[2013-11-25 04:58] fmarier commented on #4026
Austn is right, we only have `en`, `es` and `pl` at the moment: https://github.com/mozilla/persona/tree/dev/resources/views

[2013-11-25 16:37] jaredhirsch commented on #4027
So, I didn't see anything in the logs, but didn't really know quite what to look for.

I spent some time running load_gen against a micro instance on Friday, noticed it was always hitting toobusy when I kicked off load_gen (which starts by trying to create 100 users against the API). Sadly, I discovered a bit late in the afternoon that micro instances _always_ freak out when you hit them with load

[2013-11-25 18:10] shane-tomlinson commented on #4027
I have been trying to look into this on a c1.medium instance and unfortunately cannot push to any instance that I create. :/ Can someone with load_gen foo do me a favor and comment out lines 38-40, where StatsdTransport to MetricsKpiggybankTransport are added as transports? If the load tests pass, then we have pinpointed the problem.

[2013-11-25 18:26] jrgm commented on #4027
So like lines 38-40 of every file, or just one in particular? ;-)

[2013-11-25 18:29] jrgm commented on #4027
Obviously, 30-40 of lib/logging/logging.js. Sorry, was lazy and didn't grep first.

[2013-11-25 18:45] jaredhirsch commented on #4027
@shane-tomlinson I'm working with @gene1wood right now to spin up a stage-like stack, we're talking through how I can make code changes and rsync them out to the cluster. I'll be tweaking that shortly.

@jrgm if there are special incantations I'll need to repro the toobusy problems, would you mind pasting them in here or linking to whatever doc holds them?

[2013-11-25 19:06] gene1wood commented on #4027
Stack 1125 is up and usable now.

[2013-11-25 22:40] jaredhirsch commented on #4027
right now, @jrgm is running some load tests in stage to see what happens if some of the logging code is disabled. more to come.

[2013-11-26 12:55] BitPuffin commented on #4029
Hi fmarier

Thank you for your answer, I'll give it a try when I get home and see if I can figure out what's going wrong.

[2013-11-26 13:12] lloyd opened #4030 "3x more computation used with newer winston"
In sha 22d26c440ba74ac2103072cf8dd064a4bde842b9 we updated winston to fix logging on node 0.10.  See issue #3892

Along the way, we added a significant performance regression.  STR:
1. ENABLE_STATSD=1 NODE_ENV=test_mysql npm start
2. ab -n 10000 -c 300 http://127.0.0.1:10002/wsapi/session_context

try this at the sha and after the sha.  Notice the processor usage difference.  After the winston upg

[2013-11-26 13:20] lloyd opened #4031 "processes no longer shut down cleanly"
We updated to node-statsd `0.0.7` in sha 092eb6c.  This update causes our processes to no longer shut down cleanly.

STR:
1. ENABLE_STATSD=1 npm start
2. (in a separate console) ab -n 600 -c 300 http://127.0.0.1:10002/wsapi/session_context
3. `^C in npm start console

NOTE: this problem does not reproduce if you try only a single session_context call - thus the expectation is leaked references to

[2013-11-26 14:11] lloyd commented on #4027
spent a couple hours with @shane-tomlinson searching for regressions which might explain this data.  We uncovered issue #4030 and issue #4031.  Both regressions make me nervous.

As unlikely as it sounds, the statsd upgrade (#4031) is introduced between train-2013.10.09 and train 2013.10.23 which is where this regression seems to be relevant.  Best theory, if this change is in fact the culprit, wo

[2013-11-26 15:43] shane-tomlinson commented on #4030
Link to flatiron/winston#227

[2013-11-26 15:43] shane-tomlinson commented on #3892
Link to flatiron/winston#227

[2013-11-26 16:11] seanmonstar commented on #4030
I have a branch that converted all of this to use intel, will run
benchmarks against it when I get back to see if I can improve things.

[2013-11-26 16:15] lloyd commented on #4030
love it, @seanmonstar.  now, go be on PTO.

On Nov 26, 2013, at 6:11 PM, Sean McArthur notifications@github.com wrote:

[2013-11-26 17:12] shane-tomlinson commented on #4030
I have tracked the problem down to these lines in winston:

https://github.com/flatiron/winston/blob/2c93353df7dd85a2b27fc3ca07e5294ff0c04097/lib/winston/transports/file.js#L168-L175

I can drastically increase performance (to ~former levels) by changing line 168 to:

[code]

[2013-11-26 17:12] shane-tomlinson commented on #4030
Also link to flatiron/winston#296

[2013-11-26 17:19] shane-tomlinson commented on #3892
Link also to flatiron/winston#296

[2013-11-26 21:50] BitPuffin commented on #4029
Ugh, figured it out, I had to compile my application with -d:ssl. Good thing to keep in mind for anyone else writing Jester applications in Nimrod planning to use Persona! Thanks for the help, Mozilla is great!

[2013-11-26 21:50] #4029 closed, assigned to nobody

[2013-11-27 06:31] lloyd commented on #2077
stale.

[2013-11-27 06:31] #2077 closed, assigned to nobody

[2013-11-27 11:33] shane-tomlinson opened #4032 "[mobile]"next" button not enabled if user not authed and experimental_emailHint specified"
STR:

1) Load up the dev RP
2) Specify an email hint
3) Open the dialog
4) If signed in, sign out.
5) Resize screen to see mobile view.
6) Why is the "next" button disabled?

MORE!

7) add one character to email address - BAM - next is enabled.

Reported originally in https://bugzilla.mozilla.org/show_bug.cgi?id=940023

[2013-11-27 14:54] abritez commented on #2034
I just attempted to build PhoneGap application using their Command Line process

[code]

I change my original get() call to a watch() . The sample i used was grabbed from here https://npmjs.org/package/express-persona

Javascript (should I be using another file?)

[code]

Watch code

[code]

OnClick call to signal Login request

[code]

Also took an unsuccessful chance at using

[code]

Everything

[2013-11-27 22:00] jaredhirsch commented on #4032
@shane-tomlinson @andymckay @callahad I don't have full context here, but I think it's probably best to merge this diff back into 10-23 and try to lump it into our release for next week. Thoughts?

[2013-11-29 10:41] michielbdejong commented on #1903
i'm using vanilla Firefox on a brand new Windows 8 laptop (only thing i changed was to install DuckDuckGo as my search engine). i can log in to voo.st using 'log in with facebook', but when i try the 'log in with your email address', after putting my email address and password into the popup, i get this error:

[code]

this problem only occurs in Firefox, not in Explorer or Chrome.

from the fact

[2013-11-29 10:47] michielbdejong commented on #1903
i'm michielbdejong on irc btw, if you want me to test or try anything to investigate

[2013-11-30 01:06] abritez commented on #3965
Same problem, and a huge deal breaker for my app since it needs to work as both mobile web app and PhoneGap hybrid. Both done work for me.  Any word on this?

[2013-12-02 11:01] csuciu commented on #3998
I'm able to reproduce this issue on Win 8.1 Pro x32/x64 and IE 11.0.9600.16438

[2013-12-02 14:53] csuciu commented on #4020
I've run test_persona_app.py with --repeat=100 on the latest desktopB2G and didn't get any failures. All rounds passed.

[2013-12-02 18:58] seanmonstar commented on #2034
A proposed declarative HTML API could solve most the rest of the issues involved, as it proposes POSTing back to a URL. See discussion: https://groups.google.com/d/topic/mozilla.dev.identity/12PW2Z-YPps/discussion

[2013-12-02 18:59] seanmonstar commented on #3965
I post about a discussion in #2034 regarding adjusting the api, here's the discussion link: https://groups.google.com/d/topic/mozilla.dev.identity/12PW2Z-YPps/discussion

[2013-12-02 23:41] pdehaan opened #4037 "Move Persona to Node 0.10.x"
With Node 0.12 forthcoming, we should move to Node 0.10 quickly so we can take advantage of any back ported security updates.

[2013-12-04 15:59] lloyd commented on #4030
@shane-tomlinson fantastic find!  the explanation of why this is as it is is here: https://github.com/flatiron/winston/blob/2c93353df7dd85a2b27fc3ca07e5294ff0c04097/lib/winston/transports/file.js#L165-L167

So... to get a patch that would be accepted upstream then we would need to determine whether the stream supported internal buffering.

It seems like the internal buffering in fs.WriteStream is

[2013-12-04 17:26] seanmonstar commented on #4030
So, benchmarking this on my machine doesn't bubble up anything noticeable to me. Or perhaps I don't know what I'm looking for.

[2013-12-04 18:06] kumar303 commented on #3384
Can we please get some documentation here? It's hard for the Marketplace team to collaborate on features because no one besides me and a few others know how things work and what's going on in Persona.

[2013-12-04 18:08] seanmonstar commented on #3384
Ah yea, these experimental features... they're going to go away (from Persona) as soon as Firefox Accounts is deployed and being used by FxOS/Marketplace...

[2013-12-04 18:09] kumar303 commented on #3384
Heh, ok. Well, in the short term the `experimental_allowUnverified` is really important to document because it produces unverified assertions which are different.

[2013-12-04 18:10] kumar303 commented on #3384
I guess I'll continue to take time out of what I'm doing to explain it to everyone else

[2013-12-04 21:10] seanmonstar commented on #4031
following your steps, when I hit ^C, it see all the processes shutdown and then a message "graceful shutdown complete..."

[2013-12-05 16:50] mattbasta opened #4039 "Intermittent "server is too busy" response for include.js"
When requesting include.js, sometimes the server responds with the text "server is too busy":

https://login.persona.org/include.js

Ideally, a file as popular as include.js would never be served by a dynamic source and should always be (mostly?) cached at the outermost layer of the stack.

[2013-12-05 17:39] shane-tomlinson commented on #4039
See #2549, #3035, #3119 and mozilla/browserid-roadmap#47 and the conversation at https://groups.google.com/forum/#!topic/mozilla.dev.identity/jXhDsQsO-fQ/discussion

[2013-12-05 17:54] callahad commented on #4032
We believe this is resolved. Closing. :shipit:

[2013-12-05 17:54] #4032 closed, assigned to nobody

[2013-12-05 18:01] callahad commented on #4026
Closing -- As I understand it, the es and pl localizations are there as a result of FxOS business requirements, and MoCo legal is uncomfortable with community-driven localization of legal documents.

[2013-12-05 18:01] #4026 closed, assigned to nobody

[2013-12-05 18:04] callahad commented on #4027
Leading theory (especially since we've now seen this in current production with #4039) is that AWS performance goes crappy over the holiday shopping season.

Mitigation plan: dramatically increase the `maximum_event_loop_lag` config variable to effectively disable toobusy.

[2013-12-05 18:08] callahad commented on #4031
@lloyd What are you seeing when you say the processes no longer shut down cleanly?

Things _look_ clean to me, but maybe I'm crazy:

[code]

[2013-12-05 18:26] callahad commented on #4028
The assertions we generate are only valid for two minutes: https://github.com/mozilla/persona/blob/c8bbf013de28bd46536e908d7981ba8c0d23e095/resources/static/common/js/user.js#L1302-L1304

[2013-12-05 18:30] jaredhirsch commented on #4027
Hmmmmmm, this is interesting. @jrgm @gene1wood some questions:
- Are we seeing any indications of degraded performance in Opsview?
- If AWS is handing us degraded instances, should we have seen toobusy errors with the previous train?
- Or are we thinking the problem is that new instances are crappier than usual? (If that's the case, we could test it by spinning up a new cluster running the previou

[2013-12-05 18:32] callahad commented on #4028
@dustin Sorry for the delay, I didn't see this thread. I think things are behaving as intended. If you're doing local verification, you need a reliably synchronized local clock. Depending on your needs, you may want to locally add tolerance for a small amount of skew.

(Also, please make sure you're subscribed to the [persona-notices](https://mail.mozilla.org/listinfo/persona-notices) mailing list

[2013-12-05 18:32] #4028 closed, assigned to nobody

[2013-12-05 18:34] callahad commented on #4039
We suspect this is seasonal degradation in AWS's QoS. There's some ongoing discussion of that in #4027. Our current plan is to mitigate by temporarily disabling toobusy in production.

[2013-12-05 20:25] ozten commented on #4027
+1 to jrgm's patch, instead of disabling this feature.

Also, it would be interesting to monitor Node event loop latency to see AWS QoS degrade.

[2013-12-06 17:22] jedp opened #4040 "Continue button enabled too soon in password screen"
Vikas Nanda reports in [bug 944734](https://bugzilla.mozilla.org/show_bug.cgi?id=944734) that the _continue_ button is enabled when nothing is entered in the text box

steps to reproduce:
1. Start MP/Inapp Stage
2. Search and select to purchase any pricetier.
3. Select reset pin.
4. Enter login information

expected behavior:
The user is taken to the password screen, the continue button is disable

[2013-12-06 17:25] jedp opened #4041 ""Signing in" text appears in English, not local language"
Vikas Nanda reports in [bug 946290](https://bugzilla.mozilla.org/show_bug.cgi?id=946290):

If the user creates a new account they will notice the words "signing in" for a split second even though the device language is set to German

steps to reproduce:
1. Start MP in German language
2. Go to settings or attempt to purchase an app.
3. Create a new account.
4. Enter and confirm password

expected b

[2013-12-06 22:33] shane-tomlinson commented on #4040
@jedp - I'm passing this off to @seanmonstar, @callahad and @fmarier

[2013-12-06 23:35] edwindotcom opened #4042 "testidp cert expiration causes automated-tests to fail"
thanks to @jrgm who figured out that https://testidp.com cert has expired which causes automated tests to fail.

[2013-12-08 23:46] glacorSoul opened #4043 "Implement recaptcha"
I opened this issue as a request to your future implementations. Would you consider to implement [http://www.google.com/recaptcha](recaptcha) for Mozilla Persona?. This would avoid attacks that try to use a dictionary of known passwords to try login as a user (of course this only applies to the cases that your fallback comes to solve the login).

[2013-12-08 23:47] glacorSoul opened #4044 "Implement recaptcha"
I opened this issue as a request to your future implementations. Would you consider to implement [recaptcha](http://www.google.com/recaptcha) for Mozilla Persona? This would avoid attacks that try to use a dictionary of (most) used passwords to try login as a user (of course this only applies to the cases that your fallback comes to solve the login).

[2013-12-08 23:48] #4043 closed, assigned to nobody

[2013-12-08 23:48] glacorSoul commented on #4043
Sorry for the duplicate

[2013-12-08 23:56] fmarier commented on #4044
We did discuss showing a CAPTCHA when there are too many failed password attempts in #2656 but in the end we decided to simply force a password reset when that happens.

You can see the details of it here: https://github.com/mozilla/persona/commit/a0f89c4c306e765c0c84b255a70d407ca9d79d42

[2013-12-08 23:56] #4044 closed, assigned to nobody

[2013-12-09 17:56] jedp commented on #4026
I've opened [bug 947995](https://bugzilla.mozilla.org/show_bug.cgi?id=947995) to request a translation from Legal.  FirefoxOS is going to market in German-speaking countries, so we will need this soon.

[2013-12-09 18:43] edwindotcom commented on #4042
@lloyd can you renew the cert

[2013-12-09 21:36] lloyd commented on #4042
crapsticks.  On it.

[2013-12-10 10:14] lloyd commented on #4042
certificate purchased on gandi, waiting for DNS verification details - t minus 1 hr.

[2013-12-10 11:45] lloyd commented on #4042
DNS verification in progress - t minus 6 hours.

[2013-12-10 12:08] mweibel opened #4046 "Email adress verification: foo+bar@example.com won't work for account foo@example.com"
- I tried to signup with my gmail address on MDN with persona like this: `username+persona@example.com`.
- I was being redirected to the gmail select account page (as I'm loggedin with 2 accounts).
- Returning back to Persona it stated that it couldn't verify me

After I signed up using `username@example.com` and set my username etc. I tried, for the matter of this issue, to sign out and login aga

[2013-12-10 14:21] lloyd commented on #4042
resolved.

[2013-12-10 19:24] edwindotcom commented on #4042
confirmed fixed, thanks!

[2013-12-10 20:36] edwindotcom opened #4047 "automated tests failing locally with environment you requested was unavailable"
1. name sure you npm install everywhere then run this:

[code]

actual: @pdehaan and I are seeing this locally only.  Be careful to use Fx25 as Selenium doesn't fully support Fx26 (go live today)  Test passes on saucelabs.

[2013-12-11 12:03] michielbdejong commented on #1903
@shane-tomlinson do you know what could be causing the 403 there? as you can see, my browser is actually sending a cookie, including the string `can_set_cookies=1` :)

[2013-12-11 12:37] shane-tomlinson commented on #1903
@michielbdejong - Can you paste in the response both `/wsapi/session_context` and `/wsapi/authenticate_user`? Does either response say anything about cookies disabled?

Is your Windows 8 32 bit or 64 bit?

[2013-12-11 13:23] michielbdejong commented on #1903
Windows 8 type:

response body of `/wsapi/authenticate_user`:

i don't see a call to `/wsapi/session_context` but the response `/wsapi/addressinfo` is JSON:
- type: 'secondary',
- issuer: 'login.persona.org',
- disabled: false,
- normalizedEmail: 'michiel@unhosted.org',
- state: 'known'

[2013-12-11 13:24] michielbdejong commented on #1903
and here's the Cookie, in more detail:

![fullscreen capture 11-dec-13 151801](https://f.cloud.github.com/assets/408412/1724040/7cb555e2-6267-11e3-9927-91ecc2361095.jpg)

[2013-12-11 13:41] shane-tomlinson commented on #1903
@michielbdejong - the httpOnly is only for the browserid_state cookie, the cookie being checked for whether cookies are enabled is the can_set_cookies cookie. mmm.

[2013-12-11 18:03] jaredhirsch opened #4048 "persona popup not opening on nightly 29.0a1 (2013-12-11)"
STR
1. open nightly
2. surf to login.persona.org
3. click 'sign in' at top right
4. nothing happens, even if popup blocker is disabled

No errors thrown in the console, not sure what's up.

[2013-12-11 18:20] seanmonstar commented on #4048
Lies! https://cloudup.com/cYACKbwuGOi

[2013-12-11 18:47] jaredhirsch commented on #4048
wat! maybe it's Mavericks specific, can anyone else try? The click does nothing. First discovered because I can't log into etherpads :-\

[2013-12-11 19:17] edwindotcom commented on #4048
i ran into this a week ago, then upgraded and it was ok again.  does this happen on other sites with pop ups?

[2013-12-11 19:24] jrgm commented on #4047
See  https://github.com/admc/wd/issues/167#issuecomment-22370195. Things work with selenium < 2.34.0, but we'll need to update wd to use versions above (which, last time I looked at upgrading, tests ran _way_ slower :--( ).

[2013-12-11 19:33] edwindotcom commented on #4047
jrgm nice find! - I'll downgrade for now till we can fix it.

[2013-12-11 19:40] edwindotcom commented on #4047
another work around is to us the current wd version fo 0.2.6 rather than lloyd's fork

[2013-12-11 20:57] edwindotcom commented on #4042
uh oh - looks like www is set but the wildcard subdomain isn't.  for example - try this url:
https://yellow-txrrw6li.testidp.org/.well-known/browserid

health-check-tests fail due to this

[2013-12-11 20:58] alex-pl commented on #3807
The issue has been fixed in the current stable release \o/

[2013-12-11 21:31] jaredhirsch commented on #4048
@edmoz Yeah, I can't log into Mozillians, Bugzilla, or etherpads.

I tried setting the debugger in Bugzilla, and the click is being handled. From there, the `navigator.id.request` call doesn't seem to do anything.

Looking at the console in nightly, I see that we're using the native Persona, not the shim. Is this maybe a warning sign related to the recently-landed gecko bits?

[code]

[2013-12-11 21:45] seanmonstar commented on #4048
wat.

[code]

[2013-12-11 21:45] jrgm commented on #4048
@6a68 - do you have dom.identity.enabled set to true?

[2013-12-11 22:03] edwindotcom commented on #4048
I'm unable to repro.  6a68 is cool to close. :cactus:

[2013-12-11 22:03] #4048 closed, assigned to nobody

[2013-12-11 22:36] callahad commented on #3807
Closing :) Thanks!

[2013-12-11 22:36] #3807 closed, assigned to nobody

[2013-12-11 23:53] jaredhirsch commented on #4048
@jrgm well done. yes, dom.identity.enabled is set to true, I forgot I was testing with the b2g simulator.

owe you a :beer: for sure :-)

[2013-12-12 17:41] callahad commented on #4047
Once #4042 is resolved, we can fix this by bumping the wd version, so long as the new version isn't prohibitively slow.

[2013-12-12 17:45] callahad commented on #4046
This _should_ work with the GMail bridge: If you type `foo+bar@gmail.com` into Persona, but select `foo@gmail.com` in the Google account picker, it should Just Work.

Is that not working for you?

[2013-12-12 17:46] callahad commented on #4042
@lloyd ping? We needs the wildcard cert!

[2013-12-12 17:54] callahad commented on #4041
As far as I can tell, it looks like we're calling gettext properly: https://github.com/mozilla/persona/blob/c8bbf013de28bd46536e908d7981ba8c0d23e095/resources/static/dialog/js/modules/complete_sign_in.js#L49

[2013-12-12 18:03] lloyd commented on #4042
DAMNIT!

On Dec 12, 2013, at 7:46 PM, Dan Callahan notifications@github.com wrote:

[2013-12-12 18:56] jaredhirsch commented on #4047
:warning:

we switched to a fork originally because wd's `browser.chain` behavior used caolan/async under the hood, which does not properly handle errors thrown within the sequence of calls, so tests were failing in unclean ways.

since that time, wd has added a promises-based API, and also added its own version of error handling for chained calls IIRC, though the syntax differs from ours.

moving

[2013-12-12 18:58] mweibel commented on #4046
At least it didn't work back then. I'll try again in order to eliminate temporary problems :)

[2013-12-12 19:57] jrgm commented on #4047
@6a68 Yeah, thanks. That was on my mind, but hadn't stated it (had just mentioned the sluggishness).

[2013-12-12 22:47] jaredhirsch commented on #4041
@mathjazz any thoughts on this one?

[2013-12-13 05:18] mathjazz commented on #4041
Looks like one of the merges removed the string from our l10n files:
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/de/LC_MESSAGES/client.po

It is marked as obsolete:
#~ msgid "signing in"

I guess something must be wrong with extract/merge scripts.

[2013-12-13 15:12] shane-tomlinson opened #4050 "Front end unit tests failing with CSP error"
in `common/js/helpers`

[code]

The failure is due to the use of `new Function()` which is forbidden with our usage of CSP.

[2013-12-13 17:43] #4050 closed, assigned to nobody

[2013-12-14 01:42] ryanseys opened #4052 "Support GMail's 'Actions in the Inbox' for 1-click email validation"
It would be great to see Persona support GMail's 'Actions in the Inbox' which will provide GMail users (or I suppose only Google Apps users now considering the GMail bridge) with the option of verifying their email address with one click (you don't have to open the email).

See here for more details: https://developers.google.com/gmail/actions/

[2013-12-14 22:32] glacorSoul commented on #4044
It seems that your implementation is not working properly. I attempted my log in so many times and it never requests a password reset.

[2013-12-14 22:43] fmarier commented on #4044
@brunoss the error message doesn't change, but it does lock the account down as far as I can tell.

Try typing in 11 bad passwords, then try logging into your account with the real password. You won't be able to and you'll have to click "Forgotten password".

If you're able to type a bad password lots of times and then still get in with the real password, that's a bug.

[2013-12-14 23:35] glacorSoul commented on #4044
Oh okay that's true. I was expecting to see (at least) a new message saying that I have made to many attempts. Sorry for the trouble! Still I had a lot of fun making a javascript code that tries to generate passwords and make login with it.

[2013-12-15 03:57] ghost opened #4053 "missing ability to set a different email at any websites which use Persona"
Hi,

This includes marketplace and mdn for example.

I have an account at MDN which uses an old e-mail address (which I can access, but no longer actively check). The old e-mail is also listed with Persona so I can log in. But I find myself unable to change the e-mail. There is no interface to do so. This is a problem.
Related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=835462
I would expect

[2013-12-15 07:12] fmarier commented on #4053
While I understand your frustration with the common problem of websites that don't provide an easy way to change your email address, it's not a problem we can fix in Persona itself.

Instead, we provide guidelines for sites that use Persona to let them easily provide that facility themselves: https://developer.mozilla.org/en-US/Persona/The_implementor_s_guide/Enabling_users_to_change_their_email_a

[2013-12-15 07:12] #4053 closed, assigned to nobody

[2013-12-16 10:00] shane-tomlinson commented on #2181
Done! Merged with c0b2bba5b334f73b7eb340107dad4864067e2582. Thanks @Somsubhra

[2013-12-16 10:00] #2181 closed, assigned to nobody

[2013-12-16 10:57] brainstorm commented on #3561
I'm actually having the same problem while using `django_browserid` in my Django app. Even if persona itself works without much issues, assets like the button/logo are not shown in my web, namely (according to Chrome's developer tool):

[code]

:-/

[2013-12-16 23:47] jrgm commented on #4042
@lloyd Do you have that dagnum wildcard cert, dagnabbit?

[2013-12-16 23:57] lloyd commented on #4042
:sadface:, I will do this in 12 short hours.

On Dec 17, 2013, at 1:47 AM, John Morrison notifications@github.com wrote:

[2013-12-17 15:06] lloyd commented on #4042
how about now!?

[2013-12-17 15:57] jrgm commented on #4042
Hmm. While this works on chrome, safari, opera, and IE, Firefox is reporting 'The certificate is not trusted because no issuer chain was provided.'

[2013-12-17 16:33] lloyd commented on #4042
which firefox version?

On Dec 17, 2013, at 5:57 PM, John Morrison notifications@github.com wrote:

[2013-12-17 16:38] jrgm commented on #4042
Something changed; it works now (even looks different on ssllabs).

[2013-12-17 16:38] #4042 closed, assigned to nobody

[2013-12-17 16:40] lloyd commented on #4042
I believe this was my error.  it seems gandi updates their intermediate certificate at some frequency, and I attached an old version of the intermediate.  Yay.  the bug that would die, has!

sorry for the fumbling.

On Dec 17, 2013, at 6:38 PM, John Morrison notifications@github.com wrote:

[2013-12-17 16:50] jrgm commented on #4042
Cool. Thanks.

[2013-12-19 17:34] callahad commented on #4052
+1, this sounds neat. Would merge a pull request doing this.

[2013-12-19 17:44] ryanseys commented on #4052
Glad to hear about interest for this. For best results, a [Go-to Action](https://developers.google.com/gmail/actions/actions/actions-overview#go-to_actions) would likely be best. Simply use the same URL for verification that is used now in the body of the email.

[2013-12-19 17:48] ryanseys commented on #4052
I will happily take this one on. Doesn't seem too hard. Any pointers to docs for testing mail delivery?

[2013-12-19 22:41] satdav commented on #4016
@callahad  when is that planned for production

[2013-12-19 23:11] callahad commented on #4016
We've run into unexpected issues deploying. Given other QA / Ops constraints, it will likely not happen until February. :(

[2013-12-20 00:12] mattbasta opened #4055 "If Persona's login dialog is blocked by the popup blocker and the popup is allowed, it is blank"
STR:
1. Trigger Persona's `navigator.id.request()` from something other than a user action
2. The popup blocker will kick in
3. Manually allow the popup

You'll see the login dialog load, but there is no text, only the big arrow in the background.

[2013-12-21 01:32] ILMostro opened #4056 ""Sign-in with Persona" popup Window stuck with "Mozilla" animation"
## What did you do?

1.visited https://developer.mozilla.org/en-US/Apps?redirectlocale=en-US&redirectslug=Apps
2. clicked on "Sign-in with Persona" button
3. popup window opens up prompting for username/e-mail
## What happened?

"Mozilla" animation 'zooms in' and stays enlarged, blocking the view of the rest of window contents after clicking on the "Sign in with Persona" button on developer.mozill

[2013-12-21 05:20] ryanseys commented on #4052
After much fiddling and reading docs, I got something working!

![screenshot 2013-12-21 00 07 47](https://f.cloud.github.com/assets/163873/1795293/2bed9ec8-69fe-11e3-9556-8a6b5f2735f0.png)

However, the button, when clicked, is then blocked by Firefox popup blocker (D'oh!)

Things learned so far:
- only registered companies and products can use this feature right now. We can fill out [this Google

[2013-12-21 05:28] ryanseys commented on #4052
MVP 1 in PR #4057

[2013-12-21 12:11] ghost commented on #3762
Its already solved

[2013-12-23 21:31] jamesshore opened #4058 "Slow activation emails from fallback IdP for all Microsoft controlled email accounts"
I've had two subscribers over the last two days complain that they didn't get an activation email from Persona after creating a Persona account. From my records, it looks like they each waited about 30 minutes before complaining.

I've just tried creating a new account myself (at 1:10pm Pacific time on Dec 23rd). As of 20 minutes later, no activation email has arrived.

Is something broken in the

[2013-12-23 21:34] jamesshore commented on #4058
I'm fairly certain this is specific to the fallback IdP. The two subscribers used @live.com and @outlook.com; my test used @jamesshore.com.

Most of my subscribers use a BigTent email (@yahoo.com or @gmail.com). The last non-BigTent subscription I had was on Dec 21 at 8:44pm Pacific time. Assuming they didn't already have a Persona account, that means this issue is new in the last two days.

[2013-12-23 21:43] jamesshore commented on #4058
I've just heard from one of my subscribers that the activation email came through for them, about 2.25 hrs after subscribing. I haven't seen mine yet (33 minutes after signing up).

[2013-12-23 21:50] seanmonstar commented on #4058
It could be our email queue is blocked up, but I don't have the credentials
to log in and check it.

[2013-12-23 22:13] jamesshore commented on #4058
My test activation email came through after 59 minutes. I've updated the issue title from "No activation emails" to "Slow activation emails."

[2013-12-24 03:13] gene1wood commented on #4058
I'll take a look at the SocketLabs queue

[2013-12-24 03:19] gene1wood commented on #4058
Indeed, we're seeing delayed delivery on emails destined for many microsoft domains (e.g. hotmail.com live.com outlook.com and country localized hotmail.com sites. Note the problem is only affecting microsoft properties. I'll open a ticket with Socketlabs to find out what's going on.

[2013-12-24 03:28] gene1wood commented on #4058
I've opened a critical ticket with Socketlabs (#BJB-343-83383) on this issue

[2013-12-24 03:29] jamesshore commented on #4058
Thanks!

[2013-12-24 17:07] gene1wood commented on #4058
I got word back from our email provider. Microsoft is deferring our inbound emails. I'll continue to try to determine why this is happening.

[2013-12-25 01:23] gene1wood commented on #4058
I've added an SPF record in hopes of convincing microsoft that our mail is valid. I'm considering trying to cut us over to Amazon SES since socketlabs support is gone for the holidays

[2013-12-25 03:08] seanmonstar commented on #4058
You rock Gene, I don't care what Lloyd says.
On Dec 24, 2013 5:23 PM, "Gene Wood" notifications@github.com wrote:

[2013-12-26 07:08] gene1wood commented on #4058
The Socketlabs support department re-opens in about 7 hours. I've asked them to do whatever they can to resolve this. I haven't cut us over to AWS SES as I'm not comfortable doing so without testing in staging first and am hoping that Socketlabs can fix this in the morning and I can avoid calling a firedrill with QA. So far we're up to 8000 microsoft emails delayed.

[2013-12-26 15:54] gene1wood commented on #4058
Socketlabs has done some magic on their side and the issue appears to be resolved. The microsoft domains have all flushed their email through

[2013-12-26 18:24] gene1wood commented on #4058
Got some further info back from socketlabs. Microsoft doesn't have much insight beyond suggesting we join 2 programs to get feedback when this type of thing happens, but I suspect we can't do that since socketlabs is the email agent not us.

Socketlabs is seeing an increase in "Hard failure rates" though I'm not sure what this is. I'll try to find out more.

Though I don't think this is what is ha

[2013-12-30 19:43] bryandonnovan commented on #4058
I tried registering a new hotmail address -- more than 2 hours later, still no confirmation email received.  Similar reports received from customers.

I tested the fallback IdP using my vanity domain name, and the email was received instantly, as expected.

[2014-01-02 17:07] gene1wood commented on #4058
The queue has appeared good (not filling with microsoft destined emails) but there were 2 mass deliveries on Monday around 10am PST and noon PST. These could have been flushes of microsoft email that was being delayed prior to Monday 10AM PST. I've started a thread with the identity team here at Mozilla to discuss how to proceed (changing email providers, etc)

[2014-01-02 18:39] #3762 closed, assigned to nobody

[2014-01-06 09:31] graue commented on #2427
Why is the callback argument deprecated? How else are you supposed to know that the logout has completed and it's safe to redirect to a different page?

This issue is the only relevant search result I could find — [MDN docs don't mention the callback](https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.logout) or explain what to do instead.

Edit: Sorry, I'm a moron. 30 more seconds spen

[2014-01-06 09:45] fmarier commented on #2427
@graue the callback has been moved to [navigator.id.watch()](https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.watch).

See https://developer.mozilla.org/en-US/Persona/Quick_Setup for how everything fits together.

[2014-01-06 10:00] graue commented on #2427
Thanks, Francois — I'd sort of figured it out, but this will be useful because `navigator.id.watch` seems to require a different architecture from what I've got now.

[2014-01-06 11:33] shane-tomlinson commented on #4056
@ILMostro - I just tested MDN without a problem, we need some more info to be able to reproduce.

1) What browser/OS combination are you using?
2) If Firefox, does the problem go away if you disable all extensions?
2a) If yes, have you tried disabling each one, one at a time, to see what is causing the problem? If so, can you let us know which?
3) Does the same problem occur if you are using a fre

[2014-01-06 18:31] gene1wood commented on #4058
We also saw a mass delivery on 12/29 which I hadn't noticed before. We've seen no further flushes and the queue size has remained steady since 12/30

[2014-01-06 20:13] callahad commented on #4056
Thank you for filing the bug report! Screenshots would also be really useful, if you can take some.

[2014-01-06 21:06] nickdesaulniers commented on #3966
Bump and reference #3693 & #4022 & [temp soln](https://github.com/mozilla/persona/issues/3693#issuecomment-21391411).

[2014-01-08 22:59] seanmonstar commented on #3966
This is fixed in https://github.com/mozilla/persona/commit/43ed85c30f65aafe668ff21f1495e6461f2cdfee but hasn't rolled to production yet.

The trains seem to have run into a dogpile.

[2014-01-10 22:48] jds2501 opened #4064 "[B2G] Sign In to Persona screen keeps reloading when user attempts to enter in sign in credentials"
Cross post of bug 958230 (https://bugzilla.mozilla.org/show_bug.cgi?id=958230)

Description:
The user is unable to Sign In to Marketplace as the sign in page keeps reloading every time the user taps in the field to enter credentials. After a few attempts the window just closes and requires to relaunch Marketplace.

Repro Steps:
1) Updated Buri to BuildID: 20140109004002
2) Open Marketplace
3) Open

[2014-01-10 22:49] jds2501 commented on #4064
FWIW - multiple people on the QA team have confirmed reproduction of this bug. We can't get the debug logs here though, as if you kill the b2g process & restart the debug pref set, then this bug goes away.

[2014-01-11 00:37] jds2501 commented on #4064
Closing this out in github - looks like the problem is in gecko, not in persona.

[2014-01-11 00:37] #4064 closed, assigned to nobody

[2014-01-11 12:18] ILMostro commented on #4056
I'm having difficulty reproducing it now, as the "animation" seems to have changed; whereas before, the "Mozilla" letters would zoom in and (hopefully)out, now the animation is a "sideway arrow"(for lack of a better term) that displays properly.

As for my system:
-    Fedora19(64bit)
-    Firefox 26 (haven't had chance to test w/out extensions); though, adblocker _does_ cause some trouble on a fe

[2014-01-11 12:18] #4056 closed, assigned to nobody

[2014-01-11 14:15] kornelski commented on #4009
There's also https://bugzilla.mozilla.org/show_bug.cgi?id=759452

[2014-01-11 14:32] kornelski opened #4065 "Login form implementation makes most password managers useless"
#314 and #4009 seem to be focused on Firefox. However, Firefox-only hacks for Firefox's password manager are not satisfactory. Persona password saving is broken in Chrome, Safari and Opera as well.

I have configured my browsers to delete all cookies every time I quit them, which isn't problematic on normal websites where thanks to auto-saved passwords I can literally login with 1 or 2 clicks.

Ho

[2014-01-13 13:17] sudheesh001 opened #4066 "Login via persona doesn't work through Safari"
#### Websites tested on:
- mozillians.org
- bugzilla.mozilla.org
#### Safari Version 7.0 (9537.71)
#### OS  : Mac OS X Version 10.9 Build 13A603 (Mavericks).

---
#### Current action:

Clicking the button doesn't open a new window for persona login.
#### Required action:

Clicking the button should open a new window for persona login.

Working perfectly on
#### \* Firefox
#### \* Nightly
#### \* C

[2014-01-13 13:34] shane-tomlinson commented on #4066
@sudheesh001 - I am unable to reproduce:

![screen shot 2014-01-13 at 13 31 13](https://f.cloud.github.com/assets/848085/1900691/0c08df08-7c57-11e3-9474-00df6355619f.png)

Do you have any non-standard settings or any plugins installed?

[2014-01-13 13:35] shane-tomlinson commented on #4066
My Safari version is 7.0.1 instead of 7.0 as noted by @sudheesh001.

[2014-01-13 13:42] rashoodkhan commented on #4066
I can confirm this issue running on OS X 10.9 - Safari 7.0

[2014-01-13 21:35] callahad commented on #4065
Sorry about the delay -- we've been stretched pretty thin, but we are working. Any of these things would help speed this up:
1. Links to good documentation on how major browsers and password managers behave. What is Chrome expecting to see? LastPass?
2. Human-language explanation of what a patch would need to do.
3. A patch itself.

[2014-01-13 21:41] callahad commented on #4066
Thank you for the detailed report @sudheesh001, and thanks for confirming, @rashoodkhan.

I cannot reproduce the issue. I'm using OS X 10.9.1 (13B42) and Safari 7.0.1 (9537.73.11).

Does anything strange show up in the Error Console (Develop -> Show Error Console)? Does the problem still exist after upgrading to 10.9.1 and Safari 7.0.1? The "Develop" menu can be enabled in Preferences -> Advanced.

[2014-01-13 21:52] fmarier commented on #4066
@sudheesh001 and @rashoodkhan, can you open https://people.mozilla.org/~fmarier/troubleshoot.html and provide a screenshot of what you see there?

[2014-01-14 01:41] #4027 closed, assigned to nobody

[2014-01-14 02:24] sudheesh001 commented on #4066
@callahad , Checking from the Dev Tools on Safari, Here is what I get when I click on the Login Via Persona button.

[code]

@fmarier Here is the screenshot of the troubleshooting test.
![screen shot 2014-01-14 at 7 44 21 am](https://f.cloud.github.com/assets/4545925/1907151/f81b3d12-7cc2-11e3-9462-0f019e969908.png)

[2014-01-14 02:26] fmarier commented on #4066
Hm, your sessionStorage and localStorage are not working... Are you running with extra privacy settings?

[2014-01-14 02:29] sudheesh001 commented on #4066
Nope. I just have System Proxy settings enabled. (HTTP, HTTPS)

[2014-01-15 00:54] seanmonstar opened #4067 "logging into RP on stage logs out immediately after"
Goldilocks came home, breaking everything. You big jerk.

Problem:
`if (!observers.onlogout) rp_api = 'stateless';`

It's supposed to be `logout`, without the `on`, and so all requests converted to goldilocks, and so everyone's onlogout() was being called. Blocks train-2013.10.23 deployment: https://bugzilla.mozilla.org/show_bug.cgi?id=958719

[2014-01-15 03:16] jrgm opened #4069 "Incorrect check of type for loggedInUser (from GH-2647)"
This code:

https://github.com/shane-tomlinson/browserid/blob/dev/resources/static/include_js/_include.js#L314-L320

is just wrong according to the original statement at https://github.com/mozilla/persona/issues/2647

[code]

`false` is not an allowed value by that check.

You can reproduce this with the STR at https://bugzilla.mozilla.org/show_bug.cgi?id=958719#c4, and loading https://popcorn.web

[2014-01-15 22:14] seanmonstar commented on #2647
this is in train-2013.10.23

[2014-01-15 22:14] #2647 closed, assigned to nobody

[2014-01-16 17:38] callahad commented on #4055
Triaging as 1-star. Calling `request()` without user action is not intended to work.

Leaning toward wontfix -- @fmarier @seanmonstar, care to weigh in?

[2014-01-16 17:39] callahad commented on #4058
This has been resolved. Closing.

[2014-01-16 17:39] #4058 closed, assigned to nobody

[2014-01-16 17:43] mattbasta commented on #4055
In this instance, it's not that the user did not choose to open the popup,
it's that persona is being triggered inside an iframe via postmessage,
which does not carry user intent.
On Jan 16, 2014 9:38 AM, "Dan Callahan" notifications@github.com wrote:

[2014-01-16 17:46] callahad commented on #4065
Triaging as 3-stars; most users authenticate via a bridge, avoiding the Persona password form altogether.

[2014-01-16 17:48] callahad commented on #4066
@sudheesh001 You're not in Private Browsing mode, are you? Also, does upgrading to OS X 10.9.1 / Safari 7.0.1 fix it?

[2014-01-16 17:50] callahad commented on #4066
Triaging as 3-star -- bump to 4 if we can reproduce the issue.

[2014-01-16 19:41] sudheesh001 commented on #4066
@callahad , No I am not using Private Browsing. Upgrading to OS X 10.9.1 and Safari 7.0.1 doesn't still fix it. It still doesn't show the new window for the Persona, ends up moving to `www.mozillians.org/en-US/#` as soon as I click on the persona login. Still works fine on, Nightly UX, built from source. Built from `http://hg.mozilla.org/projects/ux/rev/b36251192036`

![screen shot 2014-01-17 at 1

[2014-01-16 19:58] fmarier commented on #4066
Something is wrong with @sudheesh001 ' s browser and it would be great to know why localstorage and sessionstorage don't work.

We can't really do much if we can't reproduce it though.

[2014-01-16 20:05] fmarier commented on #4065
Passwords managers should work better once sites start using the `email` option to `navigator.id.request` (which isn't implemented yet).

[2014-01-16 20:25] callahad commented on #4066
@sudheesh001 What is the full output of `defaults read com.apple.Safari`? (You may want to double-check and remove personal data before pasting -- especially the "RecentSearchStrings" key)

(Keys that may exist and be particularly interesting: `WebKitStorageBlockingPolicy`, `WebKitDatabasesEnabledPreferenceKey`, and `WebKitLocalStorageEnabledPreferenceKey`)

[2014-01-17 10:38] sudheesh001 commented on #4066
@callahad  , After deleting a few sensitive data here is the output of `defaults read com.apple.Safari` ,

[code]

Also couldn't find all 3 keys given.
1. `WebKitStorageBlockingPolicy`
2. `WebKitDatabasesEnabledPreferenceKey`
3. `WebKitLocalStorageEnabledPreferenceKey`

[2014-01-17 16:49] mattrco opened #4072 "Popup does not show login form in Firefox if Selenium IDE is running"
System is Ubuntu 12.04 with Unity. Firefox 26.0 with Ubuntu addon applied. Selenium IDE 2.5.0.

As you can see from the screenshot, the popup has launched but the login form is not visible. It works fine without Selenium IDE running.

![persona_popup](https://f.cloud.github.com/assets/207735/1942248/4a1d9ad0-7f96-11e3-8c86-6f5a8294a692.png)

(This was reported in IRC earlier).

Any input on why th

[2014-01-18 00:17] kumar303 opened #4073 "Unverified login not working on Android"
The Firefox Marketplace uses `experimental_allowUnverified=true` and `experimental_forceIssuer=firefoxos.persona.org`. This works fine on Firefox OS but on Android every call to `id.watch()` results in `onlogout()`.

STR:
- Install Nightly on Android
- install this add-on to get payment settings: https://addons.mozilla.org/en-US/android/addon/dev-marketplace/
- on Nightly, go to about:config, type

[2014-01-19 01:19] daleharvey opened #4074 "Ability to have persona work in dev / offline mode"
Switching to a persona based login has given me a problem, its now a huge hassle to develop my application offline

I have some conditional code that works around the problem, but its rather unweildy, I can write a more elegant shim, but this seems like a problem for every person who will use persona and should have an easy path to degrading.

Not talking about a way to make browserid itself work

[2014-01-19 20:12] jaredhirsch commented on #4074
doh! sorry @daleharvey, accidental click

[2014-01-21 19:39] callahad commented on #4073
Parallel bug in Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=939328

Off the top of your head, do you know if `allowUnverified` and `forceIssuer` are working properly in other contexts and/or without that add-on? With `dom.identity.enabled` set to `false`, Fennec should be using our polyfill, which is identical for all browsers...

[2014-01-21 21:27] kumar303 commented on #4073
We've never really used allowUnverified + forceIssuer on the web polyfill. Up until now we've always done it natively on B2G. Does anyone else use allowUnverified + forceIssuer on a web polyfill?

[2014-01-21 21:45] callahad commented on #4073
@kumar303 As far as I know, you guys are the only consumers of those features, and I think we may have been under the impression that they were B2G-only when implementing them. Using them on the web is not recommended and is likely to be pretty buggy. :(

[2014-01-21 22:21] kumar303 commented on #4073
OK. This is what I suspected. One of our goals is to ship payments on Android and this is a blocker right now which is why I filed.

[2014-01-21 22:47] callahad commented on #4073
Absolutely. Is it possible for you to not use those features on Android? I'm still digging a bit. Will have a nice jsfiddle up soon.

[2014-01-21 23:33] callahad commented on #4073
Fiddle: http://jsfiddle.net/5GBNj/

[2014-01-21 23:50] callahad commented on #4073
As far as I can tell, we're not taking unverified identities into account when checking against `loggedInUser`. Thus, Persona thinks the user should be logged out, and `onlogout` fires automatically.

You can confirm this per the steps below:

### Precondition: user is logged in with an unverified email.
1. Load http://jsfiddle.net/5GBNj/
2. Click "Configure Polyfill"
3. Click "Request Email"
4. E

[2014-01-21 23:52] callahad commented on #4073
@kumar303 Suggested workaround: Can you ignore `onlogout` events that fire before `onready` is called? This would effectively delegate session management to your own session cookie, and take Persona out of that loop.

[2014-01-22 00:08] kumar303 commented on #4073
I can't think of an easy way to ignore onlogout because we rely on it to know when to wipe out the previous user's saved payment tokens. Without onlogout we'd have security issues when switching users.

[2014-01-22 01:47] callahad commented on #4073
@kumar303 If you absolutely must have `forceIssuer`, can you drop `allowUnverified`? That should work with `loggedInUser` the way you want it to.

[2014-01-22 01:50] callahad commented on #4073
Hm... actually, that doesn't seem to work :(

[2014-01-22 03:36] sudheesh001 commented on #4066
@callahad , @fmarier ,

Update : Tried with another friend's Mac to login via persona using Safari, worked well on Safari on windows. This looks more like a Mac issue.

[2014-01-22 17:54] kumar303 commented on #4073
we use allowUnverified so that someone can make a payment when first unboxing their phone. This was designed for newly purchased Firefox OS phones and since Android is a similar mobile environment we decided we wanted it there too.

[2014-01-22 18:17] callahad commented on #4073
@kumar303 /me nods.

I don't think we'll be able to fix this bug on our end in time for you guys to hit Q1. Moreover, I believe we'd have to change our API to fix it: the `forceIssuer` and `allowUnverified` parameters will need to move into `.watch()` so that they're available at initialization time.

Practically, the way we're going to solve this is to work with what's currently in production, wh

[2014-01-22 19:01] callahad commented on #4073
(I see the same behavior&mdash;Persona wants `loggedInUser` to be `null`&mdash;with just `forceIssuer`. Fiddle: http://jsfiddle.net/F9ABG/1/)

[2014-01-22 20:38] callahad opened #4075 "Observer API + forceIssuer is ignorant of user state"
(Riffing off of #4073)

When inspecting `loggedInUser`, the Observer API only checks against normal, federated user state. Thus, if an RP uses `experimental_forceIssuer`, Persona will always erroneously expect `loggedInUser` to be `null`.
### Steps to Reproduce
#### Setup: Log into an RP with forceIssuer
1. Visit http://jsfiddle.net/MWNBg/
2. Click "Configure Polyfill"
3. Click "Request Email"
4.

[2014-01-22 20:41] callahad opened #4076 "Transition to Primary does not attempt to authenticate"
When an address transitions to primary, after notifying the user, Persona loads the IdP's authentication page, without first attempting to provision the user.
### Steps to Reproduce:
1. Set up a fallback account:
   1. Visit http://jsfiddle.net/JywCE/ and log in with `<whatever>@mockmyid.com`
   2. Create a password.
   3. Verify your email address (visit `http://<whatever>.mailinator.com`; MockMy

[2014-01-22 20:54] kumar303 commented on #4073
User switching: Users can log out of the payment screen in two ways:
1. from the Marketplace (which shares the same domain name) they can log out/in via Persona
2. when the payment screen asks for a PIN they can choose 'forgot PIN' and eventually they'll be logged out

The case no. 1 is the most common and this is what we rely on `onlogout` for. When a user logs out of Marketplace, we get the sing

[2014-01-22 20:57] kumar303 commented on #4073
Oh I just saw the thread of moving to Firefox Accounts. That might solve everything ;)

[2014-01-22 22:33] callahad commented on #4073
@kumar303 If FxA is the plan of record, then you're set, but just in case delays or anything else happens, here are some thoughts on a Persona solution:
1. Ideal: Switch to FxA.
2. Second Best: Use normal (federated, verified) Persona on Desktop/Android.
3. Third Best: Ignore automatic login / logout.

Even under # 3, I think you can still get your two scenarios to work correctly. What I'm thinkin

[2014-01-22 23:11] callahad opened #4077 "Account manager styling broken on Safari"
1. Go to http://123done.org/
2. Sign in with `<whatever>@mockmyid.com`
3. Open a new tab, go to https://login.persona.org

Observe the broken CSS:

![screen shot 2014-01-22 at 17 08 34](https://f.cloud.github.com/assets/24193/1980068/6e775826-83ba-11e3-90b7-289f50482b2f.png)

Resizing the window even slightly causes a re-flow and everything looks great:

![screen shot 2014-01-22 at 17 11 14](https

[2014-01-23 00:45] seanmonstar commented on #4077
This only started today? Or could it be a bug in a recent Safari update?

[2014-01-23 00:54] edwindotcom opened #4078 "sign into marketplace results in 504 error"
1. with browserid 10.23 running on persona
2. goto marketplace.firefox.com
3. click sign in

result: pop up pops, then you see this:

![nsnuvbs](https://f.cloud.github.com/assets/3698618/1980795/01a7d69e-83c9-11e3-94e7-e9481a20cad0.png)

I also saw a timeout using user@hotmail.com

we've rolled back 10.23 till this is resolved.

[2014-01-23 02:07] jaredhirsch commented on #4077
Hmm. I cannot repro.

Safari Version 7.0.1 (9537.73.11)
Mac: Version 10.9.1 / Build 13B42
(click the OS version number in About This Mac to see the build number)

Note that we've had problems with page layout in Safari private mode long ago, eg #3219 (wontfixed) and #3929 (lingering, open, two star). Maybe this is a clue to why layout looks funny now for some people under some circumstances.

On J

[2014-01-23 10:30] fmarier opened #4079 "Move the server-side email associations to the client"
Currently the Persona shim and fallback IdP are integrated in several ways. One of these is the fact that the shim is storing email associations server-side instead of in local storage.

There are a few reasons to get rid of these associations and go to a "one email per account" model:
1. native implementation in Firefox shouldn't have to ping the server to get a list of emails, it should be store

[2014-01-23 10:32] fmarier commented on #4079
I've started working on the first item from this branch: https://github.com/fmarier/browserid/tree/no_accounts

[2014-01-23 10:44] mattrco commented on #4072
Has anyone been able to reproduce this? No problem if not, happy to take a closer look myself.

[2014-01-23 13:31] husayt commented on #4079
Thanks for dealing with this. I will just say this is so critical, that puts our entire business in risk. We are working on getting an alternative to persona, in case if that becomes necessary. But I hope it doesn't get to that, you guys have done amazing work with Persona and we love using it.

[2014-01-23 14:02] callahad commented on #4077
Strange, I can reliably repro with identical builds of Safari and OS X.

As long as I have an active Persona session, regardless of tabs are open, all I have to do is:

Cmd-T, login.persona.org, Return.

Sometimes it's less bad than others:

![screen shot 2014-01-23 at 8 01 56](https://f.cloud.github.com/assets/24193/1985000/0a031f6a-8437-11e3-9880-120c10f97250.png)

[2014-01-23 17:56] callahad commented on #4072
I can reproduce this. It seems like Selenium IDE's click event is not a "real" click, as Firefox's popup blocker tried to stop the Persona popup on my end. We currently don't recover well if the popup is blocked (#4055). :(

Would the Selenium WebDriver work for you, instead?

[2014-01-23 17:57] callahad commented on #4072
(Initially triaging as 2-Star)

[2014-01-23 17:58] callahad commented on #4073
(Triaging as 1-star, as Marketplace is planning on switching to FxA instead)

[2014-01-23 17:59] callahad commented on #4075
(Triaging as 1-star, as Marketplace is planning on switching to FxA instead, which would eventually obviate the need for forceIssuer and allowUnverified)

[2014-01-23 18:00] callahad commented on #4076
(Triaging as 2-star; if the user actually controls the claimed address, they'll be able to pass the authentication page. It's only a minor inconvenience.)

[2014-01-23 18:01] callahad commented on #4077
(Triaging as 1-star. It's purely cosmetic, the account manager is rarely used, and Francois is actively working to further reduce its use.)

[2014-01-23 18:11] callahad commented on #4078
(Triaging as 5-star, to ensure it does not recur before we roll 10.23 again.)

Likely related to this hotfix: mozilla/browserid_private@11e48d48b7eb75b674408a71159c696fe711368d

For testing, Marketplace has an environment that points to our staging and [updates nightly](https://bugzilla.mozilla.org/show_bug.cgi?id=884606#c14). It's located at https://identity-stage-marketplace.allizom.org/

Unfort

[2014-01-23 18:14] callahad commented on #4079
(Triaging as 4-star)

[2014-01-23 18:17] callahad commented on #4074
(Triaging as 2-star)

@daleharvey Some sort of offline / dummy shim would be really useful, but it seems like it would be best served by a separate project.

Right now, our best suggestion is to build a dev-mode back door into your own app which sets your own session cookie appropriately.

[2014-01-23 18:30] husayt opened #4080 "global logout"
What would be very useful is to have a way to do global logout. our users keep asking for this, when they are using our system from shared pc. otherwise they have to log out from our system and then go to persona website to log out from there too.

https://groups.google.com/d/topic/mozilla.dev.identity/x7YdVKpCCVs/discussion

[2014-01-23 21:08] kumar303 commented on #4073
Interesting. I didn't know we could rely on `onready` like this. If it comes to that option, I'll give it a try. Thanks.

[2014-01-23 21:10] callahad commented on #4073
You can indeed :) Discourse is actively doing that in production, so it's an OK thing to do.

[2014-01-23 21:14] edwindotcom commented on #4078
can someone cherry pick out that commit, then branch, then give us the SHA to get this on stage.

[2014-01-23 21:17] callahad commented on #4078
@edmoz In a meeting for the next half hour, will do that as soon as I'm out.

[2014-01-23 21:28] callahad commented on #4078
Why is @fmarier so fast?

[2014-01-23 21:32] fmarier commented on #4078
BTW, nobody has confirmed that removing this commit fixes the problem.

[2014-01-24 00:43] fmarier commented on #4080
Also mentioned on https://github.com/mozilla/persona-roadmap/issues/45

[2014-01-24 02:53] fmarier commented on #4080
The hard thing about this feature is the way it would work with primary identity providers. We could easily provide a logout API for the fallback IdP, but it would be incomplete.

[2014-01-24 03:39] husayt commented on #4080
You see, that would be fine. Our users who have gmail accounts don't have the problem above. They still have to use their gmail passwords to login.

[2014-01-24 10:40] mattrco commented on #4072
We use WebDriver already in some areas, so this is more for making things easier for our QA.

No big deal, but it would be great to have this fixed at some point :)

[2014-01-24 21:49] callahad commented on #4080
Closing in favor of the roadmap entry -- @husayt Thank you for the report + suggestion. We don't have an estimated timeline to addressing the issue -- it's likely that any change we make would confuse people in a different way. :) I'm not sure what the right trade-off is. Further limiting the duration of public sessions might be a good place to start...

[2014-01-24 21:49] #4080 closed, assigned to nobody

[2014-01-25 03:39] callahad commented on #4078
I am able to repro, this was introduced by mozilla/browserid_private@11e48d48b7eb75b674408a71159c696fe711368d

[2014-01-25 04:14] callahad commented on #4078
Steps to Reproduce:
1. Create a new Firefox profile and give it a [bright red theme](https://addons.mozilla.org/en-US/firefox/addon/adobe-flash/) so you know it's insecure
2. In `about:config`, set `network.stricttransportsecurity.preloadlist` to `false`
3. Spin up an awsbox
4. As the `app` user on the awsbox, set `~/config.json` to:

[code]
5. Edit /etc/hosts to point static.login.persona.org and

[2014-01-25 04:16] callahad commented on #4078
Furthermore, I can confirm that @fmarier's `train-2013.10.23-release` branch (currently mozilla/browserid_private@b710281) works properly.

[2014-01-25 04:31] callahad commented on #4078
Other notes:
- My awsbox was behaving oddly. While bisecting, I had to run `forever stopall && rm -rf code tmp/deploy* tmp/npm*` before each push to the awsbox. Otherwise, npm would fail and the service would be left in a weird state.
- Don't forget to visit https://login.persona.org and sign out before testing a new SHA.
- In the broken state, I don't see anything in the keysigner's log. It seems

[2014-01-25 04:32] callahad commented on #4078
So, in summary, mozilla/browserid_private@11e48d48b7eb75b674408a71159c696fe711368d introduces a change that breaks `experimental_forceIssuer` on the web. Marketplace breaks because it's using forceIssuer. Normal Persona works as expected.

This can be verified by allowing popups on Marketplace and manually invoking `navigator.id.request()` from the browser console. Amusingly enough, Marketplace ac

[2014-01-25 04:48] callahad commented on #4078
I've [bumped the version in the RPM spec file](https://github.com/mozilla/browserid_private/commit/2be2d217c93e6a12e74bd59eb48edaa64601d797) and [re-opened the deployment ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=960284)

I left an awsbox up at 54.204.78.24 with the bad SHA, mozilla/browserid_private@11e48d4, if you'd like to take a shortcut toward re-verifying.

[2014-01-27 18:09] callahad commented on #4078
FWIW, I seem to be able to repro locally by simply trying to use the `forceIssuer` checkbox on the local testing pages, http://127.0.0.1:10001/watch.html

[2014-01-27 19:34] seanmonstar commented on #4078
Thanks for all the debugging @callahad, I can dig in after lunch

[2014-01-27 20:14] callahad commented on #4078
**EDIT**: I think this particular comment is a red herring.

Further investigation: Locally things seem to work fine with fallbacks; the problem may be limited to primaries + forceIssuer. Put another way, `foo@mockmyid.com` will fail, but `foo@mailinator.com` will work.

[2014-01-27 20:26] callahad commented on #4078
Also, for some reason the awsbox's verification emails aren't always making it to Mailinator. You can grab them from mysql directly with `mysql -e 'SELECT secret, email FROM staged;' -u browserid browserid` as the `app` user on the awsbox, then visit `https://login.persona.org/verify_email_address?token=<secret_goes_here>`

[2014-01-27 20:42] callahad commented on #4078
@jrgm suggests that this may be because the keysigner is attempting to do a well-known lookup, but isn't allowed to actually do that. I'm a little dubious because the diff for `/bin/keysigner` doesn't actually change anything: https://github.com/mozilla/browserid_private/commit/11e48d4#diff-0, but I may be dumb.

[2014-01-27 21:47] callahad commented on #4078
The awsbox at 54.204.78.24 is now running @seanmonstar's patch, https://github.com/mozilla/browserid_private/commit/e96317f22b6e0d6d992c6494a9b64f578b3985ff

Manual testing of Marketplace and 123done shows correct behavior with both primary and fallback addresses.

[2014-01-28 00:03] daleharvey commented on #4074
maintaining a client side mock as well as the server side back door is fairly confusing, having the client lib just send a known fake assertion and letting the server pretend everything is ok is working, will try and get something working and see if it would be mergable

[2014-01-28 11:02] kahing commented on #2034
I am using persona on my own "app", which is now just a website (so no phonegap). Everything works fine, except if I use chrome on android and use the "add to home screen" feature to pin the website to the android home screen. If I do that then I get an error like https://github.com/mozilla/persona/issues/2034#issuecomment-22950021

[2014-01-28 11:20] shane-tomlinson opened #4082 "Internal Server Error when hitting /sign_in"
This is intermittent.

![screen shot 2014-01-28 at 10 47 57](https://f.cloud.github.com/assets/848085/2018414/2d25b306-880e-11e3-9bc8-c703fa046179.png)

![screen shot 2014-01-28 at 10 49 46](https://f.cloud.github.com/assets/848085/2018416/2f4d1b06-880e-11e3-88bb-054771af5e1a.png)

[2014-01-28 13:28] shane-tomlinson opened #4083 "postMessage and header errors in Chrome"
Reported by @davidascher in the #identity channel.

Two errors:
1) `Failed to execute 'postMessage' on 'DOMWindow': The target origin provided('https://gmail.login.persona.org') does not match the recipient window's origin ('https://login.persona.org').` in `communication_iframe.js:1`

2) `Refused to set unsafe header "Connection"` in provision.js:43

![screenshot 2014-01-28 11 18 43](https://f.cl

[2014-01-28 14:41] davidascher commented on #4083
FYI, the above was on Chrome Canary (34) but I get very similar things on 32.

[2014-01-28 14:49] callahad commented on #4082
Resolved by gene. Update on http://personastatus.org/. TL;DR: Same log rotation problem; same failure of our monitoring and alerting platform.

[2014-01-28 14:49] #4082 closed, assigned to nobody

[2014-01-29 02:39] mblayman opened #4084 "4 extra GET requests on every page view"
Hi, I couldn't find an email forum for Persona so my apologies if this is an inappropriate place to resolve this "issue."

I'm implementing Persona for a website I'm developing. The integration is complete and I noticed some behavior via Firebug that has me puzzled. For every single page view, I now see four additional GET requests.

GET communication_iframe (140ms)
GET session_context (190ms)
GET

[2014-01-29 02:55] fmarier commented on #4084
The Persona forum is this one: https://www.mozilla.org/about/forums/#dev-identity

I suspect that the difference you're seeing between MDN and your site is that MDN is using the [Callback API](https://developer.mozilla.org/en-US/Persona/The_navigator.id_API#The_Callback_API) whereas you are using the [Observer API](https://developer.mozilla.org/en-US/Persona/The_navigator.id_API#The_Observer_API).

[2014-01-29 02:55] #4084 closed, assigned to nobody

[2014-01-30 03:03] fmarier commented on #4078
We have reverted the offending commit.

[2014-01-30 03:03] #4078 closed, assigned to nobody

[2014-01-30 03:09] fmarier commented on #2661
Closing as "wontfix" since we can't do it on ELB.

[2014-01-30 03:09] #2661 closed, assigned to nobody

[2014-01-30 03:10] fmarier commented on #2660
Closing as "wontfix" since we can't do it on ELB.

[2014-01-30 03:10] #2660 closed, assigned to nobody

[2014-01-30 03:12] fmarier commented on #2197
Emails are sent from `no-reply@persona.org` now.

[2014-01-30 03:12] #2197 closed, assigned to nobody

[2014-01-30 03:13] fmarier commented on #1993
This depends on https://github.com/mozilla/persona/issues/4079

[2014-01-30 15:46] mgedmin commented on #3994
This bug also exists in the lt_LT translation:
![ekrano nuotrauka i 2014-01-30 17 44 48](https://f.cloud.github.com/assets/159967/2041482/a194c2c8-89c5-11e3-8060-4a128a4c8bb4.png)

[2014-01-30 16:04] mgedmin commented on #3994
The email message I got is also full of '%s', in addition to HTML tags in the text/plain portion:

[code]

(The text/html part also has a `%s` in it.  Just one.)

[2014-01-30 16:08] mathjazz commented on #3994
LT is at 100%:
https://localize.mozilla.org/lt/browserid/

At least since Nov 2:
http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/locale/lt/LC_MESSAGES/?view=log

So this shouldn't be happening.

Is it possible that we didn't have a release for almost 3 months now and latest translations didn't get included?

[2014-01-30 16:23] callahad commented on #3994
That is correct. We do not currently have a schedule for when a new release will ship.

[2014-01-30 16:33] mathjazz commented on #3994
O look, new GH comments! :-)

@callahad Would it be possible to only update translations?

[2014-01-30 16:51] callahad commented on #3994
I'd leave decision to @gene1wood and @jrgm at this point. We're looking at keeping the current version ("train-2013.10.09") in production for the foreseeable future, so we may need to re-extract the strings and do another localization pass. I believe the current strings in Verbatim are from the train-2013.10.23 branch.

[2014-01-30 17:04] gene1wood commented on #3994
I defer to @jrgm to make the call. @fmarier also probably has thoughts on it.

[2014-01-30 17:19] mathjazz commented on #3994
@callahad The latest translations we have in SVN and Verbatim are for train-2013.10.09.

[2014-01-30 18:37] callahad commented on #3994
Oh, great!

[2014-01-30 18:43] jrgm commented on #3994
We will not be changing the svn revision in this re-ship of train-2013.10.09. It will stay at r121508.

[2014-02-04 17:23] jaredhirsch opened #4085 "Persona broken with Seamonkey"
Transferred from [https://bugzilla.mozilla.org/show_bug.cgi?id=967597](https://bugzilla.mozilla.org/show_bug.cgi?id=967597) on behalf of Tim Terriberry:

[2014-02-04 17:30] fjanon commented on #1798
Is there a change in this issue (having a way to pick the language on the client)?

We are developing a site that can be used everywhere in the world, including in public access internet place or internet cafes and mainly by tourists, Which means that the user is going to want to use a different language from the system language. Someone speaking arabic or mandaring is going to have a hard time go

[2014-02-04 18:31] seanmonstar commented on #1798
At the moment, we don't have the resources to work on this (or any other issue, really).

[2014-02-04 18:33] seanmonstar commented on #4085
Is `localStorage` and `JSON` available? Or might they have been disabled?

[2014-02-04 19:12] tterribe commented on #4085
dom.storage.enabled is true, but http://dev-test.nemikor.com/web-storage/support-test/ reports "localStorage: not supported". Not sure why.

[2014-02-04 19:23] seanmonstar commented on #4085
Could cookies / website data be disabled?

[2014-02-04 19:38] tterribe commented on #4085
about:data says login.persona.org has permission "Set Cookies" set to "Allow for Session".

[2014-02-04 20:41] fjanon commented on #1798
OK, thanks.

[2014-02-04 23:51] vthunder commented on #1798
:-(

[2014-02-05 10:19] thom4parisot commented on #1798
Too bad to read that, especially after the traction the project got (and the smart Yahoo! and Gmail bridges).

Any help needed to support the project?

[2014-02-05 14:33] callahad commented on #1798
@oncletom Yeah :) The paid contributors on Persona are currently focusing on Mozilla's Firefox Accounts and Sync services, which have more urgent needs.

We're still totally committed to maintaining Persona (if it needs a security fix or other critical bugs crop up), but we don't have the manpower to do new-feature work at the moment.

A really helpful place to start might be updating the Node dep

[2014-02-05 19:23] lefos987 commented on #2034
Hi.
I tried to use Persona with a standard PhoneGap application. I keep getting the same error as the one descirbed above.
From my understanding reading through this thread it seems that there has been a fix that went through however it still does not seem to work for me. I would appreciate any indication/help of how to resolve this.
Thank you
![screen shot 2014-02-05 at 19 23 24](https://f.cloud.

[2014-02-05 20:00] djc opened #4086 "We need to finish Goldilocks"
Per @callahad:

Goldilocks solves urgent end-user pain points and paves the way for a dramatic reduction in server-side state.

[2014-02-05 21:26] callahad commented on #4086
(It's effectively done, but we don't have a tracking bug, and we haven't branched a train with it.)

[2014-02-05 22:14] callahad commented on #2034
Looks like we may need to force PhoneGap / Cordova into the redirect workflow, instead of using popups. That would require editing this set of regexes to add PhoneGap detection: https://github.com/mozilla/persona/blob/32af5485ec5368cd0634d6ebd74f9a53a37f313f/resources/static/include_js/_include.js#L133-138

Patches welcome :)

(Whitelisting isn't ideal, but it's the most expedient thing we have at

[2014-02-05 22:26] lefos987 commented on #2034
Don't know if you can find it with via userAgent but `windows.cordova` object might do the trick. What do you think?

[2014-02-05 23:00] makyen opened #4087 "Forced use of gmail authentication requires a break in the privacy wall for all users with gmail.com addresses"
One of the key points of Persona is privacy. The current required use of gmail authentication breaks that privacy wall by forcing the user to authenticate with Google. Having Persona integrated with gmail is probably something that is desired by many, probably most, users. However, it should be offered to the user as an option, not as a requirement. All email addresses should, by default, be treat

[2014-02-05 23:09] seanmonstar commented on #4087
Thanks for your concern and explaining it out to us!

Actually, Gmail is informed of your sign in action _to_ Persona, but never told where Persona will be sending an assertion, and so won't ever know which site you're really signing in to. Plus, authenticating with Gmail is only needed every so often, to create a certificate that is used to sign assertions for individual sites. If you login to mu

[2014-02-05 23:26] callahad commented on #4087
This is one of the most thorough issue reports I have ever seen. _Thank you._

This will be partially addressed by switching the Gmail bridge to OAuth, which lets us pre-fill the desired address. https://github.com/mozilla/persona-gmail-bridge/pull/114

I believe this is best addressed outside of Persona by using multiple browser profiles. Anything less is certain to leave cookies and other state

[2014-02-05 23:27] callahad commented on #2034
That sounds reasonable. I can have something up for testing tomorrow, or you could grab the repo and try it yourself :)

[2014-02-06 00:38] makyen commented on #4087
From what I have been able to determine in a brief investigation, the issue is that the authentication requests come from the IP address of the user's computer whereas an email sent/verify is not associated with the user's initiating IP address. This leaks much more information than just the standard email send/verify process.  In that process, email is sent once from persona.org and is not associ

[2014-02-06 09:19] jds2501 opened #4089 "[B2G][Marketplace][Catalan]Marketplace persona sign in password screen buttons are not properly aligned"
Users can sign into a persona profile on the marketplace. After entering an email address, the user is prompted to enter a password. At the bottom of this screen are 'Sign In' and 'Cancel' buttons. These buttons are not properly aligned/placed when the device language is set to Catalan.

Repro Steps:
1) Updated Buri to BuildID: 20140130004001
2) Set device language to Catalan(Català).
3) Launch Ma

[2014-02-06 09:19] jds2501 commented on #4089
Cross post of https://bugzilla.mozilla.org/show_bug.cgi?id=968574

[2014-02-06 12:45] lefos987 commented on #2034
Trying to test this locally. Not sure if I am doing it correctly:
1. npm install and npm start -> results in a local version running in `http://127.0.0.1:10002`
(checking the console i get the following errors:
`GET http://localhost:10002/i18n/en/client.js 404 (Not Found)`
`Resource interpreted as Script but transferred with MIME type text/html: "http://localhost:10002/common/js/templates.js".`
2.

[2014-02-06 14:42] callahad commented on #2034
Doh! You're doing everything right, but I forgot that Cordova / PhoneGap will have a `file:// URI` instead of an `http://` or `https://` URI, and we limit the available schemes here: https://github.com/mozilla/persona/blob/32af5485ec5368cd0634d6ebd74f9a53a37f313f/resources/static/common/js/lib/urlparse.js#L72-73

Basically, using `file://` opens up a lot of security issues: we can't easily differe

[2014-02-06 15:14] lefos987 commented on #2034
Thanks a lot @callahad
Yes I was pretty sure it was a problem with `file://`. Will try the iframe solution.
Just to be sure that I do not miss something obvious. There is no other way at the moment (eg. phonegap plugins)  to get Persona to work as expected in a Phonegap application?

[2014-02-06 16:22] callahad commented on #2034
@lefos987 I haven't actually worked with PhoneGap, but earlier in the thread the [Child Browser](https://build.phonegap.com/plugins/2) plugin was suggested. Maybe that will work for you?

[2014-02-07 02:05] peder541 commented on #4083
These errors seem to pop up if the user hasn't been shown the "Remember You?" screen. They persist after the screen is shown if "This session only" is selected, but I can't reproduce it after selecting "One month."

Errors happen on Firefox under these same circumstances but the console reports something different:
"The X-Content-Security-Policy and X-Content-Security-Report-Only headers will be d

[2014-02-07 15:57] callahad commented on #4087
I disagree. The confirmation email refers to the site that the user is trying to log into, which is a far more sensitive datum, and which is unavoidable for mass-market usability. Plus, your email provider can still log your IP when you retrieve that message.

Actually, the user only re-auths with Google once every few hours, regardless of the number of login attempts during that interval. :)

Tru

[2014-02-07 15:57] #4087 closed, assigned to nobody

[2014-02-10 17:01] michaellenaghan commented on #3925
I believe this is still a problem in both Safari 7 and Mobile Safari 7. In both browsers I can log into my app using Persona, but after reloading the page I'm no longer logged in. (Everything works as expected if I change Preferences from "Block third-party cookies" to "Never block cookies.")

I see people testing these issues against 123done.org. Indeed, 123done.org works--but I don't think the a

[2014-02-10 17:09] michaellenaghan commented on #3905
In case others run into the same problem I'm seeing in Safari 7 and Mobile Safari 7: the sample code on the [navigator.id API](https://developer.mozilla.org/en-US/Persona/The_navigator.id_API) page doesn't call `navigator.id.watch()` until after making a call to the home server to get the current login state. That's what [http://123done.org](http://123done.org) also does. That seems reasonable, bu

[2014-02-12 16:36] lefos987 commented on #2034
Tried the iframe solution. Basically put my login/logout buttons in an iframe served by a nginx webserver. When I click login now:
1. the persona server does indeed receive a GET request for /sign_in but does not successfully process it.
2. debugging I see that my sign_in view is not served since one of the response headers is `x-frame-deny` which i guess stops it from working (although i get 200

[2014-02-12 18:03] p0ffsrule commented on #3333
Is it OK if I try to fix this bug?  Also, could I get any relevant information I would need ?

[2014-02-12 18:23] seanmonstar commented on #3333
This is apparently by design. If the returnTo field is older than 5 minutes, we dump it: https://github.com/mozilla/persona/blob/dev/resources/static/common/js/storage.js#L181

As to whether we actually want that design, I have no idea. If we didn't it'd be a simple as changing that line.

[2014-02-12 20:01] yourcelf commented on #3333
I'd argue for not expiring returnTo's.  When the confirmation email reads "Click to confirm this email address and sign in to &lt;relying party domain&gt;", it's a lie if Mozilla doesn't sign you in to &lt;relying party domain&gt;.  At the very least, grow the timeout.  Standard email graylisting services run around a 15 minute delay, which causes all users behind such systems to not get in.

If t

[2014-02-12 20:39] callahad commented on #3333
@p0ffsrule go for it! :)

[2014-02-12 21:13] callahad commented on #2034
@lefos987 Oof. I'm sorry again about the pain here. Realistically, this might not be cleanly solvable in the near future, as we don't have a lot of development bandwidth on our side, so you might want to go with an alternative option if getting your project out the door is the most important. On the other hand, if you're enjoying hacking on this, I'd love to review a pull request to make this work

[2014-02-13 04:46] p0ffsrule commented on #3333
So, should I remove the timeout altogether or extend it to a few hours like yourcelf said?

[2014-02-13 04:49] callahad commented on #3333
I think a few hours is a more conservative change. Let's do that.

[2014-02-13 05:11] p0ffsrule commented on #3333
On it.

[2014-02-13 05:23] p0ffsrule commented on #3333
I sent the pull request.  I changed the timeout to 2 hours.

[2014-02-13 06:17] #3333 closed, assigned to nobody

[2014-02-13 09:48] lefos987 commented on #2034
@callahad sure thing! Will keep trying to see what the best way to achieve this is.
Thanks for the suggestions

[2014-02-13 10:31] zimbatm commented on #4086
![goldilocks_and_the_three_bears](https://f.cloud.github.com/assets/3248/2158835/ecc375da-9499-11e3-9fa8-ea888eadf631.jpg)

[2014-02-13 12:56] zimbatm commented on #3648
Just submitted a PR to zocial:  samcollins/css-social-buttons#70
I had to convert the AI doc into SVG. Here is the rendering that it gives in the browser:
![screen shot 2014-02-13 at 12 47 54](https://f.cloud.github.com/assets/3248/2159856/2403e0fc-94ae-11e3-91d7-0d61e308cdb5.png)
If the design is acceptable it could be added to IcoMoon.io or other services to make it more widely available.

[2014-02-13 15:22] callahad commented on #3648
That's awesome! Thanks, @zimbatm! I'm not familiar with IcoMoon or other services, but you've got my permission to submit that more broadly.

[2014-02-13 20:15] zimbatm commented on #3648
@callahad are you the designer that did the UX ? Edit: thanks. Not sure if we can submit to IcoMoon but I'll have a look.

[2014-02-13 22:10] callahad commented on #3648
Nope. Sean Martell, Stephen Horlander, Crystal Beasley, and Ryan Feeley are predominantly responsible for our UX and design. :)

[2014-02-13 23:08] zimbatm commented on #3648
@callahad i was wondering if the rendering was up to standard. the little person looks a bit squished to me but i'm not good with design.

[2014-02-14 00:19] callahad commented on #3648
He does look a little squished (at least, his neck does), but an ever-so-slightly squished icon is better than no icon in those sets.

[2014-02-14 10:42] mattrco opened #4092 "Typing in login fields on Chrome/iPad (3rd gen) requires 3 touches"
When the login form appears in Chrome on an iPad running iOS7, I need to tap the email field 3 times to get focus and the keyboard to appear. It's the same for the password field.

In contrast, with Safari it takes one touch to focus the field and bring up the keyboard.

chrome://version reports:

[code]

I can reproduce this reliably -- let me know if you need more information. I'm not even sure

[2014-02-14 16:02] khuevu commented on #3270
Hi fmarier, can I work on this issue?

[2014-02-14 17:16] seanmonstar commented on #3270
@khuevu it's yours!

[2014-02-15 10:50] inopinatus commented on #1523
Just came here after https://news.ycombinator.com/item?id=7243155. I'll repeat some of my remarks from there.

Elephant in the room: Persona is _already_ using plain DNS to find the IdP https listener to fetch the support document.

So the trust comes from verifying the certificate. If you use SRV records to locate the support document, you'd still fetch that from an https listener and verify the

[2014-02-15 11:13] skorokithakis commented on #1523
The difference is that you're introducing a vulnerability: If my identifier is me@mydomain.com, Persona verifies the cert at mydomain.com. If an attacker hijacks my DNS (easy to do) and adds an SRV record to attackerdomain.com, then all he has to do is have a valid certificate for attackerdomain.com, and he has everything I own.

You can see how this is a pretty huge hole, because the problem isn'

[2014-02-15 11:15] inopinatus commented on #1523
No, man, the SSL cert needed is still the one for mydomain.com not attackerdomain.com. This attack therefore fails. That's how SRV records work - they're like a sophisticated CNAME, not a 30x redirect.

Only, you can't use a CNAME at the apex of a domain. That's a major factor behind why SRV records were invented. (they solved some other problems along the way)

[2014-02-15 11:45] inopinatus commented on #1523
In response to your edit, I have to say I think you've misunderstood the SRV mechanism because that's actually exactly how it works and how it is supposed to work. There's no "technically work" about it - that's how SRV records function. You seem to have confused them with something that operates like a 30x redirect, where one name is substituted for another. That's not the case. SRV records work

[2014-02-15 11:52] skorokithakis commented on #1523
So you're proposing a way to discover mydomain.com? Persona already does that now (it's the default). Sounds like you're only trying to work around using a CNAME for a naked domain.

Your proposed solution wouldn't work for anything else. If I want to have a thirdd party as my IdP, (say, persowna.net), using an SRV record for the would either not work or be vulnerable. I could pretty much only spe

[2014-02-15 11:54] skorokithakis commented on #1523
What you're misunderstanding is that Persona is able to use any server as your identity provider, you just have to delegate your identity to it.

How would I securely delegate my authority to persowna.net with an SRV record? The IdP would have to have a valid certificate for mydomain.com anyway.

This issue is about DNS-based delegation, not just discovery of the original IdP.

[2014-02-15 12:30] inopinatus commented on #1523
I really think you should read the SRV RFC - it's a very simple mechanism. You just delegate something like this in your DNS:

[code]

then have the browser interpret this record as an instruction to do the following:
- Connect to sd-host.persowna.net (or sd-host2 etc) on port 443
- Make a request for https://mydomain.com/.well-known/browserid
- Validate the mydomain.com certificate of the respons

[2014-02-15 12:35] skorokithakis commented on #1523
I know how SRV records work :(

Yes and no: you're conflating two issues. One is using SRV records to discover the primary domain/webserver, which is fair enough, it would be a good fallback if the A lookup failed.

The other issue, the one discussed here (i.e. issue 1523), is _allowing pure DNS-based delegation_, i.e. **not needing a support document at all**. You would look up mydomain.com, that

[2014-02-15 12:41] inopinatus commented on #1523
I have to contradict, @fmarier says very clearly above "this proposal is not about replacing the support document".

[2014-02-15 12:44] skorokithakis commented on #1523
He means at the final IdP. Read the chain, especially this:

[2014-02-15 12:48] inopinatus commented on #1523
Oh I see. He meant an implied "but provide an extra path for discovery as well". I read the old proposal. It is flawed as you say and in several other ways besides. Perhaps we are in vehement agreement? In any case, this is the issue ticket giving consideration to proper use of DNS by Persona.

I have to leave off now, it's late here ...

[2014-02-15 20:15] jamesshore commented on #4092
I was unable to reproduce this on Chrome 31 or 32. The keyboard popped up as soon as I tapped each field.

[code]

[code]

[2014-02-17 07:20] #3270 closed, assigned to nobody

[2014-02-17 08:03] tkrajca opened #4095 "Custom Persona identity provider: 'bad signature in chain' error for a valid assertion"
Hi,

I am hitting a 'bad signature in chain' error from my Persona identity provider even though jwcrypto's check-assertion thinks it's ok (and I believe it's ok). I am using python to generate my certificate, I have tried many things but nothing seems to work.

I use the certify function from the below github repo to generate my certificate, the two commented blocks don't work with the 'bad signa

[2014-02-17 08:17] seanmonstar commented on #4095
/cc @djc

[2014-02-17 08:20] djc commented on #4095
Can you try with my original repository, https://github.com/djc/persona-totp/? The author of that fork (apparently not you? how did you get to that fork?) hacked it up in some weird ways.

[2014-02-17 08:52] tkrajca commented on #4095
Thanks for a quick reply, I think that didn't work either, although I am not sure.

I am sure it didn't work because persona now requires a "json" certificate in the form {'cert': <signed thing>} but maybe the <signed thing> would generate a correct assertion. I'll give it a go tomorrow morning and let you know.

Thanks,
Tomas

[2014-02-17 12:37] tkrajca commented on #4095
I am actually a maintainer of the repository, my employer (the organization) is the owner.

Is the code really that bad? :) So far, I have been trying to get it to work without any authentication backend and got stuck on the certificate. I tried python-jwt, python-jws and PyBrowserId, all of them ended up with correctly looking certificate and assertion but Persona didn't like any of them with the

[2014-02-17 12:49] djc commented on #4095
I don't know about bad, but many of the things you did don't make a lot of sense to me. For example, I don't think it makes sense to commit your support document in this repository; I also don't think it makes a lot of sense to commit things with lots of code commented out, or commit messages like "Bleeee :)", or replacing a templated field by a hard-coded value.

I'd be happy to work with you to

[2014-02-17 13:13] mattrco commented on #4092
Which iPad model did you use? (http://support.apple.com/kb/ht5452).

I'll update the issue when I know mine.

[2014-02-17 19:25] jamesshore commented on #4092
Mine is A1395 16GB (iPad 2).

[2014-02-17 23:57] tkrajca commented on #4095
Hi, yes, so far, I was just playing with it, trying to get it to work, got a little bit frustrated towards the end. I haven't done any dev yet as I haven't got it to work properly. So your confusion about the code is not surprising.

It would be great to work together to make it more modular but I need to get it work on our environment first.

I now cloned your repository and followed the steps fr

[2014-02-18 00:16] tkrajca commented on #4095
I could install persona on our servers to see some more debugging info about the "magic" 'bad signature in chain' error but I believe I am missing some simple thing. At the end of the day, the same code works for you.

[2014-02-18 01:20] tkrajca commented on #4095
Ok, so I cloned persona and ran the lib.primary.verifyAssertion from persona on a node.js shell as below, everything is works, yet the same assertion is rejected from login.persona.org with 'bad signature in chain'. Weird, what could be the cause, we are based in Perth, WA (if that has anything to do with it).

[code]

[2014-02-18 02:58] seanmonstar commented on #4095
What does check_primary_support say? https://github.com/mozilla/persona/blob/dev/scripts/check_primary_support

[2014-02-18 05:03] tkrajca commented on #4095
That seems to be fine, that was the first thing, I checked.

[code]

[2014-02-18 09:50] djc commented on #4095
Signing in with djc@www-dev.dec.wa.gov.au on 123done worked fine for me.

Can you open an issue against persona-totp? I'll close this one, it seems unlikely that this is a Persona bug.

[2014-02-18 09:50] #4095 closed, assigned to nobody

[2014-02-18 16:15] PanderMusubi opened #4096 "Use Gravatar on login.persona.org"
Please use Gravatar on http://login.persona.org to quickly identify with which account you are logged in.

[2014-02-19 00:48] tkrajca commented on #4095
Thank you, it indeed does work now. Not sure why, it might have been a stale cookie or something. I used different keys with persona-totp and browserid-certifier so maybe when I switched between them, the old key was cached somewhere.

Sweet, I'll shortly make some suggestions about making persona-totp more modular on the persona-totp repo.

[2014-02-19 01:54] seanmonstar commented on #4096
Considering #1589 says we won't focus on name/photo, I'm thinking this won't happen either.

Hopes are that experimentation in [FxA attached profiles](https://github.com/mozilla/fxa-profile-server) maybe deliver better ideas here.

[2014-02-19 01:54] #4096 closed, assigned to nobody

[2014-02-21 16:34] mattrco commented on #4092
The device I used is an A1430. I've no idea if that's significant, though.

[2014-02-22 15:07] PanderMusubi commented on #4096
Well, retrieving a Gravatar can be done from the front-end, in the browser. This does not concern the back-end in any way. Please see https://en.gravatar.com/site/implement/ and reconsider this request. I will help users to visually see that they have been logged in with their proper account.

[2014-02-23 01:13] jaredhirsch commented on #4086
I'm inclined to close this bug, I think it's really saying, "we need to figure out how to do releases in the new era."

Reopen if I'm wrong :-)

[2014-02-23 01:15] jaredhirsch commented on #4092
@mattcottingham Actually, it is: per [the apple support article](http://support.apple.com/kb/HT5452), A1430 is a 3rd gen iPad.

I don't have one, does anyone? Updating the bug description accordingly.

[2014-02-23 13:16] gwalzer opened #4097 "Fails to start a channel in IE10/Win7"
IE10 version:10.0.9200.16798
on Win7 professional 64bit

when making a call to navigator.id.request(), dialog.js' startChannel() fails and prints the relaySetup error: "Relay frame could not be found"

[2014-02-24 15:28] callahad commented on #4086
I like having this open as a tracking bug that we can point people to. Suggest reopening.

[2014-02-24 15:53] callahad commented on #4096
Hi @PanderMusubi -- thank you for the suggestion. I like the idea of adding profile images to the account picker as a visual aid. I've added it to the backlog of feature ideas at https://github.com/mozilla/persona-roadmap/issues/71

I'd be happy to review a pull request implementing this.

[2014-02-24 16:25] PanderMusubi commented on #4096
Thanks. (Un)fortunately I am not a JavaScript developer so I will leave it to someone else.

[2014-02-24 16:32] callahad commented on #4097
Hm. I can't reproduce that issue on Win 7 Enterprise (32-bit), IE version 10.0.9200.16721, which is the version that comes with the https://modern.ie/ VMs.

I was able to patch up to version 10.0.9200.798, which also worked as expected.

I suspect this may be an issue with your browser settings or a group policy.

On my local install's Internet Options, the Internet zone is set to "Medium-high" se

[2014-02-24 18:28] jaredhirsch commented on #4086
Sounds great :beers:

[2014-02-26 11:07] gwalzer commented on #4097
I had the same security settings on my IE as well, with the exception I'm running on a 64-bit machine.

[2014-02-26 20:09] jaredhirsch commented on #4097
@gwalzer from your comment, it sounds like the bug is unresolved for you, is that right? I'm reopening just in case. If it's actually fixed, please do actually close it. Otherwise, we're happy to continue to diagnose.

You can let us know what you see when you load this page, for instance: https://people.mozilla.org/~fmarier/troubleshoot.html

[2014-02-27 13:10] gwalzer commented on #4097
Hi Jared - thanks for looking into this again.
At this point the issues has been resolved for me.
I'm going to close the ticket.
Gil.

[2014-02-27 13:10] #4097 closed, assigned to nobody

[2014-03-01 14:58] nomicode opened #4098 "Persona lets you delete your only email"
I created a Harp.io account by creating a Persona account with the nslater@apache.org email address. I then subscribed to a Harp.io paid plan.

Today, I was trying to edit my Persona email, but I couldn't find a way to add a new one from the account dashboard. So I deleted my existing email, hoping I could add a new one. But as soon as I did that, Persona logged me out.

So that Persona account is

[2014-03-02 00:03] nomicode commented on #4098
Follow-up. It appears that I can create a second Persona account, and add the original email. This does, in fact, allow me to re-access my original Harp.io account.

I'm tempted to close this issue. But I think the original action (allowing me to delete my only email and then logging me out) is very confusing. It threw me into quite a panic.

[2014-03-02 00:50] sintaxi commented on #4098
@nslater sorry for the trouble you had on harp.io.

Persona is a different paradigm that can at times be confusing. Let me attempt to clarify...

When you authenticate with harp.io (or any other third party using persona), your harp.io account is mapped to your email address and not your persona account. That means that harp.io does not have any opinion which persona account the authentication han

[2014-03-02 02:15] nomicode commented on #4098
Thanks for the explanation.

However, from the account edit screen, there is no way to add an email. In fact, I had to look high and low through the sparse documentation to find out how to add an email. It seems quite unintuitive to me that you'd add a new email at the point of logging in, and not once you've logged in.

There _is_ an account admin, with a list of emails, and an edit button. So it

[2014-03-02 16:18] djc commented on #4098
The whole setup where a Persona account is something different than just an email address is kind of a crutch, and slated to be removed. This kind of thing should be dealt with by the RP. Apparently the Harp.io folks might not have thought this through completely?

[2014-03-02 17:28] nomicode commented on #4098
What is RP?

This seems like a Persona bug. Again, just to restate:
- Persona does not allow me to add email address from the account admin screen, once I am logged in. But it does have an _Edit_ button, and it does let me remove email addresses. This seems like an issue to me. I had to spend some time reading various pages trying to figure out how to add a new email address. It was not at all obv

[2014-03-02 17:31] djc commented on #4098
Ah, sorry, Relying Party.

The whole current setup where the fallback Identity Provider (what you see at login.persona.org, that has your account) has some conceptual clashes with the rest of Persona, which is what results in these issues. The fix will be to further limit the number of things you can do with a fallback IdP account (indeed, there probably shouldn't be a concept of "accounts" at the

[2014-03-02 18:50] seanmonstar opened #4099 "Remove account system"
Various discussions on the list have suggested we remove the password from Persona. That our usage of password contradicts our message of "killing the password".

Instead, we should send an email verification each time someone wants to use an email address, and then store the verification in "session" or localStorage for a month (if they click the "I trust this computer" option). If an email addre

[2014-03-02 19:19] seanmonstar commented on #2078
This is done. If specs need updating, file a bug of there.

[2014-03-02 19:19] #2078 closed, assigned to callahad

[2014-03-02 19:28] seanmonstar commented on #4014
Open 5-star for this long is wrong. Either this should be closed, or de-starred, or fixed asap. I'm guessing it should be closed.

[2014-03-02 19:28] #4014 closed, assigned to nobody

[2014-03-02 19:29] seanmonstar commented on #4013
Sounds like it was a bug in the simulator? Anyway, 5-star shouldn't be open this long. Closing. Feel free to throw stuff at me if I'm wrong.

[2014-03-02 19:29] #4013 closed, assigned to nobody

[2014-03-02 19:33] jcea commented on #4079
I think that implementing issue #4099 would be easier and the way to go.

[2014-03-02 19:42] jcea commented on #4099
I guess the localStorage data should be digitally signed by Persona server. How is that private key protected?. Maybe refreshing key pair frequently (each 15 minutes), delete old secret keys and keep only the public keys list of last month?.

Storing a token in the client (lets say 256 random bits), referring to an email in the server should be simple enough. The server just expires those tokens l

[2014-03-02 19:44] seanmonstar commented on #4098
I filed #4099 that would put an end to issues like this.

[2014-03-02 20:22] jamesshore commented on #4099
This sounds like a terrible user experience! Who is going to want to revalidate their email every time they delete cookies, or every month? Especially when you consider that the email often won't come through for several minutes, or the user might want to use a work machine that doesn't have access to personal email (or vice versa). What a terrible disruption for someone who just wants to log in a

[2014-03-02 20:33] djc commented on #4099
"Removing the account system" should IMO be separate from "email verification only".

[2014-03-02 21:11] wrr commented on #4099
Another approach to consider is to keep Persona password, but remove an option to associate multiple email addresses with a single Persona account. From the mailing list threads it seems like this option is often a source of confusion and can lead to problems when unrelated accounts of different users are accidentally merged.

[2014-03-02 21:25] seanmonstar commented on #4099
@djc what good is an "account" if you have to verify it every time you want to use it?

@wrr that's the premise of #4079

@jamesshore with yahoo and gmail, the majority of users don't use this password anyways. Plus, we get messages all the time that having a password for Persona sucks. Do you have an alternative?

[2014-03-02 22:31] luckyrat commented on #4099
Why not make the password optional? Default to email verification but include an option in the email to associate a password with the account.

[2014-03-02 22:46] jamesshore commented on #4099
@seanmonstar On my site, 39.8% of subscribers do not have a Google or Yahoo account. That's a huge percentage to inconvenience. (Yahoo: 2.5%; Gmail: 57.8%.)

Just because you're getting complaints about the current situation doesn't mean this is better.

[2014-03-02 22:51] sintaxi commented on #4098
@djc can you clarify? what is harp.io not doing correctly?

[2014-03-02 23:18] jcea commented on #4099
Maybe send a verification email if last verification is a month old, but allow the email to stay valid for, lets say, seven days even if the user doesn't click the link.

[2014-03-03 01:26] jaredhirsch commented on #4099
This is a cool idea. I'd love to see a prototype and maybe we can take the discussion to the list?

[2014-03-03 07:56] djc commented on #4098
Well, actually, I'm not sure if Noah tried it, but it should be possible to attach multiple email addresses to the Harp.io account in order for the Persona login to work in the face of email address transitions.

[2014-03-03 10:56] shane-tomlinson commented on #4098
@nslater - sorry for the confusion, the lack of an "add email" button from the manage screen is a long-standing issue. For background discussion, please see #421, #386, #1626, #843, and #2461.

The bug with harp.io that @djc is referring to is the fact that you should be able to delete and create a Persona account with the same email address an infinite number of times without affecting your accou

[2014-03-03 11:51] sintaxi commented on #4098
@shane-tomlinson @djc This is the way it is implemented with harp.io. I think the issue @nslater has was he was thrown off by this behaviour. When he deleted his Persona account he assumed it was lost forever and did eventually recreate a new person account to get back into harp.io but only after some confusion.

[2014-03-03 13:08] shane-tomlinson commented on #4098
Thanks for the clarification @sintaxi!

[2014-03-03 13:20] nomicode commented on #4098
@sintaxi is correct. This was PEBKAC. But the experience was alarming!

[2014-03-03 13:24] shane-tomlinson commented on #4098
@nslater - We'd love some feedback on how we could have made this less of a frustrating experience, with fewer unpleasant surprises.

It sounds like there are at least two areas of concern:
1) Lack of ability to add a new email address from the manage page.
2) Surprise that you could completely delete and recreate a Persona account with no adverse effects on the external site.

[2014-03-03 13:34] nomicode commented on #4098
Two suggestions:
1. Let me add new addresses once I am logged in.
2. Either prevent me from removing my last address, or present a notice telling me that if I create a new Persona account with the same address, I will gain access to all my other accounts.

Note that on this last point: I had initially assumed that this would be the case. This is what I tried. Unfortunately, I got my email addresse

[2014-03-03 17:20] darkwing commented on #3998
I've noticed this periodically on MDN as well.  With a Gmail account, I sometimes see this:

http://screencast.com/t/rqqpFw7M

Other times I see the error listed in the initial bug report:

http://screencast.com/t/FMi1DXDLEn

I'm having success logging in with a non-GMail account.  Could this be a sign of race condition, seeing an error on the persona side sometimes, and seeing an error on Google

[2014-03-03 17:24] darkwing commented on #3998
Admittedly we are on an older version of Persona, so please let me know if this was reported before.

[2014-03-03 17:39] darkwing commented on #3998
Additionally, if I clear my cache, I'm able to log in with any email address without issue.

[2014-03-04 06:52] dholbert opened #4102 "Clickable link area is way too wide for "Forgot your password?" link, on mobile-friendly Persona UI"
(originally filed as a [bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=978586) )

STEPS TO REPRODUCE:
1. [Prerequisite -- if you're already logged in to Persona, log out: visit https://login.persona.org/ , click "Sign In", and then "This is not me"]
2. Visit https://login.persona.org/ (or any site that uses persona for login
3. Type in the email address for your Persona account.
4. In

[2014-03-04 06:55] dholbert commented on #4102
The problem is that the `<a>` element...

[code]

has "display:block", because https://static.login.persona.org/v/4ad6e4debb/production/en/dialog.css has this style rule (inside of the mobile-detection media query):

[code]

This is a problem because a `display:block` element (with default `width:auto`) will expand to the width of its container, which in this case is the width of the whole page. S

[2014-03-06 10:29] ecthiender opened #4104 "`onlogout` callback is called as soon as a page with Persona Javascript is loaded"
I am following the example mentioned at https://developer.mozilla.org/en-US/Persona/Quick_Setup?redirectlocale=en-US&redirectslug=Persona%2FQuick_Setup . When I register the `onlogin` and `onlogout` callbacks through the `navigator.id.watch` API, as soon as the page is loaded, the `onlogout` callback is called.

As, I want to reflect the user session on the same URL page(often is the case), I am r

[2014-03-06 10:32] ecthiender commented on #4104
Even though I manage to login, (I don't reload my page in `onlogout` callback - and then the login flow works perfectly), and I reload the page inside `onlogin` callback, Persona logs the user out!

Should this be reported as a separate issue?

[2014-03-06 17:41] ecthiender commented on #4104
I am sorry. I was doing it wrong.

This was happening because of wrong usage of the navigator.id.watch API.
Looks like, you need to manage the state of user (logged in or logged out), and pass the email address of the user if she is logged in or `null` to the `loggedInUser` property.
See here for the state of loggedInUser and how Persona behaves: https://developer.mozilla.org/en-US/docs/Web/API/na

[2014-03-06 17:41] #4104 closed, assigned to nobody

[2014-03-06 19:32] jaredhirsch commented on #4102
@dholbert pull requests welcome :-)

[2014-03-08 15:21] FindYourCloud commented on #4099
Please don't remove passwords. We use it, very effective. Check out www.findyourcloud.com to see what I mean. Users like it. Your not removing the password anymore than cloud removes the data center; you're abstracting the password. There's always a password at the end of the day, making it easy to use is what I thought Persona was all about.

[2014-03-09 11:34] dporru commented on #4002
I'm new here, so if please tell me if I'm doing something wrong. I've been trying to fix this bug, but no luck.

In the window.open call, there is already a status=0, which seems to have no effect. The addon bar does disappear when the location=0 option is set. This will, however, also remove the location bar, which would be a security risk and this option is disabled in the about:config by defaul

[2014-03-10 14:47] callahad commented on #4099
We hear you.

Within the Persona team, we believe that the fallback account system is doing more harm than good, but we're not going to remove something so fundamental unless we can demonstrate that doing so is the right thing for usability.

Stay tuned to the [mailing list](https://lists.mozilla.org/listinfo/dev-identity) for more discussion. :)

[2014-03-10 14:51] #4069 closed, assigned to nobody

[2014-03-13 18:59] cvan opened #4105 "Send ETag response header for gzip'd responses"
Notice `ETag: "17318-1391802200000"` appears only when I omit the request header `Accept-Encoding: gzip`:

[code]

[code]

Regardless of whether I'm getting a gzip'd or non-gzip'd response, I should get an `ETag` response header. The value of the `ETag` should be different of course, but I should still get one if I'm getting a gzip'd response.

Also, if we're using `ETag`s, then we could remove th

[2014-03-14 07:52] cvan opened #4106 "Persona is down for me"
[code]

Is it actually just me?

![](http://f.cl.ly/items/3j1W2v1E0J1D2B2f3l3Q/Screen%20Shot%202014-03-14%20at%2012.52.12%20AM.png)

Maybe? Am I the only one?

[2014-03-14 18:53] jaredhirsch commented on #4106
Hey @cvan! Persona's status isn't a simple "up or down" question. We have a bunch of stacks in different AWS regions/availability zones, so flushing DNS might have resolved this for you--it's possible there was a transient outage for one of the ELBs, or the ELB may have simply switched IPs, which does happen without warning (a bit of a leaky abstraction).

At any rate, we have production monitors

[2014-03-14 19:18] gene1wood commented on #4106
@cvan Those ICMP (ping) packets failing is to be expected. We don't listen and respond to ICMP packets. Ping and traceroute will always respond that way.

Our internal monitoring hasn't detected any issues over the past few days (the time period you're describing) and our external monitoring service, which monitors persona from their nodes around the globe, didn't report any problems during that t

[2014-03-14 23:10] cvan commented on #4106
The `https://login.persona.org/include.js` script that we include from https://marketplace.firefox.com/ wasn't resolving, which was the first indicator that it was down for me. Thanks all for the investigation.

[2014-03-17 01:51] jaredhirsch commented on #4106
Closing, thanks for reaching out @cvan!

[2014-03-17 01:51] #4106 closed, assigned to nobody

[2014-03-20 23:50] jaredhirsch opened #4107 "Safari 7.0.3 on the way"
http://www.macrumors.com/2014/03/18/apple-seeds-safari-7-0-3-6-1-3/

We might want to grab this and verify that nothing new breaks in everyone's least favorite non-IE browser.

[2014-03-23 18:45] Osmose commented on #3866
PR #4108 submitted with fix.

[2014-03-23 23:17] #3866 closed, assigned to nobody

[2014-03-24 15:10] dmarlow commented on #2009
Any progress on desktop mode for WP?

[2014-03-24 15:50] jaredhirsch commented on #2009
dmarlow: nope, two-star bugs generally don't get much attention. Pull requests welcome :-)

[2014-03-24 18:13] ryanfeeley opened #4109 "Fira Sans font not sticking"
![not-fira](https://f.cloud.github.com/assets/68213/2503205/fd56085e-b37f-11e3-8510-8f0d6b308985.png)

[2014-03-26 19:41] jaredhirsch opened #4110 "Gather list of all outstanding security fixes"
@fmarier, we need to get together and figure out which private commits haven't been merged back to dev :neckbeard:

[2014-03-26 20:35] fmarier commented on #4110
I went through this a few months ago and found a few security fixes which had been lost, but that got fixed in the last hotfix in production and subsequently merged to dev.

Before I got pulled away from Persona, I made sure we didn't have any outstanding security bugs open and that all fixes had made it to both production and dev.

The only security-related bugs that aren't fixed are the minor on

[2014-03-26 20:40] jaredhirsch commented on #4110
oh awesome man! thanks for the info, closing

[2014-03-26 20:40] #4110 closed, assigned to nobody

[2014-03-27 04:19] jrgm commented on #4105
@cvan Sorry for a late reply. Hey, does marketplace run a fork of nginx, or use particular plugins?

[2014-03-27 15:47] clouserw commented on #4105
@oremj or @jasonthomas would know best

[2014-03-27 16:28] oremj commented on #4105
We're just using vanilla nginx 1,4

[2014-03-28 16:19] pdehaan opened #4112 "Update the "meet the identity team" wiki page"
https://wiki.mozilla.org/Identity#Meet_the_Identity_Team

A few names that may need to be added/removed.
I don't see an "Edit" button, so not sure if I have permissions to change that page.

[2014-03-28 16:21] jaredhirsch commented on #4112
Good idea, doesn't belong in the Persona repo. :beers:

[2014-03-28 16:21] #4112 closed, assigned to nobody

[2014-03-28 16:26] pdehaan commented on #4112
![and like that, it is gone](http://31.media.tumblr.com/tumblr_lioxkid0Kv1qhd0uho1_500.gif)

[2014-03-31 04:32] jrgm opened #4114 "tests failing on IE{8,9,10,11}"
After the fix in https://github.com/mozilla/persona/pull/4113 lands, there are still some broken tests, but only for IE versions.

There failures are the below (but they are a bit flaky and will sometimes pass).

`git bisect` points at https://github.com/mozilla/persona/commit/d181cef71e29669dfc450599fc0ed5581a80c0db as the "cause". Now that's seemingly unrelated to the failures below, but I think

[2014-04-01 20:36] callahad commented on #4112
@pdehaan If you log into WikiMo, you should see an edit button.

[2014-04-03 18:45] #4114 closed, assigned to nobody

[2014-04-08 22:06] ryanfeeley opened #4116 "Placeholder text missing on focused fields in IE"
Current (in IE, unsure, witnessed in usertesting.com video)

![missing-email-hint](https://cloud.githubusercontent.com/assets/68213/2649892/d0eaaff0-bf68-11e3-82f7-2065c8c889e0.png)

Proposed (and current in Firefox)
![showing-email-hint](https://cloud.githubusercontent.com/assets/68213/2649899/e78356cc-bf68-11e3-81fe-6b6e6cdc8429.png)

[2014-04-08 22:20] seanmonstar commented on #4116
IE didn't get placeholder support until version 10. So 8 and 9 won't have
one.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input
On Apr 8, 2014 3:06 PM, "Ryan Feeley" notifications@github.com wrote:

[2014-04-09 21:19] jrootham opened #4117 "Certificate error"
Verification is now returning error number 60 with message SSL certificate problem, verify that the CA cert is OK. Details: error:14090086:SS routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed

I assume this is fallout from the OpenSSH problem.  What do I need to do to fix it?

Also, I have inserted an exception in the PHP code, is that how you want this kind of error responded to?  IE

[2014-04-09 21:52] edwindotcom commented on #4117
I can repro - ops is investigating

[2014-04-09 22:02] gene1wood commented on #4117
Yes, this is due to an unintentional certificate revocation related to Heartbleed. We're re-issuing a new cert and installing.

http://personastatus.org/#1397078370

[2014-04-09 22:03] jaredhirsch commented on #4117
@jrootham Thanks so much for opening this bug! :beers:

I'm not totally sure what you mean by:

"Also, I have inserted an exception in the PHP code, is that how you want this kind of error responded to? IE should I migrate that code to the GitHub site?"

[2014-04-09 22:21] gene1wood commented on #4117
Cert has been re-issued and the service is back up.

@jrootham feel free to re-open this if you're still experiencing problems. Apologies for the outage.

http://personastatus.org/#1397081880

[2014-04-09 22:23] jrootham commented on #4117
I'm using the PHP code posted on GitHub for server side processing.  I fixed it earlier, but it does not have any error handling.  I added an exception throw to my local copy.  Should I add that to the GitHub version, or how do you want to do error handling?

[2014-04-09 22:25] jrgm commented on #4117
works for me with updated certificate for gmail and yahoo addresses wiht ff28. Thanks @gene1wood

[2014-04-09 22:31] pdehaan opened #4118 "privacy page shows old MV address"
### Steps to reproduce:
1. Search this repo for "Castro"; https://github.com/mozilla/persona/search?q=castro&ref=cmdform
### Actual results:

Three results:
1. [resources/views/pl/privacy.ejs:300](https://github.com/mozilla/persona/blob/dev/resources/views/pl/privacy.ejs#L300)
2. [resources/views/en/privacy.ejs:91](https://github.com/mozilla/persona/blob/dev/resources/views/en/privacy.ejs#L91)
3.

[2014-04-09 22:39] jrootham opened #4119 "Certificate error #4117"
I'd like to reopen this.  I am still experiencing the problem.  Do I need to reset the certificate at my end?

[2014-04-09 22:40] jaredhirsch commented on #4119
let's resume the conversation in #4117, i'll reopen it and you can comment further

[2014-04-09 22:40] #4119 closed, assigned to nobody

[2014-04-09 22:41] jaredhirsch commented on #4117
reopening as @jrootham is still seeing it. from #4119 (closed as a dupe):

"I'd like to reopen this. I am still experiencing the problem. Do I need to reset the certificate at my end?"

[2014-04-09 22:55] gene1wood commented on #4117
Ya, it looks like the old cert was indeed revoked

[code]

and the new cert is good and not revoked

[code]

[2014-04-09 22:59] jrootham commented on #4117
So what do I need to do on my end?

[2014-04-09 23:02] gene1wood commented on #4117
@jrootham can you provide some steps to reproduce this so we can look at it?

[2014-04-09 23:17] jrootham commented on #4117
On my site if I log in with my Gmail account I get the error messages above.  Earlier signing on to Voost failed as well, now it works.  Do you want more details on the code?

[2014-04-09 23:33] gene1wood commented on #4117
Or a url to the site where you see the login failure, a screenshot, or a link to the code. Does signin to voost still fail? Can you share the URL and steps you're going through?

[2014-04-09 23:39] jrootham commented on #4117
URL http://devhats.tjddev.net/
Voost works now.
Server side code is from https://github.com/mozilla/browserid-cookbook
PHP
Is that enough?

[2014-04-09 23:53] gene1wood commented on #4117
@jrootham Was this working prior to 10:00AM PDT today, or are you testing out your new code for the first time today?

Can you try updating your certificate authority store as mentioned here and seeing if that fixes it? : http://stackoverflow.com/a/21114601/168874

[2014-04-09 23:56] jrootham commented on #4117
This has been working for months.
When I clicked on the certificate link I get an alert "This certificate is already installed as a certificate authority."

[2014-04-10 17:29] gene1wood commented on #4117
The likely cause of this is that we changed our certificate the other day. It's now issued by a new certificate authority. I suspect this new CA is not in your PHP installations list of allowed CAs.

@jrootham You'll need to not click on the link to the CA store, but instead download it to your server (with the PHP code) using something like wget.

[2014-04-11 17:37] jrootham commented on #4117
I followed the instructions above.  I am still getting the error.

[2014-04-11 21:21] jaredhirsch commented on #4117
@gene1wood bump. any other suggestions? ^^

[2014-04-11 21:37] gene1wood commented on #4117
@jrootham Can you share
- the PHP code that you're using
- the on disk file location and name that you saved the certificate store to
- the file permissions on the ca store file that you downloaded
- the uid that your webserver runs as
- the output from the command `grep 'MIIDxTCCAq2gAwIBAgIQAqxcJmoLQJuPC3nyrkYldzANBgkqhkiG9w0BAQUFADBs' /path/to/cacert.pem'` where `/path/to/cacert.pem` is the full

[2014-04-11 22:03] jrootham commented on #4117
[code]

[code]

I think this means root or user 48

[code]

PHP Version 5.2.10 from phpinfo()

[2014-04-11 22:52] gene1wood commented on #4117
Cool, thank you for the details.

And can you either share your `php.ini` file (so I can see the `curl.cainfo` setting) or even better just add in the setting into the php code in the block of `setopt`s by adding this line

[code]

and see if that helps.

If that doesn't fix it, I'd like to see if the problem relates to the persona php code or specifically between php and the verifiers cert. Can y

[2014-04-12 14:39] jrootham commented on #4117
I added the code, it now works.  Apologies for being dense and fumble
fingered (I suspect that contributed to the issues).

On Fri, Apr 11, 2014 at 6:52 PM, Gene Wood notifications@github.com wrote:

[2014-04-12 23:11] gene1wood commented on #4117
Cool, glad I could help!

[2014-04-12 23:11] #4117 closed, assigned to nobody

[2014-04-15 18:51] callahad commented on #4116
Marking as good first bug. We should have some sort of fallback for placeholder text in IE 8 and 9. MDN suggests http://webdesignerwall.com/tutorials/cross-browser-html5-placeholder-text

Otherwise, Persona's not totally intelligible: "Sign into example.com with..." "with what?"

[2014-04-15 18:54] callahad commented on #4118
FWIW, according to http://www.mozilla.org/en-US/contact/spaces/mountain-view/, the new MV address is:

331 E. Evelyn Avenue
Mountain View, CA 94041
USA

Adding the "Good First Bug" tag.

[2014-04-15 22:20] jaredhirsch commented on #4116
if anyone wants this as a good first bug, ping me here and I'll provide neckbeard-level guidance on fixing without adding big libraries to the codebase :neckbeard:

[2014-04-17 06:47] yesyayen commented on #3575
Why the email address should be focused. Its not even an editable textbox.   :)
or do you mean password filed is not auto focused (as mentioned in the title)

As of now, password field is getting auto-focused when verification link is opened in a different browser. I think you can have a look at it again and close this issue.

[2014-04-17 08:50] yesyayen commented on #4118
I have modified the old MV to new MV and created a pull request. #4122
Please verify and merge.

[2014-04-18 21:55] krydos commented on #4109
Hello. I sent the pull request which fixed this problem. Problem was in css fonts inheritance.
I hope I did it right.

Thank you.

[2014-04-18 23:23] gabegorelick commented on #4097
@gwalzer How did you resolve this issue? I think I'm running into a similar problem.

[2014-04-20 03:38] jaredhirsch commented on #3994
Hey @mathjazz! Bumping this bug, we should figure out what to do for the next release. I'll ping you on list as well.

[2014-04-22 06:40] mathjazz commented on #3994
Hey, as soon as we get to ship new trains and localizations, we can fix this bug.

[2014-04-25 21:30] jrgm opened #4125 "'is this your computer' screen not being shown for train-2014.04.16"
@bobsilverberg saw this with saucelabs automation in stage where the new train was deployed this week.

[2014-04-28 00:02] jaredhirsch commented on #4125
This is weird, I'm having trouble consistently generating this screen on current production. The sixty-second wait doesn't seem to be enough. @jrgm, have you had a chance to poke at this a bit?

I'm also noticing extreme sluggishness in the current production dialog--I thought that was due to something in the latest train, but I guess not :-\

[2014-04-28 00:30] bobsilverberg commented on #4125
I'm pretty sure that I've been able to reproduce this in production as well. I was mistaken about our tests being against production, but I tested it against the live oneanddone.mozilla.org and saw the same issue.

[2014-04-28 02:26] jaredhirsch commented on #4125
@bobsilverberg thanks for the info! Yeah, I am seeing the 'is this your computer' screen, but it's oddly inconsistent. At least it seems like this wasn't introduced by the latest (2014.04.16) train.

[2014-04-28 03:39] jrgm commented on #4125
Hmm, I wrote this comment on Friday night, but apparently didn't hit the submit button (I guess):

---

git bisect says that this entered branch `dev` in https://github.com/shane-tomlinson/browserid/commit/dfac0c6a1121804c67ea280e2d3af51af659744f which is part of https://github.com/mozilla/persona/pull/3997. I can see how that makes sense w.r.t. this part of it: https://github.com/mozilla/persona/

[2014-04-28 15:39] jaredhirsch commented on #4125
Ah yeah, the context refactor. Too bad we landed some huge patches the week before priorities changed :-\

Nice sleuthing @jrgm!

I guess this doesn't break anything for users, and it's been live for a long time in production, so we can keep moving with the latest release?

[2014-04-28 15:43] jaredhirsch opened #4126 "perf issues in dialog"
The dialog is super sluggish right now on production.

I suspect this is due to the additional logging we're doing, but we need to sit down and take some measurements.

Given the current state of things, definitely not the top priority - but it does suck and should be addressed at some point.

[2014-04-28 16:54] Lennie commented on #4126
Just wondering: if it's slow, do you write to disk or console ? Have you considered doing statsd-style statistics or logging over UDP like syslog does ?

[2014-04-29 03:24] jaredhirsch commented on #4126
@Lennie - It's too early to start digging into any particular optimization; we really need to start by doing some performance analysis on the client-side. Good questions though ^_^

[2014-04-29 03:27] jaredhirsch commented on #4105
@cvan Just to be clear here, Marketplace is moving away from Persona, right? So, this is going to have limited impact for you guys?

[2014-04-29 03:28] jaredhirsch commented on #4067
I can't repro on stage, and it looks like a fix was merged months ago. Closing.

[2014-04-29 03:28] #4067 closed, assigned to nobody

[2014-04-29 03:28] jaredhirsch commented on #4037
We are handling this as part of the current train deployment.

Also, this is just not a five-star bug. Demoting to four stars.

[2014-04-29 03:35] jaredhirsch commented on #3998
Based on the notes in this bug, it seems like we have repro'd, but only on 32-bit Win 8, IE10.

Bumping down to four stars, since we've determined the extent of the impact.

[2014-04-29 04:12] jaredhirsch commented on #4125
While chatting on IRC, @jrgm pointed out that this isn't definitively proven to be out in production.

The big question is whether the 'seen' param is set in localstorage (under the 'usersComputer' key) after logging in.

STR this screen **should** be:  start with with clean profile, sign in as known user, dialog dismisses, wait 60 seconds, then pop and sign in again. Or you can check for the 'see

[2014-04-29 04:35] jaredhirsch commented on #4126
apparently this slowness (roughly 5-7 seconds between email and password, and password to "<email> verified!" screens) is just my local network, jrgm cannot repro. Closing.

[2014-04-29 04:35] #4126 closed, assigned to nobody

[2014-04-29 06:20] diox commented on #4105
On the long run, it is, but right now we are still using Persona (we haven't started implementing Firefox Accounts yet) and we still need this for performance in the meantime.

[2014-04-29 16:20] jaredhirsch commented on #4105
@diox cool, good to know. we still haven't gotten a single release out post-drama, so I really can't tell you if/when this will be resolved. But I'll mark four stars, since it's likely a simple fix, and seems to impact you guys. (Do you have any stats around the performance impact? No biggie if not.)

[2014-04-29 16:21] satdav commented on #4016
@callahad Hi Dan do you know if this has been added yet as still not working for bmo

[2014-04-29 16:23] satdav opened #4127 "Webmaker.org Persona Issue bug 1002261"
Hello Persona is having a issue with windows phones on webmaker.org

I think they have possible the same issue as BMO had but its strange about it telling you to update persona

[2014-04-29 16:36] diox commented on #4105
We have stats, but they are a bit scattered - there are some waterfalls on https://bugzilla.mozilla.org/show_bug.cgi?id=987895 , but basically just load marketplace in webpagetest, and you can see that because the client can't cache it, persona really hurts the repeat view performance.

Related: #3035 (having any of those bugs fixed would be great. having both fixed would be awesome :)

thanks

[2014-04-30 16:21] jaredhirsch commented on #4016
@satdav We certainly hope to get a release out in the next 1-2 weeks, but there's no firm timeline, because Persona maintenance is now only done outside work time. If you want to keep up-to-date on our progress, maybe subscribe to the dev-identity list :-)

[2014-04-30 16:23] jaredhirsch commented on #4127
Hi @satdav, thanks for filing this. It looks like the corresponding bugzilla bug (1002261) has been closed, so I'm going to close this bug, too.

[2014-04-30 16:23] #4127 closed, assigned to nobody

[2014-05-05 11:24] gerv opened #4128 "Please kill backup IdP account for licensing@mozilla.org"
I am licensing@mozilla.org, but someone other than me appears to be in control of the Persona account for that email address on the backup IdP. Please verify my identity and claim, and then kill it.

Thanks,

Gerv

[2014-05-05 11:24] gerv commented on #4128
(See https://bugzilla.mozilla.org/show_bug.cgi?id=999401 for why I can't just reset the password, and the discussion in mozilla.dev.identity for how we got to this place in the first place.)

[2014-05-09 14:50] julienfastre commented on #3998
Hi,

We could reproduce the bug with win 8 & IE11.

This is what we get with an attempt to connect with some *@gmail.com address :

![screen shot 2014-05-08 at 17 43 08](https://cloud.githubusercontent.com/assets/345600/2929396/1cd47774-d789-11e3-9d28-e151add4dfe4.png)

[2014-05-10 04:11] jaredhirsch commented on #4125
@jrgm - I cannot repro this error with a clean profile on stage or prod in Chrome or FF. I'm consistently getting state:seen under usersComputer. Would you mind giving it a try?

[2014-05-12 16:23] bobsilverberg commented on #4125
The test in question, that expects the 'is this your computer' screen is still failing for us in our CI against the staging server.

[2014-05-14 21:30] cappelaere commented on #2034
Bummer... I am stuck at the same place. So close....getting persona to work with Ionic-angular-cordova... Any progress by any chance?  Just asking :)

[2014-05-15 10:40] fmarier opened #4130 "Persona is blocked by the Privacy Badger extension"
If you install the EFF's latest privacy add-on, [Privacy Badger](https://www.eff.org/privacybadger) then it break Persona completely:

![persona-troubleshoot](https://cloud.githubusercontent.com/assets/167821/2983049/2589d862-dc1d-11e3-8f55-81c337b71b91.png)

Also filed upstream at https://github.com/EFForg/privacybadgerfirefox/issues/98 and fixed in pull request #4129.

[2014-05-23 19:32] jaredhirsch commented on #3998
Hi @julienfastre - thanks for adding this. Do you know if you were on win8 x32 or x64?

[2014-05-23 21:11] callahad commented on #4078
For future reference, here's a simplified way to test Persona staging against production Marketplace.
1. Create a new Firefox profile.
   - Set `network.stricttransportsecurity.preloadlist` to `false` in about:config
   - Disable popup blocking
2. Edit `/etc/hosts` to point `static.login.persona.org` and `login.persona.org` to a Staging IP address
3. Visit https://login.persona.org/ver.txt to ensu

[2014-05-23 22:31] callahad opened #4131 "Mistakenly forcing RPs to stateless ("Goldilocks") API instead of normal Observer"
We tried to deploy 90e48d0, but had to roll back due to issues with Goldilocks.

Sites like https://voo.st, https://mozillians.org, and https://air.mozilla.org would accept a login, then immediately log the user back out.

http://123done.org does _not_ exhibit this issue.

There's evidence that we were treating them as using the stateless ("Goldilocks") API before logging in: I still had a few tab

[2014-05-23 22:42] gene1wood commented on #4131
Will there be a way to test for this in stage (as opposed to prod)?

[2014-05-23 23:14] callahad commented on #4131
Bug is here: https://github.com/mozilla/persona/blob/90e48d00cd58712a37857e1304cb3f7a0278612f/resources/static/include_js/_include.js#L345

We're testing for the presence of `observers.onlogout` instead of `observers.logout`. I could've sworn we fixed this before. Maybe on a branch that got lost.

[2014-05-23 23:31] callahad commented on #4131
I believe this is fixed in https://github.com/mozilla/persona/commit/583d13595ed037493b1179459c3c43110ed153c2, which is included in `train-2014.05.23`.

[2014-05-23 23:42] gene1wood commented on #4131
@callahad is there a way to reproduce this bug in the current stage (which has the old code) so that we can validate that this fixes the bug once we update stage?

[2014-05-23 23:54] callahad commented on #4131
Any Persona RP that does not register an `onready` handler will trigger
this issue.

I can whip up a jsfiddle when I get home if you'd like, but I have
experimentally verified this fix by using the Firefox debugger and stepping
through `getRPAPI` on 123done, Air Mozilla, and Mozillians.
On May 23, 2014 6:42 PM, "Gene Wood" notifications@github.com wrote:

[2014-05-25 23:57] #4131 closed, assigned to nobody

[2014-05-26 00:42] jaredhirsch opened #4133 "Update Travis-CI configs to disable node 0.8"
Looks like node 0.8 support is busted, and we have merged a migrate-to-node-0.10 fix into dev. Let's remove node 0.8 from the travis configs as well.

[2014-05-26 00:48] jaredhirsch commented on #4130
#4129 has been merged, closing. Please reopen if this isn't fixed post-deploy.

[2014-05-26 00:48] #4130 closed, assigned to nobody

[2014-05-26 00:49] jaredhirsch commented on #4107
Meh, closing.

[2014-05-26 00:49] #4107 closed, assigned to nobody

[2014-05-26 09:03] julienfastre commented on #3998
@6a68 : we were on win8 x64.

Thanks.

[2014-05-27 15:37] #4133 closed, assigned to nobody

[2014-05-27 23:15] jaredhirsch commented on #4118
Looks like the PR has been merged. Closing.

[2014-05-27 23:15] #4118 closed, assigned to nobody

[2014-05-30 21:47] callahad commented on #4086
:beers:

[2014-05-30 21:47] #4086 closed, assigned to nobody

[2014-05-30 21:54] callahad opened #4134 "Meta: Goldilocks Polish"
The new "Goldilocks" API is now available in production, and all basic functionality works.

I'd like to make a few ergonomic and functional tweaks before announcing it as "final," namely:
- [x] The `experimental_emailHint` request option should be renamed / aliased to just `email`.
- [x] The `onready` callback should still be available with Goldilocks.
- [x] Visual customization options `siteName

[2014-06-01 17:45] myckell13 opened #4135 "good"
very good

[2014-06-02 02:05] #4135 closed, assigned to nobody

[2014-06-02 15:32] ozten commented on #4134
Any documentation around this change? Would removing it break any Mozilla websites from a legal perspective? I wonder if we should measure usage in the wild before removing?

[2014-06-02 16:27] callahad commented on #4134
There was some discussion on list [back in September](http://thread.gmane.org/gmane.comp.mozilla.identity.devel/6176), and Lloyd pretty much convinced me: it's not being used, and it feels out of place with the idea of focusing Persona on email verification.

There's also the broader goal of reducing complexity so that we can actually keep Persona maintained in the face of our reduced manpower.

[2014-06-03 00:33] callahad opened #4143 "experimental_emailHint not honored when signed in as another account"
**Steps to Reproduce:**
1. Visit http://jsfiddle.net/tuG2M/
2. Set the hint to `foo@mockmyid.com`, click "Verify," and sign in.
3. Set the hint to `bar@mockmyid.com`, click "Verify," then cancel the popup.
4. (Cleanup) Visit https://login.anosrep.org and click "Cancel Account."

**What Should Happen:**

You should be prompted to sign in as `bar@mockmyid.com`.

**What Actually Happens:**

You don't

[2014-06-04 00:41] jaredhirsch opened #4144 "Broken primaries on FxOS"
Summary: Right now, it is not possible to log into Persona on FxOS using a primary IdP.

Looks like CSP inline script errors, but this might not actually be the cause?

Jed snagged a bit of `adb logcat` output while investigating an unrelated Gaia bug. The output mentions CSP errors and seems relevant (the snippet below seems most relevant, the rest is in [a pastebin](https://pastebin.mozilla.org/

[2014-06-04 00:46] jaredhirsch commented on #4144
I didn't mention it in the bug description, but this seems possibly related to the addition of CSP headers in #4012

[2014-06-04 00:51] jaredhirsch commented on #4144
@seanmonstar Any thoughts on CSP config settings or maybe known browser bugs that might have led to the weird errors above?

[2014-06-04 00:52] jedp commented on #4144
I've filed a bugzilla bug to track this for FirefoxOS:

https://bugzilla.mozilla.org/show_bug.cgi?id=1020020

[2014-06-04 02:04] seanmonstar commented on #4144
We did add CSP headers to login.persona.org that prevent inline scripts... The provision page is being loaded in an iframe on login.persona.org. That sounds like incorrect behavior that the CSP is being applied to the iframe, since iframes. Also, it's not happening on desktop browsers, so I'm thinking it'd something conflicting with the way FxOS ropes in Persona bits.

[2014-06-04 02:28] fmarier commented on #4144
I've been unable to log into Persona using my Mozilla email (Firefox Desktop 29) for a few weeks now, maybe it's related...

[2014-06-04 02:32] seanmonstar commented on #4144
I've been able to login to id.etherpad.mozilla.org, which uses my IdP-backed mozilla.com email.

[2014-06-04 22:55] jedp commented on #4144
@seanmonstar it could well be something FxOS-specific.  The error messages are confusing: "onsubmit attribute on DIV element"?  What DIV element?

[2014-06-04 23:02] callahad commented on #4144
Those CSP errors are a red herring.
1. They are from the MoCo/MoFo IdP (login.mozilla.org, not login.persona.org). That IdP has not changed in ages.
2. Those CSP errors appear in my browser console, despite everything working just perfectly.

[2014-06-04 23:09] callahad commented on #4144
I'm especially interested in whether or not mockmyid.com and gmail.com addresses work. Do they?

[2014-06-04 23:14] jedp commented on #4144
When I get home, I'll try with a last-year's build of firefoxos - just to be damn sure this isn't a platform bug

[2014-06-05 16:16] jedp commented on #4144
The same problem manifests with a nice old 2013-10-09 build of FxOS 1.1 for Unagi.  (Remember the dear old unagi?)  Trying to provision with a primary (my @mozilla.com address) hangs like so:

![2014-06-05-12-07-07](https://cloud.githubusercontent.com/assets/532953/3190220/30e6b710-eccc-11e3-93d2-548148cf2fd0.png)

adb logcat doesn't show me anything interesting on the unagi (those CSP warnings ar

[2014-06-05 16:39] jaredhirsch commented on #4144
@callahad mockmyid and gmail addresses do not work, same symptoms: blank provisioning page, followed by a provisioning error. Unfortunately the trusted UI iframe on device cannot be inspected by FxOS devtools, so I can't actually peek at the provision page to see if it's loaded without any content, loaded but scripts stripped out, or not loaded at all :-\

@jedp OK, so it sounds like probably a se

[2014-06-05 20:11] callahad commented on #4144
OK, this is pretty strange.

Here's what I can see using the 1.3 Simulator:

| **RP** | **API** | **Primary Works?** | **Secondary Works?** | **Notes** |
| --- | --- | --- | --- | --- |
| Marketplace | Observer + forceIssuer + allowUnverified | :interrobang: | :white_check_mark: | Forces issuer to login.persona.org. |
| 123Done | Observer | :x: | :white_check_mark: | Primaries: Times out when atte

[2014-06-05 20:15] callahad commented on #4144
So, it seems like the root issue is that _FxOS never requests the IdP's provisioning page,_ even when triggered by `navigator.id.completeAuthentication()` on the IdP's authentication page.

The fact that the latter fails for the Gmail bridge, [which has a strict CSP](https://github.com/mozilla/persona-gmail-bridge/blob/master/lib/csp.js), is a bit mind boggling.

[2014-06-05 20:23] callahad commented on #4144
So this suggests that the issue is with the normal Persona popup window (/sign_in), when it tries to create an iframe to the provisioning page.

[2014-06-07 22:33] jaredhirsch commented on #4099
@seanmonstar we've got the backlog released. any interest in prototyping this/submitting a PR?

[2014-06-07 23:04] jaredhirsch commented on #4037
This is done.

[2014-06-07 23:04] #4037 closed, assigned to nobody

[2014-06-07 23:08] jaredhirsch commented on #4015
the gaia bug (942331) was closed as invalid, closing.

[2014-06-07 23:08] #4015 closed, assigned to nobody

[2014-06-07 23:09] jaredhirsch commented on #3991
Looks like this is a fireplace bug; closing.

[2014-06-07 23:09] #3991 closed, assigned to nobody

[2014-06-07 23:10] jaredhirsch commented on #3994
Hi guys, since we just shipped a train and @callahad wants to ship another one with smaller goldilocks-related fixes, maybe we can also rev the l10n stuff for the next release?

[2014-06-07 23:16] jaredhirsch commented on #4144
It looks like it _is_ possible to examine the trusted UI iframe contents with the simulator, since it doesn't open `<iframe remote>` iframes in a separate process, but inside the main process.

Now I just have to figure out how to build the Simulator and I can get some useful info.

[2014-06-07 23:16] jaredhirsch commented on #4144
Gah, didn't mean to close.

[2014-06-08 08:41] mathjazz commented on #3994
Hey @6a68, Let's do this! ;)

When do you plan to ship the next release? When do you plan to have the strings ready?

Please note that I'll be on vacation until June 24, so it might take a day or two before I respond. If you need something more urgent, please ping l10n-drivers:
https://wiki.mozilla.org/L10n:Mozilla_Team

[2014-06-10 14:57] jaredhirsch commented on #3994
@mathjazz We haven't really figured out our new release cadence, though monthly is a good guess.

Right now, we are having problems with the personatest.org domain (which has traditionally hosted the localizations). Once we have the test domain back in working order, how about we resume the old process: I'll set up the translate environment as part of branching the train, and I'll be sure to CC yo