[2012-10-25 20:37] callahad commented on #2626
I'm getting errors even earlier in the process:
1. Go to http://beta.123done.org/
2. Click "Sign in"
3. Open Dragonfly (in Tools -> Options -> Advanced)
4. Select the "Scripts" tab (and make sure "show parse errors and break on exceptions" is enabled)
5. Click the reload button inside the Scripts tab

I get a whole series of errors in dialog.js, including `INVALID_CHARACTER_ERR`, trouble convertin

[2012-10-25 20:50] callahad commented on #2626
Note: I can reproduce most of the above errors in prod, yet MockMyID works fine in that environment. I _think_ this is a red herring.

Either way, Opera also reports an `INVALID_CHARACTER_ERR` for [line 823 of bidbundle.js](https://github.com/callahad/mockmyid/blob/daded13fc381c59d9be0fe83fd92e2dd6a8ff075/public_html/browserid/bidbundle.js#L823): `try { document.createElement('$'); }`

[2012-10-25 20:54] callahad commented on #2626
What's interesting is that this code block (taken from bidbundle above):

[code]

is what's failing with "Unhandled DOMException: INVALID_CHARACTER_ERR" when it tries to do `document.createElement('$');`.

But shouldn't the `catch` statement... catch that?

[2012-10-26 00:30] lloyd commented on #2649
yeah, hard error and process exits would make it really hard for this bite us again.  +1

[2012-10-26 02:15] jrgm opened #2651 "dismiss tooltips when dialog is actively moved to a different state"
STR
1. With FF, load http://beta.123done.org and click sign in.
2. Enter a secondary email address not previously known.
3. Enter and confirm password.
4. Dismiss the /sign_in dialog.
5. Click sign in again.
6. Enter the same secondary email address again.
7. Dialog shows red tooltip 'We just sent an email...'
8. Click 'cancel'.

Expected: dialog moves back to the email prompt, and tooltip dismiss

[2012-10-26 02:16] jrgm opened #2652 "perform the 'We just sent an email...' check earlier in dialog signup flow"
STR
1. With FF, load http://beta.123done.org and click sign in.
2. Enter a secondary email address not previously known.
3. Enter and confirm password.
4. Dismiss the /sign_in dialog.
5. Click sign in again.
6. Enter the same secondary email address again.
7. Enter and confirm password.
8. Dialog shows red tooltip 'We just sent an email...'

The UX would be a bit nicer if it informed the user abou

[2012-10-29 05:57] #2525 closed, assigned to shane-tomlinson

[2012-10-29 16:35] lloyd commented on #2440
marking this as closed

[2012-10-29 16:35] #2440 closed, assigned to lloyd

[2012-10-29 20:57] #2637 closed, assigned to zaach

[2012-10-29 21:15] benadida opened #2656 "lock account after X bad passwords"
After X bad passwords, the Persona account should be locked. Simplest agreed-upon behavior: after 3 bad passwords, treat account as unverified (e.g. password reset).

We might want to add a CAPTCHA to prevent denial-of-service, but in that case we want to add it to "forgot password," too, so that might not be as urgent.

[2012-10-29 22:43] callahad commented on #2616
I don't recall that being the case. Let's nuke that sentence. Otherwise, the page looks good to me!

[2012-10-29 22:43] #2616 closed, assigned to wbamberg

[2012-10-29 23:02] lloyd opened #2659 "Add high level monitoring of persona"
We have lots of low level monitoring of the persona service, we should complement that with high level monitoring on requests at the load balancer level to detect production issues faster, even when we don't have great coverage on low-level monitoring.

In order to make this happen, this bug lists a subset of requests that are expected, along with expected response codes and maximum request time.

[2012-10-29 23:02] lloyd commented on #2659
/cc @6a68 @jrgm

[2012-10-29 23:07] gene1wood commented on #2659
This looks good.
- For the "non-500 response code" items, does that mean that 400's are ok? By 500 I'm assuming you mean 5xx.
- For each of these monitors can you add an indication of what this interface does (e.g. what user impact it would have) as well as what tiers (web sweb sign db etc) are involved in the flow and any common causes for both non conforming http response codes and response time

[2012-10-29 23:08] lloyd commented on #2659
updating the issue with this information ...  done.

Is the **What** and **Who** useful, or just information overload? :)

[2012-10-29 23:40] gene1wood commented on #2659
Totally not information overload.
1. For GET /wsapi/address_info
   - What type of request is being sent through squid (what does it do)?
   - Of the various elements needed for this API call, would is respond differently when differing elements fail or are absent? (e.g. db vs proxy)
2. For POST /wsapi/auth_with_assertion is it possible to go into more about the "sometimes" items? How frequently o

[2012-10-30 01:01] jrgm commented on #2659
For address_info, given an incoming request of `/wsapi/address_info?email=foobar@example.com`, the outgoing request, via squid, would be GET of `https://example.com/.well-known/browserid`.

If example.com has the appropriate info at that URL and is a primary IdP, there is no database query. If not a primary IdP, the database is checked to see if `foobar@example.com` is a known email address, or on

[2012-10-30 01:07] jrgm commented on #2659
Hey @lloyd, this is great. Is it worth also mentioning these also?

`GET /v/<hash>/production/communication_iframe.js` - < 200ms - 200 response code
**What:** Entrained by the request for `/communication_iframe`.
**Who:** Served by `static` on web tier.

`GET /v/<hash>/production/en_US/dialog.js` - < 200ms - 200 response code
**What:** Entrained by the request for `/sign_in`.
**Who:** Served by `s

[2012-10-30 09:20] fmarier opened #2660 "Support OCSP stapling"
Cloudflare have made [SSL 30% faster](http://blog.cloudflare.com/ocsp-stapling-how-cloudflare-just-made-ssl-30) by turning on [OCSP stapling](https://en.wikipedia.org/wiki/OCSP_stapling).

Not sure how (or if) it can be done in node, but both [Apache](https://httpd.apache.org/docs/trunk/fr/mod/mod_ssl.html#sslusestapling) and [Nginx](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_stapl

[2012-10-30 11:28] shane-tomlinson opened #2661 "Support SPDY"
The multiplexing of resources may help us out.

[2012-10-30 13:27] csuciu commented on #421
Testcase created here: https://moztrap.mozilla.org/manage/caseversion/10569/

[2012-10-30 14:25] csuciu commented on #414
The issue still occurs on mobile browsers. I tried stock browser, FF mobile and Chrome on Android 3.2 and 4.0.4

[2012-10-30 14:47] lloyd commented on #2660
/cc @gene1wood is this something that is possible with zeus?

@fmarier what percentage of our supported browsers also support OCSP stapling?

[2012-10-30 14:48] lloyd commented on #2661
What percentage of our supported browsers support SPDY?  What level of speedup might we expect practically?

/cc @gene1wood Is this something that we would do at the zeus tier?

[2012-10-30 14:54] lloyd commented on #2659
@jrgm - I ignored cachified static resources on purpose for the first pass, I wanted to give gene an easy small set of urls to monitor (the parsing requirement was what worried me, but I suppose we could just give him a regex?  My worry is that this is prone to false positives if someone manually formulates a broken GET request.  OTOH, it would be good to have a monitor that caught broken cache he

[2012-10-30 15:52] shane-tomlinson commented on #2661
Both Firefox and Chrome support SPDY today [1]. Reports vary on speedup, some claim 0[2], Google claims on mobile networks a 1.3x improvement.

Once this is supported in mobile browsers where connection latency is costly, SPDY will be a bigger win than for desktop browsers.

There already exists a node implementation for SPDY that integrates with express [4].  This would probably have to be enable

[2012-10-30 16:55] ozten commented on #2569
lloyd has reworked this bug into
- Issue #2606
- Issue #2607
- Issue #2608

Closing, as this bug is too high level, we'll further split it into smaller chunks we can swarm on.

[2012-10-30 16:55] #2569 closed, assigned to ozten

[2012-10-30 19:41] lloyd opened #2662 "API semantics broken: onlogout fired even if loggedInUser: null"
the API is not supposed to invoke the onlogout callback if a website supplies `loggedInUser: null`.  This behavior was broken in commit f94a3b40364f3db78568de7630944d4262eb8699

Sites that rely on this API contract and redirect upon onlogout events can get into an infinite reload loop

[2012-10-30 19:43] lloyd commented on #2662
NOTE: this bug rolled out into production in 0.2012.10.12.5 (7b851924d8afe794c66283a25ed4ad5164542217) and caused us to rollback to 2012.08.12.

[2012-10-30 20:58] ku1ik commented on #2423
Same thing happens for me. The code (coffeescript) is following:

[code]

With above code following happens when Persona window closes:
- `onlogin` is called, which submits the form
- immediately after submiting the form `onlogout` is called, which redirects to /logout, then to /
- `onlogin` is called, which submits the form
- no further call to `onlogout`, user is signed in correctly

I commented

[2012-10-30 21:04] jrgm commented on #2423
@sickill is what you're saying above observed between 10:55 PDT and 13:10 PDT today. If so, that was a regression in production that was shipped and reverted. Or was observed outside that window.

[2012-10-30 21:09] ku1ik commented on #2423
@jrgm It was about 30-40 minutes ago, so most likely after 13:10 PDT. I just checked now and the issue is still there.

[2012-10-30 22:19] #2662 closed, assigned to nobody

[2012-10-30 22:22] seanmonstar commented on #2423
Like I said above, this is probably because a request is getting cut short inside the communication_iframe, and we handle the onFailure to mean the user should be logged out.

[2012-10-30 22:58] tom-mcdonnell commented on #2009
With the Windows Phone 8 SDK now available, I've checked support in the new IE10 browser. Unfortunately the same issue is present.

[2012-10-30 23:02] seanmonstar commented on #2009
Does it the mobile IE10 still have window.opener and postMessage issues?

[2012-10-31 01:35] fmarier commented on #2660
As far as I can tell, it's been [enabled in chrome for a while](http://www.chromium.org/developers/design-documents/network-stack/network-stack-objectives) (third section of 2011Q1 goals) but it's [not available](https://bugzilla.mozilla.org/show_bug.cgi?id=700693) nor [enabled](https://bugzilla.mozilla.org/show_bug.cgi?id=700698) in Firefox yet.

No idea about Safari or IE.

[2012-10-31 06:40] fmarier opened #2665 "Create test instances of eyedee.me (or mockmyid.com) with broken TLS certs"
This will allow us to test that primaries with broken TLS certificates are correctly ignored:
- `wrong.eyedee.me`: valid cert for a different domain
- `untrusted.eyedee.me`: self-signed cert
- `expired.eyedee.me`: expired but otherwise valid cert

[2012-10-31 08:00] callahad commented on #2665
https://bogus.mockmyid.com/ covers your first case.

[2012-10-31 15:52] zaach commented on #1678
Was this addressed with #1789?

[2012-10-31 17:38] gene1wood commented on #2660
@lloyd If we were to implement it, we should do so in nginx, not zeus. We shouldn't be adding anything new to zeus.

[2012-10-31 19:32] seanmonstar commented on #2606
assigning to @skinny97214, since the description mentions depending on new screens.

[2012-10-31 19:41] jrgm opened #2667 "123done /api/logout is called when cancelling out of dialog (the first time after previously signed in)"
STR
1. Log into https://login.persona.org
2. Go to http://123done.org/. Bring up Chrome DevTools or Firebug and enable the Network panel.
3. Bring up the dialog and signin.
4. Logout of 123done.
5. Bring up the dialog again and then close that window without signing in.

Two GET's for /wsapi/{session_context,list_emails} are made and then a POST to http://123done.org/api/logout is made which retur

[2012-10-31 20:17] ku1ik commented on #2423
What are the options for fixing this? I can definitely help with testing (or with fixing if I manage to wrap my head around the code).

[2012-10-31 20:25] seanmonstar commented on #2423
When the dialog completes, it tells the communication iframe, and the iframe checks to see if it needs to generate an assertion: https://github.com/mozilla/browserid/blob/dev/resources/static/communication_iframe/start.js#L110

As that request is happening, and you redirect the page somewhere else, and hence make the XHR cancel, it triggers the onFailure callback: https://github.com/mozilla/browse

[2012-10-31 22:41] seanmonstar commented on #2404
I'm on it.

[2012-11-01 03:48] fmarier opened #2668 "Confirmation emails blocked by Postini (DKIM)"
Confirmation emails from Persona are marked as spam by Postini:

![Postini Junk Folder](https://raw.github.com/gist/3991555/6e6a9ac4a1dd30078ba7c245d986a6184e1d3ad8/persona_emails_blocked_by_postini.png)

[2012-11-01 06:21] callahad commented on #2668
Dupe of #2581, yes?

[2012-11-01 13:49] EreMaijala commented on #2560
Hi,

I've done some integration work with VuFind with the results available for testing on our development server at http://vufind-fe-kktest.lib.helsinki.fi/edge?lng=en-gb and I'm seeing the same problem (Firefox 16, Mac OS X 10.7). Looks like also navigation pages back or anything else that might cancel the request will trigger the problem. This makes the otherwise promising and pretyt nice exper

[2012-11-01 16:34] #2668 closed, assigned to nobody

[2012-11-01 16:38] callahad commented on #2667
Logout shouldn't get called at all... sean, can you look into this?

[2012-11-01 16:41] callahad commented on #2659
According to @jrgm this is detailed and ready to go to @gene1wood.

@gene1wood how do you want to do this? Is this fine, or would you like a bugzilla ticket.

[2012-11-01 16:44] callahad commented on #2652
@skinny97214 Thoughts / Insight?

[2012-11-01 16:48] jaredhirsch commented on #2617
grabbing this, looks like it'll be fun

[2012-11-01 16:48] lloyd commented on #2617
yay!  have fun!

[2012-11-01 17:48] seanmonstar commented on #2667
Probably not soon. I'm deep in the b2g/bigtent woods, and see no way out.

[2012-11-01 17:54] skinny97214 opened #2669 "put TOS/PP above [sign up] button"
As shown >> http://cl.ly/image/2x09122p2m0i

[2012-11-01 19:00] callahad commented on #2667
Reassigning to @shane-tomlinson for looking into later.

[2012-11-01 22:33] skinny97214 opened #2671 "firefox accounts powered by persona - need logo"
what it says on the tin. oil packed, best before 2012.

http://cl.ly/image/262R0t2z3m0y

[2012-11-01 22:35] skinny97214 commented on #2671
Here's what it looks like in the popup.

http://cl.ly/image/0c301O1Q2s31

[2012-11-01 23:23] fmarier opened #2672 "Split the "need assertion and audience" error message (verifier)"
Currently if the assertion or the audience field is missing in a request to the verifier, you get the same error message.

To make debugging (both for RPs and for us), it would be good to split these into three error message:
- assertion missing
- audience missing
- assertion and audience missing

In addition, if we could include print the audience to `verifier.log` in the case of a missing assert

[2012-11-01 23:24] fmarier commented on #2672
@warner: can you think of security problems with exposing which of the two parameters was missing?

[2012-11-01 23:24] fmarier commented on #2672
Keeping a copy of the audience might have privacy implications.

[2012-11-02 17:55] zaach commented on #2656
We discussed using a router monitor for handling brute force attacks, which is dependent on #2508.

[2012-11-02 19:22] jrgm commented on #2672
Actually, the audience is already contained in metrics, so this has been privacy reviewed (presumably).

[2012-11-03 00:05] seanmonstar opened #2673 "re-skinning dialog to show Fx Accounts"

[2012-11-03 00:06] seanmonstar commented on #2671
blocks #2673

[2012-11-03 00:07] #2671 closed, assigned to seanmonstar

[2012-11-04 18:12] ozten opened #2674 "Clear certificates from storage when new issuer is detected"
Currently under `localStorage.emails` we store:

[code]

We'll parse an existing certificate and make sure the issuer matches address info's issuer property.

[2012-11-05 05:43] jrgm commented on #2674
The issuer is already a field available in the cert, no? Or is this a different value of issuer?

[2012-11-05 15:47] ozten opened #2675 "Invalidate certs upon list emails with different issuer"
Using information from Issue #2674, invalidate certs upon list emails with different issuer.

[2012-11-05 15:53] ozten commented on #2674
True, the issuer is in the cert, but we'd have to base64 decode it and parse it out. I think we want it in a handy place.

[2012-11-05 15:56] ozten opened #2678 "Add wsapi complete_transition"
Add a new wsapi `complete_transition` -  indicates that a user has been displayed the "transition to primary" screen.

[code]

[2012-11-05 22:02] callahad opened #2680 "Shim accepts certificates with arbitrary email addresses"
When provisioning a user, an IdP invokes `navigator.id.registerCertificate(signedCert)`, where `signedCert` is a signed JSON object containing a field with the user's email address.

This field is supposed to be set by the user's request: "please provision me as foo@example.com"

However, the IdP can change this to an arbitrary email address, and the shim still accepts it and lists it in the picke

[2012-11-05 22:11] callahad commented on #2680
You can see this here:

https://github.com/callahad/mockmyid/blob/500c7d173b9c4a50adf0f99262a47ea0d4b13079/public_html/browserid/provision.html#L42-45

Note: The shim _will_ reject the cert if I try to provide something from another domain (e.g., if MockMyID tries to hand back a signed cert for `whatever@eyedee.me`)

[2012-11-05 23:23] seanmonstar opened #2681 "Infinite Sessions for B2G"
The B2G team doesn't want users to ever\* have to re-authenticate once they've logged into their phones.

*Unless forced to via logoutEverywhere, or having reset your password from another device (useful if your device is stolen or lost.)

[2012-11-05 23:25] seanmonstar commented on #2681
@lloyd @ozten it looks like this is controlled by a config option. Is it best to change the default in `lib/configuration.js`, or in `config/production.json`? Would I need to also edit `aws.json` and `local.json`?

[2012-11-06 00:27] jrgm opened #2682 "apply the browserid.spec fix for CONTRIBUTORS and en/en-us to dev branch"
Ugghh. This commit on train-2012.10.12 did not make it into the dev branch.

https://github.com/mozilla/browserid/commit/49cffe72afdd93772d42bf42fa474be1194b60c4#scripts/browserid.spec

I can't find the bug or issue that specifically documents this, but without that, the static webhead in stage is crashing on startup trying to load the CONTRIBUTORS file.

See also https://bugzilla.mozilla.org/show

[2012-11-06 21:33] jrgm commented on #2682
For clarity, PR-2683 is for dev, PR-2685 is for train-2012.10.26, and PR-2684 was me hitting the wrong button.

[2012-11-07 01:26] seanmonstar opened #2686 "change address_info to include transition state"
taken from https://id.etherpad.mozilla.org/primary-transition-ux-swarm

(CHANGE) address_info
- currently returns an object with keys:
  - `type`: {primary, secondary} // type of email when it was added
  - `known`: {true, false} // (secondary only) whether the email is known to persona
  - `auth`: <string> // (primary only) authentication URL
  - `prov`: <string> // (primary only) certificate pro

[2012-11-07 01:31] seanmonstar commented on #2686
this blocks #2404

[2012-11-07 04:57] seanmonstar commented on #2404
@ozten @lloyd i was making some mocks so that I wasn't fully blocked by 2686, and wondered what `state` should be if its primary, and all is well. undefined?

[2012-11-07 22:20] vivor commented on #2662
Is this really fixed, now? Because I'm using the latest version and I'm still getting a reload loop. Usually loggedInUser is not defined in my code but setting it manually will still result in reloading the page over and over again.

Code looks like this (maybe I'm just using it wrong):

[code]

[2012-11-07 22:34] callahad commented on #2662
If `loggedInUser` isn't set when you call `watch()`, then you will _always_ get an `onlogin` or `onlogout` callback. It's Persona's way of saying "you didn't say what was up, so here's what I know about the user."

[2012-11-07 22:53] vivor commented on #2662
Thanks for the explanation. I can see the problem with my code, now. I'll try to think of some other way to do this.

[2012-11-07 23:21] ozten opened #2688 "Display offline screens when IdP is down"
This is the frontend portion of issue #2608.
## Authed / primary address / offline

In the case where a user is authenticated to persona and selects a primary address and there is no cert for that address, we display "Primary is offline" copy.
## Not Authed / primary address / offline

In the case where a user is not authenticated to persona and attempts to sign in via the dialog, and the primary

[2012-11-07 23:24] lloyd opened #2689 "remember the last time we successfully fetch an idp's well-known document"
In order to properly support the case where an IdP has an intermittent outage (we should not start issuing certs for them immediately), we should record at places in our code that we interact with IdPs the last time we "saw" them.

[2012-11-08 02:36] seanmonstar commented on #2404
With most of this working, I'm just wondering at what point should `/wsapi/complete_transition` be called? When the transition screen shown? Or once they acknowledge the transition by clicking the button?

[2012-11-08 17:42] jrgm commented on #2682
Fixes were committed to dev and train-2012.10.26. Marking this one fixed.

[2012-11-08 17:42] #2682 closed, assigned to nobody

[2012-11-08 17:52] lloyd commented on #2674
+1 to @jrgm's idea, let's not duplication information.  will present concrete suggestion in review.  thanks @jrgm

[2012-11-08 17:54] lloyd commented on #2672
related to mozilla/jwcrypto#54

+1

[2012-11-08 19:00] jaredhirsch opened #2690 "signup flow sometimes leads to 'aw snap' chrome problems"
First noticed this via selenium tests, interestingly.

Basically, go through the flow of the remove-email automation test:
1. sign up for a primary account in chrome via 123done
2. use the dialog to add an unverified secondary email
3. pull the link out of the email and paste it into the 123done main window
4. aw, snap!

Something to do with reusing that window, instead of opening a new tab, cause

[2012-11-08 19:00] jaredhirsch opened #2691 "signup flow sometimes leads to 'aw snap' chrome problems"
First noticed this via selenium tests, interestingly.

Basically, go through the flow of the remove-email automation test:
1. go to 123done, use the dialog to add an unverified secondary email. don't close the dialog.
2. pull the link out of the email and paste it into the 123done main window
3. aw, snap!

Something to do with reusing that window, instead of opening a new tab, causes trouble.

See

[2012-11-08 19:01] jaredhirsch commented on #2691
forgot to mention - this happens on dev

[2012-11-08 19:10] jaredhirsch commented on #2691
NOT occurring on prod

[2012-11-08 19:11] jaredhirsch commented on #2691
NOT occurring on stage

[2012-11-08 19:12] jrgm commented on #2691
Five star.

[2012-11-08 19:14] jaredhirsch commented on #2691
ONLY happens if the dialog is open. If the dialog is closed before loading the link, no error.

[2012-11-08 19:23] jaredhirsch commented on #2691
not reproducible on mac/ff16

[2012-11-08 19:24] jaredhirsch commented on #2691
not broken on safari 6 either

[2012-11-08 19:36] jaredhirsch commented on #2690
whoops, double-clicked. dammit github, throttle that button.

[2012-11-08 19:36] #2690 closed, assigned to nobody

[2012-11-08 19:57] seanmonstar commented on #2681
@zaach maybe you can provide insight? i don't know how it all works together yet.

[2012-11-08 20:29] zaach commented on #2681
`.awsbox.json` provides a clue. It appears you can specify how config files are layered in there. You should be able to layer a new b2g.json on top of the others.

[2012-11-08 21:15] seanmonstar commented on #2681
Oh great. So then I can add a b2g.json, add to that line, and then we need
to use that also when we finally deploy to prod.

[2012-11-08 21:22] lloyd commented on #2691
alternate STR which are interesting
1. go to dev.123done.org, use the dialog to add an unverified secondary email. don't close the dialog.
2. _type https://login.dev.anosrep.org_ into the 123done main window
3. aw, snap!

[2012-11-08 22:23] #2681 closed, assigned to seanmonstar

[2012-11-08 22:48] seanmonstar opened #2693 "investigate preventing RPs from using forceAuthenticate on B2G devices"
Since this API is private, but needed for B2G (specifically the marketplace), we may want to look into side effects. Perhaps RPs will want to try to use this, and it's not ready for public use yet.

[2012-11-08 22:49] seanmonstar commented on #2693
related PR where this landed: #2692

[2012-11-09 01:09] jrgm commented on #2691
So:

1)  I have chrome 21 and 22 on osx and _can_ repro with both.

2) Stage does not reproduce we know that. But the same branch on an awsbox does. So what's up with that?

[2012-11-09 01:11] jrgm commented on #2691
Also on my awsbox, I set options "kpi_backend_sample_rate": 0.0, "enable_development_menu": false which otherwise would alter client behaviour. These are set this way on stage. Any others? (I'd really like to see show_config from stage).

[2012-11-09 01:16] jaredhirsch commented on #2691
cc @gene1wood, any pointers on config differences?

[2012-11-09 01:42] fmarier opened #2695 "/about doesn't mention the words "cross-browser""
We need to make it explicit that this is not a Firefox-only feature.

[2012-11-09 03:32] jrgm commented on #2691
I had noticed that the 21 and 22 .app's had been updated sometime in the 3 hours between when I restored these from Time Machine and when I noticed they had changed. So I disabled automatic updating and used a clean unupdated chrome 22, and can repro with that. I used `sudo lsof -P -n` to confirm that there was no version 23 bits loaded anywhere.

So this issue with Chrome may have been around for

[2012-11-09 11:34] ForbesLindesay opened #2696 "Absolute URI's for Icons in the dialog"
Some of the websites I manage use free hosting that doesn't support https, so I really need to be able to host the image for the dialogue somewhere different.  I think adding a logo to those dialogues would be a huge enhancement in terms of user confidence in the system, so I'm really keen to add the icon to that dialogue.

[2012-11-09 23:35] lloyd opened #2697 "allow an IdP to explicitly state they do not support persona in their support document"
proposal is a `.well-known/browserid` of

[code]

is a way that a domain may explicitly indicate that they do not wish to support persona.  The problem this solves is it gives IdP's a hook to rapidly turn off persona support and indicate to us and verifiers that they are not temporarily broken, but actually want to stop being an IdP.

[2012-11-09 23:37] lloyd opened #2698 "remove HTTP requests from compute processes"
Currently we are fetching .well-known documents from compute processes rather than parent processes.  This was a refactoring accident, and in order to implement #2689 we will need to either add a database connection to compute processes (yuck) or move the checking of support out of verification compute processes and into the verifier (yay) .

[2012-11-10 00:21] seanmonstar commented on #2697
Could it be even simpler, such as with a http status code?

[2012-11-10 00:25] lloyd commented on #2697
that could would work just fine.  @callahad, as the keeper of our public APIs, got a thought?

[2012-11-10 02:29] callahad commented on #2697
Whatever you decide, open an issue / pull request against mozilla/id-specs!

I could see either way -- it feels weird to require that a domain maintains a file just for us, just to tell us it wants nothing to do with us.

Since this only matters when a domain is going from IdP to non-IdP (basically giving it a fast fail back to the default case), then they already have and are serving a well-known

[2012-11-10 02:30] callahad commented on #2697
I'm feeling a bit weird about how the spec would document the well-known file.

"First, look for this key. If it's there and is of this value, then abort. Then {normal stuff}"

[2012-11-11 01:18] lloyd commented on #2698
I think this may be a good thing to do, but it is not on the critical path for transition UX (only the verifier does this, not dbwriter or browserid where database updates will be happening.  I think this is the correct architecture as it keeps the verifier decoupled which is useful, and doesn't have any meaninful impact on our transition support).  closing this issue down and we can make the best

[2012-11-11 01:18] #2698 closed, assigned to nobody

[2012-11-11 06:56] fmarier commented on #2097
Found another library that uses the wrong URL: https://github.com/Falco20019/php-browseridlib/pull/3

[2012-11-11 10:01] Lennie commented on #2661
Opera also support SPDY, here is the complete list:
http://caniuse.com/spdy

[2012-11-12 16:52] jaredhirsch opened #2699 "remove few remaining browser.newSession calls"
browser.newSession didn't get replaced with testSetup.newBrowserSession(browser) in a couple of helper files, which will probably lead to hung sessions, lib/user is one. find and fix.

[2012-11-12 16:54] jaredhirsch opened #2700 "Create a wiki page to archive crew docs and work"
four stars: must do before crew end

[2012-11-12 16:55] jaredhirsch opened #2701 "pass browser list to command-line runner"
Small infrastructure idea: generalize the current browser info file, and pass the file name optionally on the command line. Since sauce-platforms is just an exported object, we can have a "core" file that's required by an "extras" list, to hold stuff like mobile browsers that aren't ready for primetime yet.

[2012-11-12 17:42] jaredhirsch commented on #2700
just going to track code-related stuff in github, will track this from the etherpad.

[2012-11-12 17:42] #2700 closed, assigned to nobody

[2012-11-12 18:14] jaredhirsch opened #2702 "remove-email, returning-users: clickIfVisible sometimes hangs"
Depending on annoyingly unresolved timing issues, we sometimes see the 'is this your computer' pane in the dialog, so we have an extension function for wd that clicks a button only if it's visible, with a very short timeout in case it isn't.

On FF, in the remove-email test, there's a step where you log into myfavoritebeer using a secondary email that's verified. If the 60 second "this is my compu

[2012-11-12 18:19] jaredhirsch opened #2703 "evaluate webdriverjs vs wd"
AutomatedTester pointed me at the existence of a server-side js library that does the same thing as wd, but lives in the selenium tree, so might be more stable or fully-featured, who knows.

Ticket to see what kind of improvements we get out of swapping one for the other.

Almost certainly will have to use Q (or some other promises library) to get robust chainable calls like we've been enjoying.

[2012-11-12 18:21] seanmonstar commented on #2697
I had the same thought, @callahad. It feels odd to suggest maintaining file explicitly to tell us they don't support us. A `410` response sounds appropriate from my side.

[2012-11-12 18:32] ozten commented on #2697
Many IdPs will support the `/.well-known/browserid` with a static file and their existing web server.

I think removing parts of the document and adding a property is a very simple opt out.

Adding a status code is possible, but would be a new step - different than what they did to opt in. They would have to add an `.htaccess` file or figure out some way to set the status code.

A few weeks later,

[2012-11-12 18:52] jaredhirsch opened #2704 "new-user-secondary-test: about:blank workaround no good, FF, Chrome broken."
Because of the unresolved aw,snappage in chrome (see #2691), we open the dialog with an "about:blank" URL in new-user-secondary-test. Unfortunately, FF doesn't handle this too well:

Here's the second browser session video from [jenkins job 1944](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.firefox.16/1944/console):

https://saucelabs.com/tests/1d7a3964bfef4dbaa3975a2a3

[2012-11-12 19:01] jaredhirsch commented on #2691
5-star unassigned, I call shenanigans.

Either this isn't really that important, and we should change our sauce tests to do something different, or it is important, just not 5-star important, or it really is 5-star important, yet it's unassigned and hanging around.

@lloyd, @jrgm, which is it?

[2012-11-12 19:21] gene1wood commented on #2691
@6a68 production.json ( https://github.com/mozilla/browserid/blob/1173c2d7c173e9deabe9209b4136006935f1bfaa/config/production.json ) differs from what's in stage in these ways :
- dev has no public_url
- dev defines a "user" value under "database"
- dev has create_schema true under "database"
- dev has a "kpi_backend_sample_rate" value
- dev has no "smtp" value
- dev has a "supported languages" val

[2012-11-12 19:23] gene1wood commented on #2661
@lloyd We shouldn't do this with zeus but instead with nginx. We should seek to remove all app logic from zeus since we will likely change load balancers and so that dev has control over app logic (if it lives in nginx).

[2012-11-12 19:31] lloyd commented on #2697
The way I might explain is thus:

Your support document may do one of three things:
1. explicitly disable browserid support, requiring that the secondary authority is used
2. delegate authority for this domain to a different one.
3. express support for the browserid protocol by providing a public key and paths to required html resources.

These are listed in precedence order.  If `support`: false

[2012-11-12 20:15] callahad commented on #2697
+1. Let's go with the document option.

I'd like to say something (in an appendix?) regarding transitioning from support to no support. Keeping an eye on #2608 for that.

[2012-11-12 20:16] lloyd commented on #2697
I'll have a proposal about wording and strategies for turning on or off support shortly.  Hope is that there's a simple and patterned way you can turn on or off support as a primary with minimal / zero user impact.

On Nov 12, 2012, at 1:15 PM, Dan Callahan notifications@github.com wrote:

[2012-11-12 20:17] shane-tomlinson opened #2705 "Remants of requiredEmail have made it through in verify_primary_user.js"
It is no longer used in the templates and is no longer needed, it should be removed.

[2012-11-12 21:39] jaredhirsch commented on #2703
lowering to 2 stars, seems unlikely to be worth it. admc is super responsive to pulls and issues. /me shrugs.

[2012-11-12 22:04] jaredhirsch opened #2706 "IE9, add-primary-to-primary: eyedee.me 'create account' button sticks"
Broken in [job 1944](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9/1944/) ([sauce link](https://saucelabs.com/tests/4f4ba1a067e04d1099596596ab6726cc)) and [job 1943](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9/1944/) ([sauce link](https://saucelabs.com/tests/586ba68355cc4e98afbb539560be6304)).

I'm inclined to throw a click-if-visib

[2012-11-12 22:08] jaredhirsch commented on #2706
four stars but, try to stabilize chrome and FF first.

[2012-11-12 22:48] jrgm commented on #2706
Um, something is really weird here. If you watch the video a dialog (modal? don't know) pops up saying `"Java(TM) Platform SE Binary has stopped working"` and nothing happens in the browser after that. This totally does not match the screenshots that sauce shows for this run. Huh?

[2012-11-13 00:54] ozten commented on #2678
From lloyd's [comments on a commit](https://github.com/ozten/browserid/commit/a4ba788e057ceca3ef5003fb4559cc4b1eb1a745#commitcomment-2141598):

I think you should:
1. verify the the currently authenticate user owns the email address in question
2. verify the email address specified is a primary email address
3. update the database!  set email.lastUsedAs to `primary`

Then I think in cert_email we

[2012-11-13 02:43] jaredhirsch opened #2707 "IE9, change-password-test: need to watch for 'is this your computer' screen"
Broken in job [1943](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9/1943) ([sauce](https://saucelabs.com/tests/89015caab65c4eacbe7b918d6545d5d1#) [jobs](https://saucelabs.com/tests/fb7037000a5043378b08d9e056c8e2a7)) and [1944](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9/1944) ([sauce](https://saucelabs.com/tests/3b0c8a68bb7e42578786a

[2012-11-13 03:04] jaredhirsch commented on #2704
also broken, same error, on IE9

[2012-11-13 03:34] jaredhirsch opened #2708 "FF16, IE9: new-user-primary-test: double-clicking "sign in with primary" fails"
On other browsers, this test double-clicks the button to sign in with a primary, which is a hack that should be replaced with maybe a delay before a wait-click?

On IE9, evidently, the button is instantly ready, so the second attempt to click it leads to an error.

This also occurs in the remove-email test.

Example: [job 1943](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows

[2012-11-13 07:08] jrgm commented on #2691
Thanks @gene1wood. The differences for database, smtp, port, express_log_format, {keysigner,dbwriter} url should not matter as this happens on client side. I've set kpi_backend_sample_rate and enable_development_menu  to the values they should have in stage (0.0, false) and cannot repro on an awsbox (which is like dev without those two config changes).

I guess what I really need is a run of a com

[2012-11-13 16:35] abourget commented on #2018
If that request times out.. can't we just assume the server will never give us a support document, and go on with a "persona.org"-backed authentication ?

I understand the "longer than normal" thing.. but then why would it just stop there, leaving no options.  We could start off with a persona-backed auth, and then later one, upon next sign-ins, verify if the remote party popped into existence, an

[2012-11-13 19:12] callahad commented on #2017
To be implemented in #2648 as `onmatch`.

[2012-11-13 19:24] callahad commented on #1305
I'm going to close this. We'd love to have a WordPress primary, but I don't see where on the schedule that I'd be able to dedicate the time to building it. Plus, it's probably best left to the community.

[2012-11-13 19:24] #1305 closed, assigned to callahad

[2012-11-13 19:26] #55 closed, assigned to callahad

[2012-11-14 00:06] ozten opened #2710 "Add a version lock api to detect client/server mismatches"
Background: Everytime we deploy, we currently can have a state where the client (dialog) and the server can have different versions of the code. An incremental improvement would be to detect this and display an error message or 'maintenance' message.

Eventually, we want to be able to deploy with zero user facing impact.

We should add a version lock to our wsapi requests. The version of the git s

[2012-11-14 01:46] fmarier commented on #2158
So getting added to the Chromium list is easy: we just need to talk to agl. I'm guessing the Firefox preloaded list is likely to be based on the Chromium one, so should we just do it?

CCing @gene1wood because this will make certificate transitions potentially more complicated for ops.

[2012-11-14 06:39] jrgm opened #2711 "[train-2012.11.09] The 'input#authentication_email' in the dialog does not have focus for unauthed user"
STR
1. Use a browser where the user is not known (or click 'this is not me' and open the dialog again)
2. use either 123done or mfb and bring up the /sign_in dialog

Expected: /sign_in dialog presents text input box with 'enter email address' and has focus.

Actual: focus is not set to the text input box.

My vmware fusion is updating atm, but I have this on all the osx browsers, and I expected it

[2012-11-14 07:25] jrgm opened #2712 "[train-2012.11.09] stage is not detecting {eyedee.me,mockmyid.com,delegat.es} as primaries"
This is a placeholder for an ops ticket that blocks testing against stage for primaries flows for train-2012.11.09

STR

In stage, try to signup as a primary user (e.g., foo@eyedee.me)

The dialog immediately switches to the secondary flow.

In stage browserid.log I see `{"level":"debug","message":"eyedee.me is not a browserid primary - non-200 response code to /.well-known/browserid","timestamp":

[2012-11-14 07:34] jrgm commented on #2712
The ops ticket is https://bugzilla.mozilla.org/show_bug.cgi?id=811639

[2012-11-14 17:51] ozten commented on #2710
If anyone wants to take a run at this before I get back to it... please do!

Use a custom HTTP header, instead of versioned urls.

[2012-11-14 19:43] jaredhirsch opened #2714 "restmail: document all the things"
When we have restmail problems, it's imperative that any interested devs be able to determine what's going on.

Short of adding monitoring, we need some docs on how to shell into the machine, what to interrogate as possible sources of error, and which daemons to kill/respawn to clear blockage.

[2012-11-14 19:44] jaredhirsch opened #2715 "personatestuser: document all the things"
Document how to connect to the machine, how to investigate probable sources of errors/downtime, how to respawn services.

[2012-11-14 19:45] jaredhirsch opened #2716 "personatestuser: embeefen"
Make personatestuser more robust. Larger AWS instance might be an easy win.

I'm also adding monitoring under here, though that might belong in a separate ticket.

[2012-11-14 21:37] callahad commented on #2710
Do we want to do this? The majority of changes will alter the SHA without impacting the `wsapi` -- it feels weird to proactively fail on requests that would otherwise work.

[2012-11-14 22:46] ozten opened #2717 "transition_to_primary Authed / primary address / transition"
Authed / primary address / transition

The user is authenticated to persona, and selects an address in the picker that was last used as a secondary address, but now the domain has primary support.

This is for the state `transition_to_primary`

[2012-11-14 22:49] seanmonstar commented on #2717
this blocks #2404

[2012-11-15 01:38] jaredhirsch commented on #2708
occurring on FF16, gonna fix right away

[2012-11-15 03:14] jaredhirsch commented on #2708
oddly, I can't repro the bug locally, only via sauce. but, it looks fixed on sauce by commit https://github.com/mozilla/browserid/commit/ddbae3898bc8276247b1b098c8d9447c87669691

[2012-11-15 03:14] #2708 closed, assigned to jaredhirsch

[2012-11-15 03:46] jaredhirsch commented on #2704
well, it's not the about:blank at all. I think it might be the restmail utility function?

[2012-11-15 05:22] wolftune opened #2718 "Redirect to original site when first confirming e-mail or change wording"
Ok, this is a confusion for new users. Here's the situation:
1. Go to site that uses Persona having never used it before
2. Click log in and choose to sign up with Persona
3. Get this message: "Check your email at [email]. Click the link in the confirmation email. You'll then immediately be signed in to [site].
4. **\* there is no specific instruction on how to go to your e-mail, such as opening i

[2012-11-15 08:12] shane-tomlinson opened #2719 "Testy: document it!"

[2012-11-15 12:25] shane-tomlinson commented on #2718
@wolftune - Thanks for the feedback! I think we already have your case covered, but you must be using .watch & .request instead of .get [1], is this the case? This can also happen if you open the verification link in a browser or device that is different to the browser/device you started the sign in process on.

The tab the user opens the email in should not matter.

If neither of these are the ca

[2012-11-15 12:30] shane-tomlinson commented on #2707
I'm calling this done, with some changes to wd-extensions and a change to the change-password test, I think an entire class of timing issues should be resolved in Firefox and IE.

[2012-11-15 12:30] #2707 closed, assigned to shane-tomlinson

[2012-11-15 12:58] shane-tomlinson commented on #2706
@jrgm - I have a screen shot of this - ![Screen shot of Java Crash](https://www.evernote.com/shard/s1/sh/2914ed38-5394-43df-bb83-fd0bcebac2c0/f67fdf0e2384bffd86139d546d31e07f)

[2012-11-15 13:02] shane-tomlinson opened #2720 "allow siteLogo and returnTo to include paths that start with //"
As decided in issue #2480

[2012-11-15 14:43] wolftune commented on #2718
I think you may have misunderstood. Everything is completely successful in terms of being logged in to the site.

The problem is that user goes through steps and doesn't end up specifically looking at the intended site. The user has to either A. go back to the tab which has the original site loaded, or B. click the link or enter the URL of the original site again to be there.

This may seem obviou

[2012-11-15 15:16] shane-tomlinson commented on #2718
@wolftune

This is the part that I am confused about. Persona _should_ automatically redirect you back to the original site after you click on the verification email, with the caveat that the site _must_ be using the .watch/.request API and not the .get API.

[2012-11-15 15:20] shane-tomlinson commented on #2718
@wolftune - you can try the expected flow from our demo site http://123done.org, sign up as a new user. After you click the verification link in the email, it should open the link on persona.org and then redirect you back to http://123done.org. After you land on 123done.org, it should sign you in automatically. If this is not happening, would you be willing to help us debug why? This is pretty cor

[2012-11-15 15:32] shane-tomlinson commented on #2706
@6a68, @jrgm - I have completely bastardized clickIfExists, you don't want to look at the code. But, as@6a68 suggests, adding these to the eyedee.me submit button has "fixed" the problem. Yuck.

[2012-11-15 15:39] shane-tomlinson commented on #2702
@6a68 - so my bastardization of clickIfExists is doing what you suggest here.

Every time a new window is opened, I get a handle to the window and save it.
When clickIfExists is called, I then:
1) wait for 15 seconds for the dialog to potentially close.
2) get the current list of window handles.
3) check that the window handle we think is current is still in the list. If so, try to click the butto

[2012-11-15 15:47] jaredhirsch commented on #2702
Ha, that's awesome. If you look at the open issue against admc's wd, sebv
suggested we check for a specific error code in out utils.waitFor method.
Also, it looks like they've added their own extension method to poll for
elements, we can try that as well.

For now, though, I'm satisfied if the bug fixes tests on our platform of
the week, FF16/vista :-)
On Nov 15, 2012 7:39 AM, "Shane Tomlinson" no

[2012-11-15 17:51] lloyd commented on #2696
@warner, what do you think about loosening this constraint?

[2012-11-15 17:55] lloyd commented on #2695
@callahad - what's the status of our new language for the site?  If we're far away, maybe it's best to incrementally improve this language?

[2012-11-15 18:46] jaredhirsch commented on #2704
hah, I split vows to change the browser setup calls and reinserted stuff in the wrong order. null was getting passed as the link to open. about:blank stuff wasn't a factor at all.

[2012-11-15 18:47] #2704 closed, assigned to jaredhirsch

[2012-11-15 18:54] jaredhirsch commented on #2706
@AutomatedTester - we're seeing super funky java crashing in this test (see the screenshot shane posted). Know anybody at Sauce who would be interested in this?

[2012-11-15 19:21] jaredhirsch opened #2721 "test runner: don't start tests unless sauce has resources available"
I'm not totally sure, but I think [this Jenkins job](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.firefox.16/1957/console) failed because it kicked off 6 tests, but some of those used multiple browsers, so that the change-password-test was started, but never got access to a sauce VM at all. I think that's why the run failed.

One way to address this is to have individua

[2012-11-15 19:42] jaredhirsch commented on #2721
bumped down to 3 stars because we can put this off for a little while

[2012-11-15 20:23] lloyd opened #2722 "return "Server Too Busy" when we are."
currently all of our processes that handle requests keep going when they are maxed out.  This causes them to not respond to health checks in time and drop out of the load balancer.

When this happens, all connected clients are affected and get error codes.

Rather than hitting this point, processes should pre-emptively return 503 error codes (as soon as possible when over 90% usage), and keep runn

[2012-11-15 20:49] jaredhirsch commented on #2691
should we reduce the star count, since this only seems to affect dev?

[2012-11-15 20:49] jrgm commented on #2721
I wrote this https://github.com/jrgm/browserid/commit/f0cbb53ebb72b1ba2d04dd3bcace3457816a4e34 but then
kinda forgot about it. Look useful for this?

[2012-11-15 20:57] wolftune commented on #2718
Thanks, Shane!

You were right. It turns out that we were using the .get. The thing is, that wasn't a conscious choice, it was in the internals of the library we were using.

However, although we've now succeeded in getting out site working, there remains a problem that should be fixed with .get:
The email the users receive makes it sound like they will be forwarded to the site and instead they ar

[2012-11-15 21:22] lloyd commented on #2711
merged into train-2012.11.09 and dev.  wewt.

[2012-11-15 21:22] #2711 closed, assigned to shane-tomlinson

[2012-11-15 23:06] wolftune opened #2724 "request: hide URL when site name is redundant"
Our site's name is the URL. We can choose to just have no specified name and then Persona uses the URL as the name. Overall, that's fine. But we'd like to be able to have control over capitalization. Also, we'd like the main domain name to be used as the site name when we have a login to a subdomain.

Our request: when a specified site name matches the URL (perhaps differing in capitalization thou

[2012-11-16 00:25] jaredhirsch opened #2725 "update stage Jenkins jobs when kapow-bearing train leaves the station"
kapow has been merged into dev (dun dun dun!).

When the next train is cut and hits stage, need to update stage jenkins jobs to use node stuff.

[2012-11-16 00:25] jaredhirsch opened #2726 "update prod Jenkins jobs when kapow-bearing train is released"

[2012-11-16 02:31] jrgm opened #2728 "Missing error check; lib/primary.js crashes if no content-type in response"
Just happened to notice this, but this should check that there is a content-type before using it.

[code]

https://github.com/mozilla/browserid/blob/dev/lib/primary.js#L167

[2012-11-16 11:08] shane-tomlinson commented on #2718
@wolftune - Thanks for checking the underlying code in your library, I am glad that this is resolved for you.

I completely understand what you are getting at with the email, there was talk at yesterday's bug scrub that the email text was already changed for this exact reason, it is just in the queue to be delivered to the production servers.

This was done in aec53d9cd8e7ff8dd494ad76af696dd17f484

[2012-11-16 13:23] wolftune commented on #2718
That doesn't fix it, it just helps the wording be more concise.
To fix the issue here without technical changes (i.e by just changing the text), it needs to say something like:
"Click to confirm this email address. This will then send you to the Persona account page. Afterward, when you manually return to %s, you will be automatically logged in."

I wish it could be less words but it needs to be c

[2012-11-16 17:03] ozten commented on #2718
Can you file a bug against that library to upgrade to the `watch` API? `get` is deprecated. Which one is it, out of curiosity?

[2012-11-16 17:30] wolftune commented on #2718
Sure, I'll look into that. It was the BrowserID plugin for Yesod (http://www.yesodweb.com/)

See https://github.com/yesodweb/yesod/blob/master/yesod-auth/Yesod/Auth/BrowserId.hs

I opened this ticket:
https://github.com/yesodweb/yesod/issues/453

Thanks for the help, and sorry for my confusion. Just trying to help everything be clear.

[2012-11-16 19:46] jaredhirsch commented on #2715
@jedp - just a placeholder for a conversation, an etherpad with some cryptic shell scripts pasted in, or a series of increasingly difficult physical challenges culminating in a battle with those giant Q-Tips they used to use on American Gladiators. Whatever works for you.

[2012-11-18 17:17] snoyberg commented on #2718
Author of the plugin in question. I've updated my code, but in the process I ran into two quirks.
1. It seems like the only reason I need to switch to the .watch API to address this issue is to be able to provide the returnTo parameter. Is there any inherent reason not to allow that parameter in .get?
2. The Yesod authentication system is built to allow multiple authentication systems, including O

[2012-11-18 23:23] fmarier opened #2729 "No confirmation that your password has been changed successfully"
Steps:
1. go to https://login.persona.org and login
2. click "Edit" next to your password
3. change your password
4. nothing tells you that it worked

This was especially confusing when I tested that functionality with a blind user. He wasn't sure that it had worked and spent a bit of time looking through the page elements for some kind of confirmation text.

[2012-11-18 23:28] fmarier opened #2730 ""Bad password" red overlay is invisible to screen readers"
Steps:
1. click the sign-in button on 123done.org
2. enter your email address
3. enter the wrong password

A red overlay pops up to tell you that the password is wrong but it disappears while a blind user tries to look through the page elements to find out what is going on.

That error message is dismissed after a short timeout. It's not long enough to enable a screen reader to really pick it up.

[2012-11-18 23:49] fmarier opened #2731 ""Check your email" screen needs to focus the first text element"
Steps (using a screen reader):
1. click the sign in button on 123done.org
2. use a new email address to sign into the dialog and click "next"
3. type your password twice and click "done"

At this point, you get the "check your email" screen . On a screen reader though, it's not clear that anything happened at all because we're still on the same page.

According to the blind user I tested this with

[2012-11-19 00:02] fmarier opened #2732 ""Is this your computer?" screen is very confusing when using a screen reader"
The "Is this your computer?" screen in the dialog has two buttons:
1. One month
2. This session only

Unfortunately, on a screen reader, it looks like this:
1. One month [button]
2. I trust this computer This session only [button]
3. This is not my computer [text]

In other words, the labels on the right of the buttons are not connected properly to the matching button.

[2012-11-19 16:51] jaredhirsch commented on #2721
Bumped back up to 4 stars because it happened again:

https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.chrome/1971

[2012-11-19 16:53] jaredhirsch commented on #2721
Bumped back down to 3 stars because the next run passed:

https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.chrome/1972/

[2012-11-19 17:22] jaredhirsch opened #2735 "synchronize jenkins and persona-deployer"
Since the tests are running against dev, we're now going to hit problems where a cron sometimes trips over a running deployer. Also, having Jenkins build on git commit will clash with persona-deployer doing the same. Also, should the deployer wait for Jenkins to finish before deploying?

Options to consider:
1. Jenkins is kicked off by deployer after deployer is done (instead of Jenkins listening

[2012-11-19 17:56] shane-tomlinson opened #2736 "run-all.js not finding test modules on ephemeral instances."
reset-password-test | vista_firefox_16 | module.js:340
reset-password-test | vista_firefox_16 | throw err;
reset-password-test | vista_firefox_16 | ^
reset-password-test | vista_firefox_16 | Error: Cannot find module 'code/automation-tests/tests/reset-password-test'
reset-password-test | vista_firefox_16 | at Function.Module._resolveFilename (module.js:338:15)
reset-password-test | vista_firefox_1

[2012-11-19 18:12] jaredhirsch opened #2737 "add logging to run-all to isolate non-zero exit codes"
Many recent test failures (for example, FF 16 run [2064](https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.firefox.16/2064/)) don't show much output useful in diagnosis.

Some options:
- in xunit mode, if exits non-zero, give the name of the test that exited non-zero
- add verbose option to run-all to dump lots of info to the console

[2012-11-19 18:25] jaredhirsch commented on #2721
related to #2737: let's get more data, make a more precise diagnosis, and then see what actions to take.

[2012-11-19 18:25] #2721 closed, assigned to nobody

[2012-11-19 18:39] jaredhirsch commented on #2715
I'm stealing. Will try to shell into le box and extract wisdom by perusing the source.

[2012-11-19 18:45] jaredhirsch opened #2739 "enable/disable buttons uniformly"
To ensure our automated tests don't try to click buttons when they're in the DOM but not wired up, ensure we're always using the same classname/attribute combination.

[2012-11-19 18:59] jaredhirsch opened #2740 "wd-extension: wait until buttons are enabled before attempting to click"
We sometimes try to click buttons before their event handlers are wired up. Add a method that polls on the server until a specified CSS selector or attribute is present/absent from an element. We'll use this util to wait for the .disabled class/disabled attr to be gone before attempting to click.

If we want to poll on the wd side, it looks like the JSON wire protocol supports fetching computed CS

[2012-11-19 19:09] jaredhirsch commented on #2702
this looks fixed to me. @shane-tomlinson, reopen if I'm wrong.

[2012-11-19 19:09] #2702 closed, assigned to nobody

[2012-11-19 19:25] jaredhirsch opened #2741 "this-is-my-computer & selenium bug workaround"
We could hack the time to ensure this never/always appears.

Or, add a wd-extension method: set implicit wait down to zero, poll on the remote browser at 1 sec intervals, handle the window-gone exception gracefully

[2012-11-19 20:37] shane-tomlinson commented on #2736
This is now affecting change-password-test and cancel-account.

[2012-11-19 22:13] jaredhirsch opened #2742 "cwd changes to run-all cause failure/devastation in jenkins"
weird directory structure bidness, causing great sadness.

[2012-11-19 22:33] jaredhirsch commented on #2659
@jrgm, @gene1wood pointed out that the expected response code is specified here, but the actual POST bodies aren't specified above.

If it's possible to POST with empty bodies or static bodies, can you specify the static bodies for each of these?

If dynamic contents are needed for each of these, we need to figure out how to generate those onboard the nagios machine.

[2012-11-19 23:27] benadida commented on #1232
Let me try to jumpstart this issue, since it seems important.

Reset password link followed by password entry is quite typical. I suggest we do this unless we have a good reason not to. @shane-tomlinson @lloyd you have concerns about a potential security issue: can you elaborate?

[2012-11-20 01:21] jrgm commented on #2659
Some additional notes on two of them (the straightforward ones), adding how to call (arguments if any) and what a valid response looks like):

GET /wsapi/session_context
- this is a straight GET, no arguments or authentication required
- response code 200 - returns application/json that should be parseable and contain these keys:
    '{ csrf_token, server_time, authenticated, auth_level, domain_ke

[2012-11-20 01:33] seanmonstar opened #2744 "unverified email for b2g"
We need an undocumented way of using unverified emails, only for FirefoxOS for now.

details available at https://bugzilla.mozilla.org/show_bug.cgi?id=794634#c9

[2012-11-20 01:34] jrgm commented on #2659
Um, sorry, by little more of a dance, I mean it has to first get session_context so it has a CSRF token for the POST, and then depending on the api, might authenticate so it has a session cookie, and then call the api to test (i.e., list_emails is a simple get with no arguments, but without a valid session cookie, it will return 400 Bad Request).

[2012-11-20 02:20] jrgm commented on #2659
I should note that the argument for address_info is url encoded. So `/wsapi/address_info?email=someuser%40domain.com`

[2012-11-20 04:34] seanmonstar commented on #2744
After digging into our API and seeing how things work, i think I know how to support un-verified users being authenticated. After that, comes the additions to the verifier.

The database table for users will need a new row, `unverified`, or `verified` perhaps. Or maybe it can be a 3rd "auth_level": `password`, `assertion`, and now `unverified`?

`/wsapi/stage_user` should accept a new argument, `a

[2012-11-20 08:59] shane-tomlinson commented on #1232
@lloyd and @jrgm both had concerns about changing this flow. @jrgm had concerns about bad acting email providers reading user's emails, but I do not remember the particulars.

[2012-11-20 10:49] shane-tomlinson opened #2745 "run-all.js sometimes returns with status "0" even though vows exits with code 2"
exiting with code 2
<

0/0 tests passed

[2012-11-20 11:29] shane-tomlinson opened #2746 "personatestuser only allows env from prod, stage, dev or local"
This is after fixing change-password-test.js to report errors that occur in setup.

➜  automation-tests git:(cancel-account-failure) ✗ PERSONA_ENV=testy-temp vows tests/change-password-test.js
request test user response env must be one of prod, stage, dev, local
✗teardown called
··

  1: setup tests
    ✗ succeeds
      »   env must be one of prod, stage, dev, local
✗ Broken » 1 honored ∙ 1 broken

[2012-11-20 12:00] shane-tomlinson commented on #2742
The same root cause as #2736, closing.

[2012-11-20 12:00] #2742 closed, assigned to shane-tomlinson

[2012-11-20 12:01] shane-tomlinson opened #2747 "testHelpers.setup done callbacks do not check for the existence of the fixtures."
This causes problems in tests that make use of personatestuser when run against ephemeral instances.

Link to #2736

[2012-11-20 15:08] shane-tomlinson opened #2749 "Tests to be run are not shown from run-all.js"
Tests that are ignored are shown, but not tests that are to be run.

[code]

It would be nice to know that change-password-test.js is to be run (it should be here) because then we would know that the "Running 0 suite(s) on 0 platform(s)" is incorrect.

Better:

[code]

[2012-11-20 15:25] shane-tomlinson opened #2751 "Default Selenium test browser is set to vista_chrome instead of vista_firefox_16"

[2012-11-20 17:13] ozten commented on #2744
I'll defer to @benadida.

[2012-11-20 18:12] #2736 closed, assigned to shane-tomlinson

[2012-11-20 18:50] #2751 closed, assigned to shane-tomlinson

[2012-11-20 18:50] #2747 closed, assigned to nobody

[2012-11-20 18:50] #2749 closed, assigned to nobody

[2012-11-20 19:51] jrgm commented on #1232
@vthunder pointed out that my argument was moot since the bad acting email provider could initiate the flow itself.

[2012-11-20 19:52] benadida commented on #1232
@jrgm cool. @lloyd any remaining concerns? I think @skinny97214 is right, so unless we have an unexpected complication, we should probably move forward on this.

[2012-11-20 20:44] benadida commented on #2744
@seanmonstar I'd recommend a new column. Worth exploring how this works with the field we set when a password is reset.

Worth laying out all the necessary changes:
- cert_key should use a different root key
- verifier needs to take a parameter that allows unverified and returns the right data structure
- anything else?

[2012-11-20 20:44] benadida commented on #2744
@seanmonstar to be clear, I think this direction feels right. Go for it, and let's check in regularly in case it ends up being a bad decision.

[2012-11-20 23:07] seanmonstar commented on #2744
@benadida good point, I didn't think of cert_key.

While most of this extra functionality can live at the FxOS domain, since we hope to use the same database as the rest of Persona, the database changes will need to be merged back into production, right? @lloyd see any issues with that?

[2012-11-20 23:10] benadida commented on #2744
@seanmonstar @lloyd what I've proposed and what I suggest we keep doing for now is to make the changes we need for fxos, then delay discussions of merging (even the DB) until early next year, once we've ironed out all the last-minute needs / changes.

[2012-11-21 04:33] jrgm opened #2754 "HTTP expiry on the cookie doesn't match the encrypted/signed client-sessions expiry"
tl;dr - main site should more gracefully handle /wsapi/logout 403, or check with /wsapi/session_context first

STR

1) Edit config/local.json and add these two values:

[code]

2) Load http://127.0.0.1:10002 and signup as a brand new user (or use an existing user, but use a clean profile so there is no previous state).

3) When you sign in, a session cookie is issued with embedded values of "now"

[2012-11-21 07:41] jedp commented on #2746
I've submitted lloyd/personatestuser.org#21 as a proposed solution

[2012-11-21 07:44] jedp commented on #2715
Q-Tips sounds like a good start.

[2012-11-21 08:53] shane-tomlinson opened #2755 "Make Testy work with Pull Requests"
This is somewhat difficult at the moment because GitHub does not call the Web Notifier Service on a Pull Request. Travis-CI gets a notification with a SHA that is not usable to do a git checkout, instead the PRs HEAD must be checked out.

[2012-11-21 17:02] #2746 closed, assigned to jedp

[2012-11-21 17:16] callahad commented on #2718
@snoyberg A key feature of `returnTo` is that, when the user returns, they're logged in on that site. That's only possible with `watch`, since it lets us automatically fire an `onlogin` action when the user lands on the page. We couldn't do that with `get`, so we haven't exposed it there.

For the second issue, could you write to our mailing list? It seems like there could be room for additional d

[2012-11-21 19:48] snoyberg commented on #2718
Thanks for the response. I hadn't realized that `onlogin` fired that way, it might work out perfectly for me. I'll try and test it out tomorrow and let you know the results.

[2012-11-21 20:13] benadida commented on #2693
I would like to mark this invalid, because I'm okay with other apps calling this API, and we're starting to get requests for it in mainline browserID, too. So, closing, but reopen if you feel strongly!

[2012-11-21 20:13] #2693 closed, assigned to seanmonstar

[2012-11-21 20:14] benadida opened #2757 "merge forceAuthentication into mainline Persona service"

[2012-11-21 20:19] seanmonstar commented on #2693
This was just to investigate if there was a need, not that it actually had to be done.

[2012-11-21 20:23] seanmonstar commented on #2744
@benadida or @lloyd:

Since this is my first foray into the backend, I'll just talk much more about my problem than I normally would, to make sure I don't miss something.

In /wsapi/stage_user, I see that db.stageUser is called, which creates a new row in `staged`. I'm wondering if from there I can call db.completeCreateUser, perhaps with a modification to not need the token? And then after that,

[2012-11-21 21:23] shane-tomlinson opened #2759 "xhr mock does not give any useful information if a mocked request is not found"
This can really trip up a developer who is not familiar with the internals of everything, better logging is a must.

[2012-11-21 23:07] dgreisen commented on #2757
modified from my post to dev-identity:

This feature is badly needed, but the implementation is very insecure. You don't have to be a sophisticated attacker to bypass this security feature. You just need firebug to delete the flag in the javascript and you can make unlimited purchases, delete accounts - do anything that the developer trusted could only be done by an individual in possession of the

[2012-11-22 00:06] callahad commented on #2757
More discussion on the dev-identity mailing list: http://thread.gmane.org/gmane.comp.mozilla.identity.devel/2677

And a reminder: **Please submit pull requests and/or open GitHub Issues against [mozilla/id-specs](https://github.com/mozilla/id-specs) before anything like this enters the mainline!**

[2012-11-22 00:41] ozten commented on #2744
Very cool, nice work so far. I'd like to see a concrete example of what the updated db would look like.

I'll throw out a variation:

Would it be possible to implement this without any new db changes?

The `staged` table would be used to store `email` and `passwd` (as it currently is). Additional logic would be added to use it from an unverified email perspective.

I think this table already has a

[2012-11-22 01:53] jrgm commented on #2581
Hmm, I thought I had closed this. At any rate, there is no specific answer from Postini about why it was flagged. Mozilla has very high sensitivity settings which contribute to false positives. I had asked that IT not whitelist us. This will just have to a canary. Not a terrific answer, but closing this issue.

[2012-11-22 01:53] #2581 closed, assigned to jrgm

[2012-11-22 09:57] shane-tomlinson opened #2762 "Allow tooltip.showTooltip to specify either a reference DOM element or text and an anchor element."
Groundwork for #2641, which is 4*

[2012-11-22 10:32] shane-tomlinson commented on #1812
relate to #2641

[2012-11-22 10:33] shane-tomlinson commented on #1812
Upgrading to 4\* because #2641 is 4*

[2012-11-22 22:11] pandark opened #2763 ""#~" and quotes appended to the strings in the login screen"
When I've not logged in or I've clicked the "It's not me" button,

What I should see:

<blockquote>bugzilla.mozilla.org utilise Persona au lieu d'un nom d'utilisateur pour vous identifier.</blockquote>

 <blockquote>Pour vous identifier avec Persona, veuillez saisir votre adresse de courrier électronique.</blockquote>

What I see instead:

<blockquote>#~ "bugzilla.mozilla.org utilise Persona au li

[2012-11-23 11:28] shane-tomlinson commented on #2622
Re-opened because this request is made often.

[2012-11-23 11:40] cyberdees commented on #2622
I don't have a proposed solution (yet) — but just wanted to highlight that I often choose an associated email address and just wait, forgetting that the sign-in button is a scroll or two away.

Could it perhaps be somewhere else in the UI always visible but grayed out until an email is selected? Changing from gray to blue with immediately highlight it for me too.

I don't mind the scrolling (too m

[2012-11-23 16:02] lookfirst commented on #2622
So glad this is re-opened.

[2012-11-26 10:55] shane-tomlinson commented on #2739
@6a68, @lloyd - This needs to be re-considered. Right now, the submit_disabled class is added to the body when an XHR request is out. This has worked well for us and after further digging into the code, I am hesitant to change it because the scheme works very well for screen transitions.

1) If buttons are disabled when screen transitions to another, buttons are still automatically disabled after

[2012-11-26 14:14] pthulin commented on #2018
Having the same problem with "@youtify.com" addresses.

[2012-11-26 18:08] jaredhirsch opened #2766 "make util.waitFor take err as first arg"
Currently utils.waitFor's done() cb takes whether you are done as the first argument, and the error as the second argument. This makes them a bit hard to parse when reading nested node-style callbacks inside the wd-extension code, like in wclick.

Modify waitFor to pass the error as first argument, node-style, and update callers.

[2012-11-26 18:12] jaredhirsch commented on #2725
we're cutting a train today, so working on this task presently.

[2012-11-26 20:35] anaaktge opened #2767 "password rejected for anaaktgeboren@mozilla.com | ally@mozilla.com"
When attempting to sign into bugzilla or http://ponyplace.ajf.me/ with either mozilla email address, the correct password is rejected with "This email address & password do not match".

The password does not contain any unusual characters and is neither short  nor excessively long.

[2012-11-26 21:04] anaaktge commented on #2767
and etherpad. which is a serious bummer for work-related things.

[2012-11-26 21:16] callahad commented on #2767
Has this same password worked previously for you? Can you try resetting your password?

[2012-11-26 21:26] ozten commented on #2674
Okay, I see how I can use `require` to get jwcrypto and then `jwcrypto.extractComponents(cert).payload.iss` to get the issuer.

OT: I was surprised to find we have a `require` implementation, seems like it would be useful throughout our frontend code.

[2012-11-26 22:09] anaaktge commented on #2767
My password had not changed recently, so I think but cannot prove that the password worked previously.

I reset the password. Same issue.

[2012-11-26 22:33] lloyd commented on #2767
@anaaktge Hi!  I wonder if you would mind very quickly creating a screencast of you reproducing the problem on http://123done.org ?  This would help me theorize on what exactly is going wrong.

[2012-11-26 22:41] callahad commented on #2767
@anaaktge Also, have you _ever_ been able to successfully log into a site with Persona using one of those addresses? Using any address at all?

Can you try a different browser or another computer with those same addresses?

[2012-11-26 22:58] anaaktge commented on #2767
@callahad Yes, I have signed into sites with persona with those addresses(the services teams <3 etherpad). I tried 123done, bugzilla, & etherpad on IE with the same results. I also tried chrome on gene's ubuntu box and 123done produced the same error.

@lloyd Im afraid win8 will not make that terribly easy at present. If you are about the sf office, I can bring the machine to you(or another identi

[2012-11-26 23:26] ozten commented on #2767
@anaaktge can you try recording a screencast with Jing and paste the url here?
http://www.techsmith.com/jing.html

lloyd and others are not in sf.

[2012-11-27 02:45] ozten commented on #2674
There are some tricky timing issues (if done another way), but it looks like adding this to pick_email and authenticate is the most promising...

https://github.com/ozten/browserid/compare/mozilla:primary-transition-ux...ozten:issue-2674-invalidate-via-addr-info

I'll try to manually test with hardcoded data in a bit, before issuing a pull request.

[2012-11-27 04:23] ozten commented on #2674
The behavior is identical to the `notMe` state. The user has to re-enter their email address.

This is not ideal, but changing issuers will happen so infrequently... maybe it is okay for a first cut?

We can also probably do better by using this codepath in the transition detected codepaths, where we know we can clear a cert w/o checking address info.

[2012-11-27 04:23] jaredhirsch opened #2768 "IE9: mysterious java error causing tests to fail & hang for 10+ minutes"
3/5 recent failed runs were caused by this mysterious java crash.

Some recent IE9 jobs that failed due to the nefarious java plugin crash:

11/26 19:20 - #1958
- add-primary-to-primary: ARGH. java error again.
  - https://saucelabs.com/tests/8769ff0e8fbf420ba62a409ef61dd48b#
- add-primary-to-secondary: failed to click 'sign in' dialog button after entering password for verified secondary acct
- n

[2012-11-27 04:26] jaredhirsch opened #2769 "FF16: clicking "add another email address" button causing trouble"
4/5 recent failures were due to not successfully clicking the "add another email" button in the dialog.

More details: https://gist.github.com/4152343

Need to click this a bit differently--might be auto-fixed by @shane-tomlinson's merging of wsubmit code into wclick?

[2012-11-27 04:28] ozten commented on #2675
Dup of Issue #2674

[2012-11-27 04:28] #2675 closed, assigned to nobody

[2012-11-27 04:56] seanmonstar commented on #2404
@lloyd @ozten when not authed, I can't call `/wsapi/complete_transition` to mark the transition completed, so it will likely need to piggyback on a call when the verification comes back positive. Is there a call that the state change should be join?

[2012-11-27 05:00] seanmonstar opened #2770 "Not authed / secondary / transition_to_secondary"
If the user isn't logged in, and types an email that is known to us that used to be a primary, but is now a secondary, they need to be shown a transition explaining they need to use the password they created previously on Persona.

Not having a password previously is a different issue.

[2012-11-27 14:05] shane-tomlinson commented on #2769
@6a68 - this should be taken care of with the update to wclick in #2771

[2012-11-27 14:29] shane-tomlinson commented on #2739
Closing this as won't fix. We are going to keep the current scheme because it is working for us, and modify the tests instead. See issue #2740

[2012-11-27 14:29] #2739 closed, assigned to shane-tomlinson

[2012-11-27 15:44] ozten commented on #2688
Updated code to match updated backend.
Progress at https://github.com/ozten/browserid/compare/mozilla:primary-transition-ux...ozten:issue-2688-offline-screens-rebase

Next step is to fix the unit tests.

[2012-11-27 16:04] lloyd commented on #2739
Fair 'nuff.

-- lloyd (thumb-typing)

On Nov 26, 2012, at 3:55 AM, Shane Tomlinson notifications@github.com wrote:

[2012-11-27 16:59] shane-tomlinson commented on #2769
Closing as same cause as #2740

[2012-11-27 16:59] #2769 closed, assigned to shane-tomlinson

[2012-11-27 17:06] ozten commented on #2688
pull request is ready:
https://github.com/mozilla/browserid/pull/2773

[2012-11-27 17:28] ozten commented on #2674
https://github.com/mozilla/browserid/pull/2775

[2012-11-27 18:12] ozten opened #2776 "testuser2@testuser.com needs mock in xhr.js"
In both the b2g and bigtent sprints, I ran into a missing mock in xhr.js

[code]

Fixed it.

See https://github.com/mozilla/browserid/pull/2775/files#r2239154 for reference.

[2012-11-27 18:35] #2740 closed, assigned to shane-tomlinson

[2012-11-27 18:43] #2699 closed, assigned to nobody

[2012-11-27 19:37] jaredhirsch commented on #2768
Spoke with @santiycr in #saucelabs on freenode. He's opening a support ticket on their side & will update me by email. I'll keep this ticket up to date.

_6a68       hey sauce. I'm seeing java SE plugin crashes on a lot of IE9 tests lately. anybody heard of such a thing?           10:55
_6a68       take a look at this test: https://saucelabs.com/tests/8769ff0e8fbf420ba62a409ef61dd48b#
10:56
_6a68

[2012-11-27 20:16] jaredhirsch commented on #2741
fixed by PR #2772

[2012-11-27 20:16] #2741 closed, assigned to shane-tomlinson

[2012-11-28 00:03] #2688 closed, assigned to ozten

[2012-11-28 02:53] ozten commented on #2717
Pull Request: https://github.com/mozilla/browserid/pull/2778

[2012-11-28 05:31] seanmonstar opened #2779 "Not authed / secondary / transition_no_password"
If the user isn't logged in, and types an email that is known to us that used to be a primary, but is now a secondary, and have never used a password with this email, they need to be shown a transition explaining they need to create a password for use with Persona.

[2012-11-28 06:03] ozten commented on #2770
Great work! r+ once [travis is green](https://travis-ci.org/seanmonstar/browserid/jobs/3395109) which you already fixed. I'll check back later to merge.

[2012-11-28 12:19] #2557 closed, assigned to seanmonstar

[2012-11-28 14:46] shane-tomlinson opened #2781 "PhantomJS: /signin page. New email addresses are not trimmed before submission"
This appears to be a PhantomJS only problem, other browsers are automatically trimming the address.

[2012-11-28 16:43] jaredhirsch opened #2783 "IE8 and IE9: frequent failures with "sorry there has been an error" message"
This is one of the most common failures.

IE9 runs to examine: https://gist.github.com/4281705, https://gist.github.com/4319268

IE8: https://gist.github.com/4333301 (this is with explicit, not implicit waits, but the behavior seems to be invariant)

[2012-11-28 16:43] shane-tomlinson opened #2784 "Selenium: Handle various browser exceptions for "Window gone""
Chrome returns:
"NoSuchWindow: findElement execution failed; The window could not be found"

Firefox returns:
"Exception: Window not found. The browser window may have been closed."

IE returns:
"Unable to find element with css selector" and a status of 13.

Opera always returns the exact same thing. No way to differentiate if the window is gone yet.

[2012-11-28 16:51] djc opened #2785 "Intermittent spinner while provisioning from primary IdP"
In the Persona dialog, while provisioning (e.g. no need to be authenticated with the IdP, clicking the button to "sign in"), the spinner will sometimes disappear for a while (e.g. between 300ms and 1.5s?) while the provisioning is happening. I think the spinner appears twice, while in between there's no visible sign of progress. This is slightly crappy UX, since it seems like something's breaking

[2012-11-28 17:02] jaredhirsch opened #2786 "sauce performance enhancement: disable videos for passing tests, disable screenshots always"
The actual work here is figuring out how to tell sauce that a given test run was a failure.

Ref: https://saucelabs.com/docs/additional-config#performance

[2012-11-28 17:20] lloyd commented on #2786
How much faster will tests run?

-- lloyd (thumb-typing)

On Nov 28, 2012, at 10:02 AM, Jared Hirsch notifications@github.com wrote:

[2012-11-28 17:27] jaredhirsch commented on #2786
Good question. Needs a little experimentation. Would be useful to mark
tests as passed/failed regardless of whether we ultimately want to
disable/enable videos.

On Wed, Nov 28, 2012 at 9:20 AM, Lloyd Hilaiel notifications@github.comwrote:

[2012-11-28 17:58] jaredhirsch commented on #2768
Dunno if this is public or not, but I opened a sauce help desk ticket:

http://support.saucelabs.com/requests/3536

[2012-11-28 18:21] #2784 closed, assigned to shane-tomlinson

[2012-11-28 18:40] santiycr commented on #2768
I've been having issues with Zendesk, therefore have been unable to create the ticket yesterday. While I deal with that myself, I'll send you the response to your ticket right here:

---

Thanks for creating the ticket here, Jared. This is the right place for communicating about it.

Regarding the issue, is there any particular change in your tests or application that could have caused this? Did t

[2012-11-28 19:15] gene1wood commented on #2767
Aha, turns out Vinz Clortho is not live ( https://wiki.mozilla.org/Identity/BrowserID/VinzClortho ) and ( https://mozilla.com/.well-known/browserid ) meaning that for email addresses @mozilla.com one's password has nothing to do with one's LDAP password.

[2012-11-28 19:15] anaaktge commented on #2767
hat tip to mconnor.

I apparently have a local password (my ldap password 4 iterations ago) which does work. Mike Connor points out that his persona account has a local password (different from his ldap) because his persona account was created before mozilla became an Idp. I created mine around the same time, and apparently also have a local password.

I understand from gene that the bridge betwee

[2012-11-28 19:15] callahad commented on #2767
Marking resolved -- this was a misunderstanding related to the fallback. Mozilla.com is _not yet_ a native Identity Provider, so a user's Persona password is not in any way connected to the internal LDAP password.

[2012-11-28 19:15] #2767 closed, assigned to nobody

[2012-11-28 19:31] ozten opened #2788 "Hidden files ending in .ejs can crash template engine"
Sometimes my editor leaves working files like `.#foo.ejs` in the directory while I'm editing foo.ejs.

I have to remove these before each server restart, or else the templating engine gets confused.

This will cause the qunit tests to fail 'Cannot find Template', etc.

We should not put hidden files into the list of ejs templates on startup.

[2012-11-28 20:00] #2717 closed, assigned to ozten

[2012-11-28 20:13] ozten commented on #2770
I'm watching https://travis-ci.org/seanmonstar/browserid/builds/3404595 which is still running after 1 hour.

[2012-11-28 20:45] jrgm opened #2790 "Set a default for proxy_idps in lib/configuration.js"
We're working around with a config change in stage and prod, but defaulting here would be best.

Maybe something like:

[code]

[2012-11-28 21:14] jaredhirsch commented on #2768
Response from help desk:

Alex Glowaski (Sauce Labs Help Desk)

Nov 28 11:54 am (PST)

Hi Jared,

Thanks for reporting this. We're working to resolve this now, and the next step is to verify the version of Java in use on our machines. This may be resolved by updating Java.

If this is the case, we'll need to rebuild the image from which the Windows 2008 VMs are launched, and I'll work on that toda

[2012-11-28 22:04] gene1wood opened #2791 "browserid.spec designates wrong version of nodejs"
At this commit e69ee9965dccd17b9df7a82e767d49d0ad2c6c56 the browserid.spec was set to require "nodejs >= 0.6.17" which worked with our version of nodejs, 0.8.12-3. At this commit 412e0551517f7c9d1d345ba1ed0bc82b29eb55a3 however that requirement was changed to "nodejs == 0.8.12" which is not a version we have.

In order to maintain our desired behaviour of not upgrading to new nodejs versions and g

[2012-11-28 22:12] jrgm commented on #2791
Can we designate 'nodejs >= 0.8.12'. @lloyd?

[2012-11-28 22:14] gene1wood commented on #2791
@jrgm we hadn't wanted that behaviour to prevent having a heterogeneous set of nodejs versions in prod. For example, if some other product at mozilla uses nodejs version 0.8.13, we don't want new browserid servers to get this such that we have untested versions of nodejs in prod and a mixed set of 0.8.12 and 0.8.13 nodejs's within a cluster.

[2012-11-28 22:16] jaredhirsch commented on #2791
@gene1wood is the specfile the right place to encode that requirement, though? strictly speaking, what you're talking about is a higher-level requirement ("servers should always have the same version of node") that might be better enforced via a config management tool like puppet?

[2012-11-28 22:17] gene1wood commented on #2791
@6a68 Ya, I'd like to hear @lloyd 's thoughts.

[2012-11-28 22:59] dethe opened #2792 "Mostly blank login popup, no next step"
[Moving this from a GameOn issue: https://github.com/mozilla/gameon/issues/35 as it seems to be a problem across Persona sites (tried both GameOn and Thimble).]

When I tried to log in, I got what appears to be an incomplete Persona popup[1], not clear how to proceed.

I'm using Firefox 17.0 on OS X 10.8.2. Third-party cookies turned are enabled.

I tried logging in a few times, but it happened co

[2012-11-28 23:02] jamesshore opened #2793 "Login hangs when using iPad 3"
I have a user, @dfjones1981, who is having trouble logging in to my site with Persona using Safari on his iPad 3 (version 6.0.1 10A523). He's reproduced this on the Mozilla site as well.

**Steps to Reproduce:**
1. Visit https://developer.mozilla.org/en-US/ and click "Sign In" button, then click the "Sign In" button in the "What's This?" pop-up.
2. Enter username in Persona dialog and click "next"

[2012-11-28 23:45] lloyd commented on #2686
done, baby.

[2012-11-28 23:45] #2686 closed, assigned to lloyd

[2012-11-28 23:46] seanmonstar opened #2794 "Show new copy when transition_to_primary"
blocks #2404

[2012-11-28 23:46] seanmonstar opened #2795 "Call /wsapi/used_address_as_primary after successful primary use"
blocks #2404

[2012-11-29 02:30] jaredhirsch commented on #2768
@santiycr looks like hard-coding the selenium server version does fix it, but I'm not totally sure: I'm having trouble reproducing the problem on the old selenium server version this evening.

I'll give it another shot in the morning and follow up with Alex to see if the VMs wound up getting an updated version of Java installed on them (maybe that's why I can't repro the errors tonight)

[2012-11-29 04:11] jrgm opened #2800 "Dump process state to logfiles at startup"
To help in debugging stage/prod or even dev/local/ephemeral issues it would be useful to have each daemon write some state at startup to its logfile.

1) From the node process module, these properties: { version, argv, env, pid, execPath }. These ones also could be dumped: {arch, platform, versions, features }

2) The value of `require('./lib/configuration').toString()`, possibly reformatted with

[2012-11-29 04:17] fmarier commented on #1994
https://github.com/mozilla/browserid/pull/2797/files introduced a helpers.getDomainFromEmail() function

[2012-11-29 04:18] fmarier commented on #2660
Dropping to 1-star because it seems like it's very limited at the moment.

[2012-11-29 10:42] shane-tomlinson opened #2801 "Use MERGE instead of ON KEY DUPLICATE KEY UPDATE"
From a suggestion in the mailing list from raul.san@sent.com:

stageUser[1](https://github.com/mozilla/browserid/blob/dev/lib/db/mysql.js#L262) is using the "on duplicate key update" non-standard clause, but it could be used the MERGE statement instead. So somebody could want to use it for another RDBMS.

The MERGE statement would be like (untested):

"MERGE staged ON (email=?)" +
" WHEN NOT MATCH

[2012-11-29 15:38] lloyd commented on #2801
Our code is very mysql specific.  If one wanted to support a different RDBMS, it would be a larger process.  maybe it would be creating a postgresql.js file next to the mysql.js file and factoring out commonality.  given the other 417 open issues, I say let's not pro-actively do this.  I see little value.

[2012-11-29 15:38] #2801 closed, assigned to nobody

[2012-11-29 17:42] jaredhirsch commented on #2800
I'm excited to mess around with this today. Feel free to steal if it seems to stagnate, though.

[2012-11-29 17:49] jrgm commented on #2792
Hey, @dethe, was this on a retina display? /cc @shane-tomlinson

[2012-11-29 17:49] lloyd commented on #2790
r+, make a PR

[2012-11-29 17:54] lloyd commented on #2776
fixed

[2012-11-29 17:54] #2776 closed, assigned to nobody

[2012-11-29 17:54] #2781 closed, assigned to shane-tomlinson

[2012-11-29 17:56] lloyd commented on #2763
/cc @mathjazz

assigned to @jrgm to dedup

are french strings borked?

[2012-11-29 17:56] shane-tomlinson commented on #2759
Closing as fixed with #2760

[2012-11-29 17:56] #2759 closed, assigned to shane-tomlinson

[2012-11-29 17:58] lloyd commented on #2757
@benadida please give us some context and rationale so we can prioritize and understand the what and the why, yo!

[2012-11-29 18:00] jaredhirsch commented on #2659
reassigning to lloyd to make sure all the necessary info gets attached to this ticket

[2012-11-29 18:03] lloyd commented on #2754
solving on the frontend seems to be right,. just ignore 403s when logout fails

[2012-11-29 18:13] robhudson commented on #2757
Similar to @dgreisen, the Marketplace team is hoping to use something like this for irreversible actions (deleting accounts or submitted apps, etc). There are also administrative actions that we want to re-verify the user prior to allowing.

[2012-11-29 18:13] lloyd commented on #2724
skinny, lets' see if can strike a compromise and improve the font used for domain  when site is not present

[2012-11-29 18:13] jrgm commented on #2691
Lowering to 4-star. What @6a68 said.

[2012-11-29 18:14] jrgm commented on #2712
This is fixed.

[2012-11-29 18:14] #2712 closed, assigned to jrgm

[2012-11-29 18:17] skinny97214 commented on #2724
@wolftune Can you post a screenshot of what it looks like now for you domain?

[2012-11-29 18:18] jaredhirsch commented on #2659
@gene1wood I think what we want is to passively monitor stuff that requires an active session.

@lloyd or @jrgm plz fill in details on how we want to partition active ping checks vs passive log listening

[2012-11-29 18:22] wolftune commented on #2724
right now we just left the site name blank since the name is the URL. So everything looks fine except that it is all lower-case and we wanted to have a capitalized name. But we didn't want to see both the capitalized name and the URL at the same time since they are the same basically.

And so Llyod, your compromise doesn't help with capitalization. It also doesn't help with subdomain issues. We wa

[2012-11-29 18:27] skinny97214 opened #2802 "install Open Sans semi-bold"
http://www.google.com/webfonts/specimen/Open+Sans

Sandstone specifies semi bold. I'd like to use it in the RP name.

[2012-11-29 18:31] skinny97214 commented on #2724
Here's a mock that better balances the site name and url so that even if there is duplication it looks fine. The idea is for you to have the url for security purposes and the site name that's more human readable. @wolftune would this address your issue?

http://cl.ly/image/0D0m1f432H31

[2012-11-29 18:35] seanmonstar commented on #2802
Is using it there worth the extra download time? Especially on slower connections (EDGE)?

[2012-11-29 18:45] wolftune commented on #2724
Well, we thought of that but the problem is that we want the top-level domain bit to be included as part of the name.

What about showing the URL with longer stuff like including "http://" ? That would allow us to specify the site name and it would still make human-readable sense why there are two lines shown.

I'm not sure what else is the best way to do this. We want it to look good and be clear

[2012-11-29 18:45] skinny97214 commented on #2802
I'd be willing to trade out semi-bold for bold as that's what Sandstone specifies.

[2012-11-29 20:26] benadida commented on #2757
@lloyd this feature, that a web site should be able to force reauthentication, has been requested by a number of folks, within Mozilla and outside of Mozilla. Since we are building it for FXOS, it seems like a good thing to merge this into mainline. That is all :) Opportunistic merging of features that we know the community wants.

Note that I don't think our solution is fully secure against a ser

[2012-11-29 20:57] lloyd commented on #2757
thanks for the clarification.  My only qualm was with the lack of a bug description, so it's hard to make a priority call in a fast paced triage meeting :).

On Nov 29, 2012, at 1:26 PM, Ben Adida notifications@github.com wrote:

[2012-11-29 22:14] jrgm commented on #2644
https://bugzilla.mozilla.org/show_bug.cgi?id=806649 was filed for this. The user had their highest preferred language to 'fil-PH' which if Filipino Phillipines, and next preference for 'en-US', but got the dialog in Finish (fi) o_O

Raising to 4-star - "A highly visible defect which is confusing for users".

[2012-11-29 22:32] jaredhirsch commented on #2768
@santiycr hard-coding the selenium version does indeed fix it. Looks like I forgot to mention that we've always had avoid-proxy set in our tests, so that's definitely not a factor with this bug.

Here are some runs from this afternoon using the default selenium version, where we see the java error and the test hanging for 10 minutes or more:

[code]

I haven't been able to generate these same erro

[2012-11-29 22:50] jrgm commented on #2790
I realized that setting a default would change control flow in lib/primary.js (.has() would now be true not false). So, I'm just gonna change views.js to check `has` before calling `get`.

[2012-11-29 23:06] seanmonstar commented on #2656
Way too busy on bigtent and b2g, removing myself as assignee

[2012-11-29 23:09] ygjb commented on #2656
Can we get an update on when this feature will be implemented?

[2012-11-29 23:14] santiycr commented on #2768
Happy to hear that! We don't have an ETA on when we'll be able to move IE browsers to the most recent Selenium version as that is blocked in a Selenium bug not a Sauce one.
I'm planning to start investigating it and hopefully address it, but again can't make estimates I feel comfortable yet.

When this happens and we're ready for a server-wide upgrade, we'll let you (and the rest of our user-base)

[2012-11-30 00:20] #2795 closed, assigned to ozten

[2012-11-30 00:20] #2794 closed, assigned to nobody

[2012-11-30 00:21] seanmonstar commented on #2404
all implentation issues are complete, so this is done

[2012-11-30 00:21] #2404 closed, assigned to seanmonstar

[2012-11-30 00:24] ozten commented on #2674
This is mostly done. We do not use notMe, doing a better UX there.

I'm going to audit user.addressInfo and cert clearing.

[2012-11-30 01:56] jaredhirsch opened #2805 "IE9 sucks at switching windows"
We are seeing a lot [1] of test failures where
- it looks like we've logged into 123done/myfavoritebeer successfully
- IE9 cannot find the logged-in node
- the raw selenium log indicates that the element wasn't found as part of a NoSuchWindowException

My guess, based on this, is that IE9 has some bizarro way of sorting handles when it stores them internally. Either that, or it puts the newest win

[2012-11-30 01:59] jaredhirsch commented on #2768
@santiycr I ran a bunch more tests [1] and didn't see any java errors. Thanks much!

[1] https://gist.github.com/4173166

[2012-11-30 02:03] santiycr commented on #2768
\o/

[2012-11-30 02:32] jaredhirsch opened #2806 "Set up Sauce Labs overflow account & API management code"
It turns out that we can add a backup account with up to 50 concurrent VMs to handle overflow from our new Sauce account, but we have to use a different API key for that account.

I'm thinking we can fail over by using the Sauce REST API to check how many tests are in the queue, and dynamically jump over to the backup account if the queue gets long enough.

We'll also need to make sure we wouldn't

[2012-11-30 04:19] jrgm opened #2807 "if PERSONA_WITH_COVER, do a graceful shutdown of bin/static so coverage_data is created"
When I added the coverage reporting for backend, I couldn't get data for bin/static. I tried making this use shutdown.handleTerminationSignals but it seemed not to work at that time. It does now, so I'll put in a PR to add that conditionally to bin/static. (I was reminded of this while writing a test for /.well-known/browserid which is served by static).

[2012-11-30 05:41] jrgm commented on #2754
Hmm, I still had this tab open, and just re-read my original report. The key point on this issue is:

[code]

So, I haven't looked through the code but there's a mis-diagosis presented by
the UI. It's not that the user does not have cookies enabled, it's that the
client-sessions cookie has expired.

So, yes, the specific case noted in this issue can be solved for logout
on main site, but I'm wonde

[2012-11-30 11:09] shane-tomlinson commented on #2768
Thanks @santiycr!

@6a68 - I feel in this case it is acceptable for us to hard code the version string. All of our npm dependencies are tied to a particular version so that we can be sure that new bugs are introduced whenever dependencies are updated.

Last week we saw a problem with vows when its version was set to "*", vows updated but as part of the update they introduced a bug where files that

[2012-11-30 11:16] shane-tomlinson commented on #2805
Ah BOOO! I just took the code out that saves the current window handle every time there is a change to wwin. Should we put this back in?

[2012-11-30 20:00] dfjones1981 commented on #2793
Just to expand on the Incorrect Behaviour:

When I click the sign in button after entering an incorrect password, I correctly get the "Incorrect Password" message pop up. When I enter my correct password and click the sign in button, the sign in button displays a "please wait" spinning circle icon for a brief moment, then the icon disappears and nothing else happens. I would expect the login to co

[2012-12-01 00:51] jrgm commented on #2800
Sorry, @6a68. I'm a thief! But I just went for the minimal set of stuff. If you want to do something more, please do.

[2012-12-02 08:23] jrgm opened #2811 "wsapi/account_cancel.js should reset the session after cancelling the account"
Minor point, but after doing wsapi/account_cancel the session cookie identifying you as a user who no longer exists is not removed.

[2012-12-03 17:36] Brigit commented on #1232
Lloyd,
This came up in my check-in with Skinny.  Can we look at resources and ascertain if we can get this completed before the end of the calendar year?

[2012-12-03 19:30] skinny97214 opened #2813 "Account Manager - headings no longer look like headings"
![Screenshot of Persona account page](http://f.cl.ly/items/0u351i0b3l0K0P2m0N2G/Screen%20Shot%202012-12-03%20at%2011.29.43%20AM.png)
The headings "Your email addresses" and "Password" should be font-weight: 600.

[2012-12-03 20:35] djc opened #2814 "Error while authenticating with assertion"
Today I tried to login again on a site where I implemented RP flow in August. This site is still using navigator.id.get(), since I haven't had time to upgrade it yet. After clicking the "sign in" button, I first get the "Identity verified" thingy, then there's an error:

"We are very sorry. There has been an error!

Please close this window and try again.

Action: Authenticating with Assertion"

I

[2012-12-03 21:20] ozten commented on #2814
If you can provide a sample assertion and the following details:

1) Test website you were on
2) Time you signed in

Then I'll crack it open and look at the principal, the issuer, etc to see if there is anything obviously wrong.

You can get the assertion by looking at a network traffic analyzer like HttpFox, Firebug, etc and looking in the POST arguments.

[2012-12-03 22:46] jaredhirsch commented on #2402
dupe of #2735, closing this one in favor of the newer one

[2012-12-03 22:46] #2402 closed, assigned to jaredhirsch

[2012-12-03 22:48] jaredhirsch commented on #2800
no worries, @jrgm. maybe I'll get around to it at some point :-)

merged in your PR, closing.

[2012-12-03 22:48] #2800 closed, assigned to jaredhirsch

[2012-12-04 03:35] jrgm opened #2816 "b2g and in general: should HSTS max-age value always exceed browserid cookie embedded duration"
Currently, HSTS max-age is hard coded to be 30 days in our code base. Which is greater than the valid duration of the browserid session-cookie.

In GH-2681, we're setting authentication_duration_ms to a much longer duration. I haven't thought much about this, but wanted to note this for other folks (ohai, @warner, @fmarier, @lloyd) to ponder.

At minimum, the HSTS max-age should be in configuratio

[2012-12-04 04:01] jrgm commented on #2816
Hmm, interesting related note on firefox preload list and max-age to qualify:

[code]

[2012-12-04 04:10] jrgm commented on #2681
I noted a (maybe) issue in GH-2816. This was from working with notoriousb2g. @jedp, @seanmonstar we should chat about whether that is the right endpoint for me to ponder for now.

[2012-12-04 04:21] jrgm commented on #2711
This was fixed in train-2012.11.09 (currently on stage) and rechecked with train-2012.11.23 on ephemeral instance, but I hadn't noted it verified here. Now noting.

[2012-12-04 12:05] shane-tomlinson opened #2817 "wd-extensions: pick browser or self, not both"
Having two names for the same thing is causing problems - see https://github.com/mozilla/browserid/pull/2815#discussion_r2305080

[2012-12-04 12:31] #2768 closed, assigned to jaredhirsch

[2012-12-04 12:31] shane-tomlinson opened #2819 "Sauce: Same version of Selenium should be used for all browsers."
Right now for IE9 _only_, we are using 2.26.0, all others float. This sets us up for failure when we wonder why tests pass in IE but not other browsers or vice versa.

[2012-12-04 12:36] shane-tomlinson commented on #2706
Closing as fixed, both the sticky button behavior and IE9 exploding due to Selenium versions.

[2012-12-04 12:36] #2706 closed, assigned to nobody

[2012-12-04 13:24] djc commented on #2814
I've determined this is a problem with my IdP, not with the RP flow. Still, better error messages would help here.

[2012-12-04 16:32] jaredhirsch commented on #2819
You know, I was thinking we should stick to defaults by default. However, it makes much more sense to use the same version on sauce that we develop with locally.

[2012-12-04 16:39] #2817 closed, assigned to shane-tomlinson

[2012-12-04 19:15] djc commented on #2814
I've found an actually useful error message in the response from wsapi/auth_with_assertion:

{"success":false,"reason":"assertion issued later than verification date"}

The content of the assertion posted was:

{"iss": "ochtman.nl", "iat": 1354648068000, "public-key": {"y": "7e9b74b55b85ac879aaa4b63db6421b4f21fb967f02b51778159c05dc81c6a7e45044514438565c61b9f8dd2a8097cf460ad06457b44af5c06d985f8699f

[2012-12-04 19:28] ozten commented on #2814
@djc good point.

When we [verify the assertion](https://github.com/mozilla/browserid/blob/dev/lib/verifier/certassertion.js#L95) we pass in `new Date()`. We should probably push this in to the past by some tolerance, to avoid clock skew. Not sure if @warner and @lloyd have discussed this before.

[2012-12-04 19:35] djc commented on #2814
Right, it turned out the server running my IdP was running about 40s fast.

So I actually have three issues here:
- There's a great error message in the auth_with_assertion response, it should be available from the dialog (after clicking "Show me more"). I got pretty frustrated because I felt stupid for letting my login mechanism be held hostage to a big ball of JS I didn't write; making Persona d

[2012-12-04 19:35] djc commented on #2814
And what I actually meant to ask: are these issues listed elsewhere, or should I file them separately to make sure they won't get lost?

[2012-12-05 04:15] jrgm opened #2821 "[b2g] KPI is enabled on notoriousb2g.personatest.org"
Do we really want to do that there?

(This probably also means that enable_development_menu config is true, which perhaps we want at this time).

[2012-12-05 11:56] shane-tomlinson commented on #2745
Tied to cloudhead/vows#253

[2012-12-05 13:02] shane-tomlinson opened #2822 "Cannot create an account on Prod using a GMail address after address was removed from Persona"
STR)

1) open the manage page for a Persona account with a gmail address.
2) remove gmail address from current Persona account
3) visit 123done.org
4) If signed in, sign out
5) Open Persona dialog
6) If signed in, sign out
7) Enter gmail address which will create a new account
8) Enter password and verification password
9) Visit gmail and open the verification link
10) Watch the error message disp

[2012-12-05 14:56] jaredhirsch commented on #2822
@shane-tomlinson I'm unable to reproduce this using an old gmail account that's new to persona.

How else can I help to track this down?

[2012-12-05 15:20] benadida commented on #2822
unable to reproduce here, too. Here's what I think is happening:

TLDR - email addresses we staged long ago, when passwords were collected _after_ verification link, are ending up in limbo.

Details:

(a) the error "missing password for user" occurs when the staged-user row _exists_ but has a null passwd field

https://github.com/mozilla/browserid/blob/dev/lib/wsapi/email_for_token.js#L71
https://

[2012-12-05 15:23] shane-tomlinson commented on #2822
Extra info from the mailing list:

/wsapi/stage_user IS sending the password in the pass field.

[2012-12-05 15:23] benadida commented on #2822
@shane-tomlinson yep, I think this is all in the DB layer with the ON DUPLICATE.

[2012-12-05 15:27] shane-tomlinson commented on #2822
@benadida - fantastic, I'm glad that you were able to debug this. I was staring at code and nothing was jumping out at me.

[2012-12-05 16:09] lloyd commented on #2822
we might consider mitigating the immediate problem by deleting staged emails that are > 1 month old from the database, and then prepare a hotfix against our next train.  in any case, I will prepare the fix and a test of it and we can decide how to proceed from there.

[2012-12-05 16:10] benadida commented on #2822
Agreed with mitigation. Safely delete staged users with no password is even
safer.
On Dec 5, 2012 8:09 AM, "Lloyd Hilaiel" notifications@github.com wrote:

[2012-12-05 17:50] lloyd opened #2825 "email_for_token should do less"
in diagnosis of issue #2822, we found that when the database was in an unexpected state, users were unable to create an account in persona.  (specifically, one who _staged_ long ago but did not _verify_ would be blocked).

If `email_for_token` was less aggressive about verifying consistency, these users would have been to work through the problem without asking for assistance.

`email_for_token` s

[2012-12-05 17:52] lloyd commented on #2825
@fmarier or @warner, you seem like fantastic minds to review this?

[2012-12-05 20:29] #2819 closed, assigned to nobody

[2012-12-05 21:29] #2805 closed, assigned to jaredhirsch

[2012-12-05 23:26] #2606 closed, assigned to skinny97214

[2012-12-05 23:26] #2607 closed, assigned to lloyd

[2012-12-05 23:26] #2608 closed, assigned to seanmonstar

[2012-12-05 23:30] lloyd commented on #2674
resolved in 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:30] #2674 closed, assigned to ozten

[2012-12-05 23:31] lloyd commented on #2770
resolved in 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:31] #2770 closed, assigned to seanmonstar

[2012-12-05 23:34] lloyd commented on #2689
resolved with 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:34] #2689 closed, assigned to lloyd

[2012-12-05 23:35] lloyd commented on #2697
we changed this to `disabled: true` and it's landed in 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:35] #2697 closed, assigned to lloyd

[2012-12-05 23:48] lloyd commented on #2686
landed in 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:48] lloyd commented on #2678
landed in 781184b5f2b6372c0ce44fff046f1719a78553f9

[2012-12-05 23:48] #2678 closed, assigned to nobody

[2012-12-06 11:59] shane-tomlinson commented on #2763
Reported on our mailing list:

[code]

[2012-12-06 12:41] mathjazz commented on #2763
This is the duplicate of:
https://bugzilla.mozilla.org/show_bug.cgi?id=809901

[2012-12-06 17:32] jrgm commented on #2791
This is done. Closing.

[2012-12-06 17:32] #2791 closed, assigned to gene1wood

[2012-12-06 17:56] lloyd commented on #2816
@fmarier would you look into this and come back with a proposal for what duration we should be usign with HSTS?

[2012-12-06 17:58] lloyd commented on #2814
can we take this to the list?  there are some great ideas in here, but we should discuss them first and based on that open actionable issues for each thing we agree upon.

[2012-12-06 17:58] #2814 closed, assigned to nobody

[2012-12-06 18:52] jrgm opened #2828 "front-end tests - new messages output when running"
Haven't looked into this much, but there are two messages that are new after the big landing of GH-2608 and friends.
1. actions called={"doAuthenticate":true}
2. request for 'post /wsapi/used_address_as_primary valid' is not mocked in resources/static/test/cases/xhr.js

[2012-12-06 19:13] erikrose opened #2829 "Password Reset emails not being sent"
I've tried it in Safari and FF now, on two different accounts (one served by me, so I know it's not going into some spam filter), and it seems that password reset emails aren't being sent.
1. Try to log into mozillians.org.
2. Click Forgot Password.
3. Enter a new password, as prompted.
4. Click "reset password".

It says "Check your email at erik att mozilla.com", but nothing ever comes. [Breakin

[2012-12-06 19:20] erikrose commented on #2829
And now I've got the second one on my personal server. A sure way to fix a problem is to file a bug about it! This has got to be something with the incoming mail server or filters, so never mind.

[2012-12-06 19:20] #2829 closed, assigned to nobody

[2012-12-06 19:32] jrgm commented on #2829
I know this is closed but do you the email headers for those emails? What do the various time stamps indicate about where it spent its time?

[2012-12-06 20:00] erikrose commented on #2829
Actually, my Received headers look great. It would seem to indicate it blew 4 minutes on socketlabs' servers, except that it then time-traveled back 4 minutes to land on mine. I confirmed my server does have its clock set correctly, so I suspect email-od.com has its set wrong. Any lag was due to me not hitting Refresh in my phone's mail client.

[code]

So the only mystery that remains is what's g

[2012-12-06 20:06] jrgm commented on #2829
Yeah, the clocks in socketlabs are always off. Don't know why that is.

[2012-12-06 20:50] jrgm commented on #2822
GH-2824 merged to dev. Closing.

[2012-12-06 20:50] #2822 closed, assigned to jrgm

[2012-12-06 20:55] jrgm commented on #2792
@shane-tomlinson any thoughts about what's going on here?

[2012-12-06 21:13] jrgm commented on #2763
Thanks @mathjazz for the dup. This seems to be fixed in train-2012.11.23, which will go live real soon now.

[2012-12-06 21:14] jrgm commented on #2627
Hmm, verified but not closed. Closing now.

[2012-12-06 21:14] #2627 closed, assigned to jrgm

[2012-12-07 01:43] jedp opened #2831 "Make browserid send kpi data to kpiggybank awsbox instance"
In order to send KPI data confidentially to a kpiggybank server on AWS, there are probably three parts to this issue:
1. Update `lib/wsapi/interaction_data.js` to create https connections (not http as now).
2. Any webhead configurations, such as updating the proxy config to allow the communication.  (The urls for kpiggybank's api all begin with `wsapi/interaction_data`, if that helps at all; or pe

[2012-12-07 05:42] jrgm opened #2833 "tests/cookie-session-security-test.js has something that doesn't make sense (to me)"
In doing GH-2832 test for /wsapi/logout.js, I noticed /wsapi/logout was being called here:

 https://github.com/mozilla/browserid/blob/dev/tests/cookie-session-security-test.js#L41-46

So, 1) GET is not allowed for /wsapi/logout, and 2) logout while not authenticated doesn't make much sense anyways.

From the line '"and then session context again"', and then calling /wsapi/logout, is this a typo?

[2012-12-07 08:18] jrgm opened #2834 "[train-2012.12.07/dev] after 'this is not me', must enter same password for both secondaries on same account."
STR

1) set up so that you have two secondary emails on the same account.
2) Go to an RP and pop the dialog.
3) Click 'this is not me', enter one of the secondary addresses, enter the password, complete signin to the RP.
4) Sign out of the RP, and pop the dialog again.
5) Pick the other secondary address.

Expected: on prod/stage, you are not challenged to enter the password.

Actual: on dev, you

[2012-12-07 09:21] shane-tomlinson commented on #1232
@zaach and I are going to hash out a basic plan on Tue 12/11/12.

[2012-12-07 11:15] djc commented on #2814
For future reference: https://groups.google.com/d/topic/mozilla.dev.identity/fyL8_uc7OLQ/discussion.

[2012-12-07 17:50] gene1wood commented on #2831
jedp, will _all_ calls from the webheads to kpiggybank be POSTs against the specific url path "/wsapi/interaction_data"? Or will the webheads initiate "Stream Changes" calls to kpiggybank?

When we'd talked we had called out the specific target of https://kpiggybank.hacksign.in/ . I'll use that IP in my proxy rules

[2012-12-07 17:56] lloyd opened #2836 "duplicate copy when a primary comes online"
when you have a secondary emails address that becomes a primary email address, we repeat the same sentence twice.  example copy displayed to the user:

This can be seed at second 56 in this video: https://saucelabs.com/tests/9ec45a69ca2445f2a1458f20223a8c08

[2012-12-07 17:59] gene1wood commented on #2831
Here's the change I'd like to make to enable this. :

[code]

[2012-12-07 23:02] lloyd opened #2838 ""unknown email address" thrown during initial signup with primary email address"
STR:
1. create a new IDP at https://testidp.org
2. set the idp environment to https://login.dev.anosrep.org
3. use the sample email to login via http://dev.123done.org
4. keep doing #3 until it doesn't work
5. notice "Uncaught Error: unknown email address"

This exception is called right after list_emails is invoked.

[2012-12-07 23:03] lloyd opened #2839 "Cancel button non-functional when primary IDP is broken"
reproduced by the `broken-primary.js` automated test, currently in the `primary-automation-tests` branch.

[2012-12-08 00:36] jrgm opened #2840 "400 response for /wsapi/used_address_as_primary when adding primary to secondary"
This doesn't appear to have any negative effect in the UI, but I see a 400 error calling POST /wsapi/used_address_as_primary

STR
1. With a clean profile, use dev.myfavoritebeer.org to sign up as a secondary account
2. After completing that, sign out of dev.myfavoritebeer.org, and bring up the dialog again
3. Click 'add another email address' and enter someone@eyedee.me
4. Enter a password on eyed

[2012-12-08 00:40] lloyd commented on #2840
Nice find.  I'll look at this in a couple hours.

-- lloyd (thumb-typing)

On Dec 7, 2012, at 5:36 PM, John Morrison notifications@github.com wrote:

[2012-12-08 00:41] jrgm commented on #2840
The error repeats (not surprisingly) each time I add another primary.

/me thanks httpfox for the find ;-)

[2012-12-08 00:45] seanmonstar commented on #2840
it was designed to not bother the UI if it fell over... but, it also should be working :)

[2012-12-08 00:47] jrgm commented on #2840
For completeness, I don't see this error when I just sign up with a primary as the sole email address (i.e., not adding a primary). That flow doesn't call /wsapi/used_address_as_primary (sorry, I'm behind on what all the new wsapi stuff is).

[2012-12-08 00:48] seanmonstar commented on #2840
It first checks if your authenticated, since we require you own the email before changing it's status. If you're not authenticated, then you'll have to call `auth_with_assertion`, and we can change the status then.

[2012-12-08 00:52] #2836 closed, assigned to nobody

[2012-12-08 00:52] lloyd commented on #2836
fixed with pull request #2837

[2012-12-08 02:31] jrgm opened #2841 "account with >1 secondary; forgot password; cannot get both emails re-authed on the same account."
This is the cousin to GH-2834 for forgetting the password and then trying to get both addresses authenticated again.

STR
1) Get set up with an account that has two secondary email addresses associated with it.
2) Go to http://dev.myfavoritebeer.org/ and pop the dialog.
3) Click 'This is not me'.
4) Enter one of the secondary email addresses. When prompted for the password, click 'forgot password'

[2012-12-08 02:46] lloyd commented on #2838
I can reproduce this on dev every time.  I cannot reproduce this on an ephemeral instance I deployed with the exact same sha - transition.personatest.org

[2012-12-08 03:16] lloyd commented on #2838
Here's what I know:
1. Occurs on dev, minified or not
2. Does not occur on ephemeral instance
3. Occurs on Linux chrome or osx chrome
4. Does not occur in incognito mode
5. Appears that the problem correlates with failed cert key and logout requests from comm iframe
6. Occurs on dev with or without minification

How can this be?   Next step is to disable bigtent on dev and dig into comm iframe

[2012-12-08 08:27] lloyd commented on #2834
your expectation is right, this looks like a bug to me.  trying to reproduce...

[2012-12-08 11:43] yanndinendal opened #2845 "Some template code appears in the login popup."
#~ "bugzilla.mozilla.org utilise Persona au lieu d'un nom d'utilisateur pour vous identifier."
# ~ "Pour vous identifier avec Persona, veuillez saisir votre adresse de "#~ "courrier électronique."

[2012-12-08 23:27] jrgm commented on #2841
This works ok on http://transition.myfavoritebeer.org/

[2012-12-08 23:29] jrgm commented on #2834
Works for me on http://transition.myfavoritebeer.org/

[2012-12-09 05:39] fmarier commented on #2816
@lloyd I can't think of a reason why we'd ever want to provide a non-HTTPS service under the `login.persona.org` domain, so that "18 weeks" (10886400 seconds) looks good.

Given that we are in the preloaded lists for both Chrome and Firefox, right now the value doesn't matter much (as long as it's >= 18 weeks).

[2012-12-09 09:08] jrgm opened #2846 "[ie8] Two test failures and an exception on IE8"
This is with either login.dev.anosrep.org or transition.personatest.org. The exception happens well after the test failures.

[code]

Exception:

[code]

[2012-12-09 09:09] jrgm commented on #2846
Note: does not happen on IE9/IE10 or any of linux/safari/firefox/chrome

[2012-12-09 17:09] shane-tomlinson commented on #2845
Thanks for the report @yanndinendal - Closing as a dup of #2763. You can follow our progress with this bug there!

[2012-12-09 17:09] #2845 closed, assigned to nobody

[2012-12-09 17:58] yourcelf opened #2847 "400 response to /wsapi/cert_key when using mockmyid.com"
I'm running browserid locally, and signing in with mockmyid.com. After a period of time of being signed in (30 minutes or more) with no problem, firebug reported a 400 error from `/wsapi/cert_key`.  This error persists across refreshes.

![cert_key_error.png](https://f.cloud.github.com/assets/21318/2490/d494d5f0-4227-11e2-8c89-ca40858945ae.png)

Digging into the code, it looks like the failure is

[2012-12-09 19:03] shane-tomlinson commented on #2838
@lloyd - I am unable to reproduce this error as specified in Chrome/OSX. Is there a voodoo incantation that needs to be done?

[2012-12-09 19:13] dethe commented on #2792
Hi John,

Sorry for the delay. No, not on retina, on an older (2008) Macbook. On Macbook Air (one from 3 months ago, now stolen, and new replacement one) I haven't seen the same problem.

[2012-12-09 20:25] seanmonstar commented on #2847
What commit do you have checked out locally? Are you updating from the dev
branch?

##

Sean McArthur
http://seanmonstar.com

[2012-12-09 20:32] yourcelf commented on #2847
On branch `dev`, commit 8bcfc616632af3a5713a4c2c78c11df1d18f0eb5.

More details on steps to reproduce:
1. starting afresh with cleared cookies I log in with mockmyid.com.
2. One hour after my first signin, signout is forced -- it seems there's some baked-in timeout.
3. I sign in a second time, and this time I am presented with the option to stay signed in for 1 month, or to sign in for the session

[2012-12-09 20:38] seanmonstar commented on #2847
This sounds like at some point, the dialog wrongly thinks that mockmyid
became a secondary, and so you need to be issued a cert from us. We're
currently landing on dev a bunch of work to deal with secondaries vs
primaries, and so this is likely a bug in the work somewhere.

Cc @lloyd

[2012-12-09 20:57] yourcelf commented on #2847
I went local in pursuit of [this issue](https://groups.google.com/forum/?fromgroups=#!searchin/mozilla.dev.identity/unminified/mozilla.dev.identity/kDuUnKYr68c/rQ5_0Tpo3n0J) which I brought up on the dev-identity mailing list, and which I was encountering on persona's servers.  I don't know for sure if this error is the same one -- it has similar steps to reproduce, but a different error response

[2012-12-10 07:20] jrgm commented on #2847
I'll note that mockmyid.com is vulnerable to small amounts of client-side clock skew. Do you perhaps have the network traces from firebug/httpfox/other when you get the 400? (Yes, tedious test case with the one hour default lifetimes).

[2012-12-10 09:30] jrgm commented on #2847
Oh, stupid comment above. You have the firebug image above. Hrm.

[2012-12-10 11:29] #1931 closed, assigned to seanmonstar

[2012-12-10 11:41] #2825 closed, assigned to fmarier

[2012-12-10 12:23] shane-tomlinson commented on #2779
Can this be closed with all of the recent work?

[2012-12-10 12:27] shane-tomlinson commented on #2513
@savs - I am going to close this since neither of us are able to reproduce. If you see this again, please re-open this issue. Thanks for the report!

[2012-12-10 12:27] #2513 closed, assigned to shane-tomlinson

[2012-12-10 16:06] jaredhirsch commented on #2831
@gene1wood I think you're right about the path, based on a little greppin.

It looks like we'll also need to update a couple configuration items in prod, I'm assuming this is done via environment variables:
- KPI sample rate https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L152
- KPI target URL https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L157

[2012-12-10 16:25] #2745 closed, assigned to shane-tomlinson

[2012-12-10 18:35] ozten commented on #2839
Thanks for fixing my broken code!

This also affects non-auth users. See pull request for details.

[2012-12-10 18:59] lloyd commented on #2838
No, it was a flakey temperamental error I spent hours trying to isolate, and upon restart it vanished.

I don't know if this is a ghost or not.

On Dec 9, 2012, at 12:03 PM, Shane Tomlinson notifications@github.com wrote:

[2012-12-10 20:10] lloyd commented on #2840
Some context: we want to display informational screens to a user the _first time_ they use a "primary email address", one where the email provider supports persona.  In order to implement this, the server must know that a user has used an email address via their provider.  Because there is one case where this information is simply not available (the client gets a cert directly from the email provi

[2012-12-10 20:13] seanmonstar commented on #2840
@lloyd the network call first checks for authentication, otherwise it doesn't send it: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/network.js#L743

So, the dialog believes the user is authenticated, and then makes the request, and the server cries 400...

[2012-12-10 20:17] lloyd commented on #2840
ok.  now that's odd.  I obviously analyzed this wrong.  I'll dig deeper!  (or anyone else is welcome to)

thanks @seanmonstar

On Dec 10, 2012, at 1:14 PM, Sean McArthur notifications@github.com wrote:

[2012-12-11 00:49] jaredhirsch commented on #2507
Hmm, so I've added some docs on how to report outages:

https://mana.mozilla.org/wiki/display/Identity/Public+communication+during+an+outage
linked from the main escalation page
https://intranet.mozilla.org/Services/Ops/Escalation

I'll add a mention that emails should also be sent, pointed at the personastatus site for up-to-the-minute news.

[2012-12-11 00:49] #2507 closed, assigned to lloyd

[2012-12-11 00:53] jaredhirsch commented on #2166
meh, been lingering forever. closing.

[2012-12-11 00:53] #2166 closed, assigned to seanmonstar

[2012-12-11 01:45] fmarier opened #2849 "xhr to session_context fails in the onlogin callback and triggers onlogout (Chrome only)"
This Chrome-only problem was first discovered by @SyntaxC4 in the PHP cookbook example: https://github.com/mozilla/browserid-cookbook/issues/20

The xhr call to `/wsapi/session_context` in the initial `onlogin` callback returns the following:

[code]

which fires the `onlogout` callback.

In `start.js`, the `checkAndEmit()` function takes the [error path](https://github.com/mozilla/browserid/blob/

[2012-12-11 03:17] jaredhirsch opened #2850 "Evaluate Email vendors"
Socketlabs can supply 10s of millions of emails/month, but they can't accommodate throughput of more than a few hundred thousand emails per hour. This seems like an unnecessary limitation from a technical perspective.

According to Amazon support (channeled through mmayo), SES customers routinely send millions of emails/day, and so long as we have some baseline transactional flow passing through t

[2012-12-11 12:05] shane-tomlinson commented on #2839
Adding @ozten's STRs for posterity:

STR

1) Create a new IdP https://testidp.org/
2) Log in with the primary
3) Log out
4) Update IdP's well known to {}
5) Attempt to log in
6) Note offline copy and click 'Cancel'

Actual: Nothing happens

Expected: Return to Auth screen

[2012-12-11 14:54] shane-tomlinson commented on #2828
This second one actually points out a problem where even if used_address_as_primary returns an error, no user facing action is taken and the dialog is started as normal. See https://github.com/mozilla/browserid/blob/2ec862608909115586f5df967fe266cdcae701a9/resources/static/dialog/js/modules/dialog.js#L298

[2012-12-11 15:04] lloyd commented on #2828
@shane-tomlinson this is by design.  We didn't want to block the user for a non-fatal error.

[2012-12-11 15:06] shane-tomlinson commented on #2828
@seanmonstar, @lloyd - is this the desired behavior? if used_address_as_primary fails, the dialog will continue on its merry way.

It looks like this path can be taken if either: 1) the user is not authenticated or 2) the xhr request fails.

It seems like these should be handled by two distinct paths, the first can occur if the user cancels out of the authentication process with the primary. In th

[2012-12-11 16:02] lloyd commented on #2828
If the XHR request fails, it means we were unable to tell the server the information it needs to turn off the transition.  So the user will see the screen again the next time.

If we display an error, the user will see an error, won't get to log in, and will see the transition screen again next time they try.

I think continuing regardless of whether the call succeeds is right

-- lloyd (thumb-typ

[2012-12-11 17:27] shane-tomlinson commented on #2828
I understand the end goal, but I am going to examine this closer - silent failures make me _extremely_ uncomfortable.

[2012-12-11 17:29] #2839 closed, assigned to nobody

[2012-12-11 20:39] seanmonstar commented on #2828
This is the desired effect. However, if you look at network.usedAddressAsPrimary, you'll see that it shouldn't ever make the request unless the dialog thinks its authenticated.

Reasoning was:
- If they are authenticated, then we won't call auth_with_assertion, or any other wsapi call, so we have no way of knowing if the primary was successful. So, we need to call this wsapi.
- If they aren't auth

[2012-12-12 01:46] fmarier commented on #2849
Test RP demonstrating this problem: http://issue2849.personatest.org/

Code here: https://github.com/fmarier/browserid-issue2849

[2012-12-12 02:09] fmarier commented on #2849
According to my searches, an HTTP status of 0 in Chrome XHRs is usually reserved for same-origin violations or XHRs from within Chrome extensions. Neither of these should be relevant in this case.

[2012-12-12 12:22] shane-tomlinson commented on #2828
@seanmonstar, @lloyd - Thanks for the explanations, I understand better now.

The way this line is currently written, a failure in /wsapi/session_context when calling user.usedAddressAsPrimary will still allow the dialog to start. This might not be a big deal because session_context will be called again by the next call that requires a CSRF token.

Should failures other than "server too busy" in u

[2012-12-12 16:07] jaredhirsch opened #2857 "replace implicit with explicit waits"
I think we should be able to replace implicit with explicit waits under the covers of our extension methods wclick, wfind, etc.

Interesting, related: https://blog.mozilla.org/webqa/2012/07/12/how-to-webdriverwait/

[2012-12-12 16:54] callahad commented on #2857
+1. In trying to write BigTent tests, everything was awesome with implicit waits... until it wasn't. And then you have to go all the way back and refactor everything (boo!).

[2012-12-12 17:00] callahad opened #2858 "Persona fails in Conkeror?"
[Via to #clojure on Freenode](clojure-log.n01se.net/date/2012-12-11.html#17:03c):

Conkeror is a fringe browser, but it's built on XULRunner, so Persona _should_ work.

I'll investigate further. Also asking @technomancy to follow up here with more details.

[2012-12-12 17:19] technomancy commented on #2858
Thanks for following up.

When I click "sign in" on refheap or openphoto, it appears to make an HTTP request to login.persona.org followed by one to static.login.persona.org, but then nothing happens. Further clicks to "sign in" have no effect until the page is reloaded. I noticed in the JS console this message is displayed: "login.persona.org : server does not support RFC 5746, see CVE-2009-3555"

[2012-12-12 17:54] callahad commented on #2858
@technomancy Which version of Conkeror are you running / where did you get the deb from? It looks like the latest one in Sid depends on XULRunner <= 13.0

[2012-12-12 18:01] callahad commented on #2858
Scratch that -- I can reproduce the issue with a [nightly build of Conkeror](http://noone.org/conkeror-nightly-debs/) and XULRunner 19.0...

[2012-12-12 18:12] seanmonstar commented on #2828
I can't think of a single response from used_address_as_primary that I would want the dialog to fall over. Especially if all other requests are working fine, I'd rather the user be able to finish logging in.

Would a comment at that line explaining "we want to continue even onerror" satisfy the concern?

[2012-12-12 18:15] callahad commented on #2858
Looks like the call to window.open is failing, so the pop-up doesn't load:

[code]

[2012-12-12 18:29] callahad commented on #2858
Adding this line to my `~/.conkerorrc` appears to fix Persona on my end:

[code]

Via the Conkeror mailing list: [Content-initiated new windows don't work](http://thread.gmane.org/gmane.comp.mozilla.conkeror/2720)

@technomancy can you advise on the best course of action for the Conkeror community?

[2012-12-12 20:43] callahad commented on #2858
Filed a bug on the Conkeror issue tracker: http://bugs.conkeror.org/issue430

[2012-12-12 20:58] gene1wood commented on #2831
@6a68 these config settings would need to be added to our puppet driven config files

[2012-12-12 22:25] ozten commented on #2849
This affects production, right?

[2012-12-12 22:26] #2846 closed, assigned to nobody

[2012-12-12 22:26] jaredhirsch commented on #2850
@ozten suggests we evaluate mandrill from mailchimp also

[2012-12-12 22:28] #2834 closed, assigned to nobody

[2012-12-12 22:33] ozten commented on #2838
I'm also unable to reproduce.

Steps - Did you use 'click' or 'noauth' in your testidp.org?
Did you log out of the dialog and close it, or just 'this is not me' and re-enter your addresss.

[2012-12-12 22:45] fmarier commented on #2849
Yes, that test RP is using https://login.persona.org/include.js

[2012-12-13 09:23] shane-tomlinson commented on #2828
@seanmonstar - I am most interested in how this relates to #2840. As part of our cleanup soon, let's think of how to handle errors, including ones that should force error screens, and a generic way of logging errors.

w.r.t. the comment - https://github.com/mozilla/browserid/pull/2853 - wanna review?

[2012-12-13 09:56] shane-tomlinson commented on #2840
I believe @lloyd may be correct here. add_email_with_assertion is called _after_ the the call to used_address_as_primary.

This means used_address_as_primary is being called for an address that the user does not yet own.

Since the user is already authenticated to the password level, the authentication check in network.usedAddressAsPrimary proceeds without a problem.

[code]

[2012-12-13 10:06] shane-tomlinson commented on #2828
@seanmonstar - I am not trying to be pain, but I am standing by my claim that an error message would have caught the problem in #2840. If "server too busy" should not stop the dialog, I am fine with that but let's whitelist that error. "User does not own the email address" is something that _should_ show an error so the dialog fails fast and early and indicates to us, the developers, that somethin

[2012-12-13 12:04] shane-tomlinson opened #2862 "dev: database unavailable for a short period of time"
The database on dev was unavailable for a short period of time. Deployer did not seem to be running at that time, so I am unsure what happened. Right now I am unable to reproduce.

Steps Used:

1) Open manage page on login.dev.anosrep.org
2) Click "Cancel Account"

![Database Unavaible](https://shanetomlinson.com/static/screenshots/database-unavailable.png)

[2012-12-13 12:53] malthe opened #2863 "Persona popup shows both e-mail selection and "sign up" elements"
![Mozilla Persona: A Better Way to Sign In Bug Report](https://f.cloud.github.com/assets/26405/10551/fcc6a9f0-4523-11e2-89f5-54a4b542760c.png)

[2012-12-13 13:44] shane-tomlinson commented on #2863
@malthe - thanks for the report! This is completely not cool. What browser/OS are you seeing this on?

[2012-12-13 13:46] malthe commented on #2863
This was on Chrome – a very recent one.

[2012-12-13 14:20] shane-tomlinson commented on #2863
Thanks @malthe - I am able to reproduce this about 1 in 10 tries in both the production and beta versions of Chrome for OSX.

[2012-12-13 15:35] malthe commented on #2863
If you full-screen the popup, then you get the same result. This actually happens rather frequently in Chrome, because popups open in a new tab, typically.

[2012-12-13 16:13] #2857 closed, assigned to jaredhirsch

[2012-12-13 17:10] jedp commented on #2831
@gene1wood in response to your question above, currently all calls are single POSTs to that url, yes.

[2012-12-13 17:21] jedp commented on #2863
I got the same thing yesterday in full-screen firefox on OSX 10.8.  I can try to come up with STR if you need.

![Screen Shot 2012-12-12 at 5 45 54 PM](https://f.cloud.github.com/assets/532953/11269/8c0cb2ba-4549-11e2-96fd-9fcefee38dd8.png)

[2012-12-13 17:23] shane-tomlinson commented on #2863
this ain't cool. Assigning to me.

[2012-12-13 17:41] #2858 closed, assigned to callahad

[2012-12-13 17:46] callahad opened #2866 "Weird login failures possibly related to capitalization and/or localStorage state"
See: https://support.mozilla.org/en-US/questions/943789

When the user selects their email address an "invalid email" error shows up in the console, and nothing happens on the page.

This used to exist in `resources/static/dialog/js/misc/state.js` before the big BigTent merge. That code was:

[code]

One of the folks involved noted in a separate email:

So it sounds like we should downcase sooner?

[2012-12-13 17:50] shane-tomlinson commented on #2866
Link to #2551

[2012-12-13 17:53] shane-tomlinson commented on #2849
@fmarier - what is the actual user impact here, does it always log the user out?

[2012-12-13 17:55] callahad commented on #2849
@fmarier Can you get the demo site back up? I'll then ping someone on the Chrome team to ask about status 0 in XHRs

[2012-12-13 18:05] shane-tomlinson commented on #2840
I am labeling this 5\* so that this gets fixed before this heads into stage.

[2012-12-13 18:06] shane-tomlinson commented on #2838
Closing down as cannot reproduce, feel free to re-open if found again!

[2012-12-13 18:06] #2838 closed, assigned to nobody

[2012-12-13 18:09] shane-tomlinson commented on #2833
@benadida - looking at the logs, yourself and @lloyd wrote this section of code. @jrgm is asking for a clarification as to why session context is called.

[2012-12-13 18:33] #2828 closed, assigned to shane-tomlinson

[2012-12-13 18:36] seanmonstar commented on #2828
I see the concern. While it would be more noticeable to us, _even_ in this situation, since the 400 didn't cause harm, I would hate for that failed request to have stopped someone's login attempt.

[2012-12-13 19:34] benadida commented on #2833
yeah, probably a typo in the test description. I can't say I remember exactly what the point of this is, it looks like it's checking to make sure no additional cookie is set, but not sure why /logout is the call being made here. @lloyd, any idea?

[2012-12-13 20:12] fmarier commented on #2849
The RP impact is that they receive an unnecessary `onlogout` callback.

The end-user impact depends on the RP implementation. It could be:
- two extra AJAX calls down,
- one or two extra redirects / page loads,
- or (possibly if the RP is doing something weird) a broken site.

@callahad It's still up, but it looks like DNS is not configured properly. I just noticed I have this in my hosts file:

[

[2012-12-13 20:29] fmarier commented on #2849
I have redeployed that site and DNS is working now.

[2012-12-13 20:31] jrgm opened #2868 "sync calls on requests in lib/template.js"
https://github.com/mozilla/browserid/blob/dev/lib/templates.js#L60

I think it should be possible to not have to reload these on requests.

[2012-12-13 21:03] seanmonstar commented on #2868
I'm not sure what you mean. The templates only re-generate if one of the template source files has changed since the last time, otherwise it uses the already generated file.

[2012-12-13 22:47] jrgm commented on #2863
So, we understand why this was happening and fixed in production. Thanks for finding this @malthe

[2012-12-14 01:03] jrgm opened #2869 "Unusual number of l10n do not translate msgid "%s uses Persona instead of usernames to sign you in.""
I was just checking that the dialog came up in most of our localizations. But I noticed that more languages that I would expect, while the reset of the strings in the dialog (in the "prompting for email address" state) were translated, this one was not.

msgid "%s uses Persona instead of usernames to sign you in."

I'm wondering if there is something technical wrong with the files that is hinting

[2012-12-14 01:09] jrgm commented on #2869
And closing. I was filtering for the languages that are 100% translated on verbatim, but my filter seems to have bit-rotted and was covering languages that are not 100%. Still that string has been in there for a long time, IIRC, and for example it's not translated in French.

[2012-12-14 01:30] ozten commented on #2869
Reopening, because an hour ago I changed a file in SVN.

@mathjazz - Let's double check that the change I made in Bug#809901 won't break us in production.

[2012-12-14 01:39] ozten commented on #2869
For example - check out 'fr'.

There is a string '123done uses Persona instead of usernames to sign you in.' in English. This _is_ a new string, so probably localizers didn't get to it... but it is also a string that was affected by the `#~` bug.

Meaning that before now the dialog said

[code]

So probably the right thing to do is to go into all .po files and uncomment the new strings. Any ideas

[2012-12-14 01:50] #2840 closed, assigned to ozten

[2012-12-14 02:28] jrgm commented on #2869
@ozten Actually I was testing in stage with an rpm built last night, so not with current dev or svn.

[2012-12-14 14:04] mathjazz commented on #2869
@ozten, I don't think this is related to Bug#809901. Let's compare FR and SL.

Both locales have the string translated in messages.po:
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/fr/LC_MESSAGES/messages.po
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/sl/LC_MESSAGES/messages.po

Both locales have the same string marked as obsolete in client.po:
http://svn.mo

[2012-12-14 16:57] skinny97214 opened #2871 ".watch() redirect page should be white"
desired
1. user clicks on email
2. user hits a blank white page on the persona server
3. user is logged in

currently step 2 looks like this http://cl.ly/image/42443t213R37

[2012-12-14 16:58] shane-tomlinson commented on #2871
The idea is that the user visits the verification page for "only as long as it takes to verify the user" and then it should redirect.

[2012-12-14 17:01] skinny97214 opened #2872 ".get() redirect page need accurate copy"
On the .get() interstitial, we don't redirect automatically. I will provide new copy.

[2012-12-14 17:03] shane-tomlinson opened #2873 "verification email text for .get API should not inform the user of redirecting OR logging in."
The current text makes @skinny97214 rage.

[2012-12-14 17:23] ozten commented on #2869
One last question over at https://bugzilla.mozilla.org/show_bug.cgi?id=809901#c23 and then we can push to production.

[2012-12-14 17:55] ozten commented on #2869
Cool, @mathjazz explained that this string moved from client.po to messages.po.

Confirmed in https://github.com/mozilla/browserid/compare/b90eb77...train-2012.11.23#L215L7

[2012-12-14 17:55] #2869 closed, assigned to mathjazz

[2012-12-14 18:16] jaredhirsch opened #2874 "IE9: tests failing due to missed clicks"
Now that we've adjusted the implicit wait down to zero, a new class of bugs has appeared.

See https://gist.github.com/4281705 for a list of failures with this problem.

This isn't happening to any specific button, so adding delays would entail adding it at the wclick level, which would make tests so much slower.

Better idea perhaps: wclick checks that the node is gone from the DOM after clicking

[2012-12-14 18:17] jaredhirsch opened #2875 "IE9: mystery errors in health-check-test"
Health checks are frequently failing with no error message at all, and no clear failure in the sauce videos or logs.

See https://gist.github.com/4281705 for a list of examples.

[2012-12-14 21:11] lloyd commented on #2873
Oh shit.  We don't want skinny raging.

-- lloyd (thumb-typing)

On Dec 14, 2012, at 9:03 AM, Shane Tomlinson notifications@github.com wrote:

[2012-12-14 22:26] shane-tomlinson commented on #2874
@6a68 - do you think we should revert the implicit wait & related removal of the .delay's until we get this resolved? I didn't see it while testing locally, so I thought things were A-OK.

[2012-12-15 00:34] gene1wood commented on #2659
I've created the logstash configs for these new monitors. I've not yet tested or committed them.

I want to monitor the non-200 metrics in a new form using cepmon (a form we don't current use). cepmon doesn't currently support this but I can see how to extend it by writing new EPL ( https://github.com/fetep/cepmon/blob/v0.4/lib/cepmon/config.rb#L100 and http://esper.codehaus.org/tutorials/solution

[2012-12-16 19:57] jaredhirsch commented on #2874
@shane-tomlinson Tell you what, I'll revert the changes in my fork, run Jenkins 50x, and compare failure rates. We can run through it Monday in triage.

[2012-12-17 15:42] jaredhirsch commented on #2874
@shane-tomlinson Well, the failure rate is about the same, nearly 50%. Looking more closely now to see if the type of error occurring is any different.

The regular job is here: https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9/
The temporary job (with the implicit wait re-added) is here: https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.windows.7.ie.9.with

[2012-12-18 01:41] jrgm commented on #2667
Bumped into this 401 in train-2012.12.07, and was reminded of this open bug.

[2012-12-18 03:51] jds2501 opened #2879 "Terms, Privacy Policy and Learn more links don't work on B2G"
Migration of https://bugzilla.mozilla.org/show_bug.cgi?id=796185 to github, given that this is a hosted JS code, not client-side code.

The Terms, Privacy Policy and Learn more links on the login screen of the Marketplace app don't work for me, do they try to open a new window or something?

[2012-12-18 04:29] jrgm commented on #2800
verified stage train-2012.12.07 - the version and resolved configuration are in the {verifier,browserid,keysigner,dbwriter,static,router}.log

[2012-12-18 04:30] jrgm commented on #2795
Fixed on an awsbox after merge to train-2012.12.07. We'll get this on stage on Wednesday.

[2012-12-18 04:31] jrgm commented on #2795
Damn. Updated wrong issue. Ignore above comment.

[2012-12-18 04:32] jrgm commented on #2840
Fixed on an awsbox after merge to train-2012.12.07. We'll get this on stage on Wednesday.

[2012-12-18 04:36] jrgm commented on #2858
Marking as upstream, and calling verified.

[2012-12-18 04:37] jrgm commented on #2834
verified stage train-2012.12.07. Fixed with PR-2843.

[2012-12-18 04:58] jrgm commented on #2763
train-2012.11.23 went live in production this morning (12/17 PDT). I don't see this problem there. Closing, but please reopen if you don't have the same result.

[2012-12-18 05:00] jrgm commented on #2845
verified duplicate. Thanks for the bug report. Please reopen if this is not fixed for you.

[2012-12-18 06:29] jrgm commented on #2869
FR in production looks right to me. verified.

[2012-12-18 13:40] shane-tomlinson opened #2880 "Request: a script that captures the current state of resources on both datacenters."

[2012-12-18 17:08] jds2501 opened #2882 "Implement a workaround on b2g for persona sign in to get around bug 820057"
https://bugzilla.mozilla.org/show_bug.cgi?id=820057 basically will produce a bad experience right now for users to sign into persona, as the keyboard will remain up post sign in. Triage determined that the identity team should see if there's a work-around that could be implemented to get around this bug, so that we don't have to block on bug 820057. This bug tracks that work to implement a workaro

[2012-12-18 17:55] benadida commented on #2882
no way to do this that I can tell, this is a client-side repaint issue. Closing

[2012-12-18 17:55] #2882 closed, assigned to nobody

[2012-12-18 18:39] seanmonstar commented on #2879
They're actually just `<a target="_new"></a>` links. That doesn't sound like anything special.

**However**, UX has asked that we open the ToS and PP links inline, which is implemented in the native dialog. Need to pref that on to see it.

[2012-12-18 20:01] #2880 closed, assigned to shane-tomlinson

[2012-12-18 20:27] jrgm opened #2883 "notoriousb2g .well-known/browserid fetch fails"
curl -D - -s https://notoriousb2g.personatest.org/.well-known/browserid
HTTP/1.1 500 Internal Server Error
x-powered-by: Express
strict-transport-security: max-age=2592000; includeSubdomains
content-type: text/plain
x-frame-options: DENY
date: Tue, 18 Dec 2012 20:26:15 GMT
connection: close
transfer-encoding: chunked

cannot find configuration param 'proxy_idps'

To workaround, ~app/config.json ne

[2012-12-18 20:59] jrgm commented on #2883
This is five-star.

[2012-12-18 21:02] jrgm commented on #2883
On the phone I'm getting an alert from trusted UI "failed to verify assertion: can't get public key for notoriousb2g..."

[2012-12-18 21:12] jrgm commented on #2883
Note: this is with dom.identity.enabled

[2012-12-18 23:54] benadida commented on #2656
@lloyd @zaach can we prioritize this issue in the next 3-4 weeks?

[2012-12-19 00:29] jrgm commented on #2883
@seanmonstar updated the config and restarted (forever restartall). The pubkey is 200 OK now.

[2012-12-19 00:50] #2883 closed, assigned to nobody

[2012-12-19 11:10] shane-tomlinson commented on #2862
This has been unreproducible, closing. Will re-open if I see it again.

[2012-12-19 11:10] #2862 closed, assigned to shane-tomlinson

[2012-12-19 15:50] jaredhirsch commented on #2786
closing as "low-value idea unlikely to ever actually get done"

[2012-12-19 15:50] #2786 closed, assigned to nobody

[2012-12-19 15:51] jaredhirsch commented on #2766
closing as "low-value idea unlikely to ever actually get done"

[2012-12-19 15:51] #2766 closed, assigned to nobody

[2012-12-19 15:51] jaredhirsch commented on #2703
closing as "low-value idea unlikely to ever actually get done"

[2012-12-19 15:51] #2703 closed, assigned to nobody

[2012-12-19 15:51] jaredhirsch commented on #2701
closing as "low-value idea unlikely to ever actually get done"

[2012-12-19 15:51] #2701 closed, assigned to nobody

[2012-12-19 15:54] jaredhirsch commented on #2714
closing as "medium-value idea, unlikely to actually get done, likely to be thought of again in the future"

[2012-12-19 15:54] #2714 closed, assigned to nobody

[2012-12-19 15:55] jaredhirsch commented on #2716
closing as "medium-value idea, unlikely to actually get done, likely to be thought of again in the future"

[2012-12-19 15:55] #2716 closed, assigned to nobody

[2012-12-19 15:55] jaredhirsch commented on #2715
closing as "medium-value idea, unlikely to actually get done, likely to be thought of again in the future"

[2012-12-19 15:55] #2715 closed, assigned to jaredhirsch

[2012-12-19 15:56] jaredhirsch commented on #2875
more recent runs, showing this is a significant problem still: https://gist.github.com/4333301, https://gist.github.com/4319268

[2012-12-19 15:58] jaredhirsch commented on #2413
MDN wiki really does look great, but this never got closed. closing

[2012-12-19 15:58] #2413 closed, assigned to callahad

[2012-12-19 15:59] jaredhirsch commented on #2691
hasn't recurred in a while, I'm guessing it was a chrome bug. If not, we'll reopen.

[2012-12-19 15:59] #2691 closed, assigned to nobody

[2012-12-19 16:01] jaredhirsch commented on #2735
I now think the answer is to stop using jenkins and deployer separately, either using jenkins to deploy to dev, or switching to buildbot. Release engineering, in short.

[2012-12-19 16:01] #2735 closed, assigned to jaredhirsch

[2012-12-19 21:41] jrgm opened #2884 "[b2g] cannot add user to account"
STR
1. authenticate on b2g with the trusted ui for an account with 1 secondary email address
2. bring up the dialog again and click 'add another email address'
3. enter a second secondary address and submit it
4. dialog transitions to say 'check your mail' (/wsapi/stage_email is submitted)
5. polling of email_addition_status begins
6. after a while, the dialog switches back to show the screen at 3

[2012-12-19 22:26] gene1wood opened #2885 "etag hash generator uses on-disk content instead of what's being served by browserid"
In talking to @lloyd it sounds like the code that generates etags to be served with resources uses the on-disk content to create the etag instead of the in-memory content which is actually being served allowing for cache poisoning when an etag is served based on on-disk content and the page that's served with that etag differs. This will happen during every software update between code deploy and

[2012-12-19 22:35] gene1wood commented on #2885
Looks like this design is held here : https://github.com/lloyd/connect-etagify/blob/master/etagify.js#L44

[2012-12-19 22:56] seanmonstar commented on #2884
fixed with https://github.com/mozilla/browserid/commit/98f9e06930531b6199f7edd42870c5eba4eec994

[2012-12-19 22:57] #2884 closed, assigned to seanmonstar

[2012-12-19 23:33] lloyd commented on #2885
Issue restated: etagify assumes that production resources won't be changed on disk while running.

So are our processes are handling traffic in the period between code deploy and service restart?  Is it difficult to ensure that this never happens?

[2012-12-20 00:38] gene1wood opened #2887 "Invalid URLs trigger 500 errors indicating Server Error instead of 400 errors indicating Client Error"
When an invalid URL is requested such as : `https://login.persona.org/%e3h`

browserid responds with a 500 Internal Server Error

[code]

This type of request should result in a Client Error since the reason the page isn't being served back is because the client is requesting an invalid page :

http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

The downsides to returning this Server Error pag

[2012-12-20 01:40] jaredhirsch commented on #2887
Not to split hairs here, but I'd expect to return a 404 in that case.

Nothing about the syntax of the request is malformed, it's just that the
specified URI is unknown to us.

On Wed, Dec 19, 2012 at 4:38 PM, Gene Wood notifications@github.com wrote:

[2012-12-20 03:32] jrgm commented on #2887
Not to split the split hairs, but...
1. Those URI are malformed per decodeURIComponent(), which throws URIError
2. Yes, absolutely 500 must only appear for cases we can't handle ("Help me! I'm broken.").
3. The exception originates in `connect` code, and may be already done more safely in an uplevel version
4. We could either teach the uncaught exception handler to recognize URIError and return so

[2012-12-20 03:46] jrgm commented on #2887
By "appropriate place" that could be here: https://github.com/mozilla/browserid/blob/dev/bin/static#L105 for this specific case, but probably better to handle it generically earlier.

[2012-12-20 03:47] jrgm commented on #2887
Also see https://github.com/visionmedia/express/issues/678

[2012-12-20 07:44] fmarier commented on #2849
Ideas from @lloyd and @warner: maybe the `session_context` XHR is done too early (before the browser is ready or before the origin is set properly). We could try adding sleeps or waiting longer before doing the XHR.

[2012-12-20 17:38] ozten commented on #2885
Thanks for highlighting this.

[connect-cachify](https://github.com/mozilla/connect-cachify) is where we'd fix this.

Let's take this discussion to IRC or the mailing list.

Closing bug until we have a concrete design.

[2012-12-20 17:38] #2885 closed, assigned to ozten

[2012-12-20 17:40] callahad commented on #2868
According to @shane-tomlinson this only happens during the build step. Closing.

[2012-12-20 17:41] shane-tomlinson commented on #2868
@jrgm - I had a good look at this and the sync code in template.js and this was only happening in the build step. As such, I do not think this is a problem.

[2012-12-20 17:41] #2868 closed, assigned to nobody

[2012-12-20 17:45] callahad commented on #2887
Bumping to 4+1-star (not _quite_ 5-star), since this actually did cause a fire drill within the ops team.

[2012-12-20 18:34] gene1wood commented on #2887
@6a68 : Ya, when I say 400 I mean the Client Error category of errors (4XX). 404 sounds right to me but I wanted to leave it open as to what 4XX error we serve.

@callahad : True, until I got into the actual raw logs I wasn't sure that this wasn't a problem. I also hope to improve our monitoring to not trigger when a single user experiences a bunch of 500's but if a malformed URL were posted to a

[2012-12-20 18:35] gene1wood commented on #2887
If there's an interest I could fetch all the URLs that have triggered 500's in the last month. Let me know if that would be useful.

[2012-12-20 19:49] jrgm commented on #2887
@gene1wood yes I'd like this list. I hate 500's.

[2012-12-20 21:58] jrgm opened #2891 "JS exception when using mixed case in the domain name of an email address"
STR
1. Sign up as a new user 'examplename@Gmail.com'. Note the upper case 'G' in gmail.
2. Go to an RP, bring up the dialog, and click 'this is not me'.
3. Enter 'examplename@gmail.com' and the password. Note the lower case 'g' in gmail.

Expected: domain names are case-insensitive, so you should be signed in

Actual: javascript exception: 'Error: Error: invalid email' in dialog.js

The back end a

[2012-12-20 22:49] guillaumev commented on #2891
Related to this, see https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/pa3Sc0kh9Jw and the fact that the website refreshes itself automatically if you are logged in with an "upper case" domain name. jrgm > would you have a test environment for me to see if this happens only on my website (in which case it would be a bug within the Persona drupal module) or if it happens on a

[2012-12-20 23:01] jrgm commented on #2891
We have test RPs at http://123done.org and http://myfavoritebeer.org (the former uses watch/request, while the latter uses get). Or add 'beta.' to point them to use our stage environment as the identity provider login.anosrep.org.

[2012-12-20 23:05] jrgm opened #2892 "npm WARN deprecated bcrypt@0.7.1: version 0.7.3 fixes potential memory issue"
I was this message go by when doing npm install:

[code]

Probably should be investigated and, if applicable, upgraded.

[2012-12-20 23:08] warner commented on #2892
yeah, looks like a reasonable fix

[2012-12-21 01:14] jaredhirsch commented on #2755
Bumped down to 2 stars because I kinda think we need a better solution that encompasses what jenkins, deployer, travis, and random-ops-builder-box do. In short, we need to engineer releases LIKE A BOSS

[2012-12-21 01:16] jaredhirsch opened #2895 "IE8: dialog hangs after primary closes"
This always happens for returning-user and health-check tests.

https://gist.github.com/4333301

[2012-12-21 01:20] jaredhirsch commented on #2719
Poor Testy. Demoting the docs-related ticket since I cruelly demoted the other testy ticket.

Feel free to bump back up if this is too heartbreaking, @shane-tomlinson :-)

[2012-12-21 03:12] jrgm opened #2896 "Please confirm that no change to this URL is ok."
For the update GH-2889, I was comparing stage on the new build vs. production.

In starting to compare the '.js$|.css$' files for urls that hadn't changed, I noticed one oddity.

'https://static.login.anosrep.org/v/4da163f37c/production/en/dialog.js' has a reference to 'https://login.anosrep.org/v/1e78e62723/dialog/css/style.css'. That appears to come from here (?):
resources/static/dialog/views/t

[2012-12-21 19:29] lloyd commented on #2896
yep, test template.  non issue.

[2012-12-21 19:29] #2896 closed, assigned to nobody

[2012-12-21 20:51] ozten opened #2899 "[b2g] Re-use of unverified email address"
Steps to Reproduce

1) Sign in with a new secondary address and allow unverified
2) create password
3) Note success of assetion
4) Click Sign in and "this is not me", close dialog
5) Sign in with the same secondary address and allow unverified

Actual
GET http://192.168.186.138:10002/wsapi/address_info?email=unv%40foo.com&issuer=default
Response

[code]

User is staged a second time
http://192.168

[2012-12-21 22:27] benadida opened #2900 "css fix to reduce need for JS to display about page"
nemo suggests:

footer { position: fixed; } #wrapper { margin-bottom: 30px; }

[2012-12-21 23:37] shane-tomlinson commented on #2900
This will upset our IE8 users I believe. Need to recheck.

Sent from my iPad

On 21 Dec 2012, at 22:27, Ben Adida notifications@github.com wrote:

[2012-12-21 23:45] shane-tomlinson commented on #2900
The other thing is we use the js to centre the content vertically, to do so using display: table-cell,  an explicit height must be set on a container element, percent values do not work.

Sent from my iPad

On 21 Dec 2012, at 22:27, Ben Adida notifications@github.com wrote:

[2012-12-22 01:29] lloyd commented on #2863
we rolled a fix for this into production a couple hours ago

[2012-12-22 01:29] #2863 closed, assigned to lloyd

[2012-12-22 02:06] jaredhirsch commented on #2700
Hm, I guess I forgot I filed and closed this. https://wiki.mozilla.org/Identity/Test_Automation_Crew

[2012-12-22 03:04] jrgm commented on #2863
@malthe let us know if you have any further problems. Thanks for the help!

[2012-12-22 04:07] jrgm opened #2901 "static server must check for a file name that exceeds NAME_MAX"
Trying to access a filename > NAME_MAX is pointless since it will return ENAMETOOLONG  (where NAME_MAX is 255 for our kernel).

So check the maximum filename/dirname length in the url before trying/failing to pass that along. Log an error message if too long and return, hmm, I guess 404).

gifting this to @zaach because it's the holiday season. /cc @gene1wood and @fmarier  since my googling found

[2012-12-22 05:06] jrgm commented on #2901
To be clear, I meant something like check all parts in `somepath.split(path.sep)`.

[2012-12-22 05:41] jaredhirsch commented on #2726
done--chrome and ff 16 enabled, others disabled till stable.

[2012-12-22 05:41] #2726 closed, assigned to jaredhirsch

[2012-12-26 22:15] benadida commented on #2656
alright, I'm going to see if I can provide some assistance on this one. I'm thinking the router approach may not be the right one, as that would mean adding smarts in the router about which URLs do what... which seems like the wrong direction. @zaach please shout if you think I'm missing something here.

[2013-01-02 19:18] jamesshore commented on #2793
This turned out to be caused by a case sensitivity issue. Duplicate of #2866.

[2013-01-02 19:18] #2793 closed, assigned to lloyd

[2013-01-02 19:29] jamesshore commented on #2866
+1. This affected at least one user of mine in production.

It's easy to reproduce:
1. Create a test user, (e.g., `http get http://personatestuser.org/email`. My test user was `lopez19464@personatestuser.org` with password `LPrAaF2ehXweXEtj`.)
2. Log in using Persona (e.g., via the sign-in link at https://developer.mozilla.org/en-US/ )
3. (Select 'This is not me' link if you're recognized by Perso

[2013-01-02 20:12] gene1wood commented on #2659
I discovered that all of our current response time monitoring has never worked due to a mistake when setting them up (data point is in "seconds", we monitor it as if it's in "milliseconds").

I've corrected the existing monitoring and added in all new response time monitors.

I've disabled all alerting on all response time monitors since many of the values that we do not match the real world respo

[2013-01-02 21:13] callahad commented on #2866
Oh, beautiful. I'm able to reproduce an error with those steps in prod, stage, and dev. Thanks, @jamesshore!

[2013-01-03 04:09] jrgm opened #2902 "[b2g][unverified] fatal error when trying to reuse unverified email address"
STR

1) Using a current unagi build on a phone, configure /data/local/user.js to enable native navigator.id:

[code]

(The layout.css.report_errors isn't necessary, but seriously, the noise about CSS "declaration dropped" is useless information).
2) Use the firefox browser on the phone and go to `https://marketplace-dev.allizom.org`
3) Click on `Log in/Register` to bring up the trusted UI.
4) Ente

[2013-01-03 17:35] lloyd commented on #2902
@ozten - are you the right guy to take a look at this?

[2013-01-03 17:40] lloyd commented on #2900
what's the actual issue here?  none of us in the scrub have context to understand what issue we're solving.

[2013-01-03 17:52] callahad commented on #2900
Here's context from IRC on Dec 21st:

Also, regarding upsetting IE8, Nemo added "that's only IE6, not IE7 or IE8"

Lastly, the vertical centering seems like an unrelated issue:

[2013-01-03 18:58] evilpie opened #2903 "Send a longer STS max-age so that we get STS pinning"
persona.org was originally included in the STS pinnig list included with Firefox 17. Due to some issues all sites having a max-age small than 18 weeks however were removed from that list. This means persona.org at the moment is not on the preloaded STS list. (https://bugzilla.mozilla.org/show_bug.cgi?id=786417)

Please change the max-age of the Strict-Transport-Security head on login.persona.org a

[2013-01-03 19:16] jrgm commented on #2903
Also noted in GH-2816.

[2013-01-03 19:23] jrgm opened #2904 "[b2g] error message bringing up trusted UI (sometimes) - "uncaught exception: target window is same as present window -- not allowed""
When looking at logcat output for b2g with native identity enabled, I occasionally see this error reported which comes from jschannel (I think). I don't have specific STR other than to bring up the trusted UI, and don't know for sure if this has adverse effects. But seems like something that should be investigated.

E/GeckoConsole( 1082): [JavaScript Error: "uncaught exception: target window is sa

[2013-01-03 19:45] seanmonstar commented on #2902
No, I am. _claims_

[2013-01-03 20:44] jrgm opened #2905 "[b2g] fix (or remove) footer for /privacy and /tos when in iframe of trusted UI"
Sorry if this is a duplicate of some other bug somewhere else.

Anyways, the footer is at a fixed position when /privacy and /tos are viewed in an iframe from the trusted UI on b2g and doesn't scroll properly

![2013-01-03-20-31-51](https://f.cloud.github.com/assets/758162/41660/249e4f50-55e6-11e2-96f9-987dace8f555.png)

But the links in that footer seem pointless in this constrained UI, so probab

[2013-01-04 00:17] skinny97214 commented on #2866
What are the issues with always downcasing?

[2013-01-04 03:03] jrgm commented on #2866
@skinny97214 - @6a68 posted to dev-identity summing up the choices. Read that (short answer: in theory the local part (username) may be case sensitive for a given email server endpoint).

[2013-01-04 03:53] jrgm opened #2906 "[b2g] webfont cross-origin errors when loading iframe for https://notoriousb2g.personatest.org/tos (or /privacy)."
I see these errors in `adb logcat` when bringing up the notoriousb2g tos or pp iframe. Although I don't really understand why since the webfont file is being served with `Access-Control-Allow-Origin https://notoriousb2g.personatest.org`.

Anyways, presumably this means we're falling back to some other font, but visually I don't notice anything really bad as a result.

[code]

[2013-01-04 04:38] jrgm commented on #2821
Please configure notoriousb2g.personatest.org:/home/app/config.json to add:

[code]

[2013-01-04 04:52] jrgm commented on #2895
Actually, IE8 and primary with eyedee.me is just broken with the bug to fix being GH-2077 apparently.

[2013-01-04 06:07] jrgm commented on #2816
Closing in favour of GH-2903 which is a specific action (not my vague question here) and assigning 2903 to @fmarier

[2013-01-04 06:07] #2816 closed, assigned to fmarier

[2013-01-04 06:08] jrgm commented on #2903
Gifted to @fmarier to make this change (and closed GH-2816)

[2013-01-04 06:44] jrgm commented on #2763
Hmm, didn't actually close this. Closing now.

[2013-01-04 06:44] #2763 closed, assigned to jrgm

[2013-01-04 16:17] jds2501 commented on #2902
Note - this is blocking gaia ui test automation & a smoke test on device. So some of the QA dept is blocked by this bug right now.

[2013-01-04 17:14] bobsilverberg commented on #2902
The sequence of events I am seeing is slightly different, in the gaia-ui-test for test_marketplace_login. I am not using the prefs stated above, and the sequence is as follows:
1. Launch the Marketplace app on the phone.
2. Click the Login button at the bottom of the page.
3. "Firefox Accounts powered by Persona" screen appears, with "To sign in with Persona, please enter your email address."
4. E

[2013-01-04 20:03] #2744 closed, assigned to nobody

[2013-01-04 20:05] seanmonstar opened #2908 "unverified-email assertions should use a different issuer"
For example, `unverified.login.native-persona.org`.

@lloyd or @ozten: I'm not sure how we would set this up for b2g. Would it be another browserid instance setup at the different domain? If so, then it can have it's own secret key as normal, but I don't know how I would setup tests that make sure the other issuer (and key) is used in vows...

[2013-01-04 20:06] seanmonstar commented on #2902
This should be fixed on notoriousb2g.personatest.org

[2013-01-04 20:06] #2902 closed, assigned to seanmonstar

[2013-01-04 20:07] seanmonstar commented on #2821
I made the changes and re-deployed.

[2013-01-04 20:07] #2821 closed, assigned to jedp

[2013-01-04 22:21] jrgm commented on #2902
This works for me on notoriousb2g.personatest.org for the original STR. @bobsilverberg do you still have an issue, after 2013-01-04T20:02:41.145Z?

[2013-01-04 23:36] jrgm opened #2909 "[b2g] failure(s) in opening email link to /verify_email_address"
STR
1. Load http://notoriousb2g.123done.org and click the 'Sign in with Persona' button.
2. In the trusted dialog, enter a secondary email address not used before with notoriousb2g.
3. Enter a password twice and submit.
4. Leave the trusted dialog up, but switch to the email client.
5. Find the verify message in email and click the link to /verify_email_address. (Click OK when prompted for 'Browse

[2013-01-05 03:28] jrgm commented on #2821
Thanks @seanmonstar

[2013-01-05 04:37] bobsilverberg commented on #2902
It is working for me now too. I am still having a problem with the actual sign in. After the Persona sign in is completed and I am returned to the Marketplace app the app never signs me in. It just sits with the "Log in / Register" button at the bottom and a spinner to the right of that.

Should I open a new issue for that here, or is that something I should add to Bugzilla, and if so, under what

[2013-01-05 04:52] jds2501 commented on #2902
@bobsilverberg I can reproduce the exact STR you just specified with window.open. Let me dig into this.

[2013-01-05 04:53] jds2501 commented on #2902
01-04 20:51:17.136: E/GeckoConsole(558): [JavaScript Error: "Error: Syntax error, unrecognized expression: Persona authentication ." {file: "https://marketplace.cdn.mozilla.net/media/js/mkt/consumer-min.js?build=99103e3" line: 12}]

[2013-01-05 04:56] jds2501 commented on #2902
My general observer test case worked. I'm guessing there's a marketplace bug here.

[2013-01-05 04:58] jds2501 commented on #2902
@bobsilverberg Sounds like you've hit https://bugzilla.mozilla.org/show_bug.cgi?id=825306

[2013-01-07 00:10] lhoward opened #2910 "BrowserID.internal.get() should allow application-defined claims"
We have a profile for using BrowserID in the GSS-API/SASL, so that non-web applications may authenticate using BrowserID. It is described at http://www.padl.com/~lukeh/gss-browserid.html.

The mechanism supports channel binding (so the authentication can, for example, be bound to a TLS channel) and can perform a Diffie-Hellman key exchange in order to establish a shared session key, used for messa

[2013-01-07 11:26] shane-tomlinson commented on #2900
I was wrong - a quick experiment shows that `position: fixed` does work in IE8.

The reason we used Javascript to place the footer is the desired behavior as explained to me:

1) If the content height is > viewport height, place the footer below the contents. The footer does not scroll with content. It remains pegged below the content.
2) If the content height is < viewport height, place the foote

[2013-01-07 11:28] shane-tomlinson commented on #2905
Is this related to #2900?

[2013-01-07 15:10] benadida commented on #2900
@shane-tomlinson @skinny97214 we shouldn't let JS/no-JS drive the UX.

The only question here is: can we, relatively easily, make the front and documentation pages of Persona.org render properly without JS? @shane-tomlinson will a media query solve the dichotomy your'e looking for? If so, let's do it. If you can't figure it out in 30 minutes, let's close this issue and move on.

[2013-01-07 18:54] jrgm commented on #2905
How #2900 is addressed would affect this (but just hiding the footer in this case seems best for this case).

[2013-01-07 21:50] jrgm commented on #2909
So, in 2013-01-07-10-58-06 build, the display problem is not there anymore.

But the request for /verify_email_address, etc., are made without the browserid_state cookie.

[2013-01-07 22:52] jrgm opened #2912 "[b2g] js error loading notoriousb2g.myfavoritebeer.org"
On a b2g phone with dom.identity.enabled, go to notoriousb2g.myfavoritebeer.org. WIth a build from 2012-01-07, I get this error and the page does not layout.

[code]

where line 10 is:

[code]

[2013-01-07 23:06] lhoward opened #2913 "Origin check fails when using custom URLs"
My application uses a non-HTTP/HTTPS URL in the assertion audience. This works fine with BrowserID.internal.get(), however origin validation (in lib/validate.js) fails with "not a valid origin" if the user does not have an existing Persona identity and attempts to create a new one. It would be good to relax this check to accept any valid URN if called from the internal path.

(Example URL: urn:x-g

[2013-01-08 00:12] seanmonstar commented on #2912
Hm, that'd be because with native identity, navigator.id is probably a `WrappedJSObect` or something similar, which means other contexts don't have permission to change it's properties.

We need to decide if this is a bug in the native implementation (people should be able to modify navigator.id) or in myfavoritebeer (it should store sessions somewhere else).

/cc @jedp

[2013-01-08 03:19] jrgm opened #2914 "[b2g] login state not shared between tabs in phone browser for the same Idp domain"
STR
1. Go to http://notoriousb2g.123done.org and auth with an existing secondary user (only one email on the account).
2. Create a new tab in the phone browser, and load https://notoriousb2g.personatest.org

Expected: you should be logged in to the main site.
Actual: non-authenticate UI is shown, with a 'Sign in' button shown.

I can see with https://etherpad.mozilla.org/http-logging-for-b2g that

[2013-01-08 03:53] jrgm opened #2915 "[b2g] wrong cookie jar used on restart for this scenario"
This is related to GH-2914.

STR
1. Go to http://notoriousb2g.123done.org and auth with an existing secondary user (only one email on the account).
2. Create a new tab in the phone browser, and load https://notoriousb2g.personatest.org
3. Restart the phone and go to http://notoriousb2g.123done.org again.

Expected: You should be auth'd with notoriousb2g.personatest.org and presented with a sign in

[2013-01-08 05:14] jrgm commented on #2903
Also, the request above is for persona.org and *.persona.org. But should also cover legacy browserid.org, I suppose.

[2013-01-08 14:20] #2807 closed, assigned to jrgm

[2013-01-08 14:51] shane-tomlinson commented on #313
@benadida, @lloyd - Is this still under consideration or can it be closed until we actually get to this?

[2013-01-08 14:53] shane-tomlinson commented on #413
@skinny97214 - Any plans on this or can we shut this down?

[2013-01-08 15:40] csuciu commented on #2792
I can't repro this issue using Firefox 17.0 on OS X 10.8. The Persona sign in dialogue is displayed correctly when signing in from the GameOn web site.

@dethe, are you still able to reproduce the bug?

[2013-01-08 16:26] shane-tomlinson commented on #2389
@jrgm - this was fixed by #2390, closing.

[2013-01-08 16:26] #2389 closed, assigned to shane-tomlinson

[2013-01-08 17:14] ozten commented on #313
Not sure what the best way to get community involvement is, but this is ripe for some experiments.

Since we don't have a good "Get Involved" integration with github issues, I'd say close it.

[2013-01-08 19:25] lloyd commented on #313
this feature was motivated by an internal mozilla initiative, not by the community, and there was significant discomfort around it.  It seems like we've solve the problem a different way, so the internal impetus to look at this is gone.

+1 to closing (and I am!)

[2013-01-08 19:25] #313 closed, assigned to lloyd

[2013-01-08 19:30] ozten commented on #313
Ah, Sorry my comments are for "SSO experiments", which I thought might solve this. I probably misread.

[2013-01-08 21:22] jedp opened #2918 "[b2g] 503 error when creating unverified email account"
Initially reported by Krupa; I can reproduce:

Using the marketplace-dev app downloaded from http://people.mozilla.org/~kmcmillan/mktdev.html, I tried to login with a new unverified email address.  I already have a `jparsons@mozilla` address with notoriousb2g; I chose `jparsons+foo@mozilla`.

Marketplace received an unverified assertion from notoriousb2g and signed me in

In my desktop browser, I

[2013-01-08 21:57] jedp commented on #2912
Yes, I expect that's what's happening.  The object is not initially defined in user space; it's privileged.  When it's exposed to user space, you can't change it.

Similar example that will work in any firefox browser, try: `navigator.mozCameras.glurk = 42` then note that `navigator.mozCameras.glurk === undefined`.

This is a tricky problem, as an RP would get away with this on the shim, but then

[2013-01-08 23:47] seanmonstar commented on #2918
I see, I was sending the wrong email. I switched it to `email.sendConfirmationEmail`, which is the same one sent when adding a new unverified email to an existing account.

I'd test on that link you put in the description, but the linked page scares me.

[2013-01-08 23:48] seanmonstar commented on #2909
I imagine this and #2918 are the same thing.

[2013-01-09 00:32] seanmonstar commented on #2918
kumar says i've fixed 'er.

[2013-01-09 00:32] #2918 closed, assigned to nobody

[2013-01-09 00:33] seanmonstar commented on #2909
Emails sent to people when allowUnverified is true should get a confirmation email, instead of the newUser email, so they won't be sent to `/verify_email_address` anymore.

[2013-01-09 00:33] #2909 closed, assigned to nobody

[2013-01-09 00:55] jedp commented on #2918
Thank you sir!

[2013-01-09 01:15] jrgm opened #2919 "[b2g] account_cancel of unverified user has 503 error on foreign key constraint"
STR
1. With marketplace sign up as a new unverified user
2. Open a new tab and load notoriousb2g.personatest.org
3. Sign in with that user's email address and password.
4. In the admin UI, click on 'cancel your account'.

Expected: all relevant rows are removed in database and UI shows the account is gone.
Actual: UI shows 'We are very sorry...' with details of POST /wsapi/account_cancel and 503 c

[2013-01-09 01:18] seanmonstar commented on #2919
At this point, an "unverified" user in b2g is just a normal user in Persona, who has had an email staged. Would the same thing happen in Persona if I staged a new email, and then tried to delete my account?

[2013-01-09 01:32] jrgm commented on #2919
It probably would error out, if you could actually do that. But in the absence of unverified email, you couldn't ever be logged in while the row is in the staged table and cancel the account ;-)

[2013-01-09 01:38] seanmonstar commented on #2919
Oh? I imagine I can make this happen :)

[2013-01-09 01:44] seanmonstar commented on #2919
STR:
1. Create an account with an email and verify on dev.123done.org
2. Logout, login, and Add another email. Don't verify.
3. Go to login.dev.anosrep.org and login.
4. Cancel your account.

kaboom!

[2013-01-09 02:14] seanmonstar commented on #2919
@lloyd or @gene1wood The delete query is failing because of relying foreign keys. Any reason why I shouldn't modify the schema to use `ON DELETE CASCADE`?

[2013-01-09 04:50] lloyd commented on #2919
I'm scared by this idea, but I cannot say why.  inspect `cancelAccount` in mysql.js.  Currently it explicitly deletes all emails before deleting users.

CASCADE seems like a viable approach to me, but this makes me wonder about how our software behaves with dangling pointers in the staged table?

suggestion: for the purposes of this patch just add another DELETE query, then let's look at cascade s

[2013-01-09 09:34] lightsurge opened #2921 "broken on safari (mobile+desktop)? getting a blank page"
I'm using iOS 6.0.1 on an iPad2 / desktop Safari 5.1.7

Works fine on android devices, and chrome[latest]/firefox[latest]/ie9 , but on Safari under the most basic of tests, going directly to login.persona.org/sign_in I get a blank page.

Below describes the issue well, but doesn't really solve it:
http://www.beetlebrow.co.uk/what-do-you-need/help-and-documentation/unix-tricks-and-information/safar

[2013-01-09 09:59] lightsurge commented on #2921
This is bizarre, I can also replicate on desktop with safari 5.1.7, works fine in chrome and internet explorer

[2013-01-09 10:19] lightsurge commented on #2921
Not much by way of diagnostics to tell, but after 40 seconds transfer ends with a status 200 having transferred 0 bytes. This is the same for trying to download the js from the persona website or by attempting to access login.persona.org/signin
See attached screenshot
![safari-persona](https://f.cloud.github.com/assets/1774056/53065/f88a252e-5a45-11e2-9725-28cb00b5c6d0.png)

[2013-01-09 11:24] lightsurge commented on #2921
This seems to describe the problem and a possible solution
http://www.beetlebrow.co.uk/what-do-you-need/help-and-documentation/unix-tricks-and-information/safari-gzip-deflation-and-blank-pages

Apart from just not gzipping js, this problem appears well known and the solutions seem to vary a lot depending on the server, so I guess this is one only the Mozilla folks can fix really.

[2013-01-09 16:57] skinny97214 commented on #413
The redesign made the Persona logo much more prominent. Closing as fixed.

[2013-01-09 16:57] #413 closed, assigned to lloyd

[2013-01-09 16:59] skinny97214 commented on #2900
LMK where the CSS wizards land on this question.

[2013-01-09 17:25] callahad commented on #2921
Preliminarily assigning this as a 5-star. @jrgm -- do you have an iPad, and can you reproduce this issue?

[2013-01-09 18:06] lightsurge commented on #2921
Like I say, you should be able to reproduce it just with a desktop machine and Safari (I was using 5.1.7).

If not, it must be some network peculiarity combined with (just) Safari, Persona and an environment like the one I'm in (large corporate). I definitely think it's something to do with gzip, perhaps in combination with SSL, possibly chunking? I've tried it through 3 different corporate-type f

[2013-01-09 18:21] benadida commented on #2921
fwiw, it works ok on my safari 5.1.6 desktop

[2013-01-09 18:25] benadida commented on #2921
and on ipad 6.0 (haven't updated yet)

[2013-01-09 18:26] seanmonstar commented on #2908
@jedp do you know what the deadline is for this? i'll be on vacation for the next 2 weeks, does this need to be done during then?

[2013-01-09 18:28] callahad opened #2922 "Privacy Policy has outdated, scary bullet point"
At the very top of https://login.persona.org/privacy is this bullet:

AFAIK, we are not logging this. Can we please get legal review and remove this bullet?

@benadida, what's the next step? Should I file a Bugzilla bug targeted at Jishnu or the Legal team in general?

[2013-01-09 18:32] benadida commented on #2922
@callahad no, no need to file, the new privacy policy is almost done, I'm still working with Jishnu on it.

[2013-01-09 18:50] lightsurge commented on #2921
Unless something crazy happened in the last releases it must be peculiar to my environment then. For comparison here's an example of a gzipped SSL file transfer that did work in my environment on Safari.

https://developers.google.com/speed/articles/gzip

Main difference seems to be that here Content-Length is specified, and there's no 'Transfer-Encoding:chunked' as with persona
![working-gzip](ht

[2013-01-09 22:10] lightsurge commented on #2921
Yup, tested from home and works fine. So its not a version of Safari/iOS problem, its an environment problem.

But... the work setup is the same old [proprietary] story, though, so I very much doubt it's unusual. Although, given this only affects Safari even if all those in that same old story used persona, the problem would nevertheless likely only ever rear up if someone brought their iPad into

[2013-01-09 22:14] jedp commented on #2914
I think what's happening here is that the persona login form is setting cookies and all, but because it's not glomming onto the native implementation, it's not setting them in the same context.

On b2g, each tab and each app has a separate cookie jar; the native navigator.id implementation works around this by causing all browserid state to be stored in the system app's cookie jar.  But this login

[2013-01-09 22:21] callahad commented on #2921
Lowering to 4-stars since it's not a widespread issue. @fmarier since you were looking at making Persona faster, what are your thoughts on not gzipping for Safari users?

[2013-01-09 22:27] #2673 closed, assigned to seanmonstar

[2013-01-09 22:28] seanmonstar opened #2924 "verifying an unverified-email should remove the associated cert from localStorage"

[2013-01-09 22:42] fmarier commented on #2921
@callahad gzipping text files like JavaScript ones usually makes a big difference (especially on slower connections), but there's no point in the page being fast if it's not going to be parsed/displayed properly by Safari :)

[2013-01-09 23:39] jrgm commented on #2918
Works for me with 2012-01-08 b2g. Email link is for /confirm; user is signed in.

[2013-01-09 23:40] jrgm opened #2925 "[b2g] email not verified on password reset for unverified email"
STR
1. Sign in with marketplace with a previously unused email address to be an unverified user.
2. Log out of marketplace, and begin sign in again.
3. Click this is not me and re-enter the same email address.
4. When prompted for the password, click on 'Forgot password?'
5. Enter password times two, and load the reset link in the browser.
6. Enter the password again and complete the reset.

At th

[2013-01-10 01:06] jrgm opened #2926 "login.dev.anosrep.org resolves to 2 IP addresses?"
Or am I reading this wrong...

[code]

[2013-01-10 01:24] jrgm opened #2927 "Dialog transitions to wrong screen while polling user_creation_status, etc., on a flaky network."
This comes originally from seeing this when using a flaky network with flaky phone. But I can reproduce on desktop with a little ipfw trick that's make this easier to debug.

STR
1. Load dev.123done.org and bring up the dialog
2. Enter a new secondary email address, the password twice and submit.
3. The new user is staged, and the dialog switches to show the "Check your email..." screen. Polling f

[2013-01-10 02:40] jrgm commented on #2926
If I ssh into either of those IP addresses, they are both awsboxen with uptime from about 11:00 PST this morning.

[2013-01-10 02:54] jrgm commented on #2926
Yeah, so we are round robin'ing those two servers, which have different databases, so ... fun.

[2013-01-10 10:03] #2762 closed, assigned to shane-tomlinson

[2013-01-10 10:16] #2887 closed, assigned to zaach

[2013-01-10 10:58] shane-tomlinson commented on #2921
I would be interested in knowing what in the environment is causing Safari to behave this way. Are we missing a header?

[2013-01-10 11:02] shane-tomlinson commented on #2914
Mmmm...  I have no good thoughts on this, all the cookies are HttpOnly so we can't set them using JS in the internal API.

Am I wrong in wondering if this is a broken feature in B2G? Shouldn't different tabs of the same browser share cookies?

I'm trying to think if there is a solution to work around this. Nothing is coming to mind at the moment. At one point I thought @benadida was considering do

[2013-01-10 16:56] shane-tomlinson commented on #673
Closing since this has become the de facto mode of operation.

[2013-01-10 16:56] #673 closed, assigned to lloyd

[2013-01-10 16:57] shane-tomlinson commented on #667
Closing as unlikely to be done.

[2013-01-10 16:57] #667 closed, assigned to shane-tomlinson

[2013-01-10 17:00] shane-tomlinson commented on #1140
This has been taken care of by @ozten, @seanmonstar and @lloyd as part of the BigTent push. Closing.

[2013-01-10 17:00] #1140 closed, assigned to skinny97214

[2013-01-10 17:04] shane-tomlinson commented on #1403
Closing - the BigTent push cleaned up a lot of these flows.

[2013-01-10 17:04] #1403 closed, assigned to ozten

[2013-01-10 17:05] shane-tomlinson commented on #1741
@lloyd - is this work now done?

[2013-01-10 17:08] shane-tomlinson commented on #1697
We have removed the ability to cancel out of the "Check your email screen" which was where step 4 occurred. Closing as no longer possible.

[2013-01-10 17:08] #1697 closed, assigned to shane-tomlinson

[2013-01-10 17:10] shane-tomlinson commented on #2154
@seanmonstar has done this. Closing.

[2013-01-10 17:10] #2154 closed, assigned to shane-tomlinson

[2013-01-10 17:40] shane-tomlinson commented on #39
1*. Over a year old. Closing it down. If we need further action, reopen.

[2013-01-10 17:40] #39 closed, assigned to nobody

[2013-01-10 17:44] jrgm commented on #2926
This is back to one IP now --
login.dev.anosrep.org.  60  IN  A   54.242.12.44

Closing.

[2013-01-10 17:44] #2926 closed, assigned to nobody

[2013-01-10 17:50] lloyd commented on #2922
@benadida please link to the tracking bug/document/website/whatever.

[2013-01-10 17:56] lloyd commented on #2912
@shane-tomlinson to clean up obsolete session stuff in myfavoritebeer.

[2013-01-10 18:00] #2892 closed, assigned to lloyd

[2013-01-10 18:05] shane-tomlinson commented on #2719
closing for now.

[2013-01-10 18:05] #2719 closed, assigned to shane-tomlinson

[2013-01-10 18:06] shane-tomlinson commented on #2485
PR has been merged, closing.

[2013-01-10 18:06] #2485 closed, assigned to shane-tomlinson

[2013-01-10 18:31] ozten commented on #2910
@lhoward - Had a chance to discuss this and Issue #2913 in the bug triage meeting.

The core team is excited about your work on a BrowserID GSS mechanism. Working through these ideas and sharing updates on the mozilla.dev.identity mailing list is awesome.

We're going to close these two bugs for the following reasons:
- Issues against mozilla/browserid should be very specific reports of a bug agai

[2013-01-10 18:33] ozten commented on #2913
Closing this bug do to reasons noted in Issue #2910.

I'll follow up on the mailing list with my advice on this two bugs.

[2013-01-10 18:33] #2913 closed, assigned to nobody

[2013-01-10 18:55] #1741 closed, assigned to lloyd

[2013-01-10 18:55] lloyd commented on #1741
thanks for finding this cruft, shane dawg.

[2013-01-10 19:05] benadida commented on #2922
@lloyd privacy policies have a separate process within legal at Mozilla, with a post to dev-governance coming from Jishnu soon. I think we can use this issue as a tracker for us.

[2013-01-10 19:06] lloyd commented on #2922
sounds great.  exactly what we concluded in triage today.

On Jan 10, 2013, at 12:05 PM, Ben Adida notifications@github.com wrote:

[2013-01-10 19:31] seanmonstar commented on #2914
I was going to say the same: I don't see how we can affect the cookies of another context. Is that not a B2G bug?

[2013-01-10 20:55] #2919 closed, assigned to seanmonstar

[2013-01-11 16:59] shane-tomlinson commented on #2912
Removed the obsolete session code on mfb. Closing.

[2013-01-11 16:59] #2912 closed, assigned to shane-tomlinson

[2013-01-11 22:15] ozten opened #2932 "[bigtent] Add Mailstrom like email provider detection"
https://mailstrom.co/ is quite clever about being able to detect if a domain name is backed by gmail.com.

Dave Troy, one of the Mailstrom wizards, was kind enough to share their dark magick:
1. Is the domain name gmail (gmail.com, googlemail.com)?
2. Does the MX resolve to a google mail host?
3. If still not sure, we connect to Gmail via SMTP to see if it will accept an email to that address

Cur

[2013-01-13 06:03] davesann commented on #58
I have a suggestion on this matter that breaks current practice. I think that it could be considered a problem that persona uses a piece of data that may or will change as an identifier. Instead, use a permanent id that cannot change.
1. Persona should not provide the email address to the site when verifying
2. Persona should provide a permanent unique identifier only. Persona assigns and manages

[2013-01-13 12:16] lightsurge commented on #2921
Could also be the presence of the etag header, combined with safari and some web caching proxy behaviour

[2013-01-14 00:26] callahad commented on #58
Thanks for the thoughts, @davesann. Any thoughts on how we could do that while still being decentralized and without locking sites into Persona?

[2013-01-14 12:52] davesann commented on #58
that will require some more thought. maybe, maybe not.

[2013-01-14 14:46] csuciu commented on #2534
Verify fixed on https://login.persona.org/about

[2013-01-14 14:46] #2534 closed, assigned to mathjazz

[2013-01-14 17:30] jaredhirsch opened #2935 "reduce noise level in selenium prod-monitor."
once again, saw a lot of alerts over the weekend.

Could be a bug in health-check tests, problems with the git-mirror (this caused the previous weekend's failures), or problems with npm or sauce.

Need to analyze some of the hundreds of recent failures, find the top problem, and fix it.

I'm happy to take this, but curious what level of starrage it'll merit in triage.

[2013-01-15 13:57] shane-tomlinson opened #2937 "transitionNoPassword sends the reset password email instead of a more appropriate email"
This will cause user confusion when they get an email that says:

"Forgot your password for Persona? It happens to the best of us."

[2013-01-15 16:40] shane-tomlinson commented on #2937
Hey @skinny97214 - When a user who has an account with only primary email addresses and one of their addresses converts from a primary to a secondary, currently the password reset email is sent out.  While it is an edge case that we hope does not happen often, it is an area that will cause confusion when it does. Whatcha think about sending a new email?

[2013-01-15 16:43] lloyd commented on #2937
+1 - this will be confusing.  This case occurs only when a primary transitions to a secondary, which is thought to be rare.  We did not bother optimizing the email text for this case as part of the initial merge because the patch was HUGE, we thought time was tight, and this seemed like something we could safely get to later.

[2013-01-15 17:34] ozten opened #2938 "[b2g] Using forceIssuer and allowUnverified blocks user flow with verification loop"
krupa has reported these STR

1) Using the device purchase an App

Markeplace web code uses `forceIssuer: b2g2pac.personatest.org` and `allowUnverified: true`.

2) Enter an email address which has never been used on https://native-persona.org/

3) Enter passwords

Actual
User is blocked by the email verification loop, so the `allowUnverified` feature isn't being used.

Expected
User is allowed to

[2013-01-15 18:38] ozten opened #2939 "Ensure all b2g locales are supported"
@mathjazz Do you know which locale codes will be baked into the b2g device for the Brazil market?

Potential problem: Our production system displays English for `pt`. We do have a locale for `pt-BR` however.

Questions:
1) What is the final list of locales on the b2g device?
2) Should we alias pt-BR to pt? If so, what is the best way to do that? Rename the pt-BR directory?

[2013-01-15 19:35] skinny97214 commented on #2937
We do need a new email with custom copy. @callahad can you help draft the copy?

[2013-01-15 21:49] zaach opened #2940 "Dialog form not immediately visible"
On Firefox 18, OS X 10.8.2 (retina)

STR
- go to dev.123done.org
- click on Persona sign in button
- observe dialog with missing form

![Screen Shot 2013-01-15 at 1 40 53 PM](https://f.cloud.github.com/assets/3903/69390/95e8b9a0-5f5c-11e2-823e-2f31f44ef4ee.png)

Once you resize the dialog it returns to normal and the form appears.

[2013-01-15 21:55] Pike commented on #2939
FxOS should report pt-BR or es right now.

[2013-01-15 23:19] callahad commented on #2937
@skinny97214 / @shane-tomlinson Do we need to expose the user to the fact that their email provider isn't supporting Persona? If we do, how about:

I'm intentionally ignoring the fact that a domain might intentionally disable Persona, and instead referring to everything as "trouble with their Persona support." Because I can't think of a better way to put it, and because the verbiage above is more

[2013-01-16 01:24] ozten commented on #2938
krupa is not longer seeing this behavior. Closing bug. Reopen if this issue starts happening again.

[2013-01-16 01:24] #2938 closed, assigned to nobody

[2013-01-16 01:42] zaach opened #2941 "update entire row when staging email"
keep staging table consistent

[2013-01-16 14:22] shane-tomlinson opened #2943 "Unhelpful error message displayed if user enters in a short password on email verification"
STR

1) In browser 1, stage a new user
2) In browser 2, open verification link
3) Enter a password that is too short - in this case it was "pass"
4) Check out the very unhelpful error message.

![error-message-post-verification-wrong-password](https://f.cloud.github.com/assets/848085/71419/f62f4fbe-5fe7-11e2-8b83-6c3aea8d20be.png)

More desirable:

Give the user another chance to enter their email

[2013-01-16 17:37] skinny97214 commented on #2937
This is a weird enough thing that it seems like there needs to be a support article with more detail that we could link to.

Other than that it looks great. I tweaked the link copy a teeny bit.

[code]

[2013-01-16 19:14] zaach commented on #2940
This only happens when Firefox is in "retina mode". On my external monitor it looks fine.

[2013-01-16 19:19] zaach commented on #2937
@callahad @skinny97214 Any ideas for the subject of the email?

[2013-01-16 19:39] jrgm commented on #2941
merged pr. Closing.

[2013-01-16 19:39] #2941 closed, assigned to nobody