[2013-05-14 01:17] callahad commented on #3386
I can't reproduce this -- what page am I supposed to be on? I'm trying logging in and out a bunch on https://marketplace-dev.allizom.org/developers/

[2013-05-14 01:19] jedp commented on #3386
I also can't reproduce this.  Since you're using marketplace-dev, you're currently hitting native-persona.org.  To test that, you can use this: http://people.mozilla.org/~jparsons/test_b2g.html

To test:
1. Sign in
2. Reload the page; I am automatically signed in
3. Logout
4. Reload the page; I am not signed in; I get a ready message.

Matt, do you have more context? Logs?

[2013-05-14 01:19] jrgm commented on #3385
It's fundamentally different in this train-2013.05.08. I have passed this test in train-2013.04.26 (yes flaky). But now, we can't complete the tests at all.

No, it may not be five-star, but needs to be worked on.

[2013-05-14 02:06] mattbasta commented on #3386
This won't affect /developers since that code uses a different set of login scripts.

marketplace-dev only loads native-persona.org if it detects Firefox OS, so if you're testing on desktop, you'll be hitting the normal Persona URLs.

I just committed some extra logging code (and refactoring, for ease of code reading) to marketplace-dev. You can see the following things in the logs:

On log out:

[2013-05-14 02:08] mattbasta commented on #3386
You can trace the code here:

https://github.com/mozilla/fireplace/blob/master/hearth/media/js/login.js#L34
https://github.com/mozilla/fireplace/blob/master/hearth/media/js/login.js#L61
https://github.com/mozilla/fireplace/blob/master/hearth/media/js/login.js#L128

[2013-05-14 03:04] jedp commented on #3386
64k High Memory Area is available.  Awesome :)

I've tried the STR again and still it isn't broken for me.  I've ended up here from desktop firefox: https://marketplace-altdev.allizom.org/category/all/featured?src=category-featured (that's correct, isn't it?)

 (I've also double checked the latest v1.0.1 unagi build on b2g, just to make super double sure that logout is logging out on device as wel

[2013-05-14 03:06] cvan commented on #3386
You should be trying on https://marketplace-dev.allizom.org/ (not -altdev).

As a shortcut to installing Marketplace Dev, you can use [this page here](http://people.mozilla.org/~cwiemeersch/mktdev.html).

[2013-05-14 03:25] cvan commented on #3386
Heh, this is what I see right now:

![](http://f.cl.ly/items/46111T0u1M3r1j0l2t11/Screen%20Shot%202013-05-13%20at%208.24.33%20PM.png)

[2013-05-14 03:52] jedp commented on #3386
Hi, @cvan,

altdev is what krupa originally reported in https://bugzilla.mozilla.org/show_bug.cgi?id=869258 where she provided STR.  I don't know the difference between altdev and dev.  Which persona services do they use?

I just instlalled mktdev from the link you provided (is that different from ~kmcmillan/mktdev.html?) on a v1.0.1 unagi build from today, and I can't reproduce the problem initia

[2013-05-14 04:25] ozten commented on #3386
Can we jump in a Vidyo and step through via screenshare?

[2013-05-14 04:26] cvan commented on #3386
We don't update -altdev anymore. -altdev is updated via manual pushes. -dev is updated automatically whenever new code lands on mozilla/fireplace.

Same Persona services.

Mine's better than Kumar's.

Well so the thing is I can reproduce this on desktop (not using native Persona) in both Chrome and Firefox (stable and Nightly).

I can do that. @mattbasta: you can repro on desktop, yeah?

[2013-05-14 04:27] mattbasta commented on #3386
I've reproduced (and am presently reproducing here at home) the issue on
-dev. Functionally, -dev and -altdev are identical, except -altdev is
currently about a week behind. I wouldn't trust it for anything right now;
-dev reflects our current master branch.

Both -dev and -altdev will use native-persona when navigator.mozApps is
present, "Mobile" is in the UA, and "Android" is not in the UA. Othe

[2013-05-14 04:29] mattbasta commented on #3386
Some debugging that I've done:
- I can't reproduce in Chrome's incognito mode
- In incognito, I notice that the localStorage for persona has an extra value "`loggedIn`"
- Upon manually triggering `navigator.id.logout()` via the console, `loggedIn` does not drop its `marketplace.firefox.com` field.
- Deleting the `loggedIn` field outside of incognito solves the problem and the Marketplace and Perso

[2013-05-14 04:30] jedp commented on #3386
Thanks @cvan and @mattbasta for the clarification about -dev.  I'll stick to that.  If one of you can pastebin up some logs with `toolkit.identity.debug` preffed on, that would be a huge help.  There should be a line in the logs that declares `persona uri = x.y.z`; please paste that line and everything after it.  Thanks!

[2013-05-14 04:44] cvan commented on #3386
I can't reproduce this in desktop b2g. Just on desktop.

If you're curious here are screenshots from my desktop b2g build, which works fine logging in/logging out:

http://cl.ly/image/0f3G2X0A2G0D
http://cl.ly/image/2Q2l0o1a3M1g
http://cl.ly/image/1X0k092n3n0O

Hmm, @mattbasta, might this be from the issue when our JS was being duplicated and initialized 11 times? I thought this to be the problem.

[2013-05-14 05:51] seanmonstar commented on #3386
I was wondering if it might be something cached. Since it seems new
browser's aren't hitting it?
On May 13, 2013 9:44 PM, "Christopher Van" notifications@github.com wrote:

[2013-05-14 06:38] jrgm commented on #3385
So I did a git bisect with an awsbox and it points to:

[code]

But it's a little ambiguous since there are some test failures in an immediately prior commit (although that commit did run to completion and reported the failures). A lot of stuff landed in a short window of the merge.

So to make this clearer, I stood up two m1.small:
1. https://jrgm-3448315.personatest.org/test/ - which is '3448315

[2013-05-14 09:48] shane-tomlinson commented on #3379
Thanks @mattbasta, I was looking for that. Closing as dup. @Osmose, can you pile on in the other?

[2013-05-14 09:48] #3379 closed, assigned to nobody

[2013-05-14 10:13] shane-tomlinson opened #3389 "[dev] cert-key-test.js backend unit test failure"
[code]

[2013-05-14 10:13] deepak1556 commented on #3035
can the application cache file be of use here ? u can add an additional script to look for push changes to ur repo and on the respone download the new manifest file ,which wld download the updated include.js on the next run. still cant figure a way make it async..

[2013-05-14 10:43] shane-tomlinson commented on #3389
When running with LOG_TO_CONSOLE=true

[code]

[2013-05-14 10:45] shane-tomlinson commented on #3389
This seems to be caused by 959e367acabe3c44d68ff4411911dfe87440bef7

[2013-05-14 10:51] shane-tomlinson opened #3390 "[dev] address-info-test fails"
[code]

[2013-05-14 10:54] shane-tomlinson commented on #3390
This appears to have been due to old data in the JSON database. Can no longer reproduce, closing.

[2013-05-14 10:54] #3390 closed, assigned to nobody

[2013-05-14 13:14] shane-tomlinson opened #3393 "[main site] error/wait/delay screen has transparent background"
Affects train train-2013.05.08

![screen shot 2013-05-14 at 14 13 33](https://f.cloud.github.com/assets/848085/501442/805759ae-bc98-11e2-8b5f-b99ea0b13a1f.png)

[2013-05-14 13:17] shane-tomlinson opened #3394 "[main site] delay spinner does not spin"

[2013-05-14 13:30] callahad commented on #3386
Could this be related to what Pwnna was seeing in IRC [last night](http://irclog.gr/#show/irc.mozilla.org/identity/259627)? Persona worked fine on other sites for him, but on his own site `.logout()` wasn't clearing the logged in value. Clearing localStorage solved it for him, but now I'm a bit uncomfortable if this has happened to two people...

[2013-05-14 13:42] #3383 closed, assigned to nobody

[2013-05-14 13:53] shane-tomlinson commented on #3362
@edmoz - the `confirm` link leads me to believe this is not a user creation, but an email addition, a reverification or the staging of an unverified user. Did you open the verification link in the same browser or a different browser?

[2013-05-14 13:55] shane-tomlinson commented on #3362
@edmoz - so far, I have been unable to reproduce this.

[2013-05-14 13:55] shane-tomlinson commented on #3362
ahha - I have reproduced. This is the case if you re-open a link that has already been verified. An edge case, but should be handled. Bumping to 5\* since this is a regression (even if it is a long standing one).

[2013-05-14 14:25] mattbasta commented on #3386
When I get into the office, I'll inspect that mystery key on the
login.persona.org origin for you guys. I'll also dive a bit deeper into
include.js and the session_context stuff to see where it comes from.

Perhaps the loggedIn key is a relic from a previous push that's only read
and not written now?

Sent from my tablet
On May 14, 2013 6:30 AM, "Dan Callahan" notifications@github.com wrote:

[2013-05-14 14:37] seanmonstar commented on #3386
I feel I remember @stomlinson saying there was a recent change the
localStorage structure, specifically where loggedIn is stored. I'm going to
assume it's related. Will look at commits when I get to the computer.
On May 14, 2013 7:26 AM, "Matt Basta" notifications@github.com wrote:

[2013-05-14 14:58] cvan commented on #3386
I just cleared `localStorage` and that enabled me to log out. Hmmm, do we know which keys/values were causing issues here?

[2013-05-14 15:22] shane-tomlinson commented on #3386
@seanmonstar - AGH! I see the problem. When I upgraded from loggedIn to use the site namespace, I automatically upgrade the logged in info without clearing the original cache. The next time the user returns, it re-upgrades the site info from loggedIn, effectively re-signing in the user.

[2013-05-14 16:41] #3389 closed, assigned to nobody

[2013-05-14 16:49] krupa opened #3399 "Native persona sign in fails with a 400 to POST /wsapi/cert_key"
## Preconditions
1. Tester is on the latest 1.0.1 build on their unagi device.
2. Tester has marketplace-stage installed
## Steps to reproduce
1. Launch marketplace-stage app on your Firefox OS phone
2. Navigate to the details page of a paid app like Private Yacht
3. Click the Purchase button
4. Persona sign in screen loads within the trusted UI
5. Sign in using valid credentials
## Expected behav

[2013-05-14 17:09] #3385 closed, assigned to jaredhirsch

[2013-05-14 17:42] edwindotcom commented on #3399
I'm not able to repro with native.123done.org on, though things were really slow the first time.
Gecko  http://hg.mozilla.org/releases/mozilla-b2g18_v1_0_1/rev/b0b2b5cfdc5b
Gaia   30ad443fbe5363a7381c19c6bf9d6ca49228fb8b
BuildID 20130509070209
trying a newer build

[2013-05-14 18:05] jaredhirsch commented on #3385
@jrgm I force-pushed dev to bisector.personatest.org and verified that tests are passing on IE8 (though there are annoying long-running-script alerts). Care to verify as well? If not I'll just tear down bisector.

[2013-05-14 18:07] jaredhirsch opened #3401 "unit tests on IE8 throw many long-running script alerts"
Not sure what's up here, but I kinda suspect it's caused by crypto burning through IE8's upper limit on the number of computations before yielding to the UI thread?

[2013-05-14 18:34] seanmonstar commented on #2560
@drupalnomad would you be willing to give me a login to the site affected? I can't reproduce on the sites I've been testing. I'd love to set a breakpoint inside communication_iframe at `getSilentAssertion`, and inspect  what the error is, if there is any statusCode, and whatnot.

My guess is it's erroring with `statusCode === 0`, then I can add that check into the code.

[2013-05-14 19:19] jrgm commented on #3385
Yeah, I patched train-2013.05.08 with this change and that passes fine on ie8 for me. You can tear down your bisector.

Thanks @shane-tomlinson and @6a68!

[2013-05-14 19:29] jaredhirsch commented on #3385
woo!

[2013-05-14 21:37] jedp opened #3402 "Services should return a 400 when unknown params are included in requests"
For example, if marketplace sends a request with `allowUnverified` instead of `experimental_allowUnverified`, persona should return a 400.  Currently, it just ignores the unfamiliar parameter.

/cc @kumar303

[2013-05-14 21:41] seanmonstar commented on #3402
Ew...

[2013-05-14 21:47] wfwalker opened #3404 "persona sign-in dialog from marketplace uses off-center spinner"
when I try to log into marketplace on my unagi, the spinner i see is off-center, looks like a mistake. To quote Jed Parsons, "it looks like someone twirling a frisbee around their finger.

I attach a screenshot, but it doesn't really give a flavor of the experience.

![2013-05-14-14-39-20](https://f.cloud.github.com/assets/812428/504197/d734df70-bcdf-11e2-926d-bd473fc56aba.png)
"

[2013-05-14 22:44] kumar303 commented on #3404
In case it helps, I'm seeing this on today's 1.0.1 unagi build. Maybe some assets aren't loading? Also, note that this is loading from firefoxos.persona.org which is why people are seeing the new UI now

[2013-05-14 23:08] edwindotcom commented on #3404
no assets are missing - this is the new UI I believe.  But it is a bit distracting.

[2013-05-15 00:11] jedp commented on #3404
Yes, this is the new UI.  I agree with Bill; it's just a little bit wobbly; the center of rotation doesn't seem to be the center of the image

[2013-05-15 00:12] jedp commented on #3402
@kumar303 and I grossed @seanmonstar out

[2013-05-15 00:14] jedp commented on #3399
This should be fixed now.  @krupa, is it still failing on you?

[2013-05-15 00:21] deepak1556 commented on #3374
a possible solution can be to them in a try-catch-final block without affecting code path and at same time throw the error to users..

[code]

[2013-05-15 00:37] lloyd commented on #3404
We could patch in a new asset if one was provided.

-- lloyd (thumb-typing)

On May 14, 2013, at 6:11 PM, Jed Parsons notifications@github.com wrote:

[2013-05-15 03:49] shane-tomlinson commented on #3404
@wfwalker - do you have an image I can use? I got this one directly out of the mocks I was sent.

[2013-05-15 05:44] kumar303 commented on #3404
@muffinresearch may be able to help. He implemented very similar UX mocks in [webpay](https://github.com/mozilla/webpay/blob/master/media/css/pay/throbber.less)

[2013-05-15 07:52] muffinresearch commented on #3404
Here's the css from the webpay throbber which was lifted from what we use on fireplace.

https://github.com/mozilla/webpay/blob/master/media/css/pay/throbber.less

[2013-05-15 09:04] shane-tomlinson commented on #3404
@muffinresearch, @kumar303, @mattbasta - have I mentioned that you guys have been awesome with all the help?

[2013-05-15 09:25] shane-tomlinson opened #3407 "[b2g][mobile] buttons do not take up entire width of screen."
The buttons in the button row should expand to take up the entire width of the screen, if possible.

[2013-05-15 14:18] zacc opened #3409 "[B2G] Verify password page is too wide for the frame"
For the unverified user workflow at the step for create/verify password the input fields are too side. Also the footer text does not seem right, or at least to the precision standards of the Identity team.

The second screenshot shows panned to the right side; there is a grey border on the side.

![2013-05-15-07-13-10](https://f.cloud.github.com/assets/966053/507174/c851d938-bd69-11e2-8f9b-bd349ec

[2013-05-15 14:28] zacc commented on #3409
Actually this appears to be specific to the Firefox OS version I am using.

b2g18/v1.0.1 -> As above
Gecko  http://hg.mozilla.org/releases/mozilla-b2g18_v1_0_1/rev/d40d1831ff41
Gaia   e2187565da22df0c85b2eb501ced4efd342b7bc2
BuildID 20130514230202
Version 18.0

b2g18/v1-train -> Works fine
Gecko  http://hg.mozilla.org/releases/mozilla-b2g18/rev/ad04d81b3eeb
Gaia   f4a59b245ea762eea2e9a30fc136229c0

[2013-05-15 14:41] shane-tomlinson commented on #3409
This looks to be some discrepancy in the renderer, on desktop it looks like:

![screen shot 2013-05-15 at 15 38 54](https://f.cloud.github.com/assets/848085/507337/8279ea82-bd6d-11e2-8034-5dd02fcd4775.png)

Which of the versions you quoted is going to ship? 0202 or 0207?

[2013-05-15 14:49] zacc commented on #3409
Unfortunately the 'bad' one, v1.0.1.

[2013-05-15 16:32] jedp commented on #3409
@zac interesting - i tested on yesterday's v1.0.1 build from pvtbuilds and didn't get that wide input issue.  I'll try today's build now

And, ugh - v1.0.1 has different css behavior than v1-train? That makes it exceedingly difficult to design and test this.  @shane-tomlinson i'm trying to figure out more.

[2013-05-15 17:16] krupa commented on #3399
works now, thanks!

[2013-05-15 19:15] krupa opened #3410 "New person UX changes do not fully match the mocks"
## Steps to reproduce
1. Launch marketplace-stage app on your unagi phone (1.0.1)
2. Start the purchase flow
3. Check the new Persona screens and make sure they match the mocks by Maureen
## Observed behavior

The following things don't match the mocks-
1. Header says "Sign in" instead of "Firefox Marketplace"
2. There is a section for Marketplace Terms and privacy policy. We need to move this to

[2013-05-15 19:48] AutomatedTester commented on #3409
can someone ping me before pushing this out as it's uncovered a nasty Marionette bug

thanks ❤

[2013-05-15 21:13] krupa opened #3413 "UX input for marketplace Terms & Policy section"
The new persona sign in screen has the Marketplace Terms & Policy section at the top. We should consider moving to a different screen like the mostly-empty Sign in screen or at least make it less space consuming.

Maureen can probably pitch in here.

[2013-05-15 21:48] #3394 closed, assigned to shane-tomlinson

[2013-05-15 21:48] #3349 closed, assigned to nobody

[2013-05-15 21:48] #3404 closed, assigned to nobody

[2013-05-15 22:29] mhanratty commented on #3413
Let's add the Terms and Privacy Policy for Marketplace directly underneath the Persona terms.

![screen shot 2013-05-15 at 3 28 08 pm](https://f.cloud.github.com/assets/4432402/509769/e541868e-bdae-11e2-9c99-0d004e92f921.png)

[2013-05-15 22:30] mhanratty commented on #3410
Let's add the Terms and Privacy Policy for Marketplace directly underneath the Persona terms.

![screen shot 2013-05-15 at 3 28 08 pm](https://f.cloud.github.com/assets/4432402/509769/e541868e-bdae-11e2-9c99-0d004e92f921.png)

[2013-05-15 22:46] #3393 closed, assigned to shane-tomlinson

[2013-05-15 23:16] jedp commented on #3413
/cc @skinny97214

I think the new string will require localization, too.

[2013-05-15 23:17] jedp commented on #3410
Tracking the location of the tos/pp links in issue #3413

[2013-05-15 23:25] jedp commented on #3410
To give some context for the title: It says 'Sign In' because [bug 829355](https://bugzilla.mozilla.org/show_bug.cgi?id=829355) made localization of the 'Sign In' title a tef+ blocker.  [Comment 22 in bug 813811](https://bugzilla.mozilla.org/show_bug.cgi?id=813811#c22) instructed that inheriting the title was not a v1 blocker.  So we will certainly fix this, but it will be v1.1.  (Note that it req

[2013-05-15 23:47] krupa opened #3414 "Persona loading screen persists after the user is already logged into Marketplace"
## Steps to reproduce
1. Tester is not logged in
2. Launch marketplace-dev app on your 1.0.1 unagi phone
3. Navigate to the details page for any app
4. Click on the "Write a review" button
5. Persona sign in screen loads.
6. Log in using valid credentials
## Expected behavior

Focus returns to Marketplace after the user is signed in
## Actual behavior

Persona loading screen persists after the use

[2013-05-15 23:59] jedp commented on #3414
Thanks for the screenshot and the logs.  Investigating.

[2013-05-16 00:00] jedp commented on #3414
Assigning five stars

[2013-05-16 00:02] jedp commented on #3414
@krupa notes in addition that the login is successful, but the UI persists nonetheless

[2013-05-16 00:11] edwindotcom commented on #3414
I repro'd this on my inari

[2013-05-16 00:11] jedp commented on #3414
And i'm seeing it on unagi with today's v1.0.1 build

[2013-05-16 00:15] jedp commented on #3414
Here are the logs from the end of the sign-in process (with `toolkit.identity.debug` preffed on)

[code]

The `FIXME : Got a mozContentEvent: undefined` is ignorable.  It's gaia complaining that there's no `type` attribute on our event, which is technically ok, but stylistically needs to be fixed.

`telling gaia to close the dialog` is the crucial line; that means that the native identity code is

[2013-05-16 00:19] kumar303 commented on #3414
The logs indicate that this might be a Fireplace issue not a Persona issue.

[2013-05-16 00:35] kumar303 commented on #3414
Another clue that suggests this is Fireplace related is that this is only broken when clicking the Write Review button to log in. I can log in without error via the settings screen and when clicking purchase on an app.

[2013-05-16 00:56] jedp commented on #3414
I added logging to the gaia apps `apps/system/js/identity.js` (which governs the identity bit that shows up in the trusted ui, and which receives the close message), and `apps/system/js/trusted-ui.js`, which controls the trusted ui itself.

It looks like the message is getting through.  Digging deeper into the trusted ui and ensuring our IDs line up.

[2013-05-16 00:57] krupa commented on #3414
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=872849 against Fireplace. Thanks for the help and sorry about the scare.

[2013-05-16 00:57] jedp commented on #3414
Perhaps noteworthy: when i install mktdev, the icon does not show up on the screen until i reboot the phone or restart the desktop.

[2013-05-16 00:58] jedp commented on #3414
krupa thanks for filing that bug, but i'm still scared :)  I don't see how we can send a close dialog message to the trusted ui and not have it close.  Still digging.

[2013-05-16 01:07] #3362 closed, assigned to shane-tomlinson

[2013-05-16 01:16] jedp commented on #3414
Moving my comments over to the bug krupa opened,  https://bugzilla.mozilla.org/show_bug.cgi?id=872849. I want to make damn sure this isn't a platform bug we're looking at.

[2013-05-16 01:19] #3386 closed, assigned to shane-tomlinson

[2013-05-16 04:48] jrgm commented on #3399
taking @krupa's coment as a reason to close this bug.

[2013-05-16 04:48] #3399 closed, assigned to nobody

[2013-05-16 09:50] shane-tomlinson commented on #3409
This has made its way into stage and is due to the changes for B2G. @zacc did an awesome job coming up with STRs

STR
1) Open dialog in B2G (or on a desktop browser resized to ~B2G size), if signed in, sign out
2) Enter in an unknown secondary email address > 31 characters long
3) Check out the width of the input boxes

Diagnosis:
Above the first input element, we write the email address to a labe

[2013-05-16 10:57] shane-tomlinson commented on #3413
@mhanratty - this has a side effect on the "email picker" screen. If the user has not previously visited the site they are trying to sign in to, the site's TOS/PP agreement must be shown. I will try to use the pattern shown here for that purpose too.

[2013-05-16 11:01] TeeTeeHaa opened #3417 "onlogout not being called in IE9 after navigator.id.watch with undefined loggedInUser"
Whether or not the "onlogout" callback is being called does differ in Internet Explorer 9 compared to Firefox 20 and Chrome 26. According to the documentation (https://developer.mozilla.org/en-US/docs/DOM/navigator.id.watch) the behavior in Internet Explorer 9 is wrong.

[code]

Please note that I am already avoiding Internet Explorer's compatibility mode with the following code:

[code]

[2013-05-16 13:55] shane-tomlinson commented on #3294
Manually merged @arlolra's PR, closing.

[2013-05-16 13:55] #3294 closed, assigned to nobody

[2013-05-16 16:40] jedp commented on #3353
This functionality was requested by the designer.  @shane-tomlinson has made it look a lot better since this was filed, but this is the desired behavior

Ergo closing.

[2013-05-16 16:40] #3353 closed, assigned to nobody

[2013-05-16 16:41] jedp commented on #3356
Closing as duplicate

[2013-05-16 16:41] #3356 closed, assigned to nobody

[2013-05-16 16:47] kumar303 commented on #3386
Thanks for the fix! When could we expect this to land in firefoxos.persona.org?

[2013-05-16 16:52] jedp commented on #3359
/cc @seanmonstar

[2013-05-16 16:54] jaredhirsch commented on #3360
maybe just dismiss the dialog after learn more is clicked? /me shrugs

[2013-05-16 16:56] jedp commented on #3361
Compare Issue #3360

[2013-05-16 17:00] jedp commented on #3373
@jedp ought to do something

[2013-05-16 17:02] jedp commented on #3374
@lloyd suggesting we catch it, console.log it, and re-throw it.  Sounds like a great feature.

[2013-05-16 17:02] lloyd commented on #3374
this is a great idea to help developers when integrating persona, I :heart: it.

[2013-05-16 17:03] jedp commented on #3375
Update - Axel says that traditionally we don't do this.  Ozten has a question in with Jishnu as to what legal wants. Waiting to hear back.

[2013-05-16 17:04] jedp commented on #3376
Current plan is to disable primaries for v1 on b2g, so closing for now.

[2013-05-16 17:07] jedp commented on #3377
The dialog subscribes to `window.close` events, and sends a close command when it receives one.  But there are no `window.close` events on b2g.  So it would appear the solution will require some work both on the platform side and in the dialog.

Note that an RP using the observer API will receive the `cancel` event and have its `oncancel` callback invoked if someone closes the trusted UI.  So this

[2013-05-16 17:07] jedp commented on #3378
Current plan is to disable federation on b2g v1

[2013-05-16 17:07] edwindotcom commented on #3378
primary sign in is not supported on b2g - closing

[2013-05-16 17:07] #3378 closed, assigned to nobody

[2013-05-16 17:13] jedp commented on #3402
@lloyd is intrigued and will follow-up with @seanmonstar

[2013-05-16 17:14] lloyd commented on #3402
@seanmonstar you don't like this?  seems like it could help people find problems.  Seems like we would never want to remove non-required experiemental parameters.  Also seems like this could break people in the wild.

When we've discussed this in the past with @warner we've talked about returning an array in the verifier that are "warnings" which a client can look for and log in their server.

tho

[2013-05-16 17:25] jedp commented on #3413
@jedp to drop some screenshots from the ephemeral instance into this bug so @skinny97214 and @mhanratty can take a look at it.

[2013-05-16 18:00] jedp opened #3422 "Add internal_api method to clear local storage"
like the secret debug menu provides

[2013-05-16 18:42] jrgm opened #3423 "[IE] /sign_in dialog flips behind the opener window"
STR
1. Use either IE8 or IE9 and go to http://dev.123done.org
2. Click sign in to bring up the dialog.

Expected: dialog opens and stays above the RP's window
Actual: dialog initially opens above the RP's window, but then the RP window moves above the dialog (potentially hiding it completely).

Notes:
1. The does not happen on beta.123done.org (stage train-2013.05.08).
2. This does not happen with

[2013-05-16 18:50] jrgm commented on #3423
To be clear that is IE9 on Windows 7, and IE8 on Windows XP, aand IE10 on Windows 8.

[2013-05-16 18:59] kparlante commented on #3373
The coarse_user_agent_parser needs to be modified for KPI blobs to be able to segment B2G blobs by browser/OS: https://github.com/mozilla/browserid/blob/dev/lib/coarse_user_agent_parser.js

#kparlante will handle the changes needed on the dashboard side: https://github.com/mozilla/kpi-dashboard/issues/45

The pentaho dashboards will get the user-agent header as is, no changes required: https://git

[2013-05-16 19:27] #3407 closed, assigned to nobody

[2013-05-16 19:52] seanmonstar commented on #3359
Mmm, so then `new_account` should be set after we get a successful return from `set_password` screen?

[2013-05-16 19:55] seanmonstar commented on #3402
Oh, this is meant more for the verifier? That sounds less gross. It sounds
possibly mean, if we deprecate experimental parameters.

I was worried this meant that if I do `navigator.id.request({ foo: 'bar'
})`, the dialog would 400.

[2013-05-16 20:07] #3413 closed, assigned to jedp

[2013-05-16 20:14] kparlante commented on #3359
Or, re-set `new_account` to be false if the user later goes down a path known to be not-new, e.g. if they hit `authenticate.enter_password`. I think we want `new_account` to be true even if the user wanders away at that point and fails to set a password.

[2013-05-16 20:51] jedp commented on #3414
this has been resolved as an issue with fireplace firing two request() calls nearly simultaneously.  Logs and documentation are attached to  https://bugzilla.mozilla.org/show_bug.cgi?id=872849

fireplace sha: https://github.com/mozilla/fireplace/commit/ab1e8e29d7abbc333e9312c32ca8089b85064b12

Bugzilla calls the issue resolved=fixed, so closing this

[2013-05-16 20:51] #3414 closed, assigned to jedp

[2013-05-16 20:56] jaredhirsch commented on #3417
Hmm.

Tested this here: http://jsfiddle.net/XgVD5/

I'm not able to reproduce the bug. I get onlogout fired every time across IE9 and FF and Chrome.

@TeeTeeHaa In your copy of IE9 that's not firing onlogout, would you please run that fiddle and tell me what callback is fired.

However, I do see some weirdness. If I have a persona session in a given browser, this test page fires onmatch instead of

[2013-05-16 20:57] jrgm opened #3424 "frontend tests failing on login.dev.anosrep.org with a real browser"
There's at least a typo here - https://github.com/mozilla/browserid/blob/dev/resources/static/test/cases/dialog/js/misc/state.js#L578

But with that url quoted correctly locally, there is still a test failure -

http://127.0.0.1:10002/test/?filter=dialog%2Fjs%2Fmodules%2Fauthenticate%3A%20authentication%20form%20initialized%20on%20startup%2C%20hidden%20on%20stop

It passes in the phantomjs tests t

[2013-05-16 21:12] ozten commented on #3375
Via phone, Jishnu says these will need to be localized.

Per [bug#873241](https://bugzilla.mozilla.org/show_bug.cgi?id=873241)...

Persona TOS/PP are only in English and hosted on the Persona public website which has no localization. The dialog is localized, of course, but not the stand-alone pages.

We need to support localized TOS and PP for some locales. If a localized version doesn't exist, en

[2013-05-16 21:23] jaredhirsch commented on #3423
looking now

[2013-05-16 21:34] jaredhirsch commented on #3423
@jrgm I can't repro this on IE9/win 7 or IE8/xp. I don't have a Win 8 VM.

The STR are dead simple, so I'm not sure how I can twiddle VM settings to reproduce this.

[2013-05-16 21:40] jaredhirsch commented on #3423
OK, so I can't repro, but I have a theory around how this could happen. cc @shane-tomlinson

If you open a window, then blur it (window.blur()), you get the popunder effect.

Our new dom.focus code (changed in 30e3f84) blurs the currently-focused element before focusing a new element. If the currently-focused element is the popup window itself, then we're effectively calling window.blur(), causing

[2013-05-16 21:43] jrgm commented on #3423
Actually, I can no longer reproduce this with the IE's that I used before -  IE9 on Windows 7, and IE8 on Windows XP, aand IE10 on Windows 8.

[2013-05-16 21:59] ozten commented on #3375
Ideally this would be done by 5/22 with 6/5 being the latest to make the next train (via lloyd on IRC)

[2013-05-16 22:01] mattbasta opened #3426 "Footer text is microscopic"
http://cl.ly/image/0R3H3O360k1a

[2013-05-16 22:04] jaredhirsch commented on #3426
@mattbasta I can't repro this. What browser/OS?

[2013-05-16 22:04] #3409 closed, assigned to shane-tomlinson

[2013-05-16 22:13] jaredhirsch commented on #3423
closing. fingers crossed we don't have to reopen.

[2013-05-16 22:15] jaredhirsch commented on #3296
I'm conditioned to freak out when I see 5-star bugs. Having a really long-lived one is bad for my nerves.

Can we bump this down to 4-stars? @shane-tomlinson @benadida thoughts?

[2013-05-16 22:40] mattbasta commented on #3426
Chrome Beta on 10.6.8
On May 16, 2013 3:04 PM, "Jared Hirsch" notifications@github.com wrote:

[2013-05-16 22:57] #1773 closed, assigned to seanmonstar

[2013-05-17 01:20] jrgm opened #3428 "development menu - show load screen is not hooked up"
Hey @shane-tomlinson I was looking at https://github.com/mozilla/browserid/pull/3396, and the development menu, and noticed that the 'Show Load' item does nothing, I think because the target div is not in the DOM.

This is probably on your todo list, so sorry if this is redundant or a duplicate issue.

[2013-05-17 01:22] callahad commented on #3417
@6a68 Sounds like a bug with onmatch :( onmatch should only fire when loggedInUser === my preferred email, and I have a preferred state of logged in on that site.

[2013-05-17 01:39] jrgm commented on #3424
So the PR above is merged to fix the typo.

But the test failure remains - https://login.dev.anosrep.org/test/?filter=dialog%2Fjs%2Fmodules%2Fauthenticate%3A%20authentication%20form%20initialized%20on%20startup%2C%20hidden%20on%20stop

Actually, if you load that URL and quickly bring another window to the foreground, the tests will pass because the focus check is skipped (similar to what makes thi

[2013-05-17 08:42] shane-tomlinson commented on #3423
@6a68 - NICE! I would have never thought of this, but it makes perfect sense. I can repro locally still. Theory testing time.

[2013-05-17 08:51] shane-tomlinson commented on #3428
@jrgm - the load menu is hidden on desktop and only shown on mobile. I should probably change this, eh?

[2013-05-17 09:15] TeeTeeHaa commented on #3417
@6a68 Thank you for your help. I extended your Fiddle a little bit (http://jsfiddle.net/XgVD5/4/) to see whether it is actually running at all. Here are the outputs in the different browsers:

Internet Explorer 9:
1. watching...

Internet Explorer 9 of a colleague:
1. watching...

Internet Explorer 10 of a colleague:
1. watching...

Chrome 26:
1. watching...
2. onlogout fired

Firefox 21
1. watchi

[2013-05-17 09:49] shane-tomlinson opened #3430 "[b2g] B2G apps use Feura Sans font set, not Open Sans"

[2013-05-17 09:49] shane-tomlinson commented on #3430
Using the natively installed fonts should give us performance wins too.

[2013-05-17 10:15] shane-tomlinson commented on #3417
Could this have anything to do with: https://github.com/mozilla/browserid/pull/3194 and #3170?

[2013-05-17 10:33] shane-tomlinson opened #3431 "submit button stays disabled permanently after cancel from set password screen and re-submitting"
STR

1) Open dialog, if signed in, sign out
2) Enter an unknown secondary email address
3) On the set password screen, click cancel
4) On authentication screen, click Next button without changing email address.
5) wah wah.

[2013-05-17 10:40] shane-tomlinson commented on #3424
Nice find @jrgm, this test failure brings up a real issue - the email field was not being focused on dialog startup.

[2013-05-17 11:25] shane-tomlinson opened #3434 "[b2g] pt font set needed for open sans"

[2013-05-17 11:26] shane-tomlinson commented on #3434
Currently they will get the Latin subset, which isn't terrible, but can be made better.

[2013-05-17 12:44] shane-tomlinson commented on #3430
@skinny97214, @mhanratty - Once all the various styling changes are merged, including the change to Feura Sans, the dialog looks like this:

![screen shot 2013-05-17 at 13 39 05](https://f.cloud.github.com/assets/848085/517941/5341c054-beef-11e2-8561-4a6bf02f5aa5.png)

The title seems squashed, is there a style guide saying what the letter spacing should be for Feura Sans and the verious headers?

[2013-05-17 13:31] shane-tomlinson opened #3435 "[b2g] We have pt_BR translations, all pt translations are empty."
I am worried a subset of B2G users may choose pt instead of pt_BR.

@mathjazz, should we alias these?

[2013-05-17 15:31] mathjazz commented on #3375
@ozten, this sounds good. Could you give me access to bug 873241 (m@owca.info)?

[2013-05-17 15:36] ozten commented on #3375
You betcha.

[2013-05-17 15:39] shane-tomlinson commented on #3423
I can reproduce this on IE8/Win XP after applying #3432, re-opening.

[2013-05-17 15:40] mathjazz commented on #3375
Thanks.

[2013-05-17 15:40] mathjazz commented on #3435
If both (pt and pt_BR) are available in B2G, I agree - we should alias them.

[2013-05-17 15:55] mathjazz commented on #3435
Well, as @ozten and @shane-tomlinson pointed out, pt-PT users might be offended if what they get is pt-BR for pt-PT not being available. I'm getting in touch with pt-PT community about that.

[2013-05-17 16:11] shane-tomlinson commented on #3423
@6a68 - your diagnosis was 100% spot on. The fix for IE8 was pretty simple, first, check if the focused element is the body. If it is, then skip blur.

[2013-05-17 16:31] ozten commented on #3375
I think we can get away with not localizing the header and footer of the public website.

Background:
On the device, when you click TOS or PP, it loads just that partial document into the trusted window.

On a web browser, when you click TOS or PP, it opens a new tab/window and loads the entire persona page which includes non-localized header and footer.

[2013-05-17 16:47] edwindotcom commented on #3410
@skinny97214 is looking into this and will contact marketplace UX to resolve

[2013-05-17 17:04] edwindotcom commented on #3404
just a note - using a b2g phone a fair amount, there's a spinner that looks similar but it's about 24x24 px, I'm not sure if we want to match that size to be more consistent with the b2g OS.  I may log a new bug for that since we're looking at UX right now

[2013-05-17 17:18] edwindotcom opened #3436 "b2g: persona loading spinner should be smaller to match other b2g apps"
I've been using b2g phone for a bit and noticed the spinner on other apps like marketplace are much smaller.  This would improve persona as first class on b2g.
1. on b2g launch marketplace

actual: see mkt screen shot which is a lot smaller than persona's spinner

![2013-05-17-10-06-23](https://f.cloud.github.com/assets/3698618/519387/b60fe0fa-bf15-11e2-94eb-4a307537e1a1.png)

[2013-05-17 17:18] edwindotcom commented on #3436
adding @skinny97214 since she's doing a UX review

[2013-05-17 17:42] seanmonstar commented on #3430
Seems odd to not have the Persona branding. When I see this, I just wonder what Persona possibly refers to.

[2013-05-17 17:45] skinny97214 commented on #3430
@shane-tomlinson Hold off on this until we get confirmation from that team that the whole flow is using Feura.

[2013-05-17 17:59] mhanratty commented on #3430
We want to use the default font that Gaia uses which is Feura Sans.

[2013-05-17 18:05] shane-tomlinson commented on #3436
@edmoz - check "all-together-now.personatest.org" - the spinner that I am using there is the CSS that was passed to me by @potch, which they use.

[2013-05-17 18:36] edwindotcom commented on #3436
@shane-tomlinson I thought you went to sleep!

[2013-05-17 18:40] ozten commented on #3375
Started a [branch off of b2g](https://github.com/mozilla/browserid/compare/b2g...issue-3375-localize-tospp).

Design:
Terms of Service (TOS) moved to `resources/views/en/tos.ejs`.
Privacy Policy (PP) moved to `resources/views/en/privacy.ejs`.

On server startup we record which locales are supported for each document. Fallback is `en`.

For a given locale, say Spanish (es) we'd do this...

[code]

[2013-05-17 19:28] #3424 closed, assigned to shane-tomlinson

[2013-05-17 19:29] #3423 closed, assigned to jaredhirsch

[2013-05-17 20:01] edwindotcom opened #3437 "unable to sign into beta.myfavoritebeer.org"
I've repro'd on mac ff beta and iOS safari.
1. goto http://beta.myfavoritebeer.org/
2. sign in with any address
3. pop up dialog completes sign in,

actual: but the parent page, fails to refersh to a signed in state.  If i refresh the page, i get an alert dialog said - sign in failed.  I don't repro this on beta.123done.org.

[2013-05-17 20:04] edwindotcom opened #3438 "sign into beta with dirty state results in assets not loading"
I noticed this on iOS first but repro'd similar behavior on mac FF beta. I have previous history with the sites (not a clean history/cache state).
1. don't clear cache from previous signins
2. goto beta.myfavoritebeer.org
3. click sign in

result: see screen shot.

workaround: clear cache/cookies, refresh fixes this issue.

![screen shot 2013-05-17 at 12 56 13 pm](https://f.cloud.github.com/assets

[2013-05-17 20:14] edwindotcom opened #3439 "sign in to beta and refresh results in 404 error when loading communication_iframe.js"
1. goto beta.123done.org
2. sign in with any username
3. after dialog closes, hit refresh on RP site.

result: button spins a loading icon and
(from httpfox)
404 error
Cannot GET /v/519d69406f/production/communication_iframe.js

![screen shot 2013-05-17 at 1 13 47 pm](https://f.cloud.github.com/assets/3698618/520143/61103e60-bf2e-11e2-9d82-2a2192d4ca55.png)

[2013-05-17 20:16] edwindotcom commented on #3438
I've also repro'd this on beta.123done.org, steps are hard to nail down except, i'm signing in, then out, refresh, then repeat.

[2013-05-17 23:32] jrgm commented on #3437
Okay the broken proxy was restarted by mostlygeek and myfavoritebeer should be all happy now.  The problem appears to be that the apache proxy was not re-resolving DNS for ELB and using stale IP addresses that pointed to no actual hosts. Which means about a 3 minute timeout. And then I think if enough was blocked that way, we would get gateway errors.

@gene1wood or @mostlygeek - is `HostnameLooku

[2013-05-17 23:32] #3437 closed, assigned to nobody

[2013-05-17 23:33] kumar303 commented on #3404
Yeah, I was thinking the same thing. The UI should be consistent across Persona, Webpay, and Bango.

[2013-05-17 23:35] jrgm opened #3440 "diresworb/anosrep apache proxy must re-resolve DNS hostnames."
With reference to https://github.com/mozilla/browserid/issues/3437#issuecomment-18091042.

If I'm right, then the apache proxy for anosrep.org and diresworb.org was not re-resolving DNS hostnames. Since ELB can change the IP's it offers at any time, we need to be sure that the proxy is correctly honouring DNS TTL's.

[2013-05-17 23:36] jrgm commented on #3437
1000 consecutive requests to diresworb.org/verify returned a correct response.

[2013-05-17 23:48] kumar303 commented on #3414
It seems like maybe Persona should create a lock and disallow multiple calls to request() or something. It shouldn't be this easy to put Persona into an unusable state.

[2013-05-17 23:50] ozten commented on #3414
Good point, we should bulletproof the API where possible.

[2013-05-18 00:24] jrgm commented on #3439
From the date in the image above (in the response header), this was while I mistakenly had on server live with an updated build, and a request for communication_iframe was served by that host, but the request for communication_iframe.js was served by a different server (which correctly said 404 to not allow the cached content to be incorrect).

[2013-05-18 00:24] #3439 closed, assigned to nobody

[2013-05-18 00:24] jrgm commented on #3438
This is really the same as #3439.

[2013-05-18 00:24] #3438 closed, assigned to nobody

[2013-05-20 06:31] jrgm commented on #3440
I think we need to set this On - http://httpd.apache.org/docs/current/mod/core.html#hostnamelookups

[2013-05-20 07:35] mathjazz commented on #3375
@ozten, when I open https://www.persona.org/tos in Firefox in Slovenian (sl), I see header and footer localized:
http://cl.ly/image/0X260a0Q3Y1D

[2013-05-20 09:59] shane-tomlinson commented on #3404
@edmoz, @kumar303 - I updated the spinner from the CSS that @potch sent me. This has not made its way to beta yet but can be seen on all-together-now.personatest.org

[2013-05-20 10:01] shane-tomlinson commented on #3375
@ozten, @mathjazz - Headers and footers are indeed translated, I imagine no extra work needs to be done for those.

[2013-05-20 10:52] #3431 closed, assigned to nobody

[2013-05-20 12:00] mathjazz commented on #3435
And pt is now at 100%:
https://localize.mozilla.org/pt/browserid/

[2013-05-20 12:48] shane-tomlinson commented on #3435
@mathjazz - Dude, you are a machine. How'd you do that so quickly?

[2013-05-20 13:14] mathjazz commented on #3435
Carlos is the real hero:
https://wiki.mozilla.org/L10n:Teams:pt-PT

[2013-05-20 13:49] shane-tomlinson opened #3442 "[mobile][firefox][safari] cannot scroll Persona TOS/PP in dialog"
https://discussions.apple.com/thread/4023861?start=0&tstart=0
https://bugzilla.mozilla.org/show_bug.cgi?id=703573

[2013-05-20 16:03] ozten commented on #3435
So awesome, thanks everybody!

[2013-05-20 16:14] ozten opened #3443 "Create a Feedback Channel"
[via the mailing list](https://groups.google.com/forum/?fromgroups#!topic/mozilla.dev.identity/xJslXiQX_-s)

If a user has a problem or wants to suggest an improvement, there are no
direct ways to give feedback.

Possible solution:
- Enhance login.persona.org with a link to support and feedback

I think we've worked hard to get developer insight and feedback, but are
missing the "end user" feedbac

[2013-05-20 16:15] ozten commented on #3443
@skinny97214 - Here you go.

[2013-05-20 16:27] ozten commented on #3375
@mathjazz - Oh, awesome! Thanks @shane-tomlinson

[2013-05-20 18:35] jedp commented on #3435
Sweet! Yes, thank you!

[2013-05-20 22:01] edwindotcom commented on #3410
Maureen has reviewed and is ok to go live minus a few tweaks.

[2013-05-21 11:37] shane-tomlinson opened #3446 "[android native] Cancel button is blue insted of grey"

[2013-05-21 12:17] shane-tomlinson commented on #2906
@jedp - is this still an issue?

[2013-05-21 17:25] zemirco commented on #1198
I have the same issue. The popup window stays at **Connecting to Persona**.

Any news on this?

[2013-05-21 18:46] kparlante opened #3447 "KPI: List of date/times that trains/changes are pushed to production"
When graphing time series graphs of KPI data, we want to note milestones, in particular when trains get deployed to production.

I need a reliable/consistent way to get the list of recent pushes to production. A way to do this automatically would be great, but even a method that required some manual work on my part would be acceptable. (Right now I have no way to get these dates -- let me know if

[2013-05-21 19:39] gene1wood commented on #3440
Just made this change https://github.com/mozilla/identity-ops/commit/04399fadbc5f9cea0b067255817ec69921c3ab52 and deployed. I think it should address this.

[2013-05-22 21:52] edwindotcom opened #3448 "refreshing bugzilla page after sign in and waiting 2 min results in assertion error"
Logging this just to describe the UX for some cgi or bugzilla users.
1. goto bugzilla.mozilla.org
2. click on 'sign in' and sign in with any user name, confirm email if necessary
3. leave your browser in a signed in state for at least 2 min
4. hit refresh
5. hit 'resend' in the alert dialog

actual: bugzilla says: Persona assertion has expired
expected: users should get an error when they refersh

[2013-05-22 22:14] #3430 closed, assigned to shane-tomlinson

[2013-05-23 15:54] jedp commented on #3436
He never sleeps

[2013-05-23 16:44] edwindotcom commented on #3426
resize the dialog a few times as it re-flows.  I'm on chrome release and dan repro'd with FF

[2013-05-23 16:45] callahad commented on #3428
@shane-tomlinson to label this as mobile-only.

[2013-05-23 16:46] callahad commented on #3434
pt meaning Portugal

[2013-05-23 16:46] callahad commented on #3434
Closing due to mobile switching to a different font.

[2013-05-23 16:46] #3434 closed, assigned to nobody

[2013-05-23 16:47] #3435 closed, assigned to nobody

[2013-05-23 16:50] callahad commented on #3440
@jrgm Could you please verify and close if this is fixed?

[2013-05-23 16:51] callahad commented on #3442
It's probably pretty important that the ToS and PP are actually readable in their entirety.

[2013-05-23 16:53] callahad commented on #3442
The fix for Firefox for Android and Mobile Safari breaks old Android.

[2013-05-23 16:58] callahad commented on #3448
This is because Bugzilla POSTs your assertion, so a refresh w/ "Yes, re-POST" results in re-sending a stale assertion.

[2013-05-23 16:58] callahad commented on #3448
Could be fixed with a redirect after POST?

[2013-05-23 17:00] callahad commented on #3448
@callahad to file upstream bug

[2013-05-23 17:01] callahad commented on #3448
@callahad to also annotate quick start guide

[2013-05-23 17:13] jaredhirsch commented on #3426
This is totally my fault. I added a clever routine to shrink the footer when we're in German and overflowing boundaries, but I didn't set a legible lower bound. Lemme fix real quick.

[2013-05-23 17:38] jedp commented on #3089
Since https://bugzilla.mozilla.org/show_bug.cgi?id=850084 is resolved=fixed, I'm going to close this.

@kumar303 will you re-open if there are further problems?
thanks

[2013-05-23 17:38] #3089 closed, assigned to nobody

[2013-05-23 17:42] #3446 closed, assigned to shane-tomlinson

[2013-05-23 17:44] jaredhirsch commented on #3342
PR has been merged, closing this bug accordingly

[2013-05-23 17:44] #3342 closed, assigned to jaredhirsch

[2013-05-23 18:49] benadida commented on #3296
I believe we have a path forward for this that doesn't require a Persona change, so I'm marking it fixed. @mattbasta reopen if you disagree :)

[2013-05-23 18:49] #3296 closed, assigned to nobody

[2013-05-24 00:04] jedp commented on #2906
I think once we're using the on-device gaia sans-serif font, this is going to be a non-issue.

[2013-05-24 00:05] jedp commented on #2908
... therefore I have reassigned it from four stars to three.

[2013-05-24 00:08] jedp commented on #2915
The fix was uplifted into the v1.0.1 release (which goes to market) and has been performing correctly in tests.  So closing this.

[2013-05-24 00:08] #2915 closed, assigned to nobody

[2013-05-24 00:11] jedp commented on #3284
I've requested uplift for v1.1 (leo+)

[2013-05-24 00:15] jedp opened #3451 "Canceling account on b2g phone should log you out"
@edmoz reported this in https://github.com/mozilla/browserid/issues/3300#issuecomment-17311567

[2013-05-24 09:23] shane-tomlinson commented on #2906
@jedp - can you write STRs, I have not seen this on device.

[2013-05-24 11:13] quack1 commented on #2932
I'm interested to work on this issue, but I'm a new contributor, so I don't really know where to start. Do you have some more infos please ?

[2013-05-24 11:29] shane-tomlinson commented on #2932
@ozten, @callahad, or @seanmonstar - can you guys fill @quack1 in with some context? It's always awesome to have contributors!

[2013-05-24 20:11] #3442 closed, assigned to nobody

[2013-05-24 20:27] seanmonstar commented on #2932
If I understand correctly, this is to support Google Apps for your Domain address. Such that, if I use someone@seanmonstar.com, it will detect that I use Google Apps, and defer to BigTent to use the Google Identity Bridge. Sound right?

[2013-05-24 21:11] callahad commented on #2932
@seanmonstar That's correct. I'm still not sure if implicitly supporting Google Apps is a good thing, but I've generally been ignoring this can of worms until we get Gmail and Hotmail out the door.

[2013-05-24 21:56] seanmonstar commented on #2932
Yea, I couldn't recommend a place to start in our code, because our code for Gmail is in big flux. Maybe in a week or 2...

[2013-05-24 22:48] jaredhirsch commented on #2932
@quack1 Maybe the best answer, for now, is to keep a close eye on the Gmail-related code :-)

Failing that, we currently have 431 other bugs, perhaps one of those is enticing?

[2013-05-25 14:24] quack1 commented on #2932
Thanks for your answers. I had choosen this one because it was marked as 'good-first-bug', but now I'll look at another simple one!

[2013-05-25 20:49] quack1 commented on #2297
I can't reproduce this bug. When I type (in step 2) an unknown email address, I type a password to create the second account, and (step 4) I press 'cancel' to go back and enter a known email address. I hit Enter, and the password field is clear.

The issue is old (9 month) so I think we can close it, it has been solved by past updates.

[2013-05-25 20:54] callahad commented on #2297
Yep, seems like this has been fixed. Thanks, @quack1!

[2013-05-25 20:54] #2297 closed, assigned to nobody

[2013-05-25 21:50] quack1 commented on #2297
You're welcome! Seems that I didn't even have to write code to help on my first bug! \o/

[2013-05-25 21:55] callahad commented on #2297
@quack1 Checking to see if bugs are still valid is _really_ helpful. Thank you. :)

[2013-05-25 21:57] quack1 commented on #2297
Yes, I'm searching for simple bugs for me to start helping, and I'm also cheeking if they are still real issues!

[2013-05-26 06:26] jaredhanson opened #3453 "Delegating Authority and Fallback IdPs"
I'm implementing a local verification strategy for [Passport.js](http://passportjs.org/) (work-in-progress on the [local-verify](https://github.com/jaredhanson/passport-browserid/tree/local-verify) branch).

I've run into an issue regarding verifying the authority delegation chain when fallback IdPs are in use (including login.persona.org itself).

In Persona's verifier, anytime the issuer doesn't

[2013-05-26 06:39] jaredhanson commented on #3453
I take back my comment about the necessity of verifying this chain.  Thinking it through a bit more, the chain seems quite critical.  Is there any other safeguard preventing a malicious fallback IdP from generating backed assertions for any email address, listing itself as the issuer?

[2013-05-26 06:41] callahad commented on #3453
I'm sitting on a 90% complete update of the spec that addresses this, but that last 10% has been putting up a good fight.

In brief:
1. Start discovery from the email's domain. If you find a native IdP in that chain, then you should only trust certs from that IdP.
2. If you do not find a native IdP, then re-start discovery from the fallback domain.

Basically, if you're willing to trust login.pers

[2013-05-26 06:47] jaredhanson commented on #3453
In case 2, how do you know what fallback domain to start from, particularly whether or not it is trustworthy.

Presumably if case 1 fails, then the assertion was issued from a fallback domain.  If someone is doing something malicious, the fallback is the issuer, which could then be self-asserted by the entity initiating the request.

[2013-05-26 06:50] callahad commented on #3453
Each verifier / relying party should explicitly elect to trust specific fallbacks. Right now, there is only one, login.persona.org, and the reference implementation trusts it by default. Which is another way of saying: If you're willing to trust Mozilla, then passport-browserid should define `const fallbackIdP = 'login.persona.org'` and go from there.

Pragmatically, the number of fallbacks can't

[2013-05-26 06:53] callahad commented on #3453
(The list of fallback IdP's that your library trusts should be configured beforehand -- when you get an assertion, it should either be signed by someone in the direct chain of authority from that domain, or in the direct chain of authority from a fallback you've decided to trust. If it's neither of those, something fishy is going on.)

[2013-05-26 06:56] jaredhanson commented on #3453
Right.  When a fallback is in use, the delegation chain will only ever be 1 (the domain of the fallback itself).

If that's correct, then for case 2, there's no need to restart discovery.  Instead, simply check the whitelist of allowed fallbacks.

If that's not correct, what scenario would lead to a larger chain when a fallback was used?

[2013-05-26 07:00] callahad commented on #3453
I really need to get this damned spec updated. I'm really sorry about that.

When you're doing discovery for `foo@example.com`, pass `?domain=example.com` whenever you request a `/.well-known/browserid` file during discovery. In most cases, IdPs will ignore this. In the login.persona.org's case, this lets us separate out signing keys used for different domains.

Case in point:

https://login.perso

[2013-05-26 07:00] jaredhanson commented on #3453
Also, I imagine the number of "trusted" fallbacks would be roughly equal to the number of browser vendors.  If Google or Apple were to ever natively implement `navigator.id`, I'd take the bet that they'd be their own fallback.

[2013-05-26 07:05] callahad commented on #3453
That's probably a safe bet. A world with 2-3 fallbacks would probably be manageable, but more than that would get rough.

That's part of the reason we went with persona.org instead of a mozilla.org subdomain -- we're hopeful that we'll be able to collaborate with other browser vendors on a neutral domain.

[2013-05-26 07:05] jaredhanson commented on #3453
Hmm, I don't immediately understand how the `domain` argument is useful in this case.

For example:
https://login.persona.org/.well-known/browserid?domain=jaredhanson.net

That's doesn't delegate, but yet login.persona.org is perfectly capable of issuing assertions for that domain, by emailing me tokens.

[2013-05-26 07:08] jaredhanson commented on #3453
(To clarify, there's no chain from login.persona.org to jaredhanson.net.  How does the domain param help "restart discovery" vs just saying "hey, I trust login.persona.org for damn near everything".)

[2013-05-26 07:14] callahad commented on #3453
The domain param is just there as a hook so that targets of delegation can (optionally) respond differently for each domain under their jurisdiction.

The fallback uses this to facilitate identity bridging: we're building an IdP that uses Gmail's OpenID endpoint. When it's ready, we want to use that to certify users _instead_ of the email link / password challenge that we're currently using.

So,

[2013-05-26 07:24] jaredhanson commented on #3453
OK, got it.  So let's say I sign in using Google OpenID and identity bridging through Persona.  What form does the resulting email address take?  I'm guessing user@gmail.login.persona.org from the convention on the yahoo domain?

In that case, you're not really a fallback in the sense that your not asserting addresses outside your own domain, and you'll fall into case 1 above.  I'd still like clar

[2013-05-26 07:33] callahad commented on #3453
There's no address munging -- it's just a question of who the "issuer" is in an identity certificate. Since it's live in production right now, let's consider Yahoo users.

Normally, you'd expect to see certificates from the fallback that look like this:

`{ "principal": { "email": "bar@example.com" }, "iss": "login.persona.org", ... }`

A Yahoo user, on the other hand, will end up with a certifica

[2013-05-26 07:42] jaredhanson commented on #3453
Thanks for the clarification that there's no address munging!

In the "With domain parameter case", what I still don't  understand is how or why step 2 `GET https://login.persona.org/.well-known/browserid?domain=yahoo.com` would get inserted into the authority verification step.  `yahoo.com` is the email domain, and a failure there should terminate.  The only reason to introduce a non-yahoo domain

[2013-05-26 07:46] callahad commented on #3453
Bingo! The fallback is, by definition, a pre-configured notion. ;) If all else fails, check in with the fallback.

Yep. _Except_ for domains that are either their own IdP, or which explicitly delegate to another IdP.

[2013-05-26 07:50] jaredhanson commented on #3453
Right, but in my opinion then, it should just be:
1. GET https://yahoo.com/.well-known/browserid → 404
2. Is `login.persona.org` whitelisted to assert other domains?  yes = success : no = fail

Remember, by the time we get to verifying authority delegation, we've already established that the assertion was correctly signed using persona.org's keys.  We just want to know if it is acceptable that it

[2013-05-26 07:55] callahad commented on #3453
How are you getting there? Don't you have to do the whole delegation chain thing first, to find out what keys persona.org should be using?

[2013-05-26 07:55] jaredhanson commented on #3453
Also, with the current Yahoo bridge, now both `login.persona.org` and `yahoo.login.persona.org` need to be whitelisted for cross-domain assertions.  Or use a wildcard.

[2013-05-26 07:57] callahad commented on #3453
Check out the "With the ?domain parameter" section again -- you only have to explicitly trust login.persona.org. Everything else flows from login.persona.org delegating to another domain.

[2013-05-26 07:59] callahad commented on #3453
(Since we've been going back and forth in pretty much real time, I'll note that I'm going to go get some sleep and I'll continue responding here in the morning. Thank you for being interested in Persona, and motivated enough to want to hack on a native verifier for the Passport module. You've got my full attention and support - let me know what you need to make this thing a reality.)

[2013-05-26 08:03] callahad commented on #3453
You can think of imbuing your verifier with the following principles:
1. For a user `@example.com`, I will trust `example.com`, or anything to which `example.com` delegates.
2. Failing that, I will trust `login.persona.org`, or anything to which `login.persona.org` delegates.

With those two principles, you're golden. You don't have to care about the Yahoo bridge explicitly, because you'll natural

[2013-05-26 08:04] jaredhanson commented on #3453
No, the verification starts with the assertion, which is issued by the authoritative domain (`login.persona.org` or `yahoo.login.persona.org`).  This is passed to `verifyBundle` [code](https://github.com/mozilla/browserid/blob/dev/lib/verifier/certassertion.js#L101).  The first thing that does is fetch the public key for the issuer to verify the assertion.

In effect, if there were any delegations

[2013-05-26 08:06] jaredhanson commented on #3453
Ok, get some sleep :)

I'm pretty confident in my analysis on this one though.  I think this domain stuff is unnecessary overhead, and a whitelist is the correct approach.

[2013-05-26 08:08] callahad commented on #3453
Get some sleep yourself ;)

And ponder: Right now, login.persona.org should _not_ be able to issue valid certificates for yahoo.com users, because it's delegated that to another domain. How would a whitelist handle that?

[2013-05-26 08:14] jaredhanson commented on #3453
What?  How did `login.persona.org` delegate for a domain it doesn't control?  Remember, this is a concern for _fallback domains_ which _by definition_ are outside of any delegation chain.  And that's why the whitelist is needed.

[2013-05-26 08:14] jaredhanson commented on #3453
Didn't mean to close this.  It's getting late and I'm pressing random buttons...

[2013-05-26 15:57] callahad commented on #3453
Correct, the fallback _is_ outside of the original domain's delegation chain.

Being outside the first delegation chain is the _only_ thing that makes the fallback special. It's a normal IdP in all other regards. Normal IdPs can delegate authority to other domains, ergo, so can the fallback. This is done by publishing a special ./well-known/browserid file.

In pseudocode, authority discovery shoul

[2013-05-26 17:08] jaredhanson commented on #3453
Except its not.  Adding a query param named domain, does not make any random web host authoritative for that domain.  Only control of the actual domain does.  Therefore, it has no ability to delegate authority.  The only thing that gives the fallback any sort of trust, is that the relying party imbued it with that ability.

I get what you're trying to do.  However, I still think its not needed.

L

[2013-05-26 17:18] jaredhanson commented on #3453
Another case, this time where there are multiple fallback providers.  Lets say `login.persona.org` and `login.googleid.com` for sake of conversation:

I run a website, where people are using Chrome (with native `navigator.id` falling back to Google ID).  And, of course, Persona for Firefox and shimed browsers.

Sue uses both Firefox and Chrome.  She has a Yahoo address, which doesn't support Brows

[2013-05-26 18:35] callahad commented on #3453
@jaredhanson Just to check in real quick: this started with a question about how things work today, but we've ended up with a proposal to simplify things via wildcards and white-listing, right?

[2013-05-26 18:48] callahad commented on #3453
And if so, is this an accurate summary?

(This part about today _should_ be accurate -- it's the current state of the protocol. Any other behavior is likely to be non-conforming.)

### Today

As part of the protocol's contract, fallbacks may directly vouch for users at any domain or they may delegate that power to any other domain.

The set of trusted fallbacks is preconfigured within each verifie

[2013-05-27 01:37] jaredhanson commented on #3453
Yep, that's an accurate summary and I'm in favor of the proposed simplification.  Thanks for taking the time to discuss!

[2013-05-27 01:56] callahad commented on #3453
@jaredhanson What are your thoughts on limiting the authority of the subdomains?

In the current model, an attacker who compromises `yahoo.login.persona.org` could only forge certificates for users at Yahoo. In a wildcard model, couldn't it be used to forge certs for Gmail users, too?

[2013-05-27 07:30] mattbasta opened #3454 "communication_iframe.js should be given `defer` attribute"
This makes a very slight improvement in perf on mobile. I believe that adding the attribute should be a safe change.

[2013-05-27 10:04] quack1 commented on #1816
This file doesn't exist anymore. Can someone close the issue ?

[2013-05-27 19:15] jaredhanson commented on #3453
Yes, that's true.  In the simplified proposal, there's no reason to issue certificates from `yahoo.login.persona.org`.  They could just as well be issued by `login.persona.org` directly, which would reduce the whitelist by one domain or avoid the need for a wildcard.

I do see some benefit to limiting the scope of domains for which a fallback IdP can issue assertions, of course.  As an initial sug

[2013-05-27 19:34] jaredhanson commented on #3453
One other note on limiting the scope of the whitelist.  It could be configured by the relying party like:

login.persona.org -> *
yahoo.login.persona.org -> yahoo.com

This way the configuration can be more fine-grained with respect to the authority given to fallback IdPs.

[2013-05-27 20:26] jaredhanson commented on #3453
Yet another note on adding a domain field to the support document for a fallback IdP:

`yahoo.login.persona.org/.well-known/browserid:`

[code]

Relying parties could use this to built a immutable provisioning map.  Upon first seeing a domain-specific fallback IdP, they could tie that to the domain listed in the support document.  If it were ever observed that the domain listed in the support docu

[2013-05-27 22:33] ozten commented on #3453
We want to keep discovery as simple as possible, while meeting the requirements of the BrowserID protocol.

I don't see how the proposed change simplifies the protocol, nor how it improves security.

Let's assume one fallback, we will work hard to work with other vendors to keep it to one fallback.

Capturing this in a whitelist config is a great option for PassportJS, having it be a list, hedges

[2013-05-28 02:56] jaredhanson commented on #3453
Hey Austin -

Thanks for checking in.

I just want to reiterate that I'm not proposing any changes to the discovery process.  As far as primary IdPs go, BrowserID is top notch.  The PKI advantages make it the best identity protocol going, especially in regards to privacy.

Your shared IdP example is a good use case.  But, this falls under the primary IdP use case.  The "domain" param here is a use

[2013-05-28 03:58] callahad commented on #3453
I'm going to close down this bug -- let's move the specific fallback / delegation proposal to the mailing list.

For this to be seriously considered, it will have to be able to fully replace the current delegation model, without causing any regressions in security or maintainability for all involved parties. Specifically, with the current system:
1. Yahoo, Google, and Hotmail identity bridges can

[2013-05-28 04:00] #3453 closed, assigned to nobody

[2013-05-28 04:14] jaredhanson commented on #3453
How?  I'll continue this discussion anywhere, but I'm of the exact opposite conclusion.  A whitelist preserves all those properties and give more control to the RP.

[2013-05-28 04:20] jaredhanson commented on #3453
Addressing those issues in the context of a whitelist:
1. A whitelist can point to Yahoo, Google, and Hotmail identity bridges running on independent domains, using independent keypairs, and without knowing anything about the fallback itself.
2. A whitelist is able to act as a kill-switch on any fallback or identity bridges, by removing the whitelisted domain.
3. A whitelist can limit the domains

[2013-05-28 10:48] shane-tomlinson commented on #3454
@mattbasta - I will experiment with this.

My theory is that this will make the RP's JS load & parse faster, but the time to Persona's onready/onlogin/onlogout will be slower. Is that an acceptable tradeoff?

[2013-05-28 13:37] muffinresearch opened #3456 "b2g: oncancel isn't called when clicking cancel button in trustedui"
STR:

Using marketplace-dev app on unagi
- Go to settings
- Click Sign In / Sign up
- If you have previously logged in you're shown your email address + cancel and sign-in buttons
- Click cancel

What should happen:
- oncancel callback should be fired and you should see "Persona login cancelled" in the logcat output.

What happens:
- oncancel isn't fired.

Same thing happens if you click on the "T

[2013-05-28 14:17] callahad commented on #3453
Wouldn't that require every RP / library updating their configuration? Using delegation, the fallback at login.persona.org can simply cut them off by no longer delegating.

[2013-05-28 14:20] mattbasta commented on #3454
I think it will really depend on how the browser imppements defer. It's
possible to go either way in most cases.

Sent from my tablet
On May 28, 2013 3:48 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-05-28 14:40] callahad commented on #3453
I'm honestly not trying to move the goalposts here -- probably another good reason to take it to the mailing list.

How would turning on a new bridge work? Turning it off? Expanding its scope to cover additional domains, like ccTLDs?

If we have to rely on configurations to get updated everywhere, that won't work.

If the whitelists have a wildcard, then I can't see how we could adjust the scope o

[2013-05-28 15:42] jaredhanson commented on #3453
I agree that all the questions you raise are valid considerations.  However, I also think they are very focused on Mozilla's objectives with the persona.org infrastructure and the operation of the fallback.  That is very important of course; however, I am raising my concerns from the perspective of the _relying party_, which needs to be given just as much (if not more) consideration for BrowserID

[2013-05-28 16:04] ozten commented on #3453
There are a couple ways to disable yahoo.login.persona.org, which are implementation details, but the key takeaway is that **step 5** (GET https://login.persona.org/.well-known/browserid?domain=yahoo.com) would no longer delegate authority. It would respond with a public key and act as the issuer.

Sorry, if I missed the point of the proposal earlier.

I agree with many of the points you are makin

[2013-05-28 16:18] ozten commented on #2932
@quack1 I can mentor you on this bug, as I filed it and I do think it is a good first bug. I'll coordinate with @seanmonstar and @callahad to make sure it works with what they are planning.

Warning - This code wouldn't be used right away. It also might never get used, if it turns out that we can't do Identity Bridging on Google Apps for your Domain, for whatever reason.

If you're still game...

[2013-05-28 17:17] jaredhanson commented on #3453
OK then.  This specifically makes it much harder to craft a whitelist.

I'll make one major point here: trusting a fallback, and trusting a fallback that can re-delegate authority are two _very different_ levels of trust.  Specifically, _much more_ trust must be placed in the re-delegating fallback.  Which, incidentally makes it _less likely_ that the fallback is acceptable to use.

There will rem

[2013-05-28 17:44] jaredhanson commented on #3453
Also, this makes a "successful" response have two potentially different meanings.

[code]

Trustworthy, and what I expect from the known-good configuration of `login.persona.org`.

[code]

Trustworthy, and what I expect from the known-good configuration of `login.persona.org`.

[code]

Hmmm, seemingly trustworthy but potentially suspect.  This doesn't match the known-good configuration.  Why is th

[2013-05-29 06:11] robn commented on #1523
Adding a +1 to this. If we (FastMail) were ever to be a Persona identity provider we'd absolutely require this. We host hundreds of domains, many of them not owned by us. We don't have any desire to acquire enough IP addresses and certificates (and/or provide processes to let our users acquire/install certificates) to make https://<email-domain>/.well-known work. SRV records is the right way to do

[2013-05-29 06:24] callahad commented on #1523
@robn Well, that's about all the encouragement I need. We'll get this done. It may be a few months (much of the team is focused on FirefoxOS integration and moving infrastructure to AWS), but we'll absolutely get there. I'd also appreciate feedback if there's anything more we can do to make it easy for FastMail to jump on board.

[2013-05-29 06:37] robn commented on #1523
@callahad Well that's good news. Though obviously I'm not committing to anything ;)

We do actually have some concerns/questions, which might be legitimate, but also might just be us not fully understanding how this all fits together. We're still discussing it internally. I will likely contact someone (you?) privately to run a few things by you if you don't mind.

[2013-05-29 08:43] shane-tomlinson opened #3457 "[mobile] ditch the tooltips, inline the error text"
This is to go along with the FirefoxOS flows that @mhanratty did.

[2013-05-29 08:44] shane-tomlinson commented on #3410
@mhanratty, @jedp, @skinny97214 and I had a pow-wow about the current state of the UI. There are some slight discrepancies, but no known blockers.

Opened #3457 about inlining the tooltip text.

Closing as signed off as being "good enough for V1.01"

[2013-05-29 08:44] #3410 closed, assigned to edwindotcom

[2013-05-29 08:47] shane-tomlinson commented on #3169
Closing since we merged #3116.

[2013-05-29 08:47] #3169 closed, assigned to nobody

[2013-05-29 08:50] shane-tomlinson commented on #3457
This is a dup of #3154, closing.

[2013-05-29 08:50] #3457 closed, assigned to nobody

[2013-05-29 08:53] shane-tomlinson commented on #3094
Closing as dup of #1835

[2013-05-29 08:53] #3094 closed, assigned to nobody

[2013-05-29 08:56] shane-tomlinson commented on #982
We did a ton of work in #3116 to make Persona work with 3rd party cookies disabled, closing.

[2013-05-29 08:56] #982 closed, assigned to nobody

[2013-05-29 08:57] shane-tomlinson commented on #989
We have decided that we will always call the .onready callback if 3rd party cookies are disabled and we are unable to divine the user's state. This got merged with #3116. Closing.

[2013-05-29 08:57] #989 closed, assigned to nobody

[2013-05-29 08:59] shane-tomlinson commented on #1571
Both mockmyid.com and eyedee.me work with dev/beta now. Closing.

[2013-05-29 08:59] #1571 closed, assigned to nobody

[2013-05-29 09:01] shane-tomlinson commented on #1935
@skinny97214, @lloyd - are we gonna take action on this?

[2013-05-29 09:19] quack1 commented on #2932
@ozten Thank you for mentoring me on this bug! I'm working on a script to automate the setup of an environment developement on ubuntu, and I'll look at this bug much closer just after that and I'll come back to you for more informations!

[2013-05-29 12:28] lloyd commented on #1523
Howdy Robert,

If you have questions you'd prefer to discuss privately, you are more than welcome to email callahad@ and lloyd@ mozilla.com - between us we can get you the answers you need.  Exciting prospect!

-- lloyd (thumb-typing)

On May 29, 2013, at 12:37 AM, Robert Norris notifications@github.com wrote:

[2013-05-29 12:33] shane-tomlinson commented on #3447
@kparlante, would it help to know which version of the code is running on the client when the KPIs are collected? We can send with the data package the current code version. I am not sure if this will require approval from data safety.

[2013-05-29 12:53] shane-tomlinson opened #3459 "[b2g] new_account KPI not reported for new FirefoxOS users"

[2013-05-29 12:53] shane-tomlinson commented on #3459
Link to #3359

[2013-05-29 13:32] shane-tomlinson commented on #2280
@kparlante - have you seen this?

[2013-05-29 13:41] callahad commented on #1935
@shane-tomlinson As per comments in #3286, Skinny wanted the new subject to be, for example, "Confirm email address for Mozilla Webmaker"

[2013-05-29 16:35] #3357 closed, assigned to nobody

[2013-05-29 17:26] ozten opened #3462 "L10n preview env is down"
From @mathjazz in IRC...
https://translate.personatest.org/ is down.

[2013-05-29 17:33] ozten commented on #3462
I don't know if this blocks [bug#876409](https://bugzilla.mozilla.org/show_bug.cgi?id=876409), but that is a high priority b2g bug. Localizers need this environment to check their work.

[2013-05-29 18:28] mathjazz commented on #3462
It doesn't block the bug.

http://translate.123done.org/ also doesn't work (button never loads).

[2013-05-29 19:52] callahad opened #3463 "onmatch fires when closing popup"
onmatch appears to accidentally fire if I prematurely close the dialog.

Steps to reproduce on the Test RP:
1. Load Test RP, notice correct automatic callback sequence: onlogout, onready
2. Click "Get an assertion"
3. Close the popup

Notice that onmatch was called. Weird!

[2013-05-29 19:57] shane-tomlinson commented on #3463
@callahad - is this related to #3170 and #3194?

[2013-05-29 21:03] callahad commented on #3463
Probably. It's a more minimal steps to reproduce. Hopefully #3194 will fix it. I need to review that :(

[2013-05-29 23:00] callahad opened #3464 "SHIMMED_PRIMARIES requires on-disk well-known file"
The `SHIMMED_PRIMARIES` feature makes developing an IdP a breeze, but instead of fetching the `.well-known/browserid` document from the shimmed primary, it requires a copy of it on-disk.

This seems strange. Fixing it would let us kill a few dozen lines in the gmail identity bridge, and would make local testing even easier.

[2013-05-29 23:20] jrgm opened #3465 "errors shown when running backend tests (shutdown race?)"
Thought I filed this a while ago, but I guess not.

I was running `WHAT_TESTS=back_mysql npm test` with the `dev` branch, locally on osx and noticed there were occasional chirps in stdout/stderr about `failed to clear authentication attempts`. The tests passed though.

Examples:

[code]

I think this a race with shutdown in the tests, due to changes for PR-3337.

In https://github.com/mozilla/brow

[2013-05-29 23:47] jrgm opened #3466 "error seen once when signup new user at main site"
I hit this once, but on retrying this ~10 more times, I haven't hit it again. This was with FF21 using an ephemeral instance with train-2013.05.22 - https://jrgmtrain0522.personatest.org.

STR
1. Load the main site and click signin.
2. In the dialog, enter a new email address and the password twice. Dialog transitions to polling for user_completion_status.
3. Load that email in a new window/tab of

[2013-05-30 01:15] jrgm opened #3467 "retired links /signin, /forgot, and /signup are now 404"
Sorry, I missed this earlier in train-2013.04.26.

However, in the move to use the dialog on the main site, the routes for
/signin, /forgot (and the legacy redirect of /signup were removed).

The problem is that those links have either been bookmarked or indexed by
search engines, and I did see a few 404 for /signup when reviewing data during
the aws move. Better user experience would be to make t

[2013-05-30 01:53] jrgm opened #3468 "add far-future caching headers to favicon.ico"
Minor improvement to be sure, but might help b2g depending on how it deals with favicon.

Anyways, just happened to notice that we serve https://login.persona.org/favicon.ico with:

[code]

Should probably give that, say, a 90 day or longer expiry to remove an unnecessary network request when bringing up the dialog.

[2013-05-30 03:30] jrgm opened #3469 "about changes for non-ssl RP and options {privacyPolicy,termsOfService}"
So I see the commit for this change, https://github.com/mozilla/browserid/commit/5c81116a229d0776dfc6ddf2af8b5ecc5305048b, and I know this was done for b2g reasons.

At any rate, late as usual, but wondering about existing RP on desktop, where we are disabling them from using these features if they don't use https.

This may be a necessary regression, but at least the documentation should be updat

[2013-05-30 07:07] kparlante commented on #2280
@shane-tomlinson No, I have not seen this, but I will do a query on the production data tomorrow to confirm.

[2013-05-30 07:13] kparlante commented on #3447
@shane-tomlinson: Yes, I think we're going to want the code version with the blob -- it will also be useful down the road if we're doing bucket testing or A/B testing where different stacks with different code versions are sending blobs in the same time interval.

[2013-05-30 07:21] kparlante commented on #3373
FWIW, the Firefox OS user agent string: http://lawrencemandel.com/2012/07/27/decision-made-firefox-os-user-agent-string/ TL;DR: `Mozilla/5.0 (Mobile; rv:18.0) Gecko/18.0 Firefox/18.0`

[2013-05-30 07:27] kparlante opened #3470 "[b2g] Turn on kpi logging for ephemeral instance"
Dev instances can send blobs here: https://kpiggybank-dev.personatest.org/

[2013-05-30 07:31] kparlante opened #3471 "[kpi] Change config/aws.json kpi to point at dev instead of staging"
kpiggybank-staging has security group settings that mimic production settings, so most ephemeral servers are blocked from POSTing to it. https://kpiggybank-dev.personatest.org/ is what most ephemeral instances should point at. I'll make up a PR tomorrow when I'm not sleepy...

[2013-05-30 09:53] shane-tomlinson commented on #3464
AHA! I was running into this yesterday as well. It is a pain. I want a simple way of marking a shimmed primary as "disabled" and then an equally simple way to re-enable it.

[2013-05-30 13:52] shane-tomlinson commented on #3469
We made this change so that headers and footers would not be shown in the embedded context, knowing it affected the old-style open in new tab as well. We decided we would revisit this at a later time.

[2013-05-30 13:54] #3359 closed, assigned to shane-tomlinson

[2013-05-30 13:54] #3459 closed, assigned to shane-tomlinson

[2013-05-30 14:04] shane-tomlinson commented on #1833
Link to mozilla/123done#64. Let's get rid of this thing and put a link in the footer.

[2013-05-30 15:00] quack1 opened #3472 "Node modules installation on Ubuntu/Debian"
When I tried to setup my development environment on my Ubuntu 13.04 last week, I faces some issues :
- Wrong Node version in the Ubuntu repository (0.10.x)
- Some modules were not installed
- The help available in the documentation (https://github.com/mozilla/browserid/blob/dev/docs/SETUP_UBUNTU.md) was not up-to-date and didn't installed every necessary packet
- ...

@shane-tomlinson helped me ou

[2013-05-30 15:10] callahad opened #3473 "CSRF mismatch in production"
Possibly related to move to AWS?
### IRC Log

buro9: I've got a user who cannot login to Persona
buro9: I've pointed them at http://lloyd.github.io/persona-troubleshoot/troubleshoot.html and the only failure is the 'onlogout' says no
buro9: the error message she sees is:
buro9: Action: Verifying email address, Network Info: POST: /wsapi/complete_user_creation, Response Code - 400, Response Text: B

[2013-05-30 15:21] quack1 commented on #3472
My Pull Request #3474 is the script I talked about.
I also wrote a blog post to detailled it a little bit more in English and French : http://quack1.me/persona_setup_ubuntu-en.html

[2013-05-30 15:38] grafana-dee commented on #3473
User explanation:

Error message:

[code]

I've asked her to complete http://lloyd.github.io/persona-troubleshoot/troubleshoot.html and http://supportdetails.com/ so that we have more info, and the info from those is attached.

![persona1](https://f.cloud.github.com/assets/72949/585855/5169d744-c93f-11e2-86c5-2086512ec6f9.png)
![persona3](https://f.cloud.github.com/assets/72949/585857/51803b6a-c93

[2013-05-30 15:43] grafana-dee commented on #3473
She had previously tried using Persona on May 13th and received this error:

[code]

[2013-05-30 16:43] jedp commented on #3456
@jedp and @shane-tomlinson will take a look

[2013-05-30 16:59] jedp commented on #3470
I'm all upons

[2013-05-30 17:05] jaredhirsch commented on #3473
bumped down to 4 stars because this same issue (CSRF problems) occurred before our move to AWS

[2013-05-30 17:35] jaredhirsch opened #3475 "compress JSON sent between client/server"
Reducing bandwidth will make a big difference for metered mobile accts. Not sure how the CPU cost of client-side compression will affect responsiveness.

[2013-05-30 20:50] kparlante commented on #2280
@shane-tomlinson: I stand corrected, I do see this in production data when I go looking for it. About 4% of the blobs are missing the fields, if one is missing all are missing. I'll send you sample data.

[2013-05-30 21:12] quack1 commented on #2932
Hi @ozten, I've just finished my work on the script, so I will start working on this bug, and I contact you when I have a "plan" to see with you if I go in the right direction!

[2013-05-30 21:23] ozten commented on #2932
That sounds great!

[2013-05-30 21:55] jrgm opened #3476 "[ie8][bigtent] after Authentication Error using "wrong user, screen resized smaller twice"
This is reproducible in current production or on current stage. I cannot reproduce in FF21, so this may be IE8 specific.

STR
1. Be signed into yahoo as foo@yahoo.com, but not signed into to login.persona.org.
2. Go to 123done.org, and try to signin as bar@yahoo.com.
3. Screen resizes and then "Authentication Error: Sorry, it looks like you were trying to log in as bar@yahoo.com, but were logged i

[2013-05-30 22:00] jrgm commented on #3476
And if it's time for the "Is this your computer" question, it looks like this:

![doube-shrink-an-is-this-your-computer](https://f.cloud.github.com/assets/758162/587938/42d347b2-c974-11e2-8618-9a4a0e9c18c1.png)

[2013-05-30 22:45] callahad commented on #3476
Wow, that looks ridiculous. The Gmail bridge doesn't have any resizing code in it, itself. The Google OpenID permissions screen (only seen once per email address) does resize, but only vertically and only if the window is smaller than a certain minimum height.

@jrgm What happens on subsequent login attempts, after you've told Google to "Allow" in a previous transaction?

[2013-05-31 03:05] jrgm opened #3478 "show the client time in the error.ejs screen"
In looking at another issue, it occurred to me that a useful bit of information in the 'See more info' part of the error screen would be the ISO8601 time for those cases where a user reports the text in that window back to us. It would help in correlating to backend logs.

Of course, the client clock may be **way off**,  so take that value with a grain of salt.

The dialog looks like this now:

![

[2013-05-31 09:34] grafana-dee commented on #3473
The end user is coming to London next Friday (7th June) and I will have access to her machine (with her present) for about an hour in the late afternoon (BST). If you would like the issue reproduced on cue and with a technical person (me) witnessing and testing scenarios (different browser settings, alternate passwords, debugging and dumping traces, etc) then let me know if that will help and I wi

[2013-05-31 12:43] shane-tomlinson commented on #3473
Hi @buro9, my name is Shane Tomlinson, I am one of the developers on the Persona team. I also live in London and can help out next Friday.

[2013-05-31 15:32] mattbasta commented on #1709
MIUI is on Android 4 now and uses Chrome, so this is a non-issue.

[2013-05-31 15:32] #1709 closed, assigned to nobody

[2013-05-31 15:38] mattbasta opened #3481 "With new support for custom origins, Persona should allow verification against app: scheme"
Support for custom origins has landed:

https://bugzilla.mozilla.org/show_bug.cgi?id=852720

If this seems sane, we should start talking about getting app://-scheme audiences verifiable. The docs for Persona and for packaged apps should also be updated to reflect how to specify an origin for a packaged app in order to take advantage of Persona.

It might be a good idea to reject audiences in the f

[2013-05-31 16:26] shane-tomlinson commented on #3481
@mattbasta - I believe this has been taken care of already - #3334

[2013-05-31 17:20] mattbasta commented on #3481
Oh, very cool. Keeping this open for documentation.

[2013-05-31 18:34] #3471 closed, assigned to lloyd

[2013-05-31 19:05] shane-tomlinson commented on #3469
@callahad - a bit of context for you:

Native environments such as FirefoxOS do not support window.open and cannot open new tabs in which the TOS/PP agreements can be displayed. To get around this, we decided to show the TOS/PP agreements in a sandboxed [http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/], embedded IFRAME. The IFRAME does not allow Javascript to run. To avoid mixed

[2013-06-01 01:47] lloyd commented on #3462
123done 使用 Persona 作為登入機制，讓您不需要多記憶帳號密碼就能登入。

Translate environment is back!

[2013-06-01 01:47] #3462 closed, assigned to nobody

[2013-06-01 02:21] lloyd commented on #3472
fwiw, browserid now runs on node.js 0.10.x, the next person should have a better experience..  Thanks for your persistence and for blogging your experience!

[2013-06-01 16:21] lloyd opened #3484 "personatest.org SSL certificate has expired"

[2013-06-01 16:22] lloyd commented on #3484
this affects all ephemeral testing instances.

[2013-06-01 20:17] quack1 commented on #3472
I just updated the script I wrote (cf Pull Request #3474) to install the last 0.10.x version available in the `nvm` repository (0.10.9).
This way, the script ensures that we use a supported version of Node, even if the version available in the distribution repository is higher and/or not supported by Persona.

[2013-06-01 20:56] fmarier commented on #3127
As reported by my [troubleshooting page](https://people.mozilla.com/~fmarier/troubleshoot.html), the problem with Icecat is that `dom.storage` is disabled by default.

I have emailed [their list](https://lists.gnu.org/archive/html/bug-gnuzilla/) to ask why they disable localStorage: https://lists.gnu.org/archive/html/bug-gnuzilla/2013-06/msg00000.html

[2013-06-01 20:56] #3127 closed, assigned to nobody

[2013-06-02 02:53] vthunder commented on #1523
Happy to assist on the side if there's anything I can help with! :-)

[2013-06-02 03:49] lloyd commented on #1523
Yeah this is just one of those things we gotta get done....   we need a patch+proposal, and to land it...

[2013-06-02 04:59] callahad commented on #3484
mozilla/identity-ops#38 also warns of an about-to-expire SSL certificate. Can we knock both of these out at the same time? Also, do we have someone actively watching the persona.org cert for expiration?

[2013-06-02 18:21] lloyd commented on #3484
resolved, new SSL cert delivered to the team via identity staff and [the usual mechanism](https://github.com/mozilla/browserid/blob/dev/docs/AWS_DEPLOYMENT.md#prerequisites)

[2013-06-02 18:21] #3484 closed, assigned to nobody

[2013-06-03 15:26] quack1 commented on #2932
@ozten Hi! I look at this a little and I would like to clarify everything! :)

We need to create a simple function, which can said if a given email address if backed by Google Apps or not.
This can be done in a new file (`/lib/google_apps_discovery.js` ?) in the browserid repository.

This function will do the previous steps @ozten mentionned in the first post of this thread:
1. Check if the domai

[2013-06-03 16:20] ozten commented on #2932
Howdy @quack1, yes I think you've got it.

I think you'll want to look at using DNS as well as how the SMTP protocol works. It's possible that you don't have to send an email, but instead start the SMTP transmission and get far enough to see if it is a recognized email address.

I'd recommend starting with Steps 1 and 2, before tackling Step 3, which might be harder.

Happy hacking!

[2013-06-03 16:39] jjulian commented on #2932
Here's an example SMTP session that can be used for step 3:

[code]

You'll have to sign in with and send a valid Google email address in the MAIL FROM. The response to the RCPT is the key: you'll probably see a 250 or a 550.

[2013-06-03 21:04] quack1 commented on #2932
OK, that's great!

Yes, I've test directly from the cli to `dig MX` and start an SMTP session with telnet to see if it was possible to do that this way and to see how I can detect both cases.

[2013-06-03 21:11] edwindotcom commented on #3456
I'm not able to repro this with UI Test app (6/1 build) but I have been getting some strange behavior with trying to write an automated test.

[2013-06-04 04:40] markgif commented on #3481
mattbasta, is this going to be for 1.1 or later? I am hotly focused on 1.0 docs right now.

[2013-06-04 04:41] mattbasta commented on #3481
I don't think custom origins are available in 1.0, so it can wait until
then.

On Mon, Jun 3, 2013 at 9:40 PM, markgif notifications@github.com wrote:

[2013-06-04 05:37] edwindotcom opened #3488 "[sideshow] user@googlemail.com does not enter bridged idp workflow"
1. goto: https://login.dev.anosrep.org/
2. sign in with user@googlemail.com

result: you are presented with verify via email

expected: you should enter into 'googlemail makes this easy' page.

[2013-06-04 05:40] edwindotcom opened #3489 "[sideshow] 'gmail makes this easy' page is missing from workflow"
1. goto: https://login.dev.anosrep.org/
2. click sign in
3. enter user@gmail.com

actual: you end up on gmail login page

expected: you should see - yahoo makes this easy page.  I saw this last weekend but I don't see it anymore.  I cleared my local cache/history as well.

[2013-06-04 05:56] edwindotcom commented on #3489
that page isn't displayed when the account exists.  If you cancel account, you'll see it.  I'll close this bug for now, I'll compare against yahoo

[2013-06-04 05:56] #3489 closed, assigned to nobody

[2013-06-04 05:58] lloyd commented on #3489
Design intent was the page would show the first time a user uses an email address unknown persona. It sounds like the bug might go the other way and could somehow be a bug with Yahoo?

Edwin Wong notifications@github.com wrote:

that page isn't displayed when the account exists.  If you cancel account, you'll see it.  I'll close this bug for now, I'll compare against yahoo

---

Reply to this emai

[2013-06-04 14:26] grafana-dee commented on #3473
This is no longer an issue, but I do not know what fixed it.

Back story: The user is no longer coming to London on Friday and I was investigating whether remote support would be possible. As the primary email she wants to use is a new one without access to sensitive info, she reset her password and shared it so that I could try and recreate the issue. I was able to successfully create the account

[2013-06-04 15:56] #3469 closed, assigned to nobody

[2013-06-04 16:35] shane-tomlinson commented on #58
Link to #794, #852

[2013-06-04 16:35] shane-tomlinson commented on #794
Link to #852

[2013-06-04 16:36] shane-tomlinson commented on #2152
Link to #58, #794, #852

[2013-06-04 16:36] shane-tomlinson commented on #2152
Close as dup of #852

[2013-06-04 16:36] #2152 closed, assigned to nobody

[2013-06-04 16:37] shane-tomlinson commented on #2659
@6a68 - are you all over this? Can this be closed?

[2013-06-04 16:48] larrysalibra opened #3490 "Logo blurry on Retina"
Mozilla Persona logo is blurry on Retina screens.

See screenshot:
[screen shot 2013-06-05 at 12 40 35 am](https://f.cloud.github.com/assets/597182/606862/af9a5d8a-cd35-11e2-92a1-422109df5e02.png)

[2013-06-04 17:09] edwindotcom commented on #3489
@lloyd i just confirmed the same behavior on yahoo bigtent. No issues here.

[2013-06-04 17:40] edwindotcom commented on #3488
moved to bigtent repo: https://github.com/mozilla/browserid-bigtent/issues/230

[2013-06-04 17:40] #3488 closed, assigned to nobody

[2013-06-04 17:45] callahad commented on #3490
Thanks! Seems like a good bug to tackle once we figure out a direction for #3286

[2013-06-04 18:32] jaredhirsch commented on #2659
yeah, this is stale, closing. Nice find, @shane-tomlinson :surfer:

[2013-06-04 18:32] #2659 closed, assigned to nobody

[2013-06-04 18:34] jaredhirsch commented on #3473
@buro9 thanks anyway for reporting. closing, please reopen if it recurs.

[2013-06-04 18:34] #3473 closed, assigned to nobody

[2013-06-04 21:20] edwindotcom commented on #3212
+1 - still 404'ing

[2013-06-05 00:59] jaredhirsch commented on #3417
@TeeTeeHaa sorry this went cold for a bit. Can you clarify if you did or didn't have an active persona session when you ran your tests? Additionally, can you try running that fiddle with a persona login and with a totally clean browser session? I'm still unable to reproduce your results.

[2013-06-05 09:10] rbtcollins opened #3494 "The fallback IdP requires a password"
I am signed into my email provider all the time - clicking on a link in that email account is near-instant, and I don't need to remember yet another string of meaningless digits; Persona's new 'and you need a Persona password too' makes Persona as uninteresting as every other 'you can make an account here' system.

[2013-06-05 09:33] shane-tomlinson commented on #3494
@rbtcollins - Thanks for the report.

Persona does _not_ need a password if all of the emails you use support the [Persona Identity Provider protocol](https://developer.mozilla.org/en/BrowserID/Guide_to_Implementing_a_Persona_IdP). Instead of asking for a Persona password, Persona will redirect you to your email provider, where you will authenticate with them.

Persona is based on the BrowserID pr

[2013-06-05 09:41] lloyd commented on #3494
Which email provider do you use?

rbtcollins notifications@github.com wrote:

I am signed into my email provider all the time - clicking on a link in that email account is near-instant, and I don't need to remember yet another string of meaningless digits; Persona's new 'and you need a Persona password too' makes Persona as uninteresting as every other 'you can make an account here' system.

---

[2013-06-05 10:05] rbtcollins commented on #3494
@shane-tomlinson Thanks for the detailed explanation- it is consistent with my existing understanding. What I would like is to do an email verification everytime with the fallback provider, because that is easier. If you kept a cookie live on my browser for say a month, and did an email verification that would be nice too, but that's obviously orthogonal to the question of whether you id my by my

[2013-06-05 10:24] lloyd commented on #3494
We will release identity bridging for gmail, and I believe we will also be able to support Google apps for domains with this realease.  I hope this will give you the experience you expect :)

rbtcollins notifications@github.com wrote:

@shane-tomlinson Thanks for the detailed explanation- it is consistent with my existing understanding. What I would like is to do an email verification everytime wi

[2013-06-05 11:48] TeeTeeHaa commented on #3417
All the "of a colleague" tests happened on PCs that had never used Persona before. All other tests, to be honest, I don't know anymore, sorry. Regarding further tests I'll see what I can do but I'm out of town for some days now.

[2013-06-05 15:25] callahad commented on #3494
nope nope nope -- Google Apps for your Domain is a huge can of worms that I'm not going to open until we get Gmail and Hotmail online. ;)

[2013-06-05 18:35] kparlante commented on #3373
@shane-tomlinson : make sure the Firefox OS shows up in KPIs

[2013-06-05 21:15] skinny97214 commented on #3154
@shane-tomlinson What's your feeling on how soon we might be able to get to this?

[2013-06-05 21:18] fmarier commented on #3494
So to summarize/paraphrase @rbtcollins suggestion:

Because that's really the only reason why we have a password and he's saying that remembering/resetting a password is more work than clicking on an email link, therefore it's the opposite of an optimization at all for him.

[2013-06-05 23:10] fmarier commented on #3126
Here's a starting point for this:

https://github.com/fmarier/123done/tree/add_licensing_info
https://github.com/fmarier/browserid/tree/add_licensing_info

[2013-06-06 00:33] lloyd commented on #3494
Where can I read about what makes it so tricky?

Dan Callahan notifications@github.com wrote:

nope nope nope -- Google Apps for your Domain is a huge can of worms that I'm not going to open until we get Gmail and Hotmail online. ;)

---

Reply to this email directly or view it on GitHub:
https://github.com/mozilla/browserid/issues/3494#issuecomment-18984053

[2013-06-06 01:18] callahad commented on #3494
@lloyd In short, GAFYD has Yahoo-style Aliases, dots are significant (gmail ignores them), and GAFYD accounts may or may not be directly attached to email accounts.

That last part is particularly weird. Consider Mozilla: we have GAFYD, but it's not connected directly to LDAP.  We don't use GAFYD's mail services. Yet I _can_ use my Mozilla/Google account over OpenID, despite that not proving anyth

[2013-06-06 01:26] callahad commented on #3494
Basically, just because it's Google, doesn't mean we can make the same assumptions that we made with Gmail.

It's best to consider this as comparable in scale to building an entirely new bridge from scratch, with at least all of the same pitfalls of Yahoo, and possibly more.

[2013-06-06 01:40] fmarier commented on #3494
It sounds like GFYD would need a lot more testing to avoid a repeat of the Yahoo problems. I'm with @callahad for keeping it out of Beta3.

[2013-06-06 02:26] fmarier commented on #3252
Just to confirm, we now have _Session resumption_ and _Session tickets_ enabled in production.

[2013-06-06 03:05] fmarier commented on #1523
Here's a concrete proposal for how this could work: https://etherpad.mozilla.org/biBsW5BjLQ

I would especially like to get feedback on these two points:
- HTTPS always has precedence over DNS (since the latter can more easily be spoofed/poisoned).
- Use of an `SRV` record instead of a `TXT` record.

[2013-06-06 03:36] robn commented on #1523
From a quick read through this looks ok to me.

HTTPS taking precedence means I can publish DNS records and support documents for all my users, but if they can use a different identity provider by just publishing something on their website, which is generally going to be much easier for them than changing their DNS entries.

SRV is fine. Its the right way to do it.

Are there any extra considerati

[2013-06-06 06:59] janfrode commented on #1523
@fmarier

Non-DNSSEC can be spoofed, like HTTP can be MITM'ed. DNSSEC can't be spoofed, like HTTPS can't be MITM'ed.

It seems strange to give the existense of a folder on a webserver  precedence over a DNS-admin configured SRV record. It means the web-developers/admins might inadvertently break browserid for all users of a domain. I would classify configuring DNS-record a more security related op

[2013-06-06 07:39] fmarier commented on #1523
What my proposal currently says is that if there is a `.well-known/browserid` file (whether it's empty, broken, or misconfigured), then what's in DNS is ignored. DNS is only looked at if that file is missing (HTTP 404) or the web server is not serving anything on HTTPS.

[2013-06-06 07:50] janfrode commented on #1523
It seems very weak that one is then allowed to compromise a DNSSEC configured system by placing a plain text, unsigned delegated support document on a webserver. Where "a webserver" here is a webserver that is used for hosting lots and lots of stuff, not the locked down authentication webserver we're pointing our DNS records at.

[2013-06-06 11:45] glondu commented on #1523
@fmarier Your proposal still requires an HTTPS server running somewhere, and serving a certificate trusted by Mozilla, right? There should be a way to avoid that...

[2013-06-06 11:51] TeeTeeHaa commented on #3417
Vista 64, IE9, all settings cleared, start browser, opened fiddle (http://jsfiddle.net/XgVD5/4/):

[code]

Clicked reload:

[code]

Opened another tab, opened https://login.persona.org/, clicked "Sign In", entered email address, entered password, did not have the dialog "remember always because this is your PC or remember for session only because this is public PC" (seriously, it is absolutely tot

[2013-06-06 13:27] zacc opened #3496 "[b2g] tooltips can run off the screen."
When using trusty ui in the modal dialog mode this error message is obscured.

I also need ot know what it says - something about logging in more than once?

![2013-06-06-06-22-50](https://f.cloud.github.com/assets/966053/618139/a7c0115e-ceac-11e2-9bbf-2bc3c7349bee.png)

[2013-06-06 15:43] ozten commented on #1523
Trying HTTPS first is probably the right thing, but is less desirable from an implementation point of view. Depending on the setup, some sites take a really long time to error out or send a 404, which means we have to wait for HTTPS discovery to timeout, before we can use information from DNS. Probably not that big of a deal.

[2013-06-06 16:13] callahad commented on #1523
@janfrode What order would you check things in?

[2013-06-06 16:24] qmx commented on #1523
@callahad DNS has bigger priority hands down IMO

[2013-06-06 16:39] jedp commented on #3496
@zacc thanks for the report, and yes, this is horrible.

We're already on this issue.  Please follow this bug: https://github.com/mozilla/browserid/issues/3154

Closing as duplicate.

[2013-06-06 16:40] jedp commented on #3154
Update: @shane-tomlinson, @skinny97214, and @jedp meeting 6/10 to plan and schedule the work.

[2013-06-06 16:44] lloyd commented on #3494
ok, because all of this is tracked elsewhere, I'm closing down this bug, rest assured GFYD is a desired future feature.

[2013-06-06 16:47] zacc commented on #3496
What does the message actually say though?

I was told to use an unverified user for this test but I am hitting this error message and I need to set up the device to handle the unverified user. Using a verified user in the meantime.

[2013-06-06 16:48] lloyd commented on #3481
this should be fixed in code that landed in #3334, please review the change and re-open if it doesn't solve the `app://` problem!

[2013-06-06 16:48] #3481 closed, assigned to nobody

[2013-06-06 16:54] mattbasta commented on #3481
Does documentation exist for using custom origins with persona?
On Jun 6, 2013 9:52 AM, "Lloyd Hilaiel" notifications@github.com wrote:

[2013-06-06 16:56] lloyd commented on #3475
client side compression is nearly intractable - curious how much we'll actually win with this, but if we have free time it's worth quantifying server side compression if someone has time.

[2013-06-06 17:05] jedp opened #3497 "The design of the dialog should respond to different window sizes"
There are circumstances that necessitate responsive design in the dialog, e.g., when the browser goes full-screen and opens the dialog in a separate tab, or when the user is on a tablet device.

[2013-06-06 17:21] jedp commented on #3497
For reference to firefox behavior, note [Bug 803675: Popup should always be opened in tab on fullscreen mode](https://bugzilla.mozilla.org/show_bug.cgi?id=803675)

And as gavin has clarified on IRC, where the comments say by "disable opening a new window", the meaning is in face "force new windows into tabs".

[2013-06-06 17:40] callahad commented on #1523
But what if unsecured DNS disagrees with TLS-secured HTTPS?

[2013-06-06 17:40] janfrode commented on #1523
I would clearly prefer DNS before HTTPS. It should be a nice encouragement to implement DNSSEC..

  -jf

Den 6. juni 2013 kl. 18:13 skrev Dan Callahan notifications@github.com:

[2013-06-06 20:06] jaredhirsch commented on #3417
@TeeTeeHaa OK, great. Thanks for the detailed report! I'm able to reproduce this as well, after setting IE9 to delete everything at end of each browser session.

TL;DR This all goes back to cross-browser incompatibilities in third-party access to localStorage/cookies and the settings you use in your browser.

What's happening is, on initial first-run page load, login.persona.org is unable to write

[2013-06-06 20:49] nuschke opened #3498 "Cannot login through Persona on Yahoo due to email alias"
I was trying to login in through Persona to access mozilla's addon builder tool. I had previously used my yahoo email address for the account.

Recently I tried to login through persona, and it found my original Yahoo email address that is no longer in use, and was not used for the addon builder. I had created an alias in Yahoo for this old email so that I didn't have to start a new account.

Unfo

[2013-06-06 20:57] jaredhirsch commented on #3417
@TeeTeeHaa ok, I've updated the fiddle to use a test instance of persona that sends P3P headers to IE browsers. I bet it'll behave as expected in your IE9 sessions now, please give it a shot: http://jsfiddle.net/XgVD5/5/

[2013-06-06 20:59] jaredhirsch commented on #3417
@TeeTeeHaa finally, note that I've reopened pull request #3132 that would fix this, we'll see what @lloyd and @shane-tomlinson have to say about it in context of this bug. Thanks again for your help reporting/reproducing :beers:

[2013-06-06 21:29] callahad commented on #3498
@nuschke I'm sorry you got bit by this bug. Persona doesn't currently support Yahoo aliases (this is a regression), but we're working on fixing it. We'll hopefully have you unblocked in the next few weeks. You can follow mozilla/browserid-bigtent#216 for more info and for updates.

[2013-06-06 21:29] #3498 closed, assigned to nobody

[2013-06-07 00:19] fmarier commented on #1523
@glondu Correct, a support document served over HTTPS is still required. This proposal is not about replacing the support document but rather about letting domains use DNS to delegate the authority from one domain to another. I have updated the bug title.

@ozten My proposal suggests that verifiers do both lookups in parallel to minimize that latency, but you're right, verifiers would have to be c

[2013-06-07 00:45] #3478 closed, assigned to nobody

[2013-06-07 02:28] jrgm commented on #2656
verified train-2013.05.22

[2013-06-07 02:50] lloyd commented on #2656
woohoo

On Jun 6, 2013, at 8:28 PM, John Morrison notifications@github.com wrote:

[2013-06-07 03:40] jrgm commented on #3309
Sorry. Cleaning up some stuff that I had already looked at, but not marked done. Not seeing this error occur with train-2013.05.22 (or 05.08). Verified.

[2013-06-07 04:22] jrgm commented on #1263
Closing. https://github.com/lloyd/winchan/pull/28 also fixes Opera which had this problem for just popping and closing /sign_in dialog. Thanks @seanmonstar!

[2013-06-07 04:22] #1263 closed, assigned to nobody

[2013-06-07 07:04] rbtcollins commented on #3494
Sorry, I am confused. Where is the 'you have to have a password with the fallback provider' tracked?

[2013-06-07 07:06] seanmonstar commented on #3494
Indeed, they did a terrific job of hijacking this issue, huh? I'm thinking we just re-open this, and delete the comments about GAFYD, since that conversation has happened plenty of times elsewhere.

[2013-06-07 07:09] fmarier commented on #3494
Updating the bug title...

[2013-06-07 14:34] lloyd commented on #3494
I'm confused.  What is this bug actually tracking?  Are we going to remove the password from the fallback IdP?  How?

[2013-06-07 14:54] jaredhirsch commented on #3494
I don't think it's worthwhile to leave this bug open as it stands. There's nothing actionable here--we're planning to run the fallback _forever_.

We generally confine speculative feature discussion to the public list, IMO that's where this conversation belongs.

[2013-06-07 14:57] callahad commented on #3494
The concrete question / proposal is: Should the fallback require a password, or should it rely solely on session cookies?

[2013-06-07 14:58] jds2501 opened #3499 "Persona dialog displays partially in English"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=880654.

Screenshot of Persona page on Spanish Firefox OS device

Description:
A user with their device language set to Spanish will see the Persona login dialog partially in English.

Repro Steps:

1) Select Settings, then Language, then change the language to Spanish.
2) Restart the device and click on http://translate.123done.org​
3) Ob

[2013-06-07 15:04] inma610 commented on #3499
Thanks for migrating the issue, @jds2501. I didn't know browserid-related bugs were managed on github.

[2013-06-07 15:05] jaredhirsch commented on #3494
So this is reopening the ["why does persona have a password" thread](https://groups.google.com/d/topic/mozilla.dev.identity/p2ewIlr5ypo/discussion) from April, then. Can we shut down this bug and move the discussion to the list?

[2013-06-07 15:11] callahad commented on #3499
![personadialog](https://f.cloud.github.com/assets/24193/624390/89a359a0-cf84-11e2-8b90-8208c9134c57.png)

[2013-06-07 15:39] ozten commented on #3499
There is a [Spanish (es) locale in Browserid](https://localize.mozilla.org/es/browserid/).

I think this is a deployment issue with translate. We need to enable this language, run compress, and restart all node processes.

I don't have access to this box.

[2013-06-07 17:14] ygjb commented on #2656
/me happy dances!

[2013-06-07 17:19] jaredhirsch commented on #3499
@ozten I'll add your pubkey to the box. Right now I'm going to try to enable the locale & run the steps you mentioned.

[2013-06-07 17:49] jaredhirsch commented on #3499
TL;DR - @jds2501 @inma610 can you try again? Should be fixed.

Details:

Hmm. Looking at [the l10n-all.json config file](https://github.com/mozilla/browserid/blob/train-2013.06.05/config/l10n-all.json) in the train, I see 'es' in the list of locales.

Onboard the translate server, I see that locale/es/LC_MESSAGES/client.po does contain the Spanish strings, for example:

[code]

`forever list` told

[2013-06-07 18:42] #3426 closed, assigned to nobody

[2013-06-07 18:45] ozten commented on #3499
@6a68 thank you sir!

[2013-06-07 19:00] jaredhirsch commented on #3499
@ozten np! :beers:

@jds2501 @inma610 Closing. Feel free to reopen if it isn't fixed

[2013-06-07 19:01] inma610 commented on #3499
Sorry guys, but on my Firefox OS the Persona dialog is still rendered in Spanglish.

[2013-06-07 19:09] ozten commented on #3499
Version number of FirefoxOS?

I'll get setup this afternoon to see what the `Accept-Language` header looks like from FirefoxOS.

/CC @jedp

[2013-06-07 19:23] inma610 commented on #3499
Boot2Gecko 1.0.1.0. It's a Keon.

Thanks!

[2013-06-07 19:43] jaredhirsch commented on #3499
Hmm. I've got an unagi running Boot2Gecko 1.1.0.0-prerelease via OTA update, and I can't get the spinner to turn into a login button on translate.123done.org. I also don't get the popup when I click 'sign in' on translate.personatest.org. Am I missing something? @ozten you good to investigate this further?

[2013-06-07 19:56] jaredhirsch commented on #2982
@jedp good to close?

[2013-06-07 21:07] lloyd opened #3500 "Persona not working for a user on geeksphone keon running FirefoxOS 1.0.1"
@dougt reports that signing into persona sites (specifically ones pointed at firefoxos.persona.org) is not working.  that he's getting stuck inside the persona dialog at the 'signing in' screen.

he's tried http://whereismyfox.com and marketplace and both demonstrate this problem.

dougt is on a production geeksphone keon running 1.0.1

He also reports console messages (which @zaach believes are o

[2013-06-07 21:08] lloyd commented on #3500
5 star treatment so we can figure out what is going on here.

[2013-06-07 21:11] lloyd commented on #3500
123done.org works for dougt in that he can get through the dialog (the assertion verification fails because we're still on firefoxos.persona.org for the moment)

so it looks like this problem is specific to hosted apps on a 1.0.1 device.  Does anyone have any context here?

[2013-06-07 21:12] kumar303 commented on #3500
I believe Keon's ship with an earlier build (that would suck). We are running the latest 1.0.1 build for development and no issues here.

[2013-06-07 21:12] lloyd commented on #3500
can a keon user update to the latest 1.0.1?  how can dougt check his uh micro version thingy?

[2013-06-07 21:13] jedp commented on #3500
That `redeclaration` error is ignorable.  (I think it's due to a separate gecko bug in which the initial page load event is fired twice)

[2013-06-07 21:15] kumar303 commented on #3500
I think Settings > Device > More Info will have git commit info but I'm not sure. It does for my 1.0.1 build. Example: last commit was 2013-06-07 10:47:43 on the 1.0.1 branch.

[2013-06-07 21:16] lloyd commented on #3500
@dougt - please provide the above version information

[2013-06-07 21:23] edwindotcom commented on #3500
nice script to get version info: https://wiki.mozilla.org/File:CheckVersions.zip

[2013-06-07 21:28] ozten commented on #3499
I think this is the Geeks phone version of FirefoxOS, which means I can't test to debug.

@inma610 - I might need your help, I think about the best way to try to troubleshoot.

As a short term workaround, is using desktop Firefox to check translate good enough?

[2013-06-07 21:34] chilts commented on #3500
I have a 1.0.1.0-prerelease phone. I'm connected to wifi here in the office.

# What I did
1. Opened the browser
2. opened whereismyfox.com
3. Clicked "Sign in with Persona"
4. Entered my personal email address (which is already in Person) and clicked "Continue"
5. The next screen then says "Create a Password" and has two inputs - further down it says "Your email address is new to us." etc

I woul

[2013-06-07 21:35] lloyd commented on #3500
@chilts - this is a non-issue.  currently firefoxos uses a different server than our production deployment, we'll move to a single deployment early next week.

[2013-06-07 21:36] chilts commented on #3500
Ok. np. :)

[2013-06-07 21:37] lloyd commented on #3500
@jedp offers:

The Keon's are going to be hard to debug.  We don't know whether they have the latest persona fixes or not on their device.  They could even be hitting native-persona.org.  Ugh.

Who has a keon?

Good Keon user, can you push this pref to it:   pref("toolkit.identity.debug", true);

Go to firefoxos.123done.org, and send a complete "adb logcat"?

[2013-06-07 21:48] dougt commented on #3500
Logs here:
    http://pastebin.mozilla.org/2496452

[2013-06-07 21:54] lloyd commented on #3500
@vladikoff reports that nightly 1.0.1 builds are working without a problem - version nightly-images-keon-2013-06-05.Gecko-00ce01b.Gaia-0c0f4c2

[2013-06-07 22:03] kumar303 commented on #3500
if those are release build hashes (I think they are) then we have:

https://git.mozilla.org/?p=releases/gecko.git;a=commitdiff;h=00ce01b
https://git.mozilla.org/?p=releases/gaia.git;a=commitdiff;h=0c0f4c2

...both from June 4th. That build should have a working persona. Maybe there is something interesting in logcat with `pref("toolkit.identity.debug", true);` as Jed says.

[2013-06-07 22:07] lloyd commented on #3500
**recap** - specific to keon, specific to the build that they shipped, specific to hosted apps

**we need**
1. (@dougt) logs while logging into _marketplace_
2. (@vladikoff) a report whether either of the builds posted on http://downloads.geeksphone.com/ fix the issue
3. deeper understanding of the issue, so we can see if we can mitigate it somehow on our end.

[2013-06-07 22:18] dougt commented on #3500
This is the log while logging into marketplace: http://pastebin.mozilla.org/2496561

[2013-06-07 22:18] ozten commented on #3499
Using B2G 1.1 I see the Language Accept header looking good
![](http://dl.dropbox.com/u/10060532/Screenshots/L14U.png)

and 'es' appears partially localized.
![](http://dl.dropbox.com/u/10060532/Screenshots/7f8K.png)

![](http://dl.dropbox.com/u/10060532/Screenshots/OSkc.png)

With Geeksphone, can you go to http://bit.ly/115ditx and note what the Accept-Language header is, here. Thanks!

[2013-06-07 22:21] jedp commented on #3500
@dougt I see on line 213 that it's sent the `watch` command, but I don't see the logs for marketplace's login `request` there - is there any more to that logcat?  (You should be able to grep for `Identity` to trim things down)

[2013-06-07 22:22] dougt commented on #3500
That is everything.

[2013-06-07 22:27] chilts commented on #3500
Ok, so I updated the Keon via an alert on the phone itself. ie. System update (with an optional maps update too).

Version is now :
- Software/OS version : Boot2Gecko 1.0.1.0-prerelease
- Last Updated: 06/07/2013 3:13pm
- Platform version: 18.0
- Build Identifier: 20130603111001
- Update channel: nightly
- Git commit info: 2013-06-03 06:39:48 - fcae2365

Once installed and rebooted, I managed to l

[2013-06-07 22:28] ozten commented on #3500
Is line 237 common and ignorable, or the possible cause? `warning, fragment not properly served!` doesn't sound good.

Could a networking error get cached?

[2013-06-07 22:29] jedp commented on #3500
@dougt so if that's the extent of the logs, I'm confused.  The `watch` command is invoked before any sign-in screen is visible.  It registers callbacks.  The `request` command would trigger the sign-in UI to open, and you would see logs referring to `doInternalRequest` etc.

I'm also not sure what to make of the "warning: fragment not properly served" error coming from the marketplace cdn-served c

[2013-06-07 22:35] vladikoff commented on #3500
Got Keon stable build working (`images-keon-2013-06-03.Gecko-08a0e76.Gaia-fcae236`), was able to login to http://firefoxos.123done.org/

OS Version: 1.0.1.0-prerelease
Platform: 18.0
Build: 20130603111001

[2013-06-07 22:44] ozten commented on #3499
I didn't expect this... Here is Desktop firefox:
![](http://dl.dropbox.com/u/10060532/Screenshots/M8wD.png)

[2013-06-07 22:51] jedp commented on #3500
@chilts sent me the logcat from his latest keon build and it looks good.  It seems to have all the fixes we uplifted to v1.0.1 in May.

[2013-06-07 23:05] ozten commented on #3499
Okay, those strings, when used from the phone, come from firefoxos.personatest.org.

I'll update strings for all locales on that box.

[2013-06-07 23:15] jedp commented on #3500
Having spoken with @lloyd, downgrading to four stars.  The workaround is just to upgrade the version of firefoxos on the keon.  But we would like to find a fix that works for everyone if we can.

I think the problem of logging into wheresmyfox should resolve itself when the current persona train is deployed, probably on Monday - see [bug 871799](https://bugzilla.mozilla.org/show_bug.cgi?id=871799)

[2013-06-07 23:25] ozten commented on #3499
Okay, fixed. Sorry about that.

[2013-06-07 23:25] #3499 closed, assigned to jaredhirsch

[2013-06-07 23:27] jaredhirsch commented on #3494
Closing this bug. If you have concerns about the fallback requiring a password, please take it to the list.

[2013-06-07 23:27] #3494 closed, assigned to nobody

[2013-06-08 00:36] kumar303 commented on #3500
The logs here suggest that there is a pretty old Marketplace app on Keon :( It would be nice to see if all Keon users can get on the same 1.0.1-prerelease build as the rest of us.

[2013-06-08 02:21] lloyd commented on #3500
high level question, is it worth us doing unnatural things to try to fix this, or do we want to rely on update?

Second question, what's the proper forum to message this issue externally?

[2013-06-08 04:59] markgif commented on #3481
I'm not familiar with the Persona docs, which are here: https://developer.mozilla.org/en-US/docs/Mozilla/Persona
I think Will Bamberg handles them. Since custom origins were just implemented, I doubt the Persona docs talk about them. Do you have any info on how to do it, I can help.

[2013-06-08 09:11] rbtcollins commented on #3494
I opened this bug when @fmarier asked me to after I whinged on twitter; if you consider it a feature, thats fine, just say so. If you aren't decided about it, closing the issue seems like entirely the wrong thing to do. That said, I'm not engaged enough with Persona development to join the mailing list, so no, I won't take it there. You have the information now [that I [and btw others that have co

[2013-06-08 18:33] ozten commented on #3375
Tauni is going to follow up with Jishnu, as there hasn't been a concrete plan updated in the bug#873241.

[2013-06-08 19:05] jedp commented on #3456
Yes, the 'cancel' buttons were added to the b2g UI flows after our on-platform code-freeze.  (There are no corresponding cancel buttons in the desktop persona fow.)  As such, the best we could do was to have the cancel buttons send gotAssertion(null) (which is what persona used to do on cancel).

I would like to see us get a fix for this into v1.1

[2013-06-08 20:34] jedp commented on #3456
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=881014

[2013-06-08 21:04] ozten opened #3501 "[b2g] Keyboard flashed with any touch in Trusted UI"
In B2G 18.

Steps to Reproduce
1) Load UI Tests on Device, launch Identity tests
2) Wait for ready, then launch Cancel test
3) When we load in the trusted UI, click on the background of the page

Actual
Keyboard slides on screen, then slides away

Expected
No Keyboard

[2013-06-08 21:09] jedp commented on #3284
So this has landed in b2g18 and has been uplifted to b2g18 v1.1.  It should be testable on any b2g18 nightly build

https://pvtbuilds.mozilla.org/pub/mozilla.org/b2g/nightly/mozilla-b2g18-unagi-eng/latest/

Closing.  Please re-open if there are problems.

[2013-06-08 21:09] #3284 closed, assigned to jedp

[2013-06-08 21:42] jedp commented on #3456
Thank you, @ozten, for the patch! https://bug881014.bugzilla.mozilla.org/attachment.cgi?id=760144

[2013-06-08 21:53] jedp commented on #2914
FWIW, this is still the case.  You're not signed into the persona main site by signing into 123done (today as I test, that's `firefoxos.123done.org` and `firefoxos.persona.org`.)

[2013-06-08 21:57] ozten commented on #3470
I'm confused. [aws.json](https://github.com/mozilla/browserid/blob/dev/config/aws.json#L24) already has sample rate set to 1.0 and is using https://kpiggybank-dev.personatest.org/.

For example on firefoxos.personatest.org I see this in the startup logs

[code]

What do we want to do here, exactly?

[2013-06-08 22:05] jedp opened #3502 "New account creation: Hitting 'enter' on first password field should focus the next"
Currently, if you create a new account on b2g, when you are prompted to create a password, hitting 'enter' tries to submit the form, which fails because you haven't yet entered the password as second time for confirmation.

What should happen is that hitting 'enter' in the first field should focus on the second field, and then hitting 'enter' in the second field should try to submit.

[2013-06-08 22:07] jedp commented on #2970
I've created https://github.com/mozilla/browserid/issues/3502 to track the issue @seanmonstar mentions in [his comment above](https://github.com/mozilla/browserid/issues/2970#issuecomment-13216611).  My bad - I thought we already had an issue for that.

[2013-06-08 22:35] jedp commented on #3377
Actually, the way we implemented `get` in the native api looks like this actually should work.  @ozten and I are investigating now.

[2013-06-08 23:06] jedp commented on #3377
I think I see what i did wrong with the native `get` cancel.

[2013-06-09 00:14] kparlante commented on #3470
@ozten : The log above shows kpiggybank-stage, not kpiggybank-dev (stage has specific security group settings and won't accept posts from ephemeral instances).

aws.json may have been updated with the correct settings since this issue was logged (#3471). On firefoxos.persona.org, kpi_backend_sample_rate is set to 0.0 in /home/app/config.json, which takes precedence over config/aws.json.

[2013-06-09 05:45] callahad commented on #3494
@rbtcollins I'm sorry for the frustration. We are making efforts to improve the status quo, but these things take time, and GitHub isn't an ideal place for feature discussion.

[2013-06-09 06:23] rbtcollins commented on #3494
@callahad sure, but is leaving the bug open as an acknowledgement that it is an issue [if you agree it is] seems actively useful to track it as an open issue, with an up to date summary  : that is the primary purpose of bug trackers :)

[2013-06-09 11:53] TeeTeeHaa commented on #3417
IE9 set to clear everything on exit, opened IE9, opened new fiddle:

[code]

Opened https://p3p-again.personatest.org in second tab, created account, clicked email link, landed in account management, clicked reload in first tab:

[code]

Signed out in second tab, clicked reload in first tab:

[code]

Closed IE9, opened IE9, opened new fiddle:

[code]

Set IE9 not to clear everything on exit, close

[2013-06-09 14:50] jaredhirsch opened #3503 "'onmatch' firing incorrectly"
Split from #3417

'onmatch' seems to be firing if the user has _any_ active persona session, and loggedInUser is set to `undefined` on a different RP site.

[2013-06-09 14:51] jaredhirsch commented on #3417
@TeeTeeHaa There are two bugs here. The first bug is that none of {onlogin,onlogout,onmatch} was firing at all, because of third-party cookie policy--that seems fixed by adding P3P headers.

The second bug is that the intended meaning of onmatch (see #2648 and also [the related specs change](https://github.com/mozilla/id-specs/blob/0ad12419034273e888992305f37effbd2b4e4044/browserid/index.md#key-id

[2013-06-09 16:29] jedp commented on #3470
Note that `firefoxos.persona.org` proxies to `firefoxos.personatest.org`.  On `firefoxos.personatest.org`, I've updated the `aws.json` to use `kpiggybank-dev`.  The startup config now says:

[code]

Is this correct?

[2013-06-09 17:43] ozten commented on #3470
Attention to detail, isn't my strong suit.

Deploying an ephemeral from dev, to ensure it uses kpiggybank-dev.

[2013-06-10 12:51] inma610 commented on #3499
Hi guys,

I just wanted to say THANK YOU, it's fixed! :)

[2013-06-10 13:08] inma610 commented on #3500
Hi everyone,

@lloyd  I don't know if I can be of much help here, but there is a Mozilla l10n mailing list\* that we localizers use to manage the Persona l10n (among many others), and communicate updates and issues. BTW, a member of the Polish community also reported that he's experiencing the same issue with his Keon.

Perhaps you could contact the rest of Mozilla localizers via that mailing list

[2013-06-10 13:27] shane-tomlinson commented on #3496
@zacc - an email is still sent to unverified users so that they can verify their ownership of the email address. This message is saying "hey, we just sent a message to that address!"

[2013-06-10 13:30] shane-tomlinson commented on #3497
@jedp - I am confused by this request. Can you give more information? The dialog already responds when opened as a tab instead of as a window, this behavior can be seen in Opera.

[2013-06-10 13:32] shane-tomlinson commented on #3497
@jedp - after reading over that Bugzilla bug, Persona will already take the appropriate action if platform decides to open dialogs in a full tab instead of a standalone dialog window. Another example browser is IE10 on Windows 8 Metro.

[2013-06-10 13:41] shane-tomlinson commented on #2982
Closing

[2013-06-10 13:41] #2982 closed, assigned to nobody

[2013-06-10 13:47] shane-tomlinson commented on #3375
@ozten, @mathjazz - Do we need these translated into the newly divulged languages as well?

[2013-06-10 13:49] shane-tomlinson commented on #3502
I fixed this already, did the change not get applied in the merge frenzy?

[2013-06-10 15:37] ghost opened #3505 "move persona servers away from police state of USA"
move persona servers away from police state of USA

[2013-06-10 15:54] shane-tomlinson commented on #2280
Thanks @kparlante for the extra info. Well, certainly the common factor is the four fields are set in the window.unbeforeunload DOM event. The browsers seem to be Opera/Webkit.

I wonder if we would be better off to _always_ include the communication_iframe, even for navigator.id.get. If communication_iframe were always included, we could be guaranteed of getting all results, for all users, regard

[2013-06-10 15:57] jedp commented on #3500
Thanks @inma610.  @lloyd, I'll send to the l10n list the message I sent to mozqa.  Seems like a good start at least for getting the message out to the community.

[2013-06-10 16:13] jedp commented on #2108
@benadida what's the status of this bug in your mind?  What can/should I do?

[2013-06-10 16:24] shane-tomlinson opened #3506 "experimental features from .request have not been added to .get in the shim"
The experimental features added for FirefoxOS were only added to .request and have not been added to .get.
- experimental_forceAuthentication
- experimental_forceIssuer
- experimental_allowUnverified

[2013-06-10 16:49] shane-tomlinson opened #3507 "No way to test navigator.id.get from the dev environment."

[2013-06-10 16:53] callahad commented on #3505
Hi @ukaszg, thanks for chiming in. Please see [my comment](https://news.ycombinator.com/item?id=5855256) on Hacker News on [this topic](https://news.ycombinator.com/item?id=5854003).

Since moving our serves would only be trading one legal jurisdiction for another, I'm going to preemptively close this bug.

Instead, we need to double down on advancing Persona's promise of truly decentralized authe

[2013-06-10 16:53] #3505 closed, assigned to nobody

[2013-06-10 17:17] jedp commented on #3506
Good observation

[2013-06-10 17:31] shane-tomlinson commented on #3154
Link this to the corresponding bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=879626

[2013-06-10 17:56] ozten commented on #3470
Launched kpitester42.personatest.org

Looking at the logs, I think it is doing the right thing:
    "kpi_backend_sample_rate":1,"kpi_backend_db_url":"https://kpiggybank-dev.personatest.org/wsapi/interaction_data"
    {"level":"debug","message":"sending request to KPI backend: https://kpiggybank-dev.personatest.org/wsapi/interaction_data","timestamp":"2013-06-10T17:52:46.609Z"}

Closing bug. Please

[2013-06-10 17:56] #3470 closed, assigned to jedp

[2013-06-10 17:56] shane-tomlinson commented on #3436
@edmoz - are we good here?

[2013-06-10 17:59] jedp commented on #3506
The same needs to happen on b2g platform.  I've opened [bug 881345](https://bugzilla.mozilla.org/show_bug.cgi?id=881354).

[2013-06-10 18:06] edwindotcom commented on #3436
/me looks

[2013-06-10 19:25] jedp commented on #3506
I presume this is overall of low priority, though.  We're not encouraging people to use `get()`, and we're not at all encouraging people to get in the habit of using these experimental parameters.

[2013-06-10 20:37] benadida commented on #2108
@jedp I was thinking we would have some kind of server-side fake client that would mimick the actions of a native Firefox / FXOS client. Maybe some PhantomJS/Node thing. But really, prioritization is up to you.

[2013-06-10 20:44] edwindotcom commented on #3436
The spinner is still 2x bigger than marketplace.  Ideally it's the same size.  I'll let UX do final approval.
![2013-06-10-13-40-39](https://f.cloud.github.com/assets/3698618/633981/5ca5eb3e-d20e-11e2-90a3-fd6d94f2e7d3.png)

[2013-06-11 00:08] jaredhirsch commented on #3499
\o/

[2013-06-11 10:39] shane-tomlinson commented on #3496
Re-opening to fix this before fully addressing #3154

[2013-06-11 12:21] shane-tomlinson commented on #3496
This affects the current beta. @jrgm - is this worthy of a hotfix?

[2013-06-11 12:32] #3507 closed, assigned to shane-tomlinson

[2013-06-11 12:33] shane-tomlinson commented on #3496
@jedp - the same comment goes to you - is this worthy of a hotfix?

[2013-06-11 12:35] shane-tomlinson commented on #3496
@jedp and @jrgm - this bug should be limited to the "We just sent an email to that address! If you really want to send another, please wait a minute or two and try again." tooltip when Persona is accessed from Marketplace. When Persona is accessed from Marketplace, the RP info at the top of the screen is not displayed, which pushes the rest of the screen up. The code to anchor the tooltips did not

[2013-06-11 13:48] shane-tomlinson commented on #3502
@jedp - this was added in 54a51195a4d16f59b11f38b91c800e75d84574e0, but for an as of yet unexplainable reason, is not working in FirefoxOS.

[2013-06-11 14:31] lloyd opened #3514 "Some users cannot log in - assertions failing validation - "expired""
Jeff reports on our mailing list "Once every few days I get an assertion that fails validation"

We are pro-actively auditing servers for clock skew, and awaiting more information from Jeff - we need when the assertion was received from the user, and the time the assertion was issued, and the time the certificate embedded was issued.

Jeff, you can inspect the details of an assertion using `bin/ch

[2013-06-11 14:32] lloyd commented on #3514
time skew audit being tracked in mozilla/identity-ops#67

[2013-06-11 14:57] shane-tomlinson commented on #3417
@6a68, none of onlogin, onlogout, nor onmatch should be fired if third party cookies are disabled, onready should.

To get to the point of your PR for P3P headers, they effectively enable 3rd party cookies on IE, but do _not_ fix the erroneous onmatch behavior, correct?

[2013-06-11 15:00] shane-tomlinson commented on #3501
@ozten - is this an issue in Gaia/Trusted UI code or the Persona code? Can you reproduce this on any other mobile device/browser? Does it happen in other applications in the trusted UI?

I am trying to pinpoint potential causes before taking wild guesses.

[2013-06-11 15:03] shane-tomlinson commented on #3501
@ozten - ahha. I believe the problem is we programatically focus the email field when the dialog opens. B2G ignores this. Whenever you click into the dialog, the forced focus takes effect, then the blur of where you clicked.

Wackity wack. I'd love a way of figuring out definitively if the user is on a mobile device and disable programatic auto-focus.  Unfortunately, checking for touch events is n

[2013-06-11 16:00] gene1wood commented on #3514
I've established clock skew monitoring on the webheads in both regions. The greatest clock skew is one webhead is off by 0.02 seconds.

[2013-06-11 17:03] ozten commented on #3501
I guess another way to look at it, is that the trusted UI isn't evaluating this focus, until the Trusted UI is clicked? It seems like the focus should happen immediately, no?

[2013-06-11 17:06] shane-tomlinson commented on #3501
@ozten - that is a great way of saying it. I do the focus as soon as the dialog opens, but the trusted UI does not seem to actually do the focus until the user clicks.

[2013-06-11 17:16] ozten commented on #3501
Filed [bug #881796](https://bugzilla.mozilla.org/show_bug.cgi?id=881796) to see if this is accurate.

[2013-06-11 18:42] jaredhirsch commented on #3417
@shane-tomlinson that's correct, adding P3P headers brings IE in line with the behavior of other browsers.

[2013-06-11 19:23] jaredhirsch commented on #3374
PR merged but bug was left open, closing.

[2013-06-11 19:23] #3374 closed, assigned to nobody

[2013-06-11 19:34] jaredhirsch commented on #3476
@jrgm I just logged in successfully using a yahoo account on IE8, and the window shrunk as seen in your screenshot--except it gave the primary success message. Looking at this now.

[2013-06-11 19:39] shane-tomlinson commented on #3476
Is this related to mozilla/browserid-bigtent#58

[2013-06-11 20:03] jaredhirsch commented on #3476
@shane-tomlinson GO TO SLEEP ;-) yeah, looks related. I was just looking at screen_size_hacks to determine when/how we're resizing the dialog, so that when we return from the primary, we could resize it accurately. Open to suggestions on a better approach.

[2013-06-11 20:03] jaredhirsch commented on #3476
@shane-tomlinson this is also probably related to @callahad's "the dialog is different sizes different places" bug

[2013-06-11 22:40] jaredhirsch commented on #3514
zomg intermittent five-star bug! need moar info! cannot get! anxiety attack!

![](http://25.media.tumblr.com/ecbd7946e9f71b5008328f57303d49af/tumblr_mepyoedTR81qebfwho1_250.gif)

@stickfigure we're dying to see that funky assertion, minus the specific email address

[2013-06-11 23:16] kparlante commented on #3470
@ozten: Yes, looks like we're seeing b2g blobs on kpiggybank-dev. Thanks! FWIW, the blobs currently show up as "Unknown Firefox 18" with `"rp_api": "internal"`

[2013-06-11 23:58] jaredhirsch commented on #3476
@shane-tomlinson you were right, this was related to the IE 8-incompatible fix for #58. Working on a PR now, and the fix lives entirely within the bigtent repo.

[2013-06-12 01:00] jaredhirsch commented on #3476
ok, I think I found a simpler way to fix this. @shane-tomlinson thoughts on the latest latest attempt, https://github.com/6a68/browserid-bigtent/commit/f85d3aa39dc0537656a61337d3998e1f9f7746b9?

[2013-06-12 01:32] jrgm commented on #3476
@6a68 - you should be aware of this bug in gecko with the actual opened width not being what was requested - https://bugzilla.mozilla.org/show_bug.cgi?id=779335

Although, I haven't checked that recently.

[2013-06-12 10:08] shane-tomlinson commented on #3465
The fix has been merged, closing.

[2013-06-12 10:08] #3465 closed, assigned to nobody

[2013-06-12 10:12] shane-tomlinson commented on #3456
Related to #3377?

[2013-06-12 10:13] shane-tomlinson commented on #3306
I stole this. A PR is outstanding, but needs to be updated - #3495

[2013-06-12 10:16] shane-tomlinson commented on #2340
Closing it, p3p headers are merged.

[2013-06-12 10:16] #2340 closed, assigned to nobody

[2013-06-12 10:18] shane-tomlinson commented on #2292
@lookfirst - If you still have the same browser, could you give this a try on dev.123done.org to see if this problem still manifests? We have added P3P headers, so this problem may be resolved.

[2013-06-12 10:19] shane-tomlinson commented on #3503
This is not great.

[2013-06-12 10:20] shane-tomlinson commented on #3417
@6a68 - Thanks for exploring the problem and pushing on the p3p fix. p3p change merged. What do we need to do to fix the rest of this and #3503?

Can this particular issue be closed?

[2013-06-12 13:19] shane-tomlinson opened #3515 "silent assertions are generated from .onlogin of .watch API with incorrect issuer after issuer changes"
If the issuer changes for a particular address but the user has a cert in localStorage, the .watch API will invoke .onlogin with the cert from the old issuer.

STR

1) Start the dev RP with the example IdP enabled
2) create a Persona account using the example IdP
3) Stop the server
4) Disable the example IdP (change it's .well-known/browserid to have "disabled": true)
5) restart server
6) refresh

[2013-06-12 14:07] lookfirst commented on #2292
@shane-tomlinson I haven't seen this error in ages. That said, I stopped watching 3rd party script errors, so that may be the reason why. ;-)

[2013-06-12 14:23] shane-tomlinson commented on #3506
@jedp - should both of these be updated together so there is minimal API disparity?

[2013-06-12 14:38] lloyd commented on #3506
The goal hasn't been minimal api disparity.  The goal was to move from get to watch.  Now, on list, were wondering about a new attempt at a better api.

I don't think three APIs do the same thing is long term tenable, and really hurts our ability to roll out features.

I think we should _not_ upgrade get() but instead accelerate efforts to figure out if a compromise api will be easier to implement

[2013-06-12 15:08] shane-tomlinson commented on #2280
@nmalkin - It took me 10 months to fix this problem - your diagnosis was spot on.

[2013-06-12 15:45] shane-tomlinson commented on #3104
@kparlante - I am wondering if this will be taken care of with the outstanding KPI updates. Have you seen this recently?

[2013-06-12 16:23] callahad commented on #3503
And it's totally my fault. Sorry :(

[2013-06-12 16:35] rjian opened #3518 "Account has been reset on persona login"
Having issue on login as my account has been reset on persona or re-created. Issue happens two weeks before as i try to login persona using keon devices on marketplace then persona recognized it as a new email on database, when i login to http://reps.mozilla.org, i cannot edit my profile or see my dashboard. I need to revert my account as i need to login at reps portal to file my report. Already f

[2013-06-12 17:30] ozten commented on #2932
Read these to see how awesome this feature can be:
- https://www.tbray.org/ongoing/When/201x/2013/06/07/Why-findIDP
- http://blog.romeda.org/2013/06/thoughts-on-signin.html

[2013-06-12 18:20] mattbasta opened #3519 "[Unconfirmed] `oncancel` not being fired after `navigator.id.request` on FXOS"
We've gotten reports that `navigator.id.request`'s `oncancel` event isn't firing on FXOS (not sure of version number). I've put out requests for more info, but figured I'd file it to see if you guys could hunt down a potential cause on your end.

[2013-06-12 18:46] TeeTeeHaa commented on #3417
From my point of view this issue can be closed because it is the sum of the other two other issues.

Thanks to all for your efforts - it really encourages to submit further issues in case of problems.

How do I as a user notice that the proposed changes are live on `https://login.persona.org/include.js`?

[2013-06-12 18:55] jaredhirsch commented on #3503
@callahad don't feel bad, bro. everybody writes bugs :beers:

[2013-06-12 18:57] mattbasta commented on #3519
We seem to be getting this in a bunch of places:

https://bugzilla.mozilla.org/show_bug.cgi?id=881167
https://bugzilla.mozilla.org/show_bug.cgi?id=881962

[2013-06-12 19:01] jaredhirsch commented on #3417
w00t!

@TeeTeeHaa really appreciate your help diagnosing this in detail :beers: As far as when this code goes live, we do twice-monthly releases; this patch should go out on 2 July. More details: http://personatra.in/#2013.06.19

@shane-tomlinson You got it! The onmatch funk is covered by #3503, this one is good to close.

[2013-06-12 19:01] #3417 closed, assigned to jaredhirsch

[2013-06-12 19:19] jaredhirsch commented on #3506
+1 for closing and driving the "simpler .watch alternative" discussion harder instead

[2013-06-12 19:22] jaredhirsch commented on #3519
@mattbasta is this a dupe of https://github.com/mozilla/browserid/issues/3456?

[2013-06-12 19:26] mattbasta commented on #3519
Yes, it appears that it is
On Jun 12, 2013 12:22 PM, "Jared Hirsch" notifications@github.com wrote:

[2013-06-12 19:54] lloyd opened #3520 "with 3rd party cookies disabled, primary IdP flow fails inexplicably"
The failure mode is confusing.  We need to better message this to users, especially with gmail coming.  labeling 4 star to spark discussion.  It seems like there are a lot of issues around 3rd party cookies opened and closed, but none seem to address the primary idp case and get us a satisfying user facing error message.

[2013-06-12 20:14] lloyd commented on #3520
Our first problem, is how can we possible know that 3rd party cookies are disabled?  Detection is non-trivial.  Here's some noodling from the depths of IRC:

[code]

[2013-06-12 21:25] jaredhirsch commented on #3518
I also don't have access.

[2013-06-12 21:29] jaredhirsch commented on #3520
@lloyd related: #3220 and a branch I've got cooking to improve localstorage detection: https://github.com/6a68/browserid/compare/dev...issue_3220_improve_localstorage_detection

[2013-06-12 21:33] jaredhirsch commented on #3519
@mattbasta Awesome. In that case, closing in favor of #3456. I'll copy over the bugzilla links you found, and update those bugzilla bugs as well. Thanks mang!

[2013-06-12 21:33] #3519 closed, assigned to nobody

[2013-06-12 21:33] jaredhirsch commented on #3456
@mattbasta found these too:

https://bugzilla.mozilla.org/show_bug.cgi?id=881167
https://bugzilla.mozilla.org/show_bug.cgi?id=881962

[2013-06-12 21:35] jaredhirsch commented on #3456
@jedp so the related bugzilla bug (https://bugzilla.mozilla.org/show_bug.cgi?id=881014) is closed, what more can we do on our end? Can we close this bug and point to the bugzilla bug?

[2013-06-12 21:38] callahad commented on #3503
I was all like: :pencil2: :soon: :bug:

[2013-06-12 21:51] lloyd commented on #3520
@6a68 right!  relationship is that detecting broken local storage will help us detect blocked 3rd party cookies, because the two things tend to be disabled in lockstep?

[2013-06-12 21:54] jedp commented on #3456
@_6a68, @mattbasta, There's nothing to be done on the server side.  It's a client patch that was necessary when the new cancel buttons were added.  We're just waiting for [bug 881014](https://bugzilla.mozilla.org/show_bug.cgi?id=881014) to get uplift to b2g v1.1; then it will be fixed on device.

So the progress for this fix is all in [bug 881014](https://bugzilla.mozilla.org/show_bug.cgi?id=88101

[2013-06-12 21:54] #3456 closed, assigned to ozten

[2013-06-12 21:55] jedp commented on #3456
@shane-tomlinson not actually directly related to #3377, but certainly thematically related :)

[2013-06-12 22:19] #3496 closed, assigned to shane-tomlinson

[2013-06-12 22:35] #3502 closed, assigned to nobody

[2013-06-12 23:01] jedp opened #3521 "Get firefoxos.persona.org on HSTS pre-load lists"
@jrgm has observed that we should get `firefoxos.persona.org` on the [Firefox](https://hg.mozilla.org/mozilla-central/file/default/security/manager/boot/src/nsSTSPreloadList.inc) and [Chromium](https://src.chromium.org/viewvc/chrome/trunk/src/net/http/transport_security_state_static.json) HSTS pre-load lists.

@fmarier has already done this with `login.persona.org` in https://github.com/mozilla/br

[2013-06-12 23:28] fmarier commented on #3521
I can take care of this.

@jedp What's that domain used for? Is it just the FxOS equivalent of `login.persona.org`?

[2013-06-12 23:35] blaine commented on #2932
Thanks, Austin! What I've failed to mention in the blog post, but is obvious when you use our sign in, is that we support not just Google sign-in, but Hotmail and Yahoo with MX detection, and Facebook and Twitter sign-in as fallback. I want to add support for loads more providers, too, including Persona!

The one thing that's critical for me is that I as the web site developer control the whole UX

[2013-06-13 00:01] edwindotcom opened #3522 "dev and beta sites not loading dialog on android 2.2"
1. goto {dev,beta}.123done.org on a Android 2.2 stock browser, or Firefox
2. click the sign in button

actual: dialog opens and spins with loading icon

expected: it should load.  It works on Android 4.0 and desktop as expected.

[2013-06-13 00:01] edwindotcom commented on #3522
no repro on production sites.

[2013-06-13 00:07] jrgm commented on #3522
This works on beta (but not dev) for android 2.2 DROID2.

[2013-06-13 00:08] jaredhirsch commented on #3522
I can repro this problem on dev for another 2.2 handset, the Galaxy S.

[2013-06-13 00:29] jedp commented on #3521
@fmarier Awesome!

Yes, that is correct.   This is the fxos equiv of `login`.  It will in fact be a CNAME for `login.persona.org`.

[2013-06-13 01:20] rjian commented on #3518
@jbonacci already update it, but the problem now is not already the device. The persona itself as the account has been reset.. by the way do you have bugzilla account? can you advice me your email address? ill add you to CC on the bug so that you can access it..

[2013-06-13 01:25] rjian commented on #3518
oh ok. done adding you to the bug.

[2013-06-13 04:00] lloyd commented on #3520
This occurs with firefox when 3rd party cookies is set to "never".  Or with chrome when "Block third-party cookies and site data" is selected.

It's interesting to consider user facing messaging vs. just making it work, which would take a creative, tricky, but small protocol change.

[2013-06-13 05:12] fmarier commented on #3521
Does it make sense to get that added to Chromium too or just Firefox? i.e. when would a Chromium user want to connect to `firefoxos.persona.org`? CC @jrgm

[2013-06-13 05:24] jrgm commented on #3521
I don't know the policy considerations or the process for adding to the Chromium STS preload list vs. having this added for only Gecko builds. I'll defer to @jedp on the use case questions.

[2013-06-13 06:06] kparlante commented on #3447
@shane-tomlinson : @jrgm is working with me to get milestone data manually, which is good enough for this quarter. It is still probably a good idea to add the current code version, but we can batch that up with other changes that require approval later.

[2013-06-13 10:19] #3506 closed, assigned to nobody

[2013-06-13 10:26] shane-tomlinson commented on #3520
I am _amazed_ no issue has been filed about this before, we have been discussing it as a problem for at least 6 months!

[2013-06-13 10:28] shane-tomlinson commented on #3520
Similar, but not exact - #3169

[2013-06-13 10:29] shane-tomlinson commented on #1352
Closing since we decided to call .onready if we cannot figure out the state of the user.

[2013-06-13 10:29] #1352 closed, assigned to nobody

[2013-06-13 10:33] shane-tomlinson commented on #3522
@edmoz - is this due to the cert not being trusted?

[2013-06-13 10:44] shane-tomlinson commented on #3520
An approach similar to what the communication iframe does can be used:
- Embed an iframe from a 3rd party. When sending the iframe, the 3rd party sets a cookie.
- Have the iframe make an XHR/script/img call to the 3rd party with a cookie set.
- Upon receiving the request, the 3rd party checks whether it received the cookie.
- If so, send back a signal to the iframe that says "yep, got it".
- The s

[2013-06-13 12:02] shane-tomlinson commented on #2407
@seanmonstar - "screen.error" is reported in the event stream when an error screen is displayed to the user.

[2013-06-13 13:48] shane-tomlinson opened #3524 "ephemeral instance resources are not gzipped"
This makes it difficult to run performance tests to see how we are doing.

[2013-06-13 14:07] shane-tomlinson commented on #3454
@mattbasta - tentatively, when testing using Firefox Desktop, I see almost no difference. This is at full speed, I have not artificially restricted the bandwidth to simulate 2/3G speeds.

The `I:` number is the iframe, the `D:` is the dialog.

[code]

[2013-06-13 14:49] yourcelf commented on #3514
I'm getting "assertion has expired" errors routinely (a couple per day).  In the mailing list, @lloyd suggested logging assertions and timestamps to help debug this -- I've begun doing so.
1. Is it safe (privacy-wise) to attach assertions+timestamps the bugtracker here?
2. Would it be helpful to do so?

[2013-06-13 15:08] callahad commented on #3514
@yourcelf The assertions contain the user's email address, so I'd recommend not posting them directly.

You can either email one of us directly {lloyd,callahad,6a68}@mozilla.com, or parse out the cert body and remove the email address. :)

Backed Identity Assertions are just formatted like `header.payload.signature~header.payload.signature`, where so if you split on `~` you'll separate the certifi

[2013-06-13 15:50] lloyd opened #3525 "button overflow on "Provider makes this easy" screen"
The login with button includes domain name.  When domain names are long (or the translated text that accompanies them is long), this button rolls off the left side of the dialog.

![screen shot 2013-06-13 at 12 04 30](https://f.cloud.github.com/assets/39411/649239/d65493ac-d440-11e2-9957-90e7e2f277d3.png)

[2013-06-13 15:53] lloyd commented on #3525
Here's the same issue from a user with a wierd window manager that forces the dialog fullscreen.  This is a non-standard environment, but still the point about overflowing text is valid:
![d41d8c-1](https://f.cloud.github.com/assets/39411/649259/53b5eca6-d441-11e2-9fd2-871c44b9f054.png)

[2013-06-13 15:54] lloyd opened #3526 "[l10n] In french on the "provider makes this easy" screen, no domain name"
the `%` character in french is displayed instead of the domain name...

![d65493ac-d440-11e2-9957-90e7e2f277d3](https://f.cloud.github.com/assets/39411/649271/8793d7ae-d441-11e2-8667-240235f5a4db.png)

[2013-06-13 15:54] lloyd commented on #3526
/cc @ozten @mathjazz

[2013-06-13 15:56] lloyd commented on #3525
Same thing, in spanish on chrome / osx
![screen shot 2013-06-13 at 9 55 44 am](https://f.cloud.github.com/assets/39411/649292/de75f89a-d441-11e2-941b-074460487ad5.png)

[2013-06-13 15:57] lloyd commented on #3526
Confirmed, this appears to be specific to the french translation.  Did we drop a substitution marker?  This should be a really simply 1 char fix in SVN.  Here's spanish, it looks fine:

![screen shot 2013-06-13 at 9 55 44 am](https://f.cloud.github.com/assets/39411/649302/fc871404-d441-11e2-8880-60801eb19a93.png)

[2013-06-13 16:07] lloyd opened #3527 "no longer do we serve all static resources from the static domain"
There looks to be a problem in resource compilation where the proper static configuration is not set.  @jrgm, would this be in issue affecting things at the time you generate the .rpm?

Here's the network log:

[code]

specifically, static resources referenced from within CSS files (that are generated in the pre-build step) are not getting the proper hostname.

[2013-06-13 16:14] mathjazz commented on #3526
http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/locale/fr/LC_MESSAGES/client.po?r1=116913&r2=116912&pathrev=116913

Fixed.

[2013-06-13 16:45] lloyd commented on #3527
this problem doesn't exist on dev, must be a regression in the build process for generating rpms.

[2013-06-13 16:46] lloyd commented on #3526
@mathjazz you are wonderful.

[2013-06-13 16:46] #3526 closed, assigned to nobody

[2013-06-13 16:47] jedp commented on #3526
Merci!

[2013-06-13 16:49] lloyd commented on #3525
we should get a recommendation from Ryan Feeley?

can we just have this break and the button expand vertically?

[2013-06-13 16:50] jaredhirsch commented on #3525
@ryanfeeley thoughts on this'n?

[2013-06-13 16:51] lloyd commented on #3524
should we move this issue to awsbox?  @chilts are you interested in taking this along with a move to nginx on awsboxes?

[2013-06-13 16:52] jedp commented on #3521
Good point. Chromium probably couldn't care less about this.  Or do we need to be on their list to be on the master list?

[2013-06-13 16:53] lloyd commented on #3522
we did move from a godaddy SSL cert to a gandi SSL cert...

[2013-06-13 16:55] lloyd commented on #3522
5 stars to try to figure out what this is.  the downgrade as appropriate

[2013-06-13 16:55] jaredhirsch commented on #3522
this loads fine for me on beta.123done.org, but dev is busted

[2013-06-13 17:03] lloyd commented on #3520
rather detecting and messaging, I'l like to see if we can actually solve the underlying problem.

[2013-06-13 17:03] seanmonstar commented on #3520
It seems terrible that we'd need to message people that if they want to use
this awesome new sign in system, they need to stop being protective about
their cookies.
On Jun 13, 2013 3:44 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-06-13 17:07] jedp commented on #3518
We have not yet switched firefoxos over to point at the production `persona.org` servers.  We plan to do that next week.  But until then, firefoxos is hitting a sandboxed development integration server and will have a separate persona account.

Best thing is to stick with logging in via desktop to manage your marketplace account for now.

[2013-06-13 17:07] #3518 closed, assigned to nobody

[2013-06-13 17:08] lloyd commented on #3515
potentially a blocker for gmail. /cc @seanmonstar @callahad

5 to investigate.  is this a regression?

[2013-06-13 17:22] jaredhirsch commented on #3497
this happens on iPad as well

[2013-06-13 17:23] jaredhirsch commented on #3497
@ryanfeeley thoughts on how to gracefully puff up the dialog to tab-size?

[2013-06-13 17:37] jaredhirsch commented on #3522
@edmoz /me goes off to search for The Creature causing all this

![image](http://media2.giphy.com/media/LUJOKw7BK9AIg/original.gif)

[2013-06-13 17:39] ryanfeeley commented on #3525
Gah!!! We need a dialog about dialogs. What's the best way for me to get an inventory of these things? Would like to make text more concise, and also consider introducing some truncation rules...

[2013-06-13 17:41] ryanfeeley commented on #3497
Any possibilities to create a fully responsive approach from tiny Firefox OS mobile to wide screen? I also noticed that in my Safari browser (where new windows are tabs) how imbalanced it is. I'm all for tackling this.

[2013-06-13 17:41] #3373 closed, assigned to shane-tomlinson

[2013-06-13 17:45] ryanfeeley commented on #3497
BTW, that means I'll need to introduce a new column here, one for Desktop (full width) and one for Desktop (pop-up window) https://wiki.mozilla.org/Identity/Touchpoints

[2013-06-13 17:53] kparlante opened #3528 "[kpi] Add email-verification-metrics.json"
It would be great if we could count email verifications, aggregated by date. We're interested in knowing if new users are successful, and knowing the counts can help us validate the kpi data and count cases where users verify in a different browser, etc.

Similar to router-metrics.json and verifier-metrics.json.

cc: @shane-tomlinson, @lloyd

[2013-06-13 18:01] kparlante opened #3529 "[kpi] Make metrics data available to kpi dashboard"
It would be great if we could send router-metrics and verifier-metrics data to a kpiggybank collector. It would need to be processed to strip out information for user privacy, just as we do before making the data available to metrics.

cc @lloyd, @shane-tomlinson

[2013-06-13 18:06] jaredhirsch commented on #3522
JS console in my 2.2 handset says "https://static.dev.anosrep.org/w/23c7058d9b/production/en/dialog.js:7 Uncaught SyntaxError: Unexpected token native"

[2013-06-13 18:09] jrgm commented on #3522
Yeah, me too, although that comes up after a while of just spinning, so don't know if that is the root cause. (Gee, I did not know github had acquired tumbler...).

[2013-06-13 18:14] jaredhirsch commented on #3522
heh. spinning up an ephemeral instance with unminified resources, hopefully I can get to something more specific.

[2013-06-13 18:17] edwindotcom opened #3530 "[b2g] db column 'type' conflict when user signs in with primary on desktop but secondary on b2g"
When we move all marketplace sign ins onto the main DB for all persona, there will be a conflict of what type of acct these are: primary or secondary.
1. user on desktop signs in with joe@yahoo.com acct.  In the db the type='primary'
2. user on b2g signs in with same joe@yahoo.com acct.  ForceIssuer causes the type to be 'secondary'

actual: db column will flip between types and desktop will stop

[2013-06-13 18:23] edwindotcom opened #3531 "[b2g] need to disable primary support on b2g/native UI for now"
There are a lot bad UX (UI, unable to sign out of primaries) that we encounter with native UI's security model which is very different from all other browsers. We need to disable primaries till we sort out the rollout plan.

[2013-06-13 18:28] jaredhirsch commented on #3530
more interestingly, what if joe@yahoo.com is logged into desktop persona (+bigtent) and fxos (-bigtent) at the same time?

[2013-06-13 18:51] edwindotcom opened #3532 "[b2g] with primary support - unable to logout of bigtent idp sessions in native UI"
logging as a placeholder of sorts as primaries aren't turned on firefoxos.persona.org right now.
1. sign into firefoxos.123done.org with user@yahoo.com
2. now try to sign in with a user_2@yahoo.com

actual: you've mismatched and there's no way to sign out of your existing yahoo.com session inside the native UI

expected: there should be a way to sign out.   The only way would be to clear local dat

[2013-06-13 18:55] jaredhirsch commented on #1755
@callahad ping? cc @oyiptong

[2013-06-13 19:01] callahad commented on #1755
I poked around in the SocketLabs dashboard, but I can't find our DKIM keys anywhere.

[2013-06-13 19:02] karlht opened #3533 "Login from firefoxos.123done.org with kthiessen@login.mozilla.org yields proivisioning timeout"
[code]

[2013-06-13 19:05] karlht commented on #3533
firefoxos.123done.org is looking for firefoxos.persona.org, but:

[code]

-- login.mozilla.org/provision looks at login.persona.org -- I think there may be a mixed-content issue.  @jrgm, @ozten -- any thoughts?

[2013-06-13 19:06] jaredhirsch commented on #3522
train-2013.05.22 works fine on an awsbox, train-2013.06.05 does not. git bisecting to find the bad commit.

[2013-06-13 19:11] edwindotcom commented on #3522
@shane-tomlinson yeah - no idea about the SSL cert stuff. I haven't dug in too deep.  Thanks for spelunking @6a68

[2013-06-13 19:15] kparlante commented on #3104
@shane-tomlinson : I can find blobs missing rp_api if I go looking for them. Some sample data here (both from dashboard production data and from kpiggybank-dev): https://id.etherpad.mozilla.org/kpi-issue-3104-data

The rate is low enough that I'm not sure its a big issue. If you want we can wait for recent changes to land on production and then do another analysis.

[2013-06-13 19:42] jaredhirsch commented on #3522
`git bisect` claims the bad commit is 15d4c9ab, "Fix primaries on FirefoxOS!".

Digging further.

[2013-06-13 19:44] kparlante commented on #2407
@shane-tomlinson, @seanmonstar, @lloyd: while I had the map/reduce interface up, I checked out `screen.error`s on production. About 3% of the blobs had errors in them. A random sampling of those blobs here: https://id.etherpad.mozilla.org/kpi-issue-2407-data

[2013-06-13 19:54] seanmonstar commented on #2407
@shane-tomlinson yep, that was tracked in #3302 .

When it says "screen.error." with a trailing dot, it was trying to match the error screen to one in `BrowserID.Errors` and failed, probably because that error screen used a custom object instead of taking one from `BrowserID.Errors`.

[2013-06-13 19:58] seanmonstar commented on #3515
so, this means that the communication_iframe is noticing the cert in localstorage, and proceeding to use it, without a check to make sure it's allowed to?

[2013-06-13 20:28] shane-tomlinson commented on #3531
@edmoz - It's not as simple as just disabling primaries, this has _HUGE_ repercussions w.r.t. verifiers. @jedp or @lloyd, wanna fill @edmoz in on all the stuff we talked about?

[2013-06-13 20:56] jaredhirsch commented on #3522
Turns out "native" is a non-standard reserved word in JavaScript on Android 2.2.

If I replace `info.native` with `info["native"]` right here https://github.com/mozilla/browserid/commit/15d4c9ab#L2R53, it works.

Opening a PR momentarily.

[2013-06-13 20:58] edwindotcom commented on #3531
Hi @shane-tomlinson
I logged this mainly as a placeholder so we know the state of primary support on b2g.  It's currently enabled in source code - but waiting for us to point firefoxos.persona.org as a cname to login.persona.org.  I totally understand this issue is big and disabling primaries is hard.  My goal is to force the conversation a bit as we are approaching going live with a merged person

[2013-06-13 21:02] lloyd commented on #3522
Wow, Jared. Well done.

Jared Hirsch notifications@github.com wrote:

Turns out "native" is a non-standard reserved word in JavaScript on Android 2.2.

If I replace `info.native` with `info["native"]` right here https://github.com/mozilla/browserid/commit/15d4c9ab#L2R53, it works.

Opening a PR momentarily.

---

Reply to this email directly or view it on GitHub:
https://github.com/mozilla/browser

[2013-06-13 21:06] jaredhirsch commented on #3522
let's end this insanity on a **positive** random/WTF note

![](http://media3.giphy.com/media/li9Ph3PqJl2Ew/original.gif)

[2013-06-13 21:13] jrgm commented on #3522
[code]

So we need a PR from train-2013.06.05 ;-)

[2013-06-13 22:43] jaredhirsch commented on #3525
@skinny97214 is a good resource to get you oriented with whatever random wires we have in whatever random places :-)

[2013-06-13 23:40] jrgm opened #3536 "Oddities with trying to use an AWS stack with train-2013.05.22 & marketplace.firefox.com"
Five star. Why is desktop using firefoxos.persona.org for forceIssuer?

STR

Apologies this is a little involved to get set up. This will be using a pre-release production stack, and you'll have to point your local DNS at that stack. To do that do:
- git clone git://github.com/jrgm/dnshook.git
- cd dnshook && npm install
- curl https://gist.github.com/jrgm/0acd36a7846a8886428c > config.json
- On o

[2013-06-14 00:50] jaredhirsch commented on #3515
I've repro'd this locally but haven't found the offending code yet. Will finish git bisecting tomorrow.

[2013-06-14 04:19] lookfirst commented on #3514
For what it is worth, we (myself and @stickfigure) have no control over our server time since we are hosted on Google AppEngine. Those servers have been known to not always carry the best time.

[2013-06-14 08:07] shane-tomlinson commented on #3525
@lloyd, @ryanfeeley a mult-line button will require new button graphic resources. As @ryanfeeley said, I'd like to see what we can do by making the text more concise first. That text is fugly.

[2013-06-14 15:27] jedp commented on #3533
It also times out on dev.  Should this even work, though, with the two different persona origins?

[2013-06-14 15:32] jedp commented on #3532
For FirefoxOS, this will require the sign-out capability to be hosted in the dialog itself.

This is a result of b2g's siloing of app data.  The browser tab has no access to any of persona's data (cookies, localStorage).

[2013-06-14 16:55] edwindotcom commented on #3376
I'm going to reopen as primaries are currently enabled

[2013-06-14 17:04] #3522 closed, assigned to jaredhirsch

[2013-06-14 17:22] monicachew commented on #1755
Please use DMARC instead of ADSP. ADSP has no effect if, for example, a phisher decides to send from subdomain.persona.org (which could be nonexistent).

http://www.dmarc.org/index.html

[2013-06-14 17:23] jaredhirsch commented on #3522
This has been deployed to dev.123done.org, and I can load the dialog without problems on my 2.2 handset. @edmoz holler if it's still busted for you.

[2013-06-14 17:37] mattbasta opened #3539 "Re-authentication?"
There are no docs for this that I could find, but we're going to need it in the Marketplace soon: what's the recommended way of having a "Please re-enter your password to perform this action" screen?

For instance, when you add and SSH key to Github, they ask you to re-enter your password. We'd like to do the same thing, but there isn't an apparent way to do it with Persona. Any thoughts?

[2013-06-14 17:41] jaredhirsch opened #3540 "adjust jshint to catch ES3 reserved words"
One of this week's five-star bugs (#3522) was caused by using the ES3 reserved word 'native' as an object property. Android 2.2, our crappiest supported browser, apparently barfs on such words. Not even IE8, our other ES3-era browser, complains about `foo.native`.

It'd be great to sniff out these words as part of our jshint routine. I'm not sure the best approach to take. There's an [open pull re

[2013-06-14 18:07] ozten commented on #3539
I think the original design was that you'd include `forceAuthentication: true` to the request call. I think this landed 2 months ago.

I believe forceAuthentication is being moved to `experimental_forceAuthentication`.

See [Bug#808831](https://bugzilla.mozilla.org/show_bug.cgi?id=808831) and [Bug#811012](https://bugzilla.mozilla.org/show_bug.cgi?id=811012) for reference.

[2013-06-14 18:10] mattbasta commented on #3539
So the steps here are:
- Browser: `navigator.id.request` call with `forceAuthentication`
- Server: Verify the assertion
- Server: Return a one-time use, expiring token to the browser
- Browser: Pass token to the API endpoint of choice to confirm the action

Yes?

[2013-06-14 18:21] ozten commented on #3539
Yes, sounds good.

I'm not up to speed on the design, but that sounds fine. Basically, if a user typed their pin wrong several times, one would set a flag server side to force a full re-authentication via Persona. This flag would not let the user type in a pin, until they had logged in via Persona. Once your servers validated the assertion, one would clear that flag and the user could re-try their

[2013-06-14 18:22] shane-tomlinson commented on #3539
@mattbasta - you'll have to use experimental_forceAuthentication since this is still an experimental feature.

[2013-06-14 18:23] shane-tomlinson commented on #3539
@mattbasta - if experimental_forceAuthentication is what you are looking for, wanna close this down?

[2013-06-14 18:37] mattbasta commented on #3539
Yeah, this is fine. Do you guys have docs somewhere about `forceAuthentication`?

[2013-06-14 18:37] #3539 closed, assigned to nobody

[2013-06-14 18:37] seanmonstar commented on #3540
That sounds solid to me.

[2013-06-14 18:40] shane-tomlinson commented on #3539
@mattbasta - Not yet because it's not quite ready for prime time. It works for Marketplace that uses forceIssuer and primary IdPs are disabled and we can show the password field, but we have not yet figure out how we can surface this to primaries.

[2013-06-14 19:02] jrgm commented on #3522
@edwong when you first filed this issue, you said it was both dev and beta. Neither @6a68 nor I could reproduce this issue on beta (stage). Do you see this on beta.123done.org?

[2013-06-14 19:29] edwindotcom commented on #3522
I've confirmed dev and beta 123done.org now work as expected on android 2.2 stock browser. Thanks!

[2013-06-14 19:32] jaredhirsch commented on #3514
@lookfirst o rly, that's a super interesting datapoint. I wonder if this applies to peeps using Nodejitsu, Heroku, etc.

cc @warner, who is thinking about server clock skew and jwcrypto

[2013-06-14 20:04] #2280 closed, assigned to nobody

[2013-06-15 01:54] fmarier commented on #3521
Currently the Firefox list is generated from the Chromium one, but there is a patch under review to change this and let us add extra entries if we want to: https://bugzilla.mozilla.org/show_bug.cgi?id=861960

[2013-06-15 02:21] jrgm commented on #3521
Random comment, but it seems that if the Chromium STS preload list doesn't wish to be the canonical list for browser vendors who opt in to using it, then there should be some other canonical list (not fragmented per-browser-vendor lists). I mean, it's about https origins (websites) wanting to inform browser vendors that they want HSTS-always treatment.

[2013-06-15 07:04] #3306 closed, assigned to shane-tomlinson

[2013-06-15 19:52] stickfigure commented on #3514
Sorry about the delay - it's been a busy week. Here's the check-assertion for the most recent failure, which was approximately Mon, Jun 10, 2013 at 6:04 PM (pacific):

==== cert ====
issuer: login.persona.org
principal: {"email":"xxxx.xxxxxxxx@gmail.com"}
iat: Fri May 31 2013 17:16:01 GMT-0700 (PDT) (1370045761418)
exp: Sat Jun 01 2013 17:16:01 GMT-0700 (PDT) (1370132161418)
(seeking public key! t

[2013-06-15 20:15] stickfigure commented on #3514
And this one just happened seconds ago:

==== cert ====
issuer: yahoo.login.persona.org
principal: {"email":"xxxxxxxxx@yahoo.com"}
iat: Tue Jun 11 2013 03:03:07 GMT-0700 (PDT) (1370944987306)
exp: Tue Jun 11 2013 03:08:17 GMT-0700 (PDT) (1370945297306)
(seeking public key! trying to fetch .well-known from yahoo.login.persona.org)
(using a median timestamp to ensure no timestamp failure)
cert is pr

[2013-06-15 22:23] stickfigure commented on #3514
More information that might be relevant: We validate the assertion using https://verifier.login.persona.org.

[2013-06-17 04:46] nmalkin commented on #2280
@shane-tomlinson: glad to see a happy ending! :smiley:

[2013-06-17 10:15] shane-tomlinson commented on #3524
@lloyd - I could swear resources were gzipped on ephemeral instances at one point, have I been under a false impression the entire time?

[2013-06-17 10:52] shane-tomlinson commented on #3515
@lloyd - I believe we have always been broken here. We never stored the issuer for a cert along with the cert, and we don't have any explicit tests for this.

The root of the problem is, when we fetch a silent assertion, we do not call addressInfo to check whether the issuer contained in a stored cert is up to date.

[2013-06-17 10:59] shane-tomlinson commented on #3515
@lloyd - We do check for invalid certs with out of date issuers, but only when calling addressInfo.

[2013-06-17 14:01] ryanfeeley commented on #3525
Doing some basic Firebuggery, it looks like the button will support one line break, no? I should confirm with Horlander about visual issues, but the arrow graphic can support it.

[2013-06-17 14:10] ryanfeeley commented on #3525
I turned off no-wrap on the button, wrapped a small tag around the string before the domain, and then un-bolded it. Actual text is for position only.
![button](https://f.cloud.github.com/assets/68213/662522/4fa12d9c-d757-11e2-8e57-a5fe8f7a796a.png)

[2013-06-17 14:13] shane-tomlinson opened #3543 ""﻿﻿Unmatched start:" error thrown in front end unit tests"
From:
dialog/js/misc/state: email_chosen with secondary email, transition_to_secondary (0, 2, 2)Rerun

[2013-06-17 17:21] callahad commented on #3286
I just received another +1 via email:

[2013-06-17 17:49] #3543 closed, assigned to shane-tomlinson

[2013-06-17 17:57] edwindotcom commented on #3536
from conversation with lloyd and jrgm: firefoxos.personatest.org is not acting as a verifier here.  Force issuer inserts that value in localStorage.  jrgm has confirmed that the server has no updates from marketplace.  Lloyd is going to contact marketplace that we're pushing this train soon and to be aware of the situation.

[2013-06-17 17:59] edwindotcom commented on #3530
a few met and discussed, currently the belief is that updating the 'type' field's worst impact is adding one screen to the user experience when someone is switching between b2g and desktop.

[2013-06-17 20:13] callahad commented on #3286
Here's a set of mock-ups from shorlander of where we might be able to go:

![persona-popup-revamp-i01-sheet-01](https://f.cloud.github.com/assets/24193/664653/36476cca-d78a-11e2-852e-441b4131296a.png)

To quote Rob Lord, we should be looking at making Persona a secondary brand, like "Visa." It's how things work, and it makes things work better, but it's not trying to get between you / your bank /

[2013-06-17 20:31] Mathnerd314 opened #3546 "Be more lenient on email adresses"
GMail ignores all .'s in the address, so both of the following will go to the same address:
example@gmail.com
exa.mple@gmail.com

But the following will as well:
.example@gmail.com
example...@gmail.com
example..example@gmail.com

The above do not match the dot-address form specified by RFC 5322 and (I would guess for that reason) are rejected when attempting to sign up. (And due to #3000 in a rath

[2013-06-17 20:36] callahad commented on #3546
I believe we're currently tracking the [HTML5 email format](http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29), which is "a willful violation of RFC 5322."

The reference regex in that spec _does_ match the example addresses:

[code]

Which tells me that we should probably be accepting these.

[2013-06-17 21:44] r0bl0rd commented on #3286
Thanks @callahad. The Visa analogy is very instructive.

FWIW, as mentioned at Identity Staff on June 17th, 2013 wrt to Persona branding being akin to VISA International's, that is, as a secondary or ingredient brand. If you think "ingredient" may mean less impact, consider the VISA International story.

Dee Hock's VISA International is a poignant philosophical and entrepreneurial success story th

[2013-06-18 00:12] beltzner commented on #3286
Those mockups are great, but as I think I may have suggested in here earlier they are still too "Persona" centric. The window title, top and bottom banners and text is all about "Persona" as opposed to the site you're logging in to. The eye scans top-left to bottom (RTL and Asia aside) and so those parts of the UI should carry the primary message of "Authenticate with SITENAME" and "Powered by Moz

[2013-06-18 00:38] jrgm opened #3547 "investigate cache headers on /sign_in"
There were reports of people getting 404 for content from static.login.persona.org, such as me, jedp and ednapirana.

ednapirana's url was https://static.login.persona.org/v/f915b0aa15/production/en/dialog.css.

That would be a correct url on the train-2013.04.26 release. (Production was updated to train-2013.05.22 at 2:30pm PDT today).

[code]

But the /sign_in dialog is served with `Cache-Contro

[2013-06-18 01:04] shorlander commented on #3286
Just to add some context to those mockups: the intent was a way to quickly improve the the RP branding without a massive overhaul of the popup layout. The middle column being my preferred option as it has the most emphasis on the RP branding and the least emphasis on the Persona branding while still retaining roughly the same layout.

If instead we are talking about "fixing" the popup I agree that

[2013-06-18 01:07] beltzner commented on #3286
Shorlander, I didn't think it would be possible, but I love you a little
bit more right now than I did just a moment ago.

On Mon, Jun 17, 2013 at 9:04 PM, Stephen Horlander <notifications@github.com

[2013-06-18 07:25] jrgm opened #3548 "[IE8][current-dev] exception in qunit test and failure in automation-tests (use of Array.prototype.indexOf methinks)"
So, I'd got the automation-tests all green for IE8 against train-2013.06.05 on the weekend (in a non-optimal way, but...). Anyways, went back to retest my fix on dev and the tests were now throwing a JS Error with IE8. Running the qunit tests with debug on pointed me to probably this, where transitionStates is an Array and the code uses .indexOf().

https://github.com/shane-tomlinson/browserid/com

[2013-06-18 08:00] jrgm commented on #3547
Perhaps we should add 'must-revalidate' to 'cache-control', since we really want the GET under all circumstances.

Mark Nottingham in http://www.mnot.net/cache_docs/

[code]

Relevant edge case (but have no data that shows this applies to the problems we saw, but...) http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec13.8 second paragraph.

[2013-06-18 08:14] jrgm commented on #3547
mnot's redbot elaborates some more - http://redbot.org/?uri=https%3A%2F%2Flogin.persona.org%2Fsign_in

(Still I don't know if unreachable or 5xx applies here without log data, but...)

[2013-06-18 13:36] shane-tomlinson opened #3550 "/wsapi/addressInfo returns `state: "transition_to_secondary"` after primary address is verfiied as a secondary"
It is marked as "transition_to_secondary" until the user has called /wsapi/cert_key.

This causes the fix for #3515 to go through some extra hoops.

STR)

1) Open local dev RP
2) Create new Persona account using example.domain
3) Disable example.domain primary support (add `"disabled": true` into .well-known/browserid)
4) Restart server
5) Open local dev RP
6) Open dialog, select address from #2
7

[2013-06-18 13:38] shane-tomlinson opened #3551 "cannot complete "transition_to_secondary" upgrade."
STR)

1) Open local dev RP
2) Create new Persona account using a secondary address.
3) Add a primary address to account using example.domain
4) Disable example.domain primary support (add "disabled": true into .well-known/browserid)
5) Restart server
6) Open local dev RP
7) Open dialog, select address from step 3
8) Enter in password
9) Enter in password
10) Enter in password
(you get the picture)

[2013-06-18 14:17] ryanfeeley commented on #3286
Taking this to the extreme, what about providing a 100% style-able UI? Email newsletter services offer thing kind of control over newsletter signup forms. Will help mitigate the downside of Persona where the login needs to happen in a new window (or depending on browser settings, a full width tab).

[2013-06-18 15:19] beltzner commented on #3286
Originally this ticket was requesting "white labeling" and that was morphed because it was felt that the trust relationship needs to be clear, and so that users understand that they're using a single authentication instead of multiple passwords. I think that reasoning still stands.

I do agree that having the ability to style more of the UI is a worthy exploration, but suspect we'd want some consi

[2013-06-18 16:57] nickdesaulniers opened #3553 "Unable to sign into Firefox Marketplace"
See [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=884408) in bugzilla.

[2013-06-18 17:04] jedp commented on #3553
This is a known issue.  Marketplace has fixed it on dev.  We understood yesterday that they were pushing the change to Marketplace stage and prod as well, and that they did not need any action from us.

[2013-06-18 17:04] #3553 closed, assigned to nobody

[2013-06-18 20:41] #3548 closed, assigned to shane-tomlinson

[2013-06-18 23:49] jrgm commented on #3466
I was running selenium with IE8 (after repairing the tests for IE8) and had some failures. Saw the error icon, so ran the tests again and got lucky is seeing it in a live test with this message. The occassionally failing test was new-user-secondary-test and the error happens after the username and passwords have been submitted and the dialog transitions to the polling state.

[2013-06-18 23:50] jrgm commented on #3466
The tests were running against stage which is now the train-2013.06.05

[2013-06-19 01:28] jrgm commented on #3466
To clarify, by "this message" I mean "module not started for check_registration".

[2013-06-19 10:56] djc commented on #3286
I think the compact dialogs would be a great improvement, particularly the second and third rows.

[2013-06-19 10:58] shane-tomlinson commented on #3286
@djc - As an incremental step, we are going to implement column two of https://github.com/mozilla/browserid/issues/3286#issuecomment-19571397

[2013-06-19 12:36] djc opened #3555 "Add an npm repository field"
When running my first `npm install`, I get a warning:

`npm WARN package.json browserid@1.0.0-b1 No repository field.`

[2013-06-19 15:50] robhudson opened #3557 "User with many accounts, easy to miss the "Sign in" button"
The following is my Persona account window. On Mac, with hidden scrollbars, it's very easy to miss the fact that there's a "Sign in" button below. It's also not obvious where to scroll to find it. It took me by surprise the first time this happened and I was looking where to click to make the sign in "go" before I realized I needed to scroll down.

![persona-many-accounts](https://f.cloud.github.c

[2013-06-19 15:51] jedp opened #3558 "[b2g] Signing into persona.org from FirefoxOS immediately signs out again"
Sorry, I'm pretty sure this is a dupe, but I can't find the other issue.

I think the problem is that the persona.org site looks for your login state in localStorage, but on FirefoxOS, that localStorage is far away in the system app.  (It's the siloing of data again)

[2013-06-19 16:00] shane-tomlinson commented on #3557
Thanks for the submission @robhudson - Closing as a dup of #3266, can you pile on over there?

[2013-06-19 16:00] #3557 closed, assigned to nobody

[2013-06-19 16:07] edwindotcom commented on #3266
what if  you scrolled the list so the buttons show at the very least?

[2013-06-19 16:19] jedp opened #3559 "[b2g] When wrong password is entered, no error is displayed"
(Reported by @kumar303)

Entering an incorrect password on FirefoxOS does not display an error.  A small triangle is visible, apparently part of a tooltip, but no tooltip itself can be seen.

(The page does function properly, in that it won't let you past with the incorrect password.  Retyping the password correctly allows the user to login.  So this is probably not a logic bug.)

[2013-06-19 16:23] kumar303 commented on #3559
This is more or less what the screen looks like:

![2013-06-19-11-11-33](https://f.cloud.github.com/assets/55398/675932/6bc2e190-d8fc-11e2-9cde-00f22f0bfb8a.png)

The screenshot didn't capture the small triangle but that's all I saw, no tooltip and no error message. Pressing the signin button essentially did nothing until I entered the correct password.

[2013-06-19 17:18] edwindotcom opened #3560 "signing in with gmail.com acct on stage results in 'gmail is not responding dialog'"
1. sign into beta.123done.org using a user@gmail.com acct

result:
gmail.com is not responding. Please wait a few minutes and try again.

expected - normal secondary fallback email verification

![screen shot 2013-06-19 at 10 17 19 am](https://f.cloud.github.com/assets/3698618/676365/432136d0-d904-11e2-897d-afea5b526c75.png)

[2013-06-19 17:21] edwindotcom commented on #3560
this is where we're at with the gmail-bigtent deploy.  You should only get gmail-bigtent if you use dnshook to point to a specific the AWS stack, it looks like we're stuck somewhere in between
https://bugzilla.mozilla.org/show_bug.cgi?id=884483

[2013-06-19 17:23] edwindotcom commented on #3560
I've confirmed this does not happen on production.

[2013-06-19 17:57] #3555 closed, assigned to nobody

[2013-06-19 18:26] #3551 closed, assigned to shane-tomlinson

[2013-06-19 18:40] jrgm commented on #3155
Oh, bleh. This really should be fixed. It's an terrible and confusing user experience. The user is stuck in a loop that suggests they might eventually get somewhere, but the never can.

[2013-06-19 19:21] jrgm commented on #3560
oh, heh. In stage, because the gmail ministack is sharing the same stage database with the regular stage stack, gmail.com is listed in browserid.idp table. So a request from address_info returns

[code]

[2013-06-19 19:30] jrgm commented on #3560
Although, if I use an gmail.com address that has not been used before, I get

[code]

So I get the fallback Idp treatment (prompt for a fallback password twice).

[2013-06-19 19:34] jrgm commented on #3560
And then if I follow through with entering passwords, then loading the email in the same browser I get this error, which is GH-3466

[code]

[2013-06-19 19:35] seanmonstar commented on #3560
So, a new user who shows up while an idp is `offline` can sidestep the idp and use the fallback. That seems like a bug.

[2013-06-19 19:40] quack1 commented on #2932
@ozten I have a (dummy) question. I have write some code to do the first two steps, but how can I test it locally ? I mean, without hacking all the code to make it use my function to know which server contact.

I would like to only start "this" function... I wrote a sample test file but it doesn't look like it works well either.. (BTW, I'm quite a noob with Node.js).

lib/google_apps_discovery.js

[2013-06-19 19:41] jrgm commented on #3466
I saw this again in GH-3560. It's seems this may have become easier to hit. I'm raising this to 5-star for investigation.

[2013-06-19 19:42] jrgm commented on #3560
It's a bit of an odd situation, since gmail.com isn't really an idp, and the stage stack is not configured to short circuit that domain as a proxy_idp, so...

[2013-06-19 19:47] jrgm commented on #3560
@seanmonstar so, I'll leave you to ponder whether this is a real bug or a configuration paradox. For purposes of getting stage in working order, I could manually hack configuration on stage to set proxy_idps: to list the gmail domains. Thoughts?

[2013-06-19 21:19] jaredhirsch commented on #3466
looking now

[2013-06-19 22:53] jaredhirsch commented on #3466
Well, been at it for 90 minutes or so, here's what I've traced thus far.

The failure screen is triggered when the function call [in check_registration#startCheck](https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/js/modules/check_registration.js#L47-L52) fires its errback:

[code]

That's a dynamic function call, it's a bit much to unpack. But note that the basic deal is, we'r

[2013-06-19 22:56] mattbasta opened #3561 "Lots of cancelled network requests in Chrome (from prefetches)"
Looks like the `<link rel="prefetch">` tags in the head of the communication iframe are causing quite a bit of console noise:

http://cl.ly/image/3v3E0I0Z2G2L

I don't know how you're generating the iframe, but perhaps the iframe is being generated twice and the first one is destroyed before any of the requests can be made? (I'm just speculating)

[2013-06-19 22:59] jaredhirsch commented on #3466
Funny how writing things up makes sense of stuff. We [only let one service run at a time](https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/js/modules/actions.js#L22-L25), so if another service starts asynchronously, then check_registration tries to `stop` and is already stopped, there's our error.

[2013-06-19 22:59] vladikoff commented on #3561
Some notes on this at  http://stackoverflow.com/a/13459106/216672

[2013-06-19 23:58] cmcavoy opened #3562 "User is being rejected using FF 21"
A user signing up for backpack.openbadges.org is getting this message,

![screen shot 2013-04-08 at 2 33 51 pm](https://f.cloud.github.com/assets/64711/678574/07a341a6-d93c-11e2-92a2-a7ced8d97690.png)

Anything I should ask him to troubleshoot?

[2013-06-20 00:01] mattbasta opened #3563 "[b2g][request] A URL which clears localStorage/cookies for the Persona origin"
Currently the way QA and devs are clearing cookies and `localStorage` for FXOS devices is to flash the phone. It would be simple enough to have a URL on the Persona domain which simply blew out `localStorage` and `document.cookie`.

[2013-06-20 00:01] mattbasta commented on #3563
This would also unblock a lot of geeksphone users who have bunk data in localStorage.

[2013-06-20 00:09] seanmonstar commented on #3563
Unfortunately, on FxOS devices, the dialog lives in the system app, which has it's own cookie jar and storage. Going to a URL in the browser, even though it could wipe cookie and localstorage, wouldn't affect the dialog in the TrustedUI...

[2013-06-20 00:19] mattbasta commented on #3563
What is the solution here, then, short of flashing the phones?

[2013-06-20 00:54] jaredhirsch commented on #3466
@jrgm I'm stumped. @seanmonstar took a look as well, but this one needs a stack trace for further digging.

I'm not sure how to proceed, it's a weird one:

![](http://media1.giphy.com/media/3VmNQvngIrTRC/original.gif)

reassigning to you, do as you will with't.

[2013-06-20 01:01] seanmonstar opened #3564 "Using a never-seen-before email while IdP is offline uses Fallback IdP"
1. Take an IdP that Persona has seen, and put it offline.
2. Use an email address never seen before by Persona but comes from said IdP to sign in with Persona
3. Notice that you are prompted to create password.

If you use an email from the same IdP that has previsouly been used with Persona, you'll correctly be told that the IdP is offline currently.

[2013-06-20 01:10] lloyd commented on #3564
Is this a regression?

Sean McArthur notifications@github.com wrote:
1. Take an IdP that Persona has seen, and put it offline.
2. Use an email address never seen before by Persona but comes from said IdP to sign in with Persona
3. Notice that you are prompted to create password.

If you use an email from the same IdP that has previsouly been used with Persona, you'll correctly be told that the IdP

[2013-06-20 01:12] seanmonstar commented on #3564
My quick looking suggests its because of this line: https://github.com/mozilla/browserid/blob/dev/lib/wsapi/address_info.js#L199

With the IdP being offline, the `primary.checkSupport` check says it's a secondary, and since it's unknown, it doesn't manage to do the check below of `isSecondary and seendRecently` to set the `state` to `offline`.

[2013-06-20 01:13] seanmonstar commented on #3564
I don't think it's a regression, since that `address_info` hasn't changed in a while...

[2013-06-20 01:21] lloyd commented on #3564
Great candidate for an automated test...  Then states is tricky and rarely exercised.  Fantastic find!

Sean McArthur notifications@github.com wrote:

I don't think it's a regression, since that `address_info` hasn't changed in a while...

---

Reply to this email directly or view it on GitHub:
https://github.com/mozilla/browserid/issues/3564#issuecomment-19725484

[2013-06-20 01:35] jedp commented on #3563
I've wanted this forever.  I had a bug open here for identity/marketplace tracking: https://bugzilla.mozilla.org/show_bug.cgi?id=823566 ... but i see the bug that blocked has been resolved invalid.

Shall we re-file that bug for gaia core?

[2013-06-20 02:13] callahad commented on #3562
@cmcavoy Please let us know what the result of this page is: http://lloyd.github.io/persona-troubleshoot/troubleshoot.html

[2013-06-20 03:33] mattbasta commented on #3563
Yes, definitely. I'd really like to see a version which can be triggered by the user, as well. Right now for instance, Geeksphone owners can't purchase apps on the marketplace due to an invalid issuer error, but it's because we can't clear their localStorage because the data is not on our origin :(

Perhaps we can add some sort of code to the Trusted UI which can be triggered externally? Maybe an

[2013-06-20 05:18] jedp commented on #3563
I think i heard that clearing bookmarks (is it bookmarks?) in the preferences actually has the effect of removing this data?  At least local storage.  We'd still have http-only cookies.  If this is true, then we could reasonably request a more obvious gaia interface for this.

[2013-06-20 07:46] shane-tomlinson commented on #3155
@jrgm - this should be a straight forward fix. Assigning to me.

[2013-06-20 08:14] jrgm commented on #3466
Yeah, not sure what to do here (I don't have reliable STR, and don't know how much it happens in the wild, but I've bumped into enough that there is likely real user impact).

[2013-06-20 11:54] shane-tomlinson commented on #3466
@6a68 - There is a bug in startService that could be contributing to this.

If startService is invoked, it shuts down the previous service and attempts to start the next service. If the next service cannot be found, the reference to runningService is still set to the just shut down service.

This implies that check_registration is shut down, then the next service cannot be found. check_registratio

[2013-06-20 13:10] jedp opened #3566 "[b2g] When 6/5 train goes live, primaries will still fail on FirefoxOS"
@shane-tomlinson has a fix for primary lookup in the 6/5 train, which will go into production next week.

However, we still expect primary delegation to fail (time out).  This is because the FirefoxOS devices are wired to source Persona's internal api from `firefoxos.persona.org`, which is a CNAME for `login.persona.org`.  The primaries will include our api directly from `login.persona.org`.  So e

[2013-06-20 16:08] jedp opened #3568 "[b2g] "OK" button on Error page does not send cancel event"
On this provisioning timeout, I click the OK button.  The trusted ui closes, but the RP has not received a cancel event.

We may already have fixed this and our fix hasn't been pushed to the 1.1 builds yet.  Opening this bug to track while I find out.

![2013-06-20-09-04-33](https://f.cloud.github.com/assets/532953/682223/4f3bbeda-d9c3-11e2-9199-4be809a99b41.png)