[2011-10-07 17:05] lloyd commented on #6
this is a duplicate of other issues.  we'll address this with faster keygen and if that doesn't work we will duke this out with @benadida

[2011-10-07 17:05] #6 closed, assigned to lloyd

[2011-10-07 17:19] #14 closed, assigned to lloyd

[2011-10-07 17:33] benadida commented on #244
@lloyd suggests looking at a 3-4 line fix that would yield to render thread during keygen.

@shane-tomlinson suggests looking at Array creation and push as ways to make things faster.

[2011-10-07 17:37] lloyd opened #370 "browserid development dashboard"
we should have a page that gives us, at a glance, a view of current development, open issues, etc.

[2011-10-07 18:13] lloyd commented on #370
it's suggested by @benadida that we have some view which lets you understand which devs are drowning in issues.  we need to be creative in a very fast/low cost way to display this.  it could be something like a score which considers closed issues in the last two weeks, new issues in the same period, and total open bugs.

[2011-10-08 00:43] benadida commented on #244
agreed-on next steps with @lloyd:
- no rewrite of existing library to be async, too complicated.
- make jwcrypto API async
- look into integrating http://ats.oka.nu/titaniumcore/js/crypto/readme.txt
- consider server-generated keys in some cases.

[2011-10-10 04:59] tonychung opened #390 "not well-formed script error on login popup"
The following error is thrown when clicking Sign-in:

Error: not well-formed
Source File: https://diresworb.org/wsapi/session_context
Line: 1, Column: 1
Source Code:
{"csrf_token":"50cb4de043d169c4146cd5c727e80727","server_time":1318222634807,"authenticated":false}

Repro:
1) goto beta.myfavoritebeer.org
2) Click Sign-in
3) when sign in popup window full loads, verify script error in Error Console

[2011-10-10 16:14] lloyd opened #391 "metrics logging should use real remote ip"
currently our metrics logs are logging a buncha traffic from 127.0.0.1 addresses, this is traffic that comes from the nginx server.  instead we should use the 'X-Real-IP' header if present.

[2011-10-10 18:00] #391 closed, assigned to lloyd

[2011-10-10 18:03] lloyd commented on #391
fix confirmed on dev.  will roll with train-2011.10.13, in production on 2011.10.20

[2011-10-11 07:14] ghost commented on #314
This issue reproduces on Firefox (6.0, 7.0.1) on multiple OSs (Win XP, Win 7, Mac 10.6, Android). It works fine on IE9.

[2011-10-11 08:14] shane-tomlinson commented on #262
Closing this issue as taken care of in the UX redesign.

[2011-10-11 08:14] #262 closed, assigned to nobody

[2011-10-11 08:18] shane-tomlinson opened #399 "Improve the user experience during key generation (progress bar, lock overlap)."
This needs UX input.

@lloyd suggests a progress indicator.
@jbonacci notes the delay in #397.
@michaelrhanson notes the lock overlap of the site text in #366.

[2011-10-11 08:19] shane-tomlinson commented on #366
#399 is to improve the user experience during key generation.

[2011-10-11 08:19] #366 closed, assigned to lloyd

[2011-10-11 09:02] shane-tomlinson opened #400 "browserid-network, browserid-identities, storage could use a coherent refactor"
The abstractions in these three are not very good and could use a mild refactor to bring coherence.  browserid-identities should be renamed to user, storage needs to be made more coherent, browserid-network could be renamed to network.

This should be done in flow along with other development.  This issue is a placeholder to make sure that it gets done.

[2011-10-11 09:09] ghost opened #401 "The Signing in dialog hangs until the user manually closes it when trying to log in to a deleted email"
Environment:
Win 7 + IE9
Mac 10.6 + Firefox 7.0.1

STR:
1. Open http://beta.myfavoritebeer.org.
2. Click on the sign in button, enter an email and a password and log in.
3. After the dialog with the list of emails is displayed, load "https://diresworb.org" in another tab/window.
4. Sign in with the same account on diresworb.org and delete an email associated to it.
5. Go back to the dialog with th

[2011-10-11 09:25] ghost commented on #323
The case when the user tries to reset the password for an email not registered with BrowserID should also be considered:

STR:
1. Go to "https://diresworb.org".
2. Click on the "forgot your password?" link.
3. Enter an email address that is not associated BrowserID.
4. Click on the "reset password" button.

Expected Results:
 An error message is displayed letting the user know that his email addre

[2011-10-11 09:34] ghost opened #402 "https://diresworb.org/about should contain the sign up and adding emails processes"
OSs: All
Browsers: All

STR:
1. Go to "https://diresworb.org/about" (can be opened from the "Take the tour" and "How it works" links on the server and the "learn more" link from the client).

This page should also contain the sign up and adding emails processes. The current information on it leaves the user wondering how his email addresses can get in the "Sign in using" section.

A user that only

[2011-10-11 09:46] ghost opened #403 "The "This is not me" and "Use a different email" links should be rearranged on the Signing in dialog"
OS: All
Browser: All

STR:
1. Open http://beta.myfavoritebeer.org.
2. Click on the Sign in button.
3. Enter and email address and a password on sign in.
4. Observe the dialog with the list of emails.

The "This is not me" and "Use a different email" links:
- could be larger
- should be displayed closer to the line separating the footer from the rest of the page
- should the aligned with the email

[2011-10-11 09:52] ghost opened #404 "The user should be warned that he is canceling his BrowserID account when removing the last email"
OS: All
Browser: All

STR:
1. Go to http://diresworb.org and sign in.
2. Click on the "edit" button, then remove all the email addresses listed on the page.

The "Remove svtester123@gmail.com from your BrowserID?" message is displayed for all the email addresses. When trying to remove the last email, the user should be warned that he is canceling his account.

[2011-10-11 10:21] shane-tomlinson commented on #404
Duplicate of #394 and #252, closing.

[2011-10-11 10:21] #404 closed, assigned to shane-tomlinson

[2011-10-11 10:48] shane-tomlinson commented on #400
Started on the work for browserid-identities and the renaming of files for clarity in e058aa5d557105bc08fbcfa1606689c460624435, 40c0ff19598869ccb6697d013f22313fe2d1784b, 02c5d421af576effb8297155ea53626d15036c3d, 49a850733c8eef078fd6a0788e4477fc29ccb5cc, 5e660fc76e06db73c58ab883784a7c640e7dbf99, dd9bc785a402785c62e5bd5f938f1c0ae485e961, and 5bcdf34ab71884b6bebc94fbd65aeb03b3aec4b7.

[2011-10-11 10:54] shane-tomlinson commented on #194
@jbonacci - we no longer have a distinct manage page, though we probably should.

[2011-10-11 10:55] shane-tomlinson commented on #190
@jbonacci - from the dialog it has not, we had a discussion about this and the overall comment was "it seems strange to hit a sign in button to sign out of browserid" and the conclusion was that sign out should probably be part of the manage page?  Could use some UX love with this.

[2011-10-11 10:55] shane-tomlinson commented on #161
@jbonacci - we just have no "cancel account" at the moment.

[2011-10-11 10:57] shane-tomlinson opened #405 "there is no cancel account link in new UX."

[2011-10-11 10:58] shane-tomlinson commented on #190
@jbonacci - there is an explicit way to sign out using the main site, just not in the dialog.  In the dialog it is the "this is not me" link.

[2011-10-11 11:02] #405 closed, assigned to shane-tomlinson

[2011-10-11 11:26] ghost opened #406 "Pressing Ctrl+C with the email field focused returns the user to a previous BrowserID Signing in dialog"
OS: Windows 7
Browser: Firefox 7.0.1, IE9, Chrome 14.0.835.202

STR:
1. Load http://beta.myfavoritebeer.org in a browser.
2. Click on the "Sign in" button.
3. Enter an email address and click on the "next" button.
4. Click in the email field and press Ctrl+C.

The dialog returns to the previous page, where the user entered the email and clicked "next". This behavior makes sense when the uses press

[2011-10-11 11:28] shane-tomlinson commented on #406
@ioanab - great find.

[2011-10-11 11:29] shane-tomlinson commented on #252
0187e21638c4e277c21246425338c9333cccd1e5 takes care of asking the user if they would like to close their account on the last email deletion, but it does not take into account primaries.

[2011-10-11 11:30] shane-tomlinson opened #407 "static site needs unit & functional tests."

[2011-10-11 11:31] shane-tomlinson opened #408 "Individual controllers need unit/functional tests."

[2011-10-11 11:35] ghost commented on #406
thank you, @shane

More cases this behavior reproduces and it shouldn't:
1. The user presses Ctrl+X without having selected anything (in this case the email address is not modified so the current behavior doesn't make sense).
2. The user presses Ctrl+V without any data to be pasted (the email address is not modified in this case either).

[2011-10-11 11:41] ghost commented on #108
There is still a case with the new UI where the email should persist:
1. Open https://diresworb.org/signup.
2. Enter an email address already associated to BrowserID.
3. Click on the "Verify email" button.
4. Click on the "sign in" link in the "<email> is already registered. Would you like to sign in instead?" message.

[2011-10-11 11:46] ghost opened #409 "The diresworb.org "remove" buttons are clipped on the right side on Android phones"
Device: Motorola Droid2
Android versions: 2.3.3
Browser: Firefox 7.0.1

STR:
1. Load https://diresworb.org in Firefox and sign in.
2. Click on the "edit" button.

The "remove" buttons are clipped in the right side: the last "e" from "remove" is missing together with the button margin.

[2011-10-11 11:55] shane-tomlinson opened #410 "add email screen jumps vertically from pick email screen."
A little nit, but an annoyance.

[2011-10-11 11:55] ghost opened #411 "The background of the email removing confirmation pop-up message doesn't match the rest of the client"
Phone: Motorola Droid2; Android version: 2.3.3; browser: Firefox 7.0.1
Tablet: Acer A500; Android version; 3.2; browser: stock

STR:
1. Load https://diresworb.org/ in the browser and sign in.
2. Click on the "edit" button.
3. Click on the "remove" button displayed next to an email address.
4. Observe the displayed confirmation pop-up.

The background of the confirmation pop-up message is black whi

[2011-10-11 12:00] shane-tomlinson opened #412 "Should be able hit "enter" key to select address when only one email is shown."

[2011-10-11 12:02] ghost opened #413 "There should be a "Home" button/link that would allow the user to return from Privacy/TOS to the Account Manager page"
OS: All
Browser: All

STR:
1. Load https://diresworb.org/ in the browser and sign in.
2. Click on the "Privacy" (or "TOS") link at the bottom of the page.

The user can only return to the Account Manager by deleting the "privacy" string from the URL. There should be a "Home" button/link that would allow the user to return to the Account Manager page.

[2011-10-11 12:06] ghost opened #414 "When the user clicks on the BrowserID confirmation link from a yahoo mail inbox, the diresworb.org page is loaded in the same tab"
Device: Acer A500 (tablet)
Android version: 3.2
Browser: stock

When the user click on the BrowserID confirmation link from a yahoo mail inbox, the diresworb.org page is loaded in the same tab (over yahoo mail). This issue doesn't reproduce on other browsers nor on non-Android OSs.

[2011-10-11 12:22] ghost commented on #341
@shane-tomlinson - here are some more UI changes that need to be done for mobile:
1. on diresworb.org, the BrowserID image should be moved to the right of the "Connect with..." text, as on desktop (more efficient use of space, less scrolling).
2. footers should be at the bottom of the page no matter how large or small the page content is (on most Signing in pages/dialogs it occupies somewhere arou

[2011-10-11 12:41] #412 closed, assigned to shane-tomlinson

[2011-10-11 13:13] shane-tomlinson commented on #413
The "BrowserID" button at the top does this, but I see the value in this.  Could use use the page's Referrer header to determine whether the user came from the main page and give a back button accordingly?  I know the Referrer header is frequently stripped, but it is one way of remembering. A potential problem is how we would handle Main->TOS->Privacy, at which point we would have to keep multiple

[2011-10-11 13:34] shane-tomlinson commented on #414
@lloyd, when I look at the email at mailinator, the email has a target="_blank" on it, which should be fine, is this the case for all email providers or has mailinator added this?

[2011-10-11 16:41] #410 closed, assigned to shane-tomlinson

[2011-10-11 16:53] shane-tomlinson commented on #409
this affects iOS as well.

[2011-10-11 16:59] #409 closed, assigned to nobody

[2011-10-11 17:01] shane-tomlinson commented on #411
@ioanab - we are using the browser native "confirm", which causes this.

[2011-10-11 17:02] shane-tomlinson commented on #411
do we want to change the behavior of these confirmations so that we use some home grown solution or should we keep the browser native confirm dialogs?

[2011-10-11 17:13] shane-tomlinson commented on #390
@lloyd, I can verify this, but it does not seem to affect usability.

What I am trying in the javascript console is to take the above string and run it through JSON.parse, take the result of that and run it through JSON.stringify, which gives a different string all together.

`JSON.stringify(JSON.parse('{"csrf_token":"50cb4de043d169c4146cd5c727e80727","server_time":1318222634807,"authenticated":fa

[2011-10-11 17:16] shane-tomlinson commented on #413
@jbonacci - there should not be any difference whether the user is logged in or not.

[2011-10-11 17:28] shane-tomlinson commented on #413
Reference issue #380

[2011-10-11 17:47] #194 closed, assigned to lloyd

[2011-10-11 17:57] #190 closed, assigned to nobody

[2011-10-11 18:00] #161 closed, assigned to shane-tomlinson

[2011-10-11 18:02] lloyd commented on #216
this is fixed now that csrf is session_context and returns a proper object.

[2011-10-11 18:02] #216 closed, assigned to shane-tomlinson

[2011-10-11 18:15] #390 closed, assigned to lloyd

[2011-10-11 20:23] #217 closed, assigned to nobody

[2011-10-11 20:23] #325 closed, assigned to lloyd

[2011-10-11 20:24] lloyd opened #415 "front end tests are failing in dev"
https://dev.diresworb.org/dialog/qunit.html

user module: syncEmailKeypair with successful sync (2, 0, 2)

[2011-10-11 20:39] #415 closed, assigned to nobody

[2011-10-11 21:13] benadida commented on #117
reviewing connect-cookie-session:
- not super happy about overriding of res.writeHead, seems unnecessary. Why not just setHeader?
- cookie is signed, but not encrypted. For now, this isn't a serious problem, but it might eventually become a problem if our code forgets this assumption. Move to encrypted?
- no tests :(
- no logging when invalid signature on cookie.

[2011-10-11 22:18] tj commented on #117
I'd like to get a cookie store back in Connect core at some time too, I'll let you know if/when that happens. It took quite a while for node to get a header manipulation API, core ppl didn't think we needed it so the writeHead thing might have been due to that old limitation.

[2011-10-11 22:19] benadida opened #416 "encrypt cookie content"
right now cookie-sessions have integrity protection, not confidentiality. We should encrypt them.

[2011-10-11 22:20] benadida commented on #117
added some tests that pound on connect-cookie-session a bit in 7e99da8faa173f8cb27545f0717a44c7545b7e1d

added issue #416 to track cookie encryption.

As for this issue, I believe it is good to go, I'm happy with this module.

[2011-10-11 22:20] #117 closed, assigned to nobody

[2011-10-11 22:33] clarkbw commented on #273
OK, instead of a dialog I want to use the center space for our error messages.
http://cl.ly/2h453W2r0E2d460M2D21

The important thing here is to decide what we want our users to be able to do.  We can say "IE doesn't work" but we should explain why and what they _could_ do to actually sign in, like use Firefox.

It would be great to have a breakdown of the various browser support situations on a w

[2011-10-11 22:40] lloyd commented on #416
/cc @lloyd

[2011-10-11 23:34] #204 closed, assigned to lloyd

[2011-10-11 23:41] clarkbw commented on #399
hmm, it would be nice to not have a progress bar at all.  What I read from #397 was that we need to generate the key once a person clicks the sign in button and this could take some time on certain platforms like phones/tablets.  Assuming there's no way to get this done in the background I think should go with a progress bar and likely some kind of indication of the average time required for longe

[2011-10-11 23:57] lloyd commented on #76
done: https://github.com/mozilla/browserid/wiki/BrowserID-Libraries  (thanks @benadida)

[2011-10-11 23:57] #76 closed, assigned to lloyd

[2011-10-12 00:15] lloyd commented on #399
maybe for now a simple infinite progress bar?  The time and location of the delay will change significantly over the next several weeks as we fiddle crypto code, so I'd suggest to least work possible to visually suggest to the user that work is being done, and this thing isn't stuck :)

[2011-10-12 00:36] benadida commented on #244
jwcrypto now has asynchronous interfaces for keygen and signing. Now exploring the titaniumcore library to see if it can be used without performance degradation.

[2011-10-12 07:45] ghost commented on #413
@jbonacci, @shane-tomlinson - the "BrowserID" button is all grayed out so the user might not think it's actually a button, but suppose from the start it's just an image (as I did at first). In this case, when the user is signed out, the Sign in link gets him on the Home page. When the user is signed in, the Sign in link becomes "Sign out" so the user may not see any obvious ways to get back to the

[2011-10-12 17:50] lloyd commented on #214
https://bugzilla.mozilla.org/show_bug.cgi?id=694073

[2011-10-12 19:03] lloyd commented on #214
5d0d422252a6221c17622f169a4fb267161fb0c2 adds required code changes.

[2011-10-13 16:01] benadida commented on #272
this appears to be entirely subsumed by #214, I'm going to aggressively close

[2011-10-13 16:01] #272 closed, assigned to nobody

[2011-10-13 16:48] lloyd commented on #414
we will probably address this when we improve the email that is sent (html+plain text)

[2011-10-13 16:50] lloyd commented on #413
bryan, can you suggest how we can make it more obvious the the BrowserID logo at the top will take you back?  or should we add a back link?

[2011-10-13 16:55] lloyd commented on #402
the current about page is a place holder until dan gets off his butt and does the screen cast, which will make it better.

[2011-10-13 16:55] #402 closed, assigned to nobody

[2011-10-13 20:19] lloyd commented on #214
fixed!  beta and dev are now on socketlabs for delivery.  prod is already configured with params in the env, when we push out train 2011.10.13 the code will look for and use these env vars.

documented on mana: https://mana.mozilla.org/wiki/display/websites/browserid.org

[2011-10-13 20:19] #214 closed, assigned to lloyd

[2011-10-13 20:20] lloyd commented on #272
fixed in dev and beta.

[2011-10-13 22:31] michelleluna opened #420 "missing word on thank you page"
Hi,

There is a missing word on the thank you page as follows:

"Thank you signing up BrowserID"
                  ^

-Michelle
SUMO

[2011-10-14 08:13] ghost opened #421 "Functionality for adding emails should also be added in the Account Manager"
Functionality for adding emails should also be added in the Account Manager on https://diresworb.org.

This would be very useful for a user that found out about BrowserID by opening a page using it, then clicking on the "learn more" link. The user might want to set up an account with multiple emails from the server so he doesn't have to do any more from clients but log in.

[2011-10-14 14:09] ibai opened #422 ""Password reset" unlinks account"
If the "Forgot password" feature is used, that account gets unlinked.

In other words. If I have 5 email aliases under ibai@moz.org and I reset the password for it, the connection is lost and the only email account that I can use is ibai@moz.org

[2011-10-14 15:53] aleksejrs opened #423 "Sign-in popup has no scrollbars → confusing when zoomed in"
If the zoom in ratio for the browserid.org is big, some content of the pop-up window is not visible. That’s very confusing, because there are no scrollbars.

[2011-10-14 16:40] tonychung opened #424 "add the existing "Sign in" link to browserID home page"
When a user goes directly to https://browserid.org/, the centered content doesnt offer the user an existing sign-in account link.   They would need to click "Sign Up" first, or move to the corner to "Sign In" in order to get to existing user screen.

I propose adding the "Existing account? Sign in." link to the bottom of the welcome screen.   It's an expected option that most sites asking users to

[2011-10-14 17:05] rtilder opened #425 "IOS5 - Sign In with iOS5 results in weird tab behaviour"
Odd behaviour based on tab focus in iOS5 on a 1st gen iPad results when trying to sign in to beta.myfavoritebeer.org

Reproduce:
1. Go to _beta.myfavoritebeer.org_ in Mobile Safari
2. Click the Sign In image
3. A new tab will open with an _about:blank_ URL
4. This tab will remain a blank page until one attempts to return to the _beta.myfavoritebeer.org_ tab.  Not any other tab, just the tab with _

[2011-10-14 17:11] aleksejrs opened #426 "Create a medium-technical FAQ page"
Currently the immediately available information about BrowserID (e.g. https://browserid.org/about ) is
- for the end user only, explaining how to register and log into sites using BrowserID (which, for its current state, is similar to OpenID),
- or is spread through the blog ( http://identity.mozilla.com/ ), which contains both posts with that end-user info and posts with object names. Also, the b

[2011-10-14 17:15] lloyd commented on #426
+1 We aggregate this material, all three suggestions in the FAQ section above sound right to me.  The which browsers are supported needs to be both on SUMO for end users, and referenced and expanded on from our developer facing FAQ.

Suggest we use the github wiki to start.

[2011-10-14 17:54] clarkbw commented on #399
Yeah, lets do that.  Perhaps if we just say something like: "This could take a couple seconds" that's simple enough and will work for most cases.

[2011-10-14 19:10] jmathai opened #428 "Opening BrowserID from an Android WebView gives HTML5 error"
Steps to reproduce:
1. Launch OpenPhoto app
1. Click settings button
1. Click "log in"
1. In the web view, click Log In button
1. See attached

_This is being tracked on the OpenPhoto side here: https://github.com/openphoto/mobile-android/issues/13_

![](http://i.imgur.com/OqXXh.jpg)

[2011-10-14 19:45] aleksejrs opened #430 "Prevent malicious verification flooding of e-mail addresses of others"
Currently it is easy to flood someone’s e-mail address with sign up verification e-mails.

Although the victim can easily delete the e-mails, they will probably mark them as spam, or set a filter up, so that when they try to register a BrowserID account themselves, they won’t get the verification e-mail.

One way could be creating a mandatory delay between sending verification e-mails, e.g. a 15-s

[2011-10-14 20:20] ianb opened #432 "browserid.org/include.js should have link to unminified source"
Since it's open source and all, and include.js as deployed isn't readable, a comment at the top pointing to the readable source would be nice.

[2011-10-14 20:38] lloyd opened #433 "assertion expiration time is actually issue time"
sloppy code in our verifier lets things work.

[2011-10-14 20:47] lloyd commented on #432
+1  fwiw if you hit include.orig.js you'll get the uncompressed version.

[2011-10-14 20:50] #433 closed, assigned to nobody

[2011-10-14 21:15] patricksan commented on #425
I'm having the same problem with iOS5 on iPhone 4.
It is definitely a bug when used on Safari iOS 5.

https://github.com/openphoto/mobile-ios/issues/42

[2011-10-15 02:31] pboos commented on #428
I investigated a little in the BrowserID Javascript.
If I saw correct, it gets checked if the browser supports local storage (i did enable this), and postMessage. Sadly I do not find any way to enable postMessage. I guess that is not supported in Android.

Any idea how we can get that to work in Android WebView so we can support BrowserID from within an application?

[2011-10-15 05:44] jmathai commented on #428
@pboos, is there any reason why we're loading the OpenPhoto URL inside of a webview instead of launching the browser? That's the flow we're using on iOS (though we have a separate issue with iOS5).

[2011-10-17 08:27] ghost commented on #421
@jbonacci - you may be talking about issue #386. This issue was added as a comment on that bug, but Lloyd wanted to separate them.

[2011-10-17 09:06] shane-tomlinson commented on #432
I have added both the license and a link to the unminified source at the very top of include.js

[2011-10-17 09:06] #432 closed, assigned to shane-tomlinson

[2011-10-17 09:36] ghost commented on #336
Verified this issue by:
logging in to beta.myfavoritebeer.org from Fx 7.0.1 and confirming email from Opera;
logging in to beta.myfavoritebeer.org from Chrome and confirming email from Fx 7.0.1.

The "Thank you for signing up with BrowserID ..." message is displayed in the browser you confirm the email from and the user can continue his log in in the other browser without any issues.

OS: Windows

[2011-10-17 09:41] ghost commented on #350
Verified that these changes are also made on https://diresworb.org/about.

[2011-10-17 09:46] ghost commented on #405
Verified that the cancel account link has been added to https://diresworb.org/ and it works as expected.

[2011-10-17 11:12] shane-tomlinson opened #434 "list_emails called twice whenever authenticating."
Does not affect usability.

[2011-10-17 11:24] shane-tomlinson commented on #273
@clarkbw, we need a solution that addresses other browsers that are incompatible as well, right now we check for Internet Explorer <= 8 and display an IE specific message.  We also check for browsers that do not support localStorage, postMessage, and if the browser has problems with JSON.decode(null) (Android < 3.0) and display a generic message.

This brings up a question of whether we should hav

[2011-10-17 11:59] ghost commented on #412
Verified that the user can select the email address by pressing enter when only one email is shown.

OS: Win 7
Browser: Fx 7.0.1, Opera, Chrome, IE9

[2011-10-17 12:06] ghost commented on #401
Apparently this issue has not been completely fixed for the case when the user has only had one email address associated to BrowserID and deleted it at step 4.

In this case: an error message is displayed, then the emails list dialog is refreshed but a wrong page is opened after the refreshing. Considering that the user deleted his only email address (or all of them if they were more), the signing

[2011-10-17 12:11] ghost commented on #390
Verified on Win 7 + Fx 7.0.1.

No errors are displayed in the Error Console when logging in anymore.

[2011-10-17 12:19] ghost commented on #410
Verified on Win 7 + Fx 7.0.1, IE9, Chrome 14.0.835.202, and Opera 11.51.

There is no flicker anymore when switching between the pick email and add email screens.

[2011-10-17 13:24] ghost opened #435 "The diresworb.org "remove" button is not displayed fine in IE9 and Opera"
OS: Windows 7, Ubuntu 11.04
Browser: IE9, Opera 11.51

STR:
1. Open https://diresworb.org in a browser and sign in.
2. Click on the "edit" button.

The "remove" buttons are red with white text in Firefox and Chrome. In Opera and IE9, the buttons are light blue with a red outline. The text is also outlined with red in Opera.

[2011-10-17 13:32] ghost opened #436 "The message displayed after confirming an email address should be corrected"
OS: Windows 7, Ubuntu 11.04
Browser: IE9, Opera 11.51, Fx 7.0.1, Chrome 14.0.835.202

STR:
1. Start signing up to BrowserID from the server or a client.
2. After the confirmation email is sent, open it and click on the confirmation link.
3. Enter a password, confirm it and sign in.

The "Thank you signing up with BrowserID. You can now use..." message is displayed. The message should be "Thank you

[2011-10-17 13:37] ghost opened #437 "The message displayed when removing the last email address should be modified"
OS: Windows 7, Ubuntu 11.04
Browser: IE9, Opera 11.51, Fx 7.0.1, Chrome 14.0.835.202

STR:
1. Open https://diresworb.org and sign in.
2. Click on the "edit" button.
3. Remove all the email addresses listed on the screen. Observe the message displayed when removing the last address.

The displayed message is "Removing the last address will cancel your BrowserID account, are you sure you want to con

[2011-10-17 13:50] ghost opened #438 "https://diresworb.org is confusing for a signed in user"
OS: Windows 7, Ubuntu 11.04
Browser: IE9, Opera 11.51, Fx 7.0.1, Chrome 14.0.835.202

STR:
1. Open https://diresworb.org and sign in.
2. Observe the items on this page.

On the right bottom of the page, the "You may, at any time, cancel your account" message is displayed. This message and the link's functionality gives the user the impression that an account is his BrowserID password together with

[2011-10-17 14:06] ghost opened #439 "The behavior when confirming an email while signing up from diresworb.org should be consistent with the one when doing it from the client"
OS: Windows 7, Ubuntu 11.04
Browser: IE9, Opera 11.51, Fx 7.0.1, Chrome 14.0.835.202

STR:
1. Open https://diresworb.org.
2. Sign up with an email address that is not already associated to BrowserID.
3. Open the confirmation email and click on the confirmation link (same browser or a different one).
4. Enter a password and sign in.

After the user has finished confirming his account, including set

[2011-10-17 15:01] shane-tomlinson commented on #335
Closing this.

[2011-10-17 15:01] #335 closed, assigned to shane-tomlinson

[2011-10-17 15:38] #437 closed, assigned to shane-tomlinson

[2011-10-17 16:17] shane-tomlinson opened #440 "button hover behaviors inconsistent across main site"
In some places a hover causes an underline, in others nothing.

[2011-10-17 16:19] shane-tomlinson commented on #435
We are using linear gradients on these buttons and the styles are not correct for IE and Opera.

[2011-10-17 16:21] #435 closed, assigned to shane-tomlinson

[2011-10-17 16:24] #440 closed, assigned to shane-tomlinson

[2011-10-18 12:01] dc7kr opened #456 "Verification mail sender host does not have a reverse DNS entry"
NOQUEUE: reject: RCPT from unknown[63.245.208.223]: 450 4.7.1 Client host rejected: cannot find your hostname, [63.245.208.223];

Claims to be browserid1.vm1.labs.sjc1.mozilla.com - as this is a common SPAM check it prevents many SPAM protected mail servers from delivering the email...

[2011-10-18 12:59] ozten commented on #426
We're starting to address this material in the Field Guide.

OpenID comparison:
http://mozilla.github.com/browserid-field-guide/browserid_for_sys_admins.html

We'd love more issues or patches with prose.

[2011-10-18 13:08] lloyd commented on #456
The fix for this is already in beta.  to verify, sign up for browserid via http://beta.myfavoritebeer.org and inspect the email that is sent to you - this fix is scheduled to roll into production on thursday (2 days from now).

[2011-10-18 13:08] #456 closed, assigned to nobody

[2011-10-18 13:13] dc7kr commented on #456
confirm that it works in the beta.myfavoritebeer.org - thanks :)

[2011-10-18 13:21] lloyd commented on #456
yay, thank you!

[2011-10-18 14:53] shane-tomlinson opened #457 "assertions passed to RP are showing as invalid"
This occurs in both dev and local.

[2011-10-18 15:08] shane-tomlinson commented on #457
in jws.js->verify, I added two console messages to check the verification steps.  verify is being called twice, the first time both sig_verification and payload_verification are true, the second time, sig_verification is true, payload_verification is false.  What would this be caused by?

[2011-10-18 15:11] shane-tomlinson commented on #457
When I look in jwt.js->verifyPayload, "this.expires.valuesOf()" is returning NaN

[2011-10-18 15:18] shane-tomlinson commented on #457
in browserid/static/dialog/resources/user.js, if I go back to the old way of creating the token with the serverTime as the expiration, everything is kosher.

[2011-10-18 21:04] shane-tomlinson commented on #354
@jbonacci - this looks like the exact reverse of what I fixed, @lloyd saw this behavior too, but we haven't been able to replicate.  I thought there was an issue about this, but I cannot find it at the moment.

[2011-10-18 21:06] shane-tomlinson commented on #354
@jbonacci - what you are showing here is what was displayed in #398.  I thought these two were duplicates, but are not.

[2011-10-18 21:15] lloyd commented on #354
ok dudes.  when want is undefined, it's #354.  when got is undefined, it's #398.

[2011-10-18 21:17] lloyd commented on #354
Interesting data from production.  We see this occasionally:

[code]

[2011-10-18 23:34] digitarald opened #459 "Coherent dialog link colors and contrast"
The link colors in the dialog vary between black, gray and blue. As a coherently applied color, the blue might provide a good contrast.

Adding to better contrast, the watermark logo style is a nice idea but might be hard to read with bad light or sight; but it should as it identifies/brands the whole process.

ref: https://bugzilla.mozilla.org/show_bug.cgi?id=695560

[2011-10-19 00:03] lloyd commented on #459
+1

[2011-10-19 00:13] lloyd opened #460 "break up browserid into several distinct processes"
This is to support our friends over in production ops who are going to help us scale up to a gazillion users.

(reference for those who can see the diagram: https://intranet.mozilla.org/Services/Ops/BrowserID )

The short story, is we must be able to run 3 processes instead of the current single browserid node.js process.  Those processes will include:
- **keysigner**: a teensy tinsy process respo

[2011-10-19 00:15] lloyd commented on #460
requirement: nothing changes at all for local development.

[2011-10-19 00:15] lloyd commented on #460
/cc @stomlinson @benadida

[2011-10-19 00:35] #457 closed, assigned to nobody

[2011-10-19 08:36] shane-tomlinson opened #461 "Check whether android < 3.0 can be used with new JSON responses."

[2011-10-19 08:43] shane-tomlinson commented on #461
Verified working on Android 2.3!  Woooooot!

[2011-10-19 08:44] #461 closed, assigned to shane-tomlinson

[2011-10-19 08:45] shane-tomlinson opened #462 ""check your email" screen shows under email input on mobile"
Affects both Android and iOS.

[2011-10-19 08:47] shane-tomlinson commented on #43
Stock android browser on android 2.3 now a go.  I need some testing on 2.2.

[2011-10-19 09:04] shane-tomlinson opened #463 "Pick email screen is difficult to use on a tablet."
The layout can remain the same, but the buttons and links need to be made larger and there needs to be more space between the email addresses.

[2011-10-19 09:33] shane-tomlinson opened #464 "new email address field is automatically capitalized on iOS."
add the autocapitalize=off attribute to the input field.

[2011-10-19 09:56] shane-tomlinson commented on #401
this brings up a larger point of how to do we deal with accounts that are deleted via the main page while the dialog is open?  This could happen at any stage after authentication, something we need to know about.

We need to know at any point of the user is no longer authenticated.

Deferring to Needs Discussion.

[2011-10-19 09:57] shane-tomlinson commented on #369
Most of the work for this is done.  Closing and opening individual nits.

[2011-10-19 09:57] #369 closed, assigned to shane-tomlinson

[2011-10-19 10:00] shane-tomlinson opened #465 "Show user an error message if communication relay cannot be found"
This can happen if the user bookmarks the dialog's URL before the hash has been cleared.  If the user opens that URL a second time, it will no longer function correctly.

[2011-10-19 10:07] shane-tomlinson opened #466 "Deal with deleted acounts when the dialog is open & authenticated"
Linking from issue #401.

We need a way of dealing with accounts that are deleted from the main site after the user has already opened the dialog and authenticated.

[2011-10-19 10:07] #401 closed, assigned to shane-tomlinson

[2011-10-19 11:26] #462 closed, assigned to shane-tomlinson

[2011-10-19 11:28] shane-tomlinson commented on #400
Closing this.

[2011-10-19 11:28] #400 closed, assigned to shane-tomlinson

[2011-10-19 11:42] shane-tomlinson commented on #290
@benadida, @lloyd - is this still open for discussion?

[2011-10-19 13:44] #108 closed, assigned to shane-tomlinson

[2011-10-19 14:19] shane-tomlinson commented on #434
7b840efe68ab584244dbec9f7d089af6272a10dd closes this.

[2011-10-19 14:19] #434 closed, assigned to shane-tomlinson

[2011-10-19 15:01] shane-tomlinson commented on #399
@clarkbw - I am in the process of a couple of experiments on this, first is showing the "wait" type screen (like you'd see for "verify your email") - but this looked terrible.  The screen appeared, went away, and then the arrow did its animation.  Not nice at all.

A second simpler approach was to replace the "pick email" email section with text that said something along the lines of "we are authe

[2011-10-19 15:05] shane-tomlinson commented on #273
@clarkbw - your response from our email -

"Agreed, I'm wondering if we want to do a bit of both.  For mobile browsers we have a bit of different layout and I think we'll want to continue that in this kind of error page.  I'd suggest we file a separate bug for the query API. "

I'll tackle this as you suggest with http://cl.ly/3Y311l0g421k0A0A2T1G.  We'll get an initial rev and then iterate.

[2011-10-19 19:28] #109 closed, assigned to nobody

[2011-10-19 21:29] clarkbw commented on #399
Awesome!  I don't mind either one, if the second approach is simpler lets go with that.

On either one can you do a $(".wait").delay(3 \* 1000).fadeIn();  and in your kegen code just call a $.clearQueue() so the fadeIn() never happens if the keygen is done?  Something so the animation doesn't show unless it takes 3 or maybe 5 seconds.

[2011-10-19 21:58] clarkbw commented on #459
Hey, thanks for the report!

I'm going to take this on when redesigning how the "This is not me" and "Use a different email" links.  I think the location of those links is the larger problem right now but I'll try to address link color at the same time.

I did a quick change of color to show how when we use all blue it ends up degrading the quality of all the links.  The sign in button uses the sa

[2011-10-19 22:07] clarkbw commented on #49
Updating the link: https://github.com/mozilla/browserid/wiki/How-to-Use-BrowserID-on-Your-Site

I think that button was intended to be used when the dialog is open and not as a regular button, however you wouldn't get that from the docs; only from it's usage on the myfavoritebeer site.

[2011-10-19 22:09] digitarald commented on #459
I'd say consistency of link styles on the page is important, but styling the links so the user knows that they are clickable is even more important.

p.s. On the screenshot you posted, another issue I see is that the users email address needs to pop a bit more, maybe even as big as the bold and dark app-name on the right side; to show the 1:1 relation of _user-email_ signs into _app_

[2011-10-19 22:56] clarkbw commented on #459
Ok, thanks that's good to know.  We definitely want to strike a balance between pleasing design and jakob nielsen design. :)

re: email pop.  Yes, I think that's from the crowding effect.  Previously the email address was fine because it was mostly alone but now that I'm crowding it with links it doesn't stand out as much.  Still a work in progress...

[2011-10-20 00:04] lloyd commented on #82
ok, port is already in there, but it seems like we'll need to make sure we're normalizing (so that foo.com:80 and foo.com match).

I wrote a little library to do that once upon a time: https://github.com/lloyd/urlmatch.js - but I think that's overkill, because we can just use node's libs (normalization is work to be done inside the verifier): http://nodejs.org/docs/v0.4.12/api/url.html

More inter

[2011-10-20 00:16] lloyd commented on #17
bump.  At this point it looks like we have a remember me checkbox on https://browserid.org/signin - does that do anything?

/cc @stomlinson

[2011-10-20 00:20] benadida commented on #82
the plan sounds very good.

[2011-10-20 08:06] solisoft commented on #81
Hi, I can help too if needed

[2011-10-20 09:29] shane-tomlinson commented on #436
#444 is a duplicate of this and has been fixed.  Closing.

[2011-10-20 09:29] #436 closed, assigned to nobody

[2011-10-20 09:44] shane-tomlinson opened #468 "html validation errors in /about page"

[2011-10-20 09:48] shane-tomlinson commented on #468
This is showing in the Safari for iOS debug console.

[2011-10-20 09:51] #468 closed, assigned to shane-tomlinson

[2011-10-20 10:04] shane-tomlinson commented on #438
#447 was a duplicate of this, which has been closed.  "Your accounts" has been changed to "Your Email Addresses"

[2011-10-20 10:04] #438 closed, assigned to nobody

[2011-10-20 16:36] #82 closed, assigned to lloyd

[2011-10-20 16:54] lloyd commented on #430
we should agree on some simple heuristics and implement them post-haste, as this might entail new database requirements, we should figure it out sooner.

[2011-10-20 16:56] lloyd commented on #428
the dev team is meeting up in the next week to agree on a strategy for native mobile apps

[2011-10-20 16:58] lloyd commented on #423
firefox seems to not add scrollbars, chrome does.

[2011-10-20 16:59] lloyd commented on #423
for the record, what browser and OS were you on?

[2011-10-20 17:05] shane-tomlinson commented on #425
Duplicate of #442.

[2011-10-20 17:05] #425 closed, assigned to shane-tomlinson

[2011-10-20 17:05] shane-tomlinson commented on #420
Fixed, closing.

[2011-10-20 17:05] #420 closed, assigned to lloyd

[2011-10-20 17:11] aleksejrs commented on #423
Firefox (probaby 8.0 Beta) on GNU/Linux.

[2011-10-20 17:21] shane-tomlinson commented on #273
Baaahh!  I had this entirely within the dialog and then realized that the approach will not work for browsers that do not have window.postMessage.  The reason is we wait until the channel is set up to redirect to the normal dialog site.  Since window.postMessage does not exist, the redirect never happens.

Going to change tack, going to do the checking from include.js.  If the check fails, I am go

[2011-10-20 17:26] lloyd commented on #423
I too can repro this on Linux, arch Linux Firefox.  This really sounds like a platform specific browser bug.  Let's look for this upstream in bugzilla...

[2011-10-20 17:35] jmathai commented on #428
@lloyd, awesome.

[2011-10-21 10:04] shane-tomlinson opened #469 "two front end unit tests failing wrt the audience in the assertions."

[2011-10-21 10:09] #469 closed, assigned to shane-tomlinson

[2011-10-21 11:03] shane-tomlinson commented on #399
@clarkbw - unfortunately I can't do _anything_ during keygen, as it never yields back to the main event loop, meaning fading in the delay screen while keygen is happening won't work.  MEH.

I'm going to hold off on this until DSA is in and we can see the performance characteristics.

[2011-10-21 11:24] shane-tomlinson opened #470 "On a slow link, about:blank shows for an uncomfortable period of time"
Think about going back to the old way of just opening the dialog and polling until the relay is ready for the channel.

[2011-10-21 13:41] lloyd commented on #469
shame on me.  I ran all of the unit tests after making this change...?  I thought I did.  hmmm.

[2011-10-21 13:51] shane-tomlinson commented on #469
Odd thing is, I thought I did too.

[2011-10-24 10:34] shane-tomlinson opened #471 "/wsapi/cert_key is returning a string instead of a JSON response."

[2011-10-24 12:21] ghost commented on #464
Verified on an iOS 4.2.1 iphone using Safari 5.0.2.

This issue doesn't reproduce anymore in the BrowserID dialogs opened from the client, but it does reproduce when opening https://diresworb.org manually and signing in to BrowserID there.

[2011-10-24 14:47] ghost commented on #462
Verified on an iOS 4.2.1 iphone using Safari 5.0.2 and on an Android 2.2 Samsung Galaxy S using Firefox 7.0.1.

[2011-10-24 15:03] ghost commented on #437
Verified on Win 7 using IE9.

[2011-10-24 15:09] ghost commented on #435
Verified on Win 7 using IE9 and Opera 11.51.

On Opera, the Remove button looks now as in Firefox.
On IE9, the button is now a very light red with a dark red outline. There is a quite big difference between the shade of red on the button in IE9 and the one in Firefox/Opera/Chrome.

[2011-10-24 15:18] ghost commented on #440
Verified on Win 7 using IE9, Opera 11.51, Firefox 8.0 and Chrome 14.0.

In Opera, there are still two buttons in the main site for which the text on them is not underlined when hovering over them:
- the Verify Email button;
- the Sign In button.

[2011-10-24 15:47] ghost commented on #108
Verified on IE9 and Firefox 7.0.1 (Win 7).

The email address is now persisting with the steps from my previous comment.

[2011-10-24 15:52] ghost commented on #406
Verified on Firefox 7.0.1 (Win 7).

The issue doesn't reproduce anymore when pressing Ctrl+X/V but it still reproduces when pressing Ctrl+C.

[2011-10-24 15:58] shane-tomlinson commented on #406
@ioanab - Thanks for the verify - I'm unable to reproduce the ctrl+c problem using FF7.0.1 on Windows 7 Ultimate, which version are you running on?  Is there a particular sequence that reproduces?

[2011-10-24 16:03] ghost commented on #406
@shane-tomlinson - I am using Windows 7 Professional with service pack1. The steps are the initial ones:

STR:
1. Load http://beta.myfavoritebeer.org in a browser.
2. Click on the "Sign in" button.
3. Enter an email address and click on the "next" button.
4. Click in the email field and press Ctrl+C.

[2011-10-24 16:04] ghost opened #472 "The Sign in button on the emails list dialog doesn't work on mobile devices"
Device: iPhone
OS: iOS 4.2.1
Browser: Safari 5.0.2

STR:
Case1: Multiple emails are associated to the BrowserID account:
1. Launch http://beta.myfavoritebeer.org in the above environment.
2. Tap on the Sign in button.
3. Sign in with an account with multiple emails associated (I had 6 emails).
4. Select an email and tap on the Sign in button.

The button is selected for a while (~30 seconds), then

[2011-10-24 16:14] shane-tomlinson commented on #470
@jbonacci - this is something that I have primarily noticed on mobile using wifi.

[2011-10-24 16:19] shane-tomlinson commented on #459
@clarkbw - I like the placement you suggest in the second image, but one problem with the wording is that "use a different address" can be interpreted similarly to ""this is not me."  I have been going over this in my head a lot and I know why "use a different email address" makes sense, but from just that wording it is not clear whether you are signing into a different account or using a differen

[2011-10-24 23:01] washort opened #473 "BrowserID logins for AMO busted"
https://bugzilla.mozilla.org/show_bug.cgi?id=696811

Investigating a little, it looks like our callback passed to navigator.id.getVerifiedEmail isn't getting called at all.

[2011-10-24 23:41] washort commented on #473
benadida was quite helpful in helping me figure this out. :)

[2011-10-24 23:41] #473 closed, assigned to nobody

[2011-10-25 07:45] ghost commented on #472
This issue reproduces on Android phones too:

Device: Samsung Galaxy S
OS: Android 2.2
Browser: Firefox 7.0.1
1. Launch http://beta.myfavoritebeer.org in the above environment.
2. Tap on the Sign in button.
3. Sign in with an account (it doesn't matter how many emails are associated to it).
4. Tap on the Sign in button.

The button is selected, then the emails list page is automatically closed. Th

[2011-10-25 09:16] ghost opened #475 "Refreshing the Sign in dialog/tab closes it"
Device: Samsung Galaxy S
OS: Android 2.2
Browser: Firefox 7.0.1

STR:
1. Launch http://beta.myfavoritebeer.org in the above environment.
2. Tap on the Sign in button.
3. Refresh the newly opened Sign in tab.

The tab is closed.

OS: Windows 7 Professional
Browser: Firefox 7.0.1

STR:
1. Launch http://beta.myfavoritebeer.org in the above environment.
2. Tap on the Sign in button.
3. In the newly op

[2011-10-25 09:35] shane-tomlinson commented on #475
@ioanab - this is linked to #465.  The reason is because we have no way of establishing the communication channel because we remove the name of the iframe to link up with from the URL.  @lloyd, what do you think about this, should we say this is a feature and show an error message, or should we try and re-establish the comm channel somehow, perhaps by keeping the hash or store the iframe name info

[2011-10-25 09:36] ghost opened #476 "The entered email address is not always persistent through diresworb.org pages"
OS: All
Browser: All

When opening BrowserID from the client the entered email address is persistent through the pages (e.g. enter an email, then click "forgot your passoword?"). This should also happen on https://diresworb.org for consistency issues. The cases when it doesn't happen on diresworb.org are:
1. Enter an email on the Sign up page, then click on the "Existing account?..." link.
2. Ente

[2011-10-25 12:41] shane-tomlinson opened #477 "OpenAjax.hub not found in network.js when used in main site."
OpenAjax is something that is found only in the dialog.  Check for this in the main site if this is used in network.js and user.js

[2011-10-25 12:44] #477 closed, assigned to shane-tomlinson

[2011-10-25 15:56] lloyd commented on #430
proposal (by @stomlinson) - not more frequently than 5 minutes.

Lloyd will adjust the api, then pass to stomlinson to add a nice user facing error page.

Good starting point?

[2011-10-25 16:43] lloyd commented on #290
Ok, I've come full circle on this.  Sometimes it takes me a while.

How about for user creation we require the user to be using the same browser for initiation and confirmation.

How about for email addition we require EITHER the same browser, OR the user must re-authenticate to browserid?

[2011-10-25 17:05] benadida commented on #430
yes, great. Another simple (and long-term) starting point is exponential backoff of sorts. 15s the first time, 30s the next... Though that may require tracking one more field. I don't feel very strongly about this, previous solution is fine by me.

[2011-10-25 17:09] lloyd commented on #430
I like exponential backoffs.  I like that this only requires 1 extra field (and not another table).

[2011-10-25 17:24] lloyd opened #478 "rpm generation"
For simplified deployment in mozilla's production environment, we must be able to generate an RPM.

[2011-10-25 17:30] #478 closed, assigned to lloyd

[2011-10-25 17:31] benadida opened #479 "tweak DSA implementation to make it fit with fips186-3"
parameter generation, exact details of hashing, etc.

find test vectors? That would be great.

[2011-10-25 17:32] lloyd opened #480 "review and improve mysql schema"
someone with deep experience with mysql should review the BrowserID schema to ensure that it's optimized and ready for gazillions of users.

[2011-10-25 17:35] #480 closed, assigned to nobody

[2011-10-25 17:50] lloyd opened #481 "replace ping.txt with __heartbeat__"
**heartbeat** is how mozilla ops does it, we don't care, let's change!

[2011-10-25 17:53] #481 closed, assigned to lloyd

[2011-10-25 18:01] lloyd opened #482 "improve handling of dropped database connection"
this might include:
- improving `__heartbeat__` to verify that the connection to the database is up.
- include in automated testing the above - both transition from health to sick and back again.

[2011-10-25 22:37] shane-tomlinson opened #483 "break include.js into distinct components (for testing), combine in build script"
This is to facilitate unit testing.

[2011-10-25 22:46] ianb commented on #483
FWIW, here's what I use to include the JSChannel code into OWA's include.js: https://github.com/mozilla/openwebapps/blob/develop/site/tools/inline_code.py

(though I check in the result)

[2011-10-26 09:43] shane-tomlinson opened #485 "Remove the XHR timeout."

[2011-10-26 09:49] #485 closed, assigned to shane-tomlinson

[2011-10-26 10:32] shane-tomlinson opened #486 "FF7 - assertion occasionally does not reach RP."

[2011-10-26 11:02] shane-tomlinson commented on #486
The message is making back to the relay, but not across the channel sometimes.

[2011-10-26 11:02] shane-tomlinson opened #487 "Nightly stuck at "Communicating with server""
Only happens on local dev, not on dev.diresworb.org.

[2011-10-26 11:10] shane-tomlinson commented on #487
[12:09:38.548] origin is undefined @ http://127.0.0.1:10002/dialog/resources/user.js:219

[2011-10-26 11:51] shane-tomlinson opened #488 "specifying IP_ADDRESS from the command line no longer works"
The main RP shows, but the dialog never appears.

[2011-10-26 12:46] shane-tomlinson commented on #486
Checking out checkin ﻿efb6ae7e7a1182f5b12df205cf1daecd3bfc9454 (from 10/25/2011), everything is alright.  Working my way back to the future to find which checkin causes this.

[2011-10-26 12:56] shane-tomlinson commented on #487
I believe this is related to #486.

[2011-10-26 12:56] shane-tomlinson commented on #486
It appears that checkin f5be9659a944fc4299edbe72b46720fda3e8ac78 is the culprit.  I have gone through several cycles of testing between c80b644165cfedd6b0d71071e4b49d2e6879385a and f5be9659a944fc4299edbe72b46720fda3e8ac78.  Everything in c8\* works as expected, moving to f5\* begins to the errant behavior.  Are there other places where we were doing some sort of substitution or looking at the NODE

[2011-10-26 13:04] shane-tomlinson commented on #487
Verified that this is caused by #486, closing as related duplicate.

[2011-10-26 13:04] #487 closed, assigned to shane-tomlinson

[2011-10-26 13:05] shane-tomlinson commented on #486
If I revert the substitution code back to its previous form, everything on dev works correctly again.  Ideas?

[2011-10-26 13:10] shane-tomlinson commented on #488
@lloyd, I am labeling this 4 star because I often use IP_ADDRESS from the command line to specify a non-localhost IP address so I can test from either tablets, other laptops, or phones.

[2011-10-26 13:12] lloyd commented on #488
I'll take a look first thing

--lloyd

On Oct 26, 2011, at 7:10 AM, Shane Tomlinsonreply@reply.github.com wrote:

[2011-10-26 13:16] shane-tomlinson opened #489 "relay.js->browserid_relay is called twice whenever assertion is generated"
This is because when the first success message comes back, the RP attempts to close the window, which causes browserid_relay to be called a second time.

In dialog_controller.js, when an assertion is generated, setting self.onsuccess to undefined or null would fix this.

[2011-10-26 13:23] shane-tomlinson commented on #489
After the hack for #486, this is no longer replicable.  Will verify again once that is fixed.

[2011-10-26 13:36] #349 closed, assigned to shane-tomlinson

[2011-10-26 15:23] #486 closed, assigned to lloyd

[2011-10-26 15:43] #273 closed, assigned to shane-tomlinson

[2011-10-26 18:23] lloyd opened #490 ""keep me signed in""
The user should be able to stay signed into a site if they like.

At the time a user selects an email address to sign into a site, they should be provided a checkbox that they can click to choose to stay signed into the site.

This checkbox will cause assertions to be automatically issued subsequently, without user prompting.

This feature will require UX feedback, and new APIs.  Specifically, get

[2011-10-26 18:28] lloyd opened #491 "support a "preferred email address""
It should be possible for a site to recommend an email address that the user use.  One specific use case where this is important is a web app that's been purchased, whereby if the user uses any other email address than the one in the "application receipt", the application won't work.

_how_ to emphasize the "preferred" email address needs UX feedback.  What the API looks like is open for discussio

[2011-10-26 19:52] #354 closed, assigned to shane-tomlinson

[2011-10-27 08:11] shane-tomlinson opened #497 "Potential race condition in relay.js causes getHostname to fail."
Under normal circumstances, it is a very low probability race condition but it manifested itself when #486 first appeared.

It is possible for the dialog to be opened and run before the Channel->getVerifiedEmail RPC call happens to the iframe.  If this happens, no origin exists which causes getHostname to fail.

Labeling this a 4 star as when it does happen, it makes debugging very difficult.  The

[2011-10-27 10:45] shane-tomlinson opened #498 "Cannot authenticate with dev.myfavoritebeer.org - /api/login always returns null"
Also filed under https://github.com/lloyd/myfavoritebeer.org/issues/27

[2011-10-27 10:46] #497 closed, assigned to shane-tomlinson

[2011-10-27 10:49] shane-tomlinson commented on #488
@lloyd - this is working again, was the fix the change for #486?

[2011-10-27 11:46] gerv opened #499 "BrowserID UI breaks Firefox password manager"
Scenario: I want to log in to a website using BrowserID. I click the button and get the BrowserID popup. It asks me for my email address, in a form containing only one text field. I type a few characters, and Firefox helpfully autocompletes. I pick the right email address and click Next.

It then fades in a password box, but it's not auto-filled. :-( I know I can trigger auto-fill by going back to

[2011-10-27 15:23] lloyd commented on #498
cannot reproduce.  help?

[2011-10-27 15:42] lloyd commented on #498
naither i no @ioannab can reproduce.  assume this was temporary.  closing.

[2011-10-27 15:42] #498 closed, assigned to lloyd

[2011-10-27 16:57] benadida commented on #479
waiting on merge

[2011-10-27 16:59] lloyd opened #500 "verifier fails to verify certain assertions"
the fix for issue #82 was intended to make it possible for RPs to include scheme and port for the verifier to increase the security of the system.

The fix was intended to be backwards compatible, but was not.

currently if audience is specifed without host nor scheme and the site is SSL, the verification will fail.

This is highest priority and is a RP facing regression.

[2011-10-27 17:14] #500 closed, assigned to lloyd

[2011-10-27 17:15] shane-tomlinson commented on #472
duplicate of #399.

[2011-10-27 17:15] #472 closed, assigned to nobody

[2011-10-27 17:17] benadida commented on #471
yes we should wrap this signature in a JSON object

[2011-10-27 18:39] lloyd commented on #490
shane and lloyd agree, we now need navigator.id.logout();
`

[2011-10-27 21:28] MisfitGeek opened #501 "Email addresses with uppercase letters in the domain are rejected by registration."
When registering an email address, functional email addresses that contain upper case alphabetic characters are rejected as invalid addresses.

Example: MarkBrown@Mozilla.org is illegal.

[2011-10-28 11:47] shane-tomlinson commented on #489
Closing, this is no longer an issue.

[2011-10-28 11:47] #489 closed, assigned to shane-tomlinson

[2011-10-28 11:49] shane-tomlinson commented on #488
@lloyd, I can confirm that this works now.  Do you want to shut it, or want me to?

[2011-10-28 12:30] shane-tomlinson opened #502 "screen shifts vertically when going from authentication to pickemail screen."

[2011-10-28 12:44] #502 closed, assigned to shane-tomlinson

[2011-10-28 13:04] shane-tomlinson commented on #341
Did some experiments for footers today using position: fixed.  All of the mobile browsers fail miserably.  We could do this with Javascript, but it seems like a hacktastic hack.

[2011-10-28 13:04] shane-tomlinson commented on #483
thanks @ianb

[2011-10-28 14:21] lloyd commented on #98
I don't see what you see.  I see about 4% of the requests we got yesterday were GET reqests:

[code]

[2011-10-28 15:26] lloyd opened #503 "improve repository organization"
in preparation for issue #460, we should improve the organization of the repository so that different binaries can more easily share different libraries, and so that a newcomer to the project can more readily understand what's contained within

[2011-10-28 17:35] #488 closed, assigned to lloyd

[2011-10-28 17:35] #503 closed, assigned to nobody

[2011-10-28 18:55] lloyd commented on #430
tag, @shane-tomlinson, you're it!  I went with a trivial implementation, a minimum time that may elapse between emails to a given email address, and that's set at 60s for now.  We can tweak this as we see fit.

@shane-tomlinson - you'll get an http 403 response to stage requests when you try to take two actions that would send an email to the same address within 60s of each other.  So if you get a

[2011-10-28 22:47] lloyd commented on #490
Suggest the following API changes:
- add `navigator.id.getIdentityAssertion(<callback>)` which may be invoked anywhere in the calling page (even outside of a click handler, usually at load time) and invokes the callback with an assertion corresponding to the identity that they user has chosen to share with the site.
- add `navigator.id.promptForIdentity([options], <callback>)` prompt the user and

[2011-10-28 22:48] lloyd commented on #490
/cc @michaelrhanson @benadida @shane-tomlinson

[2011-10-28 23:14] lloyd opened #504 "repair load_gen"
The load generation tool is outdated with the move to certificates.  We should shape it up immediately to prepare for our migration to stable production hardware.

[2011-10-31 12:39] #430 closed, assigned to shane-tomlinson

[2011-10-31 13:11] JoeStagner commented on #501
Yes - it's the upper case in the domain name that causes the rejection.

[2011-10-31 16:31] gerv opened #506 "The following assertion returns an Internal Server Error; also, server should return JSON errors, not HTML"
POST to https://browserid.org/verify with Content-Type'application/x-www-form-urlencoded, and content as follows:

assertion=eyJjZXJ0aWZpY2F0ZXMiOlsiZXlKaGJHY2lPaUpTVXpFeU9DSjkuZXlKcGMzTWlPaUppY205M2MyVnlhV1F1YjNKbklpd2laWGh3SWpveE16SXdNVFUyTWpBNU5EVXpMQ0p3ZFdKc2FXTXRhMlY1SWpwN0ltRnNaMjl5YVhSb2JTSTZJbEpUSWl3aWJpSTZJamMzT0RRM09ESXhOems0TmpZd09EVXdOVEV6TmpnNE9UQTJNamt5TkRjeE1qUTJOekUwT0RReE9USTFNVFV

[2011-10-31 16:41] gerv opened #507 "Assertion uses base64-encoding twice"
I can't work out the exact format of the "assertion" parameter, but it looks like it's a base64 encoding of a JSON object which itself contains base64 data (or a dotted contatenation of the same). This is really inefficient - each time you base64-encode, you waste 2 bits per octet. You have to do it once for ASCII-armouring, but twice is surely unnecessary?

Gerv

[2011-10-31 17:55] shane-tomlinson opened #508 "Tooltip should display for a reasonable amount of time based on text."
I found the tooltip displayed for "we have just sent an email to this address" to be displayed for a very short period of time for the amount of text.  If the amount of time displayed was based on the amount of text and some base amount for an average users reading speed (include some fudge factor), it would be much more usable.

Tied to #430

[2011-10-31 17:57] #508 closed, assigned to shane-tomlinson

[2011-10-31 21:52] benadida opened #510 "browserid.org should show content with JS disabled"
a fade-in effect should not be required. Maybe do a .hide() in JS only?

[2011-10-31 22:00] shane-tomlinson commented on #510
@benadida - which fade in effect are you referring to?

[2011-10-31 22:01] benadida commented on #510
front page of browserid.org

[2011-10-31 22:23] lloyd commented on #510
+1

--lloyd

On Oct 31, 2011, at 3:52 PM, Ben Adidareply@reply.github.com wrote:

[2011-10-31 23:06] shane-tomlinson commented on #510
ok, we are going to lose the effect of the BrowserID "card" sliding in/out over the find out more/create account text for browsers that do not support CSS transitions.

[2011-11-01 00:32] lloyd commented on #510
Oh, we're not talking about getting rid of _all_ the JavaScript, just making the content visible in a browser with JavaScript disabled...

--lloyd

On Oct 31, 2011, at 5:06 PM, Shane Tomlinsonreply@reply.github.com wrote:

[2011-11-01 02:28] benadida commented on #507
yes, this bit of ugliness is courtesy of yours truly as I haven't found a better way to encode a couple of parameters where one is already base64-encoded due to specifications. If you have suggestions, let me know! We can still change the format of the assertion for a little bit longer....

[2011-11-01 02:34] krupa opened #511 "BrowserID popup persists after logging in"
This was originally filed as  https://bugzilla.mozilla.org/show_bug.cgi?id=697226

BrowserID popup persists after logging in.  The user has to manually close the popup. This usually happens when I have logged in using different accounts previously.

test account: krupa.mozbugs+100@gmail.com/jabberwocky (I have reproduced this behavior on other accounts as well.)

screenshot on myfavoritebeer.org :

[2011-11-01 04:45] tonychung commented on #511
Persistent popup is a blocker.  We shouldnt ever do that if the user is signed in.

[2011-11-01 09:51] gerv commented on #507
Is there any documentation on exactly how it's constructed at the moment? I'd rather read that than reverse-engineer it :-))

Gerv

[2011-11-01 10:23] shane-tomlinson commented on #511
@krupa - Is this still a problem?  Can you reliably reproduce it?  We had a problem last week with this in dev, but the problem should have never made it to prod and we thought it was resolved.  Does it still happen if you disable the Apps addon?

[2011-11-01 10:25] shane-tomlinson commented on #511
@krupa, so far, I have been unable to reproduce this error.  Does it happen with a fresh profile?  Does the assertion make it back to myfavoritebeer (does it show your beer?)

[2011-11-01 10:33] shane-tomlinson commented on #510
@benadida, @lloyd - I have updated so that the contents of all pages will display even if Javascript is disabled.  On the main page, the contents are shifted vertically because the original CSS depends on Javascript setting the height of an element to do vertical centering.  Fadein on each page still happens if Javascript is enabled because it looks better.

It brings up the question - what should

[2011-11-01 11:00] shane-tomlinson commented on #499
Duplicate of #314, closing.

[2011-11-01 11:00] #499 closed, assigned to lloyd

[2011-11-01 12:09] #476 closed, assigned to shane-tomlinson

[2011-11-01 14:24] shane-tomlinson commented on #475
Incorrectly closed, should have been #465

[2011-11-01 14:25] shane-tomlinson commented on #465
ae88f7ed440c9a35ae9eaa9d3e5ec1b2c038911b fixes this.

[2011-11-01 14:25] #465 closed, assigned to shane-tomlinson

[2011-11-01 14:41] shane-tomlinson opened #512 "dialog error messages in mobile show below contents"

[2011-11-01 14:47] shane-tomlinson commented on #512
It is actually showing below the wait info.

[2011-11-01 14:49] shane-tomlinson commented on #512
@jbonacci, @ioanab - steps to reproduce/verify:

1) In a mobile phone, open https://dev.diresworb.org/sign_in#
2) Check to see if the error saying the relay channel could not be found is below the "Establishing Communication" area or whether the "Establishing Communication" area is hidden.  Desired behavior is for the "Establishing Communication" area to be hidden.

[2011-11-01 14:50] lloyd commented on #510
I think your approach is perfect here, shane.  I feel noscript is a non-starter for us, and is fairly fringe - as long as we fail clearly and gracefully I think we're good, and that's what you've done.

[2011-11-01 14:51] #512 closed, assigned to shane-tomlinson

[2011-11-01 14:57] shane-tomlinson commented on #464
@jbonacci - excellent catch.  Time to fix that.

[2011-11-01 15:01] #464 closed, assigned to shane-tomlinson

[2011-11-01 15:22] benadida commented on #510
agreed with @lloyd: we can't solve the auth problem with noscript (at least not anytime soon), but we should explain why someone would want to enable JS for this feature.

[2011-11-01 15:23] shane-tomlinson opened #513 "set explicit email max length limits on the client"
http://en.wikipedia.org/wiki/Email_address

The format of email addresses is local-part@domain where the local-part may be up to 64 characters long and the domain name may have a maximum of 253 characters - but the maximum 256 characters length of a forward or reverse path restricts the entire email address to be no more than 254 characters.[1] - formally defined in RFC 5322 (sections 3.2.3 and 3.

[2011-11-01 15:24] lloyd opened #514 "perform proper server side validation of email addresses"
currently we're not very rigorous in checking the format/length of email addresses, we should add a bit of verification logic given restrictions on email addresses:

[code]

Currently how an overly long email address would fail is unclear.

[2011-11-01 15:34] lloyd commented on #511
@shane-tomlinson - yes, the assertion _is_ making it back to the calling site.  you can see this in the screencast and the screenshot.

[2011-11-01 15:35] lloyd commented on #511
@krupa - can you reproduce this issue in any browser other than firefox on the same machine?

[2011-11-01 16:21] lloyd commented on #511
hey @krupa, first thanks a _ton_ for providing the screencast - it's really helpful to see what you're seeing.  The only thing that is missing for me is the console log that is obscured by the browserid dialog at second ten there's output on the console and I can't tell what it is (and that's the _really_ interesting moment in the show :)

One more note, I'm downgrading this to a _four_ star issue

[2011-11-01 16:27] shane-tomlinson opened #515 "Add error message when trying to click "forgot password" for an email address that is not registered."
This occurs from the main site.

[2011-11-01 16:31] #513 closed, assigned to shane-tomlinson

[2011-11-01 16:36] lloyd commented on #430
@shane-tomlinson beautiful!  nice doing business with you.

[2011-11-01 18:07] krupa commented on #511
I am trying to do the following:
- reproduce the issue on a fresh FF profile.
- I will see if this happens in any other browser.

I will report back once I have anything worthwhile. I am fine with the priority assigned to this issue.

[2011-11-01 18:08] lloyd commented on #511
very cool.  thank you @krupa.

[2011-11-01 21:25] #515 closed, assigned to shane-tomlinson

[2011-11-01 21:55] krupa commented on #511
@lloyd, you mentioned that you wanted the console log. Here is a screenshot of that- http://screencast.com/t/ChEhFwf5y2rb. Let me know if you'd prefer that I pastebin it (I can also get headers).

I have been able to reproduce this issue in two separate firefox profiles but not on a fresh profile. The add-ons I have installed are: Adblock plus, firebug, OWA extension and Live HTTP Headers.

If any

[2011-11-02 09:37] shane-tomlinson opened #520 "Break the xhr mock into its own file to be shared among all unit tests"
I stub in BrowserID.Network in various places, but this has led to several separate mini-mocks.  A better solution is to use the real BrowserID.Network, but stub in the xhr requests using the xhr mock from the BrowserID.Network unit tests.  This would allow us to test the full stack and any changes to the backend could be reflected in the xhr mock to ensure the entire system functions properly.

[2011-11-02 09:57] Mardeg opened #521 "No access to bookmarks in BrowserID window makes it impossible to use a password generating bookmarklet to sign in"
Details at https://bugzilla.mozilla.org/show_bug.cgi?id=699003

[2011-11-02 14:19] #520 closed, assigned to shane-tomlinson

[2011-11-02 19:15] shane-tomlinson opened #522 "the BrowserID addon with new design shows a lot of text in white."
set default color of text for headers, content, etc.  Needed for demo on Friday.

[2011-11-02 19:20] lloyd opened #523 "verifier crashing upon validation failure"

[2011-11-02 19:22] #523 closed, assigned to lloyd

[2011-11-02 20:30] #522 closed, assigned to shane-tomlinson

[2011-11-03 08:28] ghost opened #525 "The user is not always logged in when using BrowserID"
Environment:
1: Ubuntu 11.04 + Firefox 7.0.1
2: Android 2.2 HTC Desire A8181 + native browser

STR:
1. Open https://beta.myfavoritebeer.org in the browser.
2. Click on the Sign in button.
3. Sign in using an email and a password.
4. Select an email and sign in.

When the user selects the email and clicks on the Sign in button, the Signing in dialog is closed but the user is not logged in (the Sign

[2011-11-03 08:32] ghost commented on #341
When in landscape mode on Android phones (native browser), the user has to scroll horizontally BrowserID Signing In dialogs in order to see their whole content. Horizontal scrolling doesn't make a good user experience, especially when there is still space on the page to rearrange items so it wouldn't be needed.

[2011-11-03 10:22] shane-tomlinson opened #526 "long email addresses overflow to second line in pick email section on android browser."

[2011-11-03 10:37] shane-tomlinson opened #527 "long site names overflow off the screen on desktop version."
reproducible in Chrome using http://www.shanetomlinson.com as the site to sign in to.

[2011-11-03 11:23] #501 closed, assigned to nobody

[2011-11-03 11:35] shane-tomlinson commented on #501
@MisfitGeek & @JoeStagner - thanks for the input here!

[2011-11-03 11:35] shane-tomlinson commented on #510
@benadida, @lloyd - alright closing this.

[2011-11-03 11:35] #510 closed, assigned to shane-tomlinson

[2011-11-03 12:15] #527 closed, assigned to shane-tomlinson

[2011-11-03 15:17] shane-tomlinson opened #528 "Verify user screen has no directions once the user has entered password"

[2011-11-03 16:56] lloyd commented on #525
two things:
1. make myfavoritebeer fail better on assertion validation failures
2. check logs to see what ionana was seeing.

[2011-11-03 16:59] lloyd commented on #525
5 stars until we can understand the cause, then downgrade.

[2011-11-03 17:12] lloyd commented on #506
a fix may be required to close issue #525

[2011-11-03 17:14] lloyd commented on #479
ben, if you feel 4 stars is too aggressive, downgrade.

[2011-11-03 20:33] #528 closed, assigned to shane-tomlinson

[2011-11-03 20:49] lloyd opened #529 "need clear logging when server goes down for code update"
generally whenever the process goes down, we need clear output in the log so we know why.

[2011-11-03 20:59] lloyd commented on #511
given that developer tools need to be installed (firebug) and in use (developer tools open), and that there's a user facing work around (close the window or disable firebug) - I'm downgrading to 3 stars.  It would be useful to be able to use firebug on myfavoritebeer, but it shouldn't block important new feature development.

[2011-11-03 21:48] benadida opened #530 "running tests freezes at various points"
no symptom other than tests freeze, no error message. Could be related to process thing.

[2011-11-03 21:59] benadida commented on #479
merged

[2011-11-03 21:59] #479 closed, assigned to nobody

[2011-11-03 22:01] benadida commented on #260
dsa support now merged, keys upgraded to DSA with 2048 bit keys.

[2011-11-03 22:01] #260 closed, assigned to nobody

[2011-11-03 22:03] lloyd commented on #529
NOTE, winston is async, so `logger.warn()` followed by `process.exit()` will cause the process to exit before the log message is emitted.  This is why we're not seeing log messages at the moment.

[2011-11-04 05:55] #529 closed, assigned to lloyd

[2011-11-04 06:02] lloyd commented on #530
works for me reliably on all the machines I own, virtual and otherwise.  Please try with latest dev, and define `LOG_TO_CONSOLE`.  If you can reproduce, re-open with the last log messages you see, and with the output of `ps auxww | grep node`

[2011-11-04 06:08] lloyd commented on #530
reproduced on OSX twice - first time in list emails, second time in forgotten email test.  last output on console is a verification URL.  theory is that verification url handling isn't working properly . specifically there's a race condition.  reopening!

[2011-11-04 06:13] lloyd commented on #530
indeed, it is a timing problem.  When a token is generated by the browserid process before the testing process has had a chance to listen for it, things break.  fix underway...

[2011-11-04 06:44] #530 closed, assigned to lloyd

[2011-11-04 06:49] lloyd opened #531 "cookie-security test fails sometimes"
while running tests repeatedly tonight (like `while [ 1 ] ; do npm test ; done` for 30 mins), I saw several failures in cookie-security.  The problem was that seconds would change between the first cookie issuing and the second (timestamp is embedded inside the cookie)

[2011-11-04 06:50] lloyd commented on #531
/cc @benadida

[2011-11-04 06:54] #531 closed, assigned to lloyd

[2011-11-04 07:10] lloyd opened #532 "errant log message at startup"
seeing in log output:

[code]

that log message should indicate the smtp user that is used for email delivery.

[2011-11-04 07:11] #532 closed, assigned to lloyd

[2011-11-04 10:42] ghost commented on #525
When this bug was found, I kept getting the "Communicating with server" message displayed for a long time before the emails list was displayed. After the list was displayed, the bug reproduced.

This issue only reproduced for me on the environment in the bug description (I also tried it at the time on an iOS 4.2.1 iPhone and on Windows XP but it didn't reproduce on them).

Verified the bug today o

[2011-11-04 15:14] lloyd commented on #525
the android specific issue seems like one we should look into.  looking through the verifier logs for the last 16 hours or so I see no unexpected restarts.

Given that @ioanab cannot reproduce the same issue, and that evidence of the only viable culprit we've identified suggests the problem is fixed (issue #523) - are we comfortable considering this bug fixed for now and continuing to try to repro

[2011-11-04 16:03] #245 closed, assigned to lloyd

[2011-11-04 20:32] clarkbw opened #533 "remove 'need help?' link and add help to the bid/about page"
I'd like to simplify the dialog a bit more.  While I think we do want to offer help to people I think having only 2 possible actions "next" and "learn more" creates a nicer world in our popup.  The learn more link is a more natural link color and if it's the only other action besides going to the next step I think people are likely to use it if they are confused.  Currently the "need help" link ju

[2011-11-04 22:38] ianb opened #534 "include.js catches postMessages not intended for it"
I have an iframe that itself includes https://browserid.org/include.orig.js and that iframe receives postMessages from its parent.  I'm sending some invalid JSON (the string "hello"), which browserid's include catches, but was not intended for browserid.

I get this (mostly harmless) exception:
  Uncaught SyntaxError: Unexpected token h (include.orig.js:110)

It seems like a check of event.origin

[2011-11-07 08:41] ghost commented on #515
Verified this issue on Win 7 + Firefox 7.0.1 and Chrome 14.

The "Non existent user!" error message is displayed when clicking "forgot password" for an email address not registered with BrowserID.

[2011-11-07 10:01] ghost commented on #475
Bug 465 has been fixed, but this issue (475) still reproduces:

If the user opens the signing in dialog and presses F5 (refresh) before the hash has been cleared, the page is still loaded ok. If the user presses F5 after the hash has been cleared, the dialog is closed.

[2011-11-07 10:07] ghost commented on #465
Verified bug on Windows 7 + Firefox 7.0.1.The following error message is now displayed:
"We are very sorry, there has been an error!
To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below."

[2011-11-07 13:28] ghost commented on #513
Verified this in the BrowserID dialogs opened from beta.myfavoritebeer.org and on diresword.org. The user can now only enter 254 characters in the email text boxes.

[2011-11-07 13:33] ghost commented on #476
Verified for all the cases on Windows 7 + Firefox 7.0.1.

[2011-11-07 19:34] lloyd opened #535 "assess what it would take to port to nodejs 0.6.0"
given nodejs 0.6.0 comes with basic debugging support, and with improved primitives for multiprocessor support (useful for distributing crypto over multiple cores), we should take a look at what a port would take.

[2011-11-07 20:05] #535 closed, assigned to lloyd

[2011-11-07 20:15] lloyd opened #536 "need log rotation for keysigner"
this was overlooked when keysigner process was moved to beta in 2011.11.03 - we should implement log rotation for keysigner on all machines.

[2011-11-07 20:20] lloyd commented on #525
I'm a little confused with where we go now.  I'll wait for QA to verify this one by watching the logs.  Maybe we say if we have clean logs come wed, we close down this issue and open a new one if a similar problem is found?

"watching the logs" here means watching closely for unexpected daemon restarts...  @jbonacci ?

[2011-11-07 20:40] lloyd opened #537 "get __heartbeat__ out of logs"
we use the special url `/__heartbeat__` on all of our processes as a hook that can be polled by VIPs and load balancers to check the health of processes running on servers.  This url is hit often (every couple seconds).  It's not useful to create a log entry every time `__heartbeat__` is hit.  A simple way to accomplish this is to handle heartbeat _before_ we include the logger module.

[2011-11-07 20:56] lloyd opened #538 "add a FAQ to end user docs regarding password handling"
we should document precisely how we handle passwords so folks can feel safe about sharing their must trusted random phrases with browserid.  This would be good as a FAQ that is end user and/or developer facing.  Maybe this means in SUMO?

[2011-11-07 21:02] lloyd commented on #289
the maintainer of node.js bcrypt has already demonstrated an awesome willingness to accept our patches, we could consider using an 'application specific' data field of the bcrypt nonce to store password versions to migrate in the system nonce.  this is not a change to @benadida's suggestion, just a proposed implementation tactic.

[2011-11-07 21:09] lloyd opened #539 "the only process to read the private key should be keysigner"
The private key should _only_ be located on the keysigners, and should never be read into memory by other processes.

This is a specific subtask for issue #460

[2011-11-07 21:20] #539 closed, assigned to lloyd

[2011-11-07 21:29] benadida commented on #535
sounds like we all need to update then?

[2011-11-07 21:57] lloyd commented on #198
I think in all cases, when the user provides an email address in the login dialog, we should automatically log the user in with that email address.  There are few rare edge cases where this will not be what they want, but the workaround is simple and user discoverable.

[2011-11-07 21:59] lloyd commented on #535
let's decide whether we want to upgrade on wed.  For now, the code will run either under node 0.4.x OR 0.6.0.

[2011-11-07 22:17] shane-tomlinson commented on #198
@lloyd - I am still in disagreement with doing this, and I feel the workaround is neither simple nor discoverable (having to log out of BrowserID and then log back in using the email that the user wants).  My personal case is still the one I reference the most, and I think the case that many users are going to find since browsers perform form(and if forms are done correctly, password) completion.

[2011-11-07 22:26] lloyd commented on #198
oh darnit.

Well, for now can we at least change the second click from 'sign-in' to 'next'?  right now (as cce points out on IRC), it's 'next'. 'sign-in', 'sign-in' in terms of what the user clicks on.

I'll throw our handy dandy needs_ux label on this guy.

[2011-11-08 00:59] benadida commented on #289
so @lloyd do you mean this just to store the password _version_, not the actual system-wide nonce right?

[2011-11-08 01:15] lloyd commented on #289
Correct.

--lloyd

On Nov 7, 2011, at 5:59 PM, Ben Adidareply@reply.github.com wrote:

[2011-11-08 10:44] shane-tomlinson commented on #198
@lloyd instead of changing it to "next" (as the first step uses "next" too), I changed it to "select email"

[2011-11-08 11:18] shane-tomlinson opened #542 "Add XHR error messages to main site"
It has been done for the dialogs, now do it for the main site.

[2011-11-08 15:01] ghost commented on #510
Verified on Windows 7 with Firefox 7.0.1. The page content is displayed with javascript disabled and the "We're sorry, but to sign up for BrowserID, you must have Javascript enabled.", "We're sorry, but to sign in to BrowserID, you must have Javascript enabled. " messages are displayed on the pages with Sign in/up text boxes.

[2011-11-08 15:18] ghost commented on #508
Verified on Windows 7 with Firefox 7.0.1 and Chrome 14. The tooltip is displayed for 8 seconds (enough for the user to read the text).

[2011-11-08 15:24] ghost commented on #430
Verified on Windows 7 with Firefox 7.0.1 and Chrome 14. If the user clicks "Verify Email" less than 1 minute after he already did it once, a tooltip is displayed. After 1 minute, the user can ask for another email to be sent and the email is sent.

[2011-11-08 15:58] lloyd commented on #17
I've begun to feel that we should provide a _default off_ option anytime the user provides their browserid password: "this is not my computer"

It's interesting to think about the interplay with issue #490.

[2011-11-08 16:22] lloyd opened #543 "make cookie duration 2 weeks"
According to our fearless product manager, cookie lifetime should be _2 weeks_

[2011-11-08 16:23] #543 closed, assigned to lloyd

[2011-11-08 16:36] ghost commented on #1
I've verified this issue on Windows 7 with Firefox 7.0.1 and the current behavior is:
1. Load beta.myfavoritebeer.org in the browser.
2. Click on the Sign in button and log in to a BrowserID account with multiple email addresses associated to it (email1, email2, email3 etc).
3. Select email2 and log in.
4. Log out; select email 2 and log in.
5. Log out; select email 3 and log in.
6. Log out; click

[2011-11-08 19:36] clarkbw commented on #533
The "learn more" link takes you there and it would be the only link resource on the popup.  Even with the help link as it is now you'd have to know to use it or leave the popup and go to browserid.org

[2011-11-08 20:31] jsocol opened #544 "Tab order on browserid.org login form"
The tab order on the browserid.org login form is, starting from the username: username, password, remember me, _forgot password_, sign in. I think the expected tab order would be: username, password, sign in, remember me, forgot password. Or possibly remember me, sign in, forgot password.

[2011-11-08 22:53] benadida opened #545 "cert fails to be invalidated if user clock is off"
cert invalidation is based on local time, not on server time.

[2011-11-09 00:02] #490 closed, assigned to shane-tomlinson

[2011-11-09 00:30] lloyd opened #546 "static resources served with improper headers"
all resources need content type.  static resources need proper cache headers.

example:

[code]

[2011-11-09 00:31] lloyd commented on #546
we suspect this may be preventing IE8 from working too.  see https://skitch.com/markmayo/g8da7/scout-internet-explorer-8-sauce-labs

[2011-11-09 00:32] vmunix commented on #546
Result, otherwise, in IE8:  https://img.skitch.com/20111109-f7q82e81q33eru7xmi9sswg9b5.jpg

[2011-11-09 01:08] lloyd commented on #536
fixed on dev, beta, and prod (will take affect as trains roll there).

[2011-11-09 01:10] lloyd commented on #525
closing down, @jbonacci will reopen if this thing rears its head again.

[2011-11-09 01:10] #525 closed, assigned to lloyd

[2011-11-09 08:34] shane-tomlinson commented on #1
@jbonacci - yes, this is the _last_ used email, not the most.  The order of the list should not change ever, as this will cause user confusion.  If the user logs out of BrowserID (a perceived corner case to begin with except for shared computers), we are wiping local data for the privacy of the user, otherwise anybody could come in and check out localStorage and see usernames->sites for other user

[2011-11-09 12:01] shane-tomlinson commented on #542
Closing.

[2011-11-09 12:01] #542 closed, assigned to shane-tomlinson

[2011-11-09 16:11] shane-tomlinson opened #547 "tooltips are only showing "{{contents}}""

[2011-11-09 16:43] #547 closed, assigned to shane-tomlinson

[2011-11-09 17:25] #1 closed, assigned to shane-tomlinson

[2011-11-09 22:48] lloyd opened #550 "tests occasionally hanging"
this is happening right now on dev for me on OSX, based on the location of the hang, it looks like we're failing to detect daemon startup.

[2011-11-09 22:52] #550 closed, assigned to lloyd

[2011-11-10 09:56] shane-tomlinson opened #551 "dialog window is very wide in Firefox 8"

[2011-11-10 10:08] shane-tomlinson commented on #534
@lloyd - I gave this to you since you did the JSChannel work - is there a way we can have the JSChannel only listen for postMessage messages coming from the browserID relay iframe?  It seems like this should be possible, that way if @ianb's use case pops up again and include.js is included in an iframe, include.js is only catching messages from the inner relay iframe and not from the parent?

[2011-11-10 10:35] shane-tomlinson opened #552 "disabled email field in forgot password has no visual indication in chrome."

[2011-11-10 10:36] #544 closed, assigned to shane-tomlinson

[2011-11-10 10:39] shane-tomlinson commented on #544
@jsocol - thanks for the tip, it is now fixed!

@jbonacci, @ioanab - when verifying fix, please use Chrome as this does not affect Firefox.

[2011-11-10 10:41] shane-tomlinson opened #553 "Buttons should have a visual indication when hovered over or focused."

[2011-11-10 10:44] #552 closed, assigned to shane-tomlinson

[2011-11-10 10:58] shane-tomlinson commented on #553
@clarkbw - I made the change pretty subtle, are there any best practices for how much of a change is reasonable?  This is to primarily give users who use the keyboard a visual indication that a button is selected - which Firefox does not currently do nearly as well as some of the competition.

[2011-11-10 11:17] shane-tomlinson commented on #439
@ioanab - I have changed both of the confirmation pages to give the users directions pointing them back to their original page - this is so that the user knows they have to change tabs/windows and that things are operating correctly.  I am no longer redirecting to the "manage" page as this seemed a strange behavior to me.

Is this still an issue?

[2011-11-10 11:26] shane-tomlinson commented on #551
Closing, this was only an issue because of Firebug.

[2011-11-10 11:26] #551 closed, assigned to shane-tomlinson

[2011-11-10 11:28] shane-tomlinson commented on #43
Closing this as we have been supporting Android 2.2 for a while now.

[2011-11-10 11:28] #43 closed, assigned to shane-tomlinson

[2011-11-10 11:33] shane-tomlinson commented on #406
@ioanab - I am unable to reproduce this.

@lloyd, @jbonacci, @benadida - anybody have access to Windows 7 Professional to verify this?

[2011-11-10 11:45] shane-tomlinson commented on #407
Closing as all of the individual pages now have unit tests.  The coverage over those pages is coming along and this is an in process task

[2011-11-10 11:45] #407 closed, assigned to shane-tomlinson

[2011-11-10 12:00] shane-tomlinson commented on #196
@jbonacci - this is an outloud thought.  Since the unit test system is now in place, I am closing this.  We can open a new one about functional tests.

[2011-11-10 12:00] #196 closed, assigned to shane-tomlinson

[2011-11-10 12:51] #408 closed, assigned to shane-tomlinson

[2011-11-10 12:51] shane-tomlinson commented on #408
@jbonacci - each controller has a unit test suite - doesn't mean they are complete, but at least each controller has one.

[2011-11-10 15:52] shane-tomlinson opened #555 "chrome: Unable to post message to http://127.0.0.1:10002. Recipient has origin http://localhost:10001."

[2011-11-10 16:50] lloyd commented on #537
that previous commit was only for the browserid process.  we need this for all processes.

[2011-11-10 16:59] #537 closed, assigned to lloyd

[2011-11-10 18:37] benadida commented on #244
with DSA 1024/160, no more warnings.

[2011-11-10 18:39] #244 closed, assigned to nobody

[2011-11-10 18:56] benadida opened #556 "y u so hard, concurrency?"
test harness sporadic async errors and hard errors when dead node processes.

[2011-11-10 19:18] lloyd commented on #556
this issue should address sporatic test failures.  for bind failures I'll improve the error output, but will not do the ephemeral binding.  that's probably a 4 star issue.

[2011-11-10 19:32] lloyd commented on #556
sporatic errors are due to:

[code]

[2011-11-10 19:51] #556 closed, assigned to lloyd

[2011-11-10 20:07] lloyd opened #557 "sporatic failures in password-bcrypt-update-test"
output:

[code]

[2011-11-10 20:08] lloyd commented on #557
because the problem is related to database reading, and because in this particular test we read and write the database from different processes, and because the database is a trivial (file based), it looks like we have some concurrency issues.

flock?

[2011-11-10 20:11] lloyd opened #558 "the test harness should run sub-processes on ephemeral ports"
this would allow testing to work fine while you're locally developing.

/cc @benadida

[2011-11-10 20:13] lloyd commented on #557
can't reproduce now.  given infrequency decrementing to 4 stars.

[2011-11-10 20:28] lloyd opened #559 ""keep me signed in" feature is in an inconsistent state"
In current dev, the keep me signed in feature doesn't not support an `allow_persistent` flag to provide the user with the option to "stay signed into this site".  we've agreed that the proper way to roll out the feature is subtly, by keeping it optional.

The feature needs to be pulled from the current beta _or_ we must add a persistent flag.

[2011-11-10 22:01] fetep opened #560 "move bcrypt to webhead"
bcrypt cycles should happen on the browserid process on the webhead, not the dbwriter process.  (in prod, we will have more cpu cores on the webheads than the secure webheads).

[2011-11-10 22:03] lloyd commented on #560
taking ownership, 4 stars.

proposed implementation tactic:

handle _update password_ api on the secure webhead, handle _auth_ api on the webhead.  in the case we have to migrate a bcrypt hash (#rounds), we'll forward to the secure webhead.  so a small fraction of bcrypt will run on sec webhead - only when we're _changing_ or _setting_ the password.

acceptable?

[2011-11-10 22:47] fetep commented on #560
perfect.

[2011-11-10 22:49] fetep opened #561 "handle mysql master failover in dbwriter process"
When we failover the prod db master, there will be a new IP/hostname to connect to (for dbwriters), and we should direct further queries there.  The overall process looks something like:
- stop writes to the old master, let slaves catch up  (ops: set global read_only=true)
  - This will cause errors like "ERROR 1290 (HY000): The MySQL server is running with the --read-only option so it cannot exec

[2011-11-11 01:52] codeprogression opened #563 "Getting error on login post - on local and live sites"
Has there been a change in the assertion?  I am getting the following errors when trying to log in...

Unable to post message to https://browserid.org. Recipient has origin http://[URL].

XMLHttpRequest cannot load https://browserid.org/verify?assertion=[HASH]&audience=[URL]. Origin http://[URL] is not allowed by Access-Control-Allow-Origin.

[2011-11-11 01:57] benadida commented on #563
ah, we stopped allowing cross-origin request since that pattern doesn't really help you do the right thing (your browser could lie to you if there's greasemonkey or firebug installed). You should verify the assertion from your server, not client.

[2011-11-11 03:32] codeprogression commented on #563
Makes sense. Thanks for the quick response.

I have updated my code to process the assertion via my server, but I still get the _Unable to post message to https://browserid.org. Recipient has origin http://[URL]_ when opening the browserid login.

[2011-11-11 15:39] lloyd commented on #563
hey @codeprogression - I believe that message is ugly, but harmless - it's tracked in issue #555

[2011-11-11 15:39] #563 closed, assigned to nobody

[2011-11-11 16:06] codeprogression commented on #563
Great..thank you both!

[2011-11-11 23:25] lloyd commented on #528
how does this issue relate to #385 ?  I think in that bug we're talking about remembering the URL the user was at, and sending them back there.

[2011-11-12 21:32] Repox opened #564 "Localization?"
I would really love to use this, but I believe that it would help me gain my users trust for this, if the service is presented to them in their own language.

Will browserid be localized at any point? And if so, where can I/we sign up to help translating?

[2011-11-12 21:34] lloyd commented on #564
yo Repox!  yes it will be localized, but our first goal is a focus on finalizing features and scaling the infrastructure up.

If you'd like to help, please open an issue like `i18n: <locale you'd like to help translate into>` - here are some other volunteers:

https://github.com/mozilla/browserid/issues?milestone=12

[2011-11-12 21:34] #564 closed, assigned to nobody

[2011-11-12 22:03] Repox opened #565 "i18n: da_DK"
I can translate the project to danish.

[2011-11-13 17:34] fetep opened #566 "heartbeat should not check backend servers"
/**heartbeat** is intended to only check the local health of an individual server. The browserid process currently healthchecks dbwriter & keysigner to return a safe /**heartbeat**.

If **heartbeat** fails, zeus won't route traffic to that node. If one of our backends are down (dbwriter or keysigner), we still want to accept traffic and gracefully handle a broken backend (showing some kind of main

[2011-11-13 17:49] lloyd commented on #566
Ok, I can make this change Monday.  @shane-tomlinson - we'll Need to coordinate and make sure the Frontend  code properly handles error responses from affected apis when keysigner, dbwriter, or database is sick.

Also, we should have unit tests which ensure at the API level we're properly handling each possible scenario.

--lloyd

On Nov 13, 2011, at 10:34 AM, Pete Fritchmanreply@reply.github.com

[2011-11-14 12:49] ghost commented on #406
@shane-tomlinson, @jbonacci - I tried reproducing the issue from my previous comment again on Win 7 Professional and it doesn't reproduce anymore.

The whole initial issue (Ctrl+C/X/V) does reproduce on https://diresworb.org/signup though.

[2011-11-14 14:16] ghost commented on #439
@shane-tomlinson - First, a new intermittent issue has appeared when signing up from the client (Win 7 + Firefox 8.0):
1. Open http://beta.myfavoritebeer.org.
2. Click on the Sign In button.
3. Enter an email address not already associated to BrowserID.
4. Click on the Verify Email button.
5. Open your email account and click on the BrowserID Verify link.

After the user verifies the email address

[2011-11-14 14:39] ghost opened #567 "The "login failure [object Object]" pop-up is sometimes displayed when selecting an email and signing in with no internet connection"
OS: Windows 7
Browser: Firefox 8.0

STR:
1. Open the emails list dialog from http://beta.myfavoritebeer.org.
2. Loose your internet connection.
3. Select an email and click on the Sign In button.

Sometimes a pop-up with the "login failure [object Object]" text on it and an OK button was displayed. Most times the "We are sorry..." message from above was displayed.

[2011-11-14 14:41] ghost opened #568 "The "Communicating with server" dialog hangs when loosing the internet connection"
OS: Windows 7
Browser: Firefox 8.0

STR:
1. Open beta.myfavoritebeer.org.
2. Click on the Sign In button.
3. Loose your internet connection while the "Communicating with server" dialog is displayed.

The "Communicating with server" dialog hangs (regardless if the internet connection is re-established or not) until the user manually closes it. No error message is displayed.

[2011-11-14 16:22] ghost commented on #553
@shane-tomlinson - In Firefox, the color change might be too subtle for some users - this is visible especially when 2 buttons are displayed on the page (e.g. Reset Password & Cancel) and one of them gets selected by pressing the Tab key. It looks better in Chrome and much better in Opera.

Another issue is that this change was implemented for the dialogs opened from the client but not also for di

[2011-11-14 16:33] clarkbw commented on #553
We can merge the two styles that Chrome has and Firefox has for focus rings, we couldn't make this happen originally.

Chrome Button Focus
http://cl.ly/1B0d3j1B022G2G3g2u2b

Firefox Button Focus
http://cl.ly/0p0n3X3f2w0b2o3X150I

Though I'd like to have the button focus eventually be different than just the link focus ring as it's a bit weird to have a focus ring around a button.  I'd like to work

[2011-11-14 16:39] shane-tomlinson opened #569 "User Profile info needed."
Start with name and photo.

[2011-11-14 20:54] lloyd commented on #569
do you feel like this should be an issue against browserid?

[2011-11-14 22:17] krupa commented on #511
We plan to release a developer preview on Nov 22. Assuming that we are reaching out primarily to AMO developers, it is not unreasonable to assume that most of them a) use Firefox and have firebug installed. b) use the dev tools pretty heavily.

I am concerned that this might turn into a bad user experience for most of our target audience for the developer preview. Is there a way to get this issue

[2011-11-14 22:21] tonychung commented on #511
I spoke with Krupa and she's raising the urgency here of the user impact for AMO developer preview.   She's asking for a fix on the next train to fix if possible.   Reraising priority to 4 stars (since its only firefox affected, but AMO has a lot of them), but feel free to re-triage after taking a second look.

[2011-11-14 22:58] lloyd opened #573 "KEYSIGNER_URL should not be full"
currently the code expects a FULL keysigner url to be provided, including the path.  This is silly, as it's an internal detail.  We should just use the origin and append `/wsapi/cert_key`

[2011-11-15 00:26] lloyd commented on #573
not a bug, incorrect analysis, bad @lloyd.

[2011-11-15 00:26] #573 closed, assigned to lloyd

[2011-11-15 01:30] lloyd opened #576 "when keysigner can't read key, it should go down noisily"
Currently the failure is opaque, basically the keysigner issues 500 responses for all requests.  lame.

[2011-11-15 01:45] #576 closed, assigned to nobody

[2011-11-15 08:08] shane-tomlinson commented on #511
@tonychung, @krupa - is this a platform issue or a browserid specific issue?  By platform I mean, given that a developer has both Firebug installed and the error console open, does any page which opens a window from an iframe using window.open and then attempts to close that window using window.close suffer from the same problem?  We can try to apply a bandaid to BrowserID, but if this window.clos

[2011-11-15 10:19] shane-tomlinson commented on #559
@benadida, @lloyd - I have started work on the front end to only display the "remember this selection" checkbox if "allow_persistent" makes its way to the pick_email_controller.  I can continue with this work we want to add this field to `navigator.id.get`.

I also propose that we change the interface to the dialog_controllers getVerifiedEmail.  Right now its three parameters are "origin, onsucces

[2011-11-15 11:32] shane-tomlinson commented on #511
@thonychung, @krupa, I have verified that this is _not_ a BrowserID specific problem and at the moment I do not know of a fix.  @lloyd, @benadida - any ideas?

I have filed a Bugzilla issue, it has the test case as an attachment: https://bugzilla.mozilla.org/show_bug.cgi?id=702566

[2011-11-15 13:01] shane-tomlinson commented on #569
depends on whether it becomes part of the BrowserID codebase/dialog/flow.

[2011-11-15 13:18] shane-tomlinson commented on #533
@clarkbw - I have removed the "need help" link from the dialog and added it to the same location on the main site.  Is this more along the lines of what you had in mind?

[2011-11-15 13:22] ghost opened #577 "Inconsistent messages displayed when sending confirmation emails"
OS: All
Browser: All

The following message is displayed when sending a confirmation email from the client by clicking "verify email" or "reset password":
"We sent a confirmation email to <email_address>
To finish signing in just click the verify link we sent to your email address.
If this is a mistake, cancel this email."

When clicking the same buttons from https://diresworb.org, the following m

[2011-11-15 13:46] ghost opened #578 "The buttons on the Signing in dialogs that have correspondents on https://diresworb.org should be consistent with them"
OS: All
Browser: All

The button for verifying your email address is "verify email" on the dialog opened from the client and "Verify Email" on https://diresworb.org.

The button for resetting your password is "reset password" on the dialog opened from the client and "Reset Password" on https://diresworb.org.

The buttons on the Signing in dialogs that have correspondents on https://diresworb.org s

[2011-11-15 15:00] benadida commented on #559
@shane-tomlinson sorry didn't see this comment before finding you on irc. so after a few more minutes of thinking...
- let's leave getVerifiedEmail unmodified for now so as not to break existing code like pancake and the add-on, let's assume its options block is empty.
- let's add a get() method with params as you mentioned _plus_ explicit origin. origin has to be trusted, so best not to get into

[2011-11-15 16:13] shane-tomlinson opened #579 "throttling message not displayed on main site signup page."

[2011-11-15 17:04] #577 closed, assigned to nobody

[2011-11-15 17:04] #579 closed, assigned to shane-tomlinson

[2011-11-15 17:14] ghost opened #580 "Issues with parallel sign ins"
Environments:
Ubuntu 11.10 + Chrome 15.0.874.120
Windows 7 + Firefox 8.0

Signing into different clients with different BrowserID accounts in the same browser doesn't work as expected:

Case1:
The user signs into http://beta.myfavoritebeer.org with his BrowserID account, then opens http://beta.myfavoritebooze.org in a new tab, signs in, then signs out. The user is signed out of his account in the

[2011-11-15 17:37] clarkbw commented on #533
Yeah, if you can add a small section to the bottom of the about page as well that would be awesome so we have a larger callout in that space.

Something like this is just an `<hr>` plus another`<div class="row" style="text-align:center;">`
http://cl.ly/1N461t0b1L2b272W3f1j

[2011-11-15 18:33] lloyd opened #581 "verifier should go down noisily if it cannot read public key"
currently the verifier silently continues if it cannot read the public key, it should go down hard as this indicates a mis-configuration.

[2011-11-15 18:57] #581 closed, assigned to lloyd

[2011-11-15 19:14] lloyd commented on #460
done.

[2011-11-15 19:14] #460 closed, assigned to lloyd

[2011-11-15 19:55] lloyd opened #582 "improved file based configuration"
currently browserid is completely configured via environment variables.  There is a mechanism that allows a javascript file to be added to a deployment that will be evaluated in the context of `configuration.js`, however this method is error prone as the author of the file must understand the intricacies of configuration.js, and is prone to break upon updates.  Further, the author of the javascrip

[2011-11-15 20:46] lloyd commented on #566
@fetep so you don't even want me to ping the database?

[2011-11-15 20:54] tonychung opened #583 "not recognizing email address with leading whitespace on diresworb.org"
If you add leading whitespace to an email address on the diresworb.org sign in, it throws a user error:  "This field must be an email address".   we should validate despite whitespace.

See screenshot

http://i.imgur.com/DgEah.png

REpro:
1) go to diresworb and click sign in
2) in the email field, add a few leading whitespaces first, then type in a valid email address
3) Verify client error shows:

[2011-11-15 21:03] tonychung commented on #583
also tested against:

https://dev.diresworb.org/signin
https://dev.diresworb.org/signup

[2011-11-15 21:54] #459 closed, assigned to shane-tomlinson

[2011-11-16 00:05] #557 closed, assigned to lloyd

[2011-11-16 00:14] digitarald opened #584 "Design is not adapted to mobile on Android"
Tested on emulator and Nexus One, using our popup implementation in soup.

http://dl.dropbox.com/u/1864007/Screen%20Shot%202011-11-15%20at%204.06.35%20PM.png

I steal a few pixels for the popup layout. Landscape works fine.

[2011-11-16 00:17] benadida commented on #584
yes, this looks fine for me on my nexus one. Are you doing anything special?

[2011-11-16 00:28] lloyd opened #585 "in dev, inclusion of include.js causes 8 transactions costing 300k"
That's 8 http transactions, including 300k of resources, at page load.

This is a regression, down from 1 http transaction costing 11k.

https://img.skitch.com/20111116-jsen36a7pgiiwwn2ew4cfd6ata.png

I think this should block us from moving into beta with this.  thoughts? /cc @ozten @benadida @stomlinson @jbonacci

[2011-11-16 04:36] benadida commented on #585
what happened there? Is there a reason this changed so significantly?

[2011-11-16 05:14] tonychung opened #586 "Sign in window clips text on Android Devices Landscape view"
See screenshot.   Instantiating the sign in screen will clip text instead of wrapping it.

Ignore the custom font.

http://i.imgur.com/7hetc.png

Repro:
1) install android app that uses browserID for sign in (eg. Soup.apk)
2) click Sign in
3) Verify popup clips text on sign in window

Expected:
- text does not get clipped.   instead should be wrapped if too long

ActuaL:
- screen clips text in por

[2011-11-16 05:18] lloyd commented on #585
Loading the relay frame at RP page load time is what triggers the inclusion of all these resources - the change made to support ios5.

There are plenty of ways to approach this, but the high level question remains, should this change in rp facing cost block us?

I think the answer is yes -- and we need to figure this out before new features (which Shane and I should be able to do in the morn).

On

[2011-11-16 05:22] benadida commented on #585
gotcha. Yeah the relay frame should be shrinkable to very minimal stuff.

[2011-11-16 05:32] tonychung commented on #586
yep, does sound like a dupe of 584.

[2011-11-16 06:10] digitarald commented on #584
As you see, the popup has some padding; which breaks the design. I will change the popup layout to accommodate for the expected width.

Close at will.

[2011-11-16 06:20] benadida commented on #61
Thanks everyone for bringing up this issue. We'll keep this issue in mind, especially as we discuss stronger proofing options.

[2011-11-16 10:13] shane-tomlinson commented on #547
@jbonacci - try typing in a non-email address in an email field.  Or a blank password in a password field.

[2011-11-16 11:35] #583 closed, assigned to nobody

[2011-11-16 11:54] shane-tomlinson opened #587 ""go back and try another" link not working from validation screen in dialog"

[2011-11-16 12:24] lloyd commented on #585
this is not nearly as severe as I made it out to be, apologies.

I was looking at an RP that tries to get an immediate assertion - which requires pulls in _all our code_.  That happens at load time.  We do have a significant amount of optimization to do, but it's not right no the main codepath.

The full impact for RPs is instead 2 additional HTTP transactions for a cost of about 5k over the wire.

[2011-11-16 12:24] #585 closed, assigned to nobody

[2011-11-16 13:21] lloyd opened #588 "issues with multiple RPs and relay frame"
This is a regression, originally raised in issue #580.  If you open an RP, then open a second, then click sign in on the first, the dialog will fail with the following message

"We are very sorry, there has been an error!
To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below.

[code]

@shane-tomlinson and I expect that this is due to th

[2011-11-16 13:22] lloyd commented on #580
This is as designed - browserid login is global.  It's not expected to be common that users will have different browserid accounts, and we'll attempt to consolidate all a users emails into a single account.

I'm closing down this issue as "by design", but feel free to open a larger discussion on the dev-identity if you're not content with my explanation here.

W.R.T. the error you see, _great_ fin

[2011-11-16 13:22] #580 closed, assigned to nobody

[2011-11-16 13:29] lloyd commented on #588
we need to somehow correlate in time the setting of this localstorage thingy by the relay frame, and the reading of said thingy by the dialog...

[2011-11-16 14:19] benadida commented on #588
## Yes, nice catch. Leave this one to me while you work on requiredEmail.

Ben

Lloyd Hilaiel reply@reply.github.com wrote:

This is a regression, originally raised in issue #580. If you open an RP, then open a second, then click sign in on the first, the dialog will fail with the following message

"We are very sorry, there has been an error!
To retry, you will have to close BrowserID and try aga

[2011-11-16 17:53] #588 closed, assigned to nobody

[2011-11-16 19:15] lloyd opened #589 "dialog fails to come up correctly the second time..."
[code]

[2011-11-16 22:34] lloyd commented on #589
The flicker and close behavior is on chrome.  On firefox the dialog just "hangs", in the error console is this message:

[code]

[2011-11-16 22:49] benadida commented on #589
that error actually occurs on every call, even the first one.

[2011-11-16 22:55] lloyd commented on #589
the bug was introduced in be381af4fd5dfc1e38e4e30ee162c5c4042a45d7

[2011-11-16 23:06] skinny97214 commented on #348
Bryan - What would you think of switching the "how it works" page to be the home page. Then you'd have an "My account" link in the top nav.

[2011-11-16 23:16] ripulbd opened #590 "Opera and Opera Mobile in Android "Relay frame could not be found" Problem."
Hi,

I have been testing BrowserID. My test stie works perfectly well with Firefox, Firefox Mobile, Chrome and Android Stock Browser. However, Opera and Opera Mobile seems to cause troube with both showing the following error:

"We are very sorry, there has been an error!

 To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below.

Action:

[2011-11-16 23:16] skinny97214 commented on #198
Can you attach some screenshots? I'm having trouble following what bits you're talking about.

[2011-11-17 00:17] shane-tomlinson opened #591 "verification email throttling tooltip not showing in required email screen"

[2011-11-17 00:19] benadida commented on #590
@ripulbd which version of Opera on which OS? It's working for me on dev.myfavoritebeer.org on opera 11 on mac os.

[2011-11-17 00:37] ripulbd commented on #590
@benadida, Opera Version 11.52 Build 1100 on Windows 7. Cheers.

[2011-11-17 00:51] #591 closed, assigned to shane-tomlinson

[2011-11-17 00:54] shane-tomlinson commented on #587
Closed with 5182c6c534c05a61b36a76b9c1335fe77d246a80

[2011-11-17 00:54] #587 closed, assigned to shane-tomlinson

[2011-11-17 01:06] shane-tomlinson commented on #584
@digitarald - the Android emulator is absolutely horrible at rendering, for some reason the font sizes in the emulator are about 50% larger than they should be.

[2011-11-17 01:12] lloyd opened #594 "Better logging for email delivery"
We should ensure we're properly interfacing nodemailer to get errors when delivery fails in a way we can detect.

[2011-11-17 01:16] lloyd commented on #589
Why is there no closing commit on this bug?

[2011-11-17 01:19] benadida commented on #589
@lloyd ? what do you mean? I committed and referenced the issue as closed.

[2011-11-17 01:20] bplus-archive commented on #589
Oh.  Teehee.  Github issues for iPhone doesn't give the whole truth.  Sry

[2011-11-17 15:11] benadida commented on #586
it's a dupe, and I've just recreated it on my phone, I'm not sure why it's showing up as a popup now, rather than a whole new window. Closing this one, duplicates #584.

[2011-11-17 15:11] #586 closed, assigned to nobody

[2011-11-17 15:12] benadida commented on #584
so I _think_ some android native browsers changed behavior here. I'm seeing this behavior on myfavoritebeer.org on my phone, hadn't seen it before.

[2011-11-17 15:18] benadida commented on #590
@jbonacci - so I'm confused because in #586 it says that it works in Android stock browser but design is clipped. Here you say it doesn't work. On my nexus s this works, but clipped design. Can you confirm exact behavior on android stock browser from your pov?

[2011-11-17 16:15] shane-tomlinson commented on #584
@benadida, @digitarald - can you get this reproducing reliably on myfavoritebeer.org?  My phone is acting quite normal.

[2011-11-17 16:16] shane-tomlinson opened #596 "Stock Android 2.3 browser cannot find relay frame on dev.myfavoritebeer.org"

[2011-11-17 16:18] shane-tomlinson commented on #569
removing this from here, goes into separate repo.

[2011-11-17 16:18] #569 closed, assigned to shane-tomlinson

[2011-11-17 16:21] shane-tomlinson commented on #567
@ioanab - I have been unable to reproduce this, is this intermittent or can it be caused reliably?

[2011-11-17 16:25] ghost commented on #567
@shane-tomlinson - this issue is intermittent (that is why I wrote the pop-up is only displayed sometimes). From my experience, you may need to try to reproduce it many times before it actually happens (some days it reproduced from my second try, others barely after using BrowserID for hours with an internet connection that kept getting lost).

[2011-11-17 16:27] shane-tomlinson commented on #590
Related to #596.

[2011-11-17 16:28] shane-tomlinson commented on #567
@ioanab - thanks, I may have to put some rate limiting proxy on my network connection to introduce some more lag.

[2011-11-17 16:32] shane-tomlinson commented on #568
I am marking this as needs discussion because I think we need a decent plan of attack here on how to take care of opening the dialog with a loss of network connection before the relay frame is established.

[2011-11-17 16:58] lloyd commented on #311
required email is added, we'll wait on 'preferred features' and open a new issue when it becomes clear that we need them.

[2011-11-17 16:58] #311 closed, assigned to nobody

[2011-11-17 16:58] lloyd commented on #491
requiredEmail feature has been added.  we'll wait on any preferred email feature and open a new issue if it becomes clear we need such a thing.

[2011-11-17 16:58] #491 closed, assigned to lloyd

[2011-11-17 18:02] benadida opened #597 "Determine internal JS API in dialog for auto-approval by modified web envs"
coordinate with apps team.

[2011-11-17 19:13] ianb opened #598 "Submitting wildly invalid assertions to /verify causes a 500 server error"
I accidentally pointed my mock assertions at BrowserID (things like the literal string "test@example.com", which isn't base64, JSON, JWT) and I get a 500 error.  It should return a proper error message.

[2011-11-17 20:10] lloyd commented on #590
we are unable to reproduce any problems in opera desktop OR opera mobile against current production (https://browserid.org/) or current development (https://dev.diresworb.org/)

please re-test and if you are able to produce any problems in either of these environments open a new bug with the specific browser version, the site that you were testing against, and the precise error you're seeing.

Tha

[2011-11-17 20:10] #590 closed, assigned to lloyd

[2011-11-17 21:50] benadida commented on #596
from my testing, it appears that things work fine on android 2.2 and 2.3 stock browser on dev server as long as the stock browser is set to be the default. If you have to pick another browser, on android 2.2 at least the popup replaces the main rp window, and you're out of luck. I'm wondering if I can recreate this problem in 2.3 by not having a default browser... let me try.

[2011-11-17 22:08] benadida commented on #596
it appears that this is due to not having a default browser set, which then leads the popup to _replace_ the relying party window.

resolution: set a default browser.

[2011-11-17 22:08] #596 closed, assigned to nobody

[2011-11-17 22:32] shane-tomlinson commented on #596
@benadida - ahhh, interesting.  Because earlier today, I did not have a default browser set on Android, and then when I set the default browser is when I went "hey, this is working now."

[2011-11-17 23:37] lloyd commented on #597
jobs done?

[2011-11-17 23:39] lloyd opened #599 "must be able to update domain key at any time"
We must be able to centrally invalidate the domain key.  This would be used in cases where we want to change it, like to increase the keylength or change from RSA to DSA, or in the horribly unlikely case we have key compromise.

Suggested implementation tactic is to ship down a `cert_version` key in session_context and if that doesn't match in storage keys, purge them at dialog startup.

[2011-11-17 23:39] lloyd commented on #599
/cc @shane-tomlinson @benadida

[2011-11-17 23:42] lloyd opened #600 "Need to decide on algorithm and keylength for domain key"
currently our domain keys are all RSA 1024.  We should decide if we want to stick with RSA or move to DSA and what the keylength should be.  I've run the numbers and here is the cost on an example machine:

RSA2048 - certification 419ms - verification 137ms

DSA2048 - certification 69ms - verification 248ms

These times are on a 2.5ghz linux box under node 0.6.0.

Given this, I suggest DSA 2048.

[2011-11-17 23:45] lloyd commented on #598
this is lame.  in general the verifier needs hardening and love.  it should return extremely helpful errors to end users, given this will affect our cost of supporting it significantly.

I say 4 stars.

[2011-11-18 00:58] benadida opened #601 "build pagemod-ready API"
we need to expose a JS API in the BrowserID dialog that lets chrome-level apps do what they need to do, including fully control BrowserID functions. This API, if well defined, can then be stable.

Specifically:
- navigator.id.channel can be defined by the chrome to provide an alternative message-passing channel. This is already done and should stay.
- navigator.id.internal.getSilent(origin, email,

[2011-11-18 00:58] benadida commented on #597
API has been determined, action is #601.

[2011-11-18 00:58] #597 closed, assigned to nobody

[2011-11-18 01:06] benadida commented on #600
some more info on this: from some pre-print of a paper I've seen, the library we're using becomes a somewhat inefficient around 1300-1400 bits for the modulus. So moving to node-bigint should provide us with a significant improvement, especially on RSA2048 certification, which is a full exponent operation (whereas DSA exponents are 256 bits.)

I need to think of the easiest way to patch in node-bi

[2011-11-18 01:07] benadida commented on #584
@shane-tomlinson yes I get this clipping reproducing regularly on my 2.3 phone.

[2011-11-18 01:14] lloyd commented on #600
verification is something we can and should aggressively move to RPs.  This is interesting in its interplay with your claim that verification is the choke-point.

what sort of native optimizations do you expect would be most effective in reducing the cost of certification, either with RSA or DSA?

[2011-11-18 01:16] benadida commented on #600
I guess I'm just not sure we're going to move verification to RPs very quickly. If we manage to do that, then it's the other way around. But in any case there are _far_ fewer certifications than verifications, right?

I think moving to node-bigint or a similar library that does big-integer math in C is going to be our biggest win. Moving the whole verification to JS will probably gain us 10-20% mo

[2011-11-18 01:24] benadida opened #602 "build privacy policy agreement"
Most sites have a legal requirement to present a privacy policy that users must agree to. It seems like the BrowserID login is a good time to present that policy, especially since the alternative is to add a step to the login flow.

This was brought up by the Mozilla affiliates site.

[2011-11-18 01:36] lloyd commented on #600
based on the estimates I did, we can assume 8 certifications and 40 assertions per active users per day (assuming we have serious uptake on the short lived cookie move - which my intuition and experience tells me is a pipe dream).

Further assuming we get zero uptake on RP verification of assertions we're looking at DSA2048 costing us 85% of RSA2048.

I make two assumptions here in favor of RSA an

[2011-11-18 01:37] lloyd commented on #600
oh, "estimates I did" are here: https://github.com/mozilla/browserid/wiki/Scaling-to-1M

[2011-11-18 01:39] lloyd commented on #600
oh, and given the hardware we've thrown at the problem, I suggest that native bigint ASAP might be premature, let's wait for actual load testing to prioritize.

[2011-11-18 01:39] benadida commented on #600
Interesting, thanks for the numbers.

There is a slight crypto reason to prefer RSA over DSA for the high-value key, which is that DSA appears to a bit weaker if we're not super careful with our randomness. RSA is more forgiving.

So if we're within 10% of the performance, I would probably favor RSA. Your numbers are a bit over that, so I think it's worth trying what happens with node-bigint, beca

[2011-11-18 01:40] benadida commented on #600
@lloyd sounds good, we can wait.

[2011-11-18 01:42] lloyd commented on #600
@benadida k.  note here that I'm quoting numbers with node 0.6 - @vmunix suggested that this move might not be too high risk.  That may be the zero work optimization that we want to prioritize.  cost is significantly higher with 0.4 - which lacks modern V8

RSA2048 it is.  do you agree with the dependant issue?  GH-599 ?

[2011-11-18 01:43] benadida commented on #600
I do agree, absolutely, great point regarding #599. I think that's high priority for the next train. My recommendation is to have a creation_date on the key, and have a server-issue cutoff: all certs before X need to die.

[2011-11-18 01:53] lloyd commented on #600
domain_key_creation_date in session context sounds fine.

[2011-11-18 02:30] vmunix commented on #600
My only comment is that we'd need to heavily test use of node 0.6.x or node-bigint, but at least with 0.6.x that testing effort opens up a bunch of niceties aside from _just_ improved V8 performance.

[2011-11-18 03:51] lloyd commented on #600
again, given hardware, I'm okay with leading with loadgen.  The more low risk optimizations we have in our back pocket, the better.  We'll be on 0.6 at some point, the only question is when, and I'll leave that one to @vmunix.

RSA2048 on 0.4.x will give us a good worst case, and that's what we need right now to make testing meaningful.

If I had a nickel for everytime "optimize later" paid off...

[2011-11-18 03:56] lloyd opened #603 "command line tool to stage a user"
it would be useful to have a command line tool to stage a user and cause an email to be sent from the system.  You should be able to specify a server and an email address on the command line, everything else should just be magic.

/cc @vmunix

[2011-11-18 03:58] lloyd opened #604 "end to end email delivery testing"
we should use the tool in GH-603 to set up automated end to end email delivery testing.

[2011-11-18 04:41] #603 closed, assigned to lloyd

[2011-11-18 05:11] lloyd opened #606 "vepbundle needs to be combined with other resources and minified"
this will shave an HTTP transaction and 80k off of dialog load.

/cc @benadida @shane-tomlinson

[2011-11-18 10:26] shane-tomlinson opened #607 "Resolve issues around account consolidation."

[2011-11-18 10:32] shane-tomlinson opened #608 "share forgot password screens in main dialog flow and required email flow."

[2011-11-18 10:33] shane-tomlinson commented on #608
Currently there is no "forgot password" screen of the required email flow.  Pressing the forgot password button immediately sends out a validation email.

[2011-11-18 10:34] shane-tomlinson opened #609 "Start to modulize frontend"
Reduce dependency on JSMVCs controllers and move to a simpler module system.

[2011-11-18 10:35] shane-tomlinson opened #610 "remove direct calls to jQuery animations"
Use some sort of wrapper, consider CSS transitions/animations.

[2011-11-18 10:40] shane-tomlinson opened #611 "split off dialog helper calls into their own module instead of being in shared."
These cannot be used in the main site and should be in a dialog specific module.

[2011-11-18 10:44] shane-tomlinson commented on #611
c6b9d22549f3d2b15a0844156b641a4d538fc49d closes this.

[2011-11-18 10:44] #611 closed, assigned to shane-tomlinson

[2011-11-18 10:47] shane-tomlinson opened #612 "Break add email into its own controller/module"

[2011-11-18 13:21] #612 closed, assigned to shane-tomlinson

[2011-11-18 15:16] lloyd commented on #596
@jbonacci - why were you able to reproduce this issue on 3 / 3 of your test devices?

Is it the case that this is 100% common in our QA environments but doesn't happen with actual users?  Pardon my ignorance of typical android user behaviors.

It sounds like we're saying this is a regression, but not one we care to fix?

[2011-11-18 17:10] lloyd commented on #599
steps to test (don't work now, but should):
1. npm install
2. npm start
3. create user acct through 127.0.0.1:10001
4. stop server
5. rm var/root.*
6. npm install
7. npm start
8. relogin as user - verify that we transparently recreate a keypair and recertify

[2011-11-18 18:27] benadida commented on #596
I have a theory as to why this might be happening, but I need to test it out. I _think_ that I'm adding the iframe after document.body is ready but before onload has fired, which may mean that the browser considers the page not loaded, so when it exits out to the "choose browser" dialog, and the same browser is selected to load the iframe content, the browser may assume "i have no loaded page, I'm

[2011-11-19 00:04] #599 closed, assigned to nobody

[2011-11-19 00:06] #600 closed, assigned to lloyd

[2011-11-19 00:40] lloyd opened #616 "assertion generation/verification fails about 10% of the time"
[code]

this problem occurs about 1 in 10 assertions.  you can reproduce manually, or automatically with load_gen.

lloyd believes this is related to _zero_.

[2011-11-19 01:05] lloyd commented on #576
@jbonacci - one strategy to regress this would be to run locally. then shut everything down, then remove the private key (var/root.secretkey) then start up everything.  keysigner should log a descriptive error and go down.

[2011-11-19 01:19] #616 closed, assigned to nobody

[2011-11-19 01:25] lloyd commented on #616
fix confirmed in my environment.

[2011-11-19 02:16] AntoineTurmel opened #618 "Nintendo 3DS browser unsupported"
When trying the sign in button at myfavoritebeer.org, I got the message "We're sorry, but currently your browser isn't supported."

There is more information on the 3DS Browser here :
http://3dbrew.org/wiki/Internet_Browser

[2011-11-19 02:24] AntoineTurmel opened #619 "Nintendo 3DS browser unsupported"
More info from the browser :
http://3dbrew.org/wiki/Internet_Browser

[2011-11-19 02:24] AntoineTurmel commented on #619
oops already duplicate sorry -_-"

[2011-11-19 02:24] #619 closed, assigned to nobody

[2011-11-19 04:32] lloyd commented on #606
yikes.  that last commit wasn't awesome.  it caused 'require not found' javascript errors on dev.  reverted.

[2011-11-19 04:46] #606 closed, assigned to lloyd

[2011-11-19 04:48] lloyd commented on #606
the problem that occured at the first application was the post-update hooks on the dev server compressed resources first, then npm install'd deps.  with that order flipped, the patch seems solid

/cc @shane-tomlinson

[2011-11-19 18:43] lloyd commented on #226
can we use just ETags?  Unsure of browser support, but it's trivial to enable caching in connect's static middleware, and this already supports proper max-age and ETag headers.

[2011-11-19 18:45] lloyd commented on #546
resolved in dev.  please regress.  (IE8 fully functional in dev)

We need to figure out cache headers and invalidation, but that's a different issue.

[2011-11-19 18:45] #546 closed, assigned to lloyd

[2011-11-19 19:04] lloyd opened #620 "need cache headers on all static resources"
We need to figure out GH-226, and once done, we need to ensure cache headers are on all static resources.  We should also add an in-tree unit test to verify we don't regress here.

/cc @vmunix @shane-tomlinson

[2011-11-21 12:46] ripulbd opened #621 ""Relay frame could not be found" Problem in Opera and Opera Mobile in Android"
Hi,

I am re-submitting the error with a more detailed explanation on what caused the error and hope to get help from you to resolve the problem.

I am using Opera Version 11.52 Build 1100 on Windows 7 and Opera Mobile Version 11.50.ADR-1111101157 on Samsung Galaxy S2 with Android 2.3.3. I have tested with myfavoritebeer.org on both browsers and it worked well enough. Now I've set a local site and

[2011-11-21 13:36] shane-tomlinson commented on #618
@GeekShadow - Thanks for the feedback - the minimum requirements for BrowserID to run include window.postMessage and window.localStorage.  If the 3DS' browser does not support these HTML5 features, we cannot offer support for it at this time.

[2011-11-21 13:36] #618 closed, assigned to nobody

[2011-11-21 16:15] ghost opened #622 "Erred dialog flickered when selecting the "This is not me" link"
OS: Windows XP
Browser: Firefox 8.0.1

STR:
1. Open http://beta.myfavoritebeer.org in the browser.
2. Click on the Sign In button.
3. Sign in with a BrowserID account.
4. Click on the "This is not me link".

If the account has less than 5 emails associated to it, the "Use a different email" string is displayed in plain format for 1 second, then the right dialog is opened.

If the account has 5 or

[2011-11-21 16:21] ghost commented on #587
Verified as fixed on Windows XP + Firefox 8.0.1.

[2011-11-21 16:26] ghost opened #623 "The "If this is a mistake..." message on the verification dialog doesn't make sense"
On the email verification dialog, the following message is displayed:
" We sent a confirmation email to <email_address>
To finish signing in just click the verify link we sent to your email address.

If this is a mistake, just ignore the sent email and use another."

This message should be:
" ...
If this is a mistake, just ignore the sent email and use another email address."

[2011-11-21 20:23] lloyd commented on #114
reassigned to @shane-tomlinson

we need some UX feedback here.

[2011-11-21 22:29] #560 closed, assigned to lloyd

[2011-11-21 22:32] lloyd opened #625 "./compress.sh broken"
likely related to 77c7f445707eab90f22640077834d38daace77d7 or 33e256af9b6b4d63274b3e37a6e04eff620964ca

when we try to generate production resources using `scripts/compress.sh` now we get this:

[code]

This prevents us from updating dev.

[2011-11-21 22:44] lloyd commented on #559
In most of this discussion it sounds like you're focusing on the case where a user has multiple browserid accounts with different emails associated with them.  This is not a desired normal user behavior.  If you take that part away, and have a single browserid account per user generally, does the confusion subside?

I've verified that the feature is functioning as designed, but I won't claim that

[2011-11-21 22:44] #559 closed, assigned to nobody

[2011-11-21 22:57] lloyd commented on #594
Our logging is working just fine:

[code]

in this case the logging just is delayed until the conn timeout is hit.

[2011-11-21 22:57] #594 closed, assigned to lloyd

[2011-11-21 23:00] lloyd commented on #625
build errors visible in this log: http://hudson.build.mtv1.svc.mozilla.com/job/browserid-server/9/console

[2011-11-21 23:06] #625 closed, assigned to shane-tomlinson

[2011-11-22 00:11] krupa opened #628 "BrowserID popup is blocked by Firefox"
reproducible on: Firefox 9/ Nightly

steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/firefox/ in FF 9
2. Click on Login/register link

expected behavior:
browserID popup opens

actual behavior:
Firefox blocks the browserID popup.

screencast: http://screencast.com/t/MadMFhlM0

Error console:

Error: b is null
Source File: https://browserid.org/include.js?_=1321919917885
Line: 37

[2011-11-22 01:56] krupa commented on #628
This is blocking all QA efforts on Android for AMO :(

[2011-11-22 10:00] shane-tomlinson opened #634 "Remove StealJS"

[2011-11-22 13:45] shane-tomlinson opened #635 "Headless test system needed for front end unit tests."

[2011-11-22 13:45] shane-tomlinson commented on #635
Check out PhantomJS and Zombie.

[2011-11-22 14:14] ghost commented on #622
On http://beta.myfavoritebooze.org, the "Always sign in using this email" option stays still in that flicker where the other elements are changed. In the 5 emails or more case, this looks quite badly.

[2011-11-22 14:52] ghost opened #636 "BrowserID stops working on beta.myfavoriteshow after cancelling a sign in"
OS: Windows XP
Browser: Firefox 8.0.1

STR:
1. Open http://beta.myfavoriteshow.org/ in the browser.
2. Enter an email address in the only text box on the page.
3. Click on the "next" button.
4. Click on the "verify" button.
5. After the signing in dialog is opened, click on the "Cancel" button.
6. Repeat steps 2 to 4.

The "Communicating with server" dialog is opened and it hangs. If the user clos

[2011-11-22 15:14] ghost opened #637 "Inconsistent behavior when logging into beta.myfavoriteshow.org multiple times"
OS: Windows XP
Browser: Firefox 8.0.1

STR:
1. Open http://beta.myfavoriteshow.org/ in the browser.
2. Log in several times with both emails that are already associated to BrowserID and that aren't (I did this for about 40-50 minutes).
3. Log in with the same email that is associated to BrowserID several consecutive times.

At step 3 I encountered 3 different behaviors (listed in the order they re

[2011-11-22 18:15] lloyd commented on #589
yes!  we have regressed on dev.  confirmed and am looking now

[2011-11-22 18:17] lloyd opened #638 "IE8 broken on dev"
rather than an assertion, the dialog returns:

[code]

Based on network traffic it looks like we gen and certify keys and everything...

[2011-11-22 18:31] andymckay commented on #628
I'm pretty sure this is the CSRF fetching code in AMO.

[2011-11-22 18:33] clouserw commented on #628
Sounds like this is an AMO thing.

[2011-11-22 18:33] #628 closed, assigned to nobody

[2011-11-22 18:36] lloyd commented on #589
resolved in dev, I think by commit 6affd5f4855ee3c40a7423a9df1e4b30c570a9a3

[2011-11-22 18:36] #589 closed, assigned to lloyd

[2011-11-22 20:23] shane-tomlinson commented on #638
ie8 a go on dev with checkin a2ea682cd1efcdf8213b61b28b5146c7c59b4ff6

[2011-11-22 20:23] #638 closed, assigned to shane-tomlinson

[2011-11-23 00:56] lloyd commented on #504
jobs done.  closing with extreme prejudice.

[2011-11-23 00:56] #504 closed, assigned to lloyd

[2011-11-23 01:56] #636 closed, assigned to nobody

[2011-11-23 19:02] lloyd opened #642 "in verifier if audience is specified as domain:port port is ignored"
see commit 09bcdd014715dfbe04bb1e841bdfd8e1517217c3 for the test that demonstrates this behavior.

[2011-11-23 19:04] lloyd opened #643 "if content-type is set wrong, verifier doesn't tell you"
the verifier error message (reason phrase) when you don't set content-type to `application/x-www-form-urlencoded` as expected is:

[code]

This is not nearly as helpful as it could be.

[2011-11-23 19:06] lloyd opened #644 "http_forward doesn't handle get params"
http_forward is only getting exercised for POST requests.  When one tries to use it for a request with get params (like a verifier POST with get params funkily stuffed in the path), then it fails.

[2011-11-23 19:41] #643 closed, assigned to lloyd

[2011-11-23 21:21] lloyd opened #645 "certs issued by anyone other than browserid cause verifier to crash"
commit 7de7b0415053a65aa85903497167208daa064335 introduces a test that demonstrates the problem.

[2011-11-23 21:31] #642 closed, assigned to lloyd

[2011-11-23 21:31] #645 closed, assigned to lloyd

[2011-11-23 21:56] #598 closed, assigned to lloyd

[2011-11-23 21:57] lloyd opened #646 "verifier isn't respecting expiration field"
expired assertions are considered valid up to two minutes after they expire.  Test which demonstrates the problem here: 11be199ba202a5cd9e833e57606e8066da476d06

[2011-11-23 22:02] #646 closed, assigned to lloyd

[2011-11-23 23:52] lloyd opened #647 "if database queries take more than N seconds, make noise"
log, complain, take down the process, send email to ceo@mozilla.com, etc

[2011-11-24 01:43] lloyd opened #648 "mysql driver stalls upon reconnect attempt that's immediately closed"
This is for an upstream bug in node-mysql, described here: https://github.com/felixge/node-mysql/issues/142

[2011-11-24 07:55] Fil opened #649 "browserid.org/verify does not accept form-data"
Compare

curl -k -d "assertion=eyJjZXJ0aWZpY2F0ZXMiOlsiZXlKaGJHY2lPaUpTVXpFeU9DSjkuZXlKcGMzTWlPaUppY205M2MyVnlhV1F1YjNKbklpd2laWGh3SWpveE16SXlNVGN5TnpBd09EazBMQ0p3ZFdKc2FXTXRhMlY1SWpwN0ltRnNaMjl5YVhSb2JTSTZJbEpUSWl3aWJpSTZJamM1TURFMk9EWTJNelE1TmpnM01qRXdPREV5TWpVd01qQXdNRGN6T1RJd056WTVOREk0TWpVd056UTFOekEyT0RZek5qWTJORGsyTWpnMk9UQXhPRGt4TlRnek9EZzVNREF4TVRBeU5EWTRORGMyTnpZMU1qTTJNamd6TlRJNU16azNNV

[2011-11-26 17:57] #648 closed, assigned to lloyd

[2011-11-26 17:58] lloyd commented on #648
w00t!  /cc @vmunix @fetep

[2011-11-26 18:22] lloyd commented on #647
This is interesting.  Because we are serializing all queries from all processes, we should be gathering statistics of query length to instruct further optimization efforts.  I think a good place to start is periodic (5m) output of query statistics.
- total queries run
- maximum queued queries
- mean query time
- min query time
- max query time

/cc @fetep @vmunix - yall agree that building in stat

[2011-11-28 17:33] shane-tomlinson opened #650 "remove OpenAjax.Hub"
OpenAjax is released under the Apache 2.0 License, which should not be used with Mozilla Tri-License projects.

[2011-11-28 17:34] #650 closed, assigned to nobody

[2011-11-28 18:03] shane-tomlinson commented on #634
Done.  All remnants of JavascriptMVC are out.

[2011-11-28 18:03] #634 closed, assigned to shane-tomlinson

[2011-11-28 18:17] lloyd opened #651 "script to generate the bcrypt hash of a password needed"
this will facilitate production load testing (specifically make it easier to pre-load users).

[2011-11-28 19:11] shane-tomlinson opened #652 "Add a script to clean up from compress.sh"
compress.sh leaves files all over the place and once testing is complete on production files, it would be nice to be able to clean up the mess.

[2011-11-28 19:11] #652 closed, assigned to shane-tomlinson

[2011-11-28 19:17] shane-tomlinson opened #653 "put all compressed JS into a build directory."
Currently, the build script leaves minified and compressed JS sprinked througout the repo, which makes it hard to clean up and find the production resources.

[2011-11-28 19:18] shane-tomlinson commented on #609
Done, closing.

[2011-11-28 19:18] #609 closed, assigned to shane-tomlinson

[2011-11-28 19:28] #533 closed, assigned to shane-tomlinson

[2011-11-28 19:30] shane-tomlinson opened #654 "404 error for browserid-extensions.js on main site local dev pages"
Only affects local dev, does not affect anything on the test boxes.

[2011-11-28 19:32] #654 closed, assigned to shane-tomlinson

[2011-11-28 19:35] #651 closed, assigned to lloyd

[2011-11-28 19:36] shane-tomlinson opened #655 "create a shared css file"
Create a shared CSS file so that common CSS between the main site and the dialog only has to be in one location.

[2011-11-28 21:07] #578 closed, assigned to shane-tomlinson

[2011-11-28 21:07] #655 closed, assigned to shane-tomlinson

[2011-11-29 00:04] shane-tomlinson opened #657 "add_email_address test is failing"

[2011-11-29 00:06] #657 closed, assigned to shane-tomlinson

[2011-11-29 00:08] shane-tomlinson opened #658 "text in the buttons on main site is not centered."

[2011-11-29 00:11] #658 closed, assigned to shane-tomlinson

[2011-11-29 00:48] jrburke opened #660 "Structure of browser JS"
I expect this is a low priority item, and it may not be the right time to consider this, or you already may have this worked out. So feel free to discard or delay a response until much later:

I would like to help with the structure of the browser code in browserid. While trying to trace the code to modify for allowing appscheme: flows for mobile devices, I noticed the following things:
- sometime

[2011-11-29 09:18] shane-tomlinson commented on #660
@jrburke - Thanks for the issue - you are correct, I have been trying to slowly clean up the directory structure to make discoverability simpler. There is still a lot of work to be done here, especially in the area of storage, user, and network.  I'd like to further break these three up into more cohesive components.

As far as using a script loader, we just ripped out StealJS because it interfere

[2011-11-29 09:19] shane-tomlinson commented on #658
@jbonacci, @ionanab - this is was an issue with FF 8.01 on OSX

[2011-11-29 09:21] shane-tomlinson commented on #654
@jbonacci, @ionanab - this was found using FF 8.01 on OSX, but manifests itself on IE8/IE9 because these do not have Function.prototype.bind and String.prototype.trim.  Again, this is only an issue on a local dev environment with all code served up uncompressed and locally and does not affect any of the test boxes.

[2011-11-29 09:27] shane-tomlinson opened #663 "organize pages/iframe js/css in a similar fashion to dialog"

[2011-11-29 09:34] shane-tomlinson opened #664 "SEC7111 error on beta.myfavoritebooze.org in Win7/IE9"
Because beta.myfavoritebooze.org is http and the communication frame is https, ie9 is having a fit.

"SEC7111: HTTPS security is compromised by https://diresworb.org/communication_iframe
beta.myfavoritebooze.org"

[2011-11-29 09:45] shane-tomlinson opened #665 "add check to ensure requiredEmail is actually an email address."
Right now it is possible to place a non-email address into the "requiredEmail" field.  @benadida, @lloyd, what should the error mode be for this?

[2011-11-29 09:45] shane-tomlinson commented on #665
linking to issue #632

[2011-11-29 10:30] shane-tomlinson opened #666 "Sign Out button calls /wsapi/logout twice on main site."

[2011-11-29 10:34] shane-tomlinson opened #667 "Move all animations to an effects module"
This is so we can easily centralize and make changes to animations.

[2011-11-29 10:45] #666 closed, assigned to shane-tomlinson

[2011-11-29 11:08] shane-tomlinson commented on #623
@jbonacci, @ioanab - I have made some small changes but would like some UX input here.  I have used James' suggested text of "use another email address" as well as made the font on the links bold so that they are more discoverable, but it now seems like the "use another" link stands out too much.  @clarkbw or crystal?

[2011-11-29 11:37] gerv opened #668 "browserid login process can get wedged if you close window before content load"
Steps to reproduce:

1) Go to a site implementing BrowserID using browserid.js from browserid.org. E.g. https://bugzilla-stage-tip.mozilla.org, if you have access to that
2) Click "Sign in" button
3) As soon as window pops up, and before content is loaded, close pop-up window (e.g. with Ctrl-W)
4) Click "Sign in" button again

Expected: new popup window appears
Actual: nothing happens; no JS error

[2011-11-29 11:44] gerv opened #669 "Add/restore the ability to combine/merge accounts"
I have two browserID accounts, one for each of my two email addresses. Regardless of how that happened, I would much prefer to have one account where my two addresses are options. Please provide the ability to merge/combine the accounts.

Gerv

[2011-11-29 11:46] shane-tomlinson commented on #669
@gerv - this has been taken care of but has not yet migrated out to prod. See issue #607.

Closing as duplicate.

[2011-11-29 11:46] #669 closed, assigned to nobody

[2011-11-29 14:38] benadida commented on #664
Didn't we see this issue in the past and you found a way to resolve it? There isn't any actual issue with embedding HTTPS inside HTTP. It's the other way around that sucks, and we don't do it.

[2011-11-29 18:04] lloyd commented on #226
Shane and I spoke and we have an approach:
1. we'll use etags and non-zero max-age on include.js and all dom files
2. we'll include the first six chars of the current sha in session_context as 'code_version'
3. javascript bundles loaded (aka `production.js`) will have shas embedded in them (substitution needs to be figured out)
4. javascript bundles loaded will check that the current sha matches t

[2011-11-29 18:04] lloyd commented on #226
/cc @vmunix @fetep

[2011-11-29 19:12] benadida commented on #348
@skinny97214 I'm going to guess that Bryan is super busy: want to make the call on what it should be?

[2011-11-29 19:17] benadida commented on #298
Implementation plan:
- if .getRandomValues() is available in browser, use that.
- if not, get some entropy from server. Sprinkle in some local entropy via sjcl mouse movements.

[2011-11-29 19:52] benadida commented on #41
added:

https://github.com/mozilla/browserid/wiki/Security-Considerations-when-Implementing-BrowserID

[2011-11-29 19:52] #41 closed, assigned to nobody

[2011-11-29 19:56] benadida commented on #198
I lean towards @lloyd on this: the email selector after signing in feels like a click too much.

@skinny97214, since my screenshot manipulation skillz are poor, a quick description:
- assume user has cleared cookies or not logged into BrowserID in a while, but has set up a few email addresses in the past.
- user visits myfavoritebeer, clicks sign in.
- BrowserID dialog prompts for an email address

[2011-11-29 22:31] jrburke commented on #660
@shane-tomlinson: that makes perfect sense. I can see a lot of overlap with your desire for minimal code impact/funkiness and how I did the setup for gladius:

1) In dev, for each page, have one HTML script tag in the page at the bottom of the file, call it page/app.js. That page/app.js in dev would do a document.write for the script loader, and trigger the loading of the "main" script for that pa

[2011-11-29 23:48] #566 closed, assigned to lloyd

[2011-11-30 02:54] alchemycs commented on #621
I'm also getting this on desktop Opera.

Was testing using [browser stack](http://browserstack.com) and getting the same error. I thought it might be something to do with them, so downloaded Opera 11.52 build 1100 onto my mac (snow leopard 10.6.8) and still getting the same error.

The sites use SSL if that makes a difference.

[2011-11-30 03:12] benadida commented on #511
@tonychung, @krupa : I can see how this would be a hassle for developers, but as @shane-tomlinson mentions, this is a bug in firebug that we cannot control: even the platform team is punting this to firebug. So I think we need to close this and mark it WONTFIX.

I recommend a heads-up in the Apps team developer FAQ.

[2011-11-30 03:12] #511 closed, assigned to shane-tomlinson

[2011-11-30 03:18] benadida commented on #148
this appears to be working now.

[2011-11-30 03:18] #148 closed, assigned to nobody

[2011-11-30 03:19] benadida commented on #146
this appears to be fixed.

[2011-11-30 03:19] #146 closed, assigned to shane-tomlinson

[2011-11-30 03:19] benadida commented on #145
fixed.

[2011-11-30 03:19] #145 closed, assigned to shane-tomlinson

[2011-11-30 03:20] benadida commented on #101
I believe this is now fixed with the new UI flow.

[2011-11-30 03:20] #101 closed, assigned to lloyd

[2011-11-30 03:25] benadida commented on #40
now addressed in https://github.com/mozilla/browserid/wiki/Security-Considerations-when-Implementing-BrowserID

[2011-11-30 03:25] #40 closed, assigned to lloyd

[2011-11-30 14:12] clarkbw commented on #348
Yeah, this is a deficiency that wasn't fixed from the original design.  The plan was to convert the (logged out) main page into a single line that sat above the account manager, something a little more friendly than standard tag line.  "You're using BrowserID, want to <a>learn more</a>?".  Bonus points to be awarded if you recognized that someone was arriving at the BrowserID for the first time an

[2011-11-30 21:00] lloyd commented on #213
same goes for keysigner.

[2011-11-30 21:07] dclarke commented on #584
just as a thought the popup seemed larger than it needed to be, would it be better to err on the side of caution and go with something smaller that resembles a login box ?

[2011-11-30 22:56] skinny97214 commented on #623
Black bolded text is used in a lot of places where it's not a link. In the name of having a consistent visual language, I changed the link to be the regular blue. I also reworded slightly so if a user only scans the text of the link, it's clear what clicking it does: "sign in with another address"

http://cl.ly/2D0l433J1q0A0E1C2R2k

[2011-11-30 23:13] #213 closed, assigned to lloyd

[2011-11-30 23:22] dclarke commented on #584
i thought the login pane could do with being much smaller in size.  It feels like it is trying to occupy the whole screen, which i wasn't really for.

[2011-11-30 23:38] skinny97214 commented on #348
Here's a mockup that adds the feedback from @clarkbw.
http://cl.ly/0n1l3o3C081V2I1R433a

Do we have a welcome email on the roadmap?

[2011-11-30 23:42] benadida commented on #348
assigned @shane-tomlinson to make this beautiful thing happen.

No welcome email beyond the confirmation email yet. You thinking of something fun?

[2011-11-30 23:45] benadida opened #671 "Apache BrowserID module"
We've got an Apache module that does BrowserID:

  https://github.com/mozilla/mod_browserid

It could probably use some tender loving care.

[2011-11-30 23:59] benadida commented on #290
I think @lloyd's solution is exactly the right balance. I'll implement it that way.

[2011-12-01 00:08] skinny97214 commented on #198
The best UX would be for the site to be able to _always_ know which email the user has used to make an account. I realize there are security problems for all the obvious ways of accomplishing that.

UI won't get us out of this problem, I'm afraid. Finding an elegant solution to this will be hard, but critical. We're in a situation similar to the one with cellphones and phone numbers. We let techno

[2011-12-01 00:14] skinny97214 commented on #348
Clarification: this should only show to new users, as bryan said "Bonus points to be awarded if you recognized that someone was arriving at the BrowserID for the first time."

It's too bold to be there always.

[2011-12-01 00:15] benadida commented on #348
so... new users as in someone who has set up BrowserID in the popup, but never gone to the manage page?

[2011-12-01 00:17] skinny97214 opened #672 "welcome email for new users"
I'm scheduling some time with Mary Trombley to work on some value statements to explain BID to new users. I'll post a draft here.

@benadida - What's the process of getting new issues starred?

[2011-12-01 00:18] benadida commented on #672
@skinny97214 we do bug triage every Thursday and assign priorities. You are welcome to attend, or if you feel strongly about an issue, star it yourself and we'll only change it if we must prioritize other issues. I think I need to grant you privileges, so I'll do that now....

[2011-12-01 00:19] skinny97214 commented on #348
Yes, exactly. Since the manage page = home page, we want to make sure we get new users up to speed on how it works.

[2011-12-01 00:22] benadida commented on #348
so we'd have to keep track of that in the DB (or in a cookie and then get inconsistent behavior.) OK, let's make it happen first with a cookie (no DB change.) Better than what we have now.

[2011-12-01 00:24] krupa commented on #511
Thanks all for looking into this issue.

[2011-12-01 05:49] shane-tomlinson commented on #198
@skinny97214, @benadida, @lloyd - So far, I have been giving the most pushback against signing a user in directly to the RP as Ben outlined above in https://github.com/mozilla/browserid/issues/198#issuecomment-2944790.  My personal use case is that I ALWAYS sign in to BrowserID using the same username/password combo - and then I select the email address that I want to use.  With my personal blog f

[2011-12-01 06:10] jrburke opened #673 "Adopt a "no trailing whitespace" policy?"
This is partly a style thing, so it is understandable if you want to just close it out:

It would be useful if the project adopted a policy of not committing files with trailing white space. If someone is working on just one project, it probably is not an issue, but for some of us open source hackers, other projects have a "no trailing whitespace" policy, and to conform have set up environment too

[2011-12-01 06:19] benadida commented on #198
@shane-tomlinson - I don't quite buy this: I think your use case is a consequence of you knowing too much about BrowserID. My guess is that users won't think of "logging into BrowserID". They'll only think about logging into the web site. So why would they enter an email _other_ than the one they want to use to log in to the actual RP?

[2011-12-01 06:32] shane-tomlinson commented on #198
@benadida - You have a valid point, especially once BrowserID is baked in to the browser.  In the mean time, BrowserID is a site, and users have been trained for years to sign in to a site using a single username/password combination.

Could we ask Mary to user test various login flows?  I had a line in the code for months that I just took out to be able to easily add the proposed behavior and I t

[2011-12-01 09:49] shane-tomlinson commented on #664
@benadida - we saw it when we were using StealJS inside of the relay frame.  The solution there was to remove StealJS.  Are we adding scripts via a document.write or appending script tags dynamically inside of the communication_iframe?

[2011-12-01 14:30] benadida opened #674 "provide guidance on how to fall back if browserid.org is down"
maybe have devs check

[code]

after loading the library?

[2011-12-01 14:32] benadida opened #675 "Tor/Aurora claims to be incompatible"
but it has a user-agent string:

[code]

which should be fine.

[2011-12-01 14:37] benadida commented on #664
@shane-tomlinson is it possible that we're still using stealjs for the comm iframe? It looks like it's possible given /resources/views/communication_iframe.ejs.

[2011-12-01 14:40] shane-tomlinson commented on #664
@benadida - I've completely removed StealJS altogether, it is no longer even in the repo.  I'll do some digging and see what I can find.

[2011-12-01 14:40] shane-tomlinson opened #676 "remove the inline script in relay.ejs - it will break CSP"

[2011-12-01 14:41] shane-tomlinson commented on #673
@jrburke - I am all for it, I've set up both git and vim as in those instructions.  @benadida, @lloyd?

[2011-12-01 14:45] benadida commented on #198
@shane-tomlinson - we could ask Mary, but would you be comfortable with us trying this and seeing how users react? We can always revert :) Our user-testing bandwidth is fairly limited and there are a bunch of things we'll probably want to test first (e.g. profile)

[2011-12-01 14:49] shane-tomlinson commented on #226
@lloyd - I've done quite a bit of the work on the front end to be able to handle part #4.  Looking at part 3, in dialog_layout.ejs, we should be able to append the sha onto every "production.*" filename, this should work for css, js - background images are going to be tricky though.  Background images inside of the CSS are going to need some sort of search/replace mechanism, perhaps some sort of m

[2011-12-01 15:20] gerv commented on #506
I would strongly argue that returning errors in JSON is a very high priority. Unless you are going to make the server bulletproof enough to never, ever return an error (!) for the 1.0 release, it means that every client is going to have to do a sniff test on the returned data to see if it's even JSON. (And that procedure isn't even illustrated by the sample code.)

Gerv

[2011-12-01 16:15] benadida commented on #673
sounds good, set up my emacs with a pre-save hook as per http://www.emacswiki.org/emacs/DeletingWhitespace#toc3

what's the git way to make this warning a repo-stored config param? Any way to do that?

[2011-12-01 16:22] lloyd commented on #506
I would strongly agree with you, @gerv.

This is fixed in d25f4df88f55793c692fefa09ac8ec8ef33ba419, and you can test on dev now (https://dev.diresworb.org/verify)

We also grew extensive tests of the verifier and as any case comes up where input can cause a non-json response we'll add a test and resolve:

https://github.com/mozilla/browserid/blob/dev/tests/verifier-test.js

[2011-12-01 16:22] #506 closed, assigned to nobody

[2011-12-01 17:15] #534 closed, assigned to lloyd

[2011-12-01 17:40] lloyd commented on #555
http://www.whatwg.org/specs/web-apps/current-work/multipage/web-messaging.html#web-messaging

I believe this is an innocuous error message.  it sure is annoying.

I believe when the RP pings the relay frame with a postmessage before it's setup, the browser emits this message.

easy to reproduce and observe by adding console messages right before postMesage is invoked in include.js

I guess we coul

[2011-12-01 18:07] lloyd commented on #635
how do I make this run?

[2011-12-01 18:10] lloyd commented on #637
this is desired behavior!  closing out

[2011-12-01 18:10] #637 closed, assigned to nobody

[2011-12-01 18:14] lloyd commented on #668
what browser, @gerv?

[2011-12-01 18:30] lloyd commented on #672
four stars.  I'd like to widen this to consider all of the emails that we send out.  Especially the verification emails could use some design and thought.  Perhaps the two goals can be combined...

[2011-12-01 18:30] lloyd commented on #673
+1

[2011-12-01 18:33] lloyd commented on #673
many ways to skin this cat.

[2011-12-01 18:40] benadida opened #678 "check that requiredEmail is a true email in the dialog"
sanitization

[2011-12-01 19:08] skinny97214 commented on #198
I'm available for user testing. Mary can advise on it if she has time.

@shane-tomlinson Since you have snazzy screencasting skillz, can you make one for me that shows this flow. I'm not 100% sure I understand your concern.

[2011-12-01 19:22] skinny97214 commented on #672
Here's a quick rewrite of the verification email. One problem of our current text is that too many things are automatically linkified. It's too visually busy and makes it hard for the user to quickly see which one should be clicked. I'm proposing we remove the user's email address and the second instance of the RP's URL.

http://cl.ly/0z3x312G3w071A1H1I1L

## New copy

Thanks for verifying your em

[2011-12-01 19:26] jrburke commented on #673
@benadida: github allows setting up a service hooks after a push to github, mostly for notifying on commits, but AFAIK, not a way to do a pre-commit hook, since it is just receiving pushes of commits. A pre-commit needs to be configured locally by the developer in their clone or maybe even their global config.

From what I can tell in my global git config, if I have [color] diff = auto, then I see

[2011-12-01 19:33] lloyd commented on #673
I suggested writing a unit test and @benadida and @shane-tomlinson _freaked out_.  it was fun.

[2011-12-01 19:41] lloyd commented on #672
How's this grab you:

[code]

[2011-12-01 19:44] lloyd commented on #672
btw: you can also provide an HTML version if you feel this could be better (we send both and the client chooses what to display)

[2011-12-01 21:55] skinny97214 commented on #672
@lloyd Do you know why gmail wouldn't be showing the HTML version?

[2011-12-01 22:05] lloyd commented on #672
@skinny97214 cause there isn't one yet!  it's yours to design :)

[2011-12-01 22:06] max-mapper commented on #672
@skinny97214 (it felt good to type that zip code -- i miss PDX) you can get nodemailer to send multipart/mixed messages (e.g. text + html) by setting the `html` property on the message (right now ya'll are just setting the `body` property)

example: https://github.com/andris9/Nodemailer/blob/master/examples/example_smtp.js#L25

also here is a ruby mail generation thingy that works in gmail for ref

[2011-12-01 22:06] skinny97214 commented on #672
@lloyd Works for me.

[2011-12-01 22:40] skinny97214 commented on #672
Hey there @maxogden I went and searched the internal phonebook to see if we'd hired you yet!

[2011-12-02 00:27] jessevondoom commented on #672
Going through the fun of HTML mail and gmail now — fair warning a lot of the CSS will be stripped out in the gmail interface so It's good to test in native gmail as well as a few different mail clients if possible. A few decent bookmarks I grabbed:

http://kb.mailchimp.com/article/how-to-code-html-emails
http://www.campaignmonitor.com/templates/

You're probably hip to all this already, but they'v

[2011-12-02 01:00] skinny97214 commented on #114
We'll need to re-auth. This form has old pass/new pass. I'm omitting the confirm password field.

http://cl.ly/1N2G2a2K1l143F0j1F1e
http://cl.ly/0l3Q0j3N3x381T3D2b3i

[2011-12-02 02:51] benadida commented on #290
I'm upping the priority on this because I just realized an annoying issue.

Say @lloyd wants to log in as me. He can enter my email address and wait. I see a confirmation link sent to my inbox, and I mistakenly click it, cause I'm clicking-trigger happy. Suddenly, Lloyd is now logged in as me. That's not good.

[2011-12-02 03:05] lloyd commented on #290
+1

[2011-12-02 03:09] lloyd opened #679 "When browserid runs outta fds it exits far too quietly"
This is terrible to diagnose and could cost us downtime.  We should ensure we get great error messages, and possibly also revisit all exit codes raised by software (to discern app exits vs. exits from other software).

I _am_ conflating two issues, but so it goes.

[2011-12-02 03:10] lloyd opened #680 "statsd binds too many ephemeral UDP ports under load"
@fetep and I observed consuming > 500 fds when under load.  this is crazy.

[2011-12-02 03:11] lloyd opened #681 "sporadic authentication failures when under load"
This occurs in current beta env.  Five stars to at least understand what is going on.  Once understood, reprioritize.  Output from loadgen looks like this:

[2011-12-02 03:13] lloyd opened #682 "loadgen attached bogus certs to email addresses"
this should be addressed with great haste to be able to properly stress the new staging environment.

Symptoms are cert failures, followed by verification failures (which are a symptom).  I believe this is because the "belongToSameAccount check" in the webhead fails after password resets or account splitting.  no good.

[2011-12-02 03:19] lloyd opened #683 "analyze and maybe implement mysql connection pooling"
now that we can generate real load, it looks like we've finally uncovered a bottleneck in our query serialization imposed by using a single mysql connection.  We should take an hour and slip this round robin into stage to see an actual difference:

https://gist.github.com/1414568

If we do see a favorable change (and it should be _significant_ if initial data is correct), then we should extend tha

[2011-12-02 03:19] lloyd opened #684 "new emails in beta look terrible"
lloyd forgot newlines or something.  that idiot.

this deserves a beta hotfix.

[2011-12-02 03:21] lloyd commented on #684
introduced in attempted fix for issue #672

[2011-12-02 04:41] globau commented on #668
i can reproduce on firefox nightly 2011-11-30, chrome 15, and opera 11.

[2011-12-02 06:24] fetep commented on #680
this is actually fixed in node-statsd master, but the sha we're pointing at in package.json doesn't include it (because it's of a fork with a patch we need).

[2011-12-02 06:30] lloyd commented on #680
Can we rebase the patch on top of orig and break down the upstream authors door with a pull request, using our own fork in the meantime?

--lloyd

On Dec 1, 2011, at 11:24 PM, Pete Fritchmanreply@reply.github.com wrote:

[2011-12-02 08:36] fetep commented on #680
oh, interesting, it's not quite that simple.  re-read the description of this pull request:  https://github.com/sivy/node-statsd/pull/6  and we're using that version of the code.

if we use the released 0.0.2, we can pass in a socket in connect-logger-statsd, but we have to figure out where we need to close the socket (so node exits during the unit tests, for example) in the connect middleware.

[2011-12-02 10:56] shane-tomlinson opened #685 ""just sent email to that address" tooltip not displayed on main authentication page."
I am labeling this 5 star because it is a regression and could possibly affect users.

[2011-12-02 11:00] #685 closed, assigned to shane-tomlinson

[2011-12-02 11:05] shane-tomlinson opened #686 "Speed up the front end unit tests."
A minute to run is just too long.

[2011-12-02 11:58] #686 closed, assigned to shane-tomlinson

[2011-12-02 12:16] gerv commented on #668
I was using Firefox 9 beta, I think. But as globau says, it's widely reproducible.

Gerv

[2011-12-02 14:08] shane-tomlinson opened #687 "Split off the actions from the dialog controller to make it easier to test."

[2011-12-02 14:33] shane-tomlinson opened #688 "IE8 blowing up trying to do "delete" on localStorage members."

[2011-12-02 14:47] shane-tomlinson commented on #688
@jbonacci, @ioanab - this manifested itself in the unit tests, so running the unit tests in IE8 should give you a way to see the error.

[2011-12-02 14:48] #688 closed, assigned to shane-tomlinson

[2011-12-02 14:51] shane-tomlinson commented on #688
@jbonacci, @ioanab - the unit tests are painful to run in IE8, I had to run them using the following filter:

http://192.168.1.68:10002/test/qunit.html?filter=shared/user

Replace the ip address with your host of choice.

[2011-12-02 16:14] ghost opened #689 "Login sessions inconsistency"
OS: Windows 7
Browser: Firefox 8.0 (default settings)

STR:
1. Open https://diresworb.org/ in the browser and log in.
2. Open http://beta.myfavoritebeer.org/ in a second tab in the same browser and log in.
3. Open http://beta.myfavoritebooze.org/ in a third tab in the same browser.
4. Log in without checking the "Always sign in using this email" checkbox.
5. Open http://beta.myfavoriteshow.org/ in

[2011-12-02 17:37] shane-tomlinson opened #690 "rename qunit.html to index.html"
That way we can just go to the `http://host/test` and the unit tests are run.

[2011-12-02 17:42] #690 closed, assigned to nobody

[2011-12-02 17:50] #684 closed, assigned to lloyd

[2011-12-02 18:16] lloyd opened #691 "statsd reporting througout code"
We should be reporting to statsd interesting events througout our code (compute backlogs, mysql query time, etc)

[2011-12-02 18:17] lloyd commented on #691
/cc @fetep @vmunix

Giving four stars as this will help us asses optimizations and software health in our shiny new environment.

[2011-12-02 18:52] clarkbw opened #692 "too many links in emails"
Hey, I wasn't sure if I should jump in on #672 or open a new one.

Our emails need to be a bit more action oriented and assume that people aren't reading any of the text.  Right now we include a couple of links in the email (where you were signing up from) when we should really only have a single obvious link for people to click on.  I'd suggest making all the other information non-links or have a

[2011-12-02 19:00] lloyd commented on #692
any concrete suggestions for the new emails sent on beta?  Just go to beta.myfavoritebeer.org and add an email address or create a new account.

[2011-12-02 19:46] lloyd commented on #679
This is interesting.  when exausting FDs by allocating UDP sockets the failure mode is just fine:

https://gist.github.com/674db0a2f8ecee273624

[2011-12-02 19:47] lloyd commented on #679
/cc @vmunix @fetep

Could this be a combination of the fact that bcrypt is running hot, preventing logging from occuring, and there's an uncaught exception raised?  I'll try to repo locally.

[2011-12-02 20:55] jrgm opened #693 "Should '/sign_in' window poll '/wsapi/user_creation_status?email=' "forever"?"
Steps to reproduce:
1) go to beta.myfavoritebeer.org with no previous email registered
2) click on "sign in"
3) leave the popup window up and do not ack the confirmation email

Expected:
Not sure exactly, but perhaps it should timeout and present some UI to the user about what they should do.

Actual:
/wsapi/user_creation_status?email= is polled as long as the window stays open

[2011-12-02 21:34] lloyd commented on #681
I'm able to reproduce this by running loadgen:

[code]

run for 3 minutes.  then stop.  then restart.  repeat a couple times, till finally you get this (I augmented output manually):

[code]

[2011-12-02 22:23] #681 closed, assigned to lloyd

[2011-12-02 22:25] lloyd opened #694 "analyze and maybe implement bcrypt out of process"
having bcrypt in the browserid process means a lot of compute heavy jobs are enqueued on the same queues as other work, like file interaction (i.e. logging!).

What would the impact be of moving bcrypt out of process using `node-compute-cluster` and using the sync interfaces instead?  would performance improve?  would it become possible to manage max backlog at the application level?

[2011-12-02 23:39] vthunder opened #695 "Clicking an older password reset message gives a confusing error"
Steps:
1) Click the forgot password link, send a reset email
2) Wait a couple of minutes
3) Click forgot password again, send another reset email
4) In your email client, click the _older_ message and open that link

The error message that appears is:

"There was a problem with your signup link. Has this address already been registered?"

Which is very confusing. It should ideally say something li

[2011-12-02 23:40] vthunder opened #696 "Password reset email has multiple links"
My email client linkifies things that look like domains. So the password reset email appears to have 3 links instead of just one.

We should say "BrowserID" instead of "browserid.org" to avoid this problem.

[2011-12-03 01:59] lloyd commented on #680
This branch needs testing and cleanup, but may be what we want.

https://github.com/lloyd/node-statsd

[2011-12-04 16:53] andymckay opened #699 "Reset password truncates email"
On the thank you screen for reset password, only the first two characters of my email address is shown.

OS: 10.7.2
Fx: 9.0

Screencast: http://screencast.com/t/z1jClfuu6f

[2011-12-05 09:24] jrgm commented on #699
I bumped into this myself, and that screencast was awesome in noticing how to do it.

Question for andy: you did get the confirmation email to the address you selected, right?

Anyways, how to reproduce:
1) go to https://browserid.org (or diresworb.org)
2) if you're logged in, then log out.
3) click sign in
4) click "forgot your password"
5) type the beginning for an address you've used before (so

[2011-12-05 10:03] ghost commented on #533
Verified on Windows 7 + Firefox 8.0.

"If you need some help with BrowserID, head over to our support center. " is now displayed on diresworb.org/about, "support center" being a link to https://support.mozilla.com/en-US/kb/what-browserid-and-how-does-it-work.

[2011-12-05 10:51] ghost commented on #672
Verified by signing up from beta.myfavoritebeer.org. This is the email currently sent to the user:
"Thanks for verifying your email address. This message is being sent to you to complete your sign-in to
http://beta.myfavoritebeer.org .

Finish registration by clicking this link:
https://dev.diresworb.org/add_email_address?token=N3WSH08SnHtR1lkcojwLeiSeKLbN1tnReo73JrgpOalWiwsi

If you are NOT tryin

[2011-12-05 12:44] shane-tomlinson opened #700 "clean up production front end build"
Instead of having production.js/.css files strewn about, put all files into a single directory that can be easily cleaned up.

[2011-12-05 15:19] ghost opened #702 "BrowserID links should look clickable"
OS: All
Browser: All

Most BrowserID links are black and bold while very few of them (e.g. learn more) are blue. In general, links are not emphasized just by being bold, so the user might not realize what he sees is actually a link. The fact that there are some blue links in BID, makes it even less probable to the user that the black bold text is a link.

All the BID links should be blue (or some

[2011-12-05 15:54] shane-tomlinson commented on #702
Closing, a duplicate of issue #459.  @ioanab - I am in agreement.

[2011-12-05 16:14] ghost commented on #702
@shane-tomlinson - issue #459 is closed. I filed this new bug to make sure this issue is tracked and fixed. Please reopen this issue or 459 until it is fixed. Thanks

[2011-12-05 16:49] ghost opened #703 "Confusing behavior when trying to add an email already associated to the BrowserID account in use"
OS: Windows 7
Browser: Firefox 8.0

STR:
1. Open a BID client (except beta.myfavoriteshow.org).
2. Click on the Sign In button and sign in.
3. On the emails list dialog, click on the "Use a different email" link.
4. Enter one of the emails already associated to this BID account and click "Add".

Expected Results:
An error message with a confirmation button is displayed letting the user know that h

[2011-12-05 17:29] shane-tomlinson opened #704 "Post animation callback not always called on Android default browser."
Happens intermittently for Soup, affects OWA developer preview.

[2011-12-05 17:48] andymckay commented on #699
Yes I got the email.

[2011-12-05 21:15] shane-tomlinson opened #706 "User is uninformed while key/assertion is being generated."
On some slow browsers (mobile/IE8) there is a several second delay while the keypairs and assertions are being generated, leaving the user in the dark as to what is happening.

[2011-12-05 21:44] shane-tomlinson opened #707 "User.getAssertion throws exception if email address' keypair is out of date."

[2011-12-05 21:45] benadida commented on #707
I'd rather we implement the new internal API instead of fixing this. Let's discuss if this is doable see #601.

[2011-12-05 22:58] tracywalker opened #708 "can't sign-in with stock browser on android"
With Android 2.2 stock browser at beta.myfavoritebeer.org, click sign-in

a cert message comes up, click continue.

then I get "We are very sorry, there has been an error" "to retry...

[2011-12-05 23:26] jrgm commented on #708
After the cert message, Tracy,  is there also a link the "there has been an error" with See more info?

Does that, when you reveal it, say "action: establishing relay. Relay frame could not be found".

What is the exact URL that you are hitting at diresworb.org (if you are in the popup).

[2011-12-05 23:31] tonychung commented on #708
I can reproduce this error on the following devices:
- Iphone iOS5 , safari
- Samsung Galaxy S 2, Android 2.3.3, Stock browser

bumping priority up to 5.  this is a shipblocker for mobile devices using stock browser.

Error mentions:  "Relay frame could not be found"

screenshot: http://i.imgur.com/i6z7F.png

Logcat from Android phone:
12-05 15:34:13.880: DEBUG/FastDormancy(2842):  before =======

[2011-12-06 00:27] lloyd commented on #706
+1

--lloyd

On Dec 5, 2011, at 1:15 PM, Shane Tomlinsonreply@reply.github.com wrote:

[2011-12-06 01:17] shane-tomlinson opened #710 ""This browser is not supported" is poorly formatted in mobile browsers"
Reproducible using Opera Mini (not Opera Mobile).

[2011-12-06 01:55] tonychung opened #711 "iOS5.0.1: can't validate email into diresworb.org"
I'm having issues signing into stage and production on Iphone IOS5.0.1, safari.

See screenshot: http://i.imgur.com/OwRf5.png.
unfortunately, no helpful console data from xcode.

repro
1) launch iphone safari on iOS5.0.1
2) visit www.myfavoritebeer.org or beta.myfavoritebeer.org
3) sign in with an existing account
4) Verify after typing in password, error is thrown  (url shows diresworb.org/sign_i

[2011-12-06 02:01] tonychung commented on #711
setting to 3 stars, since no one can seem to reproduce on their iOS 5.0.1 devices

[2011-12-06 02:44] tonychung commented on #711
Reset password breaks also for the same reason.

[2011-12-06 04:44] ianb commented on #598
Do the unit tests submit something that isn't valid JWT, or once
JWT-decoded is not valid JSON?
On Dec 5, 2011 8:07 PM, "jbonacci" <
reply@reply.github.com>
wrote:

[2011-12-06 04:57] lloyd commented on #598
Both.

--lloyd

On Dec 5, 2011, at 8:44 PM, Ian Bickingreply@reply.github.com wrote:

[2011-12-06 13:38] ghost opened #712 "When trying to access http://diresworb.org from Opera, it doesn't get redirected to https"
OS: All
Browser: Opera 11.6

STR:
1. Try to load http://diresworb.org/ in the browser.

Expected Results:
 It gets redirected to https://diresworb.org/.

Actual Results:
 "Could not connect to remote server" is displayed.

[2011-12-06 14:12] #710 closed, assigned to shane-tomlinson

[2011-12-06 14:42] ghost commented on #621
I got the same issue on Opera, but only from https://beta.myfavoritebeer.org/ (it went ok while using this client with http or other clients).
The displayed error is:
"We are very sorry, there has been an error!
 To retry, you will have to close BrowserID and try again. More info can be found by opening the expanded info below.

Action: Establishing Relay
 Relay frame could not be found"

[2011-12-06 14:47] shane-tomlinson commented on #708
@tonychung - this appears to be a duplicate of #596 which we said (which I confirmed yesterday with @benadida - see https://github.com/mozilla/browserid/issues/596#issuecomment-2782783) we are not going to resolve yet.  There is a workaround - setting a default browser as @jbonacci has pointed out.

[2011-12-06 14:50] shane-tomlinson commented on #704
We have so far been unable to reproduce this.  I labelled it 5 star because Bill Walker said it would be a blocker for the OWA developer preview.

[2011-12-06 14:53] shane-tomlinson commented on #712
It appears that redirects are not yet set up on diresworb.org:

[code]

[2011-12-06 14:55] shane-tomlinson opened #713 "diresworb.org is operating in development mode"
None of the resources are concatinated/compressed.  Redirects are not set up.

[2011-12-06 14:55] ghost commented on #712
Forgot to mention: the redirect went fine in Chrome 15 and Firefox 8.0/8.0.1.

[2011-12-06 15:04] shane-tomlinson commented on #695
@vthunder - From the information that I receive from the backend, I do not know whether the link has been previously used, whether a new link has been sent out, or whether the link is just plain invalid.  From my understanding, we do not keep a list of previously used links anywhere, so this information may not even be available to us (@benadida, @lloyd, am I correct in this?)

[2011-12-06 15:05] ghost opened #714 "The BrowserID dialog cannot be opened from multiple clients at the same time in Opera"
OS: Windows XP
Browser: Opera 11.6

STR:
1. Load 2 distinct clients in new tabs (e.g. http://beta.myfavoritebeer.org/ and http://beta.myfavoritebooze.org/).
2. Click on the Sign In button to open the BrowserID dialog from one client.
3. Go to the other client and try to open the dialog from there too.

The BrowserID dialog cannot be opened from multiple clients at the same time in Opera. It can be

[2011-12-06 15:22] ghost opened #715 "The BrowserID dialog can be scrolled vertically unnecessarily"
OS: All
Browser: All

STR:
1. Open a BrowserID client in the browser.
2. Click on the Sign In button to open the BID dialog.

The dialog can be scrolled vertically although there is no hidden information for which the scrolling might be necessary.

[2011-12-06 16:21] shane-tomlinson commented on #715
@ioanab - I am unable to reproduce this, is it any particular browser, mobile, etc?

[2011-12-06 16:23] shane-tomlinson commented on #714
@ioanab - nice find!  This is probably due to the fact that the name we give the new tab is always '_mozid_signin'.  To fix this, we are going to have to assign a new name for each dialog window.

[2011-12-06 16:35] ghost commented on #715
@shane-tomlinson - This seems to be an intermittent issue. I reproduced it several times on
Opera 11.6 + Windows XP
Chrome 15 + Ubuntu 11.10 x64
Chrome 15 + Windows 7.

I am not sure what stops it from reproducing but what did it a few times was restarting the OS.

[2011-12-06 16:53] ghost opened #716 "Resizing BrowserID dialogs doesn't work as expected"
OS: All
Browser: All

STR:
1. Load a BrowserID client in the browser.
2. Click on the Sign In button to open the BID dialog.
3. Resize the dialog.

When the height it's reduced, the only change in the dialog is that it can be scrolled vertically.
When the length it's reduced, the whole UI changes:
- the site logo part of the dialog disappears
- the remaining elements on the dialog are enlarged
- t

[2011-12-06 17:28] shane-tomlinson commented on #712
@petef has taken care of this.

[2011-12-06 17:28] #712 closed, assigned to lloyd

[2011-12-06 17:29] shane-tomlinson commented on #713
This is by choice for load testing, closing.

[2011-12-06 17:29] #713 closed, assigned to nobody

[2011-12-06 19:26] digitarald opened #717 "Android: Submit button not working, second tap results in empty assertion"
Environment: android (soup).

Pre-requirement: When `registerController` was called before and soup falls back using `$('body').controller('dialog')`

**User stories**:

Logged out:
- Open fresh browserid popup without any cache/cookies
- Input email, press _Go (Enter)_, input password, press _Go (Enter)_
  - _Expected result_: Email confirmation step
  - _Actual result_: Nothing changes
- Press s

[2011-12-06 21:07] tonychung commented on #717
blocks the Soup Application.

[2011-12-06 21:51] digitarald commented on #717
Other errors popping up from time to time:

After submitting a second time, the animation fades (which does not work in the stories above)and my logs start to fill with: `Uncaught Pickemail controller instance has been deleted at https://browserid.org/dialog/production.js:35`

The whole issue might be related to my fallback to re-registering the controller the controller on the channel when my JS

[2011-12-06 22:35] ianb commented on #598
This breaks on browserid but works on diresworb:

[code]

I'm guessing that means it is fixed.

[2011-12-06 23:45] digitarald commented on #717
More logs as it might help to find the issue. This is for story 1.

`12-06 15:50:09.720: E/Web Console(3558): Unsafe JavaScript attempt to access frame with URL https://apps-preview-dev.allizom.org/en-US/firefox/users/login from frame with URL https://browserid.org/sign_in. Domains, protocols and ports must match.
12-06 15:50:09.720: E/Web Console(3558):  at null:1
12-06 15:50:09.720: E/Web Consol

[2011-12-07 00:17] lloyd commented on #598
Will roll into prod on thurs

--lloyd

On Dec 6, 2011, at 2:35 PM, Ian Bickingreply@reply.github.com wrote:

[2011-12-07 00:22] wfwalker commented on #621
this is duplicated by https://bugzilla.mozilla.org/show_bug.cgi?id=708086

[2011-12-07 00:38] jrgm opened #719 "diresword.org returns "You are offline" (Stock browser, Android 2.3.4)"
Steps to reproduce:
1) ensure that stock browser is set as default
2) got to http://beta.myfavoritebeer.org
3) Sign in (popup goes to https://diresworb.org

Expected:
Dialog to either sign up (if not already) or to pick browserid to use;
RP window switches to logged-in state after that is done.

Actual:
Browser shows error message: "You are offline". [But on a few very
rare occasions, this has wor

[2011-12-07 02:05] jrgm opened #720 "http://beta.myfavoriteshow.org/ does not check for valid email address"
1) go to http://beta.myfavoriteshow.org/
2) enter "foobar" or "foobar@baz" in the text box for collecting email
3) Hit next
4) hit Enter

Email is "sent" to "foobar" or "foobar@baz".

(Yes, it does show clearly in the confirmation the email "address" that will be used, but needs more basic validation).

[2011-12-07 06:27] shane-tomlinson opened #721 "When channel initialization fails, addons have to use private API to call controller."
This is horrible as it means that addons such as Soup have to peek into our private API when they should not have to.

[2011-12-07 10:34] ghost opened #722 "The user is not automatically signed in when confirming his sign up from a different browser"
OS: All
Browser: All

STR:
1. Load https://diresworb.org/ in the browser.
2. Click on the "sign up" button.
3. Enter an email in the corresponding text box and click on the "verify email" button.
4. Open the email with the confirmation link in another browser (same or another device/desktop).
5. Click on the confirmation link set a password for the new account.
6. Go back to the first browser and

[2011-12-07 13:23] ghost opened #723 "Sign in doesn't work on Android devices"
Device: Motorola Droid2
OS: Android 2.3.3
Browser: Native (set as default)

STR:
1. Load http://beta.myfavoritebeer.org in the browser.
2. Click on the Sign In button.
3. Enter your credentials and sign in.
4. Select an email and sign in.

After the user selects an email and clicks the Sign In button, the BrowserID dialog is closed but the user is not actually signed in. When the user tries to cli

[2011-12-07 14:21] ghost commented on #723
After reproducing this issue on the same environment with http://beta.myfavoritebooze.org/ (keep me signed in was checked), I restarted the device to tried to log in again. When opening the client in the same browser after the restart, I was logged in with the email I was trying to log in with before the restart. When clicking "This is not me" then logging in with credentials for a second, the ema

[2011-12-07 14:58] benadida commented on #721
They're already peeking :) The question is what do we do until we have issue #601 built.

[2011-12-07 15:12] ghost opened #724 "The user is sometimes asked to confirm his email although it is already associated to BrowserID"
STR:
1. Open http://beta.myfavoriteshow.org.
2. Enter an email address already associated to BrowserID and click on "next".
3. Click on "verify".
4. Click on the "verify email" button in the opened dialog.

The "Check your email" dialog is displayed and a confirmation email is sent to the user although his email is already associated to BrowserID.

This issue reproduced 4 times in 3 days of testin

[2011-12-07 17:57] digitarald commented on #717
Calling `controller.stateMachine();` fixes it.

Full revive snippet for reference:

[code]

[2011-12-07 17:58] #720 closed, assigned to nobody

[2011-12-08 06:06] shane-tomlinson commented on #601
@benadida - I am implementing this API with the following modifications:

navigator.id.internal.getSilent has no `options` block. Are there currently any additional options that can be passed in?  If there are, I will pass add the options block, but if not, I will wait until we need that functionality to add it.

navigator.id.internal.setPersistent has no `email` field.  The email associated with

[2011-12-08 06:16] shane-tomlinson commented on #601
@benadida - I was not clear on the reason reason we do not want to mirror the navigator.id.get API and augment it with setPersistent.  That API is already well defined and from the point of view of the native app or addon, the requirements are the same.  The only thing that changes is the channel, which is an abstraction that should be hidden from the user anyways.

[2011-12-08 08:33] #680 closed, assigned to lloyd

[2011-12-08 14:40] benadida commented on #601
@shane-tomlinson if we make it the same API, there is a very strong chance that we confuse internal and external API. Also, there are a number of checks that our external API should do that our internal API need not do. In particular, I don't think we should be tying the internal API to the navigator object.

Regarding the options block: requiredEmail is probably an option we want to pass to getSi

[2011-12-08 14:50] ghost commented on #724
@jbonacci - I didn't re-verify through the email because I didn't want to loose the initial account. What I did was refresh the page and try again. At the third try, the right dialog was displayed and I could log in with that same email without re-verifying it.

[2011-12-08 15:10] shane-tomlinson commented on #601
@benadida - ah, I think we crossed thoughts, I do not want to recreate a new "navigator.id" with ".get" and ".getVerifiedEmail" for use by addons or native clients, but have those two functions with the same signature/semantic meaning living in a separate namespace.  Your suggestion above of using navigator.id.internal works, I was also thinking we could remove it completely from the navigator obj

[2011-12-08 15:20] benadida commented on #601
oh I suggested navigator.id.internal, didn't I? duh. So yeah, I would recommend BrowserID.internal.

As for mirroring the calls... I think you're right that it makes sense. Just assume silent:true.

[2011-12-08 20:42] tonychung opened #732 "Signing in already known email will prompt to confirm your mail address"
the screen that tells you an email was sent to your address flashes and goes away in these steps.     Im guessing its a timing thing.

Reproduces on any Desktop browser and Mobile browser.  More apparent when testing on stock android though.

repro:
1) goto beta.myfavoritebooze.org
2) sign in with a working account (me@email.com)
3) logout of site, then sign in again
4) dialog box recognizes your

[2011-12-08 22:51] eevee opened #733 "Justify asking for a password"
Both browserid.org and myfavoritebeer.org proclaim that BrowserID spells the end of passwords.

But after clicking the first email confirmation link, I'm asked to invent a password.

I understand why this happens (though it's unclear how often I'll need to enter it, or if a password is meant to be part of the native browser implementation), but it's a bit misleading to anyone who doesn't know or c

[2011-12-08 22:53] benadida commented on #733
fair point @eevee, thanks for prodding us on this. We'll think about the best wording to set up the right expectation. And to answer your question: you'll need to type the password once every 2 weeks right now. When this goes native, that will probably be a longer period without password typing.

[2011-12-08 23:13] eevee commented on #733
Sure thing; I threw myfavoritebeer at a few non-tech friends and they all noticed this.  I see subsequent emails don't require more passwords, though, which is fantastic.

(Expanding on the native thought: I wouldn't really expect to need a password at all for the native implementation.  The status quo is for password manager to remember my passwords _and_ synchronize them everywhere indefinitely,

[2011-12-08 23:27] #601 closed, assigned to nobody

[2011-12-09 00:35] lloyd opened #734 "users cannot log in in latest prod"
users who have logged in in the last six hours cannot log in (assertions will not verify).  this is resolved when certs expire or the user can sign out and sign in to fix it.  5 stars!  fix it!

[2011-12-09 01:12] benadida opened #735 "move to crypto.getRandom"
instead of reading from /dev/urandom

[2011-12-09 02:25] ragavanmoz opened #737 "Registering a new BrowserID account throws an error"
I can't reproduce this now, but this is what happened.

Tried to create a new account. Clicked on the verification email in my email. Landed on a page that asked me to enter a password for the account. Hit Enter and got the following error:

Action: Completing User Registration
   Network Info: POST: /wsapi/complete_user_creation

   Response Code - error

   Error Type: Bad Request

Reloaded the

[2011-12-09 03:09] ragavanmoz commented on #737
https://browserid.org

[2011-12-09 17:51] #734 closed, assigned to lloyd

[2011-12-09 20:29] #691 closed, assigned to lloyd

[2011-12-09 22:07] shane-tomlinson commented on #704
@jbonacci - We have been unable to reproduce this nor have I seen it for many moons, but I have checked in a change that forces the callback to be called after 1.75 seconds - the amount of time the animation takes to run.

[2011-12-09 22:07] #704 closed, assigned to shane-tomlinson

[2011-12-09 22:33] shane-tomlinson commented on #717
closing since https://github.com/mozilla/browserid/pull/736 addresses this.

[2011-12-09 22:33] #717 closed, assigned to shane-tomlinson

[2011-12-09 22:43] shane-tomlinson opened #738 "Handle 503 on the front end"
This is for when the server is unavailable or under heavy load, print a nice message asking them to restart the dialog.

[2011-12-09 23:04] #738 closed, assigned to shane-tomlinson

[2011-12-10 02:24] tonychung opened #740 "Sign in one account, will prompt to select from multiple accounts"
If a user has multiple accounts, and selects "this is not me", they will proceed to sign in email/password into one account, then be presented with an extra screen to choose from multiple accounts

Screenshot explains it better.   Go from left to right.   Affects desktop and mobile.

http://imgur.com/a/4hMyZ/all#0

Repro:
1) go to beta.myfavoritebooze.com and sign into your account.   Verify you h

[2011-12-11 00:45] shane-tomlinson commented on #740
@tonychung - Duplicate of #198.  Closing.

FWIW - I am against the proposed flow because password managers remember autofill the username.

[2011-12-11 00:46] #740 closed, assigned to nobody

[2011-12-11 23:02] lalluviamola opened #741 "Unresponsive script avoids Sign Up"
I'm trying to use OpenPhoto, but I cannot be identified successfully. After checking my email address and my passphrase, when I click on "Sign Up" after some seconds appears a windows saying:

A script on this page may be busy, or it may have stopped responding. You can stop the script now, or you can continue to see if the script will complete.
Script: https://browserid.org/dialog/production.js:5

[2011-12-12 16:24] lloyd commented on #741
I think the problem here is that your computer is too slow to complete the generation of DSA keys in the time the browser allows scripts to hog the processor.

This is a very interesting case.  And I have some questions for you:
- What happens if you keep pressing "continue" to see if the script will complete?
- If the first step does eventually complete, approximately how long does it take in sec

[2011-12-12 17:08] lalluviamola commented on #741
It worked! Exactly as you described. As I hadn't success continuing scripts in the past I didn't think it could work, so after the second "Continue" I always chose "Stop the script". However, after the 3rd time it worked, but I had to refresh the page for noticing it (while I believe that NoScript was not blocking anything related to BrowserID).

Time it lasted was almost exactly 1 min.

My machin