[2013-01-16 20:45] callahad commented on #2937
Current email subject lines:

<dl>
<dt>confirm</dt>
<dd>Confirm email address for Persona</dd>
<dt>new</dt>
<dd>Confirm email address for Persona</dd>
<dt>reset</dt>
<dd>Reset Persona password</dd>
</dl>

For this case, re-using "Confirm email address for Persona" seems reasonable.

[2013-01-16 20:59] zaach commented on #2937
Yes, that does seem reasonable. I'll also reuse the confirm email landing page unless we want different copy there too.

[2013-01-16 22:08] shane-tomlinson opened #2945 "Unhelpful error message displayed if user enters in the wrong password on email verification"
STR

1) In browser 1, stage a new user
2) In browser 2, open verification link
3) Enter an incorrect password
4) Check out the very unhelpful error message.

![error-message-post-verification-wrong-password](https://f.cloud.github.com/assets/848085/71419/f62f4fbe-5fe7-11e2-8b83-6c3aea8d20be.png)

More desirable:

Give the user another chance to enter their password.

[2013-01-16 23:10] potch opened #2946 "Put communication_iframe.js on a diet."
Taking a look at the resources loaded by marketplace.firefox.com and observed that the JS used by the communication <iframe> clocks in at well over 100K, making it the second largest resource loaded by a visitor to our site. As a resource loaded by every site using BrowserID, that file should be as small as tolerable.

[2013-01-17 00:48] jaredhirsch commented on #2945
Oh no! There _were_ other similar edge cases

[2013-01-17 01:53] jedp commented on #2946
Hi, @potch.  We're actively working on this, particularly with marketplace and b2g in mind.  @shane-tomlinson and @fmarier have already done a lot of research and work towards huge improvements.  We're kicking off a little task force next week that includes Krupa from marketplace QA.  Our goals are smaller code, and fewer https requests.  We're going to do everything we can to make it good on a 2G

[2013-01-17 09:33] shane-tomlinson commented on #2946
Hi @potch - as @jedp says, we are working on this. We know we can do better.

The 122KB you are seeing is the uncompressed size. Fortunately, communication_iframe.js is served to the user gzipped, its compressed footprint is ~46KB. On a slow 2G connection with a download speed of 30KB/sec, this represents somewhere between 1.5 and 2 seconds, depending on connection latency.

[2013-01-17 11:24] shane-tomlinson opened #2948 "Error thrown when staging a user when site parameter contains an underscore '_'"
STR

1) Create an ephemeral instance with an `_` in the name "has_underscore" for instance.
2) Visit "has_underscore.123done.org"
3) Try staging a user.
4) Check out the error screen.

![invalid_origin_dialog](https://f.cloud.github.com/assets/848085/74551/2493f4f8-6098-11e2-9911-fae10c627f53.png)

5) Visit "has_underscore.personatest.org/signin"
6) Try staging a user.
7) Check out the error scree

[2013-01-17 17:44] ozten commented on #2939
Perfect. Thanks Pike!

We have pt-BR and es. Closing.

[2013-01-17 17:44] #2939 closed, assigned to nobody

[2013-01-17 17:48] lloyd commented on #2946
francois, please close this issue when the work you're doing lands

[2013-01-17 17:50] jaredhirsch commented on #2945
feel free to assign me on the pull request when it's ready

[2013-01-17 17:50] #2943 closed, assigned to shane-tomlinson

[2013-01-17 21:46] jaredhirsch opened #2950 "auto-generate API docs"
Apparently lloyd's been hiding docstract from us this whole time. Could be cool.

Example: http://mozilla.github.com/chromeless/

REST API docs (wsapis) are the first priority for our friendly RPs, but documenting internals would be sweet as well.

[2013-01-17 21:56] djc commented on #2950
I'll try to take a look at this.

[2013-01-17 22:00] lloyd commented on #2950
I'm unconvinced of the value of wholesale api documentation for the whole source tree.  As far as wsapi documentation, a custom extractor _might_ be a better fit?  Given that this is the unit of thing that we want to document:

https://github.com/mozilla/browserid/tree/dev/lib/wsapi

even though I toiled on docstract, I'm not sure it's a great fit here?

[2013-01-17 22:01] djc commented on #2950
So maybe just do REST API Sphinx docs?
On Jan 17, 2013 11:00 PM, "Lloyd Hilaiel" notifications@github.com wrote:

[2013-01-17 22:23] jaredhirsch commented on #2950
I'm not familiar with Sphinx.

But the wsapis follow a predictable structure: they export an interface, and the top-level wsapi.js file uses the exported info to filter out requests to undefined endpoints or requests containing undefined parameters.

For example, take a look at the interface exported by wsapi/address_info.js: https://github.com/mozilla/browserid/blob/dev/lib/wsapi/address_info.js#

[2013-01-17 22:29] jaredhirsch commented on #2950
Hmm, maybe that comment wasn't totally clear. We could write a bit of JS to require individual wsapi files, then transform their exported API properties into compact and concise API docs.

Going further, it might be interesting to actually insert the code comments (like [these](https://github.com/mozilla/browserid/blob/dev/lib/wsapi/address_info.js#L15-L25)) into the exported interface. This would

[2013-01-18 00:58] jrgm opened #2951 "remove no-longer-needed duplicate shutdown.handleTerminationSignals call"
GH-2743 added a shutdown.handleTerminationSignals to shutdown toobusy. The no-op one I had registered is no longer needed (and  causes an error to be thrown at shutdown since `app.close` is called twice.

[2013-01-18 02:32] jrgm commented on #2951
Closing, since PR-2952 was committed.

[2013-01-18 02:32] #2951 closed, assigned to nobody

[2013-01-18 03:30] jrgm commented on #2807
... and ultimately this code was removed in GH-2951 when a non no-op listener was added for toobusy.

[2013-01-18 03:39] jrgm commented on #2887
Verified. The example URL are all now 404. I have a list of others to research for why they bomb.

[2013-01-18 13:16] shane-tomlinson opened #2953 "Show only the previously selected email address for a domain."

[2013-01-18 18:56] skinny97214 commented on #2871
Upgrading this to four stars

[2013-01-19 01:26] warner opened #2956 "permit resource: and chrome-extension: schemes as audience="
For browser addons, which serve control-panel UI content from inside the addon (rather than fetching it from an external website), it would be nice to allow "resource:" and "chrome-extension:" as valid audiences. (currently the code conservatively rejects any audience that isn't "http:" or "https:"). This would allow addon code to use navigator.id from their own content.

The usual security goal i

[2013-01-21 09:22] #2669 closed, assigned to shane-tomlinson

[2013-01-21 10:19] csuciu commented on #401
Test case added  https://moztrap.mozilla.org/manage/caseversion/23754/

[2013-01-21 10:28] csuciu commented on #466
Test case added https://moztrap.mozilla.org/manage/caseversion/23755/

[2013-01-21 12:23] csuciu commented on #2100
I still see this issue in the confirmation emails sent to yahoo mail on tablets

[2013-01-21 14:10] csuciu commented on #714
Re-tested this issue on Ubuntu 12.04 + Opera 12.12 and I got the same result as in comment #0.

[2013-01-21 16:07] csuciu commented on #1104
Test case added https://moztrap.mozilla.org/manage/caseversion/23756/

[2013-01-22 09:12] csuciu opened #2958 "Confirm "remove email" and "cancel account" messages are not displayed correctly on Opera"
Opera 12.12
Ubuntu 12.04
1. have one account with one email
2. open https://login.anosrep.org/ and sign in
3. click on remove email or cancel your account

Actual: The confirmation messages are not displayed correctly (see the screenshot)

![screenshot](https://f.cloud.github.com/assets/1866605/85695/a96e6f94-6473-11e2-8305-e61137adf6b9.jpeg)

[2013-01-22 11:02] csuciu commented on #982
Test case added https://moztrap.mozilla.org/manage/caseversion/23757/

[2013-01-22 16:12] evilpie commented on #2903
Any update on this?

[2013-01-22 17:08] ozten opened #2960 "Need primary_shuts_down_with_password.js Selenium test"
From https://id.etherpad.mozilla.org/primary-transition-ux-swarm we have one remaining Selenium test to write.

primary_shuts_down_with_password.js
- noauth secondary -> primary
- auth secondary -> primary

[2013-01-23 10:28] csuciu commented on #1404
Test case added https://moztrap.mozilla.org/manage/caseversion/23912/

[2013-01-23 11:16] csuciu commented on #1382
Test case added https://moztrap.mozilla.org/manage/caseversion/23913/

[2013-01-23 12:59] csuciu opened #2962 "beta.123done does not finish loading the sign in button on IE 9 run in IE7 compatibility mode"
OS: Win7
Browser: IE9 in IE7 compatibility mode

Steps:
1. Start IE9 in IE7 compatibility mode
2. Load beta.123done.org

Actual: Sign in button does not finish loading. The loading image continues to spin.

[2013-01-23 14:46] csuciu commented on #1837
I am unable to reproduce on Samsung Galaxy R - Android 2.3 using stock browser and FF mobile.

@shane-tomlinson Are you still seeing this issue

[2013-01-23 21:19] lloyd commented on #2903
merged. should be in production on feb 13th.  http://personatra.in/#2013.02.01

[2013-01-23 21:19] #2903 closed, assigned to fmarier

[2013-01-23 21:37] lloyd commented on #1859
I closed down the pull request referencing this because it was stale.  Do we still have people that care deeply about this issue?  @gene1wood or @6a68 - any thoughts?

[2013-01-24 00:22] jds2501 opened #2964 "[marketplace] Persona login is in English when it should be in a different language"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=834051, as this is server side.
## Environment :

Gecko  http://hg.mozilla.org/releases/mozilla-b2g18/rev/32f66481e161
Gaia   None
BuildID 20130123070202
Version 18.0
Unagi
## Repro :
1. set device to Pt-Br
2. go to marketplace
3. scroll down to the bottom
4. press the identificar-me button
## Expected :
1. Persona login should be in Portu

[2013-01-24 00:24] ozten commented on #2964
Don't mid-air me bro....

I've enabled en and pt-BR on native-persona.org

Steps I took:

1) svn co http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/
2) mv browserid/locale /home/app/code/
3) cd /home/app/code
4) edit /home/app/config.json and add supported languages block
5) mkdir resources/static/i18n
6) ./locale/compile-json.sh locale resources/static/i18n/
7) CONFIG_FILES=/home/app/co

[2013-01-24 00:24] #2964 closed, assigned to nobody

[2013-01-24 01:33] jedp opened #2965 "support app:// prototocol in validator for FirefoxOS"
Apparently gaia apps give their origin as app://foo instead of http://foo.  This does not pass the persona origin validator.

As a result, users will receive a red "There has been an error" message when trying to log in with unverified email and/or forced issuer.  The error message will say something about an invalid origin.

I had never noticed this, because building gaia with DEBUG=1 transforms

[2013-01-24 01:46] jds2501 commented on #2965
I should note that fixing this is required to use persona in a packaged app. So this is definitely a bad bug.

[2013-01-24 17:49] #2965 closed, assigned to nobody

[2013-01-24 17:50] lloyd commented on #2962
wontfix - we don't support ie7

[2013-01-24 17:50] #2962 closed, assigned to nobody

[2013-01-24 17:57] lloyd commented on #2958
this is as designed, at some point in the future we may improve the UI.

[2013-01-24 17:57] #2958 closed, assigned to nobody

[2013-01-24 18:02] lloyd commented on #2956
let's bring this general issue of what _our_ verifier should support to dev-identity first before we open a bug?

note: this is important and relevant to FirefoxOS as well, which needs app:// urls

[2013-01-24 18:06] lloyd commented on #2950
agreement in bug scrub is that spending time on documenting an internal api that is only useful for a small group of developers, that is already is a pretty scrutable form, is not the best use of our time.

fwiw, hapi has automatic documentation facilities and assessing what it would take to move to hapi may be a better way to get there.

[2013-01-24 18:06] #2950 closed, assigned to nobody

[2013-01-25 00:22] jaredhirsch commented on #2850
closing. this is in the Q2 bucket of potential things to consider adding to the ops roadmap.

[2013-01-25 00:22] #2850 closed, assigned to jaredhirsch

[2013-01-25 00:24] jds2501 opened #2970 "Identity screens within the trustedUI have UX issues with the keyboard open"
NOTE: The STR I have specified are more detailed than they need to be since I am trying to tie the IdentityFlow with payments to warrant a higher priority.

steps to reproduce:
1. Get marketplace-dev app from http://people.mozilla.org/~kmcmillan/mktdev.html
2. Launch the marketplace app on your unagi device
3. Search for 'Private Yacht'
4. Click on the purchase button
5. Identity Flow launches wit

[2013-01-25 00:26] jds2501 commented on #2970
Read the rationale on https://bugzilla.mozilla.org/show_bug.cgi?id=834507#c2 on why this is a server-side persona bug. In short - this is a responsive design problem.

[2013-01-25 03:01] jds2501 opened #2971 "[persona] allowed to enter space in email address in persona login screen"
Migrating this from https://bugzilla.mozilla.org/show_bug.cgi?id=834538.

[2013-01-25 05:33] jrgm opened #2972 "frontend tests passing but reporting SyntaxError|TypeError about testInvalidPasswordAndValidationPassword"
I was running tests locally on the dev branch and noticed this output. However the tests report as passed overall ($? == 0).

/me punts to shane

I also see the same chirps here: https://travis-ci.org/mozilla/browserid/jobs/4367739

Locally:

[code]

[2013-01-25 05:42] jrgm commented on #2972
My phantomjs version locally on osx:

[code]

This page suggests travis-ci is on 1.6.x, but I'm skeptical.
http://about.travis-ci.org/docs/user/ci-environment/#Headless-Browser-Testing-Tools

[2013-01-25 05:52] jrgm commented on #2971
So Dietrich said "summary says it all", but it doesn't.

If I enter a space character in either the local part or the domain name of the email address and try to use that, I get a tooltip warning that "that is not a valid email address".

But yeah, a restriction on the front-end that just doesn't allow the user to type a space at all when entering an email address would be a UX improvement.

Or di

[2013-01-25 06:39] autonome commented on #2971
Yep, just disallowing spaces altogether. IIRC I was allowed to enter multiple strings, and saw no tooltips.

Hm, actually... do the tooltips show up at all on Firefox OS web content?

[2013-01-25 08:32] jrgm commented on #2971
Thanks @autonome.

I'm using platform 18.0, build identifer 20130123070202, update channel nightly, and I get a tooltip when I rry to use an email with a space in either the local part or the domain name of an email address (which is a client side filtter).

[2013-01-25 09:16] shane-tomlinson commented on #880
Closing this until we actually decide whether we are going to tackle this. We can re-open then.

[2013-01-25 09:16] #880 closed, assigned to fmarier

[2013-01-25 09:16] shane-tomlinson commented on #1589
Closing this until we actually decide whether we are going to tackle this. We can re-open then.

[2013-01-25 09:16] #1589 closed, assigned to skinny97214

[2013-01-25 09:16] shane-tomlinson commented on #1588
Closing this until we actually decide whether we are going to tackle this. We can re-open then.

[2013-01-25 09:16] #1588 closed, assigned to fmarier

[2013-01-25 09:23] shane-tomlinson commented on #853
Closing this request until we decide whether we want to do it as a feature. If you feel strongly, please re-open discussion on the list so that we can make a decision in the open.

[2013-01-25 09:23] #853 closed, assigned to skinny97214

[2013-01-25 09:24] shane-tomlinson commented on #2418
This has been taken care of. Closing.

[2013-01-25 09:24] #2418 closed, assigned to nobody

[2013-01-25 09:27] shane-tomlinson commented on #2755
Testy is not being used for its original purpose right now. Closing.

[2013-01-25 09:27] #2755 closed, assigned to nobody

[2013-01-25 09:30] shane-tomlinson commented on #95
Closing until we decide to tackle this.

[2013-01-25 09:30] #95 closed, assigned to shane-tomlinson

[2013-01-25 09:33] shane-tomlinson commented on #874
Closing until we decide to handle this. Re-open if we want to immediately. Largly a dup of #755.

[2013-01-25 09:33] #874 closed, assigned to skinny97214

[2013-01-25 09:35] shane-tomlinson commented on #1038
@benadida, @ozten - are we going to handle this? If not, we could close this down.

[2013-01-25 09:38] shane-tomlinson commented on #2257
Closing as low-value wontfix.

[2013-01-25 09:38] #2257 closed, assigned to zaach

[2013-01-25 09:49] shane-tomlinson commented on #2554
I second @seanmonstar's opinion here - ctrl-w is the known and accepted standard for closing tabs/windows within web browsers. Closing the window on escape adds a non-standard behavior that would break user expectations about what they can and can't do within a browser tab/window.

@skinny97214 - can you weigh in here?

[2013-01-25 09:51] shane-tomlinson commented on #2393
An RP that targets high school students has given me information that this screen confuses students as well. Many students think "yeah, this is my computer _right now_" and click yes.

+1 for wording changes.

[2013-01-25 09:53] shane-tomlinson commented on #2367
@seanmonstar - We are on express 2.5.0 right now, does this problem still exist? If not, can you close it down?

[2013-01-25 09:57] shane-tomlinson commented on #558
@lloyd - are we doing this now? If not, are we realistically ever going to do it? If not, we should close it down.

[2013-01-25 10:11] jrgm commented on #2554
Actually, I think being able to dismiss the popup with ESC would be be a valuable improvement. (Compare to bringing up preferences in FF and dismissing that with ESC; yeah not quite the same thing, but anyways).

[2013-01-25 10:24] shane-tomlinson commented on #2972
This was fixed in 14535dd9b3ce506974b539a6982bc0c96886d664 in the password reset branch. Adding a separate PR for a standalone fix.

[2013-01-25 13:28] evilpie commented on #2903
Great, thank you.

[2013-01-25 13:39] operatorjen commented on #2009
I know someone else who is having this issue on their Windows Mobile phone using IE. Also, I notice this issue in Chrome on iOS.

[2013-01-25 15:21] benadida commented on #1038
Not anytime soon I don't think, so I think closing down is right.
On Jan 25, 2013 1:36 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-01-25 17:25] gene1wood commented on #1859
I wouldn't say that I care deeply but it would be nice to get out of the business of manually incrementing the "release" value in our spec file.

This is our current model

[code]

Until we break localization out into it's own RPM and while we continue to use a git app code and svn localization model, we would need to retain the svn revision of the localization in the release value somehow.

In su

[2013-01-25 18:22] #1038 closed, assigned to nobody

[2013-01-25 18:26] callahad commented on #2009
Unfortunately, that's a known issue. #2034 is the generic bug for things like Chrome on iOS.

[2013-01-25 18:43] david-caro commented on #1859
Hey, actually I changed my job and I do not need this anymore (I suppose that someone from my old company should be continuing that work :S). But If it's useful, I do not mind trying to adapt it to the project needs instead of my old company ones :)

[2013-01-25 19:56] jaredhirsch commented on #2554
+1 for closing this as wontfix.

I'd agree that ESC should close the dialog, if it were a dialog lightboxed inside the existing window. It isn't. It's a popup window.

[2013-01-25 22:28] #2972 closed, assigned to shane-tomlinson

[2013-01-26 00:19] seanmonstar commented on #2367
I believe so, but I can't currently test since `toobusy` fails on Windows.

[2013-01-26 18:21] lloyd commented on #2393
I think we should call it a phone, or a computer, or a tablet.  It feels so human.  Little tiny JavaScript library that encapsulates the sniffing?  whatisthis.js?

I know the simple solution is to just call it a device, but that's so cold.

-- lloyd (thumb-typing)

On Jan 25, 2013, at 2:51 AM, Shane Tomlinson notifications@github.com wrote:

[2013-01-26 18:23] lloyd commented on #558
We got this far without it.  Low value.

[2013-01-26 18:23] #558 closed, assigned to lloyd

[2013-01-27 01:51] ForbesLindesay commented on #2696
Has any more thought been given to this?

[2013-01-29 02:56] jrgm opened #2976 "update https://train0118.personatest.org/about - s/openphoto/trovebox/"
Openphoto changed it's name this afternoon to Trovebox -- http://blog.theopenphotoproject.org/

We should update https://train0118.personatest.org/about to reflect the new name.

[2013-01-29 15:01] gary-qi commented on #2921
It is a widespread issue! I don't know how many people are using Browser ID though

It has problem on safari 5.1.7 windows
It has problem on chrome iOS test on ipad and iphone

It's easily verifiable, how can you say it's not widespread?

Works for me on safari on iOS

[2013-01-29 19:14] jaredhirsch commented on #2921
@gary-qi, thanks for commenting. Few questions for you:
-  "works for me on safari on iOS" - does this mean you can or cannot verify the error on that platform?
- safari 5.1.7 windows - what version of windows?

[2013-01-29 20:01] gary-qi commented on #2921
No error on safari iOS.

Safari 5.1.7 for windows xp.

On Jan 29, 2013, at 2:14 PM, Jared Hirsch notifications@github.com wrote:

[2013-01-29 21:38] jaredhirsch commented on #2953
closing. please reopen if I'm too quick on the trigger

[2013-01-29 21:38] #2953 closed, assigned to shane-tomlinson

[2013-01-29 23:57] callahad commented on #2921
Closing as WONTFIX:

No one has been able to reproduce the Mobile Safari issue, and even @lightsurge wasn't able to reproduce it on a different network.

@gary-qi reproduced the Windows Safari issue, but to be perfectly honest, Apple has discontinued Safari for Windows making it a legacy browser with extremely small market share.

I feel terrible typing that, but without steps to reproduce the iss

[2013-01-29 23:57] #2921 closed, assigned to nobody

[2013-01-29 23:59] lloyd commented on #2921
note, chrome iOS is being tracked in issue #2034

[2013-01-30 00:32] lightsurge commented on #2921
So a further report is noted and the response is to almost immediately close the issue? That makes no sense... The report from @qary-q might also have been environment not software related, but since you've closed this issue I presume you're not interested in pursuing it.

So I'm presuming you're not interested in getting any further reports along the lines of 'broken on safari (mobile+desktop)? g

[2013-01-30 00:42] ozten commented on #2921
We absolutely are interested in further reports, but we need complete steps to reproduce, before we can diagnose and fix an issue. If it's an environment issue and we can't reproduce the environment, there isn't much we can do.

The more you can troubleshoot, diagnose, or document the root cause, the more likely we can act on the issue.

This team has invested a lot of time in iOS and will continu

[2013-01-30 01:16] callahad commented on #2921
Hi @lightsurge, I must apologize. I am genuinely conflicted on flagging this as "wontfix" and closing it. The closing is not meant dismissively, nor is it set in stone, though I certainly understand how it can be seen that way.

The additional activity brought this bug back to the top of my notifications, and offered a chance to reflect on its state:
- Persona supports the [latest stable release](

[2013-01-30 03:15] gary-qi commented on #2921
I don't want to complicate this thing, but I did a test http://myfavoritebeer.org/ at home without proxy. It works fine on safari 5.1.7 (7534.57.2) on windows XP. Earlier I reported failure similar to @lightsurge was behind a corporate firewall through proxy.

Thanks lloyd for iOS direction. Hope that one get fixed soon.

[2013-01-30 04:15] seanmonstar commented on #2924
closed by #2931

[2013-01-30 04:15] #2924 closed, assigned to nobody

[2013-01-30 09:53] shane-tomlinson commented on #2921
@gary-qi, @lightsurge - When this problem manifests, can you take a screen shot of the request and response headers in Safari?

The steps to do so are quite convoluted, but it may provide an insight into what is going on.

1) In Safari on Windows XP, open 123done.org
2) Click the sign in button
3) In the dialog, open the Safari developer tools
4) click "Scripts"
5) Open the Javascript Console
6) T

[2013-01-30 10:04] shane-tomlinson opened #2979 ""Cookies Disabled" screen shows escaped HTML when invoked from /sign_in"
STR

1) Load up Safari on Windows XP or OSX
2) Visit 123done with cookies enabled.
3) Disable Cookies.
4) Click "Sign in with Persona"
5) Meh.

![cookies disabled safari](https://f.cloud.github.com/assets/848085/110527/59b56b36-6ac4-11e2-99c1-519b4eb2132b.png)

[2013-01-30 11:43] callahad opened #2980 "Why 3 shims? Why not everything in include.js?"
This came up from prepping for the IdP talk:

Why do we have 3 shims (include.js for RPs, provisioning_api.js and authentication_api.js for IdPs) -- couldn't we just roll all of them into include.js?

And symlink the three together for backwards compatibility?

[2013-01-30 15:24] lloyd commented on #2980
yeah, why don't we?

[2013-01-30 17:52] jaredhirsch commented on #2980
Would doing so make the include.js download larger?

We're asking people to block their page on our code downloading and being parsed on the client; from a performance standpoint, I'm -1 on this proposal.

...unless I'm misunderstanding the use case?

[2013-01-30 17:54] lloyd commented on #2980
I had the same objection, but shane explained to me that the super-set is not significantly larger than any one subset, and the browser caching wins might actually outweigh it, especially when bigtent goes live.

Shane's arguments added a | to my -.

On Jan 30, 2013, at 10:53 AM, Jared Hirsch notifications@github.com wrote:

[2013-01-30 17:55] jaredhirsch commented on #2980
Interesting! Thanks for the explanation.

[2013-01-30 17:56] lloyd commented on #2980
but that's not to say that we shouldn't get before and after numbers of the gzipped super set as compared to the current 3 individual files.

This is easy to do and rigorously answers the download size concern.

On Jan 30, 2013, at 10:55 AM, Jared Hirsch notifications@github.com wrote:

[2013-01-30 19:39] callahad commented on #2980
This is in the neighborhood of a 460 or 627 byte increase.

[2013-01-30 20:00] shane-tomlinson opened #2981 "<Your email provider> makes this easy screen is not keyboard accessible."
Before being redirected to the IdP, the "Your email provider makes this easy" screen does not have a key selected, it is not possible to hit "enter"

[2013-01-31 00:32] gary-qi commented on #2921
Thanks Shane for detailed steps.

I tried this in office behind proxy, but I couldn't get past the first one, sign in button refused to show, only a loading image, even after hours of wait.

Tried #6, since I didn't click sign in, couldn't find the function.
![a](https://f.cloud.github.com/assets/3417924/113120/7690283a-6b3d-11e2-9bde-61420151552d.PNG)

I also tested at home, it works fine, a bit

[2013-01-31 01:12] ozten commented on #2644
Fixed in mozilla/i18n-abide/issues/17, will pick up fix when we move to depending on i18n-abide.

[2013-01-31 08:49] lightsurge commented on #2921
Same here... as in https://github.com/mozilla/browserid/issues/2921#issuecomment-12060327

Just can't get as far as that

[2013-01-31 10:20] shane-tomlinson commented on #2921
@gary-qi, @lightsurge - oh, interesting. In both cases where you are behind the proxy, are 3rd party cookies enabled in Safari?

If you visit http://myfavoritebeer.org and click the "Sign in with Persona" button, does the dialog appear, but blank?

[2013-01-31 11:24] lightsurge commented on #2921
Okay Fiddler2 with decrypted traffic showed more interesting headers.

Attempting to simply access https://login.persona.org/  showed that Safari successfully established CONNECT login.persona.org:443 but that was as far as it got. Fiddler then gets a 502, 'gateway refused requested connect' (it's not a proxy authentication problem, other sites fine).

Doing the same on Chrome, I get
CONNECT login

[2013-01-31 11:29] lightsurge commented on #2921
@shane-tomlinson 3rd party cookies are enabled. Button does nothing because for the reasons above include.js is not downloaded

[2013-01-31 11:32] lightsurge commented on #2921
Shouldn't this: Access-Control-Allow-Origin: https://login.persona.org
Be: Access-Control-Allow-Origin: https://static.login.persona.org

Probably doesn't matter, just a thought

[2013-01-31 11:53] lightsurge commented on #2921
I've now tested without a proxy, but within the same network. Same problem, but response error is different.

fiddler 504 'server did not return a response for this request'

[2013-01-31 13:53] lightsurge commented on #2921
Note I cannot access most of the resources on *.persona.org on safari either, same error

So this is nothing to do with gzip, and nothing to do with chunked transfer

For example, I can't access (edit: actually I can)
https://login.persona.org/v/7ad3be635d/pages/i/persona-logo-wordmark.png

But I CAN access
https://login.persona.org/v/61fe8c7a3b/pages/i/marketplace-header.png

That's so weird?! Th

[2013-01-31 14:05] lightsurge commented on #2921
Sorry no, I can access the images, but I can't (definitely can't) access the scripts or stylesheets on Safari i.e.

https://static.login.persona.org/v/85ce3f9526/production/browserid.css

[2013-01-31 14:10] lightsurge commented on #2921
I CAN access https://static.login.persona.org/v/85ce3f9526/production/en/browserid.js on Safari

So this is something that's peculiar to:
https://static.login.persona.org/v/85ce3f9526/production/browserid.css
and
https://static.login.persona.org/v/85ce3f9526/production/include.js

Sorry for all the noise, going to give in troubleshooting now before I go nuts

[2013-01-31 14:43] lightsurge commented on #2921
btw although https://static.login.persona.org/v/85ce3f9526/production/en/browserid.js would download through safari, it was slow, and when decoding the response fiddler2 gave me a strange error:

'Chunked body did not terminate properly with 0-sized chunk'

Through safari, no such error and was fast.

[2013-01-31 17:52] lloyd commented on #2971
Is space filtering common on other high profile sites?  links?

[2013-01-31 18:40] autonome commented on #2971
Lol. The only valid input is an email address.

Feel free to wontfix this. I'd rather y'all focus on other things in Persona instead of doing an audit of high profile sites that allow spaces into email fields.

[2013-01-31 20:49] ozten commented on #1322
`format` in browserid drifted away from `format` in i18n-abide.

See [example format usage of named variables](https://github.com/mozilla/browserid/blob/d494afbbce176697998f3b39764200d8732ad256/lib/i18n.js#L246) where in the format `%(foo)s`. Eventually, those could be typed... like %(foo)d for decimals, etc.

I'm going to switch these back, otherwise I have to break i18n-abide's format API. `%(fo

[2013-01-31 21:38] ozten commented on #1322
Looks like this touches Gobbledygook.

https://github.com/lloyd/gobbledygook/pull/1

[2013-01-31 22:34] jedp opened #2982 "Merge b2g branch into dev"
The work done to support marketplace and native implementations (b2g) should be merged into dev.

Once this is done, we can rejoice, as all users will share a single database, and RPs will not need to know in advance whether they are serving native or shimmed; they will only need to include js from persona.org.

This needs to happen before the final b2g code is shipped to vendors to put on phones

[2013-01-31 23:17] lloyd commented on #2982
Is there any creative way we can make this transparent to rps?

Isn't this analogous to the browserid-> persona transition?

-- lloyd (thumb-typing)

On Jan 31, 2013, at 3:34 PM, Jed Parsons notifications@github.com wrote:

[2013-02-01 07:23] jrgm commented on #2906
Actually, it may be the case that this error is defeating caching on b2g for the trusted dialog.

Every time the /sign_in dialog comes up on b2g, requests are made for /v/&lt;hash&gt;>/common/fonts/{OpenSans-Light.ttf,OpenSans-Regular.ttf,OpenSans-Bold.ttf}.

These three requests return 200 OK with appropriate headers for caching, but each subsequent request makes an unconditional GET, and the abo

[2013-02-01 11:05] josendf opened #2983 "translation_directory default in lib/i18n.js"
In file lib/i18n.js

Line:
if (! options.translation_directory)  options.i18n_json_dir = 'l10n/';

Should be:
if (! options.translation_directory)  options.translation_directory = 'l10n/';

[2013-02-01 17:13] ForbesLindesay commented on #2696
This is now a blocking issue for me adopting browserid

[2013-02-01 17:17] shane-tomlinson commented on #2696
@ForbesLindesay - instead of an absolute URI, would data-URI be a viable alternative?

[2013-02-01 19:00] jaredhirsch commented on #2982
@jedp do we have a hard date when this needs to be all merged, happy, and
the train deployed?

On Thu, Jan 31, 2013 at 3:18 PM, Lloyd Hilaiel notifications@github.comwrote:

[2013-02-01 19:11] jaredhirsch commented on #2971
I'd prefer to use tooltips to inform users of restrictions, not silently
deactivate keys.

Suggest closing as wontfix

On Thu, Jan 31, 2013 at 9:52 AM, Lloyd Hilaiel notifications@github.comwrote:

[2013-02-01 19:19] ForbesLindesay commented on #2696
Yes, that would be equally good

[2013-02-02 02:24] nhirata commented on #2964
hey ozten, is es enabled as well?  It would be most appreciated if you do that.  :)

[2013-02-02 02:41] jrgm commented on #2964
@nhirata - no, 'es' is not enabled, but will be simple to add it.

[2013-02-02 02:54] jrgm commented on #2964
@nhirata actually, can you open a new issue to request 'es' (and any other language that we support, which are listed here https://localize.mozilla.org/projects/browserid/ with the current state of the translation).

[2013-02-03 15:46] chemistrydioxide commented on #2583
I think that SNI should be made a MUST to implement for Persona consumers/verification services. I mean, nobody can afford a dedicated IP for each of their domain names. Even large organizations will eventually want to run their own Persona IdP for each domain they serve (think Google Apps for your domain) - and putting like 1000 customers into 1 multi domain cert doesn't sound like a good idea ei

[2013-02-04 17:09] ozten opened #2985 "Yahoo BigTent loops after authentication"
Steps to Reproduce

1) Go to http://beta.123done.org/
2) Open HttpFox or another tool to see HTTP requests
3) Complete log in with a yahoo.com email address

Expected:
Dialog closes and your logged in

Actual
Dialog hangs on last screen

Note HTTP requests:
A loop is present. `auth_with_assertion`, `list_emails`, `session_context`, and then back to `auth_with_assertion`.

This does not reproduce i

[2013-02-04 17:11] ozten commented on #2985
Certificate issuer looks good, matching `yahoo.login.anosrep.org`.

BigTent portion of the flow appears to complete successfully.

After attempted login, localStorage has

[code]

It is missing several fields! With a successful auth, localStorage would also have `cert`, `priv` and `pub`.

[2013-02-04 17:12] ozten commented on #2985
The loop is after provisioning, we loop over have_email, auth_with_assertion, and  list_email again and again.

[code]

[2013-02-04 17:47] ozten commented on #2985
The second time the dialog is launched, the user is logged in with an active session.

I wasn't seeing this earlier, when I discovered this issue.

If one clicks 'Sign in', then the infinite loop happens.

[2013-02-04 19:22] ozten commented on #2985
I think this is failing somewhere in syncEmails... still digging.

[2013-02-04 19:28] ozten commented on #2985
Hmm, a bug is that we note identities to add or delete, but not to [update](https://github.com/mozilla/browserid/blob/ae4f86ba83c5bfea3565d8090012df85aa55885a/resources/static/common/js/user.js#L771).

[2013-02-04 19:56] ozten commented on #2985
syncEmails doesn't look like the root cause.

What I tried to reproduce this was to create the broken state in localStorage manually, but this didn't reproduce the problem in dev or my local dev instance.

Another weird thing is that I can log in via the browserid homepage:
https://login.anosrep.org/
but not via the dialog via
http://beta.123done.org/

[2013-02-04 20:07] jrgm commented on #2985
Just by the way, stage was updated to train-2013.02.01 at 11:52, and was broken somewhat from 11:00 to then.

[2013-02-04 20:15] jrgm commented on #2985
Actually, the broken webheads would have been taken out of load-balance, so this wouldn't have been user visible during that time.

But the version has changed to train-2013.02.01.

[2013-02-04 20:30] ozten commented on #2985
Hmmm, "signing in" from the homepage isn't really a proper sign in. LocalStorage still is missing cert, priv, and pub keys. It does however let you edit your account into.

If you switch back to 123done and click sign in, then the site goes through provisioning again and gets stuck in the infinite loop.

[2013-02-04 23:53] ozten commented on #2985
I minified scripts and put my local machine into production mode, no dice.

I connected to stage with Chrome's debugger. This seems promising, but minified, most funciton names are changed.

Filed https://bugzilla.mozilla.org/show_bug.cgi?id=837925 to get stage put on to original JS sources.

[2013-02-05 00:28] dholbert opened #2988 "The "enable cookies" howto text at persona.org displays raw HTML <a> tag instead of displaying a link"
STR:
1. Install an addon that rejects cookies by default, e.g. Cookie Whitelist With Buttons:
     https://addons.mozilla.org/en-us/firefox/addon/cookie-whitelist-with-buttons/
(Or, if you rather, you can turn off cookies w/out using any addons by going to Firefox Preferences | Privacy and change "Remember History" to "Use custom settings" and then uncheck "Accept cookies from sites")
1. Visit htt

[2013-02-05 00:30] ozten commented on #2985
We switched use_minified_resources to false in stage, but this won't work without having run `scripts/create_templates.js`. Boo.

[2013-02-05 02:26] jaredhirsch opened #2989 "enable on-call to update personastatus.org"
Right now, identity-pubkeys are needed to push updates to personastatus.org.

This means that, in case of an overnight outage, on-call will be able to update twitter, and commit to the personastatus github repo, but won't be able to actually update the site.

Decide what to do & do it.

[2013-02-05 15:11] pnkfelix commented on #2462
+1 to skinny97214's suggest of using "delete' rather than "cancel".  While jrgm's point is valid that there is a risk of the same overloading happening again in translation, there is still the very strong argument one should not delay in putting in a fix for a very real current problem solely because of a hypothetical instance of the _same problem_.

[2013-02-05 17:00] ozten commented on #2985
Using Chrome's debugger against the minified sources, it looks like we:
- Properly write a cert and public key to local storage
- Make it to [primary.verified](https://github.com/mozilla/browserid/blob/ae4f86ba83c5bfea3565d8090012df85aa55885a/resources/static/dialog/js/modules/provision_primary_user.js#L24) case in provision primary user
- Catch an exception (syntax error) and later localStorage i

[2013-02-05 17:50] ozten commented on #2985
One of the possible exceptions being thrown is

[code]

I don't know that this is the case, it's just a possibility.

Looking at the assertion which is sent up in auth with assertion...

dev env:

[code]

In stage:

[code]

Not sure why `iat` is missing. I'm also not sure how the alg is chosen, for the backing certificate.

[2013-02-05 18:06] lloyd commented on #2985
why is dev RSA and stage DSA?  Relevant?

[2013-02-05 18:08] ozten commented on #2985
It probably isn't, I'm noting things that are different between dev and stage, which I don't know why they are different.

[2013-02-05 18:41] ozten commented on #2985
Lloyd had a good idea, spin up http://looping.123done.org/ and point stage bigtent at that. See if we can get a repro. If so, we can debug it easily.

[2013-02-05 19:44] ozten commented on #2985
Seems like the problem is in User.syncEmails - this is done async... maybe a timing issue?

Digging, looking at server times.

[2013-02-05 20:00] ozten commented on #2985
AOK cert payload= 1360094458818  serverTime= 1360094168459

cert set to expires at Tue Feb 05 2013 12:00:58 GMT-0800 (PST)

server's time is Tue Feb 05 2013 11:56:08 GMT-0800 (PST)

diff = 292,764
tolerance is up to 120,000

Boom.

[2013-02-05 20:26] ozten commented on #2985
Okay, I misdiagnosed.

Bigtent in stage doesn't provision certs with an `iat` field. [user.js line 48](https://github.com/mozilla/browserid/blob/train-2013.02.01/resources/static/common/js/user.js#L48) checks that and calls them expired.

I'll look at why I've got a good browserid-certifier deployment, bug stage doesn't.

[2013-02-05 20:54] ozten commented on #2985
Local dev I'm running `d3bec1ea178076b107fdbd35e8630f16fd2f9b80` of browserid-certifier.
jwcrypto@0.3.1

AWS dev we're running `98a1b7fb0be14765236435025c0b7abb066abd9b`
jwcrypto@0.3.1

I've asked in [bug 837925](https://bugzilla.mozilla.org/show_bug.cgi?id=837925#c6) what stage's versions are.

[2013-02-05 21:31] ozten commented on #2985
To repro locally

1) Install `d81cd1de83e630a03ac0cb48662374b9d0fe25f1`
2) npm install (maybe blow away node_modules if npm is being flaky)
3) restart bigtent

d81cd1de83e630a03ac0cb48662374b9d0fe25f1 is from June of 2012 and uses jwcrypto@0.2.2.

We'll cut a train of browserid-certifier to fix the root cause.

I've created [PR 2991](https://github.com/mozilla/browserid/pull/2991) for improving lo

[2013-02-05 21:55] #2462 closed, assigned to lloyd

[2013-02-06 00:47] ozten commented on #2985
browserid-certifier [bumped](https://github.com/mozilla/browserid-certifier/pull/13) to jwcrypto@0.4.2.
[Deployment requested](https://bugzilla.mozilla.org/show_bug.cgi?id=838379)

[bigtent bumped to jwcrypto in PR 119](https://github.com/mozilla/browserid-bigtent/pull/119) also, still testing locally.
We'll deploy certifier first and make sure this fixes looping without any other tweaks. bigtent

[2013-02-06 09:29] shane-tomlinson commented on #2988
Thanks for the report @dholbert - this is a dup of #2979, closing.

[2013-02-06 09:29] #2988 closed, assigned to nobody

[2013-02-06 13:48] shane-tomlinson opened #2993 "Selenium tests do not run against ephemeral instances"
STR
1) Set up an ephemeral instance
2) Try to run Selenium tests against ephemeral instance, specifying a specific test to run.
3) POW.

[code]

[2013-02-06 17:55] ozten commented on #2985
With the new certifier deployed, http://looping.123done.org/ is fixed.

Hooray.

[2013-02-06 17:55] #2985 closed, assigned to nobody

[2013-02-06 18:01] ozten commented on #2985
BigTent re-pointed at Stage.

http://beta.123done.org/ looping bug fixed.

[2013-02-06 18:53] jedp commented on #2970
The twitchiness would be a gaia issue

I think for the password dialog here, we should consider making "enter" on the first password field cause the dialog to focus on the second password field, and keep "enter" on the second password field as it is (submitting the form).  Focusing on the second password field will bring the field into view.  It is currently hidden behind the keyboard.

I think th

[2013-02-06 19:25] #2993 closed, assigned to jaredhirsch

[2013-02-06 19:27] jaredhirsch commented on #2989
As @lloyd points out, this should really just be a requirement for the NOC we're going to build.

Closing to feed this into that process instead.

[2013-02-06 19:27] #2989 closed, assigned to nobody

[2013-02-06 19:29] callahad commented on #2983
@ozten will be making a pull request this week which will remove / replace this file altogether. Thanks for the report!

[2013-02-06 22:04] ozten commented on #2983
@josendf Good catch! I also noticed this last week while porting us to [i18n-abide](https://github.com/mozilla/i18n-abide)

[2013-02-06 22:15] seanmonstar commented on #2970
@skinny97214 do you have suggestions on how to make this UX better? There is a confirm password field hidden by the keyboard, so the user doesn't really know it's there.

![attachment](https://f.cloud.github.com/assets/51479/133412/a57095d2-70aa-11e2-8931-203cca796908.png)

[2013-02-06 23:27] skinny97214 commented on #2970
We will need to do some trickery with mobile, I suspect. What it should do here is transition to a new screen that only has the password, repeat password fields and the submit button.

Just double checking... does the enter key work to submit the form?

[2013-02-07 01:31] seanmonstar commented on #2970
Yea, currently pressing the enter key after entering your password in the first field will submit the form, and give you a red tooltip.

We were wondering if there's a way to tell the B2G keyboard to provide a sort of "next" button instead.

[2013-02-07 01:49] wraithan opened #2997 "[b2g] navigator.id.logout() should always call the onLogout handler."
Currently if you are logged in, you can call `navigator.id.logout()` an infinite number of times and it will always call `onLogout`. If you aren't logged in at page load time then hitting `navigator.id.logout()` does not call `onLogout`.

What we'd like for webpay is to always call `onLogout` regardless of the logged in status of the user.

Here are some bugs being caused by this:
https://bugzilla

[2013-02-07 02:16] seanmonstar commented on #2997
The `onlogout` handler purposefully only triggers if the state goes from logged in to logged out. If the user isn't logged in originally, then it's not true that there has been an `onlogout` event.

What's the problem you're trying to solve? Is it not possible to know if the user was logged in previously in some specific way?

[2013-02-07 06:14] wraithan commented on #2997
It actually doesn't though, since it will trigger an infinite number of times once a person is logged in. The only case when `onlogout` isn't triggered is when the user was never logged in.

We need to definitely clear the user's cookies then redirect them. We purposefully do the redirect in the `onlogout` handler so we know that their cookies have been removed. AFAIK browserid doesn't give us a w

[2013-02-07 17:53] callahad commented on #2997
Setting to 4 stars for needing review / consideration.

@seanmonstar and @jedp  -- can you take a look at this? Added [b2g] to title since this impacts marketplace, but please also consider if it would make sense to change our spec / implementation in general.

[2013-02-07 17:58] jedp commented on #2997
It makes sense to me, and I don't think it's marketplace- or b2g-specific in the end.  It seems to me that if an RP assigns an `onlogout` handler, the RP can reasonably expect that if there's a logout button exposed, and the user clicks it, it should call the handler.

[2013-02-07 18:03] seanmonstar commented on #2997
This isn't b2g-specific.

I'll be the contrarian: The `onlogin` should only be triggered if the user completes the login process from `nav.id.request`. If they don't, such as canceling and closing the dialog, it should not call the `onlogin` process. (If it does, that's a separate bug.)

Likewise, `onlogout` should only be called if a user was actually logged out.

@wraithan The root of the proble

[2013-02-07 19:04] warner commented on #2956
Based on the dev-identity discussion in https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/6OW0BIzWjOs , it looks like we've got consensus to implement this. Reopening. I'll try to come up with a patch.

[2013-02-07 19:29] callahad commented on #2997
This needs to make it into MDN, but here's how the API works.

You tell Persona what you believe about the user's state by including a `loggedInUser` parameter in your call to `id.watch`. Persona will always believe that the user wants to be logged in as someone, or wants to be logged out. Persona will then invoke the appropriate callback to harmonize that state.

<table>
<thead>
<tr><td><strong>Y

[2013-02-07 19:38] wraithan commented on #2997
The disagree case where they both believe someone is logged in should be in the table, not listed as a caveat.

The `onmatch` not existing means it should be documented as doing nothing otherwise you confuse users.

[2013-02-07 19:57] ozten commented on #2610
Confirmed... weird.

Fixed in [697943c8ffb68](https://github.com/mozilla/browserid-bigtent/commit/223e390de903f4cf612b2caff9450d3d9a944baf)

[2013-02-07 19:57] #2610 closed, assigned to ozten

[2013-02-07 20:51] skinny97214 commented on #2970
We have visual designs for the FxOS-specific skin from Maureen and Michael. Sean - want to review these with me out of band?

![ID_Payments_VisualDesign](https://f.cloud.github.com/assets/41135/137259/0484e43e-7168-11e2-9467-4e07a56aed8f.jpg)

[2013-02-07 21:00] seanmonstar commented on #2997
@callahad :+1: \* 1000

[2013-02-07 21:35] callahad commented on #2997
MDN (https://developer.mozilla.org/en-US/docs/DOM/navigator.id.watch) has been updated -- closing this bug. @wraithan, let me know if you guys run into any more issues related to this.

[2013-02-07 21:35] #2997 closed, assigned to nobody

[2013-02-07 22:00] seanmonstar opened #2998 "navigator.id.logout() can trigger onlogout multiple times"
As noticed in #2997, if the user is logged in, calling `navigator.id.logout()` multiple times will trigger the `onlogout` callback every time.

It should only trigger it the first time.

[2013-02-08 00:09] jrgm commented on #2610
Okay, with browserid-bigtent train-2013.01.17 160f4c0, visiting https://yahoo.login.anosrep.org/authentication, the content is served with `Access-Control-Allow-Origin: https://yahoo.login.anosrep.org`.

However, with an empty cache shows this javascript error. I think the issue is that in transitioning among pages in the authentication, we're aborting the load of this woff file, which then causes

[2013-02-08 00:12] ozten commented on #2610
Loading /errors was how I reproduced the issue as well as checked for a fix after adding the headers.

This page is stable and won't redirect.

Good point about pages with redirects.

[2013-02-08 04:38] jrgm commented on #2682
(Ignore. Leaving a breadcrumb:
https://github.com/mozilla/browserid/issues/2645,
https://github.com/mozilla/browserid/issues/1863,
https://bugzilla.mozilla.org/show_bug.cgi?id=805482)

[2013-02-08 14:14] shane-tomlinson opened #2999 "onlogout called immediately after onlogin if 3rd party cookies are disabled"
A user reported an oddity today that may affect many Chrome users.

If 3rd party cookies are disabled, onlogout is called immediately after onlogin.

The following test page shows the error.

[code]

To both users and developers, it appears that Persona is operating as it should until the onlogout function is invoked with no clear indication why.

Instead of leaving users clueless, we should show

[2013-02-08 18:35] shane-tomlinson commented on #2274
DONE. closing.

[2013-02-08 18:35] #2274 closed, assigned to shane-tomlinson

[2013-02-08 22:41] unprolix commented on #2999
I spent quite some time trying to track this down!

[2013-02-09 20:37] callahad commented on #2583
SNI is unsupported in IE 8 on Windows XP. Allowing SNI would allow IdPs to lock out IE8/XP users. Then again, I don't really see a problem with giving IdP's that ability and making sure that `scripts/check_primary_support`, checkmyidp.org, and the docs issue warnings about it.

Hm. @gene1wood, any idea what would be involved in making this happen? Should it wait until after / be part of the migrat

[2013-02-09 20:48] callahad commented on #2583
(If it's simple enough to Just Do It Now, that would be pretty great, too)

[2013-02-10 09:20] chemistrydioxide commented on #2583
I don't think that SNI would even cause a hard lockout for IE8/XP users.
Instead, the server would send them a wrong certificate and the user
would have to accept that. Alternatively, SNI could be added to IE8
(using a plugin/proxy/whatever). Or XP users could use a different
browser.

##

Mit freundlichen Grüßen / With kind regards
ChO₂

#

# ChO₂                          Email: chemistrydioxide

[2013-02-10 16:14] callahad commented on #2583
Training users to accept invalid certificates is the last thing we want to do. ;)

[2013-02-11 18:31] gene1wood commented on #2583
It sounds like we're talking about the production and staging persona server side components being able to initiate connections out to and IdP which has its support document, provisioning page and authentication page being served over SSL from a webserver taking advantage of SNI.

The entity that would need to have SNI client support enabled then would be the part of staging or production persona

[2013-02-11 19:22] lmorchard commented on #2583
"It sounds like we're talking about the production and staging persona server side components being able to initiate connections out to and IdP which has its support document, provisioning page and authentication page being served over SSL from a webserver taking advantage of SNI."

Yes, exactly that. This issue is not so much about end-users' browsers as Persona itself using SNI for the HTTP requ

[2013-02-11 21:54] callahad commented on #2583
Which isn't to say that end-user browsers are not also important -- they needs to load both the authentication and provisioning pages -- but that's correct. This issue is about getting SNI working in staging and production, for outbound requests originating on our servers.

[2013-02-11 22:02] jrgm commented on #2618
Hey @shane-tomlinson or @seanmonstar : give this a try on IE9, and see what you think. (No this bug doesn't affect actual usage of the dialog, but is a fairly significant visual flaw).

[2013-02-11 22:52] seanmonstar commented on #2618
That flash is oogly.

[2013-02-12 05:22] jrgm commented on #2618
Thanks @seanmonstar, bump to 4-star. (Yes, the world won't fall apart if this remains, but oogly is oogly).

[2013-02-12 06:14] jrgm opened #3000 "An invalid email pattern that is not invalid on the frontend, but is invalid on the backend"
Wasn't actively looking for this, but typo-ed on a mobile device, and then repro'd more simply on osx/chrome.

STR
1. Load https://login.anosrep.org/signin
2. Enter the email '.foobar@example.com'

Actual: That email address is not detected as a bad pattern on the frontend, but the backend returns '{"success":false,"reason":"email: Error: Invalid email"}'

Side-effect: at least on Chrome/osx, that

[2013-02-12 18:06] ozten commented on #2932
Also note: https://github.com/jaredhanson/passport-openid/issues/11

[2013-02-12 18:12] gene1wood opened #3001 "Malformed verifier request triggers exception and 500 error"
We got these 6 requests this morning (not IP has been changed to 1.2.3.4 and email address has been changed to censored@censored.example.com) :

[code]

Which triggered these exceptions and 500 errors from the verifier :

[code]

This in turn triggered our monitoring of HTTP 500's on the verifiers.

Can this exception be caught and handled gracefully, not resulting in a 500?

[2013-02-12 19:17] ozten opened #3002 "Port scripts/extract_po.sh to i18n-abide"
Currently we have a shell script `scripts/extract_po.sh` which uses the GNU Gettext tool `xgettext` to extract strings and put them into POT files.

In Issue #1322 we've switched to i18n-abide which provides `bin/extract-pot`.

This is a purely node solution, so xgettext is no longer required.

We should work closely with mathjazz to make sure there are no bugs. We should closely compare the .pot

[2013-02-12 20:16] ozten commented on #2983
Proposed fix in https://github.com/mozilla/browserid/pull/3003

[2013-02-13 04:36] jrgm commented on #3001
A naive gist for fun, but lacking tests - https://gist.github.com/jrgm/4942228. Existing tests do pass locally though.

[2013-02-13 07:42] jrgm opened #3004 "[ios/chrome] dialog fails: action: establishing relay, relay from could not be found."
We don't officially support Chrome on iOS, but it's broken (at least on recently updated iOS and Chrome).

STR
1) On iOS, start chrome and go to https://123done.org. Bring up the dialog.

Expected: usable dialog
Actual: action: establishing relay, relay from could not be found.

This is Chrome 23.0.1271.100, on iOS 6.1.1 (iPhone 4s).

[2013-02-13 07:44] jrgm opened #3005 "[android4.2.1/stock] Main site, change password doesn't show password input boxes"
Sorry, I've been burnt out of clicking on mobile.

STR:
1) login to https://login.{persona,anosrep}.org
2) On the accounts page, click on 'edit' for the password.

Expected: two password fields are visible for password entry
Actual: no editable fields are shown; nothing in `adb log` of interest, probably some style/dom thing.

Fails on Android 4.2.1; stock browser 4.2.1-533553

Works on 4.2.1 for

[2013-02-13 09:21] shane-tomlinson commented on #3004
Dup of #1870, #2034 - since Chrome on iOS is a UIWebView, it fits under this category. Closing.

[2013-02-13 09:21] #3004 closed, assigned to nobody

[2013-02-13 09:22] shane-tomlinson commented on #3005
@jrgm - on my Nexus 4 with 4.2.1, I _only_ have Chrome by default, I have no stock browser. How can I go about installing that?

[2013-02-13 09:35] jrgm commented on #3005
@shane-tomlinson - hmm, my 4.2.1 phone is also a Nexus, but one that I've had for >1 year with several OTA kernel updates. I may just have a legacy stock browser here. I'll ask some folks here in MV about this in (PST) morning if there's a way to get the stock browser installed on your phone.

[2013-02-13 15:24] madjar opened #3006 "Interrupting the load of a page triggers onlogout"
Hello there

I have noticed that interrupting the load a a page by refreshing or clicking a link before the page is fully loaded triggers the `onlogout` callback. This happens in both Firefox and Chromium.

My `watch` call is the following :

[code]

It is the demo application of pyramid_persona. The login and logout views simply change the cookies.

To reproduce the bug, I hit the refresh button

[2013-02-13 16:54] shane-tomlinson opened #3007 "siteName is double escaped"
STR:

1) In the repo, edit example/rp/index.html:186 to be "Persona Test / Relying Party"
2) Load up the dialog

![Screen Shot 2013-02-13 at 16 52 14](https://f.cloud.github.com/assets/848085/153604/eaa7453a-75fd-11e2-8ac2-ddec8306c378.png)

[2013-02-13 18:31] shane-tomlinson commented on #896
We now have personastatus.org, closing.

[2013-02-13 18:31] #896 closed, assigned to lloyd

[2013-02-13 19:08] seanmonstar commented on #3006
Marking dupe of #2423

[2013-02-13 19:08] #3006 closed, assigned to nobody

[2013-02-13 19:59] madjar commented on #3006
@seanmonstar Hadn't see you last explanation on #2423, and I though they weren't linked. Sorry for the dupe.

[2013-02-13 20:01] seanmonstar commented on #3006
No sorry needed, thanks for adding pressure. More pressure, means we can prioritize better. I was just housekeeping.

[2013-02-13 23:45] lloyd opened #3008 "kpi stuff is reporting emails - blocker of KPI shipping"
example:

[code]

this is no good.  perhaps we should wash away query data.  Any ideas on how we can fix this at a more fundamental level and reduce chances of future data leak?

[2013-02-14 00:04] jrgm opened #3009 "audit and update pencil for new wsapi."
Quick placeholder for @jrgm

[2013-02-14 00:10] seanmonstar commented on #3008
In Playdoh projects, they use a middleware that essentially blacklists certain properties: https://github.com/jsocol/commonware/blob/master/commonware/exceptions/middleware.py

[2013-02-14 00:45] kparlante commented on #2831
Update: We're going to use personatest.org instead of hacksign.in, so the hosts will be
- https://kpiggybank.personatest.org
- https://kpiggybank-stage.personatest.org
- https://dashboard.personatest.org
- https://dashboard-stage.personatest.org

[2013-02-14 00:53] kparlante commented on #2831
#3008 Blocks kpi deployment

[2013-02-14 01:00] kparlante commented on #2831
Update: using the http_proxy is a code change in interaction_data.js, not a config change. I should have a PR tomorrow.

[2013-02-14 14:06] Standard8 opened #3010 "Persona login window shows "emails" and "success" rather than the emails addresses to select"
STR:

1) I've signed in with persona on one site (e.g. etherpad).
2) I go to log into a different site

Expected Results:

Show me the dialog with the two email addresses that I've got listed.

Actual Results:
 I get the normal dialog, however, the radio buttons to select my two email addresses are "emails" and "success" rather than the actual email address.

You can see an example here:

![Screen

[2013-02-14 16:51] ozten opened #3011 "Error: unknown email address for delegated IdP"
Steps to Reproduce

1) Sign into http://123done.org/ type XXX@ozten.com which delegates to hostedpersona.me
2) Enter password on hostedpersona.me

3) Note Address Verified

**Actual**
Dialog changes to
Finishing Sign In...
Please wait a few seconds while we sign you into the site.

Note in JS Error Console:

[code]

Note: `localStorage.emails` is empty.

**Expected**
Dialog generates assertion and

[2013-02-14 16:55] ozten commented on #3011
If I close the dialog and click Sign in with Persona again...

5) I'm already authenticated to the dialog

6) `localStorage.emails` has XXX@ozten.com, but no cert

7) Selecting shout and Sign in re-authenticates with hostedpersona

8) We return to the dialog and successfully log in

Note: localStorage looks right.

9) Clicking logout on 123done and signin, this cycle repeats and we end with "Finis

[2013-02-14 16:58] ozten commented on #3010
@Standard8 These are secondary email addresses, right? (You have to enter a password into Persona... it isn't backed by a different identity provider).

[2013-02-14 17:04] ozten commented on #3011
This original bug report is
Aurora 20.0a2 (2013-02-14) on Mac 10.7.5

This didn't reproduce on Firefox 19.0

[2013-02-14 17:07] ozten commented on #3011
This didn't reproduce on a clean profile with Aurora 20.0a2 (2013-02-14) on Mac 10.7.5

[2013-02-14 17:12] ozten commented on #3010
I'm unable to reproduce this issue. I did see Issue #3011, which seems to not reproduce in a clean browser profile.

Can you
1) Email me the two email addresses you are using.
2) Try to reproduce in a new browser profile
3) Using Firebug or another tool, [save out a HAR](http://www.softwareishard.com/blog/har-adopters/) file of signing in

2 and 3 are bonus points :)

[2013-02-14 17:13] Standard8 commented on #3010
No, one should be my primary, the other my secondary. I see this on the main persona site (that has remembered my password).

[2013-02-14 17:13] lloyd commented on #3010
cache inconsistency?  strange that it resolves and then resurfaces.

Can you reproduce this on any other browser or device?

[2013-02-14 17:25] ozten commented on #3011
HTTP calls while reproducing this

[code]

[2013-02-14 17:44] jaredhirsch commented on #2999
@seanmonstar @shane-tomlinson here's an idea for a fix: can we try to set and read back a cookie value, then bail intelligently if the cookie didn't actually get set. sound like a good approach?

[2013-02-14 17:46] jaredhirsch commented on #3000
I suspect this'll get fixed by #2891

[2013-02-14 17:51] ozten commented on #3011
I'm not too worried about this bug. Aurora seems buggy today. I've cleared my cache and restarted and now the Signin button never renders on 123done.org.

This doesn't reproduce on http://crossword.thetimes.co.uk/ after cache clear and restart.

[2013-02-14 17:51] callahad commented on #3005
I'll try to reproduce

[2013-02-14 17:54] #3011 closed, assigned to ozten

[2013-02-14 17:57] callahad commented on #3005
Aaand I am able to reproduce this.

[2013-02-14 18:00] callahad commented on #3010
I would also like to see the contents of localStorage for the login.persona.org domain...

[2013-02-14 18:03] jaredhirsch commented on #1238
@skinny97214 still a good first bug?

[2013-02-14 18:08] callahad commented on #3010
(Which you can get via `JSON.stringify(window.localStorage)` in the web console when you're on login.persona.org)

Please make sure to remove / mangle any "`priv`" keys if they show up in the output.

[2013-02-14 18:38] ozten commented on #3010
@Standard8 What browser version and OS version are you on?

Lowering from 5 stars, as I cannot reproduce and we need more information to debug.

[2013-02-14 18:50] seanmonstar commented on #2999
@6a68 we do that https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/network.js#L700

Maybe some path in the code doesn't hit that?

[2013-02-14 20:40] callahad commented on #3005
For anyone without a device, this is also reproducible in the Android emulator.

[2013-02-14 20:46] ozten commented on #3008
Before KPI event stream had complete urls. We have sensative data in the query string parameters.

PR #3012 removes the query string.

[2013-02-15 01:01] wfwalker commented on #3010
I experience this problem now with FF 21.0a1 (2013-02-06) on Mac OS X 10.8.2 trying to log into apps.etherpad.mozilla.org
But on the very same machine with FF 18.0.2 (using a different profile), all is well.

[2013-02-15 01:07] ozten commented on #3010
These two reports also mention etherpad which uses the old getVerifiedEmail API.

[2013-02-15 01:14] jrgm commented on #3010
So, you can artificially repro this, like so:
1. Spin up an awsbox for train-2012.11.23
2. Signup as a user with the awsbox (get the email, etc. ...)
3. ssh to the box and save ~app/code/resources/static/production/en/dialog.js to ~app
4. Now force push train-2013.02.01 to the awsbox
5. On the box cp ~app/dialog.js ~app/code/resources/static/production/en/dialog.js
6. Bring up the dialog
You now s

[2013-02-15 02:08] ozten commented on #3010
@jrgm Awesome work!

Prod fix in PR #3013

We have discussed three ways to fix the root issue

1) Add a version [mismatch detection](https://github.com/mozilla/browserid/pull/2934)
2) Change deployment techniques
3) Making forwards and backwards compatible components
4) Making connect-cachify respond with a 404 when the request has a wrong SHA
4a) Make this a configuration that is changeable at ru

[2013-02-15 02:08] #3010 closed, assigned to ozten

[2013-02-15 02:09] lloyd commented on #3010
How did we get in this state?  Code was pushed to a web head and software was not restarted?

[2013-02-15 02:10] ozten commented on #3010
@lloyd the hypothesis is a browser with stale DNS information talking to the "drained" data center. A server running old code responded to the new url with old code.

[2013-02-15 02:14] lloyd commented on #3010
Given the widespread impact, are we satisfied with this hypothesis?

Don't we wait DNs TTL before updating?

Given frequency I'd think its more likely that we have a static process that hasn't been restarted.

Recall, one reporter flushed cache, got
Fixed, the got back into this state.

Can we confirm all static processes have been restarted?

-- lloyd (thumb-typing)

On Feb 14, 2013, at 7:10 PM,

[2013-02-15 02:18] fmarier opened #3014 "Longer implementation guide for RPs"
Our [Quick Setup guide](https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup) is great at getting RPs started and showing that it's not that scary.

We should write the guide that comes next: the detailed implementation guide. Tips and tricks for the problems RPs are likely to run into on real-life sites.

I've collected notes from conversations I had with RPs here: https://id.etherpad.moz

[2013-02-15 02:24] lloyd commented on #3010
strikes me that we could request the resource in question 20x per dc and md5 response to verify we're serving consistent resources.

[2013-02-15 02:31] fmarier commented on #3010
@lloyd In practice, DNS TTLs are just a suggestion. I know some ISPs that configure their resolvers to always cache for at least 1 day.

For example, I moved my blog over to a new server about a month ago and I still see people hitting the old IP. For some reason, they're almost all running Opera...

[2013-02-15 02:43] ozten commented on #3010
I didn't catalog every detail of troubleshooting.

jrgm and I independently both had checked that... used curl and md5 and found no variance. jrgm being more thorough did it 100 times... I had only done it about 30 ...

[2013-02-15 02:48] jrgm commented on #3010
Yeah, it's my hypothesis and makes sense for a particular case, but doesn't fit all the data perfectly (as you note below).

We do. TTL is 30 seconds and it's several minutes before updates happen.

[2013-02-15 03:27] lloyd commented on #3010
@ozten / @jrgm both DCs?

@francois I know, but if it were DNS related that we would see it every deployment.  we don't.  So this explanation is unsatisfying.  Especially because the initial reporter had it occur, had it fixed, then _had it occur again_

Sorry to hammer on this, but I really think a deep understanding of root cause would be useful.  Thanks everyone for digging into this on valenti

[2013-02-15 04:07] jrgm commented on #3010
@lloyd both DCs, by changing /etc/hosts (and checking with netstat that I am actually using the IP I expect).

[2013-02-15 13:47] evilpie commented on #2903
The max-age of login.persona.org is still 2592000. And we are close to shipping!

[2013-02-15 18:39] jrgm commented on #2903
Ugh. So, this also needs an update in bin/static and bin/router. (bin/browserid is serving 18 weeks when queried directly, but it's moot, since router stands in front of it).

[2013-02-15 19:20] lloyd commented on #3010
I guess I've just rehashed the work @jrgm and @ozten did yesterday.  I apologize, as I'm not really convinced I added any value.

FWIW, The suggestion of @ozten above of "Making connect-cachify respond with a 404 when the request has a wrong SHA" sounds right on - as the root cause of cache poisioning here was static serving resources that did not match sha inside the url.  If we do this we turn c

[2013-02-15 20:03] jrgm commented on #3010
No @lloyd, I think going over it all thoroughly was highly useful. Thanks.

[2013-02-16 09:04] jrgm commented on #1705
closing as duplicate of GH-2618.

[2013-02-16 09:04] #1705 closed, assigned to shane-tomlinson

[2013-02-16 22:16] matbeedotcom opened #3016 "New Persona user"
New Persona account creations don't redirect back to the originating page. It leaves them on the Persona Account Manager page.

My new users are getting extremely confused and are waiting to go back to my page.

[2013-02-16 22:40] lloyd commented on #3016
diagnosing with matbee in irc:  http://irclog.gr/#show/irc.mozilla.org/identity/209855

it looks like this was due to usage of .get() api rather than .watch() - the former doesn't support post-sign-in redirect.

[2013-02-16 22:48] lloyd commented on #3016
resolved!  http://irclog.gr/#show/irc.mozilla.org/identity/209901

[2013-02-16 22:48] #3016 closed, assigned to lloyd

[2013-02-16 23:03] lloyd opened #3017 "post-verification redirect not always working"
`matbee` in irc reports that post-verification redirect is not working for him all the time, specifically when he closes the popup window before clicking on verification link in email.  I'm opening this as a tracking bug, as I cannot readily reproduce yet.

Anyone know of user behaviors that break redirect?  /cc @shane-tomlinson @seanmonstar

[2013-02-16 23:16] matbeedotcom commented on #3017
matbee here..

If we nuke the cookies in our browser. Then we create our user on our page. A brand new Persona user who has never accessed it before. Never gets redirected back to US, only to login.persona.org
BUT, if we create a new user without nuking the cookies, and HAVE accessed Persona before, it works fine!

A) Clear _all_ cookies.
B) Create new Persona user.
C) Accept email.
D) Redirects t

[2013-02-16 23:39] lloyd commented on #3017
Aha!  we tracked this down to one remaining `.get()` call.  No bug in persona here.

[2013-02-16 23:39] #3017 closed, assigned to nobody

[2013-02-18 06:31] benbuck commented on #1878
@shane-tomlinson Thanks, I had this issue and changing dom.storage.enabled from false to true fixed it for me.

[2013-02-19 01:59] fmarier opened #3020 "The IdP shim (authentication_api.js and provisioning_api) is not minified"
The IdP shim is available un-minified here:
- https://login.persona.org/authentication_api.js
- https://login.persona.org/provisioning_api.js

Ideally, it should be minified there and available in source form here:
- https://login.persona.org/authentication_api.orig.js
- https://login.persona.org/provisioning_api.orig.js

[2013-02-19 17:03] #1322 closed, assigned to ozten

[2013-02-19 17:03] #2644 closed, assigned to lloyd

[2013-02-19 17:03] #3008 closed, assigned to ozten

[2013-02-19 22:28] jaredhirsch commented on #2940
Closing; I can't repro. @zaach, please reopen if you're still seeing this.

[2013-02-19 22:28] #2940 closed, assigned to nobody

[2013-02-19 23:03] ozten opened #3023 "Detect against mis-use of navigator.id.request before the watch API"
As reported in https://bugzilla.mozilla.org/show_bug.cgi?id=842784 is likely that misuse of `request` and `watch` end up changing the behavior of the dialog.

This shouldn't be possible.

If we can, we should just make things work.

If we detect that watch's state isn't setup when we get a call to request, we should log an error to let a developer know.

Basically, we need to validate if this hypo

[2013-02-19 23:36] lloyd commented on #1232
merged.  scheduled for production on 3/13 http://personatra.in/#2013.03.01

[2013-02-19 23:36] #1232 closed, assigned to shane-tomlinson

[2013-02-20 19:32] #3007 closed, assigned to shane-tomlinson

[2013-02-20 20:25] jrgm opened #3026 "set a future expiry for /favicon.ico"
Noticed while looking at some network traces. When the browser loads the dialog, it GET's `/favicon.ico`. That returns a response with: `Cache-Control: public, max-age=0`. Seems an expiry of weeks or months would be fine.

[2013-02-20 21:13] jaredhirsch commented on #561
closing--we've gone over failover strategies with Sheeri and I don't think this bug is being actively watched.

@gene1wood feel free to reopen if you like.

[2013-02-20 21:13] #561 closed, assigned to gene1wood

[2013-02-20 21:15] callahad opened #3028 "Observer API hard to test"
In adding onmatch to the Observer API, I discovered that we don't have good, granular tests for that API.

I'd really like to see something that let's me actually test the sequence of callbacks that happen under difference scenarios.

[2013-02-20 23:24] ozten commented on #2983
Thanks again for the report. This is fixed wtih 3003.

[2013-02-20 23:24] #2983 closed, assigned to ozten

[2013-02-21 02:58] jrgm opened #3029 "Russian 'ru' is not loading the 'cyrillic' fonts to which they appear to be mapped"
I may be reading this wrong, but shouldn't `Accept-Language: ru` be loading fonts from node_modules/connect-fonts-opensans/fonts/cyrillic. This is in the stage environment with train-2013.02.15.

STR
1. Empty the browser cache.
2. Configure the browser to want only Russian (so `Accept-Language: ru` is sent).
3. Use httpfox (or other tool) to log the network requests.
4. Go to beta.123done.org and

[2013-02-21 04:19] jrgm opened #3030 "jenkins builds for health test have fallen down and can't get back up"
See https://ci.mozilla.org/job/identity.browserid.prod-monitor/

So, seems something in https://github.com/mozilla/browserid/compare/95cbd2c0bc99...b51bbf014efd this morning has now fully coupled the automation-tests to having a full browserid install. (I tried cherry picking modules for a while until it was clear to me that this was unlikely to work).

I changed the build config on Jenkins to `np

[2013-02-21 05:21] jrgm commented on #3030
Actually, here's a gist to get these de-coupled again (but not sure this is the right thing to do. Comments?)

https://gist.github.com/jrgm/5002316

[2013-02-21 07:26] jrgm commented on #3026
I seem to have had a browser in an odd state. Closing this for now as invalid.

[2013-02-21 07:26] #3026 closed, assigned to nobody

[2013-02-21 10:33] madjar commented on #2423
I'm am quite surprise that this bug hasn't received more love, since its consequences (at least, the ones described in #3006) seems quite important (potential logout when the user navigates too fast). Thus, I wonder, am I using the observer API wrong, in a way that reveals this bug while it is not a problem in the right way ?

[2013-02-21 11:42] shane-tomlinson commented on #3029
This was a problem with connect-fonts that got fixed in shane-tomlinson/connect-fonts@db7501dbbbd0da63867214151913bc2559d37bb5. I am going to issue a PR to update connect-fonts and connect-fonts-opensans to the newest versions.

[2013-02-21 17:38] callahad commented on #3030
@6a68 you're the testing master, can you look at this?

[2013-02-21 17:42] jaredhirsch commented on #3030
yeah, I'll have a look. For now, I'll disable the currently-worthless health check until test week next week.

[2013-02-21 17:46] callahad commented on #3020
4-star since this is a high effort-to-reward ratio

[2013-02-21 17:46] jedp commented on #2982
Well, the closest thing we have to a hard date is the time when FirefoxOS phones hit the market, which will be this summer.

[2013-02-21 17:47] callahad commented on #3014
@wbamberg can you take a look at this and suggest a way to integrate this into our current docs?

[2013-02-21 18:33] jrgm opened #3032 "ReferenceError listed in stdout of frontend tests"
`WHAT_TESTS=front npm test` passes, but there is this message in stdout.

[code]

See https://travis-ci.org/mozilla/browserid/jobs/4935079, or run locally with npm, or loading https://login.dev.anosrep.org/test/ in the browser.

In browser, it's pointing at code_version.js.

[2013-02-21 18:56] wbamberg commented on #3014
Sure, I'll take a look at this.

[2013-02-21 19:54] #2017 closed, assigned to callahad

[2013-02-21 19:54] #2648 closed, assigned to callahad

[2013-02-21 20:56] frank-e commented on #1903
Also see https://bugzilla.mozilla.org/show_bug.cgi?id=843493

[2013-02-21 21:16] jaredhirsch commented on #1903
@frank-e the bugzilla bug seems to indicate you're using FF 10. Is that correct?

[2013-02-21 21:19] jedp opened #3033 "periodic assertion expired error for firefox marketplace"
@kumar303 reported this in bugzilla [bug 843795](https://bugzilla.mozilla.org/show_bug.cgi?id=843795)

(n.b., marketplace is currently using the integration server native-persona.org, which is where the b2g branch is deployed)

Kumar writes:

Every couple days (sometimes weeks) I can't log in to Marketplace on B2G because of an "assertion expired" error.

When I rebuild my profile the error goes a

[2013-02-21 21:23] seanmonstar commented on #3033
How do I check the configuration on native-persona.org?

The b2g.json config file needs to be used, and it should have the expiration set to 10 years out: https://github.com/mozilla/browserid/blob/b2g/config/b2g.json

[2013-02-21 21:27] jedp commented on #3033
@seanmonstar thanks! it's an awsbox: `ssh app@native-persona.org`

[2013-02-21 21:39] arlolra commented on #2998
Is this reproducible?

[2013-02-21 21:56] jaredhirsch commented on #2999
Chrome's third-party cookie behavior is a bit more nuanced than Safari's.

Chrome behaves as expected if you tell it to allow third-party cookies from any Persona **subdomain**, making an exception for `[*.]persona.org`, not just `persona.org`.

Looking more closely at what cookies we set vs whether we test for subdomains or just parent domain.

[2013-02-21 22:04] toolness commented on #2999
Wait, this doesn't actually seem like an ideal solution... Persona works just fine with the callback API, where the client website is responsible for storing the user's login state, so this seems like a regression, and an inconvenience for users who disable third-party cookies.

Why does Persona need to manage the user's login state? Can the callback API be made to support some of the options that

[2013-02-21 22:10] toolness commented on #2999
Also, I'm willing and able to help resolve this bug by contributing to persona, so let me know if there's anything I can do to help!

[2013-02-21 22:34] jaredhirsch commented on #2999
@toolness ordinarily persona does work with third-party cookies disabled. shane's repro page, if loaded on localhost with safari, logs you in without problems. chrome's unique handling of third-party cookies might be an issue here; it's only a guess, and I'm actively investigating. (sidestepping the question of why persona wants to hook into login/logout; we can take that to the dev-identity list

[2013-02-21 22:42] stenington commented on #2999
I was running into this onlogout behavior with Firefox 18.

[2013-02-21 22:49] jaredhirsch commented on #2999
hmm. FF18 + chrome don't allow the communication_iframe to touch its localStorage if third-party cookies are disabled.

continuing to dig :-)

[2013-02-21 22:59] toolness commented on #2999
Is it possible for the `communication_iframe` to pass the token back to the parent window for it to store in _its_ `localStorage` instead? That could be done transparently by the `include.js` shim... Not sure how awesome it is security-wise.

[2013-02-21 23:38] seanmonstar commented on #2999
The user's private key is stored in localStorage on persona.org domain, so 1) we don't want to store that in the localStorage of the RP, because then they have our user's keys, and 2) the communication_iframe wouldn't be able to access the key anyways, if localStorage was off.

[2013-02-21 23:42] jaredhirsch commented on #2999
By having persona throw a popup on user click, i.e. in direct response to user action, we avoid third-party cookie restrictions, and safari (and FF nightly, according to @seanmonstar) intelligently detects that the user knows about this domain, and so relaxes the cannot-touch-localStorage rule. FF18 and Chrome are not so clever about distinguishing good and evil third parties.

It looks like we [e

[2013-02-21 23:48] jrgm commented on #3033
@jedp - that assertion is for issuer b2g2pac.personatest.org ?

[2013-02-22 00:43] jrgm opened #3034 "[ie8] main site: password fields not shown until mouse moved after the click"
STR
1. Using IE8, sign in with a known secondary address at https://login.persona.org/
2. In the Account Manager UI, for the password section, click 'edit' **but be very careful not to move the mouse after the click**

Expected: UI changes to reveal two password entry inputs
Actual: password inputs are not shown
1. Now move the mouse: the password inputs will be shown.

(Linking to GH-3005, which

[2013-02-22 03:01] jrgm commented on #3033
@jedp - my point about b2g2pac is that the DNS for that is currently broken (a lookup returns a CNAME with an IP and not another hostname). So an http request for the public key can never work. (Sorry, if I'm off topic).

[2013-02-22 05:43] fmarier opened #3035 "include.js cannot be cached (Cache-Control: public, max-age=0)"
`include.js` is currently exposing a `Cache-Control` header with `max-age=0` which means that sites that include from every page will cause browsers to do an extra HTTPS request every time.

[code]

Letting browsers cache this file makes deploying a new version trickier, but it's really worth it from a performance point of view.

[2013-02-22 09:47] shane-tomlinson opened #3037 "sign-in-test selenium test frequently errors with "Error: funky getVerifiedUser response""
This is our #1 selenium test failure. It frequently causes me to cry in anguish.

[code]

[2013-02-22 09:49] #3029 closed, assigned to shane-tomlinson

[2013-02-22 10:32] shane-tomlinson commented on #3032
This does not affect the front end tests, but it is an exception so must be fixed.  The root problem is ordering of dependencies.

[2013-02-22 10:34] shane-tomlinson opened #3038 "front end test dependencies must be updated manually when updates happen to static_resources.js"
Issues like #3032 occur because front end test dependencies must be updated every time the ordering of includes changes in lib/static_resources.js changes.

[2013-02-22 15:20] jaredhirsch commented on #2999
I think what's happening is, the dialog does an explicit cookie check, but only on its own domain (checking for localstorage/cookies disabled globally).

This check succeeds.

Later, the communication_iframe does a cookie check deep in the stack, after the user has done the dialog login flow and the dialog is dismissed:

[code]

I'm currently looking at a couple different ways of adding this check

[2013-02-22 16:38] toolness commented on #2999
Awesome, that's great--thanks @6a68 !

[2013-02-22 20:34] jaredhirsch commented on #2999
@toolness think this should be fixed by my PR, expect it'll get attention Monday. arguably we should modify the cookies_disabled screen to warn the user that they have 3rd party cookies disabled

[2013-02-22 20:56] ozten commented on #1322
@mathjazz @shane-tomlinson I've fixed the strings in SVN r113372.

**NOTE:** the `.pot` files in `templates/LC_MESSAGES/` were not updated! Should those be?

I tried to do this in 1 step, but kept finding things I missed... so:

I noticed a few syntax errors and fixed those in r113375.

And then found lines that line-wrapped and didn't match my search and replace r113377.

And then I found signupB

[2013-02-23 00:52] jaredhirsch commented on #1903
I suspect he was using the extended support release of FF, based on the version number.

[2013-02-23 01:12] jrgm commented on #3032
closed by GH-3039

[2013-02-23 01:12] #3032 closed, assigned to shane-tomlinson

[2013-02-23 10:14] frank-e commented on #1903
FF 10.0.12esr in this case, yes. It's five days past its end-of-live, but there's no better browser when using Windows 2000.  I'm not aware of similar cookie oddities with Firefox on other sites.  Very vague ideas:

(1) I used persona before for MDN (cf. https://bugzilla.mozilla.org/show_bug.cgi?id=629994), but [maybe] I never tried it for bugzilla.
(2) I can't tell if I used the same FF 10.0.12es

[2013-02-23 18:24] jaredhirsch commented on #1903
OK, is there any reason you can't use a newer browser in your windows 7? I want to unblock your using bugzilla, but have no clear steps to repro.

Moreover, this is an old bug, and you're using a browser that's past its EOL, in an OS that's past its EOL.

Leaving this bug open in case other reports surface, but not likely to tackle this right now.

[2013-02-24 21:18] zhanzhenzhen opened #3044 "Internationalization fails on IE 10 on Windows 8 (Simplified Chinese)"
Persona.org can detect my browser language and show me the Chinese version on Windows 7, but cannot on Windows 8. IE 10 on Windows 8 always shows the English version of persona.org. Maybe the reason is the "Accept-Language" header field:
zh-Hans-CN,zh-Hans;q=0.8,en-US;q=0.5,en;q=0.3
There is a strange item "zh-Hans-CN". I searched the Web and found it's a newly registered language tag.
![persona](

[2013-02-24 21:27] zhanzhenzhen commented on #3044
Hi, I found it currently can only recognize "zh-CN". So maybe both "zh-Hans-CN" and "zh-Hans" cannot be recognized? These 3 are almost the same. They all mean Simplified Chinese.

[2013-02-24 23:59] zhanzhenzhen commented on #3044
Some additional information that may be helpful:
IE 10 Release Preview for Windows 7 does not have this issue. Its "Accept-Language" is "zh-CN".
But IE 10 on Windows 8 is different. It uses the OS built-in "language preferences" settings to generate this field.

[2013-02-25 02:17] fmarier opened #3045 "Support for 2-factor auth like Google Authenticator"
It doesn't look like we have a bug for adding 2-factor auth (using Google Authenticator maybe?) support in the fallback IdP.

I guess it will be less important once BigTent is fully deployed, but still it would be nice to have.

[2013-02-25 03:57] jaredhirsch commented on #2725
done long ago. closing.

[2013-02-25 03:57] #2725 closed, assigned to jaredhirsch

[2013-02-25 04:05] jaredhirsch commented on #2831
@kparlante reassigning to you, I haven't been too involved with this

[2013-02-25 04:10] jaredhirsch commented on #2900
meh. unassigning myself & labeling as good first bug.

[2013-02-25 04:19] jaredhirsch commented on #2479
@gene1wood these tests might be useful in porting zeus behavior to ELB?

[2013-02-25 04:21] jaredhirsch commented on #2398
closing. please reopen if this is still a problem

[2013-02-25 04:21] #2398 closed, assigned to shane-tomlinson

[2013-02-25 04:22] fmarier commented on #2479
When is the move to ELB happening?

The only concern I have is that I think we should complete the 3rd-party library review and give a bit of notice to RPs before we implement the changes in that test script. There might still be sites that use the wrong verifier URL (e.g. etherpad-lite) or include.js (e.g.jquery plugin).

[2013-02-25 04:29] jaredhirsch commented on #2922
bump. any open legal bugs we can tie to this one?

[2013-02-25 04:34] jaredhirsch commented on #2479
The move is happening by end of Q1. We are aiming to do a 1-1 translation
of existing behavior into ELB.

On Sun, Feb 24, 2013 at 8:22 PM, Francois Marier
notifications@github.comwrote:

[2013-02-25 05:55] gene1wood commented on #2479
@6a68 Agreed, probably much better to just assert in the tests what behavior we want and then code the nginx logic against that and ignore the existing zeus logic.

[2013-02-25 06:11] benadida commented on #2922
@6a68 discussion underway on dev-governance, I'll check in with Jishnu.

[2013-02-25 06:12] benadida commented on #2922
Jishnu is out this coming week, I'll check back with him when he returns.

[2013-02-25 08:11] fmarier commented on #2479
I can take a look at the script tomorrow and change the values to make most of the tests pass. Then we can go back to the current script when we're ready to block insecure redirects.

Does that sound useful?

[2013-02-25 10:45] shane-tomlinson commented on #3045
sendmypin.org was an exploration to see how a simple 2 factor auth could work. Authenticator is far more sophisticated.

[2013-02-25 19:24] callahad commented on #3035
To discuss on list....

[2013-02-25 19:26] callahad commented on #3044
Thanks for the detailed report! We're on it.

[2013-02-26 01:07] digitarald opened #3047 "(Technical) Elevator Pitch"
Scenario: Pitching to technically minded folks in person or just by sending them a link.

I'd like a short, concise and high-level overview. This should fit on one page or a flyer.

Maybe a melange of 3 short sentences, bullet points and a nice visualization, as a picture is worth a thousand words.

This could also be one of those whiteboard style videos. Anything to make the pitch more accessible

[2013-02-26 01:09] fmarier commented on #3047
One thing that @digitarald suggested on IRC was to add a diagram of how Persona works to https://login.persona.org/about/

Not a technical/detailed diagram like the ones on http://lloyd.io/how-browserid-works thoug. Something simpler.

[2013-02-26 02:45] jrgm opened #3048 "Aw snap! - vista_chrome / remove-email passes but with the sad page showing..."
See this job https://saucelabs.com/tests/edff8111f2ce4faabd88dc8fd7e55a6d
and video https://saucelabs.com/jobs/edff8111f2ce4faabd88dc8fd7e55a6d/video_edff8111f2ce4faabd88dc8fd7e55a6d.flv

"Aw snap!" appears at 01:37.

[2013-02-26 03:25] seanmonstar commented on #3033
I've distracted us by bringing up that config value: that affects cookie length on native-persona.org itself.

This is an issue with the assertion being expired by the time it's being used. Is it from time shift on the awsbox? @jrgm makes a good point also: why is the issuer from b2g2pac?

[2013-02-26 03:29] jrgm opened #3049 "[webdriver] Opera driver does not implement 'POST accept_alert'"
See http://code.google.com/p/selenium/wiki/OperaDriver where it notes (badly formatted): "No support for JavaScript alert/popup dialogues", and the source at https://github.com/operasoftware/operadriver/blob/master/src/com/opera/core/systems/OperaDriver.java#L738

This dooms the remove-email test to failure on Opera.

Maybe we need a way to ignore tests on certain platforms.

[2013-02-26 03:51] jrgm commented on #3033
I looked at `ntpq -p` on native-persona.org and we appear to be synchronized at the moment.

[2013-02-26 04:09] jedp commented on #3033
`b2g2pac` is the test issuer for the `forceIssuer` argument, which is something marketplace uses to have assertions issued on behalf of a certain origin that is not actually a primary (see [bug 811014](https://bugzilla.mozilla.org/show_bug.cgi?id=811014)).  That will presumably be a more marketplacey url as things go into production.  Note that the lists of issuers is a whitelist in the `config.js

[2013-02-26 04:11] fmarier commented on #2479
Alright, here's a version of the script that preserves what is currently working for RPs and IdPs: https://github.com/fmarier/checkurl/tree/no_security_improvements

It's not quite what we have in Zeus, but it's what we should have.

[2013-02-26 04:55] jrgm commented on #3035
Also noted in GH-2549

[2013-02-26 04:59] fmarier opened #3050 "Wrongly escaped string in the "you must enable cookies" screen"
The link to SUMO is escaped and raw HTML is displayed when cookies are disabled:

![doubly_escaped_cookie_error](https://f.cloud.github.com/assets/167821/195035/351abe30-7fd1-11e2-90e2-62e701c9bd07.png)

[2013-02-26 05:08] jrgm commented on #3050
Duplicate of GH-2979. Closing as dup.

[2013-02-26 05:26] fmarier commented on #3035
Posted the 10 min proposal to the list: https://groups.google.com/d/topic/mozilla.dev.identity/jXhDsQsO-fQ/discussion

[2013-02-26 06:07] ethernomad opened #3051 "There needs to be a way to tell include.js that verification failed"
If verification during onlogin fails it seems the only way to report this is to call navigator.id.logout, but then the onlogout handler is called. This is unnecessary because site login has not occurred.

In the Drupal module we do this to mitigate the problem: http://drupalcode.org/project/persona.git/commitdiff/11c208a

It would be nice if an exception could be thrown in the onlogin handler to s

[2013-02-26 08:45] #3050 closed, assigned to nobody

[2013-02-26 08:49] #3020 closed, assigned to shane-tomlinson

[2013-02-26 17:03] callahad commented on #3051
+1. It needs to be easier to make this API function as expected. The django-browserid folks do something similar by redirecting the user to a page with `?bid_login_failed=1` appended to the URL, and using that as a signal.

(I am curious about how you're getting invalid / expired assertions, though. Other than an `audience` mismatch on your verification code, it shouldn't be possible to receive a

[2013-02-26 17:17] shane-tomlinson commented on #3044
@zhanzhenzhen - I was digging a bit more into this and found the problem. We have zh_CN and zh_TW, but not zh_Hans_CN. Is aliasing zh_Hans_CN to zh_CN valid? I am wondering if a valid approach for an extended locale such as this is to:

1) Check exact match. (zh_Hans_CN)
2) If no exact match found, check for two _'s. If yes, go to 3, if not, go to 4
3) remove the center portion of the locale and c

[2013-02-26 17:17] shane-tomlinson commented on #3044
@mathjazz - Could you weigh in here with your expertise?

[2013-02-26 17:21] #3037 closed, assigned to shane-tomlinson

[2013-02-26 17:31] #1837 closed, assigned to shane-tomlinson

[2013-02-26 17:31] #2296 closed, assigned to shane-tomlinson

[2013-02-26 17:31] #3034 closed, assigned to shane-tomlinson

[2013-02-26 17:31] #3005 closed, assigned to callahad

[2013-02-26 17:57] callahad commented on #3044
[RFC 4646, section 4.3.2](http://tools.ietf.org/html/rfc4646#section-4.3.2) says:

So it should be `zh-Hans-CN` &rarr; `zh-Hans` &rarr; `zh`.

We **should not** exise the middle (`zh-Hans-CN` &rarr; `zh-CN`) because `zh-Hant` also exists, for Traditional Chinese.

[2013-02-26 18:07] shane-tomlinson commented on #2710
This has been merged.

[2013-02-26 18:07] #2710 closed, assigned to shane-tomlinson

[2013-02-26 18:49] jaredhirsch commented on #3049
le sigh.

What's the future of OperaDriver, now that Opera's moving to Webkit?

On Mon, Feb 25, 2013 at 7:29 PM, John Morrison notifications@github.comwrote:

[2013-02-26 18:58] jrgm commented on #3034
Yeah, looks good in dev with IE8.

[2013-02-26 19:36] callahad commented on #3044
The W3 has a great article on BCP47: "[Understanding the New Language Tags](http://www.w3.org/International/articles/bcp47/)."

Pragmatically, [Verbatim](https://localize.mozilla.org/projects/browserid/) has two translations for this project, one for [zh-CN](https://localize.mozilla.org/zh_CN/browserid/) and one for [zh-TW](https://localize.mozilla.org/zh_CN/browserid/).

On our end, let's alias:

[2013-02-26 19:42] zhanzhenzhen commented on #3044
@shane-tomlinson - 3 tags is not the most. There can also be 4 tags. See RFC 4646 Appendix B.
I'm not familiar with this project, but I think there are 2 things we need to add or modify:
1. We should be able to bind more than 1 language tags to 1 translation. So in the code, "zh-Hans" and "zh-CN" should be bound to the simplified chinese translation, and "zh-Hant" and "zh-TW" should be bound to th

[2013-02-26 19:43] zhanzhenzhen commented on #3044
@callahad - I think alias "zh-Hans" is better than "zh-Hans-CN".

[2013-02-26 19:48] zhanzhenzhen commented on #3044
By the way, don't forget that there are also "zh-HK" (Hong Kong) and "zh-SG" (Singapore). "zh-HK" is traditional and "zh-SG" is simplified.

[2013-02-26 19:50] callahad commented on #3044
@zhanzhenzhen Great! Thank you. I'd love to alias to the higher `zh-Han[ts]` level if possible. Just to check,
1. Are you sure that serving `zh-Hans-CN` to someone that requests `zh-Hans` or `zh-Hans-*` is good?
2. Are you sure that serving `zh-Hant-TW` to someone that requests `zh-Hant` or `zh-Hant-*` is good?

(Or, put another way, are the translations we have for `zh-CN` and `zh-TW` sufficientl

[2013-02-26 19:54] callahad commented on #3044
Looks like `zh-MO` should also be aliased to traditional chinese. At least, that's how [Dojo](http://bugs.dojotoolkit.org/attachment/ticket/3842/specialLocale.js#L18) and [Microsoft](http://stackoverflow.com/questions/732109/chinese-language-codes) do it...

[2013-02-26 19:56] zhanzhenzhen commented on #3044
Maybe you wonder why there are "zh-CN" and "zh-Hans-CN". As far as I know, "zh" without the script sub-tag is an old form. Newer systems may use the newly registered "zh-Hans" and "zh-Hant" that looks more accurate.

[2013-02-26 19:58] zhanzhenzhen commented on #3044
yes, it's for Macao. i also forget. hehe

[2013-02-26 20:02] #3023 closed, assigned to shane-tomlinson

[2013-02-26 20:08] zhanzhenzhen commented on #3044
@callahad - I don't know if the current translations are region independent or not. It seems the Simplified Chinese version is.

[2013-02-26 22:26] callahad commented on #742
Is this still an issue? @gene1wood does ops have a plan for our move to AWS that would let us go ahead and close this?

(Whoops, didn't mean to close just then.)

[2013-02-26 22:27] callahad commented on #885
I believe this is done, as per "Sign in with your Email" recommended on MDN: https://developer.mozilla.org/en-US/docs/persona/branding

[2013-02-26 22:27] #885 closed, assigned to billder

[2013-02-27 00:28] callahad commented on #1971
FWIW, as of today, dev (ef06d2c2ffd0ffb8e44924a3257b511e2adb2579) has identical copies of jschannel in include.js and the resources folder, modulo differences in whitespace.

winchan slightly differs. digging in a little more...

[2013-02-27 03:39] jrgm commented on #3030
From a chat in IRC with @shane-tomlinson, he pointed out that we will need real version.js someday, but maybe I could stub out lib/logging.js there. I tried that, but then had to stub out lib/secrets.js for weakGenerate, and subsequently lib/configuration.js for config.get('env'). Which would be quite a mess.

So, decoupling automation-tests from having a full browserid/node_modules is not an opti

[2013-02-27 07:37] jrgm commented on #2903
request in stage for any GET path returns 'Strict-Transport-Security: max-age=10886400; includeSubdomains'. Should go out to prod tomorrow.

[2013-02-27 09:21] shane-tomlinson commented on #3044
@zhanzhenzhen - This is fantastic info, thanks for working through this with us.

[2013-02-27 09:49] shane-tomlinson commented on #483
Re-opening with @callahad's push to make this happen.

[2013-02-27 10:47] shane-tomlinson opened #3057 "Yahoo! email address is not pre-filled in when redirecting from BigTent and not authenticated at Yahoo!"
Using BitTent, I have to type my Yahoo! email address twice if I am not logged in at Yahoo! - first in Persona, next on Yahoo!

STR
1) Visit Yahoo! Sign out.
2) Visit beta.123done.org
3) Open Persona dialog
4) Enter Yahoo! address.
5) Click "Next" on redirection screen.
6) I'm asked for my email address again.

![Screen Shot 2013-02-27 at 10 46 14](https://f.cloud.github.com/assets/848085/200515/0

[2013-02-27 10:53] shane-tomlinson opened #3058 "Logging in using Yahoo! BigTent is difficult, especially with 2 factor auth."
Duplicate of mozilla/browserid-bigtent#126

Is there a mobile version of their authentication page for OpenID? There is a mobile login page: https://mlogin.yahoo.com/

[2013-02-27 17:00] callahad commented on #483
Closing back down -- include.js is now broken out into its constituent components and combined at build time. We just have to do some cleaning to make it awesome...

[2013-02-27 17:00] #483 closed, assigned to shane-tomlinson

[2013-02-27 17:02] gene1wood commented on #742
@callahad Do you mean do we have a plan to ameliorate the response time or to monitor include.js once we're running out of AWS?

[2013-02-27 17:14] callahad commented on #742
@gene1wood Just interested in the monitoring bit right now.

[2013-02-27 17:44] gene1wood commented on #742
I don't have any specific plan to change our monitoring of include.js in relation to the AWS move. We can establish whatever monitoring is useful either now or after the move.

[2013-02-27 18:25] jaredhirsch commented on #2999
@toolness Just to keep you up to speed--this fix requires cross-domain messaging changes that've taken longer than expected and tend to need lots of QA. This is at risk to ship with the next train, but that doesn't rule out a hotfix.

I'll keep this ticket posted as dev continues. Lower-level details are in the PR 3043.

[2013-02-27 19:33] shane-tomlinson commented on #2722
closing since @lloyd already merged the PR.

[2013-02-27 19:33] #2722 closed, assigned to lloyd

[2013-02-27 19:35] shane-tomlinson commented on #2551
Link to #2891

[2013-02-27 19:48] shane-tomlinson commented on #1598
@jrgm - I am unable to reproduce this on IE8 on XP. Are you still seeing this?

[2013-02-27 20:01] jrgm commented on #2925
Closing, as the PR-2984 is merged.

[2013-02-27 20:01] #2925 closed, assigned to seanmonstar

[2013-02-27 22:06] jrgm commented on #1598
@shane-tomlinson I cannot reproduce now either. Closing. THanks.

[2013-02-27 22:06] #1598 closed, assigned to shane-tomlinson

[2013-02-27 22:14] mattbasta opened #3060 "Persona assets need to be reduced for FX Marketplace"
Persona is way too heavy on bandwidth right now and is contributing to some serious performance issues in Marketplace. Some issues that need to be addressed:
- A full copy of underscore.js is being included in communication_iframe.js. It's only used 34 times, and most of those are `_.extend` and `_.defer` (which could be provided standalone).
- There's a second full copy of underscore.js that's in

[2013-02-28 00:28] jedp commented on #2982
Preliminary PR https://github.com/mozilla/browserid/pull/3059 - still work in progress

[2013-02-28 00:40] jaredhirsch commented on #3060
Rather than suggest specific optimizations, I'd prefer we take a more holistic view. What's the current page load time delay due to include.js? How can we measure that in a repeatable, rigorous way (maybe webpagetest.org)? Once we know the delta, I'd propose the front-end folks will figure out how best to reduce the page load impact--again, by choosing optimizations and measuring them rigorously.

[2013-02-28 01:00] jedp commented on #3060
Hi, Matt, we completely agree; the current situation is not acceptable on b2g device.  We've been working hard to make persona slimmer and faster, and we're not there yet for b2g.

Here is a list of improvements (which goes beyond asset reduction) that we are currently working on: https://id.etherpad.mozilla.org/b2g-persona-performance

The end of that document gives gives a holistic description o

[2013-02-28 03:14] mattbasta commented on #3060
I'll respond inline:

On my cable connection at home, it's clocked at 200-250ms. On a B2G device at the office on wifi, this can be up to 800ms. We don't have SIM cards at the moment, but similarly sized assets on Edge have taken upwards of two to three seconds at best (DNS lookup, connection, SSL handshake, etc.).

The biggest concern that we have is the communication iframe, which is very heavy.

[2013-02-28 07:33] jrgm commented on #2282
fixed and verified in PR-2363 but this issue wasn't closed. Closing.

[2013-02-28 07:33] #2282 closed, assigned to shane-tomlinson

[2013-02-28 07:36] jrgm commented on #693
Closing. This is the way it works.

[2013-02-28 07:36] #693 closed, assigned to lloyd

[2013-02-28 07:38] jrgm commented on #1736
IE8 is IE8. That's the way it is. Closing.

[2013-02-28 07:43] jrgm commented on #2388
verified above, but this issue wasn't closed. Closing.

[2013-02-28 07:43] #2388 closed, assigned to shane-tomlinson

[2013-02-28 07:49] jrgm commented on #856
This can be closed. Closing.

[2013-02-28 07:49] #856 closed, assigned to jrgm

[2013-02-28 07:52] jrgm commented on #2790
PR-2809 was merged for this issue and is in production for a while. Closing.

[2013-02-28 07:52] #2790 closed, assigned to jrgm

[2013-02-28 12:28] shane-tomlinson commented on #3060
@mattbasta - Thanks for bringing this up. The optimizations you suggest are very valid, but there are some other things we should do first.

There are two issues affecting users on 2G connections - latency and bytes over the wire.

First, let's talk purely bytes over the wire, then about the number of connections.

To understand why communication_iframe is so large, you have to understand what it

[2013-02-28 17:39] callahad commented on #3048
This can be reproduced, @jrgm to dig more

[2013-02-28 17:39] jaredhirsch commented on #3048
@AutomatedTester have you seen this, it recurs frequently for us. Maybe a ChromiumDriver issue?

[2013-02-28 17:49] callahad commented on #3057
Closing in favor of the duplicate in the browserid-bigtent repo.

[2013-02-28 17:50] callahad commented on #3058
Closing in favor of the dupe in the bigtent repo.

[2013-02-28 20:05] mattbasta commented on #3060
Thanks for the really comprehensive response. I'd be interested in helping out if I can. Is there anything that I can get our team to help with?

One optimization that we landed last night is using `rel="dns-prefetch"` link tags on our homepage to prefetch the DNS for login.persona.org and static.login.persona.org. Can you think of anything else that we could do that might help kill some latency i

[2013-02-28 21:48] seanmonstar commented on #3060
On FirefoxOS devices, `navigator.id` is native, and it currently uses the resources from https://native-persona.org... but @jedp would know if theres a way you can improve that from marketplace

[2013-02-28 21:50] jedp commented on #3060
On FirefoxOS, we use both the sign_in iframe and the communication_iframe.  They are injected into the system app, not the marketplace pages.  This is done because of the FirefoxOS security model, which silos all apps and makes it impossible to share cookies and localStorage across them.

[2013-02-28 21:51] seanmonstar commented on #3060
Which frankly, would mean that the entire request to get https://login.persona.org/include.js is wasted. Maybe it could be solved like this?

[code]

[2013-02-28 22:04] mattbasta commented on #3060
The marketplace CSP prevents us from doing inline scripts, though we could
put it in our asset bundle.

The downside then is that we're increasing latency because our entire JS
bundle needs to load before we can even begin loading include.js, which is
even worse.

On Thu, Feb 28, 2013 at 1:52 PM, Sean McArthur notifications@github.comwrote:

[2013-03-01 15:20] cmcavoy commented on #2999
Just checking in, any chance this can be a hotfix?

[2013-03-01 18:22] jrgm commented on #2841
This was fixed in December with GH-2834

[2013-03-01 18:22] #2841 closed, assigned to jrgm

[2013-03-01 18:27] jrgm commented on #3009
To flesh this out a bit more:
1. There are some wsapi/*.js api calls that are not tracked/shown
2. Check that all (as best can be determined) have data. Some are clearly not showing anything.
3. Check that the data values are reasonable (e.g., the %CPU is the sum of percentages from the 3 webheads, which is wrong).

[2013-03-01 18:56] jrgm commented on #2976
This was fixed. Closing.

[2013-03-01 18:56] #2976 closed, assigned to nobody

[2013-03-01 18:59] jrgm commented on #2551
re-gift upon @6a68 - another case issue.

[2013-03-01 19:50] jrgm commented on #2425
Closing, a bit old now. @MarkTraceur if you still have this issue, could you share the SMTP headers with me? Thanks.

[2013-03-01 19:50] #2425 closed, assigned to jrgm

[2013-03-01 19:54] jrgm commented on #3001
So, I have a branch somewhere that addresses this. But if we upgraded express/connect (no small task) the current versions already handle this as a bad request.

[2013-03-01 19:57] MarkTraceur commented on #2425
By what method?

[2013-03-02 03:05] jaredhirsch commented on #3058
what callahad said

[2013-03-02 03:05] #3058 closed, assigned to nobody

[2013-03-02 03:05] jaredhirsch commented on #3057
what callahad said

[2013-03-02 03:05] #3057 closed, assigned to nobody

[2013-03-02 03:17] jaredhirsch commented on #3030
argh, turns out there's [already](https://bugzilla.mozilla.org/show_bug.cgi?id=845020) an open bug to upgrade Jenkins nodejs to 0.8 with ETA of a couple of weeks.

[2013-03-02 03:57] jrgm commented on #3030
I updated  [that bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=845020) to note how to get the internal rpm we use in production. /cc @gene1wood

[2013-03-03 18:30] ozten commented on #3044
@zhanzhenzhen can you reproduce this on https://addons.mozilla.org/ ?

@mathjazz Any thoughts on @callahad's zh-Hans-CN → zh-CN and zh-Hant-TW → zh-TW proposal?

[2013-03-03 18:37] zhanzhenzhen commented on #3044
@ozten -  https://addons.mozilla.org/ is translated OK into Chinese on my IE 10 on Win 8.

[2013-03-04 05:43] jrgm opened #3063 "make load_gen interaction_data rate configurable, including disabling"
I know we left this as an open question when landing @kparlante's update to send interaction_data as part of load_gen.

However, right now in the stage environment, the configuration sends /wsapi/interaction_data to localhost:80, which then loops back again via nginx to the browserid process, but the second time without cookies, so each submit leads to 200 then 403. So, needed a way to disable thi

[2013-03-04 06:09] jrgm opened #3065 "primary-shuts-down-single-email.js passes for all but IE10"
Haven't looked a lot at what's up, but did try this interactively for one session on Sauce, and noticed some difficulty in the click on logout actually working. (This reminds me of an old issue with IE and localstorage and a completely pristine browser profile).

[code]

[2013-03-04 16:39] jedp opened #3066 "Dialog stuck on "Connecting to Persona" (reps.mozilla.org, firefox aurora)"
Robert Reyes reports in https://bugzilla.mozilla.org/show_bug.cgi?id=847373:

Clicking on the Sign In link from reps.mozilla.org will launch a window for the Persona. But the actual login fields will not appear. Stuck to the almost blank window "Connecting to Persona".

![aurora-signin](https://f.cloud.github.com/assets/532953/217454/23e24958-84ea-11e2-8620-f943f489fe98.png)

[2013-03-04 16:49] gene1wood commented on #3030
I've added a link to the nodejs rpm they need

[2013-03-04 17:40] callahad commented on #3066
I'm unable to reproduce on old Nightly 21.0a1 (2013-02-01), old Aurora 19.0a2 (2012-12-01), or current Aurora 21.0a2 (2013-03-04).

[2013-03-04 19:10] andymckay commented on #3060
"A Persona user who is not authenticated to Persona makes 4 requests.
...4) session_context"

We are also seeing a request to list_emails so that's 5. Is that just for logged in users?

[2013-03-04 21:00] jedp opened #3067 "internal_api should not require callbacks to have curry() method on prototype"
Some `internal_api` methods expect callers to have a `curry()` method on the `Function` prototype.  This is problematic when integrating with native platform code like FirefoxOS or a desktop browser.  Since curry is (unfortunately) not part of the JavaScript standard function prototype, we should not make this assumption.

Other methods in `internal_api` define an internal `complete()` function; w

[2013-03-04 21:36] shane-tomlinson commented on #3067
@jedp - Function.prototype.bind is defined here: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/javascript-extensions.js#L32, which should be included in the internal API, no?

[2013-03-04 22:29] jchris commented on #2034
Just want to add that I was able to reproduce @wfwalker's 5 steps on iPad running iOS 6.1

As someone trying to put together a PhoneGap app, it would definitely be helpful to have a comment on this bug with an idea of the priority or the blockers for adding robust PhoneGap support. I'm about to brute-force my app to work, which probably won't be pretty, and if there was a little more guidance abou

[2013-03-04 22:36] jrgm opened #3068 "Incomplete transition for reset password when a stale staged row for the user exists"
1. Set up an awsbox on train-2013.02.15.
2. Create a secondary user on the awsbox, then signout and stage a password reset (where in this train, you will be prompted to enter the password first, twice). Close the /sign_in dialog. (This is the case where the user staged the reset but e.g., then remembered their password and left a record in the staged table with a pending password).
3. Force push t

[2013-03-04 23:01] jedp commented on #3067
@shane-tomlinson curry() is in the internal_api by dint of the Function prototype extension; the problem arises when you try to call the internal_api from, say, native code on firefox.  If your callback in firefox doesn't have a curry method on the function, then persona doesn't like it.

But I think the solution is clear - elsewhere in internal_api, we have a complete method; we can just do the s

[2013-03-04 23:40] jedp commented on #3067
submitted PR #3069

[2013-03-05 02:41] jrgm opened #3070 "[password reset] When using two different browsers, the flow winds up with the dialog prompting for password"
Not a bug per se. See below for comments.

STR
1. Use two different browsers, browser1 and browser2, and have already created a secondary email address to use below.
2. In browser1, go to beta.123done.org or beta.myfavoritebeer.org and bring up the dialog. If auth'd click 'this is not me'. Enter the secondary email address and when prompted for the password, click 'forgot password'. In this train,

[2013-03-05 03:30] jrgm opened #3071 "[password reset][main site] two browsers case; browser1 "forgets" the email address you were just using."
This is a cousin to GH-3070, but seems to me there is definitely something that can be improved for this case. This is for forgetting your password via the main site (i.e., not via the dialog).

STR
1. Use two different browsers, browser1 and browser2, and have already created a secondary email address to use below.
2. In browser1, go to login.anosrep.org. If signed in, then sign out, and then try

[2013-03-05 05:05] fmarier opened #3073 "End-user troubleshooting tool"
I'm currently trying to reproduce [a problem affecting an end-user](https://groups.google.com/d/topic/mozilla.dev.identity/yDoSCA2JZYo/discussion) and having no luck. The user is getting the "cannot establish relay frame" error but it works fine for me on the exact same version of IE with the same security/privacy settings.

So here's a tool that would be handy to have. A webpage hosted by us that

[2013-03-05 05:27] jrgm commented on #3073
Nice idea. (One other thought in the interim, and the user may not be willing to do this, and login.dev.anosrep.org may not always be available, but you could ask them to load https://login.dev.anosrep.org/test/ and see what that says).

[2013-03-05 05:32] fmarier opened #3074 "Normal CSRF protection mechanisms interfere with onlogin callbacks"
@wbamberg has done a great job of documenting the problems that @benw identified with CSRF protection mechanisms: https://github.com/wbamberg/persona-mdn/blob/master/csrf-problems.md

Given that it's a fairly common race condition / corner case with web frameworks and that the work-around is pretty ugly (an extra GET before a POST), it would be great to find a way to either fix this through an API

[2013-03-05 05:40] fmarier commented on #3073
@jrgm Good idea. I've emailed the user with instructions on how to run this.

[2013-03-05 16:35] karlht opened #3075 "Easy-to-make user error results in dead page"
Flow looks like this:
1. I (Karl) make an attempt to sign in as Ed, giving his email address, clicking 'forget password' and assigning him a password '123456.'
2. Ed gets a confirmation email and clicks it absent-mindedly.
3. He is asked to confirm the new password, but whatever he types (unless it happens to match what I previously set) will get him out of the dialogue, and there are no error mes

[2013-03-05 19:05] keturn opened #3076 ""Please choose an email address" UX is odd when I only have one address"
I've done this thing repeatedly now, when I go to log in to a site with Persona, the login window pops up, everything looks fine, I hit the "sign in" button, and I get this unhappy red message saying "Please choose an email address."

![persona-choose-one](https://f.cloud.github.com/assets/83819/223934/8d994734-85c6-11e2-9476-1d652912c76f.png)

Choose what? There's only one address presented.  The

[2013-03-05 19:29] ozten opened #3077 "ie 8 responsive design bug"
If the user accidentally changes the size of the popup, they can get it into an unusable state as reported in mozilla/browserid-bigtent/issues/127

Steps to reproduce

1) In ie 8 go to http://beta.123done.org or your local RP test page
2) Click Sign in
3) Slowly resize dialog width, making it smaller.

Actual
Breakpoints like 507px are unusable and show partial content

Expected
Given infinite fro

[2013-03-05 19:38] jaredhirsch commented on #2999
@cmcavoy I don't think it's going to happen in the next few weeks. This might change, but it's doubtful--we are kinda overcommitted on Q1 goals. I'm bummed; I was hoping to get this done for you guys.

The good news here is that FF users won't have problems, but Chrome users will need to whitelist [*.]persona.org.

And we _will_ finish this off, just not in the timeframe you were hoping for. Owe y

[2013-03-05 20:59] ozten commented on #3077
I found the root cause of 127. Closing this low priority bug.

[2013-03-05 20:59] #3077 closed, assigned to nobody

[2013-03-05 21:22] clouserw commented on #3033
What news on this? :)

[2013-03-05 21:25] callahad commented on #3076
:(

Does this happen if you temporarily disable your add-ons?

[2013-03-05 21:46] seanmonstar commented on #3033
What's new is that someone on [signin] needs to grab this. I'm far too busy on [picl], and have no idea where to look further.

/cc @lloyd

[2013-03-05 22:24] fmarier commented on #3073
@jrgm all tests pass in the cursed IE9 browser:

![ie9_qunit](https://f.cloud.github.com/assets/167821/224932/75f6952e-85e3-11e2-8827-16d2a657ff7e.png)

[2013-03-05 22:34] zaach commented on #2268
Bumping this, since the new convict has been released. We should see if it allows us to address these use cases. Importantly, it doesn't complain if there are extra settings not found in the schema.

[2013-03-05 22:55] lloyd commented on #3033
clouserw | kumar: what device or environment are you seeing this on?

My current best theory is that device clock skew is causing this.  Because the persona bits are long-lived on the device, there is a large window of vulnerability where skew could occur.

based on your answer I have a couple different ideas about what we can do...

[2013-03-05 22:57] lloyd commented on #3033
also, how long has the device/environment been running at the time you see the error?

also, once this error occurs, is it consistent?  like you'll never see the situation "fix itself" without a profile rebuild?

If we can confirm that your devices clock is off at the time that this occurs I think the solution is rather simple on our side.

[2013-03-05 22:59] lloyd commented on #3033
finally!  I know there were some issues with clock stability at MWC.  I believe the geeksphone was the device affected by this.  This is a wild guess though, just searching for correlation.

[2013-03-05 23:33] kumar303 commented on #3033
HI lloyd. Pretty much anyone who tests the marketplace has run into this. We were getting it on IRC all the time but everyone knows the workaround now.

I see it a lot on desktop B2G but others are using Unagi. I don't know of any case where it has fixed itself. In all cases, when a user re-flashes, does a factory reset, or builds a clean desktop profile, it is always fixed.

I can't say for sure

[2013-03-05 23:36] lloyd commented on #3033
all of this is making me believe more strongly that this is caused by client side clock skew of > 2m from when the first time a user interacts with persona to the time they see the problem.

can we send out an APB that the next time someone sees this they check their system clock and report the delta of current system time (phone or computer) to actual time?

In terms of resolution, I belive the s

[2013-03-05 23:39] lloyd commented on #3033
@jedp, assigning to you, please push this back at me if duty calls you to other places :beers:

[2013-03-05 23:44] kumar303 commented on #3033
I can send an email to our dev list. Do you mean to have the person look at the clock in desktop B2G and see if there is a delta from their computer's clock?

[2013-03-06 00:45] jrgm commented on #3063
PR-3064 was merged. Closing this issue.

[2013-03-06 00:45] #3063 closed, assigned to nobody

[2013-03-06 13:21] marknutter commented on #2034
Decided not to use Persona as a result of this issue. Definitely high priority if you ask me.

[2013-03-06 15:26] benadida commented on #2034
@marknutter thanks for the feedback, we are working on this and we do plan a fix. Please consider watching this bug and adding Persona once we've addressed your issue!

[2013-03-06 15:27] marknutter commented on #2034
What's the general plan for solving this problem? An in-page javascript modal or something? Also, how can I contribute as a developer?

[2013-03-06 15:30] benadida commented on #2034
@marknutter I'll let @seanmonstar give you details, but high-level we're thinking that we'll detect when popups are not possible and implement a redirection-based flow. If you're using the Persona Observer API, i.e. .watch(), you don't need to do anything: it will just work.

[2013-03-06 15:38] marknutter commented on #2034
oh, wait, so there's actually a way to do this manually right now via the Observer API? From the blog post about the Observer api: "Whenever a user clicks the login button on your site, you request() a verified email from your user, which opens the Persona dialog." - is that Persona dialog a popup window?

[2013-03-06 16:08] callahad commented on #2034
@marknutter Alas, not quite yet. I believe the plan is to have the Observer API _automatically_ detect when popups aren't enabled, and then switch to a redirect-based workflow. So if you implement the Observer API now, you'll eventually get a popup-free experience where needed.

For what it's worth... what specific aspects of the popup blocked you from using Persona? Was it the lack of support in

[2013-03-06 16:12] redalastor commented on #2034
Will there be an option to choose the redirection workflow even if popups
are detected as possible?

On Wednesday, March 6, 2013, Dan Callahan wrote:

[2013-03-06 16:30] marknutter commented on #2034
@callahad I was trying to use it on a web page that had been added as a homescreen web app on my iOS devices, and yes, I do plan on using phonegap with the app as well which will have the same problem.

[2013-03-06 17:22] ozten commented on #2034
@marknutter look through this bug list and find a simpler, smaller bug. We'd love to help you work through a pull request. Once you get to know the codebase a bit more, you could help test the Phonegap patch when it's ready, tweak it, and fix any polish bugs to make sure it's any easy integration for other Phonegap devs.

[2013-03-06 17:23] marknutter commented on #2034
@ozten sounds great, I'll give it a shot

[2013-03-06 18:02] seanmonstar commented on #2034
@benadida @marknutter that will definitely help web browsers who currently have problems, like Chrome for iOS and Windows Phone, but it doesn't help native apps.

[2013-03-06 19:05] mattbasta opened #3079 "Pressing tab in email field sets focus to "Terms" link"
When logging in, pressing tab should set the focus to the "Next" button rather than the "Terms" link.

[2013-03-06 19:33] jaredhirsch commented on #3030
the linked bugzilla bug is closed. @jrgm, this should be resolved. reopen if not.

[2013-03-06 19:33] #3030 closed, assigned to jaredhirsch

[2013-03-06 19:46] jchris commented on #2034
I've created [a PhoneGap / Cordova plugin that uses the browserid-ios code](https://github.com/couchbaselabs/cordova-browserid) to present a modal web view. It works but isn't fully featured yet. You can install it with the plugman tool.

Hopefully folks find this helpful in the time we are waiting for a more robust solution.

[2013-03-06 21:13] marknutter commented on #2034
@jchris that is awesome, thanks for that!

[2013-03-06 21:23] jaredhirsch commented on #2922
@benadida ping - any news?

[2013-03-06 21:34] callahad commented on #2922
@benadida I'm excited for the new privacy policy, but as a stopgap can we get Jishnu's approval to just delete that one damned bullet point and keep the rest of the document intact? This has been an issue for months.

[2013-03-06 21:44] jaredhirsch commented on #2779
I see the code from PR 2789 in the git log for dev, so I'm closing this.

[2013-03-06 21:44] #2779 closed, assigned to seanmonstar

[2013-03-06 21:46] jaredhirsch commented on #2300
the linked bigtent issue has been closed for 4 months. please reopen if needed.

[2013-03-06 21:46] #2300 closed, assigned to lloyd

[2013-03-06 21:48] jaredhirsch commented on #2205
@ozten - are we good to close this bug, or should we target it for end of Q1? cc @callahad

[2013-03-06 21:59] ozten commented on #2205
Good call.

[2013-03-06 21:59] #2205 closed, assigned to lloyd

[2013-03-06 22:07] jaredhirsch commented on #2043
@ringe still seeing this?

[2013-03-06 22:19] jaredhirsch commented on #1677
I can't repro this any longer; closing. Please reopen if anyone can repro.

[2013-03-06 22:19] #1677 closed, assigned to lloyd

[2013-03-06 22:43] jrgm commented on #1677
No, I can't repro either now.

[2013-03-06 22:55] benadida commented on #2922
In general, no we shouldn't tweak privacy policies very often. But the good news is, this is moot, cause Jishnu has completed the privacy policy and its review:

https://bugzilla.mozilla.org/show_bug.cgi?id=848506

Woohoo! Let's make it happen.

[2013-03-06 23:00] callahad commented on #2078
I'm under the impression that this is in, and is how BigTent is currently working. Could someone verify, and I'll take care of the spec side?

[2013-03-06 23:02] callahad commented on #2339
Someone make a proposal and let's get this wart fixed.

Even if we further refine the API soon after Beta 2, I'd still be really happy if we fixed this one little nit right now.

[2013-03-06 23:06] jaredhirsch commented on #2078
@callahad yah, looks like #2623 is the dynamic well-known implementation in browserid, and was merged in.

[2013-03-06 23:14] jaredhirsch commented on #3073
@fmarier seriously, this is a brilliant idea--a self-serve page for debugging problems with a third-party snippet.

We should do this as a separate, no-dependencies github project, because every third-party provider would want to fork that hotness.

[2013-03-06 23:18] jaredhirsch commented on #3073
@fmarier honestly, we could just use modernizr checks for the "is your browser modern enough" questions (localstorage, postmessage). if JS is disabled, just tell them via text inside noscript tags. we'd still need a page on our site for the third-party cookie check and to ensure that iframes can communicate ok.

[2013-03-06 23:19] jaredhirsch commented on #2891
fixed by #3078

[2013-03-06 23:20] jaredhirsch commented on #2866
fixed by #3078

[2013-03-06 23:20] #2866 closed, assigned to shane-tomlinson

[2013-03-06 23:20] jaredhirsch commented on #2049
fixed by #3078

[2013-03-06 23:20] #2049 closed, assigned to vthunder

[2013-03-06 23:20] jaredhirsch commented on #2551
fixed by #3078

[2013-03-06 23:20] jaredhirsch commented on #1104
fixed by #3078

[2013-03-06 23:20] #1104 closed, assigned to callahad

[2013-03-06 23:25] ozten commented on #2078
Yes it is in the implementation, but probably not in the spec.
Here is the [open pull request](https://github.com/mozilla/id-specs/pull/28)

[2013-03-06 23:28] ozten commented on #2078
Relevant [mailing list thread](https://groups.google.com/forum/?fromgroups=#!searchin/mozilla.dev.identity/dynamic$20well$20known/mozilla.dev.identity/NbNybEEB8O4/4CBuM0_Oo7MJ).

[2013-03-07 01:22] callahad commented on #2078
Awesome. Feel free to leave the spec to me -- it'll be my main focus after I give my talk.

[2013-03-07 01:31] callahad commented on #2922
Yay!

[2013-03-07 05:27] jrgm commented on #2891
Note for testing: this issue was specifically about the domain part of an email address.

Lazy question: @6a68 does #3078 address mixed case on the domain name?

[2013-03-07 06:47] jrgm commented on #2891
Reopening.

For the original STR, I no longer get  'Error: Error: invalid email' .

However, using login.dev.anosrep.org + http://dev.123done.org, on every **second** attempt to use the somename@Gmail.com user on dev.123done.org, I get a window.alert 'failed to verify assertion: bad signature in chain'.

This does not happen in current stage (train-2013.03.01) or on prod (train-2013.02.15). And it

[2013-03-07 06:51] jrgm commented on #3075
@karlht is this fixed on stage where the password reset flow has changed? I think it is fixed in this train.

[2013-03-07 07:34] jrgm commented on #2551
Reopening. And bleh.

So, for the manual STR, this still fails in current dev.

The automated test passes because (see above) "use lowercase alphanum for restmail email until GH-2551 is fixed
https://github.com/mozilla/browserid/blob/dev/automation-tests/lib/restmail.js#L16.

[2013-03-07 12:10] fmarier commented on #3073
@6a68 I agree that many of these checks could be done directly inside the dialog, but I'm thinking of a page that would run lots of (potentially slow) tests to detect weird environmental problems. Random example: maybe there's a corporate proxy or plugin that finds a porny substring in one of our URLs and blocks it.

[2013-03-07 15:45] lloyd commented on #2339
on it.

[2013-03-07 16:10] lloyd commented on #3073
yeah, this is an awesome idea.

One thing we did that was pretty successful in browserplus - we had a landing page that end users could go to and type in a problem report.  We combined these problem reports with anonymous diagnostic information, and had a system to track number of reports.

When we normalized for usage and did content analysis, we had another KPI.

@fmarier's idea could be the "au

[2013-03-07 17:01] lloyd commented on #2339
read code, read proposals, I like what @warner suggests:

**Proposed Immediate fix:**
1. introduce `navigator.id.authenticationNeeded()`
2. for compat, make `.raiseProvisioningFailure()` with a string of `user is not authenticated as target user` equivalent to calling `.authenticationNeeded()`

**Proposed future UX improvement:**
3. If any other failure is raised during initial provisioning attemp

[2013-03-07 17:05] shane-tomlinson commented on #2339
Can the API be simplified using node-esque syntax:

[code]

[2013-03-07 17:33] callahad commented on #2339
@shane-tomlinson That looks like an awesome start on a post-beta-2 refinement :)

[2013-03-07 17:38] jedp commented on #3033
First thing is for me to have the verifier error report the current time on device, as well as the assertion issue and expiration times.  And as Lloyd says, it seems not improbable that the memshrink patch will solve the problem.  I am almost ready to land that patch, pending one issue I'm trying to resolve regarding calls to nav.id when the device is offline.

[2013-03-07 17:48] lloyd commented on #3073
fantastic freaky friday project.  who wants it?

[2013-03-07 17:48] jaredhirsch commented on #3073
@fmarier I meant just stand up a testing page with modernizr doing some browser checks, etc.

we could have a rainbow that goes across the screen as a progress meter while you're doing the checks. goes full double rainbow if everything works?

[2013-03-07 17:51] fmarier commented on #3073
@6a68 ah I see now. Sounds like a good plan. Huge +1 on the double rainbow ;)

[2013-03-07 17:51] lloyd commented on #3070
@shane-tomlinson any ideas on whether we could improve this?

[2013-03-07 17:55] lloyd commented on #3068
resulting in crappy ux for a small %age of users, and the problem is specific to 03.01 deployment, we're choosing to suffer this marginal pain.

[2013-03-07 17:55] #3068 closed, assigned to nobody

[2013-03-07 17:58] shane-tomlinson commented on #3070
I'm not aware of a way to get around this without introducing a major security hole.

A bad person could initiate a password reset, leave the dialog open, and wait for the target user to open the verification link in browser2. Unless the bad person in browser1 is forced to enter the same password as the target in browser2, bad person gains access to the account just by having a bit of patience.

[2013-03-07 18:01] callahad commented on #3076
I can't reproduce this on Firefox or Chrome with LastPass.

[2013-03-07 18:26] ozten commented on #3066
Was this a temporary issue?

I'm not able to reproduce.

If this still is happening, can you give exact platform info?

Closing, we need more information to troubleshoot.

[2013-03-07 18:26] #3066 closed, assigned to ozten

[2013-03-07 18:50] lloyd commented on #2339
**Refined proposed immediate fix:**
1. any invocation of `.raiseProvisioningFailure()` during the first attempt (pre-auth) causes authentication url to be loaded
2. any invocation of `.raiseProvisioningFailure()` during second attempt (post-auth) causes us to redirect back to email entry

theory is the IdP tells the user what the authentication problem is, and us displaying an error screen would o

[2013-03-07 18:53] jrgm commented on #3066
apparently was continuing to happen  - https://bugzilla.mozilla.org/show_bug.cgi?id=847373#c6

[2013-03-07 19:23] karlht commented on #3075
@jrgm Yes, this is fixed on stage.  Closing #3075.

[2013-03-07 19:24] #3075 closed, assigned to nobody

[2013-03-07 21:19] jaredhirsch commented on #3065
We have an IEDriver contact. Stephend suggests we ping jimevans in #selenium on freenode, if we think the bug is an IE10 driver bug, and not a bug in our code.

[2013-03-07 21:32] jaredhirsch commented on #2891
jrgm, what browser are you using? I cannot repro this problem on chrome or FF.

[2013-03-07 21:35] jaredhirsch commented on #2551
sadly I can repro this. digging in.

[2013-03-07 21:53] jrgm commented on #3065
https://saucelabs.com/tests/64d2addf64574e9b873e490721ce5d71

![ie10-error](https://f.cloud.github.com/assets/758162/234313/609967b2-8771-11e2-9169-70b338735a5e.png)

[2013-03-07 21:55] jrgm commented on #2891
I don't recall. Probably FF 19. Let me try again (but I really shouldn't at the moment).

[2013-03-07 22:17] jrgm commented on #2891
I remember now that the window.alert was from the FF UI.

But now I cannot reproduce this. Which is really weird since I had gone back and confirmed I could reproduce this last night before making my comment above.

[2013-03-07 22:39] jrgm commented on #2551
Just remove this line
    https://github.com/mozilla/browserid/blob/dev/automation-tests/lib/restmail.js#L16
and run
    ./scripts/run-all.js -e train0301 -p 14 --platform win7_firefox_16 -t new-user-primary-test
and that would fail (unless it's really lucky and doesn't pick any uppercase characters).

[2013-03-08 01:15] jaredhirsch commented on #2551
Not totally sure but this might be a bug in eyedee.me. It downcases user names:

https://github.com/mozilla/eyedee.me/blob/master/lib/wsapi.js#L33

but we are agnostic about hanging onto the email _as typed by the user_, so my suspicion is that we're getting an assertion for the downcased name (somedude@eyedee.me), while we are expecting the version entered by the user (Somedude@eyedee.me).

Not q

[2013-03-08 01:30] callahad commented on #2551
Check out #2680 -- sounds like the same thing.

[2013-03-08 16:27] jaredhirsch commented on #2680
@callahad this bug is closed, thug! current output if I try to login to 123done.org as bug2680@mockmyid.com:

![Screen Shot 2013-03-08 at 8 26 48 AM](https://f.cloud.github.com/assets/96396/237193/fdec207c-880c-11e2-8bc3-049fd8ab3947.png)

[2013-03-08 16:39] callahad commented on #2680
Hawt! :tada:

[2013-03-08 17:42] jaredhirsch commented on #2680
wait a minute. mockmyid cannot login _at all_ on dev. so this might not actually be fixed

[2013-03-08 17:49] callahad commented on #2680
Hooooray clock skew! If you can suggest a good, reliable time source that MockMyID can pull from, I'd be all over it. This is callahad/mockmyid#9

[2013-03-08 18:53] jaredhirsch commented on #2551
@callahad is right--the underlying question is, if a user supplies "alice@idp" and the primary says, actually that user is "bob@idp", which one do we trust? Seems like we at least need to give the user an "are you sure you want to sign in as bob@idp" confirmation screen.

In this case, eyedee.me is telling us the user is "somedude@eyedee.me" after a user tries to login as "Somedude@eyedee.me". Unf

[2013-03-08 20:26] jrgm opened #3082 "placeholder issue - remove lowercasing in automation-tests/lib/restmail.js when GH-2551 is fixed"
Putting this as an explicit bug, instead of a comment buried in the code.

When GH-2551 is fixed, that will need to include removing the workaround at
https://github.com/mozilla/browserid/blob/d0f8ef43a74b110d4f91a991d4a42a7d6ca7afc5/automation-tests/lib/restmail.js#L16

[2013-03-08 21:22] jrgm commented on #2891
And now I can reproduce this. Or well, the error message in the alert is now for a JSON parse error on the callback for /verify, because the response from 123done.org on the wire is 'An error has occurred: {"code":"ECONNREFUSED","errno":"ECONNREFUSED","syscall":"connect"}'. Is there something wrong with 123done.org? (Which would possibly explain how this issue seems hit and miss).

![bad-signup-wi

[2013-03-08 21:41] jrgm commented on #3070
So given @shane-tomlinson's comment, closing this issue.

[2013-03-08 21:41] #3070 closed, assigned to shane-tomlinson

[2013-03-08 23:18] vthunder opened #3083 "Improve getting started guide"
Hello!

I'm trying out this Persona thing I've heard so much about ;-) Just wanted to give my $.02 on the getting started guide, since I just went through it with fresh eyes.
- Too wordy

The best guides out there have only just enough words to let you understand what the bits of code you need to paste into your terminal/editor do. Leave the details for a reference section of the docs. I'd say the

[2013-03-09 03:20] wbamberg commented on #3014
I've made some updates to the documentation for this.
- I've added a note on IE Compatibility Mode to the [Quick Setup](https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup). This is against my better judgement: keeping the Quick Setup, well, quick, is a good idea, and we do link to the page that explains this problem. But the [feedback on the mailing list](https://groups.google.com/forum/

[2013-03-10 15:22] fmarier commented on #3014
@wbamberg I really like the changes you've made. Thanks!

A few suggestions:
- How about removing the stuff about testing in Step 5 of the Quick Setup and moving it to be a topic in the Implementor's Guide? (It's not as important as security considerations and joining the persona-notices list IMHO.)
- Step 5 of the Quick Setup should link to the Implementor's Guide
- The "supporting users without

[2013-03-10 18:56] skomorokh commented on #2583
In some ways this represents a barrier to a diverse ecosystem of identity providers---it reduces the ability for SAs and hobbyists to experiment with small scale deployments since they'll need to dedicate an IP for it. Certainly it's a big part of why I'm not running one.

What separates Persona from being just another monolithic single point of failure is the ability for completely independent en

[2013-03-10 19:00] lmorchard commented on #2583
Not to pile on, but it's frustrating that this issue is going on 6 months old now. Needing an IP for each identity provider - even the ones delegating to another provider - is pretty much what stopped my tinkering cold. This issue blocks me from doing much more, because it's not worth been worth the trouble yet.

[2013-03-10 19:27] chemistrydioxide commented on #2583
Is there any chance that this gets fixed in the near future? I'm still waiting for the day when I can start my own IdP.

[2013-03-10 19:38] chemistrydioxide commented on #2583
Is there any problem with Squid 3.2 that forces Persona to stick with Squid 3.1? If no, why is v3.1 still being used?

[2013-03-11 10:27] shane-tomlinson commented on #3060
@andymckay - Indeed, a signed in user also calls list_emails. @fmarier and I discussed combining list_emails with session_context for signed in users to eliminate this extra request, but we have not yet done so.

[2013-03-11 10:29] shane-tomlinson commented on #3067
@jedp - thanks for the explanation, I understand after looking at the code. Since the callback comes from native code, it won't have curry. Your solution makes sense, though you could use helpers.complete instead of redefining complete in two places.

[2013-03-11 10:54] shane-tomlinson commented on #2551
@6a68, @callahad and I discussed this at FOSDEM and how it could potentially be used by an IdP to dynamically provision new email addresses.

The use case is:
I visit a new RP that I just don't trust. They ask for an email address but I don't want to give them one of my own addresses. I want a dynamically provisioned address that shields my identity.

The flow is:
1) I visit a new RP that requires

[2013-03-11 14:11] shane-tomlinson commented on #3067
The PR for this was merged, closing.

[2013-03-11 14:11] #3067 closed, assigned to jedp

[2013-03-11 14:23] lloyd commented on #2339
The above PR is minimalistic, makes the behavioral change mentioned above, and awaits the thoughts of a front-end hero.

[2013-03-11 14:24] shane-tomlinson opened #3084 "automation-tests dependencies are not installed automatically"
This leads to confusion for people like myself and @jbonacci

[2013-03-11 14:25] lloyd commented on #3076
@jrgm or @jbonacci - mind giving this a look and one more attempt to reproduce?

[2013-03-11 15:52] callahad commented on #2551
I'd advocate for making this an error right now, rather than silently breaking, and revisiting it as a prompt-the-user sorta thing for Q2.

[2013-03-11 15:55] shane-tomlinson commented on #2946
Dup of #3060. Closing because that bug has much more discussion.

[2013-03-11 15:55] #2946 closed, assigned to fmarier

[2013-03-11 17:20] #3084 closed, assigned to shane-tomlinson

[2013-03-11 18:35] jrgm commented on #3076
I tried with Google Chrome Version 26.0.1410.28 beta on Ubuntu 12.10 with Lastpass installed in Chrome, and cannot reproduce.

[2013-03-11 18:39] jaredhirsch opened #3086 "patch etherpad to use the Observer API"

[2013-03-11 18:50] lloyd commented on #3073
:rainbow: :rainbow:

[2013-03-11 20:58] lloyd commented on #2583
/cc @gene1wood What are the chances we could conflate a migration to squid 3.2 with our AWS move?

[2013-03-11 21:01] shane-tomlinson opened #3087 "improve dev ergonomics and code readability around raising more specific error messages in dialog"
Relate to #3081.

The code to raise specific error messages in the dialog is pretty whack.

[code]

Pretty bad, eh?

[2013-03-11 21:01] lloyd commented on #3087
I suggest

[code]

[2013-03-11 21:02] shane-tomlinson opened #3088 "improve escaping of untrusted IdP values"
Right now we are relying on EJS to do the escaping. To be consistent with dialog.js, all untrusted IdP values should be escaped when they enter the system.

Relate to #3081

[2013-03-11 21:03] lloyd commented on #3088
namely, that's in `resources/static/common/js/provisioning.js`. /cc @fmarier cuz this is a security architecture sorta thing.

[2013-03-11 21:27] callahad commented on #2583
We need to be careful with enabling SNI heterogeneously across data centers. Wouldn't want to break IdPs during a failover.

[2013-03-11 21:36] keturn commented on #3076
okay, turns out I can't reproduce this anymore either.

[2013-03-11 21:36] #3076 closed, assigned to nobody

[2013-03-11 22:07] lloyd commented on #3014
link to #3083 w.r.t "keeping the quick setup, well, quick"

[2013-03-12 00:38] kumar303 opened #3089 "navigator.id.watch() does not trigger onlogin() for forced issuers"
This is what I am expecting to work:

Let a user log in with:

[code]

On the next visit to the site, automatically log them back in with:

[code]

But in this scenario, onlogin() is never called. The user is not automatically logged in when I force an issuer.

If I stop forcing an issuer, onlogin() does an auto-login every time as I expect. That is, starting the login flow like this works as expe

[2013-03-12 04:27] jrgm commented on #3076
Thanks @keturn. I'm not sure what to think as that looks like a real bug to me. But if we don't have a way to reproduce at the moment, then sure close. If you see this again, please reopen.

[2013-03-12 17:17] edwindotcom opened #3090 "Unable to login via bigtent when there is an existing session/cookie from a different yahoo properties"
description: Unable to login with user@yahoo.com acct when a user@ymail.com cookie exists

steps:
1. clear all previous users in persona
2. goto http://beta.123done.org/ and click sign in
3. login using a user@ymail.com acct - follow the dialog till logged in
4. on http://beta.123done.org/ click logout
5. on http://beta.123done.org/  click sign in
6.  enter a user@yahoo.com acct

result:
Authentic

[2013-03-12 17:21] wbamberg commented on #3014
@fmarier: thanks, those are good suggestions, and they should be done now. Shall we close this bug?

I might also try to make the FAQ more readable.

@lloyd: thanks for the link.

[2013-03-12 18:21] callahad commented on #3090
How does Yahoo handle `@yahoo.com` vs. `@ymail.com`, are they handled separately, or are they aliases for each other? (That is to say, can `foo@yahoo.com` be a different person from `foo@ymail.com`?)

[2013-03-12 18:26] fmarier commented on #3014
Since I was the one who opened this bug and I think the new page is great, I'm resolving this bug.

[2013-03-12 18:26] #3014 closed, assigned to wbamberg

[2013-03-12 18:37] edwindotcom commented on #3090
moving to mozilla/browserid-bigtent

[2013-03-12 18:37] #3090 closed, assigned to nobody

[2013-03-12 18:41] kparlante commented on #2831
@gene1wood, we're ready to configure stage to send kpi data to https://kpiggybank-stage.personatest.org

Also, if you send me ip's, I'll configure the security group.

As per above, to turn this on we need to set kpi_backend_sample_rate, kpi_backend_db_url, and configure the proxy to handle the outgoing connection.

cc: @jrgm, @karlht

[2013-03-12 19:22] jrgm opened #3091 "uncaught exception in communication_iframe.js (possibly bigtent related)"
I don't have the particular STR at the moment, but I wound up in a state where loading beta.123done.org, the signin button would not show and the spinner just kept spinning.

In the error console I get

[code]

I'll leave this browser in this state for a while if there any more debug info I can pull out of it let me know.

[2013-03-12 20:18] karlht commented on #3091
Calling @edmoz, this is the same problem you ran into, yes?  Did we determine that it was does to a typo in the hostname?

[2013-03-12 20:42] kparlante opened #3092 "Configure stage to point at kpiggybank-stage for kpi metrics"
This issue captures setting up stage to be able to POST to kpiggybank-stage, without setting the sample rate. This enables load testing without acutally turning on the kpi metrics.
- Configure the proxy to allow POSTS to https://kpiggybank-stage.personatest.org
- Set KPI target URL: https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L157

@gene1wood's earlier comment about the prox

[2013-03-12 20:46] kparlante opened #3093 "Turn on sample rate for kpi metrics"
Depends on #3092 (configure proxy and set kpi_backend_db_url)

When @jrgm is ready, set kpi_backend_sample_rate on stage to be non-zero:
https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L152

We were planning on a rate of 0.1 in production.

Moved out of #2831

[2013-03-12 20:53] kparlante commented on #2831
The browserid repo changes have been made in #3025, moving config tasks into separate issues. For staging, #3092 and #3093. Closing this one.

[2013-03-12 20:53] #2831 closed, assigned to gene1wood

[2013-03-12 20:58] edwindotcom commented on #3091
I've reproduced this two separate times deleting anosrep.org cookies fixes this. but I don't have specific STR right now.

[2013-03-12 21:06] ozten commented on #3091
Playing around, I haven't reproduced. Looking forward to STR.

[2013-03-12 21:11] jaredhirsch commented on #2891
umz, can no longer reproduce. twas an artifact of awsbox failytown. quoth the lloydster:

[code]

[2013-03-12 21:14] #2891 closed, assigned to jaredhirsch

[2013-03-12 21:20] jrgm commented on #2891
Yeah, I can't do this on stage anymore (and dig dev.123done.org is one A record only now).

[2013-03-12 22:27] jrgm commented on #3091
So, I went back to the browserid I had set aside and it was no longer having this issue (possibly as some session somewhere had expired). So nothing left to pull out of debugger.

[2013-03-12 22:46] jaredhirsch commented on #2340
So we'd literally send down:

[code]

An example of Google's workaround: http://blogs.msdn.com/b/ie/archive/2012/02/20/google-bypassing-user-privacy-settings.aspx

[2013-03-12 22:57] gene1wood commented on #3092
Here's the updated patch based on the new domain name :

[code]

[2013-03-12 23:01] gene1wood commented on #3092
I'm assuming for stage the KPI target URL is :

https://kpiggybank-stage.personatest.org/wsapi/interaction_data

[2013-03-12 23:10] gene1wood commented on #3092
Squid config in staging was updated at sysadmins r60893 and r60894 and deployed

[2013-03-12 23:18] edwindotcom opened #3094 "private browsing on Safari fails to display sign in button on 123done.org"
steps:
1. on mac or win safari - goto menu and select 'private browsing'
2. goto beta.123done.org or http://123done.org

results: animated spinning wheel displays forever where the sign in button should be

repro'd on:
123done.org and beta.123done.org
mac 10.8 Safari 6.0.2 and VM Win8 Safari 5.1.7

No repro in private browsing on:
mac/win Firefox Beta, Mac Chrome, Win8 IE10

[2013-03-12 23:21] gene1wood commented on #3092
And here's my patch for enabling kpi on browserid in stage :

[code]

[2013-03-12 23:27] jaredhirsch commented on #2999
Update! @lloyd and I went over this bug again today.

Rather than fail the login if third-party cookies are disabled, we can instead fall back gracefully, and simply not manage the user's session. This means that the RP will have to do its own session management for those users; the iframe will always assert the user's logged in.

Working on a patch with this in mind, aim to have a pull request ou

[2013-03-13 02:35] jrgm opened #3095 "automation run-all.js: tell the user when they pick an unknown --platform"
I've made this mistake (typo, forgot) and started run-all.js with a `--platform` that is not specified in automation-tests/config/sauce_platforms.js.

[2013-03-13 03:04] jrgm commented on #3095
So, no, doesn't need expanding. Generally, this defaults sanely or whines about the wrong thing. Just this (optional) flag, would just say it was going to run and then silently exit without explaining "hey, I don't know that value for --platform".

`./scripts/run-all.js --help` will show you the options. `./scripts/run-all.js --list-platforms` shows the platforms. Mostly stable on win7_chrome and

[2013-03-13 04:01] jrgm commented on #3095
PR-3096 merged. Closing.

[2013-03-13 04:01] #3095 closed, assigned to nobody

[2013-03-13 10:03] shane-tomlinson commented on #3094
This will be the same as cookies disabled behavior because the user has not yet visited the Persona dialog.

#982, #989, #2999

[2013-03-13 16:36] ozten opened #3098 "Cancelling out of dialog when on login.yahoo.com leaves signin button disabled"
Originally filed by @jrgm at mozilla/browserid-bigtent/issues/139

STR
1. Be signed out of Yahoo.
2. Go to either beta.123done.org or beta.myfavoritebeer.org and click the signin button.
3. Enter an @yahoo.com email address
4. The dialog transitions to now show the page from https://login.yahoo.com/config/login?...etc... with a prompt for Yahoo name and password.
5. Close the dialog.

Expected: th

[2013-03-13 16:37] ozten commented on #3098
I can reproduce this on Aurora as well as Firefox 20 both on Mac 10.7.5.

I think this would be an issue with how the RP is written. This problem doesn't happen with the browserid example RP page.

Hmm, beta.123done does use `oncancel`, but this isn't called for primaries when the dialog is closed.

[2013-03-13 17:05] shane-tomlinson commented on #3098
This is a dup of another bug which I cannot find right now. Searching.

[2013-03-13 17:07] shane-tomlinson commented on #3098
Dup of #1773, @ozten, do you want to close one of these two?

[2013-03-13 17:07] ozten commented on #3098
Thanks @shane-tomlinson!

[2013-03-13 17:07] #3098 closed, assigned to nobody

[2013-03-13 17:10] edwindotcom commented on #3094
Just want to add
1. going to this https://login.persona.org
2.  entering an email click submit

results in loading this:
https://login.persona.org/signin? with no other visual indication that anything changed.  The user has no idea what happened.

[2013-03-13 19:22] jrgm commented on #2566
The pull request was landed, but this bug wasn't closed. Closing now.

[2013-03-13 19:22] #2566 closed, assigned to seanmonstar

[2013-03-13 20:33] gene1wood commented on #3092
Deployed to stage and services restarted

[2013-03-14 01:49] jrgm opened #3100 "interaction_data should log response of the forward of data"
Stage wasn't quite configured right and the squid proxy was returning 403, which could be seen on pencil graphs. However, interaction_data does not make note of the failure and it should.

All the logs had to say was:

[code]

[2013-03-14 02:27] jrgm commented on #3100
or actually, it should just log all the responses, 200 or not. I see the code does register for the 'error' event and will log that.

[2013-03-14 02:35] jrgm commented on #3100
I suppose the dump of data in the logs with 'Simulate write to KPI Backend DB' could eventually be removed while someone is in that code (or say that in dev, and something else in prod).

[2013-03-14 04:23] toolness commented on #2999
Awesome, @6a68! Thanks for your work on this.

[2013-03-14 05:58] jrgm commented on #3023
no problems noted in stage train-2013.03.01

[2013-03-14 05:59] jrgm commented on #2648
no problems noted in stage train-2013.03.01

[2013-03-14 06:00] jrgm commented on #3007
works from me in a local test for train-2013.03.01

[2013-03-14 08:25] shane-tomlinson commented on #2999
@6a68 - do you mean to say the iframe will always assert the user is logged in or logged out? If logged in, what assertion will it pass back to the RP?

[2013-03-14 09:19] jaredhirsch commented on #2999
@shane-tomlinson I'm thinking we just fire onmatch no matter what

[2013-03-14 10:06] jaredhirsch commented on #2999
@shane-tomlinson maybe something like this? https://github.com/mozilla/browserid/pull/3101

You know, it's really a bit of a bummer that `navigator.cookieEnabled` doesn't tell the truth in the third-party frame context in FF (returns true even if cookies can't be set).

[2013-03-14 16:41] lloyd commented on #3093
waiting for goahead from @jrgm

[2013-03-14 16:42] jrgm commented on #3092
Closing, but we still have an issue with the squid proxy.

[2013-03-14 16:42] #3092 closed, assigned to gene1wood

[2013-03-14 16:44] lloyd commented on #3091
@lloyd to theorize with an eye toward indicators of this happening in production

[2013-03-14 16:45] lloyd commented on #3089
@jedp - do you have this under control?  do you need help?

[2013-03-14 16:50] lloyd commented on #3088
@fmarier would you have time to look at this?

[2013-03-14 17:24] ozten commented on #3086
Codebase: https://github.com/mozilla/pad

You can ping me and rhelmer for dev questions.

You will work with Jake (nmaul) to get this shipped. Deployment bug: you can clone https://bugzilla.mozilla.org/show_bug.cgi?id=766213 after discussing this work with Jake.

Thanks @6a68

[2013-03-14 17:28] kumar303 commented on #3089
We currently disabled forcing issuers (I think that is bad) and we're tracking it here https://bugzilla.mozilla.org/show_bug.cgi?id=850084 as a reminder to re-enable it

[2013-03-14 18:27] gene1wood commented on #3092
Fixing a bug in the regex

[code]

[2013-03-14 23:22] jrgm opened #3103 "image of service unavailable on bz"
![service-unavailable-bz](https://f.cloud.github.com/assets/758162/261696/060963d2-8cfe-11e2-8e85-6f1bbba1dbaa.png)

[2013-03-14 23:23] jrgm commented on #3103
Sorry for the abuse. Needed a place to put this. Closing.

[2013-03-14 23:23] #3103 closed, assigned to nobody

[2013-03-15 03:41] jrgm commented on #3092
So in the midst of a massive day in IRC, I noted that I had run load_gen against stage for a bit, and was no longer seeing squid errors in pencil, and @kparlante confirmed that " yup, the count's going up, excellent". So this is good. `next()`.

[2013-03-15 17:46] kparlante opened #3104 "rp_api missing from kpi blob"
I don't see it when testing against my ephemeral browserid instance. I've been testing by logging into/out of the 123done site.

@skinny97214 is interested in knowing how many RPs are using .get vs .watch

[2013-03-15 21:31] karlht commented on #3091
Just tickled this again ... trying to pare it down to a minimal case.  Theory so far:
1. The user has interacted with BigTent before (i.e. They have a history with persona with at least one successful BigTent login with a yahoo.com address.)
2. The user is not currently logged in.

But I can't get it to repro consistently.  More as I get it.

[2013-03-15 22:03] lloyd commented on #3091
browser?

[2013-03-15 22:11] lloyd commented on #3091
so this is train-2013.03.01, right?

[2013-03-15 22:24] edwindotcom commented on #3091
I'm on Mac 10.8, Firefox Beta (20.0).  I believe this was train-2013.03.01.  Karl mentioned he repro'd one time and is working on steps to repro.

[2013-03-15 22:28] karlht commented on #3091
I'm on beta (FF 20.0b5).  And I'm looking at the problem right now -- I
just can't seem to get the steps to repro from a clean browser.

[2013-03-15 22:39] lloyd commented on #3091
STR for a problem that may be the same, may not, but exhibits the same symptoms:
1. create a persona acct with a single yahoo.com email via beta.123done.org
2. on the login.anosrep.org domain, localStorage.removeItem('emails')
3. remove all cookies on beta.123done.org
4. reload beta.123done.org

[2013-03-15 22:40] lloyd commented on #3091
[code]

[2013-03-15 23:10] lloyd commented on #3091
17:07 < lloyd_> kthiessen: so bubbling up to a high level theory...
17:07 < lloyd_> kthiessen: I claim automatic certificate re-provisioning is broken for primary email addresses.
17:07 < lloyd_> kthiessen: that means, when you log into a site and the following are true, you're stuck:
17:07 < kthiessen> I wouldn't bet against you.
17:08 < lloyd_> 1. persona thinks you're logged into this site
17:0

[2013-03-15 23:39] lloyd commented on #3091
resolve in train-2013.03.01 for deployment to prod on monday.

resolved in dev, deploying as I type.

great find you guys, this would have affected a ton of users if we went live with bigtent with it.

[2013-03-16 09:31] sudhirj opened #3107 "[ios/chrome] Show actionable error messages for unsupported browsers"
On unsupported browsers, like Chrome for iOS, we're showing a very unhelpful error message: 'We are very sorry. There has been an error!'. With 'Action: Establishing Relay, Relay frame could not be found' below it. Could we explain to the user that they might be using an unsupported browser and ask them to try another one?

The current message encourages users to keep trying again - a fool's erran

[2013-03-16 15:43] callahad commented on #3107
+1. Thanks for bringing that up. Should be an easy fix (+ localization work) once we get Beta 2 out in early April.

[2013-03-17 10:49] jrgm commented on #3082
Also here: https://github.com/mozilla/browserid/blob/dev/automation-tests/tests/returning-user.js#L54

[2013-03-18 11:53] shane-tomlinson commented on #3104
This was introduced by the fix for #1827.

If a kpi_data message is sent before session_context has a chance to complete, then the kpi's are not stored.

[2013-03-18 15:53] shane-tomlinson opened #3109 "winchan is included in communication_iframe but never used."
It's just slowing it down.

[2013-03-18 16:46] #3109 closed, assigned to nobody

[2013-03-18 16:54] jrgm commented on #3049
I think this also applies to Safari as well. I had the references links, but didn't write them down. But google 'selenium safari alert'.

[2013-03-18 18:19] jrgm opened #3111 "add automation test from GH-3091 (uncaught exception in communication_iframe.js)"
add automation test from GH-3091

[2013-03-18 18:50] shane-tomlinson commented on #1736
Re-opening, found the reason on http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax

[2013-03-18 21:06] jedp commented on #3089
@lloyd, @kumar303 I should be able to fix this, but I'm a little backed up on other b2g things.  If anyone wants to jump in, that would be awesome.  Otherwise I ought to be able to work on it in the next few days.

[2013-03-18 22:33] fmarier commented on #3088
@lloyd Yes, I can certainly take a look at that if it's not too urgent (i.e. if it can wait until after Easter).

[2013-03-18 23:10] #2922 closed, assigned to nobody

[2013-03-18 23:16] jaredhirsch opened #3114 "update persona privacy policy on mozilla.org"
https://github.com/mozilla/bedrock/blob/master/apps/persona/templates/persona/privacy-policy.html

[2013-03-19 08:56] lloyd commented on #3088
works for me!  Thanks francois!

On Mar 18, 2013, at 4:33 PM, Francois Marier notifications@github.com wrote:

[2013-03-19 10:10] shane-tomlinson commented on #3091
Since the fix was merged, closing this. Nice debugging everyone.

[2013-03-19 10:10] #3091 closed, assigned to lloyd

[2013-03-19 10:51] shane-tomlinson commented on #2979
This is also the case on the main site's /signin page.

[2013-03-19 12:29] shane-tomlinson commented on #3107
relate to #2079

[2013-03-19 13:58] #2979 closed, assigned to shane-tomlinson

[2013-03-19 23:39] jamesshore commented on #2034
+1

This issue is affecting at least two of my users. The worst part about it is that it doesn't provide any useful information for people to diagnose the issue. Is there an ETA for a fix?

[2013-03-19 23:43] benadida opened #3119 "restructure include.js so that it can be generic enough to cache and let sites self-host"
In particular, if we agree on the actual method calls that are supported, since everything is asynchronous, I believe we can build a generic include.js that:
- generically stashes away any callback functions
- generically sends all options to the relay frame
- generically invokes the right callback based on instructions from the other side

e.g.

[code]

would stash the new "crazy callback", and w

[2013-03-19 23:51] jaredhirsch commented on #3119
I'm super skeptical about letting RPs host an unversioned file that is central to Persona's functionality.

What's the goal? Is it improved response time? Can we discuss the motivation and seek out alternative tactics--maybe on the public list?

[2013-03-19 23:53] benadida commented on #3119
The goal, from a clear potential partner we talked to today, is sites that don't want to include third-party JavaScript, ever. They have CSP rules in place to prevent it. It's a worthy goal, and we have seen these requests from people on the mailing list before.

We should try.

[2013-03-19 23:53] callahad commented on #3119
A big win is dramatically reducing the scope of API changes that require a new include.js.

[2013-03-19 23:59] seanmonstar commented on #3119
It's always been a sticky point for me, that I recommend front-end best
practices, which is **never ever god never** include 3rd party scripts,
since you give over the keys to your DOM, but then at the same time tell
people "to use Persona, include this script tag".

tl;dr - +1

[2013-03-20 00:17] karlht commented on #3119
Sean speaks for me on this issue.  +1.

[2013-03-20 00:26] jaredhirsch commented on #3119
What I'm trying to get at is, this is a fairly young product (still in beta). Letting RPs self-host makes it far slower and more complex for us to deploy API changes in the future.

Or maybe I'm the only one worried about this?

[2013-03-20 00:31] benadida commented on #3119
No, @6a68 you're not the only one worried about this, I have generally pushed back on freezing that file for a while. But we now have real-world requests for it, so I'm just asking that we consider it, in particular if it can be done while retaining flexibility, i.e. you have to upgrade include.js to get access to new API calls, but old API calls will still work.

As per my description above, _bec

[2013-03-20 01:39] jaredhirsch commented on #3119
@benadida Sounds good. We could absolutely do it, almost every third-party provider does allow self-hosted embed snippets--I just want to make sure we're aware of the tradeoff with respect to supporting older versions of our own API when our files are currently unversioned. I'm happy to help with this.

[2013-03-20 03:51] jrgm commented on #2239
I'm going to reopen this. My bad for not doing so many moons ago. Sure it can be done in GH-2077 if that is the right overall fix.

[2013-03-20 03:54] jrgm opened #3120 "(bigtent relevant) [ie8] signin with foo@yahoo.com; main site shows error if you don't complete the popup window in ~10 seconds."
STR

Use an absolutely clean profile (with IE, Safety->Delete Browsing History', check all the boxes; when that is done, quit the browser and start it again).
1. Go to login.anosrep.org and click 'Sign in'
2. Enter somerandomusername@yahoo.com, click Next, then click Verify.
3. The dialog comes up and switches to Yahoo signin form.
4. Touch nothing else and just wait for 10 to 20 seconds.

Expecte

[2013-03-20 04:24] lloyd commented on #3119
No matter how well we restructure include.js, there will be cases where we must cause rps to update it.  How do we deal with this?

Option 1: we build a single stable post message call which will force API update when out of date, meaning we won't asynchronously break websites, we'll just degrade their load time until they upgrade.  (@shane-Tomlinson and I discussed this last time we had this conv

[2013-03-20 07:35] callahad commented on #3119
A lighter / more flexible include.js seems like a win regardless, so let's move on that in Q2.

Whether or not we go with Option 1 or Option 2 can probably be deferred until we get the include.js refactored.

[2013-03-20 14:34] jaredhirsch commented on #3119
Option 3: file sends down an identifier, if it is out of date, we inject JS
into the page by xhr-ing over a string that's eval()ed in the RP context.
This is convenience over security, but thought I should mention it :-)

In fact, a more extreme version of this would let RPs self-host a very
minimal snippet, and xhr down the "real" include.js. This would ensure we
never need RPs to update their sn

[2013-03-20 17:26] benadida commented on #3119
IMO, the major reason why a site is going to self-host our include file is for isolation reasons, i.e. they have a policy of not including third-party JavaScript. Sites that are knowledgeable enough to do that will also turn on CSP, which means no eval, no dynamic addition of script elements, hard block on sourcing third-party scripts.

In other words, I don't think @lloyd 's option 1, or @6a68 's

[2013-03-20 18:32] jrgm commented on #3093
@gene1wood you can set it 0.2 for the stage environment (upped a little bit to get a little more activity in stage).

That's ' kpi_backend_sample_rate: 0.2' in production.json

[2013-03-20 19:28] gene1wood commented on #3093
Talked to @jrgm in irc and found this config change goes only on the webheads

[2013-03-20 19:36] jrgm commented on #3093
Yes, correct. (Should have updated here too).

[2013-03-20 19:39] gene1wood commented on #3093
Here's the change

[code]

This has been deployed to stage

[2013-03-20 19:39] #3093 closed, assigned to jrgm

[2013-03-20 19:43] jrgm commented on #3093
gene: thank you. I can see that in session_content, and a ~proportional number of posts to interaction_data.

[2013-03-20 20:16] jrgm opened #3122 "Need to know which software versions are running at the webhead, signer and dbwriter in each datacenter"
placeholder... in middle of push.

[2013-03-20 20:24] erikrose opened #3123 "Firefox doesn't save my new password when I change it."
1. Go to https://login.persona.org/
2. Click "Sign Out"
3. Click "Sign In"
4. Enter email address; hit Return.
5. Enter (recently changed) password; hit Return.

I would expect it to prompt me to update my stored-in-Firefox password. Instead, no prompt happens.

I'm on the 2013-3-11 nightly and have 4 previously stored Persona passwords, each under a different email address.

[2013-03-20 21:05] seanmonstar commented on #3119
@6a68 sounds like option 3 has the exact same concerns I had originally commented, namely, that you give over the keys to your DOM.

[2013-03-20 21:25] shane-tomlinson commented on #3119
@benadida - CSP allows you to specify specific domains from which JS can be loaded using the `script-src` directive. Sites could still enable CSP but disable scripts from all sources other the domain and us. I cannot find anywhere in the spec mentioning dynamic addition of script elements, I have been trying to find out if something like this exists because it would hinder a performance enhancemen

[2013-03-20 21:35] benadida commented on #3119
@shane-tomlinson yes, you could tweak the CSP policy to make inclusion from Persona possible, and to allow for eval, but then you would be losing much of the value of CSP. I don't think this is a win. I think the win is in building a generic include.js that doesn't require big sites to change their policies or open up potential gaps in their security perimeter.

You're absolutely right about the d

[2013-03-20 23:14] ozten commented on #3120
Yes, this is expected. Users shouldn't go there manually.

[2013-03-20 23:29] lloyd commented on #3119
Whose going to summarize the changes that landed in include.js over the last year so we can dream up a solution that would make us immune to changes for a year?

Also, if we go with option two, we must be extremely clear to websites what kind of checking they must commit to.

Finally, regardless of that - if we break a site, its always our fault from the site owners perspective.

-- lloyd (thumb-t

[2013-03-21 00:38] #1736 closed, assigned to shane-tomlinson

[2013-03-21 01:49] jrgm opened #3125 "is 'BrowserID-Version' a misleading name for this http header"
I was looking at some code, and I had this thought earlier but didn't file the issue. Anyways, is 'BrowserID-Version' the right name for this header.

A naive reading would be that this is the public protocol version (e..g, 1.0, 2.0). I think it could be something better, possibly more suggestive that this is an implementation detail.
'BrowerID-current-commit-sha'?

Feel free to close this as BIKE

[2013-03-21 02:01] callahad commented on #3119
We have `persona-notices` for pushing out those kind of notices.

[2013-03-21 08:01] shane-tomlinson commented on #3119
@benadida - I agree w.r.t. RP security goals and eval, I most definitely do not want sites to enable 'unsafe-inline' or 'unsafe-eval'. A lack of eloquence hinders my ability to communicate.

My performance info is orthogonal to security minded RPs - I have been experimenting with loading bidbundle asynchronously. Bidbundle is a monster, loading it asynchronously saves mobile users 1 second on 3G a

[2013-03-21 08:34] shane-tomlinson commented on #3122
@jrgm - can you explain a little more what you would like to see? It should be straight forward to add more info. Right now it shows the git and svn SHAs, which while minimal, have generally been enough for us to `git log` and find the info that we need.

[2013-03-21 15:08] jaredhirsch commented on #3119
I'm happy to take the lead on this, unless somebody with more front-end experience wants to grab it. @benadida do we have specific timelines we need to hit?

@shane-tomlinson - Not to overload this conversation too much, but I think we could still make self-hosted Persona totally async by doing the google analytics queueing trick:
1. in the head of the page, set up an array called, say, navigator.

[2013-03-21 15:51] lloyd commented on #3119
@6a68 can we start by looking at the types of changes that have been made to include.js and related resources (jschannel and winchan) in the last year, and try to understand the frequency we're making changes?

I'm hoping this hour of analysis can give us a clear idea of the types of changes we'll be able to make without forcing an include.js refresh, and those we can't - so we can reason about th

[2013-03-21 16:37] jrgm commented on #3122
So, the goal is a way to know that the correct version is running on webhead, signer and dbwriter.
Changing the current /ver.txt isn't likely the best way to do this. Perhaps some other tool or monitor in the datacenter.

[2013-03-21 16:51] shane-tomlinson commented on #3122
@lloyd, @gene1wood, @jrgm - Are there any ideas on how we can make this happen?

[2013-03-21 16:54] seanmonstar commented on #3119
@shane-tomlinson that's what i understood also: an include.js that will pass all parameters of watch() and request() to something we control, like the communication_iframe or something, so that if we need to add or deprecate some in the future, we can, without changing the include.js

[2013-03-21 16:56] jaredhirsch commented on #3119
I'll generate some data around include.js changes over the past year and we can take this conversation to the list.

[2013-03-21 17:05] shane-tomlinson commented on #3107
@skinny97214 - What do you think we can do to make this better for users? If we could fix Chrome for IOS we would, but it doesn't look like we will be able to, so some clear, actionable error messages would be helpful.

[2013-03-21 17:39] fmarier opened #3126 "Persona doesn't work with the LibreJS extension"
The [LibreJS](https://www.gnu.org/software/librejs/) Firefox extension exists to block proprietary Javascript code.

Since our code is not proprietary, there's no reason it shouldn't be able to work with that extension (which is enabled by default in [Icecat](https://www.gnu.org/software/gnuzilla/).

Freaky Friday project for me to figure out [what we could do to unblock these scripts](https://www

[2013-03-21 17:43] fmarier opened #3127 "Icecat is not supported"
The [Icecat](https://www.gnu.org/software/gnuzilla/) web browser is essentially Firefox 17 with some privacy extensions built-in.

One reason why it doesn't work with Persona is that the [LibreJS extension blocks our scripts](https://github.com/mozilla/browserid/issues/3126) but even after disabling it, Persona still doesn't work.

Another freaky Friday freedom project for me I guess :)

(That [up

[2013-03-21 17:49] edwindotcom opened #3128 "Figure out password policy when all of user's secondary addresses are converted to primaries."
moved from: https://github.com/mozilla/browserid-bigtent/issues/158

0.0 login with a non yahoo.com email address
0.1 goto https://login.anosrep.org/ and remove specific email accounts manually (don't cancel account)
1. login via bigtent (yahoo.com acct)
2. goto: https://login.anosrep.org/
3. click 'edit' on password

result: edit password doesn't make sense, old password doesn't exist. it's compl

[2013-03-21 18:34] jrgm commented on #3128
This can be done with any primary, so, for example:
1) On beta.123done.org sign up as a new secondary address
2) On beta.123done.org use the dialog to add an address @eyedee.me
3) Go to login.anosrep.org and remove the secondary address to the account
4) Reload or signout/signin; a password change field is presented despite the fact the only email on the account is a primary email address.

[2013-03-22 00:27] skinny97214 commented on #3107
@shane-tomlinson Can you update me on the the status of the situation with Chrome for iOS? Do they need to use a different browser?

[2013-03-22 00:34] callahad commented on #3107
@skinny97214 Yeah, the only iOS browser that works is Mobile Safari

[2013-03-22 02:42] jrgm commented on #3100
The pull request GH-3124 was merged. Closing.

[2013-03-22 02:42] #3100 closed, assigned to kparlante

[2013-03-22 09:05] shane-tomlinson opened #3129 "Footer text wraps on to two lines in certain languages."
As reported by a list member:

FF - German: http://f.666kb.com/i/cck4ck1idf6b6kp3q.jpg (broken design)
FF - Russian: http://f.666kb.com/i/cck4dbtk85yd77tw6.jpg (broken design)
FF - Spanish: http://f.666kb.com/i/cck4dpjhxmjkl9sly.jpg (broken design)
IE - German: http://f.666kb.com/i/cck4e5p4ftzqz27me.jpg (broken design)
Chrome - German: http://f.666kb.com/i/cck4elrl9chkxbb4m.jpg (broken design)

[2013-03-22 14:05] gerv commented on #2583
Note: it's not "IE8 on Windows XP" which doesn't support Persona, it's any version of IE, or anything else which uses platform crypto (so Chrome?), on Windows XP. http://en.wikipedia.org/wiki/Server_Name_Indication

Given that XP still makes up a scarily large percentage of worldwide machines, and XP is still supported for 1 more year, people relying on this need to be very sure of their target ma

[2013-03-22 15:17] lmorchard commented on #2583
FWIW, a few Mozilla sites [already](http://www.pastebin.mozilla.org/2236569) [use](http://www.pastebin.mozilla.org/2236575) SNI. But, this issue isn't about Persona serving things up with SNI - it's about Persona being liberal in what it accepts and working with sites that have chosen to use SNI. Personally, I don't much care whether IE on XP works with my hobby sites. Others might, and if they do

[2013-03-22 15:31] shane-tomlinson opened #3130 "user.js: functions that require context are not guaranteed to have it"
setComputerOwnershipStatus
isUsersComputer
shouldAskIfUsersComputer

The functions already have a sane error mode where they return "user is not logged in" if session_context has not been called.

[2013-03-22 17:37] lloyd commented on #2583
@callahad I think if we had heterogenous support for a short period, the failure rate would be sufficiently high that no one would rely on it.  But we could roll out in a single config change after we're 100% aws.

Either way, bottom line were looking at about two months before this is resolved...

[2013-03-22 17:56] skinny97214 commented on #3107
Can we give them a link that will open up in Safari so they can restart the login process?

[2013-03-22 18:27] callahad commented on #3107
I don't think so, and a quick skim of Stack Overflow didn't reveal anything promising. :(

[2013-03-22 22:17] edwindotcom opened #3133 "sign in button isn't very responsive on android browsers"
Initially i was going to log this on 123done 's repo, but i noticed it with Voo.st also.  The facebook button doesn't exhibit the same issue on Voo.st
1. on android FF (stable and beta) or stock browser
2. goto: 123done.org or voo.st
3. click on the persona sign in button

result: i often have to press on the screen 2-3 times to get it to pop the new window.

not sure if how we recommend embedding

[2013-03-23 23:33] jonasschneider commented on #3119
Not to hijack this thread, but: isn't not having to trust any third party (including Mozilla) at all the main point of the project? If you are concerned about RP's that want to self-host `include.js`, I cannot imagine you reacting to sites that maybe don't want to outsource authentication, a _hugely_ critical feature, to a completely uncontrolled yes/no API.

[2013-03-24 00:32] lloyd commented on #3119
Everyone on this thread deeply _wants_ to support self hosting.  And nobody on this thread ever _wants_ to break authentication for our users.  This thread is about a pragmatic way to achieve both of those things.

You're absolutely right, that striving to support self hosting lets people trust us a little less, which is inline with the projects goals.  And that's why this issue exists.

Thanks fo

[2013-03-24 13:47] jonasschneider commented on #1501
The exclusion policy has to be even stricter than that.

Treating the case of "can't fetch declaration of support doc" as "doesnt' support browserid" opens up a side-channel attack: If an attacker has access to the network between verifier and IdP, it can just block the connection attempt, and thus coerce the verifier into allowing the fallback IdP to vouch for the IdP even though there is native

[2013-03-24 19:59] benadida commented on #1501
@jonasschneider it's not the DNSSEC situation, as best as I can tell. With DNSSEC, an attacker can block network connectivity of a user's machine, and that would be enough to attack them causing fallback to a less-secure protocol. Here, the attacker would have to block connectivity of the _web site_ it wants to attack _and_ also attack the fallback IdP, which is both harder and doesn't results in

[2013-03-25 16:52] skinny97214 opened #3135 ""Is this your computer" screen should show after 24hr+"
Currently you get this screen if you hit the login button twice. There's no time delay required to see it.

Desired: For the first 24hr of using this computer you won't see the screen. Only after 24hr will you see this screen.

This is designed so that people using a public terminal (library or internet cafe) will usually not see it unless they happen to sit down at the same computer.

@lloyd This

[2013-03-25 16:53] skinny97214 opened #3136 ""Is this your computer" screen should show after 24hr+"
Currently you get this screen if you hit the login button twice. There's no time delay required to see it.

Desired: For the first 24hr of using this computer you won't see the screen. Only after 24hr will you see this screen.

This is designed so that people using a public terminal (library or internet cafe) will usually not see it unless they happen to sit down at the same computer.

@lloyd This

[2013-03-25 16:54] skinny97214 opened #3137 ""Is this your computer" screen needs better copy"
Improve copy so that it's more clear that people in internet cafes and libraries should not click One Month.

[2013-03-25 16:58] shane-tomlinson commented on #3137
Relate to #2732

[2013-03-25 17:14] #3135 closed, assigned to nobody

[2013-03-25 17:57] jedp commented on #3089
Met with @benadida, @shane-tomlinson, @kumar303, and @skinny97214 this morning to talk through this.  We're planning to change nothing about the observer API (e.g., not require any new parameters in `watch`).  We've jotted some notes about forced-issuer in [this etherpad](https://etherpad.mozilla.org/forced-issuer)

[2013-03-25 23:01] #3130 closed, assigned to shane-tomlinson

[2013-03-26 12:39] shane-tomlinson commented on #3136
@skinny97214 - what should happen when the next kid sits down 5 mins after the first kid?

I mention this because of what the head of makewav.es, a social network for students that is integrating with Open Badges, has told me this is what he sees. He observed that students sit at the computer for just long enough to upload their badge, then leave without signing out anywhere. The next student that

[2013-03-26 17:15] skinny97214 commented on #3136
@shane-tomlinson Giving users who are on a new IP a short session is exactly what I was hoping for. What are we currently doing?

[2013-03-26 17:22] shane-tomlinson commented on #3136
@skinny97214 - that makes more sense! For any user that has not answered "Yes" to the question (new users or users who have clicked no), the session is one hour. This is an easy configuration option to change.

[2013-03-26 17:46] shane-tomlinson commented on #3136
@jbonacci - Users who have not answered get the 1 hour session.

[2013-03-26 18:14] skinny97214 commented on #3136
@jbonacci I doesn't matter how many users have used Persona on the computer. The question is triggered when User A logs in via Persona more than once, 24hrs after the first successful authenticated login. If user A logs in, then 10 mins later or 10 days later User B logs in, they wouldn't see the "is this your computer prompt".

[2013-03-26 20:16] jds2501 opened #3139 "[B2G][l10n][Spanish] The Persona login page on a Spanish phone is shown in English"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=855022.

Description:
A user with their device language set to Spanish will see the Persona login page for the marketplace rendered in English.

Repro Steps:
1) Updated to Unagi Build ID: 20130326070208
2) Select Settings, then Language, then change the language to Spanish.
3) Restart the device and select the Marketplace app once the rest

[2013-03-26 20:54] jrgm commented on #3128
There's an interesting implication for bigtent. As any existing yahoo.com email address is converted to be a primary email address, those users will all see this UI to change the password. (This is because session_context returns has_password: true, because the passwd column in user non NULL for that. It should be non-NULL if the user still has both primary and secondary email addresses on the acc

[2013-03-26 22:36] edwindotcom opened #3141 "mac opera only, incorrectly launches pop up window as a new tab"
this is mac opera only.  no repro on Win opera.
1. goto beta.123done.org and click sign in

result: new tab is opened with sign in dialog

expected: should be in a new window at a specific size.  At first i thought it was just the browser, but i was able to go to other sites to pop up a sized pop up window.

[2013-03-26 23:51] jaredhirsch commented on #3141
It's [well-known](http://www.quirksmode.org/js/popup.html) that Opera opens a window-tab if you don't specify height and width, but we're [doing just that](https://github.com/mozilla/browserid/blob/dev/resources/static/include_js/_include.js#L127) in include.js.

I suspect this may be a browser bug--Opera's bug tracker is closed, so I'm not sure how to definitively find the bug.

[2013-03-27 01:11] jrgm opened #3143 "email to jbonacci with a yahoo.it account listed as failed in socketlabs; need to open a ticket with them to get more information."
Listed as failed with error code 9999

[2013-03-27 01:30] callahad commented on #3141
As far as I can tell, this is intended behavior on Opera's part. The windows version offers an explicit preference for governing popup behavior. The Mac version omits that preference.

I'm going to vote wontfix -- everything still works, it's just aesthetically weird. But as the default behavior, I'm sure Opera's users are used to it. Curious to see the behavior on the Webkit-based version...

[2013-03-27 02:08] jaredhirsch commented on #3139
@jds2501 do you happen to have the request headers? I'm curious what the Accept-Language header looks like.

the screenshot didn't get copied over from the original bug. here it is:

![image](https://f.cloud.github.com/assets/96396/306487/19601596-9683-11e2-984c-c1e917bf6be2.png)

[2013-03-27 02:17] jaredhirsch commented on #3129
One fix for this is to dynamically calculate the width of the footer text, then resize it down until it is less than the width of the popup. I might spend a couple minutes and try to just squash this.

I went ahead and copied the images to github so we won't lose them:

FF - German:

![image](https://f.cloud.github.com/assets/96396/306502/ebb9fc3c-9683-11e2-8a15-ac97165bb55e.png)

FF - Russian:

!

[2013-03-27 02:19] jrgm commented on #3139
I think it's just that the server (native-persona.org?) is not configured to support 'es'.

[2013-03-27 02:26] jds2501 commented on #3139
@jrgm FWIW, I think we had a similar bug like this with a different locale in the past. Can't remember which locale.

I can work with jrgm to dig up the headers tomorrow if need be though.

[2013-03-27 02:59] jrgm commented on #3139
The other language was probably pt-BR. But rather than doing these one by one, is there a document on what languages are required? Only two are configured at the moment (if I was on the right (temporary) server).

[2013-03-27 03:34] jaredhirsch commented on #3114
PR submitted against bedrock: https://github.com/mozilla/bedrock/pull/711

Dunno offhand how to cross-link commits/pulls/repos.

[2013-03-27 03:42] jaredhirsch commented on #3141
@callahad but the quirksmode popup implementation correctly opens a new window, not a new tab, even on opera mac--so there may be a tweak we can make here.

[2013-03-27 04:31] callahad commented on #3141
@6a68 I can't reproduce that behavior. Opera 12.50 on OS X 10.7 always opens in a tab for me, even with width and height set.

[2013-03-27 05:37] jds2501 commented on #3139
@autonome or @akeybl probably would know the formal language list we need 1.01 and 1.1 respectively (it was mentioned in 1.1 triage). I agree that we might as well get the list here and add support for the missing languages.

[2013-03-27 08:13] jrgm commented on #3139
I should note that while 2 are configured on that server, we have 30+ locales available that are currently live on login.persona.org. All credit for that to the verbatim community.

[2013-03-27 08:42] jrgm opened #3145 "[bigtent] If dialog is up for >~5 minutes then using the dialog to sign in fails with alert"
Haven't fully investigated this, but gist of STR

1) Use beta.123done.org to signin as a yahoo.com address
2) Now that  you're signed in, sign out and bring up the /sign_in dialog again
3) Wait for something more than five minutes (to let the cert expire)
4) Try to complete signin

Expected: normal completion of signin
Actual: alert with 'failed to verify assertion: assertion has expired'

Done wi

[2013-03-27 12:16] shane-tomlinson commented on #3141
I thought there was a bug about this already, but I cannot find it.

[2013-03-27 12:17] shane-tomlinson commented on #3141
This is a dup of https://github.com/mozilla/browserid/issues/423, more specifically we outline behaviors in: https://github.com/mozilla/browserid/issues/423#issuecomment-4025158

[2013-03-27 14:12] shane-tomlinson opened #3146 "[bigtent] Showing an incomplete translation for website name on yahoo login dialog."
Refiled from @jbonacci's original filing of mozilla/browserid-bigtent#173

[2013-03-27 14:14] shane-tomlinson commented on #3146
@mathjazz - the problem here is in the Italian translation.

The translation of `"Once you verify your account there, you will be signed in to %(aWebsite)s."`

is listed as

[code]

There is an extra `.` between the `)` and the `s` in `(aWebSite)s`

[2013-03-27 14:54] mathjazz commented on #3146
Fixed: http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/locale/it/LC_MESSAGES/client.po?r1=114486&r2=114485&pathrev=114486

[2013-03-27 15:05] shane-tomlinson commented on #3146
@mathjazz - thanks!

[2013-03-27 15:06] #3146 closed, assigned to mathjazz

[2013-03-27 15:40] shane-tomlinson opened #3147 "[123done][ie10] - first visit to 123done after browser restart shows "outofdate" screen."
This is no matter what the cookie settings. Somewhat unfortunate.

The user's cookie is sent to api/auth_status, but auth_status returns with `logged_in_email: null`

![Screen Shot 2013-03-27 at 15 39 21](https://f.cloud.github.com/assets/848085/308923/8e3e03d4-96f4-11e2-9456-c6bd751dd14c.png)

Note, the screenshot is from p3-cookies.123done.org, but this happens on dev.123done.org as well.

[2013-03-27 15:46] shane-tomlinson commented on #3147
Closing, this is p3-cookies specific behavior.

[2013-03-27 15:46] #3147 closed, assigned to nobody

[2013-03-28 00:51] ethernomad commented on #2560
We were having this problem with the Drupal module. We solved it by de-registering the onlogout handler in response to beforeunload.

http://drupalcode.org/project/persona.git/commitdiff/99eb4c4

[2013-03-28 00:52] ethernomad commented on #2560
This is how it happens. I can only reproduce it on Firefox.
![persona-logout](https://f.cloud.github.com/assets/161566/311451/cacc9b92-9741-11e2-9f53-e1cc957f24f8.png)

[2013-03-28 01:41] #3114 closed, assigned to jaredhirsch

[2013-03-28 03:21] jrgm commented on #3104
Reopening. I was using dev.123done.org and dev.myfavoritebeer.org with FF19 and using scripts/inspect_localstorage.js to lazy-inspect the localStorage.interaction_data json, and I've seen rp_api in the blob a couple of times, but it's not in every blob (and I've cross checked my tool with live web inspector between dialog pops). Sorry, to not dig further at the moment...

[2013-03-28 04:10] jrgm opened #3148 "[kpi] we are recording all xhr polling in interaction_data (regressed from issue 1619)"
In GH-1619, we stopped recording repetitive xhr polling. For example, if the /sign_in dialog is left up for several minutes, it will poll every 3 seconds waiting for e.g., `https://login.dev.anosrep.org/wsapi/email_addition_status?email=...`.

A blob with all this data will exceed our 10K cap on POSTs, and the data will be discarded, with 413 returned.

However, trying this with dev.123done.org to

[2013-03-28 04:23] qmx commented on #1523
@fmarier would the idea be something like this?

[code]

[2013-03-28 07:06] shane-tomlinson commented on #3148
@jrgm - we never actually fixed this problem. We filtered which data got sent so only the allowed top level KPIs were sent, then in another PR filtered email addresses, but never actually consolidated requests.

We can make this happen easily enough though.

[2013-03-28 11:27] shane-tomlinson commented on #3104
@jrgm - I am trying to narrow down why this could be happening - do you know if these blobs without rp_api are continuations after returning from a primary?

[2013-03-28 12:41] shane-tomlinson commented on #3141
Closing as dup.

[2013-03-28 12:41] #3141 closed, assigned to nobody

[2013-03-28 14:38] fmarier commented on #1523
@qmx Yes, that's the kind of thing (SRV record) I had in mind.

[2013-03-28 15:19] shane-tomlinson commented on #3148
@jrgm, @kparlante - What would the ideal here be? Should we keep track of the number of times the *_status functions were called? Do we care about the time the response takes?

[2013-03-28 15:25] shane-tomlinson commented on #3128
@jrgm, @skinny97214 - What is the ideal behavior here as this becomes more common.

Should we remove the Persona password when the last of a user's email addresses converts from secondary->primary? If the user adds a new secondary or a primary turns off support, those users will have to set a password again.

[2013-03-28 15:31] rikkiprince opened #3151 "Unclear when you already have an account"
There is a slight usability kink when returning to persona.org to login, whilst forgetting that you already have an account:
1. You click the button to "Sign Up".
2. You enter your e-mail address.
3. It asks you for a password.
4. You choose a new password.
5. It says you got it wrong.
6. You wonder how given you're creating an account.
7. You realise it means you already have an account and go th

[2013-03-28 15:35] shane-tomlinson commented on #3089
The fix for this pushed to the "b2g-picl-merge" branch, though @kumar303, .watch may be acting differently than you expect. I added some tests that should (hopefully) give some insight into how the .watch API acts: https://github.com/mozilla/browserid/blob/b2g-picl-merge/resources/static/test/cases/dialog/js/misc/internal_api.js#L242-L321

[2013-03-28 16:48] jaredhirsch commented on #3133
if this is a race condition, where users are clicking before click handlers are listening, this is another argument for an async queue that's registered in the header, in the style of the google analytics async snippet's `gaq`.

[2013-03-28 16:55] shane-tomlinson commented on #3139
@mathjazz - Hey, for B2G, we are going to have a few new languages that are being asked for. What do we need to do to start the process to find community members that can help us out with this?

[2013-03-28 16:56] shane-tomlinson commented on #3139
@jedp - Are you the one handling the B2G server? Can we start to get some of the requested languages that we already have translated turned on so that we can begin testing.

[2013-03-28 17:08] mathjazz commented on #3139
@shane-tomlinson You need to talk to me. :-) What new locales do we need? The ones that also need to translate Gaia?

[2013-03-28 17:12] shane-tomlinson commented on #3151
Hey @skinny97214, care to weigh in here? Do we have some room to improve our returning user flow?

[2013-03-28 17:13] shane-tomlinson commented on #3151
A good suggestion from @edmoz - "A welcome back message would be helpful"

[2013-03-28 17:15] shane-tomlinson commented on #3151
@rprince - so we have a bit more context here, is this confusion from the main site at https://login.persona.org/signin or from the popup dialog?

[2013-03-28 17:22] jedp commented on #3139
@shane-tomlinson @mathjazz it looks like the b2g server has `supported_languages` = en, pt-BR, it-CH.  So yes, we ought to add spanish :)  I can try to follow @ozten's docs about l10n.  I need to learn how to do this for browserid, especially these ephemeral awsbox deployments.

[2013-03-28 17:24] jedp commented on #3089
@shane-tomlinson awesome.  @kumar303 i think we'll be in a good position to re-deploy b2g next week (it's been a busy week).  So this should be live soon.