[2013-03-28 17:39] shane-tomlinson commented on #3139
@mathjazz - Those are the ones, @jrgm has a list of locales that need to be done, he has more context.

@jedp - it should be pretty straight forward to enable locales, the docs are pretty good and the install scripts on ephemeral boxes do the hard work of downloading the svn repo and generating the appropriate JSON files. I can help out if you need some pointers.

[2013-03-28 17:39] edwindotcom opened #3152 "login.persona.org doesn't have a clear link to account manager page"
1. go to 123done.org and sign in
2. go here: https://login.persona.org/about

actual: you're signed in, indicated by the button, but there's no clear way to get to 'account manager' page.  If you click on the persona badge, it takes you there but as a new user, that's not clear.

expected: There should be some clarity to how to manage my accounts.  I would expect that the persona badge just take m

[2013-03-28 18:14] mathjazz commented on #3139
@jedp Spanish is already translated, so I guess we only need to add it to the list of supported languages on the b2g server. We have 50 localization teams working on Persona, and usually we have ~30 locales at 100%: https://localize.mozilla.org/projects/browserid/

@shane-tomlinson "The v1.0.1 branch targets Czech, German, Croatian, Hungarian, Polish, Portuguese (Brazil), Romanian and Spanish." Se

[2013-03-28 18:39] callahad commented on #3133
123done only displays the button after `onmatch` fires, so this isn't a race condition.

[2013-03-28 19:08] rikkiprince commented on #3151
@shane-tomlinson Not sure I've seen the popup dialog. I think I was redirected to https://login.persona.org/signin, and I have definitely experienced it visiting https://login.persona.org/signin directly (just tried it now).

[2013-03-28 19:20] jrgm commented on #3148
Probably what you had suggested, the first xhr plus a final count and duration of the series of xhrs. But I don't know how that would work with backend analysis purposes.

[2013-03-28 19:51] kparlante commented on #3148
@shane-tomlinson, @jrgm - Right now "backend analysis" of this would be a human looking at the data. High level questions we might ask with future visualizations/analysis: how many users wait for excessive amounts of time, what the average wait is, etc. Should be easy enough to get at those questions with the final count and duration of series of _status calls, so that seems like a reasonable stra

[2013-03-28 19:56] jrgm opened #3153 "[dev,train-2013.03.28] expired certificates are not being invalidated."
STR
1. Start with a brand new profile.
2. Go to dev.123done.org, and use the dialog to signin with an @yahoo.com email address.
3. After the dialog dismisses, do nothing for >5 minutes.
4. Then logout of dev.123done.org and try to signin again with that @yahoo.com address.

Expected: Signed in.
Actual: alert is shown with 'failed to verify assertion: assertion has expired'.

Basically from looking

[2013-03-28 20:36] skinny97214 commented on #3151
This is great bug, thanks to @rprince for opening it. I agree we could give much better feedback on whether an account exists. We will get some flack for leaking which accounts are valid, but we do that anyway with the forgot password screen, I believe. It's a minor security cost for a major UX win. @benadida pls explicitly sign off on that if you agree.

![Screen Shot 2013-03-28 at 1 32 36 PM](ht

[2013-03-28 20:41] skinny97214 opened #3154 "convert the tooltips to inline indicators and highlights"
Kill them. Die. Die. Die.

We need to move to inline errors anyway for B2G. Let's make one visual style that works everywhere.

[2013-03-28 20:51] skinny97214 commented on #3128
I'm in favor of deleting the vestigial passwords. Note that if they are using PiCL, they will still need that password bc of force issuer.

[2013-03-28 22:02] callahad commented on #3128
+1. When we don't have to store hashes, let's not store hashes. :)

[2013-03-29 00:08] jaredhirsch commented on #3153
Hmm. I cannot duplicate _correct_ 123done behavior on dev at all, and I see the `console.log` output that @lloyd added to yahoo.personatest.org/provision when we were debugging the 5-star earlier this week. Kinda suspect that site needs to be redeployed?

@edmoz said he can log in to dev.123done using a yahoo account without problems, so maybe it's just me? Tried clearing cache and clearing yahoo

[2013-03-29 00:12] jaredhirsch commented on #3154
Is there a wireframe or mock someplace that documents inline notification
styles? Are they already in the product and I'm just forgetting them?

On Thu, Mar 28, 2013 at 2:18 PM, jbonacci notifications@github.com wrote:

[2013-03-29 00:37] kumar303 commented on #3089
Interesting, thanks. We aren't using loggedInUser yet (it's in our session after the first login so we could use it). I'll wait for the merge and try it out!

[2013-03-29 03:05] jrgm opened #3155 "If in a state in dialog where address lookup failed, should retry the lookup after cancel."
Enter an '@yahoo.com' email in the dialog.

If there is a network issue in looking up information from yahoo, in some cases the dialog will default to treat that address as a secondary; in other cases (not sure what the timing difference is), the dialog will transition to show the message `yahoo.com is not responding. Please wait a few minutes and try again.` with a cancel button.

The issue here

[2013-03-29 06:56] jrgm commented on #3104
Sorry, tried this a bit, but don't have an answer at the moment.

[2013-03-29 18:10] jaredhirsch commented on #3153
I repro'd this and am digging in

[2013-03-29 21:32] skinny97214 commented on #3154
@6a68 They are coming from the b2g work to align our visual design more with Gaia.

![Screen Shot 2013-03-29 at 2 32 03 PM](https://f.cloud.github.com/assets/41135/319261/235ae242-98b8-11e2-8abd-8964c1399d3b.png)

[2013-03-29 22:10] jrgm opened #3156 "Enabling KPI in browserid production"
This if for Monday, Apr 1st. Is noon a good time for Gene, and other folks (after the identity meeting)?

This will require changing the puppet production.json config to include:

[code]

and webheads will need to be restarted to pick up that change. The webheads will be individually drained.

I have sent traffic at multiples of the expected rate that will result in, and I'm ok with that value for

[2013-03-29 23:22] jaredhirsch commented on #3153
Well, I repro'd once. Haven't since. Chrome, FF 19, Safari. No luck.

[2013-03-30 02:21] jrgm commented on #3153
@6a68 and I worked on this a bit.

To repro in a local dev setup, add these two lines to config/local.json

[code]

which will mean the certificates issued will expire in five minutes (this isn't specific to bigtent or an idp; it shows up for bigtent because it has 5 minute certificates). Then use 127.0.0.1:10001 to signup as a user, wait >5 minutes, and then try to login again. When you fail ther

[2013-03-30 21:34] jaredhirsch commented on #3153
@jrgm: I hacked `_(emails).each(...` into `_.each(emails, ...` and pushed to [a branch](https://github.com/6a68/browserid/commits/issue_3153_invalid_certs) and pushed that branch to tinyscorefun.personatest.org. I also pushed your pubkey to that box.

I can't get the bigtent flow to work--I probably configured config.json incorrectly?

At any rate, I couldn't reliably repro yesterday, and can't re

[2013-03-30 22:46] jaredhirsch commented on #3153
@shane-tomlinson So about the apparent bug:
- User.cleanupIdentities [calls the now-undefined method `_(emails)`](https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/user.js#L67)
- `_(emails)` throws a TypeError.
- looks like the TypeError is caught by the inner function, [Network.domainKeyCreationTime](https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/n

[2013-03-31 05:12] graue opened #3157 "Firefox on Linux doesn't display address bar in BrowserID popup"
I use Firefox on Ubuntu, and the popup I get when logging in with Persona has no address bar visible. Screenshot:

![persona](https://f.cloud.github.com/assets/1730853/321350/d8382dca-99bf-11e2-8217-238c05483eb6.png)

This makes it impossible to verify that the login window is legitimate and not a phishing site. I'd expect to see an address bar with a "Mozilla Foundation (US)" SSL badge. In Chromi

[2013-03-31 05:35] jrgm commented on #3153
I modified ~app/config.json to add

[code]

which makes this easier to test with just any IDP (I will look at getting this config'd to also do bigtent style which will need to validated, but the issue is independent of bigtent. So uh, not now ;-) ).

Anyways, after forever restartall, I cannot reproduce this in FF (where I could reliably). The other nagging thing in my head is I did also see chrom

[2013-03-31 05:54] jrgm commented on #3153
By the way, I had done a grep in ./resources for '_(' and only found this one remaining (@shane-tomlinson had removed some others when he landed tinyscore).

[2013-03-31 06:07] callahad commented on #3157
Huh. What distro are you on? I can't reproduce this on Debian...

Maybe try creating a new profile (`firefox -ProfileManager`) temporarily to see if the problem is specific to some local configuration?

[2013-03-31 06:28] graue commented on #3157
(Hi Dan!)

Okay, I figured this out... it's due to my weird setup. Long ago, to make Firefox compact while keeping the menu bar, I dragged the Location box out of the "Navigation Toolbar" and onto the "Menu Bar", then hid the navigation toolbar:

![nav](https://f.cloud.github.com/assets/1730853/321411/97cf66a2-99cb-11e2-9845-0f30b0f2c0b6.png)

Presumably since the popup hides the menu bar, it also

[2013-03-31 13:25] callahad commented on #3157
Hey Scott :)

Try resetting everything to its default location, then go to View -> Toolbars, and uncheck "Menu Bar". That collapses the menu into a single "Firefox" button that sites to the left of your tabs, leaving you with two lines.

[2013-04-01 17:55] jrgm opened #3160 "npm install on clean tree produces ominous error messages"
And actually, I think this gets cleaned up since postinstall.js gets run again and the second time automation-tests npm install is ok. But I don't want to ship train-2013.03.29 with this splat.

[code]

[2013-04-01 23:25] jrgm opened #3166 "eot and ttf should be transferred with gzip encoding"
@gene1wood noticed a discrepancy between production and stage configuration where stage had an nginx rule to do gzip for 'application/x-font-ttf', but production did not.

Stoyan Stefanov sez yes, gzip them (but not woff):
http://www.phpied.com/gzip-your-font-face-files/

@shane-tomlinson can you decide the official word for @gene1wood about what the correct set of mimetypes for webfonts should be

[2013-04-02 00:39] jaredhirsch commented on #3166
Fonts to compress: ttf, eot, svg, otf. We don't serve otf at the moment,
but you might as well set it up while you're in there.

The trick with font files is that you have to manually add the MIME types
to your server config. In the case of nginx:

http://blog.bigdinosaur.org/gzipping-at-font-face-with-nginx/

Edit: that article mentions that svg already has a MIME type defined.
Edit: that article

[2013-04-02 02:59] jrgm commented on #3145
Link to GH-3153. This is its cousin, but I don't think fixing GH-3153 will fix this one. I'm guessing, but I think we might not recheck the certificate immediately before creating the assertion.

To clarify "Not really specific to bigtent..." I meant that this can probably be duplicated with login.persona.org  if you had the patience to bring up the dialog and wait for 24 hours ;-)

[2013-04-02 04:54] jrgm commented on #3155
actually this isn't particular to bigtent now that I look more. Lowering to 4-star for now.

[2013-04-02 09:11] shane-tomlinson commented on #3153
@6a68 and @jrgm diagnosed this correctly. I am wondering why none of the tests caught this.

[2013-04-02 09:42] shane-tomlinson opened #3167 "two network.js calls hide exceptions thrown in the onSuccess callback"
serverTime & domainKeyCreationTime

[2013-04-02 09:51] shane-tomlinson commented on #3167
Link to #3153

[2013-04-02 10:11] shane-tomlinson commented on #3145
We check to see if a certificate expires within the next 2 minutes, with the assumption that users will complete the flow within that time.

[2013-04-02 10:18] shane-tomlinson commented on #3139
@jedp - are there new strings in the b2g branch that are not in the main branch?

@mathjazz - Thanks for looking into this, let me find out the priority of Hungarian and Romanian. If there are new strings in the B2G branch, is it alright to have these localized as we start merging features back into the main branch, or is it preferable to get a list of new strings ahead of time?

[2013-04-02 10:43] shane-tomlinson commented on #3166
@gene1wood - gzipping all but .woff files would be a good win for users. @6a68's link has the info needed to make it so. If you need a sounding board while doing this, ping me on IRC.

[2013-04-02 11:06] shane-tomlinson commented on #1352
Link this to #2999

[2013-04-02 11:11] shane-tomlinson commented on #2999
Link to #1903, #1835, #982, #989, #2575

[2013-04-02 11:14] shane-tomlinson opened #3169 "[chrome] IdP provisioning fails if 3rd party cookies are disabled."
STR)

1) Use Chrome with 3rd party cookies disabled.
2) visit dev.123done.org
3) Enter an eyedee.me address
4) Authenticate with eyedee.me
5) When you are redirected back to Persona, the dialog just sits there with no feedback. You can click the "submit" button twice to end up back at eyedee.me.

[2013-04-02 12:12] shane-tomlinson opened #3170 ".onmatch called after .onlogin if user opens dialog."
STR

1) Visit development RP
2) If logged in, click logout
3) Force refresh the page (CTRL-SHIFT-R)
4) Open dialog
5) Log in
6) .onmatch is called after .onlogin

Before Login:
![Screen Shot 2013-04-02 at 13 09 43](https://f.cloud.github.com/assets/848085/328118/6a0e86ca-9b8e-11e2-8e5c-bf02169c5f76.png)

After Login:
![Screen Shot 2013-04-02 at 13 09 59](https://f.cloud.github.com/assets/848085/32

[2013-04-02 13:34] callahad commented on #3170
Doh! Need more unit tests in that part of the code.

I wonder why that's happening....

[2013-04-02 13:55] shane-tomlinson commented on #3170
I did a little digging, and the sequence of events is as follows:

1) Dialog opens, user signs in. Assertion is sent back to include.js
2) include.js sees the response contains an email and messages the communication_iframe with the "loggedInUser" message.  This message is asynchronous and will be delivered sometime in the future.
3) include.js messages the communication_iframe with the "dialog_co

[2013-04-02 14:22] shane-tomlinson commented on #3170
@callahad - What is the expected behavior if:

1) User visits a site, site sends signedInUser: undefined.
2) Persona sees the user is signed in, generates an assertion and calls onlogin
3) User then opens dialog and selects a different address

Options:
1) .onlogout is called for first address, then .onlogin for new address
2) .onlogin is called for new address.

This can be tested with the curren

[2013-04-02 14:29] shane-tomlinson opened #3172 "After verifying email addition, original dialog does not sign user in and close"
STR

1) Open dialog with account with one secondary email address
2) Add a second secondary email address
3) Open verification link in new tab of same browser
4) Original dialog never closes.

This affects the current beta.

Why didn't Selenium catch this?

[2013-04-02 15:19] lloyd commented on #3122
I think we can make this happen in AWS and I think it would be worthwhile to do so.  It seems like a single node that can interact with ELBs and tell you current number and versions of each node would be the best way to realize this.

I think we should roll up this into a slightly larger task to land in AWS from the start with holistic, minimialist, high value dashboards and monitoring...  It's go

[2013-04-02 15:29] callahad commented on #3170
Thanks for the nice debugging!

In that scenario, I believe the expected behavior is 1:
1. Automatic `onlogin` for first address.
2. Automatic `onready`
3. Manual `onlogin` for second address.

[2013-04-02 16:04] shane-tomlinson opened #3173 "siteName is double escaped when redirecting to a primary."
From a user on our list:

Using the example RP:

![Screen Shot 2013-04-02 at 17 02 29](https://f.cloud.github.com/assets/848085/329273/e7212da0-9bae-11e2-8c89-6f7fa5dabeaf.png)

[2013-04-02 17:55] gene1wood commented on #3122
@jrgm so you're talking about monitoring the ver.txt maybe? Can you talk about the problem you're trying to solve? Is it related to heterogeneous versions running within a cluster? Or something else?

[2013-04-02 18:05] jrgm commented on #3122
@gene1wood - so right now, I can use /ver.txt on a production url to know what the version running on the webhead is (router, static, verifier, browserid), but I don't have a way to see the backend tier: sweb (dbwriter), sign (keysigner).

[2013-04-02 19:09] jaredhirsch commented on #3172
ugh, another 5-star. confirmed.

Selenium doesn't check that the dialog has closed, I don't think--our tests just focus on the happy path.

[2013-04-02 19:26] jaredhirsch commented on #3172
gotta run for a bit but found where to plant the debugger breakpoint and thought I'd document my steps so far:
- dialog polls to see if user clicked verify link yet at wsapi/email_addition_status.
- inside the code, this is Network.checkEmailRegistration
- which is called by User.waitForEmailValidation
- whic his called by dialog.doConfirmEmail
- after which dialog/misc/state responds with handleE

[2013-04-02 22:06] jaredhirsch commented on #3172
Well, I set that breakpoint and traced through it a couple of times.
- handleEmailConfirmed does the right thing & fires the email_chosen signal.
- the anonymous email_chosen handleState call does the right thing & calls user.checkAuthentication
- checkAuth returns authentication := "email_valid_and_ready", fires email_valid_and_ready signal
- User.shouldAskIfUsersComputer fires the onFailure call

[2013-04-02 22:37] jaredhirsch commented on #3172
Large refactors are tricky. Lot of code to read through here.

https://github.com/mozilla/browserid/commit/1a44d48

[2013-04-03 00:20] #3153 closed, assigned to jaredhirsch

[2013-04-03 00:24] jaredhirsch commented on #3160
#3164 was a no-go, bug still open. we could just merge the fix over from the train, but it'd be nice to fix the automation-tests problems for reals.

[2013-04-03 00:27] jaredhirsch commented on #2339
fixed by #3081. closing

[2013-04-03 00:27] #2339 closed, assigned to lloyd

[2013-04-03 00:28] jaredhirsch commented on #2420
doesn't seem beta-2 necessary to me. bumping to beta-3

[2013-04-03 00:29] jaredhirsch commented on #1744
Valid but too big to get done before Beta 2. Bumping to Beta 3.

[2013-04-03 00:30] jaredhirsch commented on #2508
Valid but too big to get done before Beta 2. Bumping to Beta 3.

[2013-04-03 00:30] jaredhirsch commented on #2419
Valid but too big to get done before Beta 2. Bumping to Beta 3.

[2013-04-03 00:32] jaredhirsch commented on #2405
@lloyd, thoughts here? bumping to Beta 3

[2013-04-03 00:35] jaredhirsch commented on #2240
Does https://github.com/mozilla/persona-ios count as fixing this bug? If not, reopen :-)

[2013-04-03 00:35] #2240 closed, assigned to lloyd

[2013-04-03 00:35] jaredhirsch commented on #2078
@callahad ping :-)

[2013-04-03 00:36] jaredhirsch commented on #2097
A bit late to handle this before beta 2 goes out the door. Bumping to beta 3.

[2013-04-03 00:41] jaredhirsch commented on #2191
Closing; I can't repro this any longer. Please reopen if I'm wrong (and move to Beta 3 milestone).

[2013-04-03 00:41] #2191 closed, assigned to shane-tomlinson

[2013-04-03 00:42] jaredhirsch commented on #2181
I guess, arguably, this could get done by Beta 2. Leaving it open & handing to @lloyd. Reassign as you will.

[2013-04-03 00:44] jaredhirsch commented on #2043
@ringe @lloyd ping again. Still happening?

If not, feel free to close.

If so, we can't get a fix in prior to Beta 2, so I'm bumping back to Beta 3.

[2013-04-03 00:46] jaredhirsch commented on #2038
bump. @lloyd / @gene1wood thoughts on fixing this prior to Beta 2? Makes me a little squeamish to think about so much stuff changing at once.

Pre-emptively moving to Beta 3. If y'all wants it done sooner, move the milestone back to Beta 2.

[2013-04-03 00:55] jaredhirsch commented on #2034
Bumping to Beta 3. @jamesshore I don't have an ETA, maybe @lloyd or @callahad have thoughts.

[2013-04-03 00:56] jaredhirsch commented on #1874
Not happening before Beta 2. Bumping to Beta 3.

[2013-04-03 00:56] jaredhirsch commented on #1773
Ooh, this seems fairly tractable and self-contained. Ah well. Not getting in before Beta 2, that's for sure.

Bumping to Beta 3.

[2013-04-03 00:58] jaredhirsch commented on #1755
I claim that this is no longer a significant problem. Reopen if I'm wrong, and we'll get some metrics in place to get visibility into failure rates.

[2013-04-03 00:59] jaredhirsch commented on #1523
Not happening prior to Beta 2. Bumping to Beta 3.

[2013-04-03 01:00] jaredhirsch commented on #1500
Bumping to Beta 3; not going to get fixed prior to Beta 2 announcement.

[2013-04-03 01:02] jaredhirsch commented on #989
Work in progress here but not going to get done prior to Beta 2. Bumping to Beta 3.

[2013-04-03 01:03] jaredhirsch commented on #421
Bumping this aged bug from Beta 2 to Beta 3, as we're out of Beta 2 dev time.

[2013-04-03 01:03] jaredhirsch commented on #538
@callahad bump. Leaving open for Beta 2 as it's "just docs" :surfer:

[2013-04-03 01:04] jaredhirsch commented on #1501
We're out of dev time for Beta 2. Bumping to Beta 3

[2013-04-03 01:04] jaredhirsch commented on #1472
Out of dev time in Beta 2; bumping to Beta 3.

[2013-04-03 01:05] jaredhirsch commented on #1352
Out of dev time in Beta 2. Bumping to Beta 3.

[2013-04-03 01:08] jaredhirsch commented on #1268
Hmm. @shane-tomlinson 's comment above suggests that this will always be a problem, as it's a bug in IE implementation and we're going to use Vary headers that trigger the bug.

Closing as wontfix, perhaps a little quick on the trigger. Reopen if I'm wrong (and set to Beta 3 milestone).

[2013-04-03 01:09] jaredhirsch commented on #982
As mentioned in the other long-lived 3p cookie bug, work is ongoing right now, but didn't make it into the final train before Beta 2. Bumping to Beta 3.

[2013-04-03 03:32] callahad commented on #2078
We're like, 99% there.

[2013-04-03 03:45] callahad commented on #1755
I'm going to reopen for these specific tasks:
- [x] Add DKIM signature to outgoing mail
- [ ] publish our DKIM public key at `dkim._domainkey.persona.org` (TXT)
- [ ] publish a DKIM ADSP policy `_adsp._domainkey.persona.org` (TXT)
- [ ] publish an SPF policy at `persona.org` (TXT and SPF)

[2013-04-03 03:49] jaredhirsch commented on #2078
\o/ :beers:

[2013-04-03 03:52] jaredhirsch commented on #1755
CHECKLIST WIN

[2013-04-03 05:58] ringe commented on #2043
@6a68 I'm sorry I haven't been able to look into this for a very long time. I'll try to get back to you soon.

[2013-04-03 10:22] shane-tomlinson commented on #2191
Thanks for checking @6a68 - I can no longer repro either.

[2013-04-03 11:43] shane-tomlinson opened #3178 "[signin] - dialog does not close after verifying second secondary address when logged in with primary"
STR

1) Have an account with a primary and secondary
2) If signed in to Persona, sign out
3) Sign in to Persona with primary address
4) Re-open dialog
5) Click "Add new email address"
6) Enter a new secondary email address
7) In a different browser, open verification link
8) Enter password
9) return to original dialog, it just sits there.

This affects the current beta.

![Screen Shot 2013-04-03 a

[2013-04-03 12:39] shane-tomlinson opened #3180 "user.js calls in state.js are not hooked up to error handlers."
It's not a problem until one of them fails as in #3172

[2013-04-03 13:03] shane-tomlinson commented on #2945
@6a68 - I cannot reproduce this. Can you give it a try, and if it is unreproducible, close?

[2013-04-03 13:06] shane-tomlinson commented on #2210
@jrgm - Are you still able to reproduce this?

[2013-04-03 13:13] shane-tomlinson commented on #2239
@lloyd: reassigning to you. Could you do something ghettotastic like in the provisioning iframe, save the origin of postMessage into localStorage and dynamically load the correct script when the authentication page is displayed?

[2013-04-03 13:21] shane-tomlinson commented on #3044
@callahad - What is the plan for this one?

[2013-04-03 13:22] shane-tomlinson commented on #2915
@jedp, @jrgm - is this still the case?

[2013-04-03 13:23] shane-tomlinson commented on #2914
@jedp, @jrgm - is this still the case?

[2013-04-03 13:24] shane-tomlinson commented on #2806
@6a68 - is this still the case?

[2013-04-03 13:26] shane-tomlinson commented on #2875
Relate to #2874

[2013-04-03 13:28] shane-tomlinson commented on #2879
There is code to take care of this now. It could use cleaned up, but that is another issue. Closing.

[2013-04-03 13:28] #2879 closed, assigned to seanmonstar

[2013-04-03 13:29] shane-tomlinson commented on #2656
@benadida - is this still on the priority queue?

[2013-04-03 13:31] benadida commented on #2656
Yes, very much so.
On Apr 3, 2013 6:30 AM, "Shane Tomlinson" notifications@github.com wrote:

[2013-04-03 13:32] shane-tomlinson commented on #2575
I can no longer reproduce this. Closing.

[2013-04-03 13:32] #2575 closed, assigned to jrgm

[2013-04-03 13:36] shane-tomlinson commented on #2874
@6a68 -

[code]

I have run this several times with 217/217 passes. Closing as "appears to be working." If this shows up again, re-open.

[2013-04-03 13:36] #2874 closed, assigned to shane-tomlinson

[2013-04-03 13:38] callahad commented on #3044
Assigning to me. Will verify that the locales are region independent.

[2013-04-03 13:44] shane-tomlinson commented on #2875
[code]

Closing as "looks good right now"

[2013-04-03 13:44] #2875 closed, assigned to lloyd

[2013-04-03 13:59] rikkiprince commented on #3151
Thanks to @graingert for telling me to submit it rather than just complain on Twitter :-)

You're completely right that the behaviour already gives away that an account exists, you're just not making it explicit to a human looking at it with their eyes or screenreader.

Many thanks for responding to my comment with such care and consideration.

[2013-04-03 15:38] shane-tomlinson commented on #2895
Closing as dup of #2239

[2013-04-03 15:38] #2895 closed, assigned to nobody

[2013-04-03 15:51] shane-tomlinson commented on #3104
@kparlante - have you seen this at all on the backend of things? I have been unable to reproduce on the front end.

[2013-04-03 16:40] shane-tomlinson opened #3184 "dialog/modules/verify_primary_user and dialog/modules/upgrade_primary_user are near duplicates"
These can be collapsed to reduce the amount of code where things can go wrong.

[2013-04-03 16:57] jaredhirsch commented on #2043
@ringe no worries :-) we are aiming to tackle fewer big goals for Q2 so that we can fix long-standing bugs that are lower priority. any time you can get back to us is great.

[2013-04-03 16:59] jaredhirsch commented on #2806
@shane-tomlinson no movement on this since end of last year, so we could do it but haven't.

[2013-04-03 17:08] shane-tomlinson commented on #3104
@jrgm - Are you seeing this in IE8 only? I just reproduced it there.

[2013-04-03 17:10] jaredhirsch commented on #2874
\o/

On Wed, Apr 3, 2013 at 6:36 AM, Shane Tomlinson notifications@github.comwrote:

[2013-04-03 17:11] jaredhirsch commented on #2875
\o/

On Wed, Apr 3, 2013 at 6:44 AM, Shane Tomlinson notifications@github.comwrote:

[2013-04-03 17:12] kparlante commented on #3104
I think I do see it when looking at the data on stage, but I'm not sure which flows. I'm going to do an "audit" where I look at the outputs of a bunch of different flows to diagnose another problem (with how the dashboard is interpreting data), I'll keep my eye out for this as well.

[2013-04-03 17:13] #2618 closed, assigned to shane-tomlinson

[2013-04-03 17:20] jaredhirsch commented on #2945
Yay! The dialog is unaffected by bad attempts and I get a helpful tooltip in the persona window:

![Screen Shot 2013-04-03 at 10 19 05 AM](https://f.cloud.github.com/assets/96396/335011/ae22befe-9c82-11e2-93e1-4c024ded117c.png)

Closing with gusto and an artful flourish :art:

[2013-04-03 17:20] #2945 closed, assigned to shane-tomlinson

[2013-04-03 17:31] kparlante commented on #3156
To ping the kpiggybank server, you can GET https://kpiggybank.personatest.org/wsapi/ping

[2013-04-03 17:36] kparlante commented on #3156
To look at the couchdb while on the box, you can get a count of blobs: curl -X GET http://127.0.0.1:5984/bid_kpi/_design/data/_view/count

[2013-04-03 19:19] jrgm opened #3187 "[kpi] coarse-user-agent-parser needs to learn about Windows 8 (reports os: 'Unknown')"
[code]

See https://github.com/mozilla/browserid/blob/dev/lib/coarse_user_agent_parser.js#L25. There needs to be a matcher for 'Windows NT 6.2'.

[2013-04-03 19:23] jrgm commented on #3156
Okay, kpi is live in production as of 11:00 PDT and data is being received. Closing.

[2013-04-03 19:23] #3156 closed, assigned to nobody

[2013-04-03 19:30] jrgm commented on #2043
I don't see a problem using either stage or production for either email address above. Closing, but reopen if you have a different result.

[2013-04-03 19:30] #2043 closed, assigned to lloyd

[2013-04-03 19:41] ringe commented on #2043
@jrgm That's because my .well-known/browserid is down. Now if you try to use either address you get to create a Persona account, which is not what it would be if the BrowserID protocol was in place and performing as it should.

Just give me some time, like @6a68 said. I'll get my provider up and going again, then see if it works.

[2013-04-03 19:58] jrgm commented on #3172
Should  be fixed via PR-3177.

[2013-04-03 19:58] #3172 closed, assigned to shane-tomlinson

[2013-04-03 19:58] jrgm commented on #3178
Should be fixed by PR-3179. Closing.

[2013-04-03 19:58] #3178 closed, assigned to shane-tomlinson

[2013-04-03 20:34] #3148 closed, assigned to shane-tomlinson

[2013-04-03 22:19] aral opened #3189 "Sign Up flow is confusing; conflates Sign Up with Sign In"
Starts with Sign Up:

https://twitter.com/aral/status/319550653099802625

Becomes Sign In (at this point I think I must have done something wrong/I don’t know what to do)

https://twitter.com/aral/status/319550872315113472

If I do enter my email as if I was going to sign in (this is wrong; the two flows have intersected confusingly), I go back to the Sign Up flow:

https://twitter.com/aral/status

[2013-04-03 22:47] edwindotcom opened #3191 "Possible b2g-blocker: Marketplace app sometimes dies due to OOM during identity login"
QA asked to escalate this issue, logged here for tracking purposes:
https://bugzilla.mozilla.org/show_bug.cgi?id=856240

Not sure if this is a b2g issue or browserid.

[2013-04-03 22:51] edwindotcom opened #3192 "running selenium automation_tests go fullscreen on opera"
1. run java -jar selenium-server-standalone-2.X.jar
2. get on mac opera (didn't check windows)
3. run automation_tests/scripts/run_all.js --local --platform=opera

actual: when tests run, opera goes fullscreen.  Something in the test framework or webdriver is causing browser to go 'mac' fullscreen (no menu bar)

expected: it shouldn't go fullscreen

[2013-04-03 23:03] edwindotcom commented on #3192
download and install? http://www.opera.com/computer/mac

automation-tests/config/local-platforms.js now supports 'opera'

[2013-04-03 23:15] edwindotcom commented on #3192
i believe opera works with this webdriver without anything opera specific: selenium-server-standalone-2.31.0.jar

#!/bin/sh
cd ~/Library/Selenium
exec java -Dwebdriver.chrome.driver=/Users/<YOU>/Library/Selenium/chromedriver -jar /Users/<YOU>/Library/Selenium/selenium-server-standalone-2.31.0.jar

[2013-04-03 23:19] jedp commented on #3191
Short answer: I would consider this a b2g issue.

Longer answer:

As I understand it, when marketplace opens the identity flow, marketplace goes into the background, and this is the beginning of the problem.  From the operating system's point of view, this makes marketplace look like a good candidate for killing if there's an OOM situation.  When the Persona process starts (remember, it's its own

[2013-04-03 23:23] jedp commented on #2914
I will verify.  Having trouble building latest b2g, but will check as soon as I have a build.

[2013-04-04 00:17] edwindotcom commented on #3191
Thanks for the update, I'll close this issue.

[2013-04-04 00:17] #3191 closed, assigned to nobody

[2013-04-04 00:20] edwindotcom commented on #3189
I'd vote for just removing the term 'Sign Up' altogether in favor of just 'Sign In' throughout .

[2013-04-04 00:31] jaredhirsch commented on #3189
@skinny97214 care to comment?

[2013-04-04 00:32] callahad commented on #3189
The vast majority of users will get bootstrapped through the popup workflow as they're trying to sign into a site using Persona for the first time. That experience is a lot cleaner.

But we wanted _something_ that let people sign up or sign in by hitting the service's homepage...

What if we killed the in-content flow on login.persona.org and actually started using the normal popup?

Paging @skinn

[2013-04-04 09:45] shane-tomlinson commented on #3189
relate to #3151

[2013-04-04 11:16] shane-tomlinson commented on #3189
@callahad - ahha, you suggest issue #900.

[2013-04-04 16:40] callahad commented on #3152
@skinny97214 Care to weigh in?

[2013-04-04 16:42] callahad commented on #3154
Assigning to @skinny97214 to clarify. Other comments and concerns coming up.

[2013-04-04 16:46] callahad commented on #3157
Sounds like this is resolved -- closing :)

[2013-04-04 16:46] #3157 closed, assigned to nobody

[2013-04-04 16:53] callahad commented on #3169
FTFY.

[2013-04-04 16:56] jaredhirsch commented on #2999
link to #3169

[2013-04-04 16:56] callahad commented on #3169
With #2999, we'll know whether or not the user has 3rd party cookies disabled, so we have a path to figure this out and give a good error message.

[2013-04-04 16:59] #3173 closed, assigned to shane-tomlinson

[2013-04-04 17:04] jaredhirsch commented on #3187
idk the source of our UA parser but this one's based on Browserscope data and might be worth considering: https://github.com/3rd-Eden/useragent

[2013-04-04 17:07] callahad commented on #3189
@skinny97214 Concrete proposal: We're going to use the popup unless you tell us no. Assigned to you to tell us what's up.

[2013-04-04 17:07] jaredhirsch commented on #3192
@AutomatedTester have you heard about this bug? Any hints?

[2013-04-04 17:08] lloyd commented on #3192
does this actually cause tests to fail?

[2013-04-04 17:09] callahad commented on #3192
@karlht to try to repro outside of our testsuite

[2013-04-04 17:10] callahad commented on #3192
Tests still work, but it steals focus _every_ test.

We need to buy QA more machines and/or fix this.

[2013-04-04 17:13] skinny97214 commented on #3152
@edmoz I'm confused on step 2. Where did you get find the /about link?

The current flow is clicking on the logo in the upper left of the popup takes you to the account manager page. Is that what you saw?

I agree that the navigation is confusing. If there's not already a bug open for different navigation, I'll open one. I have really old mocks for a new one kicking around somewhere. /me digs.

[2013-04-04 17:40] skinny97214 opened #3196 "add "Account" to the main nav"
Add a link for the Account Manager page to the top nav. I realize this is where the home link goes to, but we also need it explicitly in the top nav.

[2013-04-04 17:42] skinny97214 opened #3197 "move "Developer" from top nav to footer"
Move "Developer" from the top nav of login.persona.org to the footer.

[2013-04-04 17:44] skinny97214 commented on #3189
Kill sign up for a new account CTA inside login.persona.org. There's just no reason to make an account with no RP context. I'll open a new bug for the necessary home page change.

[2013-04-04 17:47] skinny97214 opened #3198 "make existing How it Works page the home page for new users"
If we don't have a cookie set for this user, show them the How it Works page as the home page.

[2013-04-04 17:48] skinny97214 opened #3199 "new page "please sign in""
For users that we've cookied, show them a big sign in prompt.

[2013-04-04 17:51] skinny97214 commented on #3189
For further context, our copy guideline are that it's always "sign in". We're following the pattern already established by other similar single sign on providers. There is no "sign up" or "sign on" only "sign in"

[2013-04-04 18:05] skinny97214 opened #3200 "replace all instances of "sign up" with "sign in""
Our copy guidelines are that it's always "sign in".

See #3189

[2013-04-04 18:26] skinny97214 commented on #3200
If someone would do a find in our codebase and flag all the places it shows up, I will review each.

[2013-04-04 18:44] callahad commented on #3189
@skinny97214 Just to make sure: No popup _or_ sign in button on login.persona.org?

[2013-04-04 19:07] jrgm commented on #3187
Yeah, perhaps a third-party library would ease maintenance, but for now, to get 'Windows 8', I fixed what's there.

[2013-04-04 20:15] skinny97214 commented on #3189
@callahad The sign in button can and should use the popup.

We have to allow _existing_ users to sign in, but we do not need to go out of our way to have a giant CTA on the home page for them to create an account.
![BG9FoD5CAAAxmsp png_large](https://f.cloud.github.com/assets/41135/341042/3154aa26-9d64-11e2-9b9f-76c8d4f57907.png)

[2013-04-04 20:19] callahad commented on #2999
Workaround for users: Add a third party cookie exception for `[*.]persona.org`

[2013-04-04 20:29] callahad commented on #3189
Gotcha. Thanks, @skinny97214 !

[2013-04-04 20:43] edwindotcom commented on #3192
Karl and I tested with just a dumb py script and were able to repro the going fullscreen issue.  So this isn't specific to what we're doing. I'm happy to close this as upstream.  There are a number of specific local selenium issues for different browser and OS configs.  Saucelabs value add is that they solve a lot of these specific config quirks.

[2013-04-04 20:48] jaredhirsch commented on #3192
There's no reason we can't up our Saucelabs pipeline. Having a bunch more
people developing Selenium tests seems like a great justification to me.

On Thu, Apr 4, 2013 at 1:44 PM, Edwin Wong notifications@github.com wrote:

[2013-04-04 20:56] jaredhirsch commented on #2999
Actually, depends on the browser. [*.]persona.org for chrome, but I think
persona.org is good enough for FF.

On Thu, Apr 4, 2013 at 1:19 PM, Dan Callahan notifications@github.comwrote:

[2013-04-04 21:45] karlht commented on #3192
As Edwin says, I was able to repro this issue outside of the Javascript webdrivers.  I'm inclined to tag it as upstream and emphasize Saucelabs testing over local.  In my opinion, local automated testing is best for very tightly focused testing of a single known issue.

[2013-04-04 22:13] skinny97214 commented on #421
Assigning to me for a mock.

[2013-04-04 22:25] edwindotcom opened #3202 "Need a way to supress alert dialogs to reduce webdriver test failures"
There's a known issue with alert dialogs on opera and safari (possibly more).  If we could have a query string param such as: 123done.org?noAlert=true that would suppress these errors, it would greatly improve our test stability.  Not sure of the implementation or security issues involved.

I'm on mac10.8 with safari installed:
1. run java -jar selenium-server-standalone-2.31.0.jar
2. run this fro

[2013-04-04 22:34] jaredhirsch commented on #3202
Maybe try hacking on this a bit
https://github.com/mozilla/browserid/blob/dev/automation-tests/lib/urls.js

On Thu, Apr 4, 2013 at 3:25 PM, Edwin Wong notifications@github.com wrote:

[2013-04-04 23:19] mattbasta opened #3205 "Packaged apps cannot authenticate with Persona"
Assertion verification fails in any manner of ways:

Result: `{u'status': u'failure', u'reason': u'audience mismatch: port mismatch'}`
Audience: app://{8fadbfca-d3e7-304d-b364-854d11695f8b}

When the audience is running on the `app:` scheme, port should not be checked as part of the audience verification process.

[2013-04-04 23:21] jaredhirsch commented on #3205
@jedp care to triage this puppy?

[2013-04-04 23:26] jedp commented on #3205
Yes, the verifier does not like addresses that are not proper http or https urls.  One solution would be for us to open up the verifier to accept `app://` (or `chrome://` or `resource://` or whatever); another would be to find a pattern for apps to use that would send the origin of the server behind them to the verifier, since that's what's really interested in the identity.

I understand that we

[2013-04-04 23:26] mattbasta commented on #3205
It should be noted that this blocks the Marketplace.

cc @cvan

[2013-04-04 23:43] jrgm commented on #3187
Pull request landed to recognize Windows 8 (Windows NT 6.2). Closing.

[2013-04-05 03:19] benadida commented on #3205
@mattbasta sounds like we should pow-wow quickly to understand what you need.

In my opinion, logging into a local app makes little sense... the user typically logs into a networked service with an http or https origin. But I'm open to discussion! Would be good to discuss your packaged app approach, the options you're looking at, etc. Maybe a quick chat tomorrow (Friday)?

[2013-04-05 04:42] mattbasta commented on #3205
Sounds good, are you in MV?
On Apr 4, 2013 8:19 PM, "Ben Adida" notifications@github.com wrote:

[2013-04-05 15:27] edwindotcom commented on #3202
I'd be happy with crew:automated-tests, there are only 3 open and 34 closed so there won't be too much collision.

[2013-04-05 15:30] edwindotcom commented on #3192
I'm closing since there no action here for us.

[2013-04-05 15:30] #3192 closed, assigned to karlht

[2013-04-05 17:45] jaredhirsch commented on #3187
actually closing

[2013-04-05 17:45] #3187 closed, assigned to jrgm

[2013-04-06 06:23] #2066 closed, assigned to shane-tomlinson

[2013-04-08 15:08] shane-tomlinson opened #3206 "user.js->userid can be called without there being context"
user.js->userid depends on session_context being called, yet this cannot be guaranteed in its current incarnation. It should be asynchronous and ensure session_context is called first.

[2013-04-08 15:58] shane-tomlinson commented on #3189
@skinny97214 - what is a CTA?

[2013-04-08 16:06] shane-tomlinson commented on #3200
This is quick and dirty:

[code]

[2013-04-08 16:29] ozten commented on #3189
CTA - Call to Action - Like a button that says "Create Account"

[2013-04-08 17:25] #3125 closed, assigned to shane-tomlinson

[2013-04-08 17:36] shane-tomlinson commented on #3189
Thanks @ozten, my UX vocabulary isn't very deep yet.

[2013-04-08 17:43] shane-tomlinson commented on #3154
@skinny97214 - Can you elaborate more? My initial fears are that this is going to require a substantial amount of both work and testing to ensure our layout still functions correctly in letterific locales like German and Swedish. I want to find out more about the requirements before I go running for the hills.

[2013-04-08 17:44] shane-tomlinson commented on #3169
Link to #3116

[2013-04-08 19:48] jrgm opened #3208 "need tool to check a verifier can properly handle an assertion"
In turning up AWS, where I have a verifier but not a functioning webhead, I needed a way to post an assertion the verifier and check the result. This would also be useful during deployments of trains as a check.

[2013-04-08 21:37] jaredhirsch opened #3210 "add IDL cat signal snippet to persona properties"
feel kinda bad to open as a ticket instead of PR, should be straightforward. anybody object to third-party code on persona.org (not in the dialog) and maybe the persona tumblr?

See internetdefenseleague.org for details.

[2013-04-08 21:41] jaredhirsch opened #3211 "persona dialog hogs focus FF/linux"
@callahad has seen this on Gnome 3, reported by nemo in IRC this afternoon.

While the persona dialog is open, it stays on top of other open windows--a bit of a pain when you're waiting for the email to arrive.

Bug found on FF on linux, I can't repro on other platforms.

Not clear if this is an upstream bug (bug in OS window mgmt) or something we can improve by tweaking the window.open params.

[2013-04-08 22:15] callahad commented on #3210
I'd be -1. A breach on persona.org could expose certs / private keys, right? We've moved to hosting fonts and other assets ourselves for that reason.

[2013-04-08 23:33] jaredhirsch commented on #3210
Yeah, I was thinking about that. I suppose I'd have to sandbox their snippet inside an iframe.

[2013-04-09 00:04] jrgm opened #3212 "/include.orig.js is 404 on train-2013.03.29 on stage"
1. Go to https://login.anosrep.org/include.orig.js => 404

lib/static/views.js is looking for it in /build/include.js, but there is nothing there. Nor do I see a file `include.orig.js` anywhere in the unpacked rpm.

[2013-04-09 01:33] #3160 closed, assigned to shane-tomlinson

[2013-04-09 08:44] shane-tomlinson commented on #3212
This is the revenge of #3056 I believe. @callahad - wanna look at this?

[2013-04-09 08:45] shane-tomlinson commented on #1971
#3056 is merged, closing.

[2013-04-09 11:21] #3129 closed, assigned to jaredhirsch

[2013-04-09 12:20] shane-tomlinson commented on #3212
@jrgm - how is the server process started on staging/prod, is run_locally.js called at all?

[2013-04-09 12:40] shane-tomlinson commented on #2344
Link to #2981

[2013-04-09 13:17] shane-tomlinson commented on #2626
@callahad, @jrgm - I am able to sign in using Opera on beta.123done.org. If the INVALID_CHARACTER_ERR is still a problem, can you open a separate issue? Closing as "works for me!"

[2013-04-09 13:17] #2626 closed, assigned to shane-tomlinson

[2013-04-09 14:16] callahad commented on #1971
reopening so I can find it when I get home -- we haven't completely fixed the duplication yet, just made it fixable...

[2013-04-09 14:17] callahad commented on #3212
sure thing

[2013-04-09 15:31] David263 commented on #919
In view of the fact that the same error message ("LastPass detected a login form that is insecure.") can appear for pages that do not contain forms at all (https://forums.lastpass.com/viewtopic.php?t=79504), this is probably purely a LastPass bug.

[2013-04-09 15:55] sudhirj commented on #3107
Glad to see we're now on Beta2... but still no helpful error messages :(

The relay frame problem isn't going to go away any time soon, but if we're trying to encourage adoption we really shouldn't be putting users into figurative infinite loops on popular browsers.

[2013-04-09 18:15] sergiotapia opened #3216 "Have an avatar/picture associated with a Persona."
When a user registers with OpenID they usually use an icon either saved from Gravatar or something else.

I would like it if Persona handled this natively and had some sort of Avatar/Picture associated with a user.

I'm not that familiar with the internals, but based on my limited knowledge on Persona, I imagine this would need to be handled by the persona ID provider.

[2013-04-09 18:20] jrgm commented on #3212
So npm install is run on a build box and then an rpm is packaged with scripts/rpmbuild.sh and scripts/browserid.spec. That rpm is installed on stage/prod and is started with a shell script that sets CONFIG_FILES and does `bin/browserid`.

So, no, no run_locally.js.

[2013-04-09 19:18] jrgm commented on #2626
Yeah, works for me now on Opera 12.14 osx. It still occurs on 12.02, but that is an old version.

[2013-04-09 19:24] jaredhirsch commented on #3107
@sudhirj We've just launched Beta 2 this morning, I hope we didn't give the impression that this would be fixed as part of the Beta 2 release. It was blocked by the release.

[2013-04-09 19:47] appsforartists commented on #3045
How hard would it be to use this:

https://github.com/guyht/notp

[2013-04-09 21:42] lloyd commented on #1523
+1 from irc:

[code]

[2013-04-09 22:01] janfrode commented on #1523
I'm working for an ISP, hosting quite a few mail domains. Many second level domain-names are already taken by various websites which isn't running HTTPS, and if they do we likely only have the www.example.com name in the cert. For partner domains that are already running plain http for www.example.com, it will be problematic to suddenly occupy example.com with a ssl-enabled web service.

IMHO SRV-

[2013-04-09 22:54] jrgm opened #3218 "Investigate switching to UTC on all systems"
Historically, our production systems have been on PDT and that will continue in AWS.

But we really should look into changing to UTC, especially since DST Fall back and mysql (if we continue to use mysql) is not simple to get correct.

[2013-04-09 23:19] jaredhirsch commented on #3218
+1. tis a recipe for failsauce

[2013-04-09 23:20] vmunix commented on #3218
See also: https://github.com/mozilla/identity-ops/issues/16 and avoid the 1 MILLION YEARS DUNGEON.

[2013-04-10 00:00] jaredhirsch commented on #3094
@edmoz yeah, login.persona.org is busted because it shows the login form without doing a cookie check.

Here's the error message I see in the console: QUOTA_EXCEEDED_ERR: DOM Exception 22: An attempt was made to add something to storage that exceeded the quota.

This should also affect private browsing on MobileSafari. Moving this bit (the login.persona.org site bug) to a separate bug.

[2013-04-10 00:02] qmx commented on #1523
so how are the concrete next steps to make this happen? just finding the time to do it? maybe I can help to bootstrap this part with some guidance...

[2013-04-10 00:08] jaredhirsch opened #3219 "Safari: footer not positioned correctly in Private Browsing mode"
busted in MobileSafari and desktop Safari/Mac.

![Screen Shot 2013-04-09 at 5 05 13 PM](https://f.cloud.github.com/assets/96396/359840/560f764a-a172-11e2-8263-d6de3b796de0.png)

![Screen Shot 2013-04-09 at 5 06 13 PM](https://f.cloud.github.com/assets/96396/359847/7b7ce43a-a172-11e2-8169-ec5a15e4ef4b.png)

[2013-04-10 00:10] jaredhirsch opened #3220 "Persona site doesn't detect when Safari is in Private Browsing mode"
Extracted from discussion in #3094. If Safari is in Private Browsing mode, it'll throw when we touch localstorage. We should detect and bail before letting the user enter an email address.

Using Safari in private browsing mode:
1. go to https://login.persona.org
2. entering an email click submit

results in loading this:
https://login.persona.org/signin? with no other visual indication that anyth

[2013-04-10 00:10] lloyd commented on #1523
Concrete steps - run it through the identity list one last time to surface and major objections - then implement and send a pull request.

We will also need to create a way to test in an automated fashion, but that should be pretty doable.

-- lloyd (thumb-typing)

On Apr 9, 2013, at 6:02 PM, Douglas Campos notifications@github.com wrote:

[2013-04-10 00:15] jaredhirsch commented on #3094
@shane-tomlinson So, it seems like this is actually a bug in 123done's implementation? Do we need to fire an event if third-party cookies are disabled, so RPs can do the right thing?

[2013-04-10 03:11] callahad opened #3221 "check_primary_support fails silently unless ephemeral keypair present"
This is the second report I've seen of check_primary_support stalling and never returning info: https://twitter.com/Lukasaoz/status/320967071934603264

[2013-04-10 03:12] callahad opened #3222 "Point docs to CheckMyIdP.org"
We should really send people to CheckMyIdP.org, since it's awesome.

[2013-04-10 04:26] benadida commented on #3218
oh man, I didn't catch that way back when? That is not cool, Ben, not cool. I need an explanation re: this dungeon, though.

[2013-04-10 04:37] vmunix commented on #3218
@benadida that would be lemongrab: http://www.youtube.com/watch?v=9BbRffBCeYw

[2013-04-10 07:13] Lukasa commented on #3221
I got this failure on Mac OS X 10.8.2 (Mountain Lion), using Node version v0.10.3 (which is the version you get if you install from Homebrew).

[2013-04-10 07:41] jrgm commented on #3221
Works for me on either hand-rolled 0.10.3 or 0.8.17 on Mac OS X 10.7.5 (which isn't a "no you're wrong", but just "need a better way to narrow this down").

[2013-04-10 08:05] Lukasa commented on #3221
To be totally clear, I'm not very familiar with Node at all, so it's quite possible that I've done something stupid. I don't think I did though :smile:.

When I stepped through this in the debugger, execution went basically as I expected to [here](https://github.com/mozilla/browserid/blob/dev/lib/primary.js#L149), and then it never hit the callback [here](https://github.com/mozilla/browserid/blob/

[2013-04-10 15:05] shane-tomlinson commented on #3216
This is a dup of #1589, closing. @sergiotapia - I personally would love to see this too. Can you pile on in that issue?

[2013-04-10 15:05] #3216 closed, assigned to nobody

[2013-04-10 15:42] sergiotapia commented on #3216
@shane-tomlinson  When you say pile on, do you mean just write a comment on the issue mentioning my interest in such a feature? I'm kind of new to this 'large' open source contribution thing.

[2013-04-10 16:26] seanmonstar commented on #3221
Could it be like we've seen just recently on the list, an SSL error? Maybe
one of you guys have the cert cached on your Mac, and the others don't?

[2013-04-10 16:26] callahad commented on #3216
@sergiotapia Yep, that's the idea. Everything is pretty chaotic, so more noise and history in a bug is generally a good proxy for "this is really important to a lot of people" :)

[2013-04-10 16:27] callahad commented on #3216
At least for our specific workflow. It's DEFINITELY not a universal thing :)

[2013-04-10 17:12] Lukasa commented on #3221
Do you have a link to the issue on the list? I'm not subscribed to it so I can't really say.

[2013-04-10 17:40] callahad commented on #3221
@Lukasa A quick way to rule out sean's suggestion would be to try to run check_primary_support against a known-good primary, like eyedee.me. Does that fail in the same way for you?

[2013-04-10 17:42] Lukasa commented on #3221
It does, yes.

[2013-04-10 17:44] callahad commented on #3221
Cool. I suspect a node 0.10 issue, since most of us are still on 0.8... but haven't had a chance to actually try upgrading myself

[2013-04-10 17:46] Lukasa commented on #3221
When I get some spare time, I'll see if installing 0.8 fixes my issue. =)

[2013-04-10 18:32] benadida commented on #3205
We discussed this in person and concluded:
- the packaged app includes an IFRAME to a hosted static page at https://marketplace, which includes the shim and invoke the navigator.id calls.
- the packaged app uses .postMessage() to send a "I'm ready" message to the hosted IFRAME, so the IFRAME can get the packaged app's origin from the message event.
- the hosted app sends the assertion back to the

[2013-04-10 18:40] callahad opened #3225 "BigTent broken on login.persona.org/signin?"
Via https://news.ycombinator.com/item?id=5525606

[2013-04-10 18:41] callahad commented on #3225
I'd be particularly interested in sixbrx's OS, browser and version, and whether or not 123done.org fails similarly.

[2013-04-10 18:45] lloyd commented on #3225
yes please.  I really want to understand this.  please drop into our irc room (#identity on irc.mozilla.org)and we can work through it live.

Outside of that you could try going to yahoo.com, logging out, and then trying to log in.

Whatever the workaround, we want to understand the cause.

[2013-04-10 18:59] callahad commented on #3225
It _sounds like_ provisioning is happening successfully, but the transition to the account manager isn't happening.

I suspect logging into a normal RP, like 123done.org, would work for sixbrx.

[2013-04-10 19:01] jrgm commented on #3221
Yeah, I missed that the "fail" was that it never returns. Missed that. With 0.10.3 I see that. The answer comes back okay, but it never exits. Or actually, if you wait long enough, it will exit. Anyways, looking at the code, I'm not sure how this ever worked ;-). It's registering listeners on the request not the response.

[2013-04-10 21:15] mattbasta opened #3228 "navigator.id.request needs an "onsuccess" callback."
You can use `navigator.id.watch`, but it's frustrating and difficult to use if you have a particular set of methods on individual objects that need to change. The lack of callback support makes using Persona with promises difficult at best.

[2013-04-10 22:00] jaredhirsch commented on #3228
Can you explain a little more about your current use case?

[2013-04-10 22:02] mattbasta opened #3229 "`navigator.id.watch()`'s `onlogout` does not get fired when `navigator.id.logout()` is called."
I think this happens when there is no logged in user. If the site thinks, though, that the user is logged in and calls `navigator.id.logout()`, it's not misguided to assume that the site expects to know when the logout has completed.

Another ideal option would be to add a callback to `logout()` which would indicate when the user has been logged out.

[2013-04-10 22:19] mattbasta commented on #3228
We're looking to create deferreds around Persona. That means being able to reject and resolve deferreds, but we can't use lexical scope because you don't have your `onlogin` handler for `navigator.id.watch` in that scope.

The workaround we have is that we're basically creating a queue of deferreds for outstanding login attempts, and resolving or rejecting all of the deferreds in the queue when we

[2013-04-10 22:19] mattbasta commented on #3228
cc @cvan

[2013-04-10 23:16] jaredhirsch commented on #3228
@mattbasta I think I see what you're getting at, but I'd love to see some code. Is there anything I can poke at?

[2013-04-10 23:24] mattbasta commented on #3228
Here's the code that I've been working on:

https://github.com/mozilla/fireplace/blob/dfa974ea397419478584a944380db9535fb2d47c/hearth/media/js/login.js#L24

On Wed, Apr 10, 2013 at 4:16 PM, Jared Hirsch notifications@github.comwrote:

[2013-04-11 00:05] edwindotcom opened #3231 "General update any old browser, OS, and selenium versions"
- win7_firefox_16
- linux_firefox_16
- osx_firefox_14
- win7_chrome
- winxp_ie_8
- win7_ie_9
- win8_ie_10
- linux_opera_12
- osx_safari_5

Firefox -> 20
Mac 10.6 is also old.

If we bump the version, we also need to increase our version of selenium, according to saucelabs. Currently 2.26 to the latest 3.31.

To do this we would:
0. run all tests on all platforms with current set locally. Save resu

[2013-04-11 01:11] jedp commented on #3205
Awesome.  Since a solution has been agreed upon, I'll close this.

[2013-04-11 01:11] #3205 closed, assigned to jedp

[2013-04-11 03:35] caizixian opened #3232 "Hope a cookbook for Django devoloper!"
**Hope a cookbook for Django devoloper!**

[2013-04-11 03:41] callahad commented on #3232
You should probably use https://github.com/mozilla/django-browserid :)

[2013-04-11 04:03] rmorlok commented on #2423
I also encountered this issue in my project. I was able to get around it by by making an AJAX call back up to my product's endpoint to verify the assertion/setup session cookie, and then doing the redirect to the next page on the client side when the ajax call returned. Prevents you from interrupting the response from the persona iframe, and thus triggering the logout failure case.

[code]

Can an

[2013-04-11 04:22] fmarier opened #3233 "Tighten up redirect rules on browserid.org and *.persona.org"
This is a meta-bug to track the resolution of all of these bugs:
- [ ] https://github.com/mozilla/browserid/issues/2420
- [ ] https://github.com/mozilla/browserid/issues/2419
- [ ] https://github.com/mozilla/identity-ops/issues/113
- [x] https://github.com/mozilla/browserid/issues/2038
- [ ] https://bugzilla.mozilla.org/show_bug.cgi?id=779710

We have a test script which encodes the correct redire

[2013-04-11 04:23] fmarier commented on #3233
This is currently blocked on the AWS migration as well as the [third-party library review](https://id.etherpad.mozilla.org/3rdparty-lib-reviews) since we should minimize the number of RPs we break when we roll out this change.

[2013-04-11 05:04] callahad commented on #3233
/me ninja-edits Francois' bug to add checkboxes.

[2013-04-11 08:39] shane-tomlinson commented on #3229
@callahad - this has been discussed before.

@mattbasta - the onlogin/onlogout callbacks are only supposed to be fired when Persona believes the state of the world is different than the site believes OR if Persona's view of the state of the world changes. Since Persona believes the user is already logged out, no onlogout is fired.

To try and get some context into what you are trying to achieve, i

[2013-04-11 09:15] shane-tomlinson commented on #3212
@jrgm - are any resources that we place into the "production" subdirectory included in the rpm package? I am thinking if we still do the initial build step to create the uncompressed include.js into build, then copy that as include.orig.js into production, it should be copied into the rpm and available to people that request it.

[2013-04-11 16:49] callahad commented on #3189
I'm hoping to hack on this soon.

[2013-04-11 17:02] callahad commented on #3210
Closing as wontfix :(

[2013-04-11 17:02] #3210 closed, assigned to nobody

[2013-04-11 17:02] callahad commented on #3211
I need to verify this, will update later.

[2013-04-11 17:05] callahad commented on #3218
We need to make sure we can make the switch without breaking anything.

Namely, how is MySQL handling timestamps?

[2013-04-11 17:10] mattbasta commented on #3229
I'm not sure what the cause of the state discrepancy is on our end (i.e.: our app believing that the user is logged in when Persona doesn't think so). The way we structure our code is to put full faith in Persona and use `onlogin`, `onlogout`, and `navigator.id.request`'s `oncancel` to determine when each operation has finished. It may be that there is a deeper issue higher up in the Marketplace/P

[2013-04-11 17:11] callahad commented on #3225
We should try mixed case logins...

[2013-04-11 17:13] callahad commented on #3225
@lloyd reprod successfully with a mixed-case user part.

[2013-04-11 17:14] lloyd commented on #3225
confirmed, exact behavior can be caused by inputting a mixed case user part of a yahoo email.

[2013-04-11 17:16] callahad commented on #3228
@shane-tomlinson and @lloyd to think more about this...

[2013-04-11 17:20] jaredhirsch commented on #3231
Let's update it for sure. PRs welcome, I'm happy to review.

[2013-04-11 17:21] ozten commented on #3232
If you want better documentation, please file an issue against django-browserid

[2013-04-11 17:22] #3232 closed, assigned to nobody

[2013-04-11 17:29] seanmonstar commented on #2423
You're verifying the assertion on your server with an ajax call, and once
verified, sending the user to a logged in page? Sounds perfectly fine to me.

As long as you don't log in users if the assertion is invalid :)

[2013-04-11 17:31] jedp opened #3239 "Documentation for new contributors"
We might have a section in the README explaining how best to contribute

[2013-04-11 20:12] edwindotcom opened #3242 "clicking Add button goes disabled (grey) then enabled for a second before redirecting to 'yahoo makes this easy' page'"
moved from https://github.com/mozilla/browserid-bigtent/issues/190

logging for @graingert , he's on ubuntu with Firefox 20

you can watch it here at the 14sec mark:
http://www.youtube.com/watch?v=6tXcWmNC0u0#t=14s

[code]

result: the 'Add' button becomes disabled/greyed/alpha 50%, then becomes enabled/alpha 100% then after 1-2 sec on a slower connection, then redirects to 'loading yahoo' page

e

[2013-04-11 23:10] #3079 closed, assigned to nobody

[2013-04-12 01:47] jaredhirsch opened #3243 "cert_key wsapi err handling question"
https://github.com/mozilla/browserid/blob/dev/lib/wsapi/cert_key.js#L35

Are we missing an `if (err) handleErr` here or am I missing something?

_meta: better to ask specific code-related questions here or on mailing list?_

[2013-04-12 02:23] jrgm commented on #3243
Yes, possibly. But be aware that `err` could mean two things: a database error from `client.query` or the string 'no rows found'.

https://github.com/mozilla/browserid/blob/dev/lib/db/mysql.js#L260

[2013-04-12 05:26] jrgm commented on #3208
Closed by PR-3209. Verified.

[2013-04-12 06:43] sesam commented on #2078
Since Beta 2 has been launched, is this issue done?

[2013-04-12 06:56] jaredhirsch commented on #2078
I don't think so, since the specs repo hasn't been updated recently:
https://github.com/mozilla/id-specs

On Thu, Apr 11, 2013 at 11:43 PM, Simon B. notifications@github.com wrote:

[2013-04-12 08:04] callahad commented on #2078
Taking this. Sleeping in tomorrow, will tackle that evening.

[2013-04-12 16:44] tangstad commented on #2998
Could not reproduce on current code.

Tried reproducing with example/rp/index.html:
1. start local webserver (python -m SimpleHTTPServer 8000
2. open page in browser: http://localhost:8000/example/rp/index.html
3. click "get an assertion"
4. enter username/password and login
5. click logout
6. click logout again

After 4, verified that login had been logged to the page, and after 5 verified that l

[2013-04-12 20:33] seanmonstar commented on #2998
Code that fixed another issue also inadvertently fixed this issue: https://github.com/mozilla/browserid/commit/5d24e404d5676a89463e53aae6ddf9a9622be754

It didn't used to check if `loggedInUser` was null before triggering the logout event. Now it does.

[2013-04-12 20:33] #2998 closed, assigned to nobody

[2013-04-12 21:49] karlht opened #3245 "Proxy IdPs with domain name in ALL CAPS or MixedCase treated as secondary"
@jrgm to add colour commentary -- but the basic case is this:

karl_thiessen@yahoo.com is treated as a proxied primary.
karl_thiessen@YAHOO.COM is treated as a secondary.

[2013-04-12 21:53] jrgm commented on #3245
Here is the difference, between a primary in upper/lower, and a proxy_idp domain in upper/lower.

https://login.anosrep.org/wsapi/address_info?email=somerandom%40eyedee.me

[code]

https://login.anosrep.org/wsapi/address_info?email=somerandom%40EYEDEE.ME

[code]

https://login.anosrep.org/wsapi/address_info?email=somerandom%40yahoo.com

[code]

https://login.anosrep.org/wsapi/address_info?email=so

[2013-04-13 02:54] jrgm commented on #3208
Forgot to hit close. Doing so now.

[2013-04-13 02:54] #3208 closed, assigned to nobody

[2013-04-13 04:16] ethernomad commented on #2560
Video of the problem: http://www.youtube.com/watch?v=__vj5bULgD0

[2013-04-13 05:05] callahad commented on #2560
Suspecting the same root cause as #2423

[2013-04-13 16:25] Lukasa commented on #3221
Hmm. Installing v0.8 hasn't fixed the issue, and neither has updating to the latest HEAD (which presumably includes #3185. Any further thoughts about areas I might look into?

[2013-04-13 17:23] callahad commented on #3221
@Lukasa Really? Hrmph.

Here's what I see when I run it. How does your output differ?

[code]

[2013-04-13 17:30] Lukasa commented on #3221
[code]

[2013-04-13 17:39] callahad commented on #3221
Alright, I'm actually on OS X 10.7, as is @jrgm. Let me go find a box with 10.8 on it...

[2013-04-13 18:00] callahad commented on #3221
Oh, great. I can reproduce this on OS X 10.8.2.

[2013-04-13 18:01] Lukasa commented on #3221
Phew. I was afraid I might be going crazy or missing something really obvious. =)

[2013-04-13 18:05] callahad commented on #3221
I just... why would this break between 10.7 and 10.8 on the same version of node? :cold_sweat:

[2013-04-13 18:06] callahad commented on #3221
I'll try to come up with a minimal test case by Monday.

[2013-04-13 18:06] Lukasa commented on #3221
Yeah, right now I have infinite sympathy for this you with this bug. :cake:

[2013-04-13 19:13] callahad commented on #3221
Woo! I've got it!

@Lukasa Run `node ./scripts/generate_ephemeral_keys.js`, then try to use `check_primary_support` again.

[2013-04-13 19:19] callahad commented on #3221
Basically, `primary.js` tries to load a local keypair, which fails on fresh checkouts of the repo because, well, you haven't generated it yet.

However, it fails before logging is set up, so you never see the error message.

By commenting out the `logging.enableConsoleLogging()` line in `check_primary_support` and then running `LOG_TO_CONSOLE=1 ./scripts/check_primary_support yahoo.login.persona.o

[2013-04-13 19:20] Lukasa commented on #3221
Victory! Works like a charm!

Awesome, thanks so much guys. =)

[2013-04-13 19:21] callahad commented on #3221
/me re-titles issue to "check_primary_support fails silently unless ephemeral keypair present"

[2013-04-14 15:08] gene1wood opened #3247 "UI treatment needed for 500 pages"
Currently when node services a 500 Internal Server Error due to some internal code problem the user is presented with a persona UI consistent page. When nginx serves a 500 the user sees an inconsistent default nginx 500 page.

Please
1. modify the UI treatment of the node error page to encode the fact that the error is being presented by node, and possibly some details of the cause of the error. T

[2013-04-15 06:24] joelcox commented on #2661
Experimental SPDY support [landed in nginx](http://nginx.org/en/docs/http/ngx_http_spdy_module.html). I wasn't too pleased with the stability of the SPDY module for Node, to be honest.

[2013-04-15 19:01] lloyd opened #3249 "we need cache headers on .well-known/browserid"
discovered with @gene1wood that there is no cache header - which is potentially ambiguous - and doesn't give a clear signal to verifiers how long they may cache.

/cc @jrgm

[2013-04-15 19:13] jrgm commented on #3160
verified for train-2013.04.12 and dev branches.

[2013-04-15 19:34] #3221 closed, assigned to callahad

[2013-04-15 20:53] callahad opened #3250 ""Add another address" / "this is not me" buttons reflow poorly in non-English locales"
[Reported on the mailing list](http://thread.gmane.org/gmane.comp.mozilla.identity.devel/4159)

In some locales, like French and German, the "Add another email address" and "This is not me" buttons overflow their container and look bad:

![Screenshot of issue](https://f.cloud.github.com/assets/24193/383185/d492d430-a60e-11e2-889d-849b924ac64e.png)

[2013-04-15 22:02] Lennie opened #3252 "Looks like https://login.persona.org/ isn't using TLS session tickets"
Looks to me like https://login.persona.org/ isn't using TLS session tickets this adds a lot of connection overhead when a second TLS connection is created.

It looks like Nodejs already has code to handle it in 0.8: https://github.com/joyent/node/issues/2846

I thought 0.8 was already in use in production.

[2013-04-15 22:16] jaredhirsch commented on #3250
yeah, that doesn't look great. I'm not sure how we could improve this with just a tweak.

Right-aligning or left-aligning those grey buttons is just going to look awkward, and so will keeping the grey buttons on one line, so that they stretch past the blue button.

[2013-04-15 22:20] seanmonstar commented on #3252
0.8.x is in production. That ticket suggests the speed up was from using 64bit nodejs. Worth investigating...

[2013-04-15 22:32] callahad commented on #3252
Wouldn't this be nginx's job? Or are we letting node handle TLS itself in production?

[2013-04-15 22:33] callahad commented on #3250
To start, it might help to give the buttons some measure of `margin-top` so they at least have some space when that happens...

[2013-04-15 23:58] jrgm commented on #3252
We use 64bit node 0.8 in production, but ssl is handled by Zeus currently and will be handled by ELB on aws.

[2013-04-16 07:41] shane-tomlinson commented on #3250
@skinny97214 and I fixed this exact problem yesterday, but I have not yet submitted a PR for it. Will do today.

[2013-04-16 14:57] shane-tomlinson commented on #3202
@skinny97214 says that using alerts is bunk. We should create our own lightbox with a [Sandstone](https://www.mozilla.org/b/en-US/sandstone/) style.

[2013-04-16 14:59] shane-tomlinson commented on #3049
Relate to #3202

[2013-04-16 15:01] shane-tomlinson commented on #2937
@lloyd - did you fix this already? If you did, can you close this?

[2013-04-16 15:25] skinny97214 commented on #3107
Can we separate out into two message:
1. Your browser isn't supported.
2. unknown error

And... do we have any browser-specific help message we could give them instead of just the generic "you're browser isn't supported?"

[2013-04-16 16:11] edwindotcom commented on #3202
for a one two punch, I'm going to work on adding another option to run-all.js --ignore-test=remove-email that way we can omit tests per browser/os config.

[2013-04-16 17:45] benadida commented on #3151
@skinny97214 I don't believe this opens up any new security issue, as it is already trivial to determine if a user's account already exists with the current UI. So this looks to me like a UI issue entirely, which means it's up to you Crystal :)

[2013-04-16 19:31] #2308 closed, assigned to nobody

[2013-04-16 19:31] #2999 closed, assigned to nobody

[2013-04-16 22:40] seanmonstar commented on #2423
will be my first priority starting on Monday

[2013-04-17 10:39] wrr opened #3261 "Verifier compliance test suite"
An idea discussed on dev-identity mailing list is to create a set of language independent (probably JSON encoded) test cases that verification libraries could use to make sure corner cases are handled correctly. The format would need to encode a time stamp to be mocked during verification and an expected outcome. Something like:

[code]

[2013-04-17 15:53] jaredhirsch opened #3263 "Split verifier into its own repo"
A baby step on the road to better verifier docs.

If split out from the main browserid monolith, this would be way less code to grep through, if folks just want to look at our implementation as a starting point. Also it'd give us a natural place to host relevant info like the test suite, specs/data formats (or links to them), etc.

For more context, see the [verifier docs discussion](https://group

[2013-04-17 16:16] callahad commented on #3263
There is some shared code that we'll want to extract out (which is going to be awesome) around authority discovery.

Or move that into the verifier and have the mozilla/browserid repo depend on the verifier? Ooh! I like that!

[2013-04-17 17:52] #2871 closed, assigned to shane-tomlinson

[2013-04-17 18:03] alexsaves opened #3264 "Having difficulty verifying account"
I keep going through the verification process without success. When I follow the verify link, it just gives me a blank page in the mozilla template. See video: http://screencast.com/t/dYCrxyuRPEew

[2013-04-17 18:59] karlht commented on #3264
I am unable to reproduce this bug on my setup.  @alexsaves, may I ask what OS you're using, and what browser and version?  Do you have third-party cookies disabled, and are you using any extensions?  Let's see if we can replicate your setup as closely as possible.

[2013-04-17 19:02] alexsaves commented on #3264
Using Windows 7. Happens in FireFox but I just found that it works fine in Chrome. I have Flash disabled in FF. Does that matter?
https://login.persona.org/verify_email_address?token=SFppesoRlKGmnN1z3D6zQXfc15LfHkrXDQgA8g23HZN6mf0w

[2013-04-17 19:04] callahad commented on #3264
I don't have Flash on my machine either. I wonder if somehow localStorage or related was disabled or an addon was interfering...

[2013-04-17 19:09] alexsaves commented on #3264
Possibly. Is it just a redirect, or is there a session token or something that is missing?

[2013-04-17 19:14] seanmonstar commented on #3264
Is there an error thrown in the JavaScript?

Ctrl + Shift + K will show you the JS console. Open it before click the
link, and be sure JavaScript and Logging buttons are enabled.
​

[2013-04-17 19:16] alexsaves commented on #3264
![jserror](https://f.cloud.github.com/assets/867447/393248/5354d716-a793-11e2-8777-0ca8236102c8.PNG)
Actually yah there is an error. Check out the screenshot

[2013-04-17 19:21] seanmonstar commented on #3264
Interesting. Every release versions that browserid.js with its hash. Which
one do you see currently in source? This is the one I see:
https://static.login.persona.org/v/0c70f59571/production/en/browserid.js

[2013-04-17 20:07] alexsaves commented on #3264
https://static.login.persona.org/v/0c70f59571/production/en/browserid.js

[2013-04-17 20:07] alexsaves commented on #3264
I think because I'm using firebug it breaks on errors. Maybe thats why its not proceeding.

[2013-04-17 20:15] seanmonstar commented on #3264
There's an option in Firebug to break on all errors, or only uncaught, or
not at all.

[2013-04-17 20:24] alexsaves commented on #3264
Sure.. but it seems like a missing curly brace would be a fairly serious uncaught error.

[2013-04-17 21:30] callahad opened #3266 "Sign in button hidden if too many email addresses -- add affordances for this use case."
I have to scroll to find the sign in button if I have too many email addresses:

![Screen Shot 2013-04-17 at 4 23 20 PM](https://f.cloud.github.com/assets/24193/393850/794056dc-a7a5-11e2-836a-ceddb94fa3e0.png)

This fails _hard_ in Safari and Chrome on OS X, thanks to the new scrollbar style introduced in 10.7. Firefox will have the new style soon: http://bugzilla.mozilla.org/636564

![Screen Shot

[2013-04-17 21:31] callahad commented on #3266
This is related to #2399, which made the list scrollable in the first place.

[2013-04-17 21:36] #3250 closed, assigned to nobody

[2013-04-17 21:46] callahad opened #3267 "Popup is a different size in all browsers. Looks bad in Safari."
Check out the screenshots in #3266. The content area of the popups are different sizes in each:

Safari is 700x391
Firefox is 700x375
Chrome is 700x347

Anything over 375 starts showing the flat edges of the arrow, making Safari looks particularly bad.

[2013-04-17 22:13] jrgm commented on #3266
There is an open issue on firefox in bugzilla, where the zoom on the opener page affects the size of the opened window - https://bugzilla.mozilla.org/show_bug.cgi?id=779335

[2013-04-17 22:17] callahad commented on #3266
@jrgm I think you meant to comment on #3267...

[2013-04-17 22:17] callahad commented on #3267
In all cases, zoom level was set to 100%.

[2013-04-17 23:23] jaredhirsch opened #3269 "performance: what's ApplicationCache got to offer?"
suggested by @benadida: could appcache improve performance significantly?

refs:
- basics
  - https://developer.mozilla.org/en-US/docs/HTML/Using_the_application_cache
  - www.html5rocks.com/en/tutorials/appcache/beginner/
- gotchas
  - http://appcachefacts.info/
  - http://alistapart.com/article/application-cache-is-a-douchebag

[2013-04-17 23:24] lloyd commented on #3269
Does this really deserve a github issue?

-- lloyd (thumb-typing)

On Apr 17, 2013, at 5:23 PM, Jared Hirsch notifications@github.com wrote:

[2013-04-17 23:29] jaredhirsch commented on #3269
@lloyd it's an optimization we might try; not sure how to slot this into existing performance stuff. is there an etherpad? should I just ping the dev-identity list?

[2013-04-17 23:47] fmarier commented on #3263
I like the idea. In theory, the verifier should be a different project from the shim and fallback IdP because it's a separate service. It could be deployed separately from the rest (and likely much less often).

The fact that there is shared code suggests that perhaps we could extract a node module that both of these could depend on?

Of course, while I think this might be the right way forward, t

[2013-04-18 00:08] seanmonstar commented on #3263
I definitely feel this is the right way forward. People can currently try
to host their own verifier, but doing so requires getting the full
browserid system installed and working. And pointing them at the code is
hard as well, since it has express and compute-cluster stuff in the way,
that doesn't need to be part of the base verifier.

[2013-04-18 00:57] lloyd commented on #3263
Heh.  I'm a broken record.

Are we sure we want to do this?  How will we manage code duplication in Idp lookup - aka primary.js.

My meta point here is with over 400 open bugs, I'm unsure we should file anything that isn't urgent actionable, and agreed upon.  How do others feel?

-- lloyd (thumb-typing)

On Apr 17, 2013, at 9:53 AM, Jared Hirsch notifications@github.com wrote:

[2013-04-18 01:07] fmarier commented on #3263
I'd say yes, we want do this, but probably not right now. It's a worthwhile thing to do, but I don't see it as a priority.

Regarding your meta-point, if we're not filing these in the bug tracker, how else should we keep track of non-urgent things that we should do at some point?

[2013-04-18 01:09] seanmonstar commented on #3264
It would be, but it's not an error anywhere else, so I wonder if it's a red
herring.

[2013-04-18 01:11] lloyd commented on #3263
I agree we should do this, and have argued for it many-a-time.  Also, we should be using the certifier instead of keysigner, a very related project.

But I'm struggling with the > 400 open issues.

Maybe a formal backlog?  And a clearer definition of what belongs in the bug tracker?  would this just be a placebo, or would it meaningfully improve the visibility of community reported issues and actu

[2013-04-18 01:58] seanmonstar commented on #3263
So, we agree we should do this.

The other part, having too many issues, seems like it's trying to hijack
this issue. Maybe move to the mailing list?

[2013-04-18 04:12] rmorlok commented on #2423
Thanks Sean.

[2013-04-18 04:30] fmarier opened #3270 "The xhr_delay error message doesn't specify which WSAPI call is timing out"
When an XHR to a WSAPI call is taking longer than 10 sec to return, we show the "We are sorry, this is taking longer than it should." error message.

It would be great to have a "show more details" link like on other error pages and to include the name of the WSAPI call it was trying to make.

In the `xhrDelay()` function of `resources/static/common/js/xhr.js`, it looks like we are passing the req

[2013-04-18 04:35] fmarier opened #3271 "Add CSP headers to login.persona.org"
While we've writing about [CSP](https://developer.mozilla.org/en-US/docs/Security/CSP) in a number of other bugs, it doesn't look like we have a bug open for actually adding CSP headers to `login.persona.org`.

Even if we still have eval's in our code, we could serve a `Content-Security-Policy` header with `script-src: unsafe-eval` and a `X-Content-Security-Policy` header with `options eval-script

[2013-04-18 06:37] stephank commented on #2423
You rock, Sean.

[2013-04-18 08:42] fmarier commented on #3073
I started working on this in https://github.com/fmarier/persona-troubleshoot

[2013-04-18 09:02] gtrs opened #3272 "Filing a security related bug not possible"
As the github bugtracker doesn't support marking bugs as private, a security related issue would become public before a fix can be released.

On https://github.com/mozilla/browserid/wiki/So,-you-wanna-hotfix,-eh%3F it is suggested to use bugzilla instead. On https://bugzilla.mozilla.org BrowserID is not listed as a Mozilla product, so the bug cannot be categorized correctly and can only be submitt

[2013-04-18 09:53] shane-tomlinson commented on #3266
We did it this way because on mobile in landscape mode, you could only see 1 email address if the buttons were always shown, especially once you consider TOS/PP agreements.

[2013-04-18 09:58] shane-tomlinson commented on #3269
After talking with several well respected developers (Google and Financial Times engineers) about this, I believe App Cache is not the solution. App cache is a difficult to manage cache on top of the HTTP cache and is meant for offline applications. Using it for performance generally only causes headaches and as long as the app is online, the HTTP cache is significantly more flexible and faster in

[2013-04-18 13:53] callahad commented on #3266
@shane-tomlinson Can we add some sort of inner shadow when that content overflows? I don't know how easy CSS makes it these days...

[2013-04-18 13:56] callahad commented on #3272
If you're aware of a security issue, you can always email any of us directly. (I'm callahad, mozilla.com)

Otherwise, the Mozilla Labs :: Identity component is a fine place to file.

[2013-04-18 14:40] #3197 closed, assigned to shane-tomlinson

[2013-04-18 14:44] callahad opened #3274 "Sessions not working on dev?"
I may be crazy, but logging in in the popup isn't giving me a session with the account manager.
### Steps to Reproduce
1. `npm start`
2. Open http://localhost:10001 and sign in.
3. Open http://localhost:10002 and try to view your account
### What Happens

I'm shown the normal Persona welcome page. Clicking "Sign In" requests my email and password again.
### What Should Happen

I should see the acc

[2013-04-18 14:45] callahad commented on #3274
Whoops. The popup was loading as `127.0.0.1`, I was trying to access the account manager as `localhost.`

Mystery solved.

[2013-04-18 14:45] #3274 closed, assigned to nobody

[2013-04-18 14:49] callahad commented on #1350
Have these been solved?

[2013-04-18 15:07] callahad commented on #1737
I believe they should be able to use whichever one they want.

@skinny97214 Can you confirm this?

[2013-04-18 15:08] callahad commented on #1577
As per #880, closing this until we decide to begin work on name-and-photo.

[2013-04-18 15:08] #1577 closed, assigned to nobody

[2013-04-18 15:10] callahad opened #3275 "mozilla.org/persona Developer FAQ shoud link to our docs"
Per blueprints in IRC: The mozilla/bedrock repo needs to be updated to point to our docs.

http://www.mozilla.org/en-US/persona/developer-faq/ currently does not link to our docs.

[2013-04-18 15:17] callahad commented on #1678
Verified. By temporarily adding log messages to mockmyid. I feel dirty.

[2013-04-18 15:17] #1678 closed, assigned to nobody

[2013-04-18 16:33] callahad commented on #3211
Can reproduce on Linux. Other popups work fine. It's clearly something we're doing.

[2013-04-18 16:38] callahad commented on #3242
stomlinson: "There are actually lots of buttons that act like this, unfortunately."

[2013-04-18 16:39] jedp commented on #3239
Some good advice from callahad to a new contributor: http://irclog.gr/#browse/irc.mozilla.org/identity/242905

[2013-04-18 16:41] jaredhirsch commented on #3247
@callahad's solution: _never serve 500s_

[2013-04-18 16:44] ozten commented on #3249
Please file bugs on bigtent and vinz clortho after this work is complete... We should have the exact same behavior there.

[2013-04-18 16:45] callahad commented on #3252
Marking as 1-star since we're moving to AWS.

@gene1wood: Will we need to do this once we're on AWS? If so, please bump to 3 stars.

[2013-04-18 16:50] jedp commented on #3252
This might not be perceptible on desktop over a good network, but for a user on 2G edge network, the extra requests would surely cause a noticeable slow-down. Anything we can do to improve performance for mobile users, I think we should do.

[2013-04-18 16:55] callahad commented on #3266
Re-purposing bug: Add some sort of indication that there are things that are hidden.

[2013-04-18 16:57] shane-tomlinson commented on #3266
What would be super handy here is knowing both the maximum and median number of emails users have. @kparlante - can we get that info from the KPIs?

[2013-04-18 16:58] jaredhirsch commented on #3269
/me closes!

[2013-04-18 16:58] #3269 closed, assigned to nobody

[2013-04-18 17:01] gene1wood commented on #3252
@Lennie what's a good way to detect if TLS session tickets are in use? Can you test if the same problem exists at https://yahoo.login.persona.org/ ? This is because this load balancers is in AWS and will be what all of our load balancers will look like shortly. If https://yahoo.login.persona.org/ isn't using TLS session tickets then we're good and this problem will be solved with our move to AWS.

[2013-04-18 17:01] callahad commented on #3272
(Let's update the wiki!)

[2013-04-18 17:25] Lennie commented on #3252
Gene I found it by just looking at things with Wireshark.

But just looked around and there is an easier method:

$ openssl s_client -connect yahoo.login.persona.org:443 -reconnect -no_ticket | grep Session-ID
depth=3 /C=US/O=Equifax/OU=Equifax Secure Certificate Authority
verify return:1
depth=2 /C=US/O=GeoTrust Inc./CN=GeoTrust Global CA
verify return:1
depth=1 /C=US/O=GeoTrust, Inc./CN=GeoTrust

[2013-04-18 17:34] gene1wood commented on #3252
Great, so with our move this problem gets solved for free. If waiting for the move to finish to get this functionality is acceptable I'll close this.

[2013-04-18 17:37] #3249 closed, assigned to nobody

[2013-04-18 20:31] Lennie commented on #3252
I don't see much of disadvantage.

Obviously your data is not encrypted on the network between ELB and your machines, but I doubt that matters much.

The biggest disadvantage, I can see, if you choose to terminate HTTPS on ELB/AWS you also choose not to use SPDY. You can also terminate TCP at ELB, I believe, but I've never really looked into it.

[2013-04-18 20:58] callahad commented on #3252
@Lennie Thanks for the investigation!

@gene1wood During triage we felt like this was great, but not worth the time if we got it for free with AWS. Given that AWS is pretty imminent. Closing.

[2013-04-18 20:58] #3252 closed, assigned to nobody

[2013-04-18 22:28] ozten commented on #3272
[Boom!](https://github.com/mozilla/browserid/wiki/So,-you-wanna-hotfix,-eh%3F)

[2013-04-18 22:28] #3272 closed, assigned to ozten

[2013-04-18 22:40] Lennie commented on #2661
Looks to me like SPDY isn't gonna happen anytime soon with login.persona.org:

https://github.com/mozilla/browserid/issues/3252

[2013-04-18 23:33] edwindotcom opened #3278 "b2g: unable to sign in with a mockmyid.com (primary) account"
On Inari:
1. goto native.123done.org
2. goto step 1, add a user@mockmyid.com
3. click 'Add'

result: page refresh in native UI and 'Add' button returns to enabled (not greyed out)
if you leave it there, it eventually goes to a time out error page

expected: you should be able to add a primary

[2013-04-18 23:34] edwindotcom commented on #3278
my settings are:
b2g 1.1.0.0
roamer2

[2013-04-19 00:10] edwindotcom opened #3279 "b2g: hyperlinks don't work inside of native UI"
on romaer2 , b2g 1.1.0.0-prerelease: build id 20130418070205
1. goto native.123done.org
2. click sign in
3. click on any hyperlinks in the native UI

result: hyperlinks don't jump to any other pages.

actual: you'd expect it to switch browser tabs to the link that's clicked.

[2013-04-19 00:18] edwindotcom commented on #3278
This also includes user@eyedee.me

[2013-04-19 00:20] edwindotcom opened #3280 "b2g: confirming email causes native UI to refresh with screen artifacts"
on roamer2, 20130418 build
1. goto native.123done.org
2. add a user@gmail.com (or any other secondary)
3. you should see the please confirm email page
4. on another device, confirm the email

result: the native UI view looks like 1/2 refreshed in the middle ( i can't figure out how to do screen shot yet) but not the top and bottom. Can't do anything but close the UI.

[2013-04-19 00:26] edwindotcom opened #3281 "b2g: after javascript closes native UI dialog, browser becomes fullscreen with no address bar"
on roamer2 with build 4/18 build
0. sign in with an account
2. goto native.123done.org
3. sign in with an account (secondary),
4. goto native.123done.org
5. click 'this is not me'
6. enter the same user as step 3
actual: native UI closes and browser is now in fullscreen and has no address bar.

expected: javascript closing the native UI should not cause browser to go full screen

[2013-04-19 00:34] jedp commented on #3281
@edmoz, apart from the browser going full-screen, which is certainly weird, does it sign you in correctly as the user from step 3?

[2013-04-19 04:41] fmarier commented on #3252
@gene1wood Another easy way to check whether TLS session tickets are in use is to use the [SSL Labs test tool](https://www.ssllabs.com/ssltest/analyze.html?d=https%3A%2F%2Flogin.persona.org) (second to last section).

[2013-04-19 07:27] gene1wood commented on #2603
Here's yahoo.com exhibiting something similar

[code]

[2013-04-19 07:46] shane-tomlinson commented on #2661
Unfortunately, our migration to EC2 is going to block any ability to add SPDY, at least for the time being. SPDY is not yet supported by Amazon ELB.  http://serverfault.com/questions/453741/how-can-i-setup-spdy-with-jetty-behind-amazons-elb and https://forums.aws.amazon.com/message.jspa?messageID=364788 for reference.

[2013-04-19 07:47] shane-tomlinson commented on #3278
Is this using Persona from the marketplace? If so, primary support should be completely disabled and there may be another issue here.

[2013-04-19 09:55] benediktp commented on #314
I'm seeing this in Firefox 20. It kept me from updating MDN a few times already.

[2013-04-19 11:59] shane-tomlinson commented on #314
@aleth and @benediktp - Is this a Firefox bug for all sites or is this Persona specific?

[2013-04-19 12:43] kumar303 opened #3282 "https://native-persona.org/ is not loading"
It appears that https://native-persona.org/ is not loading. Jed, I know you mentioned something about merging and replacing the server instance. Do we need to use a new URL now? This is blocking FxOS payments from happening so let us know how we can work around it.

[2013-04-19 15:29] jedp commented on #3282
The URL did not change, but it's certainly unavailable.

[2013-04-19 16:21] jedp commented on #3282
Huge thanks to @shane-tomlinson for jumping onto the aws console and helping out.

The recently-deployed b2g server, `2g_2013-04-16-738ece2e {i-61536d0c}` seems to have gone up in flames.  Since aws can't even stop/start it, I'm not optimistic about getting at the logs :(

So we've repointed the IP back to the older server, `native-persona {i-211a4c50}`.  We can try a fresh deploy on Monday and se

[2013-04-19 16:21] #3282 closed, assigned to jedp

[2013-04-19 17:15] jds2501 commented on #3281
FWIW, if this was an issue potentially, I'd expect it to be a Gaia Browser bug, not a persona bug.

[2013-04-19 17:16] jds2501 commented on #3281
Another thing you should check is that after complete the STR, if you scroll up, can you get the address bar back?

The address bar becomes non-present in cases where you are not at the top of the page. But if it's permanently gone, that's bad.

[2013-04-19 17:18] edwindotcom commented on #3281
I could never get the address bar back, I had to kill the process with Xing the card view.

[2013-04-19 17:23] edwindotcom commented on #3281
I haven't been able to repro this a 2nd time.  I'm thinking i may have gotten into a low memory situation which cause the screen artifacts.  I'll leave it open for a few days to see if I run into it again.

[2013-04-19 17:57] edwindotcom opened #3283 "b2g: native.123done.org sign in button takes 2x longer to load than regular site"
1. goto native.123done.org
2. noticed the blue 'sign in' button

actual: takes 1-2 sec to load, about 2x longer compared to when you go to 123done.org

expected: should be same time as 123done.org.

[2013-04-19 18:09] edwindotcom opened #3284 "b2g: logging out of 1 tab does not cause other tabs to logout till refreshed"
I'm on Inari with sha: a5a95f7f
1. goto native.123done.org in 1 tab and sign in
2. do the same for another tab
3. log out of one of the tabs
4. look at the other tab

result: you are not automatically logged out.
expected: you should get logged out.
work around: if you hit refresh, you will be logged out.

[2013-04-19 18:49] edwindotcom opened #3285 "b2g: general UX issues of fields and buttons"
linking issue to https://bugzilla.mozilla.org/show_bug.cgi?id=851190
I don't want to lose this bug

In general, a lot of scrolling and return key must be used to navigate the native UI when using persona.  It would be fairly frustrating for new users.

[2013-04-19 18:52] edwindotcom commented on #3285
the bugzilla bug is the main bug to use

[2013-04-19 19:08] beltzner opened #3286 "Stronger relying party (RP) brand presence for sign-in and account creation UI elements"
The Webmaker team is rebuilding its toolchain and experience, and has decided to make Persona an integral part of that solution, providing SSO and outsourcing identity authentication so that we're not responsible for yet another password store.

One issue we've run into is that from a user experience perspective, it is very difficult to communicate to a new user that they need to create a new Pers

[2013-04-19 19:20] ozten commented on #3286
Howdy @beltzner! We'd love to chat about your ideas and get your requirements.

At first blush...

To see the long term vision of Persona in action, log into your Webmaker flow with an @yahoo.com email address.

The Persona sigin/signup screen is a way to bootstrap this federated system, until email providers implement the BrowserID protocol for Identity providers natively.

The Persona account ch

[2013-04-19 19:42] lloyd commented on #3286
:+1:

I think this is representative about how a lot of sites feel.  I think we can do better with de-emphasizing Persona and bringing the site up to the forefront.  Here's one site that has gone "all in" with persona - http://sloblog.io

I don't know the answer, but I'm curious how we can walk this line better and help sites confuse their users less as they adopt persona as the one and only way t

[2013-04-19 21:13] callahad commented on #3286
A common request when I speak is the ability to provider greater visual customization in the pop-up. The idea of being able to just specify a hue or pair of colors to use in the dialog has been met with enthusiasm.

[2013-04-19 23:09] callahad commented on #695
Update: Clicking the link twice now just strands me on an empty page.

[2013-04-19 23:36] jaredhirsch commented on #900
#3253 merged in, closing this ticket accordingly.

[2013-04-19 23:36] #900 closed, assigned to shane-tomlinson

[2013-04-19 23:38] jaredhirsch commented on #3189
#3253 has been merged in & removes the sign up/sign in flow completely from the site. Closing.

[2013-04-19 23:38] #3189 closed, assigned to shane-tomlinson

[2013-04-20 00:12] jaredhirsch opened #3287 "in dev, primary login fails on IE8"
async loading of bidbundle appends the script tag to document.head, which assumes document.head is accessible. Not sure why offhand, but IE8 tells me there's a document.body but no document.head.

At any rate, it's better to follow the advice in [3pjs](http://manning.com/vinegar) and append the dynamically-generated script tag after the 0th script tag on the page. Since there's at least one script

[2013-04-20 00:34] callahad commented on #1238
Closing as invalid thanks to #3196 landing

[2013-04-20 00:34] #1238 closed, assigned to nobody

[2013-04-20 00:35] callahad commented on #1238
(Unless this is about the popup. If so, please re-open @skinny97214)

[2013-04-20 02:35] jrgm opened #3290 "frontend tests: `invalid options string: {invalid_json:}` in console"
Noticed this. @jedp, @shane-tomlinson will know better about what it means.

[code]

[2013-04-20 16:36] shane-tomlinson commented on #3290
@jrgm - this is exactly as it is supposed to be - we are testing for invalid_json. We can prevent it from printing to the console though.

[2013-04-20 22:51] edwindotcom opened #3291 "add feature to limit logins to stop brute force password hacks"
I just turned on my blog after a year and got 1700 login attempts on word press admin on the first day.  It's something that's very real and goes on out there.  We need to monitor this and possibly prevent this sooner than later.

[2013-04-21 06:50] jrgm commented on #3290
@shane-tomlinson yes, this was really a question about whether that console output was expected or not.

[2013-04-21 12:47] benediktp commented on #314
@shane-tomlinson: the password manager works for other sites but fails with the Persona login page [1].

The password manager contains an item for the domain with the correct password but its associated user name is empty. @aleth, do you see this too?

[1] https://login.persona.org/sign_in

[2013-04-21 18:32] shane-tomlinson commented on #3291
Dup of #2656, closing.

[2013-04-21 18:32] #3291 closed, assigned to nobody

[2013-04-22 08:50] #3287 closed, assigned to nobody

[2013-04-22 10:05] glondu commented on #1523
Another thing that uses DNS and /.well-known/ http://tools.ietf.org/html/draft-daboo-srv-caldav-10

[2013-04-22 10:13] #3211 closed, assigned to nobody

[2013-04-22 12:36] shane-tomlinson commented on #3279
@edmoz - When opening Persona from Marketplace, a single, isolated tab is opened, this tab cannot open new tabs. Because of this, we have to open links in an IFRAME that is overlaid on top of the page (see #3236). #2905 is a bug about removing the header and footer from the Persona TOS/PP when opened in this iframe because users should only be able to view TOS/PP links in the embedded IFRAME, they

[2013-04-22 12:42] shane-tomlinson commented on #3225
This page is now gone, the dialog is used for signing in everywhere. Closing is no longer possible to see this.

[2013-04-22 12:42] #3225 closed, assigned to nobody

[2013-04-22 12:59] shane-tomlinson opened #3293 "[bigtent] ie8 - provisioning fails with "provisioning timeout" if user does not click "Sign in with Yahoo" within 10 seconds."
@ozten, @callahad - I could use some help debugging this.

STR

1) Load up IE8.
2) Clear browser cache
3) Visit dev.123done.org
4) Open dialog
5) Enter a yahoo address
6) On the "Yahoo makes this easy" screen, wait for 20 seconds.

![Screen Shot 2013-04-22 at 13 50 13](https://f.cloud.github.com/assets/848085/409213/5bac7efc-ab4c-11e2-9e1a-c5ba05834ca9.png)

Is BigTent relying on the referrer head

[2013-04-22 13:00] shane-tomlinson commented on #3120
We took the /signin page out, I just tested on login.dev.anosrep.org and see an error in the dialog, not the main site. Opened #3293 with the STRs.

Closing this one because we took the /signin page out, it has been replaced with the dialog everywhere.

[2013-04-22 13:00] #3120 closed, assigned to nobody

[2013-04-22 13:04] shane-tomlinson commented on #3293
@edmoz - is this a dup of #2970?

[2013-04-22 13:05] shane-tomlinson commented on #3293
@edmoz - That last comment was for issue #3285, not this.

[2013-04-22 13:05] shane-tomlinson commented on #3285
@edmoz - is this a dup of #2970?

[2013-04-22 14:31] callahad commented on #3293
This is not bigtent-specific. I addeded an ugly hack to MockMyID that waits 20 seconds before finishing provisioning if you append `+slow` to your username there:

[code]

20 seconds seems to reliably trigger this error. 19 works fine.

When failing, no additional POSTs are made to any wsapis -- the shim just locally rejects the cert and calls it a day.

[2013-04-22 14:48] lloyd commented on #3293
We have a timer to deal with runaway provisioning pages.  See provisioning.js.  It sounds like that timer is not ending properly for the first provisioning attempt.

I don't think the mockmyid repro is relevant...

-- lloyd (thumb-typing)

On Apr 22, 2013, at 6:59 AM, Shane Tomlinson notifications@github.com wrote:

[2013-04-22 15:30] callahad commented on #3293
@lloyd Can I challenge the status quo? Removing the timer solves both the bigtent and the mockmyid issue, and gives the user the possibility of succeeding with provisioning.

Leaving it in just fails without recourse...

[2013-04-22 15:35] callahad opened #3294 "Inputs not disabled when adding another address or signing in for the first time"
While the dialog is "Checking with your email provider," the text input is disabled, but the "next" button is still active. There's no spinner indicating progress / work.

![Screen Shot 2013-04-22 at 10 31 35 AM](https://f.cloud.github.com/assets/24193/409968/f3d70c3c-ab61-11e2-8f53-3cfe694c6196.png)

When adding an email address to an existing account, the dialog remains fully enabled and is inte

[2013-04-22 16:12] lloyd commented on #3293
@callahad the bigtent issue is just a bug.  we start the timer too early.  is there really a mockmyid issue?

[2013-04-22 16:14] ozten commented on #3293
Just to answer this question....

BigTent uses referrer in development mode to dynamically pick the Persona environment. Our dev server isn't in development mode.

[2013-04-22 16:23] callahad commented on #3293
@lloyd There's not "really" a mockmyid issue, but the hack there demonstrates that: If an IdP takes more than 20 seconds to provision, the user sees an error message and does not get provisioned.

If the timer didn't exist, it would work fine. And so would BigTent.

[2013-04-22 16:32] ozten commented on #3293
This occurs in production per lloyd in IRC.

[2013-04-22 16:34] shane-tomlinson commented on #3293
@ozten - it does. Does that mean it is a regression that slipped past us or has it always been there?

[2013-04-22 16:41] ozten commented on #3293
@shane-tomlinson It's a brand new service, so it's not a regression.

Any idea of % of Persona users on IE 8 to help with priority/severity of this bug?

[2013-04-22 16:46] shane-tomlinson commented on #3294
@callahad - does this affect all browsers?

[2013-04-22 16:52] callahad commented on #3294
@shane-tomlinson Definitely Chrome and Firefox. Haven't checked others.

[2013-04-22 20:51] #3290 closed, assigned to nobody

[2013-04-22 20:58] jedp commented on #3033
Sounds like this is biting again: http://irclog.gr/#show/irc.mozilla.org/identity/245406

Lloyd dug in a bit on this with me.  He noted that the expired assertions all appear to come from the hidden communication_iframe (not the sign_in dialog).  Starting at Mon Apr 22 16:40:45 PDT 2013, expired assertions will be printed in the verifier-metrics.json log.  Trap has been set.  Will look for capture

[2013-04-22 21:20] jrgm opened #3295 "interaction_data should have improved decoupling of incoming and outgoing requests"
interaction_data should have improved decoupling of incoming and outgoing requests

[2013-04-22 21:51] seanmonstar commented on #2407
@kparlante @shane-tomlinson how do we feel about this? should we record all errors?

The one I'm most interested in at the moment is the `errors.relaySetup` shown in #2034 when the `window.opener` can't be found. Seeing a percentage of how many users this affects would help me prioritize the bug. Would it be worth opening a single issue for that? Or do we want to collect them all? Pokemon?

[2013-04-22 21:52] seanmonstar commented on #2034
I'm taking this, will continue work on the nopopup experiment I did last quarter, and see how many environments we can fix along the way.

[2013-04-23 01:57] mattbasta opened #3296 "[issue 3205 continued] Packaged apps still can't use Persona"
The previously agreed-upon solution was to trigger Persona in an iframe. This doesn't work because B2G does not allow `window.open` to be called from an iframe.

You can see the current implementation of "potato login" here:

https://github.com/mozilla/fireplace/blob/master/hearth/media/js/login.js
https://github.com/mozilla/zamboni/blob/master/media/js/mkt/potato-login.js

This is a critical issu

[2013-04-23 03:38] benadida commented on #3296
@mattbasta I'm confused, on b2g the navigator.id call should invoke the native implementation, not window.open. Are you using native-persona.org's include?

[2013-04-23 05:20] mattbasta commented on #3296
To the best of my knowledge we're using `native-persona.org`. I'll check tomorrow.

This also poses a problem for FX for Android, which allows packaged apps but doesn't use native persona.

[2013-04-23 09:55] shane-tomlinson commented on #2407
@seanmonstar - I would be interested in seeing the number of "unsupported dialog" messages we get as well as why, but like you said, that is probably best in a standalone bug. This bug is specific to JS errors.

[2013-04-23 13:10] benadida commented on #3296
I suspect a big usability problem on packaged apps on FX for Android is going to remain until we have a native implementation, given separate cookie jars. So I think the solution is the same there: native Persona implementation for apps, period.

[2013-04-23 13:38] kumar303 commented on #3282
Thanks Shane, thanks Jed. Please check with me before you switch it back to AWS because we're in Spain right now (on an awkward time zone) testing payments; we're trying to keep everything as stable as possible.

[2013-04-23 15:57] jzkunlun opened #3297 "path.js throw error 'Arguments to path.join must be strings'"
When run npm install, it failed on multiple locations with path.js error.

[2013-04-23 16:28] callahad commented on #3297
What version of Node are you using? Can you paste some of the console output? Thanks!

[2013-04-23 16:46] edwindotcom opened #3298 "intermittent failure with npm install running lockdown on jenkins box in dns.js"
This is likely a DNS issue with the jenkins box, but I thought I'd start the trail here.  It occurs on all configs but most frequently on Linux and Safari. I've seen this about 25% of the runs.  The work around is to do an incremental build, not a full clobber.
1. fire up a build on jenkins, but going on IRC and PM with
   jenkins: build browserid.dev.osx_safari_5
   which executes:
   npm install

[2013-04-23 17:12] jzkunlun commented on #3297
npm ERR! toobusy@0.2.2 install: `node-gyp rebuild`
npm ERR! `sh "-c" "node-gyp rebuild"` failed with 8
npm ERR!
npm ERR! Failed at the toobusy@0.2.2 install script.
npm ERR! This is most likely a problem with the toobusy package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node-gyp rebuild
npm ERR! You can get their info via:
npm ERR!     npm

[2013-04-23 17:16] callahad commented on #3297
Reformatted:

[code]

[2013-04-23 17:18] callahad commented on #3297
It looks like you're using Node 0.10.4 -- Persona is currently being developed against 0.8.x. Could you try downgrading and see if you can reproduce the error? Or check out the `nodejs-0.10.0` branch of this repository?

[2013-04-23 17:39] edwindotcom commented on #3281
I'm going to close this as the fullscreen issue is a red herring.  I'll log a new one that's related but different in many ways.

[2013-04-23 17:39] #3281 closed, assigned to nobody

[2013-04-23 17:57] edwindotcom opened #3299 "b2g: confirming email causes native UI freeze"
I'm on inari/ikura - sha: a5a95f7f8 - I've repro'd this 2 times.
1. sign in with a new email on native.123done.org
2. let phone sit with native UI up for about 5 min
3. on another device, confirm email
4. look at phone

actual: settings UI returns to 'add another email address' and clicking on the 'Add' button is not responsive. No error pages is ever loaded.

expected: native UI should close and

[2013-04-23 17:57] jedp commented on #3284
Good catch.  I think this broke when we made the persona iframe non-permanent on b2g.

This is going to require a fix on device.  Here's a bug for it:
https://bugzilla.mozilla.org/show_bug.cgi?id=864886

[2013-04-23 18:13] edwindotcom commented on #3299
native UI gets into a bad state. See screenshot:
![2013-04-23-11-02-39](https://f.cloud.github.com/assets/3698618/415939/7d0c423a-ac41-11e2-93cc-b0a829fd39ae.png)

[2013-04-23 18:13] jedp commented on #2904
I see this happening in the desktop browser as well.  It does appear to be harmless, but it is disconcerting.

https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/lib/jschannel.js#L244

I'm going to take the b2g milestone marker off so that it appeals to a broader audience.

[2013-04-23 18:16] edwindotcom commented on #3299
oh wow - i killed the process, and it's still messed up. I have to restart phone.

[2013-04-23 18:21] jzkunlun commented on #3297
Thanks
 On Apr 23, 2013 1:19 PM, "Dan Callahan" notifications@github.com wrote:

[2013-04-23 18:28] jedp commented on #3299
@edmoz did you get any logs?  if you can repeat it, can you stash the logs?  thanks!

[2013-04-23 18:32] edwindotcom opened #3300 "b2g: account manager is not signed in after you sign into native.123done.org"
This is touches on the security model of b2g, in that each tab is a different sandbox. However, the behavior is different than desktop, so it should be logged.
1. goto native.123done.org on b2g and sign in
2. goto login.native-persona.org

acutal: you are not signed into account manager
expected: you should be sign in just like the desktop experience.

[2013-04-23 18:48] #3297 closed, assigned to nobody

[2013-04-23 19:35] edwindotcom commented on #3299
refined title and steps. There's a second bug here that i'll log seperately.  Here are what i get when i run logcat http://people.mozilla.com/~ewong2/reg_fail.txt

[2013-04-23 19:44] edwindotcom opened #3301 "b2g: sign in with new email and waiting 3 min leads to registration failed"
repro'd 2 times on ikura - sha: a5a95f7f8
1. sign in with new email on native.123done.org, redirected to waiting for confirm page
2. wait about 3 min
3. on another device/computer confirm email with native UI page is up.

actual: 503 error or registration failed error.
see screen shot
![2013-04-23-12-20-51](https://f.cloud.github.com/assets/3698618/416465/3af6b670-ac4e-11e2-8bd8-682eaddc4b17.png)

[2013-04-23 19:55] jrgm commented on #3298
Two things to try:
1. Add `ulimit -n 4096` to the build script (docs say the EMFILE will show as ENOENT).
2. Out of curiosity, add `node -e 'dns = require("dns"); dns.lookup("github.com", function() { console.dir(arguments) })'` to the top of the build script to see if that ever fails in resolving.

[2013-04-23 20:01] seanmonstar opened #3302 "Publish error screens to KPI"
It'd greatly help to know what percentage of users are "unsupported", and which browsers those are.

[2013-04-23 20:03] seanmonstar commented on #2407
@shane-tomlinson I created #3302 for that specific error.

Still, is this worth pursuing? We claimed its only 3-star, but it seems pretty important to know when the dialog hits an error... Maybe just not in KPI?

[2013-04-23 20:15] seanmonstar commented on #3302
I'm trying to decide if this should be an addition the `kpi_data`, or just an additional event.

There's two places I could do this:
- at the catch block in dialog.js, so that we only publish this error
- inside PageModule#renderError, we could publish an error event (which gets added to the KPI stream) that includes the error message and extra info. This seems like a decent KPI to know: when did

[2013-04-23 20:30] mattbasta commented on #3296
FX for Android is one of our target platforms, so that's a priority for the Marketplace.

Another issue is that on Desktop, the Persona login dialog triggers the popup blocker in Firefox and Chrome because it's triggering a third-party popup on a third party origin. That's a huge issue for us.

[2013-04-23 20:44] jrgm commented on #3212
Sorry, I got behind on all the email. So, see https://github.com/mozilla/browserid/blob/dev/scripts/browserid.spec#L35

So, resources/static/production is packaged into the rpm, so you're idea would work.

[2013-04-23 20:51] benadida commented on #3296
@mattbasta I hear you, but until we solve the packaged app situation, I'm not sure what we can do. We need packaged apps to have sane origins. Once we have that, these other issues will be solved.

[2013-04-23 21:03] mattbasta commented on #3296
Here's a screenshot showing what we're seeing:

http://cl.ly/image/0N003i3U0R3w

You can see that native persona is used. We have logging in other places that shows that `navigator.id.request` is called, but there's no login popup (FXOS with native persona enabled).

[2013-04-23 22:11] kparlante commented on #3302
@seanmonstar @shane-tomlinson So I was skeptical that collecting all JS errors in KPI was a good idea, but it does make sense to me that we would capture an error screen in the event stream.

[2013-04-23 22:43] kparlante commented on #2407
@seanmonstar I don't think KPI is the right place for collecting all errors generally. Perhaps specific cases where we know the event stream or other context will be important to track down a potentially significant problem (as you've identified above). As a more general mechanism, statsd/monitoring seems like a good approach, as @ozten proposed. Looking at the data, we're certainly losing people,

[2013-04-23 23:16] shane-tomlinson commented on #2407
@seanmonstar, @kparlante - agreed w.r.t. JS errors. The Popcorn Maker team came up with a hot JS error reporting library, I wonder if we can make use of any of it.

[2013-04-23 23:18] shane-tomlinson commented on #3296
@mattbasta - is this a separate issue, or will it be resolved with the fix for the package app URL? Are you calling .request in the click handler of the button the user is clicking, or calling request after the handler has completed its work?

[2013-04-23 23:22] ozten commented on #2407
I don't think KPI should be used for error reporting. We should only collect anonymous usage data that we need to make product decisions and evaluate features.

@shane-tomlinson I like the idea of a separate error reporting system. That one or webdev has several others too.

[2013-04-23 23:24] seanmonstar commented on #2407
ok, so not to report all general errors. It **does** seem valid to report when a user hits an error screen (when we call renderError), as that can help us understand when our product directs a user to a screen we wish they hadn't seen.

[2013-04-24 00:06] mattbasta commented on #3296
If we can get the packaged app origins stuff, we won't need to trigger Persona from an iframe and this issue will disappear.

We have to trigger `navigator.id.request` inside an iframe using `window.postMessage`, which means that the window that's opened isn't triggered by a click event. That's half of the problem, the other half is that the app's origin is different from the iframe's origin, and

[2013-04-24 00:59] edwindotcom commented on #3298
i grabbed the last 24 runs and we got this dns.js issue 9 times.

[code]

[2013-04-24 01:08] edwindotcom opened #3303 "intermittent failure with npm install running lockdown on jenkins box with cb() never called!"
on jenkins run this:
npm install
cd automation-tests
npm install
mkdir results
./scripts/run-all.js --platform win7_firefox_16 --parallel 10 --output xunit --env dev

results:
    For the 63 builds (mac, win linux) i got this 5 times.
    Edwin@ewong-16235:~/github/edmoz/jenkins-cli$ grep -B 3 -irn 'never called' logs/identity.browserid.\*
    logs/identity.browserid.dev.linux_firefox_16.2089.txt-

[2013-04-24 02:20] seanmonstar commented on #2497
I would love to resurrect this, and potentially take it. It was sparked by a comment in our PICL/Signin discussion today, and felt this should be solved. Is more discussion needed, like on the list? Or can I just get to getting?

[2013-04-24 03:27] benadida commented on #2497
@seanmonstar that would be super cool.

An interesting goal, though it may be hard, would be to separate the Persona _implementation_ from the Persona fallback IdP completely, so that the implementation uses the fallback IdP exactly like it would a normal IdP. What I find particularly interesting about that is that, if you do do that and you don't want a screen refresh, you might find that you nee

[2013-04-24 04:00] seanmonstar commented on #3302
@shane-tomlinson what do you think of an implementation like this? https://github.com/seanmonstar/browserid/commit/a7a2477e0895ab7f652b62f713ebf0734461838e

I can create a PR once it seems like a good idea to do it that way.

[2013-04-24 04:03] fmarier commented on #3035
Also related: https://github.com/mozilla/browserid/issues/3119

[2013-04-24 07:12] jrgm commented on #3303
Good find. I did some poking around with https://ci.mozilla.org/view/Persona/job/identity.browserid.dev.osx_safari_5/configure to see some things I was interested in (I can remove those later).

Anyways, on the jenkins server, all jobs run as the same user on whatever schedule those jobs run. Since they are the same $HOME then npm will be using the same ~/.npm. On the jenkins box there are browser

[2013-04-24 20:40] seanmonstar commented on #2560
@drupalnomad is there any way you could catch when `list_emails` request fails, and tell me what the statusCode and statusText of the request is?

[2013-04-25 00:45] seanmonstar opened #3305 "Send interaction_data from communication_iframe on dialog_complete"
We currently only get KPI data if the user comes back a second time. What about all the people who try once, and never come back? We'd love to see what screen they got to before deciding this wasn't for them.

If a site is using the watch() API, then the calling site will have an iframe available, and can send the data to our piggyback right when the dialog is closed. It should clean up when it's

[2013-04-25 00:52] jaredhirsch opened #3306 "KPI data is not sent for users who only open the Persona dialog once"
Currently, we don't fire KPI data at the time it's collected, we fire it on the subsequent trip through the dialog.

Since the dialog's localstorage is accessible to the communication_iframe, we could just have the iframe fire kpi data when it receives the dialog_complete event.

In particular, we could figure out how many users are bailing out of the dialog flow by saving some state in localstora

[2013-04-25 01:47] seanmonstar commented on #3306
It seems easiest and data-full to just allow the event stream to fill up as normal, and send the full interaction_data. That will show what screen they got to.

Also, we filed the same issue at the same time. #3305

[2013-04-25 01:48] seanmonstar commented on #3302
Fixed with #3304

[2013-04-25 01:48] #3302 closed, assigned to seanmonstar

[2013-04-25 02:15] lloyd commented on #3306
Generally, i think we should try in multiple places.  Dialog and now also iframe.  Was that the intention?

-- lloyd (thumb-typing)

On Apr 24, 2013, at 6:52 PM, Jared Hirsch notifications@github.com wrote:

[2013-04-25 02:19] seanmonstar commented on #3306
@lloyd I said as much in #3305, which I filed at the same time as Jared filed this one.

[2013-04-25 05:23] r0bl0rd commented on #3306
Hey all - this is Rob Lord, incoming Mozillian. (More on that later.)

+1 for metrics at each stage of the funnel so we know our visible -> qualified -> best bet -> closed user counts and conversions.

Rob
via iPhone

On Apr 24, 2013, at 7:15 PM, Lloyd Hilaiel notifications@github.com wrote:

[2013-04-25 08:27] shane-tomlinson commented on #3305
Closing as a dup of #3306

[2013-04-25 08:27] #3305 closed, assigned to jaredhirsch

[2013-04-25 08:31] shane-tomlinson commented on #3306
@6a68, @seanmonstar - We talked about doing it this way once and decided against it. Sending data from the iframe will not work for RPs that are using the .get API. So that we did not have to have some sort of lock mechanism to check who should send the data, we decided to do it only in the dialog. If we are to convert to sending data from the iframe, we have to make sure all of the flows are prop

[2013-04-25 16:37] callahad commented on #3278
Closing as wontfix

[2013-04-25 16:37] #3278 closed, assigned to nobody

[2013-04-25 16:39] callahad commented on #3279
@shane-tomlinson please link to the open PR

[2013-04-25 16:44] callahad commented on #3283
On the same device, good connection, etc.

The difference is native-persona.org vs persona.org.

[2013-04-25 16:44] callahad commented on #3283
@jedp Probably slow because it's spinning up an entirely new process to handle the native-persona iframe.

[2013-04-25 16:51] callahad commented on #3283
@jedp to investigate and update.

[2013-04-25 16:54] lloyd commented on #3283
I'd love to see timing numbers:
1. iframe embedded
2. iframe resources loaded
3. RP receives onready

These three points will allow us to understand whether process startup or network latency is the major culprit.

I suggest we do this minimal amount of assessment, reason about the results, and then either make a fix if it's apparent there's something we can do, or close this down.

Optionally, we

[2013-04-25 16:58] callahad commented on #3286
Reframing bug: True whitelabel is probably not going to happen -- not all users will have Persona passwords, etc.

Let's use this to de-emphasize the Persona brand and allow the RP's brand to take the focus. For inspiration, check out the bottom corner of this: http://f.cl.ly/items/05000H292r113N2g3n3q/flow.png

[2013-04-25 16:58] jedp commented on #3299
Hm.  Can you push this pref: `pref("toolkit.identity.debug", true);` to your user prefs?

That will enable all the persona logging.  Thanks!

[2013-04-25 17:03] jrgm commented on #3295
Maybe by (ab)using compute cluster.

[2013-04-25 17:07] jaredhirsch commented on #3296
I propose: @benadida + @mattbasta + :beers: and work this out

[2013-04-25 17:07] lloyd commented on #3295
The underlying problem here is that our servers are not sufficiently resilient to our kpi collector falling down.

KPI is important, but our service staying up is more important.

The fix is to make it so that when we fail to pass KPI data to kpiggybank, we drop it on the floor.

The easiest possible fix is to leverage (or abuse) compute cluster which already has the ability to perform only some s

[2013-04-25 17:09] edwindotcom commented on #3298
dupe of https://github.com/mozilla/browserid/issues/3303

[2013-04-25 17:09] #3298 closed, assigned to nobody

[2013-04-25 17:12] callahad commented on #3300
@jedp thinks this is a misconfiguration on native-persona.org. Jed, take it away.

[2013-04-25 17:13] jedp commented on #3300
/me is all upons

[2013-04-25 17:14] jedp commented on #3301
/me will double-check

[2013-04-25 17:15] lloyd commented on #3306
/cc @kparlante

[2013-04-25 17:15] lloyd commented on #3306
@seanmonstar word.

[2013-04-25 17:15] jedp commented on #3299
@jedp will try as well

[2013-04-25 17:16] jaredhirsch commented on #3305
/me wins the bug filing race ;-)

[2013-04-25 17:16] callahad commented on #3303
@jrgm "This is a 3 line fix in lockdown so it can have separate cache directories."

[2013-04-25 17:17] lloyd commented on #3306
@shane-tomlinson good point about the locking mechanism.  I'm curious though if we can solve this with a creative algorithm that simply and elegantly addresses the race condition.
1. take the blob out of local storage
2. try the XHR
3. if it fails return the blob to local storage.

[2013-04-25 17:32] seanmonstar commented on #3306
@lloyd :+1:

You'd have to very fast to open the dialog again before the communication frame finishes sending the small JSON blob back home.

[2013-04-25 18:02] ozten commented on #2501
Rough plan. Have `compile-json` create two files instead of one.

Before: messages.po -> messages.json

After: messages.po -> messages.json
                                    messages.js

The `.json` file will be valid JSON. The `.js` will be valid JavaScript.

Client side code will change the build step to include .js and server side will continue to use .json, using native JSON.parse.

[2013-04-25 18:46] callahad commented on #3286
@beltzner Would it help if you could "theme" the right-hand-side of the login dialog? Maybe something like this:

![Screen Shot 2013-04-25 at 1 46 15 PM](https://f.cloud.github.com/assets/24193/426982/70317114-add8-11e2-9cf3-4287e10c5f24.png)

[2013-04-25 18:55] ozten commented on #2501
Low level work done in i18n-abide@0.0.8beta6.

[2013-04-25 19:02] ozten commented on #2501
Persona work
- Move @mathjazz over to i18n toolchain or update compile-json.sh in the SVN repo
- Change lib/static_resources.js to use client.js instead of client.json

[2013-04-25 19:27] jedp commented on #3300
@edmoz is exactly correct.  I didn't realize until checking just now that there's no navigator.id.\* action on the landing page at (native-)persona.org.  So yes, due to the b2g security model, in which cookies and localStorage are siloed in each app (incl browser), this is not going to work on b2g.

On b2g, we work around the siloing by storing the state in the system app's context, and having all

[2013-04-25 19:45] jedp commented on #3033
Worked with @lloyd on this yesterday, and pushed a fix (train 2013.3.29 branch had the hotfix).  Looking at the logs now, I see there were no new failures in the last two workdays in Spain.  So I think this issue is fixed.

Closing.

[2013-04-25 19:48] benadida commented on #3296
@mattbasta Oh, so the login button is _outside_ the IFRAME? I had suggested putting the login button _inside_ the IFRAME so you could have a click event. Can you try that?

[2013-04-25 20:02] jrgm commented on #3303
Actually, it's even better. It's a no line fix. Just need to update the checked in version of lockdown to match the version that we install in ./node_modules.

[2013-04-25 20:17] beltzner commented on #3286
Likely, yes. It would also be great if some of that branding (mostly the name of the organization to which the user is attempting to login) followed through the email confirmation loop in the case where a user is new to Persona. In our initial user testing of the system, that's where people got lost: a traditional email-to-confirm-user-account loop is expected, but the Webmaker/Persona branding sw

[2013-04-25 20:37] lloyd commented on #3286
+1 to having site branding more prominent in confirmation email.  What about site name in the subject? /cc @skinny97214

[2013-04-25 20:40] callahad commented on #3286
siteName in the subject could be tricky from a localization perspective, but we could probably demarcate it pretty easily and add it to the beginning of the subject line?

Current subject: "Thank you for using Persona."

New subject?: "[Mozilla Webmaker] Thank you for using Persona."

Eh, needs some work.

@skinny97214 Check out these mockups: http://callahad.github.io/persona-popup-mockup

[2013-04-25 20:48] #3033 closed, assigned to jedp

[2013-04-25 20:49] jedp commented on #3300
Actually it sounds like @shane-tomlinson, by updating the persona.org landing page to do some navigator.id calls, may have fixed this already!  Looking for the relevant commits to cherry-pick into b2g for testing.

[2013-04-25 21:15] jrgm commented on #3303
And there is already a PR for doing that update - https://github.com/mozilla/browserid/pull/3255

After that happens, jenkins builds on ci.mozilla.org can add:

[code]

and that will eliminate competition from any other jenkins jobs.

[2013-04-25 22:08] mattbasta commented on #3296
I don't think that'll be possible. We have multiple Sign In buttons in multiple places, and we trigger logins based on sign in state. For instance, if you're logged out and you click "Write a Review" on an app's page or press one of the buttons to purchase an app, we prompt you to sign in at that point. There's no single sign in button that we can wrap in an iframe.

[2013-04-25 23:00] edwindotcom commented on #3299
I updated my channel to nightly and pushed the pref. Now i'm not able to repro.  I'm thinking I was on an old build.  I'm on SHA:

Gecko  http://hg.mozilla.org/releases/mozilla-b2g18/rev/efe8da9c584a
Gaia   a5a95f7f8ae6f1ba297bd5d5dd117b4197e1047c
BuildID 20130418070205

closing till I can repro again.

[2013-04-25 23:00] #3299 closed, assigned to edwindotcom

[2013-04-25 23:08] edwindotcom commented on #3301
I'm no longer able to repro this after i updated to nightly channel

[2013-04-25 23:08] #3301 closed, assigned to nobody

[2013-04-25 23:36] benadida commented on #3296
Ah, then I'm not sure how Persona can help here without making the situation worse. For when are we targeting the marketplace packaged app?

[2013-04-26 00:08] mattbasta commented on #3296
We hope to ship with the first carriers.

[2013-04-26 00:09] mattbasta commented on #3296
I'm not sure what dates are confidential.

[2013-04-26 00:37] edwindotcom opened #3308 "sign-in-test fails on stage"
Only happens on staging.
in local tree:
1. git checkout train-2013.03.29
2. scripts/run-all.js --local -e stage --platform osx_firefox_14 --tests sign*
-in the test, it signs in with all caps user@personatestuser.org to beta.myfavbeer.org
-when it's confirmed, the top right of the site just says 'Yo, ' , it should say 'Yo, user@personatestuser.org'

result:
    sign-in-test - osx_firefox_14 (1 fai

[2013-04-26 00:51] jrgm opened #3309 "sporadic 503 error for https://login.anosrep.org/wsapi/auth_with_assertion"
I've seen this _once_ in my own browser, and grepping on stage shows this has happened to 12% of requests to auth_with_assertion.

STR
1. Just go through a normal flow to sign up as a new primary user (eyedee.me, yahoo.com).

When the error occurs, the log messages in browserid.log are:

[code]

In former scl2 stage, since the beginning for March the URL was been called thousands of times with 100

[2013-04-26 06:41] shane-tomlinson commented on #3300
@jedp, @edmoz - FWIW, we changed all the landing pages to now include the JS shim, so navigator.id.\* should be available to you.

[2013-04-26 06:43] shane-tomlinson commented on #3300
@jedp, @edmoz - though even in the mainline branch, if you are chilling at the landing page in one tab, open 123done in another tab and sign in, the original landing page _will not_ transition to the account manager.

[2013-04-26 06:45] shane-tomlinson commented on #3300
@jed - I just got to the comment about cherry picking. Oh man, this was a HUGE change. https://github.com/mozilla/browserid/pull/3253 is the PR.

[2013-04-26 06:47] shane-tomlinson commented on #3296
@mattbasta - we have no way of getting around the popup blocker. The folks over in WebMaker are experimenting with putting their login button inside of an iframe for use across multiple sites. Can their experience help you out here?

[2013-04-26 07:39] shane-tomlinson opened #3310 "serverTime front end qunit test frequently fails"
It is intermittent, but fails approximately 1/3 of the time when running the full test suite. I believe this is due to the asynchronous bidbundle load, but have to investigate further.

[2013-04-26 09:29] shane-tomlinson opened #3312 "forceAuthentication not hooked up from example RP."
It is being passed to navigator.id.request as forceAuthentication instead of _experimental_forceAuthentication

[2013-04-26 16:10] jedp opened #3314 "Persona login with available https siteLogo not working if request is from http page"
Reported by Olav Nymoen in https://bugzilla.mozilla.org/show_bug.cgi?id=866016

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1488.0 Safari/537.36

Steps to reproduce:
1. Included login.persona.org/include.js shim
2. Entered navigator.id.request({siteLogo: '/img/logo.png'}); from a site on normal http, when the logo was available both

[2013-04-26 16:21] jedp commented on #3314
We do restrict siteLogo to sites whose origins are served via https.

https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/js/modules/dialog.js#L244

Olav, are you trying to serve a logo from a different site?

/cc @fmarier

[2013-04-26 16:29] callahad commented on #3314
As a separate question, is this common?

We can't allow HTTP logos into the popup's HTTPS origin, otherwise mixed content warnings make a mess of everything.

I don't think we can blindly try HTTPS, either, because at that point we don't have any evidence that the site supports HTTPS or that the user agent would trust the site's certificate.

So... if a site can serve its logo over HTTPS, why isn'

[2013-04-26 18:03] edwindotcom commented on #3308
gene and jrgm are discussing - looks like there's a bad redirect in stage.

[2013-04-26 18:33] edwindotcom commented on #3308
I'm assigning and starring.  This is blocking automated testing for the AWS release.

[2013-04-26 18:38] gene1wood commented on #3308
Our physical staging environment and AWS staging environment had different keys. diresworb.org and anosrep.org still point to physical stage ( due to https://id.etherpad.mozilla.org/root-zones-and-aws-elbs ). I've updated physical staging's keys and cookie secrets to match and deployed. Test it now

[2013-04-26 19:33] karlht commented on #3308
Passes for me now on stage.

[2013-04-26 19:42] skinny97214 commented on #3286
@callahad I'm seeing an email that has subject as "Confirm email address for Persona" with the first line as "Thank you for using Persona." Is that the one you're looking at?

[2013-04-26 19:53] callahad commented on #3286
@skinny97214 That's the one I'm looking at.

[2013-04-26 21:35] skinny97214 commented on #3286
The sender is Persona. The branding is Persona. I think we might be covered enough to make the subject line the RP name. Thoughts on...

new subject: Confirm email address for Mozilla Webmaker

[2013-04-26 22:19] karlht commented on #3309
I have also replicated this (just once) in a normal manual browser login flow.

[2013-04-26 22:32] mostlygeek commented on #3309
Here is what it looks like:

![wgfK](https://f.cloud.github.com/assets/83972/433182/19e0c0be-aec1-11e2-8d18-015eb07d46ee.png)

[2013-04-26 22:36] edwindotcom commented on #3301
dupe of #3309

[2013-04-26 22:38] jrgm commented on #3301
Not a dup on #3309. GH-3309 is specifically about auth_with_assertion, and your image above  shows user_creation_status.

[2013-04-26 22:53] lloyd commented on #3286
+1

-- lloyd (thumb-typing)

On Apr 26, 2013, at 3:35 PM, Crystal Beasley notifications@github.com wrote:

[2013-04-26 23:15] edwindotcom commented on #3308
passes for me now, closing

[2013-04-26 23:15] #3308 closed, assigned to gene1wood

[2013-04-26 23:16] jrgm commented on #3309
One point of clarification. When I hit my error, I looked in the database slaves and the row was there. The error would have only occurred if the row does not exist.

[2013-04-26 23:18] lloyd commented on #3309
We need someone to dig into code and enumerate the conditions under which this can occur.  This might lead to reliable steps to reproduce.

-- lloyd (thumb-typing)

On Apr 26, 2013, at 5:16 PM, John Morrison notifications@github.com wrote:

[2013-04-26 23:21] lloyd commented on #3309
We could also write some code to exercise this flow programmatically (against apis) to vet @jrgm 's timing theory - which sound incredibly plausible.

[2013-04-27 16:31] lloyd opened #3315 "Poisioning caches is far too easy during deployment"
Given the way `connect-cachify` `<=0.0.13` works, md5s in urls are never checked and whatever is on disk is served with whatever url that is requested.

This results in a number of ways we can put old resources in peoples caches under new urls - "poisioning" them.  In multiple deployments over the past 6 months we've had user impact due to this issue (combined with deployment procedural errors), a

[2013-04-27 17:39] lloyd commented on #2871
woohoo!  didn't realize this landed.  great improvment to verification flow @skinny97214 & @shane-tomlinson ! :heart:

[2013-04-27 18:09] #3312 closed, assigned to nobody

[2013-04-27 19:13] lloyd commented on #3315
fixed and verified in dev & train-2013.04.26

[2013-04-27 19:13] #3315 closed, assigned to lloyd

[2013-04-27 22:07] sandeepshetty commented on #2034
@seanmonstar
- Confused about your earlier comment "but it doesn't help native apps". Wouldn't the nopopup (redirect instead of popup) approach fix this for phonegap based apps?
- Instead of detecting when popups are not possible could it just be an option so implementors can choose to always redirect?
- Is there an ETA for this and can I contribute in any way to make this happen sooner?

[2013-04-27 22:16] lloyd commented on #2034
@sandeepshetty - When @seanmonstar says "doesn't help native apps", he's talking about the ability to redirect from an iOS native app to safari, and back to iOS (for instance).

Then generally, it sounds like folks are pretty interested in forcing the redirect behavior in all environments…

Anyone object to a .request() flag?  `preferRedirect` ?

[2013-04-27 22:18] lloyd commented on #2034
@seanmonstar fwiw, I'm eager to review when you've got a candidate.  This issue is 10 months open with 17 participants.  let's get it done!

[2013-04-27 22:20] ozten commented on #2034
User Agent (or platform) sniffing is gross, but I'd rather have the shim give the best UX on a platform by platform basis.

Reasons
1) On the same platform, the Persona flow should always be consistent for security and ease of use
2) `preferRedirect` doesn't do anything on browsers with native implementations, right?

[2013-04-27 23:16] sandeepshetty commented on #2034
@lloyd Re native apps: Thanks. that makes sense.
@ozten : Agree with both your reasons but how do you handle something like Phonegap that does allow popups but outside the scope of the app?

[2013-04-28 05:28] callahad commented on #2034
<small>(+1 to both of ozten's points.)</small>

[2013-04-28 10:33] mathjazz commented on #2501
How can I help here?

Update compile-json in SVN repo with this?
https://github.com/mozilla/i18n-abide/blob/7a69be79c3e9938f750d9ede32b89e6a07db6e69/bin/compile-json

[2013-04-28 17:41] ozten commented on #2034
@sandeepshetty if we could detect that we were on phonegap and do a redirect based flow, I'd be all for it. My feedback is mainly about an RP controlled flag to switch the type of flow.

[2013-04-28 17:44] ozten commented on #2501
@mathazz - I haven't done the work in browserid's codebase, but ya. The tricky thing is picking a train and coordinating the work. I don't know if I'll have time next week.

I'll ping you when my parts are all done and coordinate a time that is good to you, so we can test the `.pot` files and makes sure everything is working well.

[2013-04-28 23:22] sandeepshetty commented on #2034
It [looks like](https://www.google.com/search?q=detecting%20app%20is%20running%20inside%20phonegap) the only reliable way to detect phonegap is to register a callback for the [deviceready](http://docs.phonegap.com/en/2.1.0/cordova_events_events.md.html#deviceready) event and set a flag in that callback to switch to a redirect based flow.

[2013-04-29 00:24] seanmonstar commented on #2034
I agree with not having a `request()` flag. It should only use this method if the standard popup and `window.opener` don't work. I don't see a way to feature detect that without trying to open a popup before, so it will likely need to be browser sniffed, and compared against a list of known bad agents.

As I work on this, I'm wondering if it's needed to have a redirect flow. Since the `watch()` AP

[2013-04-29 03:40] sandeepshetty commented on #2034
@seanmonstar There are two types of phonegap apps. One where you compile it yourself and the other is compiled on build.phoengap.com. I can only speak for the latter because that is what I use.

it looks like popups now work on phonegap. Since [4 months](http://shazronatadobe.wordpress.com/2012/11/21/inappbrowser-based-on-childbrowser-in-cordova-2-3-0/) for apps that you compile yourself and since

[2013-04-29 03:44] seanmonstar commented on #2034
@sandeepshetty ok, so it can open popups. It looks like the popups don't include `window.opener`, but that's ok. That's what I'm looking to fix. So then, I'll work on this that should fix popups with broken openers, without a redirect flow. Once I have it working, I'll create an instance that you can load into your app and you can tell me if it works for you.

[2013-04-29 15:32] mathjazz commented on #2501
Thanks, I'm pretty busy this week, too.

[2013-04-29 15:36] jedp commented on #2131
I think this bug fell out of sight.  This has been in production for some months now.  Closing.

[2013-04-29 15:36] #2131 closed, assigned to nobody

[2013-04-29 15:37] #3310 closed, assigned to nobody

[2013-04-29 16:10] lloyd commented on #2034
@ozten so yes, `preferRedirect` does nothing on a native persona implementation.  Is that a reason to not expose it?

On a call with our webmaker friends, they seemed incredibly interested in this feature as the default.  Further, popup hatred is the +1 community reaction to persona.

While a consistent experience is important, I'm not completely convinced we will sacrifice consistency by letting

[2013-04-29 17:01] callahad commented on #2034
Consistency of experience. Persona should probably look / feel the same on the same device. That's how you'll recognize and trust it. If sometimes Persona looks like a popup and sometimes it looks like a big redirect, on the same browser, you'll probably think you're being phished.

Can we throw the opt-in question over to @skinny97214?

[2013-04-29 17:36] seanmonstar commented on #1773
taking this, as this blocks #2034

[2013-04-29 18:03] jds2501 opened #3317 "[Trusted UI] Native persona (navigator.id) stops responding during beginning of payment"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=864760.

There's no easy way to reproduce this but we've seen it multiple times on today's build.

What we see:
- the TrustedUI opens to WebPay
- the TrustedUI remains open but the login never completes, it just hangs

Build info, tested on Unagi:
  https://git.mozilla.org/?p=releases/gecko.git;a=commitdiff;h=e729e5a826d4accc3a75062c3c2926

[2013-04-29 18:13] jedp commented on #3317
The "today" in "today's build" was April 23.

We had been having an issue with certificate expiration causing verification failures.  That has been fixed (it was the 3.29 train hotfix, if I recall correctly) and pushed to b2g on the 24th.  I am hopeful that this fix has solved this problem.  The last verifier error I saw in the logs was from april 24, before we pushed the fix.

To be sure, I need

[2013-04-29 18:14] zacc opened #3318 "B2G: For testability, make removal of `waiting` class from body the very last javascript action"
For testability it would be hugely beneficial to make the removal of the `waiting` class in the body the very last step performed by javascript after opening the Trusty UI dialog.

This would create a clear event from which the test is free to proceed.

Currently our UI tests wait for this to be cleared but then immediately run into problems with more javascript still processing after that point.

[2013-04-29 18:28] jrgm opened #3319 "train-2013.04.26 - javascript error bringing up the dialog."
Right now train-2013.04.26 is on the old physical stage. I was just going to get it a quick look before I asked to push this out to AWS. And I hit an error on the main site:

STR

1) Change /etc/hosts to point to physical stage:

63.245.209.245 diresworb.org www.diresworb.org
63.245.209.240 anosrep.org login.anosrep.org www.anosrep.org
63.245.209.239 static.login.anosrep.org verifier.login.anosrep

[2013-04-29 18:49] seanmonstar commented on #3319
Interesting. I'd expect it to be only part of the 20%, not most of them time, because that function is not supposed to be executed [if sampling is not enabled](https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L322).

[2013-04-29 19:08] jrgm commented on #3319
Yeah. Okay, I may be wrong about the location; that was just from trying to recognize fragments from the minified code.

[2013-04-29 19:41] jedp commented on #3319
It looks like the default value here should be `[]`, not `null`: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L249 (`null !== undefined`, but still)

[2013-04-29 19:58] jrgm commented on #3319
Running locally unminified firefox says "TypeError: eventStream is undefined ".

[2013-04-29 20:04] jrgm commented on #3319
Oh, there we go: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L322

[2013-04-29 21:28] jrgm commented on #3319
Oops, wrong line. Here: https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L388

[2013-04-30 01:57] jrgm commented on #3319
oh, and @seanmonstar, the 'sampling is not enabled' check sometimes has  samplingEnabled === undefined, so that check doesn't bail.

[2013-04-30 03:33] lloyd commented on #3306
sorry for the noise.  apparently I'm wondering what if 9 was 6.  Ignore the previous two commits.

[2013-04-30 04:14] lloyd commented on #3319
@shane-tomlinson hey dude, given you're going to be waking up in an hour or two, do you mind reviewing jrgm's minimal patch and merging or changing it so we can close down the 5 star and proceed with train testing?

[2013-04-30 04:41] jrgm commented on #3319
By the way, this PR is running at https://issue3319j.personatest.org/

[2013-04-30 04:54] jrgm commented on #3319
@lloyd also noted this in irc: "are these two lines transposed? https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/modules/interaction_data.js#L321-L322"

[2013-04-30 16:39] jedp commented on #3284
I've uploaded a patch to the bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=864886#c3

[2013-04-30 16:55] mounirlamouri opened #3323 "Persona should work with file://"
I tried to use Persona locally via a third-party library and I was surprised to see a cryptic error regrading the scheme. After trying the same library online in the example page, I realised that I was testing locally from file://.

Not being able to use Persona from file:// scheme is breaking some use cases.

[2013-04-30 16:56] shane-tomlinson commented on #3323
Dup of #39 (yes, #39)

[2013-04-30 17:00] mounirlamouri commented on #39
Does that bug being closed means that there is no intention to fix this?

[2013-04-30 17:01] shane-tomlinson commented on #39
@mounirlamouri - not particularly, it meant we didn't have a solid use case and champion who would fight to get it done. Want to be that dude?

[2013-04-30 17:44] jaredhirsch commented on #3318
Updated title to make it clear it's B2G-specific

[2013-04-30 18:22] jaredhirsch commented on #3306
do we assign a UUID to the blobs? if so, we could leave the de-duping to the server and simplify the client

[2013-04-30 18:29] jedp commented on #2908
As @benadida commented on https://github.com/mozilla/browserid/pull/3307#discussion_r4023206, longer-term, we will want a different issuer, but for the near-term, as b2g launches, this will be ok.

[2013-04-30 18:35] ozten commented on #3306
+1 UUID

[2013-04-30 19:26] jrgm commented on #3309
I went back over logs in stage since 04/24. While load was running, there was an overall 8% failure rate. In recent days, with no load_gen running, there is maybe a 1% failure rate. Which is consistent with this being a race (without load, there is not much, if any, backlog of queries in the replication queue).

[2013-04-30 19:30] lloyd commented on #3319
fix is merged into the train, what do we have to do to land a fix on dev and shut down this 5 star eyesore?

[2013-04-30 19:47] jrgm commented on #3319
I'm making a PR for dev as we speak.

[2013-04-30 19:54] seanmonstar commented on #3323
@mounirlamouri what use cases is that? are there some, besides testing locally?

[2013-04-30 21:47] jrgm commented on #3071
With the change to use the dialog on the main site (instead of forms in-page), this issue is obsolete. It has behaviour like GH-3070. Closing.

[2013-04-30 21:47] #3071 closed, assigned to nobody

[2013-05-01 00:35] fmarier opened #3326 "Developer FAQ on mozilla.org should link to MDN"
The Developer FAQ here: ttps://www.mozilla.org/en-US/persona/developer-faq/

doesn't have any links to our developer documentation on MDN.

[2013-05-01 01:01] callahad commented on #3326
The upstream repo is mozilla/bedrock, and they prefer to have Bugzilla tickets for pull requests. :)

I'd also suggest changing it from "Developer FAQ" to "Developer Docs" and point directly to the main MDN page...

[2013-05-01 01:03] callahad commented on #3326
(Whoops, missed the comment button)

It's 8 PM here; I'll whip up a fix in the morning, but feel free to preempt me.

[2013-05-01 01:19] fabricedesre commented on #3296
The marketplace packaged app has a stable origin, it's app://marketplace.firefox.com

[2013-05-01 01:21] mattbasta commented on #3296
This is news to me. Where are the docs for this?

[2013-05-01 01:25] fabricedesre commented on #3296
It's part of gaia : https://github.com/mozilla-b2g/gaia/blob/master/external-apps/marketplace.firefox.com/metadata.json

You should talk to @cvan

[2013-05-01 01:30] jds2501 commented on #3296
Preinstalled apps as @fabricedesre cites define the app origin up front, which includes packaged apps as well. So in marketplace's case, you won't get app://{UUID}.

So there is a potential workaround to have "sane" origins per the discussion above to at least unblock the preinstalled app use case, which includes marketplace.

[2013-05-01 02:29] benadida commented on #3296
that's a pretty good short-term fix for the marketplace bug! Doesn't solve the longer-term issue, and favors pre-installed apps, but a great short-term stop-gap.

[2013-05-01 04:37] seanmonstar commented on #2034
@sandeepshetty would you be able to test something for me in PhoneGap? I've been trying with Chrome for iOS, and wondering if the same problem exists elsewhere. Can you make a simple test case that opens a popup with `var w = window.open(somewhere)`, and record the value of `w.closed` (in the original window) before and after closing the popup?

[2013-05-01 08:11] cvan commented on #3296
Good point - this is true re: Gaia. This doesn't solve the issue on Android, however, since we can't dictate our origin there as we don't come preinstalled with Firefox.

[2013-05-01 09:00] sandeepshetty commented on #2034
@seanmonstar this is the code I used: https://github.com/otxt/otxtapp/blob/9a95b0c063489839d53e3bc92b70c9ada04be5af/index.html
It looks lilke `w.closed` is undefined.

[2013-05-01 11:15] mounirlamouri commented on #3323
Why wouldn't I be able to send an HTML file or a ZIP file to someone with a web application inside? Why should the web application be hosted somewhere?
That could also be used by Android/iOS applications: they could simply use a webview on local files (bundled).

[2013-05-01 12:13] callahad commented on #3323
If you're sending the application as a ZIP file, what are you trying to do with authentication? It would be trivial to circumvent it, right?

[2013-05-01 12:31] shane-tomlinson opened #3328 "cannot do npm install on fresh install"
Log truncated for relevant parts.

[code]

The author of yamlparser force pushed a new 0.0.2 version this morning, causing a sha mismatch:

[code]

[2013-05-01 12:42] shane-tomlinson commented on #3328
@jrgm - does the installation process for beta/stage use lockdown? If so, the sha's in those lockdown.json files will need to be updated in case you have to re-build.

[2013-05-01 12:54] #3328 closed, assigned to nobody

[2013-05-01 13:00] mounirlamouri commented on #3323
On 01/05/13 13:14, Dan Callahan wrote:

Isn't the base idea of Persona that you can't circumvent auth? I mean,
you can't fake to be logged in. The user would be able to remove the
code that checks that you are identified but then you just need to make
sure that the server never sends data if you are not logged in. Which is
something you anyway need to do.

[2013-05-01 15:53] callahad commented on #3323
Ah, okay. So you're sending the frontend in a zip file, but that frontend still talks to a remote backend that is _not_ under the client's control?

How urgent is this need for you? Out of curiosity, may I ask why sending people a link to a hosted frontend isn't ideal, given that you're hosting a backend either way?

[2013-05-01 18:23] jrgm commented on #3319
Patches landed in both `dev` and `train-2013.04.26`. Closing.

[2013-05-01 18:23] #3319 closed, assigned to nobody

[2013-05-01 18:44] callahad opened #3332 "Should we invoke onlogin() in response to request() if the selected identity matches loggedInUser?"
(via [StackOverflow](http://stackoverflow.com/questions/16320985))
### The Scene
1. You are currently logged into example.com as `foo@mockmyid.com`
2. You refresh example.com.
3. When the page loads, `loggedInUser` is already set correctly, `"foo@mockmyid.com"`
4. `onmatch` fires, followed by `onready`
5. You are now looking at your logged-in view of example.com
### The Actions
1. You click a link

[2013-05-01 18:46] jaredhirsch commented on #3332
@callahad I'm not sure you should be able to click a link, when logged in, that triggers `id.request()`. What's an example?

[2013-05-01 18:49] callahad commented on #3332
@6a68 So you'd vote for "undefined behavior" here? The one non-weird case I can think of is a "Switch Accounts" button, which is apparently very common in Drupal sites.

[2013-05-01 19:04] jaredhirsch commented on #3332
@callahad 'Switch Accounts', to me, sounds like "log out, then log in as another user." If I'm understanding correctly, the flow you're describing comes down to:
1. you log in as "foo@mockmyid.com"
2. you click 'Switch Accounts'
3. you see the picker and...choose "foo@mockmyid.com" again (?)

To me, this feels equivalent to a website always displaying the login button. I think the experience is go

[2013-05-01 20:12] yourcelf opened #3333 "New registration redirects to login.persona.org instead of relying party after timeout"
**Expected**: When a user is confirming an email address with persona for the first time, and clicks the link in the "Confirm address" email that reads "Click to confirm this email address and sign in to &lt;relying party domain&gt;", they are redirected to the relying party.

**Actual**: If the user waits some period of time before clicking the link in the email (I don't know what the lower limit

[2013-05-01 21:21] jedp commented on #3284
Oh great.  The patch works on b2g desktop, but seems to have no effect on b2g device.  It appears that each tab in the browser on b2g desktop has a different window id; but each tab on the device browser has the _same_ window id.  Can this really be?

[2013-05-01 21:48] callahad commented on #3326
Bugzilla Issue: https://bugzilla.mozilla.org/show_bug.cgi?id=867773
mozilla/bedrock Pull Request: mozilla/bedrock#818

[2013-05-01 21:54] seanmonstar commented on #2034
@sandeepshetty that's what I'm finding on Chrome for iOS. That's a bummer. It seems I can't use popups at all. I'll have make this use an actual redirect flow.

[2013-05-01 21:54] seanmonstar commented on #1773
this doesn't actually block #2304, but the fix still works for all browsers that support popup communication.

[2013-05-01 22:45] lloyd commented on #2656
@fmarier yvan wants this so bad he can taste it....

[2013-05-01 22:50] edwindotcom commented on #3285
yes - happy to dupe to #2970

[2013-05-01 22:50] #3285 closed, assigned to nobody

[2013-05-01 22:55] edwindotcom commented on #3300
@shane-tomlinson - yeah - i know existing tabs will not redirect to account manager.  But on desktop, navigating to account manager will be in signed in state.

also cancelling acct, does not logout on b2g phone.  I believe it would on desktop.

[2013-05-01 23:01] edwindotcom commented on #3280
I'm no longer able to repro this after switching to nightly builds.

[2013-05-01 23:01] #3280 closed, assigned to nobody

[2013-05-01 23:06] edwindotcom commented on #2806
our automation hasn't been stable enough on jenkins/saucelabs to run at 50 concurrent runs.  I vote to downgrade or just close for now.

[2013-05-01 23:13] edwindotcom opened #3335 "b2g: need myfavoritebeer.org to work with native UI"
1. on b2g - goto  myfavoritebeer.org
2. click sign in
   actual: new browser dialog pops up
   expected: native UI should launch

[2013-05-01 23:28] jaredhirsch commented on #2806
@edmoz the motivation here isn't to make jenkins even more parallelizable, it's to support jenkins AND one or two developers working on the tests independently. In the current system, our account gets maxed out and we simply see a ton of tests failing because they timed out waiting to start.

that said, if you want to change the starrage, go for it.

[2013-05-01 23:48] jedp commented on #3283
So far other b2g stuff has kept me from investigating this further this week.

[2013-05-01 23:54] jedp commented on #3300
@shane-tomlinson wow, 96 additions and 957 deletions is a thing of beauty!

I'm inclined to hold off on cherry-picking this over to native-persona for now.  I'd prefer to wait until our merge is done and I can just push dev to native-persona in one swell foop.

[2013-05-01 23:57] jedp commented on #3317
I spoke with @kumar303; he said he'd try to reconfirm.

@jds2501 I believe we've fixed the bug that was causing this (cert expiration), and would like to close this.  But can you tell me if the _symptoms_ are persisting?  Is there something else afoot that we need to address?

[2013-05-01 23:58] jds2501 commented on #3317
@jedp I think you are looking for @kumar303 with the question to me. He was the original filer of the bug.

[2013-05-02 00:12] sandeepshetty commented on #2034
I now understand that a big disadvantage of the redirect flow, at least on Phonegap, is the absence of the address bar making it a prime target for phishing.

@seanmonstar Phonegap lets you listen to an [exit event](https://github.com/otxt/otxtapp/blob/9499daa24c9ef5755ed7f3511675faf4f1d81647/index.html#L20) which I've tested. Could this be used instead for Phonegap to retain the popup flow?

[2013-05-02 05:27] fmarier commented on #2656
@lloyd and I discussed this and we propose keeping this as simple as possible:
- new `failedpasswords` column in the user table
- that column is incremented by one every time a user submits the wrong password
- if that count reaches 10, then we clear the password in the DB and reset the failed count to 0
- next time the user tries to login, they get the "forgot password" flow and my do an email ve

[2013-05-02 06:42] shane-tomlinson commented on #2656
@fmarier - I am hesitant to wipe the user's password, this could lead alice, as somebody that doesn't like bob, to cause bob to have to reset his password over and over again.

What about when the password count reaches 10, lock the user out for several minutes and send an email with a link to optionally reset the password?

[2013-05-02 07:14] shane-tomlinson commented on #3333
@yourcelf - this is very strange indeed. Are you opening the verification link in the same browser that you started the process in?

[2013-05-02 10:11] shane-tomlinson opened #3336 "session duration reset to "ephemeral_session_duration_ms" every time a user completes an email verification."
This means a user who has already selected "yes, this is my computer" will have a super short session duration after they verify a new email address.

[2013-05-02 10:29] shane-tomlinson commented on #3336
This affects:
- complete_reset
- complete_transition
- complete_user_creation

[2013-05-02 10:32] shane-tomlinson commented on #3336
A test for complete_reset can be found:

https://github.com/mozilla/browserid/blob/8e2486b0c934ed21aeff1cd774fbc15b7c2a5b5c/tests/session-duration-test.js#L253-L307

[2013-05-02 10:39] cotton-more commented on #3332
In my opinion no callbacks should be called if loggedInUser equal to Persona's state.

Visitor entered Persona's credentials, send assertion code to backend and successfully confirm that he has that email address. So, from server I can response with that email and store it as a session variable. After that I can handle that response with "onlogin" callback.

When page has been reloaded it should b

[2013-05-02 12:46] yourcelf commented on #3333
@shane-tomlinson Hadn't expected that to be necessary, but I checked again, and yes: same browser exhibits this problem.

[2013-05-02 15:03] jedp commented on #3335
Fantastic.  It's broken on b2g.  https://bugzilla.mozilla.org/show_bug.cgi?id=867847

A fix on client is necessary.  Patch submitted.

[2013-05-02 15:23] kumar303 commented on #3317
@jedp it sounds like you fixed it server side. What day/time do you think it was fixed on? I haven't seen the symptoms recently but I have not been testing payments for a couple days. Krupa would know. I don't know what her github account is to ping her about it.

[2013-05-02 15:30] jds2501 commented on #3317
cc @krupa

[2013-05-02 16:05] lloyd commented on #2656
after spending time with the code, I'd like to take a slight tweak on @fmarier proposal:
- if that count reaches 10, then when they try to authenticate they see "your account is locked, please click forgot password to reset your password"

this is identical in spirit but something we can execute quickly.

@shane-tomlinson in the future we can add captcha or some nicer option, given the severity of

[2013-05-02 16:07] lloyd commented on #2656
remaining work:
1. dbwriter api call
2. add configuration parameter
3. update authenticate_user api to check failed password attempts and return a specific error
4. update frontend to display a different error tooltip based on server response in 3

now that database changes and tests are implemented, this is about another hour or two of dev work.

[2013-05-02 16:36] callahad commented on #3314
Tagging as 2-stars. We have some existing bugs open to loosen siteLogo restrictions, possibly by allowing data URIs, which might be a better solution than trying https for http origins.

[2013-05-02 16:37] jrgm commented on #3309
Fix from train-2013.04.26 (GH-3322) and dev branch (GH-3321) have been merged. Closing.

[2013-05-02 16:37] #3309 closed, assigned to nobody

[2013-05-02 16:38] callahad commented on #3318
@shane-tomlinson recently fixed this. Still needs to get merged into dev and deployed.

[2013-05-02 16:40] shane-tomlinson commented on #3318
By coincidence, I did this in PR #3331. As soon as it is merged, this will be all good. @zacc - FWIW, I changed the name of the class from "wait" to "loading"

[2013-05-02 16:43] lloyd commented on #3323
because the origin cannot be used here, this use case would mean any locally issued assertion would be able to authenticate to your server.

Concretely, I can write a local application, users sign into it, and then I can use issued assertions to authenticate to your server and impersonate the user without you knowing.  is this acceptable risk for you?

[2013-05-02 17:42] krupa commented on #3317
I haven't seen this bug all this week.

[2013-05-02 19:25] shane-tomlinson commented on #3296
@mattbasta, @cvan, @benadida - @jedp and I were just wondering what the origin of TOS/PP agreements would be for packaged apps. Will TOS/PP be available? Would the TOS/PP agreements have to be hosted on external https sites?

[2013-05-02 19:27] mattbasta commented on #3296
The ToS/PP are inside the app. We handle clicks to `<a>` tags and `pushState` to those pages.

[2013-05-02 19:27] mattbasta commented on #3296
If need be, Persona could trigger FXOS's browser to hit those pages on marketplace.firefox.com. I doubt many users will ever do it, so it's mostly an edge case imo.

[2013-05-02 19:28] shane-tomlinson commented on #3296
Thanks @mattbasta!

[2013-05-02 20:51] krupa commented on #3317
I spoke too soon. I just hit this bug on 2g. However closing the trustedUI and starting over worked.

[2013-05-02 20:58] lloyd commented on #2656
done.  r? ^^

[2013-05-02 23:43] jedp commented on #3139
@shane-tomlinson, @mathjazz there is a handful of new strings.  They are in this gist: https://gist.github.com/jedp/5506266

/cc @ozten

[2013-05-02 23:54] jedp commented on #2982
So ... close ...

[2013-05-02 23:55] #2117 closed, assigned to nobody

[2013-05-03 01:10] jedp commented on #3335
In triage for tef+

[2013-05-03 01:11] jedp commented on #3279
That PR looks lovely on desktop and on b2g device.  Beautiful work, @shane-tomlinson

[2013-05-03 01:57] jedp opened #3338 "Enable b2g login on home screen"
Due to the way persona cookies and localStorage are sequestered in the system app, the home page can't depend on having its state updated after a successful persona login on b2g.

The effect will be that b2g will think the user is logged in, and the home page will notice no change.

[2013-05-03 02:09] seanmonstar commented on #2034
It seems the exit event is non standard. I'd rather a flow that works for all (reasonably all) environments.

[2013-05-03 09:52] quack1 commented on #3239
I am the guy who received these advices from callahad on IRC, and they are very usefull! I'm currently learning how Persona works from an end-user developer side, and then I will start contributing to the project.

Afer that, I will write a blog post in French and English about how I started contributing to Mozilla project, and more precisely to Identity. Of course, I will share it before on the I

[2013-05-03 10:08] shane-tomlinson opened #3339 ""check your email" screen not shown for unverified email when visiting a site that requires verified emails."
STR (using local dev because we have no test RPs with this functionality)

1) Open test RP
2) Select "Allow Unverified"
3) Open dialog
4) Create new account
5) On test RP, uncheck "Allow Unverified"
6) Open dialog
7) Select same email

Result:
"Loading" screen with spinner

Expected:
"Check your email" screen.

[2013-05-03 10:11] shane-tomlinson opened #3340 "allowUnverified does not work for add email, transitionNoPassword, transitionToSecondary and email re-verify."
As noted here: https://github.com/mozilla/browserid/pull/3307#issuecomment-17063302

[2013-05-03 10:11] shane-tomlinson opened #3341 "development menu interferes with TOS/PP close button."

[2013-05-03 10:13] shane-tomlinson opened #3342 "Loading spinner does not spin on IE8/9, mobile webkit"
Webkit is due to a Chrome for Android bug that causes the UI to be completely blank and unusable. IE is because it does not support CSS animations.

[2013-05-03 10:15] shane-tomlinson commented on #3341
This is only enabled in dev, and the tos/pp can be closed by clicking on any black area.

[2013-05-03 10:55] shane-tomlinson opened #3343 "delay screen text is not centered on desktop"
![screen shot 2013-05-03 at 11 52 37](https://f.cloud.github.com/assets/848085/458624/bfc9fdce-b3df-11e2-80d3-a141e89eff2c.png)

[2013-05-03 11:12] shane-tomlinson commented on #3343
This is the same as the current prod, so this is not a regression.

[2013-05-03 11:13] shane-tomlinson commented on #3343
The wait screen is as it should be, the delay screen should be centered.

[2013-05-03 12:50] #3339 closed, assigned to nobody

[2013-05-03 12:58] #3343 closed, assigned to nobody

[2013-05-03 13:57] #2905 closed, assigned to nobody

[2013-05-03 13:57] #3341 closed, assigned to nobody

[2013-05-03 14:17] shane-tomlinson commented on #3336
This is fixed with the merge of #3327. Nice fix @jedp.

[2013-05-03 14:18] #3336 closed, assigned to nobody

[2013-05-03 14:19] shane-tomlinson commented on #3318
This should be fixed with the merge of #3331. The "waiting" class name has been renamed to "load". @zacc - take it away, this is now merged into dev. Can you let me know if this suits your needs better?

[2013-05-03 14:19] #3318 closed, assigned to nobody

[2013-05-03 14:20] shane-tomlinson commented on #3338
@jedp - is this a dup of #3300?

[2013-05-03 14:23] shane-tomlinson commented on #3279
This should be fixed with the merge of #3236. TOS/PP links are opened in an iframe and are only allowed for sites served up using https. The header and footer are no more.

[2013-05-03 14:23] #3279 closed, assigned to nobody

[2013-05-03 14:24] jedp commented on #3338
Yup. Sorry.

[2013-05-03 14:24] #3338 closed, assigned to nobody

[2013-05-03 14:24] swh opened #3347 "Uncompressed JavaScript isn't available"
https://login.persona.org/include.js

says:

[code]

But https://login.persona.org/include.orig.js just returns an error:

[code]

[2013-05-03 14:26] shane-tomlinson commented on #3267
@callahad - something is fishy here.

Here is what it looks like on my computer

Safari->Firefox->Chrome (L->R)

![screen shot 2013-05-03 at 15 24 34](https://f.cloud.github.com/assets/848085/459280/6481436e-b3fd-11e2-89ed-4465e85c0d6d.png)

[2013-05-03 14:28] shane-tomlinson commented on #3347
Dup of #3212, closing.  We should really fix this.

[2013-05-03 14:28] #3347 closed, assigned to nobody

[2013-05-03 14:29] shane-tomlinson commented on #3347
Sorry for the terse response @swh - thanks for reporting this to us. Can you pile on in the first bug and chastise us into action?

[2013-05-03 14:38] swh commented on #3347
No problem, and will do.

[2013-05-03 14:39] swh commented on #3212
Someone should get on this - it should be a simple fix, and it looks really scruffy!

Worst case just remove the comment from the top of the compressed .js file.

[2013-05-03 15:10] shane-tomlinson opened #3348 "[chrome for android tablet] - Loading screen does not fill entire window."
The loading screen does not fill the entire window on Chrome for Android on a tablet. It occurs too quickly to take a screen shot.

[2013-05-03 15:11] shane-tomlinson commented on #3348
And it only happens on the first dialog load.

[2013-05-03 15:14] shane-tomlinson opened #3349 "loading spinner sometimes spins "loading" text."
If the loading graphic takes a long time to load, the text "loading" spins instead.

[2013-05-03 15:24] shane-tomlinson opened #3350 "[desktop] "<your primary> makes this easy!" text is not bolded"
This used to be bolded, it no longer is:

![screen shot 2013-05-03 at 16 23 35](https://f.cloud.github.com/assets/848085/459607/90503bdc-b405-11e2-81aa-173fefeac474.png)

[2013-05-03 15:25] ozten opened #3351 "iOS Primary IdP lookup error"
STR
1) On iPhone (6.1.3) in Safari go to http://dev.myfavoritebeer.org
2) Click button
3) enter a primary email address (I used shout AT ozten.com)
## Actual

Weird spinner without much CSS
![](http://dl.dropbox.com/u/10060532/Screenshots/tvWe.png)

After about 20 seconds...

Timeout or other error screen
![](http://dl.dropbox.com/u/10060532/Screenshots/mnve.png)
## Expected

Flow should say "ozte

[2013-05-03 15:27] shane-tomlinson commented on #3350
Same goes for the "Email Verified" text when returning from the IdP.

[2013-05-03 15:31] ozten commented on #3351
I need to drink some coffee. Shane pointed out that my IdP isn't hooked up for dev

[2013-05-03 15:31] #3351 closed, assigned to nobody

[2013-05-03 15:41] shane-tomlinson opened #3352 "[desktop] error screen has partial white background if shown after loading screen"
STR
1) visit dev.123done.org, open dialog.
2) Enter an address for an IdP not set up to provision dev.

![screen shot 2013-05-03 at 16 40 26](https://f.cloud.github.com/assets/848085/459685/e92d6ade-b407-11e2-8dd4-fcc3e275b0e7.png)

[2013-05-03 16:03] ozten opened #3353 "iOS dialog has spinner while loading"
Not really sure if this is a bug.

Steps to Reproduce
1) On iPhone in Safari go to http://dev.myfavoritebeer.org
2) Click button

Actual
For 1-3 seconds, I see the spinner. It is now huge and white, instead of being grey like the rest of the dialog
![](http://dl.dropbox.com/u/10060532/Screenshots/prWw.png)

Expected
Dialog loads. Maybe a subtle indeterminate progress bar if this will take a while.

[2013-05-03 16:05] shane-tomlinson opened #3354 "[desktop] arrow animation occurs at same time as "signing in" white screen."
It's a bit jarring.

[2013-05-03 16:31] shane-tomlinson opened #3355 "[mobile] transitionNoPassword has no title"
![screen shot 2013-05-03 at 17 30 53](https://f.cloud.github.com/assets/848085/459916/ead939c4-b40e-11e2-8ef0-40b9b0557951.png)

[2013-05-03 16:59] zandr opened #3356 "[safari] Persona login fails in Safari Private Browsing"
If I'm using Safari in Private Browsing mode, I'm unable to log in to air.mozilla.org.

Clicking the Sign In button takes me to the login popup, but I get "Persona requires cookies to remember you."

Same behavior in desktop and mobile (iPad) Safari. Functions as expected in Aurora.

[2013-05-03 17:07] shane-tomlinson commented on #3356
Thanks for reporting this @zandr - this is a dup of #3094 I believe.

[2013-05-03 17:08] shane-tomlinson commented on #3356
And #3220

[2013-05-03 17:36] mounirlamouri commented on #3323
It's not terribly urgent, I will just use something else as a login system.

Why the origin can't be used? This should probably send a null origin or something similar, right? Couldn't that information be used somehow?

[2013-05-03 17:37] shane-tomlinson opened #3357 "transitionToPrimary shows normal "<idp> makes it easy!" screen from sign in."
It doesn't show the awesome upgrade message.

[2013-05-03 17:39] zandr commented on #3356
I'll take your word for it. Those are pretty different behaviors from the user perspective, which is why I filed a new issue. :)

[2013-05-03 17:39] shane-tomlinson commented on #3357
This is from the sign in screen, I have not tried from the email picker.

[2013-05-03 17:44] seanmonstar commented on #3349
... lol

[2013-05-03 18:35] kparlante opened #3359 "KPI: cancel after mistyped email shouldn't count as new_account"
- open a browser with empty local storage
- sign in to 123done.org (or wherever)
- enter an email address (non-bigtent) that doesn't exist on the fallback yet (mistyped or wrong email, from the user's perspective)
- hit cancel when it prompts you to create a password
- choose an email address that has been entered before properly
- enter the correct password and sign in

The blob that is generated

[2013-05-03 18:40] jedp commented on #3335
Approved for tef+.  Should be landing in the coming week.

[2013-05-03 19:48] kparlante opened #3360 "Dialog disappears and won't come back up after following "Learn more" link to main page"
1. Go to dev.123done.org
2. Sign in with Persona
3. In the dialog, hit the "learn more" link
4. In the browser, hit the "sign in" button

The dialog closes, and repeatedly hitting the sign in button doesn't bring it back up.

On production of course, you can sign in on the main site. This is new with the change to use the dialog from the main site: @shane-tomlinson

[2013-05-03 19:51] kparlante commented on #3360
I should add that you can go back to dev.123done.org and bring up the dialog from the "Sign in with Persona" link normally -- you just can't do it from the main page.

I tried this on both Chrome and Safari.

[2013-05-03 20:37] jedp commented on #2915
I was having trouble reliably reproducing this.  And there is a serious bug underneath it all.

Apparently, on FirefoxOS, tabs are their own windows on _desktop_ builds; and on mobile, tabs are _iframes_ within a single window.  All along the native identity solution has been completely unaware of this.  It has taken its cue from its desktop origins, where window id is used as a unique id in messa

[2013-05-03 22:25] karlht opened #3361 "Sign-in link on TOS page doesn't work"
STR:
1. Pop a dialog from beta.123done.org
2. Click on the Terms of Service link.
3. Try to click on the 'Sign in' link on the resulting TOS page.

Expected:
1. Sign-In page.

Actual:
1. Link doesn't work.

[2013-05-03 22:26] karlht commented on #3361
This is probably due to the sandboxing done as part of the b2g work.  /cc @shane-tomlinson, @jedp

Thoughts?

[2013-05-03 22:36] edwindotcom opened #3362 "confirm email link page is all white with no error on screen"
1. goto beta.123done.org
2. enter a non-yahoo email to sign in
3. check email and click on link to confirm acct,
4. refresh that link again to show the error

result:
https://login.anosrep.org/confirm?token=MOtSNLkrerOFiEopGGLIafEiJPrTL9T4vRxhCDzJh5Ut0pad
I think this might be the issue:
<body class="loading" style="display: none;">

expected:
https://login.persona.org/confirm?token=MOtSNLkrerOFiE

[2013-05-03 22:36] karlht opened #3363 "Confirmation page with unknown/incorrect token leads to a blank, dead page."
STR:
1. Pop a dialog from beta.123done.org.
2. Enter an email address and then click 'forgot password'
3. Copy and paste the URL from the email, but omit the last character in the token.

Expected:
1. Error message: 'Invalid token.'

Actual:
1. An all-white page (body element is styled 'display: none')

[2013-05-03 22:39] edwindotcom commented on #3362
related to #3363 , could be duped - but will leave it for now.

[2013-05-03 23:01] karlht commented on #3363
I suspect this is what is causing #3362, as well, because the token is known to persona.org but not to anosrep.org.

[2013-05-03 23:31] edwindotcom opened #3364 "eyedee.me not working as a primary idP right now"
looks like something is wrong with eyedee.me.  This blocks automation.
1. sign into {www,beta}.123done.org
2. enter an user@eyedee.me acct

result: you're asked for email, then to confirm via email

expected: you should be redirected to eyedee.me if new acct, other wise verified inline

[2013-05-03 23:40] jrgm commented on #3364
The SSL certificate issued by Godaddy expired earlier today.

[2013-05-03 23:41] lloyd commented on #3364
Shit.  I can fix this.

-- lloyd (thumb-typing)

On May 3, 2013, at 5:40 PM, John Morrison notifications@github.com wrote:

[2013-05-04 10:04] shane-tomlinson commented on #3362
I theorize this is a result of #3262.

[2013-05-04 10:04] shane-tomlinson commented on #3363
Closing as dup of #3362.

[2013-05-04 10:04] #3363 closed, assigned to nobody

[2013-05-04 10:26] shane-tomlinson commented on #3357
Looking at the changes to modules/authentication.js, this does not appear to be a regression from the recent B2G merge.

[2013-05-04 16:03] lloyd commented on #2656
merged into dev.  to be included in http://personatra.in/#2013.05.10

[2013-05-04 16:03] #2656 closed, assigned to lloyd

[2013-05-04 16:17] lloyd commented on #3364
resolved.

[2013-05-04 16:17] #3364 closed, assigned to nobody

[2013-05-04 20:58] edwindotcom opened #3365 "sign in button never loads on dev.123done.org"
1. goto: http://dev.123done.org/

actual: the sign in button displays loading spinner, and never loads

-- after a long time, you see this in console:
[13:57:52.637] TypeError: navigator.id is undefined @ http://dev.123done.org/js/123done.js:14

expected: it should load

[2013-05-04 20:59] lloyd commented on #3365
login.dev.anosrep.org is down right now.

my DNS provider was under DDoS attack earlier and now I'm unable to update DNS.

this bug is invalid I think, underlying problem is dev is down.

[2013-05-04 20:59] #3365 closed, assigned to nobody

[2013-05-04 21:01] lloyd commented on #3365
just sent a message to zerigo support, should be resolved shortly

[2013-05-04 21:11] jedp opened #3366 "stage_user with allowUnverified throws a 400"
Seems like this got bruised up a bit in the big merge

Blocks b2g and marketplace

[2013-05-05 07:03] fmarier opened #3367 "Ensure that Mozilla properties are not using the old browserid.org URLs"
Chris More reports that the following sites still contain the string `browserid.org`:
- [ ] affiliates.mozilla.org
- [ ] air.mozilla.org
- [ ] builder.addons.mozilla.org
- [ ] gameon.mozilla.org
- [ ] identity.mozilla.com
- [ ] metrics.mozilla.com
- [ ] mozillalabs.com
- [x] moztrap.mozilla.org
- [ ] quality.mozilla.org
- [ ] reps.mozilla.org
- [ ] status.mozilla.com

(from https://wiki.mozilla.or

[2013-05-05 14:39] callahad commented on #3367
(I added checkboxes)

[2013-05-05 14:47] #3350 closed, assigned to nobody

[2013-05-05 14:47] #3352 closed, assigned to nobody

[2013-05-05 14:47] #3354 closed, assigned to nobody

[2013-05-05 14:47] #3355 closed, assigned to nobody

[2013-05-06 13:54] jedp commented on #3366
/cc @shane-tomlinson

[2013-05-06 14:12] shane-tomlinson commented on #3366
I cannot get this to occur locally. You mentioned this might have something to do with app:// domains?

[2013-05-06 15:15] shane-tomlinson opened #3368 "/wsapi/stage_email responds with SQL exception message"
[code]

[2013-05-06 15:23] shane-tomlinson commented on #3366
@jedp - could this be related to #3368, which is another issue that I cannot reproduce locally because it only happens with a mySQL database?

[2013-05-06 16:02] lloyd commented on #3368
You need to update the MySQL schema.  We added a column to the user table.

[2013-05-06 16:02] #3368 closed, assigned to nobody

[2013-05-06 17:49] shane-tomlinson commented on #3368
Thanks @lloyd, destroying the instance and recreating has fixed it.

[2013-05-06 17:51] shane-tomlinson commented on #3361
@karlht - Are you trying this from a b2g phone or a normal browser? If a normal browser, I think this is related to #3253.

[2013-05-06 17:55] shane-tomlinson commented on #3361
@karlht - this is a really odd scenario, this is occurring because the dialog is already open when you try to do another sign in. In effect, you are trying two do two concurrent sign ins in two dialogs, I do not believe we have ever supported this.

[2013-05-06 17:58] shane-tomlinson commented on #3361
@karlht - finally, with the merge of #3236, this exact scenario should no longer be possible because TOS/PP agreements are opened inline in the dialog. Nice corner case finding. It will still be possible to have the dialog open, and in another tab, open the tos link and try to open another dialog.

[2013-05-06 22:01] chrismore commented on #3367
Can we file bugs for each of the websites in the appropriate components in Bugzilla?

Affiliates: https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20Affiliates&component=affiliates.mozilla.org

Air: https://bugzilla.mozilla.org/enter_bug.cgi?product=Air%20Mozilla&component=Other

Mozilla labs: https://bugzilla.mozilla.org/enter_bug.cgi?product=Websites&component=mozillalabs.com

Reps: ht

[2013-05-06 22:09] chrismore commented on #3367
Just as a note to some of the people mentioned above, @fmarier is asking for these changes:

We will remove support for the following deprecated URLs by November
1st, 2013:

https://browserid.org/include.js
https://browserid.org/verify

Now would be a good time to update your applications, libraries and
sites to the correct URLs:

https://login.persona.org/include.js
https://verifier.login.persona

[2013-05-06 22:14] camd commented on #3367
I fixed MozTrap and pushed it out today.  So hopefully you can take me off your list.  :)

Though if you DID want to enter a bug on MozTrap:
https://bugzilla.mozilla.org/enter_bug.cgi?component=MozTrap&form_name=enter_bug&product=Mozilla%20QA

[2013-05-07 01:19] jedp opened #3369 "params with leading underscore filtered out of b2g identity messages"
After all those conversations about `_experimental_*` properties, I failed to notice that underscore params are actually filtered out by the identity b2g message passer.

This may be regarded as a bug in the identity service, but it means that for now, we have to take our `_experimental_foo` properties and rename them to `experimental_foo`

[2013-05-07 05:58] seanmonstar commented on #3367
Also https://builder.addons.mozilla.org! (which also uses the getVerifiedEmail() API, eep!)

[2013-05-07 06:17] rossbruniges commented on #3367
mozilla.org/gameon is where to file the gameon bugs

[2013-05-07 13:34] shane-tomlinson opened #3371 "[mobile] "checking with email provider" state from "add email" does not show loading screen."

[2013-05-07 21:15] kparlante opened #3373 "B2G Metrics"
It would be great if we could be tracking B2G persona accesses when it goes to market.

As long as B2G isn't on its own isolated server, I believe it will show up in router-metrics, identifiable by the browser. I don't think we can currently identifiy verifier hits that are from B2G. With auto-login, we don't see a hit in router-metrics for every login.
- Do we want/need additional B2G metrics to

[2013-05-08 01:51] jedp commented on #3369
works  and merged.

[2013-05-08 01:51] #3369 closed, assigned to jedp

[2013-05-08 01:52] jedp commented on #3366
This was me being a moron.  I had a bad parameter name.  closing as invalid.

[2013-05-08 01:52] #3366 closed, assigned to nobody

[2013-05-08 01:53] jedp commented on #3335
Landed and uplifted to 1.0.1.  Yay.

[2013-05-08 18:59] mattbasta opened #3374 "Errors thrown inside `navigator.id.watch` callbacks get swallowed"
If an error is thrown inside the `onlogin` or `onlogout` callbacks (and presumably `navigator.id.request`'s `oncancel`), it is not reported in the error console. This means that login seems to mysteriously stop working in these cases for no apparent reason. Tracing the code in Firefox's dev tools and Firebug produce no useful debugging information since they don't report exceptions as they happen.

[2013-05-08 19:01] mattbasta commented on #3349
If this is a B2G issue, it could be that it's caused by one of the many transition/transform/position bugs on file. B2G is particularly bad at handling transforms on transitioned or animated elements.

[2013-05-08 20:58] jedp opened #3375 "pt-BR translation needed for tos/pp"
It seems we never got the persona tos and pp translated into Brazilian Portugese.

This will be a blocker for Marketplace going to market in June, so if we can get this landed in dev in the next two weeks, I think we should make it.

[2013-05-08 21:28] shane-tomlinson commented on #3375
@mathjazz, @jedp - I was once told that we have to have special legal translators for TOS/PP text.

[2013-05-08 22:18] edwindotcom opened #3376 "b2g: unable to scroll when signing in to primary idP"
1. goto dev.123done.org
2. sign in with a user@yahoo.com or user@eyedee.me acct
3. go through flow to yahoo branded sign in page

result: unable to scroll around, i have to get out of keyboard mode, then tap on the password field.

[2013-05-08 22:21] edwindotcom opened #3377 "b2g: closing nativeUI does not cause sign in button to be enabled on mfb.com"
1. goto dev.myfavoritebeer.org
2. click on sign in button
3. click 'X' to cancel out of native UI

result: sign in button is disabled and greyed out
expected: it should be enabled and not greyed out

[2013-05-08 22:23] vthunder commented on #695
Btw... what are the possibilities?

a) you have an old code,
b) you have a code that's not that old, but was invalidated by a newer one,
c) you're copying and pasting the URL and typoed it somehow,
d) you're mucking around trying to screw up the service (or maybe just poking around for fun).

I'd assume (a) or (b) since they seem much more likely than the other two. You could say something like:

[2013-05-08 22:36] edwindotcom opened #3378 "b2g: sign in via bigtent results in json parse error"
1. on b2g goto dev.123done.org
2. sign in with user@yahoo.com

result: upon signing in to yahoo page, i get the error parse json error

After i close the window - i'm logged in

[2013-05-08 22:36] shane-tomlinson commented on #3335
merged and pushed lloyd/myfavoritebeer.org#66

[2013-05-08 22:37] #3335 closed, assigned to jedp

[2013-05-08 22:43] edwindotcom commented on #3378
![2013-05-08-15-28-58](https://f.cloud.github.com/assets/3698618/480477/ac258cde-b830-11e2-8129-74694f74d93c.png)

[2013-05-08 22:48] edwindotcom commented on #3378
this is the same on www.123done.org with browser based persona (not native UI)

[2013-05-09 02:01] seanmonstar commented on #3374
Indeed, this seems true of `onlogin`: https://github.com/mozilla/browserid/blob/dev/resources/static/include_js/_include.js#L405

It seems like we didn't want errors in user provided scripts to stop our code from finishing up the event. Which makes sense... but it also sucks that you can't see the error.

Also worth noting that this behavior only happens when `onlogin` is called from the return va

[2013-05-09 13:59] Osmose opened #3379 "Always call onlogout when navigator.id.logout is called"
Currently, when `navigator.id.logout` is called while the user doesn't have an active Persona session, the `onlogout` callback isn't run. Because of this, there's no way to write code that is guaranteed to run _after_ `navigator.id.logout` finishes (unless logout is synchronous and I'm missing that fact).

My suggestion is to always run `onlogout` when `navigator.id.logout` is called, perhaps with

[2013-05-09 15:25] mattbasta commented on #3374
For what it's worth, you shouldn't need to wrap your code in a try/catch block anyway. If there's an internal problem with Persona, wouldn't you want that exposed so you can correct the issue? You'll get exactly zero feedback about broken internals if you swallow your own errors.

[2013-05-09 15:30] seanmonstar commented on #3374
Ah, we don't swallow our own errors. That catch block is to protected the
internal code from errors written by the user in the `onlogin` callback. We
didn't want their errors stopping all our internals, methinks.

[2013-05-09 15:32] Pike commented on #3375
We're generally not translating any of our privacy policies and the like.

[2013-05-09 15:36] mattbasta commented on #3374
Perhaps you can catch the error, assign it to a variable, and throw it once you're out of the critical code path?

[2013-05-09 16:08] ozten commented on #3375
@pike thanks for you help. From a B2G partner perspective... we are okay? This isn't a shipping blocker?

[2013-05-09 18:31] shane-tomlinson opened #3380 "[b2g] Persona unable to perform automatic login after user signs in."
Affects b2g 1.0.1, this is a blocker.

Original Bugzilla bug is https://bugzilla.mozilla.org/show_bug.cgi?id=870412

[2013-05-09 18:57] shane-tomlinson commented on #3380
closing with merge of #3381

[2013-05-09 18:57] #3380 closed, assigned to nobody

[2013-05-10 16:16] rmorlok commented on #3286
+1 regarding the co-branding of the signup email. We've gotten feedback from our Docalytics customers that they were confused about the Persona email they were receiving.

[2013-05-13 03:05] fmarier opened #3383 "Typo in micrajax breaks support for IE8 without native XMLHTTP support"
There is a typo in [micrajax](https://github.com/mozilla/browserid/blob/2a638af0190162fc3480ed07458e66013d7ec775/resources/static/common/js/lib/micrajax.js#L27):

[code]

should be:

[code]

It looks like the spurious slash was introduced in e00740316ccf61f60f6efc29905da6d039178fc8.

[2013-05-13 03:43] jrgm commented on #2492
Actually, in train-2013.04.26, this text is still always in English despite Chrome or Firefox being in German or Estonian. Sorry, to the late check of this on this train.

[2013-05-13 16:06] kumar303 opened #3384 "Document prefixed experimental features"
There was a thread here where we discussed documenting experimental, prefixed options to Persona APIs. Let's do the documentation part!

Thread: https://groups.google.com/d/msg/mozilla.dev.identity/JzDcePzAs4c/kRN5GL05l4QJ

This would be helpful for Firefox OS payments bugs [like this](https://bugzilla.mozilla.org/show_bug.cgi?id=850084#c11) but also for other community members who want to weigh i

[2013-05-13 17:25] jedp commented on #3284
There's a fix on b2g platform for the window id issue I mentioned in the previous comment.

[2013-05-13 21:12] seanmonstar commented on #2560
I used to be able to reproduce this a while ago, and it seemed to be the browser canceling open XHRs when navigating away from a page. I haven't been able to reproduce this now, though. I'm left wondering if it was browser bugs that have been fixed.

Still, if someone still hits this, I'd love to see the statusCode and Text of the request that fails.

[2013-05-13 21:16] jrgm opened #3385 "[ie8] train-2013.05.08 - frontend test failures"
Works in other browsers, including IE9 and IE10, but not in IE8. These two
errors are shown below, and the test appears to stop executing shortly after.

https://jrgm-train0508.personatest.org/test/?filter=dialog%2Fjs%2Fmodules%2Fauthenticate%3A%20known%20secondary%20email%20declared%20in%20options%20-%20show%20password%20field

https://jrgm-train0508.personatest.org/test/?filter=dialog%2Fjs%2Fmod

[2013-05-13 21:24] jaredhirsch commented on #3385
looking now

[2013-05-13 21:56] jaredhirsch commented on #3385
at [line 242 of dialog/js/modules/authenticate.js](https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/js/modules/authenticate.js#L242) we give the PASSWORD_SELECTOR node focus via `dom.focus(PASSWORD_SELECTOR)`. If you set a breakpoint on that line and run the qunit tests, then ask IE8 if the node is hidden, IE8 will say that it is indeed hidden:

[code]

This explains the first

[2013-05-13 22:27] deepak1556 commented on #3374
you can use domain feature of nodejs to solve the problem. put the code in the critical path to emit an event if error occurs and handle them in the listener.

[2013-05-13 22:36] seanmonstar commented on #3374
@deepak1556 this is code that executes in the browser, when you call `navigator.id.watch()`

[2013-05-13 23:45] ethernomad commented on #2560
If I remove the

[code]

I can still trigger the problem, although it seems harder to trigger than it used to be. I think the reason there are red requests in the screenshot above is because the requests are aborted when a new page is being loaded. They don't have a response code.

Sometimes session_context is the request that gets interrupted. This does not seem to be the root cause of the proble

[2013-05-14 00:19] jaredhirsch commented on #3383
persona doesn't work on IE older than 8 because we assume window.postMessage is defined, I think we don't need to worry about this.

[2013-05-14 00:25] fmarier commented on #3383
There is an option called "Enable native XMLHTTP support" which disables `window.XMLHttpRequest` but still allows old-style XHRs.

So we should re-enable that ActiveX fallback to support these IE8 users that have that setting.

[2013-05-14 00:48] fmarier commented on #3383
This is how I found out about this problem. A user opened my [Persona troubleshooting page](https://github.com/fmarier/persona-troubleshoot) and got this:
![ie8_broken_xhrs](https://f.cloud.github.com/assets/167821/499160/99367a86-bc2f-11e2-9145-e2f2322b179b.png)

This shows that while `window.XMLHttpRequest` is not defined, XHRs work fine through jQuery 1.x.

[2013-05-14 00:56] jaredhirsch commented on #3385
This goes back at least to the previous train. Not sure if it warrants five-star status.

Looking further back through history.

[2013-05-14 00:58] mattbasta commented on #3379
don't want to say that I already filed this bug...[but I already filed this bug](https://github.com/mozilla/browserid/issues/3229).

;)

[2013-05-14 01:00] mattbasta opened #3386 "Users cannot log out"
We're seeing that calling `navigator.id.logout()` no longer logs the user out. You can see it for yourself:
1. Visit marketplace-dev.allizom.org
2. Sign in with Persona
3. Sign out (hover over the gear in the upper right)
4. Refresh the page

We're calling `navigator.id.watch()` with a blank string for the email and on sign out we're calling `navigator.id.logout()`, and yet Persona still magically

[2013-05-14 01:07] seanmonstar commented on #3386
Is there another step or detail? Following the steps listed doesn't show me the issue. I log in fine, and then click Sign out, and upon refresh, I'm still logged out.

[2013-05-14 01:09] mattbasta commented on #3386
Try a second time? Perhaps @cvan or @krupa can give some additional information. If you're in MV, I can walk you through the code and show you on my machine.

[2013-05-14 01:10] mattbasta commented on #3386
I'm able to reproduce this on Chrome Beta as well as Firefox Nightly, so it's not just me being a silly sally. cvan and Krupa were purportedly able to repro it on their machines as well.

[2013-05-14 01:13] seanmonstar commented on #3386
I don't assume any silly sallys. I've just tried it a couple times, and haven't seen it, so I wondered if there's a step I'm missing... I've been trying on Nightly, I'll give it a go in Chrome.