[2013-08-09 12:38] skorokithakis commented on #1523
Yaaay, the protocol is saved! Great, I'm looking forward to DNSSEC, thanks.

[2013-08-09 17:40] pdehaan opened #3772 "Too easy to lose the Persona popup window after the window gets obscured"
**Steps to reproduce:**
1. Go to http://123done.org/ and click the Sign in with Persona button to launch the dialog.
2. Open a few other windows/apps so that the Persona login gets pushed to the background.
3. Forget that you were mid-login and go back to the 123done.org site and try and sign in again.

**Actual results:**
The "Sign in with Persona" button is disabled and cannot be clicked. In ord

[2013-08-09 20:12] mattbasta opened #3773 "Lots of "401 Unauthorized" POSTs to login.mozilla.org"
We're seeing more than a few console logs about 401'd POSTs to `https://login.mozilla.org/api/provision`. This is causing some noise in our logs. We're seeing it in multiple projects in the Marketplace using `https://login.persona.org/include.js` as the `include.js` file.

http://cl.ly/image/261A0b1l1B2i

[2013-08-09 23:03] jrgm commented on #3773
See also https://github.com/mozilla/vinz-clortho/issues/93 which is essentially the same issue, but this one has a prettier picture ;-)

[2013-08-10 21:42] erikvold commented on #3693
That is taking the choice away from the user, and browserid is supposed to work on the other browsers too so this question is moot.

[2013-08-12 09:41] shane-tomlinson commented on #3749
Dup of #2306, closing. Thanks @mattbasta!

[2013-08-12 09:41] #3749 closed, assigned to nobody

[2013-08-12 09:42] shane-tomlinson commented on #3765
@pdehaan - it looks as if there is an extra `)` on each of the lines. Thanks for pointing that out.

[2013-08-12 09:44] shane-tomlinson commented on #3746
@isaacrg - We are already on it. Please see https://github.com/mozilla/picl-server and the other mozilla/picl-\* related projects.

[2013-08-12 09:44] #3746 closed, assigned to nobody

[2013-08-12 09:50] shane-tomlinson commented on #3756
Since this screen was never part of the original B2G designs, @mhanratty and I decided to use the error screen. The error screen design is attached, showing the bleed through. Closing as as by design.

![screen shot 2013-08-12 at 10 48 36](https://f.cloud.github.com/assets/848085/946531/6c5b022e-0334-11e3-83d0-c32a2ed19cc2.png)

[2013-08-12 09:50] #3756 closed, assigned to nobody

[2013-08-12 09:57] shane-tomlinson commented on #3770
I thought there was a bug open about this already, but I can't find it.

[2013-08-12 11:00] husayt commented on #3700
We are experiencing this issue as well as latest as 12th of august. The worst is that sometimes it's causing an infinite loop, similar to the one described here:
http://comments.gmane.org/gmane.comp.mozilla.identity.devel/5530

[2013-08-12 12:23] shane-tomlinson commented on #3769
YEEEEEES! I have wanted this for so long! Do the cookie middleware libraries already support session cookies?

[2013-08-12 15:09] shane-tomlinson commented on #3753
@edmoz - we are doing something better than messaging, we are making it work for RPs that use the .watch API.

[2013-08-12 15:24] shane-tomlinson commented on #3763
@mattbasta - FWIW, we dropped the ridiculous 3 second delay post-IdP-verification to 500ms. The common case should be much faster. The 10 second occurrences should be ~ 7 seconds, I'd like to see what is going on here. My gut feeling is that it involves XHR chatter on both Persona and the IdP, as well as certificate generation and signing.

[2013-08-12 15:47] mattbasta commented on #3763
Just tested on our Ashes server and it seems to be taking ~5 seconds or so
on average. That's certainly a bit of an improvement.

On Mon, Aug 12, 2013 at 8:24 AM, Shane Tomlinson
notifications@github.comwrote:

[2013-08-12 16:19] csuciu commented on #1935
Currently the sign in email says: 'beta.123done.org: Complete sign-in'
and reset password email says: 'beta.123done.org: Complete Persona password reset'

Is it ok if  'Persona' is mentioned in the subject of the password reset email?

[2013-08-12 18:13] jaredhirsch commented on #2560
Closing, since the underlying xhr-related bug seems to have been solved.

Please reopen **with steps to reproduce** if you are still seeing this bug.

[2013-08-12 18:13] #2560 closed, assigned to nobody

[2013-08-12 18:22] callahad commented on #3700
@husayt Do you only see the infinite loop in local development?

[2013-08-12 19:19] jrgm commented on #3756
Verified. It's still ugly though :P

[2013-08-12 20:36] jrgm commented on #1935
@csuciu - good question. At least, it should be consistent. Can you open a new issue? Thanks.

[2013-08-12 20:43] jrgm opened #3777 "error message is low contrast red on blue background"
Minor UX case: On the /reset_password screen on main site, an invalid or mismatched password pair will show an error, but it is red text on a blue background, which is not the most readable.

![red-on-blue-error-password](https://f.cloud.github.com/assets/758162/950479/df902ac0-038f-11e3-822c-fee2ffb1b0b0.png)

[2013-08-12 21:53] husayt commented on #3700
@callahad Just now I had experienced this infinite loop issue on production. What is worse, other users been complaining whole day about this. This is really serious. I can't ask users to go and clean up their locale storage, it is really embarassing.

[2013-08-12 22:35] jaredhirsch commented on #3773
can we close this in favor of the vinz-clortho bug? we aren't tracking mozilla idp bugs here as far as I know

[2013-08-12 22:37] jaredhirsch commented on #3772
@pdehaan This is really a 123done bug, so I've moved the issue over there. (Persona, as a third-party snippet, doesn't control how RPs manage the UX around the login button on their sites.)

:beers:

[2013-08-12 22:38] #3772 closed, assigned to nobody

[2013-08-13 00:20] mattbasta opened #3778 "Persona broken in packaged apps"
`navigator.id.watch` gets called successfully. There are no errors on the page.

After `navigator.id.request` gets called, though, this is the screen that loads:

http://cl.ly/image/2o2b0r2T1O1M

[2013-08-13 00:45] vladikoff commented on #3778
@mattbasta Sorry, cannot reproduce, I've just tried several websites (i.e. http://123done.org/ ) and all of them worked fine. Is this inside of an app or something else? Are you using the latest version of the simulator (4.0)?

[2013-08-13 00:53] mattbasta commented on #3778
This happened inside a packaged app loaded via "Add Directory". I'll check
what version of the simulator I'm using, but I believe it is the latest.
On Aug 12, 2013 5:45 PM, "Vlad Filippov" notifications@github.com wrote:

[2013-08-13 03:25] jrgm opened #3779 "[train-2013.07.31 and dev] consistent FE test failures with IE8 and IE9"
There was a flaky test in train-2013.07.17, producing the message

[code]

in 2 of 5 runs against an ephemeral instance with IE8.

But in train-2013.07.31 and dev against respective ephemerals, I'm seeing consistent failures, summarized as:

[code]

The js/network and js/modules/interaction_data are timing related on slower JS engines.

But js/modules/xhr looks like a basic 'IE8 JS/DOM is not like

[2013-08-13 04:05] jrgm commented on #3683
Still (probably) needs a fix for the train-2013.08.14 to be branched Wednesday.

[2013-08-13 06:04] jrgm commented on #3747
Yeah, I know what this is, at least for add-primary-to-secondary. @shane-tomlinson I'll give you a PR when I've tested it with other platforms.

[2013-08-13 07:18] jrgm commented on #3747
@shane-tomlinson probably will be something like https://github.com/jrgm/browserid/commit/49a83896a8afdd087b9c161a40695c108932f27c

[2013-08-13 08:30] shane-tomlinson commented on #3778
Is this a dup of #3614?

[2013-08-13 11:12] shane-tomlinson opened #3781 "IE8: siteLogo - data uri > 32KB causes causes browser to run slowly, show blank image"
![screen shot 2013-08-13 at 12 09 45](https://f.cloud.github.com/assets/848085/954045/0954e8fe-0409-11e3-8809-16a71b80516e.png)

Dialog is still usable after about a 10 second wait.

@jrgm - would this cause a train blockage? If so, we can get it fixed.

[2013-08-13 12:20] shane-tomlinson opened #3782 "mobile: "Address Verified" screen not centered - looks ugly"
This shows after the "signing in" screen goes away.

![screen shot 2013-08-13 at 13 19 29](https://f.cloud.github.com/assets/848085/954349/b6b81742-0412-11e3-921e-09b0497d9ab3.png)

[2013-08-13 12:29] shane-tomlinson opened #3783 "mobile: unsupported dialog shows loading screen only"
STR
1) On a mobile device, visit https://login.persona.org/unsupported_dialog

![screen shot 2013-08-13 at 13 27 38](https://f.cloud.github.com/assets/848085/954378/ceeb396a-0413-11e3-9734-8ba3a209a2f0.png)

[2013-08-13 12:30] shane-tomlinson commented on #3783
This also affects /cookies_disabled.

[2013-08-13 12:45] shane-tomlinson opened #3784 "mobile/tablet: unsupported dialog not vertically centered."
It's ugly.

![screen shot 2013-08-13 at 13 44 23](https://f.cloud.github.com/assets/848085/954458/22b13a20-0416-11e3-902a-173d4d38b14f.png)

[2013-08-13 13:24] shane-tomlinson commented on #3777
@ryanfeeley - can we get some input here?

[2013-08-13 14:07] kayaelle opened #3786 "Unable to Login from Chrome with Third-party Cookies and Site Data Blocked"
Hello,

Users don't appear to be able to log in to persona from an outside site using chrome when third-party cookies and site data is blocked. Our site is issuing badges to the open badges backpack using browserid.verify

Example is this page:

http://achievery.com/claim/61

Clicking on the big green button -> persona login -> "Persona requires cookies to remember you." (screenshot attached).

Th

[2013-08-13 14:22] callahad commented on #3781
I feel like we can resolve this by documenting it, leaving the decision up to the RP.

[2013-08-13 14:23] mattbasta commented on #3778
Doesn't look like it. The dialog loads "correctly", but throws the error
shown.

Interestingly, it's also impossible to close the login dialog. You have to
shut down the simulator to get rid of it.

On Tue, Aug 13, 2013 at 1:31 AM, Shane Tomlinson
notifications@github.comwrote:

[2013-08-13 14:25] shane-tomlinson commented on #3778
@mattbasta - That's not so awesome. Thanks for the extra info.

[2013-08-13 14:27] kayaelle commented on #3786
Should add that it is possible to login to persona directly even with third-party cookies blocked. Just not using browserid.verify from an outside site.

[2013-08-13 14:29] ryanfeeley commented on #3777
@shane-tomlinson  How about match the other parts of the site by using the white background template? Some quick firebugging.
![screen shot 2013-08-13 at 10 27 21 am](https://f.cloud.github.com/assets/68213/955128/cd605952-0424-11e3-8dce-8dbd4c8c8f77.png)

[2013-08-13 16:00] csuciu opened #3787 "Mozilla IdP - beta.123done.org does not ask for password after changing it"
Env
beta.123done.org
Win 7 & IE FF 22 release
Win 7 & IE 10

Steps:
1. Sign in with username@test-moz-idp.com
2. Provide the password when asked
3. Logout
4. Login again with username@test-moz-idp.com - password is not requested
5. Go to https://ldap.mozilla.org/passwordreset/ and change the password for username@test-moz-idp.com
6. Wait for a while (I waited up to 30 minutes)
7. Sign in again wit

[2013-08-13 16:02] shane-tomlinson commented on #3787
Thanks for the submission @csuciu - I am going to refile this verbatim in the [mozilla/vinz-clortho](https://github.com/mozilla/vinz-clortho) repo.

[2013-08-13 16:02] #3787 closed, assigned to nobody

[2013-08-13 16:07] shane-tomlinson commented on #3781
@callahad - seems good to me. Does it warrant a console warning?

[2013-08-13 16:55] shane-tomlinson commented on #3705
This has been merged. Closing.

[2013-08-13 16:55] #3705 closed, assigned to SamPenrose

[2013-08-13 17:00] shane-tomlinson commented on #2641
Demoting to 2\* since there has been no action on this and it is unlikely to change in the near future.

[2013-08-13 17:03] shane-tomlinson commented on #3245
If @seanmonstar says this is fixed, closing as fixed. Re-open if STRs are found to reproduce once this makes it into prod.

[2013-08-13 17:03] #3245 closed, assigned to nobody

[2013-08-13 19:18] callahad commented on #3781
Nah, but good idea.

[2013-08-13 19:33] ozten commented on #3683
Okay, this adds it to dev. Would be great to merge this before cutting the next train.
https://github.com/mozilla/browserid/pull/3788

Thanks @jrgm

[2013-08-13 19:34] kparlante commented on #3528
UX is rightly worried about losing people in the email verification step. It could be that our kpi data currently shows a worse picture than we're really experiencing. We're doing our best to notice the case where people who close the window and then come back later after verification do succeed, but still have imperfect data. Would be great to double check this against # of successful email verif

[2013-08-13 19:36] kparlante commented on #3528
Depends on https://github.com/mozilla/identity-ops/issues/102 to get this in production.

[2013-08-13 19:44] gene1wood commented on #3700
There's also Issue #2521 which sounds like an attempt to solve the infinite loop problem in general.

[2013-08-13 19:48] jaredhirsch commented on #3700
@husayt it would be extremely helpful if you could give us specific steps to reproduce the bug you're seeing, and if you could describe the bug in detail.

[2013-08-13 19:56] karlht commented on #3787
Thanks for moving the bug, Shane.  Sorry about that.

[2013-08-13 20:23] ndizzle commented on #3700
Edit: Clicking 'stop' in chrome (or now firefox - same issue in firefox) allowed me to manually remove all persona related entries from localstorage. This allowed me to log on at least once.

[2013-08-13 20:26] zaach commented on #3763
@shane-tomlinson Is that in production or just stage? beta.123done.org is _much_ faster now, though once the arrow has slid across the dialog, there's a noticeable delay til the window closes. Is that lag or an explicit delay?

[2013-08-13 20:31] #3683 closed, assigned to nobody

[2013-08-13 21:11] mattbasta commented on #3778
Updated the title: I can reproduce the issue in on a Keon device as well (fully updated). You can download the package yourself here:

http://inferno.paas.allizom.org/

[2013-08-14 08:07] heydarli commented on #3700
@6a68 We had  `window.location.reload();` in `onlogout`'s success callback.
To replicate the loop just remove `emails` from localStorage. That would log user out and cause the loop.
Clearing `siteInfo` stops the loop.

[2013-08-14 08:13] shane-tomlinson commented on #3700
@NadirHeydarli - siteInfo is what we use to keep track of site->email associations, clearing that causes Persona to believe the user is not signed in and it will not attempt to sign the user in. Thanks for the extra info.

[2013-08-14 08:13] shane-tomlinson commented on #3781
Closing as wontfix.

[2013-08-14 08:13] #3781 closed, assigned to SamPenrose

[2013-08-14 08:19] shane-tomlinson commented on #3763
@zaach - We delay the start of the animation by 750ms, the animation takes 1s, and delay 750ms post-animation or else the motion feels very jerky. Let's have another look at this.

[2013-08-14 10:03] #2728 closed, assigned to nobody

[2013-08-14 13:18] csuciu opened #3790 "The subjects of the confirmation emails are not consitent"
The sign in email says: 'beta.123done.org: Complete sign-in'
The reset password email says: 'beta.123done.org: Complete Persona password reset'

Persona should be either mentioned in both emails or completely removed

[2013-08-14 13:21] csuciu commented on #1935
Issue #3790: The subjects of the confirmation emails are not consitent

[2013-08-14 17:21] pythonmobile commented on #1589
Please open this. We would love to have image avatar / Name of the person returned on the backend.

[2013-08-14 18:41] pdehaan commented on #3715
Pull request submitted.

[2013-08-14 18:44] #3783 closed, assigned to nobody

[2013-08-14 18:44] #3784 closed, assigned to nobody

[2013-08-14 21:07] whimboo opened #3793 "Display of all available persona ids in the popup is confusing when trying to log into a site"
I have a couple of email addresses for my persona account which I share between various sites. But whenever I want to log into a site which I haven't used for a long time, I'm always confused which email address to use.

It would be great if the popup would not show all available email addresses but only the one which I have used to login, and an input field where I can specify another one if nece

[2013-08-14 21:32] ozten commented on #3793
I believe the current tradeoff is due to localStorage and security/privacy.

We're planning to make this much better for FxOS and FxDesktop. A proposal is coming. We'd be storing email addresses in a more secure location with better integration into existing Fx preferences.

[2013-08-14 22:28] kparlante opened #3794 "KPI data conains many one event blobs (window.unload)"
Looking at all of the blobs, an unexpectedly large number have short, hard to classify event_streams. The majority of these have only one event, and in most cases that event is "window.unload". (~17% of the kpi blobs since 2013-07-11 are blobs with only one event).

I haven't really been able to reproduce this, but I have been able to generate blobs without "window.unload" at the end, and seen onl

[2013-08-14 22:32] #3747 closed, assigned to nobody

[2013-08-14 22:39] jaredhirsch commented on #3755
@callahad ah, that's true. i'm no longer attempting to parse metrics files, so, closing as "meh."

[2013-08-14 22:39] #3755 closed, assigned to nobody

[2013-08-15 00:10] birtles commented on #3730
I'm seeing this too.

Furthermore, when logged into a Persona site using my mozilla.com address I see an identical set of errors but this this originating from the 'provision' script (https://login.mozilla.org/provision, which I happen to notice pulls in jQuery).

[2013-08-15 01:50] jrgm commented on #3212
Hey @djc, sorry to steal your steal, so I stole your browserid.spec change, and adjusted some view logic and will have a PR in a moment to get this back available again as advertised.

[2013-08-15 02:10] jrgm commented on #3678
This does not happen now. Closing.

[2013-08-15 02:10] #3678 closed, assigned to shane-tomlinson

[2013-08-15 05:29] jrgm opened #3797 "compile failures in ./resources/static/test are not detected by QUnit"
This came up when I ran the redirect-flow branch on an ephemeral with IE8.

Stderr does spit out a SyntaxError message, but...

... Despite a syntax error in resources/static/test/cases/common/js/storage.js, the Qunit (phantomjs or IE8) test reported "all passed".

The problem in this case was that the syntax error meant none of those tests for the storage case were executed.

So, is there a setti

[2013-08-15 05:59] kparlante commented on #3794
@shane-tomlinson sample data for this issue: https://id.etherpad.mozilla.org/kpi-bounce-rate-data, https://id.etherpad.mozilla.org/kpi-issue-3794-data

[2013-08-15 10:14] shane-tomlinson commented on #3793
@whimboo - I agree 100%.

This is a dup of #2953 and I have added it to mozilla/browserid-roadmap#51 which is where we are now tracking feature requests.

[2013-08-15 10:14] #3793 closed, assigned to nobody

[2013-08-15 10:23] #3212 closed, assigned to chilts

[2013-08-15 10:33] lloyd opened #3798 ""persona is slow""
there have been some reports about persona being slow.  Here's one:

https://twitter.com/dolske/status/367361102356566016

[2013-08-15 10:35] lloyd opened #3799 ""persona is slow""
there have been some reports about persona being slow.  Here's one:

https://twitter.com/dolske/status/367361102356566016

It sounds like dolske is talking about time from click on website, to initial render of dialog.

[2013-08-15 11:26] lloyd commented on #3799
We need STR and to understand what device and website were in use.  I'm unable to reproduce the symptoms described.  I see the dialog visible in about 2 seconds at cache empty and much less in a subsequent attempt (cache full).

[2013-08-15 11:47] shane-tomlinson opened #3800 "The repo contains multiple copies of jschannel.js"
One in include_js, one in common/lib The one in include_js should be the canonical version (if it's not already) and used in include.js

[2013-08-15 11:47] shane-tomlinson commented on #3800
Link to #3759 which relates to duplicate WinChan's

[2013-08-15 12:35] shane-tomlinson commented on #3794
This is only a theory.

It could be possible for the assertion to be sent to the RP, which notifies the communication iframe, which flushes and sends the KPI blob, and THEN the window closes, creating a new, empty KPI blob.

Seems plausible, but have to dig in to find out.

[2013-08-15 14:25] jaredhirsch commented on #3794
Regardless of the funky edge case that might be causing this, it seems like we can safely discard any blobs that contain the final `window.unload` event, but not the initial `window.dom_loading` event? Could this clean up the data while we investigate the root cause?

[2013-08-15 16:50] callahad commented on #3767
@mhanratty can you weigh on on expected design / behavior here? Is horizontal scrolling OK?

[2013-08-15 16:55] callahad commented on #3773
Closing in favor of the vinz-clortho bug.

[2013-08-15 16:55] #3773 closed, assigned to nobody

[2013-08-15 16:57] callahad commented on #3777
+1 to the idea of a white background, but there's not a ton of contrast between what is a label and what is an input there :)

[2013-08-15 16:58] callahad commented on #3778
Likely related to the hotfix we deployed to strictly check origins in winchan.

[2013-08-15 17:04] shane-tomlinson commented on #3798
Closing as dup of #3799

[2013-08-15 17:04] #3798 closed, assigned to nobody

[2013-08-15 17:04] callahad commented on #3786
Unfortunately, Persona currently requires third party cookies and site data, since we store user keys in localStorage.

Your users could add an exception for login.persona.org, and it should work.

[2013-08-15 17:06] callahad commented on #3790
If UX wanted "Persona" out of the first subject, let's remove it from the second.

[2013-08-15 17:12] callahad commented on #3800
Pretty sure this is a dupe somewhere.

[2013-08-15 17:12] callahad commented on #3800
(Also, diff the jschannels to make sure they're identical)

[2013-08-15 17:21] callahad commented on #3799
Suspected STR:
1. Open [Network Link Conditioner](http://stackoverflow.com/questions/9659382/installing-apples-network-link-conditioner-tool)
2. Set it to high packet loss and latency
3. Try to open a Persona popup

[2013-08-15 17:46] mhanratty commented on #3767
I can live with horizontal scrolling for this. Thanks for bringing it to my attention!

[2013-08-15 18:25] gene1wood commented on #2729
Ya, just encountered this. Confusing. I did the same thing.

[2013-08-15 18:50] lloyd commented on #3798
thanks for cleaning up my mess, @shane-tomlinson

[2013-08-15 19:20] shane-tomlinson commented on #3778
@callahad - packaged apps should be using native Persona, bypassing WinChan completely. @mattbasta - can you provide a set of STRs? I am unfamiliar with installing packaged apps on a device manually.

[2013-08-15 20:05] ozten commented on #3778
Simulator STR
1) Install the FxOS simulator via Add-On https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/

2) In Fx Tools > Web Developer > Firefox OS Simulator

3) Start simulator

4) Download http://inferno.paas.allizom.org/package.zip

5) mkdir inferno ; cd inferno; unzip package.zip

5) Click Add Directory and locate `manifest.webapp`

6) Note: ![](http://dl.dropbox.com/u/100

[2013-08-15 20:09] kparlante commented on #3794
We're already ignoring it in most graphs (I didn't include it in "bounce rate", assuming it was an edge case, and they don't show up in the "new user" graphs that track new fallback users). It only affects the general progress graph and the graph that shows the total # of blobs. Right now we have several metrics related "fires" which take precedence, but logged here: https://github.com/mozilla/kpi

[2013-08-15 20:29] ozten commented on #3778
Is this the first packaged app where we have passed `termsOfService` and `privacyPolicy` in the `request` options?

If I remove those arguments, Persona doesn't have this error.

What do we do today, for TOS/PP on Marketplace?

[2013-08-15 20:32] ozten commented on #3778
You can use [absolute URLs](https://developer.mozilla.org/en-US/docs/Web/API/navigator.id.request) in request and a quick test shows that this works with packaged apps.

[code]

could be

[code]

I made up https:://marketplace.mozilla.org/en/ but you get the idea.

[2013-08-15 20:38] mattbasta commented on #3778
ToS/PP are kind of broken at the moment due to the documents being loaded
with JS.

Would it be a mortal sin for us to simply remove those params?

On Thu, Aug 15, 2013 at 1:30 PM, Austin King notifications@github.comwrote:

[2013-08-15 21:06] callahad commented on #3767
Great, thanks!

[2013-08-15 21:06] #3767 closed, assigned to nobody

[2013-08-15 21:34] fmarier commented on #2660
This is not currently possible with ELB.

[2013-08-15 21:35] fmarier commented on #2160
This issue is blocked until Amazon adds IPv6 to ELB.

[2013-08-15 21:41] sintaxi commented on #2034
Great work fellas! This is fantastic.

[2013-08-15 23:13] jaredhirsch commented on #3786
@callahad we store stuff in localStorage in a first-party context, since we do so _after_ the user has opened the popup. that can't be the source of this bug. reopening.

[2013-08-15 23:16] jaredhirsch commented on #3786
@kayaelle I'm not able to reproduce this bug--the link works fine for me, the dialog behaves normally.

What email addresses are you trying to use to login? What browser, operating system, browser version?

[2013-08-15 23:20] jaredhirsch commented on #3797
qunit's config options seem [pretty minimal](http://api.qunitjs.com/QUnit.config/).

It's a bit meta for my taste, but we could write a test that runs last, and which checks the qunit UI to ensure that the expected number of tests was registered/executed, and barfs if not.

[2013-08-15 23:21] seanmonstar commented on #3786
@6a68 In the dialog, Persona is a 1st party, but loaded in the communication_iframe, where state is managed, it's a 3rd party. Disabled all 3rd party cookies (not allowed visited) causes this.

[2013-08-15 23:23] jaredhirsch commented on #3800
note that there's an ie8 bug in upstream jschannel's head. i had to back out some jschannel changes 2 trains ago because of this, but haven't had time to fix the upstream bug and pull the changes downstream to browserid.

[2013-08-15 23:29] jaredhirsch commented on #3786
@seanmonstar I'm confused. I can login to persona from the linked page (http://achievery.com/claim/61) in both FF and Chrome with third-party cookies totally disabled. What am I missing here? Is this link actually being hit from an app or something?

[2013-08-15 23:31] jaredhirsch commented on #3786
specifically, my STR are
1. land on the page
2. click green 'add this badge' button
3. click persona button
4. dialog opens and loads just fine (???)

[2013-08-15 23:36] seanmonstar commented on #3786
Ah, you're right. You also need to set the setting "Block sites from setting any data" in Chrome.

[2013-08-15 23:46] jaredhirsch commented on #3786
Ah, ok. So the title of the bug refers to third-party cookies, and the STR refer to chrome's third-party cookie setting ("Block third-party cookies and site data"), and I can't repro this bug with those settings.

@kayaelle Can you give us some more info on the specific Chrome settings that are causing this problem for your users? Do you have cookies totally disabled ("Block sites from setting any

[2013-08-16 09:12] lloyd commented on #3527
BUMP. /cc @callahad

This should be trivial to fix and I'll bet you dollars to donuts the single fastest way to improve our performance is to add a CDN.  Here's a recent dump from pingdom that shows we're still all regressed and stuff.

![screen shot 2013-08-16 at 12 05 18 pm](https://f.cloud.github.com/assets/39411/974431/f256e092-0653-11e3-9359-f598756b0a09.png)

[2013-08-16 09:25] shane-tomlinson commented on #3778
@ozten - this is a great catch. What are the current agreement URLs?

[2013-08-16 09:32] shane-tomlinson commented on #3786
@6a68 - This bug will manifest with 3rd party cookies enabled and "Block sites from setting any data" checked. With that checked, we have no access to either cookies or localStorage. I believe @callahad was right in closing this as "cantfix"

[2013-08-16 09:48] lloyd commented on #2034
omg!  :joy:  well done.

[2013-08-16 13:35] kayaelle commented on #3786
Hello - thanks for looking into this.

This is the setting:

chrome->preferences->Show advanced settings->content settings-> (check) "Block third-party cookies and site data" with "Allow local data to be set" checked.

Strangely I can't replicate this today. As @6a68 mentions, it makes sense that sign in wouldn't work with "Block sites from setting any data" checked but I was following up on a use

[2013-08-16 15:58] ozten commented on #3778
I think we are going to drop them for now, per basta.

[2013-08-16 18:53] pdehaan opened #3803 "rendering issue when the login dialog animates in Chrome 28"
https://dl.dropboxusercontent.com/u/4509565/moz-videos/signin-chrome28.mov

After successfully logging in, there is a stray vertical line while the login dialog closes, as seen in the video link above.

I wasn't able to reproduce this in FF24.

[2013-08-16 20:00] jrgm commented on #3765
Closing, since PR-3791 was merged.

[2013-08-16 20:00] #3765 closed, assigned to nobody

[2013-08-16 20:02] pdehaan opened #3804 "Odd HTML escaping in sign-in window when there is an error."
I tried setting an invalid color (salmon; it's a lovely and valid color name), and the error messge reported is:

Action: error in http:&# x2F;&# x2F;blahblahblah.

I would have expected the &# x2F; bits to be properly converted. I'm guessing EJS is escaping them for us, or possibly double escaping them.

![mozilla_persona__a_better_way_to_sign_in](https://f.cloud.github.com/assets/557895/977854/3

[2013-08-16 20:28] jrgm commented on #3803
This was https://github.com/mozilla/browserid/issues/3668 and the fix for this is visible on stage for me. Closing as dup.

[2013-08-16 20:28] #3803 closed, assigned to nobody

[2013-08-17 00:25] jaredhirsch commented on #3786
@kayaelle Thanks so much for getting back to us. Did you have any luck getting in touch with your user?

[2013-08-17 00:31] SamPenrose commented on #3263
I spent my Friday on this as follows:
- copied browserid/, post npm install, to a new directory
- hacked out a new test script that just runs tests/verification-test.js
- started deleting files and looking to see what breaks the tests

Eventually I wrote a script to speed the last bit up, which meant discovering lots of tests that hang forever if a module is missing. Good news: I deleted some stuf

[2013-08-17 21:33] SamPenrose commented on #3263
OK, browserid is about 50MB, not counting node_modules. My dismembered copy that still passes the 91 checks in verification-test.js is down to about 6MB and something like 200 files. I'm sure I cut some files that would be needed to run a verification service for real. Conversely if I understood the test harness I could probably cut more. If @chilts or anyone else thinks they might find this usefu

[2013-08-17 22:45] jchris commented on #2034
My turn to play dumb. I tried following [the instructions here](https://developer.mozilla.org/en-US/docs/Mozilla/Persona/Quick_Setup) -- eg including `include.js` in my PhoneGap app (default generated app but with `<access origin="*" />` added to `config.xml`. In my application JavaScript I have this straightforward code, and it seems to do it's job just fine:

[code]

But all that happens is I ge

[2013-08-18 07:08] maxott opened #3806 "Can't redirect to different page after successful login"
This is a weird one. I'm initially redirecting a user to a login page. There I have the following code:

[code]

It does call '/auth/login' and it does show up in 'success' and it does load a new page, but it's not '/tab', but the original login page and then it calls '/auth/login' over and over again.

The weird part is that if I run this in the debugger it works fine. So there must be some timin

[2013-08-18 10:58] maxott commented on #3806
Forget it. I was using a 301 redirect which got cached - not what I wanted. 307 fixed it and everything is working now.

[2013-08-18 10:58] #3806 closed, assigned to nobody

[2013-08-18 12:17] callahad commented on #2034
From looking at the patch that got merged, we're special-casing for Chrome on iOS and Windows Phone. I think we still need to add a UA detection string for phonegap :(

[2013-08-18 18:33] alex-pl opened #3807 "Login doesn't work in WebApp installed in Firefox for Android"
I put a simple Persona login into one of my sites. The login works on Firefox and Firefox OS - no matter if opened in a browser tab or as a installed WebApp. It works also on Firefox for Android (23 stable up to 26 nightly), but _not as a WebApp, that is installed in Firefox for Android_.

_Expected result:_
The navigator.id.request() call should open a login screen.

_Actual result:_
The navigato

[2013-08-18 23:02] eevee commented on #1946
I don't think #2034 has quite addressed the same problem.  I love the idea of browserid but am absolutely unwilling to make an otherwise static-ish website require client scripting just to log in.

Would it be possible to allow a site to implement its own discovery-redirect-springboarding, doing the usual JS work on the server side without needing to rely on browserid.org?

[2013-08-19 00:39] robn commented on #1523
Sucks. I guess I'll have to get moving on DNSSEC then.

[2013-08-19 06:16] callahad commented on #1523
I know. :( We're not comfortable with the security implications at the moment. Full discussion on the mailing list: https://groups.google.com/d/msg/mozilla.dev.identity/dP44TDzBnhI/3MijAKI1oR8J

[2013-08-19 09:22] shane-tomlinson commented on #3804
We discussed this when @warner and @fmarier were doing the internal security review. I forget the exact reasons why we continued with the double escaping of the RP name. Agreed, this is super ugly.

[2013-08-19 09:33] shane-tomlinson commented on #2034
@callahad - that is right, we intentionally did not whitelist PhoneGap apps 1) do not have a test app, 2) the UA string changes depending on which version of PhoneGap is being used.

My feeling is that instead of UA sniffing for PhoneGap strings, we should either attempt to feature detect or create a Cordova plugin that covers .get and .getVerifiedEmail as well.

[2013-08-19 09:39] shane-tomlinson commented on #1946
@eevee - could you explain your idea and the reasons why you'd like to do the scripting server side in more detail?

[2013-08-19 09:58] shane-tomlinson commented on #3807
Relate to #3778

[2013-08-19 12:06] jchris commented on #2034
You can get a test app by running:

[code]

Sniffing should be matter of detecting window.cordova, I think. The plugin
route would be a bit heavyweight and subject to the same issues anyone
hosting thier own copy of include.js runs into.

On Monday, August 19, 2013, Shane Tomlinson wrote:

##

—
Chris Anderson  @jchris
http://www.couchbase.com

[2013-08-19 12:35] shane-tomlinson commented on #2034
This is awesome info @jchris! That'll make it _much_ easier for us to try and whip something together.

[2013-08-19 16:23] jaredhirsch commented on #3528
The file that needs to be instrumented is [wsapi/email_for_token.js](https://github.com/mozilla/browserid/blob/dev/lib/wsapi/email_for_token.js).

[2013-08-19 16:29] jaredhirsch commented on #3528
We could generate an email-metrics file using [lib/metrics](https://github.com/mozilla/browserid/blob/dev/lib/metrics.js).

We could also use the new straight-to-piggybank logger I'm working on for mozilla/identity-ops#102. The lib is currently in a pull request [in my fork](https://github.com/6a68/browserid/pull/8).

We could do both, so that onboard debugging can verify the email verification li

[2013-08-19 16:40] kparlante commented on #3528
To solve the short term problem, not so important to generate email-metrics file if we're using the straight-to-piggybank logger.

Longer term we have to work out our relationship with the metrics team (do we give them access to all of the kpi data? do we take on all of the pentaho responsibilities in the kpi dashboard?) We should have more clarity about this soon.

[2013-08-19 17:00] kayaelle commented on #3786
@6a68 - I did! He can also log in now with "Block third-party cookies and site data" with "Allow local data to be set" checked. Weird. Thank you!

[2013-08-19 17:12] kayaelle commented on #1946
One thing we'd love to do is integrate Persona better into our user profile set up. It'd be great if we could reques a user email address & password along with other profile info and request validation/sign-up to Persona server side. We could serve the results, let them know of any errors and inform the user that an email will be sent for verification. If the Persona sign-up/login process can be i

[2013-08-19 17:46] seanmonstar commented on #1946
@kayaelle the problem is that not everyone will be using a Persona account. Some will be using the Google account, or Yahoo, or Mozilla, or others. We don't define how they authenticate their user (which may include 2 factor auth), so we can't provide an API like that.

Some things that we've done to try to make Persona fit in the site better:
1. try using "Sign in with your Email" instead of "Per

[2013-08-19 18:26] callahad commented on #3786
Huh. That is strange.

Good call on re-opening, @6a68. Since the specific issue seems to be resolved, I'd again suggest closing barring further incidents.

Thanks so much for the report, @Kayalelle!

[2013-08-19 22:45] jchris commented on #2034
More hints... it might be sane to require the InAppBrowser plugin and then open the sign-in URL with the _blank target as documented here: http://docs.phonegap.com/en/3.0.0/cordova_inappbrowser_inappbrowser.md.html#window.open

[2013-08-19 23:06] kayaelle commented on #1946
@seanmonstar - hmmm...that's good to consider. Since right now we're primarily working with the open badges backpack we don't have control over the dialog display directly. We may do as you suggest and set profiles from our site first and then send them to the backpack. Thanks for the response!

[2013-08-19 23:34] jaredhirsch commented on #3786
:beers: all around :-D

[2013-08-19 23:34] #3786 closed, assigned to nobody

[2013-08-20 00:05] pdehaan opened #3810 ""Add another email address" button label changes when resizing the browser"
When you log in to 123done.org, the default popup width (700px-by-425px) displays three buttons:
- Add another email address
- This is not me
- sign in

When you resize the window narrower (640px) the first button's label changes to:
- Add an email address

[2013-08-20 11:00] #3715 closed, assigned to nobody

[2013-08-20 14:45] jchris commented on #2034
I did another test of the garden variety Persona code on PhoneGap (same code as above but with the InAppBrowser plugin installed, and it gets to a different failure.

![ios simulator screen shot aug 20 2013 7 40 43 am](https://f.cloud.github.com/assets/253/994109/246b07c4-09a7-11e3-8bec-ea509c762375.png)

[2013-08-20 18:35] jaredhirsch opened #3811 "allowUnverified accounts can't login to non-allowUnverified RPs"
@stephendonner found this bug in production, and @shane-tomlinson figured out STR locally.

STR:
1. create a new secondary with an RP that allows unverified accounts, like an FXOS phone
2. then, without clicking the link in your email, try to use that unverified account to log into an RP that does not allow unverified, like persona.org
3. when you enter the email into the dialog and hit 'next', th

[2013-08-20 18:55] jaredhirsch opened #3812 "'cancel' link sometimes does nothing in dialog"
Related to #3811--I can't find STR outside of that case. Fixing it may fix this as well.

STR:
- trigger the #3811 bug (the simplest way is, right now, to enter webqa.browserid@aol.com & hit 'next' & wait for nothing to happen)
- edit the email address in any way, causing the password fields to be hidden
- click 'next'
- when the password fields appear, click 'cancel'
- nothing happens

@shane-tom

[2013-08-20 20:07] pdehaan opened #3813 "Border radius is inconsistent on the login.persona.org homepage"
If you hover over the Sign In or Sign Out buttons on the login.persona.org homepage, you can see that the :hover corner radius isn't consistent with the border.

It looks like the border radius for the Sign In button is 7px, whereas the :hover state appears to only be 3px.

![mozilla_persona__a_better_way_to_sign_in](https://f.cloud.github.com/assets/557895/996593/2866873c-09d3-11e3-8ede-e2cc73486

[2013-08-20 20:16] pdehaan opened #3814 "border-radius is defined twice in the signIn/signOut selector in browserid.css"
https://static.login.persona.org/v/2543e40425/production/en/browserid.css

Lines 1110-1116 of browserid.css (Firefox pretty-prints up the CSS) has the following sauce:

[code]

[2013-08-20 20:50] SamPenrose commented on #3263
I've got my mangled thing down to ~13K LOC. I'm going to start getting it ready for github. Also, it looks to me like start-stop.js adds a dozen counted asserts to verification-tests (and presumably each of the other 40+ suites in browserid/tests/ that use it), which would mean that the 1900 vows that npm test claims to pass in browserid is really about 1500.

[2013-08-20 20:54] ozten commented on #3263
Post your branch here, when it's up. I'd love to take a peek.

[2013-08-20 23:29] kparlante opened #3815 "KPI timing data sometimes contains negative values"
In < 1% of the blobs, the timings up through `user.can_interact` have negative values. The percentage of blobs is small enough that we may not much care, but capturing this while I have the data in front of me.

https://id.etherpad.mozilla.org/kpi-issue-3815-data

[2013-08-20 23:47] kparlante commented on #3815
And occasionally the blobs have unexpectedly large timing values for a set of events. (This happens very rarely -- I only noticed when looking at the large max times for `user.can_interact`).

https://id.etherpad.mozilla.org/kpi-issue-3815-data-2

[2013-08-20 23:58] SamPenrose commented on #3263
https://github.com/SamPenrose/browserid-verify-assertion (no create repo perms in mozilla/). What would help me is for someone to take a quick look, notice that "hey, this is completely wrong you should/should not have included XYZ", and comment accordingly. Also I didn't include any of the browserid git history, which is presumably a major foul. Happy to redo via fork or whatever.

[2013-08-21 00:03] kparlante commented on #3815
And to round out the picture, sometimes the timing information is null for some set of events:

https://id.etherpad.mozilla.org/kpi-issue-3815-data-3

[2013-08-21 00:07] ozten commented on #3263
Great stuff!

If you have the same architecture as Persona, then you need `bin/router` and `bin/verfier`, but you don't need the other files under `bin`.

You don't need `l10n-all.json`, `l10n-prod.json` config files. You may need some of aws.json, local.json, and produciton.json, but it will only be the settings that affect the verifier.

Unless the tests require it, you don't need the top level

[2013-08-21 00:26] SamPenrose commented on #3263
Excellent, thanks for the feedback. I'll look into excising the parts of the test suite that rely on those files. Also, I realized that I could extend this approach to each of the files in test/ and record the results, which could give us a DAG for browserid as represented by the tests. Not sure if anyone would find that useful, but it might be interesting to see where the cleavage lines are. Valu

[2013-08-21 04:50] jrgm commented on #1472
No, really, we need to fix this. @seanmonstar's case is reproducible, as are others (https://github.com/mozilla/browserid/issues/1472#issuecomment-20322113).

I've kept this open as the "null-check" case: https://github.com/mozilla/browserid/issues/1472#issuecomment-20395992 , i.e., if list_emails returns '{}' then we should just bail.

I'm going to bump this to 5-star, so it gets noticed a little

[2013-08-21 04:57] jrgm commented on #3716
If nothing else for this train, then just remove the link for crossword.

[2013-08-21 07:32] shane-tomlinson commented on #3811
New, easier to reproduce (and more likely) STRs:

1) Create an account with 2 secondary addresses
2) Visit 123done.org, open dialog, sign out.
3) Enter 1st address from step 1
4) Click on "Forgot your password?"
5) Open password reset email & enter new password
6) In a second browser (one with no Persona session - private mode works well), open dialog from 123done.org
7) Enter the 2nd address from

[2013-08-21 16:03] #3716 closed, assigned to nobody

[2013-08-21 17:13] shane-tomlinson opened #3818 "Sign in to Persona with assertion failure message is very unhelpful"
It show more info, it says "Action: Authenticating with Assertion".

If you check out the call to /wsapi/auth_with_assertion, it gives info that is helpful to debug, especially when developing an IdP.

I think it would be handy to show the "reason" field from the call to /wsapi/auth_with_assertion so IdP devs know _why_ the login failed.

[2013-08-21 19:55] jrgm commented on #3811
marking 5-star to get a fix on the dev branch.

[2013-08-21 22:34] seanmonstar commented on #1472
So, should I add an error screen here? Or force a logout?

[2013-08-21 22:53] jrgm commented on #1472
I was thinking that forcing the logout and prompting for an email address would be the right response. (This is just taking the only action that a resonable user would take (i.e., "This is not me")).

[2013-08-22 10:56] shane-tomlinson commented on #1472
@jrgm - I am unable to reproduce using the STRs in the description, what I do see however is that Browser 2 is still able to create an assertion for the email address even after Browser 1 has reset the password.

STR
1. In 2 browsers, open the dialog to the email picker using the same email address.
2. In browser 1, click "this is not me"
3. In browser 1, enter email address from step 1, click "fo

[2013-08-22 15:34] shane-tomlinson opened #3822 "cancel button displayed but does nothing post-password reset if verifying in a different browser."
STR

Requires 2 browsers

1) Create an account using a secondary address
2) In browser 1, open dialog, if signed in, sign out.
3) Enter address, click "forgot password?"
4) In browser 2, open verification link
5) Enter new password.
6) In browser 1, go back to the dialog to enter the newly updated password
7) Why is that cancel button there? It doesn't do anything.

Link to #3812

[2013-08-22 15:41] shane-tomlinson commented on #3778
Demoting this from 5\* to 4\* since the problem lies with privacyPolicy and termsOfService on packaged apps and has a work around.

[2013-08-22 16:48] shane-tomlinson commented on #3810
@ryanfeeley - Let's get your input here!

[2013-08-22 16:54] shane-tomlinson commented on #3812
Labeling 3\* because this only manifests with the issue with #3811, BUT, there is still an issue where the error handler  to user.stageReverifyEmail is not printing an error screen.

[2013-08-22 17:01] #3811 closed, assigned to nobody

[2013-08-22 17:03] #3790 closed, assigned to nobody

[2013-08-22 17:14] #3636 closed, assigned to nobody

[2013-08-22 17:21] shane-tomlinson commented on #3799
Link to #2400

[2013-08-22 17:22] jaredhirsch opened #3825 "Add a CDN"
Arguably belongs in identity-ops, but tracking it here.

see https://groups.google.com/d/topic/mozilla.dev.identity/D59f9m72eyc/discussion for background

[2013-08-22 17:23] jaredhirsch commented on #3799
this bug isn't actionable, closing in favor of https://github.com/mozilla/browserid/issues/3825 (CDN implementation ticket)

[2013-08-22 17:23] #3799 closed, assigned to nobody

[2013-08-22 17:31] shane-tomlinson commented on #3730
Moved to the vinz-clortho repo, closing. Thanks for the report, please pile on over there!

[2013-08-22 17:31] #3730 closed, assigned to nobody

[2013-08-22 20:17] pdehaan opened #3826 "browserid examples should use jQuery builds from a CDN instead of duplicating jQuery multiple times in the repo"
It looks like we have multiple copies of jQuery in our repo: _example/primary/jquery.js_ and _/example/rp/jquery-min.js_ which are both jQuery 1.5.2 (Mar 31, 2011).

We should probably remove both of these from the repo and use the official jQuery CDN: http://code.jquery.com/jquery/ (for example, code.jquery.com/jquery-1.10.2.min.js supports both http:// and https://).

./browserid/example/primary

[2013-08-22 20:40] ozten commented on #3826
I don't think this is a problem.

1) example are static websites/services that are useful for testing and development
2) having jquery means you can hack on the Persona server without an internet connection

Of course we could upgrade jquery and keep a local copy of an upgrade version, but this just seems like busy work.

[2013-08-22 20:42] pdehaan opened #3827 "3 errors and 3 warnings when trying to validate login.persona.org markup on w3 validator"
http://validator.w3.org/check?uri=https%3A%2F%2Flogin.persona.org&charset=%28detect+automatically%29&doctype=Inline&group=0

The reported errors are as follows:

&nbsp;

&nbsp;

Not sure if any warrant investigation, although the utf8 vs utf-8 one seems odd. It looks like the <meta> header is explicitly specifying utf-8 already.

Re: IE=Edge, it looks like we may want to check that flag as Microso

[2013-08-22 20:44] ozten commented on #3826
Just in case this conversation bleeds into `/common/js/lib/jquery-1.7.1.min.js` and CDNs... We should not rely on 3rd party hosting of jquery as we lose control of vetting it's contents.

[2013-08-22 21:40] chemistrydioxide opened #3828 "Add a label to the email input field on mobile devices"
I just tried to use Persona from my smart phone and I noticed that there is a huge UX issue.

On the first screen, you are shown an input box. NOTHING, absolutely NOTHING indicates what I am supposed to enter into that box. I am taking care of a site that has recently moved from username/password authentication to Persona, so most of my users will expect that they have to enter their user name. So

[2013-08-22 21:58] chemistrydioxide opened #3829 "Restore Persona branding during sign-on"
Some time ago, the Persona logo at the top of the login dialog has been removed. To me, part of this step made sense. However, I just tried to use Persona from my cell phone and I noticed that on mobile devices the whole thing even went further. All Mozilla Persona branding has been removed from the login dialog. There is neither a Persona logo nor does the dialog match the branding that Persona i

[2013-08-22 23:15] pdehaan commented on #3828
Mobile experience:
![mozilla_persona__a_better_way_to_sign_in](https://f.cloud.github.com/assets/557895/1013196/7ce3640c-0b80-11e3-96ee-d884eb411a05.png)

Desktop experience:
![mozilla_persona__a_better_way_to_sign_in](https://f.cloud.github.com/assets/557895/1013201/9fb00c74-0b80-11e3-9f93-c997b393a7c6.png)

[2013-08-23 05:35] shane-tomlinson commented on #3826
@pdehaan - @ozten has this right, we can only include content that we control, severely restricting 3rd party inclusions to CDNs that we trust.

To avoid any cross-functionality pollution, the projects under `/example` are treated as distinct repos. Instead of trying to create one jQuery to rule them all, we could try to actually make `/example` into a git submodule. Is it worth the effort?

[2013-08-23 06:42] shane-tomlinson commented on #3829
@chemistrydioxide - this change was made as part of the mobile redesign for FirefoxOS. @manhratty and @ryanfeeley  - What are your thoughts here? Should be bring the Persona logo back in some small way? In mobile, we show a persona logo as the background image in the email input box as well as next to the email addresses, but nowhere else.

[2013-08-23 07:55] shane-tomlinson commented on #3828
@chemistrydioxide - Thanks for the issue report. We actually do have labels, they are 0px tall and read out to screen reader users.

@mhanratty, @ryanfeeley - Your input here would be appreciated. What do you guys say to unifying the labels at a minimum (to make the L10N community's life simpler), and an indication of an email address on mobile? Could we use the placeholder text like we do on desk

[2013-08-23 11:43] ryanfeeley commented on #3829
![screen shot 2013-08-23 at 7 37 17 am](https://f.cloud.github.com/assets/68213/1015850/7894182a-0be8-11e3-8ce4-63c3d51f0ba0.png)
I will reach out to @manhratty. We need something. Also we're moving towards language like "Sign in with email" and not "Sign in with Persona" (which messes with the mental model somewhat). I need a full tour of mobile.

[2013-08-23 16:59] shane-tomlinson commented on #3807
@alex-pl - thanks for the bug report! I have opened a bug in Bugzilla for this as well so that it can be tracked by the Open Web Apps team: https://bugzilla.mozilla.org/show_bug.cgi?id=908718

[2013-08-23 17:57] pdehaan commented on #2306
FWIW, the current latest jQuery 1.x branch version is 1.10.2: http://code.jquery.com/jquery/
Shane was mentioning that we should stick w/ the 1.x branch since it has the most backwards compatibility w/ IE8+/-.

[2013-08-23 18:14] #3814 closed, assigned to nobody

[2013-08-23 18:14] #3813 closed, assigned to nobody

[2013-08-23 18:16] #3635 closed, assigned to nobody

[2013-08-23 20:36] pdehaan opened #3834 "When signing into a site using Persona, you dont see TOS or PP links if you see a list of emails"
If you log out of the site and then log back in again, you're presented with your list of emails, but you don't see the any Terms of Service of Privacy Policy links.

![mozilla_persona__a_better_way_to_sign_in](https://f.cloud.github.com/assets/557895/1018875/9d313550-0c33-11e3-8191-309819f658c2.png)

[2013-08-25 14:07] shane-tomlinson commented on #3834
@pdehaan - This is by by design. The user should only see the RP's TOS/PP links if they have never visited the site before. If they HAVE visited the site before (and it looks like you have, I see one email address is highlighted in the background), the TOS/PP agreements are not shown.

[2013-08-25 14:07] #3834 closed, assigned to nobody

[2013-08-25 14:58] chemistrydioxide commented on #3829
This is in fact the same issue as #2539.

[2013-08-26 03:21] eevee commented on #1946
@shane-tomlinson I've thought on this some more and I admit a website could only store credentials used for itself, and would still need a password for securing them, so a local shim would look exactly like traditional login.  But here's my half-baked train of thought.

The end goal is for browsers to have built-in support for Persona, right?  At which point none of the persona.org JS even needs t

[2013-08-26 17:54] pdehaan commented on #3834
I don't quite get it. What happens if the Persona/site TOC or PP changes since I first logged in? I wouldn't be able to see the changed docs unless I try and log in, then click "This is not me" and then log in all over again.
Wouldn't it make sense to always show links to the TOS/PP for Persona and the site regardless of login workflow?

[2013-08-26 23:08] nickdesaulniers commented on #3693
As a heads up, the error message says to add an exception for "mozilla.com" not "login.mozilla.org"

[2013-08-27 00:04] jaredhirsch opened #3835 "failing tests not noticed by vows"
So, here's a long snippet of stdout from a test run in my not-ready-yet metrics branch. TL;DR - lots of tests failing, yet vows says at the end:

[code]

What's up with that? I could swear there was a similar bug opened not long ago, but I can't find it.

Arghs.

[code]

[2013-08-27 00:58] jrgm commented on #3835
[code]

I opened GH-3797 about QUnit not detect compile errors in tests, and you may be thinking of that one. (I'll be updating that issue in a bit).

However, you're confusing which output comes from which tool above.
- vows output is like "Errored » 87 honored ∙ 4 errored (7.229s)" and those reflect failures
- QUnit output is the line that says "1767 tests of 1767 passed, 0 failed."

[2013-08-27 07:08] callahad commented on #3834
This feels super strange to me as well, <del>and is a change from what's currently in production</del>. Once I've logged into a site once, I can no longer view its terms of service or privacy policy?

[2013-08-27 07:26] jrgm commented on #3834
It's not a change from what's currently in production.

[2013-08-27 09:26] callahad commented on #3834
@jrgm is right, I misunderstood the condition. Not a change from prod.

[2013-08-27 19:45] pdehaan commented on #3834
Mr @ryanfeeley , do you have any thoughts on this?

[2013-08-27 23:03] jrgm commented on #3466
I really haven't seen this in a while now. No real proof that it is gone, but given recent FE changes, possibly this is not reproducible anymore. Closing. WIll reopen if seen again.

[2013-08-27 23:03] #3466 closed, assigned to jaredhirsch

[2013-08-28 11:35] #3725 closed, assigned to nobody

[2013-08-28 13:29] shane-tomlinson opened #3838 "desktop dialog text is quite compressed, especially the site name and "sign in to..." text."
The text in the RP name around "Relying" is especially difficult to read.

![screen shot 2013-08-28 at 15 27 36](https://f.cloud.github.com/assets/848085/1042164/c85b9bd4-0fe5-11e3-86f1-4d690da27786.png)

[2013-08-28 16:48] ryanfeeley commented on #3834
@pdehaan I reviewed the current behavior with @shane-tomlinson and it behaves as designed. The TOS for both Persona and the RP are only shown the first time a user signs into a given RP. For subsequent sign-ins, Persona's TOS link is one click further away under "learn more", as is the RPs after sign in (though may be available unauthenticated). This decision was made to remove as much friction as

[2013-08-28 18:16] callahad commented on #3834
So we're OK with the RP's ToS and PP being invisible until after you've signed in, for subsequent sign-ins?

[2013-08-28 18:59] ozten commented on #3778
@jedp can you look at the SIgn in error? Steps to reproduce and screenshot of the error in [Comment 22726190](https://github.com/mozilla/browserid/issues/3778#issuecomment-22726190).

[2013-08-28 19:50] jedp commented on #3778
@ozten thanks - just looking into this now

[2013-08-28 20:08] jedp opened #3841 "Marketplace on Android unable to use unverified emails"
Krupa reports that Marketplace is unable to sign in using unverified emails on Android.

[2013-08-28 20:49] jedp commented on #3778
I figured I'd try first on device, since the emulator can behave differently than multi-proc b2g, especially for marketplace and identity.  I downloaded the marketplace app from http://inferno.paas.allizom.org/

When I try to sign in with the gear in Marketplace using my mozilla.com address, I am prompted to enter a password.  I did not get sent over to the Mozilla IDP.  I entered a password.

Ret

[2013-08-28 21:06] mattbasta commented on #3778
The `{"reason": "No profile."}` you're seeing is coming from the
Marketplace API. Not sure why that's happening, though. I've never
experienced the failed assertion.

What device did you test on? I've had the dialog-never-closing issues on
the Keon/Peak.

On Wed, Aug 28, 2013 at 1:49 PM, Jed Parsons notifications@github.comwrote:

[2013-08-28 22:40] kumar303 opened #3842 "Error creating unverified user if email used before with primary"
To reproduce:
- Log into https://marketplace.firefox.com/ using desktop Firefox with a Gmail account
- Walk through the oauth verification
- On the Firefox OS Marketplace app, attempt to log in with the same Gmail account
- It asks you to create a password, enter the new password

This results in the following error:

![2013-08-28-17-31-19](https://f.cloud.github.com/assets/55398/1046104/4abade54-

[2013-08-28 22:47] kumar303 commented on #3842
I didn't see anything useful in the logcat, let me know if you need it. Hmm, github doesn't let you attach text files.

[2013-08-28 23:20] jedp commented on #3842
Interesting.  This hit me today as well when using FirefoxOS on Unagi to sign in with a mozilla.com address, so we have identity bridging in common.  (Though it worked when I tried a second time.)  Yeah, logcat will have nothing to report in this case.  There's no error on the client.

[2013-08-28 23:27] jrgm commented on #3842
This error message is shown on a 503 response from POST /wsapi/stage_user. I think possibly when it calls db.createUnverifiedUser.

[2013-08-28 23:31] seanmonstar commented on #3842
An error from `db.createUnverifiedUser` will log to CEF with a `DB_FAILURE`.

If it was before that, we should be able to see the error message in the logs.

[2013-08-28 23:40] jedp commented on #3778
Could "No profile" be what Marketplace says when the verifier says no to the assertion?

This is a local build of b2g18 + v1-train for Unagi.  I have a Keon - I'll try it.

What is Marketplace using as the audience for the assertion?  Is it the https:// marketplace url?

[2013-08-28 23:45] mattbasta commented on #3778
That's a great question for @kumar303 or @washort.

[2013-08-28 23:53] washort commented on #3778
yes, it's using `https://marketplace.firefox.com/`.

[2013-08-29 10:09] #3797 closed, assigned to nobody

[2013-08-29 15:27] FattusMannus opened #3844 "Persona Login Fails *sometimes* on ChromeOS"
It works sometimes (and I know that's not helpful and I cant work out steps to reproduce), but other times it tells me to get a modern browser....

I have experienced this inconsistency over several days usage.
Right now I have 2 bugzilla tabs open - 1 allows me to login, the other says unsupported browser.

Chrome OS details:
Version 29.0.1547.57 beta
Platform 4319.74.0 (Official Build) beta-chan

[2013-08-29 16:38] vladikoff commented on #3844
Is this on the Samsung Series 5 550 Chromebook?

[2013-08-29 16:40] #3826 closed, assigned to nobody

[2013-08-29 16:43] jaredhirsch commented on #3829
if this is a dupe of #2539, closing. reopen if i'm missing something

[2013-08-29 16:43] #3829 closed, assigned to nobody

[2013-08-29 16:43] jaredhirsch commented on #3835
derp. closing, nice catch @jrgm

[2013-08-29 16:43] #3835 closed, assigned to nobody

[2013-08-29 16:45] jaredhirsch commented on #3841
@jedp @krupa can we get some more context here?

[2013-08-29 16:46] jaredhirsch commented on #3841
four stars to investigate

[2013-08-29 16:48] jaredhirsch commented on #3842
five stars to investigate immediately, @gene1wood will pull the logs

[2013-08-29 16:49] jaredhirsch commented on #3844
it'd be great to get reliable steps to reproduce

[2013-08-29 16:50] ozten commented on #3844
Can Chromebook produce web developer debug logs? Like [HAR files](http://www.speedawarenessmonth.com/what-is-a-har-file-and-what-do-i-use-it-for/) or anything like that?

We don't have a way to reproduce this bug, so we need debug information.

[2013-08-29 18:46] jedp commented on #3778
@washort so that sounds right.

@mattbasta are you able to log what comes back from the verifier?  or is it just sending you a 500?

I'll test against a local persona instance

[2013-08-29 19:02] mattbasta commented on #3778
I don't think the verifier is sending a 500. This is where the error comes from:

https://github.com/mozilla/zamboni/blob/master/mkt/account/api.py#L137

I just added a bit of logging to help debug:

https://github.com/mozilla/zamboni/commit/000a08f73c33ca23a548d97f258af4715b0e7f1c

From my understanding, this error is only returned when the verification step fails in `django_browserid`, but we'll

[2013-08-29 19:39] gene1wood opened #3845 "Establish log rotation for persona app logs"
/var/browserid/log/*.log

[2013-08-29 19:55] gene1wood commented on #3842
I've 13 instances of this failure over 24 hours yesterday. I'll try to correlate the nginx 503's with an underlying app log entry

[2013-08-29 21:08] gene1wood commented on #3842
Here's what's happening on the dbwriter : `{"level":"warn","message":"unexpected database failure: Error: Duplicate entry 'foo@gmail.com' for key 'address' -- at exports.createUnverifiedUser (/opt/browserid/lib/db/mysql.js:733:13)","timestamp":"2013-08-21T20:47:05.800Z"}`

@jrgm will be here shortly to explain what's causing this

[2013-08-29 21:20] jrgm commented on #3842
Yeah, so it's pretty clear what this issue is from the log line above (which I'll repeat with a line break for easy reading).

{"level":"warn","message":"unexpected database failure:
Error: Duplicate entry 'foo@gmail.com' for key 'address' -- at exports.createUnverifiedUser
(/opt/browserid/lib/db/mysql.js:733:13)","timestamp":"2013-08-21T20:47:05.800Z"}

The row for that key already exists (create

[2013-08-29 21:58] krupa opened #3846 "[headsup] Sometimes, persona login using gmail fails with an error message about third-party cookies"
## Steps to reproduce
1. Launch marketplace-dev.allizom.org on nightly or Chrome
2. Sign in using your gmail account
## observed behavior:

During verification step, login fails with a user message about third-party cookies not allowed by the browser. However, trying to sign in immediately afterwards results in a successful login.

Sorry for the vague bug report. i will add more details if i hit t

[2013-08-29 22:23] karlht commented on #3846
@krupa, Nightly had a change where third-party cookies are disabled by default now, which would cause this issue.  If this recurs, please include what the third-party settings and/or exceptions are.

Thanks.

[2013-08-29 23:28] seanmonstar commented on #2555
Re-opening, since we're doing this feature NAOW!

[2013-08-30 00:44] jrgm opened #3847 "update selenium selectors for new 123done design"
The login button has changed on 123done.

[2013-08-30 03:22] tavisrudd commented on #2034
Is this fix (specifically Chrome on iOS) in the production version or is there some way to target an include.js payload with the fix?

[2013-08-30 05:43] callahad commented on #2034
@tavisrudd This is not yet live yet; it should be live on September 12th. (We have a biweekly production push schedule, to allow for localization and QA work, so things typically go live 2-3 weeks after being merged)

[2013-08-30 08:02] FattusMannus commented on #3844
@vladikoff Yes it is on that Chromebook.

@ozten Ill try to get you some HAR files today

[2013-08-30 16:39] vladikoff commented on #3844
@FattusMannus Thanks for submitting the issue by the way and taking the time to provide details :)

[2013-08-30 16:54] fmarier commented on #2754
I have just prepared a pull request related to this on client-sessions itself: https://github.com/mozilla/node-client-sessions/pull/55

[2013-08-30 18:22] vthunder commented on #2034
This is awesome! :+1:

[2013-08-30 18:41] seanmonstar commented on #2555
Relevant discussions that happened on the list:

https://groups.google.com/d/topic/mozilla.dev.identity/oMuTGsxLKQk/discussion
https://groups.google.com/d/topic/mozilla.dev.identity/z3d_wj6Jjq0/discussion

[2013-08-30 20:11] ozten commented on #3384
+1

I would document forceIssuer's only valid value as a hostname (or whatever). there is some discussion about `undefined` to disable the API in `request` and via the `verifier`.

[2013-08-30 21:30] kumar303 commented on #3842
I think we have a workaround in Marketplace which will deploy on Tues 9/3: https://bugzilla.mozilla.org/show_bug.cgi?id=910938 The workaround (which is a bug fix) is to always do `forceIssuer` -- i.e. on desktop and Firefox OS. In our testing, this lets Gmail users log in on Firefox OS, however they may have to create a new password on desktop first.

[2013-08-30 21:33] #3847 closed, assigned to nobody

[2013-08-30 21:43] mattbasta opened #3850 "POST 400 causing pages to fail to load"
http://cl.ly/image/0T0X0o2D0y2w

I was signed in already when I hit the page. Let me know if you need more details.

[2013-08-31 03:23] jrgm opened #3851 "refresh our use of node-http-proxy on awsbox AMI to use the latest, http-proxy@0.10.3 when using nodejs 0.10.x"
*\* TL;DR http-proxy@0.8.0 does not work correctly when run with nodejs >0.10.x **

I started writing this up as an issue for https://github.com/mozilla/123done, but since it can affect other browserid-related repos using awsbox deploys, that I'd put the issue in a central place.

I was seeing problems when running automation on 123done in parallel after its update this week to run on nodejs 0.10.

[2013-09-02 08:05] FattusMannus commented on #3844
I cant reproduce this so I am sure it will be closed.

This has happened multiple times over the last few weeks and seems to be site independant - i got it on FFOS Marketplace and BugZilla.
I am adamant there is an issue, but I cant reproduce it.

[2013-09-02 09:26] djc commented on #3723
Am I correct in thinking that this got fixed with #3725?

[2013-09-02 10:37] shane-tomlinson commented on #3723
@djc - that it did. Closing.

[2013-09-02 10:37] #3723 closed, assigned to nobody

[2013-09-02 18:22] kumar303 commented on #3842
For anyone reading this who is stuck trying to log in to Marketplace on Firefox OS, here's how the fix will work. On Sep 3rd around 12pm PST we'll release the aforementioned fix. After it has been deployed, you'll need to clear your cookies (persona.org and marketplace.firefox.com). Using a desktop browser you can then log in to Marketplace with your Gmail (or other bridged account). It will promp

[2013-09-03 01:49] vladikoff commented on #3844
Can't reproduce this on the Chromebook Pixel (30.0.1599.21 dev), tried a few different sites multiple times.

[2013-09-03 17:30] jedp commented on #3778
@mattbasta did you get any fuller logs out of django?  Do we know what `msg` is coming back from that authenticate function?

[2013-09-03 17:34] mattbasta commented on #3778
Instead of trying to fiddle with production, I'm going to take a few minutes today to fiddle with our mock API. That has the same configuration as prod (I think) and returns the exact error rather than a sanitized version. I'll report back with my findings.

[2013-09-03 23:08] jrgm commented on #3851
I did the following on 123done.org

1) sudo su - proxy
2) edit ~proxy/package.json to use http-proxy@0.10.3
3) mv ~proxy/node_modules ~proxy/node_modules-0.8.0
4) npm install
5) forever restartall

So 123done.org is now running with http-proxy@0.10.3. It works for me manually, and the problem with
hitting maxsocket when running automation-tests is gone.

Leaving open for a more formal fix to awsbo

[2013-09-03 23:55] mattbasta commented on #3778
[code]

The first line shows the origin passed as the audience (the `1` means that it was using native persona). The second line is the output from the verifier.

In production, we'll have a "real" origin, but in our test apps that won't happen because you need to be signed for that to work. Any ideas?

[2013-09-04 00:26] pdehaan opened #3852 "x-ua-compatible ie=edge is intended for testing purposes only and not for use in a production environment"
Per http://msdn.microsoft.com/en-us/library/jj676915%28v=vs.85%29.aspx
### Understanding legacy document modes

When using the X-UA-Compatible header to restrict a webpage to a legacy document mode, use one of the following values:

For testing purposes, you can also use the following value to display the webpage in the highest standards mode supported by Internet Explorer.

[code]

**Note: Edge m

[2013-09-04 00:27] pdehaan commented on #3827
Filed the x-ua-compatible IE=edge issue separately as #3852

[2013-09-04 02:18] seanmonstar commented on #3842
@kumar303 sounds reasonable, it's a bug on our side, and you're trying to fix your users faster. don't mind me ranting on the next lines, it's not you at all :)

@lloyd WUH! SEE? `forceIssuer` is the devil. and it's growing.

must. kill. H̸̡̪̯ͨ͊̽̅̾̎Ȩ̬̩̾͛ͪ̈́̀́͘ ̶̧̨̱̹̭̯ͧ̾ͬC̷̙̲̝͖ͭ̏ͥͮ͟Oͮ͏̮̪̝͍M̲̖͊̒ͪͩͬ̚̚͜Ȇ̴̟̟͙̞ͩ͌͝S̨̥̫͎̭ͯ̿̔̀ͅ

[2013-09-04 02:22] seanmonstar opened #3853 "Using a dark background color in request() makes the text white, and then the light grey arrow animation practically hides the text"

[2013-09-04 07:57] shane-tomlinson commented on #3852
@pdehaan - we only support IE8 and above and we use the HTML5 doctype.

[2013-09-04 07:59] shane-tomlinson commented on #3842
Kill forceIssuer. Kill with a spoon so it's more painful.

[2013-09-04 07:59] shane-tomlinson commented on #3853
@seanmonstar - if we remove the animation, this won't be a problem. ;)

[2013-09-04 08:15] shane-tomlinson opened #3855 "`main_site` and `stagedOnBehalfOf` localStorage fields no longer used, can be removed."

[2013-09-04 09:00] shane-tomlinson opened #3856 "internal.setPersistent sets `remember` field instead of `logged_in` field to indicate user wants a silent assertion."

[2013-09-04 09:00] shane-tomlinson commented on #3856
This means users who sign in using the internal API are not getting the full goodness of silent assertions.

[2013-09-04 09:01] shane-tomlinson commented on #3856
Is internal.setPersistent actually used anywhere?

[2013-09-04 11:29] callahad commented on #3852
@shane-tomlinson I think @pdehaan is suggesting that the `IE=edge` setting is unnecessary if we have the proper doctype, and that setting it to `edge` is a bad practice according to Microsoft.

IIRC, the tag is still necessary in order to override IE's heuristics for switching to IE7 mode on intranet sites, but I could be wrong.

[2013-09-04 12:52] shane-tomlinson commented on #3852
@callahad - you are indeed correct.

[2013-09-04 13:58] callahad commented on #3852
Closing as wontfix; I think the MS docs are a bit crazy in that regard.

[2013-09-04 13:58] #3852 closed, assigned to nobody

[2013-09-04 17:51] seanmonstar commented on #3842
updated title to reflect underlying error

[2013-09-04 18:26] jedp commented on #3778
Good to know that this is confined to the test apps.  Can we confirm that things are actually working properly in production?

In the test apps, if you're not signed in, what are you sending to the verifier as an assertion?

[2013-09-04 18:55] mattbasta commented on #3778
We can't confirm in production since we can't make a production version of the Marketplace. We'd effectively have to ship an update to prod, and if it doesn't work, the Marketplace is dead in the water.

That's the biggest issue: we can't really generate a test app that works. You can't specify an origin unless you're privileged, and to be privileged you need to be signed. And to be signed, you ha

[2013-09-04 19:29] sole opened #3858 "Validate email addresses when signing up?"
I saw a couple of "average users" try out webmaker/thimble today and try to register with the site using Persona. The first attempt failed because the person didn't notice that she had incorrectly entered her email address--instead of `something.org` she had entered `something.og` (note the missing R in org).

She kept checking her email account and even going to the spam folder to no avail, until

[2013-09-04 23:38] seanmonstar commented on #3858
This was suggested [on the list](https://groups.google.com/d/topic/mozilla.dev.identity/hm_J8agRb6w/discussion) a while ago, and we agreed it would be a great idea. I searched to see if we had an existing issue, and couldn't find one.

I'm :+1: on this.

[2013-09-05 00:10] seanmonstar opened #3859 "siteName not showing in some Portuguese strings"
Reported by Lucas Junqueira on the list.

Looking into the our [translations](https://localize.mozilla.org/pt_BR/browserid/LC_MESSAGES/translate.html#search=Confirm&sfields=source,target), it could be that we have some strings that use `%(site)s`, but the translations remove the name, leaving only `%s`, which fails to be formatted.

![1](https://f.cloud.github.com/assets/51479/1085037/6f0f707a-15b

[2013-09-05 09:51] sole opened #3860 "Persona official website and where to report bugs"
Hello guys

Sorry this is a bit of fuzzy metabug. Basically, it's a question and a request for confirmation that I did the right thing:

The question: what is Persona's official website? If such a thing exists, that it.
Is it https://developer.mozilla.org/en-US/docs/Mozilla/Persona ?

The reason I ask is, whatever that place is needs to have an obvious link that links to the issue tracker. I got t

[2013-09-05 12:45] stevenvergenz commented on #3850
Confirmed, this is happening on my site too. However, because I make a call to logout() on login failure, my page infinitely refreshes. This has happened multiple times to me on my site.

Two pieces of information may be useful. First, the 400 error only seems to be thrown when the user does not log out and allows the session to remain open for a long time, for me overnight. When I load/reload the

[2013-09-05 14:10] shane-tomlinson commented on #3778
@mattbasta - I think at that point, you guys might want to consider running your own verifier with those modifications, my feeling is enabling that behavior globally could lead to security problems.

@fmarier - Whatcha think?

[2013-09-05 14:28] shane-tomlinson commented on #3859
@mathjazz - looking at the `pt` translations, it looks like @seanmonstar was right. The translation for "Check your email" contains a `%s`. The translation for "Confirm your account now" is missing (as well as "Learn more at https://login.persona.org/about")

[2013-09-05 16:36] jedp commented on #3778
Sorry, @mattbasta - I misread "signed" in [your comment above](https://github.com/mozilla/browserid/issues/3778#issuecomment-23756570) for "signed in".  That's why I was scratching my head about how you got an assertion of any kind to send to the verifier.

[2013-09-05 16:42] mattbasta commented on #3778
Ah yeah, signed like with certificates and magic and stuff.

[2013-09-05 16:46] jaredhirsch commented on #3845
belongs in identity-ops?

[2013-09-05 16:49] jaredhirsch commented on #3846
@krupa - closing, please reopen if you can repro

[2013-09-05 16:49] #3846 closed, assigned to nobody

[2013-09-05 16:49] jaredhirsch commented on #3850
4 stars to investigate

[2013-09-05 16:50] shane-tomlinson commented on #3850
relate to #3625

[2013-09-05 16:51] shane-tomlinson commented on #3850
This is actually a dup of #3625, with the Gmail bridge instead of the Yahoo! bridge.

[2013-09-05 16:55] ryanseys commented on #3853
This issue could benefit from a screenshotty. :camera:

[2013-09-05 16:56] jaredhirsch commented on #3858
zomg verifying valid TLDs is really hairy. maybe we could do a service roundtrip.

[2013-09-05 16:57] gene1wood commented on #2555
Proxy server support added here https://github.com/mozilla/identity-ops/commit/e6e293149747a18278d79fe4d3b5fa24bbbd0e69

When this feature goes to stage we'll need to build new proxy amis with the new proxy support.

[2013-09-05 16:59] gene1wood commented on #3845
Whoops, didn't see what repo I was in when filing it. Thanks for catching this Jared. Closing in favor of https://github.com/mozilla/identity-ops/issues/126

[2013-09-05 16:59] #3845 closed, assigned to nobody

[2013-09-05 17:01] jaredhirsch commented on #3860
@callahad / @wbamberg thoughts here? want to keep or revert?

[2013-09-05 17:04] sole commented on #3858
Yeah, I know! that's why I suggested a simple regexp, "non blocking" (i.e. it wouldn't be "modal"). And maybe it could be ran only in some cases, say if it ends on .og where the usual thing is ORG. Not sure how would the heuristic work o_O

[2013-09-05 17:07] pdehaan commented on #3858
I think Mailgun has a service for email validations, but not sure about rate limits and details: http://blog.mailgun.com/post/free-email-validation-api-for-web-forms/

They also have a simple jQuery demo: http://mailgun.github.io/validator-demo/

[2013-09-05 17:30] randomfactor commented on #1589
I'm "piling on" to indicate my interest. I mistakenly tried to file this at https://bugzilla.mozilla.org/show_bug.cgi?id=906720.

Mozilla Persona is EXACTLY what the internet needs. It needs to catch on like an Idaho brushfire. To make it more valuable, please add a user icon or jpeg image that can be associated with the user's email address.

Persona is awesome for the developer. It offloads the

[2013-09-05 17:37] seanmonstar commented on #3858
As linked in the discussion on the list, try out http://kicksend.com/join, and type a foo@gmail.ocm address or something. It's just a gentle reminder to check your spelling.

[2013-09-05 17:43] seanmonstar commented on #3853
It's no fun trying to screen cap an animation :)

Easily seen by going to 123done.org, opening console, and typing `navigator.id.request({ backgroundColor: '#000' });`, then log in.

[2013-09-05 17:51] ryanseys commented on #3853
![test](https://f.cloud.github.com/assets/163873/1090277/d28a1404-1653-11e3-92b8-93fa83c65caa.gif)

[2013-09-05 17:52] ryanseys commented on #3853
:wink:

[2013-09-05 18:10] jedp commented on #3778
@mattbasta so what's the best way we can help?  We can help set up a dev verifier to just verify whatever it gets, though having a verifier with different behavior seems like it could mask bugs.  If you could install dev certs on the phone, would you have everything you need to unblock this?

[2013-09-05 18:11] wbamberg commented on #3860
I'm not sure I can say which is Persona's official website, but thanks for the edit, I agree that this page needs to link to "report a bug".

[2013-09-05 18:34] mattbasta commented on #3778
Requiring dev certs would make the packaged builds largely inaccessible to
the folks that would need to test it,  including the better part of QA. It
would also add a manual dev deploy step, which is less than ideal. I'd
rather avoid it at all cost, if possible.
On Sep 5, 2013 11:10 AM, "Jed Parsons" notifications@github.com wrote:

[2013-09-05 18:39] jedp commented on #3778
I agree that having manual steps is not good.  What if there was another automated nightly build that included the dev certs?  Wouldn't that be easy for everyone to flash to their devices and make it accessible to all?

[2013-09-05 20:02] mattbasta commented on #3778
The issue with the dev certs is that they need to be installed on the phone
using a special tool. The signing process is the additional step that would
need to be performed on the zipball.

It's also worth noting that dev certs can't be installed in the simulator,
meaning we wouldn't be able to do any Marketplace testing in the simulator.

I really don't consider signing the package and requiring

[2013-09-06 00:51] seanmonstar commented on #3842
deep dived into this just now. Since forceIssuer is being used, and the email is typically a primary, it comes back from address_info as `transition_no_password`. However, in state.js, we say that if there's on password and forceIssuer, then it's a newFxAccount, which sends us off to stage_user. stage_user tries to create a new user with the email address, and errors because email already exists.

[2013-09-06 09:45] shane-tomlinson opened #3863 "[ie8] - KPIs can be submitted twice for the same data set."
Edited for important content. The KPIs are first submitted when the dialog closes. The KPIs are re-submitted, with the window.unload event when the dialog is re-opened.

[code]

Link to #3861

[2013-09-06 09:46] shane-tomlinson commented on #3863
My feeling is this is due to IE8's localStorage syncing issues. I'm not sure how to fix this yet.

[2013-09-06 09:54] mathjazz commented on #3859
@seanmonstar @shane-tomlinson PT translation is not at 100%, so it could be that we changed the original string but they didn't follow up with translaiton. I'll ping them to fix it.

[2013-09-06 09:57] shane-tomlinson commented on #3863
STRs:

1) Open the dev RP in IE8
2) Open the dialog
3) Close the dialog, watch the console log, see the event stream go by.
4) Without re-loading the RP, re-open the dialog.
5) That same event stream from 3 went by again, < /grumble>

If the user re-loads the RP's page before step 4, the KPIs are NOT submitted again.

[2013-09-06 10:37] shane-tomlinson commented on #3858
This should be captured in a user story.

[2013-09-06 11:13] shane-tomlinson commented on #3842
@seanmonstar - I have been looking at this too: whenever I use the local dev IdP, I see "invalid email" in the console, state.js:line 404 after setting the password. If I add `|| self.allowUnverified` to the check, I am allowed to pass, I set the email address, and call /wsapi/stage_user (which returns 200), but end up in an infinite loop to set the email address, because address_info keeps return

[2013-09-06 11:24] ryanfeeley commented on #3853
Thanks @ryanseys! @seanmonstar @shane-tomlinson I'm not okay with removing the animation, because it really makes sense in this content. It's a "waving bye bye" that is part of the experience. Isn't this just a z-index issue? Also could the shape not be made in HTML without an image? An inner DIV rotated 45°, possibly with a drop shadow?

[2013-09-06 11:26] shane-tomlinson commented on #3853
@ryanfeeley : w.r.t a div rotated 45 degrees - we would lose IE < 10 support. When you say z-index issue, do you mean that the arrow should be in front of the siteName and siteLogo?

[2013-09-06 11:34] ryanfeeley commented on #3853
@shane-tomlinson Oh yeah, OPB (other people's browsers :)

I was thinking that the arrow should go in front. So great that @ryanseys did that animation because it givess one pause to reflect on it.

I do like the rightward motion because it's dramatic, and appropriate in context. I'm not a very experienced motion graphic designer, but know a few. I'm going to ask.

[2013-09-06 16:18] shane-tomlinson opened #3866 "Dialog does not use RP branding when signing in to the main site."
We did all that work, we should use the features!

![screen shot 2013-09-06 at 17 16 35](https://f.cloud.github.com/assets/848085/1097352/dffb698c-170f-11e3-9c6e-df20e6076b16.png)

[2013-09-06 20:35] seanmonstar commented on #3842
Because the JSON db has no concern with duplicate entries, but our mysql db has a unique constraint on `email`.

[2013-09-06 20:46] ryanfeeley opened #3867 "The Persona icon in the footer is cropped and blurry on (at least) my Retina machine."
Here is what I see:
![screenshot](https://f.cloud.github.com/assets/68213/1099365/52d8155c-1735-11e3-87ec-1241298aa8a6.png)

I wanted to suggest SVG, but doesn't work in all of our supported browsers.

Please use this 476 byte PNG instead? It's double res, but can be sized down in HTML.
![persona-icon](https://f.cloud.github.com/assets/68213/1099367/5f2b3e10-1735-11e3-99da-4aba41d6aff9.png)

[2013-09-06 21:08] callahad commented on #3860
Thanks, edits look good to me. MDN is currently the developer-facing landing page.

There's an ongoing effort to create a centralized landing page at www.persona.org in the next few weeks, which should help matters even more :)

Thanks again for the contribution!

[2013-09-06 21:08] #3860 closed, assigned to nobody

[2013-09-06 21:09] callahad commented on #3858
Closing since we have a user story.

[2013-09-06 21:09] #3858 closed, assigned to nobody

[2013-09-06 22:22] ryanfeeley opened #3868 "Improve RP branded mobile view"
As promised @shane-tomlinson

![mobile 001](https://f.cloud.github.com/assets/68213/1099864/b1660c7a-1742-11e3-83af-32288b62834c.png)

Questions: I still think we need to show Persona in here. Ideas? Also, where is the RP/Persona ToS?

[2013-09-06 22:57] pdehaan opened #3869 "package.json is invalid"
Per http://package-json-validator.com/

At a minimum we should add `author` and `licenses` information, and maybe set the `homepage` to _persona.org_.
Not sure what the complaint about JSONSelect is about, but maybe @lloyd has an idea.

[code]

[2013-09-07 06:06] stephendonner commented on #2904
Saw this again (still) on our v1-train Marketplace Payments automation:

http://qa-selenium.mv.mozilla.com:8080/job/b2g.unagi.mozril.gaia.v1-train.ui.marketplace_payment/1715/

Here's a logcat w/it: http://pastebin.mozilla.org/2990561

Can we bump this up a bit in priority?  Thx :-)

[2013-09-07 06:08] stephendonner commented on #2904
For more info, I just noticed that this occurs even when our Payments test passes, so it doesn't appear to be fatal:

http://qa-selenium.mv.mozilla.com:8080/job/b2g.unagi.mozril.gaia.v1-train.ui.marketplace_payment/1716/

For the full logcat: http://pastebin.mozilla.org/2990572

[2013-09-07 06:56] jrgm commented on #2904
[code]

@stephendonner is this about this issue as originally described, or did you update the wrong issue?

[2013-09-08 05:24] ericelliott commented on #1501
What's the latest status of this issue? Is it really still open, or did somebody just forget to reference the ticket in the latest pull request?

[2013-09-08 05:35] ericelliott commented on #760
Can you reference that issue?

[2013-09-09 08:58] hsivonen commented on #3659
Firefox Nightly now has UI that shows the cipher suite in use. Click the lock to show Larry, click More Information and look under Technical Details. I get TLS_RSA_WITH_CAMELLIA_256_CBC_SHA in Nightly. In Chrome, I get AES instead of Camellia.

So no forward secrecy. :-(

[2013-09-09 16:22] gene1wood opened #3870 "Intermittent "Cannot verify user@example.com" for @mozilla.com (primary) email account"
Over the weekend I saw this sequence. I've not seen it before and my browser doesn't block third-party cookies (to my knowledge).
1. Go to https://login.persona.org/ and click Sign Out
2. Go to a URL authenticated by mod_authn_persona (I'm unsure if this is part of the issue or not, but this was what I was attempting)
3. Click Sign in with your email
4. Type in a @mozilla.com email address
5. Your

[2013-09-09 20:45] fmarier commented on #3659
Here's the ticket for improving the cipher suite: https://bugzilla.mozilla.org/show_bug.cgi?id=904077

It's marked as resolved because we can't do any better with Amazon ELB.

[2013-09-09 21:07] benoit-l opened #3871 "Allow the user to switch languages on login.persona.org"
When loading login.persona.org, everything is displayed according to the accept-language setting of the browser.

But it happens sometimes when travelling that people have to use a browser with different language settings, be it in airports, internet cafés or at friend's house.

There should be a language switcher somewhere on the login screen like on other Mozilla properties.

(and on a personal

[2013-09-09 23:29] #1472 closed, assigned to nobody

[2013-09-10 05:52] jrgm opened #3872 "CSRF validation failure, token mismatch (was [ie10] regular error in dialog when running automation for reset-password-test)"
I was reviewing some automation failures with IE10 and could see in the saucelabs video that the test failed due to an error screen shown at this step

https://github.com/mozilla/browserid/blob/dev/automation-tests/tests/reset-password-test.js#L121-L133

at line 129

I tried to get an example of the error, but could not. I guess I could extend the test to check that an error is not shown at that p

[2013-09-10 06:24] jrgm commented on #3872
Okay, i caught this once and the error reported is about a bad CSRF value to /wsapi/authenticate_user (which has a familiar ring, but can't recall exactly what).

[2013-09-10 07:12] hsivonen commented on #3659
Considering the nature of Persona, it seems to me that forward secrecy should be regarded as an important feature. If it's not possible to do better with Amazon ELB, maybe it's not appropriate to use Amazon ELB for Persona.

[2013-09-10 07:59] jrgm commented on #3872
The sauce job is https://saucelabs.com/tests/eb5f179ed936452a8d6a3b1bcd74d442#

[2013-09-10 08:06] fmarier commented on #3659
As mentioned on bugzilla, opsec is talking to Amazon to see whether they could upgrade their ancient version of OpenSSL given that Persona is not the only affected website. Failing that, you're right, we shouldn't terminate TLS on ELB.

[2013-09-10 08:15] jrgm commented on #3872
I coalesced some logs from stage webheads, and the failure pattern appears to be that _two_ requests for `/wsapi/session_context` are served at the same time (I'd say exactly, but ntpd is not that precise). Later on the two CSRF tokens are reported as mismatched:

[code]

I do not think this is necessarily specific to IE10; I just got lucky in noticing it and drilling down while I was only running

[2013-09-10 08:17] jrgm commented on #3872
Oh, also. I don't think this is specific to `/wsapi/authenticate_user` since I see at least one other `/wsapi` failing on this condition.

[2013-09-10 09:02] lloyd commented on #2034
:heart:

[2013-09-10 09:20] shane-tomlinson commented on #3868
@ryanfeeley - Like desktop, the TOS/PP agreements are only displayed to users who have not visited the RP before. Here's what they look like:

![screen shot 2013-09-10 at 10 18 21](https://f.cloud.github.com/assets/848085/1113341/27c37ab0-19fa-11e3-8193-93610924ab29.png)

[2013-09-10 09:33] shane-tomlinson commented on #3871
Link to #1798

[2013-09-10 09:39] #3794 closed, assigned to nobody

[2013-09-10 12:22] shane-tomlinson commented on #3632
Dup of #3575, closing.

[2013-09-10 12:22] #3632 closed, assigned to shane-tomlinson

[2013-09-10 12:35] shane-tomlinson opened #3873 "new users must sometimes re-enter password in dialog post-email verification"
This is intermittent, but sometimes users must re-enter their password in the dialog post-email verification.

STR (again, intermittent)

1) open dialog
2) stage user
3) in same browser, open a new tab and verify the user

I'm trying to get a network trace of this happening.

[2013-09-10 12:44] shane-tomlinson commented on #3873
`/wsapi/user_creation_status` returns `mustAuth`.
![screen shot 2013-09-10 at 13 40 54](https://f.cloud.github.com/assets/848085/1114286/46677842-1a16-11e3-922d-a2481a84e4d0.png)

Since the user typed their u/p in the dialog before staging the address, we attempt to authenticate them:

![screen shot 2013-09-10 at 13 39 48](https://f.cloud.github.com/assets/848085/1114293/65a91b5c-1a16-11e3-95ed-d0

[2013-09-10 12:46] shane-tomlinson commented on #2757
This has been in production for several months as a new option passed to navigator.id.request called `experimental_forceAuthentication`, closing.

[2013-09-10 12:46] #2757 closed, assigned to nobody

[2013-09-10 12:51] shane-tomlinson commented on #2471
@ryanfeeley - What do you think about this post-password reset text, can it be made more intelligible?

![password-reset-text](https://f.cloud.github.com/assets/848085/1114338/8c9f7a66-1a17-11e3-88ae-7e52b962ccd4.png)

[2013-09-10 12:54] jvehent commented on #3659
PFS is regarded as a very important feature, and OpSec is working with the differents teams to upgrade our SSL terminations. Hopefully, ELBs and the various TLS vendors will pick up the pace and accelerate their integration of ECC, GCM, TLS1.2 and OCSP Stapling. Failing that, there is always the possibility to terminate TLS ourselves, but that requires some engineering time.

As a side note, githu

[2013-09-10 15:04] ryanfeeley commented on #2471
I just reset my password and went through this experience. I don't understand the need for the redirect screen. Why can't it just go to something like:
![screen shot 2013-09-10 at 11 03 54 am](https://f.cloud.github.com/assets/68213/1115385/4759c7be-1a2a-11e3-9ad2-a534c3c684fb.png)

[2013-09-10 20:20] pdehaan commented on #3715
Confirmed.
Reran my script and now only getting one warning:
browserid/scripts/aws_enable_locales.js

I'll file a new bug and pull request. #copyrightallthethings

[2013-09-10 20:35] pdehaan opened #3874 "aws_enable_locales.js file is missing copyright header"
Related to #3715 but it looks like there is another file missing a copyright header. I'll file a pull request shortly.

browserid/scripts/aws_enable_locales.js

[2013-09-10 22:44] jrgm commented on #3872
Probably related. I just noticed that every time I open the dialog, there are two, almost simultaneous requests to `/wsapi/session_context`. (Note: this is in current production, so this isn't a new behaviour in this train.)

[2013-09-11 04:46] seanmonstar commented on #3872
@jrgm that helped a bunch! i noticed that both interaction_data and cookie_check at the start of the dialog call a `withContext()`, which would likely trigger two different requests.

PR incoming.

[2013-09-11 10:43] #3874 closed, assigned to nobody

[2013-09-11 10:52] shane-tomlinson commented on #3872
@seanmonstar, @jrgm - wsapi/session_context has been called twice in the dialog for a long time. I thought there was an issue open about this, but I cannot see one.

[2013-09-11 10:53] shane-tomlinson commented on #2754
@fmarier - is the updated node-client-sessions being used in Persona now?

[2013-09-11 14:11] callahad opened #3878 "loggedInUser's value is case sensitive"
As reported in mozilla/django-browserid/issues/192, loggedInUser is case sensitive, which leads to false-negatives and logout loops when a user should otherwise be considered as logged in.

STR:
1. Start a local browserid instance.
2. Navigate to the local example RP.
3. Click "get an assertion" and sign in as `FOO@mockmyid.com`
4. Refresh the page, notice the correct onlogin -> onready callback s

[2013-09-11 14:22] callahad commented on #3871
Closing as a dupe of 1798

[2013-09-11 14:22] #3871 closed, assigned to nobody

[2013-09-11 22:31] richardcrichardc opened #3879 "Four round trips to check login - ouch"
I'm in New Zealand 200-250ms from login.persona.org - responses come back in about 300ms. Round trip time is a big deal for us.

I'm looking at the load time of a website using persona to login. To avoid flickering from logged in to not logged in, the page is not displayed until the persona onready callback fires.

Page loads are taking about 3 seconds. The site is quite ajaxy, so there is scope f

[2013-09-12 09:00] shane-tomlinson commented on #3852
Link to #2566

[2013-09-12 09:29] #3872 closed, assigned to nobody

[2013-09-12 16:50] edwindotcom commented on #3878
this sucks!

[2013-09-12 16:50] jaredhirsch commented on #3879
:-\

We've discussed implementing a CDN, seems like that would mitigate a lot of this latency

[2013-09-12 17:17] edwindotcom commented on #3870
moved to https://github.com/mozilla/vinz-clortho/issues/121

[2013-09-12 17:17] #3870 closed, assigned to nobody

[2013-09-12 17:30] seanmonstar commented on #3879
Would it? 3 of the calls are wsapi requests.
On Sep 12, 2013 9:50 AM, "Jared Hirsch" notifications@github.com wrote:

[2013-09-12 21:43] richardcrichardc commented on #3879
I've spent 10 minutes looking at the spec and source code making me an instant expert - so I don't actually know what I am talking about ;-)

There appears to be a cookie browserid_state which presumably is the key to whether the user is logged in or not.

How about as soon as include.js is loaded a call is made to a new wsapi endpoint https://login.persona.org/wsapi/whos_logged_in which simply re

[2013-09-13 04:59] fmarier commented on #2754
@shane-tomlinson Not yet. I'm not done with my patch on browserid itself: https://github.com/fmarier/browserid/commits/ephemeral_cookie (the ephemeral case works, but the non-ephemeral case doesn't work).

[2013-09-13 18:27] callahad commented on #2034
@tavisrudd This should now work in production on Chrome / iOS. Can you please confirm?

[2013-09-13 20:15] jedp opened #3882 "Persona window never opens on Android from web app"
@kumar303 reports in [Bug 914415](https://bugzilla.mozilla.org/show_bug.cgi?id=914415):

**To reproduce**
- Install Firefox Nightly on an Android device
- Install this add-on to activate payments prefs: http://mzl.la/19BZQCx, from https://addons.mozilla.org/en-US/firefox/addon/dev-marketplace/ (source: https://github.com/wesj/devMarketplace)
- Install the in-app payment tester from http://apploa.d

[2013-09-13 20:17] jedp commented on #3882
Not being able to sign into marketplace on android sounds like a five-star to me.  Assigning it as such.

[2013-09-13 20:23] jedp commented on #3882
@kumar303, you mention that the add-on activates persona debug settings.  There is an experimental Persona implementation in Firefox, but it's not even included in the Android build, as far as I know.  So the debug setting should do nothing.

Do the logs say anything useful at all?  Is there a log of network requests?

[2013-09-13 20:25] jedp commented on #3882
Ah - I missed the logcat in the bugzilla bug somehow.  This line looks a little worrisome:

[code]

`firefoxos.persona.org` is a CNAME for `login.persona.org` which we only use on FirefoxOS.  There turned out to be many hoops through which there was need to jump in order to get this CNAME working on FirefoxOS.  We only jump through these hoops for FirefoxOS user agents - not other mobile devices.

[2013-09-13 20:55] jedp commented on #3579
So Marketplace has this: https://github.com/mozilla/zamboni/commit/1e8eff64b4fe179eb551a79e8914a308405a3b4e

We don't have that FeuraSansWeb in our code.  Maybe this is the culprit.

[2013-09-13 21:16] jedp commented on #3579
Oh awesome:

[code]

[2013-09-13 21:24] kumar303 commented on #3882
I disabled CSP on our WebPay server and all those messages went away but the Persona window still wouldn't open. We can rule out CSP. Also, I switched to using login.persona.org for everything but that still didn't fix the issue.

[2013-09-13 23:45] edwindotcom opened #3883 "b2g: mozId.watch onlogin fires two times when previous user signed in"
I'm writing a test for b2g and notice that onlogin fires 2 times, once with the prior signed in account, then the new one.  The prior user should not be logged in till 'sign in' is clicked.
1. pull down my branch, then try python setup.py develop to pick up framework change.
2. run this test:
   https://github.com/edmoz/gaia-ui-tests/blob/persona-apptest/gaiatest/tests/persona/test_persona_app.py

[2013-09-14 14:13] shane-tomlinson opened #3884 "compressed bidbundle.js, communication_iframe.js missing license info"

[2013-09-15 22:12] fmarier opened #3886 ""Your browser is not supported" message should warn about dom.storage.enabled on Firefox"
Some users of the most recent Firefox version are being told by Persona that their browser is not supported. See https://bugzilla.mozilla.org/show_bug.cgi?id=916460 for an example. I've seen another case of that too.

Ideally, we should expose the actual reason for Persona not working (postMessage not working, localStorage not working, etc.) in the error message.

However, at the very least, we sh

[2013-09-16 09:25] shane-tomlinson commented on #3879
@richardcrichardc, @seanmonstar - We talked about combining several of the `wsapi` calls into one so that when `/wsapi/session_context` is called, the user's list of emails is also returned. Combining `/wsapi/address_info` into this single call will be a bit more work, but should be possible as well.

We have given this a lot of thought, but are holding off until we see what boosts a CDN give us w

[2013-09-16 09:42] shane-tomlinson commented on #3882
@jedp - I'm having a hard time understanding the problem, it sounds like this is one of two things - Either a native Android app trying to open Persona, or a desktop Firefox app trying to open Persona. As I understand it, we have never officially supported either of these.

If this a native Android app is trying to open Persona, @seanmonstar has a library - https://github.com/seanmonstar/android-b

[2013-09-16 12:45] shane-tomlinson commented on #3752
Fixed by c32acb2fde4db937ae24afcb8b56ab863253753d, closing.

[2013-09-16 12:45] #3752 closed, assigned to nobody

[2013-09-16 12:50] shane-tomlinson commented on #3859
Thanks @mathjazz - have these been updated?

[2013-09-16 12:51] #3869 closed, assigned to nobody

[2013-09-16 13:59] mathjazz commented on #3859
Yes, pt and pt_BR are both updated and fixes.

[2013-09-16 14:00] shane-tomlinson commented on #3859
Thanks @mathjazz - closing this issue. If this is still seen, please re-open.

[2013-09-16 14:00] #3859 closed, assigned to nobody

[2013-09-16 15:36] eholk commented on #3883
I noticed this issue when I was debugging a Persona login issue last week.

[2013-09-16 15:39] eholk commented on #3882
This sounds like an issue I've been seeing. I have an app where Persona login works fine when I open the page from the Firefox for Android browser, but if I install the page as a Firefox web app then I never see the Persona login window. Incidentally, Persona login does work in app mode in the Firefox OS simulator and an actual Firefox OS device.

[2013-09-16 17:08] seanmonstar commented on #3882
@shane-tomlinson on Firefox for Android, you can install "webapps" from the Firefox Marketplace, just like FxOS.

I wonder if the implementation has altered popups at all. It'd be great to get any console logs that could be happening. I don't remember how to remote debug Firefox on Android.

[2013-09-16 19:11] eholk commented on #3882
I was asking some people on the devtools team the other day, and it sounds like remote debugging is sadly not possible yet for Firefox android apps.

On Sep 16, 2013, at 1:08 PM, Sean McArthur notifications@github.com wrote:

[2013-09-16 20:18] jedp opened #3887 "Create a FiraSans font pack"
@shane-tomlinson remarked in [this PR for FirefoxOS fonts](https://github.com/mozilla/browserid/pull/3885) that we ought to create a FiraSans font pack

[2013-09-16 20:47] tavisrudd commented on #2034
Yep, it works fine now. Thanks :)

[2013-09-16 21:09] jedp commented on #3882
Based on Shane's [comment](https://github.com/mozilla/browserid/issues/3882#issuecomment-24498733) that this is not officially-supported behavior, I'm venturing to demote this to four stars, since, while it doesn't work, it's not strictly-speaking broken.

@eholk so there's no way to even get any kind of logs?  argh.

[2013-09-16 21:35] eholk commented on #3882
@jedp - not as far as I know, although I'm far from an expert. I've tried sprinkling some alerts around, but that's not super useful.

I've had a little better luck by hacking include.js to always use the redirect flow. It does all the Persona stuff, but when it returns to my app it doesn't log in. This may be in my code though.

[2013-09-16 22:01] richardcrichardc commented on #3879
@shane-tomlinson. Thanks for the update.

What sort of time frame do you imagine the CDN going live? I take it that include.js and communication_iframe would go on the CDN. You might be able to get the same benefit simply by tweaking the caching policy for static resources.

So of the four round trips (excluding include.js) that is going to shave off about 1/5 of a second (communications_iframe do

[2013-09-16 22:07] seanmonstar commented on #3882
A simple test case is to see if `var window = window.open('somepage')` returns the window on one side, and then the opened window has `window.opener` pointing at the original window on the other.

If not, that would explain the error. Is there a way to feature detect or UA sniff a Firefox for Android webapp? Then we could add it in to use the redirect flow. Though, that also sounds like a valid bu

[2013-09-16 22:26] kumar303 commented on #3882
@jedp payments are a feature required for Firefox OS on Android -- @andymckay or @clouserw probably know more about roadmap timing for getting payments working on Android.

@seanmonstar I don't know how to attach log files to github but you can grep GeckoConsole in the logcat attached to the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=914415

[2013-09-16 22:58] seanmonstar commented on #3882
Looking at the code again, I see that the redirect flow would not try to work in the dialog if it successfully found `window.opener` (doesn't try redirect flow till after trying WinChan https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/js/modules/dialog.js#L48-L52). So, that would mean `window.opener` is not set.
1. That sounds like a bug for Firefox.
2. We can work around it i

[2013-09-17 05:43] jamesshore commented on #2034
Could somebody clarify what went into production? I just had a user complain that they couldn't login when using iOS Chrome.

[2013-09-17 08:23] shane-tomlinson commented on #2034
@jamesshore - if a site uses the `navigator.id.watch` API, users of Chrome for iOS will be able to sign in. Chrome for iOS has a technical limitation where a dialog window is unable to communicate with its parent window. To get around this, we do what is called the "redirect flow" where a user is redirected from your site to Persona to authenticate, then back to your site. This _only_ works for th

[2013-09-17 15:54] jedp commented on #3883
Just to make sure I'm understanding the sequence:  First, in a run of a test, you sign in as user A.  Then you go to the test page again to sign in as user B ("run again").  When you arrive at the test page this time, you get an automatic assertion for user A when `watch` is called.  Then you click sign-in and get an assertion for user B.  Is that what's happening?

I think that's the correct beha

[2013-09-17 16:19] edwindotcom commented on #3883
I think you're right - when you run the test the second time, once the trusted UI comes up it signs you in, since you didn't log out previously.  Thus the previous assertion is list in li.login on page.  The best way would make sure we're logged out before we run the test.  I'll close this.

[2013-09-17 16:19] #3883 closed, assigned to nobody

[2013-09-17 17:46] jamesshore commented on #2034
@shane-tomlinson Ah, that explains it. Yes, I'm using the old API. I've been meaning to update it anyway. Thanks!

[2013-09-17 18:22] kumar303 commented on #3882
@seanmonstar interesting, what do you think the exact bug is in Firefox for Android? @wesj can probably help see if it's a known issue or not.

[2013-09-17 22:58] fmarier opened #3888 "Verifier accepts paths in the audience"
Currently, the verifier that we run accepts audiences that include a path and discards the path. For example, these three audiences are equivalent:
- `http://example.com`
- `http://example.com/moodle/`
- `http://example.com/mahara/`

This could lead people to think that (as in the above example) web applications running on the same domain but separated by paths are separate in the browserid world,

[2013-09-17 22:59] fmarier commented on #3888
Also, this has implications for the libraries that @chilts is writing. In that case though, since nobody is using them at the moment, we can just have them enforce the stricter right from the start.

[2013-09-17 23:03] warner commented on #3888
Yeah, I think that's worth fixing. More certainty is better. APIs should encourage correct thinking instead of being misleading.

It'd be nice if we had some sort of messaging pathway, like if the verifier could return "ok, but something is a bit weird: XYZ" which would go into the RPs logs for them to look at occasionally.

[2013-09-17 23:04] fmarier commented on #3888
I love @warner's idea of a "warning" field in the JSON output. Like the "reason" field when validation fails, but for valid assertions.

[2013-09-18 00:20] chilts commented on #3888
Yep, we'll just throw/die/quit if they pass an audience which has a path. In general most libraries obtain the audience outside of the request and prior to doing the verify so this should work well.

[2013-09-18 03:03] gausie opened #3889 "Event on checking localStorage"
At the moment I have a login button that:
1. Starts saying "Log in"
2. At the beginning of onlogin (before the XHR request) says "Checking"
3. If the result is successful, says "Log out" else goes back to "Log in".

This is great, except for a brief moment while the DOM loads and before the XHR request has begun, it says "Log in" which may concern users. I would have the button begin by saying "Ch

[2013-09-18 03:08] seanmonstar commented on #3889
If you're setting the `loggedInUser` of watch(), then you don't have to wait for `onlogin` to trigger. You already know the user is logged in.

We'll still check to be sure it's the same user, and if so, the `onmatch` event will be called. If it's not correct (user logged out of Persona), we'll trigger the `onlogout` event.

After everything, the `onready` event should always be triggered.

https:

[2013-09-18 15:09] csuciu opened #3891 "'Registration Failed' message displayed when registering email@yahoo.co.uk"
Env:
Ubuntu 12.04 & Firefox 24 release
Win 7 & Firefox 25 beta1
beta.123done.org - stage
123done.org - prod

Steps:
1. Sign in with email@yahoo.co.uk
2. Open the email client and click on the confirmation link

Expected: The email is successfully signed in without any error message

Actual: The email is logged in on login.anosrep.org but the sign in dialog displays this error message:  "Error. Ple

[2013-09-18 17:06] shane-tomlinson opened #3892 "logging stops shortly after startup since upgrade to node v0.10.18"
STR (in local env)

1) Set node version to v0.10.18
2) load up the dev server
3) in another window, visit <project_root>/var/log and `tail -f router.log`
4) load up the dev rp repeatedly
5) where are the logs?

[2013-09-18 17:18] jedp opened #3894 "On create account, "Confira suas mensagens em %s" is displayed"
Luis Kaufman Silva reports in [Bug 917084](https://bugzilla.mozilla.org/show_bug.cgi?id=917084):

User Agent: Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.65 Safari/537.36

Steps to reproduce:

Click in "Identificar-se"
Put the email data
Put password and confirm password
Receive the screen in attachment

![captura de tela de 2013-09-16 19_36_23](https://f.

[2013-09-18 17:22] luis-kaufmann-silva commented on #3894
thanks for put this in correct place ;)

[2013-09-18 17:46] shane-tomlinson opened #3895 "Selenium tests do not run against node v0.10.x"
This occurs after blowing away the `node_modules` directory and re-installing.

[code]

[2013-09-18 18:13] jrgm commented on #3895
A fix for where it crashes (lib/vows/suite.js:230) was done here
https://github.com/cloudhead/vows/commit/f412e4a568481817faea0ce5c8f2bc53f6153f67

Trying vows@0.7.0 now, which is having more luck.

[2013-09-18 18:14] seanmonstar commented on #3859
This should be seen in production with the next train, right?

[2013-09-18 18:15] seanmonstar commented on #3894
dupe of #3859

[2013-09-18 18:15] #3894 closed, assigned to nobody

[2013-09-18 18:27] jrgm commented on #3851
Oops. Ephemeral's have been switched to an AMI that uses node 0.10.18.

We need to get the AMI updated to using http-proxy@0.10.3 for ~proxy. /cc @lloyd

[2013-09-18 18:36] seanmonstar commented on #3882
@wesj @kumar303 We use Cross-Window Communication with postMessage. So, a window created with window.open() should have property of `window.opener` point at the originating window. Then we can communicate back to it doing `window.opener.postMessage(message)`.

window.opener does not appear to exist, or else it never would have tried the redirect flow, since it checks for opener first.

[2013-09-18 18:37] jaredhirsch opened #3896 "lastpass could be fixed by adding action attr to the form"
@jmswisher was having problems commenting on bug #919 (and oddly I can't comment on that bug either, pung github support about it), so adding this comment on her behalf:

If it's just a matter of adding the `action` attribute to our form, this seems like a super easy fix. Reopening, will try to quickly resolve.

[2013-09-18 18:38] jaredhirsch commented on #919
and it seems like opening a related issue resolved the HTTP 422 errors I was seeing when trying to comment.

Closing the other bug, copying comments in here, reopening here. cc @jmswisher

[2013-09-18 18:39] jaredhirsch commented on #3896
closing in favor of #919, which i can now update.

[2013-09-18 18:39] #3896 closed, assigned to nobody

[2013-09-18 18:39] jaredhirsch commented on #919
@jmswisher was having problems commenting on this bug earlier (and oddly I was, too), anyway, here's what she heard back from the LastPass team:

If it's just a matter of adding the `action` attribute to our form, this seems like a super easy fix. Reopening, will try to quickly resolve.

[2013-09-18 19:14] #3892 closed, assigned to nobody

[2013-09-18 19:28] ozten opened #3897 "Garbage collect IdP info in bulk"
Currently the `address_info` wsapi [triggers a per domain cleanup](https://github.com/mozilla/browserid/blob/f05f038b3aca5f8171b62e6790d41130cb3a8b52/lib/wsapi/address_info.js#L72) of IdP information.

This is inefficient. We should have a cronjob or other mechanism which ensures we delete all stale data in bulk, periodically.

`DELETE FROM idp_cache WHERE created > NOW() + 50000` or whatever (psu

[2013-09-18 22:09] pdehaan opened #3898 "Update outdated modules"
On the topic of updating to Node.js 0.10.x, we should look at updating modules to the latest versions. I installed David (https://github.com/alanshaw/david) but you could also use npm-check-updates (https://github.com/tjunnone/npm-check-updates).

Here's the current output...

David:

[code]

[2013-09-18 22:11] pdehaan commented on #3898
And here's the `npm-check-updates` output:

npm-check-updates:

[code]

[2013-09-18 22:48] jaredhirsch commented on #919
@jmswisher I've added `method="post"` to the forms in the dialog, but I still can't get LastPass to work. Want to give it a shot? https://lastpass.personatest.org

[2013-09-18 22:50] jaredhirsch commented on #919
@jmswisher To give a bit more context--I don't use LastPass and it seems, from looking at their forums, that it's a bit complex to use with multi-page forms (where the username field, password field, and submit button aren't on the same html page). Maybe you've got some experience here and can get it working or tell me how to get an error message for further debugging?

[2013-09-18 23:58] jrgm commented on #3851
Hmm, it looks like this change is in ami-4b1c5722 which is what new boxes are being built with. Did you fix this @lloyd? Close if so (and thanks).

[2013-09-19 01:56] ryanfeeley commented on #3887
@jedp @shane-tomlinson Would love to see semi-bold on the RP name (i.e. "Sign into _RP_ with…") without increasing load too much.

[2013-09-19 02:58] jrgm commented on #3895
Anyways, current status is that with this diff, things work.

[code]

But there's a separate issue, which is that the http-proxy is leaking sockets until it won't accept any more connections, causing these tests to eventually fail (unless you `sudo su - proxy; forever restartall`.)

I filed a different bug in a bit, when I narrow this down.

[2013-09-19 03:04] jrgm commented on #3895
Um, so the reason I'm pulling the SHA, is that the current release version of vows on npm is 0.7.0, which fixes the problem of running on node 0.10.0.

**But**, @shane-tomlinson ... remember that problem about vows not running test suites beginning with a 'C'. Well, it got re-introduced in vows@0.7.0. The first checkin after 0.7.0 fixes it again (and puts a test in (again?)).

Looking at the chang

[2013-09-19 05:23] jmswisher commented on #919
On that test site, I do _not_ get the message from LastPass that the login form is insecure. On other Persona sites, this message comes up as soon as the Persona popup does.

On the other hand, I also don't get past the first Persona screen. Is the test site supposed to be fully functional? If I enter my email address and click Next, nothing happens for a while, and then I get:

[2013-09-19 06:05] jrgm commented on #3851
Hrm, it seems that there's something else going on - see https://github.com/mozilla/browserid/issues/3895 (after fixing the vows issue).

I'll file a new issue to not confuse things here. (But it's related).

[2013-09-19 06:15] jrgm opened #3899 "new-skool ephemerals http-proxy is getting saturated to MAX_FILES when running real browsers."
On the new-skool ephemeral's I'm seeing sockets leaked on the http-proxy until the proxy hits MAX_FILES, and stops accepting connections (causing run-all.js to start failing).

This is not the same as https://github.com/mozilla/browserid/issues/3851. I see that the upgrade to http-proxy@0.10.3 is in place.

While upgrading 123done.org to http-proxy@0.10.3 (using nodejs@0.10.7) solved the problem i

[2013-09-19 06:28] lloyd commented on #3899
hmmm.  at one point I did some serious tuning to up all limits on awsbox's image.  Don't know if that was lost and this is not a regression in application code, or if socket leaking is a new behavior...

what are STR here?  just hammer an ephemeral deployment till it falls over?  Do I even need persona to repro this problem or can I repro with an awsbox running hello world - IOW - is this a person

[2013-09-19 07:56] jrgm commented on #3899
So, I tried to reduce this to just simple curl, but it's about real browsers running with caches.

But, I put this script in place on current login.dev.anosrep.org at `~ec2-user/proxy_svr_est_watch.sh`:

[code]

Then, from some client box, run `./scripts/run-all.js -e dev -p 6 --platform all` (taking note of https://github.com/mozilla/browserid/issues/3895#issuecomment-24714443, where you'll need

[2013-09-19 08:12] jrgm commented on #3899
To answer your original questions:
- I don't think this is about any `ulimit` changes in previous awsbox AMI; maybe if you tweaked TCP or other kernel settings, but this feels more like app level.
- it could be the app that receives the connections from the http-proxy (via nat). 123done.org seemed to be solved by just updating node-http-proxy when 123done.org was moved to nodejs 0.10.7. But the st

[2013-09-19 09:49] shane-tomlinson commented on #3887
@ryanfeeley - I am out of Persona land for a couple of months to work on metrics, @seanmonstar and @6a68 are the ones to hit up for this.

[2013-09-19 09:59] shane-tomlinson commented on #3895
Thanks for tracking this down @jrgm.

[2013-09-19 12:24] lloyd commented on #3899
well, it may be the case that the application (proxy) behavior has changed with the node and version upgrades.  it would be satisfying to have a clear understanding of exactly what's going on.  OTOH, there is a significant difference in max open file limits between proxy user and app user.  I could probably tweak the max open file limit for proxy and put all this to rest - though we might be sweep

[2013-09-19 15:32] omigeot opened #3902 "What happens when primary IdP becomes available for an adress that's already registred at persona.org?"
Simple case : I've been testing Persona (then BrowserID) with my email adress few months ago, and back then I didn't have a primary IdP. So I got my email address registered at persona.org.

Now I'm trying to run my own IdP, and everything seems fine (esp. according to checkmyidp.org), but wsapi keeps on telling me I'm using a secondary IdP.

Thing is : what's the (expected) path of migration betw

[2013-09-19 16:04] callahad commented on #3902
Are you comfortable mentioning the name of your domain here?

[2013-09-19 16:39] jrgm commented on #3902
@shane-tomlinson can you answer here?

[2013-09-19 16:39] gausie commented on #3889
Well I'd like to have something happen if we confirm that there is no logged in user.

As far as I see it, it seems to be that the process is:
1. Does the localStorage say we have someone logged in?
2. If not, do nothing. If so, do navigator.id.request() with the credentials.
3 etc etc

I would like to know when the localStorage is checked and there's noone logged in.

[2013-09-19 16:41] jrgm commented on #3899
The proxy process on login.dev.anosrep.org. Not sure why.

[2013-09-19 16:48] jrgm commented on #3891
Is this consistently reproducible?

[2013-09-19 16:51] jaredhirsch commented on #3889
@gausie please take a look at the MDN docs for watch() and take a closer look at @seanmonstar's comment above, you've got your answer. closing.

[2013-09-19 16:51] #3889 closed, assigned to nobody

[2013-09-19 16:52] jrgm commented on #3888
Should this be discussed on the list for what impacts it could have on existing RP (suggestion from triage).

[2013-09-19 16:57] shane-tomlinson commented on #3886
@fmarier - I think we could show a message for postMessage, localStorage, etc, but I am unaware of a mechanism to query `dom.storage.enabled`

[2013-09-19 17:01] jrgm commented on #3731
Closing as dup.

[2013-09-19 17:01] #3731 closed, assigned to nobody

[2013-09-19 17:05] lloyd commented on #3899
parse error.

[2013-09-19 17:05] dholbert commented on #3731
The dupe target was closed as "I can no longer reproduce" a year ago, FWIW, whereas this one here was opened 2 months ago (and is still reproducible).

I guess I'll reopen the dupe target.

[2013-09-19 17:13] shane-tomlinson commented on #2397
@jmaher - are you still able to reproduce this?

[2013-09-19 17:15] shane-tomlinson commented on #2493
Has https://github.com/mozilla/browserid/pull/3820 fixed this?

[2013-09-19 17:15] jrgm commented on #2317
Actually the schema are documented in lib/db/mysql.js. Calling that good enough.

[2013-09-19 17:15] #2317 closed, assigned to nobody

[2013-09-19 17:15] shane-tomlinson commented on #2493
Link to #1472

[2013-09-19 17:16] jrgm commented on #1878
Closing, since presuming this is fixed.

[2013-09-19 17:16] #1878 closed, assigned to nobody

[2013-09-19 17:17] shane-tomlinson commented on #2501
@ozten - can this be closed now?

[2013-09-19 17:19] edwindotcom commented on #2397
I have a galaxy nexus in office, i'll test then.

[2013-09-19 17:22] ozten commented on #2501
Sorry, Yes, I think so.

[2013-09-19 17:22] #2501 closed, assigned to ozten

[2013-09-19 17:23] edwindotcom commented on #3133
I can't repro this anymore. closing

[2013-09-19 17:23] #3133 closed, assigned to nobody

[2013-09-19 17:27] edwindotcom commented on #3219
we don't support private browsing: generally you'll get a 'not supported browser dialog'.  We could improve the messaging, downgrading to 3 star.

[2013-09-19 17:30] edwindotcom commented on #3219
actually dupe of #3220

[2013-09-19 17:30] #3219 closed, assigned to nobody

[2013-09-19 17:34] edwindotcom commented on #3530
this is live and not many are running into this... FxAccounts may resolve this issue. - downgrading to 3 star.

[2013-09-19 17:56] shane-tomlinson commented on #2493
I just tested this twice, all good. Closing.

[2013-09-19 17:56] #2493 closed, assigned to nobody

[2013-09-19 17:56] edwindotcom commented on #3151
Lowering this to 3 star - as it's UX/Cosmetic.

[2013-09-19 17:58] shane-tomlinson commented on #2027
Is this still a problem?

[2013-09-19 18:01] jaredhirsch commented on #919
@jmswisher that's odd, the site works for me. Maybe try a different email address, or try again?

[2013-09-19 18:12] fmarier commented on #3886
@shane-tomlinson Yes, I was a little sloppy there. I think we can only indirectly check for `dom.storage` by checking both localStorage and sessionStorage. That's what I do on https://people.mozilla.org/~fmarier/troubleshoot.html

[2013-09-19 19:14] rlr opened #3903 "returnTo URLs are being re-encoded redirecting from email confirmation link."
If I pass `http://example.com/?q=don%27t` as the `returnTo` parameter to `navigator.id.request()`, after confirming my new persona account in the email (fallback auth provider), I am redirected to `http://example.com/?q=don%2527t`. It basically looks like the URL was sent through another pass of encoding which converts the `%` into `%25`.

On SUMO, we pass a lot of URLs that look like this because

[2013-09-19 19:49] shane-tomlinson commented on #3887
@jedp - yo, by adding `Fira Sans` to the list of fonts, do the font related CSP errors from #3579 go away? If they do, I'm tempted to let Firefox OS use `Fira Sans` and all other mobile devices use `Fuera Sans` so the errors are avoided.

[2013-09-19 19:50] shane-tomlinson commented on #3887
Font packs created:

https://github.com/shane-tomlinson/connect-fonts-firasans
https://github.com/shane-tomlinson/connect-fonts-firamono

@jedp, if we need to replace Feura Sans with these, lemme know. One of us can open a new issue for it.

Closing.

[2013-09-19 19:50] #3887 closed, assigned to nobody

[2013-09-19 19:50] shane-tomlinson commented on #3579
@jedp - is this fixed by the change to `Fira Sans`?

[2013-09-19 20:51] pdehaan commented on #2397
I'm UTR on my Nexus 7/Android 4.3 w/ 123done.org and Firefox Nightly 27.0a1.

[2013-09-19 20:57] callahad commented on #3902
@omigeot Generally, when you see issues like this it's related to the SSL certificate you're using.

What does this say:

https://login.persona.org/wsapi/address_info?email=foo@YOURDOMAIN.COM

Does this look different?

https://login.dev.anosrep.org/wsapi/address_info?email=foo@YOURDOMAIN.COM

[2013-09-19 20:58] callahad commented on #3902
(Obviously swap in your domain at the end, there.)

[2013-09-19 21:00] callahad commented on #3888
This seems like a good idea. Let's go ahead and give persona-notices a heads up, and kill this in 6 months. Monitoring usage between now and then, obviously.

I'll draft that email. Assigning to me until that gets done.

[2013-09-19 21:05] omigeot commented on #3902
Ok, thanks everyone for your answers, I'll try to be precise.

First off all, I don't mind giving my domain name : migeot.org

Right now, address_info gives me :

{"type":"secondary","issuer":"login.persona.org","disabled":false,"state":"unknown"}

and

{"type":"secondary","issuer":"login.dev.anosrep.org","disabled":false,"state":"unknown"}

Guessing which line is from what server is left as an ex

[2013-09-19 21:10] ozten commented on #3902
I don't think node likes the SSL cert (?).

[code]

[2013-09-19 21:12] omigeot commented on #3902
Is this the SSL cert, or the BrowserID {private,public} key ?

[2013-09-19 21:15] callahad commented on #3902
SNI should not be a problem anymore. Looks like your server may not be sending the "StartCom Class 2 Primary Intermediate Server CA" intermediate certificate? At least, as per: https://www.ssllabs.com/ssltest/analyze.html?hideResults=on&d=migeot.org

[2013-09-19 21:16] omigeot commented on #3902
Well, https://migeot.org/ is recognized by Firefox without extra root certificates, that's as far as I can tell.

[2013-09-19 21:31] callahad commented on #3902
Yeah. `UNABLE_TO_VERIFY_LEAF_SIGNATURE` would make sense in terms of something being missing in the cert chain. Can you try adding that and checking the address_info endpoints again?

[2013-09-19 21:33] omigeot commented on #3902
Sure, though maybe not in the next eight hours. Should I see an immediate result on address_info afterwards, or do I need to wait some time (and if so : how long) before re-trying?

[2013-09-19 21:42] callahad commented on #3902
Dev should should show up effectively immediately. Production may take a few minutes.

Get the cert up, double-check on the ssllabs test page, go hang out for 15 minutes, then test :)

[2013-09-19 22:26] seanmonstar commented on #3903
Yuck. So, we run the full URL through `encodeURI` to strip bad characters (`<script>`)...

Though, I wonder... if we never display (I can't remember if we do), and only ever do `window.location = storage.getReturnTo(origin)`, then maybe we don't need to encode it?

[2013-09-19 22:38] jrgm commented on #3899
Actually, nevermind my comment. I was wrong about something (and didn't explain it in actual grammatical sentences in the first place).

[2013-09-19 23:59] richardcrichardc opened #3904 "Gmail login prompts for user's email address twice"
When identity bridging to gmail, the user is prompted twice for their email address:
- Once by Persona
- Once by Google

This is quite a conspicuous usability hurdle. I'm worried users who have taken a punt at logging in to my website for the first time are going to see this and bail out.

I don't know which Google API is used for logging in, but this problem seems to be quite avoidable using OAut

[2013-09-20 00:20] seanmonstar commented on #3904
Yep, we started with the OpenID API, but have a PR out to use OAuth2 instead: https://github.com/mozilla/browserid-sideshow/pull/114

[2013-09-20 00:43] richardcrichardc commented on #3904
@seanmonstar Great.

Tell me where is the best place to find/report  'known issues' for identity bridging. I'm doing some testing with Internet Exploder 8 and am getting this error, though IE8 is configure to accept all third party cookies:

[2013-09-20 00:56] seanmonstar commented on #3904
Here is fine. Interesting. I just ran through our test site (http://123done.org) in IE8, and was able to log in with my Gmail account. What could be different? Got a screenshot of the error? And exactly at what point it shows up?

[2013-09-20 01:33] jrgm commented on #3899
Gurgle. On Tuesday this week, the node-http-proxy README was updated to state:

[code]

[2013-09-20 02:09] jmswisher commented on #919
Worked with a different email address. Trying to use my mozilla.com address probably complicated things.

[2013-09-20 02:11] richardcrichardc commented on #3904
Interesting. I have the same problem on 123done. This is running on XP -  the Linux Virtualbox IE8 XP image available from http://www.modern.ie/en-us/virtualization-tools#downloads.

![persona-login](https://f.cloud.github.com/assets/885016/1178012/d2f30d42-2198-11e3-8f7e-7f912e649785.png)

[2013-09-20 03:18] jrgm commented on #3899
So, it seems to me, given the above, that the most expedient path would be to build a new AMI with both nodejs 0.8.x and 0.10.x, with ~proxy configured to run with 0.8.x, and ~app with 0.10.x.

[2013-09-20 07:59] omigeot commented on #3902
So, it works. For some reason, I had to tell Apache to use a separate sub-ca cert rather than cat'ing it into the certificate file. Since I also renewed said certificate, I'm not even sure that's why it worked.

But it works, and what's more important, it worked almost instantly, even on the production server. Less than five minutes. Myself I consider it closed. Thanks all for your help.

[2013-09-20 07:59] #3902 closed, assigned to nobody

[2013-09-20 13:29] callahad commented on #3902
Great! Thanks! Let us know if you run into any other bumps.

[2013-09-20 14:42] rlr commented on #3903
@seanmonstar yeah, I can't think of a reason we need to encode the url if you never display it. Thanks for looking into it!

[2013-09-20 15:37] lloyd commented on #3899
I took the hard road.  Give https://worky.personatest.org a whirl.  it's based on awsbox-0.6.0-beta1 (nginx instead of http-proxy)

lloyd

On Sep 20, 2013, at 6:18 AM, John Morrison notifications@github.com wrote:

[2013-09-20 17:02] jrgm commented on #3899
Seems stable there, (although I can't ssh to that instance to look). Ship it!

[2013-09-20 17:36] #3895 closed, assigned to nobody

[2013-09-20 18:29] lloyd commented on #3899
added all the keys to the instance so you can take a look around, criticize, and audit.

will ship it monday after implementing the few features we lost, and updating docs!  woot!

On Sep 20, 2013, at 8:02 PM, John Morrison notifications@github.com wrote:

[2013-09-20 20:04] jrgm commented on #3899
Actually, I just pushed my own build with this and noticed that the browserid is not created in the database from this ami (tried amis from us-east-1, us-west-2 and eu-west-1). However, the browserid user does exist on `worky`.

[2013-09-20 20:05] jrgm commented on #3899
(To be clear, I was using the nginx branch of awsbox).

[2013-09-20 20:11] jrgm commented on #3899
And also the `browserid` database does not exist. (Easy for me to work around; just needs to added to the AMI, of course).

[2013-09-20 21:14] callahad commented on #3903
According to #sumodv, this is blocking SUMO's deployment of Persona. That deployment is one of their Q3 goals.

[2013-09-20 21:49] jamesshore opened #3905 "watch() API logs out on page load with iOS 7 Safari"
I'm getting early reports from users that they can't login when using Safari on iOS 7. Chrome on iOS 7 works fine. I'm using the watch() API. I'll update this issue as I have more information.

**Update: Issue confirmed.** To reproduce the issue, use Safari on iOS 7 to log into a site, such as http://123done.org, that uses the navigator.id.watch() API. After logging in, reload the page. (Some site

[2013-09-20 21:52] edwindotcom commented on #3905
Just a data point, I was able to sign in on the testing site, 123done.org successfully on iOS 7 ipad mini (most recent)

[2013-09-20 21:57] jamesshore commented on #3905
@edmoz I believe 123done.org uses a different version of the API, which may be relevant. I'll ask my users to try logging into 123done.org as well, though. You could also try logging into my site, http://www.letscodejavsacript.com .

[2013-09-20 22:14] callahad commented on #3903
**TODO:** Please notify Topal and r1cky in #sumodev once this is resolved.

[2013-09-20 22:34] seanmonstar commented on #3905
123done.org uses the production version of the watch() API. The dev version is at dev.123done.org.
Nothing sticks out in your code. I wonder, could Safari be too cachy w.r.t. `location.reload()`? Or... did their cookie policy change slightly?

[2013-09-20 23:49] jrgm commented on #3905
With IOS 7.0 (11A465) on an iphone 4S, 123done.org works to me. However, I tried two other RP's that use the watch API, and with both, I am initially signed in (I can see UI that reflects that state), but then I get logged out again.

[2013-09-21 00:14] jamesshore commented on #3905
I just upgraded my iPad to 7.0 and I've reproduced the problem on letscodejavascript.com. I've also confirmed that it doesn't occur on 123done.org. I'm digging into it now.

[2013-09-21 00:26] pdehaan commented on #3905
I'm able to repro on my iPad gen2 w/ Safari and iOS7 and letscodejavascript.com.
I can repro on the latest Chrome on iOS as well. (v 30.0.1599.12)
I can also repro on my iPhone 4S w/ iOS 7 and latest Safari.

[2013-09-21 00:29] jamesshore commented on #3905
It's almost certainly an issue with the watch() API. Here's the function flow I see when running the above letscodejavascript.com code on iOS 7.

[code]

[2013-09-21 00:37] jamesshore commented on #3905
I've confirmed that the issue does not occur with the navigator.id.get() API. (No surprise.)

[2013-09-21 01:22] jamesshore commented on #3905
I've reproduced the issue on 123done.org. Although 123done.org appears to work at first, if you refresh the page, you will be logged out.

When you login, 123done.org doesn't do window.location.reload(), which makes it seem like it's working, even on iOS 7. The problem is more apparent on letscodejavascript.com because it does an immediate reload() when the login state changes.

Now that we know h

[2013-09-21 01:46] seanmonstar commented on #3905
So essentially Persona is broken on iOS7 Safari. That's not good. This is
rightly a 5star. Will need to hotfix it.

[2013-09-21 01:50] jamesshore commented on #3905
Agreed. I've updated the issue title to be more specific.

[2013-09-21 02:33] callahad commented on #3905
As a quick fix, could we detect the iOS 7 UA string and use the redirect flow?

[2013-09-21 02:41] seanmonstar commented on #3905
Since on reload the comm iframe triggers a logout, I'm thinking redirect
would hit the same problem.

Did iOS7 make its cookie policy default to block all 3rd party?
On Sep 20, 2013 7:33 PM, "Dan Callahan" notifications@github.com wrote:

[2013-09-21 02:55] jamesshore commented on #3905
I just checked my recently-upgraded iPad and, yes, it was set to "Block cookies: From third parties and advertisers." (I can't say if that was the default or not, though.)

I changed the setting to "Block cookies: Never" and 123done.org started working properly.

[2013-09-21 17:44] jaredhirsch commented on #3905
@seanmonstar @jamesshore Yep, this is a change in cookie policy in iOS 7, I just confirmed it. Looks like "from visited" doesn't matter any longer: if i visit persona.org, then sign into 123done, then reload 123done, I see the login button.

Interestingly, I don't see any menu to allow third-party whitelisting. So either every third-party provider is broken, or you enable useful third-parties and

[2013-09-21 17:52] jaredhirsch commented on #3905
ah, nice. ["buggiest safari since 1.0"](http://www.mobilexweb.com/blog/safari-ios7-html5-problems-apis-review). I'm not sure what we do with this bug, but it's definitely not a 5-star--we haven't regressed, MobileSafari did.

[2013-09-21 17:52] callahad commented on #3905
@6a68 This means that primaries are broken, too, right?

[2013-09-21 17:58] jaredhirsch commented on #3905
another data point: chrome update for iOS 7 doesn't have a third-party cookie option. It's just cookies enabled or disabled. And both browsers have Do Not Track preffed off post-upgrade, of course :-P

[2013-09-21 17:58] #3903 closed, assigned to nobody

[2013-09-21 18:05] callahad commented on #3905
To restate the problem: Mobile Safari in iOS 7 defaults to "Block all third party cookies," which prevents session cookies from being transmitted over the communication iframe or the provisioning iframe. This means that:
1. Persona can't see any indication that the user is logged in, and thus automatically fires `onlogout` on every page load. **It is impossible to keep a user logged in across page

[2013-09-21 18:06] jaredhirsch commented on #3905
hmm, primaries are working. i need to clear cache and poke at this a little more, but have to go afk for a while. i'll update later.

[2013-09-21 18:07] callahad commented on #3905
Woah, really? Real primaries shouldn't work. (Bridges should, since they're under *.login.persona.org)...

[2013-09-21 18:08] jaredhirsch commented on #3905
yeah, this is odd. mozilla LDAP and eyedee.me are both logging me into persona.org. Very strange.

To clarify: I can log into 123done, but on reload, the session is lost. If I click the login button again, I get the email picker from persona, implying my session is active. I pick an email, go back to 123done, it shows me logged in. On page refresh, it's lost again.

[2013-09-21 18:39] callahad commented on #3903
This was merged into dev for the 2013.09.25 train, scheduled to reach production on October 9th.

[2013-09-21 20:20] jamesshore commented on #3905
@6a68 "I'm not sure what we do with this bug, but it's definitely not a 5-star--we haven't regressed, MobileSafari did."

This is what drives me crazy about using Persona, and what makes me hesitant to recommend it to others. You're in charge of a critical piece of infrastructure. _It doesn't matter whose fault it is._ It has to work.

This is the third major problem I've seen come down the pike w

[2013-09-21 20:31] seanmonstar commented on #3905
@jamesshore don't worry, we're scrambling. (we're all thinking and discussing this on a Saturday). iOS Safari is huge. What he meant is that we're not yet sure what to do. The `.get()` API works fine, since it doesn't use any cookies, but for all the sites that use `watch()`, how do we fix Safari for them?

[2013-09-21 20:42] callahad commented on #3905
@jamesshore That criticism is well-deserved. I sincerely apologize, again, for the difficulty.

That this is a regression in Mobile Safari is beside the point; The regression breaks our users, and it is incumbent upon us to find a way to mitigate it in the next few days.

Longer term, it's clear that we've over-engineered and over-complicated the Observer API. Before we leave Beta, we'll revamp ou

[2013-09-21 20:50] callahad commented on #3905
@jamesshore You can mitigate this by hacking around Persona-driven session management on your site. Here's a patch that disables Persona-initiated automatic logouts: https://gist.github.com/callahad/6654015/revisions

[2013-09-21 21:55] jamesshore commented on #3905
Thanks, @callahad. I do appreciate the work all of you are putting into Persona.

[2013-09-22 07:09] aravindet commented on #2034
I have a use case for a `preferRedirect` option on `navigator.id.request()`:

My application (Scrollback) is an IRC widget embedded on third party sites, and I'd like to open a popup to sign users in; if I use Persona there would now be two popups.

As an analogy, imagine if Gmail or Yahoo decided that their OAuth sign in pages wouldn’t support a redirect flow - the Persona identity bridges would

[2013-09-22 07:13] lloyd commented on #2034
@aravindet so this is the 4th similar request I've heard in the last several weeks.  I think delegating control over the experience to the website via such a flag might be the right thing to do.  please open another issue specifically about this.  there's also a thread in the mailing list where we discussed this, feel free to start a new thread or re-open that one.

[2013-09-22 10:24] aravindet opened #3907 "Let applications request the redirect flow in any environment"
Perhaps through a preferRedirect option on navigator.id.request(); @lloyd suggested I create a new issue for this.

My application (Scrollback) is an IRC widget embedded on third party sites, and I'd like to open a popup to sign users in; if I use Persona there would now be two popups.

As an analogy, imagine if Gmail or Yahoo decided that their OAuth sign in pages wouldn’t support a redirect flow

[2013-09-22 13:58] callahad commented on #3907
Thanks for the report, @aravindet! I just moved this issue over to our user stories repo, where we track new feature requests.

[2013-09-22 13:59] #3907 closed, assigned to nobody

[2013-09-23 08:46] stadja commented on #2034
Right now, it works very well on my windows phone 7 lumia 710 !
thanks guys....
What a wonderful improvement :)

[2013-09-23 11:31] csuciu commented on #3891
Yes, I can reproduce this issue consistently.

[2013-09-23 16:39] shane-tomlinson commented on #3074
Link to https://bugzilla.mozilla.org/show_bug.cgi?id=919472

[2013-09-23 16:46] shane-tomlinson commented on #3529
Re-opening as a tracker until we get this merged.

[2013-09-23 17:52] #3851 closed, assigned to nobody

[2013-09-23 17:52] #3899 closed, assigned to nobody

[2013-09-23 19:41] jaredhirsch commented on #3905
@jamesshore I didn't mean to give you the impression I was saying "WONTFIX/not my problem", it's just that the fix here is removing the need for third-party cookies at all, which would be a major, not-easy-to-hotfix kind of change. It's hard to see a quick fix that solves this for users, and that's really unfortunate.

[2013-09-23 22:09] callahad commented on #3905
@6a68 Have you been able to re-verify that true primaries are working? If so, why the heck are those third party cookies working while the ones to our communication iframe aren't?

Also, any thoughts on refusing to automatically trigger onlogout for iOS 7 as a temporary mitigation while we investigate further?

[2013-09-23 22:46] mohit-agarwal opened #3911 "Test fails on post-limiting-test.js (on some combinations of distro/kernel/nodejs version)"
![screenshot from 2013-09-24 04 14 19](https://f.cloud.github.com/assets/2356369/1195993/e430dbdc-24a1-11e3-9111-4e908d875e2d.png)

node version v0.10.18
npm version 1.3.8

Linux mohit-Inspiron-5420 3.2.0-51-generic #77-Ubuntu SMP Wed Jul 24 20:18:19 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=12.04
DISTRIB_CODENAME=precise
DISTRIB_DESCRIPTION="Ubuntu 12.04.2 LTS"

[2013-09-24 02:26] jrgm commented on #3911
Yeah, I install 12.04.3 to get a newer 3.x kernel than what travis is installing (2.x) (don't ask me why that version on travis), and I can see that sometimes (but not always) ECONNRESET is returned instead of 'socket hang up' . For purposes of the test, I think just changing the test to accept either failure message is fine. So, if you want create a pull request, that would be good; if not, we'll

[2013-09-24 04:47] jaredhirsch commented on #3905
Here's the results from francois' [troubleshooting page](http://people.mozilla.org/~fmarier/troubleshoot.html). This is from the iOS 7 simulator, but I get the same results on my phone:

![screen shot 2013-09-23 at 9 39 26 pm](https://f.cloud.github.com/assets/96396/1197317/523f28c2-24d4-11e3-8090-14a9c7f9c9d6.png)

[2013-09-24 06:27] jaredhirsch commented on #3905
OK, so the MobileSafari behavior matches that of desktop Safari with respect to from visited behavior as indicated by the troubleshoot page.

Our workaround from #3116 was to alter the callback semantics such that, if `onready` fires, but none of {`onmatch`, `onlogin`, `onlogout`} has fired, then the RP can infer that third-party cookies are broken. In the above screenshot, that looks like what's

[2013-09-24 06:37] callahad commented on #3905
Related bug in Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=919649

[2013-09-24 13:22] lloyd commented on #3905
At callahad's fist pumping, shane and I did some digging.  It appears like the new default safari privacy setting on iOS7 has changed behavior. When you set "Block cookies" to "From third parties and advertisers", then:
1. Cookies can be read and written when you're in a first party context
2. Local storage can be read and written when you're in a first party context
3. Cookies can be read (writte

[2013-09-24 13:32] callahad commented on #3905
This also means that automatic login will also be broken -- basically, we can't do automatic session management / extension because we can't access the key material, right?

[2013-09-24 13:35] lloyd commented on #3905
correct.

[2013-09-24 13:36] lloyd commented on #3905
nor post redirect sign in, nor sso.

[2013-09-24 13:41] callahad commented on #3905
_Derail..._

Thankfully we don't need redirect-flow on Mobile Safari. Now we just have two cases: Chrome iOS _must_ be redirect, Safari iOS _must not_ be redirect. I'm cool with that.

Persona without session management is still a _very_ compelling product. It's what the overwhelming majority of RPs want. Let's decouple the two. Standardize a minimal Persona API, without session management, for St

[2013-09-24 14:28] jaredhirsch commented on #3905
holy crap I love having devs in europe, we're a 24-hour support shop now :-)

[2013-09-24 15:51] callahad commented on #3593
Using Windows 8.1 Enterprise on a Surface Pro with IE 11.0.9600.16384.
1. First time login (with eyedee.me) works great in Metro mode.
2. Subsequent logins completely fail (blank dialog) in Metro mode.
3. First time login completely fails (blank dialog) in Desktop mode.

We know IE 11 / Win 8.1 is coming _soon._ What's the status of our fix so we don't have to scramble like we did for iOS 7?

[2013-09-24 16:00] callahad commented on #3593
RTM bits are available on MSDN. Bumping this to 5-star to avoid breaking in 1-2 weeks when IE 11 gets released and we're all at the Summit.

[2013-09-24 16:11] lloyd commented on #3905
test the mitigation on http://ios7.personatest.org - report back.  please feel free to try lots of browsers to ensure no regression.

[2013-09-24 16:21] jaredhirsch commented on #3905
@jamesshore we've merged in a fix and are discussing how soon we can hotfix it into production, more updates shortly

[2013-09-24 16:45] jaredhirsch commented on #3905
The fix works for me on these platforms, testing against ios7.123done.org:
- Safari/iOS7, default cookie settings (3p disabled)
- Chrome/iOS7, default cookie settings (cookies enabled, no 3p option)
- IE8/XP, default cookie settings (yay p3p middleware)
- Chrome/MacOS 10.8.5, default cookie settings _and_ 3p disabled cookie settings
- Firefox 24/MacOS 10.8.5, 3p cookies set to "Never", "Always", a

[2013-09-24 16:52] jamesshore commented on #3905
@callahad Agreed about decoupling session management. My interest in Persona is for authentication. Session management is cool but scary because of the complexity. I would actually much prefer to use the get() API over the watch() API for that reason, if it worked on iOS Chrome.

@6a68 Thanks for the update, and sorry for beating on you. :-)

[2013-09-24 17:36] edwindotcom commented on #3905
main test: using ios7.123done.org - sign in - refresh - expect still logged in
ipad mini: Safari/iOS7, default cookie settings (Always, 3p disabled, Never) - PASS
samsung s4: Fx23/Android 4.2, No 3rd party cookies - FAIL can't sign in with primary (eyedee.me) but works with a persona as fallback idp (same as current PROD behavior)

[2013-09-24 18:11] shane-tomlinson commented on #3593
There are (at least) two problems in the version of Windows 8.1 available on modern.ie

1) WinChan has not been correctly updated to browser sniff the new IE11 UA string, causing the postMessage to fail and the dialog to load no content.
2) The dialog window loses it's reference to window.opener after redirecting to the IdP

The second is reported fixed by @callahad using a Surface tablet.

See wo

[2013-09-24 19:44] jaredhirsch commented on #3905
@jamesshore no worries, I'd rather you tell us you're pissed than quit using Persona. (long time fan of your writing btw :-)

@jrgm any updates on the hotfix timeline?

[2013-09-24 19:56] pdehaan commented on #3905
Confirmed on latest iOS7 w/ latest Safari and Chome w/ default cookie settings on an iPhone 4S and iPad 2.
Safari: Do not track (off), Block cookies (from third parties and advertisers)

[2013-09-24 22:46] jedp opened #3915 "Add realms logout support to internal_api for native"
#3854 provides realms support to Persona.  For the ability to logout of a realm on FirefoxOS, I think we need to do a little platform work.

[Bug 919157](https://bugzilla.mozilla.org/show_bug.cgi?id=919157) Tracks the necessary client code for FirefoxOS.

The soonest realms logout support can arrive in FirefoxOS is version 1.3, which is feature-complete in December 2013 and goes to market in March

[2013-09-24 23:09] seanmonstar commented on #3915
I'd love to see if we can get it working with current code. I don't see anything special that I'm doing to logout. Just looping an array and removing `logged_in` on sites. Is this special cased in Fx?

[2013-09-25 00:09] jedp commented on #3915
It's special-cased in FirefoxOS because people didn't want the Persona iframe to be persistent and take up the 10MB that an app eats up just by existing (each app is a full-on gecko process). So the persona iframe comes and goes as needed for DOM API calls.  Here is the [epic bug](https://bugzilla.mozilla.org/show_bug.cgi?id=839500) behind the current implementation.

Obviously, this creates a pro

[2013-09-25 00:18] seanmonstar commented on #3915
That's called when a site calls navigator.id.logout()? So
BrowserID.internal.logout() isn't used?

On Tue, Sep 24, 2013 at 5:09 PM, Jed Parsons notifications@github.comwrote:

[2013-09-25 07:56] lloyd commented on #3905
tearing down ios7 vm, sounds like sufficient testing has been done to ensure we improved behavior on ios7 without regressing other platforms.

[2013-09-25 13:29] shane-tomlinson commented on #1516
This will be fixed by https://github.com/mozilla/browserid/pull/3909.

See https://github.com/mozilla/browserid/blob/6aec2c05a2bebfded68753aa2685e44773e6eba8/lib/logging/statsd.js#L26-L31

[2013-09-25 13:45] lloyd commented on #3915
one question, we're actively exploring a new api which moves away from full session support - specifically it would never fire onlogout events.

How much would this simplify our world here?

[2013-09-25 14:12] shane-tomlinson commented on #1524
Closing this as no longer a problem, the only place statsd.timing for bcrypt is called is `lib/wsapi.js`.

[2013-09-25 14:12] #1524 closed, assigned to nobody

[2013-09-25 14:13] shane-tomlinson commented on #1524
I closed this because the code is in one place. It's not in bcrypt, but in /lib/wsapi.js, and not sprinkled throughout the various wsapis.

[2013-09-25 17:15] pdehaan opened #3916 "Persona logs out after page refresh on Safari 6.1 beta on Mtn Lion"
I downloaded "Safari 6.1 Seed 8" from https://developer.apple.com/downloads/index.action and installed it on Mtn Lion (10.8.5).
After successfully logging in to 123done.org and hitting refresh, I'm logged out and promoted to log in again. Probably the same 3rd party cookies issue as iOS7.

I didn't change any default settings, but it looks like Safari 6.1 is blocking cookies and other website data

[2013-09-25 17:34] callahad commented on #3916
Good lord. Really, Apple? The iOS fix was sufficiently generic that It should also fix this, AFAIK.

Ooh! In IRC @pdehaan confirmed that this is fixed on an ephemeral instance which included the iOS 7 fix.

Of course, this still breaks our ability to do things that require session management (SSO Realms, etc.) in Safari... but at least we're not truly broken.

[2013-09-25 17:34] #3916 closed, assigned to nobody

[2013-09-25 17:37] callahad commented on #3915
I believe realms must have full-fledged session support, login and logout included.

A and B are members of Realm.
1. I manually log into A as Foo.
2. I navigate to B and am automatically logged in as Foo. (So far so good!)
3. I navigate to A and manually log out.
4. I navigate to B.

Without automatic onlogout events, I'm still logged in at B, which is Not Correct.

[2013-09-25 17:38] callahad commented on #3915
(Tangentially related: As per #3916, Safari on Desktop is also inhibiting localStorage by default as of 6.1, which limits our ability to do full-fledged session stuff there. Boo.)

[2013-09-25 17:54] lloyd commented on #3915
@callahad I'm confused.  How can we consider a feature that "must have full session support" and an API that eliminates logout at the same time?

[2013-09-25 19:01] seanmonstar commented on #3915
Well, we have to keep the current session based api. We promised it's
stability when we announced Beta 1. It's in use on sites.

I assumed were going to make an adjust api without session management, and
recommend that in most circumstances. But if you want realms, you'll need
session management.

Or, we can offer realms with a lesser experience.
On Sep 25, 2013 11:22 AM, "Lloyd Hilaiel" notificat

[2013-09-25 19:52] callahad commented on #3915
@lloyd My point is that anything less than Full-On-Observer-API is insufficient for realms / cross-domain SSO. The Paris Proposal doesn't buy us much there.

I'm with Sean. Realms are a super advanced topic. Let's have a "Basic," session-free API. If you want sophisticated features, you have to upgrade to a more sophisticated API. I'm fine with that, so long as that complexity is opt-in.

[2013-09-25 20:34] zaach opened #3917 "Old dialog theme displays when signing in with Google/Yahoo"
STR:
1. Go to 123done.org on FxOS
2. Sign in with Gmail address
3. Auth with Google
4. Observe what's seen in the screenshot as the dialog transitions back from Google

Expected:
A style consistent with the current dialog style.

![screen shot 2013-09-25 at 1 18 15 pm](https://f.cloud.github.com/assets/3903/1212928/69e1666e-2620-11e3-8051-8b051ccfce34.png)

[2013-09-25 21:04] zaach commented on #3917
Also appears with Yahoo, but not with any first-class IDPs.

[2013-09-25 21:29] ryanfeeley opened #3918 "Google Revocation Bug"
Just experienced this on 123done.org as I wanted to get fresh screenshots of Google's Request Permission dialog:
I revoked access to all persona.org related domains
I signed out of Gmail
I then signed into 123done.org with my Gmail address
I was immediately signed in to 123done
My old list showed "null" instead of the items
The 123done window closed after 10 seconds on its own
And now when I go ba

[2013-09-25 22:10] seanmonstar commented on #3917
Yep, they were made before the dialog changed styles. Those styles are being loaded from sideshow (and bigtent for yahoo).

[2013-09-26 03:49] edwindotcom opened #3919 "CSRF verification failed. Request aborted. 403 error when signin into Mozillians.org"
1. goto mozillians.org
2. sign in with persona - using an email ( i tried mozilla.com and gmail.com addresses)

result:
CSRF verification failed. Request aborted. 403 error

looking at http fox, after we authenticate,  i see a ton of redirects, which results in the 403 error.  If i refresh, I'm logged in.

![screen shot 2013-09-25 at 8 48 58 pm](https://f.cloud.github.com/assets/3698618/1215303/a1

[2013-09-26 03:51] edwindotcom commented on #3919
This could be this issue, in which mozillians.org should be contacted:
https://github.com/wbamberg/persona-mdn/blob/master/csrf-problems.md

[2013-09-26 10:56] shane-tomlinson commented on #3919
@edmoz - Is this a dup of #3074? Secondly, this seems like it belongs in the mozillians.org bugtracker.

[2013-09-26 11:13] lloyd commented on #3915
Our core premise in the past has been let's not bifurcate the api into a simple and a complex version - we tried this once and found it didn't work.

We're conflating two things here necessarily because they affect each other.

The first is the question - can we make a decisive change to our api that will be address the majority of the problems with the .watch() api - we aim to sacrifice a feature

[2013-09-26 11:39] callahad commented on #3915
[Whoops, mis-click. Sorry about that.]

I am under the impression that SSO which does not fully synchronize state is not acceptable by the RPs requesting this feature. I can check back in with them and validate that assumption.

Another way to view this: We found that our simple API worked. It matched developers' understanding, it was simple, and it got implemented correctly. The only intrinsic fl

[2013-09-26 12:05] #3625 closed, assigned to nobody

[2013-09-26 14:20] shane-tomlinson opened #3920 "send /wsapi/stage_* events to kpiggybank from backend"
Because there are still some kinks to work out w.r.t. the KPIs coming from the client side, @kparlante has asked that we use data from the backend to count the number of emails that are staged as well as the number that are verified.

Link to #3528 and #3873, #3863

[2013-09-26 16:00] edwindotcom commented on #3919
dupe of https://bugzilla.mozilla.org/show_bug.cgi?id=919472 , closing

[2013-09-26 16:00] #3919 closed, assigned to nobody

[2013-09-26 16:09] jedp opened #3921 "cannot log into login.persona.org"
Sohan Roy reports in [bug 921047](https://bugzilla.mozilla.org/show_bug.cgi?id=921047):

User Agent: Mozilla/5.0 (Windows NT 6.1; rv:27.0) Gecko/20100101 Firefox/27.0 (Beta/Release)
Build ID: 20130926030207

Steps to reproduce:

I clicked on sign in button on login.persona.org also i tried the same in bugzilla sign in icon(persona)

Actual results:

In both the cases no dialog boxes appeared nor d

[2013-09-26 16:17] jedp commented on #3921
I can't reproduce this on nightly 27.0a1 (2013-09-23)

[2013-09-26 16:19] pdehaan commented on #3921
Unable to reproduce on OSX 10.8.5 w/ FF 25.0.

[2013-09-26 16:29] jrgm commented on #3917
This issue exists in sideshow and bigtent:
https://github.com/mozilla/browserid-sideshow/issues/110
https://github.com/mozilla/browserid-bigtent/issues/261

[2013-09-26 16:39] jaredhirsch commented on #3904
looks like the problem is that 123done.org has a blank line above the doctype, so IE8 is jumping into quirks mode.

[2013-09-26 16:41] jedp commented on #3904
For the blank line, I have opened https://github.com/mozilla/123done/issues/87

[2013-09-26 16:41] shane-tomlinson commented on #3905
@jamesshore - the fix for iOS7 users is scheduled to go out on Monday, September 30th.

[2013-09-26 16:51] jaredhirsch commented on #3915
I'm concerned about the amount of roadmappy shit happening in this bug. Can somebody summarize (when this finally finishes) and take it to the list, so we have a single source of truth for the realms conversations? :-\

[2013-09-26 16:58] shane-tomlinson commented on #3917
This is a dup of the other two that @jrgm noted, closing as a dup.

[2013-09-26 16:58] #3917 closed, assigned to nobody

[2013-09-26 17:02] edwindotcom commented on #3918
I'll work on repro'ing this today

[2013-09-26 17:02] shane-tomlinson commented on #3918
This may be a bug with 123done, but placing at 4\* to investigate.

[2013-09-26 17:04] shane-tomlinson commented on #3921
Hi Sohan,
Does this happen when you use a fresh Firefox profile or in a different browser?

[2013-09-26 20:08] peder541 opened #3922 "communication_iframe can't provision Yahoo! email addresses"
I am signed in to Persona using a Yahoo! email address. After two minutes, the cert has expired, so on a refresh the communication_iframe has to go through the provisioning process.  The console returns "hooking up begin provisioning with users=" and provisioning fails.

I couldn't replicate on 123done.org because it seems to skip provisioning.

[2013-09-26 21:36] richardcrichardc commented on #3904
Strange. My problem is also fixed. But I have not changed my app -  I have been working on other stuff for the whole week. It is not and was not running in quirks mode.

I am glad that it is now working, but a bit nervous as I don't know what fixed it.

Are there any other possible explanations?

On another note, assuming it is quirks mode that breaks Persona, is it possible for Persona to detect

[2013-09-26 23:12] richardcrichardc commented on #3904
I hate to be the bringer of bad news. I have moved onto testing my app with IE9 and IE10 and identity bridging to gmail fails, with a different error. The errors also occur or 123done.org.

I have retested with Google Chrome. The problem does not occur. I have not retested with IE8.

![done-ie9](https://f.cloud.github.com/assets/885016/1222679/44c966a8-26ff-11e3-8fc4-c87d730c2538.png)

![123done-i

[2013-09-27 07:55] callahad commented on #3918
The "null" list sounds like a 123done bug. I suggest opening a new bug in that repo.

The "can still sign in after logging out of Google" thing is by design -- sideshow respects the client's requested cert duration, so the user still has a valid identity certificate for a short while after signing out of Google. If that's the issue, I suggest filing a new bug in the Sideshow repo requesting shorte

[2013-09-27 07:56] callahad commented on #3918
Closing as this specific bug appears unrelated to the mozilla/browserid repo.

[2013-09-27 07:56] #3918 closed, assigned to nobody

[2013-09-27 08:11] callahad commented on #3904
Moving discussion of the login failure bug to https://github.com/mozilla/browserid-sideshow/issues/119

[2013-09-27 16:13] jaredhirsch commented on #3905
One final note, the front-end devs on signin are all in Apple's dev program now, so we can stay ahead of these things in the future and avoid drama/heroics/etc. :beers:

[2013-09-27 21:22] jaredhirsch opened #3925 "watch() API problems also affect Safari 7 on Mac OS 10.9"
Downloaded the next Mac OS version and found that, against prod, 123done is exhibiting the same badness as we saw with the 5-star iOS bug #3905. @pdehaan filed a similar bug for Safari 6.1, #3916.

I'm filing this bug so that we have it, and to provoke conversation around eliminating third-party cookie requirements sooner than later.

STR:
1. Install 10.9 (I did this in a vm by creating a 10.8 VM,

[2013-09-27 21:23] jaredhirsch commented on #3905
link to #3916: same issue, but on Safari desktop 6.1 on 10.8. The fix applies there as well.

[2013-09-27 22:46] edwindotcom opened #3926 "login.persona.org/sign_in on samsung browser just spins with loading dialog"
I'm on galaxy s4, Android 4.2.2
1. with internet browser - goto 123done.org or beta.123done.org
2. click sign in with email

actual: dialog pops, and you see a spinning wheel "connecting to persona"
I've waited at least 2 mins and that's all you see.

expected: you should get form fields

[2013-09-27 22:50] jaredhirsch commented on #3926
:-( attack of the stock browsers, part 2? son of safari?

[2013-09-27 22:50] edwindotcom commented on #3926
on galaxy s4 - no repro FF, Chrome

[2013-09-27 22:53] jaredhirsch commented on #3926
edmoz: what's the version of the OS and browser?

[2013-09-27 22:54] jaredhirsch commented on #3926
whoops, @edmoz. i've got a galaxy nexus, i can try to repro

[2013-09-27 23:08] edwindotcom commented on #3926
this might be a Samsung browser - it says: Internet Browser 1.0 - the user agent is Mozilla/5.0(Linux;Android 4.2.2;samsung sch-I545 build/jdq39)AppleWebKit/1.0Chrome/MobileSafari/  - might be able to call this unsupported.

[2013-09-27 23:42] edwindotcom opened #3927 "b2g: unable to sign in with gmail or yahoo accounts with cross domain error"
1. on b2g, browser, goto beta.123done.org
2. attempt to sign on b2g with user@gmail or user@yahoo
   actual: you'll get a
   failed to verify assertion: issuer 'yahoo.login.persona.org' may not speak for emails from 'yahoo.com'

doesn't happen on PROD

[2013-09-28 00:06] jrgm commented on #3927
"Doesn't happen on PROD" - you mean when you use 123done.org (no beta), right?

[2013-09-28 00:49] jrgm commented on #3927
If you change you're tollkit uri in prefs to use firefoxos.anosrep.org, beta.123done.org will work (but 123done.org will not). b2g doesn't work like desktop (or am I wrong).

[2013-09-28 11:51] mohit-agarwal opened #3928 "Frontend unit tests output is confusing."
When I run the Frontend unit tests against Phantomjs, I get the following output:

![screenshot from 2013-09-28 03 16 50](https://f.cloud.github.com/assets/2356369/1231128/1c492e62-2834-11e3-880e-a253cab8a23a.png)

Is it means it has passed the tests..or still there's some problem?

[2013-09-28 21:31] ryanseys opened #3929 "login.persona.org looks terrible and is missing login button on Private mode Safari iOS7"
Note: only appears when in a Private tab. A non-private tab looks fine.

![img_9101](https://f.cloud.github.com/assets/163873/1232062/4ae56afa-2885-11e3-8509-74bef1c42c80.png)
![img_2658](https://f.cloud.github.com/assets/163873/1232063/4e57ba80-2885-11e3-960c-701158a77280.png)

[2013-09-28 21:37] ryanseys opened #3930 "Going directly to login.persona.org/sign_in in iOS7 Safari private tab spins indefinitely."
STR:
Open Safari in iOS 7.
Turn private browsing on.
Direct a new tab at https://login.persona.org/sign_in

Actual result:
You will see a spinning icon and "Connecting to Persona" indefinitely. (see below for screenshot)

Expected result:
You should see an error related to establishing a relay, and it should allow you to close.

This was reproducible on:
- iOS7 Safari on iPhone 5s
- iOS7 Safari in

[2013-09-28 21:43] ryanseys opened #3931 "Going directly to login.persona.org/sign_in in iOS7 Safari tab does not allow you to close by pressing OK."
STR:
Open Safari in iOS 7.
Turn private browsing OFF.
Direct a new tab at https://login.persona.org/sign_in

Actual result:
You should see an error related to establishing a relay, with an OK button. Pressing OK to attempt to close the window does nothing. (See screenshot)

Expected result:
You should see an error related to establishing a relay, with an OK button. Pressing OK to attempt to close

[2013-09-28 21:47] ryanseys commented on #3930
Sounds related to #3926

[2013-09-28 21:54] ryanseys commented on #3593
No excuses not to have an IE (6/7/8/9/10/11) VM lying around when Microsoft is giving them out for free!

http://www.modern.ie/en-us/virtualization-tools#downloads

[2013-09-29 07:13] #3911 closed, assigned to nobody

[2013-09-30 10:17] csuciu commented on #2242
Still an issue on HTC Desire (2.2.2) - stock browser

[2013-09-30 10:42] shane-tomlinson commented on #3928
@mohit-agarwal - Thanks for filing! Those are expected warnings. Phantom has no way to actually focus an element, so we skip the focus check and display output to the user. We should add a message to the warning that says the warning can be safely ignored under Phantom.

Updated title to be "frontend unit tests output is confusing."

[2013-09-30 10:46] shane-tomlinson commented on #3593
@ryanseys - I have IE6, 7, 8, 9, 10, 11 in Windows XP, Windows 7, Windows 8 and Windows 8.1 in VMs.

An issue for us is that the Windows 8.1 IE11 available on modern.ie is pre-release and does not act the same as RTM in some cases.

[2013-09-30 10:50] shane-tomlinson commented on #2242
This is an upstream bug with the Android 2.x browser. I'm trying to find the relevant links.

[2013-09-30 10:52] shane-tomlinson commented on #2242
https://code.google.com/p/android/issues/detail?id=30964
http://stackoverflow.com/questions/6828263/how-to-get-rid-of-placeholder-on-password-field-taken-over-from-label
http://stackoverflow.com/questions/12035895/absolute-positioning-with-inputs-in-android-2-2-web-browser

[2013-09-30 12:40] csuciu opened #3932 "'We're sorry ......' dialog is displayed for a very short time when loading login.persona.org or login.anosrep.org"
Please see the video: http://www.flickr.com/photos/99294146@N02/10018540186/

I was able to reproduce this issue only on:
- Samsung Galaxy SII (GT-I9100) running Android 4.0.3
- Firefox 24 (release)
  when loading:
- login.anosrep.org
- login .persona.org

'We're sorry, this is taking longer than it should' message is displayed for a very short time even if the server site is loaded without notice

[2013-09-30 15:32] csuciu opened #3934 "Form autocomplete popup displayed on wrong page"
Samsung Galaxy SII (Android 4.0.3)
Firefox release (2013-09-30)
123done.org
beta.123done.org

Steps:
1. open www.123done.org
2. press on sign in
3. make sure you have at least one form autocomplete popup entry available
4. tap on the email field
5. form autocomplete pops up
6. while the form autocomplete popup is displayed, tap on the url bar, enter www.123done.org and hit go

Actual: Form autocom

[2013-10-01 15:13] djc commented on #3035
If we have ETags, why is deployment trickier after unblocking caching?

[2013-10-01 15:56] callahad commented on #3905
This fix is now live in production.

[2013-10-01 15:56] #3905 closed, assigned to nobody

[2013-10-01 17:19] mohit-agarwal commented on #2647
We need to throw an exception if loggedInUser is not a valid type. So If I throw an error with a message, would that work?

 `throw new Error("loggedInUser is not a valid type");`

This would be thrown when `loggedInUser` is not a valid type.

[2013-10-01 19:29] jaredhirsch commented on #2647
@mohit-agarwal that sounds good to me! feel free to submit a PR with the changes. would also be good to add a unit test to ensure the exception is thrown if the type is wrong.

[2013-10-01 20:23] seanmonstar commented on #2647
@6a68 trololol. would be great to have _any_ unit tests for include.js

[2013-10-01 20:35] #3593 closed, assigned to nobody

[2013-10-02 00:03] jaredhirsch commented on #3035
@djc if we use time-based expires/cache-control headers, and the time period hasn't elapsed, then the browser will not check the ETag, it'll just use the locally-cached version of the file. check out the dev-identity conversation francois linked for more discussion.

[2013-10-02 07:33] shane-tomlinson commented on #2647
@seanmonstar, @6a68 - ooooohihihahaha..  testing of include.js.. I can't find the open issue about this.

A shell: https://github.com/mozilla/browserid/blob/dev/resources/static/test/cases/include.js

[2013-10-02 14:58] shane-tomlinson commented on #1744
@lloyd, @callahad - is this something we are going to actually do? If not, can we shut 'er down?

[2013-10-02 18:40] shuhaowu opened #3943 "Cannot specify PUBLIC_URL"
I would like to run a local instance of persona on something other than http://127.0.0.1:10002 (with a custom hostname).

However, https://github.com/mozilla/browserid/blob/dev/scripts/run_locally.js#L81 seems to be thwarting the effort. Putting a "public_url" entry in config/local.json also does not help.

Any ideas?

[2013-10-02 23:34] KWierso commented on #2009
Oddly, when using IE10 on my Lumia 928 (WP8) with it set to prefer the "Desktop version", I get the Relay Frame issue. If I change it to prefer the "Mobile version", Persona logs in just fine.

[2013-10-02 23:44] seanmonstar commented on #2009
Sure. That's probably because that changes the UA string to the desktop
version. We don't use the fix for desktop IE, since that works normally.
On Oct 2, 2013 4:34 PM, "KWierso" notifications@github.com wrote:

[2013-10-03 04:25] shuhaowu commented on #3943
Furthermore, if we edit the run_locally script to allow passing of a router_url, the url will still be overwritten in common/js/user.js, which will give out the wrong assertion.

[2013-10-03 09:56] shane-tomlinson commented on #3931
@ryanseys - if you manually open a tab and direct it to the /sign_in page, I do not believe there is any way we _can_ close that tab.

[2013-10-03 13:40] csuciu opened #3944 "Selecting an email from the form autocomplete popup does not enable the 'Continue' button"
Env:
Samsung Galaxy SII (Android 4.0.3)
LG Optimus 4x (Android 4.1.2)
Firefox 24 (release)
beta.123done.org
123done.org

Steps:
1. open www.123done.org
2. press on sign in
3. make sure you have at least one form autocomplete popup entry available
4. tap on the email field
5. select an email from the form autocomplete popup

Expected: 'Continue' button should change his state to enabled

Actual: 'C

[2013-10-03 16:18] edwindotcom opened #3945 "[intermittent] not able to sign in on iOS7 to summit.mozilla.org"
Logging on behalf of #firehug channel, I'm not able to repro this myself.
1. goto summit.mozilla.org
2. tap 'healthy dialog or 3 questions'
3. click sign in
4. in persona form - enter user@mozilla.com
5. enter LDAP passoword, click sign in

Actual: Persona fails with "We are sorry, but currently your browser is not supported. Persona works with Firefox and other modern browsers."

Happens sporadic

[2013-10-03 16:19] edwindotcom commented on #3945
@pdehaan said:
I am UTR on iOS7 (iPhone 4S) on latest Safari and Chrome after 3 attempts using my -moz-ldap email.

[2013-10-03 16:20] edwindotcom opened #3946 "b2g: signing in doesn't close the trusted UI upon login"
1. on b2g 1.1 goto 123done.org
2. tap sign in
3. enter user name, then password etc.., click sign in

actual: trusted UI spins with signing in spinner and never closes
user manually closes it and is signed in.

expected: it should close

unable to repro on b2g 1.2

[2013-10-03 16:21] pdehaan commented on #3945
UTR on both Safari/Chrome on iOS7 on iPad 2. :/

[2013-10-03 16:26] edwindotcom commented on #3945
@digitarald can you paste the results of this page here: http://people.mozilla.org/~fmarier/troubleshoot.html

[2013-10-03 16:33] pdehaan commented on #3946
UTR on B2G 1.2 (inari)
UTR on B2G 1.0 (retail ZTE Open)

Flashing to 1.1 right now.

[2013-10-03 16:43] edwindotcom opened #3947 "changing to prefs after logged in results in inability to logout"
I'm on safari 6.0.5. This could be an issue while people try to troubleshoot an issue and change settings, they could get into this state -- which exacerbates the investigation.
1. in Safari > preferences menu dialog - set privacy > block cookies : 3rd party advertisers
2. goto 123done.org and sign in with a mozilla.com acct (not sure if that type of acct is important)
3. go to prefs, and change b

[2013-10-03 16:50] pdehaan commented on #3946
UTR on latest 1.1 nightly w/ personal email and gmail/yahoo accts.

[2013-10-03 17:40] edwindotcom commented on #3919
decrease priority - as this only happens if  you have 2 mozillians.org tabs open

[2013-10-03 17:46] callahad commented on #3945
Are these users potentially in Safari's Private Browsing Mode?

[2013-10-03 17:48] lloyd commented on #3945
utr on both.  I'll bet logging out and logging in will fix it.

try removin a cert from local storage manually to test if this is reprovisioning related?

[2013-10-03 17:51] edwindotcom commented on #3945
You will definitely get the 'not supported browser' if you're in private browsing mode.

[2013-10-03 18:15] digitarald commented on #3945
Can messaging improve here? It is a supported browser, but it an unsupported mode; and the the user might be unaware of it.

[2013-10-03 18:16] seanmonstar commented on #3945
Probably. The assumption was made that if `localStorage` isn't accessible, then it's probably an old browser.

[2013-10-03 20:13] ryanseys commented on #3931
So should we be showing an 'OK' button then?

[2013-10-03 20:14] ryanseys commented on #3931
And why doesn't `window.close()` work?

EDIT: nevermind :dancer:

[2013-10-03 20:59] seanmonstar commented on #3931
Many browsers only allow closing a window with JavaScript if it was created
with Javascript.
On Oct 3, 2013 1:14 PM, "Ryan Seys" notifications@github.com wrote:

[2013-10-03 21:53] ryanseys opened #3949 "Yahoo login issue: Sorry, we are unable to log you in as alex_mayorga@yahoo.com"
Forwarded from [Bugzilla 923350](https://bugzilla.mozilla.org/show_bug.cgi?id=923350)

Created attachment [813412](https://bug923350.bugzilla.mozilla.org/attachment.cgi?id=813412)
Log from "Browser Console"

For the past few days, I've kept getting "Sorry, we are unable to log you in as alex_mayorga@yahoo.com" whenever I try to login with Persona into any of the following URLs:

https://login.pers

[2013-10-03 21:56] ryanseys commented on #3949
Seems there might be a cross-domain issue  (see the attachment link)

21:53:20.648 Security Error: Content at https://yahoo.login.persona.org/ may not load data from https://login.persona.org/sign_in.

[2013-10-03 22:14] seanmonstar commented on #3949
It'd be cool to check the logs to see what the exact error is in rejecting the auth. Sounds possibly related to our recent hotfixes.

[2013-10-04 08:34] karlpauls opened #3950 "New users unable to sign in after creating a new account"
We are experiencing a very bad situation with persona atm namely, some new users are unable to log in which is unacceptable (they might never come back).

I managed to witness one of these failed attempts and this is how it happens:
- The user is running windows7 and downloads the latest version of firefox.
- Next, she goes to our web app and hits sign in.
  - The normal browserid window kicks in

[2013-10-04 08:53] callahad commented on #3950
Are you able to reproduce the issue? Does she have any addons installed?

[2013-10-04 09:42] karlpauls commented on #3950
I am trying but I can not reproduce it on my mac. I have no windows around atm.

Regarding the addons, it was a vanilla install of firefox which she just downloaded. I think she did tell it to import setting from her IE during installation but otherwise, it was a vanilla installation.

[2013-10-04 09:48] karlpauls commented on #3950
I guess the one difference i can see between what happened for her and what happens on my mac is the following:

When i try to use a new email, i have to give a password and then get told that there is an email send. If I click the link inside that email, it opens a new tab in firefox and redirects me to our webapp directly (and I am signed in with the new email correctly).

When she did this, it

[2013-10-04 11:20] callahad commented on #3950
Ah! That's interesting. It sounds like she may have opened the confirmation link in another browser?

This is the first report I've seen of this issue. I'll look more closely at that code path later tonight.

I'm terribly sorry this is happening to your users. If you can manage to reproduce the issue, that would help us immensely.

[2013-10-04 11:38] csuciu commented on #3950
I'm able to reproduce this issue on Win7 & Firefox 24 (release) using the production env.

Here are the steps:
1.  go to 123done.org and sign in
2.  enter an email address (new to persona) - I used a secondary email
3.  enter the password (create/verify) and press on 'Done'

Issue 1: the sign in dialog pops up again and requests for password to sign is
1. go to the email client and click the confi

[2013-10-04 11:42] karlpauls commented on #3950
Ok good. I did try various scenarios on my mac including chrome, safari, and firefox and can't reproduce this issue. It seems to be related to the Win7 & Firefox 24 scenario.

Needless to say, i hope this gets fixed asap :-)

[2013-10-04 12:15] csuciu commented on #3950
I can reproduce on stage env also.
On both env, the issue is reproducible only if the IE settings are imported during Firefox installation.

[2013-10-04 12:23] karlpauls commented on #3950
Ah, ok - that explains why I can't reproduce it. Importing the IE settings is the key.

[2013-10-04 13:07] callahad commented on #3950
Hm. Unable to reproduce on a fresh Win 8 / IE 10 / Fx 24 VM. I don't have Win 7 handy, but I'll try to download a VM soon.

[2013-10-04 13:09] karlpauls commented on #3950
Don't forget that apparently you have to import the IE settings on firefox install. This seems to be the key to make this issue appear.

[2013-10-04 13:09] callahad commented on #3950
I did :)

[2013-10-04 13:24] karlpauls commented on #3950
Ok. The only other component that might play a role is that she used outlook to open the mail and click the link.

@csuciu did you use outlook as well or have you been using a different mail program?

[2013-10-04 13:25] csuciu commented on #3950
I can't reproduce either on Win 8/ Firefox 24/IE10 (VM)

[2013-10-04 13:28] csuciu commented on #3950
@karlpauls I used  Thunderbird.

[2013-10-04 13:30] karlpauls commented on #3950
Ok. So we have it down to win7 & firefox24 with importing settings from IE.

[2013-10-04 15:22] jrgm commented on #3949
As fate would have it, I sat down this morning beside Alex ;-)

I think I see the bug. @ozten or @callahad, you guys around? (Probably at dinner right now).

[2013-10-04 16:06] callahad commented on #3949
@jrgm napping before dinner, but can look tonight. what's up?

[2013-10-04 19:08] saverchenkov commented on #3905
We are using persona to sign in user inside an iframe on a page.
- Main page
  - iframe (different domain)
    - include persona
    - navigator.id.watch()
    - navigator.id.request()

This approach works quite well in desktop browsers, including Safari (tested up to 6.1) and iOS6 (all versions).

However, this fix is still not working in this scenario on iOS7. Similar behavior occurs. User signs

[2013-10-05 14:09] remaerd opened #3951 "TypeError in the navigator.id.watch() onlogin"
I'm creating an app using CoffeeScript + Backbone + RequireJS. Here's the sample code which do not work. It'll pop out a TypeError {} when onlogin triggered:

[code]

This is the generated JS code.

[code]

When I try to use window.login() instead of a Class method. Problem solved. But I still prefer code it in a Class method.

[2013-10-05 15:03] seanmonstar commented on #3951
That generated Javascript looks wrong. It looks like you might have some
indentation issues in the coffescript, cause the navigator.id.watch call is
being called in a static context, instead of in the constructor.
On Oct 5, 2013 7:09 AM, "Sean Cheng" notifications@github.com wrote:

[2013-10-05 15:34] remaerd commented on #3951
@seanmonstar You are right! Oh CoffeeScript, This is not the first time I meet this issue. This issue have spend me one day already. Thank you very much.

[2013-10-05 18:04] jrgm commented on #3949
@callahad sorry for not updating here earlier. From working with Alex, the claimed_id param in the querystring for the
return (/auth/yahoo/return) has a pattern that does not have a '/a/' path segment, so it fails the test here:
https://github.com/mozilla/browserid-bigtent_private/blob/train-2013.05.29-hotfix-9-24v3/server/lib/openid-tool.js#L27

[2013-10-06 10:17] remaerd commented on #3951
Sorry to bother you guys again. The Code doesn't work again. Here's the sample code and I don't think it's a CoffeeScript indentation issues. **Do this include.js have an uncompress version so I can learn what is actually happening?** Thank you.

[code]

[2013-10-06 18:29] remaerd commented on #3951
I figured out that navigator.id.watch() onlogin is too strict about returning type. We can only return a function like $.ajax(). When I copy the $.ajax() codes which was previously belonged to the Distributor Class into the Application Class. It's works fine again.

[2013-10-06 19:06] seanmonstar commented on #3951
You can see here that we don't do anything with the return value: https://github.com/mozilla/browserid/blob/dev/resources/static/include_js/_include.js#L246

I can't tell you what the problem is. What does the Distributor code look like?

[2013-10-06 19:28] remaerd commented on #3951
I have to change the Distributor Class so the previous code is deleted. I just simply parse the assertion value so the Distributor Class interact with the server by using $.ajax(). It will return an Object but a function.

[2013-10-06 19:47] remaerd commented on #3951
I try to rewrite the Distributor Class an upload the code here. And It seems like I made another mistake... There maybe some other indentation issues created in the previous Distributor Class. It's working now.
I'm so sorry to cause you so much trouble... Thank you, again.

[2013-10-06 19:48] #3951 closed, assigned to nobody

[2013-10-06 20:05] remaerd commented on #3951
P.S: It's quite weird that there were errors in my code. But Chrome Dev Tools keep telling me that error was from include.js. Which make me think that error was generated by include.js. Thanks again.

[2013-10-06 21:46] callahad commented on #3951
Consider switching (back?) to Firefox. :wink: The performance is great these days, and the built-in dev tools are absolutely fantastic.

Good luck with your project!

[2013-10-06 21:58] seanmonstar commented on #3951
I'd at least recommend using an editor that shows you whitespace. So you
can tell if those are spaces or tabs, and that things line up correctly.
Many editors have options to do that.

[2013-10-07 08:00] ozten commented on #3949
I made a mistake, looking at [outbound connections](https://github.com/mozilla/browserid-bigtent/issues/23)

[code]

should be

[code]

So that Yahoo can very the rest of the URL.

I'm offline until the 16th, can someone grab this?

[2013-10-07 22:12] edwindotcom commented on #3946
closing due to @pdehaan !!!

[2013-10-07 22:12] #3946 closed, assigned to nobody

[2013-10-08 11:45] #3712 closed, assigned to nobody

[2013-10-08 12:49] shane-tomlinson opened #3954 "BrowserID.internal.setPersistent may no longer be needed"
BrowserID.internal.setPersistent is available from days gone by when users were able to select on a per-site basis whether to remember email associations. This functionality has not been used for nearly two years, but BrowserID.internal.setPersistent is still hanging around like a bad stink. See #3936 and #3856

[2013-10-08 13:02] shane-tomlinson commented on #3945
Relate to #3220 which talks about better messaging for Safari in Private Browsing Mode.

[2013-10-08 13:08] shane-tomlinson opened #3955 "localStorage access blocks Firefox rendering when dialog is embedded into native code."
Persona's use of localStorage causes a performance hit when embedded in desktop Firefox. @dougt suggests using indexeddb for browsers that support it.

[2013-10-08 14:27] shane-tomlinson opened #3956 "reset-password-test Selenium test fails frequently (> 50% of time)"
Always with the same failure

[code]

Link to #3873 - may be same root cause, I have not done a deep dive yet.

[2013-10-08 18:38] floatingatoll commented on #3905
For the record, the fixes for iOS 7 Safari with third-party cookie blocking also repaired my instance of desktop Safari 7.0 (9537.71) with the same "[x] From third parties and advertisers" option selected.  See also https://bugzilla.mozilla.org/show_bug.cgi?id=918893

[2013-10-08 21:54] callahad commented on #3955
1. Is this a non-negotiable blocker to integrating into Desktop, or a wishlist item?
2. Couldn't a native implementation of the APIs do whatever it wanted?

[2013-10-08 21:55] callahad commented on #3955
(Given all of the fire-drills and inconsistencies around third party access to localStorage, I'm not keen to endure the combinatoric explosion of possibilities and corner cases by using IndexedDB in addition to localStorage.)

[2013-10-08 23:23] seanmonstar opened #3958 "Implement Golidlocks API"
Names for methods can change, but my understanding is this:

[code]

This will send an assertion over winchan if it can, but if it can't (redirect flow, user closed popup during email verification), it will keep around a `one_time` flag that the communication iframe should trigger `onlogin` once, and then wipe the bit.

The `one_time` bit still requires 3rd party cookies, but we can't live without

[2013-10-08 23:32] Pomax opened #3959 "install procedure on windows shows some prerequisites missing from the install steps"
Even with the three prerequisites installed, the `npm install` process will die on windows or OSX when it hits the bcrypt module, which tries to compile using node-gyp -- unless you have a C++ stack installed (which would ideally be listed in the prerequisites) this step will fail quite hard.

As far as browserid itself is concerned, the fact that it fails isn't really your fault, but might warran

[2013-10-08 23:39] seanmonstar commented on #3959
As the only Windows user on the team, I hear you! If you do setup all the prerequisites, though, it _will_ install and run just fine.

[2013-10-09 00:38] Pomax commented on #3959
hmm, are you sure? I have a full vc++ (2010 express) stack on this windows machine *win7, x64), with libgmp3 (4.3.2-1) and g++ (4.7.3-1) and node 0.10.18, but when running through `npm install` the process dies when it tries to build bcrypt, citing that it can't find the `openssl/rand.h` header (there might be more unfindables, but node-gyp just dies on the first error)

[code]

[2013-10-09 00:42] seanmonstar commented on #3959
Yep, I just hit that problem when I upgrade from node 0.8 to 0.10. I needed
to install OpenSSL-Win64.
On Oct 8, 2013 5:38 PM, "Mike Kamermans" notifications@github.com wrote:

[2013-10-09 00:43] Pomax commented on #3959
nice, let's see if that remedies it for me as well.

[2013-10-09 00:44] Pomax commented on #3959
actually, that's proving fairly hard to find, since openssl itself doesn't distribute it, and only lists a 32 bit version. Where did you grab OpenSSL-Win64?

[2013-10-09 00:58] seanmonstar commented on #3959
This page has them: http://slproweb.com/products/Win32OpenSSL.html

A few links down: "Win64 OpenSSL v1.0.1e"

[2013-10-09 09:20] shane-tomlinson commented on #3955
@callahad - 1. fwiu - blocker. 2. context needed

[2013-10-09 10:46] shane-tomlinson commented on #2651
inline-tooltips has been merged for 3 months, closing.

[2013-10-09 10:46] #2651 closed, assigned to nobody

[2013-10-09 14:16] callahad commented on #3955
@shane-tomlinson Regarding 2: The BrowserID spec wouldn't ever specify that you have to use localStorage -- it'll just state that you have to store the user's keys, and leave the specific mechanism up to the integrator. A compiled, fully-native implementation of Persona in Fx could solve this by using whatever datastore it wanted, right?

[2013-10-09 14:43] shane-tomlinson commented on #3955
@callahad - The key to this is in the title - "when dialog is embedded into native code" which is what @ozten is working on doing as he tickles out the fallback IdP. He is creating a hybrid part-native part-embedded-in-a-popup Persona. The embedded portion uses all of our client code, which uses localStorage and blocks rendering.

[2013-10-09 15:19] callahad commented on #3955
@shane-tomlinson Hypothesis: Implementing Goldilocks fully natively is what we'll do long-term, anyways, and it completely avoids complexifying the shim. Am I being too crazy / optimistic?

[2013-10-09 15:21] shane-tomlinson commented on #3955
@callahad - Goldilocks will affect the communication iframe only, but it won't help out the embedded portion of the dialog. For more context, contact @dougt or @ozten.

[2013-10-09 17:20] Pomax commented on #3959
vc++ 2008  redist. and the openssl installer run, did you add anything from the openssl dir to the windows path? (I don't see node-gyp's vc++ chain picking up the openssl header files)

[2013-10-09 17:31] seanmonstar commented on #3959
yea, getting native modules to build on windows sucks. I spent a couple days slowly piecing together how from filed issues on different repos.

I grabbed VS2012, and also removed all the vc++ redist. Just tried a bunch of combos of whats described in the readme: https://github.com/TooTallNate/node-gyp

[2013-10-09 17:39] Pomax commented on #3959
that "removing all vc++" is probably the worst part of having to work with node-gyp... until sqlite3 offered binaries (thank god they do now!) getting the vc++ 2010 stack installed properly was a true journey of discovery.

I have openssl installed on its "desired" (and decidedly-non-windows) path on C:, with the vc++ 2008 redist. installed as well, with the bin dir in the PATH, and the install go

[2013-10-09 18:09] Pomax commented on #3959
Getting closer to having everything work; upgraded node to 0.10.20 with npm 1.3.11, a prune and cache clear later I now get to the point where bcrypt seems to compile, but the ephemeral key generator script has issues with spaces in locations:

[code]

A console.log in the generation script shows

[code]

If I rely on the fact that npm install occurs inside `c:\users\mike\documents\Git projects\te

[2013-10-09 18:19] Pomax commented on #3959
filed https://github.com/mozilla/browserid/pull/3962 for the generate_ephemeral_keys.js issue

[2013-10-09 18:27] Pomax commented on #3959
filed https://github.com/mozilla/browserid/pull/3963 for the windows-specific instructions in the docs dir

[2013-10-09 18:52] Pomax opened #3964 "email verfication not working on localhost (in windows)"
After successfully installing browserid using `npm install` and running it through `npm start`, I can start the login procedure and fill in an email address and password, after which the login window tells me to check that email for a verification link. However, no email appears to get sent out. The stdout lists the verification token that it mailed out, but I don't see any email sent, nor any ema

[2013-10-09 18:54] seanmonstar commented on #3964
So, the `run_locally` script sets an environment variable to output the token in the terminal, instead of emailing it (so that we don't need to setup smtp when testing locally.) Simply copy the link out of terminal and paste it into the browser.

[2013-10-09 19:04] Pomax commented on #3964
for manual work that's pretty useful but I'm trying to run this for an "offline" copy of mozilla's webmaker.org, in order to make life as low-threshold as possible for contributors, so I was hoping there was also some way to get that token without having to scrape a spawned process's stdout (technically easy enough to add, but if there's a bypass, I'll take it! =)

[2013-10-09 19:09] seanmonstar commented on #3964
You'd want to set this to `false` then: https://github.com/mozilla/browserid/blob/dev/config/local.json#L14

And you would also need to add an smtp property that matches https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L131

[2013-10-09 19:12] Pomax commented on #3964
nice, thanks! now to see if this ISP is blocking port 25, which I remember being a hilarious policy in some countries to (unsuccessfully) stop mail spamming.

[2013-10-09 19:34] Pomax commented on #3964
with an account verified, I'm also seeing rejection objects when trying to auth, of the type:

[code]

I have `SHIMMED_PRIMARIES` set to `127.0.0.1:10002|http://localhost:10002|example/primary/.well-known/browserid`, did I forget something else here?

[2013-10-09 20:17] bryandonnovan opened #3965 "iOS 7 Homescreen web app failure"
Open safari and visit a site with:
<meta name="apple-mobile-web-app-capable" content="yes">

Save a shortcut to the home screen

launch from home screen shortcut

attempt persona sign in with observer api

empty persona window appears.  window is frozen and nothing else happens.

[2013-10-09 20:19] bryandonnovan commented on #3965
Sorry, markup was filtered.  Open safari and visit a site with:
&lt;meta name="apple-mobile-web-app-capable" content="yes"&gt;

[2013-10-09 20:28] pdehaan opened #3966 "Bug 924707 - wrong domain given in error message about third-party cookies"
via https://bugzilla.mozilla.org/show_bug.cgi?id=924707

---

When logging into Persona with a mozilla.com address with third-party cookies disabled, you get an error message which states you need to enable third-party cookies for "mozilla.com" in order to use Persona.  This is incorrect, and adding this domain to your third-party cookies exceptions does not work.

The correct domain that needs an