[2011-12-12 17:20] benadida commented on #741
@lloyd we could try a smaller modexp, yes, I've wondered about that. I'm not sure if it will give us the right benchmark, but it's worth trying it out.

[2011-12-12 18:27] Marlena opened #742 "get include.js takes 832ms to complete"
Initially this looked like an intermittently occurring problem with writing an addon review.  I now think it happens when someone changes their email for browser id.
1. Open amo while logged into browserid as marlena.compton
2. Logged into browser id with amo.testing
3. searched for adblock plus
4. clicked write review
5. wrote the review and was redirected to this page
   https://addons-dev.alliz

[2011-12-12 18:37] benadida opened #743 "http://www.nightlight.ws/ giving relay frame not found"

[2011-12-12 20:42] lloyd commented on #743
site is including include.js inline, has an outdated copy.

[2011-12-12 22:31] Marlena commented on #742
This screenshot has a bit more information about the timeline of the request: https://skitch.com/marlenacompton/gx296/includejsrequest

[2011-12-13 11:12] shane-tomlinson commented on #721
Closed with the fixing of #601.

[2011-12-13 11:12] #721 closed, assigned to nobody

[2011-12-13 14:19] shane-tomlinson opened #747 "Sample RP too wide for mobile devices"
It's tough to use on my mobile phone.

[2011-12-13 14:22] #747 closed, assigned to shane-tomlinson

[2011-12-13 14:59] shane-tomlinson opened #748 "doWinUnload front end unit test fails if run by itself"

[2011-12-13 15:16] #748 closed, assigned to shane-tomlinson

[2011-12-13 15:30] #706 closed, assigned to nobody

[2011-12-13 16:25] shane-tomlinson commented on #722
@jbonacci, @ioanab - this is indeed by design.  Closing.

[2011-12-13 16:25] #722 closed, assigned to nobody

[2011-12-13 16:45] shane-tomlinson commented on #723
@ioanab - Does this problem still occur if you select the Android browser to be the default browser?

[2011-12-13 16:46] shane-tomlinson commented on #707
No longer an issue since there is a nice shiny API for them to hook into - see #601.

[2011-12-13 16:46] #707 closed, assigned to shane-tomlinson

[2011-12-13 16:47] shane-tomlinson commented on #703
Fixed with bccd767b8734a5a365a4f44e2903c3c20d7f51ec.  Duplicate of #732.

[2011-12-13 16:47] #703 closed, assigned to nobody

[2011-12-13 18:00] #676 closed, assigned to shane-tomlinson

[2011-12-13 18:09] shane-tomlinson commented on #399
closing as #706 has usurped this.  Checkin 35d0e108c002c905bcc3be6737f94c18cc373fd8 initially does clarkbw's idea using CSS transitions - not the smoothest on Android browsers, but it does work.

[2011-12-13 18:09] #399 closed, assigned to shane-tomlinson

[2011-12-13 18:44] shane-tomlinson commented on #584
@dclarke I'm confused what you mean by the popup box seems larger than it needs to be?  On my phone, if I made the popup any smaller, it would be too small to be really usable.

[2011-12-13 19:03] dclarke commented on #584
so the popup box has a lot of extraneous information in it, i feel that it just needs to have username, password and if you don't have those it resizes, or pops a new window where you can do initiate more complex actions, but the default window size feels like it's trying to take over the entire browser UI.

[2011-12-13 22:30] ozten opened #750 "BrowserID should allow login from N emails with user's 1 password"
While trying to reset my password (Issue#114), I stumbled on a weird flow and a bug.

Steps to Repro:
1) Go to http://myfavoritebeer.org/
2) Click Sign In
3) In dialog click "This is not me..."

I did this because I was hunting for a password change flow

4) Enter email
5) Click "forgot your password"
6) Do verification dance in a completely different browser (new profile)
7) Go to http://myfavori

[2011-12-13 22:31] ozten commented on #750
As a heavy user of browserid, I'm used to disclosing emailA at siteA and emailB at siteB.

If I have to log-in on a new browser or from "scratch" while on siteB, I tend to input emailB... since I'm on siteB. BrowserID doesn't recognize that as a valid auth credential and starts me down the registration flow... for an email it already knows about as a secondary email.

[2011-12-14 00:08] vmunix commented on #750
I hit the same issue since I leave GMail running in a "dedicated" browser.

[2011-12-14 06:50] lloyd commented on #694
bcrypt's implementation using `eio_custom` saturates a maximum of 4 cores.  given recent improvements in crypto performance, bcrypt perf is our new bottleneck.

The ability to saturate more than 4 cores as well as the ability to fail more gracefully under load (the application controls the max backlog) make this a clear win. /cc @fetep @vmunix @benadida

[2011-12-14 06:57] #694 closed, assigned to lloyd

[2011-12-14 09:35] ghost commented on #723
@jbonacci , @shane-tomlinson - I followed James' steps and tried to reproduce this issue again but it didn't reproduce. Still, if you read the bug description and the following comment, I mentioned there that when I first reproduced the bug, the native browser was set as the phone's default browser and that this is an intermittent issue reproducing very rarely.

[2011-12-14 12:10] shane-tomlinson commented on #723
@ioanab - thanks for re-checking, I'm going to label this a 2 star for now and if it happens again, we'll bump it up.  I am wondering if any of this whack behavior had to do with setting up the new hardware for the beta servers last week.

[2011-12-14 12:18] shane-tomlinson commented on #750
@ozten, @vmunix - yes, this is indeed the case, we have discussed this several times and how to approach it.  Right now by design when you forgot a password, the reset password flow essentially creates a new account for that single address.  I believe this was to stop what @benadida and @lloyd were calling the "transitive identity" hack.  The essentials of this is that if a bad person has control

[2011-12-14 13:12] shane-tomlinson opened #751 "Bad SSL Cert for https://beta.myfavoritebeer.org"
When going to https://beta.myfavoritebeer.org, I get a big old security warning in both FF8.0.1 and IE9.

Output from FF 8.0.1:

beta.myfavoritebeer.org uses an invalid security certificate.

The certificate is only valid for the following names:
  *.herokuapp.com , herokuapp.com

(Error code: ssl_error_bad_cert_domain)

[2011-12-14 13:18] #664 closed, assigned to shane-tomlinson

[2011-12-14 13:26] shane-tomlinson opened #752 "IE9/Win7 - Logout of beta.myfavoritebooze.org then page refresh shows previous login info."
Logging out of beta.myfavoritebooze.org seems to have no effect in IE9.

Steps to reproduce:
1) Go to beta.myfavoritebooze.org
2) Sign in, clicking on "always sign in using this email"
3) Enter a booze
4) Click signout
5) Refresh the page - presto, still signed in!

[2011-12-14 13:43] shane-tomlinson commented on #752
@lloyd - after logout and page refresh in IE9, the browser is calling /api/whoami and getting a 304 (not modified) response, which makes IE9 always think it is logged in.  Can we set the API requests to be non-cachable?

Marking 5 star as this is a regression.

[2011-12-14 13:45] shane-tomlinson opened #753 "IE8 has been reblocked"
Marking 5 star as we said at one point that we could allow IE8 support.

[2011-12-14 14:30] benadida commented on #751
I don't think this is an issue, myfavoritebeer should be reached over plain HTTP, not SSL :) Closing.

[2011-12-14 15:00] shane-tomlinson opened #754 "cancel forgot password is not working on required email flow."
As this is a regression, marking 5 stars.

[2011-12-14 15:11] shane-tomlinson commented on #754
Steps to reproduce

1) go to diresworb.org, log out.
2) go to beta.myfavoriteshow.org, enter in one of your already registered email addresses.
3) click buttons to get browserid dialog.
4) click "forgot password"
5) click "cancel" - oops, nothing happens!

[2011-12-14 15:21] shane-tomlinson commented on #754
@lloyd - I was able to cherry pick the above commit into both beta and prod to fix the problem.

[2011-12-14 17:46] lloyd commented on #753
fixed in dev and train-2011.12.08.  problem was due to borked backmerges.  in train-2011.12.01 IE8 is disabled on purpose (this is the train in production at time of writing and for the next 8 days)

[2011-12-14 17:46] #753 closed, assigned to lloyd

[2011-12-14 17:57] #754 closed, assigned to shane-tomlinson

[2011-12-14 19:02] skinny97214 opened #755 "encourage picking strong, unique passwords"
Since we (the internets) have trained users to use the same password for everything, they will likely use that when they make the browserID account the first time. We need two things
-  big prompts
- a password strength indicator.

[2011-12-14 19:04] skinny97214 opened #756 "verification email comes from "no reply""
screenshot - http://cl.ly/3z1y3t1c3w2H0b0H2W41

All emails should come from BrowserID, not no-reply.

[2011-12-14 19:29] lloyd commented on #754
now this issue is really closed.  merged into current production (train-2011.12.01) and beta (train-2011.12.08)

[2011-12-14 19:48] lloyd commented on #752
fixed: https://github.com/lloyd/myfavoritebooze.org/commit/d1461a2790b83a671ddcd02623af4fbe785f8ded

[2011-12-14 19:48] #752 closed, assigned to lloyd

[2011-12-14 19:55] shane-tomlinson commented on #348
@benadida, @skinny97214 - implemented using localStorage to keep track of whether the user has visited the manage page before.

[2011-12-14 19:56] lloyd commented on #743
ping? closing  we need to figure out how to make include.js version slip, but that's covered elsewhere.  for this issue you may choose to contact the author.

[2011-12-14 19:56] #743 closed, assigned to nobody

[2011-12-14 19:56] shane-tomlinson commented on #348
1b3d5e434fbe811cc4f30c76d6c30e84420fa275 fixes this.

[2011-12-14 19:56] #348 closed, assigned to shane-tomlinson

[2011-12-15 10:29] ghost commented on #567
OS: Android 2.3.3
Browser: Native

This issue reproduces now intermittently when the internet connection is working ok too.

[2011-12-15 13:10] shane-tomlinson opened #757 "myfavoritebeer.org 500 Internal Server Error on all get/set requests"
Affects dev, beta, and prod.

[2011-12-15 13:12] shane-tomlinson commented on #757
Using firefox 8.0.1

Reproducible steps:

1) go to myfavoritebeer.org
2) Open network console
3) sign in using BrowserID
4) Watch /api/get request - 500 Internal Server Error with XML message - "XML Parsing Error: no element found Location: moz-nullprincipal:{5eb3797b-6b67-8a45-9d30-2c4d11086416} Line Number 1, Column 1:

^"
5) Try setting beer name
6) Watch /api/set request - 500 Internal SErver

[2011-12-15 13:14] shane-tomlinson opened #758 "remove all trailing whitespace from all files."

[2011-12-15 13:14] shane-tomlinson commented on #758
Labeling 5 star because it hinders dev.

[2011-12-15 16:27] #758 closed, assigned to lloyd

[2011-12-15 16:33] lloyd commented on #757
restarted the heroku process.  fixed for now.  hmmm.

[2011-12-15 16:33] #757 closed, assigned to nobody

[2011-12-15 17:38] #756 closed, assigned to nobody

[2011-12-15 17:47] lloyd opened #759 "email reset / password recovery is not good"
No one is happy with how password reset works, we need to re-think it considering both security and UX.

[2011-12-15 17:48] shane-tomlinson commented on #422
Reopened under #759

[2011-12-15 17:48] #422 closed, assigned to shane-tomlinson

[2011-12-15 17:48] shane-tomlinson commented on #323
Reopened under #759

[2011-12-15 17:48] #323 closed, assigned to lloyd

[2011-12-15 17:48] lloyd commented on #750
all discussion moved to issue #757

[2011-12-15 17:48] #750 closed, assigned to nobody

[2011-12-15 17:49] shane-tomlinson commented on #750
Issue #759

[2011-12-15 17:53] lloyd commented on #742
vmunix can we get worldwide monitoring of include.js response times?

[2011-12-15 17:54] lloyd commented on #737
can't reproduce, let's keep an eye on it and reopen with high prio if it shows up again

[2011-12-15 17:54] #737 closed, assigned to nobody

[2011-12-15 18:09] vmunix commented on #742
yes, yes we can.

[2011-12-15 18:09] lloyd commented on #692
to be resolved in issue #696

[2011-12-15 18:09] #692 closed, assigned to nobody

[2011-12-15 18:13] lloyd opened #760 "make "logout" work better"
There is plenty of confusion about what logging out means on an RP.  Let's rethink this and solve it once and for all.

[2011-12-15 18:13] benadida commented on #689
closed, now covered by #760.

[2011-12-15 18:13] #689 closed, assigned to nobody

[2011-12-15 18:22] lloyd opened #761 "implement primary support"
implement what is documented here: http://lloyd.io/primary-identity-authorities-in-browserid

[2011-12-15 19:38] vmunix commented on #742
Setting up Watchmouse monitoring of https://browserid.org/include.js explicitly. Will report back once we have some data collected.

[2011-12-15 20:30] benadida opened #762 "detect browser speed and downgrade keysize if needed"

[2011-12-15 20:30] benadida opened #763 "do crypto in web worker"

[2011-12-15 21:48] lloyd commented on #763
if we do do this we should start key gen right when dialog opens.  This will help on ios and android quite a bit.

--lloyd

On Dec 15, 2011, at 1:30 PM, Ben Adidareply@reply.github.com wrote:

[2011-12-15 21:49] benadida commented on #763
oooh, very interesting. For all email addresses?

[2011-12-15 21:49] lloyd commented on #763
That said, I would prefer that we start by analyzing the tradeoffs, then go implement...

--lloyd

On Dec 15, 2011, at 1:30 PM, Ben Adidareply@reply.github.com wrote:

[2011-12-15 21:51] benadida commented on #507
@lloyd has proposed a very nice way to fix this, by having the format be:

rootcert~intermediate1~intermediate2~assertion

using the ~ character, which isn't used in JWTs. Upping the priority on this so we do it soon.

[2011-12-15 21:52] lloyd commented on #763
re pre-emptive keygen - yah, do it when we expect we'll have to generate one anyway.  if we don't need it (user cancels or uses an email we didn't expect), we cancel webworker and throw it away.  if we do need it, and we didn't expect to, we do inline keygen.

we can fiddle the heuristics later, and start with something simple now (are there any emails here that don't have up to date certs?  if so

[2011-12-15 21:55] benadida commented on #763
there is no good way to cancel a web worker in the browser, but other than that I'm happy with this direction. We'll have to be careful about potential race conditions. If we launch X workers for X email addresses, we can probably just wait for the one we need to come back when a given email is selected. Of course we start the preferred email one first.

[2011-12-15 21:57] lloyd commented on #507
Propose we update the verifier to accept either in time for the 12.22 train, then we would start generating the new format in time for the 01.08 train.

[2011-12-15 21:57] benadida commented on #507
proposal accepted. High Five!

[2011-12-15 22:15] lloyd commented on #507
High five!

--lloyd

On Dec 15, 2011, at 2:58 PM, Ben Adidareply@reply.github.com wrote:

[2011-12-15 23:20] skinny97214 commented on #733
I see exactly where you're going with your comment @eevee  and I'm fighting for the users happiness with every engineering decision.

Here's the way I'm thinking about the problem: Auth makes use of two things: something you have and something you know. We're looking into how we can make use of both of those.

Logging on from the same hardware (the thing you have) will give us a certain level of c

[2011-12-15 23:20] #733 closed, assigned to nobody

[2011-12-15 23:40] eevee commented on #733
Oh, I understand the problem of a shared or stolen computer; I was just making the point that the Firefox experience _right now_ is to let me choose if passwords are remembered forever.  For what it's worth I'd be much more comfortable with the ssh-agent style of entering a master password once at startup.

But this ticket is really about the state of browserid right _now_, where a password is req

[2011-12-16 01:57] skinny97214 commented on #733
Looks like I misunderstood your comment then. Apologies.

What are you looking for when you say "justify the password?" An explanation of how the system works?

[2011-12-16 03:19] lloyd opened #764 "consider migrating to winchan"
[winchan](https://github.com/lloyd/winchan) is an abstraction around spawning cross domain windows, passing them parameters, and getting a response.  We should consider moving over to it rather than our current implementation.

The benefits of winchan over the existing implementation may include:
- for upcoming primary support we will be able test new required features for window communication in

[2011-12-16 03:54] eevee commented on #733
Yeah, something as brief as possible to explain what the password is actually for.

Consider having no idea how BrowserID works, and going to try it out on myfavoritebeer.  You provide an email address, click a confirmation link, have to select a password, and then are logged in.  On the surface this doesn't look any different from a traditional password login, and conflicts with the footer, which

[2011-12-16 05:09] lloyd commented on #764
So I ported onto winchan on the issue_764_winchan branch:

22:07 < lloyd> I'm almost tempted to merge this thing..  that commit was the last required tweak.
22:08 < lloyd> all unit tests pass.  IE8/IE9/opera/safari/firefox/chrome/iOS5...
22:09 < lloyd>  13 files changed, 581 insertions(+), 893 deletions(-)

[2011-12-16 06:24] lloyd commented on #700
re-merged.  the only issue was we were creating absolute symlinks, which don't work well for our deployment process.  moved to relative symlinks and this looks like a major improvement.

[2011-12-16 06:24] #700 closed, assigned to shane-tomlinson

[2011-12-16 06:49] #764 closed, assigned to nobody

[2011-12-16 06:57] lloyd commented on #621
please retest against dev.diresworb.org or dev.myfavoritebeer.org

[2011-12-16 07:00] lloyd commented on #555
resolved in dev.  test at dev.myfavoritebeer.org

[2011-12-16 07:00] #555 closed, assigned to lloyd

[2011-12-16 07:05] #621 closed, assigned to nobody

[2011-12-16 07:05] lloyd commented on #621
closed - We've tested dev against opera and opera mobile.  Please re-open if you still find issues.

[2011-12-16 07:06] lloyd commented on #470
we no longer show about:blank, so it shouldn't be uncomfortable.

[2011-12-16 07:06] #470 closed, assigned to shane-tomlinson

[2011-12-16 07:08] lloyd commented on #708
please re-test this issue on dev.diresworb.org or dev.myfavoritebeer.org.  I don't _think_ this one is solved with the new window communication implementation that landed tonight, but it's worth a test.

[2011-12-16 07:09] lloyd commented on #741
let's close this down and focus on issue #762 which should address it.  please re-open if you feel like issue #762 won't solve it.

[2011-12-16 07:09] #741 closed, assigned to lloyd

[2011-12-16 11:00] shane-tomlinson opened #765 "Cancel "Use Different Email" not working in dev."

[2011-12-16 11:56] #765 closed, assigned to shane-tomlinson

[2011-12-16 12:01] shane-tomlinson opened #766 "channel.js no longer needed"
Take it out of the build and includes list.

[2011-12-16 12:03] shane-tomlinson commented on #766
nor is jschannel.js

[2011-12-16 12:52] shane-tomlinson commented on #762
I'm digging this approach, it could mean that we could support some older devices like my ancient iPod Touch that always times out when generating a key - even using DSA.

[2011-12-16 13:29] #608 closed, assigned to shane-tomlinson

[2011-12-16 14:23] broofa opened #767 "Support (secure?) CORS requests to /verify"
Can someone please elaborate on why CORS is not supported (and, in fact, was removed in  29a24826e856b29b0025bd614092765662e1f52b)?

I assume the answer lies in the general tone of the security wiki page, that hints at how client verification is generally considered to be bad practice.  That said, being able to do verification on the client is pretty appealing.  Both for testing purposes, and as a

[2011-12-16 14:48] shane-tomlinson commented on #665
Closing with issue #632

[2011-12-16 14:48] #665 closed, assigned to shane-tomlinson

[2011-12-16 14:52] benadida commented on #767
It's appealing, but it's completely insecure, so we took it out because we noticed that it encouraged developers to follow an insecure pattern. One Greasemonkey script, one simple browser add-on, and an attacker can fake the return value from the CORS call in your local app and authenticate as whomever they like.

[2011-12-16 16:00] lloyd commented on #766
jschannel is still needed! we use it to communicate with our hidden iframe.

I _tried_ to purge channel.js, but I may have missed some spots.

[2011-12-16 16:03] lloyd commented on #767
Yeah, I was personally against the heavy handed removal of this initially, but once we found that many people were using it in insecure ways, it became a disservice, imo.

It's pretty easy to build a little proxy api on your service that bounces verifications off the verifier, but I understand the frustration.

[2011-12-16 16:03] #767 closed, assigned to nobody

[2011-12-16 16:16] #766 closed, assigned to lloyd

[2011-12-16 16:21] lloyd commented on #719
I saw this while trying to dev locally last night.  i also saw this in google chrome when starting the browser up while offline, then switching to online.

Maybe this disabling is too aggressive.

What is this check designed to catch?  the case where include.js is in your browser cache, lots of resources are there, but you are offline?

Would handling a failure to get session_context be a more eff

[2011-12-16 16:46] lloyd commented on #763
Ah, we don't need X workers for X email addresses.  We need to generate a max of one certificate per dialog session.  Once the keypair is generated, we then can get it certified for the email address chosen.

So this is a _non-specific_ keypair.  We can even cache the keypair in local storage for some period of time if it ends up not being needed.

I don't like that we cannot cancel web workers, b

[2011-12-16 17:19] benadida commented on #763
so you're saying generate the keypair, but wait until the selection of the email address to go get it certified? I _think_ the network latency is noticeable too, but I guess during that part we can do a spinner without any trouble. OK, that makes sense. So launch a worker for a keypair if at least one email is uncertified. I like it.

Don't worry about not canceling web workers: they do die if you

[2011-12-16 17:53] lloyd commented on #763
"Don't worry about not canceling web workers: they do die if you close the page :)"

that is perfect.

[2011-12-16 20:12] lloyd commented on #507
upstream patch to allow generators of assertions generate either format explicitly, and parsers of assertions parse both: https://github.com/mozilla/jwcrypto/pull/7

If we merge that and publish jwcrypto 0.1.1 and then upgrade to that for the 12.22 train, we have a verifier that accepts either format.  If we pass true into bundleCertsAndAssertion for the 2012.01.05 train, then we have code that ge

[2011-12-16 22:50] broofa commented on #767
Removing this feature really feels like it's just pushing the problem into the hands of people who have less incentive to address it properly.  For example, the ease with which a "little proxy API" can be built means there is going to be a proliferation of public BrowserID proxies... some of which will likely serve `Access-Control-Allow-Origin: *` responses by default.

Would it not be better to h

[2011-12-16 22:56] broofa commented on #767
Not too that there's a difference between removing a feature that contains a security hole .vs. merely removing a feature that can be used to create insecure systems.

[2011-12-17 01:08] benadida commented on #767
@broofa I hear you that this is frustrating.

What we took into account is that people were simply not reading the documentation and thus doing things insecurely. Offering the feature and expecting developers to read the documentation to do it securely breaks a key principle: secure by default.

Offering the feature in a way that, by default, will freeze their browser, is interesting, but I think

[2011-12-17 01:28] broofa commented on #767
I'm not frustrated - if my tone came across as such then that's my bad.  My goal here was as much to get the rational for this decision documented as it was to actually call the decision into question. :)

That said, I'm still not entirely convinced.  Developers looking to do XHR+CORS will google around until they find the shortest path to a solution.  Currently this means looking here to see why

[2011-12-17 01:55] lloyd opened #768 "repair .channel internal API in dev"
lloyd br0k3 with issue #766

ben will clean up his mess.

The apps team says they are interested in moving to the new internal APIs, however they'd like at least till the 12th:

[code]

So plan of record would seem to be to continue to support channel for now, while aggressively moving all native clients over to the internal api.  /cc @benadida /cc @anantn /cc @wfwalker /cc @shane-tomlinson

[2011-12-17 01:56] lloyd commented on #768
oh, apps also said they'd be able to test tuesday if we can get this fixed monday:

[code]

[2011-12-17 03:38] benadida opened #769 "don't load css file from third-party domain"
on browserid.org, we load a CSS file from Google for a font. It would be better if we didn't load third-party content in general. Crystal, can you see if there's a way to get what we want without doing a third-party include?

[2011-12-19 11:28] edent opened #770 "New User Sign In Flow - No Way Back"
I tried the MyFavoriteBeer demo site.  After sign up, there's no way to get back to the site.

Got a pop up, signed in, told me to check my mail.  I minimised the popup, and went to my mail. Clicked the verify link.

Got the message "Your new address is set up and you should now be signed in. You may now close this window and go back to myfavoritebeer.org"

a) MyFavoriteBeer.org isn't clickable -

[2011-12-19 11:33] shane-tomlinson commented on #770
@edent - which browser are you using?

[2011-12-19 11:37] shane-tomlinson commented on #770
@edent - I just went through the flow again to verify things are working properly, in Firefox 8.0.1 things are as they are supposed to be.  When you checked your email, did you replace myfavoritebeer.org with your email provider?

[2011-12-19 11:41] edent commented on #770
Firefox 8.0 (Ubuntu)

I got an email through which said

"Thanks for verifying your email address.  This message is being sent
to you to complete your sign-in to http://myfavoritebeer.org.

Finish registration by clicking this link:
https://browserid.org/verify_email_address?token=JgjUfDzwibU9LFwfGq1q50mZetE0Gy9aRy3RW1FZpfwtyEnw"

I clicked on that and it took me to the page which said "thanks,
pl

[2011-12-19 12:59] shane-tomlinson commented on #714
@lloyd - I am going to reassign to you and will offer my services where needed.

Now that WinChan is in, Opera acts even stranger.  If you have two RPs open, one with BrowserID open, and then in the other RP attempt to open BrowserID (making a second instance open), the original BrowserID window closes.  I theorize that this is due to the window name being null - I believe that window names need t

[2011-12-19 13:00] shane-tomlinson commented on #711
@tonychung - are you still having this problem?

[2011-12-19 14:23] shane-tomlinson opened #771 "XHR mock: session_context call unnecessarily difficult to use."
It is a pain to have to remember to add a new response type for every possible response in session_context.  Update it so that new response types automatically use the "valid" response.

[2011-12-19 17:11] ghost opened #773 "The user is not logged out of http://beta.myfavoritebooze.org after clearing all the browsing data"
OS: Windows 7
Browser: IE 9

STR:
1. Launch http://beta.myfavoritebooze.org in the browser.
2. Sign in to a BrowserID account.
3. Select an email and finish the sign in process.
4. Delete all the browsing data (history, cookies etc).
5. Reload http://beta.myfavoritebooze.org or close the tab and load the page in another tab.

The user stays logged in until restarting the OS no matter if the "Alway

[2011-12-19 17:27] edent commented on #770
Ah, I use gmail. So I opened mail.google.com in my browser.
On 19 Dec 2011 16:49, "jbonacci" <
reply@reply.github.com>
wrote:

[2011-12-19 18:45] skinny97214 opened #774 "prioritize research questions"
We need to give UR time to do some studies for us, so let's look ahead at the features we want to build soon. Here are a few of the questions I have in mind. Please feel free to add if there are other assumptions you'd like to see validated.

Ethnographic - How do people use email?
- How are families using shared email accounts? What happens if they no longer want to share the account?
- How do pe

[2011-12-19 19:09] johnnyt opened #775 "Additional step for Vagrant box: npm install"
I just fired up the Vagrant box, and after sshing in, I needed to run:

npm install

before npm start would work.

[2011-12-19 20:59] tonychung commented on #711
yes, i still have this problem on my iphone 4, iOS 5.0.1 (9A405).  client quickly throws an error saying

Action: Authenticating User
Network Info: POST: /wsapi/authenticate_user
Response Code - error
Error Type: Bad Request

[2011-12-20 00:13] jammink opened #777 "BrowserID doesn't allow login at all from Native Fennec"
Repros on latest nightly fennec (12/19)

To repro:

Using an email account already connected to BrowserID, try to login to myfavoritebeer.org

NOTE:  when, once in browserID field,  trying to select the "password" field, you are redirected to logged-out myfavoritebeer.org.  Clicking "login" reinvokes the login screen, but, alas, when trying to select password field, you are again redirected back t

[2011-12-20 06:03] jmathai opened #779 "BrowserID hangs on "Communicating with server" on iPad (iOS5)"
On an iPad the BrowserID popup hangs on "Communicating with server".

Version: 5.0.1 (9A405)
Model: MB294LL

Reproduce:
1. Go to http://current.openphoto.me
2. Click sign in
3. Witness hanging on "Communicating with server"

Expected:
1. Go to http://current.openphoto.me
2. Click sign in
3. See sign in form

[2011-12-20 06:07] jmathai commented on #328
@jbonacci Possibly. @lloyd can we (in the future) include a message when issues are closed?

[2011-12-20 06:27] jmathai commented on #779
We're doing User Agent detection (I know) and iPhones get a mobile version and iPads get the full site. You'll need to either spoof a non iPhone user agent or visit it on your iPad.

The iPad should get the desktop version.

[2011-12-20 08:12] shane-tomlinson commented on #687
closing.

[2011-12-20 08:12] #687 closed, assigned to shane-tomlinson

[2011-12-20 08:29] shane-tomlinson commented on #777
Duplicate of #778, closing.

[2011-12-20 08:29] #777 closed, assigned to nobody

[2011-12-20 09:07] shane-tomlinson commented on #114
@lloyd - update_password is returning "success: true" no matter what the oldpass is.  Bad jiji.

POST:

[code]

RESPONSE:

[code]

POST:

[code]

RESPONSE:

[code]

[2011-12-20 09:29] #771 closed, assigned to shane-tomlinson

[2011-12-20 09:30] shane-tomlinson commented on #114
Reopening, passing to @lloyd for above comment - https://github.com/mozilla/browserid/issues/114#issuecomment-3216307

[2011-12-20 09:46] shane-tomlinson commented on #775
@jbonacci - @ozten is heading up Vagrant, I've never used it.

[2011-12-20 09:49] shane-tomlinson commented on #770
@jbonacci - your explanatory skills are awesome.

Are we causing user confusion with our sign up flow?

[2011-12-20 14:31] ghost commented on #773
This issue also reproduces on Windows XP with IE 8.

[2011-12-20 15:06] ghost opened #780 "Confusing behavior when trying to add an email already associated to the currently used BrowserID account"
OS: Windows XP
Browser: IE8, Firefox 9.0

STR:
1. Launch http://beta.myfavoritebooze.org/ in the browser.
2. Sign into a BrowserID account.
3. Click on the "Use a different email" link.
4. Enter an email address already associated to this account.
5. Click on the "Add" button.

The "Check your email!" dialog is displayed for 1-2 seconds, then it disappears and the user is logged in with the email

[2011-12-20 15:24] ghost opened #781 "The Cancel button on the Add Email dialog is non-responsive in Firefox 9"
OS: Windows XP
Browser: Firefox 9

STR:
1. Launch http://beta.myfavoritebooze.org/ in the browser.
2. Sign into a BrowserID account.
3. Click on the "Use a different email" link.
4. Enter an email address already associated to this account.
5. Click on the "Add" button.
6. Click on the "Cancel" button.

The Cancel button is not responsive.

[2011-12-20 16:00] shane-tomlinson commented on #780
Closing as duplicate of #703, which got fixed last week but has not yet made beta.

[2011-12-20 16:00] #780 closed, assigned to nobody

[2011-12-20 16:09] shane-tomlinson commented on #781
Duplicate of #765 which has not yet made beta.

[2011-12-20 16:09] #781 closed, assigned to nobody

[2011-12-20 18:38] lloyd commented on #653
closed by pull request #701

true we still leave one or two files, but good enough for me.  the situation is _vastly_ better.

[2011-12-20 18:38] #653 closed, assigned to shane-tomlinson

[2011-12-20 18:39] lloyd commented on #779
I need an ipad.

[2011-12-20 18:41] lloyd commented on #779
works in ios simulator - 5.0 9a334

[2011-12-20 19:15] jmathai commented on #779
Works in ios simulator 4.3.2. But still reproducible on the iPad itself.

The url in the address bar is `browserid.org/sign_in#` --- if that helps

[2011-12-20 19:18] lloyd commented on #779
@jbonacci you can haz ipad?

[2011-12-20 21:50] #768 closed, assigned to nobody

[2011-12-20 21:57] lloyd commented on #719
stomlinson, shall we just remove the offline check and close this issue?

[2011-12-21 00:16] ozten commented on #775
@johnnyt: Sorry, yes. Unless we cut a new VM with each new package, that will have to happen.

It's not clear how useful the Vagrant VM has been. I don't think many people are using it. Should we remove it? @johnnyt would you participate in the project with or without the Vagrant VM?

[2011-12-21 00:30] #735 closed, assigned to nobody

[2011-12-21 04:33] martinrevert commented on #708
Working smoothly in Android 2.3.7 with stock browser, but having the exact problems of description trying to use this implementation of BrowserID:

https://github.com/jrburke/idme

I don't know what to expect: Could be an implementation problem of that solution or you guys think that I have to wait for this changes to get that solution productive?

thanks!

[2011-12-21 06:04] jrburke commented on #708
@martinrevert the idme experiment does use a fork of the browserid code, and so the flow is a bit different. I'll follow up with you in [this idme issue](https://github.com/jrburke/idme/issues/1)

[2011-12-21 08:14] shane-tomlinson commented on #688
@jbonacci - unfortunately, the entire test suite does not complete in IE8 because of the unresponsive script warning.  :/  Try running it with:

[host]/test/index.html?filter=shared/user

[2011-12-21 08:29] shane-tomlinson commented on #719
@lloyd - I think that is a prudent choice for now.

[2011-12-22 00:07] fetep opened #793 "handle SIGHUP for log rotation"
For better more reliable log rotation, it would be great if we could take a SIGHUP and re-open logfiles.  Specifically, the main process logs and the metrics JSON logs.

Without this, we have to use logrotate's "copy & truncate" method, which is prone to losing a few log messages during rotation.

[2011-12-22 03:17] benadida commented on #678
looks like this is already addressed:

https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/resources/state_machine.js#L98

and

https://github.com/mozilla/browserid/blob/dev/resources/static/shared/validation.js#L40-53

[2011-12-22 03:17] #678 closed, assigned to nobody

[2011-12-22 16:24] jrconlin opened #794 "Provide a way for user to specify email association of BrowserID assertions"
Right now, each assertion contains a single verified email. The general thought was that "bob@example.com" and "bob@example.org" are different users. If a remote service wanted to associate the two, that was an exercise left to the server.

The problem is that there are some services where the user has a vested interest in having a connection and may want to provide multiple email accounts (e.g. a

[2011-12-22 16:28] interactiveblueprints opened #795 "Error including browserid.org/include.js"
L.S.,

I'm new to browserid. Maybe I'm overlooking something but the sample code provided in the docs, see pastebin: http://pastebin.com/Xq1TFYSC, seem not to work.

Ran on a localhost server it leads to a javascript error on Chrome:
Uncaught TypeError: Cannot call method 'call' of undefined
Unable to post message to https://browserid.org. Recipient has origin http://localhost.

What am I doing wr

[2011-12-22 16:57] lloyd commented on #794
I'd like to explore baking this into browserid, vs just letting the high value RP request a back up email.  I'm also curious what the API and UX might look like.

What we typically do with features of this magnitude (even members of the dev team), is send an email motivating the feature to dev-identity.  Discussion ensues, we explore it out in the open, then make a decision on the feature.

I'm go

[2011-12-22 16:57] #794 closed, assigned to nobody

[2011-12-22 16:59] lloyd commented on #795
It is a bug!  It's issue #555 and should be fixed in our development branch.  (but the console error message should be just cosmetic, and everything should work anyway).  Please try the fix out on dev by replacing `browserid.org` with `dev.diresworb.org` and confirm that the ugly log message goes away!

Thanks for the report!

[2011-12-22 16:59] #795 closed, assigned to nobody

[2011-12-22 17:39] hwinkler opened #796 "Sign-in failure using Google Chrome Frame"
You can repro this on myfavoritebeer
Steps to repro:
1. On Windows, install GCF  http://www.google.com/chromeframe
2. In IE, force GCF to load myfavoritebeer.org; enter into the address bar:  gcf:http://myfavoritebeer.org/
3. Click "Sign in"

EB: Sign-in dialog for Browserid
AB: Error page "Relay frame could not be found". This error page, notice, is rendered by IE, not by GCF.

I think the source

[2011-12-22 18:00] lloyd commented on #770
this is a duplicate of issue #385

[2011-12-22 18:00] #770 closed, assigned to nobody

[2011-12-22 19:30] lookfirst opened #797 "UX on first page with regards to edit/remove buttons"
I went to the browserid homepage after having already created an account with an email.

Maybe it is just me, but it seems kind of silly to make me click Edit just to get a Remove button.

Not only that, but I was expecting that Edit would allow me to edit my email address, not remove it.

Thoughts?

Here are two screen shots detailing what I'm talking about.

![step1](https://img.skitch.com/20111

[2011-12-22 22:39] skinny97214 commented on #797
as designed

[2011-12-22 22:39] #797 closed, assigned to nobody

[2011-12-23 00:07] benadida commented on #779
@jmathai I'm not able to reproduce this on ipad 5.0.1 here. Can you check if this is still an issue? Are you able to reproduce this on more than one ipad (I know, tough question if you only have one.)

[2011-12-23 00:20] benadida opened #800 "fix csrf token generation"

[2011-12-23 00:24] #800 closed, assigned to nobody

[2011-12-23 03:19] #298 closed, assigned to nobody

[2011-12-23 05:25] jmathai commented on #779
@benadida Unfortunately, said laptop didn't belong to me. I tried it a second time and was able to replicate it but it very well maybe an anomaly. If I can get my hands on it again in the next few days I'll give it another try. Besides OS version is there anything that might help isolate why it wasn't working on that tablet?

[2011-12-23 07:11] interactiveblueprints commented on #795
Thanks for answering so quick. What's the state of dev.diresworb.org? Will users be able to migrate from diresworb to browserid?. It's not an appealing option right now to choose for browserid....
Good luck with this wonderful tool!

[2011-12-23 18:03] benadida commented on #779
@jmathai wait, laptop or ipad?

Since we're not able to replicate this at all, it's not clear what parameters could be at stake.... maybe a wedged localStorage? But we're pretty aggressive about clearing that when things go wrong. We'll keep an eye on this. I'll leave this bug open a few more days to see if we can reproduce it.

[2011-12-23 18:28] jmathai commented on #779
Sorry, I meant iPad. Sounds good to keep it open for a few days else just chalk it up as an anomaly. I'll try to reproduce it if I can.

[2011-12-26 05:01] lookfirst opened #809 "UX with regards to button capitalization"
I'm talking about the buttons on https://browserid.org/

Not a definitive source, but it seems that the Apple UX guidelines suggest that you use "Use title-style capitalization for the button title and add an ellipsis if necessary. "

http://developer.apple.com/library/mac/#documentation/UserExperience/Conceptual/AppleHIGuidelines/Controls/Controls.html#//apple_ref/doc/uid/TP30000359-TPXREF186

He

[2011-12-28 02:09] lloyd commented on #416
Addressing this issue would allow us to use the serial user ID to address issue #388 (and other issues related to the same underlying issue, that storing the email address that you authenticated is more fragile than a user id associated with the account you authenticated to - because in many attack scenarios email ownership can change).

I'd suggest we hijack this issue a bit and make it about a m

[2011-12-28 02:27] benadida commented on #416
one correction:
- we have to sign the cookie, not just encrypt it. Otherwise this might allow someone to rejigger the ciphertext around and mess things up. In general, not good to encrypt without signing, it's typically asking for trouble. So we'll do both.

and one question:
- what do you mean by "self manages fixed durations?" Do you mean that it auto-updates the cookie expiration to expose effe

[2011-12-28 02:32] lloyd commented on #416
I mean the mechanism itself embeds an original-issue-time from which point the "duration" of the cookie is calculated.  So you can say "this session is good for two weeks" and that means two weeks max, from right now.  not two weeks from the user's last visit.

[2011-12-28 02:33] lloyd commented on #416
see 'authenticatedAt' here: https://github.com/mozilla/browserid/blob/dev/lib/wsapi.js

For the application level mechanism I'm suggesting we might push down into the session implementation

[2011-12-28 02:33] benadida commented on #416
gotcha, right, because if it's just expiration time on the cookie, then resetting the cookie will extend the expiration time, which is not what we want.

I'm thinking proxies might be overkill, maybe JSON serialize and compare?

[2011-12-28 02:54] lloyd commented on #416
Json serialize doesn't guarantee any order.  It's impl dependent, so you would need a deterministic serialization format and this would need to happen on every request.  Not a big deal, but if mutation detection were easy, it could be elegant

--lloyd

On Dec 27, 2011, at 6:33 PM, Ben Adidareply@reply.github.com wrote:

[2011-12-28 03:28] benadida commented on #416
crud, I was under the impression that JSON serialize had an option for sorting keys. OK, I'll see if I can find existing mutation detection. Some hints of it here:

http://stackoverflow.com/questions/1759987/detect-variable-change-in-javascript

but of course we need to watch for property changes where we don't know the properties ahead of time. I'm sure there's some existing proxy code for this.

[2011-12-28 06:42] #507 closed, assigned to nobody

[2011-12-28 20:36] lloyd commented on #719
stealing

[2011-12-28 20:43] #719 closed, assigned to lloyd

[2011-12-28 22:51] lloyd commented on #421
+1

[2011-12-28 22:53] benadida commented on #762
after some discussion with bsmith, I'm starting to think we may be able to move to 1024-bit keys for everyone, given how short-lived our keys are, and given that they're only signing keys.

[2011-12-28 23:16] groovecoder commented on #421
+1

[2011-12-28 23:49] tonychung opened #815 "Android: clicking the email address fires the App launcher"
on android, the app launcher for email chooser will fire if user taps on the email address, instead of the radio button associated with the email.   can we disable the app launcher and instead make the whole email address region radio-selectable?

screenshot: http://i.imgur.com/8zNGv.png

Repro:
1) launch beta.myfavoritebeer.org with a few accounts already on staging
2) at the email chooser screen

[2011-12-29 05:16] fmarier opened #816 "package.json is missing a few dependencies"
After running "npm install" to install the browserid dependencies, I had to install these:

  npm install pkginfo
  npm install colors
  npm install stack-trace
  npm install async
  npm install qs
  npm install mime
  npm install mersenne

before I could successfully run it with "npm start".

[2011-12-29 05:16] benadida commented on #816
which version of node are you running?

[2011-12-29 05:28] fmarier commented on #816
That was on my 0.7.0-pre install where I had to add these:

  https://github.com/fmarier/browserid/commit/fc8baafaf580b4390f2169b432aca6d3ab2b3714

but it works fine on 0.6.7-pre, so you can probably ignore this bug. It seems to have other problems on 0.7...

[2011-12-29 05:29] benadida commented on #816
@fmarier ahah, you're running on the bleeding edge :) Will close this for now, feel free to reopen if you notice this on a released version of node!

[2011-12-29 05:29] #816 closed, assigned to nobody

[2011-12-29 09:39] ghost commented on #732
Verified as fixed on Windows XP + IE 8.

[2011-12-29 09:45] ghost opened #818 "Confusing message displayed when trying to add to BID an email address already associated to it"
OS: Windows XP
 Browser: IE8

STR:
1. Open a BID client (except beta.myfavoriteshow.org).
2. Click on the Sign In button and sign in.
3. On the emails list dialog, click on the "Use a different email" link.
4. Enter one of the emails already associated to this BID account and click "Add".

The "You already own that email!" message is displayed. A more specific message should be displayed since  th

[2011-12-29 10:16] ghost commented on #114
Verified on Windows XP + IE8.

When there are multiple email addresses associated to a BID account, only the email address used to reset the password is kept after changing the password from the a client.

[2011-12-29 10:24] ghost commented on #765
Verified as fixed on stage too (issue 781) with Windows XP +IE8 and Firefox 9.0.1.

[2011-12-29 10:26] ghost commented on #756
The verification emails now come from BrowserID@browserid.org.

[2011-12-29 10:59] ghost commented on #114
Verified as fixed on Windows XP + IE8 when using the manage page.

[2011-12-29 10:59] #114 closed, assigned to shane-tomlinson

[2011-12-29 18:07] skinny97214 commented on #809
Apple HIG are not intended to be a general design pattern. It's specific to their needs for the OS and not always applicable for websites.

Are you concerned that title case causes usability problems? Or is it a visual design concern? The UX best practice is to be consistent in capitalization. Apple had to chose a case and they chose title case. We chose lower case. This was a visual design decisi

[2011-12-29 18:16] benadida commented on #779
unable to reproduce, we suspect this is related to caching, see issue #226, please reopen if this happens again!

[2011-12-29 18:16] #779 closed, assigned to nobody

[2011-12-29 18:38] lookfirst commented on #809
You are absolutely right, the UX best practice is to be **consistent**.

The fact is that the vast majority of all other major websites out there (Mozilla, Facebook, Amazon, Apple, Yahoo, Microsoft, CNN, Google, Github, Chase, Bank of America, etc., etc., etc.), all use title case as their buttons everywhere. It is the same with all of the operating systems and devices (iPhone) that I use. The key

[2011-12-29 20:07] shane-tomlinson opened #820 "IE8: change all background-color: rgba(x,x,x,x) to use a normal hex value."
IE8 cannot do rgba.  Boo.

[2011-12-29 20:26] tonychung opened #821 "first time login flashes leftover dialog text saying "hardcore crypto""
this only seemed to work when logging in through browserID.    Upon selecting your email address from the list, a dialog pops up saying "hardcore crypto" text, and then flashes to a successful login.

Repro'd on a Android device, visiting beta.myfavoritebeer.org.
Please remove that text :)

[2011-12-29 20:30] benadida opened #822 "limit the size of POST body"
Defend against this attack:

http://www.cs.rice.edu/~scrosby/hash/CrosbyWallach_UsenixSec2003.pdf

[2011-12-29 22:03] ghost opened #823 "Cannot log in to BrowserId using stock browser on Froyo"
Android Build: 2.2.2
Browser: Stock
Website: http://www.mozillians.org

Steps to Reproduce:
1. Go to the website mentioned above.
2. Click on "Log In"

Actual Results:
New window is opened at connection error page at browserid.org

Expected Results:
New window is opened at browserid hosted sign on page

[2011-12-29 22:04] benadida commented on #823
@sammybahamas any chance your phone is set up to not have a default browser? There is an Android 2.2 bug related to not having a default browser set.

[2011-12-29 22:08] ghost commented on #823
There is a 100% chance that my phone is set up purposely to not have a default browser. This sounds like a dupe!

[2011-12-29 22:10] ghost commented on #823
My device is the LG Revolution, but I don't think that should matter. Also, this sounds like the issue mentioned by Ben.

[2011-12-29 22:10] benadida commented on #823
@sammybahamas cool, that's reassuring. We're working on the assumption that most users have a default browser setup. That said, this is no longer an issue in android 2.3+. If we can find a workaround for 2.2, we'll definitely let you know.

[2011-12-29 22:12] benadida commented on #823
this is a dupe of #708 so I will close this one. Note that we may have fixed this in 2.2, but I'm not so sure yet.

[2011-12-29 22:12] #823 closed, assigned to nobody

[2011-12-29 22:48] vmunix commented on #822
The ZXTMs can, IIRC, be of assistance in the short term via the SPC feature, but we should absolutely put a limit on whatever is listening to the "data" event right in the app and return a 413 to a client that exceeds said limit.  /cc @fetep

[2011-12-30 00:43] #359 closed, assigned to shane-tomlinson

[2011-12-30 00:47] #235 closed, assigned to nobody

[2011-12-30 00:48] #73 closed, assigned to nobody

[2011-12-30 00:50] #13 closed, assigned to nobody

[2011-12-30 00:58] clarkbw commented on #237
Looks like it was fixed at some point.  Thanks!

[2011-12-30 00:58] #237 closed, assigned to nobody

[2011-12-30 01:23] benadida commented on #416
only missing feature right now is management of the duration, will work on that asap, so I'm going to reopen this issue actually.

[2011-12-30 02:20] lloyd commented on #822
+1 - we need to do this as bytes are read off the wire - not after they get through the body parser.  Someone must have written this or it might be part of express already??  I'll gladly take it

--lloyd

On Dec 29, 2011, at 12:30 PM, Ben Adidareply@reply.github.com wrote:

[2011-12-30 12:36] shane-tomlinson opened #827 "IE8/WinXP - cannot authenticate to dev.diresworb.org"
Always get:

Action: Authenticating User
Network Info: POST: /wsapi/authenticate_user
Response Code - error

Error Type: Bad Request

[2011-12-30 13:06] DVirgil opened #828 "Small trace left in checkbox on Firefox (linux) in e-mail list screen"
This occurs on Linux (Ubuntu 11.10) in Firefox 9.0.1.
1. Log in to http://myfavoritebeer.org/ with an account with at least two e-mails listed.
2. Make sure the first e-mail from the list is selected.
3. Select the second e-mail's checkbox.

A small trace (half circle) is left on the checkbox of the first e-mail.

The trace disappears when the window loses focus.

[2011-12-30 13:11] shane-tomlinson commented on #827
@lloyd, @jbonacci - Can you guys see if there is anything funny in the logs?  I cannot get this to reproduce in a local environment, only dev, and only IE8/WinXP.

After adding more of the XHR request info, it says that it is a bad csrf_token:
Action: Authenticating User
Network Info: POST: /wsapi/authenticate_user
Response Code - error

Response Text: Bad Request: CSRF violation

Error Type: Bad

[2011-12-30 13:13] shane-tomlinson commented on #828
Thanks for the report @DVirgil, could you attach a screen shot so that I can get to the exact problem a bit quicker?

[2011-12-30 13:33] DVirgil commented on #828
Still trying to get used to github.

I can't print the issue, as the trace disappears as soon as the Firefox window loses focus or with any print screen.
I've linked it nonetheless. It has to do with the design of the checkbox marker. other browsers use a different style on Linux (Ubuntu 11.10).

http://bit.ly/rqyJSC

[2011-12-30 14:38] benadida commented on #822
I would love some defense in the app code, too, before (or using a modified) bodyParser. Go for it and take it.

[2011-12-30 15:13] shane-tomlinson commented on #827
@lloyd - looking at server logs, I see many "CSRF validation failure: POST calls to /wsapi require an csrf token to be set",..}'s right after I sign in.

I am using Fiddler2 to analyze the traffic to my local dev machine - the Content-Type header is 'application/x-www-form-urlencoded', where as in most browsers it is 'application/json' I believe.  Could the combination of 'x-www-form-urlencoded' a

[2011-12-30 18:24] lloyd commented on #822
/me eagerly takes it

[2011-12-30 20:34] benadida opened #829 "if session expires in the middle of user using it, problems"
I haven't seen this yet, but I'm guessing that, with the existing session approach and even our new one, we get into trouble if the session expires while the user is using BrowserID. This is probably rare, but can happen because we have a hard expiration time based on when the user loggedin.

[2011-12-30 21:01] #416 closed, assigned to nobody

[2011-12-30 23:59] vthunder commented on #774
I think we should start to set up the ethnographic study, and plan to run it in Q1 if possible. That is hopefully its own thread to some extent.

Of the other tests, I'd do them in the order you wrote them in: profiles, then logout, then backup email. For profiles, I think we need to know whether it makes sense in general, as input to you to [re-]design the UI (not just the first-run experience I

[2011-12-31 02:29] lloyd commented on #822
https://github.com/senchalabs/connect/blob/master/lib/middleware/json.js

can't see any provision at all for post body limiting.  I think we can attach middleware before body parser that also subscribes to data events and half closes then sends an error response...

[2011-12-31 02:56] tj commented on #822
we have middleware named `limit()` for generic body limits in Connect, but nothing specific to query() / json() / urlencoded() yet. I think it would be good to add sensible defaults to query() and urlencoded(), json() is the one that would vary the most but we can still have some form of default

[2011-12-31 03:12] tj commented on #822
actually i'm not sure you could really effectively limit keys for json, it would be a pretty gross hack, even urlencoded would be pretty difficult since we allow nesting

[2011-12-31 04:10] lloyd commented on #822
hip hip horray, tj saves the day: https://github.com/senchalabs/connect/blob/master/lib/middleware/limit.js

that should do nicely...  this bug becomes a 1 line fix.

[2011-12-31 04:38] #822 closed, assigned to lloyd

[2012-01-01 05:24] lookfirst opened #830 "Unable to post message to https://browserid.org. Recipient has origin http://localhost:8888."
I'm running my server on localhost:8888 and on every page load, I see this error in the Chrome console window. I'm not sure if it something that I'm doing wrong or what. My integration of browserID works fine from localhost, but I do see this all the time anyway. Is there a way to suppress this message for localhost users?

[2012-01-02 10:20] pgbakker opened #831 "JavaScript errors in IE7"
Hi,

When I open my site that has BrowserID integrated in IE7, IE7 reports 2 errors, both of the same type:
SCRIPT5022: Exception thrown and not caught
include.js, line 37 character 2805
SCRIPT5022: Exception thrown and not caught
production.js, line 37 character 1861

The "include.js" file I'm using comes from "https://browserid.org/include.js"

I have no issue that IE7 is not supported (I do get

[2012-01-02 10:23] pgbakker commented on #831
Note: the issue can be reproduced in IE9 by switching to the Browser Mode to IE7 and the Document Mode to IE7 Standards using the Developer tools.

P.

[2012-01-02 10:26] pgbakker commented on #831
Forgot to say that is can be reproduced on http://myfavoritebeer.org/ as well

[2012-01-02 14:48] JohanStrandell commented on #345
This is due to semicolon instead of commas in the meta tag.

E.g. it should be
`<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">`

instead of
`<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">`

See: http://miniapps.co.uk/blog/post/make-sure-to-use-correct-meta-viewport-syntax/

[2012-01-03 15:37] benadida commented on #831
@pgbakker we should absolutely address this. Thanks for bringing it to our attention.

[2012-01-03 18:09] skinny97214 commented on #290
+++ "A much simpler way to achieve a similar effect might be just to put a conservative time limit on verification links."

We saw mobile users turning to their desktops to auth the email. BrowserID is already a big pain point because of many clicks. I can't imagine adding three more would be acceptable.

http://accounts.usertesting.com/ViewVideo.aspx?file=WfRV8v%2bHpi4%3d
http://accounts.usertest

[2012-01-03 21:06] lookfirst commented on #809
Please give this more than one star and fix this before this gets even more out of control... there is all sorts of different variations of case in the documentation and screen shots:

https://support.mozilla.org/en-US/kb/what-browserid-and-how-does-it-work

![bahahahah](https://support.mozilla.org/media/uploads/gallery/images/2011-10-19-16-48-01-5cdac5.png)
![bahahahha](https://support.mozilla.or

[2012-01-03 22:18] lloyd commented on #830
this should be fixed in train-2011.12.28 - you can confirm on diresworb.org (our beta environment) - to test against beta, just change browserid.org to diresworb.org

please reopen if what I say is a lie.

[2012-01-03 22:18] #830 closed, assigned to nobody

[2012-01-03 22:23] lloyd opened #833 "sporadic test failures in verifier-test"
apparently when you remove the last char from an assertion, it might still parse ok.

test failures get five stars!

[2012-01-03 23:24] jrgm commented on #754
Verified on stage environment (beta.myfavoriteshow.org,diresworb.org):
Windows XP: (Safari 5.1.2, Firefox 9.0.1, Chrome 16, Opera 11.6, IE 8)
Windows 7 32-bit: (Safari 5.1.2, Firefox 9.0.1, Chrome 16, Opera 11.6, IE 9)
OSX 10.7.2: (Safari 5.1.2, Firefox 9.0.1, Chrome 16, Opera 11.6)
Ubuntu 11.10: (Firefox 9.0.1, Chrome 16)

Change password link works, and cancelling out of that dialog returns
to p

[2012-01-04 00:06] lookfirst commented on #830
No lie, confirmed that it works on diresworb.org (cute name).

[2012-01-04 00:47] chrismore opened #835 "Generic error message when authenticating with cookies disabled."
See more here:

https://bugzilla.mozilla.org/show_bug.cgi?id=715017

[2012-01-04 00:48] chrismore commented on #835
Bug contents:

Created attachment 585597 [details]
BrowserID error with cookies disabled on iOS

If you have cookies disabled when you try to authenticate on BrowserID, you get an ambiguous error message.

To reproduce:

1) Disable cookies in your browser
2) Log in to Mozillians or Affiliates with BrowserID

Expected:

Error message about needing cookies to log in.

Actual:

Generic error message.

[2012-01-04 06:23] jrgm opened #837 "Change password UI allows entry of password length < 8"
Change password UI allows entry of password length < 8

Steps to reproduce:
1) Go to diresworb.org
2) Sign in with an existing account (or sign up for a new one).
3) After signin/signup reload (if needed) to get the "Account Manager" UI
4) In the password section, click Edit
5) Enter current password for Old, and any string less than 8 char as New
6) click Done (UI accepts this short password)
7)

[2012-01-04 08:16] pgbakker commented on #831
Don't think there's any Windows version that, installed out of the box still bundles IE7.

However, we still see a large number of IE7 users hitting our website, according to Google Analytics, so I prefer to not have them see our website having errors (which in IE7 is always visible in the lower left corner).

P.

[2012-01-04 20:06] ozten commented on #775
I've posted http://groups.google.com/group/mozilla.dev.identity/browse_thread/thread/f6523a4d0e9c06bb# to gauge interest levels for the Vagrant VM. @johnnyt please add your thoughts.

[2012-01-04 20:30] lloyd opened #839 "the browserid process consumes too much memory"
growth appears to be monotonic over time.  This is seen in our staging environment with train-2011-12-28

[2012-01-04 22:13] hannosch opened #840 "Shortened email displayed in browserid.org/signup page"
I'm trying to create a new browserid.org account. After entering my email address hschlichting@mozilla.com, I get a new page telling me about the confirmation email I should receive (url: https://browserid.org/signup).

That page contains: "We sent a confirmation email to hsch. To finish signing up just click the verify link we sent to your email address."

Note how my email address was shortened

[2012-01-04 22:13] vthunder opened #841 "Present site's TOS and privacy policy to user"
Some sites require the user to agree to their terms of service and/or privacy policy. There is interest in having the user be aware / agree to them during the sign-in flow.

Note that some sites require explicit agreement (checking a box), so we should allow for that.

I don't think we need to present the actual TOS/PP, links to them (that open in new pages) should be sufficient.

[2012-01-04 22:15] vthunder commented on #841
Crystal - we'll need some UX help here to make this not suck :-)

In particular, we want to make it as clear as possible that the TOS/PP are for the site the user is signing into, _not_ for BrowserID itself.

[2012-01-04 22:38] hannosch commented on #840
I tried to reproduce this with two other email addresses of similar length, but those worked fine. And window.localStorage.signInEmail was set correctly. I did visit https://bipostal.diresworb.org/ before, but I don't see how that could have interfered, as it's a different domain.

[2012-01-04 22:38] benadida opened #842 "email sent when forgetting password is confusing"

[2012-01-04 22:55] hannosch commented on #840
I could reproduce this now in both FF 10 and Chrome 16 beta.

The trick is to use auto-complete, type hsch, then use the down-key to select something from the list and hit enter to confirm the auto-complete choice. I then used the mouse to click the submit button. The second page only shows what I actually entered into the field, not the result from the auto-complete.

[2012-01-04 23:18] vthunder opened #843 "Add "add email" button to manage page"
I've heard multiple times from confused users that they'd like to be able to add an email from the manage page on browserid.org.

I know it's not the common case for most users, but for the ones that go exploring (and currently that's a lot, since a lot of web devs are trying it out and exploring the tech) it's sometimes a bit confusing that there's no way to add an email from there.

[2012-01-04 23:19] #840 closed, assigned to nobody

[2012-01-04 23:19] jrgm commented on #840
Yes, hannosch has it right. It is down to the auto-complete. This is also https://github.com/mozilla/browserid/issues/699

[2012-01-04 23:22] ozten opened #844 "BrowserID logo in header of dialog_layout an image"
The header of [dialog_layout.ejs](https://github.com/mozilla/browserid/blob/dev/resources/views/dialog_layout.ejs#L23) is styled with an image in the background.

This image contains text and isn't suitable for localization, assuming BrowserID may need to be localized in 1 or more locales.

[2012-01-04 23:49] lloyd commented on #839
after 42 minutes on the processor, bin/browserid is at about 260MB RES (this is in our staging environment)

[2012-01-04 23:58] #821 closed, assigned to nobody

[2012-01-05 00:02] shane-tomlinson commented on #843
Closing as duplicate of #421.

[2012-01-05 00:02] #843 closed, assigned to nobody

[2012-01-05 00:03] shane-tomlinson commented on #842
closing as duplicate of #730

[2012-01-05 00:03] #842 closed, assigned to nobody

[2012-01-05 00:08] lloyd commented on #839
after 1 hour 3 mins on the proc we're at 340MB RES

[2012-01-05 00:24] shane-tomlinson opened #845 "new user set password does not check max password length"
there is a maxlength=80 on the form input element, but this is not checked in JS.

[2012-01-05 00:25] #837 closed, assigned to nobody

[2012-01-05 00:26] #845 closed, assigned to shane-tomlinson

[2012-01-05 01:01] jrgm commented on #719
not seeing with issue anymore with browser 2.3.4 on android 2.3.4 Galaxy II SE (which was showing me the offline UI before).

[2012-01-05 01:20] shane-tomlinson commented on #827
The fix is to clear cookies when testing dev.diresworb.org

[code]

[2012-01-05 02:05] jrgm commented on #732
This works for on all browsers. Using the STR that tchung notes at the beginning of this bug, when I try to re-add
my address, I get the "You already own that address!" tooltip on Win7 or Win32 current Safari, Chrome, FF, Opera, IE
and Mac Safari, Chrome, FF, Opera.

However, a javascript error is thrown on at least IE8/WinXP, Chrome16/Mac, FF9/Mac (probably all):

 function addEmail(email, callba

[2012-01-05 09:21] #732 closed, assigned to nobody

[2012-01-05 09:21] shane-tomlinson commented on #732
nice catch @jrgm!

[2012-01-05 10:03] #820 closed, assigned to shane-tomlinson

[2012-01-05 10:04] shane-tomlinson commented on #820
@jbonacci, @jrgm, @ioanab - Two areas to test:

1) Open the dialog in IE8, look for borders along the header and footer which were not there previously.
2) In main site, look for dark backgrounds around the forms that were not there previously.

[2012-01-05 11:26] shane-tomlinson opened #846 "IE: Hang browser with iframes already in page when opening BrowserID."
Documented and fixed at: https://github.com/lloyd/winchan/pull/20

[2012-01-05 11:27] #846 closed, assigned to shane-tomlinson

[2012-01-05 11:30] shane-tomlinson commented on #846
@jbonacci, @ioanab, @jrgm - to test for breakage/fix, open the sample RP in IE8 after forcing the RP to render in Quirks Mode.

[2012-01-05 11:46] fmarier commented on #833
I've looked into this one a bit because it looked like another problem I was having with certain assertions failing to verify while others were working fine.

My problem turned out to be due to my custom verification script (https://github.com/fmarier/browserid-tools/blob/master/verify-assertion.py) leaving an extra newline character at the end of assertions (I was cat'ing it from a file saved wit

[2012-01-05 16:53] shane-tomlinson commented on #840
@hannosch - nice debugging!  Thanks, that is a huge help.

[2012-01-05 16:55] shane-tomlinson commented on #699
@andymckay - thanks for the screen cast, and @jrgm, thanks for the precise steps, I've seen this and did not know what caused it.  Excellent.

[2012-01-05 17:24] shane-tomlinson commented on #844
@ozten - as a logo I don't mind keeping the main visual in an image.  I will add "BrowserID Home" to the link and set its text-indent to something off the screen so we are still screen reader friendly.

[2012-01-05 17:29] #844 closed, assigned to ozten

[2012-01-05 21:56] lloyd commented on #833
@fmarier This is extremely helpful!  thanks for the careful analysis!

@benadida, when the last char of the "crypto segment" of the assertion jws structure is an A, verification still succeeds.  does this base64 correspond to a little endian integer, such that a leading zero doesn't change the value? Why would we even bother encoding a leading zero if my understanding is correct?

[2012-01-06 07:37] davidbgk opened #847 "Safari 5.1.2 doesn't display the address bar of the browserid popup"
This is currently a security/trust issue. You can reproduce it on the MDN website.

[2012-01-06 10:43] shane-tomlinson commented on #847
Thanks @davidbgk - I have updated the window opening code to ensure that the address bar is displayed in Safari.

[2012-01-06 10:44] shane-tomlinson commented on #847
@davidbgk - barring any major blockers, this will make its way into production in 2 weeks.

[2012-01-06 10:44] #847 closed, assigned to nobody

[2012-01-06 13:21] ghost opened #848 "A dialog with unresponsive buttons is opened when confirming an email from a secondary browser"
OS: Windows XP
Browser: IE8, Firefox 12

STR:
1. Launch a BrowserID client in the browser.
2. Click on the Sign In button.
3. Enter an email that is not already associated to BID.
4. Click on the "verify email" button.
5. Open your email in another browser and confirm it.

The Sign In dialog returns from the "Check your email" message to the dialog with the entered email address and the "cancel" a

[2012-01-06 13:34] ghost opened #849 "The password editing fields are displayed automatically after signing in on diresworb.org in IE8"
OS: Windows XP
Browser: IE8

STR:
1. Launch https://diresworb.org in the browser.
2. Sign in to an account.
3. Observe the bottom of the Account Manager section.

The "Old Password" and "New Password" labels and text boxes are displayed automatically on the screen together with the "done" button (The user didn't click at all on the "edit" button).

Note:
This issue doesn't reproduce on the latest

[2012-01-06 13:44] shane-tomlinson commented on #849
closing as duplicate of #810.

[2012-01-06 13:44] #849 closed, assigned to nobody

[2012-01-06 13:59] ghost opened #850 "The bolded text from the diresworb "We sent an email..." message is not displayed right being almost unreadable"
OS: Windows XP
Browser: IE8

STR:
1. Launch https://diresworb.org in the browser.
2. Click on the Sign Up button.
3. Enter an email the is not already associated to BrowserID and click on the Verify Email button.

The bolded text from the "We sent an email..." message is almost unreadable (email address and "use another email address").

Note:
This issue didn't reproduce on the latest Firefox vers

[2012-01-06 15:11] ghost commented on #773
@jbonacci - i don't think it is expected not to be logged out with a refresh after deleting the browsing history with the "keep me signed in" checked. On Firefox, with "keep me signed in" checked, when clearing your recent history and refreshing, the user is  logged out.

Either way, the behavior should be consistent between browsers.

[2012-01-06 23:41] #682 closed, assigned to lloyd

[2012-01-07 01:35] stickfigure opened #852 "Provide a more explicit "change email address" workflow"
When a user authenticates with browserid, the relying website gets an email address.  The website needs a way to change this email address.  Right now all the text on the login dialog says "login with this email address", which may confuse nontechnical users who are expecting to change their email address, not log in with a new account/email.

To some extent this may be mitigated with explanatory

[2012-01-07 01:46] stickfigure opened #853 "Allow for one-time email assertion"
BrowserID seems an excellent way to assert an email address even outside the context of authentication.  For example, even standalone username/password systems need to be able to establish a verified email address.  Right now this is almost always done with the standard confirmation email, but BrowserID could replace that process with much better UX.  Also, many systems using BrowserID may have mu

[2012-01-07 08:52] pgbakker commented on #831
Interesting... Since you didn't get the same errors I got, I went back and retested our site now in both IE9 with IE7 mode simulation and in a VM with a real IE7.

And in both I cannot reproduce neither the errors I got before, but also not the error you're mentioning about localstorage.

I do get the dialog saying that the browser is not supported, but that's OK by me.

so, from my point of view,

[2012-01-07 18:12] lloyd commented on #839
I've done extensive testing, here's what I've learned:
- disabling winston logging improves overall performance of the browserid process, and can reduce significantly the amount of resident memory in use
- disabling http forwarding (over to dbwriter) and executing most apis inside the browserid process seems to significantly mitigate RES growth (or eliminate completely).

This suggests we can look

[2012-01-07 18:43] jstrimpel opened #854 "npm: command not found"
I am not sure what I am doing wrong here. I got vagrant running and ssh'd in, but then...

vagrant@lucid32:~$ npm start
No command 'npm' found, did you mean:
 Command 'dpm' from package 'dpm-postgres' (universe)
 Command 'dpm' from package 'dpm-mysql' (universe)
 Command 'apm' from package 'apmd' (main)
 Command 'rpm' from package 'rpm' (main)
 Command 'gpm' from package 'gpm' (universe)
 Command

[2012-01-07 22:33] benadida commented on #833
OK, I finally got to the bottom of this. It's clear if you dig into how base64 encoding works.

It takes 4 base64 characters to encode 3 bytes, because each base64-character encodes 6 bits. A nice alignment graphic is here: https://en.wikipedia.org/wiki/Base64#Padding

We're encoding a 512-bit signature that gives 86 base64 characters (516 bits), where the last 4 bits are 0, which means the last b

[2012-01-07 22:41] #833 closed, assigned to lloyd

[2012-01-07 23:30] lloyd commented on #839
0.6.7 appears to slow RES growth by about 600%, but does not fix the leak.

Propose producing a minimal representative test case and submitting it upstream to the node dudes.  Also @bnoordhuis confirms the fix in 0.6.7 won't address our problem: https://github.com/joyent/node/issues/2069#issuecomment-3398464

[2012-01-08 03:39] eevee commented on #733
Worth reopening, then?  :)

[2012-01-09 09:52] ghost commented on #848
Verified on Prod and Stage again today. The behavior is similar to the initial one:
The Sign In dialog returns from the "Check your email" message to the dialog with the entered email address. Only the "verify email" button is now displayed. The content of the dialog is unresponsive until closed and reopened by the user.

[2012-01-09 09:55] ghost commented on #850
Verified again on Stage and Prod today. The issue doesn't reproduce on Stage anymore but it does reproduce on Prod (browserid.org).

[2012-01-09 16:59] lloyd commented on #839
further isolated one leak, and reproduced in isolation, here: https://github.com/lloyd/node_leak

I'll try to pin it down this week.

[2012-01-09 22:53] #839 closed, assigned to lloyd

[2012-01-10 00:47] tantek opened #855 "Mozillians: first time sign-in dialog provides confusing copy/labels with sign-in vs. new password"
When using BrowserID for the first time to attempt to sign-into Mozillians.org with an existing account email, the dialog provided (see link) is sufficiently confusing that I don't know what is expected, nor am I comfortable proceeding (not knowing what is going on)

Screenshot of confusing dialog:

http://farm8.staticflickr.com/7159/6670209021_e64faea211_o.png

The text "Finish _signing into_" [_

[2012-01-10 02:51] benadida opened #856 "privacy policy render issues with BetterPrivacy add-on"

[2012-01-10 15:26] ghost opened #857 ""Error encountered trying to complete registration" displayed when registration seems to be fine on Android 2.2.2"
Device: HTC Desire A8181
OS: Android 2.2.2
Browser: Native

STR:
1. Launch a BrowserID client in the browser.
2. Click on the Sign In button (if not on beta.myfavoriteshow.org).
3. Enter an email address not associated to BrowserID and click on the Next button.
4. Click on the Verify Email button.
5. Open the confirmation email in the same browser and click on the confirmation link.

After the use

[2012-01-10 16:01] #699 closed, assigned to shane-tomlinson

[2012-01-10 16:36] ghost commented on #848
This issue also reproduces when confirming an email address for which you are trying to change the BrowserID password (The "reset password" and "cancel" buttons are unresponsive).

[2012-01-10 18:56] lloyd opened #860 "reduce the cost of logging"
The next step in our performance tuning saga is logging!  If I run loadgen with a target of 3m users locally on a 4 core i5 proc, and bcrypt rounds turned down to 8, I see browserid settle back down to 201M res after 6 minutes on the proc and capable of running 1.87M ADU.

If I perform the exact same test and disable file logging, browserid settles back down to 45M and is capable of 2.1M ADU.

we

[2012-01-10 18:56] lloyd commented on #860
/cc @vmunix @benadida @jbonacci

[2012-01-10 19:14] lloyd opened #861 "remove vagrant files and documentation"
Given that minimal community members are using vagrant, and it adds another thing to document and maintain, it's probably better to remove it to simplify.

@ozten++ for being a perceptive and pragmatic dude.

[2012-01-10 19:19] #861 closed, assigned to nobody

[2012-01-10 20:01] lloyd opened #863 "build a simple demonstration BrowserID primary"
eyedee.me should grow into the myfavoritebeer.org of primaries.  it should be useful for demonstrations, and as a reference implementation of (nearly) the minimal amount of work it takes to build a BrowserID primary

[2012-01-10 20:02] lloyd opened #864 "delegation of authority"
one major missing feature from in-dev primary implementation is "delegation of authority" - this allows a domain owner to implement browserid primary support by delegating the job to someone else.  Documentation here: http://lloyd.io/primary-identity-authorities-in-browserid

[2012-01-10 20:03] lloyd opened #865 "move declaration of support: /.well-known/{vep,browserid}"
no one knows what `vep` means.  everyone knows what `browserid` means.  let's rename this file.  Note: this is specific to primary support, but the browserid secondary should host a well formed document there as well.

[2012-01-10 20:04] lloyd commented on #761
primary support is done, with a few exceptions that have been opened as their own bugs.

[2012-01-10 20:04] #761 closed, assigned to lloyd

[2012-01-10 20:31] #865 closed, assigned to lloyd

[2012-01-10 22:23] vmunix commented on #860
110% agreed on reducing logging overhead (and in general, our single per-process memory and cpu footprint) before putting the cluster module into play.

[2012-01-11 00:01] jrgm commented on #857
I could not reproduce @ioanab's STR with a verizon droid 2.2 android with stock browser,

[2012-01-11 00:08] sonnyp commented on #854
http://npmjs.org/
Note that with node 0.6 npm is now shipped built-in.

[2012-01-11 00:11] skinny97214 opened #868 "buttons on hover"
Remove button underline on hover.
Red buttons and depressed blue buttons need hover gradient color change.

[2012-01-11 00:47] jrgm opened #870 "Weird UI behaviour after cancelling account that has a pending 'add email' request"
This is admittedly a weird corner case, but seems to me (if I'm reading this
right) account cancellation should also cancel any pending requests to add an
email to the now-cancelled account.

0) Probably best to do this in a clean/new browser profile

1) Go to https://beta.myfavoritebeer.org. Click 'Sign in', and add an email
   not ever used. Click 'next'. Then click 'Verify email'.

2) Open the

[2012-01-11 01:50] skinny97214 commented on #855
Can someone speak to why in @tantek screenshot it shows the "Finish signing into mozillians.org"?  This doesn't appear when I create an account through myfavebeer. I think it's adding to the confusion.

I think the solution is a (?) icon next to the New Password input that on hover has further explanation.

Also, the password strength indicators should help reinforce that you're creating a brand n

[2012-01-11 01:57] skinny97214 commented on #755
Some mockups of a color coded password strength indicator. I've grayed out the button and made it unclickable until the password passes at least into the yellow stage.

red http://cl.ly/3P09421y2f0U0M2R0O2v
Password strength: too weak

yellow http://cl.ly/1T18461R1v0n1x380I3s
Minimally secure password

green http://cl.ly/0v381e361l2P2G200n1i
Good job! That's a secure password.

[2012-01-11 02:11] skinny97214 commented on #413
We can add a small "home" under the logo on hover a la amazon.

[2012-01-11 05:49] jrgm commented on #274
I was working with a factory-reset Verizon Motorola Droid with Android 2.2,
and only stock browser.
- Start stock browser.
- Load http://myfavoritebeer.org
- Android displays 'Security warning: There are problems with the security
  certificate for this site. This certificate is not from a trusted authority'
- Click on 'View certificate' shows it the cert for browserid.org is issued by
  Geotrust.

[2012-01-11 09:21] ghost opened #871 "The "keep me signed in" option disappears from the Sign In dialog when refreshed after removing an email address"
Environments:
1: HTC Desire A8181 + Android 2.2.2 + Native browser
2: Windows 7 + Firefox 10 (beta3)

STR:
1. Launch http://beta.myfavoritebooze.org in the browser.
2. Click on the Sign In button.
3. Log in to a BrowserID account with multiple email addresses.
4. Leave the Sign in dialog with the email addresses list open.
5. Open https://diresworb.org and remove one email address from the logged

[2012-01-11 10:10] ghost commented on #848
This issue also reproduces now intermittently when confirming the email address from the same browser - verified on Windows 7 with Firefox 12 (Nightly).

[2012-01-11 13:31] ghost opened #872 "Wrong error message displayed under the described conditions"
OS: Windows 7
Browser: Firefox 12 (Nightly)

STR:
1. Launch a BrowserID client in the browser (except beta.myfavoriteshow.org).
2. Click on the Sign In button and sign in with an email address already associated to BrowserID.
3. Leave the Sign In dialog with the emails list open.
4. Launch another client in a different browser tab.
5. Click on the Sign In button, then click on the "This is not me.

[2012-01-11 14:01] ghost commented on #857
@jbonacci - When I reproduced this issue, it also reproduced when signing in from another browser/device and confirming the email address from the Android 2.2.2 native browser.

I tried to reproduce the issue again but everything seems to be working fine now. @jbonacci, I think you were right in your previous comment.

[2012-01-11 17:15] ozten opened #873 "Progress animation should be BIDI aware"
When we're transitioning back to a website from the dialog, we have an awesome animation of an arrow from left to right.

In locales that have a right to left page layout, this layout should probably be reversed (website on the left) and the animation reversed (RTL).

We don't need this until we're close to having our first RTL language ('ar', 'fa', 'he').

I'm making our debug locale RTL, so we g

[2012-01-11 17:50] #827 closed, assigned to shane-tomlinson

[2012-01-11 17:56] shane-tomlinson commented on #873
@ozten +1 - I want to do this animation using CSS transitions and width instead of JS.  Would this be BIDI aware?

[2012-01-11 17:57] shane-tomlinson commented on #868
@skinny97214 - do you want the hover colors to be the same as the depressed buttons?

[2012-01-11 18:17] shane-tomlinson commented on #868
@skinny97214  - keep underlines on normal anchors?

[2012-01-11 18:30] skinny97214 commented on #868
Keep underlines on normal anchors.

Not sure I understand the depressed button question. The main blue button brightens up on hover. The red and darker blue buttons never got that level of polish, so let's add it. I still have to get the new hex values for those to you.

[2012-01-11 18:47] ozten commented on #873
Ya, so the CSS would be relative to the dir attribute of the html element and your CSS transitions would be flopped in ltr.

psuedo CSS

html[dir=ltr] div.slider {
   // today's version
}

html[dir=rtl] div.slider {
   // today's version, but mirrored
}

The html would output
<html lang="en-US" dir="ltr">

If it makes it easier, we could add a new class to the body tag html-ltr or html-rtl which i

[2012-01-11 19:39] skinny97214 opened #874 "help text for creating a strong, memorable password"
Add a sidebar on the create password page to educate users on picking a great password. (In concert with #755)

These are a few of the techniques I'm aware of. I'd like to get security folk to weigh in on what works best.

Start With a Base Word Phrase.

A good password starts with a base word phrase. This means: choose a memorable catchphrase, quotation, or easy-to-remember saying Choose a phrase

[2012-01-11 20:13] skinny97214 commented on #755
This is the finely-tuned password interaction from Simple. Let's talk about what our standards for A-D, and F unacceptable are.

http://www.youtube.com/watch?v=xwDcaOQlqLs

[2012-01-11 20:41] #857 closed, assigned to nobody

[2012-01-11 21:33] jrgm commented on #274
I asked jvier about this today, and he indicated that ops will be working on a fix for this real soon now.

[2012-01-11 21:58] jrgm commented on #822
Shouldn't the verifier also have this limit? /cc @fetep

[2012-01-11 22:30] benadida commented on #822
yes, verifier should do this.

[2012-01-11 22:34] lloyd commented on #822
Nice catch

--lloyd

On Jan 11, 2012, at 1:58 PM, John Morrisonreply@reply.github.com wrote:

[2012-01-11 22:40] benadida opened #877 "privacy and ToS in BrowserID popup"
A number of web sites have a legal requirement that users opt into the privacy and ToS. The UX is goofy if they have to do that after having already received the user's email. We've seen this from Mozilla properties in particular (since Mozilla follows European guidelines on this).

We should explore a potential API optional parameter to specify privacy policy and ToS, have the user opt into this

[2012-01-11 22:41] jrgm opened #878 "limit the size of POST body in verifier"
Same fix, etc., as for issue 822, need to limit the size of the POST body in the verifier

[2012-01-11 22:43] ozten opened #879 "Email for db-LB locale is garbled"
The contents of the email should be readable but is garbled, at least in the test locale db-LB.

Repro Steps:
Set default locale of browser to Esperanto.
Login with a new mailinator address.

Actual:
hanks for verifying your email address. This message is being sent to you to complete your sign-in to http://10.0.1.13:10001.

â®â²Ä±uÄ±sÉ¥ É¹ÇÆÄ±sÊÉ¹ÉÊÄ±ou qÊ ÉÊÄ±ÉÊÄ±uÆ ÊÉ¥Ä±s ÊÄ±uÊ:

[2012-01-11 22:48] jrgm commented on #822
Opened https://github.com/mozilla/browserid/issues/878 to fix verifier same way.

[2012-01-11 22:56] skinny97214 commented on #305
as designed

[2012-01-11 22:56] #305 closed, assigned to lloyd

[2012-01-11 22:56] #49 closed, assigned to lloyd

[2012-01-11 23:01] skinny97214 opened #880 "basic profile (name+avatar) UI"
Sketch out and test name + avatar
- first-run experience
- pull from gravatar/gmail/etc
- cloning info to other emails
- is optional or required?
- redesign popup to vcard-like picker

[2012-01-11 23:01] skinny97214 commented on #22
Love the idea. Closing this as we'll be doing up a complete solution to the basic profile (name+avatar) in #880

[2012-01-11 23:01] #22 closed, assigned to lloyd

[2012-01-11 23:11] skinny97214 opened #881 "rebrand"
Lots of little bits
- logo on .org and popup
- text strings everywhere
- domain
- github project name?
- RPs that may be using wrong wording/button
- favicon
- reach out to RPs that already have implemented and help them clean up the branding and UI

[2012-01-11 23:21] skinny97214 opened #882 "heuristics review of mobile experience"
Jgrlicky and I are going to do a review of the mobile experience.

[2012-01-11 23:26] skinny97214 opened #883 "shared computer challenges"
- What are the challenges for shared, home computers?
- How can we encourage family members not to combine emails into one persona?

[2012-01-11 23:29] skinny97214 opened #884 "public computer challenges"
- detect that a user is on a public terminal
- detecting a user's home computer (after X connections, it's sticky)
- additional layer of auth
- geolocation security concerns
- what notifications are appropriate

[2012-01-11 23:35] skinny97214 opened #885 "copy/branding of sign in buttons on RPs"
Finalize recommendations for sign in buttons for RP and update documentation.

Need to test copy and button layout.

Proposed copy from matej, feel free to comment.
- Say bye to passwords with xxxxx
- It's faster with no passwords. Sign in with xxxxx.
- No passwords, no problems. Sign in with xxxxx.

[2012-01-11 23:42] skinny97214 opened #886 "move to the popup the burden of explaining legacy -> BID account conversion"
RPs are facing a big problem explaining what's going on to users when they convert legacy users to BID accounts. We've seen this clearly with mozillians and mdn. It caused lots of discussion, flurries of designs, stressed out devs. We need to solve this for all sites, not expect that they'll have access to a designer to help.
- detect that the user is converting their account
- possibly detect if

[2012-01-11 23:50] skinny97214 opened #887 "auth with primaries"
Can we rely on the primary enough that we don't need to have a BID password? Please let the answer be yes. :D Explaining what password to use when is a wicked problem.
- Nail down primary security to prevent that as an attack vector.
- Notify when email is added and give user mechanism to disable that account if it's fraudulent.
- If a user is adding another address to their account and already ha

[2012-01-12 00:38] skinny97214 commented on #870
I'm fine with this throwing a generic server error along the lines of "Something went wrong."

[2012-01-12 01:11] skinny97214 commented on #874
@warner Love to get your suggestions on ^^

[2012-01-12 02:09] benadida commented on #877
whoops, duplicate of #841

[2012-01-12 02:09] #877 closed, assigned to nobody

[2012-01-12 07:42] samatjain commented on #671
The [OpenID module for Apache](http://findingscience.com/mod_auth_openid/) has some nice ideas. Some of the stuff I liked and is missing from the BrowserID module:
1. A default login page, built-in the module
2. Pass parameters (such as REDIRECT_URL) via GET, so the login page could be static HTML instead of a server-side script

[2012-01-12 09:59] shane-tomlinson opened #888 "When getting address_info, show a wait indicator"
A user may have to wait for up to 30 seconds after entering their email address in the dialog while BrowserID goes out and checks whether their address is a primary or secondary - this is painful.

Add some sort of wait indicator.

[2012-01-12 12:08] shane-tomlinson opened #889 "Safari 5.0.4 on Windows 7 Home Premium crashes on front end unit tests."

[2012-01-12 12:16] #889 closed, assigned to shane-tomlinson

[2012-01-12 12:30] shane-tomlinson opened #890 "IE8: myfavoriteshow looks bunk"
white background, can't read the text.

[2012-01-12 13:38] shane-tomlinson commented on #890
https://github.com/lloyd/myfavoriteshow.org/pull/2 is the pull request to fix this.

[2012-01-12 13:43] shane-tomlinson commented on #890
@jbonacci - once @lloyd reviews and merges, this should be closed.

[2012-01-12 14:50] shane-tomlinson commented on #316
@ioanab - is this still a problem, can this issue be closed?

[2012-01-12 14:51] shane-tomlinson opened #891 "IE8: border around logos in myfavoritebeer and myfavoriteshow."
Among other IE8 issues.

@lloyd - I'm assigning to you because I submitted pull requests for these, I just want to track.

[2012-01-12 14:51] shane-tomlinson commented on #891
https://github.com/lloyd/myfavoritebeer.org/pull/43

https://github.com/lloyd/myfavoriteshow.org/pull/2

[2012-01-12 15:53] #831 closed, assigned to shane-tomlinson

[2012-01-12 15:54] shane-tomlinson commented on #831
@pgbakker - thanks for reporting this, the problem in include.js was IE7 blowing up when trying to focus on an opened window.  I submitted the fix to dev, it should take another week or two to make it to the production servers.

[2012-01-12 15:55] shane-tomlinson opened #892 "IE6/IE7 "unsupported browser" window looks terrible."

[2012-01-12 17:36] shane-tomlinson commented on #873
@ozten - I'm giving this 3 star until we start on those languages.

[2012-01-12 17:47] ozten commented on #879
Not sure if this is an issue with:
1) Mailinator displaying unicode ( so we can try in thunderbird, gmail, etc)
2) Unicode weirdness in our test locale, that wouldn't surface in a real locale
or
???

Couple areas to test further.

[2012-01-12 18:03] shane-tomlinson commented on #874
There are several bugs on this:

#443
#755

[2012-01-12 18:16] skinny97214 commented on #855
#886 should fix this issue

I agree that "sign in" is confusing for the first run experience. If we can have a custom experience for the first time a user goes through the legacy account conversion, we can use "create account" as the button label.

[2012-01-12 18:20] benadida commented on #854
We are killing the Vagrant option because we haven't seen much usage of it and it's fairly easy to install BrowserID on your own. Closing this issue.

[2012-01-12 18:20] #854 closed, assigned to nobody

[2012-01-12 18:27] benadida opened #893 "unverified email flow UX"

[2012-01-12 18:28] benadida opened #894 "unverified email implementation"

[2012-01-12 18:35] skinny97214 opened #895 "screen in popup for asking user to enter password again (re-auth)"
Need a screen that lets the user re-auth for added security. Cases include: changing email, merging accounts, before making a purchase.

See #852

[2012-01-12 18:36] skinny97214 commented on #852
Agree 100%. Closing this for the general case bug I just filed.

[2012-01-12 18:36] #852 closed, assigned to nobody

[2012-01-12 18:39] skinny97214 commented on #888
Make it faster!!!!

[2012-01-12 19:39] benadida opened #896 "status.browserid.org"
get it set up.

[2012-01-12 21:21] cvan opened #898 "Cannot log in using registered browserID email"
So I have two email addresses with which I've registered/logged in on apps-preview.mozilla.org:
- hearcomestreble+cvan
- hearcomestreble

Using Chrome (successful):
1. Log in using hearcomestreble+cvan.
2. Select hearcomestreble+cvan.
3. Successfully logged in.

Using Firefox (unsuccessful):
1. Log in using hearcomestreble+cvan.
2. Select hearcomestreble+cvan.
3. Successfully logged in.

I cannot

[2012-01-13 08:38] ghost commented on #316
I verified this issue with Firefox 9.0 on the device it initially reproduced on and it doesn't reproduce anymore.

[2012-01-13 08:39] #316 closed, assigned to lloyd

[2012-01-13 10:00] shane-tomlinson commented on #888
@skinny97214 - obviously that's the optimal solution!  The technical piece of how this is work (@lloyd - want to weigh in on this?) - When a user first enters their email into the authentication screen, if the BrowserID backend knows nothing about the domain the user enters, it has to go look at a certain location on that domain to see if it supports primaries.  If the call to the domain completes

[2012-01-13 11:23] shane-tomlinson opened #899 "cache EJS templates instead of creating new ones where possible."

[2012-01-13 11:34] shane-tomlinson commented on #856
@benadida - I am not seeing anything strange - is there a screenshot or steps to reproduce?

[2012-01-13 12:01] #850 closed, assigned to shane-tomlinson

[2012-01-13 12:02] shane-tomlinson commented on #584
Closing this in favor of #882

[2012-01-13 12:02] #584 closed, assigned to shane-tomlinson

[2012-01-13 12:07] shane-tomlinson commented on #890
@lloyd - reassigning to you to do the pull request.  If pull request needs updated, reassign back!

[2012-01-13 12:21] #899 closed, assigned to shane-tomlinson

[2012-01-13 12:25] shane-tomlinson commented on #341
Closing in favor of #882

[2012-01-13 12:25] #341 closed, assigned to shane-tomlinson

[2012-01-13 12:31] shane-tomlinson opened #900 "Consider changing "sign in" screen on main site to use dialog."
Referencing #383.  I think that the BrowserID main site should act as an RP and use the dialog to sign in, ditching the sign in screen.

[2012-01-13 12:36] shane-tomlinson commented on #406
@ioanab - are you still able to reproduce the Control +C/X/V in the signup page?  There was another bug filed - #840 that had a similar issue.

[2012-01-13 14:22] #439 closed, assigned to shane-tomlinson

[2012-01-13 14:35] shane-tomlinson commented on #711
@tonychung - is this still still a problem?  I just a shiny new iPod with 5.0.1 and have no problem.

[2012-01-13 14:36] shane-tomlinson commented on #463
Closing in preference to #882

[2012-01-13 14:36] #463 closed, assigned to shane-tomlinson

[2012-01-13 14:38] shane-tomlinson commented on #602
Closing as a duplicate of #841

[2012-01-13 14:38] #602 closed, assigned to shane-tomlinson

[2012-01-13 15:38] shane-tomlinson commented on #567
@ioanab - have you seen this since?  I still have not, no matter what I try.  Have you seen this again?

[2012-01-13 15:43] shane-tomlinson commented on #622
I fixed this today with the fix for #850.

[2012-01-13 15:43] #622 closed, assigned to shane-tomlinson

[2012-01-13 15:53] shane-tomlinson commented on #622
Checkin c6837a6822fd49a96fd57ca0d34126defce55808 takes care of the flickering when hitting "this is not me"

[2012-01-13 15:56] #818 closed, assigned to shane-tomlinson

[2012-01-13 16:20] shane-tomlinson opened #901 "XHR errors on long pages (privacy/TOS) put the error at the top of the screen."
If the user is scrolled to the bottom of the screen, they may not see it.

@jbonacci - Steps to reproduce:
1) open up a page to diresworb.org/tos
2) open up a page to diresworb.org/
3) sign in
4) refresh both of the opened pages
5) sign out of page opened in #2
6) sign out in page #1 (tos) - scroll the page, make sure the error follows.

Reported by @aleksejrs in #630

[2012-01-13 16:22] #901 closed, assigned to shane-tomlinson

[2012-01-13 16:31] shane-tomlinson opened #902 "IE9: myfavoritebooze.org will not display correctly because of font-face error"
When loading any of the myfavoritebooze.org sites, I get the following error and am unable to use the RP:

CSS3111: @font-face encountered unknown error.
clhLqOv7MXn459PTh0gXYOb62E_zbtdBeaf9nLDgIoU.eot

[2012-01-13 16:34] shane-tomlinson commented on #773
@jbonacci, @ioanab does this have to do with the "preserver favorites website data"?  If you unselect that, does the problem go away?  If I deselect that, I am not signed in anymore.

[2012-01-13 16:46] #723 closed, assigned to shane-tomlinson

[2012-01-13 17:41] ozten opened #903 "Measure performance impact of client side Gettext"
There are multiple requests where EJS and Gettext are instantiated and run.

We should measure how expensive gettext is, so we can prioritize optimizing this code.

[2012-01-13 20:50] lloyd commented on #896
Assign to me when folks are on board.  it should look like this somewhat: https://status.heroku.com/

it should syndicate from a twitter account.  and post updates into our IRC room.

I can build the site on heroku set up custom dns, then going live is a matter of adding a dns record to browserid.org.

[2012-01-13 21:57] tantek commented on #855
jbonacci - typo - wrong issue #.

This is a dependency relationship between bugs, not a duplicate.

You can make 855 dependent on 886 but please do not label as duplicate because it certainly isn't.

Please Reopen (as it says I don't have permission to do so).

[2012-01-13 22:03] lloyd opened #904 "allow outbound https traffic to be routed through proxy"
primaries bring a new requirement, the system must be able to make outbound https requests.

We should add config to our software so that you can route all traffic through a reverse HTTP proxy (accelerator) that can accept connections over HTTP and make outbound HTTPS requests.

[2012-01-13 22:04] lloyd commented on #904
5 star cause this would block dev from going to beta

[2012-01-13 22:05] #904 closed, assigned to lloyd

[2012-01-13 23:39] benadida commented on #856
this was reported by a Mozillian whose email I'm having trouble finding....

[2012-01-15 08:35] jrgm commented on #856
@benadida: Not sure what this bug is about exactly. But a quick note.

The BetterPrivacy extension (v1.67 on AMO) detects the Firefox major version
incorrectly. So FF >= 10.x are detected as FF 1.0. (See getFFMainVersion()
in content/bprivacy.js in the .xpi file).

So, in current Beta(10.x)/Aurora(11.x)/Nightly(12.x) channels, BP reverts to
a behaviour intended for FF < 4.x where it literally dele

[2012-01-15 11:50] BYK commented on #755
Changing the border color of the password field is a good idea though it doesn't provide the necessary emphasis in my opinion. It should be something more visible than that.

[2012-01-16 08:09] ghost commented on #773
@shane-tomlinson - I verified this issue with the "preserve favorites website data" option deselected on Win7+IE9 and it still reproduces for me. I am still displayed as signed in.

If I click on "logout", I can see that I am completely logged out from my BID account (both when "preserve fav..." is selected and when deselected).

[2012-01-16 08:32] ghost opened #905 "The Sign In button becomes unresponsive when loosing your internet connection"
OS: Windows 7
Browser: Firefox 10.0

STR:
1. Load http://beta.myfavoritebeer.org in the browser.
2. Click on the Sign In button and sign in to a BID account.
3. Leave the dialog with the emails list open.
4. Close your internet connection.
5. Select an email from the Sign In dialog and click on the Sign In button.

Actual Results:
The button is unresponsive and it stays like that until re-establis

[2012-01-16 08:33] ghost commented on #567
@shane-tomlinson - I can't verify if this issue still reproduces until issue 905 gets fixed.

[2012-01-16 09:05] ghost opened #906 "Wrong Sign In dialog opened after the client is set as Home page and the user cancels his BID account"
OS: Windows 7
Browser: Firefox 10.0, IE9

STR:
1. Set http://beta.myfavoritebeer.org as your Home page (for Fx, you can also just select the "Show my windows and tab from last time" option).
2. Open http://beta.myfavoritebeer.org.
3. Click on the Sign In button and sign in to a BID account.
4. Close the dialog with the emails list without finishing the sign in.
5. Close the browser.
6. Cancel your

[2012-01-16 09:24] shane-tomlinson commented on #856
@jrgm - Thanks for the updated details - with Firefox 10 Beta (today's) and BetterPrivacy 1.67, I am showing no problems on browser restart.  If I sign in to my BrowserID account and restart the browser, all emails are still shown.  We are using localStorage as a local cache, If localStorage is deleted on every restart of the browser but the session cookie remains then when BrowserID restarts, it

[2012-01-16 09:25] shane-tomlinson commented on #856
@jrgm - ah yeah, now I'm getting some very wack behavior.  Will investigate further.

[2012-01-16 09:29] jrgm commented on #856
@shane-tomlinson So, it's not on browser restart that localStorage is deleted (although that happens too). It's on every new window.

[2012-01-16 09:34] shane-tomlinson commented on #856
@jrgm - The problem I am seeing reproduces reliably under the following conditions.

1) Start with a new profile
2) Install the BetterPrivacy addon
3) Restart browser.
4) Open one tab to https://diresworb.org
5) sign in using the "sign in" button - notice the redirection to "/" and your email addresses are shown.
6) Refresh the page - email addresses are still there.
7) Open another tab to "http:/

[2012-01-16 09:56] jrgm commented on #856
@shane-tomlinson

Actually, for me following the above with FF10 (beta), I don't succeed at sign in at step 8. Error console shows

Error: uncaught exception: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIDOMStorage.removeItem]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: https://diresworb.org/shared/storage.js :: clear :: line 53"  data:

[2012-01-16 10:12] ghost commented on #406
@shane-tomlinson - I verified this issue on Windows 7 with Firefox (9.0.1, 10.0 beta4, latest nightly), IE9, Chrome 16.0.912.75 m and Opera 11.60. It only reproduces on dialogs opened from the client in Firefox(all versions) now.

Two things I noticed different this time:
1. The issue reproduces regardless to what key the user presses together with Ctrl (e.g. Ctrl+A/B/C.../Shift).
2. When the user

[2012-01-17 13:26] shane-tomlinson commented on #905
@skinny97214 - I have implemented a basic dialog whenever a request takes more than 10 seconds, but it could use some serious UX love.  This should be considered along side of #888 as the buttons do nothing until the "this request is taking too long" screen and can be re-pressed.  I am thinking we should do something to the buttons while requests are completing - perhaps hide them and show a spinn

[2012-01-17 14:53] shane-tomlinson commented on #905
@skinny97214, @ioanab - I have made this a two part system.  The first is, whenever there is an XHR request, grey out the form buttons.  In the dialog, this should all be good, on the main site, there are some areas where the buttons will be greyed out, but they will still be responsive - I have to fix those yet.  The second is, if a request takes more than 10 seconds, flip up the "this request is

[2012-01-17 15:04] shane-tomlinson commented on #835
@lloyd, @benadida - Since all of our cookies are HttpOnly, is there a way we can know if cookies have been enabled on the user's device?

[2012-01-17 16:06] #345 closed, assigned to shane-tomlinson

[2012-01-17 16:06] #815 closed, assigned to shane-tomlinson

[2012-01-17 16:07] shane-tomlinson commented on #345
@JohanStrandell - thanks for the tip!  I fixed the syntax and no Webkit error.

[2012-01-17 17:34] shane-tomlinson commented on #406
@ioanab - I'm not seeing this problem so I think that I am not following the same steps.  Can you list the steps to reproduce?

[2012-01-17 17:52] shane-tomlinson commented on #829
@benadida - this is very very extremely similar to #374, should we merge?

[2012-01-17 17:53] shane-tomlinson commented on #829
@benadida - which is also related to #835

[2012-01-17 17:54] shane-tomlinson commented on #835
Also related to #374

[2012-01-17 18:05] benadida commented on #829
@shane-tomlinson agreed! Merge as you see fit.

[2012-01-17 18:06] benadida commented on #835
@shane-tomlinson the way would be to set a flag cookie on first resource load and check that flag cookie on session_context, which could return a hasCookies: false if the flag cookie is not there.

[2012-01-17 18:07] benadida commented on #835
@shane-tomlinson another solution is to set a flag cookie that is not http-only, since it's just a flag, and check that in JS.

[2012-01-17 18:12] hwinkler commented on #796
I think this approach might be useful for the GCF case. It uses an &lt;object&gt; tag to simulate an iframe. http://src.chromium.org/svn/branches/472/src/chrome_frame/test/data/postmessage_basic_host.html

[2012-01-17 19:21] lloyd commented on #226
as noted above, #2 and #5 are now done.  So  @shane-tomlinson tag!  you're it!  flip on 'enable_code_version' in configuration.js to see the backend support.

remaining work to be done  is substitution (as mentioned in #3 above) - seems like we need to bake code_version into production.js somehow (see this line https://github.com/mozilla/browserid/blob/dev/resources/static/dialog/start.js#L18 )

a

[2012-01-17 21:02] fmarier commented on #853
Another use case for this sort of feature is to add a secondary (or a third, fourth, etc.) email address to an existing account.

[2012-01-17 21:10] lloyd commented on #258
this is solved.

[2012-01-17 21:10] #258 closed, assigned to lloyd

[2012-01-17 21:11] lloyd commented on #252
this is fixed.

[2012-01-17 21:11] #252 closed, assigned to lloyd

[2012-01-17 21:12] lloyd commented on #16
the world has changed since this issue.  primary support is now implemented in dev, this issue is irrelevant.

[2012-01-17 21:12] #16 closed, assigned to nobody

[2012-01-17 21:13] lloyd commented on #2
this is implemented in dev along with primary support.

[2012-01-17 21:13] #2 closed, assigned to nobody

[2012-01-17 21:13] lloyd commented on #257
no longer true with the primary support implementation in dev now.  closing.

[2012-01-17 21:13] #257 closed, assigned to nobody

[2012-01-17 23:51] marytrombley commented on #774
Name and photo testing in March-- should have a prototype.
Testing site switching to BrowserID: paper prototype testing in January
Passwords: first collect a list of features to compare; meet in a small group to evaluate, THEN test. Deadline March.
Sign in to browser: Zhenshuo is designing; Jinghua will help to test.
Closing the loop: usertesting.com???? [Red flag]

[2012-01-18 02:04] skinny97214 commented on #877
I'd favor making the button indicate agreement. Asking users to click the checkbox is annoying to users.

http://cl.ly/3u1e3Z1w1J3x3h1H022k

[2012-01-18 02:07] benadida commented on #877
not doable, legal reasons, checkmark required.

[2012-01-18 09:20] ghost commented on #406
@shane-tomlinson - I am using the same steps that were listed twice before in this bug:

STR:
1. Load http://beta.myfavoritebeer.org in a browser.
2. Click on the "Sign in" button.
3. Enter an email address and click on the "next" button.
4. Click in the email field and press Ctrl + any other key, except Enter.

[2012-01-18 11:09] skorokithakis commented on #884
Even just a "don't remember me" checkbox when logging into browserid.org would go a long way to making it more secure.

[2012-01-18 11:52] shane-tomlinson commented on #226
@lloyd - To answer both of your questions, I have it implemented where there need to be two substitutions.

`__BROWSERID_ENVIRONMENT__` needs changed to "PRODUCTION" for code substitution to happen so we can debug without worry.

`__BROWSERID_CODE_VERSION__` needs changed to whatever the current code version is.

I am thinking to force an update of the scripts, using production_v`<VERSION>`.js is

[2012-01-18 16:01] lloyd commented on #226
Ok, I'll grep around and try to figure out a sane way to do the substitution that works in all our environments.

Regarding adding GET data vs. changing the filename.  I remember some offhand suggestion from someone I respect (maybe it was @vmunix?) that certain poorly behaved middlemen on the intertubes might fail to update caches on appended get data where they wouldn't on an altered file name.

[2012-01-18 19:54] lloyd opened #909 "primary support - move away from return_to"
in order to make primary support forwards compatible with native implementations and to simplify requirements on primaries, we should move away from a "return_to" url and provide a dom api.  `.authenticationComplete()` or something

/cc @benadida

[2012-01-18 19:54] lloyd commented on #909
5 star, should block dev going to beta.

[2012-01-18 19:59] lloyd opened #910 "ETag needed on sign_in"
The last production push had changes to the DOM of the dialog that would have been avoided if we had proper ETag headers on the html of the dialog.  This was the #1 problem with our last push and should be addressed before dev goes to beta.

demonstration of issue:

[code]

look ma, no ETag headers. Not an issue on other resources served under production/  - specifically those served by the static

[2012-01-18 20:07] anantn opened #911 "include.orig.js missing"
https://browserid.org/include.js says that the uncompressed source for itself can be found at https://browserid.org/include.orig.js, but the latter returns a 404.

[2012-01-18 21:17] #910 closed, assigned to lloyd

[2012-01-18 23:25] benadida opened #912 "add event-based RP API"
I propose moving to an event-based API for web sites.

[code]

Advantages:
- we do away with <tt>allowPersistent</tt> and <tt>silent</tt>, as those become entirely user-controlled now. The only option for that remains for now is <tt>requiredEmail</tt>.
- firing the <tt>login</tt> event can be done in a number of cases where the reference to the callback has otherwise been lost, e.g. when returning

[2012-01-19 01:08] ozten opened #913 "add email broken in dev"
Steps to Reproduce:
1) Login via http://dev.myfavoritebeer.org/
2) Click "use a different email"
3) Add an email Click Add

Expected:
Email is sent, message shown

Actual:
Nothing.
No interesting logs. No JS errors. I see XHR requests continue in background...

@shane-tomlinson I could use your help, did I break this with recent commit? qUnit and CLI tests pass... Do you see why this is failing?

[2012-01-19 08:58] shane-tomlinson opened #914 "IE8: myfavoritebooze shows border around BrowserID logo in footer."

[2012-01-19 08:58] shane-tomlinson commented on #891
@lloyd, since both of these are now merged, I am closing this issue.  I have opened a new issue on myfavoritebooze.org showing the border around the BrowserID logo in the footer in IE8 - #914.

[2012-01-19 08:58] #891 closed, assigned to lloyd

[2012-01-19 09:02] shane-tomlinson commented on #913
@ozten - something is goofy right now, in the "Pick email" screen, the "this is not me" button has no text inside the link and the "add an email" button says "pick email".  I think some string substitution has gone haywire.

[2012-01-19 09:05] shane-tomlinson commented on #913
@ozten - I'm seeing this issue on dev.myfavoritebeer.org - has this made beta yet?

[2012-01-19 09:12] shane-tomlinson commented on #913
@ozten - this has not made beta, so it is a regression in dev.  Removing the in-beta tag, will investigate.

[2012-01-19 09:45] #913 closed, assigned to nobody

[2012-01-19 09:47] shane-tomlinson opened #915 "XHR Delay screen will overwrite any wait screens already shown."
This can happen if the user is at the "waiting for email validation" screen and there is a > 10 second delay in the XHR request that checks the email's status.  When the XHR request completes, the wait screen will be taken away and the user will be shown an incorrect screen that is not active.  Related to #913.

[2012-01-19 10:43] shane-tomlinson opened #916 "dev: json_locale_data not available exception thrown from "/""
@ozten - I found this when trying to add a new "xhr delay" screen today.

Steps to reproduce on local dev:
1) Sign in to browserid from main site.
2) In the Firefox toolbar, click "work offline"
3) Try to logout.  "json_locale_data" not found exception in Renderer.js

[2012-01-19 10:47] #915 closed, assigned to nobody

[2012-01-19 12:06] shane-tomlinson opened #917 "Add cache busting check to main site."

[2012-01-19 12:06] shane-tomlinson commented on #917
Right now code_check is only run in the dialog, add it to the main site as well.

[2012-01-19 12:22] shane-tomlinson commented on #226
@lloyd - OK, after last night's discussion, I am again comfortable with the _v`<VERSION>` scheme.  I have updated the front end to only do a version check if session_context returns a code_version variable.  The `__BROWSERID_ENVIRONMENT__` stuff has been removed.

[2012-01-19 12:23] shane-tomlinson commented on #917
Initiated in #226

[2012-01-19 13:14] #917 closed, assigned to shane-tomlinson

[2012-01-19 13:59] shane-tomlinson opened #918 "Link for "New to BrowserID?" on /signin is in a different location than other pages."
The "New to BrowserID?" link is below the box, whereas in other pages similar links are inside the box to the left of the button.

[2012-01-19 13:59] #918 closed, assigned to shane-tomlinson

[2012-01-19 14:15] shane-tomlinson commented on #406
@jbonacci, @lloyd, @jrgm - can anybody reproduce this?  I'm so far unable to which leads me to believe something else is going on here.

[2012-01-19 15:01] benadida opened #919 "lastpass thinks browserid form is insecure"
it's not clear why

[2012-01-19 16:29] lloyd opened #920 "disable aggressive caching headers in dev"
ETag headers introduced on templates make development hard.  we should relax them for local development

[2012-01-19 17:05] ozten commented on #916
Good find. The top level layout.ejs doesn't include the i18n file nor the gettext scripts.

Fixing...

[2012-01-19 17:16] ozten commented on #916
Attempted fix
https://github.com/mozilla/browserid/compare/8a84e6e...1d500e3#L0L5

[2012-01-19 17:30] #920 closed, assigned to nobody

[2012-01-19 17:45] lloyd commented on #912
suggesting 3 stars given other open issues.

[2012-01-19 17:57] lloyd commented on #898
@jrgm can't reproduce, can you @jbonacci ?

[2012-01-19 21:11] #916 closed, assigned to ozten

[2012-01-20 03:07] stephendonner commented on #742
I've seen this take as long as _13 seconds_, while debugging why our Selenium tests are timing out.  Is there any hope of putting this and other assets on a CDN?

[2012-01-20 09:09] shane-tomlinson opened #921 "Add routes for include.js and include.orig.js so that symlinks are not overwritten"
Currently whenever we run the compression script, the symlink to include.js is overwritten, frequently leading to an incorrect checkin.  Instead of updating the symlink, we could add routes that point to to these files.

include.js should be served from:

development: include_js/include.js
production: production/include.js

include.orig.js should always be served from include_js/include.js

Also,

[2012-01-20 12:45] shane-tomlinson commented on #911
This is fixed in https://github.com/mozilla/browserid/pull/922

[2012-01-20 12:48] shane-tomlinson commented on #111
Closing because this has been chosen.

[2012-01-20 12:48] #111 closed, assigned to lloyd

[2012-01-20 14:23] shane-tomlinson commented on #914
https://github.com/lloyd/myfavoritebooze.org/pull/3 fixes this.

@lloyd - can you review, merge, and update?

[2012-01-20 14:48] shane-tomlinson commented on #870
@lloyd - this is an odd one, on diresworb.org this can be distilled down into the following steps:

1) Open an account
2) Go to the diresworb.org manage page.
3) Cancel your account.
4) Go to beta.myfavoritebeer.org
5) Click login
6) Look at the response to session_context - it says you are still logged in.

{"csrf_token":"zZPIBTNF0sOILiu20N1TqQ==","server_time":1327070324707,"authenticated":true,

[2012-01-20 14:55] shane-tomlinson commented on #870
@lloyd - this also happens on dev.diresworb.org - would this have to do with the difference in database drivers?

[2012-01-20 18:45] sebilasse opened #923 "https policy"
amazing, but
- I wonder...
  We recommend the "clients" in our setup to use https !
  We verify by php and I put this example under a "normal" http ...
  http://tools.atto.be/browserid/

We can not force our clients to use "https" but BrowserID
works from http as well ...
--->
So: What exactly is your https "policy" ???
- We need bigger buttons and some CC elements to have
  a strong BrowserID "Co

[2012-01-20 18:54] ozten commented on #370
via email:

The bug dashboard - We have a fairly lightweight process for tracking issues.  We use github issues almost exclusively for our issue tracking.  We need a quick view of product health, in terms of how many high priority issues are open.  This view into our issues tracking would help instruct the team when we need to buckle down and start focusing on closing open issues, vs implementing

[2012-01-20 18:55] ozten commented on #896
via email

The status page.  Github, heroku, all the popular services on the interwebs have a status page.  We need a channel that directly communicates service status with sites that depend on us.  We need to be able to give feedback to our most important community members (those who rely on us for auth) about ad-hoc events related to service status.

This may be just a page on heroku or amazon o

[2012-01-20 18:57] ozten commented on #582
via email

Fix browserid configuration.  Unlike the previous two projects, this is more into core code.  A key problem we have right now is managing software configuration on different deployments.  We have a programatic abstraction which extracts system configuration from the environment and server specific javascript configuration code that is directly eval'd by the configuration abstraction.  I

[2012-01-20 19:01] cvan commented on #898
you can override the registration limit with https://apps-preview.mozilla.org/en-US/firefox/users/login?ro=mozillians

[2012-01-20 19:04] ozten opened #924 "Port po2json.pl to Node.js script"
Note: This issue might become obsolete if we switch to translate-toolkit, but...

We should port the GPL Perl based po2json.pl script
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/po2json.pl

The best target would be node.js without changing the output format. This way, we can let the l10n team use either our new po2json.js or the old po2json.pl.

The Identity team won't have to

[2012-01-20 20:33] shane-tomlinson commented on #890
@lloyd - looking good now, thanks for the pull merge.  Closing.

[2012-01-20 20:33] #890 closed, assigned to lloyd

[2012-01-20 20:45] shane-tomlinson opened #925 "remove the relativeDate code."
It's not used anywhere.

[2012-01-20 20:51] #925 closed, assigned to shane-tomlinson

[2012-01-21 17:21] salty-horse commented on #816
I'm running node 0.6.8 and experiencing the same missing dependencies as above, except mersenne.

for "npm test", "vows" is missing. It can be added to package.json as "devDependencies"

[2012-01-21 17:24] salty-horse commented on #816
Correction: mersenne is required, and so do iconv and mimelib-noiconv

[2012-01-21 17:54] salty-horse commented on #816
It seems like these are all dependencies of dependencies. According to https://github.com/isaacs/npm/issues/1336 "npm update" should resolve all missing dependencies.

[2012-01-21 18:06] swarren commented on #56
N-factor authentication would be better. Allow a whole bunch of options, and allow the user to require any arbitrary subset of them (or let them choose to require N of M they've configured, N being the user's own choice). Possible choices:
- Regular password
- Google authenticator code
- RSA keyfob
- SSL client certificate (one popular OpenID site does this, I forget which though)
- Call a telepho

[2012-01-21 22:29] cheery opened #927 "broken: Sign in to browserid.org with two different browsers"
This is what I tried:
- use chromium
- go to http://myfavoritebeer.org/
- sign in fresh using gmail.com (gmail.com isn't a primary at the moment I'm writing this)
- verify through gmail by checking your email
- write up your favorite beer
- next. use firefox
- go to the same favorite beer site
- try sign in using gmail again

What happens:
- oh wait it asks to verify again, okay verify, it asks yo

[2012-01-21 22:32] cheery commented on #927
Just tried: The browserid.org works well in chrome's incognito window.

Reversing this with the same firefox and then trying in chrome works too.

[2012-01-21 22:34] cheery commented on #927
Firefox version 9.0.1, Mozilla Firefox for Ubuntu canonical - 1.0
Chrome version 15.0.874.106 (Developer Build 107270) Ubuntu 11.10

[2012-01-22 18:14] joshtriplett commented on #56
While I agree that offering several options seems like a feature, I don't think it makes sense to make the process too complicated by having the user choose "N of M", especially not in the default path.  Remember that browserid.org only exists to support browsers without native BrowserID support.  Let's not bikeshed it too much. :)

I'd suggest picking some sensible subset inspired by bank-level s

[2012-01-22 19:21] swarren commented on #56
Huh, browserid.org could use some link to the "big picture" background explanation then; I couldn't see anything that implied that the website was just a stop-gap measure.

I wouldn't rely on "bank security" as a good guide; most banks just rely on a user+password which isn't very secure.

[2012-01-22 19:42] joshtriplett commented on #56
Good point.  The documents posted around the launch of BrowserID talked about this quite a bit, but the developer documentation on browserid.org ought to talk about it too.

I suppose I meant the banks that actually implement security beyond the norm, which includes all the ones I've worked with.  More generally: pick something sensible based on sites which implement good two-factor authentication

[2012-01-23 15:39] shane-tomlinson opened #930 "IE8: Javascript errors when loading main site"
getttext comes before javascript-extensions.js - the latter has bind which the former uses.

[2012-01-23 15:56] shane-tomlinson opened #931 "i18n - build script needs updated for main site."
the build script has been updated for i18n for the dialog only, the main site has not been given this treatment - compression is causing problems.

@ozten - We still use client side gettext in the main site for error and wait strings, so we have to add gettext and the JSON files to the main site build.  This will at first not seem to cause any problems, problems will only appear if an error or wai

[2012-01-23 16:01] #930 closed, assigned to nobody

[2012-01-23 17:41] ghost commented on #406
@jbonacci - no, Sticky Keys were not enabled when reproducing this issue. What I did notice though, is that this issue is intermittent. With the same steps (start OS, launch browser + steps from my previous comment) I managed to reproduce it tens of times in a row but then it stopped reproducing when opening the browser for the N-th time.

[2012-01-23 17:52] ozten commented on #931
Can you give me steps to repro?

[2012-01-23 18:04] ozten commented on #931
STR

1) https://dev.diresworb.org/

Expected:
No Errors

Actual:
In JS Error console 'Uncaught ReferenceError: gettext is not defined'

[2012-01-23 18:24] ozten commented on #931
First stab at fixing this http://git.io/mNaeJA

[2012-01-23 18:28] ozten commented on #931
Looks fixed.

[2012-01-23 18:28] #931 closed, assigned to ozten

[2012-01-23 18:52] jrgm opened #932 "problems using stage environment"
Sorry, incomplete description or STR (still debugging). But various attempts to signup or signin or add and email via the
popup on betamyfavoritebeer.org are leaving the UI in a non-responsive (or not proceeding) state.

e.g., for a new account, the stage_email is sent and the email received but the popup doesn't proceed past the Add button.

More in a bit.

[2012-01-23 18:58] lloyd commented on #932
one concrete problem, I tried logging in with a new email and after clicking 'verify' I did not get a transition to the "check your email" screen.

though everything else worked properly. (polling started, email sent, verification successful)

[2012-01-23 19:04] lloyd commented on #932
This issue discussed above looks a lot like GH-913. @shane-tomlinson is it possible that the "check email" screen was broken at the time we rolled the last train?  Is it possible your fix for 913 fixes it in dev?

[2012-01-23 19:22] lloyd commented on #932
1. In this case, I don't see the `check your email` page come up in the dialog, though it seems to work correctly.  this is a five star bug that's reproducible.  I believe GH-913 fixes it in dev
2. clicking on the 'add' button does not refresh the dialog and send you to the `check your email` page.  Very similar symptoms to #1.  This is a reproducible 5 star bug.  I believe GH-913 ALSO fixes this

[2012-01-23 19:42] lloyd opened #933 ""Check Your Email" not displayed on new-user sign in"
on beta train-2012.01.18 the dialog is not properly transitioning to the "Check your email" page upon attempt to create a new account in the dialog.  STR:
1. go to beta.myfavoritebeer.org
2. click login
3. enter an email address you've never used before
4. click `next`
5. click `verify`

Notice that there's a quick transition to `Check your email` (sometimes you can't even visually detect it), fol

[2012-01-23 19:42] lloyd commented on #933
this is one specific manifestation of issue #932

[2012-01-23 19:45] lloyd opened #934 ""Check Your Email" not displayed on email addition"
on beta train 2012-01.18 when adding an email to an existing account via the dialog, the "Check Your Email" screen is not displayed.  STR:
1. go to http://beta.myfavoritebeer.org
2. click `login`
3. you should already be logged in with an existing browserid acct with any number of emails associated with it.
4. click `use a different email`
5. type in an email you've never used before
6. click `add

[2012-01-23 19:46] lloyd commented on #934
This is a specific manifestation of issue #932

[2012-01-23 19:47] lloyd opened #935 ""Check Your Email" not displayed on in-dialog "forgot your password""
an issue on train-2012.01.18 - STR:
1. go beta.myfavoritebeer.org
2. click `login`
3. click `this is not me` if you're already signed in
4. type in the email address of an existing browserid acct
5. click `next`
6. click `forgot your password`
7. click `reset password`

Notice flicker (the buttons) and that you are not successfully transitioned to the "Check Your Email" page.

[2012-01-23 19:49] lloyd commented on #935
This is a specific manifestation of issue #932

[2012-01-23 19:49] lloyd commented on #932
broken into three specific issues, GH-933, GH-934, GH-935.  closing down this as we now have specific user flows that are broken enumerated into their own issues.

[2012-01-23 19:49] #932 closed, assigned to lloyd

[2012-01-23 19:53] lloyd opened #936 "Dev: dbwriter dies on `stage_email` call"
on current dev we've witnessed dbwriter dying on a `stage_email` API call.  This manifests to the user as an "internal server error" at the time the user attempts to add a new address to an existing account.

Inspecting logs we see a dbwriter restart and connection failures from the webhead forwarding requests to dbwriter.

/cc @shane-tomlinson @ozten - could this be related to i18n changes?  I'll

[2012-01-23 20:17] jrgm opened #937 "load_gen memory growth and utimate out-of-memory failure."
While running bin/load_gen from client4 against stage servers over this past weekend I had noticed that RSS was
into the GB range. (Sorry, I wasn't tracking RSS growth systematically; next time).

Here is the related QPS graph for this period of time:
http://pencil.scl2.stage.svc.mozilla.com/dash/stage/bid_webhead_wsapi?start=2012-01-20+15%3A00%3A00&duration=48+hours&width=1000&height=400

I suspe

[2012-01-23 20:28] davereid commented on #569
For those looking for where issue is headed, the link to the repo is https://github.com/shane-tomlinson/browserid-profile

[2012-01-23 20:29] ozten commented on #936
It could be related, but I can't reproduce dbwriter dying in dev with in English or Esperanto by adding email addresses.

[2012-01-23 20:38] jrgm commented on #937
Two things to note in the graph:
1) the gap in the graph about 12am Saturday was due to some failure in the stage environment.
2) about 10am Sunday morning the QPS drops precipitously. I wasn't looking at that time, but smells like maybe GC thrash had begun (/me waves hands).

[2012-01-23 21:25] ozten opened #938 "Add Vary HTTP header for Accept-Language and Accept-Encoding"
We should set Vary: Accept-Encoding,Accept-Language for requests.

Fixes:
1) server side gettext won't be cached for all locales
2) properly serving static resources to clients that can consume different representations (gzib, etc)

[2012-01-23 22:04] lloyd opened #939 "must compress resources on diresworb.org"
currently in our staging env we're not running with compressed minified resources.  this adds many potential bug vectors between beta and prod.  not ok.

[2012-01-23 22:17] ckolos opened #940 "Continuously prompted for password after logging into eyedee.me"
After logging into eyedee.me and successfully auth'ing, I attempt to login to beta.myfavoritebeer.org. I select BrowserID as my auth method and after entering my email address for eyedee.me, I am reprompted, over and over, for my eyedee.me password.

I am using Nightly, 12.01a

[2012-01-23 22:19] ckolos commented on #940
Links to images showing, in rough chronological order, what I see: http://carrera.databits.net/~ckolos/bidbug

[2012-01-23 23:17] #938 closed, assigned to lloyd

[2012-01-24 00:59] Mardak opened #946 "Should be able to hit enter to start verifying a primary email"
Right now, nothing happens when hitting enter on "Verify With Email Provider" dialog.

[2012-01-24 01:02] shane-tomlinson opened #947 "scroll bar appears in required email flow when verifying with primary"
Steps to reproduce:

1) Open dev.myfavoriteshow.org
2) Enter in a "primary" supported email address - something at eyedee.me
3) Check out the scroll bar.

Check out screen shot:
https://skitch.com/set117/g5882/browser-id

[2012-01-24 01:06] Mardak commented on #946
Enter "ed@eyedee.me" for an email address and hit enter. The next dialog to appear should be "Verify With Email Provider" and hitting enter does nothing.

[2012-01-24 01:10] shane-tomlinson commented on #947
Labeling 5 star though it is a new feature just because it is such an ugly ugly user facing blemish on an otherwise awesome feature.

[2012-01-24 01:33] jrgm commented on #946
@markdak you mean that the 'verify' button should be focused in that dialog (so hitting Enter is the same as clicking
on that button). Right?

[2012-01-24 01:40] shane-tomlinson opened #951 "dev: required email with unauthenticated primary address no longer shows address."

[2012-01-24 02:35] ckolos commented on #940
Yeah, the multiple verify is what I'm seeing too. I'm not getting the unknown user error though... I _do_ however get a very brief interstitial that seems to show the verify was successful. I can't get a screenshot of it fast enough though...

[2012-01-24 03:03] jrgm commented on #933
looks okay to me in dev using IE9/win7...

[2012-01-24 03:07] jrgm commented on #934
looks ok to me on dev with IE9/win7...

[2012-01-24 03:43] jrgm commented on #935
This flow works (mostly) in dev for IE9/win7, but it has some unusual pauses (long enough that a user would think something had gone wrong) or in one try it moved from the check your email screen back to the cancel/reset-password
screen and just stuck there. Trying other win7 browsers now....

[2012-01-24 06:31] jrgm commented on #935
Ok, so I tried the STR at the beginning of this bug several times, alternating
IE9/Chrome16/FF9. I was also running the windows 'Resource Monitor' while
doing this ('Start > Accessories > System Tools > Resource Monitor' or from
cmd.exe '%windir%\system32\perfmon.exe -res').

After loading the confirmation link from the email sent out, IE9 would show a
~90% spike in CPU for several seconds; FF and

[2012-01-24 06:34] jrgm opened #954 "IE9/win7 showing some pauses (CPU spikes) when doing STR in GH-935"
See the initial STR in GH-935, and followup comments reproduced here:

Llloyd:
an issue on train-2012.01.18 - STR:
1. go beta.myfavoritebeer.org
2. click `login`
3. click `this is not me` if you're already signed in
4. type in the email address of an existing browserid acct
5. click `next`
6. click `forgot your password`
7. click `reset password`

Notice flicker (the buttons) and that you are not

[2012-01-24 06:35] jrgm commented on #935
Split off the IE9 sluggishness to GH-954.

[2012-01-24 12:26] shane-tomlinson opened #955 "IE8: Provisioning with sample IdP throws exceptions"
Steps to reproduce on local dev:

1) Go to sample RP
2) Enter in `<username>`@example.domain into required email.
3) Click "Get an assertion"
4) Watch IE8 blow up.

Screen clip: https://skitch.com/set117/g58xr/win7-pro-ie8-running

Extra Info from Debugger:
Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR

[2012-01-24 12:54] shane-tomlinson commented on #955
This is caused by the MPL license being above the DOCTYPE, putting the IdP into quirks mode.

[2012-01-24 13:09] shane-tomlinson opened #956 "IE8: Provisioning with primary required email causes "stop this script?" warnings."
Steps to reproduce:

1) Open IE8
2) Go to eyedee.me, log in as a user.
3) Go to beta.myfavoriteshow.org
4) Enter email you logged in with at eyedee.me
5) Open dialog
6) Watch dialog ask you questions.

It is stopping:

function am2(i,x,w,j,c,n) {
  var xl = x&0x7fff, xh = x>>15;
  while(--n >= 0) {
    var l = this.arr[i]&0x7fff;
    var h = this.arr[i++]>>15;
    var m = xh_l+h_xl;
    l = xl_l+(

[2012-01-24 13:18] shane-tomlinson opened #957 "IE8: Using the URL hash when redirecting from IdP to dialog breaks WinChan."
When the user returns from the IdP, WinChan can no longer find its relay window because the URL hash no longer contains the name of the relay frame.  Instead, the URL hash contains meta information about whether to add the email address to the current account or whether to create a new user.

[2012-01-24 13:56] shane-tomlinson opened #958 "IE8: Exception thrown before redirecting to IdP"
Steps to reproduce:

1) Go to beta.myfavoriteshow.org
2) Enter an address for eyedee.me for which you are not authenticated.
3) Open dialog
4) Open debugging tools (F12).
5) Click "Verify"
6) Watch IE throw a fit.

  Object expected  verify_primary_user.js, line 32 character 5

[2012-01-24 13:59] shane-tomlinson opened #959 "IE8: eyedee.me throws exception - console not defined."
Steps to reproduce
1) Open IE8
2) Go to http://eyedee.me

  'console' is undefined  jquery.js, line 16 character 15120

[2012-01-24 14:05] shane-tomlinson opened #960 "Screens with no input fields have no element/button focused"
This makes it difficult to use keyboard only.

prime example - primary email verification screen.

Check for others.

[2012-01-24 14:40] shane-tomlinson opened #963 "IE8 local dev - cannot load dialog."
Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0)
Timestamp: Tue, 24 Jan 2012 14:39:54 UTC

Message: Object doesn't support this property or method
Line: 41
Char: 3
Code: 0
URI: http://192.168.1.88:10002/shared/gettext.js

Message: Object expected
Line: 7

[2012-01-24 14:42] #963 closed, assigned to nobody

[2012-01-24 14:56] shane-tomlinson opened #964 "Incorrect IdP address shown when user needs to authenticate with IdP"
Steps to reproduce:

1) Log out of eyedee.me
2) Go to beta.myfavoriteshow.org
3) Enter your eyedee.me email address.
4) Open dialog
5) Check out the address that is displayed for where the user will be redirected to.  It always displays "http://192.168.1.88:10005/sign_in.html" which is my local machine.

Expected:
Show the URL the user will be redirected to.

[2012-01-24 15:57] lloyd commented on #957
that doesn't make sense.  winchan doesn't embed relay frame names in url hashes, ever.   https://github.com/lloyd/winchan/blob/master/winchan.js#L50-65

What's the user facing bug you observed here?

[2012-01-24 15:57] shane-tomlinson opened #965 "Cannot use eyedee.me with local dev."
eyedee.me is expecting post messages to come from browserid.org.

Steps to reproduce:
1) Open up local dev environment in a browser.
2) Enter an eyedee.me email address into the required email field.
3) Open the dialog.
4) Wait forever and ever.

[2012-01-24 16:27] lloyd commented on #947
hotfixed in 2012.12.18.02

[2012-01-24 16:34] lloyd commented on #935
hotfixed in train 2012.01.18

[2012-01-24 16:34] #935 closed, assigned to shane-tomlinson

[2012-01-24 16:34] lloyd commented on #934
hotfixed in train 2012.01.18 - in stage now

[2012-01-24 16:34] #934 closed, assigned to shane-tomlinson

[2012-01-24 16:35] lloyd commented on #933
hotfixed in train 2012.01.18 - in stage now

[2012-01-24 16:35] #933 closed, assigned to shane-tomlinson

[2012-01-24 16:35] ghost opened #966 "Users don't always get enough time to read the "Address verified" message"
STR:
1. Launch http://beta.myfavoritebeer.org.
2. Click on the Sign In button.
3. Enter an email address from a primary (eyedee.me). Make sure you are no logged into that primary with the entered email address.
4. Click on the Verify button and log into the primary.

The "Address verified" message is displayed for about 1-2 seconds. Many users will not be able to read the message is that time. The

[2012-01-24 16:38] ghost commented on #905
@shane-tomlinson - I have tried to test this on dev but I didn't see the grayed out buttons at all, nor the request taking too long message with the steps from the bug description. Can you please give me some steps I could see them with?

[2012-01-24 16:39] lloyd commented on #957
@shane-tomlinson can you add STR?

[2012-01-24 16:40] lloyd commented on #957
5 star - suggests IE8 is broken for primary support

[2012-01-24 16:42] ghost opened #967 "After the user cancels signing into the primary, the buttons from the BID dialog becomes unresponsive"
STR:
1. Launch http://beta.myfavoritebeer.org.
2. Click on the Sign In button.
3. Enter an email address from a primary (eyedee.me). Make sure you are no logged into that primary with the entered email address.
4. Click on the Verify button.
5. When the primary web page opens, click on the Cancel button.

The user is returned to the Sign In dialog with the Cancel and Verify buttons but both button

[2012-01-24 16:49] ghost opened #968 "When the user cancels a log in of an unauthenticated primary account, the email is still marked as most recently used"
STR:
1. Launch http://beta.myfavoritebeer.org.
2. Sign in with a BID with multiple emails from a primary (eyedee.me).
3. Select an email and log in.
4. Log out, the click on the Sign In button again.
5. Select another email address, then click on the Sign In button.
6. Click on the Cancel button.

The user is returned to the dialog with the emails list and the email selected at step 5 is marked as

[2012-01-24 17:43] shane-tomlinson opened #970 "IE8: Cannot log out of sample IdP"
Steps to reproduce:

1) Load up IE8
2) Go to sample local IdP
3) Sign in.
4) Try signing out.  It never works.

[2012-01-24 17:49] shane-tomlinson opened #971 "IE8: In local sample IdP, after authenticating as new user, /api/whoami thinks you are the old user."
Steps to reproduce:

1) load up IE8
2) Go to local sample IdP
3) Log in as a user1
4) load up sample RP
5) Try signing in as user2@example.domain.
6) When redirected to IdP, hit "OK".
6) After redirect back to BrowserID, it thinks you are still not authenticated.

More info.  After the first verification, you can open up the IE8 debugger and set a breakpoint in provision.html.  /api/whoami always

[2012-01-24 17:52] #939 closed, assigned to lloyd

[2012-01-24 18:52] lloyd commented on #970
resolved in eyedee.me, and deployed.  fix: https://github.com/lloyd/eyedee.me/commit/9fa42b8a6604b6d81eb13884d65317a50f9b1f67

[2012-01-24 18:52] #970 closed, assigned to lloyd

[2012-01-24 18:53] lloyd commented on #971
resolved in eyedee.me, and deployed. fix: https://github.com/lloyd/eyedee.me/commit/9fa42b8a6604b6d81eb13884d65317a50f9b1f67

[2012-01-24 18:53] #971 closed, assigned to nobody

[2012-01-24 19:26] #956 closed, assigned to lloyd

[2012-01-24 19:28] lloyd commented on #940
please clear cache and retest.  should be fixed in stage.

[2012-01-24 19:41] #909 closed, assigned to lloyd

[2012-01-24 20:45] jrgm opened #972 "[regression] 'Always sign in with this email' doesn't persist login across browser restarts"
This is in the 01.18 train "1df6d4b update changelog with hotfixes into train-2012.01.18, bump rpm version number"
1. Start with a clean/new profile (optional)
2. Go to beta.myfavoritebooze.org
3. Sign in using an existing email address and check the box for 'Always sign in...'
4. Restart browser; return to beta.myfavoritebooze.org

Expected:
- no signin required; you are logged in

Actual:
- sign

[2012-01-24 21:34] lloyd commented on #964
merged into 2012.01.18

[2012-01-24 21:34] #964 closed, assigned to shane-tomlinson

[2012-01-24 22:12] ckolos commented on #940
Respectfully, I disagree. Cleared cache and same result.

I do not have permission to reopen this bug and, frankly, I question it being closed without waiting for a result. Saying "Should be fixed in stage" isn't the same thing as "Yes, I saw this bug and fixed it in stage, but I will wait to see if that fix applies to you."

[2012-01-24 22:26] jrgm commented on #939
Confirmed that webheads are serving minified resources from staging, e.g.,
/home/jrgm/tmp/production/dialog.js
/home/jrgm/tmp/production/browserid.js

[2012-01-24 22:44] ckolos commented on #940
@jbonacci - Nightly 12.01a, dl'd from mozilla, updated today. Running on ArchLinux Kernel: 3.2.1-1-ARCH #1 SMP PREEMPT Fri Jan 13 06:50:31 CET 2012 x86_64 Intel(R) Xeon(R) CPU 5160 @ 3.00GHz GenuineIntel GNU/Linux

[2012-01-25 00:22] lloyd commented on #940
@ckolos Sorry for misreading the issue.  I have an arch linux machine here, I'll test under your precise environment this evening.

[2012-01-25 04:24] jrgm commented on #940
I'm on Ubuntu 11.10, but I cannot reproduce this. Sorry to say.

[2012-01-25 06:32] lloyd commented on #940
@ckolos I'm on Nightly 12.0a1 (2012-01-24) - Running on ArchLinux Kernel: Linux clover 3.2.1-2-ARCH #1 SMP PREEMPT Mon Jan 23 12:40:01 UTC 2012 x86_64 Intel(R) Core(TM) i5-2400S CPU @ 2.50GHz GenuineIntel GNU/Linux

I can't reproduce this issue.  Here's what I did:
1. run firefox with a fresh profile
   1. `./firefox-bin -P`
   2. click `create profile`
   3. click `next`
   4. name the profile `f

[2012-01-25 07:05] lloyd commented on #937
I feel like there is a high chance that this is the root cause for issue #875.

It would be useful to sample loadgen RES size and CPU usage at hourly intervals.  if the growing heap is causing loadgen to loose efficiency (we've seen this before), then we should see CPU usage grow at 100% as time goes on.

I think the next step is to sample hourly and then based on the data we'll figure out an appr

[2012-01-25 08:24] lloyd commented on #620
I've done some research.  Here's my conclusions.  We have three types of URLs that should be treated differently:
1. api requests - should be `Cache-Control: no-store`
2. static files - should be `Cache-Control: public, max-age=0` and should have a proper `ETag`
3. rendered views - should be `Cache-Control: public, max-age=0` and should have a proper `ETag`.  should include a Vary header, and etag

[2012-01-25 08:24] lloyd commented on #620
/cc @shane-tomlinson @vmunix @fetep @ozten

[2012-01-25 08:54] Seldaek commented on #620
1. I'd put `private, no-store` and an additional `Expires: 2000-00-00 00:00:00` or such for old HTTP/1.0 proxies, to be sure they are not cached anywhere.
2. Please don't use ETag, it doesn't play well with multiple-servers setups (i.e. scales bad) unless you generate them yourself then it's ok, but it still requires everyone to revalidate, so you don't eliminate http requests altogether. Besides

[2012-01-25 09:16] lloyd commented on #620
@Seldaek thanks a ton for jumping in.

love the  with uniquely versioned file names approach, that's the way we want to go.  Hadn't thought about the expires header in the past for old proxies, I'll add that.

w.r.t ETags - we generate them and we do so by combining mtime, locale, and file size, so they should be consistent across our production servers.

[2012-01-25 10:35] Seldaek commented on #620
If you do uniquely versioned assets, for static files I would not use etags but rather far-future expires/max-age. For pages this is not practical since you can't really change the links all the time, so using ETag to save a bit on bandwidth might be good.

[2012-01-25 11:35] shane-tomlinson opened #979 "add Cache-Control headers to prevent IE from caching api responses for in-tree testing primary"
Using this as a post-action tracking bug, @lloyd already checked in fix in 6652a4bc4eb51ed73d4e1c469a7985c0465f69d9

[2012-01-25 11:36] shane-tomlinson commented on #979
@jbonacci, @jrgm, @ioanab

Steps to check that this is working as intented requires local dev environment:

1) Load up IE8
2) Go to sample IdP http://localhost:10005
3) Sign in as a user
4) Sign out.

[2012-01-25 11:37] shane-tomlinson commented on #979
Commit 03d38c8b8a9e07bc06c364f6337855c6109fc5c9 brings this to dev.

[2012-01-25 11:53] #958 closed, assigned to shane-tomlinson

[2012-01-25 11:54] shane-tomlinson commented on #957
Closing, this was a code path that was exercised because of other errors.  No longer a problem.

[2012-01-25 11:54] #957 closed, assigned to lloyd

[2012-01-25 12:00] shane-tomlinson opened #980 "dev.myfavoritebooze.org - 'Helpers.complete' is null or not an object"
Steps to reproduce:

1) Go to dev.myfavoritebooze.org
2) Look at the error console.

  'Helpers.complete' is null or not an object  communication_iframe.js, line 7 character 7797

[2012-01-25 12:09] #980 closed, assigned to shane-tomlinson

[2012-01-25 12:16] shane-tomlinson commented on #980
6cda29f5228ec98c67a5c31158ab5d7c0625aff3 a part of this as well.

[2012-01-25 12:27] shane-tomlinson opened #981 "IE8: &apos; not supported"
Bug for another Mozilla project:

https://bugzilla.mozilla.org/show_bug.cgi?id=661815

`&apos;` not supported by IE8, but `&#39;` is

@ozten - Is `&#39;` supported by gettext? Will it cause any problems with translations?

@jbonacci, @jrgm, @ioanab

Steps to reproduce:
1) Fire up IE8
2) Go to an RP
3) Try to sign up using a new account.
4) Look for the &apos; in "This email looks new, so let's get

[2012-01-25 12:28] #979 closed, assigned to lloyd

[2012-01-25 12:52] shane-tomlinson commented on #955
@jbonacci - there was a missing bit in the initial steps, I forgot to surround `<username>` with the quotes.  Make sure you add a username before the @example.domain

Closing this issue, waiting for verification.

[2012-01-25 12:52] #955 closed, assigned to shane-tomlinson

[2012-01-25 12:54] shane-tomlinson commented on #951
Fixed with #964

[2012-01-25 12:54] #951 closed, assigned to nobody

[2012-01-25 13:10] ghost opened #982 "browserid doesn't seem to work if 3rd party cookies are disabled"
I had third-party cookies disabled (like a lot of people will) and got stuck in a loop where I couldn't sign in to myfavoritebeer (either dev or beta) after creating an eyedee.me account.  There was no way to know what the problem was, just an endless signin loop with no indication of a problem -- I just had to guess.  Luckily I eventually guessed right and re-enabled third-party cookies and it wo

[2012-01-25 13:12] ghost opened #983 "cancel button on browserid dialog doesn't seem to do anything"
While failing to sign in to myfavoritebeer (see issue #982), I hit the cancel button on the browserid dialog and it didn't actually cancel anything.  Not sure they're hooked up :)

[2012-01-25 13:45] shane-tomlinson commented on #982
Thanks @dria.

Related to #835.  835 is for cookies in general disabled, this is 3rd party.  Keeping both open.

[2012-01-25 13:46] shane-tomlinson commented on #983
@dria - is this after authenticating with eyedee.me and being redirected back to the BrowserID content?

[2012-01-25 13:54] ghost commented on #983
Yeah, while I had 3rd party cookies disabled.

[2012-01-25 15:29] ckolos commented on #940
Profile change seems to have fixed it. Thanks for digging in.

[2012-01-25 15:31] ckolos commented on #940
I will say this; I was visiting eyedee.me first, auth'ing there, then visiting beta.myfavoritebeer.org. That's a slightly different order than above, but regardless, with a new profile, the issue is non-reproducible.

[2012-01-25 16:03] ozten commented on #936
Do we have monit logs to see how often this happends? Maybe we can correlate them with the browserid logs to get steps to reproduce?

[2012-01-25 16:20] ozten commented on #879
Emails look correct in gmail.

Could be mailinator doesn't handle utf-8.

[2012-01-25 17:15] lloyd commented on #940
dang, could it be that you had "third party cookies" disabled in your default profile?  Is this a duplicate of GH-982

[2012-01-25 17:19] lloyd commented on #940
10:18 < ckolos> lloyd: I can confirm that as a matter of course, I disable third-party cookies.

[2012-01-25 17:32] lloyd commented on #940
closing this down and moving discussion to GH-982

[2012-01-25 17:32] #940 closed, assigned to lloyd

[2012-01-25 17:35] lloyd commented on #982
thanks @dria!

plenty of discussion from the dev team starting here:  http://irclog.gr/#show/irc.mozilla.org/identity/48330

We're going to need to figure out how to improve the experience of people with third party cookies disabled, ideally figuring out a way to make things Just Work.  This may involve re-visiting some aspects of the design of primary support.

[2012-01-25 17:46] lloyd commented on #921
merged to dev.

[2012-01-25 17:46] #921 closed, assigned to nobody

[2012-01-25 17:47] lloyd commented on #911
fixed on dev: https://dev.diresworb.org/include.orig.js

[2012-01-25 17:47] #911 closed, assigned to nobody

[2012-01-25 19:08] ozten commented on #981
&#39; should be fine in gettext.

[2012-01-25 19:59] #936 closed, assigned to lloyd

[2012-01-25 23:13] jrgm opened #984 "Clicking on 'use another email address' after 'reset password' returns to wrong screen"
1) go to http://beta.myfavoritebeer.org with a clean browser profile (or
   simply ensure you are signed out of diresworb.org).
2) On beta.myfavoritebeer.org, click Sign in. The /sign_in popup window comes
   up. Enter an email address that is known to diresworb. Click next.
3) Click on 'forgot your password?' when it is shown.
4) Click on 'reset password' when that button is shown.
5) On the 'Che

[2012-01-26 00:41] jrgm opened #985 "IE8: Logout link _completely_ invisible/undiscoverable on beta.myfavoritebeer.org"
1) Go to http://beta.myfavoritebeer.org and signin.

Expected: when logged-in, the logout link is visible and clickable

Actual: logout link is undiscoverable. This is _not_ the same as it just being
hard to locate (known issue).  On my winxp/IE8 system, I cannot locate the
link, either by selecting all the content to get reverse highlighting, or by
hovering over where it should be (by locating it

[2012-01-26 02:03] jrgm commented on #985
No, it's (faintly) visible, and also hoverable, on FF10beta{WinXP, WIn7, OSX, Ubuntu), Chrome16(WinXP, OSX, Ubuntu), and IE9/WIn7

[2012-01-26 03:16] lookfirst commented on #797
Ugh. @jbonacci sure, after @skinny97214's truly unhelpful and dismissive response above and the total lack of response on #809, I'm kind of disheartened to think that it is possible for even basic standard UX practices to be followed around here.

We've integrated BrowserId into our webapp, but only as a fallback to people who refuse to use FB. In my eyes, because of this, BrowserId will always be

[2012-01-26 13:08] shane-tomlinson commented on #985
@jrgm - I'm not able to reproduce with WinXP SP3/IE8.

https://skitch.com/set117/ghbnt/winxp-sp3-ie8-running

[2012-01-26 13:58] #960 closed, assigned to shane-tomlinson

[2012-01-26 13:58] #946 closed, assigned to nobody

[2012-01-26 14:03] shane-tomlinson opened #987 ""Go check your email" screen in required email flow has "cancel and try a new email" link"
Steps to reproduce:
1) Go to beta.myfavoriteshow.org
2) Enter an email unknown to browserid.
3) Click verify email.

https://skitch.com/set117/ghbkq/browser-id

[2012-01-26 14:20] shane-tomlinson commented on #983
Note for me:

The cancel button is shown, but the state machine does not know how to handle it because there is nothing in its history at this point.

[2012-01-26 14:22] shane-tomlinson opened #988 "primary_user_verified template needs gettextified"

[2012-01-26 14:26] #988 closed, assigned to nobody

[2012-01-26 15:02] #966 closed, assigned to nobody

[2012-01-26 15:30] tonychung commented on #711
I'm consistently hitting a CSRF violation on my iphone 4 now.    This is after clearing cache, history, cookies on safari, and visiting any RP that uses dev, stage, or prod browserid servers.

Action: Authenticating User
Network Info: POST: /wsapi/authenticate_user
Response Code - error
Response Text: Bad Request: CSRF violation
Error Type: Bad Request

[2012-01-26 17:24] jrgm commented on #985
So, it's a function of the length of the email address.

Try set117+x@yahoo.com or set117+xy@yahoo.com

[2012-01-26 17:57] lloyd commented on #967
duplicate of GH-983

[2012-01-26 17:57] shane-tomlinson commented on #965
By design, closing.

[2012-01-26 17:57] #965 closed, assigned to nobody

[2012-01-26 17:57] lloyd commented on #959
fixed

[2012-01-26 17:57] #959 closed, assigned to lloyd

[2012-01-26 18:13] lloyd commented on #923
BrowserID branding is by design.

Now, while we recommend using HTTPS, some of our demos are lazy and use HTTP.  If you think we could document this more clearly, please open another more focused issue!

Thanks for droppin' by,
lloyd

[2012-01-26 18:13] #923 closed, assigned to nobody

[2012-01-26 18:21] shane-tomlinson opened #989 "disabling 3rd party cookies will break persistent/silent sign in."
Relating this to #982

[2012-01-26 18:49] lloyd opened #990 "handle stalling in mysql driver"
We are seeing sporatic mysql driver time out and stalling.  The first step to addressing this is to detect the situation and recover.  We should implement application level detection of slow queries that output an error in the log but reconnect and continue running if a query takes longer than N seconds.

[2012-01-26 19:15] lloyd commented on #990
/cc @vmunix @fetep

So dudes.  is this crazy?  I'm thinking a very simple way to get TCP connection falldown connection is to stop using the mysql driver's built in query queue completely.  Rather apply something that has its own queue, is well tested, and we can easily introduce the ability to cancel jobs if they take too long.

node-compute-cluster doesn't have the right name for this applicatio

[2012-01-26 20:35] shane-tomlinson opened #991 "lots of screen flicker on main site in add_email_address and verify_email_address"

[2012-01-26 20:43] #775 closed, assigned to nobody

[2012-01-26 20:43] ozten commented on #775
No one is maintaining the Vagrant scripts and per discussion in groups, they have been removed. Closing issue.

We can always create a Vagrant script in an external project.

[2012-01-26 22:00] shane-tomlinson commented on #955
@jbonacci - I'm not seeing any errors anymore on my dev machine.  It looks like navigator.id is not being found in your case which normally means there is a problem getting include.js

if you go to http://10.251.25.155:10002/include.js, do you get a response?

[2012-01-27 00:07] jrgm commented on #927
Hi Cheery,

I can't reproduce this with FF and Chrome on Ubuntu, or on OSX.

A couple of questions to clarify:
- you said "use chromium", but later say 'chrome'. Did you mean you were using a chromium build downloaded from, e.g., http://www.chromium.org/getting-involved/download-chromium in comment #0? Or using a Google Chrome build in both those comments.
- which browser(s), at what times in thes

[2012-01-27 16:18] cheery commented on #927
It's chromium, but not the build downloadable from there. I could try it with the newest build though.

I first tried it with chromium, then with firefox. At the time when I started firefox, chromium was down and firefox had not logged into gmail.com

Appears it's not very common bug anyway though.

[2012-01-27 17:06] jrconlin commented on #794
There has been little movement on this in the mailing list. I know that there are other efforts being made for passing additional identifying information which may include things like secondary emails or associations.

[2012-01-27 18:42] ozten opened #992 "Tracking - technical jargon in strings"
This bug will list strings in po files that are hard to translate.

If there is an action, we can spin off a separate issue.

For  each sting we should do one of these:
1) Tell localizers to treat as technical jargon
2) Remove gettext if message isn't exposed to users
3) File a bug to rewrite copy - this must be done in the next release train, since we're past string freeze

[2012-01-27 18:43] ozten commented on #992
http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/en_US/LC_MESSAGES/client.po

via IRC Besnik_b: client.po has something like "This window will be redirected to" I'd suggest to reword that in something like "This action will be redirected to" or "This window will redirect you to"

[2012-01-27 18:44] ozten commented on #992
via IRC Besnik_b: Also, could someone give a hint how to translate the strings about Assertion?

#: resources/static/shared/error-messages.js:26
msgid "Authenticating with Assertion"
msgstr ""

#: resources/static/shared/error-messages.js:59
msgid "Getting Assertion"
msgstr ""

[2012-01-27 18:45] ozten commented on #992
via IRC Besnik_b: The last thing: "Relay frame" is misspelled for "Frame relay" or am I missing something. I must confess that my knowledge of networks' working is null.

#: resources/static/shared/error-messages.js:104
msgid "Relay frame could not be found"
msgstr ""

[2012-01-27 18:50] ozten commented on #992
@mathjazz please provide guidance.

@shane-tomlinson are any of the strings mentioned here not actually shown to users?

@skinny97214 these can feed into existing or new UX focused issues.

[2012-01-27 18:58] mathjazz commented on #992
We usually try to add comments when string are hard to translate. Relay frame and Assertion are both very technical terms that should probably be explained in a couple of words. Is anyone good at explaining them? :-)

[2012-01-27 19:07] skinny97214 commented on #992
My guidance for these sorts of technical errors is to say

"Something with the system went wrong." and then whatever their resolution is, i.e. "try again in a few minutes"

You can still say "Relay frame could not be found" in a div set to display:none so our devs and QA can inspect the element and see the detailed error.

[2012-01-27 22:47] ozten opened #993 "dev server scripts/compress.sh doesn't generate zh_TW build files"
dev.diresworb.org runs in "production" mode, but hosts "development" locales.

Currently this is overcome by `extra_config.js` above the code.

However, scripts/compress.sh doesn't use this extra config. When it shells out to scripts/production_locales it only generates en-US, eo, and db_LB.

I've updated our dev locales to the 30 new locales plus it_CH as the trigger instead of eo.

What do I nee

[2012-01-30 02:20] vmunix commented on #620
@fetep can you confirm our deploy scripts will respect/ensure a consistent mtime across servers?

[2012-01-30 02:37] lloyd commented on #620
Confirmed: http://irclog.gr/#show/irc.mozilla.org/identity/48316

--lloyd

On Jan 29, 2012, at 7:20 PM, Mark Mayoreply@reply.github.com wrote:

[2012-01-30 09:05] shane-tomlinson opened #999 "Completion of reset password from second browser does nothing with original dialog"
When resetting a password from a second browser, the original dialog takes no action to either close or log the user in.

Steps to reproduce:
1) Open beta.myfavoritebooze.org in browser 1.
2) Log out of any users.
3) Enter in a known user name
4) Click "forgot your password?"
5) Click "reset password"
6) Open link in reset password mail in browser 2.
7) Enter new password
8) Click Finish
9) Origin

[2012-01-30 09:31] shane-tomlinson commented on #972
Could not verify this in FF9/OSX, but could in Chrome16/OSX.

The communication_frame is being loaded up and no cookies are being sent.  With no cookies being sent, browserid thinks there is no session.  Without a session, there can be no silent assertion.

All is fine if I run myfavoritebooze locally.

@lloyd - This seems like a problem with cookies, any ideas?

[2012-01-30 09:35] shane-tomlinson commented on #322
Closing.

We now have both change password and set password on accounts that need passwords..

[2012-01-30 09:35] #322 closed, assigned to lloyd

[2012-01-30 09:40] shane-tomlinson opened #1000 "Feature: Set password on new account inside dialog"
This is a tracking bug for an experiment for @skinny97214

The create account flow is quite confusing - mix in unverified emails and there is a lot of room for "WTF" with regards to account completion.  The purpose of this experiment is to put the "set password" flow inside of the dialog.

[2012-01-30 12:11] shane-tomlinson commented on #992
@ozten, @skinny97214 - the technical jargon @lloyd and I kept in with the hopes that we could get users to Tweet this info in English and give us some good clues as to catastrophic failures happening.

Other ideas we had were to not display the info but to auto-submit it to a BrowserID error logger, but this will only work if BrowserID is actually online.

[2012-01-30 13:17] shane-tomlinson opened #1001 "cancel from "forgot password" does not remember entered email address"
Steps to reproduce:

1) Go to beta.myfavoritebeer.org
2) Open BID dialog.
3) If logged in, click "this is not me"
4) Enter in known email address
5) click "Forgot your password?"
6) Click cancel

The email address entered before is not remembered.

[2012-01-30 13:19] shane-tomlinson commented on #1001
Linking to #984

[2012-01-30 14:48] shane-tomlinson opened #1002 "cancel from "verify primary" address does not remember previously entered email address"
Steps to reproduce:

1) If authenticated, go to eyedee.me and logout
2) Go to beta.myfavoritebeer.org
3) Open BID dialog.
4) If authenticated, log out.
5) Enter known eyedee.me address.
6) Click Next
7) Click Cancel

Where'd the address go?  BOO!

[2012-01-30 15:26] shane-tomlinson opened #1003 "Clicking on "Use another address" for new user registration does not remember previously filled in email."
Steps to reproduce:

1) Go to beta.myfavoritebeer.org
2) Open BrowserID dialog.
3) If logged in, log out.
4) Enter unknown secondary supported address
5) Click "Use another address"

Check out the empty email address.

Expected:
Pre-filled in email address.

[2012-01-30 18:25] shane-tomlinson opened #1004 "Clicking on "Use another address" for adding an email to account does not remember previously filled in email."
Steps to reproduce:

1) Go to beta.myfavoritebeer.org
2) Open BID dialog.
3) Sign in, go to email picker.
4) Click "Add a new address"
5) Add a new secondary address that needs validated.
6) Click "Use another address"
7) Wait for previous screen to appear.

Uh oh, email address is not remembered.

Expected: Previous email address is already filled in.

[2012-01-30 20:24] ozten opened #1005 "Dev: compress.sh doesn't create locale specific versoins of dialog.js"
Steps to Repro

1) For a "production" deployment, such as dev.diresworb, modify config to have

[code]

2) run ./scripts/compress.sh

Actual:
resources/static/production has dialog.js

Expected:
resources/static/production/en_US/dialog.js
resources/static/production/db_LB/dialog.js

CC @lloyd

[2012-01-30 20:24] ozten opened #1006 "Dev: compress.sh doesn't create locale specific versoins of dialog.js"
Steps to Repro

1) For a "production" deployment, such as dev.diresworb, modify config to have

[code]

2) run ./scripts/compress.sh

Actual:
resources/static/production has dialog.js

Expected:
resources/static/production/en_US/dialog.js
resources/static/production/db_LB/dialog.js

CC @lloyd

[2012-01-30 20:29] ozten commented on #1006
Github Issues is having a Monday. Closing dup.

[2012-01-30 22:12] ozten commented on #1005
I think I have a fix for this:
http://git.io/cAoG4A

I don't know how to test locally, so I'll log into dev.diresworb and see if it did the trick.

[2012-01-30 22:28] ozten commented on #1005
Compress.sh over 33 locales takes 3 minutes and 31 seconds on my laptop :(

[2012-01-30 22:50] ozten opened #1009 "uglify step of compress.sh too slow of multiple locales"
As noted in Issue#1005, Enabling 33 locales and running compress takes 3 and a half minutes.

Switching to `uglify inputfiles &` in the loop only shaves off 30 seconds.

I'll try pre-uglifying the top and bottom portions of each script, then using cat to assemble per locale.

[2012-01-30 22:51] ozten commented on #1005
This is fixed. Filed Issue#1009 to track compress.sh slowness.

[2012-01-30 22:51] #1005 closed, assigned to ozten

[2012-01-30 23:56] ozten commented on #1009
Running uglify outside of locale specific loop to reduce build time.

Fixed in http://git.io/qzxKKw

[2012-01-30 23:56] ozten commented on #1009
Oh, script takes 14 seconds for 33 locales...

[2012-01-31 00:08] ozten commented on #1006
Reverted commit, it broke dev.diresworb.

This change passed both unit test runs, but not in a server running in production mode.

[2012-01-31 00:08] skinny97214 commented on #992
@shane-tomlinson ahh... ok. I didn't realize that was a concern. It seems like that's a pretty spotty feedback loop. Do we have other options for logging the error? Pushing it into the UI is no bueno.

[2012-01-31 01:29] jrgm opened #1011 "bin/browserid on stage webhead dies on network issue"
on one of the webheads in stage, the browserid restarted at 30 Jan 12:38:19; @fetep notes that there was a '"networking event" at almost exactly that time.'

These are the last messages on browserid.log. Note the long pause before the error, and then the restart messages

{"level":"info","message":"127.0.0.1 - - [Mon, 30 Jan 2012 20:37:43 GMT] \"GET /wsapi/session_context HTTP/1.0\" 200 193 \"-\"

[2012-01-31 07:15] lloyd commented on #1006
looks like iconv needed to be added to package.json for this?  got a commit coming your way...

[2012-01-31 07:39] lloyd commented on #231
this is done.

[2012-01-31 07:39] #231 closed, assigned to lloyd

[2012-01-31 07:41] #582 closed, assigned to lloyd

[2012-01-31 07:41] #1006 closed, assigned to ozten

[2012-01-31 11:55] AutomatedTester opened #1012 "Feature request: Test Users for use in automated testing"
It would be great if we could have something like http://developers.facebook.com/docs/test_users/ where we can have automated tests create a test user and then use it when we are creating apps. Currently I am getting a number of regressions around my userflow after login and I cant automate my login since its all OSS on github.

[2012-01-31 17:02] ozten commented on #1006
Ah, sorry about that.

[2012-01-31 18:21] ozten commented on #1009
github must have eaten my update yesterday...

I had to revert http://git.io/qzxKKw

uglifyjs does name munging, that breaks the scripts. If we turn name munging off, the file size increase isn't horrible.

[2012-01-31 18:51] ozten commented on #1009
I've tried turning off all the uglifyjs features (-nm, -ns --no-dead-code --no-seqs), but it still outputs un-usable minified JavaScript.

This is because it optimizes the whole file holistically, but isn't aware of the other two files it would need to take into account.

Back to the drawing board...

[2012-01-31 19:03] lloyd commented on #972
in current dev, if you test via 127.0.0.1:10001, first logging in with "allow persistent" enabled, then signing in with "silent" checked, the silent mechanism seems to be working.  will check against that train.

[2012-01-31 19:07] fetep commented on #990
sounds reasonable. we want to make sure cancelling transactions cancels on the server side, too (this should also happen in the case of a client-side query timeout).

[2012-01-31 19:19] lloyd commented on #972
this problem can be reproduced locally:
1. check out train-2012.01.18
2. npm install
3. visit http://127.0.0.1:10001
4. click 'allow persistent'
5. click 'get an assertion'
6. reload
7. click 'silent'
8. click 'get an assertion'

notice null is returned.  So this is a regression in train-2012.01.18 that is fixed in dev.

[2012-01-31 19:21] lloyd commented on #990
[code]

[2012-01-31 19:50] ozten commented on #1009
If we sacrifice size of final assets, we can reduce build time.

For 33 locales:
uglifyjs -nm -ns
1 min 7 seconds - 333K dialog.js

uglifyjs
3 min 30 seconds - 250K dialog.js

Not sure what the right trade off is, or what other compressors we've already explored (jsmin, ycompressor, etc)

@shane-tomlinson @lloyd @benadida thoughts?

[2012-01-31 20:02] ozten opened #1013 "dev.diresworb.org/sign_in db-LB server side gettext not translated"
Steps to Reproduce
1) Set Browser Locale to it-CH (db-LB trigger locale)
2) Go to http://dev.myfavoritebeer.org/
3) Click Sign in

Actual:
View Source: "BrowserID Home" as well as the footer "BrowserID is the fast and secure way to sign in — learn more" aren't translated, but the rest of the page is.

Expected:
All user visible strings would be upside down.

[2012-01-31 20:26] ozten commented on #1013
Doing the following... I get the localized strings back

ssh into dev.diresworb

[code]

outputs '
‮ԐɹoʍsǝɹIᗡ ıs ʇɥǝ ɟɐsʇ ɐup sǝɔnɹǝ ʍɐʎ ʇo sıƃu ıu &mdash;‮ <a target="_blank" href="/about">‮ʅǝɐɹu ɯoɹǝ</a<

[2012-01-31 20:55] benadida opened #1014 "Move login to SRP"
so that password is never even sent to the server.

[2012-01-31 21:05] davidascher commented on #1014
And by SRP he means; http://en.wikipedia.org/wiki/Secure_Remote_Password_protocol

[2012-01-31 21:17] #1013 closed, assigned to nobody

[2012-01-31 21:35] #993 closed, assigned to nobody

[2012-01-31 21:35] ozten commented on #993
This is fixed with @lloyd's convict work.

[2012-01-31 21:36] #879 closed, assigned to ozten

[2012-01-31 21:36] ozten commented on #879
This is looking good so far, closing.

[2012-01-31 21:36] ozten commented on #565
@mathjazz can you create da_DK?

[2012-01-31 21:38] ozten commented on #81
Fantastic. Please coordinate with @mathjazz.
Here is fr progress:
https://localize.mozilla.org/fr/browserid/

[2012-01-31 21:39] ozten commented on #105
Fantastic. Please coordinate with @mathjazz.
Here is de progress:
https://localize.mozilla.org/de/browserid/

[2012-01-31 21:39] ozten commented on #83
Fantastic. Please coordinate with @mathjazz.
Here is the overall progress:
https://localize.mozilla.org/projects/browserid/

[2012-01-31 21:40] ozten commented on #80
Fantastic. Please coordinate with @mathjazz.
Here is the overall progress:
https://localize.mozilla.org/projects/browserid/

[2012-01-31 22:09] jrgm opened #1015 "UI confusing for password change when using primary and secondary accounts"
A minor point about the UI for a password change, when you have accounts
for both primary and secondary on the same diresworb account.

1) get set up so you have two accounts associated with each other for
   beta.myfavoritebeer.org (e.g., foo@example.com and bar@example.com).

2) sign out of beta.myfavoritebeer.org, and then sign in. In the dialog
   select 'Use a different email' and enter an em

[2012-01-31 22:09] mathjazz commented on #83
Hey, you can track progress for nl here:
https://localize.mozilla.org/nl/browserid/

If you'd like us to add any other locale for you, please let me know.

[2012-01-31 22:14] mathjazz commented on #81
French is at 100% right now, but I'm sure it needs proof-reading & testing. We'll add new strings soon, so stay in touch.

[2012-01-31 22:14] mathjazz commented on #105
German is at 100% right now, but I'm sure it needs proof-reading & testing. We'll add new strings soon, so stay in touch.

[2012-01-31 22:17] mathjazz commented on #565
@Repox please let me know if you're still interested in localizing BrowserID to da_DK and I'll get you on board.

[2012-01-31 22:18] mathjazz commented on #80
@zarausto please let me know if you're still interested in localizing BrowserID to pt and pt_BR and I'll get you on board.

[2012-01-31 22:27] faustort commented on #80
Ok for sure, what should I do?
I've never been on a project, but I really like to help.

Regards

Fausto

2012/1/31 Matjaž Horvat <
reply@reply.github.com

[2012-01-31 22:37] Falco20019 commented on #105
I'll proof-read it next week :) I'll contact you then.

[2012-01-31 23:53] jrgm opened #1016 "sign_in dialog: cancel button unresponsive after cancelling out of primary authentication page"
1) Have account1@example.com on beta.myfavoritebeer.org

2) Be signed out of beta.myfavoritebeer.org; click 'Sign in'

3) in the sign_in dialog, enter 'account2@eyedee.me' (and account that you are not logged in at eyedee.me.

4) dialog tells you that you have to verify with eyedee.me; click verify

5) in the eyedee.me/browserid/sign_in, click cancel

6) You return to the 'Verify with email provid

[2012-02-01 00:55] michaelrhanson opened #1018 "eyedee.me provisioning appears to be case-sensitive"
Platform: Mobile Safari on iOS4.3.

I signed into eyedee.me as Mikeh.

I attempted to login to beta.myfavoritebeer.org with mikeh@eyedee.me.  I was asked to verify (and cancelled out).

I attempted to login to beta.myfavoritebeer.org with Mikeh@eyedee.me and it worked.

[2012-02-01 01:54] lloyd commented on #972
I have a fix, it's extremely low risk, will publish shortly.

[2012-02-01 02:44] #972 closed, assigned to shane-tomlinson

[2012-02-01 05:07] #878 closed, assigned to lloyd

[2012-02-01 10:41] #984 closed, assigned to shane-tomlinson

[2012-02-01 10:41] #1001 closed, assigned to shane-tomlinson

[2012-02-01 10:41] #1002 closed, assigned to shane-tomlinson

[2012-02-01 10:41] #1003 closed, assigned to shane-tomlinson

[2012-02-01 10:41] #1004 closed, assigned to shane-tomlinson

[2012-02-01 10:44] shane-tomlinson opened #1020 "Make secondary "cancel" style buttons have a smaller font."
See screen shot from feature branch 1000.

https://skitch.com/set117/g7i8y/cancel-button-new-style

[2012-02-01 11:57] shane-tomlinson opened #1021 "build script overwrites resources/static/dialog/views/templates.js"
Not cool.

[2012-02-01 11:58] shane-tomlinson commented on #1016
Closing as duplicate of #967

[2012-02-01 11:58] #1016 closed, assigned to nobody

[2012-02-01 12:20] #1020 closed, assigned to shane-tomlinson

[2012-02-01 12:22] shane-tomlinson commented on #1020
@jbonacci, @jrgm, @ioanab

Look for this update in the dialog by verifying the cancel button is similar to the above screenshot in the following locations:
1) Forgot password
2) Add email to authenticated account.
3) Screen stating you must verify with Primary

[2012-02-01 13:35] shane-tomlinson opened #1022 "Local dev Front end unit tests not running in Safari or IE"
Steps to reproduce.

1) Start up local dev env.
2) Load up IE or Safari.
3) Go to <host>/test/index.html
4) Watch In Safari blow up.

[2012-02-01 13:36] #1022 closed, assigned to shane-tomlinson

[2012-02-01 14:17] #987 closed, assigned to shane-tomlinson

[2012-02-01 14:25] #1021 closed, assigned to shane-tomlinson

[2012-02-01 14:32] shane-tomlinson commented on #947
This is back with longish email addresses.

https://skitch.com/set117/g7say/verify-required-primary

[2012-02-01 14:41] #947 closed, assigned to shane-tomlinson

[2012-02-01 14:56] shane-tomlinson commented on #870
@lloyd - here is a screen shot of this happening after doing the above steps.

https://skitch.com/set117/g7s6r/no-emails-but-authenticated

[2012-02-01 17:16] davehunt opened #1023 "Enhancement request: Add a name to the BrowserID popup window"
Using Selenium to test a site with BrowserID currently has to cycle through all windows to find one with the title 'Browser ID'. It would be possible to switch directly to the window if it had a name assigned to it.

Current:

[code]

Ideal:

[code]

[2012-02-01 17:44] ozten opened #1024 "Split compress.sh into compress-locales.sh"
Per @fetep,
Some artifacts are built on code in browserid.rpm and others will be built from browserid-locale.rpm.

browserid-locale.rpm will change every 10 minutes if there are new strings in SVN.

We need compress.sh to be split into:
scripts/compress.sh
scripts/compress-locales.sh

That way each RPM can run and generate artifacts at the appropriate time.

compress-locales.sh will depend on comp

[2012-02-01 17:46] tonychung commented on #1023
improving support to our automation needs is always a good thing.   Help us, help you.

[2012-02-01 17:59] lloyd commented on #1024
no problem from my side.

I think we need to rewrite all this gunk in javascript anyway, so we we can go ahead and do a quick split now, then revisit and figure out code sharing, how many modes we need, and optimization path when we go and rewrite in .js

[2012-02-01 18:01] ozten commented on #1024
First stab at fixing this:
https://github.com/mozilla/browserid/pull/1025

[2012-02-01 18:13] kumar303 commented on #421
Without this feature I am currently locked out of https://mozillians.org/en-US/ because my primary browser ID account was not attached to my mozilla email :( I will patiently await account manager enhancements.

To clarify, I created a mozillians account before they adopted browser ID. Now I can't log in with my primary browser ID account. I could create a _new_ browser ID account using my mozilla

[2012-02-01 18:13] shane-tomlinson opened #1026 "completing registration in a browser other than the initiating browser results in non-functional dialog"
Steps to reproduce

1) Open up two browsers
2) In browser 1, go to beta.myfavoritebeer.org
3) Sign up for a new account
4) Keep dialog open
5) In browser 2, open email provider
6) Open verification link in browser 2
7) Enter passwords and complete flow.
8) Original dialog goes back to authentication screen, but buttons are unresponsive.

Desired result.

User needs to authenticate.

[2012-02-01 19:42] #1026 closed, assigned to shane-tomlinson

[2012-02-01 19:59] #848 closed, assigned to jrgm

[2012-02-01 20:17] jrgm commented on #972
Also on winxp/ie8 and android 2.2 stock browser.

[2012-02-01 21:03] jrgm commented on #1026
verified flow above, with osx safari 5.1.2, opera 11.6, FF 10, Chrome 16. Also went through adding an email to the
first account. Moving on to winxp/{ie8,FF10,Chrome16,safari,opera}.

[2012-02-01 21:05] groovecoder commented on #421
kumar: you can click "sign in with browserid" and click the "Use a different email" link. that should add another email address to your existing browserid.org account.

[2012-02-01 21:23] jrgm commented on #1026
verified flow above, with winxp safari 5.1.2, opera 11.61, FF 10, Chrome 16, IE8

[2012-02-01 21:37] ozten commented on #1024
This was merged to dev. Closing, please re-open if there are any issues.

[2012-02-01 21:37] #1024 closed, assigned to nobody

[2012-02-01 21:42] kumar303 commented on #421
_facepalm_. Thanks Luke :) In my defense, I worked on AMO's new-profile completion feature which required me to use the "this is not me" link many times repeatedly while manually testing. It apparently damaged my brain.

[2012-02-01 21:54] MarcusPope commented on #673
Don't mean to bother you all, but I found this thread while googling for a way to DISABLE the clean eol whitespace setting in Komodo IDE.  I use markdown for documentation on my projects and MD uses two whitespace characters at the EOL to signify a hard return (br tag) so I needed to disable the setting for my environment.

As an alternative suggestion, you might want to use this instead - `git di

[2012-02-01 22:06] jrgm commented on #1026
verified flow above on stage, with win7/32bit safari 5.1.2, opera 11.61, FF 10/11/12, Chrome 16, IE9

[2012-02-01 22:38] jrgm commented on #1026
verified flow above on stage, with ubuntu 11.0 for opera 11.61, FF 10/11/12, Chrome 16
Trying android if the network here works.

[2012-02-01 22:40] ozten opened #1031 ""translated text" in test"
VIA IRC
 there's string "translated text" in resources/static/dialog/views/testBodyTemplate.ejs:7 resources/static/dialog/views/test_template_no_input.ejs:6 resources/static/dialog/views/test_template_with_input.ejs:7

This looks like a unit test. Can I remove gettext, so localizers don't see this string? or is that the purpose of the unit test?

CC @mathjazz @shane-tomlinson

[2012-02-02 01:04] skinny97214 commented on #421
Agreed that the button wording and placement in the layout is odd. I'm still pondering on the right solution.

[2012-02-02 09:21] mathjazz commented on #80
Localization started, please close this issue.

[2012-02-02 12:45] #1031 closed, assigned to shane-tomlinson

[2012-02-02 12:50] shane-tomlinson opened #1035 "include.js not found for front end unit tests if compress.sh/compress-locals.sh not run."
front end unit tests serve include.js from the production directory.

[2012-02-02 12:50] shane-tomlinson commented on #1035
link to #1027

[2012-02-02 12:59] #1035 closed, assigned to shane-tomlinson

[2012-02-02 13:03] shane-tomlinson commented on #1023
@lloyd - what do you think of adding this to WinChan?

[2012-02-02 13:05] shane-tomlinson commented on #1015
@jrgm - the password change only applies to accounts that have secondaries.  If an account only has primaries, the password change area is not displayed.  I agree that we should probably have some explanation for this.

[2012-02-02 13:09] shane-tomlinson commented on #999
Fixed with checkin a63e9c4194aba45710a2aa545072df68981cbb07, which affected issues #848, #999 and #1026.

[2012-02-02 13:09] #999 closed, assigned to shane-tomlinson

[2012-02-02 13:11] shane-tomlinson commented on #992
@ozten, @lloyd - have we decided to remove gettext from these strings for now?

[2012-02-02 13:12] #888 closed, assigned to shane-tomlinson

[2012-02-02 14:26] #967 closed, assigned to nobody

[2012-02-02 14:48] shane-tomlinson opened #1036 "Cancel Authentication from Primary needs handled"
Related to #983, this expands on it more.

Need to handle 3 cases:
1) Cancel the addition of an email to the current account - expect to go back to add email screen AND be able to cancel that screen back to the email picker.
2) Cancel the creation of a new user - expect to go back to the sign in screen.
3) Cancel a primary user - expected outcome TBD.

[2012-02-02 15:51] skorokithakis opened #1037 "Slightly confusing copy on browserid.org login workflow."
When trying to log in to example.com via BrowserID, you are presented with the text:

From user feedback, this is somewhat confusing, as many users think they need to sign _up_ before they can sign _in_ and leave the workflow. I propose the addition of a sentence to the effect of:

[2012-02-02 15:58] lloyd commented on #80
ok

[2012-02-02 15:58] #80 closed, assigned to nobody

[2012-02-02 17:52] benadida opened #1038 "tweak primary IdP API to make it possible for primaries to pre-generate certs"
We've seen requests from potential primaries for this.

[2012-02-02 17:53] benadida opened #1039 "ensure that when a primary comes up, existing certs by secondary are invalidated in the dialog"
otherwise it's a fail for the user.

[2012-02-02 17:54] lloyd commented on #1014
thanks davidascher.

[2012-02-02 18:24] mathjazz opened #1040 "Add new locale: Greek (el)"
@ozten, please add new locale - Greek (el).

[2012-02-02 18:31] lloyd commented on #565
closing down all internationalization issues.  l10n has begin, @mathjazz is coordinating the show, contact him directly to learn about contributing.

For now you can inspect current progress by updating your browser settings and visiting http://temporary_preview.myfavoritebeer.org/.  (click sign in to see the localized dialog)

NOTE: this url is temporary, and we will transition to "test.myfavorit

[2012-02-02 18:31] #565 closed, assigned to nobody

[2012-02-02 19:05] shane-tomlinson opened #1041 "Chrome: error logging in when going to beta.myfavoritebooze.org"
Steps to reproduce
1) Load up Chrome
2) Go to beta.myfavoritebooze.org
3) Watch it explode.

Screen shot: https://skitch.com/set117/g6fx1/chrome-booze-startup-error

[2012-02-02 19:07] jrgm commented on #1015
Yes, I know it only applies to secondaries.

[2012-02-02 19:08] lloyd commented on #1041
app fell over on heroku.  restarted.

[2012-02-02 19:08] #1041 closed, assigned to shane-tomlinson

[2012-02-02 19:09] lloyd commented on #81
closing down all internationalization issues. l10n has begin, @mathjazz is coordinating the show, contact him directly to learn about contributing.

For now you can inspect current progress by updating your browser settings and visiting http://temporary_preview.myfavoritebeer.org/. (click sign in to see the localized dialog)

NOTE: this url is temporary, and we will transition to "test.myfavoriteb

[2012-02-02 19:09] #81 closed, assigned to nobody

[2012-02-02 19:10] lloyd commented on #105
closing down all internationalization issues. l10n has begin, @mathjazz is coordinating the show, contact him directly to learn about contributing.

For now you can inspect current progress by updating your browser settings and visiting http://temporary_preview.myfavoritebeer.org/. (click sign in to see the localized dialog)

NOTE: this url is temporary, and we will transition to "test.myfavoriteb

[2012-02-02 19:10] #105 closed, assigned to lloyd

[2012-02-02 19:10] lloyd commented on #83
closing down all internationalization issues. l10n has begin, @mathjazz is coordinating the show, contact him directly to learn about contributing.

For now you can inspect current progress by updating your browser settings and visiting http://temporary_preview.myfavoritebeer.org/. (click sign in to see the localized dialog)

NOTE: this url is temporary, and we will transition to "test.myfavoriteb

[2012-02-02 19:10] #83 closed, assigned to nobody

[2012-02-02 19:19] ozten commented on #992
I need help. Can we make a public etherpad or wiki and list all the strings which **do not** need to be translated?

This release - the will be wrapped with gettext and we'll give localizers that url as a guideline on what they can ignore
Next release - we'll remove the strings from po files, by removing gettext around these strings
Future release - We'll file bugs with improved language for user

[2012-02-02 19:27] ozten commented on #1040
Added to http://temporary_preview.myfavoritebeer.org/ will be visible in 15 minutes.

[2012-02-02 19:31] #1040 closed, assigned to ozten

[2012-02-02 19:34] ozten commented on #903
My understanding was that this would be tested by @jbonacci and @jrgm, but now I understand that is not the case.
I've done some informal analysis and added one piece of caching in
https://github.com/mozilla/browserid/commit/15a0176569760cf8bb97d3f95d54999d46d57b60

Shane also moved around where we instantiate gettext client side.

Closing bug, please re-open if any concrete performance regression

[2012-02-02 19:34] #903 closed, assigned to jbonacci

[2012-02-02 21:55] ozten commented on #1009
FWIW https://temporary_preview.hacksign.in/ is updating every 15 minutes and only compresses locales where client.po or messages.po has changed.

The implementation is pretty ridiculous, so I haven't checked it in. It isn't much work to make it less ridiculous, at which point I'll commit as the normal compress.sh script.

I'll tackle this with the caching work in Issue#620.

[2012-02-02 22:23] Repox commented on #565
@mathjazz I'm still interested in localizing to da_DK.

[2012-02-02 23:03] ozten opened #1045 "two screens shown at same time in db_LB on dev"
There are CSS or other issues on the homepage of dev.diresworb.org that cause the account manager and the splash page to be shown at the same time.

Steps to Reproduce
1) Clear cookie or log out of dev.diresworb.org
2) Set Language to it-CH
3) Go to https://dev.diresworb.org/

Actual:
Both the account manager and splash page are shown, stack on top of each other.
Note: You are not logged in, but t

[2012-02-02 23:08] lloyd opened #1046 "'hacksign.in' not compatible with user testing."
because we use the domain `hacksign.in` for ephemeral deployments, which we use for user testing, users in the test are getting confused and uncomfortable.  we should try to migrate to *.dev.diresworb.org` for this purpose.

[2012-02-03 00:10] mathjazz opened #1048 "Add new locale: Danish (da)"
@ozten, please add new locale - Danish (da).

[2012-02-03 00:10] mathjazz commented on #565
@Repox Writing you an email...

[2012-02-03 00:15] jrgm opened #1049 "User with both primary and secondary accounts is incorrectly re-challenged for password"
1) Start with a new browser profile. Go to myfavoritebeer.org and sign-in with email1@gmail.com (going through the normal 'Check your email' steps).

2) Logout from myfavoritebeer.org. Click sign-in again and choose 'Use a different email'.  Use a primary email address, e.g., email2@eyedee.me (either an existing account or a new one).

3) Stop the browser, and start again with a new browser profil

[2012-02-03 00:51] lloyd commented on #1045
this appears to happen when a language is configured that is missing javascript.

if you can reproduce, should we make the check at startup also check for the presence of javascript for the enabled locales and go down hard if not present?

[2012-02-03 02:14] jrgm opened #1050 "IE8 Compatibility View: unsupported_dialog could give better guidance to user"
If you run IE8 in Compatibility View (Tools->Compatibility View), the sign_in dialog says:

  """We're sorry, but currently your browser isn't supported.
  BrowserID works with Firefox and other modern browsers."""

So yeah that's true. Not in compatibility mode, but that message could perhaps check for this mode on IE8 and let the user know that in this case, they can use IE8 if they switch out o

[2012-02-03 02:18] jrgm commented on #1049
Repro for chrome 16 osx, FF 10 osx, IE8 winxp, so not browser-specific.

[2012-02-03 07:55] #1036 closed, assigned to shane-tomlinson

[2012-02-03 11:00] shane-tomlinson commented on #983
Closing this - the "cancel button not doing anything" has been fixed, 3rd party cookies related issues are re-opened in #982 and #989

[2012-02-03 11:00] #983 closed, assigned to shane-tomlinson

[2012-02-03 11:02] shane-tomlinson commented on #1050
closely related to #803.

[2012-02-03 11:05] shane-tomlinson commented on #1045
@lloyd's diagnosis is correct.

If ther user's locale is not there (even if enabled) - should we log it as an error and serve up the English JS?

[2012-02-03 11:49] shane-tomlinson commented on #992
@ozten - https://id.etherpad.mozilla.org/18 - public to the world.

[2012-02-03 12:02] shane-tomlinson commented on #1050
@jrgm  - Excellent suggestion - here is an MSDN article on checking for compat mode in IE8

http://msdn.microsoft.com/en-us/library/cc288325%28VS.85%29.aspx#GetMode

[2012-02-03 17:52] ozten opened #1051 "Removing gettext from non-user facing error messages"
Per https://github.com/mozilla/browserid/issues/992#issuecomment-3795543

1) Remove gettext functions, so strings will be removed from PO files
2) Coordinate with @skinny97214 on any other tweaks to how we show messages.

[2012-02-03 18:07] shane-tomlinson commented on #1012
13:06
stomlinson
AutomatedTester - hey, thanks for filing that.  We spoke about it in our bug scrub yesterday - I was assigned the bug so I could ask you what the need was.  From reading over the facebook page, it looks like you need to have some test users and passwords set up so that you can use them.  Do you need to be able to create test users dynamically, or just be able to sign in to Browser

[2012-02-03 18:43] ozten commented on #1045
Thanks for help with troubleshooting!

Fixed in http://git.io/ocHNpg

[2012-02-03 18:43] #1045 closed, assigned to nobody

[2012-02-03 18:50] ozten commented on #1048
Added to dev.json and should be live on http://temporary_preview.myfavoritebeer.org/ now.

[2012-02-03 18:50] #1048 closed, assigned to nobody

[2012-02-03 19:30] ozten opened #1052 "Some locales such as zh-TW have stale cancelVerify css class"
There is something wrong with the version of the build script on http://temporary_preview.myfavoritebeer.org/

"If this is a mistake, just ignore the sent email and <a href=\"#\"
id=\"cancel\">cancel</a>."  is showing up in English instead of

   "若這是個錯誤，請忽略這封信並 <a href=\"#\" id=\"cancel\">取消</a>。"

STR
language json file has the wrong msgid, so it fails to find string...

1) Request  https://temp

[2012-02-03 23:25] skorokithakis commented on #1037
I was going to change this myself and issue a pull request, but I can't find the relevant template :/ Is this not the same code as the one that runs on browserid.org, or am I just incompetent?

[2012-02-03 23:38] jrgm commented on #1016
vfy dup

[2012-02-04 05:41] jrgm commented on #878
verified in local unit tests for train-2012.02.02, and with direct posts against stage for /verify and /wsapi/authenticate_user. 10k is the limit; 413 Request Entity Too Large returned above that.

[2012-02-04 18:40] lloyd opened #1054 "exception in l10n code during first page load after VM provisioning"
[code]

Steps to reproduce:
1. provision a new vm
2. deploy code to it (seen with sha c0479ca)
3. load the main page
4. witness above trace
5. notice it goes away after reload

This may be related to recent provisioning changes, haven't dug in.

[2012-02-04 21:41] hwinkler commented on #796
Hullo?

[2012-02-04 22:55] zaach commented on #924
I created a [po2json.js](https://gist.github.com/1739769) script based on the parser from Gettext.js.

Aside from the order of the keys in the generated JSON, it gives identical output when run against [client.po](http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/en_US/LC_MESSAGES/client.po) and [messages.po](http://svn.mozilla.org/projects/l10n-misc/trunk/browserid/locale/en_US/LC_

[2012-02-05 01:04] ozten commented on #924
Fantastic work @zaach!

i've commited your file on your behalf to Mozilla's SVN repo.
http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/README?revision=101148&view=markup

Testing, the output looks great. I noticed you didn't put your name in the credits, feel free to send me another Gist and I can commit for you... or an svn patch (horror of horrors, I know).

@fetep - Heads up,

[2012-02-05 01:04] #924 closed, assigned to nobody

[2012-02-05 17:32] ozten commented on #1040
I didn't have el enabled properly. I see it working now. Sorry about that.

[2012-02-05 18:01] zaach commented on #924
Thanks. I've updated the [gist](https://gist.github.com/1739769) with my name.

[2012-02-05 19:19] ozten commented on #924
Also, I see you've licensed your contribution GPL (as the original was GPL).

I'm not a lawyer... If possible, would you consider licensing your po2json.js as MPL 2.0, BSD, or LGPL? (MPL 2.0 is preferred).

If you're cool with that, I"ll confirm with some legal focused people that your port is an original work that can be licensed how you see fit, or if it must stay GPL.

[2012-02-05 19:24] zaach commented on #924
Oh, sure, MPL 2.0 is fine. I just included the original to be safe.
On Feb 5, 2012 2:19 PM, "Austin King" <
reply@reply.github.com>
wrote:

[2012-02-05 19:33] ozten commented on #924
Your scripts output is compatible with Gettext.js  (as well as our re-written from scratch gettext.js), but you didn't really use the JavaScript in your port, right? Looking at the source, it looks inspired only by po2json.pl (and not Gettext.js).

I think you might want to say
PO parser compatible with http://jsgettext.berlios.de/ project's Gettext.js and po2json.pl.
po2json.js adapted Node.js, i