[2012-08-24 23:10] jrgm commented on #2227
verified train-2012.08.17

[2012-08-24 23:10] jrgm commented on #1659
verfied train-2012.08.17

[2012-08-24 23:11] fmarier commented on #2160
The new regexp that was introduced to fix #1981 will need to be extended to support IPv6 numerical addresses.

[2012-08-24 23:13] warner commented on #2160
Other places that will need fixes (accepting ":", "[", and "]" in numeric hostnames):
- frontend validation of postMessage parameters: resources/status/common/js/user.js in the "setHostname" function (added in 780267-fixup-origin)
- the other frontend-validator in resources/static/dialog/js/modules/dialog.js (extractValidHostname)
- new tests to exercise this in resources/static/test/cases/dialog/

[2012-08-24 23:21] jrgm commented on #1990
deprecation warning added in PR-2267. Verified in train-2012.08.17

[2012-08-24 23:53] jrgm commented on #2215
verified train-2012.08.17

[2012-08-25 00:07] jrgm commented on #2059
verified train-2012.08.17 on https://train0817.personatest.org and https://train0817.123done.org, and a little fiddling with localStorage. WIll check when I get back the other sites working with ephemeral.

[2012-08-25 00:56] jrgm opened #2395 "[ie8] leftover from GH-2087 - main site confirm screen - password field not automatically focused"
Doesn't work on ie8/winxp. What a surprising thing.

STR

1) In Browser A, open dialog to email picker
2) In Browser A, add a new secondary email
3) In Browser B, make sure user is logged out.
4) In Browser B, open verification email
5) In Browser B, password field should be focused.

[2012-08-25 00:57] jrgm commented on #2087
verified train-2012.08.17 - works everywhere but ie8 (on winxp), which I punted out to GH-2395

[2012-08-25 01:33] jrgm commented on #406
verified train-2012.08.17

[2012-08-25 03:09] jrgm opened #2396 "gmail doesn't handle multipart/alternative email well"
I'd noticed this on mobile Gmail app (android/iphone) and assumed it was a mobile quirk. And I checked via Litmus that Gmail looked okay to them on multiple desktop OS. But my direct use of the web interface is awful. Grepping the internets says that multipart/alternative is a common problem with Gmail. We should probably disable HTML in this train, and then figure out if it's worth the rathole of

[2012-08-25 03:16] seanmonstar commented on #2396
Definitely agree. It only looks good if you click "Always display images", so that means that the first email will always look bad.

[2012-08-26 13:26] jmaher opened #2397 "on a samsung galaxy tablet, I can't click the 'forgot password' link"
I cannot click on 'forgot password' as the 4 times I tried it did nothing.

[2012-08-26 13:27] jmaher commented on #2397
this was found on Firefox Mobile Aurora during a testday for marketplace and webapps.

[2012-08-26 13:27] jmaher commented on #2397
originally filed as https://bugzilla.mozilla.org/show_bug.cgi?id=785419

[2012-08-26 13:28] jmaher opened #2398 "on a samsung galaxy tablet, I can't read the text due to userscalable=no"
in testing marketplace apps for the testday on mobile, I was trying to login to mozilla persona and had a hard time reading.  doing my normal double tap or pinch to zoom didn't work to make the text more readable.

Please make the login process and related text more readable.

This was found on Firefox for Mobile on the Aurora channel.

[2012-08-26 13:28] jmaher commented on #2398
originally filed as https://bugzilla.mozilla.org/show_bug.cgi?id=785418

[2012-08-27 09:16] csuciu opened #2399 "Emails list should be scrollable"
OS: Win 7
Browser: FF 14.0.1
Client: http://train0817.123done.org/

Steps:
1. Load http://train0817.123done.org/ in browser
2. Add >10 emails for same account
3. Observe the emails list dialog - Try to sign in an email without resizing the window

Expected:
Should be able to scroll the emails list to bring the 'Sign In'  button into view

Actual:
Emails list is not scrollable. The buttons are not

[2012-08-27 17:02] callahad opened #2400 "Host "sign in" button images on a CDN"
We should really get the various "Sign in with Persona" buttons up and on a CDN somewhere, so that people can just copy and paste an `<img>` tag.

Does Mozilla have any way to do this? Could we re-use static.login.persona.org?

[2012-08-27 17:09] callahad commented on #2400
It'd be particularly nice if we could keep something under, say,  [resources/static/i/](https://github.com/mozilla/browserid/tree/dev/resources/static/i) as the canonical source of this data.

[2012-08-27 17:47] klrmn commented on #2396
my problem with it is not so much about showing images or not showing images, it's that if i end up with two confirmation emails (happens a lot with dev / beta sites, not so much with the 'prod' versions), the second one doesn't show the link because it is text repeated from the previous email and is therefore hidden behind the [...]

[2012-08-27 18:09] seanmonstar commented on #2396
You receive 2 when you should receive one? That sounds like a bug. Or do
you mean while testing, you need to receive a 2nd confirmation. That sounds
like just something Gmail does.

[2012-08-27 18:23] shane-tomlinson commented on #2396
@klrmn - is the problem stem from you using dev and beta both to send emails to your gmail account, with any subsequent emails being hidden?  Does the _first_ email show consistently if all other Persona confirmation emails are removed?

[2012-08-27 19:07] callahad commented on #2017
As per discussion with @lloyd, we're confident that we want to do this, but the details are still up in the air. Since many sites are using the Observer API without using onready, I'm going ahead and pulling this from the docs but without formally deprecating it.

**We have not yet announced this deprecation!** Do NOT modify / remove `onready` without discussing a deprecation plan with @fmarier or

[2012-08-27 19:52] lloyd commented on #2396
Because this affects a small %age of users (must send self 2 emails from same site), and the HTML emails improve the world for everyone, I'm decrementing to 4 stars.

Let's get this problem understood and work around it, but go live with train-2012.08.17 regardless of this issue.

[2012-08-27 19:57] skinny97214 commented on #2396
Investigate some ways to prevent gmail from collapsing. We may need to add a date/timestamp that's always unique. It'd be ideal if this was hidden since it's mostly just extra cruft the user shouldn't need to look at.

"You requested this verification at 07:28GMT on Jan 01, 2012."

[2012-08-27 21:22] jrgm commented on #2396
I doctored up a couple of emails to make the text in the body slightly differ, and the collapsing did not occur with those messages.

[2012-08-27 21:25] jrgm commented on #2396
Oh, also, I went back to old text-only emails and they are not collapsed since the body _does_ differ with those emails due to the token. (Actually, the overall length of the token could probably be shorter).

[2012-08-27 21:49] jaredhirsch opened #2402 "synchronize jenkins, browserid_deployer"
Right now, Jenkins triggers off of a github commit. But deployer needs ~450 seconds to deploy dev, so we need Jenkins to wait.

I've hacked this together with a "sleep 500" (classy, eh?) in the parent job that kicks off all the different child browser-os variations.

But Jenkins also allows you to kick off a build by curling an endpoint, so if we can add an on-success callback to deployer, we coul

[2012-08-27 21:58] jaredhirsch commented on #2197
What about switching to no-reply@persona.org?

On Jul 31, 2012, at 5:17 PM, Francois Marier wrote:

[2012-08-27 22:06] jrgm commented on #2197
Actually, the current train will send out the emails as no-reply@persona.org. @fmarier, I think, was asking if we should actually accept the emails to whatever address, and reply with something a little nicer.

[2012-08-27 22:30] warner commented on #2339
I wouldn't even describe the "authentication needed" situation as an exception at all: it happens at least once per user per browser, and requires special handling, so it's a normal occurrence, and "exception" isn't the right word for it. As such, I wouldn't use the word "raise" in the API for it. Maybe have the provisioning frame terminate by calling something named `navigator.id.authenticationNe

[2012-08-27 23:59] fmarier commented on #2197
@jrgm is right. Regardless of the sender address that we use, I was asking: what happens to the emails that users send to it?

[2012-08-28 00:03] seanmonstar commented on #2197
Yea, no-reply is crazy talk.

[2012-08-28 16:46] callahad commented on #1665
CSP docs folded into https://developer.mozilla.org/en-US/docs/Persona/Security_Considerations

[2012-08-28 16:46] #1665 closed, assigned to callahad

[2012-08-28 17:31] ozten opened #2404 "Make secondary to primary transition screen show one time only"
When we notice that a user's has a yahoo.com email address, we display a "Yahoo.com makes this easy" screen.

This is good because it informs the user that something is different and that they don't type in their Persona password anymore.

But we shouldn't this same screen every time.

Can we just display this screen once and skip this step for the second and subsequent flows?

This came up as a B

[2012-08-28 19:24] jrgm opened #2405 "Adding existing primary email account to secondary email account does not expire session"
In looking at GH-2026 and going through permutations, I came up with this quirk. I can see a possible argument that this is correct behaviour and it may be already accounted for in the code (haven't checked). Anyways:
1. In browser-1 use 123done to signup a primary email address. (That user will have a password of NULL and a lastPasswordReset of NOW()). Leave that browser signed in to 123done.
2.

[2012-08-28 21:49] hotzeplotz commented on #1407
i think the error message as is is confusing for power users, on the other hand - i suggest that detailed requirements and possible causes for failure should be at least documented somewhere, with documentation linked from the Persona error page. it's ok to avoid going into details on the error page, but just suggesting that the browser is unsupported (even if a user is using Firefox) seems quite

[2012-08-28 22:50] callahad commented on #2253
Oops, forgot to close this. The docs are up to date. Thanks @nmalkin !

[2012-08-28 22:50] #2253 closed, assigned to callahad

[2012-08-28 22:56] callahad commented on #1329
This is resolved.

The verifier API is documented at https://developer.mozilla.org/en-US/docs/Persona/Remote_Verification_API

The `navigator.id` API is documented at https://developer.mozilla.org/en-US/docs/DOM/navigator.id

[2012-08-28 22:56] #1329 closed, assigned to callahad

[2012-08-29 04:02] seanmonstar opened #2407 "Collect JavaScript errors into a KPI"
Add a new `error` KPI, keeping track whenever a JavaScript error is thrown and not handled. We can try to take advantage of `window.onerror` to do so.

[2012-08-29 05:47] jaredhirsch commented on #2197
_Sigh_. I started from the wrong end of my github notifications and saw the original bug description, but not any of the later discussion.

[2012-08-29 06:27] jrgm commented on #2197
@seanmonstar, @6a68 Well, 'no-reply@persona.org' is what is about to ship in train-2012.08.17.

[2012-08-29 13:04] gene1wood commented on #1856
Just saw this on firefox 14.0.1 at home :

http://imgur.com/W8GSs

[2012-08-29 17:43] AaronMT opened #2408 "Bug 786739 - Unable to login at Persona.org"
Please see bug http://bugzil.la/786739 to offer suggestions to this user.

[2012-08-29 19:43] callahad opened #2409 "Make link to team blog more visible on login.persona.org"
The plain "By the Identity Team @ Mozilla" text in the https://login.persona.org/ footer actually contains two links! "Identity Team" goes to our blog, and "Mozilla" goes to Mozilla.

But they're completely indistinguishable from plain text. We should style those links differently, and/or have some nice, user-visible link to our blog from login.persona.org.

[2012-08-29 21:16] callahad commented on #2143
Done! I compressed the png down to <300 bytes and included it inline as a data URI. See: https://developer.mozilla.org/en-US/docs/persona/branding

[2012-08-29 21:16] #2143 closed, assigned to callahad

[2012-08-29 22:15] callahad commented on #2381
Fixed! We don't anticipate any backwards incompatible changes to the Observer API in the near future, aside from renaming `loggedInEmail` to `loggedInUser`.

[2012-08-29 22:15] #2381 closed, assigned to callahad

[2012-08-29 23:11] seanmonstar commented on #1856
Fix isn't live yet. It's in the currently staged train.

[2012-08-30 00:37] seanmonstar opened #2411 "Add humans.txt (or CONTRIBUTORS)"
We could add a [humans.txt](http://humanstxt.org) or CONTRIBUTORS file to the repo, giving credit to the people that have worked on browserid.

[2012-08-30 01:02] ozten commented on #2411
+1

Also QA, Ops, UX, PM, etc.

[2012-08-30 15:49] lloyd commented on #2411
What some people do is use the built in github features, because they are zero maintenance.  i.e.
https://github.com/mozilla/browserid/graphs/contributors

On Aug 29, 2012, at 6:37 PM, Sean McArthur notifications@github.com wrote:

[2012-08-30 16:38] lloyd commented on #2247
ping

[2012-08-30 16:39] ozten opened #2412 "KPI Dashboard - Enable opt-out via http cookie or similar mechanism"
Per the [Principle Real Choice](https://wiki.mozilla.org/Privacy/Reviews/KPI_Backend#Principle:_Real_Choice) the privacy team is requesting that we enable opt-out via http cookie or similar mechanism.

We'll want to add this feature to the account management screen of login.persona.org.

We must persist this (probably in a new db column) so that opt out is across devices.

We should use local stor

[2012-08-30 16:39] lloyd commented on #2097
target is 9/6ish ?

[2012-08-30 16:39] ozten commented on #2412
/CC @nmalkin @shane-tomlinson @jedp @lloyd

[2012-08-30 16:41] lloyd commented on #2097
this has lagged so long that now it may be the case that a significant number of people are using it.  We should still try to reduce the number of urls that can be used for verification, but let's re-assess the # of affected RPs before that.

[2012-08-30 16:41] callahad commented on #2097
This has been live for a long time, and it's a _really_ easy mistake to make, given that the simple upgrade is `s/browserid.org/login.persona.org/`, which would leave users hitting `login.persona.org/verify`.

Which is bad news. This change would break things. It made sense to kill it a month ago, right after the new URLs went live, but now that it's lingered?

[2012-08-30 16:54] lloyd commented on #2412
we need to revisit this, the belief is that an option does not provide users Real Choice, and in facts distracts them from what matters.  Anonymous website analytics are different from tracking non-anonymous behavior across sites.  We're doing the former.

[2012-08-30 16:57] lloyd commented on #2411
lets update the readme to call out the code contributors and if needed any other groups of people not represented in github's list

[2012-08-30 17:01] seanmonstar commented on #2411
An example for GitHub itself: https://github.com/humans.txt

[2012-08-30 17:04] seanmonstar commented on #2407
Example http://jsfiddle.net/seanmonstar/9dTmm/

[2012-08-30 17:05] gene1wood commented on #2097
I'm holding and waiting to hear from @fmarier in regards to what test cases are missing, and what existing failing test cases need to pass.

https://bugzilla.mozilla.org/show_bug.cgi?id=781838#c19

@fmarier : What's your ETA to have the answers to those questions?

[2012-08-30 17:06] skinny97214 commented on #2409
I'm not sure we can fix this issue without departing from the Sandstone style... @callahad

[2012-08-30 17:07] lloyd commented on #2408
let's figure out what %age of users are affected here.

[2012-08-30 17:08] ozten commented on #2407
KPI Dashboard is not real time, nor does it have alert capabilities.

Another design to consider is to send these outside of KPI and have Node put them into statsd counters. Then we can use CEPmon or another tool to page/email based on rules.

If it's in statsd we can add to our monitoring dashboard and watch error counts after a release, etc.

[2012-08-30 17:11] callahad commented on #2405
Potentially not-a-bug. @lloyd to review.

[2012-08-30 17:12] skinny97214 commented on #2404
+1

[2012-08-30 17:15] jaredhirsch commented on #2254
seems out of date; closing. reopen if I've missed something.

[2012-08-30 17:15] #2254 closed, assigned to jaredhirsch

[2012-08-30 17:17] callahad commented on #2400
This applies to the CSS button, too

[2012-08-30 17:18] jaredhirsch commented on #2286
meh.

[2012-08-30 17:33] #2387 closed, assigned to nobody

[2012-08-30 17:39] lloyd commented on #2371
is this a dup?

[2012-08-30 17:40] jaredhirsch opened #2413 "consolidate github and mozilla wiki post-beta 1"

[2012-08-30 17:43] callahad commented on #2413
Could you tell me more about what you're thinking?

GitHub Wiki seems like a good place for things for core devs, while WikiMo seems like a good place for product management.

[2012-08-30 17:45] callahad commented on #2409
Two issues:
1. Can't tell links are links. Possibly a bug with sandstone? Where should I file that?
2. No prominent way to get to our blog. Probably fixable within sandstone?

[2012-08-30 17:47] callahad commented on #2411
@seanmonstar -- can I reassign this to you? You've got more of a grasp of what you want to see from this :)

[2012-08-30 17:47] Brigit commented on #2413
Currently, it seems difficult - at least to the newbie - to know where everything is and how it relates to bugs, etc.  It would nice to have some sort of centralized hub of sorts.  _6a68 is that what you were thinking?

[2012-08-30 18:02] jaredhirsch commented on #2413
Yeah, what @toxborrow said. I'm not too particular about where we put various things, but we absolutely need one canonical list of links to all the different artifacts the team has created and maintains. It's also important that every individual document carry a link back to that topmost registry, maybe in the footer of the page.

@callahad if this is something you're already working on, feel free

[2012-08-30 18:10] #2286 closed, assigned to jaredhirsch

[2012-08-30 18:23] callahad commented on #2413
I think the documentation goal is:
- **RP & IdP Docs**: MDN
- **User Docs**: SuMo
- **Core Dev Docs**: GitHub and Mozpad
- **Product & Project Management**: WikiMo

And for communication:
- **RP and IdP**: persona-notices
- **Core Dev**: dev-identity and #identity
- **PR**: team blog

Does that organization sound good? Can you suggest improvements or do you see any areas where we're not putting th

[2012-08-30 19:45] ozten commented on #2412
Via Email (from before I filed this bug)

Sid Stamm says:

[code]

[2012-08-30 20:45] jaredhirsch commented on #2413
@callahad: that sounds great. I'd suggest we should be sure that there is exactly one place that says exactly what you said in your last comment, and I'd also suggest we make sure each individual site's top-level page links back to the main page.

[2012-08-30 20:52] seanmonstar commented on #2411
@callahad sure. do i make https://login.persona.org/humans.txt ?

[2012-08-30 21:02] seanmonstar commented on #2407
Does it make sense to add it to both? If it's a KPI, then we get the event stream, and can see most of the steps a user followed before hitting an error. And with statsd, we can get realtime alerts.

[2012-08-30 21:23] callahad commented on #2411
Yep -- go for it. Also add a footer to the readme pointing to it the humans.txt?

[2012-08-30 21:25] callahad commented on #2413
I'll start by making a proper landing page for the Wiki with "trailheads" on it. I'm not sure linking everything to the hub makes sense -- well, really just the SuMo stuff. Something feels weird about having end-user support point off to developer APIs...

[2012-08-30 22:28] lloyd commented on #1744
@fmarier correct.

As @warner said, the only reasonable tactic seems like rate limiting + captcha or some other turing test during times of abuse.

[2012-08-30 22:28] lloyd commented on #1744
link to https://bugzilla.mozilla.org/671998

[2012-08-30 22:31] seanmonstar commented on #2411
I grabbed all the emails from the `git log`, but that only includes people who have contributed commits. How should I collect who else to add?

https://github.com/seanmonstar/browserid/commit/c27b04e4f4b4c9e405f1abff66ac559e68a35726

[2012-08-30 22:40] skinny97214 commented on #2412
I'm very interested in finding ways to keep 100% of our users safe by only collecting data that is anonymous, not just the 1% that opt out of our data collection entirely.

Is there a matrix of the data that shows the scale of danger and sets appropriate protocols for each? I want to make sure our response is appropriate to the level of the threat. For example, what are our policies for analytics

[2012-08-31 02:00] fmarier commented on #2097
@gene1wood I'll be reviewing this on Monday.

[2012-08-31 18:50] shane-tomlinson commented on #2399
Since this particular bug requires >= 8 emails to be a problem on desktop, we have downgraded to 4*.

[2012-08-31 18:55] #2279 closed, assigned to callahad

[2012-08-31 22:37] seanmonstar commented on #2408
It wasn't reproducible, and so it was closed as WORKSFORME.

[2012-08-31 22:37] #2408 closed, assigned to seanmonstar

[2012-08-31 23:49] sidstamm commented on #2412
Users may have a different "scale of danger" matrix than we do, and no matter what we decide, some users will disagree with our classification of what's safe and what's not.  So I'd like an opt out.  It doesn't have to be front-and-center, but it should provide users the ability to say "no" to us collecting their data if they really want.  Otherwise they have to choose between using Persona and op

[2012-09-03 11:41] AntoineTurmel opened #2417 "Provide a way for users to connect using their own Persona server"
Like OpenID and Firefox Sync, I would like a Persona login button to allow me connecting either on Mozilla persona.org or my own persona installation.

[2012-09-03 15:27] callahad commented on #2417
You can already set up your own domain to be a Persona "Identity Provider," as per the docs on https://developer.mozilla.org/en-US/docs/Persona

The UI for picking an address will still be hosted at login.persona.org, but that will change once browsers add native support for Persona's `navigator.id` API.

Does that cover what you're wanting to do?

[2012-09-03 16:10] callahad opened #2418 "Update URL in Repo Description"
The URL in the repo's description is still https://browserid.org -- it should be updated to https://login.persona.org/

Who's the admin for this repo? @lloyd?

[2012-09-04 04:08] fmarier opened #2419 "https://persona.org/include.js redirects to https://login.persona.org/include.js"
This issue is similar to GH-2097. It's possible that RPs will start using the wrong URL and limit our ability to change what we do with https://persona.org (top level domain).

I'd like to propose that this redirect shouldn't exist:

[code]

Instead, it should return a 404.

Note: before we do this, we should look at our access logs to see if persona.org/include.js is used by anyone. Then, we prob

[2012-09-04 04:19] fmarier opened #2420 "http://login.persona.org/include.js redirects to the right script"
Related to (but slightly different from) GH-2419.

Currently we have the following redirect:

[code]

I would argue that while it's good to have a general HTTP to HTTPS redirection:

[code]

in this specific case, it means that if an RP makes the mistake of using a script tag like this:

[code]

then it will work but users will be vulnerable to SSL stripping attacks.

I'd like to propose these rul

[2012-09-04 07:46] AntoineTurmel commented on #2417
Yep, and will custom Identity Provider login will be provided in Mozilla websites before other browsers add native support ?

[2012-09-04 11:38] shane-tomlinson commented on #2397
Is this a dup of #697?

[2012-09-04 11:39] shane-tomlinson commented on #2397
Link to #2299

[2012-09-04 13:52] stephank opened #2423 "Chrome / Safari call onlogout when onlogin navigates away"
Our application uses the `watch()` API, and submits a POST form from `onlogin` and `onlogout`. This works fine on Firefox, but causes strange behavior on Chrome and Safari.

The call to `watch()` looks roughly as follows: (This is done in a `jQuery(function() { ... });`)

[code]

The application has page links directly hooked up to `request()` and `logout()`.

In Chrome, when logging in, the popup

[2012-09-04 14:47] callahad commented on #2417
Yep! If you set up your own Identity Provider (IdP), it will work today, even in browsers without native support.

If you do build your own IdP, please let me know! I love to keep in contact with people implementing the various parts of Persona. You should also join the [persona-notices](https://mail.mozilla.org/listinfo/persona-notices) mailing list, in case we make any backwards incompatible cha

[2012-09-04 14:47] #2417 closed, assigned to nobody

[2012-09-04 14:50] callahad commented on #2423
Looking into this now...

[2012-09-04 15:45] MarkTraceur opened #2425 "Forwarding email address is slow....maybe doesn't send confirmation"
After asking about this project some time ago, I recently tried signing up to be represented on Persona.

I use a member.fsf.org email for most of my business, which is sent to the FSF servers first, and then to another email address that is "normal", i.e., it uses IMAP and accepts headers and whatever else have you.

When signing up with member.fsf.org, I did not receive an email for confirmation

[2012-09-04 15:46] MarkTraceur commented on #2425
Oh, it should be said, though I signed up twice with the member.fsf.org address (thinking the first try failed), I may have received only one confirmation. This may be _cough_ clever _cough_ caching/mistake-preventing behavior that is intentional, but it seems the line may be a bit fuzzy there.

[2012-09-04 15:57] ozten commented on #2417
Hello again @GeekShadow ! If you are okay hosting node code, try https://github.com/ozten/hostedpersona

[2012-09-04 18:52] ozten commented on #2412
In discussions outside of this bug:

1) We need this data to provide a quality fallback service
2) Users can "opt out" by using:
  a) a primary instead of our secondary
  b) a native implementation instead of our shim

We've all agreed we've explored this territory fully and feel comfortable closing this issue.

[2012-09-04 18:52] #2412 closed, assigned to skinny97214

[2012-09-05 02:19] seanmonstar commented on #2423
Do you happen to have a link to this happening?

[2012-09-05 02:34] callahad commented on #2423
Okay, that's strange. I'm actually seeing a slightly different set of events in Chrome and Safari:
1. Invoke `navigator.id.request()`
2. `onlogin` runs
3. `onlogout` runs
4. `onlogin` runs

/me grumbles

I'm able to reproduce this, and have a minimal case up at https://github.com/callahad/persona-issue-2423

[2012-09-05 02:34] seanmonstar opened #2427 "navigator.id.logout() callback needs deprecation warning"
The callback argument for `navigator.id.logout()` has an inline comment about deprecation, but should also log a warning letting developers know.

[2012-09-05 03:21] seanmonstar commented on #2423
Some investigation notes:
- When onlogin is triggered, the shim also tells the communication_frame that the dialog_completed. This triggers insice the iframe a request to getSilentAssertion, I guess to make sure everything worked out?
- If I turn on the debugger and step through, everything works.
- If I don't step through, and let it error immediately, I get an error saying the status was 0, whic

[2012-09-05 08:18] stephank commented on #2423
@callahad That's actually the same sequence of events that I'm seeing. Though, not in 'one sitting', the 3. `onlogout` completes, and the 4. `onlogin` is on a new page.

@seanmonstar I haven't yet seend or found the code on 'the other side' of the iframe, so I can't comment on the details, but that makes a bit of sense. Though, is `getSilentAssertion` something that's called from `request()` and n

[2012-09-05 16:49] klrmn opened #2429 "rework popup identification in bidpom"
from @davehunt via email:

BIDPOM currently cycles through the open windows until it finds out with the appropriate page title. This is a little more fragile than I'd like as the page title should be able to change without affecting the tests (and the page title is different in each locale). Since https://github.com/mozilla/browserid/issues/1023 has been fixed we can improve BIDPOM by referencing

[2012-09-05 16:50] klrmn opened #2430 "provide a BIDPOM method that logs on whether you are returning or not"
bidpom's methods currently expect the script to tell it whether you are a returning user or not, but some of the WebDriver implementations (IE, Android) do not provide clean profiles, so the first time you log in you're new, and the second time, you're returning.

[2012-09-05 16:58] jaredhirsch commented on #2364
fixed by https://github.com/mozilla/browserid/pull/2426

[2012-09-05 16:58] #2364 closed, assigned to jaredhirsch

[2012-09-05 17:13] klrmn opened #2431 "fix BIDPOM's CompleteRegistration __init__ method to make url optional for backward compatibility"
breaking backward compatibility would be bad

[2012-09-05 17:59] klrmn opened #2432 "either fix www.123done.org to get include.js from browserid.org or fix run and run_sauce scripts to not point to www"
klrmn
_6a68: whee! i can't test the merging of bidpom master into bidpom production because http://www.123done.org/ spins forever instead of giving the login button

_6a68
klrmn: give it a few, try again?

klrmn
it seems to be working better with 123done.org than www.123done.org

_6a68
huh

klrmn
interesting, doncahthink? dns entries whacky  maybe?
nope, ping resolves both of them to the same addr

[2012-09-05 19:34] callahad commented on #2419
Yeah, having persona.org work is crazytalk. Nuke that. (Well, see if anyone is hitting it, then nuke it)

[2012-09-05 19:36] callahad commented on #2420
+1 for checking usage then nuking.

[2012-09-05 21:38] seanmonstar commented on #2397
@jmaher Did anything happen at all? As I use Nightly for Android regularly, I find on many sites, sometimes tapping on links does nothing at all.

Possibly related: https://bugzilla.mozilla.org/show_bug.cgi?id=787540

If this is only in Firefox for Android, and not on stock browser or Chrome, I'd say mark this upstream.

[2012-09-05 22:38] Brigit commented on #1744
Curtis confirmed that he would like this changed to 4 stars and added to our beta-2 hit list so that he can close out the privacy review for browserid.  link to https://bugzilla.mozilla.org/671998

[2012-09-05 22:54] jmaher commented on #2397
Nothing happened at all.  It seemed to be a dead link.  I just tested with
the stock browser and I am unable to click on the forgot your password link
as well.

On Wed, Sep 5, 2012 at 5:38 PM, Sean McArthur notifications@github.comwrote:

[2012-09-05 23:47] seanmonstar commented on #2397
Interesting. The link works correctly on my tablet, in both Browser and Firefox 18.

I've got a Galaxy Tab 10.1, running Android 4.1.1.

[2012-09-06 00:28] klrmn commented on #2431
https://github.com/mozilla/browserid/pull/2433

[2012-09-06 00:28] #2431 closed, assigned to nobody

[2012-09-06 01:17] jmaher commented on #2397
I have a Galaxy Tab 10.1 running Android 3.1, I am going to upgrade it and
try again.

On Wed, Sep 5, 2012 at 7:47 PM, Sean McArthur notifications@github.comwrote:

[2012-09-06 01:20] seanmonstar commented on #2397
Well, it's not an official upgrade. I believe the Tab is officially at 3.2.

[2012-09-06 03:05] jrgm commented on #2432
The trick is here - https://github.com/mozilla/123done/blob/master/retarget.js#L17

But I'd prefer fixing the the run\* scripts to adding support for www.123done.org as an unneeded alias to 123done.org.

[2012-09-06 03:14] klrmn commented on #2429
https://github.com/mozilla/browserid/pull/2434

[2012-09-06 03:14] #2429 closed, assigned to nobody

[2012-09-06 16:37] jrgm commented on #2432
-> @6a68 to pick a fix and fix it.

[2012-09-06 16:42] jrgm commented on #2425
Do you have the smtp headers for the email that was slow in delivery? Could you share them privately?

[2012-09-06 16:44] callahad commented on #2423
Reassigning to @lloyd since he has more experience with the communication iframe...

[2012-09-06 16:47] callahad commented on #2420
Assigning to @gene1wood to do the log scraping

[2012-09-06 16:47] callahad commented on #2419
Assigning to @gene1wood to check the logs.

[2012-09-06 16:49] callahad commented on #2418
Assigning to @benadida

[2012-09-06 16:50] jrgm commented on #2404
So @skinny97214 says make it so... @ozten make it so!

[2012-09-06 17:21] ozten commented on #2404
I'm not currently working on mozilla/browserid, so I'm going to re-assign to @shane-tomlinson. Anyone who wants this, feel free to reassign to yourself.

[2012-09-06 17:55] callahad opened #2436 "We need a deprecation plan that we can announce with Beta 1"
Assigning to @fmarier to wrap up since he came up with a [great initial plan](https://etherpad.mozilla.org/VCEhszkXV6).

We need to commit to supporting our API, as it is documented, upon releasing Beta 1.

For RPs, this means committing to:
1. **id.watch()**: with loggedInUser, onlogin, and onlogout.
2. **id.logout()**: without any parameters.
3. **id.request()**: with oncancel, privacyPolicy, te

[2012-09-06 17:58] callahad commented on #2436
Also: Should we _only_ commit to API stability for RPs in Beta 1? We can add IdPs in Beta 2?

[2012-09-06 18:31] callahad commented on #2436
Posted to the mailing list: http://thread.gmane.org/gmane.comp.mozilla.identity.devel/1957

[2012-09-06 20:26] jaredhirsch opened #2437 "navigator.id.get actually logs user in if dialog is dismissed"
@jbuck dropped by #identity and reported the bug; I was able to reproduce in latest Chrome and FF Nightly.

If you have logged in before, then go back to the page, start the login flow, but close the popup, the login callback gets called twice--once with a null assertion, then the second time, with an assertion. So the user winds up getting logged back in.

STR:
1. go to dev.butyr.org/templates/ba

[2012-09-06 22:16] jrgm opened #2438 "lib/statsd.js should log the uncaught exception (in addition to incrementing the uncaught counter)."
lib/statsd.js should log the uncaught exception (in addition to incrementing the uncaught counter).

[2012-09-06 22:37] jaredhirsch commented on #2429
@klrmn: thanks for filing the bug and the pull request to fix it!

Just a procedural note - to keep issues up to date, I'll close tickets right when I merge in pull requests.

[2012-09-06 22:38] ozten opened #2440 "statsd module should log uncaught exceptions"
We register only 1 uncaughtexception handle, in lib/statsd.js.

This handler currently talks to statsd to record an exception. In some cases, nothing is logged so the server silently falls over.

We should also log an error right after talking to statsd.

[2012-09-06 22:39] vthunder opened #2441 "Client gets into a funky state where there are no email addresses listed"
Luciana told me today that BrowserID wasn't working for her. When she showed me what happened when she clicked sign in on a BrowserID site, it was obviously wrong. I didn't take a screenshot, but it looked like the "signed in" popup state (showing the "add another email" and "this is not me" buttons). However, there were _no_ email addresses listed.

Luciana would click "sign in" on the popup, and

[2012-09-06 23:04] jaredhirsch commented on #2402
Regardless of whether Jenkins triggers the deployer or vice versa, right now tests are falsely failing because they are running against dev while the deployer is deploying.

I can think of two approaches:
1. Jenkins receives the git push, kicks off deployer, polls deployer to see if it's done, then runs tests. We rely on Jenkins to only run this loop serially, so that later commits won't kick off

[2012-09-07 00:01] fmarier commented on #2436
@callahad Do you think we have enough 3rd-party uptake on the IdP side to feel confident that the API is reasonable? I personally get the feeling that most Persona adopters are RPs at the moment (which is not a bad thing in itself).

Also, it might be good to explore DNS-based delegation (GH-1523) before we commit to keeping that API stable.

[2012-09-07 00:59] jrgm opened #2444 "fix CREATE_TEST_USERS mysql insert statement"
It's missing a placeholder for the hashed password.

[2012-09-07 02:29] jrgm commented on #2441
This sounds similar to GH-1472 and there are STR there and on previous duplicates.

One part I don't understand here is that when in this state, clicking on sign in (for me) throws up an alert that says "The selected email is invalid or has been deleted". I'm also not sure what to say about the email delivery. Did Luciana _ever_ get the emails? Also does Luciana recall if she changed her password

[2012-09-07 02:31] jrgm commented on #1472
@seanmonstar - can you have a look at bailing gracefully out of this state (for whatever reason it can happen).

[2012-09-07 04:12] callahad commented on #2436
@fmarier I'm not completely confident in the IdP API -- especially given the issue #2339. Beta 2 will have a strong focus on IdPs, so I think it makes sense to stabilize that API then.

In my mind I see the following beta-worthy milestones:
1. RPs can ship with Persona.
2. IdPs can add support for Persona.
3. Data formats are stable, so RPs can do local verification.
4. Core API is stable, so RPs

[2012-09-07 06:01] renatosilva opened #2446 "Bugzilla does not remember my Persona logon"
When I sign on to https://bugzilla.mozilla.org using Persona and then restart Firefox, it will ask me to log in again, even though it is configured to remember everything. I need to always go to the Persona pop-up then click to enter every time I restart Firefox. The only way to make it work is by setting "When Firefox starts" to "show my windows and tabs from last time'", however I use start page

[2012-09-07 06:06] jrgm commented on #2446
When authenticating to b.m.o with persona it issues session scoped login cookies from bugzilla.mozilla.org. If you authenticate using username + password, cookie expiry is set to year 2038.

So on restart when authed with persona you have to pop the dialog again which is a nuisance, but a restart with username+password just let's you back in automatically. Is this a policy decision for the b.m.o R

[2012-09-07 06:23] jrgm commented on #2438
resolving as duplicate of GH-2440, but First Post!

[2012-09-07 06:23] #2438 closed, assigned to nobody

[2012-09-07 18:11] jrgm opened #2447 "load_gen: add option to use a verifier URL that is different from the main browserid site"
We really should be able to send the /verify POSTs to a different host URL than the URL that is used to pop the /sign_in dialog.

Currently there is option `-s` which is used for both purposes.

[2012-09-07 18:46] jrgm commented on #2447
And my brain is crashing. This already exists. I knew that. Duh. Closing.

[2012-09-07 18:46] #2447 closed, assigned to nobody

[2012-09-07 19:42] jrgm commented on #2441
Okay, I spoke with Luciana about the questions I had. Marking dup on GH-1472

[2012-09-07 19:42] #2441 closed, assigned to nobody

[2012-09-07 19:55] Pomax opened #2448 "OpenSans font at weight 300 malrenders on Windows"
It would appear that windows 7 doesn't quite know how to deal with rendering the Open Sans font that is used for browserid at a font-weight 300, based on the weight-400 font @font-face rule. On windows 7 the browserid login and website are hard to read in both Firefox and Chrome, although changing the weight from 300 to 400 makes it properly readable again, so it might just be a matter of having t

[2012-09-07 20:06] callahad commented on #2448
Hi Pomax, thanks for letting us know! I'm closing this as a dupe of #1856; a fix is staged to roll out with the next deploy.

[2012-09-07 20:06] #2448 closed, assigned to nobody

[2012-09-11 17:11] callahad opened #2457 "Opera account manager "Remove" button has wrong background"
The "Remove" button in the account manager is styled wrong:

![Account manager in Opera 12.50](http://new.tinygrab.com/31dd25712bfb59a4c75216068ef31abe741f2f80c2.png)

Specifically, none of the `button.delete` styles are getting a `background-image` set in Opera, while the normal `button` styles are. The obvious difference is that the `button` styles use `-webkit-linear-gradient`, which Opera unde

[2012-09-11 18:05] jaredhirsch opened #2458 "clicking 'sign up' on anosrep.org goes to 'sign in' page, not 'create acct' page"
go to anosrep.org, click 'sign up'
in the existing site, you're taken to login.persona.org/signup.
in the staging site, you're taken to login.anosrep.org/signin.

[2012-09-11 18:10] jaredhirsch opened #2459 "after sign up on anosrep.org, confirmation page header says 'sign in', not 'sign out'"
go through sign up flow with a secondary email on anosrep.org:
- click 'sign up'
- enter new secondary email
- enter password
- grab verification link from email
- enter verification link
- resulting success page says 'thank you for signing up', but the header has a 'sign in' link.

I'd expect the header to say 'sign out' at this point.

If I click 'sign in' there are a couple funky redirects, lan

[2012-09-11 18:24] jrgm commented on #2458
"It's a feature!"

[2012-09-11 18:25] jaredhirsch opened #2460 "IE8: on acct mgr page, changing password, then back to old password causes ugly fail"
broken on IE8/XP
not broken on IE9/win 7, IE9/vista, or Chrome/Mac
- sign in to a secondary-based account on anosrep.org
- change to a new password in the account manager
- immediately change back to the old password
- the password does update, but the page freezes with a horrible error message

screenshot: http://imgur.com/Uj0n8

error message text:

We are very sorry. There has been an error!
Pl

[2012-09-11 18:34] jrgm commented on #2460
I can't reproduce this with IE8/XP. What exactly do you mean by "immediately change back to the old password". Do you just mean to use the dialog twice changing password foo to bar, and then bar to foo?

[2012-09-11 18:38] jaredhirsch opened #2461 "funky product asymmetry: can only add addresses in dialog, can only remove addresses in acct manager"
inside the dialog, it's possible to add email addresses, but not remove them.

at the account manager page, if you click 'edit', you can remove addresses, but not add them.

would be cool to provide the full range of behavior on the acct manager page.

adding 'remove this email' functionality within the dialog seems debatable.

[2012-09-11 18:45] seanmonstar commented on #2458
Yea, that's working as intended. We merged the Sign In and Sign Up pages into one.

[2012-09-11 18:45] #2458 closed, assigned to nobody

[2012-09-11 18:48] jrgm commented on #2457
I get '-o-linear-gradient'. Huh?

![img](https://img.skitch.com/20120911-ndgsbafa1d4wwsrk2w89cdyssi.png)

[2012-09-11 18:54] jrgm opened #2462 "Use a custom dialog for "cancelling" an account (language paradox)"
Okay, this is a maybe a nitpick, and experienced users are probably not terribly confused. But anyways the meaning of 'cancel' is overloaded in an English localized browser... "To not cancel your account, click cancel" ;-)

![img](https://img.skitch.com/20120911-t4w7k374fnceku694kdim42ugs.png)

I have no idea how this plays out in other languages (L10N), so probably just getting away from window.c

[2012-09-11 20:16] jaredhirsch commented on #2460
hmm, what I mean is: you're on the account manager page. you change passwords. then, without reloading the page, you change them back. so the exact sequence would be:

sign in --> land on acct mgr page
click change password --> old/new password inputs appear
enter old & new passwords, hit submit --> form disappears
without reloading the page, click change password again --> inputs appear again
ent

[2012-09-11 21:05] callahad commented on #2457
This is apparently a change in the upcoming 12.50 release. As per [this blog post](http://my.opera.com/ODIN/blog/2012/08/10/css-vendor-prefixes-in-opera-12-50-snapshots) (emphasis mine):

So.. we need to add un-prefixed gradients to our stylesheets. This is only working at all in 12.50 by virtue of Opera implementing `-webkit-linear-gradient`.

MDN [suggests](https://developer.mozilla.org/en-US/do

[2012-09-11 21:53] benadida commented on #2436
I like the RP plan.

Regarding IdP, agree to push back commitment to at least Beta 2, maybe later depending on feedback.

[2012-09-11 22:04] jrgm commented on #2460
Hmm, I don't see this happening in my IE8. 8.0.6001.18702

[2012-09-11 22:35] jaredhirsch commented on #2460
I have the exact same version of IE8...and cannot currently repro this, either. Closing.

[2012-09-11 22:35] #2460 closed, assigned to nobody

[2012-09-11 23:03] klrmn opened #2463 "UI buttons cannot be used if you add too many emails"
After adding 8 email addresses via the pop-up, the sign-in button is now half hidden. I expect that if I add 1-3 more, all of the buttons will be hidden.

http://imgur.com/zjMFn

[2012-09-11 23:06] callahad commented on #2463
Closing as a dupe of #2399 -- should be resolved as of pull request #2422

Thanks, @klrmn!

[2012-09-11 23:06] #2463 closed, assigned to nobody

[2012-09-11 23:10] satdav opened #2464 "Site information"
Hello their possible site issue

can you make the following text stand out better

 New to Mozilla Persona? Learn more as hard to read with the dark background

[2012-09-11 23:19] klrmn opened #2465 "after sucessful new user creation on persona server, confirm page should redirect to home page"
open login.anosrep.org
click sign-up
provide (new) email and password
fetch link from email
open link in same browser

expected:
redirect to https://login.anosrep.org/ (after 5 seconds?)

actual:
no redirect.
stuck on https://login.anosrep.org/verify_email_address?token=TOeFZCjarrJwRBBDwkzp82ZPST3SY2sEmol8ZqMNbY0pYPPs

[2012-09-11 23:41] satdav opened #2466 "Recapcha"
Hi can i suggest you enable recapcha on the system for people to login and register

would be good and might stop spam in the long run

Recapcha is good it stops all kinds of spams

[2012-09-11 23:50] callahad commented on #2466
Hi @satdav, thanks for the enhancement suggestion! I don't think recaptcha makes sense for Persona, especially given its distributed nature: any domain can certify its own users. In the absence of evidence of actual spam issues related to Persona, I'm going to close this ticket for now.

Thanks again!

[2012-09-11 23:50] #2466 closed, assigned to nobody

[2012-09-12 00:42] indygreg opened #2467 "Pop-up not rendering on Firefox Nightly 2012-09-11"
STR:

1) https://developer.mozilla.org/en-US/
2) Click "Sign-in" button
3) Nothing happens

This is with Firefox Nightly 2012-09-11 build. Is reproducible with all add-ons disabled. I can sign in through https://login.persona.org/signin just fine.

There is no output in the Error Console when I click the sign-in button. However, my chrome toolbar does "flash." I wonder if the built-in Persona supp

[2012-09-12 00:55] callahad commented on #2467
Thanks for filing this @indygreg! I don't have Windows 7 handy, and I can't reproduce this on OS X.

A few days ago another user reported the same issue in #identity, but quickly stated that it was an issue with noscript and that all was well. Alas, noscript isn't a factor in this bug report :(

[2012-09-12 01:51] jrgm commented on #2467
I am running 18.0a1 (2012-09-11) on Windows 7 Pro SP1, no addons enabled and fairly vanilla profile. When I go to https://developer.mozilla.org/en-US/ and click 'Sign in' the popup opens and I am able to sign in to MDN with my persona email address.

((I don't want to morph this bug from what Greg reported, but for completeness I'll note that if I explicity enable dom.identity.enabled in about:con

[2012-09-12 03:52] fmarier opened #2469 "How does it work: screenshot has old browserid.org domain in the URL bar"
![Dialog screenshot](https://login.anosrep.org/v/aac0db543f/pages/i/flexible-graphic.png)

[2012-09-12 04:02] fmarier commented on #2159
It's now mostly updated, but the page title still uses BrowserID: https://support.mozilla.org/en-US/kb/what-browserid-and-how-does-it-work

[2012-09-12 04:10] fmarier opened #2470 "Persona password cannot be saved in Firefox password manager"
I searched for this and couldn't find an existing bug, so it must be in the too-obvious-to-file-a-bug category.

Nevertheless, it's a real pain point for many users (lots of users of bugzilla.mozilla.org prefer to sign-in w/o Persona so that their browser can save their credentials) and may lead to people picking a less secure password.

[2012-09-12 04:33] fmarier opened #2471 "Password reset: landing page says "Your address has been verified!""
Steps:
1. clear cookies
2. go to https://login.anosrep.org
3. type in a (secondary) email address
4. click the "forgot password" link
5. type in a new password
6. check your email and click on the link

The landing page you get after successfully resetting your password is:  "Your address has been verified! "

[2012-09-12 04:46] jrgm commented on #2470
Yeah, so github's problems today seem to have broken searches for issues before today. I'm sure it will be restored later.

But I had been toying around with stuff and I have a mongo clone of the github issues and from that this is GH-314 and also https://github.com/mozilla/browserid/issues/1076#issuecomment-3879333. So, this is indeed a major pain point that we should fix (but IMHO it's an upstre

[2012-09-12 04:46] #2470 closed, assigned to nobody

[2012-09-12 04:48] jrgm commented on #314
See also
https://bugzilla.mozilla.org/show_bug.cgi?id=653775
https://bugzilla.mozilla.org/show_bug.cgi?id=631802
https://github.com/mozilla/browserid/issues/1076#issuecomment-3879333

[2012-09-12 05:09] callahad commented on #2159
SUMO pushed back their launch until next week, so we'll have to wait until then for our own section.

[2012-09-12 06:41] jmathai opened #2472 "Unable to lazy load include.js file"
Ideally you could lazy load the include.js file once a user clicks to log in. Doing so triggers the popup blocker in Firefox.

It's sort of a known issue but having a solution would be nice. One idea is to create the popup and then pass a reference to it into the `getVerifiedEmail` function. I'm not terribly happy with that proposal but thought I'd at least open an issue to track it.
- [JSFiddle o

[2012-09-12 06:51] fmarier opened #2473 "Chrome for Android Tablets: hard to tap the next button -- "Terms" link too close"
The button looks like it's large enough, but during my testing, I only had a 50% success rate in tapping the button instead of the "Terms" link. It was not a big deal, but definitely irritating.

![Button and links](https://gist.github.com/raw/3704774/22ff94d25003724d4faa691383bda6ec253538dd/Screenshot_2012-09-12-17-56-45.jpg)

Perhaps we could add a bit of whitespace to move the TOS/PP links away

[2012-09-12 11:39] shane-tomlinson commented on #2461
Closing as a dup of #421.

[2012-09-12 11:39] #2461 closed, assigned to nobody

[2012-09-12 12:50] shane-tomlinson commented on #55
Since @callahad is now our document master, re-assigning to him. - Is this being taken care of with the new doc push?

[2012-09-12 13:05] shane-tomlinson commented on #2397
Link to #2473

[2012-09-12 13:07] shane-tomlinson commented on #2465
Link to #2388

[2012-09-12 13:08] shane-tomlinson commented on #2465
Check if taken care of with #2424

[2012-09-12 13:09] shane-tomlinson commented on #2465
Reading my own comments in #2424, this IS taken care of. Closing.

[2012-09-12 13:09] #2465 closed, assigned to nobody

[2012-09-12 13:16] shane-tomlinson commented on #2462
@skinny97214, @jrgm - This is a good catch.

Could a language change work here instead of using an entirely new dialog?

[2012-09-12 13:27] shane-tomlinson commented on #2399
Closing with merge of #2422

[2012-09-12 13:27] #2399 closed, assigned to shane-tomlinson

[2012-09-12 13:29] shane-tomlinson commented on #2346
Closing with merge of #2347

[2012-09-12 13:29] #2346 closed, assigned to shane-tomlinson

[2012-09-12 13:30] shane-tomlinson commented on #2353
Closing with merge of #2383

[2012-09-12 13:30] #2353 closed, assigned to shane-tomlinson

[2012-09-12 13:33] shane-tomlinson commented on #2473
Linking to #2299

[2012-09-12 13:36] shane-tomlinson commented on #289
@lloyd, @benadida - has this been taken care of?

[2012-09-12 13:38] shane-tomlinson commented on #56
@callahad - What is your take on this?

[2012-09-12 13:41] benadida commented on #289
no, it hasn't, let's review with @warner

[2012-09-12 13:42] shane-tomlinson commented on #2382
Closing with the merge of #2421

[2012-09-12 13:42] #2382 closed, assigned to shane-tomlinson

[2012-09-12 13:53] shane-tomlinson commented on #2101
Fixed with #2424, closing.

[2012-09-12 13:53] #2101 closed, assigned to lloyd

[2012-09-12 14:46] lloyd commented on #2472
include.js is 5k compressed.  Why bother lazy loading?

[2012-09-12 16:14] callahad commented on #56
@shane-tomlinson If BigTent covers as many users as we expect it to, adding two-factor auth to our fallback feels moot.

@vthunder -- agree?

[2012-09-12 16:19] callahad commented on #55
@joshtriplett Do you still feel the same about email providers being involved in the BrowserID protocol?

Offloading identity certification to the email providers is kind of the point of the protocol :) If we relied on mailing a token to people, we wouldn't have a decentralized protocol, since we would have to do the mailing.

[2012-09-12 16:30] ozten commented on #56
The type of people who are passionate about two factor auth are also the type of people who can host their own IdP today or someday pay for a hosted IdP solution which uses YubiKeys, N-factor auth, etc.

[2012-09-12 17:21] callahad commented on #56
That seems like consensus. Closing this for now -- our fallback IdP is meant to be temporary, and security conscious users can set up their own IdPs, or use Gmail / Yahoo's two-factor option once BigTent goes live.

[2012-09-12 17:21] #56 closed, assigned to nobody

[2012-09-12 17:24] jrgm commented on #2462
A language change would work in English, but some other word translated to another language might have the same way of being overloaded. But yeah, a whole custom dialog to present Yes/No is a pain.

[2012-09-12 17:26] joshtriplett commented on #55
That doesn't seem at all obvious given the descriptions of the protocol, which seems designed to offload identity certification to _browsers_.  Email verification just seems like a step taken to ensure that the site using BrowserID^WPersona can actually rely on the email address as something other than an opaque unique ID.

I don't mean to suggest that email verification has no purpose in the prot

[2012-09-12 17:29] jmathai commented on #2472
@lloyd Seems like I should still have the option to lazy load it. A couple thoughts though...
1. There are workarounds
2. 5k isn't large but it's also non-zero
3. The reason for the existing behavior exists at the browser level for security reasons (unwanted popups)

Number 3 alone might make this a WONTFIX. Perhaps a nice to have but still valuable to keep page weight as low as possible.

[2012-09-12 17:37] callahad commented on #55
@joshtriplett Gotcha. Thanks for the update. If you don't mind going back and forth with me for a few more comments, I'd love to get a fleshed out idea of what you're thinking and how to best explain the system.

The central idea is for the browser to hold and show credentials _issued by_ the email provider: if I want to use `foo@example.com`, then I need a certificate from example.com attesting t

[2012-09-12 17:38] shane-tomlinson commented on #2472
@jmathai - lazy loading implies that you are using navigator.id.get and not the navigator.id.watch/request API? I have not tested lazy loading in any form, but have you tried adding include.js asynchronously just after DOMContentLoaded/onload but before the user clicks on the login button?

You could do something like wait for DOMContentLoaded, add include.js asynchronously, as soon as include.js

[2012-09-12 17:44] jmathai commented on #2472
@shane-tomlinson I was just trying that. I imagine that will work. Stay tuned...

[2012-09-12 23:00] jrgm opened #2474 "[IE10] /signin for new or existing user is broken"
STR

1 - With Windows 8 and IE10 go to https://login.anosrep.org/signin
2 - The UI is (mostly) broken. Fields and buttons that should be hidden are not hidden.
3 - While it is possible to signin as an existing user despite the bad UI, it is not possible to begin a user signup.
4 - There are no javascript errors reported in dev tools.

This is the UI immediately on loading /signin.

![img](https://

[2012-09-12 23:42] jrgm commented on #2474
Hmm, I'll retest this in a while because stage my have been swapped out on me. (I think the above is from before that happened, but perhaps not).

[2012-09-13 00:24] skinny97214 commented on #2462
This is a case where we want a modal with a confirmation. Agree the wording is bad. Would "delete" be better than "cancel?"

[2012-09-13 01:05] jrgm commented on #2474
Yeah, this was due to stage being in a split brain state in stage. Nevermind.

[2012-09-13 01:05] #2474 closed, assigned to nobody

[2012-09-13 14:44] callahad commented on #2436
Closing this down -- the plan is a 6 month minimum notice for stable RP-facing APIs, with possible extension for another 6 months depending on feedback / metrics.

[2012-09-13 14:44] #2436 closed, assigned to fmarier

[2012-09-13 15:36] gerv commented on #2446
@jrgm: I did not consider cookie lifetime specifically when designing the integration, so I'd have to say it was unintended. That doesn't mean it's the wrong decision, of course :-) Please file a bug in BMO in the "bugzilla.mozilla.org" product to cover this issue, and assign it to me in the first instance.

Gerv

[2012-09-13 16:43] lloyd commented on #2467
works for me.  I'm closing down but urge you to re-open if you gain more information.

[2012-09-13 16:43] #2467 closed, assigned to shane-tomlinson

[2012-09-13 16:46] lloyd commented on #2464
skinny to improve font color choices.

[2012-09-13 16:58] lloyd commented on #2446
thanks for chiming in @gerv - please let us know how we can help, people have been complaining about session duration on bugzilla and you have full access to any of the team to get this fixed!

@jrgm will make a bugzilla ticket

[2012-09-13 16:58] #2446 closed, assigned to nobody

[2012-09-13 17:13] jedp commented on #2247
Ok: to-do for me:
- create a new account at regular intervals using personatestuser
- capture the KPI stream for each identity created
- profit

[2012-09-13 17:15] lloyd commented on #2097
ping?  what's the plan?

[2012-09-13 17:16] lloyd commented on #2038
ping, status?

[2012-09-13 18:03] jrgm commented on #2446
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=791035 - Cookie lifetime should extend beyond session when authenticated via Persona login

[2012-09-13 19:06] jrgm opened #2476 "Stage is redirecting static.login.anosrep.org to login.anosrep.org"
Stage is redirecting static.login.anosrep.org to login.anosrep.org

On stage, at the moment, URLs like below are being returned a 301 response which is wrong:

https://static.login.anosrep.org/v/ad5ad4541d/pages/i/slit.png
https://static.login.anosrep.org/v/53e7265f01/production/en_US/browserid.js
https://static.login.anosrep.org/v/ad5ad4541d/pages/i/slit.png

/cc @gene1wood, @fmarier , @lloyd

[2012-09-13 19:36] lloyd commented on #2476
these 301s do not seem present on dev.  nor on production.  I agree that this seems like zeus.

[2012-09-13 19:45] ozten commented on #2097
Removing Zeus config from stage per https://bugzilla.mozilla.org/show_bug.cgi?id=781838#c27

[2012-09-13 19:45] ozten commented on #2038
Removing Zeus config from stage per https://bugzilla.mozilla.org/show_bug.cgi?id=781838#c27

[2012-09-13 20:13] jaredhirsch opened #2477 "adjust selenium tests to use primary flow"
bigtent is now allowing gmail to be treated as a primary, not secondary, IdP, so that two of the 123done tests are busted.

@klrmn mentioned she has code to fix this, just opening this issue as a temporary placeholder

[2012-09-13 20:29] gene1wood commented on #2476
I've rolled back staging to the current production zeus rules

[2012-09-13 20:29] #2476 closed, assigned to nobody

[2012-09-13 20:30] jrgm commented on #2476
Confirmed that those requests are now 200 OK in stage.

[2012-09-13 20:35] klrmn commented on #2477
I don't have the code yet, but I know what needs doing. We just need to
decide if it's happening within the current test organization, or as part
of the test re-org.

On Thu, Sep 13, 2012 at 1:13 PM, Jared Hirsch notifications@github.comwrote:

[2012-09-13 21:19] shane-tomlinson commented on #1332
@ozten, @callahad - since BigTent is built, can this be closed?

[2012-09-13 21:19] shane-tomlinson commented on #1513
@ozten, @callahad - Since BigTent is built, can this be closed?

[2012-09-13 21:19] ozten commented on #1332
Ship It!

Good call @shane-tomlinson

[2012-09-13 21:19] #1332 closed, assigned to ozten

[2012-09-13 21:36] #1513 closed, assigned to ozten

[2012-09-13 22:48] jrgm commented on #1702
Also reported in https://bugzilla.mozilla.org/show_bug.cgi?id=790989

[2012-09-14 00:26] jrgm commented on #2130
veriifed fixed

[2012-09-14 00:33] jrgm commented on #2459
Actually, this is fixed in current login.dev.anosrep.org. See GH-2424

[2012-09-14 00:33] #2459 closed, assigned to shane-tomlinson

[2012-09-14 00:36] jrgm commented on #2471
Actually this is fixed in current login.dev.anosrep.org, no? See GH-2424

[2012-09-14 00:36] seanmonstar opened #2478 "add a .jshintrc file"
Our guidelines demand we run jshint before push code (on save is even better), but jshint allows us to declare different rules on each computer.

We have a few jshint settings hiding in the comments at the top of files, so why not just include a [root level `.jshintrc`](https://github.com/jshint/node-jshint/#within-your-projects-directory-tree).

[2012-09-14 02:21] fmarier commented on #2471
Here's the landing page I get from `login.dev.anosrep.org`:

![Password reset confirmation page](https://raw.github.com/gist/3719384/0ac9ee774fbaed672ff1aa95159c1bb984b0fecc/confirm_password_change.png)

It does redirect correctly to the management page after 5 seconds, but the first page you see does talk about email verification, not password reset.

Maybe that's a 1-star or 2-star issue?

[2012-09-14 03:29] jrgm commented on #2471
Ah, sorry. I forgot this was about the language ('address has been verified' vs. 'password has been reset'). Thanks for reopening and fixing my mistake.

[2012-09-14 03:31] jrgm commented on #2471
And this is still 3-star. I just confused this issue with some others.

[2012-09-14 03:58] fmarier commented on #2476
I have added a new test for this in [my fork](https://github.com/fmarier/checkurl) of the `check-url` script:

  https://github.com/fmarier/checkurl/commit/e1f46a3609f27222c14098d12447a909c5aad318

[2012-09-14 04:18] fmarier opened #2479 "Integrate the Zeus URL redirection test script into our regression test suite"
Once [prod is fixed](https://bugzilla.mozilla.org/show_bug.cgi?id=781838) and the tests pass, we should add this repo to our regression test suite:

  https://github.com/fmarier/checkurl

@jrgm points out that it would be nice to preserve history (which has explanations for each test) when we add the test to the browserid repo. This should be easily doable with git-format-patch and git-am.

CCing

[2012-09-14 04:23] klrmn commented on #2477
the code now exists on my fork/branch at https://github.com/klrmn/browserid/blob/new_organization/automation-tests/tests/test_login_logout.py (and supporting files)

[2012-09-14 10:13] shane-tomlinson opened #2481 "Main site includes all templates for dialog"
This bloats the main site JS by several KB.

[2012-09-14 10:16] shane-tomlinson opened #2482 "favicon.ico does not have an expires header set"
This is giving us a Grade B on Add Expires headers in YSlow

[2012-09-14 10:29] shane-tomlinson opened #2483 "flexible-graphic.png's dimensions are not defined in /about"
This slows down rendering of the /about page.

[2012-09-14 10:47] shane-tomlinson commented on #2478
Here is what I am using, which I am sure can be cleaned up/added to:

[code]

[2012-09-14 11:30] shane-tomlinson opened #2484 "Add KPI/stat tracking API usage"

[2012-09-14 11:38] shane-tomlinson opened #2485 "is diajog/js/modules/dialog.js->getVerifiedEmail needed?"
This was initially used as an access point for Pancake and Soup and is probably no longer needed.

[2012-09-14 16:30] ozten commented on #2268
I've spent some time with convict and [JVS](https://github.com/garycourt/JSV) and fixing this is non-trivial. I need help making these changes. I'm capturing devops requirements here, feel free to break this into more Issues and tackle them one at a time.

### Requirements:
- Config system should ignore unknown config, so that version 1 software can be deployed on version 2 config without the proc

[2012-09-14 21:59] ozten commented on #2268
Hmm, totally forgot a chunk of Gene's feedback. Updated previous comment and changed good error messages to "ignore unknown config".

[2012-09-15 00:44] seanmonstar opened #2490 "npm test doesn't work on Windows"
A couple of things prevent the full test suite from running on Windows with the command `npm test`.
- needs to be `node ./scripts/test`
- `test_backend` is in bash
- `start-stop` relies on Signals, which don't work in node <=0.8.x on Windows

Possibly others...

[2012-09-15 01:02] seanmonstar commented on #1472
As I tried to reproduce this using the STR, I ran into the new flow that is on dev: By forgetting my password in one browser, my session was invalidated in the other. I was forced to login again, typing the email and password. I didn't get a list of no emails.

Could this be fixed because of the session invalidation, or are there other instances this happens?

[2012-09-15 20:20] jds2501 opened #2491 "Marketplace app does not remember my login"
Migration of https://bugzilla.mozilla.org/show_bug.cgi?id=785572 to browser ID github repository.

Not sure if this is on purpose but I have to go through the Persona login every time I start the Mozilla Marketplace application. I did go through Persona both with and without the 'Is this your computer, yes remember me for 2 weeks' screen.

[2012-09-16 19:59] merike opened #2492 "Confirmation for removing last email always displays in English"
When trying to remove my email from Persona (https://translate.personatest.org/) I get:

 Removing the last address will cancel your Persona account.
 Are you sure you want to continue?

This is actually translated for Estonian but never displays. Currently also seeing the same for pl and it for example.

[2012-09-17 03:52] nmalkin opened #2493 "No emails in email-picker view"
#### Symptom

![screenshot of email picker with no emails](http://f.cl.ly/items/3j1M2W3d0x3T1W3z2H1y/no-emails.png)
#### STR

Okay, so I haven't tried to reproduce this, but here's what I think happened:
1. Sign in to a site with new, secondary email address
2. Attempt to log in using same email address in a different browser, with an active Persona session
3. Email isn't associated with that acco

[2012-09-17 04:21] fmarier opened #2494 "Rarely used email addresses should be reconfirmed periodically in the fallback IdP"
Given the following scenario:
1. Alice creates Persona account.
2. Alice adds `alice@isp.net` and `alice@vanitydomain.com` to her account.
3. Alice stops paying for `vanitydomain.com` and lets the domain expire.
4. Bob buys `vanitydomain.com` and gives `alice@vanitydomain.com` to his wife.

The new owner of `alice@vanitydomain.com` is Bob's wife, but the original Alice still has it in her Persona

[2012-09-17 08:17] #2427 closed, assigned to seanmonstar

[2012-09-17 08:28] #2411 closed, assigned to seanmonstar

[2012-09-17 08:30] #2469 closed, assigned to callahad

[2012-09-17 08:45] #2457 closed, assigned to seanmonstar

[2012-09-17 13:29] shane-tomlinson commented on #2492
In client.po, this strong looks like:

[code]

In es/client.json, this is converted to:

[code]

where the original `\n` is converted to `\\n`.

With the added `\`, the string is not correctly matched. Manually removing the extra `\` correctly causes the string to match.

[2012-09-17 13:59] shane-tomlinson commented on #2492
po2json.js is converting `\n` to `\\n`, but I do not yet understand where.

I have made a temporary fix for this in compile-json.sh, but this seems like it should be moved into po2json.js:

[code]

[2012-09-17 18:00] benadida opened #2497 "login.persona.org should be a true IdP"
with authentication and provision endpoints, so a native implementation can fallback to it normally.

[2012-09-17 18:08] lloyd commented on #2497
interesting...  Is this fully designed?  For the web case, would we use the authentication and provisioning endpoints?  Or would these endpoints be _only_ a convenience for native implementations?

I think working through the implementation for 30 minutes will shake out most of the issues.  I am glad to do this, and all I need is full, yet terse, context on all of your ideas about how this will wo

[2012-09-17 18:12] benadida commented on #2497
@lloyd this is the thing we spent a few hours discussing a while back, and I believe you were included. This has to do with appending the GET parameter to the .well-known, the same solution we're using for BigTent.

So yes, I believe this is fully designed, and written up in the spec, and I'm pretty sure you were part of that discussion, but of course we can discuss again if there are any doubts!

[2012-09-17 18:26] lloyd commented on #2497
Woah there, Ben:  I'm not pushing back here.

I remember this idea, I understand the importance, I just don't remember the feasibility assessment and understanding precisely how we would pull it off.

I just don't feel like this project is sufficiently clear to open an issue about.

I'm curious about things like:
1. if the user already has a persona account and then moves to their phone and enters

[2012-09-17 18:32] benadida commented on #2497
@lloyd sorry, my tone was off because I was writing too quickly before running out on an errand. I didn't mean to sound defensive.

I do think we have thought it through quite fully, but let's check.

(1) yes, same account, nothing different between native and shimmed, that's the goal.

(2) great question, and yes I think that would be part of the auth endpoint that has to serve as an account crea

[2012-09-17 19:58] shane-tomlinson commented on #2483
Because of image scaling issues on mobile, closing as WONTFIX.

[2012-09-17 19:58] #2483 closed, assigned to nobody

[2012-09-17 23:15] seanmonstar commented on #2491
@jds2501 When you click the login button, do you have to enter your email and password into Persona. or has the Persona screen remembered you?

[2012-09-17 23:16] seanmonstar commented on #2493
This may be related #1472, but I see the STR are a little different.

[2012-09-17 23:20] tessarakt opened #2498 "persona.org claims it has already sent an e-mail"
On developer.mozilla.org, I click on "Sign in".

A persona.org window opens. It already knows my address ich@tessarakt.de.

I click on "Eine weitere E-Mail-Adresse hinzufügen" (add another e-mail address).

I enter blog@tessarakt.de and click "Hinzufügen" (Add).

A red box appears, saying " Wir haben gerade eine E-Mail an diese Adresse verschickt! Wenn Sie wirklich noch eine senden möchten, warten

[2012-09-17 23:25] seanmonstar commented on #2478
I wonder if we should have maybe 2 or three, specifically for the `predef` field. I'd rather it only think that a global `ok` or `start` etc would only be true when modifying the test suite.

[2012-09-18 00:22] warner commented on #289
Yeah, if we add this, I'd prefer to put it into the bcrypt module, and add a field to the hashed password to indicate the use of a systemwide nonce. It'd probably be a good idea to include a nonce-version field, so we can gradually rotate to new system-nonces, but we'd also need to be able to efficiently identify which rows still need upgrading, which a simple magic string might not provide (imagi

[2012-09-18 01:31] nmalkin commented on #2493
Yeah, they do look similar. I think the root cause is the same.

[2012-09-18 02:14] seanmonstar commented on #2493
I have a suspicion that #1472 was fixed by destroying all session when password changed, since I can't reproduce on dev/stage. Are you able to get this to happen on dev/stage?

[2012-09-18 02:20] nmalkin commented on #2493
Just reproduced this on dev using the exact STR from my original post:
![still no emails, now on dev](http://f.cl.ly/items/340r2d3J042Z2A1J2I3D/still_no_emails.png)

[2012-09-18 02:26] nmalkin commented on #2493
Specifically, here's what I did:
1. In Chrome, sign into [dev.]123done with (new, secondary) email address A
2. In Firefox, sign into 123done with (new, secondary) email address B
3. In Firefox, sign out of 123done
4. In Firefox, start to sign back in to 123done
5. When prompted about using email address B, choose to add a new email address
6. Add email address A
7. Still in Firefox, verify email

[2012-09-18 05:36] jrgm commented on #2491
@seanmonstar : @jds2501 was just transferring the bug report from bugzilla. @st3fan (Stefan Arentz) is the original reporter.

[2012-09-18 08:32] shane-tomlinson commented on #2478
Agreed, I also have es5 enabled for when I was doing extension development. Not cool for Persona.

[2012-09-18 09:06] #2394 closed, assigned to seanmonstar

[2012-09-18 10:33] #1863 closed, assigned to shane-tomlinson

[2012-09-18 16:05] sprice opened #2499 "Forgot password UX is confusing"
Presently, if a user forgets their Persona password they click "forgot your password?", enter a new password and click "reset password". This sends an email to the Persona account holder with an activation email link.

Any random user can enter any Persona account they want and choose a new password. They only need the account holder to click the activation link to have control of the Persona acco

[2012-09-18 16:12] callahad commented on #2499
Related: #1629, #1913

[2012-09-18 17:13] shane-tomlinson commented on #2499
@sprice - You can try our defenses of this case for yourself.

1) Open two distinct browsers. Browser A will simulate malicious user, Browser B innocent victim.
2) In Browser A (acting as the malicious user), go through the "forgot your password flow" and set a new password.
3) In Browser B (acting as the victim), open up the email.

Persona recognizes that Browser B is not the same as Browser A a

[2012-09-18 17:14] callahad commented on #2499
Oh, wow, we're doing that? I totally need to spend more time in core. That's awesome.

[2012-09-18 17:24] lloyd opened #2501 "remove eval from l10n workflow"
currently compile-json.sh generates a javascript file with a .json suffix and consuming code eval it.  this is silly.  generation code should generate json and consuming code should json.parse.

[2012-09-18 18:04] sprice commented on #2499
Ok this is a good thing. I've updated the issue title.

Based on this workflow I assumed that my account had been compromised (it was a co-worker who tried to hijack my account). After I clicked on the verification email I was asked to enter my password. As stated above the password didn't match so the error message was something along the lines of "password does not match". I took this to mean I

[2012-09-18 18:17] warner commented on #2494
Yeah, I think that's a good idea. I need to think a bit about what's being bound to what (clearly Bob's wife shouldn't get control over the rest of Alice's account), but I think periodic reconfirmation is appropriate.

[2012-09-18 21:17] seanmonstar commented on #2478
I looked into a little, and what I was hoping for doesn't work. JSHint does not recursively apply `.jshintrc` files. So, if we had 3 or 4 (node, browser, test suites), they would need to contain duplicate rules, and changes would potentially require changing all of them.

At the same time, I don't think we would change our linting rules very often, if ever. And we could always hope that reviewers

[2012-09-18 22:06] zaach commented on #2478
@seanmonstar I agree, I don't think the linting rules will change very often once we nail them down.

One other issue besides different predefined globals is mixed coding styles. Common linting rules will help us converge, though more generally it might be good to adopt a style guide.

[2012-09-18 23:07] seanmonstar opened #2502 "Allow cachify in dialog views"
`cachify` is needed to show some inline images, and it outputs a unique URL so we can cache bust later. However, it only exists on the server. So if a dialog view has inline images and needs cachify, the function doesn't exist.

[2012-09-18 23:08] seanmonstar commented on #2394
was blocking #1874 and #2502

[2012-09-18 23:08] seanmonstar commented on #2502
this blocks adding the Tour module in #1874

[2012-09-18 23:12] seanmonstar commented on #2502
Two ways I can think of to solve this:
1. Parse the functions with uglify during compression, and replace cachify() with an absolute URL.
2. Leave them in, and add a cachify() method to BrowserID.Renderer, that adds in the current unique prefix.

@ozten Is the prefix unique but consistent for each build, or can it be different for each resource? I imagine there's something in place so we don't cha

[2012-09-19 01:38] seanmonstar opened #2503 "Cannot sign with example.domain from localhost"
If you try to test the sign in process from `localhost` using the example Idp `example.domain`, you get told that you cannot connect to `127.0.0.1` from `localhost`.

This is at http://localhost:10002/signin

[2012-09-19 17:15] #2287 closed, assigned to shane-tomlinson

[2012-09-19 18:04] jedp commented on #2247
@lloyd @callahad is this useful? http://50.16.47.187

Returns json structure of headers and data like so:

[code]

Will have data up to the last 30 days.

[2012-09-19 19:27] ozten opened #2504 "MySQL database doesn't re-connect during deployment w/o restart"
Although we've spent significant time improving how we handle connections to mysql, we saw stale dead connections for around 15 minutes during the deployment.

https://etherpad.mozilla.org/devops-beta-push

This was seen as 503 and slowness in wspai address_info for secondary email addresses.

atoll and jrgm can provide more background to reproduce issue.

Notes:
- heartbeat was okay even though w

[2012-09-19 21:36] ozten commented on #2205
With the beta code release, I'm again able to use shout@ozten.com as a primary address.

I cannot explain why this works now. Leaving open to be part of the "secondary <-> primary" polish bugs.

[2012-09-20 00:27] zaach commented on #1472
@seanmonstar yep, the original case here should be resolved because of session invalidation on password updates, but the general problem (empty email lists) still remains.

If an email address that exists on account A is added to a account B, we could invalidate the session of account A, but only if that was its only email address. That would seem to solve the empty list problem. Should we also in

[2012-09-20 00:28] zaach commented on #1472
/cc @warner

[2012-09-20 03:46] seanmonstar commented on #2502
So it looks like the hash is an md5 of the contents of the file, so it's likely best I just replace that during compression.

That'd require that we never pass a variable or string concatenation to `cachify`, since it's going to be string replacement.

[2012-09-20 04:10] ozten commented on #2502
Sorry, I missed this until now.

That sounds good. I think the original idea was to evaluate templates during the compress step, so that any embeded JS could run. This is where cachify would do the file hash.

You can also reproduce this behavior as you've said, instead.

[2012-09-20 09:50] shane-tomlinson commented on #2478
@zaach, @seanmonstar - there is a general Mozilla guideline - https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style.

We have adopted an unofficial policy of:
- no trailing whitespaces
- spaces instead of tabs, 2 spaces per "tab"/indent level
- space between if and (, for and ( - `if (` and `for (`
- { on same line as control statement
- single line `if(..) statement()` are allowed

[2012-09-20 16:39] lloyd commented on #2247
awesome.  closing

[2012-09-20 16:39] #2247 closed, assigned to jedp

[2012-09-20 16:41] callahad commented on #2159
Our section on SUMO is live at http://support.mozilla.org/en-US/products/persona

Just need to update one article title

[2012-09-20 16:42] lloyd commented on #2097
let's get a change window set up to get this done.  @fmarier can you take point?

[2012-09-20 16:42] jaredhirsch opened #2506 "post-mortem on overnight prod monitor email failures"
136 am - 145 am PST 9/20/12, prod alarm went off due to emails not arriving at restmail within the 90 sec timeout period.

Unclear at what point in the chain sending failed.

here's the failing jobs:
https://ci.mozilla.org/job/identity.browserid.prod-monitor/372/
https://ci.mozilla.org/job/identity.browserid.prod-monitor/373/
https://ci.mozilla.org/job/identity.browserid.prod-monitor/374/

[2012-09-20 16:44] seanmonstar commented on #2478
Don't forget the JavaScript style guide WebDev (cough I cough) put together: http://mozweb.readthedocs.org/en/latest/js-style.html

[2012-09-20 16:46] jaredhirsch commented on #2506
failure on stage-monitor during same period (141 am)
https://ci.mozilla.org/job/identity.browserid.stage-monitor/957/

[2012-09-20 16:52] jaredhirsch opened #2507 "need a clear procedure for communicating downtime/outages to mailing list"
Prod monitors (and stage monitor) went off last night due to email downtime.

There was approximately 20 minutes of prod write downtime sprinkled throughout the beta release period Tuesday, so signins worked, but new user creation flaked out.

In both cases, it would be great if we had a documented procedure for communicating these incidents. This implies figuring out language and either piggyback

[2012-09-20 16:57] lloyd commented on #2499
@skinny97214  , see the last comment, any ideas on better language?

[2012-09-20 16:59] lloyd commented on #2498
we should audit email throttling code, and inspect the record in the stage table to figure out what's going on here.

[2012-09-20 17:11] lloyd commented on #2491
this issue should be taken to marketplace as they completely control the session, and we expose different tools to help them manage it.

I don't believe this is our bug, but we're extremely willing to diagnose the issue in marketplace and support them.  @jrgm can you take lead.

[2012-09-20 17:13] jds2501 commented on #2491
Okay, I'll close this and move the bugzilla bug over to marketplace and reopen it. Thanks for info.

[2012-09-20 17:13] #2491 closed, assigned to jrgm

[2012-09-20 17:14] #2484 closed, assigned to shane-tomlinson

[2012-09-20 17:22] lloyd commented on #2477
placeholder issue no longer needed, @jrgm and @_6a68 have plans that cover this

[2012-09-20 17:22] #2477 closed, assigned to nobody

[2012-09-20 17:36] lloyd commented on #2507
this is probably a duplicate of SEVERAL issues.  I shall hunt them down.  @shane-tomlinson - let's _do_ this?

[2012-09-20 18:17] jrgm commented on #2506
I dug the restmail address out of 372,373,374,957 and here are the relevant headers from each:

[code]

The interesting thing is that while the emails started over a span of ~10 minutes, they all arrived within one second of each other. To me, that suggests the delay was in the egress attempt by socketlabs to restmail, and not a problem with restmail itself.

Anyone have other interpretations of t

[2012-09-20 18:27] lloyd commented on #2506
@jrgm nice analysis.  It really does look like socketlabs delivery was backed up, and then caught up in one big jump.

Seems like next steps are to:
1. look at socketlabs web api to see if there is a logged slow down during that period
2. contact socketlabs to determine if this was a known problem and to understand if this is outside our SLA.

[2012-09-20 18:32] skinny97214 commented on #2499
Fixing GH-1232 will address the confusing UX issue. @lloyd should we close as dupe?

[2012-09-20 18:36] jaredhirsch commented on #2506
Awesome stuff. The socketlabs web dashboard isn't terribly informative, but
I can create user creds for @jrgm so he can poke around and/or open a
support ticket. Socketlabs has really great support.

On Thu, Sep 20, 2012 at 11:27 AM, Lloyd Hilaiel notifications@github.comwrote:

[2012-09-20 18:53] ozten commented on #2440
[Pull Request](https://github.com/mozilla/browserid/pull/2449)

[2012-09-20 19:03] zaach opened #2508 "Monitor requests in the router"
This is a blocker for #1744

We'll need to monitor requests in order to determine when to show captchas.

It will required a new database server for persisting request data (likely redis).

[2012-09-20 19:32] lloyd commented on #2504
given the data, this looks like a problem that was affecting webheads.  Webheads talk to mysql through zeus.

To attempt to reproduce this issue I'll start up an ephemeral instance and stall or stop mysql to audit the reconnection logic.

[2012-09-20 19:46] lloyd commented on #2504
First attempt to reproduce: **Stop MySQL**
1. here I simply stopped the mysql daemon on the ephemeral instance
2. Spawnin the dialog displayed the error - the server is under extreme load
3. from the webhead log:

   {"level":"warn","message":"database connection down: Error: connect ECONNREFUSED","timestamp":"2012-09-20T19:41:56.359Z"}
   {"level":"warn","message":"database is down, cannot proces

[2012-09-20 19:53] lloyd commented on #2504
Second attempt to reproduce: `killall -STOP mysqld`
1. send SIGSTOP to mysqld
2. load dialog
3. observe 5s delay between dialog load an "THE SERVER IS UNDER EXTREME LOAD"
4. from browserid.log

   ==> browserid.log <==
   {"level":"warn","message":"cannot reconnect to mysql! 1 outstanding queries #fail.","timestamp":"2012-09-20T19:49:41.914Z"}
   {"level":"warn","message":"database is down, cannot

[2012-09-20 20:02] lloyd commented on #2504
I don't believe there's any regression in the database re-connection logic, but rather that zeus is a required element of the failure.  In order to further diagnose this we need to get @jrgm, @atoll, and @lloyd in the staging environment trying to reproduce.

[2012-09-20 20:02] lloyd commented on #2504
Also, when I stop mysql, heartbeats fail for me:

[code]

[2012-09-20 20:03] lloyd commented on #2504
Finally, @atoll, can you provide sanified logs for the period of downtime from webheads and dbwriters

[2012-09-20 20:41] jrgm commented on #2504
It's actually @floatingatoll on github. atoll, see above. ^^

[2012-09-20 21:35] lloyd commented on #2504
[code]

[2012-09-21 00:38] zaach commented on #2498
This seems unrelated to #1677, which involves an account with a primary and secondary address. These addresses are from the same domain.

[2012-09-21 03:11] jrgm commented on #2506
I've been looking at the dashboards and experimenting with the api to see what I can get from that. I also have some other random thoughts that I'll post about later.

[2012-09-21 05:20] mook opened #2509 "Identity Certificate seems to now require an "iat" claim"
https://github.com/mozilla/browserid/blob/dev/resources/static/common/js/user.js#L44 checks for an "iat" property ("issued at", apparently) on the cert.  This was not previously required, and broke my custom IdP.  (My change to fix it is https://github.com/mook/browseridp/commit/23c745c9a342f3cc0c4379b97bb466b956b8810a .)

This may have broken other IdPs; I don't know.  It would be nice to 1) make

[2012-09-21 11:10] #2478 closed, assigned to shane-tomlinson

[2012-09-21 16:49] skinny97214 commented on #2464
Make background white and the font the default blue.

[2012-09-21 17:33] zaach commented on #2371
Yes, this is covered by other issues for changing copy and flipping order.

[2012-09-21 17:33] #2371 closed, assigned to shane-tomlinson

[2012-09-21 18:39] zaach commented on #2493
@lloyd suggested removing the user's account when they no longer have any email addresses.

[2012-09-21 23:04] jaredhirsch commented on #2506
I should add that, when I asked Brian in Socketlabs support about an SLA,
he told me to talk to their sales dept.

I totally avoided doing that at the time, but if we're going to pay for an
independent account, now's probably the perfect time to ask about SLAs.

On Thu, Sep 20, 2012 at 11:27 AM, Lloyd Hilaiel notifications@github.comwrote:

[2012-09-22 13:44] savs opened #2513 "Sign up doesn't fail gracefully?"
On https://developer.mozilla.org/en-US/docs/Mozilla/Boot_to_Gecko/B2G_build_prerequisites
Click Edit.
Get "Sign In with Persona" page.
Click "Sign In". Get pop-up window "developer.mozilla.org uses Persona".
Enter email address. Click next. Results in a blank screen.

Second time around, with a different email address, resulted in "checking with your email provider" followed by "your email is new

[2012-09-22 21:12] benadida opened #2514 "check iOS 6 POSTs"
Apparently, iOS 6 Safari is doing some odd things:

  http://stackoverflow.com/questions/12506897/is-safari-on-ios-6-caching-ajax-results

We should check that we're doing the right thing and things work on iOS 6, I don't have it installed yet.

[2012-09-24 07:22] shane-tomlinson commented on #2514
I am upgrading my iPad now. The iOS 6 emulator had not given me any problems, but it has been nearly 2 months since checking properly.

[2012-09-24 10:13] shane-tomlinson commented on #2514
@benadida - I have not yet done an exhaustive test, but so far things look good.

From the stackoverflow article:

[code]

Our POSTs:

[code]

Our max-age is 0 and the Date is immediate, but we also have Cache-Control set to no-cache.

I am continuing testing.

[2012-09-24 10:24] shane-tomlinson commented on #2514
Link to https://github.com/mozilla/browserid/issues/294.

With issue #294, we started setting `Cache-Control: no-cache` for similar caching behavior in IE9

[2012-09-24 10:33] shane-tomlinson commented on #2513
@savs - Thanks for the report! can you leave more information on which browser/OS combination you are using? I just able to complete the new user flow twice in Firefox 15.01 on OSX.

When you say "Enter email address. Click next. Results in a blank screen.", is that a blank screen in the dialog or on the persona site once you click on the link in the email?

Later on you comment "Clicking on the e

[2012-09-24 11:01] savs commented on #2513
I'm testing using Safari 6.0.1 on OS X Mountain Lion.

The blank screen was the Persona site but without the flash in the middle – so looks like the js did not complete properly.

(By 'flash' I mean the transient/ajax information, not an adobe plugin!)

The email verification was a second blank page – clicking on the link in the email opened up a Persona page as before, and as before the flash in

[2012-09-24 11:04] shane-tomlinson opened #2515 "error when returnTo is empty or set to "/""
This breaks all dev sites because fixupAbsolutePath marks `returnTo: "/"` as invalid.

[2012-09-24 13:42] shane-tomlinson opened #2517 "cannot run frontend tests on ephemeral instances"
The routes for `mocks/templates.js` and `mocks/site-templates.js` are set up to only serve up if the resources are not minified.

Front end unit tests are still allowed to be run on ephemeral instances. For the unit tests, ephemeral instances still serve up individual resources, so these two resources must still be included in the routes list.

While this is not user facing, this is important beca

[2012-09-24 13:53] shane-tomlinson opened #2518 "front end unit tests use uncompressed resources even if "use_minified_resources" is set to true."

[2012-09-24 16:06] lloyd commented on #545
addressed a long time ago, we use persona server time everywhere where times or dates are used.

[2012-09-24 16:06] #545 closed, assigned to lloyd

[2012-09-24 16:17] #2444 closed, assigned to seanmonstar

[2012-09-24 16:21] lloyd commented on #2268
@zaach - Given that you're looking at re-vamping convict a bit and blogging about it, above are _suggested_ requirements from dev/ops.  Mind if I assign this to you?

[2012-09-24 16:24] lloyd commented on #1840
@shane-tomlinson - still relevant?

[2012-09-24 16:38] callahad commented on #421
Another +1. I'm reviewing the SUMO docs for Persona, and we point people to login.persona.org if they want to create an account ahead of time. Except they can't add more than one address on login.persona.org.

[2012-09-24 16:38] shane-tomlinson commented on #1840
@lloyd - yes

[2012-09-24 16:40] lloyd commented on #1039
This has been taken to the mailing list to determine a more holistic solution to handling IdP's coming online and going offline - https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/ArXmGF3OnW4

This issue discusses a single component of the problem and is not useful.  Closing down and will open specific issues to get this done and make the world safe for bigtent.

[2012-09-24 16:40] #1039 closed, assigned to shane-tomlinson

[2012-09-24 16:42] callahad opened #2519 "After creation / verification of an account on login.persona.org, redirect to the account management page."
After I create or verify a new (secondary) account on login.persona.org, I'm shown a nice confirmation screen, but that's it.

The header still has a "Sign In" button, despite that fact that I really am signed in now.

It'd be great if I got redirected to the account management screen instead of getting stuck on the "you're verified!" page.

[2012-09-24 16:51] shane-tomlinson commented on #1140
One of the many cases dealing with primaries.

Link to #1039.  Adding beta-2 req.

[2012-09-24 16:54] lloyd commented on #2514
this sounds resolved to me, @shane-tomlinson research suggests we're fine, and I've confirmed product works great on iOS6 (no signs of cached WSAPI calls).

[2012-09-24 16:54] #2514 closed, assigned to nobody

[2012-09-24 16:59] lloyd commented on #2506
Ok, it sounds like we have performed the post-mortem.  It sounds like we need to reach out to socketlabs and figure out precisely whether they have an SLA and guarantee that works for us.  @toxborrow, can you help coordinate this?

[2012-09-24 17:02] skinny97214 commented on #421
@callahad Can you point me to the SUMO doc so I can review it?

[2012-09-24 17:09] callahad opened #2520 "Need better docs for what to do when login fails"
If login fails, it's easy to get stuck in an infinite loop where the error page calls `.watch()` and gets another `onlogin` action, ad infinitum. I need to improve docs to discuss handling this.

[2012-09-24 17:12] callahad opened #2521 "Persona should stop trying to log into sites if it gets into an infinite loop of rapid failures"
Related to #2520 and https://github.com/mozilla/django-browserid/issues/82. There are a bunch of scenarios in which users can get into infinite loops with failed logins.

If Persona automatically fires the `onlogin` action several times in succession for the same account/domain, it should detect that the login is failing and back off.

[2012-09-24 17:24] callahad commented on #421
@skinny97214 https://support.mozilla.org/en-US/kb/what-browserid-and-how-does-it-work/

(Check the [article history page](https://support.mozilla.org/en-US/kb/what-browserid-and-how-does-it-work/history) on SUMO -- there are newer, unapproved drafts pending)

[2012-09-24 17:26] jrgm commented on #2519
I believe this is now addressed in current dev environment.

[2012-09-24 17:55] lloyd commented on #894
obviated by bigtent.  This issue provides no value.

[2012-09-24 17:55] #894 closed, assigned to skinny97214

[2012-09-24 17:57] lloyd commented on #1479
working as designed

[2012-09-24 17:57] #1479 closed, assigned to zaach

[2012-09-24 18:19] callahad commented on #2519
Indeed it is! Yay!

[2012-09-24 18:19] #2519 closed, assigned to nobody

[2012-09-24 18:40] lloyd commented on #5
not useful to track this Big Idea here.

[2012-09-24 18:40] #5 closed, assigned to nobody

[2012-09-24 18:42] seanmonstar commented on #2159
@callahad are we good? can we hit the awesome close button?

[2012-09-24 18:46] lloyd commented on #1181
nothing to be done here.  closing

[2012-09-24 18:46] #1181 closed, assigned to lloyd

[2012-09-24 18:53] seanmonstar commented on #1598
closing this. if it's still a problem, please reopen.

[2012-09-24 18:56] seanmonstar commented on #1229
closing this. if it's still a problem, please reopen.

[2012-09-24 18:56] #1229 closed, assigned to callahad

[2012-09-24 18:59] seanmonstar commented on #937
closing this. if it's still a problem, please reopen.

[2012-09-24 18:59] #937 closed, assigned to lloyd

[2012-09-24 18:59] seanmonstar commented on #919
closing this. if it's still a problem, please reopen.

[2012-09-24 18:59] seanmonstar commented on #906
closing this. if it's still a problem, please reopen.

[2012-09-24 18:59] #906 closed, assigned to shane-tomlinson

[2012-09-24 19:01] lloyd commented on #2288
what are we trying to accomplish?  I think we should work toward having issues that discuss actual problems, not propose concrete implementation tactics.

In this case, we should move the verifier onto its own set of hardware off the boxes in use by the rest of our server deployment.  We may want to break out a separate router process, we may not - but preemptively re-architecting stuff doesn't se

[2012-09-24 19:01] #2288 closed, assigned to lloyd

[2012-09-24 19:04] lloyd commented on #1346
is this issue useful?

[2012-09-24 19:05] lloyd commented on #893
let's get this on a roadmap or on goals, there's no action to be taken on this one and I don't think it's useful to have in our issue tracker.

[2012-09-24 19:05] #893 closed, assigned to skinny97214

[2012-09-24 19:07] lloyd commented on #887
this is done! woohoo.

[2012-09-24 19:07] #887 closed, assigned to skinny97214

[2012-09-24 19:13] jrgm commented on #937
I did some numbers a while back, and the steady growth appears to be largely accounted for by the growth in the in-memory user population (which have multiple certs in the struct). Simple workaround is just to restart after a couple of days, before memory is consumed, if I want to have longer duration runs. (Fancier fix is to user some out of process store for these items). Verifying as "it is und

[2012-09-24 19:20] #2159 closed, assigned to callahad

[2012-09-24 20:04] zaach commented on #2268
@lloyd Thanks, this is a helpful list.

[2012-09-24 21:08] jrgm commented on #2504
I tried doing the `kill <threadid>` on:
1) two awsbox, one acting as the webhead and the other being the sole database.
2) in stage, where we have zeus between the webhead and the set of readonly databases.
I could not reproduce a problem by doing that. The mysql connection is re-established within about 50 seconds, and while running 250K ADU, the load_gen client does not detect any errors, nor ca

[2012-09-25 09:11] #2515 closed, assigned to nobody

[2012-09-25 09:44] #2502 closed, assigned to seanmonstar

[2012-09-25 10:44] shane-tomlinson commented on #1232
@skinny97214 - I am confused what the request is here.

For new account flow, we intentionally put the initial "set password" on a new account in the dialog so the user would not have to type anything once they click on the verification link.

Do you want this changed back to the former state?

Or is this related to "forgot password"?

Even in the forgot password case, I thought we did not want th

[2012-09-25 10:47] shane-tomlinson commented on #1212
This WORKS as of PR #2455. Closing

[2012-09-25 10:47] #1212 closed, assigned to shane-tomlinson

[2012-09-25 10:54] shane-tomlinson commented on #1984
This was fixed with https://github.com/lloyd/myfavoritebeer.org/pull/57. Closing as fixed.

[2012-09-25 10:54] #1984 closed, assigned to lloyd

[2012-09-25 11:00] shane-tomlinson commented on #1881
@warner - this is initially how I had it coded up. During code review @lloyd requested that I change it so that we could check whether the error message was displayed if using siteLogo from an http site.

Enabling siteLogo in development _is_ a pain, a developer has to manually edit code to do so. I think we should make this configurable somehow, though I am not sure through what mechanism. At the

[2012-09-25 11:01] shane-tomlinson commented on #1769
@seanmonstar - how are we lookin?

[2012-09-25 11:02] #1668 closed, assigned to lloyd

[2012-09-25 11:03] shane-tomlinson commented on #1668
Closing this since @nmalkin and @jbonacci report that we can get this info from the current KPI set.

[2012-09-25 11:04] shane-tomlinson commented on #1634
Link to #1878

[2012-09-25 11:06] shane-tomlinson commented on #1878
@carlacasilli - Hi! Can you check in about:config whether dom.storage.enabled is set to "true"

[2012-09-25 11:07] shane-tomlinson commented on #1050
Link to #1634

[2012-09-25 11:12] shane-tomlinson commented on #1421
Dup or #1993, closing

[2012-09-25 11:12] #1421 closed, assigned to lloyd

[2012-09-25 11:12] shane-tomlinson commented on #1566
Closing as fixed.

[2012-09-25 11:12] #1566 closed, assigned to shane-tomlinson

[2012-09-25 11:14] shane-tomlinson commented on #1322
@lloyd, @zaach, @ozten - This work has been done already it seems. Can this be closed?

[2012-09-25 11:14] shane-tomlinson commented on #1104
Link to #1350

[2012-09-25 16:53] satdav commented on #2464
that sounds good crystal

[2012-09-25 17:24] zaach commented on #1322
We still need to switch over to the standalone module. The question is, should this be in the beta2 milestone?

[2012-09-25 18:21] seanmonstar commented on #1769
I've been updating the list in the top description as things have been fixed. The only outstanding issue is that `lockdown` doesn't work right on Windows.

[2012-09-25 18:58] shane-tomlinson commented on #2062
I added these fields to the wiki. Closing.

[2012-09-25 18:58] #2062 closed, assigned to jedp

[2012-09-25 22:55] seanmonstar commented on #2423
@callahad Do we think this could be a common enough occurance to warrant beta2 nomination?

[2012-09-25 23:52] nth10sd opened #2525 "When Persona takes longer than it should, error message is incorrect"
The message "We are sorry, this is taking a longer than it should." has an excess "a".

[2012-09-26 00:37] seanmonstar commented on #2309
that PR handled all those cases, right?

[2012-09-26 00:37] #2309 closed, assigned to shane-tomlinson

[2012-09-26 04:47] fmarier opened #2527 "Running the verifier on a separate IP address to avoid relying on SNI"
To avoid [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication)-related problems for people that [run sites on old servers](https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/vwS9ERSyn4A), I think we should have the verifier be on a separate IP address.

This separate IP address would have a single vhost and therefore always offer the same SSL cert.

[2012-09-26 09:47] #2359 closed, assigned to seanmonstar

[2012-09-26 09:56] shane-tomlinson commented on #2525
Thanks for filing this @nth10sd, I have issued a pull request for review.

[2012-09-26 18:59] warner commented on #2525
Originally in bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=794306 , please close after the fix lands.

[2012-09-26 22:53] warner commented on #1527
@ozten: this sounds familiar :). Maybe we can close this next week when we land that fix.

[2012-09-27 00:34] seanmonstar commented on #1874
@skinny97214 I've got the Tour inside the dialog, but feel the scrollbars seem out of place. See below:

![tour scrollbars](https://raw.github.com/gist/091dbf0a40d72b47b1a0/661cca88fff6e540a57ae99ae45a1e2ee98edc74/tour-scrollbars-1.png)

Does it make sense to be more of a slide show or something?

[2012-09-27 02:08] fmarier opened #2530 "Problems with slow network connections"
A Mozillian [has reported](https://bugzilla.mozilla.org/show_bug.cgi?id=714934#c14) that Persona doesn't work for him because his network connection is too slow.

I've asked for more details and I'll try to reproduce that by [crapifying my own network](http://www.linuxfoundation.org/collaborate/workgroups/networking/netem#Emulating_wide_area_network_delays) (more tools for this are [mentioned on S

[2012-09-27 16:29] skinny97214 commented on #1874
Yes, we can do a carousel with left and right arrows to navigate.

[2012-09-27 16:31] skinny97214 commented on #1232
Unfortunately, the conventions for creating and account and resetting the password opposite each other. Sorry we can't reuse that code. We did intentionally reverse the account creation. I didn't realize that was going to mess up the password reset as I had no way of knowing that used the same code.

[2012-09-27 16:33] skinny97214 commented on #1346
Pascal and I are working on gydhido.com for this purpose.

[2012-09-27 16:33] #1346 closed, assigned to skinny97214

[2012-09-27 16:33] seanmonstar opened #2532 "Add identity.mozilla.com to planet.mozilla.org"

[2012-09-27 16:39] jaredhirsch commented on #2506
I will contact socketlabs today and get some SLAs from the sales team.

[2012-09-27 16:56] georgschoelly opened #2533 "There's no image on login.persona.org for facebook / google+ to grab."
When sharing links on facebook and google+ there's usually a little icon with the link which gets grabbed from the site.

However, this does not work for login.persona.org. Probably because all the images are embedded as background images.

There are two fixes:

a) add an image with the `<img>` tag.

b) implement some [open graph](http://ogp.me) meta tags like this:

[code]

[2012-09-27 17:01] #2517 closed, assigned to nobody

[2012-09-27 17:02] georgschoelly opened #2534 "Spelling mistake in the German version of the Persona web site."
page: https://login.persona.org/about

offending sentence

ought to be

source: http://www.duden.de/rechtschreibung/wahren

[2012-09-27 17:08] shane-tomlinson commented on #2509
@mook - looking at GitBlame, this line was added on November 18th of 2011, so it is nearly a year old.

@lloyd, @warner - does iat need to be added to the IdP docs?

[2012-09-27 17:10] shane-tomlinson commented on #2509
@mook - my mistake, my GitBlame line numbers were not lining up. This chyange was made on May 3rd, 2012 by @benadida. @benadida, the same comment applies, does this need to be added to the IdP docs?

[2012-09-27 17:10] ozten commented on #2532
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=795007

[2012-09-27 17:10] #2532 closed, assigned to callahad

[2012-09-27 17:14] shane-tomlinson commented on #2507
@lloyd - on top of persona status, should there be a mailing list?

[2012-09-27 17:16] shane-tomlinson commented on #2534
@mathjazz - Can you contact the German translator to have this looked at?

[2012-09-27 17:26] seanmonstar commented on #1874
Do we have arrow assets I can use?

[2012-09-27 17:40] mathjazz commented on #2534
Done.

[2012-09-27 18:08] jaredhirsch opened #2535 "http://www.mozilla.org/en-US/persona/ - screenshot has the URL personaid.org"
From the [bugzilla bug 773180](https://bugzilla.mozilla.org/show_bug.cgi?id=773180):

"I've seen a few people say that persona isn't working for them, turns out that this is because they've been copying the URL in the screenshot (http://www.mozilla.org/media/img/persona/signin.png) which is incorrect.

Fix:
Change the screenshot to show login.persona.org in the URL bar opposed to personaid.org"

I

[2012-09-27 18:21] chrisvariety opened #2536 "Can't log into crossword.thetimes.co.uk with an @gondaba.com email address"
Lovely service, but I can't seem to get it to work at the most basic level.
1. Visit http://crossword.thetimes.co.uk/
2. Click Log in, Persona pops up
3. Enter gondaba@gondaba.com, click Next, Persona says "Your email address is new to us. Please create a password to use with Persona."
4. Enter password.
5. Check email, click link: https://login.persona.org/verify_email_address?token=faTltAsKsBIbO

[2012-09-27 18:22] wfwalker commented on #2034
I have similar symptoms, Ben asked me to mention them here.

Steps to reproduce:
1. visit marketplace.mozilla.org from Mobile Safari on iPhone 4 running iOS 5.
2. choose "Add to Home Screen" from links at the bottom
3. launch the newly created marketplace icon in the home screen
4. click on the "log in / register" button
5. sit at the "Connecting to Persona..." screen forever

[2012-09-27 18:30] mathjazz commented on #2534
From Michael via email: "Thanks, fixed in r109441 [1]."

Fixed.

[2012-09-27 18:30] mathjazz commented on #2534
http://viewvc.svn.mozilla.org/vc/projects/l10n-misc/trunk/browserid/locale/de/LC_MESSAGES/messages.po?r1=109441&r2=109440&pathrev=109441

[2012-09-27 19:00] ozten opened #2538 "Setup delegated IdP"
We need to add authority delegation to our tests.

1) An IdP which delegates to the actual IdP

I've created https://github.com/mozilla/browserid-delegates and it's on an ephemeral instance.

2) The actual IdP - should use provisioning.js from stage and be okay with an @delegat.es email address.

@lloyd @callahad
Does eyedee.me or mockmyid.com fit the bill here?

Or should we create a new IdP for

[2012-09-27 19:30] shane-tomlinson commented on #2534
@mathjazz - you are awesome, thanks!

[2012-09-27 19:47] fmarier opened #2539 "Dialog doesn't make it clear what password it's asking for"
From a [hacker news thread](https://news.ycombinator.com/item?id=4581926):

"It does seem a pretty elegant way to log in, the only concern i have is that it's kind of unclear what password i needed to use to login. I had already created a browserID password at some point in the past, so when i went to the times crossword and clicked sign in, i was prompted for a password. my first thought was mayb

[2012-09-27 20:50] Flimm commented on #2539
My suggestion would be to make the placeholder text "your Persona password", instead of just "password".

Another suggestion would be to change the instructions to say: "Now enter the password associated with your Persona". This would replace the stale instructions: "To sign in with Persona, please enter your email address."

[2012-09-27 21:10] callahad commented on #2538
MockMyID should gladly sign whatever email address you present to it -- point delegat.es at it and let's see what happens :)

[2012-09-27 21:33] ozten commented on #2538
Awesome! Blocked on a static IP and SSL cert, but will point to MockMyID ASAP.

[2012-09-27 22:29] seanmonstar commented on #2539
I like both of those suggestions, personally.

[2012-09-28 02:28] pschlump opened #2540 "run_locally.js fails with ../var/root.cert file missing"
I think that I have followed the instructions for running locally but I get an error.  I am running on Ubuntu 12.04 with node v0.8.4 and npm 1.1.45 - have installed python-software-properties and git-core, libgpm3-dev g++.  Node is my own build with no special flags.  npm is a default install.

root@pschlump-dev1:~/www/qr-today.com/browserid# npm start

browserid@1.0.0-b1 start /home/pschlump/www/

[2012-09-28 02:32] seanmonstar commented on #2540
The keys should get generated at `npm install`. Do you have that log dump?

[2012-09-28 02:40] pschlump commented on #2540
no I don't - but I can start over

[2012-09-28 02:42] pschlump commented on #2540
root@pschlump-dev1:~/www/qr-today.com/browserid# npm install
npm WARN cannot run in wd browserid@1.0.0-b1 ./scripts/lockdown (wd=/home/pschlump/www/qr-today.com/browserid)
npm WARN package.json connect@1.7.2 No README.md file found!
npm http GET https://github.com/downloads/lloyd/node-statsd/0509f85.tgz
npm http 200 https://github.com/downloads/lloyd/node-statsd/0509f85.tgz
npm WARN cannot run in

[2012-09-28 02:50] pschlump commented on #2540
about 5 lines in - this seems to be the important line

npm WARN cannot run in wd browserid@1.0.0-b1 node ./scripts/postinstall.js (wd=/home/pschlump/www/qr-today.com/browserid)

[2012-09-28 04:31] seanmonstar commented on #2540
Yep, the postinstall script, among other things, sets the certificates in
the proper locations. I'm not sure what "wd" is, though.

On Thursday, September 27, 2012, Philip Schlump wrote:

[2012-09-28 09:31] csuciu commented on #317
This issue is no longer reproducible

Device: Samsung Galaxy R
OS: Android version: 2.3.4
Browser: Firefox 15
http://myfavoritebeer.org

[2012-09-28 09:31] #317 closed, assigned to shane-tomlinson

[2012-09-28 10:14] shane-tomlinson commented on #1232
@skinny97214 - When we flipped the order of the reset password, the stated goal/assumption we were working under was to have 0 typing after the user clicks the verification link unless it was absolutely necessary. Code re-use was not on our minds, it just shook out that way.

We do need to make _some_ change since we have already seen a fair amount of confusion around this flow. Instead of changin

[2012-09-28 11:18] shane-tomlinson commented on #1682
This is still reproducible on login.dev.anosrep.org and mistakenly closed as @jrgm says, re-opening.

[2012-09-28 11:20] shane-tomlinson commented on #1682
Updating with modified STR:
1. Go to login.dev.anosrep.org and click sign up; enter a secondary email address, two passwords and submit.
2. Get the email for verify_email_address and open in a different browser.

Expected: The /signup page transitions to show the usual logged-in account management UI.

Actual: /signup transitions to /signin and asks for an email address.

[2012-09-28 11:21] shane-tomlinson commented on #1838
Closing as dup of #1682.

[2012-09-28 11:21] #1838 closed, assigned to shane-tomlinson

[2012-09-28 11:22] shane-tomlinson commented on #1555
Closing as dup of #1682.

[2012-09-28 11:22] #1555 closed, assigned to lloyd

[2012-09-28 12:01] csuciu opened #2542 "Dolphin on iOS6: Sign in dialog is not automatically dismissed after signing in"
Device: IPhone 4 - IOS 6
Browser: Dolphin 6.1

Steps:
1. Open http://myfavoritebeer.org in browser
2. Tap on Sigh in with Persona -> Sign in dialog opens
3. Enter credentials and press on Sign in

Expected:
The sign in dialog is automatically dismissed after signing in

Actual:
Sign in dialog is not dismissed

[2012-09-28 12:04] shane-tomlinson commented on #2542
This is a duplicate of #360, closing.

[2012-09-28 12:14] shane-tomlinson commented on #2542
@csuciu - Thanks for the bug report! I see you closed #360, I will make this is the new tracker for Dolphin. Re-opening.

[2012-09-28 16:05] #2536 closed, assigned to nobody

[2012-09-28 16:17] Mardak commented on #1352
Is there anything that requires cookies to be sent in the http header? I.e., does the server respond with a different script, iframe content, etc. whether the cookie exists or not? **What if the data is stored in localstorage**, which I believe is being used already on supported platforms, **and sent when needed?**

I'm running into some persona issues with my auto-block-3rd-party-cookies-for-site

[2012-09-28 17:35] seanmonstar opened #2544 "Convert scripts to use ShellJS"
In #2537, @mathewp pointed out we can use https://github.com/arturadib/shelljs for our scripts. Other Mozilla projects already use it, and it looks awesome. This would be a huge win for Windows (!).

[2012-09-29 21:00] ozten commented on #2538
We can now use **delegat.es** for testing:
- http://123done.org/
- http://beta.123done.org/
- http://dev.123done.org/

Procedure for the user sita...

Enter sita@delegat.es

Note: dev works, stage and production don't. I've verified through HTTP traffic that mockmyid.com is using the right environments for provisinging.js.

[2012-09-29 21:00] #2538 closed, assigned to ozten

[2012-09-29 21:02] ozten commented on #1527
Note: Delegato.org and dev.clotho.mozilla.org are out of date.

delegat.es added in issue #2538

[2012-09-30 11:08] hadleyrich commented on #1352
Is there a way to implement persona currently that works when third party cookies are disabled? 123done just shows a loading spinner for me.

[2012-09-30 13:10] jimmycuadra opened #2545 "[Chrome] navigator.id.logout does not trigger onlogout callback passed to navigator.id.watch"
### Steps to reproduce:
1. Call `navigator.id.watch`, providing callbacks for both `onlogin` and `onlogout`.
2. Call `navigator.id.logout`.
### Expected behavior

The `onlogout` callback passed to `navigator.id.watch` should be invoked in both Firefox and Chrome.
### Actual behavior

Only invoked in Firefox, not Chrome (v22.0.1229.79 on OS X Mountain Lion).

[2012-09-30 13:13] jimmycuadra opened #2546 "[Chrome] Calling navigator.id.watch throws "QUOTA_EXCEEDED_ERR: DOM Exception 22" in communication_iframe.js"
### Steps to reproduce
1. Load a page with `include.js`.
2. Call `navigator.id.watch`.
### Expected behavior

No exceptions should be thrown.
### Actual behavior

Chrome (v22.0.1229.79 on OS X Mountain Lion) throws `QUOTA_EXCEEDED_ERR: DOM Exception 22`.

[2012-09-30 14:38] shane-tomlinson commented on #2546
@jimmycuadra - this happens when you have Cookies or access to localStorage disabled. Can you check to make sure that both are enabled?

[2012-09-30 14:41] shane-tomlinson commented on #2545
@jimmycuadra - onlogout will only be called if Persona believes a user is logged in. Was onlogin ever called? If not, are you passing a user to loggedInUser? If not, was the Persona dialog opened and a user signed in?

If none of the above happen, calling logout will have no effect.

[2012-09-30 20:10] jimmycuadra commented on #2546
@shane-tomlinson Cookies are set to "Allow local data to be set (recommended)" with "Block third-party cookies and site data" checked. I don't see a setting for disabling localStorage, but it must be on because the app I'm working on uses it.

[2012-09-30 20:19] jimmycuadra commented on #2545
@shane-tomlinson There are two cases I've encountered, and `onlogout` does not fire in either case in Chrome:
1. I'm logged out on the initial page load. `navigator.id.watch` is called with `undefined` for `loggedInUser`, and callbacks for both `onlogin` and `onlogout`. I click the sign in button, get the Persona dialog, sign in, successfully verify the assertion, and store the session information

[2012-09-30 21:25] jimmycuadra commented on #2546
@shane-tomlinson Unchecking "Block third-party cookies and site data" prevents the exception. It seems the script should handle this case gracefully, though. Many users will have this option set.

[2012-09-30 23:29] jimmycuadra commented on #2545
I discovered that the callback fires as expected if I enable third-party cookies or create an inclusion filter specifically for login.persona.org, as mentioned in #2546. Both issues seem to be related to cookies.

[2012-10-01 18:41] pmclanahan opened #2547 "The "How it Works" page isn't"
A friend was evaluating Persona and sent me the following complaints:
1. The "How it Works" page does not explain how it works.
2. Its URL is /about which is confusing
3. When on the page there's no indication that you are. The "How it Works" button should be highlighted at least.

They're little things, but they're part of the first impression, and have not impressed at least this one guy.

[2012-10-02 11:25] andornaut opened #2548 "Relay frame could not be found error in Chrome Extension"
I'm working on integrating Persona into a Chrome Extension

After calling navigator.id.request() from the extension's "options.html" page, the popup window shows the following error message:

Action: Establishing Relay
Relay frame could not be found

Extension details:
- Backbone.js
- Manifest v2

Please note that I've enabled 'unsafe-eval' as well as "persona.org" locations for frame-src and scri

[2012-10-02 13:23] shane-tomlinson commented on #2548
Hi @andornaut - We would like to see your extension once it if finished! The relay frame error is by design, you are going to want to check our "Internal API" which is made especially for purposes like this.

Please see: https://github.com/mozilla/browserid/wiki/Front-End-Development under "Internal API".

If you need any more info, feel free to re-open this issue.

[2012-10-02 13:23] #2548 closed, assigned to nobody

[2012-10-02 13:29] shane-tomlinson commented on #2546
@jimmycuadra - I agree with you 100%, we have 3 separate issues open about this - #982, #989, #1352.

Closing this one as a dup, feel free to re-open or append to one of those with any new info.

Thanks for the report!

[2012-10-02 13:29] #2546 closed, assigned to nobody

[2012-10-02 14:35] ozten commented on #2548
Remember, the **internal API** is not a final, publicly supported API!

Follow the SDK work which will probably help to cement the real API that would be useful from Add-ons.

[2012-10-02 15:00] andornaut commented on #2548
Shane:

It's not clear what js files are required to work with the Internal API. Neither the include.js nor the internal_api.js define a BrowserID object, which the docs refer to.

I'd appreciate a little more of a nudge in the right direction. Thanks.

Also, if you don't mind, it'd be great if you could explain why the regular way of doing things doesn't work here. I understand that for iOS or An

[2012-10-02 20:05] jimmycuadra commented on #2545
Closing this, as it is covered by #982, #989, and #1352.

[2012-10-02 20:05] #2545 closed, assigned to nobody

[2012-10-02 22:40] sergiotapia commented on #2539
I agree, as it stands the prompt confused me for a bit. We should try to avoid mental gymnastics on our users.

Something like, "Enter your Persona password." would be simple and poignant enough.

[2012-10-03 13:59] kevinoid opened #2549 "Allow client caching of include.js"
I started [this discussion](https://groups.google.com/d/topic/mozilla.dev.identity/VfR7Vcwvu34/discussion) on the dev-identity mailing list and didn't receive any objections.  Francois Marier suggested I file a bug about it here.  The text that follows is mostly taken from the email:

I contend that browsers should be allowed to cache include.js (which is currently sent with "Cache-Control: public

[2012-10-03 14:05] kevinoid opened #2550 "login.persona.org responds to ICMP Echo Request with ICMP Port Unreachable"
Performing a ping of login.persona.org results in the following output:

[code]

This is because rather than sending an ICMP Echo Response, login.persona.org sends an ICMP Port Unreachable in response to the ICMP Echo Request.  The practical problem that this causes is that the ping tool will not display the RTT/latency information if an Echo Response is not received.

Ping can be a useful tool fo

[2012-10-03 16:58] callahad commented on #2549
I'm +1 on caching for several hours. Somewhere between 2-6 hours feels "right" in terms of reducing burden while preserving agility. @kevinoid, how long are you thinking would be good?

[2012-10-03 17:08] kevinoid commented on #2549
The big tradeoffs that I see are between the expected bug severity, acceptability of down/broken time (for a given severity), and expected turnaround time for code fixes weighed against latency and resource usage in the typical use case.  I don't know much about how you might weigh those, but 2-6 hours sounds pretty reasonable to me.

[2012-10-03 20:38] jrgm opened #2551 "email address handling in new primary user signup is case sensitive"
STR

Either run `node ./tests/new-user/new-user-primary-test.js` or the following:
1) Go to 123done.org and click on sign in
2) enter <someemail>@eyedee.me where 'someemail' is a string with an upper case character
3) dialog fails to dismiss and login is not completed. Error console says:
    Error: uncaught exception: invalid email (FF,Chrome)

[2012-10-03 20:45] seanmonstar commented on #1911
@lloyd @gene1wood @jrgm Was this the bug you said managed to carry over to production? We closed it because it wasn't in dev.

[2012-10-03 22:53] shane-tomlinson commented on #2266
This was merged on the BigTent side, closing.

[2012-10-03 22:53] #2266 closed, assigned to ozten

[2012-10-03 22:56] shane-tomlinson commented on #2300
Link to mozilla/browserid-bigtent#89

[2012-10-03 23:24] seanmonstar commented on #1911
Yea, looking at https://login.persona.org, some of the static files are being served from login. Re-opening.

[2012-10-04 02:27] seanmonstar commented on #1911
CSS stylesheets are using https://login.persona.org hardcoded in them, which must be built during rpmbuild time. @ozten does this sound familiar?

[2012-10-04 03:26] seanmonstar commented on #1911
No, that's not it. i've found the exact location this is. The `cachify_prefix` option gets appended to the `public_static_url`, which if it doesn't exist, falls back to the `public_url`.

So the real action here is to set the `public_static_url` to `https://static.login.persona.org`.

[2012-10-04 16:41] fmarier opened #2553 "Enable DNSSEC on persona.org and browserid.org"
Other Mozilla sites (e.g. addons.mozilla.org) have DNSSEC enabled. We should have it on login.persona.org too.

[2012-10-04 16:44] fmarier commented on #2550
I will follow up with netops to see whether that can be done.

[2012-10-04 16:45] fmarier commented on #1539
Key wrapping for RPs has been postponed and that demo is no longer live.

[2012-10-04 16:45] #1539 closed, assigned to fmarier

[2012-10-04 16:49] fmarier commented on #2160
As far as ops go, the first step there is to build a case (e.g. stats and numbers on Internet users in various countries that don't have IPv4 access) and then send it to Mark Mayo.

[2012-10-04 18:57] bryandonnovan opened #2554 "escape key binding for popup window"
please consider adding an escape key binding to dismiss the popup window

[2012-10-04 19:11] aackerman opened #2555 "Single Sign On"
I'm working on Persona integration and looking for a few answers. I have a site that allows a user to login at http://www.example.com, but they can also login at https://www.example.com. Currently Persona considers these two domains to be completely different when determining if the user is logged in, I understand that they are considered cross-domain due to differing protocols.

However in practi

[2012-10-04 20:20] shane-tomlinson commented on #2555
@theron17 - Thanks for the suggestion!

We recently started discussing how we could use Persona to enable SSO. We have not yet come up with any concrete proposals, but will present them once we are further along!

[2012-10-04 20:20] redalastor commented on #2034
It should also be possible to use the redirection even if you aren't on a mobile app.

I have a use case where a forum I use supports single sign on by opening my "login page" in a popup. My login page would simply use the persona redirection to do its job. Right now, it gives me a popup opening a new popup.

[2012-10-04 20:22] fmarier commented on #2553
Moved to Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=798021

[2012-10-04 20:22] #2553 closed, assigned to fmarier

[2012-10-05 19:47] shane-tomlinson commented on #2499
Closing as dup of #1232

[2012-10-05 19:47] #2499 closed, assigned to skinny97214

[2012-10-05 20:19] shane-tomlinson opened #2557 "Add KPI tracking dialog startup performance"

[2012-10-06 19:11] lmorchard opened #2559 "raise the idproxy byte size limit for .well-known/browserid"
So, [I'm hacking together an IdP](https://developer.mozilla.org/en-US/docs/Persona/Implementing_a_Persona_IdP), and having no luck getting production or staging to recognize it. A laptop instance and dev.anosrep.org does, though. I had a self-signed SSL cert, but upgraded to a free cert from startssl.com - still no luck.

Then, @floatingatoll caught me on IRC and said 'ERR_TOO_BIG' from the idprox

[2012-10-06 19:18] floatingatoll commented on #2559
The spec maybe used to say RSA, but it doesn't specify RSA or DSA anymore
-- however, RSA keys fit within the idproxy byte size limits, but DSA keys
do not. So if we intend to support DSA keys, we should bump that limit up
to support them.

On Sat, Oct 6, 2012 at 12:11 PM, Les Orchard notifications@github.comwrote:

[2012-10-08 07:48] khairihafsham opened #2560 "Persona logs out at random then logs in again"
I have been testing persona locally and noticed that sometimes persona calls the onlogout handler at random and then after page refreshes, calls the onlogin handler. By random I mean, not invoking navigator.id.logout() explicitly.

after doing some digging, I noticed 2 things:
1. this happens after the request for session_context fails to get a 200.
2. everytime persona calls out my onlogout handl

[2012-10-08 16:57] callahad commented on #2560
I suspect that this is less random than it seems, and may be part of an intentional feature. When you say you re-verify the assertion, are you caching the assertion, or are you verifying the new assertion that Persona provides when it calls the `onlogin` handler?

[2012-10-08 17:02] shane-tomlinson opened #2561 "internal api needs logout and logoutEverywhere functions."
B2G and other internal/native implementations that make use of the API need a way of logging the user out of a specific site as well as a general logout function.

[2012-10-08 17:02] shane-tomlinson commented on #2561
link to #1416

[2012-10-08 17:03] lloyd commented on #2561
Lets include the motivating use case in issues, it helps people understand and prioritize.

-- lloyd (thumb-typing)

On Oct 8, 2012, at 11:02 AM, Shane Tomlinson notifications@github.com wrote:

[2012-10-08 17:19] khairihafsham commented on #2560
I am caching the assertion, in hope that I could somehow prevent my application from logging users out intermittently by ignoring the logout request if assertion is verified. but it doesn't.

If this behaviour is expected, it is a bit less straight forward to implement Persona than I initially thought. Any suggestions?

[2012-10-08 17:22] seanmonstar commented on #2561
Motivating case is that it seems the B2G dialog will use the internal API, and there's currently no internal logout. So, priority is like 9000.

[2012-10-08 17:41] lloyd commented on #2561
Cool, Ty @seanmonstar!

So this is for the dialog to sign in at time of first app purchase? Or for dialog when signing in to websites? Or both?

What are desired semantics of logout?  Logs you out locally?  Form the current site?

How about logoutEverywhere?  Does that log you out on other devices?  All sites on current device?  Destroy your session with persona services?

Meta question is how do

[2012-10-08 17:46] shane-tomlinson commented on #2561
@lloyd - you are not supposed to be working today.

[2012-10-08 17:55] lloyd commented on #2561
Yeah man.  But my baby is sleeping on me.  Also, I think it is critically important we focus on describing high level product requirements in bug reports, rather than implementation details.  So I guess I'm on a crusade here :)

-- lloyd (thumb-typing)

On Oct 8, 2012, at 11:46 AM, Shane Tomlinson notifications@github.com wrote:

[2012-10-08 17:57] callahad commented on #2560
Thanks for the quick response! Assertions expire after 2 minutes, and aren't designed to be cached. This is to improve security for both your site and your users, since an old assertion can't be reused later.

I'll look into the session_context issue -- that sounds like it could be a bug. When a page loads, Persona tries to make sure that the `loggedInUser` matches the browser's current user. If i

[2012-10-08 18:07] shane-tomlinson commented on #2561
@lloyd -

These are both thin wrappers around their user.js equivalents. For now, these will act exactly like they do in the normal web flow.

Calling BrowserID.internal.logout will log the user out of the specified origin on the current device. When you log out of a site on one device, it has no effect on another device. This has never been synced across devices.

Calling BrowserID.internal.logou

[2012-10-08 18:23] khairihafsham commented on #2560
make sense and I've assumed as much. if it is any help, I encountered this issue while primarily using Firefox for Linux and I could reproduce it by navigating around my site as fast as I can (sometimes before session_context's request manage to complete).

 Thank you for your hard work.

[2012-10-08 19:34] seanmonstar opened #2563 "Update connect-cachify with globals removed"
Globals have been removed from [connect-cachify](https://github.com/mozilla/connect-cachify) in master, so we should publish a new version in npm and get that merged into browserid.

@ozten can you, or do other people have authority to do that also?

[2012-10-08 20:00] ozten commented on #1527
I would vote for 5 stars on this issue. We want to get this fixed by Wed AFAIK.

[2012-10-08 20:37] ozten commented on #2563
Good call + connect-cachify@0.0.11 published

[2012-10-09 04:14] ozten commented on #1527
I am seeing this work in dev now with delegat.es. I didn't see that before because of clock drift blocking me from seeing the behavior.

[2012-10-09 04:14] #1527 closed, assigned to ozten

[2012-10-09 16:20] ozten opened #2565 "Enhanced delegated primary example run locally has error"
local dev STR

1) http://192.168.186.138:10001/
2) Get an assertion
3) Type ozten@delegated.domain
4) Login via primary.domain's authentication flow

Expected
Logged in as ozten@delegated.domain

Actual
Auth with Assertion error

[code]

Note via HttpFox:

[code]

which says

[code]

which says

[code]

[2012-10-09 16:24] ozten commented on #2565
You must checkout the [issue-2565-delegated-authority-error branch](https://github.com/mozilla/browserid/tree/issue-2565-delegated-authority-error) to follow the steps to reproduce.

[2012-10-09 16:32] mamacdon opened #2566 "Can't confirm an email address using mail client's embedded IE browser"
My e-mail client is a corporate deployment of Lotus Notes 8.5, which uses (on Windows platforms) an embedded Internet Explorer 8 as its built-in web browser. When I try to confirm a Persona email address from Lotus Notes, the embedded browser fails to load the confirmation page and my email address is not confirmed.

Steps are:
1. Add a new email address to my Persona profile.
2. In Lotus Notes, o

[2012-10-09 18:21] jrgm commented on #2566
Thanks for the bug report. A couple of questions:
1. When you say "Add a new email address.." ... Did you do this in some other browser than the Lotus Notes embedded one?
2. I downloaded Note 8.5.3 on Windows/XP and the embedded IE says it is "Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1; Trident/4.0; .NET CLR 1.1.4322; .NET CLR 2.0.50727; .NET CLR 3.0.04506.30; .NET CLR 3.0.04506.648; .NET C

[2012-10-09 18:36] jrgm commented on #2252
verified in current dev (what will be train-2012-10-12)

[2012-10-09 18:40] jrgm commented on #2388
verified on train1012.personatest.org for the current state of the dev branch (what will be train-2012.10.12).

[2012-10-09 18:42] jrgm commented on #2465
verified for current dev (what will be train-2012.10.12).

[2012-10-09 21:52] jrgm opened #2568 "convert the relay of /wsapi/interaction_data to kpiggybank into UDP (currently it is HTTP)"
convert the relay of /wsapi/interaction_data to kpiggybank into UDP (currently it is HTTP).

[2012-10-09 22:15] ozten opened #2569 "Implement Secondary <-> Primary UX Tweaks"
Per BigTent UX Improvements discussion... skinny wants a set of prototypes to test against users.

I'm guessing we need:

**high priority**

1) First time Persona User with Primary supported email address
2) Returning user from #1, second sign in flow
3) Existing Persona User with a Secondary account, First time signing in since Primary started supporting that email address

**lower priority**
1)

[2012-10-09 23:36] ozten commented on #2538
Per [Create delegator stage environment](https://bugzilla.mozilla.org/show_bug.cgi?id=752981) we'll transfer ownership of delegat.es to Ops within 6 months.

[2012-10-10 00:09] jrgm commented on #2101
verified for train-2012.10.12 for an myfavoritebeer; redirects to management page.

[2012-10-10 00:19] jrgm commented on #2159
I think this is all covered except for changing the URL in layout.js for Need Help and I'll open a separate issue for that.

[2012-10-10 00:26] jrgm opened #2570 "Fix the URL in layout.js to be the correct one at SUMO"
In layout.ejs is a link

https://support.mozilla.org/kb/what-browserid-and-how-does-it-work

which is a redirect to

https://support.mozilla.org/kb/what-is-persona-and-how-does-it-work

Might as well use the new URL location.

[2012-10-10 00:28] fmarier commented on #2159
I've submitted a new revision on SUMO to improve the URLs:
- persona.org -> login.persona.org
- myfavoritebeer.org -> 123done.org

[2012-10-10 04:34] #2563 closed, assigned to seanmonstar

[2012-10-10 04:38] jrgm commented on #2159
My followup for 'Fix the URL in layout.js to be the correct one at SUMO' is GH-2570

[2012-10-10 16:58] shane-tomlinson opened #2575 ""Forbidden: no cookie" response in Chrome 22 from "auth_with_assertion""
This prevents the user from logging in when using BigTent.

STR

1) in Chrome 22, ensure that cookies are set to "Allow local data to be set (recommended)
2) open dev.123done.org
3) Click "Sign In"
4) Open Chrome Dev Tools, select "Network"
5) In the dialog, enter a Yahoo! address.
6) Log in to Yahoo! if needed.
7) When the user is returned to the dialog, they see:

[code]

8) Look at the Chrome D

[2012-10-10 17:06] ozten commented on #2575
The first time this morning, I saw "Persona requires cookies to remember you."

Now 6 times in a row I see "We are very sorry. There has been an error!"

[code]

which is a known bug warner is working on.

Are you reproducing this 100%? Are you doing other steps like clearing cookies, caches, or ?

[2012-10-10 17:16] ozten commented on #2575
via IRC "Chrome->Clear Browsing Data" "I cleared everything forever and ever"

I've done this 4 times and am unable to hit the 3rd party cookie thing.

[2012-10-10 17:17] ozten commented on #2575
Does this reproduce with non-bigtent IdPs too?

[2012-10-10 22:39] ozten opened #2577 "Add deployment_rate setting to proxy_idps to support gradual deployment"
We don't have a great load testing tool for BigTent.

We can support gradual deployment of users on a per-proxy IdP basis.

Add `deployment_rate` setting to each idp in [proxy_idps](https://github.com/mozilla/browserid/blob/dev/lib/configuration.js#L235) config.

It's value is a float between 0 and 1. Default value is 1. Email addresses will be mapped into an md5 hash and the deployment rate will

[2012-10-11 01:29] seanmonstar opened #2580 "internal.get fails if modules not registered yet"
We noticed this when we tested on siginifically slower awsboxes, that waiting for the window.load event isn't enough before you call `internal.get`.

Instead of making everyone else aware of this, `internal.get` should wait till the `dialog` module is ready before trying to use it.

[2012-10-11 02:54] seanmonstar commented on #2580
@shane-tomlinson What are your thoughts on this? If the dialog shouldn't change to help the internal API, then I have this polling implementation: https://github.com/seanmonstar/browserid/commit/a3aa77065869e1fdcb4742d3698507234d4d012b

It could be a little cleaner, though, if `dialog` was modified to publish an internal ready event, so that we didn't have to do polling. But that pollutes the dial

[2012-10-11 15:44] lloyd commented on #2577
I love this idea!  I want to lick it!

@bwarner can you suggest a simple hash function to map email addresses into 0..1 ? It obviously needn't be perfect, but simple and functional.  I have found plenty of interesting options on the intertubes, but you're more qualified than them.

[2012-10-11 16:02] callahad opened #2581 "Persona emails getting caught up by Zimbra / Postini?"
According to some of the UR folks who were in town yesterday, Persona registration and password reset emails to mozilla.com addresses are getting caught by Zimbra and Postini's built-in spam filter. Eek!

Also reported internally: https://www.yammer.com/mozilla.com/#/threads/show?threadId=218145946&messageId=218145946

[2012-10-11 16:12] callahad commented on #2577
What if we _have_ to turn it down? (Rollback / revert of the train, for instance.)

Maybe we should only roll this out to users with Persona passwords, so flopping back isn't terrible?

[2012-10-11 16:46] jaredhirsch commented on #2506
doh! /me contacts socketlabs for reals this time...

[2012-10-11 16:58] callahad commented on #2566
We should totally be using the `<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>` meta tag everywhere.

[2012-10-11 17:03] seanmonstar commented on #2561
This was fixed!

[2012-10-11 17:03] #2561 closed, assigned to nobody

[2012-10-11 17:10] callahad commented on #2560
Update: Our logs didn't show anything abnormal with session_context calls, and we haven't been able to reproduce this locally. Is it possible that something is weird between your computer and your connection to the broader internet? Flaky connection? Weird proxy?

How reliably can you reproduce this?

Leaving this bug open for future review with a focus on polishing the user experience.

[2012-10-11 17:12] lloyd commented on #2555
thanks a ton for the idea!  typically what we do with ideas this big is discuss them first on our mailing list, please bring it over to dev-identity@mozilla.org

[2012-10-11 17:12] seanmonstar commented on #2554
The default to close tabs/windows is Ctrl + W

[2012-10-11 17:13] lloyd commented on #2554
if there were a pull request for this, I'd merge it!

[2012-10-11 17:23] skinny97214 commented on #2547
Agree 100%! @callahad and I are already on it and will have a pull request coming this week. The [How it Works] page will be going away entirely in favor of a redesigned home page that explains the dev and user values.

[2012-10-11 17:23] #2547 closed, assigned to callahad

[2012-10-11 17:24] callahad commented on #2549
The make-us-fast-crew will take responsibility for this. The big concern is a botched deployment that requires a rollback: we don't want users to be stuck for 2-6 hours.

Initial idea: 2-6 hours of caching normally. Drop to no-cache the day of a deploy. Once we're happy with stability, reinstate 2-6 hours of caching. This will require coordination / codevelopment with ops, so it may take us a few

[2012-10-11 17:28] #2535 closed, assigned to nobody

[2012-10-11 17:30] lloyd commented on #2539
+1

[2012-10-11 17:30] bryandonnovan commented on #2554
The persona popup is a Dialog Box, not a top level window or tab.

According to Microsoft's UX guidelines,
http://msdn.microsoft.com/en-us/library/aa511268.aspx#modelessDialogBoxes,
Pressing
the Esc key always closes an active dialog box.

On Thu, Oct 11, 2012 at 10:12 AM, Sean McArthur notifications@github.comwrote:

[2012-10-11 17:31] ozten commented on #2539
Having a Persona Glyph in the password field would be splendid. +1

[2012-10-11 17:35] khairihafsham commented on #2560
My internet connection is stable as far I know. I have just tested it again locally (the site is not live yet) and got logged out immediately after a failed session_context request. Below is a snapshot from firebug.

<img src="http://i.imgur.com/SgURi.png" title="Hosted by imgur.com" alt="" />

I will test again this weekend with a live version of the website and see if the problem persist. Will u

[2012-10-11 17:40] jrgm commented on #2581
Hey @callahad do you have more info from UR folks about details of the messages quarantined. I'll ask around with IT folks about tracking this down.

[2012-10-11 17:46] ozten commented on #2559
This is an Ops bug. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=800439

[2012-10-11 17:46] #2559 closed, assigned to ozten

[2012-10-11 17:57] jrgm commented on #2560
What is the response code that you got for the session_context call above?

[2012-10-11 18:00] seanmonstar commented on #2540
@pschlump I notice that you're running this as root. Can you try just as your usual user?

We've seen this before in #1795.

[2012-10-11 18:00] khairihafsham commented on #2560
there was no response code, since the request failed. at least the response panel is missing from firebug for that particular session_context.

[2012-10-11 18:06] seanmonstar commented on #2555
That's dev-identity@lists.mozilla.org :)

https://lists.mozilla.org/listinfo/dev-identity

[2012-10-11 18:07] skinny97214 commented on #2539
Ack! This screen got missed in the copy revamp. Here's the relevant page that specifies the copy should read:

"Enter your Persona password"

*note: not "PersonaID"

http://cl.ly/image/3N043y2I1x3O

[2012-10-11 19:14] jrgm commented on #2581
In particular if they have the SMTP headers for the emails that got quarantined that would be useful to the mozilla admins for figuring out why they were blocked.

[2012-10-11 19:22] jrgm commented on #2581
I got headers from Ludovic and am working with admins to figure out why it was quarantined.

[2012-10-11 20:46] lloyd commented on #2577
I think solving this (have to turn it down) is a pre-requisite to shipping bigtent and pertinent to IdP support in general.

+1 to thinking through user flows and making sure we can do this in a user understandable way for both bigtent and other email providers.

On Oct 11, 2012, at 10:12 AM, Dan Callahan notifications@github.com wrote:

[2012-10-11 21:40] lmorchard opened #2583 "SNI support for login.{persona,anosrep}.org for multiple SSL virtual hosts on one IP"
It seems that prod and stage Persona do not support the [SNI](http://en.wikipedia.org/wiki/Server_Name_Indication) extension for SSL. [SNI](http://en.wikipedia.org/wiki/Server_Name_Indication) would allow me to host multiple domains with SSL on the same IP address (ie. my single VM for hobby projects).

Instead, it looks like Persona gets the same default SSL cert from my server for all domains -

[2012-10-11 21:47] lmorchard commented on #2583
FWIW, RE: docs, I [just added this as a tip](https://developer.mozilla.org/en-US/docs/Persona/IdP_Development_Tips#One_SSL_domain_per_IP_address.2C_please) to the page on MDN.

[2012-10-11 22:02] jrgm commented on #2581
Our instance for Postini did flag this as spam. IT is asking for more info on what triggered that (although apparently mozilla has very aggressive settings). The sender address we use has been whitelisted for mozilla.com, but I'm considering asking to have that reversed. I really want to know what is not kosher about our content and/or headers, and would rather feel the pain @ mozilla until we kno

[2012-10-11 22:20] callahad commented on #2581
+1. We can trust people with Mozilla email addresses to be sufficiently aware of / persistent with Persona to survive this friction, and it will ensure that we get this fixed for folks at other organizations. (Because, seriously, if it happened to us...)

[2012-10-11 22:38] lloyd commented on #2549
/cc @gene @zach

On Oct 11, 2012, at 11:24 AM, Dan Callahan notifications@github.com wrote:

[2012-10-11 22:40] lloyd commented on #2539
+1 from me too.

On Oct 11, 2012, at 11:31 AM, Austin King notifications@github.com wrote:

[2012-10-11 22:41] lloyd commented on #2560
can you provide the headers and body of the session_context request?  not sure that will let us diagnose, but if it is easy it's worth a shot…

On Oct 11, 2012, at 11:35 AM, Khairi Hafsham notifications@github.com wrote:

[2012-10-11 23:16] jrgm commented on #2581
Okay, the exemption has been removed.

[2012-10-12 15:20] mamacdon commented on #2566
1. Yes -- I used Google Chrome to add the email address to my Persona account. Lotus Notes only came into play when I checked my email, and tried to click the confirmation link. (The problematic part of the above steps is from Step 2 onward.)
2. No, I was wrong to assume the embedded browser was IE8. My user-agent string is:

[code]

So If my understanding of this ( http://msdn.microsoft.com/en-us

[2012-10-12 17:33] lloyd opened #2586 "enforce version dependencies during rpm building and installation"
`browserid.spec` can express more specific version dependencies on build-time and run-time required software.  This would help us perform better checking of applications assumptions and help us find issues sooner.

The catch is, we should not represent node version in multiple places - it's already present in `package.json`

[2012-10-12 17:37] ozten commented on #2586
Editing package.json and browserid.spec doesn't seem horrible. We could add a vows test to make sure they have the same value.

Otherwise... we could make one of them an artifact that a build step creates.

[2012-10-12 19:09] lloyd opened #2587 "ephemeral deployments not serving static resources"
With change 1173c2d7c173e9deabe9209b4136006935f1bfaa we broke serving of static resources on ephemeral instances.  Because ephemeral aws deployments use `production.json` then overlay `aws.json`, the addition of `public_static_url` to the former caused ephemeral instances to serve static resources from `https://static.login.persona.org`.

[2012-10-12 19:20] lloyd opened #2589 "email delivery broken in dev and train-2012.10.12"
dbwriter cannot send email as of 44df7746f7b597b6d88a57799bcf1d40937cfc49

[code]

[2012-10-15 21:01] Lennie opened #2595 "Sprite button-arrow"
Suggestion is to combine the following images in one sprite:

https://login.persona.org/v/7ec8bdec1f/common/i/button-arrow-active.png
https://login.persona.org/v/8b6dbe4ebd/common/i/button-arrow-hover.png

[2012-10-15 21:03] Lennie opened #2596 "Reduce the size of images by removing unnecessary bytes images"
As a test I ran the following files through:

http://www.smushit.com/ysmush.it/ (the site does not support downloading from HTTPS directly so you'll have to upload them by hand)

image - result size - savings - % savings

https://login.persona.org/v/7ec8bdec1f/common/i/button-arrow-active.png  331 bytes  846 bytes  71.88%
https://login.persona.org/v/8b6dbe4ebd/common/i/button-arrow-hover.png   452

[2012-10-15 21:10] Lennie opened #2597 "Inline the communication_iframe scripts"
It probably needs some testing, but it might be a good idea to just combine the following files in one response:

https://login.persona.org/communication_iframe
https://static.login.persona.org/v/d01d1d543a/production/communication_iframe.js

Looking at the HTML-output it looks like it might be cachable like the javascript code in that case the files could be combined in one file.

(might not be v

[2012-10-15 21:12] Lennie opened #2598 "Monitoring points to the wrong domain ?"
Could it be http://status.mozilla.com/ still watches the old domains/urls ?:

http://status.mozilla.com/11627/216654/browserid.org
http://status.mozilla.com/11627/217458/browserid.org/include-js

[2012-10-15 21:18] #1976 closed, assigned to skinny97214

[2012-10-15 21:36] #2589 closed, assigned to nobody

[2012-10-15 21:37] lloyd commented on #2581
is this still a 5 star?

[2012-10-15 21:52] ozten opened #2599 "Allow IdPs to treat email as a hint for beginAuthentication"
BigTent as a proxy to other IdPs can have users in a weird state where they enter foo@bar.com into the dialog, but are actually currently signed into as baz@bar.com.

In mozilla/browserid-bigtent/issues/66 we want to improve this situation. Having email be a hint from the `beginAuthentication` callback, instead of a mandate, would allow us to have a better UX around recovering from this error cond

[2012-10-15 21:53] cpeterso opened #2600 "Confirmation email says clicking link will "automatically sign in to" service, but it doesn't"
I wanted to associate a second email address with my existing Persona account. So I went to myfavoritebeer.org and tried to log in with a new email address. I received the confirmation email as expected and it said, **"Click to confirm this email address and automatically sign in to myfavoritebeer.org."**

When I clicked the link, a Persona.org page opened that simply said, **"Your address has bee

[2012-10-15 22:09] #672 closed, assigned to skinny97214

[2012-10-15 22:25] fmarier commented on #2598
My guess is that it's monitoring `browserid.org` to ensure that:
1. the redirects are working
2. the service is up

but I could be wrong and it could just be something we forgot to update...

[2012-10-15 22:26] fmarier commented on #2597
Yeah, I think we are hoping to enable CSP for security reasons, so this may not work.

[2012-10-15 23:06] Lennie commented on #2598
I did consider that and I don't know how the monitoring is handled, but if you monitor one domain and expect it to redirect and monitor the second that way. You'll have a nasty surprise if the redirect is removed by accident and the second does not work anymore.

So I thought, probably better to report it before it goes live :-)

[2012-10-15 23:19] fmarier commented on #2530
There is now a crew to tackle this:

  https://id.etherpad.mozilla.org/make-us-fast

Several specific bugs have been filed and tagged [type:performance](https://github.com/mozilla/browserid/issues?labels=type%3Aperformance&page=1&state=open) so let's close this one.

[2012-10-15 23:19] #2530 closed, assigned to fmarier

[2012-10-15 23:29] jaredhirsch commented on #2386
we're moving from python selenium to node selenium; closing accordingly.

[2012-10-15 23:29] #2386 closed, assigned to jaredhirsch

[2012-10-15 23:30] jaredhirsch commented on #2391
we're moving from python selenium to node selenium; closing accordingly.

anyway, having the option to disable cache or "always fetch a fresh copy" is probably better than cache optimization tricks which will still lead to a miss pretty often.

[2012-10-15 23:30] #2391 closed, assigned to jaredhirsch

[2012-10-15 23:30] jaredhirsch commented on #2430
we're moving from python selenium to node selenium; closing accordingly.

if this is still a desired feature, please reopen against mozilla/bidpom.

[2012-10-15 23:30] #2430 closed, assigned to jaredhirsch

[2012-10-15 23:32] jaredhirsch commented on #2432
added to the list of todos in the test-automation-spec etherpad. closing.

[2012-10-15 23:32] #2432 closed, assigned to jaredhirsch

[2012-10-15 23:33] jaredhirsch commented on #2506
lowered from ridonkulous 5-stars to 4-stars. talking with vendor tomorrow.

[2012-10-15 23:37] callahad commented on #2600
Aw, man. Thanks for finding that. Root cause: MyFavoriteBeer uses the old `.get()` API, which doesn't support redirection and automatic sign-in.

[2012-10-15 23:37] jaredhirsch commented on #2402
/me steals

[2012-10-15 23:39] jrgm commented on #2581
We can mark this four star. IT is working to get an answer from Postini about what in particular triggered this being marked as spam.

[2012-10-16 00:05] cpeterso commented on #2600
I saw the same problem with openphoto.me's confirmation email. Can persona.org customize the confirmation email depending on which API version the website is using?

[2012-10-16 09:33] csuciu opened #2602 "[stage] Unable to add '@yahoo.com' email addresses"
Browser: FF 16.0.1
OS: Ubuntu 12.04

Steps:
1. Go to www.beta.123done.org or www.beta.myfavoritebeer.org and press on Sign in with Persona
2. In the sign in dialog enter any 'yahoo.com' email address and press on next

Expected:
User should be able to sign in

Actual:
"We are very sorry. There has been an error!" message is displayed. User is not able to set up a persona account or add a new email

[2012-10-16 10:50] csuciu opened #2603 ""We are sorry, this request is taking to long" is displayed every time for '@yahoo.co.uk' email addresses"
Browser: FF 16.0.1, Chromium 20.0.1132.47
OS: Ubuntu 12.04
1. Go to www.beta.123done.org or www.beta.myfavoritebeer.org and press on Sign in with Persona
2. In the sign in dialog enter any '@yahoo.co.uk' email address and press on next.

Expected:
"Confirm your email address" message  pops up

Actual:
"We are sorry, this request is taking to long" message is displayed every time for a few seconds

[2012-10-16 12:37] #2580 closed, assigned to nobody

[2012-10-16 13:13] shane-tomlinson commented on #2596
@fmarier - we had done this once before, but this was many moons ago and several images have been added since then.

[2012-10-16 13:13] #2596 closed, assigned to fmarier

[2012-10-16 13:19] shane-tomlinson opened #2604 "network.js->cookiesEnabled calls session_context which is no longer needed"
network.js->cookiesEnabled calls session_context which is no longer needed.

From https://github.com/mozilla/browserid/pull/2584#issuecomment-9482894 -

[code]

[2012-10-16 15:57] shane-tomlinson commented on #2569
link to #1039

[2012-10-16 16:49] skinny97214 commented on #2569
tasks to test migration

#1 log in (show secondary flow)
#2 log in to another site (show secondary to primary migration)
#3 log in to another site (show primary flow)

[2012-10-16 17:01] lloyd commented on #2078
GET parameter?  Or HTTP header?

Remind me, _why_ does bigtent require this?  (Ideally this context would be in the issue description for forgetful people like me)

[2012-10-16 17:08] lloyd opened #2606 "Improve user messaging when email provider (dis|en)ables persona support"
When an email provider enables persona support (adds a `.well-known` document, etc), a user that _was_ using the persona service previously with an address from this provider should see clear one-time messaging.

Basically, the user's experience will change significantly, we should tell them how it's changing and why this is good for them.

The same reasoning exists for opposite case: an email pro

[2012-10-16 17:29] lloyd opened #2607 "When email providers transition, certificates should be invalidated"
In order to smoothly handle the moment when an email provider brings persona support online, we should have a way to instantly disable outstanding certificates for the domain in question.

Specifically, this scenario details the issue:
1. User logs into a site with persona using `foo@example.com` - `example.com` is not a primary
2. User now has a certificate issued by `login.persona.org` in their

[2012-10-16 17:33] benadida commented on #2078
BigTent could be implemented in a number of ways:

(a) sharing the secret key (uggh)

(b) cert chaining (really complicated)

(c) GET parameter on well-known

In general, during the meeting we had about this where we discussed various ways in which a domain could logistically deploy different keys for different sets of users, we agreed (and I think you were enthusiastic) about (c) as the simplest

[2012-10-16 17:41] lloyd opened #2608 "Gracefully handle an email provider temporarily going offline"
If a user has an email address from a domain which has Persona support, and that domain temporarily goes offline, we should give the domain a period of time (1 week?) to resolve the issue before we begin issuing certificates for the email addresses hosted at that domain.

The rationale is, if a domain has explicitly opted into persona support, they have said that _they_ wish to vouch for user's em

[2012-10-16 17:46] ozten commented on #2569
Discussing with Crystal
- If a user has never used a primary, they should not see a transition screen
- it is okay, but not ideal, if this is per-device (no db support needed)

Putting these requirements together, we should be able to store in local storage the fact that the user is using a secondary address or a primary address and then trigger transitions from there.

[2012-10-16 18:03] ozten commented on #2569
Working in a new branch based on f9880c620339292f429fac57445f5a5572c97066 per stomlinson

/CC @lloyd

[2012-10-16 18:34] callahad commented on #2078
@lloyd Our fallback needs a way to optionally route requests to BigTent. BigTent is designed to function just like a normal IdP.

The safest and simplest option on the table involved querying the well-known file with the user's domain as a GET parameter, so that we could use standard authority delegation to hand control over to BigTent.

As Ben mentioned, we're trying to avoid cert chaining or sha

[2012-10-16 18:49] benadida commented on #2078
@callahad fascinating! Those addresses are at the same domain? yahoo.com?

[2012-10-16 20:17] callahad commented on #2078
@benadida Yep! More info in mozilla/browserid-bigtent/issues/12, but the way you can tell a real Yahoo address from a disposable one is the presence of a hyphen in the address. Normal accounts can't have one, disposable aliases must have one.

[2012-10-16 20:28] #2604 closed, assigned to nobody

[2012-10-16 21:34] ozten commented on #2569
Working off a new branch based on dev, actually.

per discussion with skinny, we'll go ahead and implement these improvements, then do UX review. This is because doing a full A/B user testing of these features isn't really possible for a couple of reasons

a) No A/B testing framework
b) Too much "roll playing" or the need for a set of primaries that could be flipped on and off during user testing

[2012-10-16 23:00] jrgm opened #2609 "logged-in state not properly updated in second window with 123done"
STR
1. Start with a new browser profile with Firefox 16.01
2. In window-1, load http://123done.org/
3. Click signin and enter an existing secondary username/password to complete the login
4. Open a second window, window-2 and load http://123done.org/. This window will automagically show you as logged in.
5. In window-1, click Logout. Both windows should show a logged out state.
6. In window-2, cli

[2012-10-17 01:40] jrgm commented on #2603
@ozten, @gene1wood - This is true in production too. The request for https://login.persona.org/wsapi/address_info?email=5a433f9e76784632d%40yahoo.co.uk takes ~15 seconds and returns 200 OK with body
`{"type":"secondary","known":false}`

@gene1wood - what is the cause of the delay in production? When I do `time curl -D - http://yahoo.co.uk/.well-known/browserid` from my laptop that only takes ~400m

[2012-10-17 01:47] jrgm commented on #2602
Thanks @csuciu

@gene1wood, @ozten - we need to disable bigtent in stage while train-2012.10.12 is on the tracks in stage

The request for `https://login.anosrep.org/wsapi/address_info?email=abcabdab1%40yahoo.com` returns 200 OK in about 1 seconds with body `{"auth":"https://yahoo.login.anosrep.org/authentication","prov":"https://yahoo.login.anosrep.org/provision","type":"primary"}`.

---

Subsequ

[2012-10-17 01:53] jrgm commented on #2602
Actually, sorry. Those JS errors are shown if I load `https://yahoo.login.anosrep.org/provision` directly in the browser. My mistake.

[2012-10-17 02:00] jrgm opened #2610 "[bigtent] https://yahoo.login.anosrep.org/ needs an Access-Control-Allow-Origin header to load fonts correctly in FF"
STR
1. Load `https://yahoo.login.anosrep.org/authentication` directly in the browser.

When I load that, I get this JS error message in FF16:

[code]

The headers for `https://yahoo.login.anosrep.org/authentication` need to include something like
`Access-Control-Allow-Origin: https://yahoo.login.anosrep.org` to eliminate the error (review that carefully from a security pov; I'm just suggesting tha

[2012-10-17 02:02] jrgm commented on #2610
Oops, I meant that the headers for the font files served from yahoo.login.anosrep.org need to include the `Access-Control-Allow-Origin` header.

[2012-10-17 07:55] fmarier commented on #2160
http://www.ipv6.org.nz/2012/10/17/arin-scrapes-bottom-of-ipv4-barrel/

[2012-10-17 08:33] shane-tomlinson commented on #2607
link to the closed #1039

[2012-10-17 08:36] shane-tomlinson commented on #2607
Initial implementation was done in f9880c620339292f429fac57445f5a5572c97066.

[2012-10-17 08:39] shane-tomlinson commented on #2597
@Lennie - Thanks for the suggestion! @fmarier is correct, inlining scripts in the communication iframe is not compatible with CSP, which we want to enable shortly. Closing for now, but we will keep this in mind when weighing the tradeoffs between performance and security.

[2012-10-17 08:39] #2597 closed, assigned to nobody

[2012-10-17 08:39] shane-tomlinson commented on #2587
Closing as fixed with #2588

[2012-10-17 08:39] #2587 closed, assigned to nobody

[2012-10-17 08:49] shane-tomlinson commented on #1588
@fmarier is now working on this experimentation, reassigning.

[2012-10-17 10:33] djc opened #2612 "login.persona.org doesn't support RFC 5746"
When using login.persona.org, I see messages like this in the error console:

"login.persona.org : server does not support [RFC 5746](https://tools.ietf.org/html/rfc5746), see [CVE-2009-3555](http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2009-3555)"

[2012-10-17 13:21] djc opened #2613 "Show error message instead of silently returning to homepage"
While implementing my IdP, I'm running into the following error from /wsapi/auth_with_assertion:

{"success":false,"reason":"bad signature in chain"}

When the login fails this way, login.persona.org reloads the homepage instead of showing some error message UI.

[2012-10-17 15:43] ozten commented on #2610
This is a bigtent server change, right?

[2012-10-17 15:47] ozten commented on #2602
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=802645

[2012-10-17 16:34] ozten commented on #2610
Weird, we don't need Access-Control-Allow-Origin if the fonts are served by the same server as the CSS and HTML... right?

[2012-10-17 16:53] ajazam opened #2614 "Persona doesnt appear to work in IE9(32bit) and Windows 7 pro 32 bit"
Hello,

I've spent too much time getting persona to work with IE9 and windows 7 Pro 32 bit.
My IE 9 (32 bit) is 9.0.8112.16421 update 9.0.10
And windows 7 pro (32bit ) SP1 and fully patched to today (17/10/2012)

I keep getting told that the browser is not supported. I do not have any special addons installed. The problem also occurs on two other PC's ive tested it on so it's not isolated.

Howeve

[2012-10-17 17:14] shane-tomlinson commented on #2614
Hi Jabber,
I am sorry to hear about your problems with IE9 on Win7. I regularly test in IE8 and 9 but in Win7 64 bit. The site that you are trying to sign in to, does it have a doctype set which forces the browser into standards mode? Is the doctype declaration on the very first line of the document? Finally, can you log in if you browse to 123done.org?

Sent from my HTC

----- Reply message -----

[2012-10-17 17:19] #1682 closed, assigned to shane-tomlinson

[2012-10-17 17:21] #2570 closed, assigned to shane-tomlinson

[2012-10-17 17:34] #314 closed, assigned to shane-tomlinson

[2012-10-17 17:54] gene1wood commented on #2603
My first guess would be the cause is the id proxy servers and may be the same issue reported here : https://bugzilla.mozilla.org/show_bug.cgi?id=775177

[2012-10-17 18:10] ozten commented on #2569
Chatted with @shane-tomlinson
- we should use id instead of email
- this feature should eventually work across sessions, which is related to Issue #1500 but we don't want to block on 1500

[2012-10-17 18:33] jrgm commented on #2610
Hmm, yeah the css and font have the same origin. Well, I'm unclear why the error then. But it is there.

[2012-10-17 18:54] callahad commented on #2614
@shane-tomlinson Will a site running in compatibility mode force IE9 to render a Persona popup in compatibility mode?

[2012-10-17 19:02] shane-tomlinson commented on #2614
@callahad - no, but it will stop the site from having window.JSON and there were other problems - see #803

[2012-10-17 19:04] seanmonstar commented on #2614
It shouldn't affect the actual dialog, but since it's needed from the include.js (which runs on a page in compat mode), then the "unsupported" dialog will get shown.

[2012-10-17 19:08] callahad commented on #2614
Aaah! That makes sense. Thanks. I don't think we emphasize in the docs that RPs need to be using standards mode for IE. I'll file a new docs issue to make sure that gets added to our best practices page.

[2012-10-17 19:11] callahad opened #2616 "Emphasize that RPs need to be using standards mode on their pages"
If IE renders a site in compatibility mode, it won't have window.JSON or other things that Persona needs. A small note somewhere in the docs should highlight that sites must be rendered in standards mode.

[2012-10-17 19:12] callahad commented on #2616
See: #2614

[2012-10-17 19:17] seanmonstar commented on #2616
Specifically, IE8 or higher mode.

[2012-10-17 19:51] seanmonstar commented on #1911
closed with #2552

[2012-10-17 19:51] #1911 closed, assigned to seanmonstar

[2012-10-17 19:53] callahad commented on #2577
I think we also need to figure out how verification of users works when we're partitioning like this. How do you get the right public key / issuer as a verifier?

[2012-10-17 19:58] skinny97214 commented on #1588
@fmarier Is this a 20% project for you? I have some date we collected in Sawyer's study that relates to this. Feel free to schedule me in on a Friday and I'll give you the debrief.

[2012-10-17 20:31] jrgm commented on #2602
This has been fixed. @yahoo.com addresses are now treated as secondaries on stage.

[2012-10-17 20:33] #2602 closed, assigned to nobody

[2012-10-17 20:52] jrgm commented on #2614
I have the exact same OS+IE versions as 32-bit
IE: Version: 9.0.8112.16421, Update version: 9.0.10
Windows 7 Pro, Service Pack 1, System Type: 32-bit operating system
All updates applied

and I'm not having an problem with using persona. (Sorry, not that it helps you that my system works ;-( ).

[2012-10-17 21:27] ozten commented on #2577
callahad via Email:

I believe we have a related issue with the proposal for rolling out BigTent to fractions of a domain, instead of everyone at once:
1. With Yahoo's exposure rate at 50%, half of users will have certs backed by login.persona.org, half will have certs backed by BigTent.
2. If dynamic well known is based solely on the domain of the email, it would get it wrong 50% of the time.

[2012-10-17 21:30] ozten commented on #2577
Depending on how we refine the discover process (an active discussion between Ben and Brian), this is probably not an issue with _correct_ verifiers.

ah, without the local part of an email address, Dynamic well known lookups against the secondary will not be deterministic. Good call.

[2012-10-17 21:47] lloyd opened #2617 "improve diagnostic value of monitoring"
We are going to improve our monitoring focusing on outbound traffic from per-colo load balancers.  We believe we can get extremely timely alerts at extremely low cost using this approach (i.e. detect spikes in 50x responses, detect slow queries that should not be, etc.)

To improve the speed of diagnosis of these failures, we should include a new header in all responses that tells us all of the pr

[2012-10-17 21:48] lloyd commented on #2617
/cc @gene1wood @6a68 @ozten

[2012-10-17 21:49] lloyd commented on #2617
an additional idea that may be a second phase would to be to have timestamps embedded in said header to help isolate sources of latency.

[2012-10-17 21:57] jrgm opened #2618 "[IE9] ugly flash in /sign_in dialog when signing an already authed user"
STR
1. Go to 123done.org (or beta.123done.org)
2. Click signin and finish being authenticated
3. Back in 123done, click logout and bring up the dialog again
4. Click signin in the dialog

There's a flash of 'Finishing signing in..' in the dialog for less than a second, which is a bit ugly.

ISTR that I filed this issue before for IE. There's also GH-2320 which is for Opera.

IE8 shows the 'Finishi

[2012-10-17 21:59] jrgm commented on #2609
This also can be done in Chrome/osx, but not on IE9/win7 or IE8/winxp.

[2012-10-17 23:01] callahad commented on #2577
Right, and revealing the local part when trying to look up a public key feels like a no-go from a privacy standpoint...

[2012-10-17 23:10] jaredhirsch commented on #2617
this looks good to me.

It would be cool to use a naming scheme that doesn't require manual intervention to scale out. For instance, if we use hostname & pid in the header, we could make the hostname reflect the role, or map hostnames to roles when we process logs.

[2012-10-18 00:49] jrgm commented on #2618
So, I guess I was just forgetting that I had already filed this 4 months ago in GH-1705 o_O.

Anyways, it seems much more jarring on IE9 now.

[2012-10-18 01:14] fmarier commented on #1588
The "spec" for what I started working on (backend only for now) is here ("card server"):

  https://wiki.mozilla.org/Identity/Architecture/IDAttachedServices#.22Card.22_server_.28used_by_the_dialog.29

and the code is here:

  https://github.com/fmarier/cardserver

[2012-10-18 02:20] jrgm opened #2619 "Broken frontend test (SyntaxError) test/cases/dialog/js/modules/authenticate.js"
STR
1. WHAT_TESTS=front npm test
   or
2. Do `npm start` locally, load http://127.0.0.1:10002/test/ in FF and check the Error Console

Actual:
1. In the console you'll see 'SyntaxError: Parse error'
2. In FF Error Console:

   Error: SyntaxError: missing variable name
   Source File: http://127.0.0.1:10002/test/cases/dialog/js/modules/authenticate.js
   Line: 31, Column: 2
   Source Code:
     fun

[2012-10-18 08:52] ajazam commented on #2614
Sorry for the late reply, I went home after I created the initial issue. The doc type I use is

<!DOCTYPE html>

I'll see if there is another more appropriate doctype I can use.

I can also login to 123done.org.

I'll check the source for 123done.org

[2012-10-18 09:47] shane-tomlinson commented on #2614
@ajazam - this is the appropriate HTML5 doctype, is it on the very first line of the document?

[2012-10-18 09:49] ajazam commented on #2614
I had a look at the html and found I didn't have the following

[code]

The website works now. Thank you all for a fast response.

[2012-10-18 09:49] #2614 closed, assigned to nobody

[2012-10-18 09:53] shane-tomlinson commented on #2614
@ajazam - thanks for following up with the solution! As reported in #796, users of Google Chrome Frame cannot log in using Persona. You will have to remove the `,chrome=1` portion of the above declaration for GCF users to correctly sign in.

Also related - #2566

[2012-10-18 14:54] lloyd commented on #2617
This sounds reasonable.  I was thinking we can leave the string completely opaque to our software and let gene solve it with configuration.  Appending PID would handle the case where we run multiple process instances on a single box though, which we may do.  <hostname>:<process type>:<pid> ?

they get longer, but if we strip we don't really care, right?

[2012-10-18 15:31] khairihafsham commented on #2560
Hi, sorry for the long absence.

I have tested again with a live website and now I can reproduce the issue quite well. I just have to wait until either list_emails or session_context is making a request and immediately click to a link to another page, effectively making the request to fail and getting no response. Everytime after that, I get a logout.

I have tested on chrome and firefox (ubuntu).

[2012-10-18 16:24] ozten commented on #2569
So `storage.clear` currently clears everything that storage tracks.

It is called from user, when the user isn't authenticated.

This makes sense, as it has an email to user id mapping, sites visited, and other sensitive data.

I'm wondering if we can't add a hashed email to last known state map, which is not managed by `clear`.

[code]

[2012-10-18 16:25] #2175 closed, assigned to zaach

[2012-10-18 16:44] lloyd commented on #2612
/cc @warner Hey, can you assess the importance of fixing this?

[2012-10-18 16:50] jaredhirsch commented on #2504
five stars but looks like it's gone dead. @lloyd, is this a wont-fix or is some action needed?

[2012-10-18 16:57] lloyd commented on #2600
let's drop "automatically" in the email

[2012-10-18 17:04] ozten commented on #2599
I'll post this to the list.

[2012-10-18 17:04] #2599 closed, assigned to nobody

[2012-10-18 17:05] gene1wood commented on #2617
Ya, I'd second @6a68's comment and collapse the "datacenter-role-servernumber" into "hostname" since we (ops) already deal with the question of turning hostnames into datacenter, role etc.

[2012-10-18 17:06] lloyd commented on #2598
let's resolve this when we launch status.persona.org very soon.  we should probably redirect from status.mozilla.org.

[2012-10-18 17:09] jaredhirsch commented on #2506
socketlabs account purchased, @gene1wood has new creds and will file bugzilla change window/release tickets to update in prod.

socketlabs does provide a 100% uptime SLA, as well as an API we can use to monitor and alert on the failure or stuck-in-queue ratios. I pinged the dev-identity list about this, see the archives for more info. closing.

[2012-10-18 17:09] #2506 closed, assigned to jaredhirsch

[2012-10-18 17:12] lloyd commented on #2583
at the very least we can improve error messaging to help IdP developers isolate the issue.

[2012-10-18 17:17] gene1wood commented on #2506
https://bugzilla.mozilla.org/show_bug.cgi?id=802744

[2012-10-18 17:17] ozten commented on #2583
+1

If we could get check_primary_support running in production and accessible as a webtool, that would be a good bang for debugging buck.

Maybe the go2market crew can take a stab at that?

[2012-10-18 17:27] ozten commented on #2600
Grabbing, will do.

[2012-10-18 17:35] lloyd commented on #2600
merged

[2012-10-18 17:35] #2600 closed, assigned to ozten

[2012-10-18 17:38] lloyd commented on #2569
if we use localstorage for this we cannot guarantee once per user, it's once per user per device, per browser reset.

[2012-10-18 17:51] jrgm commented on #2619
reopening. This test is currently failing.

http://127.0.0.1:10002/test/?filter=dialog%2Fjs%2Fmodules%2Fauthenticate

https://travis-ci.org/#!/mozilla/browserid/jobs/2837188

@seanmonstar can you have a look at this while @shane-tomlinson is travelling?

[2012-10-18 18:34] jaredhirsch commented on #2603
@jrgm: haha, you used http, not https. try time curl -D - https://yahoo.co.uk/.well-known/browserid and it will take well over a minute. My guess is that squid is timing out at 15 seconds.

[code]

@gene1wood is wondering if we need to use https to fetch a well-known?

the relevant snippet of code is here:  https://github.com/mozilla/browserid/blob/dev/lib/primary.js#L185

[2012-10-18 19:21] #2619 closed, assigned to nobody

[2012-10-19 01:48] fmarier commented on #2550
Moved to https://bugzilla.mozilla.org/show_bug.cgi?id=803391

[2012-10-19 01:48] #2550 closed, assigned to fmarier

[2012-10-19 06:47] lookfirst opened #2622 "lots of emails causes signin button to be hidden"
This is a re-open of two issues: #1325 and #2144. screenshot coming after I submit this issue.

[2012-10-19 06:48] lookfirst commented on #2622
http://www.evernote.com/shard/s178/sh/abd20884-b458-4194-a324-acb8af25a324/1edf9587f7291de9fca58741a1ea3b8c

[2012-10-19 06:49] lookfirst commented on #2622
It used to be that I could scroll in that dialog, which was kind of wrong too. Now there isn't even scrolling available.

[2012-10-19 23:25] wbamberg commented on #2616
I've added a section on this in "Browser compatibility": https://developer.mozilla.org/en-US/docs/persona/Browser_compatibility.

I also noticed that this page says:

Is this correct? I thought it was IE7 emulation that was a problem? Or is this a different problem?

[2012-10-20 03:46] jrgm commented on #2616
I don't think that is correct. @callahad can you comment. I don't recall the specifics.

[2012-10-21 23:09] jrgm opened #2624 "[dev] signin with primary email address not working in dev"
STR
1. Load http://dev.123done.org and click signin.
2. In the dialog, enter an @eyedee.me email address.
3. When prompted, click 'sign in with eyedee.me'.
4. On eyedee.me, enter a password and click 'Sign in'.

The dialog returns to /sign_in#AUTH_RETURN, but doesn't complete signin.
Eventually, the error screen is shown with 'Action: Checking Email Address'.

This is working fine in stage and pro

[2012-10-22 01:02] fmarier commented on #2612
This page explains the console warning: https://wiki.mozilla.org/Security:Renegotiation

It looks like our server [supports client-initiated renegociation](https://www.ssllabs.com/ssltest/analyze.html?d=login.persona.org&hideResults=on) which could make it [vulnerable to DoS attacks](https://community.qualys.com/blogs/securitylabs/2011/10/31/tls-renegotiation-and-denial-of-service-attacks).

[2012-10-22 08:45] davesann opened #2625 "navigator.id.rerequest ??"
https://groups.google.com/d/topic/mozilla.dev.identity/49I-npdQvUM/discussion

If you are writing a single page app and, for whatever reason, the session times out on the server, the only way I know to auto login the user is by refreshing the page.

Is it possible to enhance the api to allow a login re-request that will act like a page refresh to the extent that:
1. Like a page refresh - if a user

[2012-10-22 10:47] shane-tomlinson commented on #2622
This was fixed with checkin 42182387d012dd354d3759b0ce102589d11e772c which is currently in beta.

![Email scroll bar](https://lh4.googleusercontent.com/-VO7N9dg0UaY/UIUkB0WrxjI/AAAAAAAAAHw/u79OPeZ3w5Y/s703/email_scrolling.png)

Closing as fixed.

[2012-10-22 13:06] djc commented on #2583
Not sure what version of Node.js is used for Persona, but it looks like this has been fixed upstream:

https://github.com/joyent/node/commit/d07f75a9e (landed in 0.8)

[2012-10-22 15:11] lmorchard commented on #2583
It doesn't seem like this is a node problem in production & staging, though. As I understand it, there's a squid proxy cache in front of the service that takes care of fetching service docs & etc, and I'd guess the SNI support is missing there. Persona running in dev and on my laptop doesn't have this issue.

[2012-10-22 15:23] djc commented on #2583
Ah, I guess the proxy could be the problem, as well. Still, Persona on your laptop working doesn't preclude this from being a Node version issue. As for SNI support in Squid, I found the following:

http://wiki.squid-cache.org/Features/BumpSslServerFirst
http://comments.gmane.org/gmane.comp.web.squid.devel/15201

Which seems to indicate that SNI support should be better in the upcoming 3.3 version

[2012-10-22 16:43] lookfirst commented on #2622
@shane-tomlinson

I still think this design could be improved in other ways.
1. Hiding the signin button below the other two buttons and a scrolling UX is confusing.
2. The email addresses could be clickable buttons. That would avoid the two clicks to sign in and the whole signin button. Remembering the last signin address could be done with icons in the button.

[2012-10-22 17:44] ozten commented on #2577
I'm cool with closing this.

[2012-10-22 18:15] callahad commented on #2078
@ozten Do we have a tracking bug for adding dynamic well-known lookup to our verifier?

[2012-10-22 18:48] ozten commented on #2078
@warner is working on this in mozilla/browserid/pull/2623

Brian, any other bug #s to mention?

[2012-10-22 20:03] shane-tomlinson commented on #2622
@lookfirst - Thanks for your feedback. Regarding point 1 - this decision was not made lightly. On a mobile device in landscape mode, if the submit buttons are always shown there is room for approximately 1 email address, which looked terrible on top of being totally unusable. Since the average number of email addresses our users have is ~ 2.7, we optimized for this case. Users with > 8 email addre

[2012-10-22 20:07] lookfirst commented on #2622
@shane-tomlinson On a mobile device, you could just have a dropdown box. The most recently used account is selected. At least on iOS, a dropdown box is also rendered nicely in the UI when engaged.

[2012-10-22 22:17] jrgm opened #2626 "[opera] primary email address signin fails with mockmyid.com"
STR
1. Use Opera and load http://beta.123done.org and click Sign in
2. Enter someuser@mockmyid.com and click Next

Expected: dialog looks up address_info, fetches provisioning.html and logs the user in

Actual: dialog says 'Check with your email provider', and after 20 seconds or so, shows an error screen with 'Action: Checking Address Info'.

Notes: There are no JS errors in the console on Opera.

[2012-10-22 22:48] jrgm commented on #2626
This also doesn't work on the main site - https://login.anosrep.org/signin

[2012-10-23 03:10] jrgm opened #2627 "[chrome/jellybean 4.1.2] Sporadic JS error breaks /sign_in when bringing up the dialog with authed users."
I was testing with Chrome (18.0.1025308) on JellyBean (4.1.2) and noticed some flakiness in bringing up the dialog.

STR
1. I had two authed users on an account: one @gmail.com and the other @eyedee.me. The @eyedee.me one was the one last used with beta.123done.org, so preselected when the dialog comes up.
2. What would happen was that the dialog would come up blank. Not everytime but maybe one in

[2012-10-23 04:05] jrgm commented on #2517
belated but yes front end tests run on ephemeral instances on train-2012.10.12

[2012-10-23 04:51] jrgm commented on #2389
Hey @shane-tomlinson I see that PR-2390 is merged but this GH-2389 is still open.

Anyways, I can't verify the STR above with FF16. Can you elaborate on the STR, or is this not actually fixed by PR-2390? (I really hate to ask this).

[2012-10-23 04:53] #2577 closed, assigned to ozten

[2012-10-23 05:25] ozten commented on #2624
I can reproduce, following the STR.

https://eyedee.me/api/whoami

[code]

I don't see the next expected call, a POST to eyedee.me/api/cert_key

Interestingly, **no repro** if I log into eyedee.me directly first.

Unable to troubleshoot with Chrome/Safari Dev Tools, getting "Uncaught TypeError: Cannot read property 'd' of undefined " dialog.js line 3.

[2012-10-23 05:38] ozten commented on #2624
Eyedee.me always uses the SHIM from https://browserid.org. Is this a valid test case? Maybe this isn't failing as soon as it did before?

[2012-10-23 15:59] lloyd opened #2628 "upgrade to node v0.8.12 in dev"
motivated and discussed on mailing list:

https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/st_eL7kUpUw

and

https://groups.google.com/forum/?fromgroups=#!topic/mozilla.dev.identity/GtvnAk4cjHs

[2012-10-23 16:36] lloyd opened #2629 "[dev] dialog stuck at "Connecting to Persona..." in chrome"
STR:
1. visit dev.123done.org
2. click the button
3. notice the dialog is stuck

cannot reproduce on firefox, but occurs on recent chrome both in OSX and linux

[2012-10-23 17:03] jrgm commented on #2627
Link to GH-2629

[2012-10-23 17:20] lloyd commented on #2629
I bisected this issue and found a the offending commit:

[code]

[2012-10-23 17:22] lloyd commented on #2629
in chrome, there is a console error: "Uncaught TypeError: Cannot read property 'd' of undefined"

[2012-10-23 17:51] lloyd commented on #2629
I've dug down into this issue.  It seems that the change @shane-tomlinson made change our load timing (of course).  It further seems like winchan.js, subsequent to invocation of 'onOpen' expects a single message to be posted to it.  Further, it seems like browserify uses postMessage to implement a browser happy version of `.nextTick()` so nodejsy code can run in your browser.

So this change cause

[2012-10-23 17:52] lloyd commented on #2629
/me vomits

[2012-10-23 19:13] lloyd commented on #2629
fixed in dev.

[2012-10-23 19:13] #2629 closed, assigned to lloyd

[2012-10-23 19:32] lloyd commented on #2624
taking

[2012-10-23 19:40] lloyd commented on #2624
NOTE: @ozten 's comment about "cannot read property 'd' of undefined" was a separate five star, issue #2629, now fixed in dev.

Thinking the easiest way to move forward on this one is to bisect and isolate the commit where the breakage was introduced.

[2012-10-23 20:47] lloyd commented on #2624
from deep in the bowels...

[code]

This may mean that the codepath used in #AUTH_RETURN is not seeding the random number generator.  This may be related to load time optimizations, as I believe that the session_context call seeds said generator...

[2012-10-23 21:36] jrgm opened #2632 "[dev] siteName not being used in '%s uses Persona instead of usernames....' in dialog.js"
Oops.

![img](http://i.imgur.com/b8b4U.png)

[2012-10-23 21:49] jrgm commented on #2632
Note: this is fine in stage train-2012.10.12. This got lost in GH-2556.

[2012-10-23 21:51] #2624 closed, assigned to lloyd

[2012-10-23 22:00] jrgm commented on #2632
Marking 5-star to have this not be like this in the upcoming train.

[2012-10-23 22:01] lloyd commented on #2632
+1 to 5 stars.

On Oct 23, 2012, at 4:00 PM, John Morrison notifications@github.com wrote:

[2012-10-23 22:08] jrgm commented on #2382
verified train-2012.10.12 (via beta.myfavoritebeer.org)

[2012-10-23 23:01] #2603 closed, assigned to jaredhirsch

[2012-10-24 04:14] jrgm opened #2636 "undefined variable used to call toString on error path from GH-2621"
At line 208 here https://github.com/mozilla/browserid/blob/380f33a6fabc239971b97ba51cd0b0c9f73e7a15/lib/primary.js#L205 the code calls e.toString(), but there is no `e` defined.

/me bows to jshint@0.9.1 (not the version jshint-tests uses). I'll file a bug to update that version.

Marking five-star to simply remove the `+ e.toString()` on that line for the next train.

[2012-10-24 04:18] jrgm opened #2637 "update jshint to current version on npm (currently it is 0.9.1)"
We should update the jshint module to the currently available version on npmjs which is 0.9.1

In GH-2636, I was playing around locally, and accidentally found that with that version, but not in version 0.7.1 which we currently use.

[2012-10-24 04:30] seanmonstar opened #2638 "[dev] Dialog fails to show authenticate screen on Android (perhaps iOS also?)"
Logging into http://dev.123done.org from and Android device (using stock Browser, Fennec, and Chrome). LIkely also happens on iOS, since Dan tells me that the dev dialog won't load for him in his native app.

[2012-10-24 04:34] seanmonstar commented on #2636
Guh! How did I miss that in review?

Also, `String(e)` down below in the error handler seems better, since it won't error if e is null.

[2012-10-24 05:48] seanmonstar commented on #2637
Even better: now that we have defined jshintrc files, we should add the full things to your jshint-tests.js suite. It's really ugly at first, and shows we have several hundred errors, but after the initial cleanup, it will keep our code clean!

[2012-10-24 11:40] #2638 closed, assigned to nobody

[2012-10-24 12:20] shane-tomlinson commented on #2632
This only manifests if the RP supplies siteName. Nice catch @jrgm.

[2012-10-24 12:42] #2632 closed, assigned to nobody

[2012-10-24 12:46] shane-tomlinson opened #2641 "DOM contains duplicate IDs"
With the introduction of #2556, the authentication form is now always in the DOM. As shown in #2632, this has caused some problems.

The problem described in #2632 was fixed with #2634 but the larger problem of elements with duplicate IDs is not yet fully handled. The IDs of the tooltips relating to the email address and password are duplicated in add_email.ejs and set_password.ejs. I tested acros

[2012-10-24 16:27] lloyd commented on #2638
this sounds like 5 star material to me.  @jrgm, can you reproduce?

On Oct 23, 2012, at 10:30 PM, Sean McArthur notifications@github.com wrote:

[2012-10-24 17:24] seanmonstar commented on #2638
It was 5-star, and @shane-tomlinson merged my fixed this morning. All is well again.

[2012-10-24 18:40] #2636 closed, assigned to nobody

[2012-10-24 19:29] #2628 closed, assigned to lloyd

[2012-10-24 22:58] benadida commented on #2629
oh man, I can see why @lloyd vomited.

@lloyd is there a way to look at the postMessage event source to make this judgment call rather than the slightly less robust check you're doing? Not a blocker, just a suggestion.

[2012-10-24 23:50] jrgm commented on #2627
I tried this on two different android phones running chrome and couldn't reproduce this on either:

Galaxy SII - Android 4.0.4, Chrome 18.0.1025123
HTC Evo   - Android 4.0.4, Chrome 18.0.1025308

[2012-10-25 00:51] jrgm opened #2644 "small bug in lib/i18n.js assuming two character language codes"
I was looking at the bug for changing the way we handle 'en' and noticed this small issue.

https://github.com/mozilla/browserid/blob/dev/lib/i18n.js#L187

There it assumes the language tag is 2 bytes, but >2 is possible, e.g., 'lij' Ligurian, which we have in config/l10n-prod.json.

[2012-10-25 01:24] jrgm commented on #1863
verified in stage with the current set of localizations on train-2012.10.12

[2012-10-25 01:39] jrgm commented on #1863
Oh crap. Spoke too soon. If the browser does not send an Accept-Language header (e.g., in FF remove all the languages in the preferences UI, or in about:config set 'intl.accept_languages' to be '') then /sign_in loads content that has the HTML lang attribute set to 'en-US' and tries to load https://login.anosrep.org/production/en_US/dialog.js which is 404. The dialog is broken in this case.

Admit

[2012-10-25 01:48] jrgm opened #2645 "/sign_in dialog broken if browser sends no Accept-Language header"
Follow-on from GH-2384, GH-1863

STR
1. In Firefox open `about:config`
2. Change the value of  `intl.accept_languages` to the empty string
3. Load http://beta.123done.org/ and click 'Sign in with Persona'

Expected: dialog opens with server default language.

Actual: /sign_in loads content that has the HTML lang attribute set to 'en-US' and tries to load https://login.anosrep.org/production/en_US/

[2012-10-25 01:51] jrgm commented on #2645
Note: sending no Accept-Language header in production train-2012.08.17 works fine with either /sign_in or the main site.

[2012-10-25 02:18] jrgm commented on #2645
Hmm, although this does work with no Accept-Language header in either `dev` or with an ephemeral deploy of train-2012.10.12 on https://train1012.personatest.org.

Are we missing a config change for `default_lang: "en"` on stage?

[2012-10-25 03:01] jrgm commented on #2535
issue is being handled in bugzilla - https://bugzilla.mozilla.org/show_bug.cgi?id=773180 (reason for closing it here).

[2012-10-25 03:54] jrgm commented on #1598
Reopening. Original STR apply for IE8 on XP.

[2012-10-25 10:23] shane-tomlinson opened #2646 "ephemeral deployments need updated to node >= 0.8.11"
Otherwise we can't push

[2012-10-25 16:19] lloyd commented on #2629
On Oct 24, 2012, at 4:59 PM, Ben Adida notifications@github.com wrote:

@seanmonster suggested this as well.  There are at least two more checks you can add to make the re-emergence of this bug less likely:
1.  `event.source` should be the same as `window.opener`
2.  make the string "request" much more unique, less likely to collide

Both of these are good ideas, but I'd want to test the `event.so

[2012-10-25 16:27] lloyd commented on #2646
you can't push to a server originally deployed with 0.6.17 with code that now requires 0.8.11.  Pain that happens when we update node.  Is it possible to redeploy the servers in question?

[2012-10-25 16:28] shane-tomlinson commented on #2646
On 25/10/2012 17:27, Lloyd Hilaiel wrote:

as it is, I can't even create a new instance.

[2012-10-25 16:29] lloyd commented on #2646
oh really!?  re-opening, I'll try to reproduce from tip of dev.

[2012-10-25 16:32] callahad opened #2647 ".watch() should throw an exception if loggedInUser is not a valid type"
Valid types are: `undefined`, `null`, `false`, String

Anything else should result in an exception

See mozilla/id-specs@4558cb25a1f5d4d542b7b46cd18fe16cf890b926

[2012-10-25 16:34] callahad opened #2648 "Add new optional callback, onmatch, to watch()"
See mozilla/id-specs@0ad12419034273e888992305f37effbd2b4e4044

`id.watch` should have a third callback, `onmatch` that is optional and is invoked whenever the browser's state matches the value of `loggedInUser`.

This would change our possible callback sequences from:
1. `onlogin` then `onready`
2. `onlogout` then `onready`
3. `onready`

To
1. `onlogin` then `onready`
2. `onlogout` then `onready`

[2012-10-25 16:42] shane-tomlinson commented on #2645
My amount of knowledge is very low.

We changed all references of "en-US" to "en" in #1863. It _seems_ like the config on stage is different than what we expect it. Can the configuration on stage be checked?

[2012-10-25 16:44] lloyd commented on #2646
try npm install locally and see if that addresses the issue.

[2012-10-25 16:44] #2646 closed, assigned to lloyd

[2012-10-25 16:53] lloyd commented on #2627
please verify fixed in dev and thus is a dup of issue #2629

[2012-10-25 16:56] callahad commented on #2626
12.02 breakage confirmed by @shane-tomlinson. 12.50 works.

[2012-10-25 16:56] ghost commented on #2629
Might this also explain why I'm seeing the same thing on iOS?

Regards,
Dan Walkowski

On Oct 25, 2012, at 9:19 AM, Lloyd Hilaiel notifications@github.com wrote:

[2012-10-25 16:58] ghost commented on #2645
Or maybe this one explains the brokenness on iOS :/

Regards,
Dan Walkowski

On Oct 25, 2012, at 9:42 AM, Shane Tomlinson notifications@github.com wrote:

[2012-10-25 16:58] lloyd commented on #2626
let's figure out whether this affects bigtent and get to the bottom of this.

[2012-10-25 17:03] callahad commented on #2625
Next steps: I'm going to see if I can come up with a good workaround, then I'll have a broader discussion with @vthunder and @lloyd to see if there's a way we can kill a bunch of birds, including this one, with one stone :)

[2012-10-25 17:04] ozten commented on #2645
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=805482, will work with @gene1wood to see what current configs are in stage.

[2012-10-25 17:28] lloyd commented on #2629
yes!  please point over to dev (login.dev.anosrep.org) and tell us if things seem fixed there!

lloyd

On Oct 25, 2012, at 10:56 AM, Dan Walkowski notifications@github.com wrote:

[2012-10-25 17:40] ozten opened #2649 "l18n module should check that default_lang exists"
On server startup, the i18n.js module should ensure that the files needed to support the default lang exist.

This would have caught Issue #2645 being an invalid default_lang setting.

I'm pretty sure the old code enforced this by checking for the existence of default_lang .mo files.

[2012-10-25 17:52] jrgm commented on #2645
@dwalkowski was this on stage? What brokenness on iOS on stage? Is this Safari Mobile or something else on iOS?
Safari on iOS 6 works for me on stage (which sends Accept-Language: en-us in the default config).

[2012-10-25 17:52] ozten commented on #2645
Fixed in stage via config.

[2012-10-25 17:56] #2645 closed, assigned to nobody

[2012-10-25 18:01] lloyd commented on #2645
no, you were using production iirc dan, this was a stage specific issue.

On Oct 25, 2012, at 10:58 AM, Dan Walkowski notifications@github.com wrote:

[2012-10-25 18:11] jrgm commented on #1863
Okay, GH-2645 was a configuration issue in stage and fixed now.

[2012-10-25 19:09] lloyd commented on #2626
I can reproduce on opera 12.02.

dug a little bit and found you can get an error by loading https://mockmyid.com/browserid/provision.html directly in opera.  `Unhandled DOMException: INVALID_ CHARACTER_ERROR`

Something about the way `bidbundle-min.js is minified causing problems for the parser of this specific version of opera?

[2012-10-25 19:35] jrgm commented on #2629
The fix for this has been merged and deployed on stage. In my testing with the Chrome/JellyBean device where I formerly could see this error occasionally, I cannot see it now.

Does anyone have any other results on stage?